openapi: 3.2.0
info:
  version: 3.0.0
  title: FactSet Real-Time Quotes Grades API
  description: '

    The Quotes API combines endpoints for retrieving security end-of-day,

    delayed, and realtime prices with performance key figures and basic

    reference data on the security and market level.'
  contact:
    name: FactSet Research Systems
    url: https://developer.factset.com/contact
    email: api@factset.com
  license:
    name: Apache License, Version 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
servers:
- url: https://api.factset.com/wealth/v3
security:
- FactSetApiKey: []
- FactSetOAuth2: []
tags:
- name: Grades
paths:
  /instrument/rating/grade/list:
    post:
      tags:
      - Grades
      operationId: post/instrument/rating/grade/list
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      description: List of rating grades for a list of instruments. The list can be restricted to rating grades belonging to particular rating systems.
      summary: Factset List of Rating Grades for a List of Instruments.
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostInstrumentRatingGradeListRequest'
        required: false
      responses:
        '200':
          $ref: '#/components/responses/PostInstrumentRatingGradeList200Response'
      parameters: []
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    StatusObject:
      type: object
      properties:
        code:
          type: number
          format: int32
          description: The HTTP status code of the response, mirroring the code from the Status-Line of the HTTP response message (see [RFC2616] section 6.1).
          example: 42.5
      description: The status member contains the status code of the response.
      required:
      - code
    PostInstrumentRatingGradeListRequest:
      x-property-sort:
      - data
      - meta
      description: Request Body
      type: object
      properties:
        data:
          type: object
          x-property-sort:
          - identifier
          - filter
          description: The data member contains the request's primary data.
          properties:
            identifier:
              type: object
              x-property-sort:
              - values
              - type
              description: Set of identifiers and their type.
              properties:
                values:
                  description: Set of identifiers to resolve.
                  type: array
                  items:
                    type: string
                    minLength: 3
                    maxLength: 50
                    pattern: ^[B-DF-HJ-NP-TV-Z0-9]{6}-[SLR]$|^[A-Z0-9.#&*+]{1,47}-[A-Z0-9]{2,4}$|^[0-9]{3,20}$|^[B-DF-HJ-NP-TV-Z0-9]{6}[0-9]$|^[A-Z]{2}[A-Z0-9]{9}[0-9]$|^[A-Z1-9][A-Z0-9]{5}$|^[0-9]{1,9}$|^[A-Z0-9]{8}[0-9]$
                  uniqueItems: true
                  minItems: 1
                  maxItems: 100
                type:
                  type: string
                  description: Type of the identifier.
                  x-enum-description:
                  - MDG identifier of an instrument.
                  - MDG identifier of a listing.
                  - FactSet Permanent Identifier on security level.
                  - FactSet Permanent Identifier on listing level.
                  - Regional FactSet Permanent Identifier.
                  - FactSet market symbol of a listing.
                  - Regional FactSet ticker symbol.
                  - SEDOL or IDII of a listing.
                  - ISIN of an instrument.
                  - WKN of an instrument.
                  - Valor number of an instrument.
                  - CUSIP or CINS identifier of an instrument
                  enum:
                  - idInstrument
                  - idNotation
                  - fdsPermanentIdentifierSecurity
                  - fdsPermanentIdentifierListing
                  - fdsPermanentIdentifierRegional
                  - tickerExchange
                  - tickerRegion
                  - sedol
                  - isin
                  - wkn
                  - valor
                  - cusip
              required:
              - values
              - type
            filter:
              type: object
              x-property-sort:
              - ratingSystem
              description: Criteria that filter the items in the response list; only items that match all of the criteria are returned.
              properties:
                ratingSystem:
                  type: object
                  x-property-sort:
                  - ids
                  description: Rating system.
                  properties:
                    ids:
                      type: array
                      items:
                        type: number
                        format: id32
                        x-positive: true
                      description: List of rating system identifiers. See endpoint `/rating/system/list` for valid values.
                      uniqueItems: true
                      maxItems: 10
          required:
          - identifier
          example: example_value
        meta:
          type: object
          description: The meta member contains the meta information of the request.
          properties:
            attributes:
              $ref: '#/components/schemas/AttributesMember'
          x-property-sort:
          - attributes
          example: example_value
    AttributesMember:
      type: array
      description: Limit the attributes returned in the response to the specified set.
      items:
        type: string
        maxLength: 100
      maxItems: 50
      uniqueItems: true
  responses:
    PostInstrumentRatingGradeList200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: array
                items:
                  type: object
                  x-property-sort:
                  - idInstrument
                  - sourceIdentifier
                  - status
                  - ratings
                  properties:
                    idInstrument:
                      type:
                      - string
                      - 'null'
                      format: id64
                      x-positive: true
                      description: MDG identifier of the instrument.
                    sourceIdentifier:
                      type:
                      - string
                      - 'null'
                      description: Identifier used in the request.
                    status:
                      type: object
                      x-property-sort:
                      - code
                      - identifier
                      - details
                      - encryptedDetails
                      description: Error status for the requested identifier.
                      properties:
                        code:
                          type:
                          - string
                          - 'null'
                          description: Code of the error condition.
                          x-enum-description:
                          - No error.
                          - The provided identifier does not refer to a valid instrument level identifier.
                          - Not entitled to see data for the identifier.
                          - Unable to resolve the provided identifier.
                          enum:
                          - none
                          - parameter
                          - entitlement
                          - identifierMapping
                        identifier:
                          type:
                          - string
                          - 'null'
                          description: Provided identifier.
                        details:
                          type:
                          - string
                          - 'null'
                          description: A human-readable, unstructured explanation specific to this occurrence of the problem.
                        encryptedDetails:
                          type:
                          - string
                          - 'null'
                          description: Base64-encoded internal details about the error.
                    ratings:
                      type: array
                      items:
                        type: object
                        x-property-sort:
                        - system
                        - current
                        - previous
                        - change
                        properties:
                          system:
                            type: object
                            x-property-sort:
                            - id
                            - name
                            description: Rating system.
                            properties:
                              id:
                                type:
                                - number
                                - 'null'
                                format: id32
                                x-positive: true
                                description: Identifier of the rating system.
                              name:
                                type:
                                - string
                                - 'null'
                                description: 'Official name of the rating system in the original language, as

                                  supplied by the rating agency.'
                          current:
                            type: object
                            x-property-sort:
                            - id
                            - grade
                            - rank
                            - date
                            description: Current rating.
                            properties:
                              id:
                                type:
                                - number
                                - 'null'
                                format: id32
                                x-positive: true
                                description: Identifier of the rating grade.
                              grade:
                                type:
                                - string
                                - 'null'
                                description: Rating grade.
                              rank:
                                type:
                                - number
                                - 'null'
                                format: int32
                                description: 'Rank of the rating grade according to the sort order of the

                                  rating system.'
                              date:
                                type:
                                - string
                                - 'null'
                                format: date
                                description: Date on which the instrument was rated.
                          previous:
                            type: object
                            x-property-sort:
                            - id
                            - grade
                            - rank
                            - date
                            description: Previous rating.
                            properties:
                              id:
                                type:
                                - number
                                - 'null'
                                format: id32
                                x-positive: true
                                description: Identifier of the rating grade.
                              grade:
                                type:
                                - string
                                - 'null'
                                description: Rating grade.
                              rank:
                                type:
                                - number
                                - 'null'
                                format: int32
                                description: 'Rank of the rating grade according to the sort order of the

                                  rating system.'
                              date:
                                type:
                                - string
                                - 'null'
                                format: date
                                description: Date on which the instrument was rated.
                          change:
                            type:
                            - number
                            - 'null'
                            format: int32
                            description: 'Rating grade change which is the difference between the rank of the current rating and the rank of the previous rating.

                              Example: If a rating system has AAA, AA, A, B, C, D as possible

                              ratings (from best to worst), then a change from AA to B is

                              represented as -2 and a change from C to AAA is represented

                              as +4.'
                      description: Rating details. See endpoint `/rating/system/get` for details regarding a rating system, endpoint `/rating/grade/listBySystem` for all rating grades of a rating system, and endpoint `/rating/grade/get` for details regarding a rating grade.
                description: 'Unsorted list of instruments with their respective rating grade per rating

                  system.'
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                x-property-sort:
                - status
            x-property-sort:
            - data
            - meta
  securitySchemes:
    FactSetOAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://auth.factset.com/as/token.oauth2
          scopes: {}
    FactSetApiKey:
      type: http
      scheme: basic
externalDocs:
  description: API Documentation
  url: https://developer.factset.com/api-catalog/
x-interface-version: 2
x-documenter-version: 6.3.9
x-api-version: 4.4.0
