openapi: 3.2.0
info:
  description: The BookBuilder API is a powerful tool that combines detailed reports for companies of interest.
  title: Factset BookBuilder Create Book From Template API
  version: '1.11'
servers:
- url: https://api.factset.com/book-builder-api/
  description: Base URL Production
security:
- BasicAuth: []
tags:
- name: Create Book From Template
paths:
  /v1/create-book-from-template:
    post:
      tags:
      - Create Book From Template
      summary: Factset Kicks off request to create a book with template
      description: 'This endpoint retrieves book status, book name, and book ID for ticker requested in JSON format. This end-point excepts ticker and template_id as inputs. If the template_id input is not used, a book will be created with FactSet''s default template.


        Please try out the below template ids to quickly get the FactSet curated books


        Company Quick Book - g_20210415065838185

        Post-Earnings Call - g_20210415070044785

        Public Information Book(PIB) - g_20210415070353151


        Take a look at the example books attached under API documentation below.


        If you are scheduling Post Earnings Call curated book, please note that in contains Corrected Transcript that takes a little while to be available.


        Once a Raw Transcript is published, FactSet''s editors review the call to produce a Corrected Transcript. They listen to the entire audio file again to confirm that all of the terms and numbers are correctly transcribed. FactSet aims to publish a Corrected Transcript within six times the length of the event, measured from the beginning of the event. That means for a typical one-hour call, FactSet will produce a Corrected Transcript within approximately five hours of the call''s completion. Visit OA 13208'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createBookFromTemplatePostRequest'
      responses:
        '200':
          description: Successful response contains request status, book name, and book ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Enable_Book_Info_From_Template'
        '400':
          description: Invalid ticker or Unknown error
        '401':
          description: Missing or invalid authentication
      operationId: postV1CreateBookFromTemplate
      x-operation-id-source: derived
components:
  schemas:
    Enable_Book_Info_From_Template:
      title: Book Information Request
      description: Request to enable book information for the client.
      type: object
      properties:
        status:
          type: string
          description: Request status
          example: OK
        bookName:
          type: string
          description: Report Name
          example: Apple Inc.
        bookID:
          type: string
          description: Book ID
          example: 20200317133713790
    createBookFromTemplatePostRequest:
      title: Request Body for Post Request
      description: It is a request body to allow users to input ticker and template id.
      type: object
      properties:
        ticker:
          type: string
          description: ticker
          example: FDS-US
        template_id:
          type: string
          description: Template ID
          example: g_20210415065838185
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
