openapi: 3.0.3
info:
  title: Factset Analytics Datastore About List Files API
  description: Allow clients to fetch precalculated Analytics through predeterministic URLs.
  contact:
    name: FactSet Research Systems
    url: https://developer.factset.com/contact
    email: api@factset.com
  license:
    name: Apache License, Version 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  version: 1.0.0
servers:
- url: https://api.factset.com
  description: Production
- url: https://api-sandbox.factset.com
  description: Sandbox
security:
- basicAuth: []
tags:
- name: List Files
paths:
  /v1/list-files:
    parameters: []
    get:
      summary: Factset Snapshot
      tags:
      - List Files
      responses:
        '200':
          description: 'Success '
          content:
            application/json:
              schema:
                type: object
                properties:
                  product:
                    type: string
                    description: Product (Exchange) Code for which the data is requested
                  date:
                    type: string
                    description: Date for which the snapshot is generated
                  time:
                    type: string
                    description: Time for which the snapshot is generated
                  responseType:
                    type: string
                    description: Type of data "RT" or "DL"
                  fileName:
                    type: string
                    description: fileName a combination of product code, date of snapshot & time of snapshot
                  url:
                    type: string
                    description: download link of snapshot file
              examples:
                Sample Response:
                  value:
                    product: '10001'
                    date: '20210604'
                    time: 0800
                    responseType: DL
                    fileName: 10001_20210604-0800.csv.gz
                    url: https://fdss3-quotes-timed-snapshot-stage.s3.amazonaws.com/DL/10001_20210604-0800.csv.gz?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=ASIAUPYONY3ISNP4VUCF%2F20210607%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20210607T200717Z&X-Amz-Expires=43200&X-Amz-Security-Token=FwoGZXIvYXdzEL7%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaDP%2FDn2HdZcDOLKNnGiL4AZoairNbKIsTgOKJveIJp64svOMyehuoHc2uJ2rKaI46HR3nP6ew1Ovqg%2FdS%2BoljndNlCtG2jKrM7SOt%2BDxirwnTOe6O%2FDuYU1z8l4uwUXrFB6ENyOoZmbWdJpZ2H1LSAoVAfX1IVY5eOYkhK8VA8V7P9jhmKIC1WHSR4ssFsGWXMQYsS%2F8zZvrybHlaeoDfcopiAulzn%2BsmYgzATwJrnxIAcc9O1NfrTOLKRHeeEagNFj4UZWhDJ2xWnMQ0YghylcowaR8SSxyLM8u38OmAOKrUFp9DKGZ9CBtvHyskJ1%2Fr6T%2BWRjTQWQw%2F747U6ftuy5AypxYIGMWbKPT4%2BYUGMiv2Qbz2V8ebQjM8Ptg%2BwKKhJ24h6LOdgqQEn4JFk9%2BAeS1%2Fiu6NQngA1gKh&X-Amz-SignedHeaders=host&X-Amz-Signature=3173444a681f696a40348ae175a8a38cee908fc76312934b9404b98bb5d0a80d
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error-Messages'
              examples:
                error_message:
                  value:
                    error_message: Missing or Wrong product parameter
      operationId: get-v1-list-files
      description: A service that provides access to Real Time or Delayed data snapped at hourly intervals for an entire Exchange
      parameters:
      - schema:
          type: integer
          minimum: 9001
          example: 10001
        in: query
        name: product
        required: true
        description: any product subscribed by client. Minimum value for prod code=9001
      - schema:
          type: string
          format: date
        in: query
        name: start_date
        required: true
        description: YYYYMMDD (Choose between 1 and 4 previous trading days)
      - schema:
          type: string
          format: date
        in: query
        name: end_date
        description: YYYYMMDD (Choose between 1 and 4 previous trading days, greater than or equal to start date)
        required: true
      - schema:
          type: string
        in: query
        name: start_time
        required: true
        description: HHMM (24 hour time EST)
      - schema:
          type: string
          format: time
        in: query
        name: end_time
        required: true
        description: HHMM (24 hour time EST)
      - schema:
          type: string
          enum:
          - static
          - DL
          - RT
          default: DL
        in: query
        name: access
        required: false
        description: Option to select from static, DL or RT data
  /list-files:
    get:
      tags:
      - List Files
      operationId: get-v1-list-files
      description: "<a href=https://api.factset.com/bulk-documents/sdf/v1/list-files>List-Files</a> end point provides the delta & full files in a reverse chronological order by default for all the schemas & bundles subscribed by the client\n\n\n QFL:-\n   - In case of QFL, <a href=https://api.factset.com/bulk-documents/sdf/v1/list-files>List-Files</a> end point provides the \"Historical & Year to Date (YTD)\" data in a reverse chronological order by default for all the factor families & groups subscribed to by the user</p> Provides \"full files\" only for historical bundles[data available from 1995 to previous year], \"full & delta files\" for YTD bundles[data available for current year]\n   \n   If startDate and endDate parameters are not specified in the request, this endpoint returns past 10 days data by default.\n"
      parameters:
      - $ref: '#/components/parameters/schema'
      - $ref: '#/components/parameters/bundle'
      - $ref: '#/components/parameters/type'
      - $ref: '#/components/parameters/startDate'
      - $ref: '#/components/parameters/endDate'
      - $ref: '#/components/parameters/_paginationLimit'
      - $ref: '#/components/parameters/_paginationOffset'
      - $ref: '#/components/parameters/_sort'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/list-files_200Response'
              examples:
                default200ResponseExample:
                  $ref: '#/components/examples/list-files_200ResponseExample'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/list-files_400Response'
              examples:
                default400ReponseExample:
                  $ref: '#/components/examples/list-files_400ResponseExample'
components:
  parameters:
    bundle:
      name: bundle
      in: query
      description: 'bundle name</p> If this parameter is not passed in the request, all the bundles a client is subscribed to are returned.


        QFL:-

        - For QFL its the factor group name

        - If this parameter is not passed in the request, all the the factor families & factor groups subscribed to by the user are returned. - Supports comma separated list of multiple factor groups'
      required: false
      schema:
        type: string
    _sort:
      name: _sort
      in: query
      description: Enables to get the data in ascending or descending order based on startTime. Results are in reverse chronological order if this parameter is not used
      required: false
      schema:
        type: string
        enum:
        - startDate
    type:
      name: type
      in: query
      description: 'file type = Full or Delta</p> Full files are weekly files generated every weekend (Saturday). **The date range should include weekend dates if requesting for "Full" files**


        QFL:- In case of QFL we have

        - Historical files (1995 to previous year)- Always "Full" . A "Full" file is generated for each year

        - For YTD (Current year)- "Full" files are weekly files generated every weekend (Saturday). The date range should include weekend dates if requesting for "Full" files'
      required: false
      schema:
        type: string
        enum:
        - full
        - delta
    _paginationLimit:
      name: _paginationLimit
      in: query
      description: Specifies the number of results to return per page. Default is 20 & Maximum is 500 results per page
      required: false
      schema:
        type: integer
        default: 20
        maximum: 500
    _paginationOffset:
      name: _paginationOffset
      in: query
      description: Specifies the starting point for pagination. This parameter is used to identify the beginning of next set of results
      required: false
      schema:
        type: integer
        default: 0
    startDate:
      name: startDate
      in: query
      description: 'The earliest date of the feed file the API should fetch for based on the fileTimestamp.</p>



        - If schema parameter is not specified in the request, then data requested should be in batches of 10days or less**(Date range should be less than or equal to 10)**

        - If the schema parameter is specified in the request, date range can be greater than 10 days

        - If startDate and endDate parameters are not specified in the request, this endpoint returns past 10 days data by default.

        - startDate can be absolute- YYYY-MM-DD or relative:-  -1 for yesterday


        QFL:- In case of QFL

        - Historical files available from 1995-01-01 to 2021-12-31. YTD files are current year files.'
      required: false
      schema:
        type: string
    schema:
      name: schema
      in: query
      description: 'schema name</p> </p> **Example: acta_v1, fgp_v1, yn_v1**


        QFL:- To query QFL data, please use value:   **qfl_v1** '
      required: false
      schema:
        type: string
    endDate:
      name: endDate
      in: query
      description: 'The latest date of the feed file the API should fetch for based on the fileTimestamp


        If startDate and endDate parameters are not specified in the request, this endpoint returns past 10 days data by default.


        endDate can be in absolute- YYYY-MM-DD or relative date:- 0 for today'
      required: false
      schema:
        type: string
  examples:
    list-files_200ResponseExample:
      summary: Sample Response
      value:
        data:
        - type: delta
          bundle: fgp_ca_events_am_v1
          schema: fgp_v1
          sequence: '555'
          related_bundles:
          - bundle: fgp_ca_events_ap_v1
            sequence: '523'
          - bundle: fgp_ca_events_eu_v1
            sequence: '576'
          timestamp: '2021-04-22T19:59:53Z'
          url: https://fdss3-sdf-publish-prod.s3.amazonaws.com/prod/04/22/22A8B666-A3A5-11EB-94AA-8CA2536ACF03?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=ASIA4NAFRGHDJ4GMEZEZ%2F20210512%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20210512T172835Z&X-Amz-Expires=3600&X-Amz-SignedHeaders=host&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEDoaCXVzLWVhc3QtMSJHMEUCIQCU337Iqg7hGI84ohliykGkMwyuxkv5ZepMXlOkjFuT0gIgAUfMuxk0Ue7nbo7WdhclIUaUe6dlwHso2lDHKXzbUQkq2QEIw%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FARABGgw4NTI1NjI2MjA4NzAiDFL7Kj2AKk4MnRzXJiqtAXmh3NCgz9Z%2F%2FgI6ARqtFaKmP%2BpWfojZI6c%2FSLDceZE4q0qRKVU5Nh%2Fk5cH%2FC4E8acrjupEmeaLIsUEm%2F%2F7W1kla6nJ%2B%2Bwx9ViaOBfbP1wjG6dDY%2BMwalM3lq1bCpZbDFvOt1uUMBSUgJd5UJbdvMVtivXkkzKh%2B2dvt0fMHIgIMUnJzsSbFcLgKnS3lYEp5y%2B0622wrK90RIfw7Q8rN6W9OoFJ4UiCJJpE9OH5ZMNGd8IQGOuABNzZAf%2FHtTM9NmNIQwLpMSivjlhLl6chrPWvt4T6OQMN%2B6yaBz%2F%2BOig3Zc29HuR45dZ35QPd30mswAX0Md637pBkB7vjkakp70fbvIlGwsJ0vPq01a3SVfS0wsW6MRgGNdxJbItuZ9XKrV2SRSZFHntOH1BHHHtbR5hpSUg5HTpasOT%2BWNXHJKjTXVjjWmt3t3ATOUOcFluxt6UL5eg2hBY8UsAbgs2zxzRlzeEJU%2Bnq9%2BQc9TSE9Ia%2BOqKWSVUs6qQ0zyZ5G9OL8hs%2B9pdgQemrquBKXZ9FBHiEyr38OY0c%3D&X-Amz-Signature=e76cf34978304834e809144f126830c2fe65cb8301e67659fb281eb4734de3b8
          fileSize: 25.5MB
        meta:
          pagination:
            total: 256
            isEstimatedTotal: false
            limit: 20
            offset: 20
          partial:
            isPartial: true
    list-files_400ResponseExample:
      summary: Sample Response
      value:
        data:
          id: xxx
          error_message: parameterError:sequence must be an int and be within specified limits
        meta:
          pagination:
            total: 0
            isEstimatedTotal: false
            limit: 20
            offset: 20
          partial:
            isPartial: false
  schemas:
    Error-Messages:
      title: Error-Messages
      type: object
      properties:
        Permission Error:
          type: string
          description: Error message when user is not subscribed to the Exchange Snapshot API
        Param Error:
          type: string
          description: when the parameters passed in the query are incorrect or missing
        startDate:
          type: string
          description: startDate must be < 0
        endDate:
          type: string
          description: endDate must be < 0
      x-examples:
        example-1:
          Permission Error: 'You are not subscribed to this product: Exchange Snapshot API'
          Param Error: Missing or Wrong product parameter
          startDate: Missing or Wrong date parameter
          endDate: Missing or Wrong date parameter
    pagination:
      title: paginationobjects
      description: List of pagination objects
      type: object
      properties:
        total:
          description: Total number of files the API returns for a particular query
          type: integer
        is EstimatedTotal:
          description: Boolean value that represents whether the total count of files returned is exact or an estimate. This is defaulted to  False as the API should always return the exact count
          type: boolean
        limit:
          description: Number of results returned per page
          type: integer
        offset:
          description: The flag indicating the position in the results array if additional results are available beyond the default value or the value in paginationLimit parameter (if used). This value is passed in the _paginationOffset parameter to retreieve subsequent results
          type: integer
    list-files_400Response:
      properties:
        id:
          description: request id
          type: string
        error_message:
          description: message describing the error
          type: string
    list-files_200Response:
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/dataresponseitems'
        meta:
          type: object
          properties:
            pagination:
              $ref: '#/components/schemas/pagination'
            partial:
              $ref: '#/components/schemas/partial'
    partial:
      title: isPartialobject
      description: If the value is true, it indicates additional results are available. False represents that this is the last set of results for this request.
      type: object
      properties:
        isPartial:
          type: boolean
    dataresponseitems:
      description: Array of data objects
      type: object
      properties:
        type:
          description: file type, full or delta
          type: string
        bundle:
          description: 'bundle name


            QFL:- For QFL its Factor Group name'
          type: string
        schema:
          description: 'schema name


            QFL:- In case of QFL its always qfl_v1'
          type: string
        sequence:
          description: full or delta file sequence
          type: string
        related_bundles:
          description: bundles related to the sequence number
          type: array
          items:
            type: object
            properties:
              bundle:
                type: string
              sequence:
                type: string
        timestamp:
          description: time stamp of when the bundle was generated
          type: string
        url:
          description: pre-signed downloadable url, containing the bundle information
          type: string
        fileSize:
          description: file size of the particular bundle
          type: string
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
externalDocs:
  url: https://developer.factset.com/api-catalog/analytics-datastore-api
  description: API Documentation
