openapi: 3.0.3
info:
  title: Factset Analytics Datastore About Events API
  description: Allow clients to fetch precalculated Analytics through predeterministic URLs.
  contact:
    name: FactSet Research Systems
    url: https://developer.factset.com/contact
    email: api@factset.com
  license:
    name: Apache License, Version 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  version: 1.0.0
servers:
- url: https://api.factset.com
  description: Production
- url: https://api-sandbox.factset.com
  description: Sandbox
security:
- basicAuth: []
tags:
- name: Events
paths:
  /v1/events:
    get:
      tags:
      - Events
      summary: Factset Get All the Record Events in the Specified Date Range Filtered on the Given Types
      operationId: GetAllEvents
      parameters:
      - name: startDate
        in: query
        description: StartDate
        required: true
        schema:
          type: string
      - name: endDate
        in: query
        description: EndDate
        schema:
          type: string
      - name: types
        in: query
        description: Set of event types to filter on
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: Success - Returns events list
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EventSnippetDto'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EventSnippetDto'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EventSnippetDto'
        '400':
          description: Bad Request - Returns error message
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /events/headlines:
    get:
      tags:
      - Events
      x-factset-sdk-ignore: true
      operationId: getEventHeadlines
      description: 'Fetch Signals event headlines based on at least one of the following filtering parameters: `ids`, `portfolios`'
      parameters:
      - $ref: '#/components/parameters/createdParam'
      - $ref: '#/components/parameters/updatedParam'
      - $ref: '#/components/parameters/signalIdsParam'
      - $ref: '#/components/parameters/idsParam'
      - $ref: '#/components/parameters/portfoliosParam'
      - $ref: '#/components/parameters/themesParam'
      - $ref: '#/components/parameters/categoriesParam'
      - $ref: '#/components/parameters/relevanceScoreParam'
      - $ref: '#/components/parameters/sortParam'
      - $ref: '#/components/parameters/resolveIdentifiersParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/eventHeadlines'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        '429':
          description: API Rate Limit Exceeded
          headers:
            Api-Version:
              $ref: '#/components/headers/Api-Version'
            Api-Supported-Versions:
              $ref: '#/components/headers/Api-Supported-Versions'
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimit-Limit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimit-Remaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rateLimitResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      tags:
      - Events
      operationId: postEventHeadlines
      description: 'Fetch Signals event headlines based on the filtering criteria for up to 1000 identifiers and at least one of the following filtering parameters: `ids`, `portfolios`'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/eventRequestBody'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/eventHeadlines'
        '429':
          description: API Rate Limit Exceeded
          headers:
            Api-Version:
              $ref: '#/components/headers/Api-Version'
            Api-Supported-Versions:
              $ref: '#/components/headers/Api-Supported-Versions'
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimit-Limit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimit-Remaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rateLimitResponse'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /events/details:
    get:
      tags:
      - Events
      x-factset-sdk-ignore: true
      operationId: getEventDetails
      description: 'Fetch Signals event headlines plus all additional event details based on at least one of the following filtering parameters: `ids`, `portfolios`'
      parameters:
      - $ref: '#/components/parameters/createdParam'
      - $ref: '#/components/parameters/updatedParam'
      - $ref: '#/components/parameters/signalIdsParam'
      - $ref: '#/components/parameters/idsParam'
      - $ref: '#/components/parameters/portfoliosParam'
      - $ref: '#/components/parameters/themesParam'
      - $ref: '#/components/parameters/categoriesParam'
      - $ref: '#/components/parameters/relevanceScoreParam'
      - $ref: '#/components/parameters/sortParam'
      - $ref: '#/components/parameters/resolveIdentifiersParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/eventDetails'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        '429':
          description: API Rate Limit Exceeded
          headers:
            Api-Version:
              $ref: '#/components/headers/Api-Version'
            Api-Supported-Versions:
              $ref: '#/components/headers/Api-Supported-Versions'
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimit-Limit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimit-Remaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rateLimitResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      tags:
      - Events
      operationId: postEventDetails
      description: 'Fetch Signals event headlines plus all additional event details for up to 1000 identifiers and at least one of the following filtering parameters: `ids`, `portfolios`'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/eventRequestBody'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/eventDetails'
        '429':
          description: API Rate Limit Exceeded
          headers:
            Api-Version:
              $ref: '#/components/headers/Api-Version'
            Api-Supported-Versions:
              $ref: '#/components/headers/Api-Supported-Versions'
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimit-Limit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimit-Remaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rateLimitResponse'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /events/details/{eventId}:
    get:
      tags:
      - Events
      operationId: getEventDetailById
      description: Fetch Signals event headlines plus all additional event details for a single requested Signal event
      parameters:
      - $ref: '#/components/parameters/eventIdParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/eventDetail'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        '429':
          description: API Rate Limit Exceeded
          headers:
            Api-Version:
              $ref: '#/components/headers/Api-Version'
            Api-Supported-Versions:
              $ref: '#/components/headers/Api-Supported-Versions'
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimit-Limit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimit-Remaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rateLimitResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /events/adaptive-cards:
    get:
      tags:
      - Events
      x-factset-sdk-ignore: true
      operationId: getEventAdaptiveCards
      description: 'Fetch Microsoft''s Adaptive Cards, which includes headlines and event details data plus hyperlinks to FactSet reports, based on at least one of the following filtering parameters: `ids`, `portfolios`'
      parameters:
      - $ref: '#/components/parameters/createdParam'
      - $ref: '#/components/parameters/updatedParam'
      - $ref: '#/components/parameters/signalIdsParam'
      - $ref: '#/components/parameters/idsParam'
      - $ref: '#/components/parameters/portfoliosParam'
      - $ref: '#/components/parameters/themesParam'
      - $ref: '#/components/parameters/categoriesParam'
      - $ref: '#/components/parameters/relevanceScoreParam'
      - $ref: '#/components/parameters/sortParam'
      - $ref: '#/components/parameters/resolveIdentifiersParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/eventAdaptiveCards'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        '429':
          description: API Rate Limit Exceeded
          headers:
            Api-Version:
              $ref: '#/components/headers/Api-Version'
            Api-Supported-Versions:
              $ref: '#/components/headers/Api-Supported-Versions'
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimit-Limit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimit-Remaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rateLimitResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      tags:
      - Events
      operationId: postEventAdaptiveCards
      description: 'Fetch Microsoft''s Adaptive Cards, which includes headlines and event details data plus hyperlinks to FactSet reports, based on at least one of the following filtering parameters: `ids`, `portfolios`'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/eventRequestBody'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/eventAdaptiveCards'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        '429':
          description: API Rate Limit Exceeded
          headers:
            Api-Version:
              $ref: '#/components/headers/Api-Version'
            Api-Supported-Versions:
              $ref: '#/components/headers/Api-Supported-Versions'
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimit-Limit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimit-Remaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rateLimitResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /events/adaptive-cards/{eventId}:
    get:
      tags:
      - Events
      operationId: getEventAdaptiveCardById
      description: Fetch Microsoft's Adaptive Cards, which includes headlines and event details data plus hyperlinks to FactSet reports, for a single requested Signal event
      parameters:
      - $ref: '#/components/parameters/eventIdParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/eventAdaptiveCard'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        '429':
          description: API Rate Limit Exceeded
          headers:
            Api-Version:
              $ref: '#/components/headers/Api-Version'
            Api-Supported-Versions:
              $ref: '#/components/headers/Api-Supported-Versions'
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimit-Limit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimit-Remaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rateLimitResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /events/entities:
    get:
      tags:
      - Events
      x-factset-sdk-ignore: true
      operationId: getEventEntities
      description: Fetch FactSet entity IDs for events that match the filtering criteria
      parameters:
      - $ref: '#/components/parameters/createdParam'
      - $ref: '#/components/parameters/updatedParam'
      - $ref: '#/components/parameters/signalIdsParam'
      - $ref: '#/components/parameters/themesParam'
      - $ref: '#/components/parameters/categoriesParam'
      - $ref: '#/components/parameters/relevanceScoreParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/eventsEntities'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        '429':
          description: API Rate Limit Exceeded
          headers:
            Api-Version:
              $ref: '#/components/headers/Api-Version'
            Api-Supported-Versions:
              $ref: '#/components/headers/Api-Supported-Versions'
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimit-Limit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimit-Remaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rateLimitResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      tags:
      - Events
      operationId: postEventEntities
      description: Fetch FactSet entity IDs for events that match the filtering criteria
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/eventsEntitiesPost'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/eventsEntities'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        '429':
          description: API Rate Limit Exceeded
          headers:
            Api-Version:
              $ref: '#/components/headers/Api-Version'
            Api-Supported-Versions:
              $ref: '#/components/headers/Api-Supported-Versions'
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimit-Limit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimit-Remaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rateLimitResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    eventDetailDataItem:
      allOf:
      - $ref: '#/components/schemas/eventHeadlineDataItem'
      - type: object
        required:
        - created
        - updated
        - details
        properties:
          created:
            type: string
            format: date-time
            description: Date/Time in UTC the event was first recorded in our data store.
            example: '2021-04-26T06:39:40.094Z'
          updated:
            type: string
            format: date-time
            description: Date/Time in UTC the event was last updated.
            example: '2021-04-26T06:39:40.094Z'
          details:
            type: object
            description: Signal specific event properties.
            additionalProperties: true
    eventAdaptiveCard:
      type: object
      required:
      - data
      - meta
      properties:
        data:
          $ref: '#/components/schemas/eventAdaptiveDataItem'
        meta:
          $ref: '#/components/schemas/eventMeta'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/errorItem'
          example: []
    errorItem:
      type: object
      required:
      - id
      - code
      - title
      properties:
        id:
          type: string
          format: uuid
          example: abc123
        code:
          type: string
          example: parameterError
        title:
          type: string
          example: Invalid type/value
        detail:
          type: string
          example: Value must be a valid UTC date/time that conforms to ISO 8601 format
        source:
          type: object
          properties:
            parameter:
              type: string
          example: example_value
    eventsMeta:
      type: object
      required:
      - signalRequestId
      - idResolutions
      - dateRange
      properties:
        signalRequestId:
          type: string
          format: uuid
          example: '500123'
        sort:
          type: array
          items:
            type: string
          example: []
        pagination:
          type: object
          properties:
            total:
              type: integer
            isEstimatedTotal:
              type: boolean
          example: example_value
        idResolutions:
          $ref: '#/components/schemas/idResolutionsMeta'
        dateRange:
          type: object
          properties:
            created:
              $ref: '#/components/schemas/DateTimeInterval'
            updated:
              $ref: '#/components/schemas/DateTimeInterval'
          example: example_value
    eventMeta:
      type: object
      required:
      - signalRequestId
      - idResolutions
      properties:
        signalRequestId:
          type: string
          format: uuid
          example: '500123'
        idResolutions:
          $ref: '#/components/schemas/idResolutionsMeta'
    eventRequestBody:
      type: object
      properties:
        created:
          allOf:
          - $ref: '#/components/schemas/DateTimeInterval'
          description: A date/time (UTC) interval for filtering signal events based on their creation date. Defaults to NOW - 7 days if omitted. Users with limited access can only provide the default or a smaller date window.
          example: example_value
        updated:
          allOf:
          - $ref: '#/components/schemas/DateTimeInterval'
          description: A date/time (UTC) interval for filtering signal events based on their last updated date. Defaults to NOW - 7 days if omitted. Users with limited access can only provide the default or a smaller date window.
          example: example_value
        signalIds:
          type: string
          description: Comma delimited string of signalIds
          example: dilutionTrigger,freeCashFlow
        ids:
          type: string
          description: Comma delimited string of identifiers. An identifier can be a ticker, FactSet entity id, CUSIP or ISIN. You must provide a list of identifiers either via a ids or a portfolios parameter. If both are provided, only ids filter is used. Users with limited access can use only the ids filter and provide at most 10 ids.
          example: FDS-US,AMZN-US
        portfolios:
          type: string
          description: Name of a portfolio file stored by FactSet. If the portfolio contains more than 1,000 ids, only the first 1,000 ids are processed (e.g. client:techstocks.ofdb). Please note that using this parameter requires full subscription to Signals API.
          example: example_value
        themes:
          type: string
          description: Comma delimited string of theme ids. Full list of signal themes can be viewed at /themes.
          example: example_value
        categories:
          type: string
          description: Comma delimited string of category ids. Full list of signal categories can be viewed at /categories.
          example: example_value
        userRelevanceScore:
          allOf:
          - $ref: '#/components/schemas/RelevanceScoreRange'
          description: A range for filtering signal events based on their relevancy score.
          example: example_value
        sort:
          type: string
          description: Comma delimited string of sortable attributes. The sort order for each sort attribute is ascending unless it is prefixed with a minus sign, in which case it is descending.
          example: example_value
        resolveIdentifiers:
          type: boolean
          description: The api will return resolved identifiers in the meta section of the response by default (true). If the parameter is false, the api will not attempt to resolve the identifiers.
          example: true
    eventDetail:
      type: object
      required:
      - data
      - meta
      properties:
        data:
          $ref: '#/components/schemas/eventDetailDataItem'
        meta:
          $ref: '#/components/schemas/eventMeta'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/errorItem'
          example: []
    screenMeta:
      type: object
      required:
      - signalRequestId
      - dateRange
      properties:
        signalRequestId:
          type: string
          format: uuid
          example: '500123'
        dateRange:
          type: object
          properties:
            created:
              $ref: '#/components/schemas/DateTimeInterval'
            updated:
              $ref: '#/components/schemas/DateTimeInterval'
          example: example_value
        partial:
          type: object
          required:
          - isPartial
          - reason
          properties:
            isPartial:
              type: boolean
              description: Indicates that some of the matching entities are missing in the response.
            reason:
              type: string
              description: Describes why the response was sent with an incomplete list of entities.
          example: example_value
    rateLimitResponse:
      title: Rate Limit Error Object
      description: Error returned if any of the user's rate limit have been reached.
      properties:
        message:
          type: string
          example: API rate limit exceeded
    eventAdaptiveDataItem:
      type: object
      required:
      - requestId
      - signalId
      - adaptiveCard
      properties:
        requestId:
          type: string
          description: The id that was requested, ticker, cusip, factset entity id etc.
          example: FDS-US
        signalId:
          type: string
          description: Signal Id for this event.
          example: dilutionTrigger
        adaptiveCard:
          type: object
          description: A JSON object that's compliant with MS adaptive card schema.
          additionalProperties: true
          example: example_value
    errorResponse:
      type: object
      required:
      - message
      properties:
        message:
          type: string
          description: A short description of the error.
          example: There was an error processing your request. Please try again later.
        errors:
          type: array
          items:
            $ref: '#/components/schemas/errorItem'
          description: Optional list of errors. e.g. Validation errors for multiple parameters
          example: []
    eventsEntities:
      type: object
      required:
      - data
      - meta
      properties:
        data:
          type: array
          items:
            type: string
            description: The FactSet entity ID of a company with an event
            example: 0016YD-E
          example: []
        meta:
          $ref: '#/components/schemas/screenMeta'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/errorItem'
          example: []
    DateTimeInterval:
      type: object
      description: 'Represents a valid date/time (UTC) interval. The upper bound of the interval is represented by the attribute **gt** or **gte**. The lower bound of the interval is presented by **lt** or **lte** The interval can contain either of the bounds or both. e.g. { "gt": "2021-05-01T00:00:00.000Z", "lt": "2021-05-08T00:00:00.000Z" }

        '
      minProperties: 1
      properties:
        gt:
          $ref: '#/components/schemas/DateTime'
        gte:
          $ref: '#/components/schemas/DateTime'
        lt:
          $ref: '#/components/schemas/DateTime'
        lte:
          $ref: '#/components/schemas/DateTime'
    eventDetails:
      type: object
      required:
      - data
      - meta
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/eventDetailDataItem'
          example: []
        meta:
          $ref: '#/components/schemas/eventMeta'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/errorItem'
          example: []
    EventSnippetDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: abc123
        type:
          type: string
          nullable: true
          example: example_value
        noteId:
          type: string
          format: uuid
          nullable: true
          example: '500123'
        meetingId:
          type: string
          format: uuid
          nullable: true
          example: '500123'
        createdAt:
          type: string
          format: date-time
          example: '2026-01-15T10:30:00Z'
      additionalProperties: false
    eventsEntitiesPost:
      type: object
      properties:
        created:
          allOf:
          - $ref: '#/components/schemas/DateTimeInterval'
          description: A date/time (UTC) interval for filtering signal events based on their creation date. Defaults to NOW - 7 days if omitted. Users with limited access can only provide the default or a smaller date window.
          example: example_value
        updated:
          allOf:
          - $ref: '#/components/schemas/DateTimeInterval'
          description: A date/time (UTC) interval for filtering signal events based on their last updated date. Defaults to NOW - 7 days if omitted. Users with limited access can only provide the default or a smaller date window.
          example: example_value
        signalIds:
          type: string
          description: Comma delimited string of signalIds
          example: dilutionTrigger,freeCashFlow
        themes:
          type: string
          description: Comma delimited string of theme ids. Full list of signal themes can be viewed at /themes.
          example: example_value
        categories:
          type: string
          description: Comma delimited string of category ids. Full list of signal categories can be viewed at /categories.
          example: example_value
        userRelevanceScore:
          allOf:
          - $ref: '#/components/schemas/RelevanceScoreRange'
          description: A range for filtering signal events based on their relevancy score.
          example: example_value
    eventAdaptiveCards:
      type: object
      required:
      - data
      - meta
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/eventAdaptiveDataItem'
          example: []
        meta:
          $ref: '#/components/schemas/eventMeta'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/errorItem'
          example: []
    DateTime:
      type: string
      format: date-time
      description: A date/time string in ISO 8601 format.
      example: '2021-01-01T00:00:00Z'
    idResolutionsMeta:
      type: object
      properties:
        tickerRegion:
          type: object
          additionalProperties:
            type: string
            nullable: true
          example: example_value
        regionalPermId:
          type: object
          additionalProperties:
            type: string
            nullable: true
          example: '500123'
    eventHeadlineDataItem:
      type: object
      required:
      - requestId
      - signalId
      - signalName
      - theme
      - source
      - eventId
      - eventDate
      - summary
      - userRelevanceScore
      properties:
        requestId:
          type: string
          description: The id that was requested. This can be a ticker, cusip or factset entity id.
          example: '500123'
        companyName:
          type: string
          description: Name of the company reported in signal. Omitted if null.
          example: example_value
        signalId:
          type: string
          description: Signal Id for this event. e.g. dilutionTrigger
          example: '500123'
        signalName:
          type: string
          description: Signal Name for this event. e.g. dilutionTrigger
          example: example_value
        theme:
          type: string
          description: Theme name of the signal for this event. e.g. Debt Capital Structure
          example: example_value
        source:
          type: string
          description: Primary data provider for the signal this event belongs to. e.g. FactSet, Bitvore
          example: example_value
        eventId:
          type: string
          format: uuid
          description: A unique id for this event.
          example: '500123'
        eventDate:
          type: string
          format: date
          description: The UTC date/time of the event in ISO 8601 format.
          example: '2026-01-15'
        summary:
          type: string
          description: One sentence summary of the event.
          example: example_value
        userRelevanceScore:
          type: number
          format: float
          description: Relevancy score of this event for the requesting user on a scale of 0 to 1. Higher value indicates more relevancy.
          example: 42.5
        created:
          type: string
          format: date-time
          description: Date/Time in UTC the event was first recorded in our data store.
          example: '2021-04-26T06:39:40.094Z'
    eventHeadlines:
      type: object
      required:
      - data
      - meta
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/eventHeadlineDataItem'
          example: []
        meta:
          $ref: '#/components/schemas/eventsMeta'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/errorItem'
          example: []
    RelevanceScoreRange:
      type: object
      description: 'Represents a valid range for user relevancy score for signal events. The upper bound of the range is represented by the attribute **gt** or **gte**. The lower bound of the range is presented by **lt** or **lte** The range can contain either of the bounds or both. e.g. { "gt": 0.4, "lt": 0.8 }

        '
      minProperties: 1
      properties:
        gt:
          type: number
          format: float
          example: 42.5
        gte:
          type: number
          format: float
          example: 42.5
        lt:
          type: number
          format: float
          example: 42.5
        lte:
          type: number
          format: float
          example: 42.5
  parameters:
    resolveIdentifiersParam:
      name: resolveIdentifiers
      in: query
      schema:
        type: boolean
      description: The api will return resolved identifiers in the meta section of the response by default (true). If the parameter is false, the api will not attempt to resolve the identifiers.
      example: true
    categoriesParam:
      name: categories
      in: query
      schema:
        type: string
      description: Comma delimited string of category ids. Full list of signal categories can be viewed at /categories.
    relevanceScoreParam:
      name: userRelevanceScore
      in: query
      schema:
        $ref: '#/components/schemas/RelevanceScoreRange'
      style: deepObject
      explode: true
      description: A range for filtering signal events based on their relevancy score.
      examples:
        lowerBound:
          value:
            gte: 0
        upperBound:
          value:
            lt: 1
        bothBounds:
          value:
            gt: 0
            lt: 1
    signalIdsParam:
      name: signalIds
      in: query
      schema:
        type: string
        description: Comma delimited string of signalIds
      example: dilutionTrigger,freeCashFlow
    eventIdParam:
      name: eventId
      in: path
      required: true
      description: The UUID of the event to return.
      schema:
        type: string
        format: uuid
        minimum: 1
    updatedParam:
      name: updated
      in: query
      schema:
        $ref: '#/components/schemas/DateTimeInterval'
      style: deepObject
      explode: true
      description: A date/time (UTC) interval for filtering signal events based on their last updated date. Defaults to NOW - 7 days if omitted. Users with limited access can only provide the default or a smaller date window.
      examples:
        default:
          value: {}
        lowerBound:
          $ref: '#/components/examples/lowerBound'
        upperBound:
          $ref: '#/components/examples/upperBound'
        bothBounds:
          $ref: '#/components/examples/bothBounds'
    createdParam:
      name: created
      in: query
      schema:
        $ref: '#/components/schemas/DateTimeInterval'
      style: deepObject
      explode: true
      description: A date/time (UTC) interval for filtering signal events based on their creation date. Defaults to NOW - 7 days if omitted. Users with limited access can only provide the default or a smaller date window.
      examples:
        default:
          value: {}
        lowerBound:
          $ref: '#/components/examples/lowerBound'
        upperBound:
          $ref: '#/components/examples/upperBound'
        bothBounds:
          $ref: '#/components/examples/bothBounds'
    idsParam:
      name: ids
      in: query
      schema:
        type: string
      description: Comma delimited string of identifiers. An identifier can be a ticker, FactSet entity id, CUSIP or ISIN. You must provide a list of identifiers either via a ids or a portfolios parameter. If both are provided, only ids filter is used. Users with limited access can use only the ids filter and provide at most 10 ids.
      example: FDS-US,AMZN-US
    sortParam:
      name: sort
      in: query
      schema:
        type: string
      description: Comma delimited string of sortable attributes. The sort order for each sort attribute is ascending unless it is prefixed with a minus sign, in which case it is descending. If sort is not provided, the default sort applied is -userRelevanceScore (userRelevanceScore in descending order).
      example: -userRelevanceScore,-eventDate
    themesParam:
      name: themes
      in: query
      schema:
        type: string
      description: Comma delimited string of theme ids. Full list of signal themes can be viewed at /themes.
    portfoliosParam:
      name: portfolios
      in: query
      schema:
        type: string
      description: Name of a portfolio file stored by FactSet. If the portfolio contains more than 1,000 ids, only the first 1,000 ids are processed (e.g. client:techstocks.ofdb). Please note that using this parameter requires full subscription to Signals API.
  examples:
    lowerBound:
      value:
        gt: '2022-01-01T00:00:00.000Z'
    upperBound:
      value:
        lt: '2022-01-02T00:00:00.000Z'
    bothBounds:
      value:
        gt: '2022-01-01T00:00:00.000Z'
        lt: '2022-01-02T00:00:00.000Z'
  headers:
    RateLimit-Limit:
      description: Total number of requests allowed in a specific time window. The time window is two seconds for regular API users and one week for limited access users.
      schema:
        type: integer
        example: 5
    RateLimit-Reset:
      description: Time remaining (in seconds) until the quota is reset.
      schema:
        type: integer
        example: 1000
    RateLimit-Remaining:
      description: Remaining number of requests in the current time window.
      schema:
        type: integer
        example: 4
    Api-Version:
      description: Full semantic version of the API.
      schema:
        type: string
        example: 1.0.0
    Api-Supported-Versions:
      description: Comma-separated list of supported major versions.
      schema:
        type: string
        example: '1'
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
externalDocs:
  url: https://developer.factset.com/api-catalog/analytics-datastore-api
  description: API Documentation
