openapi: 3.0.3
info:
  title: Factset Analytics Datastore About Dcs Summary API
  description: Allow clients to fetch precalculated Analytics through predeterministic URLs.
  contact:
    name: FactSet Research Systems
    url: https://developer.factset.com/contact
    email: api@factset.com
  license:
    name: Apache License, Version 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  version: 1.0.0
servers:
- url: https://api.factset.com
  description: Production
- url: https://api-sandbox.factset.com
  description: Sandbox
security:
- basicAuth: []
tags:
- name: Dcs Summary
paths:
  /dcs-summary:
    get:
      tags:
      - Dcs Summary
      operationId: getDcsSummary
      summary: Factset Debt Capital Structure (DCS) Summary
      parameters:
      - name: id
        in: query
        description: Company ticker
        required: true
        schema:
          type: string
          example: FDS
      - name: schema
        in: query
        description: 'The schema that the data is returned as. The following are descriptions for the accepted values:

          - table_group_level - STACH 2.0 row organized package format with parent-child relationships represented using STACH group level cell metadata

          - table_parent_child_columns - STACH 2.0 row organized package format with parent-child relationships represented using STACH parent-child columns

          '
        required: false
        schema:
          type: string
          enum:
          - table_group_level
          - table_parent_child_columns
          default: table_parent_child_columns
      responses:
        '200':
          $ref: '#/components/responses/200OKStachDcsSummary'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '429':
          $ref: '#/components/responses/429TooManyRequests'
        '500':
          $ref: '#/components/responses/500InternalServerError'
        '503':
          $ref: '#/components/responses/503ServiceUnavailable'
components:
  schemas:
    Meta:
      type: object
      additionalProperties:
        type: string
        nullable: true
    ErrorResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/ErrorObject'
        meta:
          $ref: '#/components/schemas/Meta'
    Response:
      type: object
      properties:
        data:
          title: STACH
          description: Returns a STACH 2.0 row organized package
        meta:
          $ref: '#/components/schemas/Meta'
    ErrorObject:
      type: object
      properties:
        id:
          type: string
        code:
          type: string
        title:
          type: string
        links:
          type: object
          properties:
            about:
              type: string
        detail:
          type: string
        source:
          type: object
          properties:
            parameter:
              type: string
  responses:
    401Unauthorized:
      description: Missing or invalid authentication. Ensure you are logged in and have successfully generated an API KEY for the IP range you are connecting from. For further assistance, file an issue under "Connectivty - 401 or 403 Responses" using `Report Issue` at the top of this page, including the X-DataDirect-Request-Key from the header to assist in troubleshooting.
      headers:
        X-DataDirect-Request-Key:
          schema:
            type: string
          description: FactSet request ID
    429TooManyRequests:
      description: Too many requests - this API is rate-limited to 20 requests per second. For further assistance, file an issue under "Workflow & Throttling - 400 or 429 Response" using `Report Issue` at the top of this page, including the X-DataDirect-Request-Key from the header to assist in troubleshooting.
      headers:
        X-DataDirect-Request-Key:
          schema:
            type: string
          description: FactSet request ID
    404NotFound:
      description: Not found. For further assistance, file an issue under "Performance - 404 and 500 Responses" using `Report Issue` at the top of this page, including the X-DataDirect-Request-Key from the header to assist in troubleshooting.
      headers:
        X-DataDirect-Request-Key:
          schema:
            type: string
          description: FactSet request ID
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            endpointNotFound:
              $ref: '#/components/examples/endpointNotFound'
    403Forbidden:
      description: User is forbidden access with current credentials. Reach out to your local FactSet Account Manager for assistance, or file an issue under "Connectivty - 401 or 403 Responses" using `Report Issue` at the top of this page, including the X-DataDirect-Request-Key from the header to assist in troubleshooting.
      headers:
        X-DataDirect-Request-Key:
          schema:
            type: string
          description: FactSet request ID
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            notAuthorized:
              $ref: '#/components/examples/notAuthorized'
    200OKStachDcsSummary:
      description: Expected response; returns JSON data containing STACH 2.0 row organized package format
      headers:
        X-DataDirect-Request-Key:
          schema:
            type: string
          description: FactSet request ID
        Api-Supported-Versions:
          schema:
            type: string
          description: Supported API major versions
        Api-Version:
          schema:
            type: string
          description: API version (semantic versioning)
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Response'
          examples:
            groupLevelResponse:
              $ref: '#/components/examples/groupLevelResponseDcsSummary'
            parentChildColumnsResponse:
              $ref: '#/components/examples/parentChildColumnsResponseDcsSummary'
    503ServiceUnavailable:
      description: Service unavailable. Typically a timeout, or result of a rejected request to prevent service overload. For further assistance, file an issue under "Performance - 404 and 500 Responses" using `Report Issue` at the top of this page, including the X-DataDirect-Request-Key from the header to assist in troubleshooting.
      headers:
        X-DataDirect-Request-Key:
          schema:
            type: string
          description: FactSet request ID
    400BadRequest:
      description: Bad Request. For further assistance, file an issue under "Workflow & Throttling - 400 or 429 Response" using `Report Issue` at the top of this page, including the X-DataDirect-Request-Key from the header to assist in troubleshooting.
      headers:
        X-DataDirect-Request-Key:
          schema:
            type: string
          description: FactSet request ID
        Api-Supported-Versions:
          schema:
            type: string
          description: Supported API major versions
        Api-Version:
          schema:
            type: string
          description: API version (semantic versioning)
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            idRequiredParameterError:
              $ref: '#/components/examples/idRequiredParameterError'
            idInvalidParameterError:
              $ref: '#/components/examples/idInvalidParameterError'
            schemaInvalidParameterError:
              $ref: '#/components/examples/schemaInvalidParameterError'
    500InternalServerError:
      description: Server error. For further assistance, file an issue under "Performance - 404 and 500 Responses" using `Report Issue` at the top of this page, including the X-DataDirect-Request-Key from the header to assist in troubleshooting.
      headers:
        X-DataDirect-Request-Key:
          schema:
            type: string
          description: FactSet request ID
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            genericServerError:
              $ref: '#/components/examples/genericServerError'
  examples:
    notAuthorized:
      summary: not authorized
      value:
        errors:
        - id: 39314614-e607-465a-ba95-5bb79c362e23
          code: notAuthorized
          title: User is forbidden access with current credentials. For access, contact your FactSet sales representative
    idInvalidParameterError:
      summary: generic parameter error (invalid parameter)
      value:
        errors:
        - id: 39314614-e607-465a-ba95-5bb79c362e23
          code: parameterError
          title: 'Invalid parameter(s): ''id'''
    parentChildColumnsResponseDcsSummary:
      summary: (sample table parent child columns response)
      description: Subset of rows and columns for an example STACH 2.0 row organized table with parent-child columns
      value:
        data:
          version: '2.0'
          tables:
            main:
              headersDefinition:
                columns:
                - id: detailTableHeader
                  type: string
                  isDimension: true
              definition:
                columns:
                - id: description1
                  type: string
                  isDimension: true
                - id: description2
                  type: string
                  isDimension: true
                  parentId: description1
                - id: description3
                  type: string
                  isDimension: true
                  parentId: description2
                - id: latest
                  type: real
                - id: latestToLtmEbitda
                  type: real
                - id: latestToNtmEbitda
                  type: real
                - id: last
                  type: real
                - id: lastToLtmEbitda
                  type: real
                - id: lastToNtmEbitda
                  type: real
              data:
                rows:
                - cells:
                  - null
                  - null
                  - null
                  - May '21
                  - /LTM EBITDA
                  - /NTM EBITDA
                  - Feb '21
                  - /LTM EBITDA
                  - /NTM EBITDA
                  headerCellDetails:
                    '0':
                      source: HEADERS
                      columnIndex: 0
                    '1':
                      source: HEADERS
                      columnIndex: 0
                    '2':
                      source: HEADERS
                      columnIndex: 0
                    '3':
                      source: HEADERS
                      columnIndex: 0
                    '4':
                      source: HEADERS
                      columnIndex: 0
                    '5':
                      source: HEADERS
                      columnIndex: 0
                    '6':
                      source: HEADERS
                      columnIndex: 0
                - cells:
                  - Short Term Debt
                  - null
                  - null
                  - null
                  - null
                  - null
                  - null
                  - null
                  - null
                - cells:
                  - Long Term Debt
                  - null
                  - null
                  - 574.49
                  - 1.02130103038535
                  - 0.998906313302117
                  - 574.399
                  - 1.03639663892232
                  - 1.01769506195566
                - cells:
                  - Long Term Debt
                  - Revolving Credit
                  - null
                  - 575
                  - 1.02220768415738
                  - 0.9997930863004
                  - 575
                  - 1.03748103214026
                  - 1.01875988750765
                - cells:
                  - Long Term Debt
                  - Revolving Credit
                  - Unsec. Rev. Facility
                  - 575
                  - null
                  - null
                  - 575
                  - null
                  - null
                - cells:
                  - Long Term Debt
                  - Term Loans
                  - null
                  - null
                  - null
                  - null
                  - null
                  - null
                  - null
                - cells:
                  - Long Term Debt
                  - Notes/Bonds
                  - null
                  - null
                  - null
                  - null
                  - null
                  - null
                  - null
                - cells:
                  - Long Term Debt
                  - Other
                  - null
                  - -0.51
                  - -0.000906653772035242
                  - -0.000886772998283833
                  - -0.601
                  - -0.00108439321794139
                  - -0.00106482555198625
                - cells:
                  - Long Term Debt
                  - Other
                  - Adjustments
                  - -0.51
                  - null
                  - null
                  - -0.601
                  - null
                  - null
                - cells:
                  - Long Term Debt, Less Current Portion
                  - null
                  - null
                  - 574.49
                  - 1.02130103038535
                  - 0.998906313302117
                  - 574.399
                  - 1.03639663892232
                  - 1.01769506195566
                - cells:
                  - Long Term Debt, Less Current Portion
                  - Long Term Debt
                  - null
                  - 574.49
                  - 1.02130103038535
                  - 0.998906313302117
                  - 574.399
                  - 1.03639663892232
                  - 1.01769506195566
                - cells:
                  - Long Term Debt, Less Current Portion
                  - Current Portion of LTD
                  - null
                  - null
                  - null
                  - null
                  - null
                  - null
                  - null
                - cells:
                  - Total Debt
                  - null
                  - null
                  - 574.49
                  - 1.02130103038535
                  - 0.998906313302117
                  - 574.399
                  - 1.03639663892232
                  - 1.01769506195566
                columnMetadata:
                  latest:
                    items:
                      scale:
                        value: 6
                  latestToLtmEbitda:
                    items:
                      valueType:
                        value: RATIO
                  last:
                    items:
                      scale:
                        value: 6
                  latestToNtmEbitda:
                    items:
                      valueType:
                        value: RATIO
                  lastToLtmEbitda:
                    items:
                      valueType:
                        value: RATIO
                  lastToNtmEbitda:
                    items:
                      valueType:
                        value: RATIO
        meta:
          requestId: FDS
          fsymId: SQFMK3-R
          schema: table_parent_child_columns
    endpointNotFound:
      summary: endpoint not found
      value:
        errors:
        - id: 39314614-e607-465a-ba95-5bb79c362e23
          code: endpointNotFound
          title: The requested endpoint does not exist.
    genericServerError:
      summary: generic server error
      value:
        errors:
        - id: 39314614-e607-465a-ba95-5bb79c362e23
          code: genericServerError
          title: Unexpected error processing request
    groupLevelResponseDcsSummary:
      summary: (sample table group level columns response)
      description: Subset of rows and columns for an example response
      value:
        data:
          version: '2.0'
          tables:
            main:
              headersDefinition:
                columns:
                - id: detailTableHeader
                  type: string
                  isDimension: true
              definition:
                columns:
                - id: debtClass
                  type: string
                - id: latest
                  type: real
                - id: latestToLtmEbitda
                  type: real
                - id: latestToNtmEbitda
                  type: real
                - id: last
                  type: real
                - id: lastToLtmEbitda
                  type: real
                - id: lastToNtmEbitda
                  type: real
              data:
                rows:
                - cells:
                  - null
                  - May '21
                  - /LTM EBITDA
                  - /NTM EBITDA
                  - Feb '21
                  - /LTM EBITDA
                  - /NTM EBITDA
                  headerCellDetails:
                    '0':
                      source: HEADERS
                      columnIndex: 0
                    '1':
                      source: HEADERS
                      columnIndex: 0
                    '2':
                      source: HEADERS
                      columnIndex: 0
                    '3':
                      source: HEADERS
                      columnIndex: 0
                    '4':
                      source: HEADERS
                      columnIndex: 0
                    '5':
                      source: HEADERS
                      columnIndex: 0
                    '6':
                      source: HEADERS
                      columnIndex: 0
                - cells:
                  - Short Term Debt
                  - null
                  - null
                  - null
                  - null
                  - null
                  - null
                  cellDetails:
                    '0':
                      groupLevel: 0
                    '1':
                      groupLevel: 0
                    '2':
                      groupLevel: 0
                    '3':
                      groupLevel: 0
                    '4':
                      groupLevel: 0
                    '5':
                      groupLevel: 0
                    '6':
                      groupLevel: 0
                - cells:
                  - Long Term Debt
                  - 574.49
                  - 1.02130103038535
                  - 0.998906313302117
                  - 574.399
                  - 1.03639663892232
                  - 1.01769506195566
                  cellDetails:
                    '0':
                      groupLevel: 0
                    '1':
                      groupLevel: 0
                    '2':
                      groupLevel: 0
                    '3':
                      groupLevel: 0
                    '4':
                      groupLevel: 0
                    '5':
                      groupLevel: 0
                    '6':
                      groupLevel: 0
                - cells:
                  - Revolving Credit
                  - 575
                  - 1.02220768415738
                  - 0.9997930863004
                  - 575
                  - 1.03748103214026
                  - 1.01875988750765
                  cellDetails:
                    '0':
                      groupLevel: 1
                    '1':
                      groupLevel: 0
                    '2':
                      groupLevel: 0
                    '3':
                      groupLevel: 0
                    '4':
                      groupLevel: 0
                    '5':
                      groupLevel: 0
                    '6':
                      groupLevel: 0
                - cells:
                  - Unsec. Rev. Facility
                  - 575
                  - null
                  - null
                  - 575
                  - null
                  - null
                  cellDetails:
                    '0':
                      groupLevel: 2
                    '1':
                      groupLevel: 0
                    '2':
                      groupLevel: 0
                    '3':
                      groupLevel: 0
                    '4':
                      groupLevel: 0
                    '5':
                      groupLevel: 0
                    '6':
                      groupLevel: 0
                - cells:
                  - Term Loans
                  - null
                  - null
                  - null
                  - null
                  - null
                  - null
                  cellDetails:
                    '0':
                      groupLevel: 1
                    '1':
                      groupLevel: 0
                    '2':
                      groupLevel: 0
                    '3':
                      groupLevel: 0
                    '4':
                      groupLevel: 0
                    '5':
                      groupLevel: 0
                    '6':
                      groupLevel: 0
                - cells:
                  - Notes/Bonds
                  - null
                  - null
                  - null
                  - null
                  - null
                  - null
                  cellDetails:
                    '0':
                      groupLevel: 1
                    '1':
                      groupLevel: 0
                    '2':
                      groupLevel: 0
                    '3':
                      groupLevel: 0
                    '4':
                      groupLevel: 0
                    '5':
                      groupLevel: 0
                    '6':
                      groupLevel: 0
                - cells:
                  - Other
                  - -0.51
                  - -0.000906653772035242
                  - -0.000886772998283833
                  - -0.601
                  - -0.00108439321794139
                  - -0.00106482555198625
                  cellDetails:
                    '0':
                      groupLevel: 1
                    '1':
                      groupLevel: 0
                    '2':
                      groupLevel: 0
                    '3':
                      groupLevel: 0
                    '4':
                      groupLevel: 0
                    '5':
                      groupLevel: 0
                    '6':
                      groupLevel: 0
                - cells:
                  - Adjustments
                  - -0.51
                  - null
                  - null
                  - -0.601
                  - null
                  - null
                  cellDetails:
                    '0':
                      groupLevel: 2
                    '1':
                      groupLevel: 0
                    '2':
                      groupLevel: 0
                    '3':
                      groupLevel: 0
                    '4':
                      groupLevel: 0
                    '5':
                      groupLevel: 0
                    '6':
                      groupLevel: 0
                - cells:
                  - Long Term Debt, Less Current Portion
                  - 574.49
                  - 1.02130103038535
                  - 0.998906313302117
                  - 574.399
                  - 1.03639663892232
                  - 1.01769506195566
                  cellDetails:
                    '0':
                      groupLevel: 0
                    '1':
                      groupLevel: 0
                    '2':
                      groupLevel: 0
                    '3':
                      groupLevel: 0
                    '4':
                      groupLevel: 0
                    '5':
                      groupLevel: 0
                    '6':
                      groupLevel: 0
                - cells:
                  - Long Term Debt
                  - 574.49
                  - 1.02130103038535
                  - 0.998906313302117
                  - 574.399
                  - 1.03639663892232
                  - 1.01769506195566
                  cellDetails:
                    '0':
                      groupLevel: 1
                    '1':
                      groupLevel: 0
                    '2':
                      groupLevel: 0
                    '3':
                      groupLevel: 0
                    '4':
                      groupLevel: 0
                    '5':
                      groupLevel: 0
                    '6':
                      groupLevel: 0
                - cells:
                  - Current Portion of LTD
                  - null
                  - null
                  - null
                  - null
                  - null
                  - null
                  cellDetails:
                    '0':
                      groupLevel: 1
                    '1':
                      groupLevel: 0
                    '2':
                      groupLevel: 0
                    '3':
                      groupLevel: 0
                    '4':
                      groupLevel: 0
                    '5':
                      groupLevel: 0
                    '6':
                      groupLevel: 0
                - cells:
                  - Total Debt
                  - 574.49
                  - 1.02130103038535
                  - 0.998906313302117
                  - 574.399
                  - 1.03639663892232
                  - 1.01769506195566
                  cellDetails:
                    '0':
                      groupLevel: 0
                    '1':
                      groupLevel: 0
                    '2':
                      groupLevel: 0
                    '3':
                      groupLevel: 0
                    '4':
                      groupLevel: 0
                    '5':
                      groupLevel: 0
                    '6':
                      groupLevel: 0
                columnMetadata:
                  latest:
                    items:
                      scale:
                        value: 6
                  latestToLtmEbitda:
                    items:
                      valueType:
                        value: RATIO
                  last:
                    items:
                      scale:
                        value: 6
                  latestToNtmEbitda:
                    items:
                      valueType:
                        value: RATIO
                  lastToLtmEbitda:
                    items:
                      valueType:
                        value: RATIO
                  lastToNtmEbitda:
                    items:
                      valueType:
                        value: RATIO
        meta:
          requestId: FDS
          fsymId: SQFMK3-R
          schema: table_group_level
    idRequiredParameterError:
      summary: generic parameter error (missing parameter)
      value:
        errors:
        - id: 39314614-e607-465a-ba95-5bb79c362e23
          code: parameterError
          title: 'Missing required parameter(s): ''id'''
    schemaInvalidParameterError:
      summary: generic parameter error (invalid parameter)
      value:
        errors:
        - id: 39314614-e607-465a-ba95-5bb79c362e23
          code: parameterError
          title: 'Invalid parameter(s): ''schema'''
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
externalDocs:
  url: https://developer.factset.com/api-catalog/analytics-datastore-api
  description: API Documentation
