openapi: 3.2.0
info:
  title: Factset Custom API
  version: '1'
  description: 'Operations tagged Custom across 2 of this provider''s published API definitions: factset-irn-configuration-api-openapi.yml, factset-irn-custom-symbols-api-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.factset.com/research/irn
  description: Production Server
- url: https://api-sandbox.factset.com/research/irn
  description: Sandbox
security:
- basicScheme: []
tags:
- name: Custom
paths:
  /v1/custom-fields:
    get:
      tags:
      - Custom
      summary: Factset Get All Custom Fields
      operationId: GetCustomFields
      parameters:
      - name: X-IRN-Ignore-Permissions
        in: header
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CustomFieldConfigDto'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - url: https://api.factset.com/research/irn
      description: Production Server
    - url: https://api-sandbox.factset.com/research/irn
      description: Sandbox
  /v1/custom-symbol-custom-fields:
    get:
      tags:
      - Custom
      summary: Factset Get All the Custom Symbol Custom Fields
      operationId: GetCustomSymbolCustomFields
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CustomSymbolCustomFieldConfigDto'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      tags:
      - Custom
      summary: Factset Create a Custom Symbol Custom Field
      operationId: CreateCustomSymbolCustomField
      requestBody:
        description: createCustomSymbolCustomFieldDto object to save
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/CreateCustomSymbolCustomFieldDto'
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCustomSymbolCustomFieldDto'
          text/json:
            schema:
              $ref: '#/components/schemas/CreateCustomSymbolCustomFieldDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/CreateCustomSymbolCustomFieldDto'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewItemDto'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - url: https://api.factset.com/research/irn
      description: Production Server
    - url: https://api-sandbox.factset.com/research/irn
      description: Sandbox
  /v1/custom-symbol-custom-fields/{customSymbolCustomFieldId}:
    get:
      tags:
      - Custom
      summary: Factset Get a Specific Custom Symbol Custom Field's Details
      operationId: GetCustomSymbolCustomField
      parameters:
      - name: customSymbolCustomFieldId
        in: path
        description: customSymbolCustomFieldId to get associated record
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomSymbolCustomFieldConfigDto'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    patch:
      tags:
      - Custom
      summary: Factset Edit a Custom Symbol Custom Field
      operationId: PatchCustomSymbolCustomField
      parameters:
      - name: customSymbolCustomFieldId
        in: path
        description: customSymbolCustomFieldId to update associated record
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        description: customSymbolCustomFieldUpdateDto object to update
        content:
          application/json-patch+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Operation'
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Operation'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Operation'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Operation'
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      tags:
      - Custom
      summary: Factset Delete a Custom Symbol Custom Field
      operationId: DeleteCustomSymbolCustomField
      parameters:
      - name: customSymbolCustomFieldId
        in: path
        description: customSymbolCustomFieldId to delete associated record
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - url: https://api.factset.com/research/irn
      description: Production Server
    - url: https://api-sandbox.factset.com/research/irn
      description: Sandbox
  /v1/custom-symbol-types:
    get:
      tags:
      - Custom
      summary: Factset Get All the Custom Symbol Types
      operationId: GetCustomSymbolTypes
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CustomSymbolTypeDto'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      tags:
      - Custom
      summary: Factset Create a Custom Symbol Type
      operationId: CreateCustomSymbolType
      requestBody:
        description: saveCustomSymbolTypeDto object to save
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/SaveCustomSymbolTypeDto'
          application/json:
            schema:
              $ref: '#/components/schemas/SaveCustomSymbolTypeDto'
          text/json:
            schema:
              $ref: '#/components/schemas/SaveCustomSymbolTypeDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/SaveCustomSymbolTypeDto'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewItemDto'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - url: https://api.factset.com/research/irn
      description: Production Server
    - url: https://api-sandbox.factset.com/research/irn
      description: Sandbox
  /v1/custom-symbol-types/{customSymbolTypeId}:
    get:
      tags:
      - Custom
      summary: Factset Get a Specific Custom Symbol Type's Details
      operationId: GetCustomSymbolType
      parameters:
      - name: customSymbolTypeId
        in: path
        description: customSymbolTypeId to get associated record
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomSymbolTypeDetailDto'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      tags:
      - Custom
      summary: Factset Edit a Custom Symbol Type
      operationId: UpdateCustomSymbolType
      parameters:
      - name: customSymbolTypeId
        in: path
        description: customSymbolTypeId to update associated record
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        description: updateCustomSymbolTypeDto object to update
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/UpdateCustomSymbolTypeDto'
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCustomSymbolTypeDto'
          text/json:
            schema:
              $ref: '#/components/schemas/UpdateCustomSymbolTypeDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/UpdateCustomSymbolTypeDto'
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      tags:
      - Custom
      summary: Factset Delete a Custom Symbol Type
      operationId: DeleteCustomSymbolTypeAsync
      parameters:
      - name: customSymbolTypeId
        in: path
        description: customSymbolTypeId to delete associated record
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - url: https://api.factset.com/research/irn
      description: Production Server
    - url: https://api-sandbox.factset.com/research/irn
      description: Sandbox
  /v1/custom-symbol-types/{customSymbolTypeId}/custom-fields:
    get:
      tags:
      - Custom
      summary: Factset Get Custom Fields for Custom Symbol Type
      operationId: GetSymbolCustomFieldsForCustomSymbolType
      parameters:
      - name: customSymbolTypeId
        in: path
        description: customSymbolTypeId to get associated Custom fileds
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CustomSymbolCustomFieldConfigDto'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - url: https://api.factset.com/research/irn
      description: Production Server
    - url: https://api-sandbox.factset.com/research/irn
      description: Sandbox
  /v1/custom-symbol-types/reorder:
    post:
      tags:
      - Custom
      operationId: UpdateCustomSymbolTypeOrder
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/ReorderCustomSymbolTypeDto'
          application/json:
            schema:
              $ref: '#/components/schemas/ReorderCustomSymbolTypeDto'
          text/json:
            schema:
              $ref: '#/components/schemas/ReorderCustomSymbolTypeDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ReorderCustomSymbolTypeDto'
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      summary: Update custom symbol type order
      x-summary-source: derived
    servers:
    - url: https://api.factset.com/research/irn
      description: Production Server
    - url: https://api-sandbox.factset.com/research/irn
      description: Sandbox
  /v1/custom-symbols:
    get:
      tags:
      - Custom
      summary: Factset Get List of All Custom Symbols in Your Group Along With Some of Their…
      operationId: GetCustomSymbols
      parameters:
      - name: typeName
        in: query
        description: filter custom symbols based on custom symbol type
        schema:
          type: string
      - name: query
        in: query
        description: filter custom symbols based on custom symbol code or name
        schema:
          type: string
      - name: includeCustomFieldValues
        in: query
        description: Whether or not to include customFieldValues
        schema:
          type: boolean
          default: false
      - name: excludeLinkedCustomSymbol
        in: query
        description: Whether or not to exclude linked custom symbol
        schema:
          type: boolean
          default: false
      - name: includeEvent
        in: query
        description: Whether or not to include event
        schema:
          type: boolean
          default: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CustomSymbolDto'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: string
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      tags:
      - Custom
      summary: Factset Create a Custom Symbol
      operationId: CreateCustomSymbol
      requestBody:
        description: createCustomSymbolDto object to save
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/CreateCustomSymbolDto'
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCustomSymbolDto'
          text/json:
            schema:
              $ref: '#/components/schemas/CreateCustomSymbolDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/CreateCustomSymbolDto'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewItemDto'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - url: https://api.factset.com/research/irn
      description: Production Server
    - url: https://api-sandbox.factset.com/research/irn
      description: Sandbox
  /v1/custom-symbols/{customSymbolId}:
    get:
      tags:
      - Custom
      summary: Factset Get All Custom Field and Standard Field Details on a Specific Custom…
      operationId: GetCustomSymbol
      parameters:
      - name: customSymbolId
        in: path
        description: customSymbolId to get associated custom symbol
        required: true
        schema:
          type: string
          format: uuid
      - name: includeEvent
        in: query
        description: Whether or not to include event
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomSymbolDto'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    patch:
      tags:
      - Custom
      summary: Factset Edit a Custom Symbols Standard Field and Custom Field Data
      operationId: PatchCustomSymbol
      parameters:
      - name: customSymbolId
        in: path
        description: customSymbolId to update associated custom symbol
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        description: updateCustomSymbolDto object to update
        content:
          application/json-patch+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Operation'
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Operation'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Operation'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Operation'
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      tags:
      - Custom
      summary: Factset Delete a Custom Symbol
      operationId: DeleteCustomSymbol
      parameters:
      - name: customSymbolId
        in: path
        description: customSymbolId to delete associated custom symbol
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - url: https://api.factset.com/research/irn
      description: Production Server
    - url: https://api-sandbox.factset.com/research/irn
      description: Sandbox
  /v1/custom-symbols/{customSymbolId}/records:
    get:
      tags:
      - Custom
      summary: Factset Get All Notes and Meetings Where a Specific Customsymbol Was Tagged as…
      operationId: GetCustomSymbolRecords
      parameters:
      - name: customSymbolId
        in: path
        description: CustomSymbolId to get associated records
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RecordPreviewDto'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - url: https://api.factset.com/research/irn
      description: Production Server
    - url: https://api-sandbox.factset.com/research/irn
      description: Sandbox
  /v1/custom-symbols/standard-symbol-metadata/{standardSymbol}:
    get:
      tags:
      - Custom
      summary: Factset Get All Custom Field and Standard Field Details on a Specific Standard…
      operationId: GetStandardSymbolMetadataGuid
      parameters:
      - name: standardSymbol
        in: path
        description: Standard symbol to get associated customSymbolId
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: string
                format: uuid
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: string
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - url: https://api.factset.com/research/irn
      description: Production Server
    - url: https://api-sandbox.factset.com/research/irn
      description: Sandbox
  /v1/custom-symbols/{customSymbolId}/link-standard-symbol:
    post:
      tags:
      - Custom
      summary: Factset Link Custom Symbol to Standard Symbol
      operationId: LinkCustomSymbolToStandardSymbol
      parameters:
      - name: customSymbolId
        in: path
        description: customSymbolId associated with custom symbol
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        description: standard symbol name
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/StandardSymbolDto'
          application/json:
            schema:
              $ref: '#/components/schemas/StandardSymbolDto'
          text/json:
            schema:
              $ref: '#/components/schemas/StandardSymbolDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/StandardSymbolDto'
      responses:
        '200':
          description: Success
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - url: https://api.factset.com/research/irn
      description: Production Server
    - url: https://api-sandbox.factset.com/research/irn
      description: Sandbox
  /v1/custom-symbols/standard-symbol-metadata:
    post:
      tags:
      - Custom
      summary: Factset Create Standard Symbol Metadata
      operationId: CreateStandardSymbolMetadata
      requestBody:
        description: createStandardSymbolMetadataDto object to save
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/CreateStandardSymbolMetadataDto'
          application/json:
            schema:
              $ref: '#/components/schemas/CreateStandardSymbolMetadataDto'
          text/json:
            schema:
              $ref: '#/components/schemas/CreateStandardSymbolMetadataDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/CreateStandardSymbolMetadataDto'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewItemDto'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - url: https://api.factset.com/research/irn
      description: Production Server
    - url: https://api-sandbox.factset.com/research/irn
      description: Sandbox
  /v1/custom-symbols/standard-symbol-metadata/{standardSymbolId}:
    patch:
      tags:
      - Custom
      summary: Factset Edit a Standard Symbols Standard Field and Custom Field Data
      operationId: PatchStandardSymbol
      parameters:
      - name: standardSymbolId
        in: path
        description: standardSymbolId to update associated standard symbol
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        description: updateCustomSymbolDto object to update
        content:
          application/json-patch+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Operation'
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Operation'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Operation'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Operation'
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - url: https://api.factset.com/research/irn
      description: Production Server
    - url: https://api-sandbox.factset.com/research/irn
      description: Sandbox
components:
  schemas:
    CustomSymbolTypeDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: abc123
        name:
          type:
          - string
          - 'null'
          example: Example Title
        hideAddressField:
          type: boolean
          example: true
        hideSymbolSubType:
          type: boolean
          example: true
        isDefault:
          type: boolean
          example: true
        order:
          type: integer
          format: int32
          example: 10
        dueDiligenceSymbolEntityType:
          $ref: '#/components/schemas/EntityType'
      additionalProperties: false
    Operation:
      type: object
      properties:
        operationType:
          $ref: '#/components/schemas/OperationType'
        path:
          type:
          - string
          - 'null'
          example: example_value
        op:
          type:
          - string
          - 'null'
          example: example_value
        from:
          type:
          - string
          - 'null'
          example: example_value
        value:
          example: example_value
      additionalProperties: false
    NewItemDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: abc123
      additionalProperties: false
    CustomFieldConfigDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: abc123
        code:
          type:
          - string
          - 'null'
          example: example_value
        name:
          type:
          - string
          - 'null'
          example: Example Title
        source:
          type:
          - string
          - 'null'
          example: example_value
        type:
          type:
          - string
          - 'null'
          example: example_value
        usePreviousValue:
          type: boolean
          example: true
        isMandatory:
          type: boolean
          example: true
        isHidden:
          type: boolean
          example: true
        isFilePath:
          type: boolean
          example: true
        formulaConfig:
          $ref: '#/components/schemas/FormulaConfigDto'
        numericConfig:
          $ref: '#/components/schemas/NumericConfigDto'
        integerConfig:
          $ref: '#/components/schemas/IntegerConfigDto'
        extendedTextConfig:
          $ref: '#/components/schemas/ExtendedTextConfigDto'
        optionsConfig:
          $ref: '#/components/schemas/OptionsConfigDto'
      additionalProperties: false
    EntityType:
      enum:
      - 0
      - 1
      - 2
      - 3
      type: integer
      format: int32
    CustomSymbolTypeDetailDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: abc123
        name:
          type:
          - string
          - 'null'
          example: Example Title
        hideAddressField:
          type: boolean
          example: true
        hideSymbolSubType:
          type: boolean
          example: true
        isDefault:
          type: boolean
          example: true
        dueDiligenceSymbolEntityType:
          $ref: '#/components/schemas/EntityType'
        subTypes:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CustomSymbolSubTypeDto'
          example: []
      additionalProperties: false
    OperationType:
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
      - 5
      - 6
      type: integer
      format: int32
    CustomSymbolSubTypeDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: abc123
        name:
          type:
          - string
          - 'null'
          example: Example Title
      additionalProperties: false
    UpdateCustomSymbolTypeDto:
      required:
      - name
      type: object
      properties:
        name:
          maxLength: 100
          minLength: 0
          type: string
          example: Example Title
        hideAddressField:
          type: boolean
          example: true
        hideSymbolSubtype:
          type: boolean
          example: true
        isDefault:
          type: boolean
          default: false
          example: true
        dueDiligenceSymbolEntityType:
          $ref: '#/components/schemas/EntityType'
        subTypes:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CustomSymbolSubTypeDto'
          example: []
        customFieldIds:
          type:
          - array
          - 'null'
          items:
            type: string
            format: uuid
          example: []
      additionalProperties: false
    SaveCustomSymbolTypeDto:
      required:
      - name
      type: object
      properties:
        name:
          maxLength: 100
          minLength: 0
          type: string
          example: Example Title
        hideAddressField:
          type: boolean
          example: true
        hideSymbolSubtype:
          type: boolean
          example: true
        isDefault:
          type: boolean
          default: false
          example: true
        dueDiligenceSymbolEntityType:
          $ref: '#/components/schemas/EntityType'
        subTypes:
          type:
          - array
          - 'null'
          items:
            type: string
          example: []
        customFieldIds:
          type:
          - array
          - 'null'
          items:
            type: string
            format: uuid
          example: []
      additionalProperties: false
    FormulaConfigDto:
      type: object
      properties:
        formula:
          type:
          - string
          - 'null'
          example: example_value
        formulaType:
          type:
          - string
          - 'null'
          example: example_value
      additionalProperties: false
    IntegerConfigDto:
      type: object
      properties:
        splitType:
          type:
          - string
          - 'null'
          example: example_value
      additionalProperties: false
    CustomSymbolCustomFieldConfigDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: abc123
        code:
          type:
          - string
          - 'null'
          example: example_value
        name:
          type:
          - string
          - 'null'
          example: Example Title
        type:
          type:
          - string
          - 'null'
          example: example_value
        isHidden:
          type: boolean
          example: true
        isMandatory:
          type: boolean
          example: true
        isShownInInfobox:
          type: boolean
          example: true
        formulaConfig:
          $ref: '#/components/schemas/CustomSymbolCustomFieldFormulaConfigDto'
        optionsConfig:
          type:
          - array
          - 'null'
          items:
            type: string
          example: []
        customSymbolTypes:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CustomSymbolTypeSummaryDto'
          example: []
      additionalProperties: false
    ReorderCustomSymbolTypeDto:
      type: object
      properties:
        ids:
          type:
          - array
          - 'null'
          items:
            type: string
            format: uuid
          example: []
      additionalProperties: false
    CustomSymbolTypeSummaryDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: abc123
        name:
          type:
          - string
          - 'null'
          example: Example Title
      additionalProperties: false
    OptionsConfigDto:
      type: object
      properties:
        multiSelectEnabled:
          type: boolean
          example: true
        onTheFlyEnabled:
          type: boolean
          example: true
        options:
          type:
          - array
          - 'null'
          items:
            type: string
          example: []
      additionalProperties: false
    CustomSymbolCustomFieldFormulaConfigDto:
      required:
      - formula
      - formulaType
      type: object
      properties:
        formula:
          maxLength: 2040
          type: string
          example: example_value
        formulaType:
          type: string
          example: example_value
      additionalProperties: false
    ProblemDetails:
      type: object
      properties:
        type:
          type:
          - string
          - 'null'
          example: example_value
        title:
          type:
          - string
          - 'null'
          example: Example Title
        status:
          type:
          - integer
          - 'null'
          format: int32
          example: 10
        detail:
          type:
          - string
          - 'null'
          example: example_value
        instance:
          type:
          - string
          - 'null'
          example: example_value
      additionalProperties: {}
    CreateCustomSymbolCustomFieldDto:
      required:
      - code
      - customSymbolTypes
      - isHidden
      - isMandatory
      - isShownInInfobox
      - name
      - type
      type: object
      properties:
        code:
          maxLength: 32
          type: string
          example: example_value
        name:
          maxLength: 100
          type: string
          example: Example Title
        type:
          type: string
          description: Type can be one of Text, SingleOption, MultiOptions, Numeric, Date, ExtendedText, ContactLookup
          example: example_value
        isHidden:
          type: boolean
          default: false
          example: true
        isMandatory:
          type: boolean
          default: false
          example: true
        isShownInInfobox:
          type: boolean
          default: true
          example: true
        formulaConfig:
          $ref: '#/components/schemas/CustomSymbolCustomFieldFormulaConfigDto'
        optionsConfig:
          type:
          - array
          - 'null'
          items:
            type: string
          example: []
        customSymbolTypes:
          type: array
          items:
            type: string
            format: uuid
          example: []
      additionalProperties: false
    NumericConfigDto:
      type: object
      properties:
        decimals:
          type: integer
          format: int32
          example: 10
        splitType:
          type:
          - string
          - 'null'
          example: example_value
      additionalProperties: false
    ExtendedTextConfigDto:
      type: object
      properties:
        maxChars:
          type: integer
          format: int32
          example: 10
      additionalProperties: false
    CustomSymbolDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: abc123
        code:
          type:
          - string
          - 'null'
          example: example_value
        name:
          type:
          - string
          - 'null'
          example: Example Title
        description:
          type:
          - string
          - 'null'
          example: A sample description.
        type:
          $ref: '#/components/schemas/CustomSymbolTypeSummaryDto'
        subType:
          $ref: '#/components/schemas/CustomSymbolSubTypeSummaryDto'
        address:
          $ref: '#/components/schemas/CustomSymbolAddressDto'
        customFields:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CustomSymbolCustomFieldValueDto'
          example: []
        createdDate:
          type:
          - string
          - 'null'
          example: example_value
        createdBy:
          type:
          - string
          - 'null'
          example: example_value
        standardSymbol:
          type:
          - string
          - 'null'
          example: example_value
        standardSymbolInstrumentData:
          $ref: '#/components/schemas/InstrumentDto'
        isAddressAutoFilled:
          type: boolean
          example: true
        isDescriptionAutoFilled:
          type: boolean
          example: true
      additionalProperties: false
    RecordPreviewDto:
      type: object
      properties:
        noteGuid:
          type:
          - string
          - 'null'
          format: uuid
          example: '500123'
        meetingGuid:
          type:
          - string
          - 'null'
          format: uuid
          example: '500123'
        title:
          type:
          - string
          - 'null'
          example: Example Title
        date:
          type: string
          format: date-time
          example: '2026-01-15T10:30:00Z'
      additionalProperties: false
    CreateCustomSymbolCustomFieldValueDto:
      required:
      - code
      type: object
      properties:
        code:
          type: string
          example: example_value
        textValue:
          type:
          - string
          - 'null'
          example: example_value
        numericValue:
          type:
          - number
          - 'null'
          format: double
          example: 42.5
        dateValue:
          type:
          - string
          - 'null'
          example: example_value
        extendedTextValue:
          type:
          - string
          - 'null'
          example: example_value
        optionValues:
          type:
          - array
          - 'null'
          items:
            type: string
          example: []
        contactIds:
          type:
          - array
          - 'null'
          items:
            type: string
            format: uuid
          example: []
      additionalProperties: false
    InstrumentDto:
      type: object
      properties:
        symbol:
          type:
          - string
          - 'null'
          example: example_value
        tickerRegion:
          type:
          - string
          - 'null'
          example: example_value
        tickerExchange:
          type:
          - string
          - 'null'
          example: example_value
        sedol:
          type:
          - string
          - 'null'
          example: example_value
        cusip:
          type:
          - string
          - 'null'
          example: example_value
        isin:
          type:
          - string
          - 'null'
          example: example_value
        instrumentName:
          type:
          - string
          - 'null'
          example: example_value
        identifiers:
          type:
          - array
          - 'null'
          items:
            type: string
          example: []
      additionalProperties: false
    CustomSymbolSubTypeSummaryDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: abc123
        name:
          type:
          - string
          - 'null'
          example: Example Title
      additionalProperties: false
    StandardSymbolDto:
      required:
      - standardSymbol
      type: object
      properties:
        standardSymbol:
          type: string
          example: example_value
      additionalProperties: false
    CustomSymbolCustomFieldValueDto:
      type: object
      properties:
        code:
          type:
          - string
          - 'null'
          example: example_value
        value:
          type:
          - string
          - 'null'
          example: example_value
        optionValues:
          type:
          - array
          - 'null'
          items:
            type: string
          example: []
        contacts:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CustomSymbolContact'
          example: []
      additionalProperties: false
    CustomSymbolContact:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: abc123
        name:
          type:
          - string
          - 'null'
          example: Example Title
        employerName:
          type:
          - string
          - 'null'
          example: example_value
        roleName:
          type:
          - string
          - 'null'
          example: example_value
        isDeleted:
          type: boolean
          example: true
        irnPersonId:
          type:
          - string
          - 'null'
          example: '500123'
      additionalProperties: false
    CreateStandardSymbolMetadataDto:
      required:
      - standardSymbol
      type: object
      properties:
        standardSymbol:
          maxLength: 255
          minLength: 0
          type: string
          example: example_value
        description:
          type:
          - string
          - 'null'
          example: A sample description.
        typeId:
          type: string
          format: uuid
          example: '500123'
        subTypeId:
          type: string
          format: uuid
          example: '500123'
        googleMapsPlaceId:
          maxLength: 255
          minLength: 0
          type:
          - string
          - 'null'
          example: '500123'
        formattedAddress:
          maxLength: 255
          minLength: 0
          type:
          - string
          - 'null'
          example: example_value
        city:
          maxLength: 50
          minLength: 0
          type:
          - string
          - 'null'
          example: example_value
        stateProvince:
          maxLength: 50
          minLength: 0
          type:
          - string
          - 'null'
          example: example_value
        postalCode:
          maxLength: 10
          minLength: 0
          type:
          - string
          - 'null'
          example: example_value
        country:
          maxLength: 50
          minLength: 0
          type:
          - string
          - 'null'
          example: example_value
        customFieldValues:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CreateCustomSymbolCustomFieldValueDto'
          example: []
      additionalProperties: false
    CreateCustomSymbolDto:
      type: object
      properties:
        code:
          maxLength: 32
          minLength: 0
          type:
          - string
          - 'null'
          example: example_value
        name:
          maxLength: 255
          minLength: 0
          type:
          - string
          - 'null'
          example: Example Title
        description:
          type:
          - string
          - 'null'
          example: A sample description.
        typeId:
          type: string
          format: uuid
          example: '500123'
        subTypeId:
          type: string
          format: uuid
          example: '500123'
        googleMapsPlaceId:
          maxLength: 255
          minLength: 0
          type:
          - string
          - 'null'
          example: '500123'
        formattedAddress:
          maxLength: 255
          minLength: 0
          type:
          - string
          - 'null'
          example: example_value
        city:
          maxLength: 50
          minLength: 0
          type:
          - string
          - 'null'
          example: example_value
        stateProvince:
          maxLength: 50
          minLength: 0
          type:
          - string
          - 'null'
          example: example_value
        postalCode:
          maxLength: 10
          minLength: 0
          type:
          - string
          - 'null'
          example: example_value
        country:
          maxLength: 50
          minLength: 0
          type:
          - string
          - 'null'
          example: example_value
        customFieldValues:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CreateCustomSymbolCustomFieldValueDto'
          example: []
      additionalProperties: false
    CustomSymbolAddressDto:
      type: object
      properties:
        googleMapsPlaceId:
          type:
          - string
          - 'null'
          example: '500123'
        formattedAddress:
          type:
          - string
          - 'null'
          example: example_value
        city:
          type:
          - string
          - 'null'
          example: example_value
        stateProvince:
          type:
          - string
          - 'null'
          example: example_value
        postalCode:
          type:
          - string
          - 'null'
          example: example_value
        country:
          type:
          - string
          - 'null'
          example: example_value
      additionalProperties: false
  securitySchemes:
    basicScheme:
      type: http
      scheme: basic
x-refined-from:
- factset-irn-configuration-api-openapi.yml
- factset-irn-custom-symbols-api-openapi.yml
