openapi: 3.0.3
info:
  title: Factset Analytics Datastore About Estimates API
  description: Allow clients to fetch precalculated Analytics through predeterministic URLs.
  contact:
    name: FactSet Research Systems
    url: https://developer.factset.com/contact
    email: api@factset.com
  license:
    name: Apache License, Version 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  version: 1.0.0
servers:
- url: https://api.factset.com
  description: Production
- url: https://api-sandbox.factset.com
  description: Sandbox
security:
- basicAuth: []
tags:
- name: Estimates
paths:
  /factset-estimates/v2/rolling-consensus:
    get:
      tags:
      - Estimates
      summary: Factset Retrieves Consensus Estimates for a Requested List of Ids and Rolling Fiscal Periods.
      operationId: getRollingConsensus
      description: 'Returns FactSet Estimates consensus data using rolling fiscal dates. <p>The rolling behavior causes fiscal year to automatically roll from one year to the next as the historical perspective date changes. The fiscal period rolls forward as of each period end. This endpoint is optimized to allow the request to simply include a relative fiscal period (e.g. use relativeFiscalStart integer 1 and periodicity ANN for next unreported fiscal year end), and then see what the consensus thought the "next fiscal year" estimates were through time as you "roll" back your perspective dates. This differs from locking down an absolute estimate period such as explicitly stating Fiscal Year 2019. This can be done in the fixed-consensus endpoint.</p>

        '
      parameters:
      - $ref: '#/components/parameters/ids'
      - $ref: '#/components/parameters/metrics'
      - $ref: '#/components/parameters/startDate'
      - $ref: '#/components/parameters/endDate'
      - $ref: '#/components/parameters/frequency'
      - $ref: '#/components/parameters/relativeFiscalStart'
      - $ref: '#/components/parameters/relativeFiscalEnd'
      - $ref: '#/components/parameters/periodicity'
      - $ref: '#/components/parameters/currency'
      responses:
        '200':
          description: Estimate data items
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/consensusResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      tags:
      - Estimates
      summary: Factset Retrieves Consensus Estimates for a Requested List of Ids and Rolling Fiscal Periods
      description: 'Returns FactSet Estimates consensus data using rolling fiscal dates. <p>The rolling behavior causes fiscal year to automatically roll from one year to the next as the historical perspective date changes. The fiscal period rolls forward as of each period end. This endpoint is optimized to allow the request to simply include a relative fiscal period (e.g. use relativeFiscalStart integer 1 and periodicity ANN for next unreported fiscal year end), and then see what the consensus thought the "next fiscal year" estimates were through time as you "roll" back your perspective dates. This differs from locking down an absolute estimate period such as explicitly stating Fiscal Year 2019. This can be done in the fixed-consensus endpoint.</p>

        '
      operationId: getRollingConsensusForList
      requestBody:
        required: true
        description: Request object for Rolling Conensus estimates.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/rollingConsensusRequest'
      responses:
        '200':
          description: Rolling Conensus Estimate data items
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/consensusResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /factset-estimates/v2/fixed-consensus:
    get:
      tags:
      - Estimates
      summary: Factset Retrieves Consensus Estimates for a Requested List of Ids and Fixed Fiscal Periods
      operationId: getFixedConsensus
      description: 'Returns FactSet Estimates consensus data using fixed fiscal dates. For example, if the company''s current unreported year is 12/2020, all data returned by formulas that specify as the period/report basis will be for 12/2005 regardless of what perspective dates (startDate/endDate) are used. The fixed dates are "locked" in time and all estimated values are for that explicit date. If you are requesting that the estimated periods can change with the perspective date, please use the rolling-consensus endpoint.

        '
      parameters:
      - $ref: '#/components/parameters/ids'
      - $ref: '#/components/parameters/metrics'
      - $ref: '#/components/parameters/startDate'
      - $ref: '#/components/parameters/endDate'
      - $ref: '#/components/parameters/frequency'
      - $ref: '#/components/parameters/fiscalPeriodStart'
      - $ref: '#/components/parameters/fiscalPeriodEnd'
      - $ref: '#/components/parameters/periodicity'
      - $ref: '#/components/parameters/currency'
      responses:
        '200':
          description: Consensus Estimate Data Items.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/consensusResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      tags:
      - Estimates
      summary: Factset Consensus Estimates for Fixed Fiscal Periods
      description: 'Returns FactSet Estimates consensus data using fixed fiscal dates. For example, if the company''s current unreported year is 12/2020, all data returned by formulas that specify as the period/report basis will be for 12/2005 regardless of what perspective dates (startDate/endDate) are used. The fixed dates are "locked" in time and all estimated values are for that explicit date. If you are requesting that the estimated periods can change with the perspective date, please use the rolling-consensus endpoint.

        '
      operationId: getFixedConsensusForList
      requestBody:
        required: true
        description: Request object for Estimate Data Items.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/fixedConsensusRequest'
      responses:
        '200':
          description: Estimate data items
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/consensusResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /factset-estimates/v2/rolling-detail:
    get:
      tags:
      - Estimates
      summary: Factset Estimates Detail Data for Rolling Fiscal Periods
      operationId: getRollingDetail
      description: "Updated intraday, the FactSet detail estimates apis provide individual broker-level estimates collected from over 800 sell-side analysts. This database contains 20+ years of broker history across more than 59,000 global companies. Content is provided for \"rolling\" fiscal periods.     \n"
      parameters:
      - $ref: '#/components/parameters/ids'
      - $ref: '#/components/parameters/metrics'
      - $ref: '#/components/parameters/startDate'
      - $ref: '#/components/parameters/endDate'
      - $ref: '#/components/parameters/frequency'
      - $ref: '#/components/parameters/periodicityDetail'
      - $ref: '#/components/parameters/includeAll'
      - $ref: '#/components/parameters/relativeFiscalStart'
      - $ref: '#/components/parameters/relativeFiscalEnd'
      - $ref: '#/components/parameters/currency'
      responses:
        '200':
          description: Estimate data items
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/detailResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      tags:
      - Estimates
      summary: Factset Estimates Detail Data for Rolling Fiscal Periods
      description: 'Updated intraday, the FactSet detail estimates apis provide individual broker-level estimates collected from over 800 sell-side analysts. This database contains 20+ years of broker history across more than 59,000 global companies. Content is provided for "rolling" fiscal periods.

        '
      operationId: getRollingDetailForList
      requestBody:
        required: true
        description: Request object for Estimate Data Items.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/rollingDetailRequest'
      responses:
        '200':
          description: Estimate data items
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/detailResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /factset-estimates/v2/fixed-detail:
    get:
      tags:
      - Estimates
      summary: Factset Estimates Detail Data for Fixed Fiscal Periods
      operationId: getFixedDetail
      description: 'Updated intraday, the FactSet detail estimates apis provide individual broker-level estimates collected from over 800 sell-side analysts. This database contains 20+ years of broker history across more than 59,000 global companies. Content is provided for "fixed" fiscal periods.

        '
      parameters:
      - $ref: '#/components/parameters/ids'
      - $ref: '#/components/parameters/metrics'
      - $ref: '#/components/parameters/startDate'
      - $ref: '#/components/parameters/endDate'
      - $ref: '#/components/parameters/frequency'
      - $ref: '#/components/parameters/periodicityDetail'
      - $ref: '#/components/parameters/includeAll'
      - $ref: '#/components/parameters/fiscalPeriodStart'
      - $ref: '#/components/parameters/fiscalPeriodEnd'
      - $ref: '#/components/parameters/currency'
      responses:
        '200':
          description: Estimate data items
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/detailResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      tags:
      - Estimates
      summary: Factset Estimates Detail Data for Fixed Fiscal Periods
      description: 'Updated intraday, the FactSet detail estimates apis provide individual broker-level estimates collected from over 800 sell-side analysts. This database contains 20+ years of broker history across more than 59,000 global companies. Content is provided for "fixed" fiscal periods.

        '
      operationId: getFixedDetailForList
      requestBody:
        required: true
        description: Request object for Estimate Data Items.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/fixedDetailRequest'
      responses:
        '200':
          description: Estimate data items
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/detailResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /factset-estimates/v2/consensus-ratings:
    get:
      tags:
      - Estimates
      summary: Factset Ratings Consensus Estimates to Fetch Buy, Overweight, Hold, Underweight, and Sell.
      operationId: getConsensusRatings
      description: 'Returns ratings from the FactSet Estimates database for current and historical for an individual security using rolling fiscal dates as of a specific date.

        '
      parameters:
      - $ref: '#/components/parameters/ids'
      - $ref: '#/components/parameters/startDate'
      - $ref: '#/components/parameters/endDate'
      - $ref: '#/components/parameters/frequency'
      responses:
        '200':
          description: Estimate data items
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/consensusRatingsResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      tags:
      - Estimates
      summary: Factset Ratings Consensus Estimates to Fetch Buy, Overweight, Hold, Underweight, and Sell.
      description: 'Returns ratings from the FactSet Estimates database for current and historical for an individual security using rolling fiscal dates as of a specific date.

        '
      operationId: getConsensusRatingsForList
      requestBody:
        required: true
        description: Request object for Estimate Data Items.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/consensusRatingsRequest'
      responses:
        '200':
          description: Estimate data items
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/consensusRatingsResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /factset-estimates/v2/detail-ratings:
    get:
      tags:
      - Estimates
      summary: Factset Broker Detail Estimates to Fetch Buy, Overweight, Hold, Underweight, and Sell.
      operationId: getDetailRatings
      description: 'Retrieves the Broker Level ratings for the requested Id and date range. Ratings include Buy, Hold, Sell, Overweight, and Underweight.

        <p>The `startDate` and `endDate` parameters controls the range of perspective dates. By default, the service will return the range of estimateDates within the latest company''s reporting period. As you expand the date range, additional full historical reporting periods and all ratings estimateDates per broker will be returned.</p>

        '
      parameters:
      - $ref: '#/components/parameters/ids'
      - $ref: '#/components/parameters/startDate'
      - $ref: '#/components/parameters/endDate'
      - $ref: '#/components/parameters/includeAll'
      responses:
        '200':
          description: Estimate Ratings data items
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/detailRatingsResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      tags:
      - Estimates
      summary: Factset Broker Detail Estimates to Fetch Buy, Overweight, Hold, Underweight, and Sell.
      description: 'Retrieves the Broker Level ratings for the requested Id and date range. Ratings include Buy, Hold, Sell, Overweight, and Underweight.

        <p>The `startDate` and `endDate` parameters controls the range of perspective dates. By default, the service will return the range of estimateDates within the latest company''s reporting period. As you expand the date range, additional full historical reporting periods and all ratings estimateDates per broker will be returned.</p>

        '
      operationId: getDetailRatingsForList
      requestBody:
        required: true
        description: Request object for Detail Reatings Data Items.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/detailRatingsRequest'
      responses:
        '200':
          description: Estimate Detail Ratings data items
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/detailRatingsResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /factset-estimates/v2/surprise:
    get:
      tags:
      - Estimates
      summary: Factset Surprise Estimates for Rolling Fiscal Periods
      operationId: getSurprise
      description: 'Returns FactSet Estimates surprise data using rolling fiscal dates.

        '
      parameters:
      - $ref: '#/components/parameters/ids'
      - $ref: '#/components/parameters/metrics'
      - $ref: '#/components/parameters/startDate'
      - $ref: '#/components/parameters/endDate'
      - $ref: '#/components/parameters/frequency'
      - $ref: '#/components/parameters/periodicitySurprise'
      - $ref: '#/components/parameters/statistic'
      - $ref: '#/components/parameters/currency'
      responses:
        '200':
          description: Estimate data items
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/surpriseResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      tags:
      - Estimates
      summary: Factset Surprise Estimates for Rolling Fiscal Periods
      description: 'Returns FactSet Estimates surprise data using rolling fiscal dates.

        '
      operationId: getSurpriseForList
      requestBody:
        required: true
        description: Request object for `Security` prices.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/surpriseRequest'
      responses:
        '200':
          description: Estimate data items
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/surpriseResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /factset-estimates/v2/segments:
    get:
      tags:
      - Estimates
      summary: Factset Retrieves Product & Geographic Segment Estimates for a Requested List of Ids and Fiscal Periods
      operationId: getSegments
      description: "Returns FactSet Estimates Consensus Data for the segments gathered from the Business, Geographical, or Actual Reconciliation (ADJUSTMENT) classifications by using fiscal periods with a reporting frequency. \n"
      parameters:
      - $ref: '#/components/parameters/segmentIds'
      - $ref: '#/components/parameters/segmentType'
      - $ref: '#/components/parameters/metrics'
      - $ref: '#/components/parameters/startDate'
      - $ref: '#/components/parameters/endDate'
      - $ref: '#/components/parameters/relativeFiscalStart'
      - $ref: '#/components/parameters/relativeFiscalEnd'
      - $ref: '#/components/parameters/periodicity'
      - $ref: '#/components/parameters/frequency'
      - $ref: '#/components/parameters/currency'
      responses:
        '200':
          description: Segment Estimate data items
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/segmentsResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      tags:
      - Estimates
      summary: Factset Retrieves Product Segment Estimates for a Requested List of Ids and Fiscal Periods
      description: "Returns FactSet Estimates Data for the segments gathered from the Business, Geographical, or Actual Reconciliation (ADJUSTMENT) classifications by using fiscal periods with a reporting frequency. \n"
      operationId: getSegmentsForList
      requestBody:
        required: true
        description: Request object for Product Segments estimates.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/segmentsRequest'
      responses:
        '200':
          description: Segments Estimate data items
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/segmentsResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /factset-estimates/v2/metrics:
    get:
      summary: Factset Available Estimate Metrics
      operationId: getEstimateMetrics
      tags:
      - Estimates
      description: "Returns list of available Estimate metrics that can be used in the `metrics` parameter of related endpoints.\n**By default, Factset provides Estimated items in millions. For specific metric methodology definitions, reference the `OAurl` response items to launch the available methodology page.** \n"
      parameters:
      - $ref: '#/components/parameters/category'
      - $ref: '#/components/parameters/subcategory'
      responses:
        '200':
          description: Estimate data metric items
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/metricsResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      summary: Factset Available Estimate Metrics or Ratios.
      operationId: getEstimateMetricsForList
      tags:
      - Estimates
      description: "Returns list of available Estimate metrics that can be used in the `metrics` parameter of related endpoints.\n**By default, Factset provides Estimated items in millions. For specific metric methodology definitions, reference the `OAurl` response items to launch the available methodology page.** \n"
      requestBody:
        required: true
        description: Request object for requesting estimates data
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/metricsRequest'
      responses:
        '200':
          description: List of Estimate metric Ids
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/metricsResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /estimates:
    get:
      tags:
      - Estimates
      operationId: getEstimates
      summary: Factset Returns Consensus Analyst Estimates.
      description: 'Retrieves consensus analyst estimates for specified securities and metrics. Consensus estimates are aggregated from a wide base of over 800+ contributors and cover over 19,000 active companies across 90+ countries.


        Common estimate metrics include FF_EST_SALES (estimated sales), FF_EST_EPS (estimated earnings per share), and FF_EST_EBITDA (estimated EBITDA).'
      parameters:
      - $ref: '#/components/parameters/ids_2'
      - $ref: '#/components/parameters/estimateMetrics'
      - $ref: '#/components/parameters/periodicity_2'
      - $ref: '#/components/parameters/fiscalPeriodStart_2'
      - $ref: '#/components/parameters/fiscalPeriodEnd_2'
      - $ref: '#/components/parameters/currency_2'
      responses:
        '200':
          description: Estimate data returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EstimatesResponse'
              examples:
                consensusEstimates:
                  summary: Consensus EPS estimates for AAPL-US
                  value:
                    data:
                    - requestId: AAPL-US
                      fsymId: MH33D6-R
                      metric: FF_EST_EPS
                      periodicity: ANN
                      fiscalPeriod: 0
                      fiscalYear: 2025
                      fiscalEndDate: '2025-09-30'
                      currency: USD
                      estimateCount: 38
                      mean: 7.42
                      median: 7.45
                      high: 7.95
                      low: 6.85
                      standardDeviation: 0.22
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      tags:
      - Estimates
      operationId: postEstimates
      summary: Factset Returns Consensus Analyst Estimates for a List of Identifiers.
      description: Retrieves consensus analyst estimates via POST for large identifier sets. Supports up to 30,000 ids per batch request.
      requestBody:
        required: true
        description: Request object for estimates data
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EstimatesRequest'
      responses:
        '200':
          description: Estimate data returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EstimatesResponse'
        '202':
          $ref: '#/components/responses/BatchAccepted'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /company/estimates/listByInstrument:
    post:
      tags:
      - Estimates
      operationId: post/company/estimates/listByInstrument
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      description: Fiscal year estimates for selected figures of a stock. Data is available only for common shares; instruments such as preferred shares or depository receipts yield an empty result. For the share type, see endpoint `/instrument/category/list` using dataset 23. Data can be retrieved only for the current, the past, and three future fiscal years. For past fiscal years, the estimates are not being replaced by the reported figures. Since a fiscal year and a calendar year do not necessarily match with regard to their start and end dates, the year is derived as the calendar year occupied to a larger extent by the fiscal year, using a June through May fiscal year assignment. That means, fiscal years ending from the 1st of June onwards are assigned to the same calendar year. Dates are interpreted in the timezone of the location of the head office of the company.
      summary: Estimates for selected figures for a stock.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostCompanyEstimatesListByInstrumentRequest'
      responses:
        '200':
          $ref: '#/components/responses/PostCompanyEstimatesListByInstrument200Response'
      parameters: []
components:
  schemas:
    surpriseRequest:
      title: Surprise Request Body
      description: Request object for requesting surprise estimates.
      type: object
      properties:
        ids:
          $ref: '#/components/schemas/ids'
        metrics:
          $ref: '#/components/schemas/metrics'
        startDate:
          $ref: '#/components/schemas/startDate'
        endDate:
          $ref: '#/components/schemas/endDate'
        frequency:
          $ref: '#/components/schemas/frequency'
        periodicity:
          $ref: '#/components/schemas/periodicitySurprise'
        currency:
          $ref: '#/components/schemas/currency'
        statistic:
          $ref: '#/components/schemas/statistic'
      required:
      - ids
      - metrics
    ids:
      type: array
      items:
        type: string
      minItems: 1
      maxItems: 3000
      description: 'The requested list of security identifiers. Accepted ID types include Market Tickers, SEDOL, ISINs, CUSIPs, or FactSet Permanent Ids. * Make Note - id limit of 3000 for defaults, otherwise the service is limited to a 30 second duration. This can be reached when increasing total number of metrics requested and depth of history. *

        '
      example:
      - FDS-US
    BatchStatus:
      type: object
      title: Batch Status
      description: Status information for an asynchronous batch request.
      properties:
        id:
          type: string
          format: uuid
          description: The batch request identifier.
          example: abc123
        startTime:
          type: string
          format: date-time
          description: Time when the batch request started (Eastern Time Zone).
          example: '2026-01-15T10:30:00Z'
        endTime:
          type:
          - string
          - 'null'
          format: date-time
          description: Time when the batch request ended. Null if still processing.
          example: '2026-01-15T10:30:00Z'
        status:
          type: string
          description: Current batch processing status.
          enum:
          - queued
          - executing
          - created
          - failed
          example: queued
        error:
          $ref: '#/components/schemas/BatchError'
    fixedDetailRequest:
      title: Fixed Detail Request Body
      description: Request object for requesting rolling detail estimates.
      type: object
      properties:
        ids:
          $ref: '#/components/schemas/ids'
        metrics:
          $ref: '#/components/schemas/metrics'
        startDate:
          $ref: '#/components/schemas/startDate'
        endDate:
          $ref: '#/components/schemas/endDate'
        frequency:
          $ref: '#/components/schemas/frequency'
        includeAll:
          $ref: '#/components/schemas/includeAll'
        periodicity:
          $ref: '#/components/schemas/periodicityDetail'
        fiscalPeriodStart:
          $ref: '#/components/schemas/fiscalPeriodStart'
        fiscalPeriodEnd:
          $ref: '#/components/schemas/fiscalPeriodStart'
        currency:
          $ref: '#/components/schemas/currency'
      required:
      - ids
      - metrics
    segmentIds:
      type: array
      items:
        type: string
      minItems: 1
      maxItems: 50
      description: 'The requested list of security identifiers. Accepted ID types include Market Tickers, SEDOL, ISINs, CUSIPs, or FactSet Permanent Ids. * Make Note - id limit of 50 for defaults, otherwise the service is limited to a 30 second duration. This can be reached when increasing total number of metrics requested and depth of history. *

        '
      example:
      - FDS-US
    Periodicity:
      type: string
      title: Periodicity
      description: Periodicity or frequency of the fiscal periods. ANN = Annual, QTR = Quarterly, SEMI = Semi-Annual, LTM = Last Twelve Months, YTD = Year-to-date. Suffix _R includes restatements.
      enum:
      - ANN
      - ANN_R
      - QTR
      - QTR_R
      - SEMI
      - SEMI_R
      - LTM
      - LTM_R
      - LTMSG
      - LTM_SEMI
      - YTD
      default: ANN
    currency:
      description: 'Currency code for adjusting the data. Use input as ''ESTIMATE'' for values in Estimate currency. For a list of currency ISO codes, visit [Online Assistant Page #1470](https://oa.apps.factset.com/pages/1470).'
      type: string
      example: USD
    consensusRatings:
      title: Consensus Ratings
      type: object
      properties:
        fsymId:
          type: string
          example: SJY281-R
          nullable: true
        estimateDate:
          description: 'Date of estimate expressed in YYYY-MM-DD format. For more details, visit [Online Assistant Page #16598](https://oa.apps.factset.com/pages/16598)'
          type: string
          format: date
          example: '2017-07-24'
          nullable: true
        buyCount:
          description: The number of Buy ratings taken into account in the calculation of a consensus. This information is shown only for a 100-day consensus.
          type: integer
          example: 5
          nullable: true
        overweightCount:
          description: The number of Overweight ratings taken into account in the calculation of a consensus. This information is shown only for a 100-day consensus.
          type: integer
          example: 1
          nullable: true
        holdCount:
          description: The number of Hold ratings taken into account in the calculation of a consensus. This information is shown only for a 100-day consensus.
          type: integer
          example: 1
          nullable: true
        underweightCount:
          description: The number of Underweight ratings taken into account in the calculation of a consensus. This information is shown only for a 100-day consensus.
          type: integer
          example: 1
          nullable: true
        sellCount:
          description: The number of Sell ratings taken into account in the calculation of a consensus. This information is shown only for a 100-day consensus.
          type: integer
          example: 1
          nullable: true
        ratingsNestTotal:
          description: The total number of ratings taken into account in the calculation of a consensus. This information is shown only for a 100-day consensus.
          type: integer
          example: 1
          nullable: true
        ratingsNote:
          description: 'The mean average of ratings for the fiscal dates indicated, where each underlying rating is given a numerical score and then aggregated to a mean consensus -

            __*Individual Ratings Scores*__

            |Value|Rating Description|

            |||

            |1|Buy|

            |1.5|Overweight|

            |2|Hold|

            |2.5|Underweight|

            |3|Sell|

            '
          type: number
          format: double
          example: 1.85555
          nullable: true
        ratingsNoteText:
          description: "The mean textual rating for the fiscal dates indicated. The text rating is assigned by falling within the below defined ranges - \n__*Textual Ranges for Average*__\n|Value|Rating Description|\n|||\n|< 1.25|Buy|\n|< 1.75|Overweight|\n|< 2.25|Hold|\n|< 2.75|Underweight|\n|<= 3|Sell|\n"
          type: string
          example: Hold
          nullable: true
        requestId:
          description: Identifier that was used for the request.
          type: string
          example: IBM-US
    EstimatesRequest:
      type: object
      title: Estimates Request
      description: Wrapper for consensus estimates request body.
      required:
      - data
      properties:
        data:
          $ref: '#/components/schemas/EstimatesRequestBody'
    periodicitySurprise:
      type: string
      enum:
      - ANN
      - QTR
      - SEMI
      default: ANN
      description: The periodicity for the estimates, reflecting Annual, Semi-Annual and Quarterly Estimates.
    surprise:
      title: Surprise
      type: object
      properties:
        fsymId:
          type: string
          example: SJY281-R
          nullable: true
        date:
          description: Date for data expressed in YYYY-MM-DD format.
          type: string
          format: date
          example: '2017-12-31'
          nullable: true
        currency:
          description: 'Currency code for adjusting the data. Use ''ESTIMATE'' as input value for the values in Estimate Currency. For a list of currency ISO codes, visit [Online Assistant Page #1470](https://oa.apps.factset.com/pages/1470).'
          type: string
          example: USD
          nullable: true
        estimateCurrency:
          description: Estimate currency of the requested Security
          type: string
          example: USD
          nullable: true
        metric:
          description: 'Company''s Financial statement ''metric'' that is estimated. Use the factset-estimates/v#/metrics endpoint for a complete list. For more details, visit [Online Assistant Page #15034](https://oa.apps.factset.com/pages/15034).'
          type: string
          example: SALES
          nullable: true
        statistic:
          description: 'Method of calculation for the consensus ''statistic''. For more details, visit [Online Assistant Page #16598](https://oa.apps.factset.com/pages/16114).'
          type: string
          example: MEAN
          nullable: true
        periodicity:
          description: Company's 'periodicity' for the estimate record, reflecting Annual, Quarterly, or Semi-Annual report periods. Next-twelve-months (NTMA) and Last-twelve-months (LTMA) also supported.
          type: string
          example: ANN
          nullable: true
        fiscalEndDate:
          description: Company's 'fiscal end date' for the estimate record expressed in YYYY-MM-DD format
          type: string
          format: date
          example: '2017-12-31'
          nullable: true
        fiscalYear:
          description: Company's 'fiscal year' for the estimate record
          type: integer
          example: 2018
          nullable: true
        fiscalPeriod:
          description: Company's 'fiscal period' for the estimate record.  'Periodicity' defines context for period.
          type: integer
          example: 4
          nullable: true
        surpriseDate:
          description: 'Date of the reported event expressed in YYYY-MM-DD format. For more details, visit [Online Assistant Page #16601](https://oa.apps.factset.com/pages/16601).'
          type: string
          format: date
          example: '2017-02-24'
          nullable: true
        surpriseAmount:
          description: 'Amount of difference between last consensus and actual. For more details, visit [Online Assistant Page #16145](https://oa.apps.factset.com/pages/16145).'
          type: number
          format: double
          example: 0.07951
          nullable: true
        surprisePercent:
          description: 'Percent difference between last consensus and actual. For more details, visit [Online Assistant Page #16145](https://oa.apps.factset.com/pages/16145).'
          type: number
          format: double
          example: 6.16
          nullable: true
        surpriseBefore:
          description: 'Last consensus before event. For more details, visit [Online Assistant Page #16145](https://oa.apps.factset.com/pages/16145).'
          type: number
          format: double
          example: 1.2905
          nullable: true
        surpriseAfter:
          description: 'Actual value after event. For more details, visit [Online Assistant Page #16145](https://oa.apps.factset.com/pages/16145).'
          type: number
          format: double
          example: 1.3653
          nullable: true
        eventDescription:
          description: 'Description of event. For more details, visit [Online Assistant Page #16601](https://oa.apps.factset.com/pages/16601).'
          type: string
          example: Results for 2016
          nullable: true
        eventFlag:
          description: 'Flag for event. Code of Event Flag, where 0 = results and 1 = profit warning. For more details, visit [Online Assistant Page #16601](https://oa.apps.factset.com/pages/16601).'
          type: integer
          example: 0
          nullable: true
        requestId:
          type: string
          example: IBM-US
    segmentsResponse:
      type: object
      title: Segments Response
      properties:
        data:
          description: Array of Segments objects
          type: array
          items:
            $ref: '#/components/schemas/segmentsEstimate'
          example: []
    metrics:
      type: array
      items:
        type: string
      description: 'Requested metrics. Use the metrics endpoint for a list of estimate items. Note, the number of metrics you are allowed to supply is limited to 1 for now. For more details, visit [Online Assistant Page #15034](https://oa.apps.factset.com/pages/15034).'
      example:
      - SALES
      minItems: 1
    detailRatingsResponse:
      type: object
      title: Detail Ratings Response
      properties:
        data:
          description: Array of detail ratings estimate objects
          type: array
          items:
            $ref: '#/components/schemas/detailRatings'
          example: []
    StatusObject:
      type: object
      properties:
        code:
          type: number
          format: int32
          description: The HTTP status code of the response, mirroring the code from the Status-Line of the HTTP response message (see [RFC2616] section 6.1).
      description: The status member contains the status code of the response.
      required:
      - code
    relativeFiscalStart:
      type: integer
      description: Relative fiscal period, expressed as an integer, used to filter results.
      example: 1
    relativeFiscalEnd:
      type: integer
      description: Relative fiscal period, expressed as an integer, used to filter results.
      example: 3
    includeAll:
      type: boolean
      default: false
      example: false
      description: "Include All filter is used to identify included and excluded broker details from the consensus\n  By default the service would return only the brokers included in the consensus-\n  * **TRUE** = Returns all the brokers included and excluded in the consensus\n  * **FALSE** = Returns only the broker details included in the consensus\n"
    BatchStatusResponse:
      type: object
      title: Batch Status Response
      description: Wrapper for batch request status.
      properties:
        data:
          $ref: '#/components/schemas/BatchStatus'
    detailEstimate:
      title: Detail
      type: object
      properties:
        fsymId:
          type: string
          example: SJY281-R
          nullable: true
        metric:
          description: 'Company''s Financial statement ''metric'' that is estimated. Use the factset-estimates/v#/metrics endpoint for a complete list. For more details, visit [Online Assistant Page #15034](https://oa.apps.factset.com/pages/15034).'
          type: string
          example: SALES
          nullable: true
        periodicity:
          description: Company's 'periodicity' for the estimate record, reflecting Annual, Quarterly, or Semi-Annual report periods.
          type: string
          example: ANN
          nullable: true
        fiscalYear:
          description: Company's 'fiscal year' for the estimate record
          type: integer
          example: 2018
          nullable: true
        fiscalPeriod:
          description: Company's 'fiscal period' for the estimate record.  'Periodicity' defines context for period.
          type: integer
          example: 4
          nullable: true
        fiscalEndDate:
          description: Company's 'fiscal end date' for the estimate record expressed in YYYY-MM-DD format
          type: string
          format: date
          example: '2017-12-31'
          nullable: true
        relativePeriod:
          description: '''Fiscal period'' based on relationship to ''estimate date''. This is not applicable for fixed-consensus endpoint. For more details, visit [Online Assistant Page #16598](https://oa.apps.factset.com/pages/16598)'
          type: integer
          example: 2
          nullable: true
        currency:
          description: 'Currency code for adjusting the data. Use ''ESTIMATE'' as input value for the values in Estimate Currency. For a list of currency ISO codes, visit [Online Assistant Page #1470](https://oa.apps.factset.com/pages/1470).'
          type: string
          example: USD
          nullable: true
        estimateDate:
          description: 'Date of estimate expressed in YYYY-MM-DD format. For more details, visit [Online Assistant Page #16598](https://oa.apps.factset.com/pages/16598)'
          type: string
          format: date
          example: '2017-07-24'
          nullable: true
        estimateValue:
          description: The value of the estimate.
          type: number
          format: double
          example: 23456
          nullable: true
        analystId:
          description: The FactSet Entity Identifier for the analyst making the estimate.
          type: string
          example: 0DXTST-E
          nullable: true
        analystName:
          description: The name of the analyst making the estimate.
          type: string
          example: Josh Baer
          nullable: true
        brokerId:
          description: The FactSet Entity Identifier for the broker making the estimate.
          type: string
          example: 05FBK7-E
          nullable: true
        brokerName:
          description: The name of the broker making the estimate.
          type: string
          example: Morgan Stanley
          nullable: true
        lastModifiedDate:
          description: The date at which a broker provided an estimate that is a revision.
          type: string
          format: date
          example: '2017-07-24'
          nullable: true
        prevEstimateDate:
          description: 'Date the previous estimate was made expressed in YYYY-MM-DD format. For more details, visit [Online Assistant Page #16598](https://oa.apps.factset.com/pages/16598)'
          type: string
          format: date
          example: '2017-05-02'
          nullable: true
        prevEstimateValue:
          description: The value of the previous estimate.
          type: number
          format: double
          example: 22336
          nullable: true
        section:
          description: Section of the estimate.Returns the details of brokers inlcuded and excluded in the consensus
          type: string
          example: Included
          nullable: true
        statusCode:
          description: Status code of the estimate.
          type: integer
          example: 0
          nullable: true
        statusText:
          description: Status description of the estimate.
          type: string
          example: ''
          nullable: true
        requestId:
          description: Identifier that was used for the request.
          type: string
          example: IBM-US
        inputDateTime:
          description: Date and time when the data is available at the source.
          type: string
          format: string
          example: '2022-10-25T22:40:09'
          nullable: true
        securityCurrency:
          description: The currency that the company trades in.
          type: string
          example: USD
          nullable: true
        brokerEstimateCurrency:
          description: The currency in which estimates are made by broker.
          type: string
          example: USD
          nullable: true
        estimateCurrency:
          description: Estimate currency of the requested Security
          type: string
          example: USD
          nullable: true
    SecurityIds:
      type: array
      title: Security Identifiers
      description: List of security identifiers. Accepted types include Market Tickers, SEDOL, ISINs, CUSIPs, or FactSet Permanent Ids. Limit of 1,000 per non-batch request / 30,000 per batch request.
      items:
        type: string
      minItems: 1
      maxItems: 30000
      examples:
      - - FDS-US
      - - FDS-US
        - AAPL-US
        - MSFT-US
    MetricsList:
      type: array
      title: Metrics List
      description: List of fundamental metric identifiers. Use the /metrics endpoint for a complete catalog of available items.
      items:
        type: string
      minItems: 1
      maxItems: 1600
      examples:
      - - FF_SALES
      - - FF_SALES
        - FF_EPS
        - FF_PE
    frequency:
      type: string
      enum:
      - D
      - W
      - AM
      - AQ
      - AY
      default: D
      description: "Controls the display frequency of the data returned.\n  * **D** = Daily\n  * **W** = Weekly, based on the last day of the week of the start date.\n  * **AM** = Monthly, based on the start date (e.g., if the start date is June 16, data is displayed for June 16, May 16, April 16 etc.). \n  * **AQ** = Quarterly, based on the start date.\n  * **AY** = Actual Annual, based on the start date.\n"
      example: AM
    consensusEstimate:
      title: Consensus Estimate
      type: object
      properties:
        requestId:
          description: Identifier that was used for the request.
          type: string
          example: IBM-US
        fsymId:
          description: Factset Regional Security Identifier. Six alpha-numeric characters, excluding vowels, with an -R suffix (XXXXXX-R). Identifies the security's best regional security data series per currency. For equities, all primary listings per region and currency are allocated a regional-level permanent identifier. The regional-level permanent identifier will be available once a SEDOL representing the region/currency has been allocated and the identifiers are on FactSet.
          type: string
          example: SJY281-R
          nullable: true
        metric:
          description: 'Company''s Financial statement ''metric'' that is estimated. Use the factset-estimates/v#/metrics endpoint for a complete list. For more details, visit [Online Assistant Page #15034](https://oa.apps.factset.com/pages/15034)'
          type: string
          example: SALES
          nullable: true
        periodicity:
          description: The reporting interval for the estimate. This is derived from Estimate Date and is translated to the Period List = ANN, QTR, SEMI, LTMA, or NMTA.
          type: string
          example: ANN
          nullable: true
        fiscalPeriod:
          description: 'Company''s ''fiscal period'' for the estimate record. Periods for periodicity of ANN = 1, and SEMI = 2. For more details, visit [Online Assistant Page #16598](https://oa.apps.factset.com/pages/16598).'
          type: integer
          example: 4
          nullable: true
        fiscalYear:
          description: 'Company''s ''fiscal year'' for the estimate record. For more details, visit [Online Assistant Page #16598](https://oa.apps.factset.com/pages/16598)'
          type: integer
          example: 2018
          nullable: true
        fiscalEndDate:
          description: 'Company''s ''fiscal end date'' for the estimate record expressed in YYYY-MM-DD format. For more details, visit [Online Assistant Page #16598](https://oa.apps.factset.com/pages/16598)'
          type: string
          format: date
          example: '2017-12-31'
          nullable: true
        relativePeriod:
          description: '''Fiscal period'' based on relationship to ''estimate date''. This is not applicable for fixed-consensus endpoint. For more details, visit [Online Assistant Page #16598](https://oa.apps.factset.com/pages/16598)'
          type: integer
          example: 2
          nullable: true
        estimateDate:
          description: 'Date of estimate expressed in YYYY-MM-DD format. For more details, visit [Online Assistant Page #16598](https://oa.apps.factset.com/pages/16598)'
          type: string
          format: date
          example: '2017-07-24'
          nullable: true
        currency:
          description: 'Currency code for adjusting the data. Use ''ESTIMATE'' as input value for the values in Estimate Currency. For a list of currency ISO codes, visit [Online Assistant Page #1470](https://oa.apps.factset.com/pages/1470).'
          type: string
          example: USD
          nullable: true
        estimateCurrency:
          description: Estimate currency of the requested Security
          type: string
          example: USD
          nullable: true
        mean:
          description: 'Mean of estimates in consensus calculation. For more details, visit [Online Assistant Page #16598](https://oa.apps.factset.com/pages/16114)'
          type: number
          format: double
          example: 12345.01
          nullable: true
        median:
          description: 'Median of estimates in consensus calculation. For more details, visit [Online Assistant Page #16598](https://oa.apps.factset.com/pages/16114)'
          type: number
          format: double
          example: 12346.01
          nullable: true
        standardDeviation:
          description: 'Standard deviation of estimates in consensus calculation. For more details, visit [Online Assistant Page #16598](https://oa.apps.factset.com/pages/16114)'
          type: number
          format: double
          example: 0.011034
          nullable: true
        high:
          description: 'Highest estimate in consensus calculation. For more details, visit [Online Assistant Page #16598](https://oa.apps.factset.com/pages/16114).'
          type: number
          format: double
          example: 12349.01
          nullable: true
        low:
          description: 'Lowest estimate in consensus calculation. For more details, visit [Online Assistant Page #16598](https://oa.apps.factset.com/pages/16114)'
          type: number
          format: double
          example: 12344.01
          nullable: true
        estimateCount:
          description: 'Count or NEST of estimates in consensus calculation. For more details, visit [Online Assistant Page #16598](https://oa.apps.factset.com/pages/16114)'
          type: integer
          example: 20
          nullable: true
        up:
          description: 'Number of Up Revisions within the consensus for the metric and period. The default window size is 100 days For more details, visit [Online Assistant Page #16598](https://oa.apps.factset.com/pages/16114).'
          type: integer
          example: 6
          nullable: true
        down:
          description: 'Number of Up Revisions within the consensus for the metric and period. The default window size is 100 days. For more details, visit [Online Assistant Page #16598](https://oa.apps.factset.com/pages/16114).'
          type: integer
          example: 4
          nullable: true
    EstimatesRequestBody:
      type: object
      title: Estimates Request Body
      description: Request parameters for consensus estimates data.
      required:
      - ids
      - metrics
      properties:
        ids:
          $ref: '#/components/schemas/SecurityIds'
        metrics:
          $ref: '#/components/schemas/MetricsList'
        periodicity:
          $ref: '#/components/schemas/Periodicity'
        fiscalPeriod:
          $ref: '#/components/schemas/FiscalPeriod'
        currency:
          $ref: '#/components/schemas/Currency'
        batch:
          $ref: '#/components/schemas/BatchFlag'
    EstimatesResponse:
      type: object
      title: Estimates Response
      description: Response wrapper containing an array of consensus estimate data items.
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Estimate'
          example: []
    endDate:
      type: string
      description: 'The end date requested for a given date range in **YYYY-MM-DD** format. If left blank, the API will default to previous close. Future dates (T+1) are not accepted in this endpoint.

        '
      example: '2019-12-31'
    segmentsEstimate:
      title: Segments Estimate
      type: object
      properties:
        requestId:
          description: Identifier that was used for the request.
          type: string
          example: AAPL
        fsymId:
          description: Factset Regional Security Identifier. Six alpha-numeric characters, excluding vowels, with an -R suffix (XXXXXX-R). Identifies the securitys best regional security data series per currency. For equities, all primary listings per region and currency are allocated a regional-level permanent identifier. The regional-level permanent identifier will be available once a SEDOL representing the region/currency has been allocated and the identifiers are on FactSet.
          type: string
          example: SJY281-R
          nullable: true
        segmentType:
          description: Segment selected
          type: string
          example: BUS
          nullable: true
        metric:
          description: 'Company''s Financial statement ''metric'' that is estimated. Use the factset-estimates/v#/metrics endpoint for a complete list. For more details, visit [Online Assistant Page #15034](https://oa.apps.factset.com/pages/15034)'
          type: string
          example: SALES
          nullable: true
        fiscalPeriod:
          description: 'Company''s ''fiscal period'' for the estimate record. Periods for periodicity of ANN = 1, and SEMI = 2. For more details, visit [Online Assistant Page #16598](https://oa.apps.factset.com/pages/16598).'
          type: integer
          example: 1
          nullable: true
        fiscalYear:
          description: 'Company''s ''fiscal year'' for the estimate record. For more details, visit [Online Assistant Page #16598](https://oa.apps.factset.com/pages/16598)'
          type: integer
          example: 2018
          nullable: true
        segmentLabel:
          description: Displays the specific label of the segment.
          type: string
          example: iPhone
          nullable: true
        segmentLevel:
          description: Returns the level of the segment item as either P = Parent or S = Subordinate
          type: string
          example: S
          nullable: true
        fiscalEndDate:
          description: 'Company''s ''fiscal end date'' for the estimate record expressed in YYYY-MM-DD format. For more details, visit [Online Assistant Page #16598](https://oa.apps.factset.com/pages/16598)'
          type: string
          format: date
          example: '2021-09-30'
          nullable: true
        estimateDate:
          description: The date the estimates are as of in YYYY-MM-DD format.
          type: string
          format: date
          example: '2021-07-01'
          nullable: true
        currency:
          description: 'Currency used estimates in consensus calculations. Use ''ESTIMATE'' as input for values in Estimate Currency. For a list of currency ISO codes, visit [Online Assistant Page #1470](https://oa.apps.factset.com/pages/1470).'
          type: string
          example: USD
          nullable: true
        estimateCurrency:
          description: Estimate currency of the requested Security
          type: string
          example: USD
          nullable: true
        mean:
          description: 'Mean of estimates in consensus calculation. For more details, visit [Online Assistant Page #16598](https://oa.apps.factset.com/pages/16114)'
          type: number
          format: double
          example: 12345.01
          nullable: true
        median:
          description: 'Median of estimates in consensus calculation. For more details, visit [Online Assistant Page #16598](https://oa.apps.factset.com/pages/16114)'
          type: number
          format: double
          example: 12346.01
          nullable: true
        standardDeviation:
          description: 'Standard deviation of estimates in consensus calculation. For more details, visit [Online Assistant Page #16598](https://oa.apps.factset.com/pages/16114)'
          type: number
          format: double
          example: 0.011034
          nullable: true
        high:
          description: 'Highest estimate in consensus calculation. For more details, visit [Online Assistant Page #16598](https://oa.apps.factset.com/pages/16114).'
          type: number
          format: double
          example: 12349.01
          nullable: true
        low:
          description: 'Lowest estimate in consensus calculation. For more details, visit [Online Assistant Page #16598](https://oa.apps.factset.com/pages/16114)'
          type: number
          format: double
          example: 12344.01
          nullable: true
        estimateCount:
          description: 'Count or NEST of estimates in consensus calculation. For more details, visit [Online Assistant Page #16598](https://oa.apps.factset.com/pages/16114)'
          type: integer
          example: 20
          nullable: true
        up:
          description: 'Number of Up Revisions within the consensus for the metric and period. The default window size is 100 days For more details, visit [Online Assistant Page #16598](https://oa.apps.factset.com/pages/16114).'
          type: integer
          example: 6
          nullable: true
        down:
          description: 'Number of Up Revisions within the consensus for the metric and period. The default window size is 100 days. For more details, visit [Online Assistant Page #16598](https://oa.apps.factset.com/pages/16114).'
          type: integer
          example: 4
          nullable: true
    subcategory:
      type: string
      example: AIRLINES
      enum:
      - AIRLINES
      - BALANCE_SHEET
      - BANKS
      - CASH_FLOW
      - COMMODITIES
      - COMPUTER_HARDWARE
      - CONSUMER_SERVICES
      - EDUCATION
      - FINANCIAL_SERVICE_PROVIDER
      - HOME_BUILDERS
      - HOSPITALS
      - HOTELS
      - INCOME_STATEMENT
      - INSURANCE
      - MARIJUANA
      - MINING
      - MISCELLANEOUS
      - MULTIFINANCIAL
      - OIL_AND_GAS
      - OTHER
      - REITS
      - RESTAURANTS
      - RETAILERS
      - TELECOMMUNICATIONS
      - TRANSPORTATION
      description: "Sub-Category Filter for the Primary Category Requested. Choose a related sub-category for the Category requested. For methodology, visit [OA 16038](https://my.apps.factset.com/oa/pages/16038) <p>Financial Statement - \n  * **BALANCE_SHEET** - Balance Sheet line items, such as Assets, Long-term Debt, and more.\n  * **CASH_FLOW** - Cash Flow Statement line items, such as Free Cash Flow and Share Repurchases\n  * **INCOME_STATEMENT** - Income Statement line items, such as EPS, Sales, DPS, and more.\n  * **MISCELLANEOUS** - EPS Long Term Growth\n</p> <p> Industry Metrics - \n\n  * **AIRLINES** - Including items such as Revenue Passenger, Total Revenue per ASK, Available Seats, and more.\n  * **BANKS** - Including items such as Net Interest Income, Trading Income, Net Loans, and more. SUPPLEMENTAL\n  * **COMMODITIES** - Including items such as Average Target Price.\n  * **COMPUTER_HARDWARE** - Including items such as Total Addressable Market.\n  * **CONSUMER_SERVICES** - Including items such as Gross Merchandise Volume\n  * **EDUCATION** - Including Items such as Total Student Enrollment\n  * **FINANCIAL_SERVICE_PROVIDER** - Including items such as Annual Subscription Value\n  * **HOME_BUILDERS** - Including items such as Home Sales, Land Sales, Cancellation Rates, and more.\n  * **HOSPITALS** - Including items such as Bad Debt Provisions, Medical Cost Ratio, SS Admissions and more.\n  * **HOTELS** - Including items such as Average Daily Rate, Occupancy %, RevPAR, and more.\n  * **INSURANCE** - Including items such as Gross Premiums Written, Underwriting Income, and Claims.\n  * **HOSPITALS** - Including items such as Bad Debt Provisions, Medical Cost Ratio, SS Admissions and more.\n  * **HOTELS** - Including items such as Average Daily Rate, Occupancy %, RevPAR, and more.\n  * **INSURANCE** - Including items such as Gross Premiums Written, Underwriting Income, and Claims.\n  * **MARIJUANA** - Including items such as Cost per Gram and Kg of Cannabis Sold.\n  * **MINING** - Including items such as Realized Price and Total Production\n  * **MULTIFINANCIAL** - Including items such as AUM, Net Flows, and Fee Related Earnings.\n  * **OIL_AND_GAS** - Including items such as Downstream Income, Production per Day, and Exploration Expense.\n  * **OTHER** - Target Price\n  * **REITS** - Including items such as Funds from Operations, Implied Cap Rate, and LTV.\n  * **RESTAURANTS** - Including items such as Restaurant Margin.\n  * **RETAILERS** - Including items such as Stores Information, Selling Space and Net sales per square foot.\n  * **TELECOMMUNICATIONS** - Including items such as Gross Adds, Monthly Revenue Per User, Churn, and more.\n  * **TRANSPORTATION** - Including items such as Revenue Per Unit, Volume Growth, and Operating Ratio.</p>\n"
    AttributesMember:
      type: array
      description: Limit the attributes returned in the response to the specified set.
      items:
        type: string
        maxLength: 100
        exclusiveMaximum: false
      maxItems: 50
      uniqueItems: true
    consensusRatingsRequest:
      title: Consensus Ratings Request Body
      description: Request object for requesting consensus ratings estimates.
      type: object
      properties:
        ids:
          $ref: '#/components/schemas/ids'
        startDate:
          $ref: '#/components/schemas/startDate'
        endDate:
          $ref: '#/components/schemas/endDate'
        frequency:
          $ref: '#/components/schemas/frequency'
      required:
      - ids
    Error:
      type: object
      title: Error
      description: A single error detail object.
      properties:
        id:
          type: string
          description: A UUID for this particular occurrence of the problem.
          examples:
          - adb01824-252f-4420-b0c6-35a1e3507ef5
        code:
          type: string
          description: Error status code description.
          examples:
          - Bad Request
        title:
          type: string
          description: The plain text error message.
          examples:
          - Validation Error
        links:
          type: object
          description: The endpoint path for reference.
          properties:
            about:
              type: string
              description: API path that generated the error.
              examples:
              - /factset-fundamentals/v2/fundamentals
          example: example_value
    periodicity:
      type: string
      enum:
      - ANN
      - QTR
      - SEMI
      - LTMA
      - NTMA
      default: ANN
      description: The periodicity for the estimates, reflecting Annual, Semi-Annual and Quarterly Estimates. Next-twelve-months (NTMA) and Last-twelve-months (LTMA) also supported.
    detailResponse:
      type: object
      title: Detail Response
      properties:
        data:
          description: Array of consensus estimate objects
          type: array
          items:
            $ref: '#/components/schemas/detailEstimate'
          example: []
    fiscalPeriodEnd:
      type: string
      description: "Fiscal period end expressed in absolute date formats. Date that will fall back to most recent completed period during resolution.\n  * **Month-end** - MM/YYYY (e.g., 11/2019)\n  * **Fiscal Quarter-end** - YYYY/FQ (e.g., 2019/1F, 2019/2F, 2019/3F, 2019/4F)\n  * **Semiannual Period-end** - YYYY/FSA (e.g., 2019/1S, 2019/2S)\n  * **Fiscal Year-end** - YYYY (e.g. 2019)\n"
      example: '2020'
    Estimate:
      type: object
      title: Estimate
      description: A single consensus estimate data point aggregating analyst projections for a security, metric, and fiscal period.
      properties:
        requestId:
          type: string
          description: Identifier that was used for the request.
          examples:
          - AAPL-US
        fsymId:
          type:
          - string
          - 'null'
          description: FactSet Regional Security Identifier.
          examples:
          - MH33D6-R
        metric:
          type:
          - string
          - 'null'
          description: The estimate metric identifier.
          examples:
          - FF_EST_EPS
        periodicity:
          type:
          - string
          - 'null'
          description: Periodicity of the fiscal period.
          examples:
          - ANN
        fiscalPeriod:
          type:
          - integer
          - 'null'
          description: Fiscal period indicator.
          examples:
          - 0
        fiscalYear:
          type:
          - integer
          - 'null'
          description: Fiscal year in YYYY format.
          examples:
          - 2025
        fiscalEndDate:
          type:
          - string
          - 'null'
          format: date
          description: The date the fiscal period ends.
          examples:
          - '2025-09-30'
        currency:
          type:
          - string
          - 'null'
          description: ISO 4217 currency code.
          examples:
          - USD
        estimateCount:
          type:
          - integer
          - 'null'
          description: Number of analyst estimates included in the consensus.
          examples:
          - 38
        mean:
          type:
          - number
          - 'null'
          format: double
          description: Mean (average) of analyst estimates.
          examples:
          - 7.42
        median:
          type:
          - number
          - 'null'
          format: double
          description: Median of analyst estimates.
          examples:
          - 7.45
        high:
          type:
          - number
          - 'null'
          format: double
          description: Highest analyst estimate.
          examples:
          - 7.95
        low:
          type:
          - number
          - 'null'
          format: double
          description: Lowest analyst estimate.
          examples:
          - 6.85
        standardDeviation:
          type:
          - number
          - 'null'
          format: double
          description: Standard deviation of analyst estimates.
          examples:
          - 0.22
    startDate:
      type: string
      description: 'The start date requested for a given date range in **YYYY-MM-DD** format. If left blank, the API will default to previous close. Future dates (T+1) are not accepted in this #endpoint.

        '
      example: '2019-01-01'
    fiscalPeriodStart:
      type: string
      description: "Fiscal period start expressed in absolute date formats. Date that will fall back to most recent completed period during resolution.\n  * **Fiscal Quarter-end** - YYYY/FQ (e.g., 2019/1F, 2019/2F, 2019/3F, 2019/4F)\n  * **Semiannual Period-end** - YYYY/FSA (e.g., 2019/1S, 2019/2S)\n  * **Fiscal Year-end** - YYYY (e.g. 2019)\n"
      example: '2019'
    BatchError:
      type:
      - object
      - 'null'
      title: Batch Error
      description: Error information for a failed batch request.
      properties:
        id:
          type: string
          description: A UUID for this particular occurrence of the problem.
          example: abc123
        code:
          type: string
          description: Error code.
          example: example_value
        title:
          type: string
          description: The plain text error message.
          example: Example Title
    category:
      type: string
      enum:
      - FINANCIAL_STATEMENT
      - INDUSTRY_METRIC
      - OTHER
      example: INDUSTRY_METRIC
      description: "Filters the list of Estimate metrics by major category -\n  * **FINANCIAL_STATEMENT** = Includes Balance Sheet, Cash Flow, and Income Statement.\n  * **INDUSTRY_METRICS** = Industry specific metrics.\n  * **OTHER** = Target Price\n"
    segmentsRequest:
      title: Segments Request Body
      description: Request object for requesting segments estimates.
      type: object
      properties:
        ids:
          $ref: '#/components/schemas/segmentIds'
        startDate:
          $ref: '#/components/schemas/startDate'
        endDate:
          $ref: '#/components/schemas/endDate'
        relativeFiscalStart:
          $ref: '#/components/schemas/relativeFiscalStart'
        relativeFiscalEnd:
          $ref: '#/components/schemas/relativeFiscalEnd'
        periodicity:
          $ref: '#/components/schemas/periodicity'
        frequency:
          $ref: '#/components/schemas/frequency'
        segmentType:
          $ref: '#/components/schemas/segmentType'
        metrics:
          $ref: '#/components/schemas/metrics'
        currency:
          $ref: '#/components/schemas/currency'
      required:
      - ids
      - metrics
    rollingConsensusRequest:
      title: Rolling Consensus Request Body
      description: Request object for requesting rolling consensus estimates.
      type: object
      properties:
        ids:
          $ref: '#/components/schemas/ids'
        metrics:
          $ref: '#/components/schemas/metrics'
        startDate:
          $ref: '#/components/schemas/startDate'
        endDate:
          $ref: '#/components/schemas/endDate'
        frequency:
          $ref: '#/components/schemas/frequency'
        relativeFiscalStart:
          $ref: '#/components/schemas/relativeFiscalStart'
        relativeFiscalEnd:
          $ref: '#/components/schemas/relativeFiscalEnd'
        periodicity:
          $ref: '#/components/schemas/periodicity'
        currency:
          $ref: '#/components/schemas/currency'
      required:
      - ids
      - metrics
    rollingDetailRequest:
      title: Rolling Detail Request Body
      description: Request object for requesting rolling detail estimates.
      type: object
      properties:
        ids:
          $ref: '#/components/schemas/ids'
        startDate:
          $ref: '#/components/schemas/startDate'
        endDate:
          $ref: '#/components/schemas/endDate'
        frequency:
          $ref: '#/components/schemas/frequency'
        includeAll:
          $ref: '#/components/schemas/includeAll'
        relativeFiscalStart:
          $ref: '#/components/schemas/relativeFiscalStart'
        relativeFiscalEnd:
          $ref: '#/components/schemas/relativeFiscalEnd'
        periodicity:
          $ref: '#/components/schemas/periodicityDetail'
        metrics:
          $ref: '#/components/schemas/metrics'
        currency:
          $ref: '#/components/schemas/currency'
      required:
      - ids
      - metrics
    consensusResponse:
      type: object
      title: Consensus Response
      properties:
        data:
          description: Array of consensus estimate objects
          type: array
          items:
            $ref: '#/components/schemas/consensusEstimate'
          example: []
    periodicityDetail:
      type: string
      enum:
      - ANN
      - QTR
      - SEMI
      default: ANN
      description: The periodicity for the estimates, reflecting Annual, Semi-Annual and Quarterly Estimates.
    fixedConsensusRequest:
      title: Fixed Consensus Request Body
      description: Request object for requesting fixed consensus estimates.
      type: object
      properties:
        ids:
          $ref: '#/components/schemas/ids'
        metrics:
          $ref: '#/components/schemas/metrics'
        startDate:
          $ref: '#/components/schemas/startDate'
        endDate:
          $ref: '#/components/schemas/endDate'
        frequency:
          $ref: '#/components/schemas/frequency'
        fiscalPeriodStart:
          $ref: '#/components/schemas/fiscalPeriodStart'
        fiscalPeriodEnd:
          $ref: '#/components/schemas/fiscalPeriodEnd'
        periodicity:
          $ref: '#/components/schemas/periodicity'
        currency:
          $ref: '#/components/schemas/currency'
      required:
      - ids
      - metrics
    ErrorResponse:
      type: object
      title: Error Response
      description: Standard error response wrapper.
      properties:
        errors:
          type: array
          description: An array containing error details.
          items:
            $ref: '#/components/schemas/Error'
          example: []
    FiscalPeriod:
      type: object
      title: Fiscal Period
      description: Fiscal period date range specification. Calendar dates that will fall back to the most recently completed period during resolution.
      properties:
        start:
          type: string
          format: date
          description: The fiscal period start expressed as YYYY-MM-DD.
          examples:
          - '2023-01-01'
        end:
          type: string
          format: date
          description: The fiscal period end expressed as YYYY-MM-DD.
          examples:
          - '2024-01-01'
    PostCompanyEstimatesListByInstrumentRequest:
      type: object
      properties:
        data:
          type: object
          x-property-sort:
          - id
          - fiscalYears
          - currency
          description: The data member contains the request's primary data.
          properties:
            id:
              type: string
              format: id64
              x-positive: true
              description: Identifier of the instrument
            fiscalYears:
              type: object
              x-property-sort:
              - start
              - end
              description: The response includes data items from the fiscal year specified as start (inclusive) up to the fiscal year specified as end (inclusive). The attribute `start` must be less than or equal to the attribute `end`.
              properties:
                start:
                  type: number
                  format: int32
                  description: Only include data items for a fiscal year greater than or equal to the one specified. Must be greater than or equal to one year in the past. If omitted, the response includes data from one year in the past up to the year specified as `end`.
                end:
                  type: number
                  format: int32
                  description: Only include data items for a fiscal year earlier than or equal to the one specified. Must be less than or equal to three years in the future. If omitted, the response includes data from the year specified as `start` up to three years in the future.
            currency:
              type: object
              x-property-sort:
              - isoCode
              description: Main currency into which the estimated figures representing a monetary value are converted.
              properties:
                isoCode:
                  type: string
                  description: ISO 4217 code of the currency.
                  x-enum-description:
                  - Euro
                  - US Dollar
                  - British Pound Sterling
                  - Swiss Franc
                  enum:
                  - EUR
                  - USD
                  - GBP
                  - CHF
              required:
              - isoCode
          required:
          - id
          - currency
        meta:
          type: object
          description: The meta member contains the meta information of the request.
          properties:
            attributes:
              $ref: '#/components/schemas/AttributesMember'
          x-property-sort:
          - attributes
    detailRatingsRequest:
      title: Detail Ratings Request Body
      description: Request object for requesting detail ratings estimates.
      type: object
      properties:
        ids:
          $ref: '#/components/schemas/ids'
        startDate:
          $ref: '#/components/schemas/startDate'
        endDate:
          $ref: '#/components/schemas/endDate'
        includeAll:
          $ref: '#/components/schemas/includeAll'
      required:
      - ids
    metric:
      title: Metric Object
      type: object
      properties:
        metric:
          description: Metric identifier to be used as `metrics` input in the FactSet Estimate endpoints.
          type: string
          example: ASSETS
          nullable: true
        name:
          description: Plain text name of the metric.
          type: string
          example: Total Assets
          nullable: true
        category:
          description: Primary Category of metric item, such as, FINANCIAL_STATEMENT or INDUSTRY_METRIC
          type: string
          example: FINANCIAL_STATEMENT
          nullable: true
        subcategory:
          description: Sub-category of metric items, such as the INCOME_STATEMENT or AIRLINES.
          type: string
          example: BALANCE_SHEET
          nullable: true
        OAurl:
          description: The Online Assistant Page URL, used to lookup the definition and methodology of the requested item.
          type: string
          example: https://my.apps.factset.com/oa/pages/16283
          nullable: true
    consensusRatingsResponse:
      type: object
      title: Consensus Ratings Response
      properties:
        data:
          description: Array of consensus ratings estimate objects
          type: array
          items:
            $ref: '#/components/schemas/consensusRatings'
          example: []
    errorResponse:
      type: object
      title: Error Response
      properties:
        status:
          description: status
          type: string
          example: Bad Request
        timestamp:
          description: timestamp in YYYY-MM-DD HH:MM:SS.SSS
          type: string
          example: '2019-11-01 11:09:41.918'
          format: date-time
        path:
          description: The Endpoint path {package}/version/{endpoint}
          type: string
          example: /factset-estimates/v2/prices
        message:
          description: The plain text error message
          type: string
          example: Validation Error
        subErrors:
          description: subErrors related to the error message. Null if not applicable.
          type: object
          properties:
            object:
              description: the operation ID
              type: string
            field:
              description: Parameter Field Name
              type: string
            message:
              description: Error message
              type: string
            rejectedValue:
              description: Rejected Values in an Array
              type: array
              items:
                type: string
          example: example_value
    segmentType:
      type: string
      enum:
      - BUS
      - GEO
      default: BUS
      description: "Controls the type of segment selected.\n  * **BUS** = Business\n  * **GEO** = Geographic\n"
      example: BUS
    statistic:
      type: string
      enum:
      - MEAN
      - MEDIAN
      - HIGH
      - LOW
      - COUNT
      - STDDEV
      default: MEAN
      description: Statistic for consensus calculation.
      example: MEDIAN
    metricsResponse:
      type: object
      title: Metrics Response
      properties:
        data:
          description: 'Array of metric objects representing the metrics that can be requested from the estimates APIs.

            '
          type: array
          items:
            $ref: '#/components/schemas/metric'
          example: []
    Currency:
      type: string
      title: Currency
      description: ISO 4217 currency code. Use "DOC" for reporting currency. Defaults to LOCAL.
      default: LOCAL
      examples:
      - USD
      - EUR
      - LOCAL
    detailRatings:
      title: Detail Ratings
      type: object
      properties:
        fsymId:
          type: string
          example: SJY281-R
          nullable: true
        estimateDate:
          description: 'Date of estimate expressed in YYYY-MM-DD format. For more details, visit [Online Assistant Page #16598](https://oa.apps.factset.com/pages/16598)'
          type: string
          format: date
          example: '2017-07-24'
          nullable: true
        analystId:
          description: The FactSet Entity Identifier for the analyst making the estimate.
          type: string
          example: 0DXTST-E
          nullable: true
        analystName:
          description: The name of the analyst making the estimate.
          type: string
          example: Josh Baer
          nullable: true
        brokerId:
          description: The FactSet Entity Identifier for the broker making the estimate.
          type: string
          example: 05FBK7-E
          nullable: true
        brokerName:
          description: The name of the broker making the estimate.
          type: string
          example: Morgan Stanley
          nullable: true
        ratingsNoteText:
          description: "A textual representation of the analysts rating. Broker recommendations are divided into five main broad categories- **Buy, Overweight, Hold, Underweight, and Sell**.<p>Additional recommendations may be displayed for the below reasons - \n* Without- A rating \"Without\" is displayed when a broker provides estimates but does not provide a rating.\n* Dropping- When a broker stops covering an equity, the recommendation will show \"Dropping.\"\n* Not Available- A broker may be \"Not Available\" due to outstanding circumstances with that particular security. Ratings are not displayed until a new rating is provided.\n* Most/Least- \"Most\" or \"Least\" favorable rating is displayed for top or bottom rating available for a particular security.\n"
          type: string
          example: overweight
          nullable: true
        requestId:
          description: Identifier that was used for the request.
          type: string
          example: IBM-US
        inputDateTime:
          description: Date and time when the data is available at the source.
          type: string
          format: string
          example: '2022-10-25T22:40:09'
          nullable: true
        lastModifiedDate:
          description: The date at which a broker provided an estimate that is a revision.
          type: string
          format: date
          example: '2017-07-24'
          nullable: true
    BatchFlag:
      type: string
      title: Batch Flag
      description: Enable asynchronous batch processing. Y = Enable, N = Disable.
      enum:
      - Y
      - N
      default: N
    surpriseResponse:
      title: Surprise Response
      type: object
      properties:
        data:
          description: Array of surprises
          type: array
          items:
            $ref: '#/components/schemas/surprise'
          example: []
    metricsRequest:
      title: Metrics Request Body
      description: Metrics Request Body
      type: object
      properties:
        category:
          $ref: '#/components/schemas/category'
        subcategory:
          $ref: '#/components/schemas/subcategory'
  responses:
    InternalServerError:
      description: Internal Server Error.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    UnsupportedMediaType:
      description: Unsupported Media Type. Ensure that the Content-Type header is set to "application/json".
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and have successfully generated an API KEY for the IP range you are connecting from.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    BadRequest:
      description: Bad Request. This can occur for several reasons. Please review the error message for details.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    '500':
      description: Internal Server Error.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponse'
          examples:
            Internal Server Error - Not Writable:
              $ref: '#/components/examples/notWritable'
            Internal Server Error - General Exception:
              $ref: '#/components/examples/generalException'
    '415':
      description: Unsupported Media Type. This error may be returned when the caller sends a resource in a format that is not accepted by the server. This can be fixed by ensuring that Content-Type header is set to the correct value. In this instance, "application/json" would be the appropriate value.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponse'
          examples:
            Bad Request - Date Format:
              $ref: '#/components/examples/unsupportedMediaType'
    '403':
      description: The USERNAME-SERIAL attempted to request the endpoint is not authorized to access. The request was a legal request, but the server is refusing to respond. Please reach out to FactSet Account Team for assistance with authorization.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponse'
          examples:
            Bad Request - Date Format:
              $ref: '#/components/examples/forbidden'
    BatchAccepted:
      description: Batch request has been accepted for processing.
      headers:
        Location:
          description: Path to batch request status endpoint.
          schema:
            type: string
          example: batch-status?id=2df43e85-ea0f-45c6-bf4a-2baf4d1eaa3c
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/BatchStatusResponse'
    '400':
      description: Bad Request. This can occur for several reasons. Please review the "message" for more details.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponse'
          examples:
            Bad Request - Date Format:
              $ref: '#/components/examples/badRequestDateFormat'
            Bad Request - Missing Required Parameter:
              $ref: '#/components/examples/badRequestRequiredParameter'
            Bad Request - Future Date:
              $ref: '#/components/examples/badRequestFutureDate'
            Bad Request - Invalid Parameter:
              $ref: '#/components/examples/badRequestInvalidParameters'
            Bad Request - Malformed JSON:
              $ref: '#/components/examples/badRequestMalformedJSON'
            Bad Request - Read Timeout:
              $ref: '#/components/examples/badRequestReadTimeout'
    '401':
      description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and have successfully generated an API KEY for the IP range you are connecting from. For more help, select the **Report Issue** in the top right corner of this Developer Portal specification card and choose Connectivity 401 or 403 Responses.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponse'
          examples:
            Bad Request - Date Format:
              $ref: '#/components/examples/unauthenticated'
    PostCompanyEstimatesListByInstrument200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                description: Estimated figures for selected fiscal years.
                nullable: false
                type: array
                items:
                  type: object
                  nullable: false
                  x-property-sort:
                  - fiscalYear
                  - reportDate
                  - currency
                  - incomeStatement
                  - balanceSheet
                  - ratios
                  - perShare
                  properties:
                    fiscalYear:
                      nullable: false
                      type: object
                      x-property-sort:
                      - end
                      - year
                      description: Details of a fiscal year.
                      properties:
                        end:
                          nullable: true
                          type: string
                          format: date
                          description: Ending date of the fiscal year.
                        year:
                          nullable: true
                          type: number
                          format: int32
                          description: Fiscal year.
                    reportDate:
                      nullable: true
                      type: string
                      format: date
                      description: Publication date of the financial report.
                    currency:
                      nullable: false
                      type: object
                      x-property-sort:
                      - id
                      - isoCode
                      description: Main currency into which the estimated figures representing a monetary value are converted.
                      properties:
                        id:
                          nullable: true
                          type: number
                          format: id32
                          x-positive: true
                          description: Identifier of the currency.
                        isoCode:
                          nullable: true
                          type: string
                          description: ISO 4217 code of the currency.
                    incomeStatement:
                      nullable: false
                      type: object
                      x-property-sort:
                      - sales
                      - ebit
                      - ebitda
                      description: Income statement estimates.
                      properties:
                        sales:
                          nullable: false
                          type: object
                          x-property-sort:
                          - mean
                          - median
                          description: Total amount of sales revenue received for the normal operation of the business.
                          properties:
                            mean:
                              nullable: true
                              type: number
                              format: real
                              description: Mean value.
                            median:
                              nullable: true
                              type: number
                              format: real
                              description: Median value.
                        ebit:
                          nullable: false
                          type: object
                          x-property-sort:
                          - mean
                          - median
                          description: EBIT (earnings before interest and taxes).
                          properties:
                            mean:
                              nullable: true
                              type: number
                              format: real
                              description: Mean value.
                            median:
                              nullable: true
                              type: number
                              format: real
                              description: Median value.
                        ebitda:
                          nullable: false
                          type: object
                          x-property-sort:
[...]
