openapi: 3.2.0
info:
  title: Factset Notes API
  version: '1'
  description: 'Operations tagged Notes across 2 of this provider''s published API definitions: factset-irn-notes-api-openapi.yml, irn-notes-openapi-original.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.factset.com/research/irn
  description: Production Server
- url: https://api-sandbox.factset.com/research/irn
  description: Sandbox
security:
- FactSetApiKey: []
- FactSetOAuth2: []
tags:
- name: Notes
paths:
  /v1/notes:
    get:
      tags:
      - Notes
      summary: Factset Get All the Notes in the Specified Date Range Filtered on the Given Identifiers
      operationId: GetNotes
      parameters:
      - name: start
        in: query
        description: StartDate
        schema:
          type: string
      - name: end
        in: query
        description: EndDate
        schema:
          type: string
      - name: identifiers
        in: query
        description: Set of identifiers to filter on
        schema:
          type: array
          items:
            type: string
      - name: authors
        in: query
        description: Set of authors to filter on
        schema:
          type: array
          items:
            type: string
            format: uuid
      - name: subjects
        in: query
        description: Set of subjects to filter on
        schema:
          type: array
          items:
            type: string
            format: uuid
      - name: recommendations
        in: query
        description: Set of recommendations to filter on
        schema:
          type: array
          items:
            type: string
            format: uuid
      - name: sentiments
        in: query
        description: Set of sentiments to filter on
        schema:
          type: array
          items:
            type: string
            format: uuid
      - name: limit
        in: query
        description: Limit on the number of notes retrieved
        schema:
          type: integer
          format: int32
      - name: offset
        in: query
        description: Fetch notes after the offset
        schema:
          type: integer
          format: int32
      - name: modifiedSince
        in: query
        description: Only return notes which have been modified or created since a particular time
        schema:
          type: string
      - name: states
        in: query
        description: Set of states to filter on
        schema:
          type: array
          items:
            type: string
      - name: filterOnRelatedSymbols
        in: query
        description: Include notes whose related symbols match the identifier filter
        schema:
          type: boolean
          default: false
      - name: includeRelatedEntities
        in: query
        description: When set to true fetches notes tagged with all the entities related to identifiers param
        schema:
          type: boolean
          default: false
      - name: X-IRN-Include-Deleted
        in: header
        description: ''
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/NoteSummaryDto'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      tags:
      - Notes
      summary: Factset Create a Note
      operationId: CreateNote
      parameters:
      - name: X-IRN-Contributor-Username
        in: header
        schema:
          maxLength: 30
          minLength: 0
          type: string
      - name: X-IRN-Contributor-Serial
        in: header
        schema:
          maxLength: 8
          minLength: 0
          type: string
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/CreateNoteDto'
          application/json:
            schema:
              $ref: '#/components/schemas/CreateNoteDto'
          text/json:
            schema:
              $ref: '#/components/schemas/CreateNoteDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/CreateNoteDto'
        required: true
      responses:
        '201':
          description: Success - Returns unique identifier of the note created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewItemDto'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - url: https://api.factset.com/research/irn
      description: Production Server
    - url: https://api-sandbox.factset.com/research/irn
      description: Sandbox
  /v1/notes/{noteId}:
    get:
      tags:
      - Notes
      summary: Factset Get Details of a Note
      operationId: GetNote
      parameters:
      - name: noteId
        in: path
        description: Note Id
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoteDto'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      tags:
      - Notes
      summary: Factset Update a Note
      operationId: UpdateNote
      parameters:
      - name: noteId
        in: path
        description: Note Id
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        description: Note details to update
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/UpdateNoteDto'
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateNoteDto'
          text/json:
            schema:
              $ref: '#/components/schemas/UpdateNoteDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/UpdateNoteDto'
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      tags:
      - Notes
      summary: Factset Delete a Note
      operationId: DeleteNote
      parameters:
      - name: noteId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - url: https://api.factset.com/research/irn
      description: Production Server
    - url: https://api-sandbox.factset.com/research/irn
      description: Sandbox
  /v1/notes/{noteId}/events:
    get:
      tags:
      - Notes
      summary: Factset Get All the Record Events That Belong to a Note
      operationId: GetEvents
      parameters:
      - name: noteId
        in: path
        description: Note Id
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RecordEventSummaryDto'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - url: https://api.factset.com/research/irn
      description: Production Server
    - url: https://api-sandbox.factset.com/research/irn
      description: Sandbox
  /v1/notes/{noteId}/events/{recordEventId}:
    get:
      tags:
      - Notes
      summary: Factset Get Details of a Record Event of a Note
      operationId: GetRecordEvent
      parameters:
      - name: noteId
        in: path
        description: Note Id
        required: true
        schema:
          type: string
          format: uuid
      - name: recordEventId
        in: path
        description: Record Event Id
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoteEventDto'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - url: https://api.factset.com/research/irn
      description: Production Server
    - url: https://api-sandbox.factset.com/research/irn
      description: Sandbox
  /v1/notes/{noteId}/attachments:
    get:
      tags:
      - Notes
      summary: Factset Get all the attachments belonging to a note
      operationId: GetAttachments
      parameters:
      - name: noteId
        in: path
        description: Note Id
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AttachmentSummaryDto'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails_2'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails_2'
    post:
      tags:
      - Notes
      summary: Factset Create an attachment for an existing note
      operationId: CreateAttachment
      parameters:
      - name: noteId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          multipart/form-data:
            schema:
              required:
              - file
              type: object
              properties:
                file:
                  type: string
                  format: binary
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewItemDto_2'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails_2'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails_2'
    servers:
    - url: https://api.factset.com/research/irn
      description: Production Server
    - url: https://api-sandbox.factset.com/research/irn
      description: Sandbox
  /v1/notes/{noteId}/attachments/{attachmentId}/download:
    get:
      tags:
      - Notes
      summary: Factset Download an attachment from a Note
      operationId: DownloadAttachment
      parameters:
      - name: noteId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: attachmentId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails_2'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails_2'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails_2'
    servers:
    - url: https://api.factset.com/research/irn
      description: Production Server
    - url: https://api-sandbox.factset.com/research/irn
      description: Sandbox
  /v1/notes/{noteId}/comments:
    get:
      tags:
      - Notes
      summary: Factset Get all comments for a note
      operationId: GetComments
      parameters:
      - name: noteId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CommentSummaryDto'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails_2'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails_2'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails_2'
    post:
      tags:
      - Notes
      summary: Factset Create a comment to a Note
      operationId: CreateComment
      parameters:
      - name: noteId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/CreateCommentDto'
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCommentDto'
          text/json:
            schema:
              $ref: '#/components/schemas/CreateCommentDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/CreateCommentDto'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewItemDto_2'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails_2'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails_2'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails_2'
        '500':
          description: Server Error
    servers:
    - url: https://api.factset.com/research/irn
      description: Production Server
    - url: https://api-sandbox.factset.com/research/irn
      description: Sandbox
  /v1/notes/{noteId}/comments/{commentId}:
    get:
      tags:
      - Notes
      summary: Factset Get details of a comment belonging to a note
      operationId: GetComment
      parameters:
      - name: noteId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: commentId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommentDto'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails_2'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails_2'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails_2'
    patch:
      tags:
      - Notes
      summary: Factset Edit a comment for a note
      operationId: PatchComment
      parameters:
      - name: noteId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: commentId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json-patch+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Operation'
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Operation'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Operation'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Operation'
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails_2'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails_2'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails_2'
    delete:
      tags:
      - Notes
      summary: Factset Delete a Comment from a Note
      operationId: DeleteComment
      parameters:
      - name: noteId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: commentId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails_2'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails_2'
        '500':
          description: Server Error
    servers:
    - url: https://api.factset.com/research/irn
      description: Production Server
    - url: https://api-sandbox.factset.com/research/irn
      description: Sandbox
  /v1/notes/{noteId}/comments/{commentId}/attachments:
    get:
      tags:
      - Notes
      summary: Factset Get attachments summary of a comment belonging to a note
      operationId: GetCommentAttachments
      parameters:
      - name: noteId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: commentId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AttachmentSummaryDto'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails_2'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails_2'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails_2'
    post:
      tags:
      - Notes
      summary: Factset Create a comment attachment to a Note
      operationId: CreateCommentAttachment
      parameters:
      - name: noteId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: commentId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          multipart/form-data:
            schema:
              required:
              - file
              type: object
              properties:
                file:
                  type: string
                  format: binary
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewItemDto_2'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails_2'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails_2'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails_2'
        '500':
          description: Server Error
    servers:
    - url: https://api.factset.com/research/irn
      description: Production Server
    - url: https://api-sandbox.factset.com/research/irn
      description: Sandbox
  /v1/notes/{noteId}/comments/{commentId}/attachments/{attachmentId}/download:
    get:
      tags:
      - Notes
      summary: Factset Download single attachment detail of a comment belonging to a note
      operationId: DownloadCommentAttachmentForComment
      parameters:
      - name: noteId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: commentId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: attachmentId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails_2'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails_2'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails_2'
    servers:
    - url: https://api.factset.com/research/irn
      description: Production Server
    - url: https://api-sandbox.factset.com/research/irn
      description: Sandbox
  /v1/notes/{noteId}/attachments/{attachmentId}:
    delete:
      tags:
      - Notes
      summary: Factset Delete attachment from note
      operationId: SoftDeleteNoteAttachment
      parameters:
      - name: noteId
        in: path
        description: Note Id
        required: true
        schema:
          type: string
          format: uuid
      - name: attachmentId
        in: path
        description: Attachment Id
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails_2'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails_2'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails_2'
    servers:
    - url: https://api.factset.com/research/irn
      description: Production Server
    - url: https://api-sandbox.factset.com/research/irn
      description: Sandbox
components:
  schemas:
    CreateBodyDto:
      type: object
      properties:
        content:
          type:
          - string
          - 'null'
          example: example_value
      additionalProperties: false
    NewItemDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: abc123
      additionalProperties: false
    NoteEventDto:
      type: object
      properties:
        createdAt:
          type:
          - string
          - 'null'
          example: example_value
        type:
          type:
          - string
          - 'null'
          example: example_value
        user:
          type:
          - string
          - 'null'
          example: example_value
        comment:
          type:
          - string
          - 'null'
          example: example_value
        changeList:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/RecordChangeDto'
          example: []
      additionalProperties: false
    CreateCustomFieldValueDto:
      required:
      - code
      type: object
      properties:
        code:
          type: string
          example: example_value
        integerValue:
          type:
          - integer
          - 'null'
          format: int32
          example: 10
        textValue:
          type:
          - string
          - 'null'
          example: example_value
        filePathValue:
          type:
          - string
          - 'null'
          example: example_value
        numericValue:
          type:
          - number
          - 'null'
          format: double
          example: 42.5
        dateValue:
          type:
          - string
          - 'null'
          example: example_value
        extendedTextValue:
          type:
          - string
          - 'null'
          example: example_value
        contactLookupValues:
          type:
          - array
          - 'null'
          items:
            type: string
            format: uuid
          example: []
        optionValue:
          type:
          - string
          - 'null'
          example: example_value
        optionValues:
          type:
          - array
          - 'null'
          items:
            type: string
          example: []
      additionalProperties: false
      description: 'Set a value or values for a custom field identified by the field ''Code''. Only one of the fields (IntegerValue / TextValue / FilePathValue etc) will be used,

        depending on the data type of the custom field corresponding to the ''Code'' provided'
    RecordChangeDto:
      type: object
      properties:
        field:
          type:
          - string
          - 'null'
          example: example_value
        operation:
          type:
          - string
          - 'null'
          example: example_value
        oldValue:
          type:
          - string
          - 'null'
          example: example_value
        newValue:
          type:
          - string
          - 'null'
          example: example_value
        oldList:
          type:
          - array
          - 'null'
          items:
            type: string
          example: []
        newList:
          type:
          - array
          - 'null'
          items:
            type: string
          example: []
      additionalProperties: false
    CustomFieldValueDto:
      type: object
      properties:
        code:
          type:
          - string
          - 'null'
          example: example_value
        value:
          type:
          - string
          - 'null'
          example: example_value
        options:
          type:
          - array
          - 'null'
          items:
            type: string
          example: []
        contactValues:
          type:
          - array
          - 'null'
          items:
            type: string
            format: uuid
          example: []
      additionalProperties: false
    NoteDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: abc123
        date:
          type:
          - string
          - 'null'
          example: example_value
        createdAt:
          type:
          - string
          - 'null'
          example: example_value
        authorId:
          type: string
          format: uuid
          example: '500123'
        contributorId:
          type: string
          format: uuid
          example: '500123'
        title:
          type:
          - string
          - 'null'
          example: Example Title
        identifier:
          type:
          - string
          - 'null'
          example: example_value
        relatedSymbols:
          type:
          - array
          - 'null'
          items:
            type: string
          example: []
        subjectId:
          type: string
          format: uuid
          example: '500123'
        recommendationId:
          type:
          - string
          - 'null'
          format: uuid
          example: '500123'
        sentimentId:
          type:
          - string
          - 'null'
          format: uuid
          example: '500123'
        source:
          type:
          - string
          - 'null'
          example: example_value
        link:
          type:
          - string
          - 'null'
          example: example_value
        body:
          type:
          - string
          - 'null'
          example: example_value
        isPersonal:
          type: boolean
          example: true
        state:
          type:
          - string
          - 'null'
          example: example_value
        approvalStatus:
          type:
          - string
          - 'null'
          example: example_value
        averageRating:
          type:
          - integer
          - 'null'
          format: int32
          example: 10
        relatedRecords:
          $ref: '#/components/schemas/RelatedRecordsDto'
        relatedContacts:
          type:
          - array
          - 'null'
          items:
            type: string
            format: uuid
          example: []
        customFields:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CustomFieldValueDto'
          example: []
      additionalProperties: false
    CreateNoteDto:
      required:
      - author
      - date
      type: object
      properties:
        author:
          $ref: '#/components/schemas/UserSerialDto'
        title:
          maxLength: 255
          minLength: 0
          type:
          - string
          - 'null'
          example: Example Title
        identifier:
          type:
          - string
          - 'null'
          example: example_value
        date:
          type: string
          example: example_value
        subjectId:
          type:
          - string
          - 'null'
          format: uuid
          example: '500123'
        recommendationId:
          type:
          - string
          - 'null'
          format: uuid
          example: '500123'
        sentimentId:
          type:
          - string
          - 'null'
          format: uuid
          example: '500123'
        body:
          $ref: '#/components/schemas/CreateBodyDto'
        source:
          type:
          - string
          - 'null'
          example: example_value
        link:
          maxLength: 255
          minLength: 0
          type:
          - string
          - 'null'
          example: example_value
        relatedSymbols:
          maxItems: 100
          type:
          - array
          - 'null'
          items:
            type: string
          example: []
        relatedContacts:
          type:
          - array
          - 'null'
          items:
            type: string
            format: uuid
          example: []
        relatedRecords:
          $ref: '#/components/schemas/RelatedRecordsDto'
        customFieldValues:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CreateCustomFieldValueDto'
          example: []
        isPersonal:
          type: boolean
          default: false
          example: true
      additionalProperties: false
    NoteSummaryDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: abc123
        date:
          type:
          - string
          - 'null'
          example: example_value
        createdAt:
          type:
          - string
          - 'null'
          example: example_value
        authorId:
          type: string
          format: uuid
          example: '500123'
        contributorId:
          type: string
          format: uuid
          example: '500123'
        title:
          type:
          - string
          - 'null'
          example: Example Title
        identifier:
          type:
          - string
          - 'null'
          example: example_value
        subjectId:
          type: string
          format: uuid
          example: '500123'
        isPersonal:
          type: boolean
          example: true
        state:
          type:
          - string
          - 'null'
          example: example_value
        approvalStatus:
          type:
          - string
          - 'null'
          example: example_value
        attachmentIds:
          type:
          - array
          - 'null'
          items:
            type: string
            format: uuid
          example: []
        relatedSymbols:
          type:
          - array
          - 'null'
          items:
            type: string
          example: []
        recommendationId:
          type: string
          format: uuid
          example: '500123'
        sentimentId:
          type: string
          format: uuid
          example: '500123'
        customFields:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CustomFieldValueDto'
          example: []
      additionalProperties: false
    RelatedRecordsDto:
      type: object
      properties:
        noteIds:
          type:
          - array
          - 'null'
          items:
            type: string
            format: uuid
          example: []
        meetingIds:
          type:
          - array
          - 'null'
          items:
            type: string
            format: uuid
          example: []
      additionalProperties: false
    UpdateNoteDto:
      type: object
      properties:
        author:
          $ref: '#/components/schemas/UserSerialDto'
        title:
          maxLength: 255
          minLength: 0
          type:
          - string
          - 'null'
          example: Example Title
        subjectId:
          type: string
          format: uuid
          example: '500123'
        noteDate:
          type:
          - string
          - 'null'
          example: example_value
        recommendationId:
          type:
          - string
          - 'null'
          format: uuid
          example: '500123'
        sentimentId:
          type:
          - string
          - 'null'
          format: uuid
          example: '500123'
        body:
          $ref: '#/components/schemas/CreateBodyDto'
        source:
          type:
          - string
          - 'null'
          example: example_value
        link:
          maxLength: 255
          minLength: 0
          type:
          - string
          - 'null'
          example: example_value
        relatedSymbols:
          maxItems: 100
          type:
          - array
          - 'null'
          items:
            type: string
          example: []
        relatedContacts:
          type:
          - array
          - 'null'
          items:
            type: string
            format: uuid
          example: []
        relatedRecords:
          $ref: '#/components/schemas/RelatedRecordsDto'
        customFieldValues:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CreateCustomFieldValueDto'
          example: []
        isPersonal:
          type:
          - boolean
          - 'null'
          example: true
        identifier:
          type:
          - string
          - 'null'
          example: example_value
      additionalProperties: false
    RecordEventSummaryDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: abc123
        type:
          type:
          - string
          - 'null'
          example: example_value
        createdAt:
          type:
          - string
          - 'null'
          example: example_value
      additionalProperties: false
    ProblemDetails:
      type: object
      properties:
        type:
          type:
          - string
          - 'null'
          example: example_value
        title:
          type:
          - string
          - 'null'
          example: Example Title
        status:
          type:
          - integer
          - 'null'
          format: int32
          example: 10
        detail:
          type:
          - string
          - 'null'
          example: example_value
        instance:
          type:
          - string
          - 'null'
          example: example_value
      additionalProperties: {}
    UserSerialDto:
      required:
      - serialNumber
      - username
      type: object
      properties:
        username:
          maxLength: 30
          minLength: 0
          type: string
          example: example_value
        serialNumber:
          maxLength: 8
          minLength: 0
          type: string
          example: example_value
      additionalProperties: false
    CreateBodyDto_2:
      type: object
      properties:
        content:
          type:
          - string
          - 'null'
      additionalProperties: false
    SubcommentSummaryDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
        userId:
          type: string
          format: uuid
        createdAt:
          type:
          - string
          - 'null'
      additionalProperties: false
    NewItemDto_2:
      type: object
      properties:
        id:
          type: string
          format: uuid
      additionalProperties: false
    CreateCustomFieldValueDto_2:
      required:
      - code
      type: object
      properties:
        code:
          type: string
        integerValue:
          type:
          - integer
          - 'null'
          format: int32
        textValue:
          type:
          - string
          - 'null'
        filePathValue:
          type:
          - string
          - 'null'
        numericValue:
          type:
          - number
          - 'null'
          format: double
        dateValue:
          type:
          - string
          - 'null'
        extendedTextValue:
          type:
          - string
          - 'null'
        contactLookupValues:
          type:
          - array
          - 'null'
          items:
            type: string
            format: uuid
        optionValue:
          type:
          - string
          - 'null'
        optionValues:
          type:
          - array
          - 'null'
          items:
            type: string
      additionalProperties: false
      description: 'Set a value or values for a custom field identified by the field ''Code''. Only one of the fields (IntegerValue / TextValue / FilePathValue etc) will be used,

        depending on the data type of the custom field corresponding to the ''Code'' provided'
    Operation:
      type: object
      properties:
        operationType:
          $ref: '#/components/schemas/OperationType'
        path:
          type:
          - string
          - 'null'
        op:
          type:
          - string
          - 'null'
        from:
          type:
          - string
          - 'null'
        value: {}
      additionalProperties: false
    CreateCommentDto:
      type: object
      properties:
        authorId:
          type: string
          format: uuid
        parentCommentId:
          type:
          - string
          - 'null'
          format: uuid
        body:
          type:
          - string
          - 'null'
      additionalProperties: false
    AttachmentSummaryDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
        fileName:
          type:
          - string
          - 'null'
        mimeType:
          type:
          - string
          - 'null'
        size:
          type:
          - integer
          - 'null'
          format: int64
      additionalProperties: false
    RecordEventSummaryDto_2:
      type: object
      properties:
        id:
          type: string
          format: uuid
        type:
          type:
          - string
          - 'null'
        createdAt:
          type:
          - string
          - 'null'
      additionalProperties: false
    UserSerialDto_2:
      required:
      - serialNumber
      - username
      type: object
      properties:
        username:
          maxLength: 30
          minLength: 0
          type: string
        serialNumber:
          maxLength: 8
          minLength: 0
          type: string
      additionalProperties: false
    CommentSummaryDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
        userId:
          type: string
          format: uuid
        createdAt:
          type:
          - string
          - 'null'
        subcomments:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/SubcommentSummaryDto'
      additionalProperties: false
    OperationType:
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
      - 5
      - 6
      type: integer
      format: int32
    CustomFieldValueDto_2:
      type: object
      properties:
        code:
          type:
          - string
          - 'null'
        value:
          type:
          - string
          - 'null'
        options:
          type:
          - array
          - 'null'
          items:
            type: string
        contactValues:
          type:
          - array
          - 'null'
          items:
            type: string
            format: uuid
      additionalProperties: false
    CreateNoteDto_2:
      required:
      - author
      - date
      type: object
      properties:
        author:
          $ref: '#/components/schemas/UserSerialDto_2'
        title:
          maxLength: 255
          minLength: 0
          type:
          - string
          - 'null'
        identifier:
          type:
          - string
          - 'null'
        date:
          type: string
        subjectId:
          type:
          - string
          - 'null'
          format: uuid
        recommendationId:
          type:
          - string
          - 'null'
          format: uuid
        sentimentId:
          type:
          - string
          - 'null'
          format: uuid
        body:
          $ref: '#/components/schemas/CreateBodyDto_2'
        source:
          type:
          - string
          - 'null'
        link:
          maxLength: 255
          minLength: 0
          type:
          - string
          - 'null'
        relatedSymbols:
          maxItems: 100
          type:
          - array
          - 'null'
          items:
            type: string
        relatedContacts:
          type:
          - array
          - 'null'
          items:
            type: string
            format: uuid
        relatedRecords:
          $ref: '#/components/schemas/RelatedRecordsDto_2'
        customFieldValues:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CreateCustomFieldValueDto_2'
        isPersonal:
          type: boolean
          default: false
      additionalProperties: false
    RelatedRecordsDto_2:
      type: object
      properties:
        noteIds:
          type:
          - array
          - 'null'
          items:
            type: string
            format: uuid
        meetingIds:
          type:
          - array
          - 'null'
          items:
            type: string
            format: uuid
      additionalProperties: false
    RecordChangeDto_2:
      type: object
      properties:
        field:
          type:
          - string
          - 'null'
        operation:
          type:
          - string
          - 'null'
        oldValue:
          type:
          - string
          - 'null'
        newValue:
          type:
          - string
          - 'null'
        oldList:
          type:
          - array
          - 'null'
          items:
            type: string
        newList:
          type:
          - array
          - 'null'
          items:
            type: string
      additionalProperties: false
    ProblemDetails_2:
      type: object
      properties:
        type:
          type:
          - string
          - 'null'
        title:
          type:
          - string
          - 'null'
        status:
          type:
          - integer
          - 'null'
          format: int32
        detail:
          type:
          - string
          - 'null'
        instance:
          type:
          - string
          - 'null'
      additionalProperties: {}
    NoteEventDto_2:
      type: object
      properties:
        createdAt:
          type:
          - string
          - 'null'
        type:
          type:
          - string
          - 'null'
        user:
          type:
          - string
          - 'null'
        comment:
          type:
          - string
          - 'null'
        changeList:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/RecordChangeDto_2'
      additionalProperties: false
    NoteDto_2:
      type: object
      properties:
        id:
          type: string
          format: uuid
        date:
          type:
          - string
          - 'null'
        createdAt:
          type:
          - string
          - 'null'
        authorId:
          type: string
          format: uuid
        contributorId:
          type: string
          format: uuid
        title:
          type:
          - string
          - 'null'
        identifier:
          type:
          - string
          - 'null'
        relatedSymbols:
          type:
          - array
          - 'null'
          items:
            type: string
        subjectId:
          type: string
          format: uuid
        recommendationId:
          type:
          - string
          - 'null'
          format: uuid
        sentimentId:
          type:
          - string
          - 'null'
          format: uuid
        source:
          type:
          - string
          - 'null'
        link:
          type:
          - string
          - 'null'
        body:
          type:
          - string
          - 'null'
        isPersonal:
          type: boolean
        state:
          type:
          - string
          - 'null'
        approvalStatus:
          type:
          - string
          - 'null'
        averageRating:
          type:
          - integer
          - 'null'
          format: int32
        relatedRecords:
          $ref: '#/components/schemas/RelatedRecordsDto_2'
        relatedContacts:
          type:
          - array
          - 'null'
          items:
            type: string
            format: uuid
        customFields:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CustomFieldValueDto_2'
      additionalProperties: false
    NoteSummaryDto_2:
      type: object
      properties:
        id:
          type: string
          format: uuid
        date:
          type:
          - string
          - 'null'
        createdAt:
          type:
          - string
          - 'null'
        authorId:
          type: string
          format: uuid
        contributorId:
          type: string
          format: uuid
        title:
          type:
          - string
          - 'null'
        identifier:
          type:
          - string
          - 'null'
        subjectId:
          type: string
          format: uuid
        isPersonal:
          type: boolean
        state:
          type:
          - string
          - 'null'
        approvalStatus:
          type:
          - string
          - 'null'
        attachmentIds:
          type:
          - array
          - 'null'
          items:
            type: string
            format: uuid
        relatedSymbols:
          type:
          - array
          - 'null'
          items:
            type: string
        recommendationId:
          type: string
          format: uuid
        sentimentId:
          type: string
          format: uuid
        customFields:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CustomFieldValueDto_2'
      additionalProperties: false
    UpdateNoteDto_2:
      type: object
      properties:
        author:
          $ref: '#/components/schemas/UserSerialDto_2'
        title:
          maxLength: 255
          minLength: 0
          type:
          - string
          - 'null'
        subjectId:
          type: string
          format: uuid
        noteDate:
          type:
          - string
          - 'null'
        recommendationId:
          type:
          - string
          - 'null'
          format: uuid
        sentimentId:
          type:
          - string
          - 'null'
          format: uuid
        body:
          $ref: '#/components/schemas/CreateBodyDto_2'
        source:
          type:
          - string
          - 'null'
        link:
          maxLength: 255
          minLength: 0
          type:
          - string
          - 'null'
        relatedSymbols:
          maxItems: 100
          type:
          - array
          - 'null'
          items:
            type: string
        relatedContacts:
          type:
          - array
          - 'null'
          items:
            type: string
            format: uuid
        relatedRecords:
          $ref: '#/components/schemas/RelatedRecordsDto_2'
        customFieldValues:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CreateCustomFieldValueDto_2'
        isPersonal:
          type:
          - boolean
          - 'null'
        identifier:
          type:
          - string
          - 'null'
      additionalProperties: false
    CommentDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
        authorId:
          type: string
          format: uuid
        parentCommentId:
          type:
          - string
          - 'null'
          format: uuid
        body:
          type:
          - string
          - 'null'
        createdAt:
          type:
          - string
          - 'null'
        attachments:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/AttachmentSummaryDto'
        subcomments:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/SubcommentSummaryDto'
      additionalProperties: false
  securitySchemes:
    FactSetApiKey:
      type: http
      scheme: basic
    FactSetOAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://auth.factset.com/as/token.oauth2
          scopes: {}
externalDocs:
  description: API Documentation
  url: https://developer.factset.com/api-catalog/irn-notes-api#apiDocumentation
x-refined-from:
- factset-irn-notes-api-openapi.yml
- irn-notes-openapi-original.yml
