openapi: 3.2.0
info:
  version: 3.0.0
  title: FactSet Real-Time Quotes Date API
  description: '

    The Quotes API combines endpoints for retrieving security end-of-day,

    delayed, and realtime prices with performance key figures and basic

    reference data on the security and market level.'
  contact:
    name: FactSet Research Systems
    url: https://developer.factset.com/contact
    email: api@factset.com
  license:
    name: Apache License, Version 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
servers:
- url: https://api.factset.com/wealth/v3
security:
- FactSetApiKey: []
- FactSetOAuth2: []
tags:
- name: Date
paths:
  /notation/keyFigures/yearToDate/get:
    get:
      tags:
      - Date
      operationId: get/notation/keyFigures/yearToDate/get
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Factset End-of-day (eod) Key Figures for the Time Range Year-to-date (ytd)..
      description: End-of-day (EOD) key figures for the time range year-to-date (YTD). The time range YTD begins with the last trading day of the previous calendar year for which EOD prices are available and ends with the most recent trading day of the current calendar year for which EOD prices are available..
      parameters:
      - name: identifier
        in: query
        schema:
          type: string
          pattern: ^[B-DF-HJ-NP-TV-Z0-9]{6}-[LR]$|^[A-Z0-9.#&*+]{1,47}-[A-Z0-9]{2,4}$|^[0-9]{3,20}$
          maxLength: 50
          minLength: 3
          description: Identifier to resolve.
        required: true
      - name: identifierType
        in: query
        schema:
          type: string
          description: Type of the identifier.
          x-enum-description:
          - MDG identifier of a listing.
          - FactSet market symbol of a listing.
          - Regional FactSet ticker symbol, identifying the primary listing in the region.
          - FactSet Permanent Identifier on listing level.
          - Regional FactSet Permanent Identifier, identifying the primary listing in the region.
          enum:
          - idNotation
          - tickerExchange
          - tickerRegion
          - fdsPermanentIdentifierListing
          - fdsPermanentIdentifierRegional
        required: true
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      responses:
        '200':
          $ref: '#/components/responses/GetNotationKeyFiguresYearToDateGet200Response'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /notation/keyFigures/yearToDate/list:
    get:
      tags:
      - Date
      operationId: get/notation/keyFigures/yearToDate/list
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Factset End-of-day (eod) Key Figures for the Time Range Year-to-date (ytd), for a List of Notations..
      description: End-of-day (EOD) key figures for the time range year-to-date (YTD), for a list of notations. The time range YTD begins with the last trading day of the previous calendar year for which EOD prices are available and ends with the most recent tradingday of the current calendar year for which EOD prices are available..
      parameters:
      - name: identifiers
        in: query
        schema:
          description: Set of identifiers to resolve.
          type: array
          items:
            type: string
            minLength: 3
            maxLength: 50
            pattern: ^[B-DF-HJ-NP-TV-Z0-9]{6}-[LR]$|^[A-Z0-9.#&*+]{1,47}-[A-Z0-9]{2,4}$|^[0-9]{3,20}$
          uniqueItems: true
          minItems: 1
          maxItems: 100
        required: true
        style: form
        explode: false
      - name: identifierType
        in: query
        schema:
          type: string
          description: Type of the identifier.
          x-enum-description:
          - MDG identifier of a listing.
          - FactSet market symbol of a listing.
          - Regional FactSet ticker symbol, identifying the primary listing in the region.
          - FactSet Permanent Identifier on listing level.
          - Regional FactSet Permanent Identifier, identifying the primary listing in the region.
          enum:
          - idNotation
          - tickerExchange
          - tickerRegion
          - fdsPermanentIdentifierListing
          - fdsPermanentIdentifierRegional
        required: true
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      responses:
        '200':
          $ref: '#/components/responses/GetNotationKeyFiguresYearToDateList200Response'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    StatusObject:
      type: object
      properties:
        code:
          type: number
          format: int32
          description: The HTTP status code of the response, mirroring the code from the Status-Line of the HTTP response message (see [RFC2616] section 6.1).
          example: 42.5
      description: The status member contains the status code of the response.
      required:
      - code
  responses:
    GetNotationKeyFiguresYearToDateList200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: array
                description: EOD key figures for a list of notations.
                items:
                  type: object
                  x-property-sort:
                  - idNotation
                  - sourceIdentifier
                  - referenceDate
                  - performance
                  - high
                  - low
                  - volatility
                  - status
                  properties:
                    idNotation:
                      type:
                      - string
                      - 'null'
                      format: id64
                      x-positive: true
                      description: MDG identifier of the listing.
                    sourceIdentifier:
                      type:
                      - string
                      - 'null'
                      description: Identifier used in the request.
                    referenceDate:
                      type:
                      - string
                      - 'null'
                      format: date
                      description: Reference date of the time range.
                    performance:
                      type: object
                      x-property-sort:
                      - absolute
                      - relative
                      - referencePrice
                      description: Performance values.
                      properties:
                        absolute:
                          type:
                          - number
                          - 'null'
                          format: real
                          description: Absolute difference of a notation's most recent EOD closing price against the EOD closing price on the reference date.
                        relative:
                          type:
                          - number
                          - 'null'
                          format: relativeValue
                          description: Difference of a notation's most recent EOD closing price against the EOD closing price on the reference date, relative to the EOD closing price on the reference date.
                        referencePrice:
                          type:
                          - number
                          - 'null'
                          format: real
                          description: EOD closing price as of the reference date (see attribute `referenceDate`) used for calculation.
                    high:
                      type: object
                      x-property-sort:
                      - price
                      - date
                      description: Maximum value of the notation's price in the given time range.
                      properties:
                        price:
                          type:
                          - number
                          - 'null'
                          format: real
                          description: Maximum value.
                        date:
                          type:
                          - string
                          - 'null'
                          format: date
                          description: Date of the maximum value.
                    low:
                      type: object
                      x-property-sort:
                      - price
                      - date
                      description: Minimum value of the notation's price in the given time range.
                      properties:
                        price:
                          type:
                          - number
                          - 'null'
                          format: real
                          description: Minimum value.
                        date:
                          type:
                          - string
                          - 'null'
                          format: date
                          description: Date of the minimum value.
                    volatility:
                      type:
                      - number
                      - 'null'
                      format: real
                      description: Volatility of the daily logarithmic returns, annualized assuming 256 trading days per year.
                    status:
                      type: object
                      x-property-sort:
                      - code
                      - identifier
                      - details
                      - encryptedDetails
                      description: Error status for the requested identifier.
                      properties:
                        code:
                          type:
                          - string
                          - 'null'
                          description: Code of the error condition.
                          x-enum-description:
                          - No error.
                          - The provided identifier does not refer to a valid notation.
                          - Not entitled to see data for the notation.
                          - Unable to resolve the provided identifier.
                          enum:
                          - none
                          - parameter
                          - entitlement
                          - identifierMapping
                        identifier:
                          type:
                          - string
                          - 'null'
                          format: id64
                          x-positive: true
                          description: Provided identifier.
                        details:
                          type:
                          - string
                          - 'null'
                          description: A human-readable, unstructured explanation specific to this occurrence of the problem.
                        encryptedDetails:
                          type:
                          - string
                          - 'null'
                          description: Base64-encoded internal details about the error.
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                x-property-sort:
                - status
            x-property-sort:
            - data
            - meta
    GetNotationKeyFiguresYearToDateGet200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: object
                properties:
                  idNotation:
                    type:
                    - string
                    - 'null'
                    format: id64
                    x-positive: true
                    description: MDG identifier of the listing.
                  sourceIdentifier:
                    type:
                    - string
                    - 'null'
                    description: Identifier used in the request.
                  referenceDate:
                    type:
                    - string
                    - 'null'
                    format: date
                    description: Reference date of the time range.
                  performance:
                    type: object
                    x-property-sort:
                    - absolute
                    - relative
                    - referencePrice
                    description: Performance values.
                    properties:
                      absolute:
                        type:
                        - number
                        - 'null'
                        format: real
                        description: Absolute difference of a notation's most recent EOD closing price against the EOD closing price on the reference date.
                      relative:
                        type:
                        - number
                        - 'null'
                        format: relativeValue
                        description: Difference of a notation's most recent EOD closing price against the EOD closing price on the reference date, relative to the EOD closing price on the reference date.
                      referencePrice:
                        type:
                        - number
                        - 'null'
                        format: real
                        description: EOD closing price as of the reference date (see attribute `referenceDate`) used for calculation.
                  high:
                    type: object
                    x-property-sort:
                    - price
                    - date
                    description: Maximum value of the notation's price in the given time range.
                    properties:
                      price:
                        type:
                        - number
                        - 'null'
                        format: real
                        description: Maximum value.
                      date:
                        type:
                        - string
                        - 'null'
                        format: date
                        description: Date of the maximum value.
                  low:
                    type: object
                    x-property-sort:
                    - price
                    - date
                    description: Minimum value of the notation's price in the given time range.
                    properties:
                      price:
                        type:
                        - number
                        - 'null'
                        format: real
                        description: Minimum value.
                      date:
                        type:
                        - string
                        - 'null'
                        format: date
                        description: Date of the minimum value.
                  volatility:
                    type:
                    - number
                    - 'null'
                    format: real
                    description: Volatility of the daily logarithmic returns, annualized assuming 256 trading days per year.
                x-property-sort:
                - idNotation
                - sourceIdentifier
                - referenceDate
                - performance
                - high
                - low
                - volatility
                description: EOD key figures.
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                x-property-sort:
                - status
            x-property-sort:
            - data
            - meta
  securitySchemes:
    FactSetOAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://auth.factset.com/as/token.oauth2
          scopes: {}
    FactSetApiKey:
      type: http
      scheme: basic
externalDocs:
  description: API Documentation
  url: https://developer.factset.com/api-catalog/
x-interface-version: 2
x-documenter-version: 6.3.9
x-api-version: 4.4.0
