openapi: 3.2.0
info:
  title: Factset Documents Distributor - Documents Global Filings API
  version: 1.0.0
  description: "Documents APIs that provide filings such as Global Filings and XML files such as StreetAccount\n\n  Global Filings API provides the capability to search and download filings documents from various exchanges around the world. This API will provide access to the full history and the ability to search by date and dataset(source). It does not provide real-time updates to the filings documents. Filings providers currently include EDGAR \n  \n  Note: The real-time updates to the filing documents will be available within week to ten days and per request able to query up to 8 days of data\n        \n  \n  StreetAccount XML API provides access to historical StreetAccount (SA) news. SA provides a summary for various corporate and market news written by journalist with background in financial markets.\n\n  The API delivers SA stories in XML format based on user-specified date input parameters. When the API request is completed, output files will be made available back to the users through a secure URL. This API has three endpoints (1) Request Files (2) Check Status (3) Get Files.\n  \n  This API only supports adhoc requests to retrieve historical files and does not support real-time files and if require real-time push should consider the other three methods (pushed via SFTP, to QNT account, or users Azure Storage)\n\n Both historical and real-time Street Account news is also delivered via SFTP, to users QNT account, or users Azure Storage.\n\nFiles delivered contain both metadata and content body in each file. This eliminates the need to make multiple requests through multiple services to get all the information.\n\nNews API provides access to historical news. This provides a summary for various corporate and market news written by journalist with background in financial markets.\n\nThe API delivers  stories in different format based on user-specified date input parameters. When the API request is completed, output files will be made available back to the users through a secure URL. This API has three endpoints (1) Request Files (2) Check Status (3) Get Files  \n "
servers:
- url: https://api.factset.com/bulk-documents
security:
- BasicAuth: []
tags:
- name: Global Filings
paths:
  /global-filings/v1/list-files:
    get:
      tags:
      - Global Filings
      summary: Retrieve filings within FactSet coverage
      description: Parameters can be used to get the filings
      parameters:
      - name: dataset
        in: query
        description: This parameter filters the results based on the dataset of the filings documents.
        required: true
        schema:
          type: string
          enum:
          - edgar
      - name: startDate
        in: query
        description: The earliest date the API should fetch for. Dates can be YYYY-MM-DD format
        required: true
        schema:
          type: string
          format: date
      - name: endDate
        in: query
        description: The date after upto eight days of the earliest date given the API should fetch for. Dates can be YYYY-MM-DD format
        required: true
        schema:
          type: string
          format: date
      responses:
        '200':
          description: Global Filings data items
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/filingsResponse'
              examples:
                default200ResponseExample:
                  $ref: '#/components/examples/200lfdefaultExample'
        '400':
          description: Bad request- invalid or missing parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/status'
              examples:
                400defaultExample:
                  $ref: '#/components/examples/400lfdefaultExample'
components:
  examples:
    200lfdefaultExample:
      summary: Sample Response
      value:
      - filePath: edgar/2020/20200715.zip
        fileUrl: https://fdss3-news-content-archive-prod-a.s3.amazonaws.com/edgar/2020/20200715.zip?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=ASIA6B6XG7VE24JNFFXZ%2F20220216%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20220216T111407Z&X-Amz-Expires=86400&X-Amz-SignedHeaders=host&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEHQaCXVzLWVhc3QtMSJHMEUCIQDDY%2BKy5yyr6zBc%2FwxQYOIUr%2BNicMgpE2gKoBXk3hc9SgIgFRx7ey2FN9BgEEvfwl%2FGVpPpVvrTyNv0H0sIaC7ckXcqqQIIvP%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FARABGgw5NjYyODIxMTY0MjUiDMdI11x8Guqcy7rKtCr9ASKyQmvqLEQyZyTMPH6i1ZsMzUbqCDh2QMlAUz4bhspkuZyB7fMa0D0xqnzMgjYC3A2oN4o0O%2FkklhL6S3A13GC5lUu68leh5ul3150a5A8NwN1YJA0xE2AxCNP1AsU7SgxEPjkKz7%2FvmGMHqWYH0tcx7r%2FNAd3lQFoj6WgjhkL1VJmWWnu2bxmfpAxNnUB5pTgfnw3wS9T47CQNGQJ1hO38kFWcnse82biFm%2Br1FGmDHAJj1eTYqLWjQmCi1U3XnbnTkCTEsOyIGcx9uHAxVRSiDqwkmiFXzRy9Zy%2F240OFyfmP%2BSOgjEqoz6Q%2BtnCyedeJO6ogrKuGt2IxX50w%2FbizkAY6mgGj7tordZZ0GmDYyNicHOKR%2Fll66YgZWl0cW1HXHoduCy21Nv7RsgQTQllK%2BnTeP3tw64enwZzxfzLKE01DV73v5DqXMjSLTiRMZh9AD8CtOpHbW08Hxe2hb8%2Fn3ppU8%2FsWt3u6YiCdKk5dzDPztObwxE7gVLZfoRcMJ7QX2hBE5bVkqIR5HX3a5OwmvCrrEazjwtOeaS%2FngoPq&X-Amz-Signature=ad377632936524e5de4c02066d4412b8fe2f2b8f956f30a1dc164ce9598a05f3
    400lfdefaultExample:
      summary: Sample error Response
      value:
        id: 06d89fce-b6fa-43b4-a1a7-4f5e8ceeae44
        error_message: parameterError:endDate must be an int or a date
  schemas:
    status:
      title: Response Status of Global Filings
      type: object
      properties:
        id:
          type: string
        error_message:
          description: Textual error message
          type: string
    filingsFiles:
      type: object
      properties:
        filePath:
          description: path of the filings document.
          type: string
        fileUrl:
          description: Download link for the filings document.
          type: string
    filingsResponse:
      type: array
      items:
        $ref: '#/components/schemas/filingsFiles'
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
