openapi: 3.2.0
info:
  description: The BookBuilder API is a powerful tool that combines detailed reports for companies of interest.
  title: Factset BookBuilder Template List API
  version: '1.11'
servers:
- url: https://api.factset.com/book-builder-api/
  description: Base URL Production
security:
- BasicAuth: []
tags:
- name: Template List
paths:
  /v1/template-list:
    get:
      tags:
      - Template List
      summary: Factset Retrieves the list of templates that are available
      description: A template is a predefined list of content to be compiled in a PDF. This end point works without any parameters and retrieves the list of templates available for the user. Templates need to defined/created in FactSet workstation.
      responses:
        '200':
          description: Successful response contains an array with template name, template ID, created date, template source and template type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Enable_Template_Info'
        '401':
          description: Missing or invalid authentication
      operationId: getV1TemplateList
      x-operation-id-source: derived
components:
  schemas:
    Enable_Template_Info:
      title: Template Request
      description: Request to enable template list information for the client.
      type: array
      items:
        properties:
          template_id:
            type: string
            description: Template ID
            example: 20200623094829450
          template_name:
            type: string
            description: Template name
            example: Financials
          created_on:
            type: string
            description: Date on which the template was created
            example: 2020-6-23 9:48
          template_source:
            type: string
            description: Source of the template - Custom vs. Default
            example: own_template
          type:
            type: string
            description: Type of the template
            example: Public
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
