openapi: 3.0.3
info:
  title: Factset Analytics Datastore About Template API
  description: Allow clients to fetch precalculated Analytics through predeterministic URLs.
  contact:
    name: FactSet Research Systems
    url: https://developer.factset.com/contact
    email: api@factset.com
  license:
    name: Apache License, Version 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  version: 1.0.0
servers:
- url: https://api.factset.com
  description: Production
- url: https://api-sandbox.factset.com
  description: Sandbox
security:
- basicAuth: []
tags:
- name: Template
paths:
  /v1/template-list:
    get:
      tags:
      - Template
      summary: Factset Retrieves the List of Templates That Are Available
      description: A template is a predefined list of content to be compiled in a PDF. This end point works without any parameters and retrieves the list of templates available for the user. Templates need to defined/created in FactSet workstation.
      responses:
        '200':
          description: Successful response contains an array with template name, template ID, created date, template source and template type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Enable_Template_Info'
        '401':
          description: Missing or invalid authentication
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v1/create-template/:
    post:
      tags:
      - Template
      summary: Factset Kick Off Request to Create Template With Reports of Your Choice
      description: This end point retrieves template name and template_id of the template you create. All the book options such as name of the template, type, and reports can be specified in the request body. Please refer to the documentation for valid section ids and report ids.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createTemplatePostRequest'
      responses:
        '200':
          description: Successful response contains book name and book ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Enable_Template_Info_Post'
        '400':
          description: Invalid template type/section_id/report_id
        '401':
          description: Missing or invalid authentication
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v1/create-book-from-template:
    post:
      tags:
      - Template
      summary: Factset Kicks Off Request to Create a Book With Template
      description: This endpoint retrieves book status, book name, and book ID for ticker requested in JSON format. This end-point excepts ticker and template_id as inputs. If the template_id input is not used, a book will be created with FactSet's default template.</br></br>Please try out the below template ids to quickly get the FactSet curated books</br></br>Company Quick Book - <b>g_20210415065838185</b></br>Post-Earnings Call - <b>g_20210415070044785</b> </br>Public Information Book(PIB) - <b>g_20210415070353151</b></br></br> Take a look at the example books attached under API documentation below.</br></br>If you are scheduling Post Earnings Call curated book, please note that in contains Corrected Transcript that takes a little while to be available.</br> </br>Once a Raw Transcript is published, FactSet's editors review the call to produce a Corrected Transcript. They listen to the entire audio file again to confirm that all of the terms and numbers are correctly transcribed. FactSet aims to publish a Corrected Transcript within six times the length of the event, measured from the beginning of the event. That means for a typical one-hour call, FactSet will produce a Corrected Transcript within approximately five hours of the call's completion. Visit [OA 13208](https://my.apps.factset.com/oa/pages/13208)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createBookFromTemplatePostRequest'
      responses:
        '200':
          description: Successful response contains request status, book name, and book ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Enable_Book_Info_From_Template'
        '400':
          description: Invalid ticker or Unknown error
        '401':
          description: Missing or invalid authentication
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /analytics/engines/pa/v3/unlinked-templates/template-types:
    get:
      tags:
      - Template
      summary: Factset Get Default Unlinked Pa Template Types.
      description: This endpoint fetches default unlinked PA template types.
      operationId: getDefaultUnlinkedPATemplateTypes
      responses:
        '200':
          description: Expected response, default unlinked PA template types
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnlinkedPATemplateCategoryAndTypeRoot'
        '401':
          description: Missing or invalid authentication.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
        '403':
          description: User is forbidden with current credentials
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              schema:
                type: string
        '406':
          description: Unsupported Accept header. Header needs to be set to application/json.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              schema:
                type: string
        '429':
          description: Rate limit reached. Wait till the time specified in Retry-After header value to make further requests.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
            Retry-After:
              description: Time to wait in seconds before making a new request as the rate limit has reached.
              schema:
                type: string
        '500':
          description: Server error. Log the X-DataDirect-Request-Key header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
        '503':
          description: Request timed out. Retry the request in sometime.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /analytics/engines/pa/v3/unlinked-templates/template-types/{id}:
    get:
      tags:
      - Template
      summary: Factset Get Unlinked Pa Template Type Details by Id.
      description: This endpoint fetches the unlinked PA template type details.
      operationId: getDetailsType
      parameters:
      - name: id
        in: path
        description: Unique identifier for an unlinked PA template type
        required: true
        schema:
          type: string
          description: Unique identifier for an unlinked PA template type
      responses:
        '200':
          description: Expected response, details of the unlinked PA template type
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnlinkedPATemplateCategoryAndTypeDetailsRoot'
        '400':
          description: Invalid data provided. Please check the request parameters before attempting again.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
        '401':
          description: Missing or invalid authentication.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
        '403':
          description: User is forbidden with current credentials
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              schema:
                type: string
        '404':
          description: Unlinked PA template type not found.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
        '406':
          description: Unsupported Accept header. Header needs to be set to application/json.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              schema:
                type: string
        '429':
          description: Rate limit reached. Wait till the time specified in Retry-After header value to make further requests.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
            Retry-After:
              description: Time to wait in seconds before making a new request as the rate limit has reached.
              schema:
                type: string
        '500':
          description: Server error. Log the X-DataDirect-Request-Key header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
        '503':
          description: Request timed out. Retry the request in sometime.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    UnlinkedPATemplateCategoryAndTypeRoot:
      required:
      - data
      type: object
      properties:
        data:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/UnlinkedPATemplateCategoryAndType'
          example: example_value
        meta:
          nullable: true
          example: example_value
    ClientErrorResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Error'
          nullable: true
          example: []
    UnlinkedPATemplateCategoryAndTypeDetailsRoot:
      required:
      - data
      type: object
      properties:
        data:
          $ref: '#/components/schemas/UnlinkedPATemplateCategoryAndTypeDetails'
        meta:
          nullable: true
          example: example_value
    createBookFromTemplatePostRequest:
      title: Request Body for Post Request
      description: It is a request body to allow users to input ticker and template id.
      type: object
      properties:
        ticker:
          type: string
          description: ticker
          example: FDS-US
        template_id:
          type: string
          description: Template ID
          example: g_20210415065838185
    UnlinkedPATemplateCategoryAndType:
      type: object
      properties:
        category:
          type: string
          description: Unlinked template category
          nullable: true
          example: example_value
        name:
          type: string
          description: Unlinked template type
          nullable: true
          example: Example Title
    ErrorSource:
      type: object
      properties:
        pointer:
          type: string
          nullable: true
          example: example_value
        parameter:
          type: string
          nullable: true
          example: example_value
    UnlinkedPATemplateGroupDetails:
      type: object
      properties:
        name:
          type: string
          description: Unlinked template group name
          nullable: true
          example: Example Title
        id:
          type: string
          description: FactSet-defined or User-defined Group identifier.
          nullable: true
          example: abc123
        frequency:
          type: string
          description: Grouping frequency
          nullable: true
          example: example_value
    Error:
      type: object
      properties:
        id:
          type: string
          nullable: true
          example: abc123
        code:
          type: string
          nullable: true
          example: example_value
        title:
          type: string
          nullable: true
          example: Example Title
        detail:
          type: string
          nullable: true
          example: example_value
        source:
          $ref: '#/components/schemas/ErrorSource'
    Enable_Book_Info_From_Template:
      title: Book Information Request
      description: Request to enable book information for the client.
      type: object
      properties:
        status:
          type: string
          description: Request status
          example: OK
        bookName:
          type: string
          description: Report Name
          example: Apple Inc.
        bookID:
          type: string
          description: Book ID
          example: 20200317133713790
    UnlinkedPATemplateCategoryAndTypeDetails:
      type: object
      properties:
        id:
          type: string
          description: Type Id
          nullable: true
          example: abc123
        columns:
          type: array
          items:
            $ref: '#/components/schemas/UnlinkedPATemplateColumnDetails'
          description: List of default columns
          nullable: true
          example: []
        groups:
          type: array
          items:
            $ref: '#/components/schemas/UnlinkedPATemplateGroupDetails'
          description: List of default groupings
          nullable: true
          example: []
        snapshot:
          type: boolean
          description: Snapshot
          example: true
        category:
          type: string
          description: Unlinked template category
          nullable: true
          example: example_value
        name:
          type: string
          description: Unlinked template type
          nullable: true
          example: Example Title
    Enable_Template_Info_Post:
      title: Template Request
      description: Request to enable template list information for the client.
      type: object
      properties:
        tmpl_id:
          type: string
          description: Template ID
          example: 20200623094829450
        tmpl_name:
          type: string
          description: Template name
          example: Financials
    createTemplatePostRequest:
      title: Request Body for Template Request
      description: The request body allows users to input the name of the template, ticker
      type: object
      properties:
        tmpl_name:
          type: string
          description: name of the template
          example: Quick Financials
        tmpl_type:
          type: string
          description: Type of the template (public,pc,pe,fi)
          example: public
        content:
          type: array
          description: Content sections
          items:
            oneOf:
            - type: object
              properties:
                section_id:
                  example: COMPANY_OVERVIEW
                reports:
                  type: array
                  items:
                    oneOf:
                    - type: string
                      example: COMPANY_SNAPSHOT_IB
                    - type: string
                      example: COMPANY_SNAPSHOT_IM
                    - type: string
                      example: ENTITY_STRUCTURE
          example: []
    UnlinkedPATemplateColumnDetails:
      type: object
      properties:
        name:
          type: string
          description: Unlinked template column name
          nullable: true
          example: Example Title
        id:
          type: string
          description: FactSet-defined or User-defined Column identifier.
          nullable: true
          example: abc123
        statistics:
          type: array
          items:
            type: string
          description: Column Statistic identifier
          nullable: true
          example: []
    Enable_Template_Info:
      title: Template Request
      description: Request to enable template list information for the client.
      type: array
      items:
        properties:
          template_id:
            type: string
            description: Template ID
            example: 20200623094829450
          template_name:
            type: string
            description: Template name
            example: Financials
          created_on:
            type: string
            description: Date on which the template was created
            example: 2020-6-23 9:48
          template_source:
            type: string
            description: Source of the template - Custom vs. Default
            example: own_template
          type:
            type: string
            description: Type of the template
            example: Public
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
externalDocs:
  url: https://developer.factset.com/api-catalog/analytics-datastore-api
  description: API Documentation
