openapi: 3.2.0
info:
  title: FactSet IRN Meetings API
  description: 'Meetings API allows users to extract, create, update and delete their

    meetings and appointments in Internal Research Notes application.'
  version: '1'
servers:
- url: https://api.factset.com/research/irn
  description: Production Server
- url: https://api-sandbox.factset.com/research/irn
  description: Sandbox
security:
- basicScheme: []
tags:
- name: Meetings
paths:
  /v1/meetings:
    get:
      tags:
      - Meetings
      summary: Factset Get All the Meetings in the Specified Date Range Filtered on the Given…
      operationId: GetMeetings
      parameters:
      - name: start
        in: query
        description: StartDate
        schema:
          type: string
      - name: end
        in: query
        description: EndDate
        schema:
          type: string
      - name: identifiers
        in: query
        description: Set of identifiers to filter on
        schema:
          type: array
          items:
            type: string
      - name: limit
        in: query
        description: Limit on the number of meetings retrieved
        schema:
          type: integer
          format: int32
      - name: modifiedSince
        in: query
        description: Only return meetings which have been modified or created since a particular time
        schema:
          type: string
      - name: includeRelatedEntities
        in: query
        description: When set to true fetches meetings tagged with all the entities related to identifiers param
        schema:
          type: boolean
          default: false
      - name: X-IRN-Include-Deleted
        in: header
        description: Includes deleted meetings in results when set to true
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MeetingSummaryDto'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      tags:
      - Meetings
      summary: Factset Create a Meeting
      operationId: CreateMeeting
      requestBody:
        description: 'Note: The organizer property is deprecated in favor of organizerId'
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/CreateMeetingDto'
          application/json:
            schema:
              $ref: '#/components/schemas/CreateMeetingDto'
          text/json:
            schema:
              $ref: '#/components/schemas/CreateMeetingDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/CreateMeetingDto'
      responses:
        '201':
          description: Success - Returns unique identifier of the meeting created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewItemDto'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v1/meetings/{meetingId}:
    get:
      tags:
      - Meetings
      summary: Factset Get Details of a Meeting
      operationId: GetMeeting
      parameters:
      - name: meetingId
        in: path
        description: Meeting Id
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeetingDto'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      tags:
      - Meetings
      summary: Factset Update Meeting
      operationId: UpdateMeeting
      parameters:
      - name: meetingId
        in: path
        description: Meeting Id
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        description: 'Meeting details to update. Note: The organizer property is deprecated in favor of organizerId'
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/UpdateMeetingDto'
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateMeetingDto'
          text/json:
            schema:
              $ref: '#/components/schemas/UpdateMeetingDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/UpdateMeetingDto'
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      tags:
      - Meetings
      summary: Factset Delete a Meeting
      operationId: DeleteMeeting
      parameters:
      - name: meetingId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v1/meetings/{meetingId}/events:
    get:
      tags:
      - Meetings
      summary: Factset Get All the Record Events That Belong to a Meeting
      operationId: GetEvents
      parameters:
      - name: meetingId
        in: path
        description: Meeting ID
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RecordEventSummaryDto'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v1/meetings/{meetingId}/events/{recordEventId}:
    get:
      tags:
      - Meetings
      summary: Factset Get Details of a Record Event of a Meeting
      operationId: GetRecordEvent
      parameters:
      - name: meetingId
        in: path
        description: Meeting Id
        required: true
        schema:
          type: string
          format: uuid
      - name: recordEventId
        in: path
        description: Record Event Id
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeetingEventDto'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    RecordChangeDto:
      type: object
      properties:
        field:
          type:
          - string
          - 'null'
          example: example_value
        operation:
          type:
          - string
          - 'null'
          example: example_value
        oldValue:
          type:
          - string
          - 'null'
          example: example_value
        newValue:
          type:
          - string
          - 'null'
          example: example_value
        oldList:
          type:
          - array
          - 'null'
          items:
            type: string
          example: []
        newList:
          type:
          - array
          - 'null'
          items:
            type: string
          example: []
      additionalProperties: false
    CustomFieldValueDto:
      type: object
      properties:
        code:
          type:
          - string
          - 'null'
          example: example_value
        value:
          type:
          - string
          - 'null'
          example: example_value
        options:
          type:
          - array
          - 'null'
          items:
            type: string
          example: []
        contactValues:
          type:
          - array
          - 'null'
          items:
            type: string
            format: uuid
          example: []
      additionalProperties: false
    AttendeeDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: abc123
        emailAddress:
          type:
          - string
          - 'null'
          example: user@example.com
        fullName:
          type:
          - string
          - 'null'
          example: example_value
      additionalProperties: false
    UserSerialDto:
      required:
      - serialNumber
      - username
      type: object
      properties:
        username:
          maxLength: 30
          minLength: 0
          type: string
          example: example_value
        serialNumber:
          maxLength: 8
          minLength: 0
          type: string
          example: example_value
      additionalProperties: false
    CreateMeetingDto:
      required:
      - author
      - end
      - start
      type: object
      properties:
        author:
          $ref: '#/components/schemas/UserSerialDto'
        title:
          maxLength: 255
          minLength: 0
          type:
          - string
          - 'null'
          example: Example Title
        identifier:
          type:
          - string
          - 'null'
          example: example_value
        start:
          type: string
          example: example_value
        end:
          type: string
          example: example_value
        locations:
          type:
          - array
          - 'null'
          items:
            type: string
          example: []
        organizer:
          maxLength: 255
          minLength: 0
          type:
          - string
          - 'null'
          deprecated: true
          example: example_value
        organizerId:
          type: string
          format: uuid
          example: '500123'
        attendees:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ReferenceAttendeeDto'
          example: []
        alertAttendees:
          type: boolean
          default: false
          example: true
        alertAuthor:
          type: boolean
          default: false
          example: true
        relatedRecords:
          $ref: '#/components/schemas/RelatedRecordsDto'
        relatedContacts:
          type:
          - array
          - 'null'
          items:
            type: string
            format: uuid
          example: []
        relatedSymbols:
          maxItems: 100
          type:
          - array
          - 'null'
          items:
            type: string
          example: []
        body:
          $ref: '#/components/schemas/CreateBodyDto'
        customFieldValues:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CreateCustomFieldValueDto'
          example: []
      additionalProperties: false
    RecordEventSummaryDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: abc123
        type:
          type:
          - string
          - 'null'
          example: example_value
        createdAt:
          type:
          - string
          - 'null'
          example: example_value
      additionalProperties: false
    LocationDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: abc123
        locationName:
          type:
          - string
          - 'null'
          example: example_value
      additionalProperties: false
    ReferenceAttendeeDto:
      type: object
      properties:
        emailAddress:
          type:
          - string
          - 'null'
          example: user@example.com
      additionalProperties: false
    RelatedRecordsDto:
      type: object
      properties:
        noteIds:
          type:
          - array
          - 'null'
          items:
            type: string
            format: uuid
          example: []
        meetingIds:
          type:
          - array
          - 'null'
          items:
            type: string
            format: uuid
          example: []
      additionalProperties: false
    MeetingSummaryDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: abc123
        start:
          type:
          - string
          - 'null'
          example: example_value
        end:
          type:
          - string
          - 'null'
          example: example_value
        createdAt:
          type:
          - string
          - 'null'
          example: example_value
        authorId:
          type: string
          format: uuid
          example: '500123'
        title:
          type:
          - string
          - 'null'
          example: Example Title
        identifier:
          type:
          - string
          - 'null'
          example: example_value
        organizer:
          type:
          - string
          - 'null'
          deprecated: true
          example: example_value
        organizerId:
          type: string
          format: uuid
          example: '500123'
        attachmentIds:
          type:
          - array
          - 'null'
          items:
            type: string
            format: uuid
          example: []
        relatedSymbols:
          type:
          - array
          - 'null'
          items:
            type: string
          example: []
        locations:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/LocationDto'
          example: []
        attendees:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/AttendeeDto'
          example: []
        customFieldValues:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CustomFieldValueDto'
          example: []
      additionalProperties: false
    CreateCustomFieldValueDto:
      required:
      - code
      type: object
      properties:
        code:
          type: string
          example: example_value
        integerValue:
          type:
          - integer
          - 'null'
          format: int32
          example: 10
        textValue:
          type:
          - string
          - 'null'
          example: example_value
        filePathValue:
          type:
          - string
          - 'null'
          example: example_value
        numericValue:
          type:
          - number
          - 'null'
          format: double
          example: 42.5
        dateValue:
          type:
          - string
          - 'null'
          example: example_value
        extendedTextValue:
          type:
          - string
          - 'null'
          example: example_value
        contactLookupValues:
          type:
          - array
          - 'null'
          items:
            type: string
            format: uuid
          example: []
        optionValue:
          type:
          - string
          - 'null'
          example: example_value
        optionValues:
          type:
          - array
          - 'null'
          items:
            type: string
          example: []
      additionalProperties: false
      description: 'Set a value or values for a custom field identified by the field ''Code''. Only one of the fields (IntegerValue / TextValue / FilePathValue etc) will be used,

        depending on the data type of the custom field corresponding to the ''Code'' provided'
    UpdateMeetingDto:
      required:
      - end
      - identifier
      - start
      - title
      type: object
      properties:
        title:
          maxLength: 255
          minLength: 0
          type: string
          example: Example Title
        identifier:
          type: string
          example: example_value
        start:
          type: string
          example: example_value
        end:
          type: string
          example: example_value
        locations:
          type:
          - array
          - 'null'
          items:
            type: string
          example: []
        organizer:
          maxLength: 255
          minLength: 0
          type:
          - string
          - 'null'
          deprecated: true
          example: example_value
        organizerId:
          type: string
          format: uuid
          example: '500123'
        attendees:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ReferenceAttendeeDto'
          example: []
        alertAttendees:
          type: boolean
          default: false
          example: true
        alertAuthor:
          type: boolean
          default: false
          example: true
        relatedRecords:
          $ref: '#/components/schemas/RelatedRecordsDto'
        relatedContacts:
          type:
          - array
          - 'null'
          items:
            type: string
            format: uuid
          example: []
        relatedSymbols:
          maxItems: 100
          type:
          - array
          - 'null'
          items:
            type: string
          example: []
        body:
          $ref: '#/components/schemas/CreateBodyDto'
        customFieldValues:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CreateCustomFieldValueDto'
          example: []
      additionalProperties: false
    CreateBodyDto:
      type: object
      properties:
        content:
          type:
          - string
          - 'null'
          example: example_value
      additionalProperties: false
    MeetingDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: abc123
        start:
          type:
          - string
          - 'null'
          example: example_value
        end:
          type:
          - string
          - 'null'
          example: example_value
        createdAt:
          type:
          - string
          - 'null'
          example: example_value
        authorId:
          type: string
          format: uuid
          example: '500123'
        title:
          type:
          - string
          - 'null'
          example: Example Title
        identifier:
          type:
          - string
          - 'null'
          example: example_value
        organizer:
          type:
          - string
          - 'null'
          deprecated: true
          example: example_value
        organizerId:
          type: string
          format: uuid
          example: '500123'
        body:
          type:
          - string
          - 'null'
          example: example_value
        averageRating:
          type:
          - integer
          - 'null'
          format: int32
          example: 10
        alertAttendees:
          type: boolean
          example: true
        alertAuthor:
          type: boolean
          example: true
        locations:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/LocationDto'
          example: []
        attendees:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/AttendeeDto'
          example: []
        customFields:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CustomFieldValueDto'
          example: []
        relatedSymbols:
          type:
          - array
          - 'null'
          items:
            type: string
          example: []
        relatedRecords:
          $ref: '#/components/schemas/RelatedRecordsDto'
        relatedContacts:
          type:
          - array
          - 'null'
          items:
            type: string
            format: uuid
          example: []
      additionalProperties: false
    ProblemDetails:
      type: object
      properties:
        type:
          type:
          - string
          - 'null'
          example: example_value
        title:
          type:
          - string
          - 'null'
          example: Example Title
        status:
          type:
          - integer
          - 'null'
          format: int32
          example: 10
        detail:
          type:
          - string
          - 'null'
          example: example_value
        instance:
          type:
          - string
          - 'null'
          example: example_value
      additionalProperties: {}
    NewItemDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: abc123
      additionalProperties: false
    MeetingEventDto:
      type: object
      properties:
        createdAt:
          type:
          - string
          - 'null'
          example: example_value
        type:
          type:
          - string
          - 'null'
          example: example_value
        user:
          type:
          - string
          - 'null'
          example: example_value
        changeList:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/RecordChangeDto'
          example: []
      additionalProperties: false
  securitySchemes:
    basicScheme:
      type: http
      scheme: basic
