openapi: 3.0.3
info:
  title: Factset Analytics Datastore About Output API
  description: Allow clients to fetch precalculated Analytics through predeterministic URLs.
  contact:
    name: FactSet Research Systems
    url: https://developer.factset.com/contact
    email: api@factset.com
  license:
    name: Apache License, Version 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  version: 1.0.0
servers:
- url: https://api.factset.com
  description: Production
- url: https://api-sandbox.factset.com
  description: Sandbox
security:
- basicAuth: []
tags:
- name: Output
paths:
  /analytics/quant/fpe/v1/calculations/{id}/output:
    get:
      tags:
      - Output
      summary: Factset Get Calculation Output for a Specific Calculation
      description: This endpoint returns the specified output from the calculation.
      parameters:
      - name: id
        in: path
        description: From url, provided by location header or response body in the calculation start endpoint
        required: true
        schema:
          type: string
          description: From url, provided by location header or response body in the calculation start endpoint
      responses:
        '200':
          description: Expected response. Signals that the calculation is finished. Output from the calculation is returned.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            Content-Type:
              description: The content type of the output specified in the calculation's script.
              schema:
                type: string
          content:
            '*':
              schema:
                type: string
                format: binary
        '202':
          description: Expected response. Signals that the calculation is still in progress and no output is returned.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
        '500':
          description: Server error. Log the X-DataDirect-Request-Key header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
        '503':
          description: Request timeout. Retry the request later
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
externalDocs:
  url: https://developer.factset.com/api-catalog/analytics-datastore-api
  description: API Documentation
