openapi: 3.0.3
info:
  title: Factset Analytics Datastore About Image API
  description: Allow clients to fetch precalculated Analytics through predeterministic URLs.
  contact:
    name: FactSet Research Systems
    url: https://developer.factset.com/contact
    email: api@factset.com
  license:
    name: Apache License, Version 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  version: 1.0.0
servers:
- url: https://api.factset.com
  description: Production
- url: https://api-sandbox.factset.com
  description: Sandbox
security:
- basicAuth: []
tags:
- name: Image
paths:
  /v1/image:
    get:
      tags:
      - Image
      summary: Factset Get chart image back in PNG or JPEG formats
      operationId: Images
      parameters:
      - in: query
        name: chart
        required: true
        description: 'Path to the saved chart. For any of the default charts, the option should be `categoryName + ''/'' + chartName`. For charts under the Client or Personal directories, the option should be `directoryName + '':/'' + pathTotheChart`.  '
        schema:
          type: string
          example: Equity/RSI
      - in: query
        name: ids
        required: false
        description: List of identifiers to be charted in a comma(,) separated string. Only the first one would be considered as primary and rest would be added as comps. Check the catalog for more information on which charts require a ticker.
        schema:
          type: string
          example: FDS,AAPL
      - in: query
        name: sd
        required: false
        description: Option for overriding the startDate of the chart. For absolute dates provide a string in `YYYYMMDD` format. We can also specify relative date options
        schema:
          type: string
          example: -1Y
      - in: query
        name: ed
        required: false
        description: Option for overriding the endDate of the chart. For absolute dates provide a string in `YYYYMMDD` format. We can also specify relative date options
        schema:
          type: string
          example: '0'
      - in: query
        name: width
        required: false
        description: Option for setting the width of the image
        schema:
          type: integer
          format: int64
          default: 1056
          example: 600
      - in: query
        name: height
        required: false
        description: Option for setting the height of the image
        schema:
          type: integer
          format: int64
          default: 816
          example: 500
      - in: query
        name: freq
        required: false
        description: A shorthand string for the overall frequency of the chart like `D` (daily), `W` (weekly), `Y` (yearly) and `Q` (Quarterly). This will default to frequency stored in the document.
        schema:
          type: string
          example: D
      - in: query
        name: ccy
        required: false
        description: Currency ISO code for the overall currency of the chart. The API doesn't allow per series currency at this point in time.
        schema:
          type: string
          example: USD
      - in: query
        name: split
        required: false
        description: Option to specify the splits adjustment
        schema:
          type: string
          example: SPLIT
          enum:
          - SPLIT
          - UNSPLIT
      - in: query
        name: spin
        required: false
        description: Numeric option to specify the spinOffs adjustment. Possible options include `0` (When we only want spits adjustment), `1` (spinOffs), `4` (spinOffs and cash dividends) and `9` (No adjustments)
        schema:
          type: number
          enum:
          - 0
          - 1
          - 4
          - 9
          example: 1
      - in: query
        name: cal
        required: false
        description: Option for the calendarType of the chart
        schema:
          type: string
          default: local
          enum:
          - local
          - fiveDay
          - sevenDay
      - in: query
        name: title
        required: false
        description: Option to customize the title. If you don't customize the title, then it displays by default the security name.
        schema:
          type: string
      - in: query
        name: fontSize
        required: false
        description: Option to adjust chart's fontSize
        schema:
          type: number
          example: 10
      - in: query
        name: type
        required: false
        description: The type of image to be generated by the service
        schema:
          type: string
          default: png
          enum:
          - png
          - jpg
      - in: query
        name: gridLines
        required: false
        description: Option to toggle gridLines on/off on the chart
        schema:
          type: boolean
          default: true
          example: false
      responses:
        '200':
          description: Success
          content:
            img/png:
              schema:
                $ref: '#/components/schemas/PNGResponse'
components:
  schemas:
    PNGResponse:
      type: string
      example: (no example available)
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
externalDocs:
  url: https://developer.factset.com/api-catalog/analytics-datastore-api
  description: API Documentation
