openapi: 3.0.3
info:
  title: Factset Analytics Datastore About Swivel API
  description: Allow clients to fetch precalculated Analytics through predeterministic URLs.
  contact:
    name: FactSet Research Systems
    url: https://developer.factset.com/contact
    email: api@factset.com
  license:
    name: Apache License, Version 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  version: 1.0.0
servers:
- url: https://api.factset.com
  description: Production
- url: https://api-sandbox.factset.com
  description: Sandbox
security:
- basicAuth: []
tags:
- name: Swivel
paths:
  /analytics/pub-datastore/swivel/v1/{document}/{accountId}/{date}:
    get:
      tags:
      - Swivel
      summary: Factset Redirects to the Raw Ppt/pdf Output Created by the Publisher Service.
      description: "Takes report parameter inputs and returns the object location for the specified report via a 302 redirect.\r\n\r\nNote: Due to Swagger UI functionality, the redirect is automatically followed when using 'Try it out', so instead of the 302 Header response, a 200 is returned with the Cargo response Body."
      operationId: getPdfPptMapping
      parameters:
      - name: document
        in: path
        description: The Publisher document containing the report
        required: true
        schema:
          type: string
        example: Analytics_Datastore
      - name: accountId
        in: path
        description: The account ID
        required: true
        schema:
          type: string
        example: LARGE_CORE
      - name: date
        in: path
        description: The as of date for the report
        required: true
        schema:
          type: string
          format: date
        example: '2023-01-01'
      responses:
        '302':
          description: Expected response, contains the Cargo URL in the Location header.
          headers:
            Location:
              description: "Redirect URL to get Cargo object. \r\n\n(example: https://api.factset.com/analytics/datastore/cargo/v1/groups/a4186c50f8e74f979d271dd22298c901/objects/fe875bc4150542dea6bc237663a01a0d)"
              schema:
                type: string
            X-DataDirect-Request-Key:
              description: FactSets request key header.
              schema:
                type: string
        '400':
          description: Invalid parameter provided.
          headers:
            X-DataDirect-Request-Key:
              description: FactSets request key header.
              schema:
                type: string
        '401':
          description: Missing or invalid authentication.
          headers:
            X-DataDirect-Request-Key:
              description: FactSets request key header.
              schema:
                type: string
        '403':
          description: User is forbidden with current credentials
          headers:
            X-DataDirect-Request-Key:
              description: FactSets request key header.
              schema:
                type: string
        '404':
          description: The provided request does not exist.
          headers:
            X-DataDirect-Request-Key:
              description: FactSets request key header.
              schema:
                type: string
        '500':
          description: Server error. Log the X-DataDirect-Request-Key header to assist in troubleshooting
          headers:
            X-DataDirect-Request-Key:
              description: FactSets request key header.
              schema:
                type: string
        '503':
          description: Request timed out. Retry the request in sometime.
          headers:
            X-DataDirect-Request-Key:
              description: FactSets request key header.
              schema:
                type: string
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /analytics/pub-datastore/swivel/v1/{document}/{assetName}/{reportId}/{tileId}/{accountId}:
    get:
      tags:
      - Swivel
      summary: Factset Redirects to the Underlying Pa/spar Data Represented in a Stach Format, With No as of Date Specified.
      description: "Takes report parameter inputs and returns the object location for the specified report via a 302 redirect.\r\n\r\nNote: Due to Swagger UI functionality, the redirect is automatically followed when using 'Try it out', so instead of the 302 Header response, a 200 is returned with the Cargo response Body."
      operationId: getStachMappingNoDate
      parameters:
      - name: document
        in: path
        description: The Publisher or Analytics Datafeed document containing the report
        required: true
        schema:
          type: string
        example: Analytics_Datastore
      - name: assetName
        in: path
        description: The PA/SPAR asset name and extension
        required: true
        schema:
          type: string
        example: ADS_Demo.PA3
      - name: reportId
        in: path
        description: The PA/SPAR report ID
        required: true
        schema:
          type: string
        example: report7
      - name: tileId
        in: path
        description: The PA/SPAR tile ID
        required: true
        schema:
          type: string
        example: tile0
      - name: accountId
        in: path
        description: The account ID
        required: true
        schema:
          type: string
        example: LARGE_CORE
      responses:
        '302':
          description: Expected response, contains the Cargo URL in the Location header.
          headers:
            Location:
              description: "Redirect URL to get Cargo object. \r\n\n(example: https://api.factset.com/analytics/datastore/cargo/v1/groups/a4186c50f8e74f979d271dd22298c901/objects/fe875bc4150542dea6bc237663a01a0d)"
              schema:
                type: string
            X-DataDirect-Request-Key:
              description: FactSets request key header.
              schema:
                type: string
        '400':
          description: Invalid parameter provided.
          headers:
            X-DataDirect-Request-Key:
              description: FactSets request key header.
              schema:
                type: string
        '401':
          description: Missing or invalid authentication.
          headers:
            X-DataDirect-Request-Key:
              description: FactSets request key header.
              schema:
                type: string
        '403':
          description: User is forbidden with current credentials
          headers:
            X-DataDirect-Request-Key:
              description: FactSets request key header.
              schema:
                type: string
        '404':
          description: The provided request does not exist.
          headers:
            X-DataDirect-Request-Key:
              description: FactSets request key header.
              schema:
                type: string
        '500':
          description: Server error. Log the X-DataDirect-Request-Key header to assist in troubleshooting
          headers:
            X-DataDirect-Request-Key:
              description: FactSets request key header.
              schema:
                type: string
        '503':
          description: Request timed out. Retry the request in sometime.
          headers:
            X-DataDirect-Request-Key:
              description: FactSets request key header.
              schema:
                type: string
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /analytics/pub-datastore/swivel/v1/{document}/{assetName}/{reportId}/{tileId}/{accountId}/{date}:
    get:
      tags:
      - Swivel
      summary: Factset Redirects to the Underlying Pa/spar Data Represented in a Stach Format.
      description: "Takes report parameter inputs and returns the object location for the specified report via a 302 redirect.\r\n\r\nNote: Due to Swagger UI functionality, the redirect is automatically followed when using 'Try it out', so instead of the 302 Header response, a 200 is returned with the Cargo response Body."
      operationId: getStachMapping
      parameters:
      - name: document
        in: path
        description: The Publisher or Analytics Datafeed document containing the report
        required: true
        schema:
          type: string
        example: Analytics_Datastore
      - name: assetName
        in: path
        description: The PA/SPAR asset name and extension
        required: true
        schema:
          type: string
        example: ADS_Demo.PA3
      - name: reportId
        in: path
        description: The PA/SPAR report ID
        required: true
        schema:
          type: string
        example: report7
      - name: tileId
        in: path
        description: The PA/SPAR tile ID
        required: true
        schema:
          type: string
        example: tile0
      - name: accountId
        in: path
        description: The account ID
        required: true
        schema:
          type: string
        example: LARGE_CORE
      - name: date
        in: path
        description: The as of date for the report
        required: true
        schema:
          type: string
          format: date
        example: '2023-01-01'
      responses:
        '302':
          description: Expected response, contains the Cargo URL in the Location header.
          headers:
            Location:
              description: "Redirect URL to get Cargo object. \r\n\n(example: https://api.factset.com/analytics/datastore/cargo/v1/groups/a4186c50f8e74f979d271dd22298c901/objects/fe875bc4150542dea6bc237663a01a0d)"
              schema:
                type: string
            X-DataDirect-Request-Key:
              description: FactSets request key header.
              schema:
                type: string
        '400':
          description: Invalid parameter provided.
          headers:
            X-DataDirect-Request-Key:
              description: FactSets request key header.
              schema:
                type: string
        '401':
          description: Missing or invalid authentication.
          headers:
            X-DataDirect-Request-Key:
              description: FactSets request key header.
              schema:
                type: string
        '403':
          description: User is forbidden with current credentials
          headers:
            X-DataDirect-Request-Key:
              description: FactSets request key header.
              schema:
                type: string
        '404':
          description: The provided request does not exist.
          headers:
            X-DataDirect-Request-Key:
              description: FactSets request key header.
              schema:
                type: string
        '500':
          description: Server error. Log the X-DataDirect-Request-Key header to assist in troubleshooting
          headers:
            X-DataDirect-Request-Key:
              description: FactSets request key header.
              schema:
                type: string
        '503':
          description: Request timed out. Retry the request in sometime.
          headers:
            X-DataDirect-Request-Key:
              description: FactSets request key header.
              schema:
                type: string
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /analytics/pub-datastore/swivel/v1/{document}/{assetName}/{reportId}/{tileId}/{accountId}/{configId}/{date}:
    get:
      tags:
      - Swivel
      summary: Factset Redirects to the Underlying Insight/vault Data in a Stach Format.
      description: "The inclusion of a configId in the path indicates this is for Insight/Vault mappings only, as PA/SPAR mappings do not support the concept of configuration id.\r\n\r\nTakes report parameter inputs and returns the object location for the specified report via a 302 redirect.\r\n\r\nNote: Due to Swagger UI functionality, the redirect is automatically followed when using 'Try it out', so instead of the 302 Header response, a 200 is returned with the Cargo response Body."
      operationId: getInsightMapping
      parameters:
      - name: document
        in: path
        description: The Analytics Datafeed document containing the report
        required: true
        schema:
          type: string
        example: Analytics_Datastore
      - name: assetName
        in: path
        description: The PA/SPAR asset name and extension
        required: true
        schema:
          type: string
        example: ADS_Demo.PA3
      - name: reportId
        in: path
        description: The PA/SPAR report ID
        required: true
        schema:
          type: string
        example: report7
      - name: tileId
        in: path
        description: The PA/SPAR tile ID
        required: true
        schema:
          type: string
        example: tile0
      - name: accountId
        in: path
        description: The account ID
        required: true
        schema:
          type: string
        example: LARGE_CORE
      - name: configId
        in: path
        description: The Vault configuration ID
        required: true
        schema:
          type: string
        example: acb5150d-4333-49e7-8e33-4f7fa749691e
      - name: date
        in: path
        description: The as of date for the report
        required: true
        schema:
          type: string
          format: date
        example: '2023-01-01'
      responses:
        '302':
          description: Expected response, contains the Cargo URL in the Location header.
          headers:
            Location:
              description: "Redirect URL to get Cargo object. \r\n\n(example: https://api.factset.com/analytics/datastore/cargo/v1/groups/a4186c50f8e74f979d271dd22298c901/objects/fe875bc4150542dea6bc237663a01a0d)"
              schema:
                type: string
            X-DataDirect-Request-Key:
              description: FactSets request key header.
              schema:
                type: string
        '400':
          description: Invalid parameter provided.
          headers:
            X-DataDirect-Request-Key:
              description: FactSets request key header.
              schema:
                type: string
        '401':
          description: Missing or invalid authentication.
          headers:
            X-DataDirect-Request-Key:
              description: FactSets request key header.
              schema:
                type: string
        '403':
          description: User is forbidden with current credentials
          headers:
            X-DataDirect-Request-Key:
              description: FactSets request key header.
              schema:
                type: string
        '404':
          description: The provided request does not exist.
          headers:
            X-DataDirect-Request-Key:
              description: FactSets request key header.
              schema:
                type: string
        '500':
          description: Server error. Log the X-DataDirect-Request-Key header to assist in troubleshooting
          headers:
            X-DataDirect-Request-Key:
              description: FactSets request key header.
              schema:
                type: string
        '503':
          description: Request timed out. Retry the request in sometime.
          headers:
            X-DataDirect-Request-Key:
              description: FactSets request key header.
              schema:
                type: string
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
externalDocs:
  url: https://developer.factset.com/api-catalog/analytics-datastore-api
  description: API Documentation
