openapi: 3.2.0
info:
  title: Factset Authors API
  version: '1'
  description: 'Operations tagged Authors across 2 of this provider''s published API definitions: factset-irn-configuration-api-openapi.yml, irn-configuration-openapi-original.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.factset.com/research/irn
  description: Production Server
- url: https://api-sandbox.factset.com/research/irn
  description: Sandbox
security:
- basicScheme: []
tags:
- name: Authors
paths:
  /v1/authors:
    get:
      tags:
      - Authors
      summary: Factset Get All Authors
      operationId: GetAuthors
      parameters:
      - name: X-IRN-Ignore-Permissions
        in: header
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AuthorConfigDto'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - url: https://api.factset.com/research/irn
      description: Production Server
    - url: https://api-sandbox.factset.com/research/irn
      description: Sandbox
components:
  schemas:
    AuthorConfigDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: abc123
        userName:
          type:
          - string
          - 'null'
          example: example_value
        serialNumber:
          type:
          - string
          - 'null'
          example: example_value
        firstName:
          type:
          - string
          - 'null'
          example: example_value
        lastName:
          type:
          - string
          - 'null'
          example: example_value
        emailAddress:
          type:
          - string
          - 'null'
          example: user@example.com
        isActive:
          type: boolean
          example: true
        team:
          $ref: '#/components/schemas/TeamSummaryDto'
      additionalProperties: false
    TeamSummaryDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: abc123
        name:
          type:
          - string
          - 'null'
          example: Example Title
        code:
          type:
          - string
          - 'null'
          example: example_value
      additionalProperties: false
    ProblemDetails:
      type: object
      properties:
        type:
          type:
          - string
          - 'null'
          example: example_value
        title:
          type:
          - string
          - 'null'
          example: Example Title
        status:
          type:
          - integer
          - 'null'
          format: int32
          example: 10
        detail:
          type:
          - string
          - 'null'
          example: example_value
        instance:
          type:
          - string
          - 'null'
          example: example_value
      additionalProperties: {}
    AuthorConfigDto_2:
      type: object
      properties:
        id:
          type: string
          format: uuid
        userName:
          type:
          - string
          - 'null'
        serialNumber:
          type:
          - string
          - 'null'
        firstName:
          type:
          - string
          - 'null'
        lastName:
          type:
          - string
          - 'null'
        emailAddress:
          type:
          - string
          - 'null'
        isActive:
          type: boolean
        team:
          $ref: '#/components/schemas/TeamSummaryDto_2'
      additionalProperties: false
    TeamSummaryDto_2:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type:
          - string
          - 'null'
        code:
          type:
          - string
          - 'null'
      additionalProperties: false
    ProblemDetails_2:
      type: object
      properties:
        type:
          type:
          - string
          - 'null'
        title:
          type:
          - string
          - 'null'
        status:
          type:
          - integer
          - 'null'
          format: int32
        detail:
          type:
          - string
          - 'null'
        instance:
          type:
          - string
          - 'null'
      additionalProperties: {}
  securitySchemes:
    basicScheme:
      type: http
      scheme: basic
x-refined-from:
- factset-irn-configuration-api-openapi.yml
- irn-configuration-openapi-original.yml
