openapi: 3.2.0
info:
  version: 3.0.0
  title: FactSet Real-Time Quotes Notation API
  description: 'The Quotes API combines endpoints for retrieving security end-of-day,

    delayed, and realtime prices with performance key figures and basic

    reference data on the security and market level.'
  contact:
    name: FactSet Research Systems
    url: https://developer.factset.com/contact
    email: api@factset.com
  license:
    name: Apache License, Version 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
servers:
- url: https://api.factset.com/wealth/v3
security:
- FactSetApiKey: []
- FactSetOAuth2: []
tags:
- name: Notation
paths:
  /notation/get:
    get:
      tags:
      - Notation
      operationId: get/notation/get
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      description: Basic data for a notation.
      summary: Factset Basic Data for a Notation
      parameters:
      - name: identifier
        in: query
        schema:
          type: string
          pattern: ^[B-DF-HJ-NP-TV-Z0-9]{6}-[LR]$|^[A-Z0-9.#&*+]{1,47}-[A-Z0-9]{2,4}$|^[0-9]{3,20}$
          maxLength: 50
          minLength: 3
          description: Identifier to resolve.
        required: true
      - name: identifierType
        in: query
        schema:
          type: string
          description: Type of the identifier.
          x-enum-description:
          - MDG identifier of a listing.
          - FactSet market symbol of a listing.
          - Regional FactSet ticker symbol, identifying the primary listing in the region.
          - FactSet Permanent Identifier on listing level.
          - Regional FactSet Permanent Identifier, identifying the primary listing in the region.
          enum:
          - idNotation
          - tickerExchange
          - tickerRegion
          - fdsPermanentIdentifierListing
          - fdsPermanentIdentifierRegional
        required: true
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      - name: _language
        in: query
        schema:
          type: string
          format: isoLanguage
          description: ISO 639-1 code of the language.
          maxLength: 2
          minLength: 2
      responses:
        '200':
          $ref: '#/components/responses/GetNotationGet200Response'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /notation/list:
    get:
      tags:
      - Notation
      operationId: get/notation/list
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      description: Basic data for a list of notations.
      summary: Factset Basic Data for a List of Notations
      parameters:
      - name: identifiers
        in: query
        schema:
          description: Set of identifiers to resolve.
          type: array
          items:
            type: string
            minLength: 3
            maxLength: 50
            pattern: ^[B-DF-HJ-NP-TV-Z0-9]{6}-[LR]$|^[A-Z0-9.#&*+]{1,47}-[A-Z0-9]{2,4}$|^[0-9]{3,20}$
          uniqueItems: true
          minItems: 1
          maxItems: 100
        required: true
        style: form
        explode: false
      - name: identifierType
        in: query
        schema:
          type: string
          description: Type of the identifier.
          x-enum-description:
          - MDG identifier of a listing.
          - FactSet market symbol of a listing.
          - Regional FactSet ticker symbol, identifying the primary listing in the region.
          - FactSet Permanent Identifier on listing level.
          - Regional FactSet Permanent Identifier, identifying the primary listing in the region.
          enum:
          - idNotation
          - tickerExchange
          - tickerRegion
          - fdsPermanentIdentifierListing
          - fdsPermanentIdentifierRegional
        required: true
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      - name: _language
        in: query
        schema:
          type: string
          format: isoLanguage
          description: ISO 639-1 code of the language.
          maxLength: 2
          minLength: 2
      responses:
        '200':
          $ref: '#/components/responses/GetNotationList200Response'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /notation/category/list:
    post:
      tags:
      - Notation
      operationId: post/notation/category/list
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 2
      x-supportsPermissionDeniedResponse: false
      description: List of categories assigned to a specific notation the application is entitled to see. Optionally it is possible to restrict the output to only list those for a specific category dataset.
      summary: Factset List of Categories Assigned to a Specific Notation the Application Is…
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostNotationCategoryListRequest'
        required: false
      responses:
        '200':
          $ref: '#/components/responses/PostNotationCategoryList200Response'
      parameters: []
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /notation/crossReference/listBySymbol:
    post:
      tags:
      - Notation
      operationId: post/notation/crossReference/listBySymbol
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Factset List of Entitled Notations
      description: List of entitled notations. Symbols are not globally unique; therefore, a given symbol interpreted in different markets might refer to different instruments.
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostNotationCrossReferenceListBySymbolRequest'
        required: false
      responses:
        '200':
          $ref: '#/components/responses/PostNotationCrossReferenceListBySymbol200Response'
      parameters: []
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /notation/status/get:
    get:
      tags:
      - Notation
      operationId: get/notation/status/get
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: true
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      description: 'Intraday trading status of a notation.

        The endpoint is subscribable to provide push updates. See attribute `_subscriptionMinimalInterval` for valid update rates.'
      summary: Factset Intraday Trading Status of a Notation
      parameters:
      - name: identifier
        in: query
        schema:
          type: string
          pattern: ^[B-DF-HJ-NP-TV-Z0-9]{6}-[LR]$|^[A-Z0-9.#&*+]{1,47}-[A-Z0-9]{2,4}$|^[0-9]{3,20}$
          maxLength: 50
          minLength: 3
          description: Identifier to resolve.
        required: true
      - name: identifierType
        in: query
        schema:
          type: string
          description: Type of the identifier.
          x-enum-description:
          - MDG identifier of a listing.
          - FactSet market symbol of a listing.
          - Regional FactSet ticker symbol, identifying the primary listing in the region.
          - FactSet Permanent Identifier on listing level.
          - Regional FactSet Permanent Identifier, identifying the primary listing in the region.
          enum:
          - idNotation
          - tickerExchange
          - tickerRegion
          - fdsPermanentIdentifierListing
          - fdsPermanentIdentifierRegional
        required: true
      - name: quality
        in: query
        schema:
          type: string
          description: Quality of the trading status. The trading status and related data for a notation cannot be retrieved in end-of-day quality (EOD).
          default: DLY
          x-enum-description:
          - 'Real-time: trading status with minimal technical processing delays.'
          - 'Delayed: trading status with an exchange-imposed delay of usually 15 to 30 minutes.'
          - 'Best: choose the trading status quality with the least delay, as entitled for the client.'
          enum:
          - RLT
          - DLY
          - BST
        required: false
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      - description: Minimum number of milliseconds at which updates are sent.
        name: _subscriptionMinimumInterval
        in: query
        schema:
          type: number
          format: int32
          default: 5000
          x-enum-description:
          - 1 second
          - 5 seconds
          - 10 seconds
          - 30 seconds
          - 60 seconds
          - 300 seconds
          enum:
          - 1000
          - 5000
          - 10000
          - 30000
          - 60000
          - 300000
      responses:
        '200':
          $ref: '#/components/responses/GetNotationStatusGet200Response'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /notation/searchByText:
    post:
      tags:
      - Notation
      operationId: post/notation/searchByText
      x-supportsOffsetBasedPaging: true
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 6
      x-supportsPermissionDeniedResponse: false
      summary: Factset Text-based Search for Notations
      description: 'Text-based search for notations in selected identifier and name attributes according to a tolerant full-text match algorithm. The results satisfy all selected filters; sorting by various attributes is possible. If more than one notation of an instrument matches, only the notation with the best market priority (according to the parameter `market.priority`) or, in the absence of market priorities, only the notation with the highest trading volume, averaged over one month, is considered.

        All identifiers used as parameters must be valid and entitled.'
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostNotationSearchByTextRequest'
        required: true
      responses:
        '200':
          $ref: '#/components/responses/PostNotationSearchByText200Response'
      parameters: []
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  responses:
    GetNotationStatusGet200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: object
                properties:
                  idNotation:
                    type:
                    - string
                    - 'null'
                    format: id64
                    x-positive: true
                    description: MDG identifier of the listing.
                  sourceIdentifier:
                    type:
                    - string
                    - 'null'
                    description: Identifier used in the request.
                  suspended:
                    type:
                    - boolean
                    - 'null'
                    description: Indicates whether the notation is currently suspended from trading. The notation is tradable if it is not suspended and the market is open, see attribute `market.isOpen`.
                  tradingStatus:
                    type:
                    - string
                    - 'null'
                    description: Market-specific code of the trading status and/or the suspension of the notation.
                  priceDelay:
                    type:
                    - number
                    - 'null'
                    format: int32
                    description: Exchange-imposed delay in seconds for delayed-quality tick data.
                  tickSize:
                    type:
                    - number
                    - 'null'
                    format: real
                    description: The minimum price movement of the notation. Prices can only be integral multiples of this minimum value. See endpoint `/notation/get` for the value unit of the `tickSize` for this notation.
                  lotSize:
                    type:
                    - number
                    - 'null'
                    format: real
                    description: The minimum tradable volume of the notation. The number of units traded can only be integral multiples of this minimum value.
                  tradeImbalance:
                    x-pushable: true
                    type:
                    - number
                    - 'null'
                    format: real
                    description: Trade imbalance after the previous closed auction. A positive value indicates that more buy orders have been placed for the security; a negative value indicates more sell orders.
                  market:
                    type: object
                    x-property-sort:
                    - id
                    - isOpen
                    - phase
                    description: Market of the notation.
                    properties:
                      id:
                        type:
                        - number
                        - 'null'
                        format: id32
                        x-positive: true
                        description: 'Identifier of the market. See endpoint `/basic/market/list` for possible values. '
                      isOpen:
                        type:
                        - boolean
                        - 'null'
                        description: Indicates whether the market of the notation is currently open, that is, the current time is between the open and adjusted close of the notation's market, see endpoint `/prices/tradingSchedule/event/list` for the trading schedule of the notation's market. The adjusted close is later than the official closing time specified by the market and includes the time after closing when trades might still be reported. Breaks such as a lunch break are not considered.
                      phase:
                        type:
                        - string
                        - 'null'
                        description: Market-specific code of the current market phase.
                  regional:
                    type: object
                    x-property-sort:
                    - us
                    description: Region-specific trading indicators.
                    properties:
                      us:
                        type: object
                        x-property-sort:
                        - caveatEmptor
                        - proprietaryQuoteEligible
                        description: Trading indicators specific to the United States.
                        properties:
                          caveatEmptor:
                            x-pushable: true
                            type:
                            - boolean
                            - 'null'
                            description: Indicates whether a Caveat Emptor (Buyer Beware) warning has been applied to the security.
                          proprietaryQuoteEligible:
                            x-pushable: true
                            type:
                            - boolean
                            - 'null'
                            description: Security is eligible for proprietary quoting under SEC Rule 15c-211.
                description: ''
                x-property-sort:
                - idNotation
                - sourceIdentifier
                - suspended
                - tradingStatus
                - priceDelay
                - tickSize
                - lotSize
                - tradeImbalance
                - market
                - regional
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                x-property-sort:
                - status
            x-property-sort:
            - data
            - meta
    PostNotationCategoryList200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: array
                description: List of datasets with their categories as assigned to the notation.
                items:
                  type: object
                  x-property-sort:
                  - dataset
                  - categories
                  properties:
                    dataset:
                      type: object
                      x-property-sort:
                      - id
                      - name
                      description: Category dataset of the assigned categories. For a list of possible values see endpoint `/category/dataset/list.`
                      properties:
                        id:
                          x-sortable: true
                          type:
                          - number
                          - 'null'
                          format: id32
                          x-positive: true
                          description: Identifier of the category dataset.
                        name:
                          x-sortable: true
                          x-default-sort-attribute: true
                          x-default-sort-direction: 1
                          type:
                          - string
                          - 'null'
                          description: Name of the category dataset in English.
                    categories:
                      type: array
                      items:
                        type: object
                        x-property-sort:
                        - id
                        - name
                        properties:
                          id:
                            type:
                            - number
                            - 'null'
                            format: id32
                            x-positive: true
                            description: Identifier of the category.
                          name:
                            type:
                            - string
                            - 'null'
                            format: localizedString
                            description: Name of the category.
                      description: List of categories covering the full path (without gaps) from the most coarse granularity to the most detailed.
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                x-property-sort:
                - status
            x-property-sort:
            - data
            - meta
    GetNotationGet200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: object
                properties:
                  idNotation:
                    type:
                    - string
                    - 'null'
                    format: id64
                    x-positive: true
                    description: MDG identifier of the listing.
                  sourceIdentifier:
                    type:
                    - string
                    - 'null'
                    description: Identifier used in the request.
                  symbol:
                    type:
                    - string
                    - 'null'
                    description: The symbol of the notation. It is a market-specific code to identify the notation. Which characters can be part of a symbol depends on the market. If a market does not define a proprietary symbol, but uses a different identifier (for example, the ISIN or the WKN) to identify notations, no symbol will be set for the notations of that market.
                  factSetMarketSymbol:
                    type:
                    - string
                    - 'null'
                    description: The FactSet market symbol of the notation (i.e. TICKER_EXCHANGE).
                  valueUnit:
                    type: object
                    x-property-sort:
                    - id
                    - code
                    - isoCode
                    - name
                    description: The identifier of the unit in which prices of the notation are expressed.
                    properties:
                      id:
                        type:
                        - number
                        - 'null'
                        format: id32
                        x-positive: true
                        description: Identifier of the value unit.
                      code:
                        type:
                        - string
                        - 'null'
                        description: Currency code according to ISO 4217, a code such as GBp (for British pence), USc (for U.S. cents), EUc for (Euro cent), or a code for an alternative unit such as PT (points), % (percent).
                      isoCode:
                        type:
                        - string
                        - 'null'
                        description: Currency code according to ISO 4217.
                      name:
                        type:
                        - string
                        - 'null'
                        format: localizedString
                        description: Name of the value unit.
                  market:
                    type: object
                    x-property-sort:
                    - id
                    - name
                    description: Market of the notation.
                    properties:
                      id:
                        type:
                        - number
                        - 'null'
                        format: id32
                        x-positive: true
                        description: Identifier of the market.
                      name:
                        type:
                        - string
                        - 'null'
                        format: localizedString
                        description: Name of the market.
                  instrument:
                    type: object
                    x-property-sort:
                    - id
                    description: Instrument data for the notation.
                    properties:
                      id:
                        type:
                        - string
                        - 'null'
                        format: id64
                        x-positive: true
                        description: Identifier of the instrument.
                description: Set of basic data for the notation.
                x-property-sort:
                - idNotation
                - sourceIdentifier
                - symbol
                - factSetMarketSymbol
                - valueUnit
                - market
                - instrument
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                x-property-sort:
                - status
            x-property-sort:
            - data
            - meta
    PostNotationCrossReferenceListBySymbol200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: array
                description: List of notations.
                items:
                  type: object
                  x-property-sort:
                  - id
                  - active
                  - market
                  - valueUnit
                  - fsym
                  - instrument
                  properties:
                    id:
                      type:
                      - string
                      - 'null'
                      format: id64
                      x-positive: true
                      description: Identifier of the notation.
                    active:
                      type:
                      - boolean
                      - 'null'
                      description: Indicates whether the notation is active.
                    market:
                      type: object
                      x-property-sort:
                      - id
                      - name
                      description: Market of the notation. See endpoint `/basic/market/list` for possible values.
                      properties:
                        id:
                          type:
                          - number
                          - 'null'
                          format: id32
                          x-positive: true
                          description: Identifier of the market.
                        name:
                          type:
                          - string
                          - 'null'
                          format: localizedString
                          description: Name of the market.
                    valueUnit:
                      type: object
                      x-property-sort:
                      - id
                      - code
                      - isoCode
                      - name
                      description: Value unit of the notation. See endpoint `/basic/valueUnit/list` for possible values.
                      properties:
                        id:
                          type:
                          - number
                          - 'null'
                          format: id32
                          x-positive: true
                          description: Identifier of the value unit.
                        code:
                          type:
                          - string
                          - 'null'
                          description: 'Code of the value unit: If assigned, a code according to ISO 4217, otherwise a local code, for a main currency; a code such as GBp (for British pence) for a fractional currency; or a code such as PT (points) for non-currency value units.'
                        isoCode:
                          type:
                          - string
                          - 'null'
                          description: ISO 4217 code of the value unit. Empty if the ISO 4217 standard does not define a code for the currency.
                        name:
                          type:
                          - string
                          - 'null'
                          format: localizedString
                          description: Name of the value unit.
                    fsym:
                      type: object
                      x-property-sort:
                      - listing
                      - regional
                      description: Notation-level FactSet identifiers of the financial instrument used primarily in FactSet products other than the MDG.
                      properties:
                        listing:
                          type: object
                          x-property-sort:
                          - permanentIdentifier
                          - tickerExchange
                          - isPrimary
                          description: Listing-level identifiers.
                          properties:
                            permanentIdentifier:
                              type:
                              - string
                              - 'null'
                              description: FactSet Permanent Identifier for a notation. The format is six alpha numeric characters, excluding vowels, with an L suffix (XXXXXX-L).
                            tickerExchange:
                              type:
                              - string
                              - 'null'
                              description: 'FactSet market symbol of the notation, usually consisting of the ticker (e.g. "DAI" for Daimler AG) and the three-character code of the exchange on which the listing is traded (example: DAI-ETR).'
                            isPrimary:
                              type:
                              - boolean
                              - 'null'
                              description: Indicates whether the notation is the primary notation among all notations within the same region (`true`) or not (`false`).
                        regional:
                          type: object
                          x-property-sort:
                          - permanentIdentifier
                          - tickerRegion
                          - isPrimary
                          description: Regional-level identifiers.
                          properties:
                            permanentIdentifier:
                              type:
                              - string
                              - 'null'
                              description: FactSet Permanent Identifier for a set of one or more notations of the same region with the same value unit. The format is six alpha numeric characters, excluding vowels, with an R suffix (XXXXXX-R).
                            tickerRegion:
                              type:
                              - string
                              - 'null'
                              description: 'FactSet regional symbol of the notation, consisting of the ticker and the two-character code of the country or region where the listing is traded (example: DAI-DE).'
                            isPrimary:
                              type:
                              - boolean
                              - 'null'
                              description: Indicates whether the notation is in the primary region of the security (`true`) or not (`false`).
                    instrument:
                      type: object
                      x-property-sort:
                      - id
                      - fsym
                      description: Instrument referenced by the notation.
                      properties:
                        id:
                          type:
                          - string
                          - 'null'
                          format: id64
                          x-positive: true
                          description: Identifier of the instrument.
                        fsym:
                          type: object
                          x-property-sort:
                          - security
                          description: Instrument-level FactSet identifier of the financial instrument used primarily in FactSet products other than the MDG.
                          properties:
                            security:
                              type: object
                              x-property-sort:
                              - permanentIdentifier
                              description: Security-level identifier.
                              properties:
                                permanentIdentifier:
                                  type:
                                  - string
                                  - 'null'
                                  description: FactSet Permanent Identifier for an instrument. The format is six alpha numeric characters, excluding vowels, with an S suffix (XXXXXX-S).
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                x-property-sort:
                - status
            x-property-sort:
            - data
            - meta
    PostNotationSearchByText200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: array
                description: List of matching and selected notations.
                items:
                  type: object
                  x-property-sort:
                  - id
                  - valueUnit
                  - market
                  - symbol
                  - nsin
                  - fsym
                  - instrument
                  - match
                  - averageIndicativeTradingValue30TD
                  properties:
                    id:
                      type:
                      - string
                      - 'null'
                      format: id64
                      x-positive: true
                      description: Identifier of a notation.
                    valueUnit:
                      description: Value unit of the notation such as a main or fractional currency for equities, a percentage for debt instruments, or points for indices. See endpoint `/basic/valueUnit/list` for possible values.
                      type: object
                      x-property-sort:
                      - id
                      - code
                      properties:
                        id:
                          type:
                          - number
                          - 'null'
                          format: id32
                          x-positive: true
                          description: Identifier of the value unit.
                        code:
                          type:
                          - string
                          - 'null'
                          description: 'Code of the value unit: If assigned, a code according to ISO 4217, otherwise a local code, for a main currency; a code such as GBp (for British pence) for a fractional currency; or a code such as PT (points) for non-currency value units.'
                    market:
                      description: Market of the notation. See endpoint `/basic/market/list` for possible values.
                      type: object
                      x-property-sort:
                      - id
                      - name
                      properties:
                        id:
                          type:
                          - number
                          - 'null'
                          format: id32
                          x-positive: true
                          description: Identifier of the market.
                        name:
                          type:
                          - string
                          - 'null'
                          format: localizedString
                          description: Name of the market.
                    symbol:
                      type:
                      - string
                      - 'null'
                      description: The symbol of the notation. It is a market-specific code to identify the notation. Which characters can be part of a symbol depends on the market. If a market does not define a proprietary symbol, but uses a different identifier (for example, the ISIN or the WKN) to identify instruments, no symbol will be set for the notations of that market.
                    nsin:
                      type: object
                      x-property-sort:
                      - sedol
                      description: NSIN data of the notation.
                      properties:
                        sedol:
                          type:
                          - string
                          - 'null'
                          description: The SEDOL or IDII for the notation.
                    fsym:
                      type: object
                      x-property-sort:
                      - listing
                      - regional
                      description: Notation-level FactSet identifiers of the financial instrument used primarily in FactSet products other than the MDG.
                      properties:
                        listing:
                          type: object
                          x-property-sort:
                          - permanentIdentifier
                          - tickerExchange
                          - isPrimary
                          description: Listing-level identifiers.
                          properties:
                            permanentIdentifier:
                              type:
                              - string
                              - 'null'
                              description: FactSet Permanent Identifier for a notation. The format is six alpha numeric characters, excluding vowels, with an L suffix (XXXXXX-L).
                            tickerExchange:
                              type:
                              - string
                              - 'null'
                              description: 'FactSet market symbol of the notation, usually consisting of the ticker (e.g. "DAI" for Daimler AG) and the three-character code of the exchange on which the listing is traded (example: DAI-ETR).'
                            isPrimary:
                              type:
                              - boolean
                              - 'null'
                              description: Indicates whether the notation is the primary notation among all notations within the same region (`true`) or not (`false`).
                        regional:
                          type: object
                          x-property-sort:
                          - permanentIdentifier
                          - tickerRegion
                          - isPrimary
                          description: Regional-level identifiers.
                          properties:
                            permanentIdentifier:
                              type:
                              - string
                              - 'null'
                              description: FactSet Permanent Identifier for a set of one or more notations of the same region with the same value unit. The format is six alpha numeric characters, excluding vowels, with an R suffix (XXXXXX-R).
                            tickerRegion:
                              type:
                              - string
                              - 'null'
                              description: 'FactSet regional symbol of the notation, consisting of the ticker and the two-character code of the country or region where the listing is traded (example: DAI-DE).'
                            isPrimary:
                              type:
                              - boolean
                              - 'null'
                              description: Indicates whether the notation is in the primary region of the security (`true`) or not (`false`).
                    instrument:
                      type: object
                      x-property-sort:
                      - id
                      - name
                      - isin
                      - nsin
                      - normalizedSymbol
                      - fsym
                      - assetClass
                      - instrumentCategory
                      description: Instrument data of the notation.
                      properties:
                        id:
                          type:
                          - string
                          - 'null'
                          format: id64
                          x-positive: true
                          description: Identifier of the instrument.
                        name:
                          description: Instrument names.
                          type: object
                          x-property-sort:
                          - default
                          - assetClassSpecific
                          properties:
                            default:
                              description: Default instrument names. Sorting does not require an asset class selection, see parameter `assetClass.ids`.
                              type: object
                              x-property-sort:
                              - long
                              - short
                              properties:
                                long:
                                  x-sortable: true
                                  type:
                                  - string
                                  - 'null'
                                  format: localizedString
                                  description: Long name.
                                short:
                                  x-sortable: true
                                  type:
                                  - string
                                  - 'null'
                                  format: localizedString
                                  description: Short name.
                            assetClassSpecific:
                              type: object
                              x-property-sort:
                              - long
                              - short
                              description: Asset class-specific instrument names. Sorting requires that a single asset-class has been selected, see parameter `assetClass.ids`.
                              properties:
                                long:
                                  x-sortable: true
                                  type:
                                  - string
                                  - 'null'
                                  format: localizedString
                                  description: Long name.
                                short:
                                  x-sortable: true
                                  type:
                                  - string
                                  - 'null'
                                  format: localizedString
                                  description: Short name.
                        isin:
                          type:
                          - string
                          - 'null'
                          description: International Securities Identification Number of the instrument.
                        nsin:
                          type: object
                          x-property-sort:
                          - wkn
                          - valor
                          - cusip
                          description: NSIN data of the instrument.
                          properties:
                            wkn:
                              type:
                              - string
                              - 'null'
                              description: The WKN (Wertpapierkennnummer, German for Securities Identification Number) of the instrument. The WKN is a 6-character code of digits and upper-case letters that uniquely identifies an instrument.
                            valor:
                              type:
                              - string
                              - 'null'
                              description: 'The Valor number (German: Valorennummer) of the instrument. The Valor number is an integer number that uniquely identifies an instrument.'
                            cusip:
                              type:
                              - string
                              - 'null'
                              description: The CUSIP (Committee on Uniform Security Identification Procedures) or CINS (CUSIP International Numbering System) identifier of the instrument. These numbers are 9-character codes of digits and upper-case letters that uniquely identify an instrument.
                        normalizedSymbol:
                          type:
                          - string
                          - 'null'
                          description: Symbol of an option or a future, as normalized by FactSet.
                        fsym:
                          type: object
                          x-property-sort:
                          - security
                          description: Instrument-level FactSet identifier of the financial instrument used primarily in FactSet products other than the MDG.
                          properties:
                            security:
                              type: object
                              x-property-sort:
                              - permanentIdentifier
                              description: Security-level identifier.
                              properties:
                                permanentIdentifier:
                                  type:
                                  - string
                                  - 'null'
                                  description: FactSet Permanent Identifier for an instrument. The format is six alpha numeric characters, excluding vowels, with an S suffix (XXXXXX-S).
                        assetClass:
                          type: object
                          x-property-sort:
                          - id
                          - name
                          description: Asset class of the instrument. See endpoint `/basic/assetClass/list` for possible values.
                          properties:
                            id:
                              type:
                              - number
                              - 'null'
                              format: id32
                              x-positive: true
                              description: Identifier of the asset class.
                            name:
                              type:
                              - string
                              - 'null'
                              description: English name of the asset class.
                        instrumentCategory:
                          description: Set of categories assigned to the instrument. The set of returned categories is limited to the values provided in the request parameter `category.restrict.ids`. Empty, if `category.restrict.ids` has not been used.
                          type: array
                          items:
                            type: object
                            x-property-sort:
                            - id
                            - name
                            properties:
                              id:
                                type:
                                - number
                                - 'null'
                                format: id32
                                x-positive: true
                                description: Identifier of the category.
                              name:
                                type:
                                - string
                                - 'null'
                                format: localizedString
                                description: Name of the category.
                    match:
                      description: Details of the match.
                      type: object
                      x-property-sort:
                      - value
                      - score
                      properties:
                        value:
                          type:
                          - string
                          - 'null'
                          description: Value matched by the search string.
                        score:
                          description: Match score of the string used for the search.
                          x-sortable: true
                          x-default-sort-attribute: true
                          x-default-sort-direction: 2
                          type:
                          - number
                          - 'null'
                          format: real
                    averageIndicativeTradingValue30TD:
                      x-sortable: true
                      type:
                      - number
                      - 'null'
                      format: real
                      description: Indicative daily average trading value in US dollars for the past 30 trading days. The average cash flow is converted from the notation's trading currency to US dollars using a single exchange rate determined at the end of the period.
                x-partial: true
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                  pagination:
                    $ref: '#/components/schemas/OffsetBasedPaginationOutputObject'
                  partial:
                    $ref: '#/components/schemas/PartialOutputObject'
                x-property-sort:
                - status
                - pagination
                - partial
            x-property-sort:
            - data
            - meta
    GetNotationList200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: array
                description: Set of basic data for a list of notations.
                items:
                  type: object
                  x-property-sort:
                  - idNotation
                  - sourceIdentifier
                  - symbol
                  - factSetMarketSymbol
                  - valueUnit
                  - market
                  - instrument
                  - status
                  properties:
                    idNotation:
                      type:
                      - string
                      - 'null'
                      format: id64
                      x-positive: true
                      description: MDG identifier of the listing.
                    sourceIdentifier:
                      type:
                      - string
                      - 'null'
                      description: Identifier used in the request.
                    symbol:
                      type:
                      - string
                      - 'null'
                      description: The symbol of the notation. It is a market-specific code to identify the notation. Which characters can be part of a symbol depends on the market. If a market does not define a proprietary symbol, but uses a different identifier (for example, the ISIN or the WKN) to identify notations, no symbol will be set for the notations of that market.
                    factSetMarketSymbol:
                      type:
                      - string
                      - 'null'
                      description: The FactSet market symbol of the notation (i.e. TICKER_EXCHANGE).
                    valueUnit:
                      type: object
                      x-property-sort:
                      - id
                      - code
                      - isoCode
                      - name
                      description: The identifier of the unit in which prices of the notation are expressed.
                      properties:
                        id:
                          type:
                          - number
                          - 'null'
                          format: id32
                          x-positive: true
                          description: Identifier of the value unit.
                        code:
                          type:
                          - string
                          - 'null'
                          description: Currency code according to ISO 4217, a code such as GBp (for British pence), USc (for U.S. cents), EUc for (Euro cent), or a code for an alternative unit such as PT (points), % (percent).
                        isoCode:
                          type:
                          - string
                          - 'null'
                          description: Currency code according to ISO 4217.
                        name:
                          type:
                          - string
                          - 'null'
                          format: localizedString
                          description: Name of the value unit.
                    market:
                      type: object
                      x-property-sort:
                      - id
                      - name
                      description: Market of the notation.
                      properties:
                        id:
                          type:
                          - number
                          - 'null'
                          format: id32
                          x-positive: true
                          description: Identifier of the market.
                        name:
                          type:
                          - string
                          - 'null'
                          format: localizedString
                          description: Name of the market.
                    instrument:
                      type: object
                      x-property-sort:
                      - id
                      description: Instrument data for the notation.
                      properties:
                        id:
                          type:
                          - string
                          - 'null'
                          format: id64
                          x-positive: true
                          description: Identifier of the instrument.
                    status:
                      type: object
                      x-property-sort:
                      - code
                      - identifier
                      - details
                      - encryptedDetails
                      description: Error status for the requested identifier
                      properties:
                        code:
                          type:
                          - string
                          - 'null'
                          description: Code of the error condition.
                          x-enum-description:
                          - No error.
                          - The provided identifier does not refer to a valid notation.
                          - Not entitled to see data for the notation in the requested quality.
                          enum:
                          - none
                          - parameter
                          - entitlement
                        identifier:
                          type:
                          - string
                          - 'null'
                          format: id64
                          x-positive: true
                          description: Provided identifier.
                        details:
                          type:
                          - string
                          - 'null'
                          description: A human-readable, unstructured explanation specific to this occurrence of the problem.
                        encryptedDetails:
                          type:
                          - string
                          - 'null'
                          description: Base64-encoded internal details about the error.
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                x-property-sort:
                - status
            x-property-sort:
            - data
            - meta
  schemas:
    OffsetBasedPaginationOutputObject:
      type: object
      description: Pagination attributes for the offset-based pagination strategy.
      properties:
        total:
          type: number
          format: int32
          description: Total number of entries in the result set.
          example: 42.5
        isEstimatedTotal:
          type: boolean
          description: Flag indicating that the value of "total" is estimated.
          example: true
      required:
      - total
      - isEstimatedTotal
      x-property-sort:
      - total
      - isEstimatedTotal
    AttributesMember:
      type: array
      description: Limit the attributes returned in the response to the specified set.
      items:
        type: string
        maxLength: 100
      maxItems: 50
      uniqueItems: true
    PostNotationCategoryListRequest:
      x-property-sort:
      - data
      - meta
      description: Request Body
      type: object
      properties:
        data:
          type: object
          x-property-sort:
          - identifier
          - identifierType
          - filter
          description: The data member contains the request's primary data.
          properties:
            identifier:
              type: string
              pattern: ^[B-DF-HJ-NP-TV-Z0-9]{6}-[LR]$|^[A-Z0-9.#&*+]{1,47}-[A-Z0-9]{2,4}$|^[0-9]{3,20}$
              maxLength: 50
              minLength: 3
              description: Identifier to resolve.
            identifierType:
              type: string
              description: Type of the identifier.
              x-enum-description:
              - MDG identifier of a listing.
              - FactSet market symbol of a listing.
              - Regional FactSet ticker symbol, identifying the primary listing in the region.
              - FactSet Permanent Identifier on listing level.
              - Regional FactSet Permanent Identifier, identifying the primary listing in the region.
              enum:
              - idNotation
              - tickerExchange
              - tickerRegion
              - fdsPermanentIdentifierListing
              - fdsPermanentIdentifierRegional
            filter:
              type: object
              x-property-sort:
              - dataset
              description: Criteria that filter the items in the response list; only items that match all of the criteria are returned.
              properties:
                dataset:
                  type: object
                  x-property-sort:
                  - id
                  description: Filter the categories to only return values assigned by a dataset. See endpoint `/category/dataset/list` for valid values.
                  properties:
                    id:
                      type: number
                      format: id32
                      x-positive: true
                      description: Identifier of a category dataset.
          required:
          - identifier
          - identifierType
          example: example_value
        meta:
          type: object
          description: The meta member contains the meta information of the request.
          properties:
            attributes:
              $ref: '#/components/schemas/AttributesMember'
            language:
              $ref: '#/components/schemas/LanguageMember'
            sort:
              description: Sortable attributes. The sort order is ascending unless it is prefixed with a minus sign, in which case it is descending. A list of at most 2 (possibly prefixed) attribute name(s) is allowed.
              type: array
              items:
                type: string
                enum:
                - dataset.id
                - -dataset.id
                - dataset.name
                - -dataset.name
              maxItems: 2
              uniqueItems: true
              default:
              - dataset.name
          x-property-sort:
          - attributes
          - language
          - sort
          example: example_value
    LanguageMember:
      type: string
      format: isoLanguage
      description: ISO 639-1 code of the language.
      maxLength: 2
      minLength: 2
    PartialOutputObject:
      type: object
      properties:
        isPartial:
          type: boolean
          description: Flag indicating that the response is a possibly incomplete array or an object containing a possibly incomplete array, due to hitting a processing time limit. If `true`, some matching results might be missing from the array, or elements for matching results might be incorrectly included (for example, when priority sorting would have removed the element). Depending on the use case, such a response may be unsuitable.
          example: true
      description: Object denoting that the endpoint response is possibly incomplete.
      required:
      - isPartial
      x-property-sort:
      - isPartial
    PostNotationSearchByTextRequest:
      x-property-sort:
      - data
      - meta
      description: Request Body
      required:
      - data
      type: object
      properties:
        data:
          type: object
          x-property-sort:
          - text
          - validation
          - assetClass
          - instrumentCategory
          - market
          description: The data member contains the request's primary data.
          properties:
            text:
              description: Text-related parameters.
              type: object
              x-property-sort:
              - attributes
              - value
              - minimumMatchScore
              properties:
                attributes:
                  description: List of attributes to be searched in. The value `allEntitled` cannot appear with any other value.
                  type: array
                  items:
                    type: string
                    x-enum-description:
                    - All entitled attributes are searched in.
                    - International Securities Identification Number of the instrument.
                    - The WKN (Wertpapierkennnummer, German for Securities Identification Number) of the instrument. The WKN is a 6-character code of digits and upper-case letters that uniquely identifies an instrument.
                    - 'The Valor number (German: Valorennummer) of the instrument. The Valor number is an integer number that uniquely identifies an instrument.'
                    - The SEDOL or IDII for the notation; see entity class "SEDOL or IDII" for details.
                    - The CUSIP (Committee on Uniform Security Identification Procedures) or CINS (CUSIP International Numbering System) identifier of the instrument. These numbers are 9-character codes of digits and upper-case letters that uniquely identify an instrument.
                    - The symbol of the notation. It is a market-specific code to identify the notation. Which characters can be part of a symbol depends on the market. If a market does not define a proprietary symbol, but uses a different identifier (for example, the ISIN or the WKN) to identify instruments, no symbol will be set for the notations of that market.
                    - Symbol of an option or a future, as normalized by FactSet.
                    - Long name of the instrument.
                    - Short name of the instrument.
                    enum:
                    - allEntitled
                    - isin
                    - wkn
                    - valor
                    - sedol
                    - cusip
                    - symbol
                    - normalizedSymbol
                    - longName
                    - shortName
                  uniqueItems: true
                  maxItems: 8
                  default:
                  - allEntitled
                value:
                  type: string
                  minLength: 2
                  maxLength: 50
                  pattern: ^[ -+--/0-:=?@\p{L}]*$
                  description: Full-text search string. It may be enclosed in double quotes ("). No escaping is provided, therefore it is impossible to specify a search string containing double quotes. Relevance of word starts is indicated by a phrase starting with a space character, such as " daimler". If only two characters are submitted, the search is executed as an exact search.
                minimumMatchScore:
                  type: number
                  format: real
                  minimum: 0.1
                  maximum: 1
                  description: "Minimum match score for the text string. The match score has a value between 0 and 1 (inclusive), where a higher value indicates a better match than a lower one.     \nExamples for the two most relevant thresholds:      \n0.25: Exact substring match after case-folding and modifier elimination - \"Mnchner Rck\" is a match for the search string \"Munch\" but not for \"Muench\".      \n 0.50: Exact substring match - \"Mnchner Rck\" is a match for the search string \"Mnch\" but not for \"Munch\" or \"mnch\"."
                  default: 0.25
              required:
              - value
            validation:
              description: Validation parameters.
              type: object
              x-property-sort:
              - onlyActive
              - prices
              - valueUnit
              - market
              - instrumentSelectionList
              - notationSelectionList
              properties:
                onlyActive:
                  description: If `true`, only active notations will be returned. The term "active" reflects the fact that notations and related data is not being deleted immediately after becoming irrelevant (e.g. because the source does not provide a price anymore), but remains in general retrievable for up to 6 months.
                  type: boolean
                  default: true
                prices:
                  description: Price-related parameters.
                  type: object
                  x-property-sort:
                  - quality
                  - latest
                  - previous
                  properties:
                    quality:
                      type: string
                      description: Quality of the price.
                      default: EOD
                      x-enum-description:
                      - 'Delayed: intraday prices with an exchange-imposed delay of usually 15 to 30 minutes.'
                      - 'End-of-day: prices updated once per day after the close of trading, possibly with an exchange-imposed delay of several hours or days.'
                      enum:
                      - DLY
                      - EOD
                    latest:
                      description: Parameters related to the presence and age of the most recent trade price.
                      type: object
                      x-property-sort:
                      - availableOnly
                      - minimumDate
                      properties:
                        availableOnly:
                          description: If `true`, only notations for which a trade price (even an outdated one) is available will be returned.
                          type: boolean
                        minimumDate:
                          description: Earliest admissible date of the most recent trade price.
                          type: string
                          format: date
                    previous:
                      description: Parameters related to the presence and age of a trade price from a preceding trading day.
                      type: object
                      x-property-sort:
                      - availableOnly
                      - minimumDate
                      properties:
                        availableOnly:
                          description: If `true`, only notations for which a trade price from a preceding trading day is available will be returned.
                          type: boolean
                        minimumDate:
                          description: Earliest admissible date of the trade price from a preceding trading day.
                          type: string
                          format: date
                valueUnit:
                  description: Value unit-related parameters. See endpoint `/basic/valueUnit/list` for valid values.
                  type: object
                  x-property-sort:
                  - restrict
                  - exclude
                  x-atMostOne: true
                  properties:
                    restrict:
                      description: Specifies the value units a notation may have.
                      type: object
                      x-property-sort:
                      - ids
                      properties:
                        ids:
                          description: Set of value unit identifiers.
                          type: array
                          items:
                            type: number
                            format: id32
                            x-positive: true
                          uniqueItems: true
                          maxItems: 100
                    exclude:
                      description: Specifies the value units a notation may not have.
                      type: object
                      x-property-sort:
                      - ids
                      properties:
                        ids:
                          description: Set of value unit identifiers.
                          type: array
                          items:
                            type: number
                            format: id32
                            x-positive: true
                          uniqueItems: true
                          maxItems: 100
                market:
                  description: Market-related parameters. See endpoint `/basic/market/list` for valid values.
                  type: object
                  x-property-sort:
                  - selection
                  - priority
                  properties:
                    selection:
                      description: Market selection.
                      type: object
                      x-property-sort:
                      - restrict
                      - exclude
                      x-atMostOne: true
                      properties:
                        restrict:
                          description: Specifies the markets from which a notation may originate.
                          type: object
                          x-property-sort:
                          - ids
                          properties:
                            ids:
                              description: Set of market identifiers.
                              type: array
                              items:
                                type: number
                                format: id32
                                x-positive: true
                              uniqueItems: true
                              maxItems: 100
                        exclude:
                          description: Specifies the markets from which a notation may not originate.
                          type: object
                          x-property-sort:
                          - ids
                          properties:
                            ids:
                              description: Set of market identifiers.
                              type: array
                              items:
                                type: number
                                format: id32
                                x-positive: true
                              uniqueItems: true
                              maxItems: 100
                    priority:
                      description: "Sequence of markets specifying the priority order of the markets for the selection of one notation per instrument. If for a given instrument with two matching notations, A and B, the market of notation A precedes the market of notation B in this list or if the market of notation B is not in this list, A is selected. If neither of the markets is in this list, the notation with the highest trading volume, averaged over one month, is selected.        \n The list does not restrict the request to only those markets (use the parameter `market.selection` for that purpose)."
                      type: object
                      x-property-sort:
                      - ids
                      properties:
                        ids:
                          description: List of market identifiers.
                          type: array
                          items:
                            type: number
                            format: id32
                            x-positive: true
                          uniqueItems: true
                          maxItems: 100
                instrumentSelectionList:
                  description: Instrument-level restriction or exclusion.
                  type: object
                  x-property-sort:
                  - restrict
                  - exclude
                  x-atMostOne: true
                  properties:
                    restrict:
                      description: Restriction lists. If present, the result contains only notations of instruments that are a member of any of the provided lists.
                      type: object
                      x-property-sort:
                      - ids
                      properties:
                        ids:
                          description: Set of identifiers of restriction lists.
                          type: array
                          items:
                            type: number
                            format: id32
                            x-positive: true
                          uniqueItems: true
                          maxItems: 3
                    exclude:
                      description: Exclusion lists. If present, the result does not contain notations belonging to instruments that are a member of any of the provided lists.
                      type: object
                      x-property-sort:
                      - ids
                      properties:
                        ids:
                          description: Set of identifiers of exclusion lists.
                          type: array
                          items:
                            type: number
                            format: id32
                            x-positive: true
                          uniqueItems: true
                          maxItems: 3
                notationSelectionList:
                  description: Notation-level restriction or exclusion.
                  type: object
                  x-property-sort:
                  - restrict
                  - exclude
                  x-atMostOne: true
                  properties:
                    restrict:
                      description: Restriction lists.  If present, the result contains only notations that are a member of any of the provided lists.
                      type: object
                      x-property-sort:
                      - ids
                      properties:
                        ids:
                          description: Set of identifiers of restriction lists.
                          type: array
                          items:
                            type: number
                            format: id32
                            x-positive: true
                          uniqueItems: true
                          maxItems: 3
                    exclude:
                      description: Exclusion lists. If present, the result does not contain notations that are a member of any of the provided lists.
                      type: object
                      x-property-sort:
                      - ids
                      properties:
                        ids:
                          description: Set of identifiers of exclusion lists.
                          type: array
                          items:
                            type: number
                            format: id32
                            x-positive: true
                          uniqueItems: true
                          maxItems: 3
            assetClass:
              description: Asset class restriction.
              type: object
              x-property-sort:
              - ids
              properties:
                ids:
                  description: Set of asset class identifiers. See endpoint `/basic/assetClass/list` for valid values.
                  type: array
                  items:
                    type: number
                    format: id32
                    x-positive: true
                  uniqueItems: true
                  maxItems: 12
            instrumentCategory:
              description: Category selection. Identifiers from all entitled category systems can be used, see endpoint `/category/system/list` with `idType=1` for the list of category systems.
              type: object
              x-property-sort:
              - restrict
              - exclude
              x-atMostOne: true
              properties:
                restrict:
                  description: Specifies the instrument categories that the instruments of the notations may have
                  type: object
                  x-property-sort:
                  - ids
                  properties:
                    ids:
                      description: Set of category identifiers.
                      type: array
                      items:
                        type: number
                        format: id32
                        x-positive: true
                      maxItems: 20
                      uniqueItems: true
                exclude:
                  description: Specifies the instrument categories that the instruments of the notations may not have.
                  type: object
                  x-property-sort:
                  - ids
                  properties:
                    ids:
                      description: Set of category identifiers.
                      type: array
                      items:
                        type: number
                        format: id32
                        x-positive: true
                      maxItems: 20
                      uniqueItems: true
            market:
              description: Market-related notation sorting.
              type: object
              x-property-sort:
              - order
              properties:
                order:
                  description: "Sequence of market identifiers specifying the first-order sort criterion for the resulting notation list; if the market of notation A precedes the market of notation B in this list, A precedes B in the result. Notations whose market is not in this list sort last. The second-order sorting of the result is given by the attribute `meta.sort`.     \n The list does not restrict the request to only those markets (use the parameter `market.selection` for that purpose) and does not specify the priority order of the markets for selecting\none notation per instrument (use the parameter `market.priority` for that purpose)."
                  type: object
                  x-property-sort:
                  - ids
                  properties:
                    ids:
                      description: List of market identifiers. See endpoint `/basic/market/list` for valid values.
                      type: array
                      items:
                        type: number
                        format: id32
                        x-positive: true
                      uniqueItems: true
                      maxItems: 100
          required:
          - text
          example: example_value
        meta:
          type: object
          description: The meta member contains the meta information of the request.
          properties:
            attributes:
              $ref: '#/components/schemas/AttributesMember'
            language:
              $ref: '#/components/schemas/LanguageMember'
            sort:
              description: Sortable attributes. The sort order is ascending unless it is prefixed with a minus sign, in which case it is descending. A list of at most 6 (possibly prefixed) attribute name(s) is allowed.
              type: array
              items:
                type: string
                enum:
                - instrument.name.default.long
                - -instrument.name.default.long
                - instrument.name.default.short
                - -instrument.name.default.short
                - instrument.name.assetClassSpecific.long
                - -instrument.name.assetClassSpecific.long
                - instrument.name.assetClassSpecific.short
                - -instrument.name.assetClassSpecific.short
                - match.score
                - -match.score
                - averageIndicativeTradingValue30TD
                - -averageIndicativeTradingValue30TD
              maxItems: 6
              uniqueItems: true
              default:
              - -match.score
            pagination:
              type: object
              description: Pagination attributes for the offset-based pagination strategy.
              properties:
                offset:
                  type: number
                  format: int32
                  minimum: 0
                  default: 0
                  description: Non-negative number of entries to skip, or 0 (default).
                limit:
                  type: number
                  format: int32
                  minimum: 0
                  maximum: 500
                  default: 20
                  description: Non-negative maximum number of entries to return.
              x-property-sort:
              - offset
              - limit
          x-property-sort:
          - attributes
          - language
          - sort
          - pagination
          example: example_value
    PostNotationCrossReferenceListBySymbolRequest:
      x-property-sort:
      - data
      - meta
      description: Request Body
      type: object
      properties:
        data:
          type: object
          x-property-sort:
          - symbol
          - filter
          description: The data member contains the request's primary data.
          properties:
            symbol:
              type: string
              maxLength: 32
              minLength: 1
              description: Market-specific code to identify a notation.
            filter:
              type: object
              x-property-sort:
              - markets
              - valueUnits
              - onlyActive
              description: Criteria that filter the items in the response list; only items that match all of the criteria are returned.
              properties:
                markets:
                  type: object
                  x-property-sort:
                  - ids
                  description: Filter for specific markets.
                  properties:
                    ids:
                      type: array
                      items:
                        type: number
                        format: id32
                        x-positive: true
                      maxItems: 100
                      minItems: 1
                      description: List of market ids.
                valueUnits:
                  type: object
                  x-property-sort:
                  - ids
                  description: Filter for specific value units.
                  properties:
                    ids:
                      type: array
                      items:
                        type: number
                        format: id32
                        x-positive: true
                      maxItems: 100
                      minItems: 1
                      description: List of value unit ids.
                onlyActive:
                  type: boolean
                  default: false
                  description: If true, only active notations will be returned. The term "active" reflects the fact that notations and related data is not being deleted immediately after becoming irrelevant (e.g. because the source does not provide a price anymore), but remains in general retrievable for up to 6 months.
          required:
          - symbol
          example: example_value
        meta:
          type: object
          description: The meta member contains the meta information of the request.
          properties:
            attributes:
              $ref: '#/components/schemas/AttributesMember'
            language:
              $ref: '#/components/schemas/LanguageMember'
          x-property-sort:
          - attributes
          - language
          example: example_value
    StatusObject:
      type: object
      properties:
        code:
          type: number
          format: int32
          description: The HTTP status code of the response, mirroring the code from the Status-Line of the HTTP response message (see [RFC2616] section 6.1).
          example: 42.5
      description: The status member contains the status code of the response.
      required:
      - code
  securitySchemes:
    FactSetOAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://auth.factset.com/as/token.oauth2
          scopes: {}
    FactSetApiKey:
      type: http
      scheme: basic
externalDocs:
  description: API Documentation
  url: https://developer.factset.com/api-catalog/
x-interface-version: 2
x-documenter-version: 6.3.9
x-api-version: 4.4.0
