openapi: 3.0.3
info:
  title: Factset Analytics Datastore About Name API
  description: Allow clients to fetch precalculated Analytics through predeterministic URLs.
  contact:
    name: FactSet Research Systems
    url: https://developer.factset.com/contact
    email: api@factset.com
  license:
    name: Apache License, Version 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  version: 1.0.0
servers:
- url: https://api.factset.com
  description: Production
- url: https://api-sandbox.factset.com
  description: Sandbox
security:
- basicAuth: []
tags:
- name: Name
paths:
  /analytics/pub-datastore/swivel/v1/{document}/{assetName}/{reportId}/{tileId}/{accountId}:
    get:
      tags:
      - Name
      summary: Factset Redirects to the Underlying Pa/spar Data Represented in a Stach Format, With No as of Date Specified.
      description: "Takes report parameter inputs and returns the object location for the specified report via a 302 redirect.\r\n\r\nNote: Due to Swagger UI functionality, the redirect is automatically followed when using 'Try it out', so instead of the 302 Header response, a 200 is returned with the Cargo response Body."
      operationId: getStachMappingNoDate
      parameters:
      - name: document
        in: path
        description: The Publisher or Analytics Datafeed document containing the report
        required: true
        schema:
          type: string
        example: Analytics_Datastore
      - name: assetName
        in: path
        description: The PA/SPAR asset name and extension
        required: true
        schema:
          type: string
        example: ADS_Demo.PA3
      - name: reportId
        in: path
        description: The PA/SPAR report ID
        required: true
        schema:
          type: string
        example: report7
      - name: tileId
        in: path
        description: The PA/SPAR tile ID
        required: true
        schema:
          type: string
        example: tile0
      - name: accountId
        in: path
        description: The account ID
        required: true
        schema:
          type: string
        example: LARGE_CORE
      responses:
        '302':
          description: Expected response, contains the Cargo URL in the Location header.
          headers:
            Location:
              description: "Redirect URL to get Cargo object. \r\n\n(example: https://api.factset.com/analytics/datastore/cargo/v1/groups/a4186c50f8e74f979d271dd22298c901/objects/fe875bc4150542dea6bc237663a01a0d)"
              schema:
                type: string
            X-DataDirect-Request-Key:
              description: FactSets request key header.
              schema:
                type: string
        '400':
          description: Invalid parameter provided.
          headers:
            X-DataDirect-Request-Key:
              description: FactSets request key header.
              schema:
                type: string
        '401':
          description: Missing or invalid authentication.
          headers:
            X-DataDirect-Request-Key:
              description: FactSets request key header.
              schema:
                type: string
        '403':
          description: User is forbidden with current credentials
          headers:
            X-DataDirect-Request-Key:
              description: FactSets request key header.
              schema:
                type: string
        '404':
          description: The provided request does not exist.
          headers:
            X-DataDirect-Request-Key:
              description: FactSets request key header.
              schema:
                type: string
        '500':
          description: Server error. Log the X-DataDirect-Request-Key header to assist in troubleshooting
          headers:
            X-DataDirect-Request-Key:
              description: FactSets request key header.
              schema:
                type: string
        '503':
          description: Request timed out. Retry the request in sometime.
          headers:
            X-DataDirect-Request-Key:
              description: FactSets request key header.
              schema:
                type: string
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /analytics/pub-datastore/swivel/v1/{document}/{assetName}/{reportId}/{tileId}/{accountId}/{date}:
    get:
      tags:
      - Name
      summary: Factset Redirects to the Underlying Pa/spar Data Represented in a Stach Format.
      description: "Takes report parameter inputs and returns the object location for the specified report via a 302 redirect.\r\n\r\nNote: Due to Swagger UI functionality, the redirect is automatically followed when using 'Try it out', so instead of the 302 Header response, a 200 is returned with the Cargo response Body."
      operationId: getStachMapping
      parameters:
      - name: document
        in: path
        description: The Publisher or Analytics Datafeed document containing the report
        required: true
        schema:
          type: string
        example: Analytics_Datastore
      - name: assetName
        in: path
        description: The PA/SPAR asset name and extension
        required: true
        schema:
          type: string
        example: ADS_Demo.PA3
      - name: reportId
        in: path
        description: The PA/SPAR report ID
        required: true
        schema:
          type: string
        example: report7
      - name: tileId
        in: path
        description: The PA/SPAR tile ID
        required: true
        schema:
          type: string
        example: tile0
      - name: accountId
        in: path
        description: The account ID
        required: true
        schema:
          type: string
        example: LARGE_CORE
      - name: date
        in: path
        description: The as of date for the report
        required: true
        schema:
          type: string
          format: date
        example: '2023-01-01'
      responses:
        '302':
          description: Expected response, contains the Cargo URL in the Location header.
          headers:
            Location:
              description: "Redirect URL to get Cargo object. \r\n\n(example: https://api.factset.com/analytics/datastore/cargo/v1/groups/a4186c50f8e74f979d271dd22298c901/objects/fe875bc4150542dea6bc237663a01a0d)"
              schema:
                type: string
            X-DataDirect-Request-Key:
              description: FactSets request key header.
              schema:
                type: string
        '400':
          description: Invalid parameter provided.
          headers:
            X-DataDirect-Request-Key:
              description: FactSets request key header.
              schema:
                type: string
        '401':
          description: Missing or invalid authentication.
          headers:
            X-DataDirect-Request-Key:
              description: FactSets request key header.
              schema:
                type: string
        '403':
          description: User is forbidden with current credentials
          headers:
            X-DataDirect-Request-Key:
              description: FactSets request key header.
              schema:
                type: string
        '404':
          description: The provided request does not exist.
          headers:
            X-DataDirect-Request-Key:
              description: FactSets request key header.
              schema:
                type: string
        '500':
          description: Server error. Log the X-DataDirect-Request-Key header to assist in troubleshooting
          headers:
            X-DataDirect-Request-Key:
              description: FactSets request key header.
              schema:
                type: string
        '503':
          description: Request timed out. Retry the request in sometime.
          headers:
            X-DataDirect-Request-Key:
              description: FactSets request key header.
              schema:
                type: string
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /analytics/pub-datastore/swivel/v1/{document}/{assetName}/{reportId}/{tileId}/{accountId}/{configId}/{date}:
    get:
      tags:
      - Name
      summary: Factset Redirects to the Underlying Insight/vault Data in a Stach Format.
      description: "The inclusion of a configId in the path indicates this is for Insight/Vault mappings only, as PA/SPAR mappings do not support the concept of configuration id.\r\n\r\nTakes report parameter inputs and returns the object location for the specified report via a 302 redirect.\r\n\r\nNote: Due to Swagger UI functionality, the redirect is automatically followed when using 'Try it out', so instead of the 302 Header response, a 200 is returned with the Cargo response Body."
      operationId: getInsightMapping
      parameters:
      - name: document
        in: path
        description: The Analytics Datafeed document containing the report
        required: true
        schema:
          type: string
        example: Analytics_Datastore
      - name: assetName
        in: path
        description: The PA/SPAR asset name and extension
        required: true
        schema:
          type: string
        example: ADS_Demo.PA3
      - name: reportId
        in: path
        description: The PA/SPAR report ID
        required: true
        schema:
          type: string
        example: report7
      - name: tileId
        in: path
        description: The PA/SPAR tile ID
        required: true
        schema:
          type: string
        example: tile0
      - name: accountId
        in: path
        description: The account ID
        required: true
        schema:
          type: string
        example: LARGE_CORE
      - name: configId
        in: path
        description: The Vault configuration ID
        required: true
        schema:
          type: string
        example: acb5150d-4333-49e7-8e33-4f7fa749691e
      - name: date
        in: path
        description: The as of date for the report
        required: true
        schema:
          type: string
          format: date
        example: '2023-01-01'
      responses:
        '302':
          description: Expected response, contains the Cargo URL in the Location header.
          headers:
            Location:
              description: "Redirect URL to get Cargo object. \r\n\n(example: https://api.factset.com/analytics/datastore/cargo/v1/groups/a4186c50f8e74f979d271dd22298c901/objects/fe875bc4150542dea6bc237663a01a0d)"
              schema:
                type: string
            X-DataDirect-Request-Key:
              description: FactSets request key header.
              schema:
                type: string
        '400':
          description: Invalid parameter provided.
          headers:
            X-DataDirect-Request-Key:
              description: FactSets request key header.
              schema:
                type: string
        '401':
          description: Missing or invalid authentication.
          headers:
            X-DataDirect-Request-Key:
              description: FactSets request key header.
              schema:
                type: string
        '403':
          description: User is forbidden with current credentials
          headers:
            X-DataDirect-Request-Key:
              description: FactSets request key header.
              schema:
                type: string
        '404':
          description: The provided request does not exist.
          headers:
            X-DataDirect-Request-Key:
              description: FactSets request key header.
              schema:
                type: string
        '500':
          description: Server error. Log the X-DataDirect-Request-Key header to assist in troubleshooting
          headers:
            X-DataDirect-Request-Key:
              description: FactSets request key header.
              schema:
                type: string
        '503':
          description: Request timed out. Retry the request in sometime.
          headers:
            X-DataDirect-Request-Key:
              description: FactSets request key header.
              schema:
                type: string
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /analytics/pub-datastore/tag-search/v1/tags/{name}:
    get:
      tags:
      - Name
      summary: Factset Get a Single Tag Definition Based on Its Name
      description: Retrieve a tag definition based on its name
      operationId: getSingleTagEndPoint
      parameters:
      - name: name
        in: path
        description: The name of the tag
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Expected response, returns the tag requested
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TagResponse'
        '400':
          description: Invalid parameter provided.
          headers:
            X-DataDirect-Request-Key:
              description: FactSets request key header.
              schema:
                type: string
        '401':
          description: Missing or invalid authentication.
          headers:
            X-DataDirect-Request-Key:
              description: FactSets request key header.
              schema:
                type: string
        '403':
          description: User is forbidden with current credentials
          headers:
            X-DataDirect-Request-Key:
              description: FactSets request key header.
              schema:
                type: string
        '404':
          description: The provided request does not exist.
          headers:
            X-DataDirect-Request-Key:
              description: FactSets request key header.
              schema:
                type: string
        '500':
          description: Server error. Log the X-DataDirect-Request-Key header to assist in troubleshooting
          headers:
            X-DataDirect-Request-Key:
              description: FactSets request key header.
              schema:
                type: string
        '503':
          description: Request timed out. Retry the request in sometime.
          headers:
            X-RateLimit-Remaining:
              description: Number of requests left for the time window.
              schema:
                type: string
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
            X-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              schema:
                type: string
            X-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              schema:
                type: string
            X-DataDirect-Request-Key:
              description: FactSets request key header.
              schema:
                type: string
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /analytics/pub-datastore/tag-search/v1/tags/{name}/values:
    post:
      tags:
      - Name
      summary: Factset Gets a List of Tag Values for the Given Name
      description: Returns a list of tag values depending on the name provided. Supports filtering on additional tag name value pairs, which operates as an 'AND' where the Document must have the tag name specified in the path AND the filtered parameter.
      operationId: getTagValuesEndPoint
      parameters:
      - name: name
        in: path
        description: The name of the tag
        required: true
        schema:
          type: string
      requestBody:
        description: Request body to apply when filtering on this end point. Pagination controls are applied through the pagination object and additional tag filters can be used by supplying the tag name and its value in the tags object.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TagFilterModel'
      responses:
        '200':
          description: Expected response, returns a list of tag definitions the user has access to.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TagValuesListResponse'
        '400':
          description: Invalid parameter provided.
          headers:
            X-DataDirect-Request-Key:
              description: FactSets request key header.
              schema:
                type: string
        '401':
          description: Missing or invalid authentication.
          headers:
            X-DataDirect-Request-Key:
              description: FactSets request key header.
              schema:
                type: string
        '403':
          description: User is forbidden with current credentials
          headers:
            X-DataDirect-Request-Key:
              description: FactSets request key header.
              schema:
                type: string
        '404':
          description: The provided request does not exist.
          headers:
            X-DataDirect-Request-Key:
              description: FactSets request key header.
              schema:
                type: string
        '500':
          description: Server error. Log the X-DataDirect-Request-Key header to assist in troubleshooting
          headers:
            X-DataDirect-Request-Key:
              description: FactSets request key header.
              schema:
                type: string
        '503':
          description: Request timed out. Retry the request in sometime.
          headers:
            X-RateLimit-Remaining:
              description: Number of requests left for the time window.
              schema:
                type: string
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
            X-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              schema:
                type: string
            X-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              schema:
                type: string
            X-DataDirect-Request-Key:
              description: FactSets request key header.
              schema:
                type: string
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /ofs/v2/media/download/{namespace}/{scope}/{guid}/{fileName}:
    get:
      summary: Factset Retrieve a Specific Media File
      parameters:
      - name: namespace
        in: path
        required: true
        description: The namespace of the media file
        schema:
          example: partners
        type: string
        pattern: (partners|products|resources)
        enum:
        - partners
        - products
        - resources
      - name: scope
        in: path
        required: true
        description: The scope of the media file
        schema:
          example: logo
        type: string
        pattern: (logo|avatar|documents)
        enum:
        - logo
        - avatar
        - documents
      - name: guid
        in: path
        required: true
        description: The GUID of the file being requested
        schema:
          example: 774c3a5c-cc77-4e4c-b4a8-224a35cb00ba
        type: string
      - name: fileName
        in: path
        required: true
        description: The name you want to show for this file in the uri.
        schema:
          example: FactSet.png
        type: string
      responses:
        '200':
          description: OK
        '404':
          description: Not Found
      tags:
      - Name
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    head:
      summary: Factset Check the existence and retrieve the headers of a spefic media file
      parameters:
      - name: namespace
        in: path
        required: true
        description: The namespace of the media file
        schema:
          example: partners
        type: string
        pattern: (partners|products|resources)
        enum:
        - partners
        - products
        - resources
      - name: scope
        in: path
        required: true
        description: The scope of the media file
        schema:
          example: logo
        type: string
        pattern: (logo|avatar|documents)
        enum:
        - logo
        - avatar
        - documents
      - name: guid
        in: path
        required: true
        description: The GUID of the file being requested
        schema:
          example: 774c3a5c-cc77-4e4c-b4a8-224a35cb00ba
        type: string
      - name: fileName
        in: path
        required: true
        description: The name you want to show for this file in the uri.
        schema:
          example: FactSet.png
        type: string
      responses:
        '200':
          description: OK
        '404':
          description: Not Found
      tags:
      - Name
  /analytics/accounts/v3/models/{name}:
    put:
      tags:
      - Name
      summary: Factset Create or Update an Existing Model Account
      operationId: createOrUpdateModelAccount
      parameters:
      - name: name
        in: path
        description: The path and filename of the model account to create or update
        required: true
        schema:
          type: string
          description: The path and filename of the model account to create or update
      requestBody:
        description: The object containing the input values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModelAccountFieldsRoot'
            example:
              data:
                iterative:
                  '20191010':
                    FDS:
                      weight: '20'
                      price: '50'
                      priceiso: USD
                    GOOGL:
                      weight: '20'
                      price: '50'
                      priceiso: USD
                nonIterative:
                  GOOGL:
                    taxable: 'false'
                  FDS:
                    taxable: 'false'
                additionalFields:
                - iteration: false
                  name: TAXABLE
                  type: STRING
                  description: Taxable
                  splitDirection: NONE
                  size: 0
              meta:
                description: Test desc
      responses:
        '200':
          description: Expected response, updated model account
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              schema:
                type: string
        '201':
          description: Expected response, created model account
          headers:
            Location:
              description: Location of the resource created
              schema:
                type: string
                description: Location of the resource created
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              schema:
                type: string
        '204':
          description: Model account doesn't exist
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              schema:
                type: string
        '400':
          description: Invalid POST body.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
        '401':
          description: Missing or invalid authentication.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
        '403':
          description: User is forbidden with current credentials
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              schema:
                type: string
        '404':
          description: Not Found
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
        '413':
          description: Request body too large
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              schema:
                type: string
        '415':
          description: Missing/Invalid Content-Type header. Header needs to be set to application/json.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              schema:
                type: string
        '500':
          description: Server error. Log the X-DataDirect-Request-Key header to assist in troubleshooting
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
        '503':
          description: Request timed out. Retry the request in sometime.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      tags:
      - Name
      summary: Factset Delete Model Account, Takes an Account Path and Name and Deletes It.
      operationId: deleteAModelAccount
      parameters:
      - name: name
        in: path
        description: The path and filename of model account to delete
        required: true
        schema:
          type: string
          description: The path and filename of model account to delete
      responses:
        '204':
          description: Expected response, no content
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              schema:
                type: string
        '400':
          description: Invalid model account name or type parameter provided
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
        '401':
          description: Missing or invalid authentication
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
        '403':
          description: User is forbidden with current credentials
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              schema:
                type: string
        '500':
          description: Server error. Log the X-DataDirect-Request-Key header to assist in troubleshooting
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
        '503':
          description: Request timed out. Retry the request in sometime.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    get:
      tags:
      - Name
      summary: Factset Get Account Endpoint, Takes an Account Name and Returns Underlying Data
      operationId: getAccount
      parameters:
      - name: name
        in: path
        description: The path and filename of the account to get
        required: true
        schema:
          type: string
          description: The path and filename of the account to get
      - name: format
        in: query
        description: Optional format for the response, supported formats are JsonStach and AccountModel
        schema:
          type: string
          description: Optional format for the response, supported formats are JsonStach and AccountModel
          default: JsonStach
      responses:
        '200':
          description: Expected response, returns JSON representation of the account's dates, symbols and  other fields.
          headers:
            Content-Encoding:
              description: Standard HTTP header. Header value based on Accept-Encoding Request header.
              schema:
                type: string
                description: Standard HTTP header. Header value based on Accept-Encoding Request header.
            Content-Type:
              description: Standard HTTP header.
              schema:
                type: string
                description: Standard HTTP header.
            Transfer-Encoding:
              description: Standard HTTP header. Header value will be set to Chunked if Accept-Encoding header is specified.
              schema:
                type: string
                description: Standard HTTP header. Header value will be set to Chunked if Accept-Encoding header is specified.
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataAndMetaModel'
        '400':
          description: Invalid account name or type parameter provided.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
        '401':
          description: Missing or invalid authentication.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
        '403':
          description: User is forbidden with current credentials
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              schema:
                type: string
        '404':
          description: The provided account name does not exist at the location provided.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
        '406':
          description: Unsupported Accept header. Header needs to be set to application/json.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              schema:
                type: string
        '500':
          description: Server error. Log the X-DataDirect-Request-Key header to assist in troubleshooting
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
        '503':
          description: Request timed out. Retry the request in sometime.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /analytics/accounts/v3/models/{name}/symbols/{symbol}:
    delete:
      tags:
      - Name
      summary: Factset Delete All Entries for a Symbol or Specific Date Entries for a Symbol From a Previously Created Account.
      operationId: deleteModelAccountBySymbol
      parameters:
      - name: name
        in: path
        description: The filename of model account to delete
        required: true
        schema:
          type: string
          description: The filename of model account to delete
      - name: symbol
        in: path
        description: The symbol from the given file name to delete
        required: true
        schema:
          type: string
          description: The symbol from the given file name to delete
      - name: dates
        in: query
        description: The dates from the given file name and symbol to delete (Maximum 10 dates are allowed)
        schema:
          type: array
          items:
            type: string
          description: The dates from the given file name and symbol to delete (Maximum 10 dates are allowed)
      responses:
        '204':
          description: Expected response, no content
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              schema:
                type: string
        '400':
          description: Invalid model account name or symbol parameter provided
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
        '401':
          description: Missing or invalid authentication
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
        '403':
          description: User is forbidden with current credentials
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              schema:
                type: string
        '404':
          description: The provided account name does not exist at the location provided.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
        '500':
          description: Server error. Log the X-DataDirect-Request-Key header to assist in troubleshooting
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
        '503':
          description: Request timed out. Retry the request in sometime.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    get:
      tags:
      - Name
      summary: Factset Get Account Endpoint, Takes an Account Name, Symbol and Returns Underlying Data for That Symbol
      operationId: getAccountForSymbol
      parameters:
      - name: name
        in: path
        description: The path and filename of the account to get
        required: true
        schema:
          type: string
          description: The path and filename of the account to get
      - name: symbol
        in: path
        description: The symbol for which data needs to be updated
        required: true
        schema:
          type: string
          description: The symbol for which data needs to be updated
      - name: format
        in: query
        description: Optional format for the response, supported formats are JsonStach and AccountModel
        schema:
          type: string
          description: Optional format for the response, supported formats are JsonStach and AccountModel
          default: JsonStach
      responses:
        '200':
          description: Expected response, returns JSON representation of the account's dates, symbols and  other fields.
          headers:
            Content-Encoding:
              description: Standard HTTP header. Header value based on Accept-Encoding Request header.
              schema:
                type: string
                description: Standard HTTP header. Header value based on Accept-Encoding Request header.
            Content-Type:
              description: Standard HTTP header.
              schema:
                type: string
                description: Standard HTTP header.
            Transfer-Encoding:
              description: Standard HTTP header. Header value will be set to Chunked if Accept-Encoding header is specified.
              schema:
                type: string
                description: Standard HTTP header. Header value will be set to Chunked if Accept-Encoding header is specified.
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataAndMetaModel'
        '400':
          description: Invalid account name or type parameter provided.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
        '401':
          description: Missing or invalid authentication.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
        '403':
          description: User is forbidden with current credentials
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              schema:
                type: string
        '404':
          description: The provided account name does not exist at the location provided.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
        '406':
          description: Unsupported Accept header. Header needs to be set to application/json.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              schema:
                type: string
        '500':
          description: Server error. Log the X-DataDirect-Request-Key header to assist in troubleshooting
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
        '503':
          description: Request timed out. Retry the request in sometime.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /analytics/accounts/v3/models/{name}/dates/{date}:
    delete:
      tags:
      - Name
      summary: Factset Delete All Entries for a Date or Specific Symbol Entries for a Date From a Previously Created Account.
      operationId: deleteModelAccountByDate
      parameters:
      - name: name
        in: path
        description: The filename of model account to delete
        required: true
        schema:
          type: string
          description: The filename of model account to delete
      - name: date
        in: path
        description: The date from the given file name to delete
        required: true
        schema:
          type: string
          description: The date from the given file name to delete
      - name: symbols
        in: query
        description: The symbols from the given file name and date to delete (Maximum 10 symbols are allowed)
        schema:
          type: array
          items:
            type: string
          description: The symbols from the given file name and date to delete (Maximum 10 symbols are allowed)
      responses:
        '204':
          description: Expected response, no content
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              schema:
                type: string
        '400':
          description: Invalid model account name or date parameter provided
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
        '401':
          description: Missing or invalid authentication
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
        '403':
          description: User is forbidden with current credentials
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              schema:
                type: string
        '404':
          description: The provided account name does not exist at the location provided.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
        '500':
          description: Server error. Log the X-DataDirect-Request-Key header to assist in troubleshooting
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
        '503':
          description: Request timed out. Retry the request in sometime.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    get:
      tags:
      - Name
      summary: Factset Get Account Endpoint, Takes an Account Name, Date and Returns Underlying Data for That Date
      operationId: getAccountForDate
      parameters:
      - name: name
        in: path
        description: The path and filename of the account to get
        required: true
        schema:
          type: string
          description: The path and filename of the account to get
      - name: date
        in: path
        description: The date for which data needs to be updated
        required: true
        schema:
          type: string
          description: The date for which data needs to be updated
      - name: format
        in: query
        description: Optional format for the response, supported formats are JsonStach and AccountModel
        schema:
          type: string
          description: Optional format for the response, supported formats are JsonStach and AccountModel
          default: JsonStach
      responses:
        '200':
          description: Expected response, returns JSON representation of the account's dates, symbols and  other fields.
          headers:
            Content-Encoding:
              description: Standard HTTP header. Header value based on Accept-Encoding Request header.
              schema:
                type: string
                description: Standard HTTP header. Header value based on Accept-Encoding Request header.
            Content-Type:
              description: Standard HTTP header.
              schema:
                type: string
                description: Standard HTTP header.
            Transfer-Encoding:
              description: Standard HTTP header. Header value will be set to Chunked if Accept-Encoding header is specified.
              schema:
                type: string
                description: Standard HTTP header. Header value will be set to Chunked if Accept-Encoding header is specified.
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataAndMetaModel'
        '400':
          description: Invalid account name or type parameter provided.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
        '401':
          description: Missing or invalid authentication.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
        '403':
          description: User is forbidden with current credentials
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              schema:
                type: string
        '404':
          description: The provided account name does not exist at the location provided.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
        '406':
          description: Unsupported Accept header. Header needs to be set to application/json.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              schema:
                type: string
        '500':
          description: Server error. Log the X-DataDirect-Request-Key header to assist in troubleshooting
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
        '503':
          description: Request timed out. Retry the request in sometime.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /analytics/accounts/v3/models/{name}/dates/{date}/symbols/{symbol}:
    get:
      tags:
      - Name
      summary: Factset Get Account Endpoint, Takes an Account Name and Returns Underlying Data
      operationId: getAccountForDateAndSymbol
      parameters:
      - name: name
        in: path
        description: The path and filename of the account to get
        required: true
        schema:
          type: string
          description: The path and filename of the account to get
      - name: symbol
        in: path
        description: The symbol for which data needs to be updated
        required: true
        schema:
          type: string
          description: The symbol for which data needs to be updated
      - name: date
        in: path
        description: The date for which data needs to be updated
        required: true
        schema:
          type: string
          description: The date for which data needs to be updated
      - name: format
        in: query
        description: Optional format for the response, supported formats are JsonStach and AccountModel
        schema:
          type: string
          description: Optional format for the response, supported formats are JsonStach and AccountModel
          default: JsonStach
      responses:
        '200':
          description: Expected response, returns JSON representation of the account's dates, symbols and  other fields.
          headers:
            Content-Encoding:
              description: Standard HTTP header. Header value based on Accept-Encoding Request header.
              schema:
                type: string
                description: Standard HTTP header. Header value based on Accept-Encoding Request header.
            Content-Type:
              description: Standard HTTP header.
              schema:
                type: string
                description: Standard HTTP header.
            Transfer-Encoding:
              description: Standard HTTP header. Header value will be set to Chunked if Accept-Encoding header is specified.
              schema:
                type: string
                description: Standard HTTP header. Header value will be set to Chunked if Accept-Encoding header is specified.
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataAndMetaModel'
        '400':
          description: Invalid account name or type parameter provided.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
        '401':
          description: Missing or invalid authentication.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
        '403':
          description: User is forbidden with current credentials
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              schema:
                type: string
        '404':
          description: The provided account name does not exist at the location provided.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
        '406':
          description: Unsupported Accept header. Header needs to be set to application/json.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              schema:
                type: string
        '500':
          description: Server error. Log the X-DataDirect-Request-Key header to assist in troubleshooting
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
        '503':
          description: Request timed out. Retry the request in sometime.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /analytics/accounts/v3/models/{name}/schema:
    get:
      tags:
      - Name
      summary: Factset Get Account Schema Endpoint, Takes an Account Name and Returns Its Schema
      operationId: getAccountSchema
      parameters:
      - name: name
        in: path
        description: The path and filename of the account to get its schema
        required: true
        schema:
          type: string
          description: The path and filename of the account to get its schema
      responses:
        '200':
          description: Expected response, returns JSON representation of the account's schema.
          headers:
            Content-Encoding:
              description: Standard HTTP header. Header value based on Accept-Encoding Request header.
              schema:
                type: string
                description: Standard HTTP header. Header value based on Accept-Encoding Request header.
            Content-Type:
              description: Standard HTTP header.
              schema:
                type: string
                description: Standard HTTP header.
            Transfer-Encoding:
              description: Standard HTTP header. Header value will be set to Chunked if Accept-Encoding header is specified.
              schema:
                type: string
                description: Standard HTTP header. Header value will be set to Chunked if Accept-Encoding header is specified.
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
[...]
