openapi: 3.0.3
info:
  title: Factset Analytics Datastore About Shares API
  description: Allow clients to fetch precalculated Analytics through predeterministic URLs.
  contact:
    name: FactSet Research Systems
    url: https://developer.factset.com/contact
    email: api@factset.com
  license:
    name: Apache License, Version 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  version: 1.0.0
servers:
- url: https://api.factset.com
  description: Production
- url: https://api-sandbox.factset.com
  description: Sandbox
security:
- basicAuth: []
tags:
- name: Shares
paths:
  /factset-global-prices/v1/security-shares:
    get:
      tags:
      - Shares
      summary: Factset Gets Shares Outstanding Information for Securities.
      operationId: getSharesOutstanding
      description: Returns security level shares outstanding data for the given ids and dates. At this time, all values returned are split adjusted.
      parameters:
      - $ref: '#/components/parameters/idsBatchMax1000'
      - $ref: '#/components/parameters/startDateSS'
      - $ref: '#/components/parameters/endDate'
      - $ref: '#/components/parameters/frequency'
      - $ref: '#/components/parameters/calendar'
      - $ref: '#/components/parameters/batch'
      responses:
        '200':
          description: Array of security shares outstanding information for a given date range and list of securities
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sharesOutstandingResponse'
              examples:
                Shares Outstanding:
                  $ref: '#/components/examples/sharesOutstanding'
        '202':
          description: Batch request has been accepted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchStatusResponse'
              examples:
                Batch Request Accepted:
                  $ref: '#/components/examples/BatchStatusAcceptedResponse'
          headers:
            Location:
              description: Path to Batch Request status.
              schema:
                type: string
              example: batch-status?id=2df43e85-ea0f-45c6-bf4a-2baf4d1eaa3c
        '400':
          $ref: '#/components/responses/SO400'
        '401':
          $ref: '#/components/responses/SO401'
        '403':
          $ref: '#/components/responses/SO403'
        '415':
          $ref: '#/components/responses/SO415'
        '500':
          $ref: '#/components/responses/SO500'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      tags:
      - Shares
      summary: Factset Gets Shares Outstanding Information for Securities.
      description: Returns security level shares outstanding data for the given ids and dates. At this time, all values returned are split adjusted.
      operationId: postSharesOutstanding
      requestBody:
        required: true
        description: Request object for `Shares Outstanding`.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/sharesOutstandingRequest'
      responses:
        '200':
          description: Array of shares outstanding
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sharesOutstandingResponse'
        '202':
          description: Batch request has been accepted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchStatusResponse'
              examples:
                Batch Request Accepted:
                  $ref: '#/components/examples/BatchStatusAcceptedResponse'
          headers:
            Location:
              description: Path to Batch Request status.
              schema:
                type: string
              example: batch-status?id=2df43e85-ea0f-45c6-bf4a-2baf4d1eaa3c
        '400':
          $ref: '#/components/responses/SO400'
        '401':
          $ref: '#/components/responses/SO401'
        '403':
          $ref: '#/components/responses/SO403'
        '415':
          $ref: '#/components/responses/SO415'
        '500':
          $ref: '#/components/responses/SO500'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /factset-prices/v1/shares:
    get:
      tags:
      - Shares
      summary: Factset Gets Shares for a List of `ids` as of Given Date Range.
      operationId: getSecurityShares
      description: Gets security shares for a list of 'ids' and given date range. Share values returned include security-level and company-level.
      parameters:
      - $ref: '#/components/parameters/idsMax1000'
      - $ref: '#/components/parameters/startDate'
      - $ref: '#/components/parameters/endDate_2'
      - $ref: '#/components/parameters/frequency_2'
      - $ref: '#/components/parameters/calendar_2'
      - $ref: '#/components/parameters/splitAdjust'
      responses:
        '200':
          description: Array of security shares
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sharesResponse'
              examples:
                One Year of Monthly Share Counts for AAPL:
                  $ref: '#/components/examples/singleSecurityShares'
                Multiple Security Share Counts as of 2019 Year End - FB, AAPL, NFLX, GOOGL:
                  $ref: '#/components/examples/multipleSecuritiesShares'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      tags:
      - Shares
      summary: Factset Requests Shares for a List of `ids` as of Given Date Range.
      description: Gets security shares for a list of 'ids' and given date range. Share values returned include security-level and company-level.
      operationId: getSecuritySharesForList
      requestBody:
        required: true
        description: Request object for `Security` shares.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/sharesRequest'
            examples:
              Request One Year of Monthly Share Counts for AAPL:
                $ref: '#/components/examples/singleSecuritySharesPost'
              Request Multiple Security Share Counts as of 2019 Year End - FB, AAPL, NFLX, GOOGL:
                $ref: '#/components/examples/multipleSecuritiesSharesPost'
      responses:
        '200':
          description: Array of Shares objects
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sharesResponse'
              examples:
                One Year of Monthly Share Counts for AAPL:
                  $ref: '#/components/examples/singleSecurityShares'
                Multiple Security Share Counts as of 2019 Year End - FB, AAPL, NFLX, GOOGL:
                  $ref: '#/components/examples/multipleSecuritiesShares'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  responses:
    SO401:
      description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and have successfully generated an API KEY for the IP range you are connecting from. For more help, select the **Report Issue** in the top right corner of this Developer Portal specification card and choose Connectivity 401 or 403 Responses.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/soErrorResponse'
          examples:
            Bad Request - Date Format:
              $ref: '#/components/examples/sounauthenticated'
    SO400:
      description: Bad Request. This can occur for several reasons. Please review the "message" for more details.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/soErrorResponse'
          examples:
            Bad Request - Date Format:
              $ref: '#/components/examples/sobadRequestDateFormat'
            Bad Request - Missing Required Parameter:
              $ref: '#/components/examples/sobadRequestRequiredParameter'
            Bad Request - Future Date:
              $ref: '#/components/examples/sobadRequestFutureDate'
            Bad Request - Invalid Parameter:
              $ref: '#/components/examples/sobadRequestInvalidParameters'
            Bad Request - Malformed JSON:
              $ref: '#/components/examples/sobadRequestMalformedJSON'
            Bad Request - Read Timeout:
              $ref: '#/components/examples/sobadRequestReadTimeout'
    '401':
      description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and have successfully generated an API KEY for the IP range you are connecting from. For more help, select the **Report Issue** in the top right corner of this Developer Portal specification card and choose Connectivity 401 or 403 Responses.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponse'
          examples:
            Bad Request - Date Format:
              $ref: '#/components/examples/unauthenticated'
    '415':
      description: Unsupported Media Type. This error may be returned when the caller sends a resource in a format that is not accepted by the server. This can be fixed by ensuring that Content-Type header is set to the correct value. In this instance, "application/json" would be the appropriate value.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponse'
          examples:
            Bad Request - Date Format:
              $ref: '#/components/examples/unsupportedMediaType'
    '403':
      description: The USERNAME-SERIAL attempted to request the endpoint is not authorized to access. The request was a legal request, but the server is refusing to respond. Please reach out to FactSet Account Team for assistance with authorization.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponse'
          examples:
            Bad Request - Date Format:
              $ref: '#/components/examples/forbidden'
    SO500:
      description: Internal Server Error.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/soErrorResponse'
          examples:
            Internal Server Error - Not Writable:
              $ref: '#/components/examples/sonotWritable'
            Internal Server Error - General Exception:
              $ref: '#/components/examples/sogeneralException'
    '500':
      description: Internal Server Error.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponse'
          examples:
            Internal Server Error - Not Writable:
              $ref: '#/components/examples/notWritable'
            Internal Server Error - General Exception:
              $ref: '#/components/examples/generalException'
    SO403:
      description: The USERNAME-SERIAL attempted to request the endpoint is not authorized to access. The request was a legal request, but the server is refusing to respond. Please reach out to FactSet Account Team for assistance with authorization.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/soErrorResponse'
          examples:
            Bad Request - Date Format:
              $ref: '#/components/examples/soforbidden'
    SO415:
      description: Unsupported Media Type. This error may be returned when the caller sends a resource in a format that is not accepted by the server. This can be fixed by ensuring that Content-Type header is set to the correct value. In this instance, "application/json" would be the appropriate value.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/soErrorResponse'
          examples:
            Bad Request - Date Format:
              $ref: '#/components/examples/sounsupportedMediaType'
    '400':
      description: Bad Request. This can occur for several reasons. Please review the "message" for more details.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponse'
          examples:
            Bad Request - Date Format:
              $ref: '#/components/examples/badRequestDateFormat'
            Bad Request - Missing Required Parameter:
              $ref: '#/components/examples/badRequestRequiredParameter'
            Bad Request - Future Date:
              $ref: '#/components/examples/badRequestFutureDate'
            Bad Request - Invalid Parameter:
              $ref: '#/components/examples/badRequestInvalidParameters'
            Bad Request - Malformed JSON:
              $ref: '#/components/examples/badRequestMalformedJSON'
            Bad Request - Read Timeout:
              $ref: '#/components/examples/badRequestReadTimeout'
  schemas:
    batchErrorObject:
      type: object
      nullable: true
      properties:
        id:
          description: A UUID for this particular occurrence of the problem.
          type: string
          nullable: true
          example: adb01824-252f-4420-b0c6-35a1e3507ef5
        code:
          description: status
          type: string
          nullable: true
          example: GenericError
        links:
          description: The Endpoint path {package}/version/{endpoint}
          type: object
          properties:
            about:
              description: details.
              type: string
              example: /factset-global-prices/v1/{endpoint}
          example: example_value
        title:
          description: The plain text error message
          type: string
          nullable: true
          example: Validation Error
    sharesOutstandingResponseObject:
      type: object
      title: Shares Outstanding Object
      properties:
        fsymId:
          description: Security-level FactSet Permanent Identifier associated with the identifier.
          type: string
          example: C6J726-S
          nullable: true
        date:
          description: Date of the record in YYYY-MM-DD format.
          type: string
          format: date
          example: '2022-08-10'
          nullable: true
        documentId:
          description: Unique Identifier for each document or filing which contains the outstanding shares position.
          type: string
          example: '956881'
          nullable: true
        requestId:
          description: FactSet Security Permanent Identifier that was used for the request.
          type: string
          example: C6J726-S
          nullable: true
        reportDate:
          description: Reporting date of the position.
          type: string
          format: date
          example: '2022-08-02'
          nullable: true
        publicationDate:
          description: Exact date that results have been communicated to the market.
          type: string
          format: date
          example: '2022-08-04'
          nullable: true
        fiscalYear:
          description: The company's fiscal year corresponding to the report.
          type: integer
          example: 2022
          nullable: true
        reportingPeriodDescription:
          description: Textual description of the reporting period.
          type: string
          example: 2nd Quarter
          nullable: true
        reportingPeriod:
          description: 'Code representing the unique reporting period. Options are as follows:

            - 1 - 1st Quarter

            - 2 - 2nd Quarter

            - 3 - 3rd Quarter

            - 4 - 4th Quarter

            - 6 - Mid-Year

            '
          type: integer
          example: 3
          nullable: true
        description:
          description: Different stock types based on the rights and benefits from ownership.
          type: string
          example: Class A Shares
          nullable: true
        adrDescription:
          description: Different stock types based on the rights and benefits from ownership for the ADR.
          type: string
          example: Class A Shares
          nullable: true
        adrRatio:
          description: Number of common or ordinary shares that are equivalent to one American Depositary Receipt (ADR).
          type: number
          example: 0.5
          nullable: true
        adrFsymId:
          description: Unique FactSet generated identifier assigned to a security, representing the ADR security.
          type: string
          example: V9GGRZ-S
          nullable: true
        totalOutstanding:
          description: Number of shares outstanding as of `date`.
          type: number
          example: 1351.828
          nullable: true
        adrTotalOutstanding:
          description: Number of shares outstanding for the ADR as of `date`.
          type: number
          example: 980.22284
          nullable: true
      additionalProperties: false
    idsMax1000:
      type: array
      items:
        type: string
      minItems: 1
      maxItems: 1000
      description: 'The requested list of security identifiers. Accepted ID types include Market Tickers, SEDOL, ISINs, CUSIPs, or FactSet Permanent Ids.

        '
      example:
      - FDS-US
    batch:
      description: 'Enables the ability to asynchronously "batch" the request, supporting a long-running request for up to 20 minutes. Upon requesting batch=Y, the service will respond back with an HTTP Status Code of 202. Once a batch request is submitted, use batch status to see if the job has been completed. Once completed, retrieve the results of the request via batch-result. When using Batch, ids limit is increased to 10000 ids per request, though limits on query string via GET method still apply. It''s advised to submit large lists of ids via POST method. Please note that the number of unique currencies present in the requested ids is limited to 50 per request.

        '
      type: string
      enum:
      - Y
      - N
      default: N
    idsBatchMax2000:
      type: array
      items:
        type: string
      description: "The requested list of security identifiers. Accepted ID types include Market Tickers, SEDOL, ISINs, CUSIPs, or FactSet Permanent Ids. \n<p>ids limit =  500 per non-batch request / 2000 per batch request for a single day and 50 per multi-day request</p>\n"
      example:
      - FDS-US
    calendar:
      title: Calendar
      type: string
      enum:
      - FIVEDAY
      - SEVENDAY
      - US
      default: FIVEDAY
      description: Calendar of data returned. SEVENDAY includes weekends.
      example: FIVEDAY
    splitAdjust:
      description: Code to control split adjustments for shares count.
      type: string
      enum:
      - SPLIT
      - UNSPLIT
      default: SPLIT
    startDate_2:
      type: string
      description: 'The start date requested for a given date range in **YYYY-MM-DD** format. If left blank, the API will default to previous close. Future dates (T+1) are not accepted in this endpoint.

        '
      example: '2019-01-01'
    endDate:
      title: End Date
      type: string
      description: 'The end date requested for a given date range in **YYYY-MM-DD** format. Future dates (T+1) are not accepted in this endpoint.

        '
      example: '2021-06-30'
    BatchStatus:
      title: Batch Status
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: the id of batch request.
          example: abc123
        startTime:
          type: string
          format: date-time
          description: Time when the batch request is started. This is in Eastern Time Zone. The date-time format is expressed as [YYYY-MM-DD]T[HH:MM:SSS], following ISO 8601.
          example: '2026-01-15T10:30:00Z'
        endTime:
          type: string
          format: date-time
          description: Time when the batch request is ended. This is in Eastern Time Zone. The date-time format is expressed as [YYYY-MM-DD]T[HH:MM:SSS], following ISO 8601.
          nullable: true
          example: '2026-01-15T10:30:00Z'
        status:
          type: string
          enum:
          - queued
          - executing
          - created
          - failed
          example: queued
        error:
          $ref: '#/components/schemas/batchErrorObject'
    shares:
      title: Shares Object
      type: object
      properties:
        fsymId:
          description: Factset Regional Security Identifier. Six alpha-numeric characters, excluding vowels, with an -R suffix (XXXXXX-R). Identifies the security's best regional security data series per currency. For equities, all primary listings per region and currency are allocated a regional-level permanent identifier. The regional-level permanent identifier will be available once a SEDOL representing the region/currency has been allocated and the identifiers are on FactSet.
          type: string
          example: SJY281-R
          nullable: true
        date:
          description: Date expressed in YYYY-MM-DD format.
          type: string
          format: date
          example: '2013-08-01'
          nullable: true
        adjDate:
          description: Date of last split for which return has been adjusted. Use the /factset-prices/v#/splits endpoint for details on split. If not available, date will return as 0001-01-01.
          type: string
          format: date
          example: '2005-02-07'
          nullable: true
        sharesSecurity:
          description: '**Security-level** Common Shares Outstanding in base units. Shares sourced primarily from SEC filings. Securities in certain countries will include treasury shares. For details visit [Online Assistant Page #10435](https://oa.apps.factset.com/pages/10435)'
          type: number
          example: 299532000
          nullable: true
        sharesCompany:
          description: '**Company-level** Shares Outstanding aggregated across all share classes. Non-traded shares are *excluded*. In base units. For more details, visit [Online Assistant Page #16867](https://oa.apps.factset.com/pages/16867)'
          type: number
          example: 649532000
          nullable: true
        sharesCompanyNontraded:
          description: '**Company-level** Shares Outstanding aggregated across all share classes. Non-traded shares are *included* to the calculation basis by the proportion of their nominal or par value. In base units. For more details, visit [Online Assistant Page #16867](https://oa.apps.factset.com/pages/16867)'
          type: number
          example: 657532000
          nullable: true
        requestId:
          description: Identifier that was used for the request.
          type: string
          example: IBM-US
    sharesOutstandingRequest:
      title: Shares Outstanding Request Body
      description: Shares Outstanding Request Body
      type: object
      properties:
        data:
          $ref: '#/components/schemas/sharesOutstandingRequestBody'
      required:
      - data
    sharesRequest:
      title: Shares Request Body
      description: Shares Request Body
      type: object
      properties:
        ids:
          $ref: '#/components/schemas/idsMax1000'
        startDate:
          $ref: '#/components/schemas/startDate_2'
        endDate:
          $ref: '#/components/schemas/endDate_2'
        frequency:
          $ref: '#/components/schemas/frequency_2'
        calendar:
          $ref: '#/components/schemas/calendar_2'
        splitAdjust:
          $ref: '#/components/schemas/splitAdjust'
      required:
      - ids
    errorResponse:
      type: object
      title: Error Response
      properties:
        status:
          description: status
          type: string
          example: Bad Request
        timestamp:
          description: timestamp in YYYY-MM-DD HH:MM:SS.SSS
          type: string
          example: '2019-11-01 11:09:41.918'
          format: date-time
        path:
          description: The Endpoint path {package}/version/{endpoint}
          type: string
          example: /factset-prices/v1/prices
        message:
          description: The plain text error message
          type: string
          example: Validation Error
        subErrors:
          description: subErrors related to the error message. Null if not applicable.
          type: object
          properties:
            object:
              description: the operation ID
              type: string
            field:
              description: Parameter Field Name
              type: string
            message:
              description: Error message
              type: string
            rejectedValue:
              description: Rejected Values in an Array
              type: array
              items:
                type: string
          example: example_value
    frequency_2:
      type: string
      enum:
      - D
      - W
      - M
      - AM
      - CQ
      - FQ
      - AY
      - CY
      - FY
      default: D
      description: "Controls the display frequency of the data returned.\n  * **D** = Daily\n  * **W** = Weekly, based on the last day of the week of the start date.\n  * **M** = Monthly, based on the last trading day of the month.\n  * **AM** = Monthly, based on the start date (e.g., if the start date is June 16, data is displayed for June 16, May 16, April 16 etc.).\n  * **CQ** = Quarterly based on the last trading day of the calendar quarter (March, June, September, or December).\n  * **FQ** = Fiscal Quarter of the company.\n  * **AY** = Actual Annual, based on the start date.\n  * **CY** = Calendar Annual, based on the last trading day of the calendar year.\n  * **FY** = Fiscal Annual, based on the last trading day of the company's fiscal year.\n"
      example: M
    endDate_2:
      type: string
      description: 'The end date requested for a given date range in **YYYY-MM-DD** format. If left blank, the API will default to previous close. Future dates (T+1) are not accepted in this endpoint.

        '
      example: '2019-12-31'
    startDate:
      title: Start Date
      type: string
      description: 'The start date requested for a given date range in **YYYY-MM-DD** format. Future dates (T+1) are not accepted in this endpoint.

        '
      example: '2020-06-30'
    soErrorResponse:
      type: object
      title: Error Response
      description: Error Default Response
      properties:
        errors:
          type: array
          description: An array containing errors
          items:
            $ref: '#/components/schemas/soErrorObject'
          example: []
    sharesResponse:
      type: object
      title: Shares Response
      properties:
        data:
          description: Array of Shares Objects
          type: array
          items:
            $ref: '#/components/schemas/shares'
          example: []
    calendar_2:
      type: string
      enum:
      - FIVEDAY
      - SEVENDAY
      - LOCAL
      default: FIVEDAY
      description: Calendar of data returned. SEVENDAY includes weekends. LOCAL calendar will default to the securities' trading calendar which excludes date records for respective holiday periods.
      example: FIVEDAY
    soErrorObject:
      type: object
      properties:
        id:
          description: A UUID for this particular occurrence of the problem.
          type: string
          example: adb01824-252f-4420-b0c6-35a1e3507ef5
        code:
          description: status
          type: string
          example: Bad Request
        links:
          description: The Endpoint path {package}/version/{endpoint}
          type: object
          properties:
            about:
              description: Details.
              type: string
              example: /factset-global-prices/v1/securtiy-shares
          example: example_value
        title:
          description: The plain text error message
          type: string
          example: Validation Error
    BatchStatusResponse:
      title: Batch Status Response
      type: object
      properties:
        data:
          $ref: '#/components/schemas/BatchStatus'
    sharesOutstandingResponse:
      type: object
      title: Shares Outstanding Response
      properties:
        data:
          description: Array of Shares Outstanding Objects
          type: array
          items:
            $ref: '#/components/schemas/sharesOutstandingResponseObject'
          example: []
    frequency:
      title: Frequency
      type: string
      enum:
      - D
      - AD
      - W
      - M
      - AM
      - AQ
      - CQ
      - ASA
      - CSA
      - AY
      - CY
      default: D
      description: "Controls the display frequency of the data returned.\n  * **D** = Daily\n  * **AD** = Actual Daily\n  * **W** = Weekly, based on the last day of the week of the start date.\n  * **M** = Monthly, based on the last trading day of the month.\n  * **AM** = Monthly, based on the start date (e.g., if the start date is June 16, data is displayed for June 16, May 16, April 16 etc.).\n  * **AQ** =  Actual Quarterly\n  * **CQ** = Quarterly based on the last trading day of the calendar quarter (March, June, September, or December).\n  * **ASA** = Actual Semi-annual\n  * **CSA** = Calendar Semi-annual\n  * **AY** = Actual Annual, based on the start date.\n  * **CY** = Calendar Annual, based on the last trading day of the calendar year.\n"
      example: M
    sharesOutstandingRequestBody:
      title: Shares Outstanding Request Body
      description: Shares Outstanding Request Body
      type: object
      properties:
        ids:
          $ref: '#/components/schemas/idsBatchMax2000'
        startDate:
          $ref: '#/components/schemas/startDate'
        endDate:
          $ref: '#/components/schemas/endDate'
        frequency:
          $ref: '#/components/schemas/frequency'
        calendar:
          $ref: '#/components/schemas/calendar'
        batch:
          $ref: '#/components/schemas/batch'
      required:
      - ids
  examples:
    sobadRequestReadTimeout:
      summary: Bad Request - Read Timeout
      description: This error may be returned if it takes more than 29 seconds to hear back from the data fetch service.
      value:
        errors:
        - id: adb01824-252f-4420-b0c6
          code: Bad Request
          links:
            about: /factset-global-prices/v1/{endpoint}
          title: The request took too long. Try again with a smaller request.
    badRequestInvalidParameters:
      summary: Bad Request - Invalid Parameters
      description: This error message occurs when a request parameter is used in which is not recognized by the service. Please revise your request to include only the parameters listed in the specification. Typical causes are spelling mistakes and use of improper casing.
      value:
        status: Bad Request
        timestamp: '2020-06-12 15:58:54.068'
        path: /factset-prices/v1/{endpoint}
        message: 'Invalid Parameter (s): fakeParameterName1 fakeParameterName2. Please modify your request to use parameters outlined in the specification for this endpoint.'
        subErrors: null
    sobadRequestFutureDate:
      summary: Bad Request - Future Date
      description: This error message occurs when a future date is requested in the startDate and endDate parameters. Please revise your request to include dates as of today's current date or any prior historical date.
      value:
        errors:
        - id: adb01824-252f-4420-b0c6
          code: Bad Request
          links:
            about: /factset-global-prices/v1/{endpoint}
          title: The use of future dates is not applicable in this endpoint. Please revise your request to include dates up to today's current date.
    sonotWritable:
      summary: Internal Server Error - Not Writable
      description: This error may be returned when the server encounters an error writing the JSON response.
      value:
        errors:
        - id: adb01824-252f-4420-b0c6
          code: Internal Server Error
          links:
            about: /factset-global-prices/v1/{endpoint}
          title: Error writing JSON output
    sobadRequestRequiredParameter:
      summary: Bad Request - Required Parameter Missing
      description: This error message occurs when the request does not include the required parameters. Required parameters are indicated with a red asterisks symbol in the specification file.
      value:
        errors:
        - id: adb01824-252f-4420-b0c6
          code: Bad Request
          links:
            about: /factset-global-prices/v1/{endpoint}
          title: The parameter 'ids' is required and may not be empty.
    badRequestDateFormat:
      summary: Bad Request - Date Format
      description: This bad request occurs when a request doesn't use the YYYY-MM-DD in the date parameters. To resolve, convert your date to YYYY-MM-DD.
      value:
        status: Bad Request
        timestamp: '2019-10-31 16:08:07.945'
        path: /factset-prices/v1/{endpoint}
        message: 'The date parameter ''startDate'' must be in the following date format: YYYY-MM-DD'
        subErrors: null
    multipleSecuritiesSharesPost:
      summary: Request Multiple Security Share Counts as of 2019 year end - FB, AAPL, NFLX, GOOGL
      description: Request Multiple Security Share Counts as of 2019 year end - FB, AAPL, NFLX, GOOGL. Note the startDate and endDate must both be equal to the single day requested, if one is left blank yesterday's close will be used as default.
      value:
        ids:
        - FB-US
        - AAPL-US
        - NFLX-US
        - GOOGL-US
        startDate: '2019-12-31'
        endDate: '2019-12-31'
        frequency: D
        calendar: FIVEDAY
        splitAdjust: SPLIT
    notWritable:
      summary: Internal Server Error - Not Writable
      description: This error may be returned when the server encounters an error writing the JSON response.
      value:
        status: Internal Server Error
        timestamp: '2019-11-05 09:48:29.18'
        path: /factset-prices/v1/{endpoint}
        message: Error writing JSON output
        subErrors: null
    sobadRequestMalformedJSON:
      summary: Bad Request - Malformed JSON Request
      description: This error may be returned when the request body is specified as JSON, but is not in proper JSON format.
      value:
        errors:
        - id: adb01824-252f-4420-b0c6
          code: Bad Request
          links:
            about: /factset-global-prices/v1/{endpoint}
          title: Malformed JSON Request
    BatchStatusAcceptedResponse:
      description: Batch Status Accepted Response
      value:
        data:
          id: 2df43e85-ea0f-45c6-bf4a-2baf4d1eaa3c
          status: queued
          startTime: '2021-06-29T18:34:52.168Z'
          endTime: null
          error: null
    unsupportedMediaType:
      summary: Unsupported Media Type
      description: This bad request occurs when the media type passed in the request is not supported. Currently the APIs only support 'application/json'.
      value:
        status: Unsupported Media Type
        timestamp: '2019-11-05 09:42:27.237'
        path: /factset-prices/v1/{endpoint}
        message: text/html media type is not supported. Supported media types are application/json
        subErrors: null
    singleSecuritySharesPost:
      summary: Request Monthly Shares Values for AAPL for 2019 calendar year
      description: Request Monthly Shares Values for AAPL for 2019 calendar year
      value:
        ids:
        - AAPL-US
        startDate: '2018-12-31'
        endDate: '2019-12-31'
        frequency: M
        calendar: FIVEDAY
        splitAdjust: SPLIT
    singleSecurityShares:
      summary: One Year of Monthly Share Values for AAPL
      description: Latest Dividends for AAPL and MSFT
      value:
        data:
        - fsymId: MH33D6-R
          date: '2018-12-31'
          adjDate: '2014-06-09'
          sharesSecurity: 4745398000
          sharesCompany: 4745397949.21875
          sharesCompanyNontraded: 4745397949.21875
          requestId: AAPL
        - fsymId: MH33D6-R
          date: '2019-01-31'
          adjDate: '2014-06-09'
          sharesSecurity: 4715280000
          sharesCompany: 4715279785.15625
          sharesCompanyNontraded: 4715279785.15625
          requestId: AAPL
        - fsymId: MH33D6-R
          date: '2019-02-28'
          adjDate: '2014-06-09'
          sharesSecurity: 4715280000
          sharesCompany: 4715279785.15625
          sharesCompanyNontraded: 4715279785.15625
          requestId: AAPL
        - fsymId: MH33D6-R
          date: '2019-03-29'
          adjDate: '2014-06-09'
          sharesSecurity: 4715280000
          sharesCompany: 4715279785.15625
          sharesCompanyNontraded: 4715279785.15625
          requestId: AAPL
        - fsymId: MH33D6-R
          date: '2019-04-30'
          adjDate: '2014-06-09'
          sharesSecurity: 4601075000
          sharesCompany: 4601075195.3125
          sharesCompanyNontraded: 4601075195.3125
          requestId: AAPL
        - fsymId: MH33D6-R
          date: '2019-05-31'
          adjDate: '2014-06-09'
          sharesSecurity: 4601075000
          sharesCompany: 4601075195.3125
          sharesCompanyNontraded: 4601075195.3125
          requestId: AAPL
        - fsymId: MH33D6-R
          date: '2019-06-28'
          adjDate: '2014-06-09'
          sharesSecurity: 4601075000
          sharesCompany: 4601075195.3125
          sharesCompanyNontraded: 4601075195.3125
          requestId: AAPL
        - fsymId: MH33D6-R
          date: '2019-07-31'
          adjDate: '2014-06-09'
          sharesSecurity: 4519180300
          sharesCompany: 4519180175.78125
          sharesCompanyNontraded: 4519180175.78125
          requestId: AAPL
        - fsymId: MH33D6-R
          date: '2019-08-30'
          adjDate: '2014-06-09'
          sharesSecurity: 4519180300
          sharesCompany: 4519180175.78125
          sharesCompanyNontraded: 4519180175.78125
          requestId: AAPL
        - fsymId: MH33D6-R
          date: '2019-09-30'
          adjDate: '2014-06-09'
          sharesSecurity: 4519180300
          sharesCompany: 4519180175.78125
          sharesCompanyNontraded: 4519180175.78125
          requestId: AAPL
        - fsymId: MH33D6-R
          date: '2019-10-31'
          adjDate: '2014-06-09'
          sharesSecurity: 4443265000
          sharesCompany: 4443265136.71875
          sharesCompanyNontraded: 4443265136.71875
          requestId: AAPL
        - fsymId: MH33D6-R
          date: '2019-11-29'
          adjDate: '2014-06-09'
          sharesSecurity: 4443265000
          sharesCompany: 4443265136.71875
          sharesCompanyNontraded: 4443265136.71875
          requestId: AAPL
        - fsymId: MH33D6-R
          date: '2019-12-31'
          adjDate: '2014-06-09'
          sharesSecurity: 4443265000
          sharesCompany: 4443265136.71875
          sharesCompanyNontraded: 4443265136.71875
          requestId: AAPL
    generalException:
      summary: Internal Server Error - General Exception
      description: This is the most general error that can be returned to by the service. Please `Report Issue` to FactSet.
      value:
        status: Internal Server Error
        timestamp: '2019-11-01 10:36:01.944'
        path: /factset-prices/v1/{endpoint}
        message: Unexpected error
        subErrors: null
    sobadRequestDateFormat:
      summary: Bad Request - Date Format
      description: This bad request occurs when a request doesn't use the YYYY-MM-DD in the date parameters. To resolve, convert your date to YYYY-MM-DD.
      value:
        errors:
        - id: adb01824-252f-4420-b0c6
          code: Bad Request
          links:
            about: /factset-global-prices/v1/{endpoint}
          title: 'The date parameter must be in the following date format: YYYY-MM-DD'
    multipleSecuritiesShares:
      summary: Multiple Security Share Values as of 2019 Year End - FB, AAPL, NFLX, GOOGL
      description: Latest Dividends for AAPL and MSFT
      value:
        data:
        - fsymId: QLGSL2-R
          date: '2019-12-31'
          adjDate: null
          sharesSecurity: 2406468000
          sharesCompany: 2406468017.57812
          sharesCompanyNontraded: 2851468017.57812
          requestId: FB
        - fsymId: MH33D6-R
          date: '2019-12-31'
          adjDate: '2014-06-09'
          sharesSecurity: 4443265000
          sharesCompany: 4443265136.71875
          sharesCompanyNontraded: 4443265136.71875
          requestId: AAPL
        - fsymId: C4C0BL-R
          date: '2019-12-31'
          adjDate: '2015-07-15'
          sharesSecurity: 438251000
          sharesCompany: 438251007.080078
          sharesCompanyNontraded: 438251007.080078
          requestId: NFLX
        - fsymId: HTM0LK-R
          date: '2019-12-31'
          adjDate: '2014-04-03'
          sharesSecurity: 299828000
          sharesCompany: 641894012.451172
          sharesCompanyNontraded: 688335012.451172
          requestId: GOOGL
    sounsupportedMediaType:
      summary: Unsupported Media Type
      description: This bad request occurs when the media type passed in the request is not supported. Currently the APIs only support 'application/json'.
      value:
        errors:
        - id: adb01824-252f-4420-b0c6
          code: Unsupported Media Type
          links:
            about: /factset-global-prices/v1/{endpoint}
          title: text/html media type is not supported. Supported media types are application/json.
    badRequestReadTimeout:
      summary: Bad Request - Read Timeout
      description: This error may be returned if it takes more than 29 seconds to hear back from the data fetch service.
      value:
        status: Bad Request
        timestamp: '2019-11-04 16:18:38.949'
        path: /factset-prices/v1/{endpoint}
        message: The request took too long. Try again with a smaller request.
        subErrors: null
    badRequestFutureDate:
      summary: Bad Request - Future Date
      description: This error message occurs when a future date is requested in the startDate and endDate parameters. Please revise your request to include dates as of today's current date or any prior historical date.
      value:
        status: Bad Request
        timestamp: '2020-06-12 15:52:48.091'
        path: /factset-prices/v1/{endpoint}
        message: The use of future dates is not applicable in this endpoint. Please revise your request to include dates up to today's current date.
        subErrors: null
    sogeneralException:
      summary: Internal Server Error - General Exception
      description: This is the most general error that can be returned to by the service. Please `Report Issue` to FactSet.
      value:
        errors:
        - id: adb01824-252f-4420-b0c6
          code: Internal Server Error
          links:
            about: /factset-global-prices/v1/{endpoint}
          title: Unexpected error
    forbidden:
      summary: Forbidden
      description: The USERNAME-SERIAL attempted to request the endpoint is not authorized to access. The request was a legal request, but the server is refusing to respond. Please reach out to FactSet Account Team for assistance with authorization.
      value:
        status: Forbidden
        timestamp: '2020-06-12 16:08:51.731'
        path: /factset-prices/v1/{endpoint}
        message: USERNAME-SERIAL does not have permission to use /factset-prices/v1/{endpoint}
        subErrors: null
    unauthenticated:
      summary: User Authentication Failed
      description: This occurs when a user is not properly authenticated or recognized by the service. Please double check the USERNAME-SERIAL and API-Key used to request and ensure you are within the IP range specified for the Key. Report Issue under 401 error for help with troubleshooting.
      value:
        status: User Authentication Failed
        timestamp: '2019-10-31 16:08:07.945'
        path: /factset-prices/v1/{endpoint}
        message: User Authentication Failed.
        subErrors: null
    sharesOutstanding:
      summary: Shares Outstanding Response of FactSet (FDS-US)
      value:
        data:
        - fsymId: C6J726-S
          date: '2023-08-10'
          documentId: '956881'
          requestId: C6J726-S
          reportDate: '2022-08-02'
          publicationDate: '2022-08-04'
          fiscalYear: 2022
          reportingPeriodDescription: 2nd Quarter
          reportingPeriod: 3
          description: Ordinary Shares
          adrRatio: 1
          adrFsymId: V9GGRZ-S
          adrDescription: American Despository Shares
          totalOutstanding: 980.22284
          adrTotalOutstanding: 225.30467
    sobadRequestInvalidParameters:
      summary: Bad Request - Invalid Parameters
      description: This error message occurs when a request parameter is used in which is not recognized by the service. Please revise your request to include only the parameters listed in the specification. Typical causes are spelling mistakes and use of improper casing.
      value:
        errors:
        - id: adb01824-252f-4420-b0c6
          code: Bad Request
          links:
            about: /factset-global-prices/v1/{endpoint}
          title: 'Invalid Parameter (s): fakeParameterName1 fakeParameterName2. Please modify your request to use parameters outlined in the specification for this endpoint.'
    badRequestMalformedJSON:
      summary: Bad Request - Malformed JSON Request
      description: This error may be returned when the request body is specified as JSON, but is not in proper JSON format.
      value:
        status: Bad Request
        timestamp: '2019-11-05 09:48:29.18'
        path: /factset-prices/v1/{endpoint}
        message: Malformed JSON Request
        subErrors: null
    sounauthenticated:
      summary: User Authentication Failed
      description: This occurs when a user is not properly authenticated or recognized by the service. Please double check the USERNAME-SERIAL and API-Key used to request and ensure you are within the IP range specified for the Key. Report Issue under 401 error for help with troubleshooting.
      value:
        errors:
        - id: adb01824-252f-4420-b0c6
          code: User Authentication Failed
          links:
            about: /factset-global-prices/v1/{endpoint}
          title: User Authentication Failed.
    badRequestRequiredParameter:
      summary: Bad Request - Required Parameter Missing
      description: This error message occurs when the request does not include the required parameters. Required parameters are indicated with a red asterisks symbol in the specification file.
      value:
        status: Bad Request
        timestamp: '2020-06-12 15:48:42.016'
        path: /factset-prices/v1/{endpoint}
        message: The parameter 'ids' is required and may not be empty.
        subErrors: null
    soforbidden:
      summary: Forbidden
      description: The USERNAME-SERIAL attempted to request the endpoint is not authorized to access. The request was a legal request, but the server is refusing to respond. Please reach out to FactSet Account Team for assistance with authorization.
      value:
        errors:
        - id: adb01824-252f-4420-b0c6
          code: Forbidden
          links:
            about: /factset-global-prices/v1/{endpoint}
          title: User is not authorized for the id requested, please reach out to FactSet for support
  parameters:
    calendar_2:
      name: calendar
      in: query
      schema:
        type: string
        enum:
        - FIVEDAY
        - SEVENDAY
        - LOCAL
        default: FIVEDAY
      description: Calendar of data returned. SEVENDAY includes weekends. LOCAL calendar will default to the securities' trading calendar which excludes date records for respective holiday periods.
      example: FIVEDAY
    idsMax1000:
      name: ids
      in: query
      schema:
        type: array
        items:
          type: string
        minItems: 1
        maxItems: 1000
      required: true
      explode: false
      description: The requested list of security identifiers. Accepted ID types include Market Tickers, SEDOL, ISINs, CUSIPs, or FactSet Permanent Ids. <p>***ids limit** =  1000 per request*</p> *<p>Make note, GET Method URL request lines are also limited to a total length of 8192 bytes (8KB). In cases where the service allows for thousands of ids, which may lead to exceeding this request line limit of 8KB, its advised for any requests with large request lines to be requested through the respective "POST" method.</p>*
      examples:
        oneEquityId:
          summary: One Equity Market Identifier
          value:
          - AAPL-USA
        multipleEquityIds:
          summary: Multiple Equity Market Identifiers
          value:
          - FDS-US
          - AAPL-US
          - MSFT-US
    frequency:
      name: frequency
      in: query
      schema:
        type: string
        enum:
        - D
        - AD
        - W
        - M
        - AM
        - AQ
        - CQ
        - ASA
        - CSA
        - AY
        - CY
        default: D
      description: "Controls the display frequency of the data returned.\n  * **D** = Daily\n  * **AD** = Actual Daily\n  * **W** = Weekly, based on the last day of the week of the start date.\n  * **M** = Monthly, based on the last trading day of the month.\n  * **AM** = Monthly, based on the start date (e.g., if the start date is June 16, data is displayed for June 16, May 16, April 16 etc.).\n  * **AQ** =  Actual Quarterly\n  * **CQ** = Quarterly based on the last trading day of the calendar quarter (March, June, September, or December).\n  * **ASA** = Actual Semi-annual\n  * **CSA** = Calendar Semi-annual\n  * **AY** = Actual Annual, based on the start date.\n  * **CY** = Calendar Annual, based on the last trading day of the calendar year.\n  \n"
    endDate_2:
      name: endDate
      in: query
      required: false
      schema:
        type: string
      description: 'The end date requested for a given date range in **YYYY-MM-DD** format. If left blank, the API will default to previous close. Future dates (T+1) are not accepted in this endpoint.

        '
      example: '2019-12-31'
    startDate:
      name: startDate
      in: query
      required: false
      schema:
        type: string
      description: 'The start date requested for a given date range in **YYYY-MM-DD** format. If left blank, the API will default to previous close. Future dates (T+1) are not accepted in this endpoint.

        '
      example: '2019-01-01'
    endDate:
      name: endDate
      in: query
      required: false
      schema:
        type: string
      description: 'The end date requested for a given date range in **YYYY-MM-DD** format. The input end date must be after the input start date. Future dates (T+1) are not accepted in this endpoint.

        '
      example: '2021-08-27'
    frequency_2:
      name: frequency
      in: query
      schema:
        type: string
        enum:
        - D
        - W
        - M
        - AM
        - CQ
        - FQ
        - AY
        - CY
        - FY
        default: D
      description: "Controls the display frequency of the data returned.\n  * **D** = Daily\n  * **W** = Weekly, based on the last day of the week of the start date.\n  * **M** = Monthly, based on the last trading day of the month.\n  * **AM** = Monthly, based on the start date (e.g., if the start date is June 16, data is displayed for June 16, May 16, April 16 etc.).\n  * **CQ** = Quarterly based on the last trading day of the calendar quarter (March, June, September, or December).\n  * **FQ** = Fiscal Quarter of the company.\n  * **AY** = Actual Annual, based on the start date.\n  * **CY** = Calendar Annual, based on the last trading day of the calendar year.\n  * **FY** = Fiscal Annual, based on the last trading day of the company's fiscal year.\n"
      examples:
        Daily:
          summary: D - Daily frequency display based on trading calendar
          value: D
        Weekly:
          summary: W - Weekly - based on the last day of the week of the start date
          value: W
        Monthly:
          summary: M - Monthly - based on the last trading day of the month.
          value: M
        Actual Month:
          summary: AM - Actual Month - based on the startDate (e.g., if the start date is June 16, data is displayed for June 16, May 16, April 16 etc.).
          value: AM
        Calendar Quarterly:
          summary: CQ - Calendar Quarterly - based on the last day of the week of the startDate
          value: CQ
        Fiscal Quarterly:
          summary: FQ - Fiscal Quarter of the company
          value: FQ
        Actual Annual:
          summary: AY - Actual Annual - based on the startDate
          value: AY
        Calendar Annual:
          summary: CY - Calendar Annual - based on the last trading day of the calendar year.
          value: CY
        Fiscal Annual:
          summary: FY - Fiscal Annual - based on the last trading day of the company's fiscal year.
          value: FY
    startDateSS:
      name: startDate
      in: query
      required: false
      schema:
        type: string
        default: '2021-08-27T00:00:00.000Z'
      description: 'The start date requested for a given date range in **YYYY-MM-DD** format. The input start date must be before the input end date. Future dates (T+1) are not accepted in this endpoint.

        '
      example: '2021-08-27'
    calendar:
      name: calendar
      in: query
      schema:
        type: string
        enum:
        - FIVEDAY
        - SEVENDAY
        - US
        default: FIVEDAY
      description: Calendar of data returned. SEVENDAY includes weekends.
      example: FIVEDAY
    idsBatchMax1000:
      name: ids
      in: query
      schema:
        type: array
        items:
          type: string
      required: true
      explode: false
      description: The requested list of security identifiers. Accepted ID types include Market Tickers, SEDOL, ISINs, CUSIPs, or FactSet Permanent Ids.<p>***ids limit** =  500 per non-batch request / 1000 per batch request for a single day and 50 per multi-day request*</p> *<p>Make note, GET Method URL request lines are also limited to a total length of 8192 bytes (8KB). In cases where the service allows for thousands of ids, which may lead to exceeding this request line limit of 8KB, it's advised for any requests with large request lines to be requested through the respective "POST" method.</p>*
      examples:
        oneEquityId:
          summary: One Equity Market Identifier
          value:
          - AAPL-USA
        multipleEquityIds:
          summary: Multiple Equity Market Identifiers
          value:
          - FDS-US
          - AAPL-US
          - MSFT-US
    splitAdjust:
      name: splitAdjust
      in: query
      description: Code to control split adjustments for shares count.
      required: false
      schema:
        type: string
        enum:
        - SPLIT
        - UNSPLIT
        default: SPLIT
    batch:
      name: batch
      in: query
      description: 'Enables the ability to asynchronously "batch" the request, supporting a long-running request for up to 20 minutes. Upon requesting batch=Y, the service will respond with an HTTP Status Code of 202.

        Once a batch request is submitted, use batch status to see if the job has been completed. Once completed, retrieve the results of the request via batch-result. When using Batch, ids limit is increased to 10000 ids per request, though limits on query string via GET method still apply. It''s advised to submit large lists of ids via POST method.

        <B>Please note that the number of unique currencies present in the requested ids is limited to 50 per request.</B>

        '
      schema:
        type: string
        enum:
        - Y
        - N
        default: N
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
externalDocs:
  url: https://developer.factset.com/api-catalog/analytics-datastore-api
  description: API Documentation
