openapi: 3.2.0
info:
  title: Factset Global Filings Count API
  version: 0.0.0
  contact:
    name: FactSet Research Systems
    email: api@factset.com
    url: https://developer.factset.com/contact
  license:
    name: Apache License, Version 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  description: 'The Filings API provides a comprehensive set of functionalities for searching and retrieving filing documents from various sources.


    This API is designed to expose document search and document retrieval functionality. A document search will allow a request to query FactSet’s document databases based on certain search criteria specified in the request.


    In addition, a document count request will provide information on the number of stories available for a particular security.


    Helper endpoint will provide dynamic information on the parameters of a document request. .'
servers:
- url: https://api.factset.com/global-filings/v0
security:
- FactSetApiKey: []
- FactSetOAuth2: []
tags:
- name: Count
paths:
  /count:
    get:
      tags:
      - Count
      operationId: getCount
      summary: Factset Returns the count of filings for specified source
      description: Returns the count of filings documents along with other response fields.
      parameters:
      - $ref: '#/components/parameters/report2'
      - $ref: '#/components/parameters/startDate'
      - $ref: '#/components/parameters/endDate'
      - $ref: '#/components/parameters/ids'
      - $ref: '#/components/parameters/sources'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseCount'
              examples:
                default200ResponseExample:
                  $ref: '#/components/examples/sampleResponseCount'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/ErrorDetails'
        '401':
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and have successfully generated an API KEY for the IP range you are connecting from. For more help, select the Report Issue in the top right corner of this Developer Portal specification card and choose Connectivity 401 or 403 Responses.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                default401ResponseExample:
                  $ref: '#/components/examples/AuthErrorDetails'
        '403':
          description: The USERNAME-SERIAL attempted to request the endpoint is not authorized to access. The request was a legal request, but the server is refusing to respond. Please reach out to FactSet Account Team for assistance with authorization.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                default403ResponseExample:
                  $ref: '#/components/examples/AuthorizationErrorDetails'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                default500ResponseExample:
                  $ref: '#/components/examples/ServerErrorDetails'
components:
  examples:
    ErrorDetails:
      summary: Sample Error Response
      value:
        errors:
        - code: Bad Request
          title: parameterError:['_paginationLimit'] is not a valid parameter(s).
          id: 7af3d86ca5954503b9244f2620fcf5eb
    sampleResponseCount:
      summary: Sample Response
      value:
        data:
        - id: IBM-US
          source: FFR
          count: '8000'
        - id: IBM-US
          source: EDG
          count: '10000'
    ServerErrorDetails:
      summary: Sample Error Response
      value:
        errors:
        - code: Internal Server Error
          title: An unexpected error happened.
          id: 7af3d86ca5954503b9244f2620fcf5eb
    AuthorizationErrorDetails:
      summary: Sample Error Response
      value:
        errors:
        - code: Forbidden
          title: USERNAME-SERIAL does not have permission.
          id: 7af3d86ca5954503b9244f2620fcf5eb
    AuthErrorDetails:
      summary: Sample Error Response
      value:
        errors:
        - code: Not Authenticated
          title: Unauthenticated USERNAME-SERIAL.
          id: fd5a51ff-02cf-48ec-b9b1-913d64863b0
  parameters:
    report2:
      schema:
        type: string
        enum:
        - count
      in: query
      name: report
      required: true
      description: retrives count of source.
    ids:
      schema:
        type: array
        items:
          type: string
      in: query
      name: ids
      examples:
        oneId:
          summary: One identifier
          value:
          - MODN-US
        multipleIds:
          summary: Multiple Identifiers
          value:
          - MODN-US
          - OSIS-US
      description: Requested symbols or securities.  This is a comma-separated list with a maximum limit of 1000.  Each symbol can be a FactSet exchange symbol, CUSIP, or SEDOL.
      explode: false
    startDate:
      schema:
        type: string
        default: '0'
      in: query
      name: startDate
      example: '20231222'
      description: Start Date. Format is YYYYMMDD or relative +/- days (0,-1,etc).
    endDate:
      schema:
        type: string
        default: '0'
      in: query
      name: endDate
      example: '20231223'
      description: End Date. Format is YYYYMMDD or relative +/- days (0,-1,etc).
    sources:
      schema:
        type: array
        items:
          type: string
      in: query
      name: sources
      required: true
      explode: false
      examples:
        oneSource:
          summary: One Source
          value:
          - EDG
        multipleSources:
          summary: Multiple Sources
          value:
          - EDG
          - FFR
      description: "Code for document source to include.This is a comma-separated list. Use the ```/helper``` endpoint to get the list of available sources.\n "
  schemas:
    responseCountObject:
      type: object
      properties:
        id:
          type: string
          description: id
          example: IBM-US
        source:
          type: string
          description: source
          example: FFR
        count:
          type: string
          description: source value
          example: '8000'
    ErrorExample:
      type: object
      description: Error Example Object
      properties:
        code:
          description: Specifies the error code.
          type: string
        title:
          description: ' Specifies the error message.'
          type: string
        id:
          description: Specifies the id.
          type: string
    ErrorResponse:
      type: object
      description: Error Response Object
      properties:
        errors:
          type: array
          description: Errors Array Object
          items:
            $ref: '#/components/schemas/ErrorExample'
    responseCount:
      description: Filings Response Object
      type: object
      properties:
        data:
          type: array
          description: Data Array Object
          items:
            $ref: '#/components/schemas/responseCountObject'
  securitySchemes:
    FactSetOAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://auth.factset.com/as/token.oauth2
          scopes: {}
    FactSetApiKey:
      type: http
      scheme: basic
externalDocs:
  description: API Documentation
  url: https://developer.factset.com/api-catalog/global-filings-api
