openapi: 3.2.0
info:
  title: FactSet IRN Configuration Sentiments API
  description: 'Config API allows users to read and update configuration and settings of

    the Internal Research Notes.'
  version: '1'
servers:
- url: https://api.factset.com/research/irn
  description: Production Server
- url: https://api-sandbox.factset.com/research/irn
  description: Sandbox
security:
- basicScheme: []
tags:
- name: Sentiments
paths:
  /v1/sentiments:
    get:
      tags:
      - Sentiments
      summary: Factset Get All Sentiments
      operationId: GetSentiments
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SentimentConfigDto'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    SentimentConfigDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: abc123
        name:
          type:
          - string
          - 'null'
          example: Example Title
        code:
          type: integer
          format: int32
          example: 10
        color:
          type:
          - string
          - 'null'
          example: example_value
        isHidden:
          type: boolean
          example: true
      additionalProperties: false
  securitySchemes:
    basicScheme:
      type: http
      scheme: basic
