openapi: 3.0.3
info:
  title: Factset Analytics Datastore About Currency API
  description: Allow clients to fetch precalculated Analytics through predeterministic URLs.
  contact:
    name: FactSet Research Systems
    url: https://developer.factset.com/contact
    email: api@factset.com
  license:
    name: Apache License, Version 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  version: 1.0.0
servers:
- url: https://api.factset.com
  description: Production
- url: https://api-sandbox.factset.com
  description: Sandbox
security:
- basicAuth: []
tags:
- name: Currency
paths:
  /basic/valueUnit/currency/list:
    post:
      tags:
      - Currency
      operationId: post/basic/valueUnit/currency/list
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 1
      x-supportsPermissionDeniedResponse: false
      summary: Factset List of Currencies.
      description: List of currencies.
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostBasicValueUnitCurrencyListRequest'
        required: false
      responses:
        '200':
          $ref: '#/components/responses/PostBasicValueUnitCurrencyList200Response'
      parameters: []
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /basic/valueUnit/currency/fractional/get:
    get:
      tags:
      - Currency
      operationId: get/basic/valueUnit/currency/fractional/get
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Factset Details of a Fractional Currency.
      description: Details of a fractional currency.
      parameters:
      - name: id
        in: query
        schema:
          type: number
          format: id32
          x-positive: true
          description: Identifier of a fractional currency.
        required: true
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
            exclusiveMaximum: false
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      - name: _language
        in: query
        schema:
          type: string
          format: isoLanguage
          description: ISO 639-1 code of the language.
          maxLength: 2
          minLength: 2
          exclusiveMinimum: false
          exclusiveMaximum: false
      responses:
        '200':
          $ref: '#/components/responses/GetBasicValueUnitCurrencyFractionalGet200Response'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /basic/valueUnit/currency/fractional/list:
    get:
      tags:
      - Currency
      operationId: get/basic/valueUnit/currency/fractional/list
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 1
      x-supportsPermissionDeniedResponse: false
      summary: Factset List of Fractional Currencies.
      description: List of fractional currencies.
      responses:
        '200':
          $ref: '#/components/responses/GetBasicValueUnitCurrencyFractionalList200Response'
      parameters:
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
            exclusiveMaximum: false
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      - name: _language
        in: query
        schema:
          type: string
          format: isoLanguage
          description: ISO 639-1 code of the language.
          maxLength: 2
          minLength: 2
          exclusiveMinimum: false
          exclusiveMaximum: false
      - description: Sortable attributes. The sort order is ascending unless it is prefixed with a minus sign, in which case it is descending. A list of at most 1 (possibly prefixed) attribute name(s) is allowed.
        schema:
          type: array
          items:
            type: string
            enum:
            - name
            - -name
          maxItems: 1
          uniqueItems: true
          default:
          - name
        style: form
        explode: false
        name: _sort
        in: query
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /basic/valueUnit/currency/main/list:
    post:
      tags:
      - Currency
      operationId: post/basic/valueUnit/currency/main/list
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 1
      x-supportsPermissionDeniedResponse: false
      summary: Factset List of Main Currencies.
      description: List of main currencies.
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostBasicValueUnitCurrencyMainListRequest'
        required: false
      responses:
        '200':
          $ref: '#/components/responses/PostBasicValueUnitCurrencyMainList200Response'
      parameters: []
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  responses:
    PostBasicValueUnitCurrencyMainList200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: array
                description: List of main currencies.
                nullable: false
                items:
                  type: object
                  nullable: false
                  x-property-sort:
                  - id
                  - code
                  - isoCode
                  - name
                  - active
                  properties:
                    id:
                      nullable: true
                      type: number
                      format: id32
                      x-positive: true
                      description: Identifier of a currency.
                    code:
                      nullable: true
                      type: string
                      description: 'Code of the currency: If assigned, a code according to ISO 4217, otherwise a local code.'
                    isoCode:
                      nullable: true
                      type: string
                      description: ISO 4217 code of the currency.
                    name:
                      nullable: true
                      x-sortable: true
                      x-default-sort-attribute: true
                      x-default-sort-direction: 1
                      type: string
                      format: localizedString
                      description: Name of the currency.
                    active:
                      nullable: true
                      type: boolean
                      description: Indicates whether the currency is active.
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                x-property-sort:
                - status
            x-property-sort:
            - data
            - meta
    GetBasicValueUnitCurrencyFractionalGet200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: object
                properties:
                  code:
                    nullable: true
                    type: string
                    description: Code of the fractional currency such as GBp (for British pence), USc (for U.S. cents), EUc for (Euro cent).
                  name:
                    nullable: true
                    type: string
                    format: localizedString
                    description: Name of the fractional currency.
                  factor:
                    nullable: true
                    type: number
                    format: real
                    description: Conversion factor between the fractional and its main currency. For example, the value 100 indicates that 100 US cents are equivalent to one US dollar.
                  mainCurrency:
                    nullable: false
                    type: object
                    x-property-sort:
                    - id
                    - code
                    - isoCode
                    - name
                    - active
                    description: Main currency corresponding to the fractional currency.
                    properties:
                      id:
                        nullable: true
                        type: number
                        format: id32
                        x-positive: true
                        description: Identifier of the main currency.
                      code:
                        nullable: true
                        type: string
                        description: 'Code of the currency: If assigned, a code according to ISO 4217, otherwise a local code.'
                      isoCode:
                        nullable: true
                        type: string
                        description: ISO 4217 code of the currency.
                      name:
                        nullable: true
                        type: string
                        format: localizedString
                        description: Name of the main currency.
                      active:
                        nullable: true
                        type: boolean
                        description: Indicates whether the currency is active.
                description: Details of a fractional currency.
                nullable: false
                x-property-sort:
                - code
                - name
                - factor
                - mainCurrency
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                x-property-sort:
                - status
            x-property-sort:
            - data
            - meta
    GetBasicValueUnitCurrencyFractionalList200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: array
                description: List of fractional currencies.
                nullable: false
                items:
                  type: object
                  nullable: false
                  x-property-sort:
                  - id
                  - code
                  - name
                  - factor
                  - mainCurrency
                  properties:
                    id:
                      nullable: true
                      type: number
                      format: id32
                      x-positive: true
                      description: Identifier of the fractional currency, which is a value unit.
                    code:
                      nullable: true
                      type: string
                      description: Code of the fractional currency such as GBp (for British pence), USc (for U.S. cents), EUc for (Euro cent).
                    name:
                      nullable: true
                      x-sortable: true
                      x-default-sort-attribute: true
                      x-default-sort-direction: 1
                      type: string
                      format: localizedString
                      description: Name of the fractional currency.
                    factor:
                      nullable: true
                      type: number
                      format: real
                      description: Conversion factor between the fractional and its main currency. For example, the value 100 indicates that 100 US cents are equivalent to one US dollar.
                    mainCurrency:
                      nullable: false
                      type: object
                      x-property-sort:
                      - id
                      - code
                      - isoCode
                      - name
                      - active
                      description: Main currency corresponding to the fractional currency.
                      properties:
                        id:
                          nullable: true
                          type: number
                          format: id32
                          x-positive: true
                          description: Identifier of the main currency of the fractional currency.
                        code:
                          nullable: true
                          type: string
                          description: 'Code of the currency: If assigned, a code according to ISO 4217, otherwise a local code.'
                        isoCode:
                          nullable: true
                          type: string
                          description: ISO 4217 code of the currency.
                        name:
                          nullable: true
                          type: string
                          format: localizedString
                          description: Name of the main currency.
                        active:
                          nullable: true
                          type: boolean
                          description: Indicates whether the currency is active.
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                x-property-sort:
                - status
            x-property-sort:
            - data
            - meta
    PostBasicValueUnitCurrencyList200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: array
                description: List of currencies.
                nullable: false
                items:
                  type: object
                  nullable: false
                  x-property-sort:
                  - id
                  - code
                  - isoCode
                  - name
                  - type
                  - active
                  properties:
                    id:
                      nullable: true
                      type: number
                      format: id32
                      x-positive: true
                      description: Identifier of a currency.
                    code:
                      nullable: true
                      type: string
                      description: 'Code of the currency: If assigned, a code according to ISO 4217, otherwise a local code, for a main currency; a code such as GBp (for British pence) for a fractional currency.'
                    isoCode:
                      nullable: true
                      type: string
                      description: ISO 4217 code of the value unit. Empty if the ISO 4217 standard does not define a code for the currency.
                    name:
                      nullable: true
                      x-sortable: true
                      x-default-sort-attribute: true
                      x-default-sort-direction: 1
                      type: string
                      format: localizedString
                      description: Name of the currency.
                    type:
                      nullable: true
                      type: string
                      description: Type of the currency.
                      x-enum-description:
                      - Currency that is a main currency.
                      - Currency that is a fractional currency.
                      enum:
                      - main
                      - fractional
                    active:
                      nullable: true
                      type: boolean
                      description: Indicates whether the currency is active.
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                x-property-sort:
                - status
            x-property-sort:
            - data
            - meta
  schemas:
    PostBasicValueUnitCurrencyMainListRequest:
      x-property-sort:
      - data
      - meta
      description: Request Body
      type: object
      properties:
        data:
          type: object
          x-property-sort:
          - filter
          description: The data member contains the request's primary data.
          properties:
            filter:
              type: object
              x-property-sort:
              - status
              description: Criteria that filter the items in the response list; only items that match all of the criteria are returned.
              properties:
                status:
                  type: string
                  description: Filter for the status.
                  default: active
                  x-enum-description:
                  - Show all main currencies.
                  - Show only active main currencies.
                  - Show only inactive main currencies.
                  enum:
                  - all
                  - active
                  - inactive
          example: example_value
        meta:
          type: object
          description: The meta member contains the meta information of the request.
          properties:
            attributes:
              $ref: '#/components/schemas/AttributesMember'
            language:
              $ref: '#/components/schemas/LanguageMember'
            sort:
              description: Sortable attributes. The sort order is ascending unless it is prefixed with a minus sign, in which case it is descending. A list of at most 1 (possibly prefixed) attribute name(s) is allowed.
              type: array
              items:
                type: string
                enum:
                - name
                - -name
              maxItems: 1
              uniqueItems: true
              default:
              - name
          x-property-sort:
          - attributes
          - language
          - sort
          example: example_value
    AttributesMember:
      type: array
      description: Limit the attributes returned in the response to the specified set.
      items:
        type: string
        maxLength: 100
        exclusiveMaximum: false
      maxItems: 50
      uniqueItems: true
    PostBasicValueUnitCurrencyListRequest:
      x-property-sort:
      - data
      - meta
      description: Request Body
      type: object
      properties:
        data:
          type: object
          x-property-sort:
          - filter
          description: The data member contains the request's primary data.
          properties:
            filter:
              type: object
              x-property-sort:
              - status
              description: Criteria that filter the items in the response list; only items that match all of the criteria are returned.
              properties:
                status:
                  type: string
                  description: Filter for the status.
                  default: active
                  x-enum-description:
                  - Show all currencies.
                  - Show only active currencies.
                  - Show only inactive currencies.
                  enum:
                  - all
                  - active
                  - inactive
          example: example_value
        meta:
          type: object
          description: The meta member contains the meta information of the request.
          properties:
            attributes:
              $ref: '#/components/schemas/AttributesMember'
            language:
              $ref: '#/components/schemas/LanguageMember'
            sort:
              description: Sortable attributes. The sort order is ascending unless it is prefixed with a minus sign, in which case it is descending. A list of at most 1 (possibly prefixed) attribute name(s) is allowed.
              type: array
              items:
                type: string
                enum:
                - name
                - -name
              maxItems: 1
              uniqueItems: true
              default:
              - name
          x-property-sort:
          - attributes
          - language
          - sort
          example: example_value
    LanguageMember:
      type: string
      format: isoLanguage
      description: ISO 639-1 code of the language.
      maxLength: 2
      minLength: 2
      exclusiveMinimum: false
      exclusiveMaximum: false
    StatusObject:
      type: object
      properties:
        code:
          type: number
          format: int32
          description: The HTTP status code of the response, mirroring the code from the Status-Line of the HTTP response message (see [RFC2616] section 6.1).
          example: 42.5
      description: The status member contains the status code of the response.
      required:
      - code
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
externalDocs:
  url: https://developer.factset.com/api-catalog/analytics-datastore-api
  description: API Documentation
