openapi: 3.2.0
info:
  title: FactSet IRN Notes API
  description: 'Notes API allows users to extract, create, update and delete their notes

    in the Internal Research Notes application.'
  version: '1'
servers:
- url: https://api.factset.com/research/irn
  description: Production Server
- url: https://api-sandbox.factset.com/research/irn
  description: Sandbox
security:
- FactSetApiKey: []
- FactSetOAuth2: []
tags:
- name: Notes
paths:
  /v1/notes:
    get:
      tags:
      - Notes
      summary: Factset Get All the Notes in the Specified Date Range Filtered on the Given…
      operationId: GetNotes
      parameters:
      - name: start
        in: query
        description: StartDate
        schema:
          type: string
      - name: end
        in: query
        description: EndDate
        schema:
          type: string
      - name: identifiers
        in: query
        description: Set of identifiers to filter on
        schema:
          type: array
          items:
            type: string
      - name: authors
        in: query
        description: Set of authors to filter on
        schema:
          type: array
          items:
            type: string
            format: uuid
      - name: subjects
        in: query
        description: Set of subjects to filter on
        schema:
          type: array
          items:
            type: string
            format: uuid
      - name: recommendations
        in: query
        description: Set of recommendations to filter on
        schema:
          type: array
          items:
            type: string
            format: uuid
      - name: sentiments
        in: query
        description: Set of sentiments to filter on
        schema:
          type: array
          items:
            type: string
            format: uuid
      - name: limit
        in: query
        description: Limit on the number of notes retrieved
        schema:
          type: integer
          format: int32
      - name: offset
        in: query
        description: Fetch notes after the offset
        schema:
          type: integer
          format: int32
      - name: modifiedSince
        in: query
        description: Only return notes which have been modified or created since a particular time
        schema:
          type: string
      - name: states
        in: query
        description: Set of states to filter on
        schema:
          type: array
          items:
            type: string
      - name: filterOnRelatedSymbols
        in: query
        description: Include notes whose related symbols match the identifier filter
        schema:
          type: boolean
          default: false
      - name: includeRelatedEntities
        in: query
        description: When set to true fetches notes tagged with all the entities related to identifiers param
        schema:
          type: boolean
          default: false
      - name: X-IRN-Include-Deleted
        in: header
        description: ''
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/NoteSummaryDto'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      tags:
      - Notes
      summary: Factset Create a Note
      operationId: CreateNote
      parameters:
      - name: X-IRN-Contributor-Username
        in: header
        schema:
          maxLength: 30
          minLength: 0
          type: string
      - name: X-IRN-Contributor-Serial
        in: header
        schema:
          maxLength: 8
          minLength: 0
          type: string
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/CreateNoteDto'
          application/json:
            schema:
              $ref: '#/components/schemas/CreateNoteDto'
          text/json:
            schema:
              $ref: '#/components/schemas/CreateNoteDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/CreateNoteDto'
        required: true
      responses:
        '201':
          description: Success - Returns unique identifier of the note created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewItemDto'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v1/notes/{noteId}:
    get:
      tags:
      - Notes
      summary: Factset Get Details of a Note
      operationId: GetNote
      parameters:
      - name: noteId
        in: path
        description: Note Id
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoteDto'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      tags:
      - Notes
      summary: Factset Update a Note
      operationId: UpdateNote
      parameters:
      - name: noteId
        in: path
        description: Note Id
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        description: Note details to update
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/UpdateNoteDto'
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateNoteDto'
          text/json:
            schema:
              $ref: '#/components/schemas/UpdateNoteDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/UpdateNoteDto'
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      tags:
      - Notes
      summary: Factset Delete a Note
      operationId: DeleteNote
      parameters:
      - name: noteId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v1/notes/{noteId}/events:
    get:
      tags:
      - Notes
      summary: Factset Get All the Record Events That Belong to a Note
      operationId: GetEvents
      parameters:
      - name: noteId
        in: path
        description: Note Id
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RecordEventSummaryDto'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v1/notes/{noteId}/events/{recordEventId}:
    get:
      tags:
      - Notes
      summary: Factset Get Details of a Record Event of a Note
      operationId: GetRecordEvent
      parameters:
      - name: noteId
        in: path
        description: Note Id
        required: true
        schema:
          type: string
          format: uuid
      - name: recordEventId
        in: path
        description: Record Event Id
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoteEventDto'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    RecordChangeDto:
      type: object
      properties:
        field:
          type:
          - string
          - 'null'
          example: example_value
        operation:
          type:
          - string
          - 'null'
          example: example_value
        oldValue:
          type:
          - string
          - 'null'
          example: example_value
        newValue:
          type:
          - string
          - 'null'
          example: example_value
        oldList:
          type:
          - array
          - 'null'
          items:
            type: string
          example: []
        newList:
          type:
          - array
          - 'null'
          items:
            type: string
          example: []
      additionalProperties: false
    CustomFieldValueDto:
      type: object
      properties:
        code:
          type:
          - string
          - 'null'
          example: example_value
        value:
          type:
          - string
          - 'null'
          example: example_value
        options:
          type:
          - array
          - 'null'
          items:
            type: string
          example: []
        contactValues:
          type:
          - array
          - 'null'
          items:
            type: string
            format: uuid
          example: []
      additionalProperties: false
    UpdateNoteDto:
      type: object
      properties:
        author:
          $ref: '#/components/schemas/UserSerialDto'
        title:
          maxLength: 255
          minLength: 0
          type:
          - string
          - 'null'
          example: Example Title
        subjectId:
          type: string
          format: uuid
          example: '500123'
        noteDate:
          type:
          - string
          - 'null'
          example: example_value
        recommendationId:
          type:
          - string
          - 'null'
          format: uuid
          example: '500123'
        sentimentId:
          type:
          - string
          - 'null'
          format: uuid
          example: '500123'
        body:
          $ref: '#/components/schemas/CreateBodyDto'
        source:
          type:
          - string
          - 'null'
          example: example_value
        link:
          maxLength: 255
          minLength: 0
          type:
          - string
          - 'null'
          example: example_value
        relatedSymbols:
          maxItems: 100
          type:
          - array
          - 'null'
          items:
            type: string
          example: []
        relatedContacts:
          type:
          - array
          - 'null'
          items:
            type: string
            format: uuid
          example: []
        relatedRecords:
          $ref: '#/components/schemas/RelatedRecordsDto'
        customFieldValues:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CreateCustomFieldValueDto'
          example: []
        isPersonal:
          type:
          - boolean
          - 'null'
          example: true
        identifier:
          type:
          - string
          - 'null'
          example: example_value
      additionalProperties: false
    UserSerialDto:
      required:
      - serialNumber
      - username
      type: object
      properties:
        username:
          maxLength: 30
          minLength: 0
          type: string
          example: example_value
        serialNumber:
          maxLength: 8
          minLength: 0
          type: string
          example: example_value
      additionalProperties: false
    RecordEventSummaryDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: abc123
        type:
          type:
          - string
          - 'null'
          example: example_value
        createdAt:
          type:
          - string
          - 'null'
          example: example_value
      additionalProperties: false
    NoteEventDto:
      type: object
      properties:
        createdAt:
          type:
          - string
          - 'null'
          example: example_value
        type:
          type:
          - string
          - 'null'
          example: example_value
        user:
          type:
          - string
          - 'null'
          example: example_value
        comment:
          type:
          - string
          - 'null'
          example: example_value
        changeList:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/RecordChangeDto'
          example: []
      additionalProperties: false
    RelatedRecordsDto:
      type: object
      properties:
        noteIds:
          type:
          - array
          - 'null'
          items:
            type: string
            format: uuid
          example: []
        meetingIds:
          type:
          - array
          - 'null'
          items:
            type: string
            format: uuid
          example: []
      additionalProperties: false
    NoteDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: abc123
        date:
          type:
          - string
          - 'null'
          example: example_value
        createdAt:
          type:
          - string
          - 'null'
          example: example_value
        authorId:
          type: string
          format: uuid
          example: '500123'
        contributorId:
          type: string
          format: uuid
          example: '500123'
        title:
          type:
          - string
          - 'null'
          example: Example Title
        identifier:
          type:
          - string
          - 'null'
          example: example_value
        relatedSymbols:
          type:
          - array
          - 'null'
          items:
            type: string
          example: []
        subjectId:
          type: string
          format: uuid
          example: '500123'
        recommendationId:
          type:
          - string
          - 'null'
          format: uuid
          example: '500123'
        sentimentId:
          type:
          - string
          - 'null'
          format: uuid
          example: '500123'
        source:
          type:
          - string
          - 'null'
          example: example_value
        link:
          type:
          - string
          - 'null'
          example: example_value
        body:
          type:
          - string
          - 'null'
          example: example_value
        isPersonal:
          type: boolean
          example: true
        state:
          type:
          - string
          - 'null'
          example: example_value
        approvalStatus:
          type:
          - string
          - 'null'
          example: example_value
        averageRating:
          type:
          - integer
          - 'null'
          format: int32
          example: 10
        relatedRecords:
          $ref: '#/components/schemas/RelatedRecordsDto'
        relatedContacts:
          type:
          - array
          - 'null'
          items:
            type: string
            format: uuid
          example: []
        customFields:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CustomFieldValueDto'
          example: []
      additionalProperties: false
    CreateCustomFieldValueDto:
      required:
      - code
      type: object
      properties:
        code:
          type: string
          example: example_value
        integerValue:
          type:
          - integer
          - 'null'
          format: int32
          example: 10
        textValue:
          type:
          - string
          - 'null'
          example: example_value
        filePathValue:
          type:
          - string
          - 'null'
          example: example_value
        numericValue:
          type:
          - number
          - 'null'
          format: double
          example: 42.5
        dateValue:
          type:
          - string
          - 'null'
          example: example_value
        extendedTextValue:
          type:
          - string
          - 'null'
          example: example_value
        contactLookupValues:
          type:
          - array
          - 'null'
          items:
            type: string
            format: uuid
          example: []
        optionValue:
          type:
          - string
          - 'null'
          example: example_value
        optionValues:
          type:
          - array
          - 'null'
          items:
            type: string
          example: []
      additionalProperties: false
      description: 'Set a value or values for a custom field identified by the field ''Code''. Only one of the fields (IntegerValue / TextValue / FilePathValue etc) will be used,

        depending on the data type of the custom field corresponding to the ''Code'' provided'
    CreateBodyDto:
      type: object
      properties:
        content:
          type:
          - string
          - 'null'
          example: example_value
      additionalProperties: false
    ProblemDetails:
      type: object
      properties:
        type:
          type:
          - string
          - 'null'
          example: example_value
        title:
          type:
          - string
          - 'null'
          example: Example Title
        status:
          type:
          - integer
          - 'null'
          format: int32
          example: 10
        detail:
          type:
          - string
          - 'null'
          example: example_value
        instance:
          type:
          - string
          - 'null'
          example: example_value
      additionalProperties: {}
    NoteSummaryDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: abc123
        date:
          type:
          - string
          - 'null'
          example: example_value
        createdAt:
          type:
          - string
          - 'null'
          example: example_value
        authorId:
          type: string
          format: uuid
          example: '500123'
        contributorId:
          type: string
          format: uuid
          example: '500123'
        title:
          type:
          - string
          - 'null'
          example: Example Title
        identifier:
          type:
          - string
          - 'null'
          example: example_value
        subjectId:
          type: string
          format: uuid
          example: '500123'
        isPersonal:
          type: boolean
          example: true
        state:
          type:
          - string
          - 'null'
          example: example_value
        approvalStatus:
          type:
          - string
          - 'null'
          example: example_value
        attachmentIds:
          type:
          - array
          - 'null'
          items:
            type: string
            format: uuid
          example: []
        relatedSymbols:
          type:
          - array
          - 'null'
          items:
            type: string
          example: []
        recommendationId:
          type: string
          format: uuid
          example: '500123'
        sentimentId:
          type: string
          format: uuid
          example: '500123'
        customFields:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CustomFieldValueDto'
          example: []
      additionalProperties: false
    NewItemDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: abc123
      additionalProperties: false
    CreateNoteDto:
      required:
      - author
      - date
      type: object
      properties:
        author:
          $ref: '#/components/schemas/UserSerialDto'
        title:
          maxLength: 255
          minLength: 0
          type:
          - string
          - 'null'
          example: Example Title
        identifier:
          type:
          - string
          - 'null'
          example: example_value
        date:
          type: string
          example: example_value
        subjectId:
          type:
          - string
          - 'null'
          format: uuid
          example: '500123'
        recommendationId:
          type:
          - string
          - 'null'
          format: uuid
          example: '500123'
        sentimentId:
          type:
          - string
          - 'null'
          format: uuid
          example: '500123'
        body:
          $ref: '#/components/schemas/CreateBodyDto'
        source:
          type:
          - string
          - 'null'
          example: example_value
        link:
          maxLength: 255
          minLength: 0
          type:
          - string
          - 'null'
          example: example_value
        relatedSymbols:
          maxItems: 100
          type:
          - array
          - 'null'
          items:
            type: string
          example: []
        relatedContacts:
          type:
          - array
          - 'null'
          items:
            type: string
            format: uuid
          example: []
        relatedRecords:
          $ref: '#/components/schemas/RelatedRecordsDto'
        customFieldValues:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CreateCustomFieldValueDto'
          example: []
        isPersonal:
          type: boolean
          default: false
          example: true
      additionalProperties: false
  securitySchemes:
    FactSetApiKey:
      type: http
      scheme: basic
    FactSetOAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://auth.factset.com/as/token.oauth2
          scopes: {}
externalDocs:
  description: API Documentation
  url: https://developer.factset.com/api-catalog/irn-notes-api#apiDocumentation
