openapi: 3.0.3
info:
  title: Factset Analytics Datastore About Text API
  description: Allow clients to fetch precalculated Analytics through predeterministic URLs.
  contact:
    name: FactSet Research Systems
    url: https://developer.factset.com/contact
    email: api@factset.com
  license:
    name: Apache License, Version 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  version: 1.0.0
servers:
- url: https://api.factset.com
  description: Production
- url: https://api-sandbox.factset.com
  description: Sandbox
security:
- basicAuth: []
tags:
- name: Text
paths:
  /news/article/searchByText:
    post:
      tags:
      - Text
      operationId: post/news/article/searchByText
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: true
      x-supportsPush: true
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Factset Search for News Articles Using a Fulltext Search.
      description: Search for news articles using a fulltext search. All specified criteria need to be fulfilled for an article to match. Each criterion is handled according to its selectionType; "include" requires the criterion to evaluate to true, "exclude" requires the criterion to evaluate to false. A criterion is fulfilled when at least one of its values is found.
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostNewsArticleSearchByTextRequest'
        required: false
      responses:
        '200':
          $ref: '#/components/responses/PostNewsArticleSearchByText200Response'
      parameters: []
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /basic/backgroundText/type/list:
    post:
      tags:
      - Text
      operationId: post/basic/backgroundText/type/list
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Factset List of Background Text Types.
      description: List of background text types.
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostBasicBackgroundTextTypeListRequest'
        required: false
      responses:
        '200':
          $ref: '#/components/responses/PostBasicBackgroundTextTypeList200Response'
      parameters: []
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /instrument/backgroundText/list:
    get:
      tags:
      - Text
      operationId: get/instrument/backgroundText/list
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Factset Background Texts of an Instrument.
      description: Background texts of an instrument.
      parameters:
      - name: identifier
        in: query
        schema:
          type: string
          pattern: ^[B-DF-HJ-NP-TV-Z0-9]{6}-[SLR]$|^[A-Z0-9.#&*+]{1,47}-[A-Z0-9]{2,4}$|^[0-9]{3,20}$|^[B-DF-HJ-NP-TV-Z0-9]{6}[0-9]$|^[A-Z]{2}[A-Z0-9]{9}[0-9]$|^[A-Z1-9][A-Z0-9]{5}$|^[0-9]{1,9}$|^[A-Z0-9]{8}[0-9]$
          maxLength: 50
          exclusiveMaximum: false
          minLength: 3
          exclusiveMinimum: false
          description: Identifier to resolve.
        required: true
      - name: identifierType
        in: query
        schema:
          type: string
          description: Type of the identifier.
          x-enum-description:
          - MDG identifier of an instrument.
          - MDG identifier of a listing.
          - FactSet Permanent Identifier on security level.
          - FactSet Permanent Identifier on listing level.
          - Regional FactSet Permanent Identifier.
          - FactSet market symbol of a listing.
          - Regional FactSet ticker symbol.
          - SEDOL or IDII of a listing.
          - ISIN of an instrument.
          - WKN of an instrument.
          - Valor number of an instrument.
          - CUSIP or CINS identifier of an instrument
          enum:
          - idInstrument
          - idNotation
          - fdsPermanentIdentifierSecurity
          - fdsPermanentIdentifierListing
          - fdsPermanentIdentifierRegional
          - tickerExchange
          - tickerRegion
          - sedol
          - isin
          - wkn
          - valor
          - cusip
        required: true
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
            exclusiveMaximum: false
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      - name: _language
        in: query
        schema:
          type: string
          format: isoLanguage
          description: ISO 639-1 code of the language.
          maxLength: 2
          minLength: 2
          exclusiveMinimum: false
          exclusiveMaximum: false
      responses:
        '200':
          $ref: '#/components/responses/GetInstrumentBackgroundTextList200Response'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /instrument/backgroundText/type/list:
    post:
      tags:
      - Text
      operationId: post/instrument/backgroundText/type/list
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Factset List of Background Text Types for Instruments.
      description: List of background text types for instruments.
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostInstrumentBackgroundTextTypeListRequest'
        required: false
      responses:
        '200':
          $ref: '#/components/responses/PostInstrumentBackgroundTextTypeList200Response'
      parameters: []
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /instrument/legalEntity/backgroundText/list:
    get:
      tags:
      - Text
      operationId: get/instrument/legalEntity/backgroundText/list
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Factset Role-specific Background Texts of Legal Entities Related to an Instrument.
      description: Role-specific background texts of legal entities related to an instrument.
      parameters:
      - name: identifier
        in: query
        schema:
          type: string
          pattern: ^[B-DF-HJ-NP-TV-Z0-9]{6}-[SLR]$|^[A-Z0-9.#&*+]{1,47}-[A-Z0-9]{2,4}$|^[0-9]{3,20}$|^[B-DF-HJ-NP-TV-Z0-9]{6}[0-9]$|^[A-Z]{2}[A-Z0-9]{9}[0-9]$|^[A-Z1-9][A-Z0-9]{5}$|^[0-9]{1,9}$|^[A-Z0-9]{8}[0-9]$
          maxLength: 50
          exclusiveMaximum: false
          minLength: 3
          exclusiveMinimum: false
          description: Identifier to resolve.
        required: true
      - name: identifierType
        in: query
        schema:
          type: string
          description: Type of the identifier.
          x-enum-description:
          - MDG identifier of an instrument.
          - MDG identifier of a listing.
          - FactSet Permanent Identifier on security level.
          - FactSet Permanent Identifier on listing level.
          - Regional FactSet Permanent Identifier.
          - FactSet market symbol of a listing.
          - Regional FactSet ticker symbol.
          - SEDOL or IDII of a listing.
          - ISIN of an instrument.
          - WKN of an instrument.
          - Valor number of an instrument.
          - CUSIP or CINS identifier of an instrument
          enum:
          - idInstrument
          - idNotation
          - fdsPermanentIdentifierSecurity
          - fdsPermanentIdentifierListing
          - fdsPermanentIdentifierRegional
          - tickerExchange
          - tickerRegion
          - sedol
          - isin
          - wkn
          - valor
          - cusip
        required: true
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
            exclusiveMaximum: false
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      - name: _language
        in: query
        schema:
          type: string
          format: isoLanguage
          description: ISO 639-1 code of the language.
          maxLength: 2
          minLength: 2
          exclusiveMinimum: false
          exclusiveMaximum: false
      responses:
        '200':
          $ref: '#/components/responses/GetInstrumentLegalEntityBackgroundTextList200Response'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /notation/searchByText:
    post:
      tags:
      - Text
      operationId: post/notation/searchByText
      x-supportsOffsetBasedPaging: true
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 6
      x-supportsPermissionDeniedResponse: false
      summary: Factset Text-based Search for Notations.
      description: "Text-based search for notations in selected identifier and name attributes according to a tolerant full-text match algorithm. The results satisfy all selected filters; sorting by various attributes is possible. If more than one notation of an instrument matches, only the notation with the best market priority (according to the parameter `market.priority`) or, in the absence of market priorities, only the notation with the highest trading volume, averaged over one month, is considered.     \n All identifiers used as parameters must be valid and entitled."
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostNotationSearchByTextRequest'
        required: true
      responses:
        '200':
          $ref: '#/components/responses/PostNotationSearchByText200Response'
      parameters: []
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    PartialOutputObject:
      type: object
      properties:
        isPartial:
          type: boolean
          description: Flag indicating that the response is a possibly incomplete array or an object containing a possibly incomplete array, due to hitting a processing time limit. If `true`, some matching results might be missing from the array, or elements for matching results might be incorrectly included (for example, when priority sorting would have removed the element). Depending on the use case, such a response may be unsuitable.
          example: true
      description: Object denoting that the endpoint response is possibly incomplete.
      required:
      - isPartial
      x-property-sort:
      - isPartial
    PostNotationSearchByTextRequest:
      x-property-sort:
      - data
      - meta
      description: Request Body
      required:
      - data
      type: object
      properties:
        data:
          type: object
          x-property-sort:
          - text
          - validation
          - assetClass
          - instrumentCategory
          - market
          description: The data member contains the request's primary data.
          properties:
            text:
              description: Text-related parameters.
              type: object
              x-property-sort:
              - attributes
              - value
              - minimumMatchScore
              properties:
                attributes:
                  description: List of attributes to be searched in. The value `allEntitled` cannot appear with any other value.
                  type: array
                  nullable: false
                  items:
                    type: string
                    x-enum-description:
                    - All entitled attributes are searched in.
                    - International Securities Identification Number of the instrument.
                    - The WKN (Wertpapierkennnummer, German for Securities Identification Number) of the instrument. The WKN is a 6-character code of digits and upper-case letters that uniquely identifies an instrument.
                    - 'The Valor number (German: Valorennummer) of the instrument. The Valor number is an integer number that uniquely identifies an instrument.'
                    - The SEDOL or IDII for the notation; see entity class "SEDOL or IDII" for details.
                    - The CUSIP (Committee on Uniform Security Identification Procedures) or CINS (CUSIP International Numbering System) identifier of the instrument. These numbers are 9-character codes of digits and upper-case letters that uniquely identify an instrument.
                    - The symbol of the notation. It is a market-specific code to identify the notation. Which characters can be part of a symbol depends on the market. If a market does not define a proprietary symbol, but uses a different identifier (for example, the ISIN or the WKN) to identify instruments, no symbol will be set for the notations of that market.
                    - Symbol of an option or a future, as normalized by FactSet.
                    - Long name of the instrument.
                    - Short name of the instrument.
                    enum:
                    - allEntitled
                    - isin
                    - wkn
                    - valor
                    - sedol
                    - cusip
                    - symbol
                    - normalizedSymbol
                    - longName
                    - shortName
                  uniqueItems: true
                  maxItems: 8
                  default:
                  - allEntitled
                value:
                  type: string
                  minLength: 2
                  exclusiveMinimum: false
                  maxLength: 50
                  exclusiveMaximum: false
                  pattern: ^[ -+--/0-:=?@\p{L}]*$
                  description: Full-text search string. It may be enclosed in double quotes ("). No escaping is provided, therefore it is impossible to specify a search string containing double quotes. Relevance of word starts is indicated by a phrase starting with a space character, such as " daimler". If only two characters are submitted, the search is executed as an exact search.
                minimumMatchScore:
                  type: number
                  format: real
                  minimum: 0.1
                  exclusiveMinimum: false
                  maximum: 1
                  exclusiveMaximum: false
                  description: "Minimum match score for the text string. The match score has a value between 0 and 1 (inclusive), where a higher value indicates a better match than a lower one.     \nExamples for the two most relevant thresholds:      \n0.25: Exact substring match after case-folding and modifier elimination - \"Mnchner Rck\" is a match for the search string \"Munch\" but not for \"Muench\".      \n 0.50: Exact substring match - \"Mnchner Rck\" is a match for the search string \"Mnch\" but not for \"Munch\" or \"mnch\"."
                  default: 0.25
              required:
              - value
            validation:
              description: Validation parameters.
              type: object
              x-property-sort:
              - onlyActive
              - prices
              - valueUnit
              - market
              - instrumentSelectionList
              - notationSelectionList
              properties:
                onlyActive:
                  description: If `true`, only active notations will be returned. The term "active" reflects the fact that notations and related data is not being deleted immediately after becoming irrelevant (e.g. because the source does not provide a price anymore), but remains in general retrievable for up to 6 months.
                  type: boolean
                  default: true
                prices:
                  description: Price-related parameters.
                  type: object
                  x-property-sort:
                  - quality
                  - latest
                  - previous
                  properties:
                    quality:
                      type: string
                      description: Quality of the price.
                      default: EOD
                      x-enum-description:
                      - 'Delayed: intraday prices with an exchange-imposed delay of usually 15 to 30 minutes.'
                      - 'End-of-day: prices updated once per day after the close of trading, possibly with an exchange-imposed delay of several hours or days.'
                      enum:
                      - DLY
                      - EOD
                    latest:
                      description: Parameters related to the presence and age of the most recent trade price.
                      type: object
                      x-property-sort:
                      - availableOnly
                      - minimumDate
                      properties:
                        availableOnly:
                          description: If `true`, only notations for which a trade price (even an outdated one) is available will be returned.
                          type: boolean
                        minimumDate:
                          description: Earliest admissible date of the most recent trade price.
                          type: string
                          format: date
                    previous:
                      description: Parameters related to the presence and age of a trade price from a preceding trading day.
                      type: object
                      x-property-sort:
                      - availableOnly
                      - minimumDate
                      properties:
                        availableOnly:
                          description: If `true`, only notations for which a trade price from a preceding trading day is available will be returned.
                          type: boolean
                        minimumDate:
                          description: Earliest admissible date of the trade price from a preceding trading day.
                          type: string
                          format: date
                valueUnit:
                  description: Value unit-related parameters. See endpoint `/basic/valueUnit/list` for valid values.
                  type: object
                  x-property-sort:
                  - restrict
                  - exclude
                  x-atMostOne: true
                  properties:
                    restrict:
                      description: Specifies the value units a notation may have.
                      type: object
                      x-property-sort:
                      - ids
                      properties:
                        ids:
                          description: Set of value unit identifiers.
                          type: array
                          nullable: false
                          items:
                            type: number
                            format: id32
                            x-positive: true
                          uniqueItems: true
                          maxItems: 100
                    exclude:
                      description: Specifies the value units a notation may not have.
                      type: object
                      x-property-sort:
                      - ids
                      properties:
                        ids:
                          description: Set of value unit identifiers.
                          type: array
                          nullable: false
                          items:
                            type: number
                            format: id32
                            x-positive: true
                          uniqueItems: true
                          maxItems: 100
                market:
                  description: Market-related parameters. See endpoint `/basic/market/list` for valid values.
                  type: object
                  x-property-sort:
                  - selection
                  - priority
                  properties:
                    selection:
                      description: Market selection.
                      type: object
                      x-property-sort:
                      - restrict
                      - exclude
                      x-atMostOne: true
                      properties:
                        restrict:
                          description: Specifies the markets from which a notation may originate.
                          type: object
                          x-property-sort:
                          - ids
                          properties:
                            ids:
                              description: Set of market identifiers.
                              type: array
                              nullable: false
                              items:
                                type: number
                                format: id32
                                x-positive: true
                              uniqueItems: true
                              maxItems: 100
                        exclude:
                          description: Specifies the markets from which a notation may not originate.
                          type: object
                          x-property-sort:
                          - ids
                          properties:
                            ids:
                              description: Set of market identifiers.
                              type: array
                              nullable: false
                              items:
                                type: number
                                format: id32
                                x-positive: true
                              uniqueItems: true
                              maxItems: 100
                    priority:
                      description: "Sequence of markets specifying the priority order of the markets for the selection of one notation per instrument. If for a given instrument with two matching notations, A and B, the market of notation A precedes the market of notation B in this list or if the market of notation B is not in this list, A is selected. If neither of the markets is in this list, the notation with the highest trading volume, averaged over one month, is selected.        \n The list does not restrict the request to only those markets (use the parameter `market.selection` for that purpose)."
                      type: object
                      x-property-sort:
                      - ids
                      properties:
                        ids:
                          description: List of market identifiers.
                          type: array
                          nullable: false
                          items:
                            type: number
                            format: id32
                            x-positive: true
                          uniqueItems: true
                          maxItems: 100
                instrumentSelectionList:
                  description: Instrument-level restriction or exclusion.
                  type: object
                  x-property-sort:
                  - restrict
                  - exclude
                  x-atMostOne: true
                  properties:
                    restrict:
                      description: Restriction lists. If present, the result contains only notations of instruments that are a member of any of the provided lists.
                      type: object
                      x-property-sort:
                      - ids
                      properties:
                        ids:
                          description: Set of identifiers of restriction lists.
                          type: array
                          nullable: false
                          items:
                            type: number
                            format: id32
                            x-positive: true
                          uniqueItems: true
                          maxItems: 3
                    exclude:
                      description: Exclusion lists. If present, the result does not contain notations belonging to instruments that are a member of any of the provided lists.
                      type: object
                      x-property-sort:
                      - ids
                      properties:
                        ids:
                          description: Set of identifiers of exclusion lists.
                          type: array
                          nullable: false
                          items:
                            type: number
                            format: id32
                            x-positive: true
                          uniqueItems: true
                          maxItems: 3
                notationSelectionList:
                  description: Notation-level restriction or exclusion.
                  type: object
                  x-property-sort:
                  - restrict
                  - exclude
                  x-atMostOne: true
                  properties:
                    restrict:
                      description: Restriction lists.  If present, the result contains only notations that are a member of any of the provided lists.
                      type: object
                      x-property-sort:
                      - ids
                      properties:
                        ids:
                          description: Set of identifiers of restriction lists.
                          type: array
                          nullable: false
                          items:
                            type: number
                            format: id32
                            x-positive: true
                          uniqueItems: true
                          maxItems: 3
                    exclude:
                      description: Exclusion lists. If present, the result does not contain notations that are a member of any of the provided lists.
                      type: object
                      x-property-sort:
                      - ids
                      properties:
                        ids:
                          description: Set of identifiers of exclusion lists.
                          type: array
                          nullable: false
                          items:
                            type: number
                            format: id32
                            x-positive: true
                          uniqueItems: true
                          maxItems: 3
            assetClass:
              description: Asset class restriction.
              type: object
              x-property-sort:
              - ids
              properties:
                ids:
                  description: Set of asset class identifiers. See endpoint `/basic/assetClass/list` for valid values.
                  type: array
                  nullable: false
                  items:
                    type: number
                    format: id32
                    x-positive: true
                    exclusiveMaximum: false
                  uniqueItems: true
                  maxItems: 12
            instrumentCategory:
              description: Category selection. Identifiers from all entitled category systems can be used, see endpoint `/category/system/list` with `idType=1` for the list of category systems.
              type: object
              x-property-sort:
              - restrict
              - exclude
              x-atMostOne: true
              properties:
                restrict:
                  description: Specifies the instrument categories that the instruments of the notations may have
                  type: object
                  x-property-sort:
                  - ids
                  properties:
                    ids:
                      description: Set of category identifiers.
                      type: array
                      nullable: false
                      items:
                        type: number
                        format: id32
                        x-positive: true
                      maxItems: 20
                      uniqueItems: true
                exclude:
                  description: Specifies the instrument categories that the instruments of the notations may not have.
                  type: object
                  x-property-sort:
                  - ids
                  properties:
                    ids:
                      description: Set of category identifiers.
                      type: array
                      nullable: false
                      items:
                        type: number
                        format: id32
                        x-positive: true
                      maxItems: 20
                      uniqueItems: true
            market:
              description: Market-related notation sorting.
              type: object
              x-property-sort:
              - order
              properties:
                order:
                  description: "Sequence of market identifiers specifying the first-order sort criterion for the resulting notation list; if the market of notation A precedes the market of notation B in this list, A precedes B in the result. Notations whose market is not in this list sort last. The second-order sorting of the result is given by the attribute `meta.sort`.     \n The list does not restrict the request to only those markets (use the parameter `market.selection` for that purpose) and does not specify the priority order of the markets for selecting\none notation per instrument (use the parameter `market.priority` for that purpose)."
                  type: object
                  x-property-sort:
                  - ids
                  properties:
                    ids:
                      description: List of market identifiers. See endpoint `/basic/market/list` for valid values.
                      type: array
                      nullable: false
                      items:
                        type: number
                        format: id32
                        x-positive: true
                      uniqueItems: true
                      maxItems: 100
          required:
          - text
          example: example_value
        meta:
          type: object
          description: The meta member contains the meta information of the request.
          properties:
            attributes:
              $ref: '#/components/schemas/AttributesMember'
            language:
              $ref: '#/components/schemas/LanguageMember'
            sort:
              description: Sortable attributes. The sort order is ascending unless it is prefixed with a minus sign, in which case it is descending. A list of at most 6 (possibly prefixed) attribute name(s) is allowed.
              type: array
              items:
                type: string
                enum:
                - instrument.name.default.long
                - -instrument.name.default.long
                - instrument.name.default.short
                - -instrument.name.default.short
                - instrument.name.assetClassSpecific.long
                - -instrument.name.assetClassSpecific.long
                - instrument.name.assetClassSpecific.short
                - -instrument.name.assetClassSpecific.short
                - match.score
                - -match.score
                - averageIndicativeTradingValue30TD
                - -averageIndicativeTradingValue30TD
              maxItems: 6
              uniqueItems: true
              default:
              - -match.score
            pagination:
              type: object
              description: Pagination attributes for the offset-based pagination strategy.
              properties:
                offset:
                  type: number
                  format: int32
                  minimum: 0
                  exclusiveMinimum: false
                  default: 0
                  description: Non-negative number of entries to skip, or 0 (default).
                limit:
                  type: number
                  format: int32
                  minimum: 0
                  exclusiveMinimum: false
                  maximum: 500
                  exclusiveMaximum: false
                  default: 20
                  description: Non-negative maximum number of entries to return.
              x-property-sort:
              - offset
              - limit
          x-property-sort:
          - attributes
          - language
          - sort
          - pagination
          example: example_value
    AttributesMember:
      type: array
      description: Limit the attributes returned in the response to the specified set.
      items:
        type: string
        maxLength: 100
        exclusiveMaximum: false
      maxItems: 50
      uniqueItems: true
    PostBasicBackgroundTextTypeListRequest:
      x-property-sort:
      - data
      - meta
      description: Request Body
      type: object
      properties:
        data:
          type: object
          x-property-sort:
          - filter
          description: The data member contains the request's primary data.
          properties:
            filter:
              type: object
              x-property-sort:
              - ids
              description: Criteria that filter the items in the response list; only items that match all of the criteria are returned.
              properties:
                ids:
                  type: array
                  nullable: false
                  items:
                    type: number
                    format: id32
                    x-positive: true
                  minItems: 1
                  maxItems: 100
                  uniqueItems: true
                  description: List of background text type identifiers. Invalid identifiers result in an error.
          example: example_value
        meta:
          type: object
          description: The meta member contains the meta information of the request.
          properties:
            attributes:
              $ref: '#/components/schemas/AttributesMember'
          x-property-sort:
          - attributes
          example: example_value
    LanguageMember:
      type: string
      format: isoLanguage
      description: ISO 639-1 code of the language.
      maxLength: 2
      minLength: 2
      exclusiveMinimum: false
      exclusiveMaximum: false
    PostNewsArticleSearchByTextRequest:
      x-property-sort:
      - data
      - meta
      description: Request Body
      type: object
      properties:
        data:
          type: object
          x-property-sort:
          - text
          - criteria
          description: The data member contains the request's primary data.
          properties:
            text:
              description: Restrict the response of news articles to given include and exclude text criteria.
              type: object
              x-property-sort:
              - criteria
              properties:
                criteria:
                  description: ''
                  type: object
                  x-property-sort:
                  - selectionType
                  - phrases
                  - minimumMatchScore
                  - scope
                  properties:
                    selectionType:
                      description: Specify how the criteria should be applied to the search.
                      type: string
                      default: include
                      x-enum-description:
                      - Articles covering the given criteria are included in the result.
                      - Articles covering the given criteria are excluded from the result.
                      enum:
                      - include
                      - exclude
                    phrases:
                      description: Phrases to be used in the criteria.
                      type: array
                      nullable: false
                      items:
                        type: string
                        maxLength: 100
                        exclusiveMaximum: true
                      minItems: 1
                      maxItems: 16
                    minimumMatchScore:
                      type: number
                      format: real
                      default: 0.7
                      description: Minimum match score for words in the news article.
                    scope:
                      description: Restrict fulltext search to specific scope.
                      type: string
                      default: all
                      x-enum-description:
                      - Headline of the news article.
                      - Text body of the news article.
                      - Search in both headline and body.
                      enum:
                      - headline
                      - body
                      - all
            criteria:
              description: Restrict the response of news articles to given include and exclude criteria.
              type: array
              nullable: false
              items:
                type: object
                x-property-sort:
                - selectionType
                - range
                - indices
                - instruments
                - types
                - categories
                - regions
                - distributor
                - publisher
                - language
                properties:
                  selectionType:
                    description: Specify how the criteria should be applied to the search.
                    type: string
                    default: include
                    x-enum-description:
                    - Articles covering the given criteria are included in the result.
                    - Articles covering the given criteria are excluded from the result.
                    enum:
                    - include
                    - exclude
                  range:
                    type: object
                    format: timeRange
                    properties:
                      start:
                        type: string
                        format: datetime
                        description: The starting point of the time range (inclusive), or `null` to indicate that the time range extends indefinitely into the past.
                        x-allowNullValue: true
                      end:
                        type: string
                        format: datetime
                        description: The ending point of the time range (exclusive), or `null` to indicate that the time range extends indefinitely into the future.
                        x-allowNullValue: true
                    x-property-sort:
                    - start
                    - end
                    required:
                    - start
                    - end
                    description: Time range for matching the news article's date. At most one of the attributes `start` or `end` may be `null`.
                  indices:
                    type: object
                    x-property-sort:
                    - ids
                    description: Set of index notations that each represent an index. Articles that cover at least one instrument contained in one of the specified indices are found.
                    properties:
                      ids:
                        type: array
                        nullable: false
                        items:
                          type: string
                          format: id64
                          x-positive: true
                        minItems: 1
                        maxItems: 500
                        uniqueItems: true
                        description: Identifiers of the index notations.
                  instruments:
                    type: object
                    x-property-sort:
                    - ids
                    description: Set of stock instruments related to the article. The set is not updated in the course of corporate actions, e.g. when the related company obtains a new instrument after a spin-off.
                    properties:
                      ids:
                        type: array
                        nullable: false
                        items:
                          type: string
                          format: id64
                          x-positive: true
                        minItems: 1
                        maxItems: 1000
                        uniqueItems: true
                        description: Identifiers of the instruments.
                  types:
                    type: object
                    x-property-sort:
                    - ids
                    description: Types of the news article. A news article is found if one or more of the specified news article types match. See endpoint `/news/article/type/list` for valid values.
                    properties:
                      ids:
                        type: array
                        nullable: false
                        items:
                          type: number
                          format: id32
                          x-positive: true
                        minItems: 1
                        maxItems: 100
                        uniqueItems: true
                        description: Identifiers of the article types.
                  categories:
                    type: object
                    x-property-sort:
                    - ids
                    description: Categories of the news article. A news article is found if one or more of the specified categories match. Use a category system of type news with endpoint /category/listBySystem for valid values.
                    properties:
                      ids:
                        type: array
                        nullable: false
                        items:
                          type: number
                          format: id32
                          x-positive: true
                        minItems: 1
                        maxItems: 100
                        uniqueItems: true
                        description: Identifiers of the categories.
                  regions:
                    type: object
                    x-property-sort:
                    - ids
                    description: Regions of the content of the news article. A news article is found if one or more of the specified regions match. See endpoint `/basic/region/list` for valid values.
                    properties:
                      ids:
                        type: array
                        nullable: false
                        items:
                          type: number
                          format: id32
                          x-positive: true
                        minItems: 1
                        maxItems: 100
                        uniqueItems: true
                        description: Identifiers of the regions.
                  distributor:
                    type: object
                    x-property-sort:
                    - ids
                    description: Distributors of the news article. A news article is found if one of the specified distributors matches. See endpoint `/news/distributor/list` for valid values.
                    properties:
                      ids:
                        type: array
                        nullable: false
                        items:
                          type: number
                          format: id32
                          x-positive: true
                        minItems: 1
                        maxItems: 100
                        uniqueItems: true
                        description: Identifiers of the distributors.
                  publisher:
                    type: object
                    x-property-sort:
                    - ids
                    description: Publishers of the news article. A news article is found if one of the specified publishers matches. See endpoint `/news/publishers/list` for valid values.
                    properties:
                      ids:
                        type: array
                        nullable: false
                        items:
                          type: number
                          format: id32
                          x-positive: true
                        minItems: 1
                        maxItems: 100
                        uniqueItems: true
                        description: Identifiers of the publishers.
                  language:
                    type: object
                    x-property-sort:
                    - ids
                    description: Languages of the news article. A news article is found if one of the specified languages matches. See endpoint `/basic/language/list` for valid values.
                    properties:
                      ids:
                        type: array
                        nullable: false
                        items:
                          type: number
                          format: id32
                          x-positive: true
                        minItems: 1
                        maxItems: 100
                        uniqueItems: true
                        description: Identifiers of the languages.
              maxItems: 8
          example: example_value
        meta:
          type: object
          description: The meta member contains the meta information of the request.
          properties:
            attributes:
              $ref: '#/components/schemas/AttributesMember'
            subscription:
              type: object
              description: Object defining the subscription attributes.
              properties:
                minimumInterval:
                  type: number
                  format: int32
                  minimum: 0
                  exclusiveMinimum: false
                  maximum: 5000
                  exclusiveMaximum: false
                  default: 0
                  description: Non-negative number of milliseconds to throttle the update rate from 0ms to 5000ms. Set to 0 for sending updates immediately.
              x-property-sort:
              - minimumInterval
            pagination:
              type: object
              description: Pagination attributes for the cursor-based pagination strategy.
              properties:
                cursor:
                  type: string
                  maxLength: 50
                  exclusiveMaximum: false
                  description: Starting point as returned in the attributes `pagination.next` or `pagination.previous` by a prior invocation of this endpoint, or undefined (default).
                limit:
                  type: number
                  format: int32
                  minimum: 1
                  exclusiveMinimum: false
                  maximum: 500
                  exclusiveMaximum: false
                  default: 20
                  description: Non-negative maximum number of entries to return.
              x-property-sort:
              - cursor
              - limit
          x-property-sort:
          - attributes
          - subscription
          - pagination
          example: example_value
    StatusObject:
      type: object
      properties:
        code:
          type: number
          format: int32
          description: The HTTP status code of the response, mirroring the code from the Status-Line of the HTTP response message (see [RFC2616] section 6.1).
          example: 42.5
      description: The status member contains the status code of the response.
      required:
      - code
    CursorBasedPaginationOutputObjectWithoutTotal:
      type: object
      description: Pagination attributes for the cursor-based pagination strategy; a total element count is not supported.
      properties:
        next:
          type: string
          description: The next cursor position to use in the parameter `pagination.cursor` for an endpoint that supports cursor-based pagination, otherwise `null`.
          example: example_value
        previous:
          type: string
          description: The previous cursor position to use in the parameter `pagination.cursor` for an endpoint that supports cursor-based pagination. If a previous cursor position is not supported or available, `previous` is `null`.
          example: example_value
      required:
      - next
      - previous
      x-property-sort:
      - next
      - previous
    OffsetBasedPaginationOutputObject:
      type: object
      description: Pagination attributes for the offset-based pagination strategy.
      properties:
        total:
          type: number
          format: int32
          description: Total number of entries in the result set.
          example: 42.5
        isEstimatedTotal:
          type: boolean
          description: Flag indicating that the value of "total" is estimated.
          example: true
      required:
      - total
      - isEstimatedTotal
      x-property-sort:
      - total
      - isEstimatedTotal
    PostInstrumentBackgroundTextTypeListRequest:
      x-property-sort:
      - data
      - meta
      description: Request Body
      type: object
      properties:
        data:
          type: object
          x-property-sort:
          - filter
          description: The data member contains the request's primary data.
          properties:
            filter:
              type: object
              x-property-sort:
              - ids
              description: Criteria that filter the items in the response list; only items that match all of the criteria are returned.
              properties:
                ids:
                  type: array
                  nullable: false
                  items:
                    type: number
                    format: id32
                    x-positive: true
                  maxItems: 100
                  uniqueItems: true
                  description: Identifiers of background text types.
          example: example_value
        meta:
          type: object
          description: The meta member contains the meta information of the request.
          properties:
            attributes:
              $ref: '#/components/schemas/AttributesMember'
            language:
              $ref: '#/components/schemas/LanguageMember'
          x-property-sort:
          - attributes
          - language
          example: example_value
  responses:
    PostNotationSearchByText200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: array
                description: List of matching and selected notations.
                nullable: false
                items:
                  type: object
                  nullable: false
                  x-property-sort:
                  - id
                  - valueUnit
                  - market
                  - symbol
                  - nsin
                  - fsym
                  - instrument
                  - match
                  - averageIndicativeTradingValue30TD
                  properties:
                    id:
                      nullable: true
                      type: string
                      format: id64
                      x-positive: true
                      description: Identifier of a notation.
                    valueUnit:
                      nullable: false
                      description: Value unit of the notation such as a main or fractional currency for equities, a percentage for debt instruments, or points for indices. See endpoint `/basic/valueUnit/list` for possible values.
                      type: object
                      x-property-sort:
                      - id
                      - code
                      properties:
                        id:
                          nullable: true
                          type: number
                          format: id32
                          x-positive: true
                          description: Identifier of the value unit.
                        code:
                          nullable: true
                          type: string
                          description: 'Code of the value unit: If assigned, a code according to ISO 4217, otherwise a local code, for a main currency; a code such as GBp (for British pence) for a fractional currency; or a code such as PT (points) for non-currency value units.'
                    market:
                      nullable: false
                      description: Market of the notation. See endpoint `/basic/market/list` for possible values.
                      type: object
                      x-property-sort:
                      - id
                      - name
                      properties:
                        id:
                          nullable: true
                          type: number
                          format: id32
                          x-positive: true
                          description: Identifier of the market.
                        name:
                          nullable: true
                          type: string
                          format: localizedString
                          description: Name of the market.
                    symbol:
                      nullable: true
                      type: string
                      description: The symbol of the notation. It is a market-specific code to identify the notation. Which characters can be part of a symbol depends on the market. If a market does not define a proprietary symbol, but uses a different identifier (for example, the ISIN or the WKN) to identify instruments, no symbol will be set for the notations of that market.
                    nsin:
                      nullable: false
                      type: object
                      x-property-sort:
                      - sedol
                      description: NSIN data of the notation.
                      properties:
                        sedol:
                          nullable: true
                          type: string
                          description: The SEDOL or IDII for the notation.
                    fsym:
                      nullable: false
                      type: object
                      x-property-sort:
                      - listing
                      - regional
                      description: Notation-level FactSet identifiers of the financial instrument used primarily in FactSet products other than the MDG.
                      properties:
                        listing:
                          nullable: false
                          type: object
                          x-property-sort:
                          - permanentIdentifier
                          - tickerExchange
                          - isPrimary
                          description: Listing-level identifiers.
                          properties:
                            permanentIdentifier:
                              nullable: true
                              type: string
                              description: FactSet Permanent Identifier for a notation. The format is six alpha numeric characters, excluding vowels, with an L suffix (XXXXXX-L).
                            tickerExchange:
                              nullable: true
                              type: string
                              description: 'FactSet market symbol of the notation, usually consisting of the ticker (e.g. "DAI" for Daimler AG) and the three-character code of the exchange on which the listing is traded (example: DAI-ETR).'
                            isPrimary:
                              nullable: true
                              type: boolean
                              description: Indicates whether the notation is the primary notation among all notations within the same region (`true`) or not (`false`).
                        regional:
                          nullable: false
                          type: object
                          x-property-sort:
                          - permanentIdentifier
                          - tickerRegion
                          - isPrimary
                          description: Regional-level identifiers.
                          properties:
                            permanentIdentifier:
                              nullable: true
                              type: string
                              description: FactSet Permanent Identifier for a set of one or more notations of the same region with the same value unit. The format is six alpha numeric characters, excluding vowels, with an R suffix (XXXXXX-R).
                            tickerRegion:
                              nullable: true
                              type: string
                              description: 'FactSet regional symbol of the notation, consisting of the ticker and the two-character code of the country or region where the listing is traded (example: DAI-DE).'
                            isPrimary:
                              nullable: true
                              type: boolean
                              description: Indicates whether the notation is in the primary region of the security (`true`) or not (`false`).
                    instrument:
                      nullable: false
                      type: object
                      x-property-sort:
                      - id
                      - name
                      - isin
                      - nsin
                      - normalizedSymbol
                      - fsym
                      - assetClass
                      - instrumentCategory
                      description: Instrument data of the notation.
                      properties:
                        id:
                          nullable: true
                          type: string
                          format: id64
                          x-positive: true
                          description: Identifier of the instrument.
                        name:
                          nullable: false
                          description: Instrument names.
                          type: object
                          x-property-sort:
                          - default
                          - assetClassSpecific
                          properties:
                            default:
                              nullable: false
                              description: Default instrument names. Sorting does not require an asset class selection, see parameter `assetClass.ids`.
                              type: object
                              x-property-sort:
                              - long
                              - short
                              properties:
                                long:
                                  nullable: true
                                  x-sortable: true
                                  type: string
                                  format: localizedString
                                  description: Long name.
                                short:
                                  nullable: true
                                  x-sortable: true
                                  type: string
                                  format: localizedString
                                  description: Short name.
                            assetClassSpecific:
                              nullable: false
                              type: object
                              x-property-sort:
                              - long
                              - short
                              description: Asset class-specific instrument names. Sorting requires that a single asset-class has been selected, see parameter `assetClass.ids`.
                              properties:
                                long:
                                  nullable: true
                                  x-sortable: true
                                  type: string
                                  format: localizedString
                                  description: Long name.
                                short:
                                  nullable: true
                                  x-sortable: true
                                  type: string
                                  format: localizedString
                                  description: Short name.
                        isin:
                          nullable: true
                          type: string
                          description: International Securities Identification Number of the instrument.
                        nsin:
                          nullable: false
                          type: object
                          x-property-sort:
                          - wkn
                          - valor
                          - cusip
                          description: NSIN data of the instrument.
                          properties:
                            wkn:
                              nullable: true
                              type: string
                              description: The WKN (Wertpapierkennnummer, German for Securities Identification Number) of the instrument. The WKN is a 6-character code of digits and upper-case letters that uniquely identifies an instrument.
                            valor:
                              nullable: true
                              type: string
                              description: 'The Valor number (German: Valorennummer) of the instrument. The Valor number is an integer number that uniquely identifies an instrument.'
                            cusip:
                              nullable: true
                              type: string
                              description: The CUSIP (Committee on Uniform Security Identification Procedures) or CINS (CUSIP International Numbering System) identifier of the instrument. These numbers are 9-character codes of digits and upper-case letters that uniquely identify an instrument.
                        normalizedSymbol:
                          nullable: true
                          type: string
                          description: Symbol of an option or a future, as normalized by FactSet.
                        fsym:
                          nullable: false
                          type: object
                          x-property-sort:
                          - security
                          description: Instrument-level FactSet identifier of the financial instrument used primarily in FactSet products other than the MDG.
                          properties:
                            security:
                              nullable: false
                              type: object
                              x-property-sort:
                              - permanentIdentifier
                              description: Security-level identifier.
                              properties:
                                permanentIdentifier:
                                  nullable: true
                                  type: string
                                  description: FactSet Permanent Identifier for an instrument. The format is six alpha numeric characters, excluding vowels, with an S suffix (XXXXXX-S).
                        assetClass:
                          nullable: false
                          type: object
                          x-property-sort:
                          - id
                          - name
                          description: Asset class of the instrument. See endpoint `/basic/assetClass/list` for possible values.
                          properties:
                            id:
                              nullable: true
                              type: number
                              format: id32
                              x-positive: true
                              description: Identifier of the asset class.
                            name:
                              nullable: true
                              type: string
                              description: English name of the asset class.
                        instrumentCategory:
                          nullable: false
                          description: Set of categories assigned to the instrument. The set of returned categories is limited to the values provided in the request parameter `category.restrict.ids`. Empty, if `category.restrict.ids` has not been used.
                          type: array
                          items:
                            type: object
                            nullable: false
                            x-property-sort:
                            - id
                            - name
                            properties:
                              id:
                                nullable: true
                                type: number
                                format: id32
                                x-positive: true
                                description: Identifier of the category.
                              name:
                                nullable: true
                                type: string
                                format: localizedString
                                description: Name of the category.
                    match:
                      nullable: false
                      description: Details of the match.
                      type: object
                      x-property-sort:
                      - value
                      - score
                      properties:
                        value:
                          nullable: true
                          type: string
                          description: Value matched by the search string.
                        score:
                          nullable: true
                          description: Match score of the string used for the search.
                          x-sortable: true
                          x-default-sort-attribute: true
                          x-default-sort-direction: 2
                          type: number
                          format: real
                    averageIndicativeTradingValue30TD:
                      nullable: true
                      x-sortable: true
                      type: number
                      format: real
                      description: Indicative daily average trading value in US dollars for the past 30 trading days. The average cash flow is converted from the notation's trading currency to US dollars using a single exchange rate determined at the end of the period.
                x-partial: true
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                  pagination:
                    $ref: '#/components/schemas/OffsetBasedPaginationOutputObject'
                  partial:
                    $ref: '#/components/schemas/PartialOutputObject'
                x-property-sort:
                - status
                - pagination
                - partial
            x-property-sort:
            - data
            - meta
    GetInstrumentLegalEntityBackgroundTextList200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: object
                properties:
                  idInstrument:
                    nullable: true
                    type: string
                    format: id64
                    x-positive: true
                    description: MDG identifier of the instrument.
                  sourceIdentifier:
                    nullable: true
                    type: string
                    description: Identifier used in the request.
                  roles:
                    nullable: false
                    description: Role-specific background texts.
                    type: array
                    items:
                      type: object
                      nullable: false
                      x-property-sort:
                      - id
                      - name
                      - legalEntities
                      properties:
                        id:
                          nullable: true
                          type: number
                          format: id32
                          x-positive: true
                          description: Identifier of a role.
                        name:
                          nullable: true
                          type: string
                          format: localizedString
                          description: Name of the role.
                        legalEntities:
                          nullable: false
                          type: object
                          x-property-sort:
                          - id
                          - name
                          - backgroundTexts
                          description: Legal entities and their respective background texts with regard to the role.
                          properties:
                            id:
                              nullable: true
                              type: number
                              format: id32
                              x-positive: true
                              description: Identifier of a legal entity.
                            name:
                              nullable: true
                              type: string
                              format: localizedString
                              description: Name of the legal entity.
                            backgroundTexts:
                              nullable: false
                              type: object
                              x-property-sort:
                              - type
                              - body
                              description: List of background texts.
                              properties:
                                type:
                                  nullable: false
                                  type: object
                                  x-property-sort:
                                  - id
                                  - name
                                  description: Type of the background text.
                                  properties:
                                    id:
                                      nullable: true
                                      type: number
                                      format: id32
                                      x-positive: true
                                      description: Identifier of the type.
                                    name:
                                      nullable: true
                                      type: string
                                      format: localizedString
                                      description: Name of the type.
                                body:
                                  nullable: true
                                  type: string
                                  format: localizedString
                                  description: Body of the background text.
                description: Role-specific background texts of legal entities related to an instrument.
                nullable: false
                x-property-sort:
                - idInstrument
                - sourceIdentifier
                - roles
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                x-property-sort:
                - status
            x-property-sort:
            - data
            - meta
    PostBasicBackgroundTextTypeList200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: array
                nullable: false
                items:
                  type: object
                  nullable: false
                  x-property-sort:
                  - id
                  - name
                  - description
                  properties:
                    id:
                      nullable: true
                      type: number
                      format: id32
                      x-positive: true
                      description: Identifier of the type.
                    name:
                      nullable: true
                      type: string
                      description: English name of the type.
                    description:
                      nullable: true
                      type: string
                      description: English description of the type.
                description: List of background text types.
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                x-property-sort:
                - status
            x-property-sort:
            - data
            - meta
    PostInstrumentBackgroundTextTypeList200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: array
                description: List of background text types, sorted by increasing identifier value.
                nullable: false
                items:
                  type: object
                  nullable: false
                  x-property-sort:
                  - id
                  - name
                  - description
                  properties:
                    id:
                      nullable: true
                      type: number
                      format: id32
                      x-positive: true
                      description: Identifier of a type.
                    name:
                      nullable: true
                      type: string
                      format: localizedString
                      description: Name of the type.
                    description:
                      nullable: true
                      type: string
                      format: localizedString
                      description: Description of the type.
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                x-property-sort:
                - status
            x-property-sort:
            - data
            - meta
    GetInstrumentBackgroundTextList200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: object
                properties:
                  idInstrument:
                    nullable: true
                    type: string
                    format: id64
                    x-positive: true
                    description: MDG identifier of the instrument.
                  sourceIdentifier:
                    nullable: true
                    type: string
                    description: Identifier used in the request.
                  texts:
                    nullable: false
                    description: Background texts of the instrument.
                    type: array
                    items:
                      type: object
                      nullable: false
                      x-property-sort:
                      - type
                      - body
                      properties:
                        type:
                          nullable: false
                          type: object
                          x-property-sort:
                          - id
                          - name
                          description: Type of background text.
                          properties:
                            id:
                              nullable: true
                              type: number
                              format: id32
                              x-positive: true
                              description: Identifier of the type.
                            name:
                              nullable: true
                              type: string
                              format: localizedString
                              description: Name of the type.
                        body:
                          nullable: true
                          type: string
                          format: localizedString
                          description: Body of the background text.
                description: Background texts of the instrument, sorted by increasing type identifier value.
                nullable: false
                x-property-sort:
                - idInstrument
                - sourceIdentifier
                - texts
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                x-property-sort:
                - status
            x-property-sort:
            - data
            - meta
    PostNewsArticleSearchByText200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: array
                description: News articles that match the filter criteria ordered by descending article time.
                nullable: false
                items:
                  type: object
                  nullable: false
                  x-property-sort:
                  - code
                  - time
                  - headline
                  - summary
                  - types
                  - language
                  - distributor
                  - publisher
                  - categories
                  - chain
                  - instruments
                  properties:
                    code:
                      nullable: true
                      description: Identifier of the news article.
                      type: string
                    time:
                      nullable: true
                      x-pushable: true
                      description: Date and time of the news article.
                      type: string
                      format: datetime
                    headline:
                      nullable: true
                      x-pushable: true
                      description: Headline of the news article represented as text with HTML entity encoding but without HTML tags.
                      type: string
                    summary:
                      nullable: true
                      x-pushable: true
                      description: Textual summary of the body of the news article or `null` if no summary was provided by the news article distributor.
                      type: string
                    types:
                      nullable: false
                      description: Types of news article. See endpoint `/news/article/type/list` for possible values.
                      type: array
                      items:
                        type: object
                        nullable: false
                        x-property-sort:
                        - id
                        properties:
                          id:
                            nullable: true
                            description: Identifier of the type of news article.
                            type: number
                            format: id32
                            x-positive: true
                    language:
                      nullable: false
                      description: Language of the news article. See endpoint `/basic/language/list` for possible values.
                      type: object
                      x-property-sort:
                      - id
                      properties:
                        id:
                          nullable: true
                          description: Identifier of the language.
                          type: number
                          format: id32
                          x-positive: true
                    distributor:
                      nullable: false
                      description: Distributor of the news article. See endpoint `/news/distributor/list` for possible values.
                      type: object
                      x-property-sort:
                      - id
                      properties:
                        id:
                          nullable: true
                          description: Identifier of the distributor.
                          type: number
                          format: id32
                          x-positive: true
                    publisher:
                      nullable: false
                      description: Publisher of the news article. See endpoint `/news/publisher/list` for possible values.
                      type: object
                      x-property-sort:
                      - id
                      properties:
                        id:
                          nullable: true
                          description: Identifier of the publisher.
                          type: number
                          format: id32
                          x-positive: true
                    categories:
                      nullable: false
                      description: Categories related to the news article. See endpoint `/category/list` for possible values.
                      type: array
                      items:
                        type: object
                        nullable: false
                        x-property-sort:
                        - id
                        properties:
                          id:
                            nullable: true
                            x-pushable: true
                            description: Identifier of the category.
                            type: number
                            format: id32
                            x-positive: true
                    chain:
                      nullable: false
                      description: Article chain.
                      type: object
                      x-property-sort:
                      - id
                      properties:
                        id:
                          nullable: true
                          x-pushable: true
                          description: Identifier of the news article chain.
                          type: string
                          format: id64
                          x-positive: true
                    instruments:
                      nullable: false
                      description: Set of stock instruments related to the article. The set is not updated in the course of corporate actions, e.g. when the related company obtains a new instrument after a spin-off.
                      type: array
                      items:
                        type: object
                        nullable: false
                        x-property-sort:
                        - id
                        - fsym
                        properties:
                          id:
                            nullable: true
                            x-pushable: true
                            description: Identifier of the instrument.
                            type: string
                            format: id64
                            x-positive: true
                          fsym:
                            nullable: false
                            type: object
                            x-property-sort:
                            - security
                            description: Instrument-level FactSet identifier of the financial instrument used primarily in FactSet products other than the MDG.
                            properties:
                              security:
                                nullable: false
                                type: object
                                x-property-sort:
                                - permanentIdentifier
                                description: Security-level identifier.
                                properties:
                                  permanentIdentifier:
                                    nullable: true
                                    x-pushable: true
                                    description: FactSet Permanent Identifier for an instrument. The format is six alpha numeric characters, excluding vowels, with an S suffix (XXXXXX-S).
                                    type: string
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                  pagination:
                    $ref: '#/components/schemas/CursorBasedPaginationOutputObjectWithoutTotal'
                x-property-sort:
                - status
                - pagination
            x-property-sort:
            - data
            - meta
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
externalDocs:
  url: https://developer.factset.com/api-catalog/analytics-datastore-api
  description: API Documentation
