openapi: 3.2.0
info:
  title: FactSet IRN Configuration Authors API
  description: 'Config API allows users to read and update configuration and settings of

    the Internal Research Notes.'
  version: '1'
servers:
- url: https://api.factset.com/research/irn
  description: Production Server
- url: https://api-sandbox.factset.com/research/irn
  description: Sandbox
security:
- basicScheme: []
tags:
- name: Authors
paths:
  /v1/authors:
    get:
      tags:
      - Authors
      summary: Factset Get All Authors
      operationId: GetAuthors
      parameters:
      - name: X-IRN-Ignore-Permissions
        in: header
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AuthorConfigDto'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    TeamSummaryDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: abc123
        name:
          type:
          - string
          - 'null'
          example: Example Title
        code:
          type:
          - string
          - 'null'
          example: example_value
      additionalProperties: false
    AuthorConfigDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: abc123
        userName:
          type:
          - string
          - 'null'
          example: example_value
        serialNumber:
          type:
          - string
          - 'null'
          example: example_value
        firstName:
          type:
          - string
          - 'null'
          example: example_value
        lastName:
          type:
          - string
          - 'null'
          example: example_value
        emailAddress:
          type:
          - string
          - 'null'
          example: user@example.com
        isActive:
          type: boolean
          example: true
        team:
          $ref: '#/components/schemas/TeamSummaryDto'
      additionalProperties: false
    ProblemDetails:
      type: object
      properties:
        type:
          type:
          - string
          - 'null'
          example: example_value
        title:
          type:
          - string
          - 'null'
          example: Example Title
        status:
          type:
          - integer
          - 'null'
          format: int32
          example: 10
        detail:
          type:
          - string
          - 'null'
          example: example_value
        instance:
          type:
          - string
          - 'null'
          example: example_value
      additionalProperties: {}
  securitySchemes:
    basicScheme:
      type: http
      scheme: basic
