openapi: 3.2.0
info:
  title: FactSet Overview Report Builder Profile API
  description: Get relevant industry-specific data for high level analysis of public and private companies
  license:
    name: Apache License, Version 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  version: 1.2.0
  contact:
    name: FactSet Research Systems
    url: https://developer.factset.com/contact
    email: api@factset.com
servers:
- url: https://api.factset.com/report/overview/v1
security:
- FactSetApiKey: []
- FactSetOAuth2: []
tags:
- name: Profile
paths:
  /profile:
    get:
      tags:
      - Profile
      operationId: getProfileProfile
      summary: Factset Overview Profile
      parameters:
      - name: id
        in: query
        description: Company ticker
        required: true
        schema:
          type: string
          example: FDS
      responses:
        '200':
          $ref: '#/components/responses/200OKProfile'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '404':
          $ref: '#/components/responses/404NotFound'
        '429':
          $ref: '#/components/responses/429TooManyRequests'
        '500':
          $ref: '#/components/responses/500InternalServerError'
        '503':
          $ref: '#/components/responses/503ServiceUnavailable'
components:
  examples:
    parameterErrorActual:
      summary: actual periods parameter error
      value:
        errors:
        - id: 35a62bd5-c4aa-4e6b-9357-0f1b5688e2db
          code: parameterError
          title: 'Invalid parameter: ''actual''. Accepted values include nonzero integers'
    parameterErrorEstimate:
      summary: estimate periods parameter error
      value:
        errors:
        - id: 372a28d1-53ac-49cd-9be5-beb714cd62a8
          code: parameterError
          title: 'Invalid parameter: ''estimate''. Accepted values include nonzero integers'
    endpointNotFound:
      summary: endpoint not found
      value:
        errors:
        - id: 39314614-e607-465a-ba95-5bb79c362e23
          code: endpointNotFound
          title: The requested endpoint does not exist.
    unsupportedEntityParameterError:
      summary: unsupported entity type
      value:
        errors:
        - id: 39314614-e607-465a-ba95-5bb79c362e23
          code: parameterError
          title: Unsupported entity type
    default200ProfileResponse:
      summary: (sample response)
      value:
        data:
          business:
            description:
              value: FactSet Research Systems Inc. (the "Company" or "FactSet") is a global provider of integrated financial information, analytical applications and services for the investment and corporate communities. Since inception, global financial professionals have utilized the Company's content and multi-asset class solutions across each stage of the investment process. FactSet's goal is to provide a seamless user experience spanning idea generation, research, portfolio construction, trade execution, performance measurement, risk management, reporting, and portfolio analysis, in which the Company serves the front, middle, and back offices to drive productivity and improved performance. FactSet's flexible, open data and technology solutions can be implemented both across the investment portfolio lifecycle or as standalone components serving different workflows in the organization. FactSet is focused on growing the business throughout each of its three segments, the Americas, EMEA (formerly known as Europe), and Asia Pacific. The Company primarily delivers insight and information through the workflow solutions of Research, Analytics and Trading, Content and Technology Solutions ("CTS") and Wealth. FactSet currently serves financial professionals, which include portfolio managers, investment research professionals, investment bankers, risk and performance analysts, wealth advisors and corporate clients. FactSet provides both insights on global market trends and intelligence on companies and industries, as well as capabilities to monitor portfolio risk and performance and to execute trades. The Company combines dedicated client service with open and flexible technology offerings, such as a configurable desktop and mobile platform, comprehensive data feeds, an open marketplace and digital portals and application programming interfaces ("APIs"). The Company’s revenue is primarily derived from subscriptions to products and services such as workstations, analytics, enterprise data, and research management. FactSet Research Systems was founded by Howard E. Wille and Charles J. Snyder in September 1978 and is headquartered in Norwalk, CT.
            industry:
              value: Professional Content Providers
            name:
              value: FactSet Research Systems Inc.
            sector:
              value: Software and Consulting
            crunchbaseCategories:
              value:
              - Analytics
              - Finance
              - Financial Services
              - Software
              note: Displaying the Crunchbase logo is required for displaying any Crunchbase-sourced data
          size:
            revenue:
              label: Sales
              value: 1494.111
              meta:
                currencyCode: USD
                currencySymbol: $
                scale: 6
            employeeNumber:
              value: null
            ev:
              value: 12783.238274
              meta:
                currencyCode: USD
                currencySymbol: $
                scale: 6
            mcap:
              value: 12814.061274
              meta:
                currencyCode: USD
                currencySymbol: $
                scale: 6
          contact:
            address:
              value: 7th Floor 45 Glover Avenue
            city:
              value: Norwalk
            phone:
              value: +1.203.810.1000
            zip:
              value: 06850
            country:
              value: UNITED STATES
            email:
              value: rima.hyder@factset.com
            website:
              value: http://www.factset.com
            stateProvince:
              value: Connecticut
          stage:
            tradeDateRange:
              start:
                value: '19960628'
              end:
                value: '20201001'
            foundedYear:
              value: '1978'
            exchangePrimary:
              value: NYSE
            fundingDateRange:
              first:
                value: null
              last:
                value: null
            pevcBacking:
              value: null
          meta:
            sources:
              value:
              - FactSet Fundamentals
              - FactSet RBICS
              - Crunchbase
        meta:
          requestId: FDS
          fsymId: SQFMK3-R
    idRequiredParameterError:
      summary: generic parameter error (missing parameter)
      value:
        errors:
        - id: 39314614-e607-465a-ba95-5bb79c362e23
          code: parameterError
          title: 'Missing required parameter(s): ''id'''
    idInvalidParameterError:
      summary: generic parameter error (invalid parameter)
      value:
        errors:
        - id: 39314614-e607-465a-ba95-5bb79c362e23
          code: parameterError
          title: 'Invalid parameter(s): ''id'''
    parameterErrorView:
      summary: view parameter error
      value:
        errors:
        - id: 3838f112-ed5a-4d9d-b0c7-3594d8eab0ed
          code: parameterError
          title: 'Invalid parameter: ''view''. Accepted values include: ''FINANCIAL'', ''VALUATION'', ''CAPITALIZATION'', ''MARGINS'' or ''PERFORMANCE'''
    parameterErrorTopn:
      summary: topn parameter error
      value:
        errors:
        - id: 39314614-e607-465a-ba95-5bb79c362e23
          code: parameterError
          title: 'Invalid parameter: ''topn'''
  schemas:
    DataPointMeta:
      type: object
      anyOf:
      - properties:
          currencyCode:
            type: string
            description: Code for data currency
          currencySymbol:
            type: string
            description: Symbol for data currency
          scale:
            type: integer
            description: 'Integer power of 10 to which numbers have been scaled. For example: 6 implies millions.

              Default is 0.

              '
    ProfileData:
      type: object
      required:
      - business
      - contact
      - size
      - stage
      properties:
        business:
          type: object
          required:
          - description
          - industry
          - name
          - sector
          properties:
            description:
              type: object
              required:
              - value
              properties:
                value:
                  type:
                  - string
                  - 'null'
                note:
                  type: string
            industry:
              type: object
              required:
              - value
              properties:
                value:
                  type:
                  - string
                  - 'null'
            sector:
              type: object
              required:
              - value
              properties:
                value:
                  type:
                  - string
                  - 'null'
            name:
              type: object
              required:
              - value
              properties:
                value:
                  type:
                  - string
                  - 'null'
            dbaName:
              type: object
              required:
              - value
              properties:
                value:
                  type:
                  - string
                  - 'null'
            crunchbaseCategories:
              type: object
              required:
              - value
              - note
              properties:
                value:
                  type: array
                  items:
                    type: string
                note:
                  type: string
            crunchbaseUrl:
              type: object
              required:
              - value
              - note
              properties:
                value:
                  type: string
                note:
                  type: string
        contact:
          type: object
          required:
          - address
          - city
          - phone
          - stateProvince
          - zip
          - country
          - website
          - email
          properties:
            address:
              type: object
              required:
              - value
              properties:
                value:
                  type:
                  - string
                  - 'null'
            city:
              type: object
              required:
              - value
              properties:
                value:
                  type:
                  - string
                  - 'null'
            phone:
              type: object
              required:
              - value
              properties:
                value:
                  type:
                  - string
                  - 'null'
            stateProvince:
              type: object
              required:
              - value
              properties:
                value:
                  type:
                  - string
                  - 'null'
            zip:
              type: object
              required:
              - value
              properties:
                value:
                  type:
                  - string
                  - 'null'
            country:
              type: object
              required:
              - value
              properties:
                value:
                  type:
                  - string
                  - 'null'
            website:
              type: object
              required:
              - value
              properties:
                value:
                  type:
                  - string
                  - 'null'
            email:
              type: object
              required:
              - value
              properties:
                value:
                  type:
                  - string
                  - 'null'
            people:
              type: array
              items:
                type: object
                required:
                - title
                - name
                - id
                properties:
                  title:
                    type: object
                    required:
                    - value
                    properties:
                      value:
                        type:
                        - string
                        - 'null'
                  name:
                    type: object
                    required:
                    - value
                    properties:
                      value:
                        type:
                        - string
                        - 'null'
                  id:
                    type: object
                    required:
                    - value
                    properties:
                      value:
                        type:
                        - string
                        - 'null'
        size:
          type: object
          required:
          - employeeNumber
          - ev
          - mcap
          - revenue
          properties:
            employeeNumber:
              type: object
              required:
              - value
              properties:
                value:
                  type:
                  - number
                  - 'null'
            ev:
              type: object
              required:
              - value
              properties:
                value:
                  type:
                  - number
                  - 'null'
                meta:
                  $ref: '#/components/schemas/DataPointMeta'
            mcap:
              type: object
              required:
              - value
              properties:
                value:
                  type:
                  - number
                  - 'null'
                meta:
                  $ref: '#/components/schemas/DataPointMeta'
            revenue:
              type: object
              required:
              - value
              - label
              properties:
                label:
                  type:
                  - string
                  - 'null'
                value:
                  type:
                  - number
                  - 'null'
                meta:
                  $ref: '#/components/schemas/DataPointMeta'
        stage:
          type: object
          required:
          - exchangePrimary
          - tradeDateRange
          - foundedYear
          - pevcBacking
          properties:
            exchangePrimary:
              type: object
              required:
              - value
              properties:
                value:
                  type:
                  - string
                  - 'null'
            tradeDateRange:
              type: object
              properties:
                start:
                  type: object
                  required:
                  - value
                  properties:
                    value:
                      type:
                      - string
                      - 'null'
                end:
                  type: object
                  required:
                  - value
                  properties:
                    value:
                      type:
                      - string
                      - 'null'
            foundedYear:
              type: object
              required:
              - value
              properties:
                value:
                  type:
                  - string
                  - 'null'
            pevcBacking:
              type: object
              required:
              - value
              properties:
                value:
                  type:
                  - string
                  - 'null'
            pevcLatestPostMoneyValuation:
              type: object
              required:
              - value
              - asOfDate
              properties:
                value:
                  type:
                  - number
                  - 'null'
                asOfDate:
                  type:
                  - number
                  - 'null'
                meta:
                  $ref: '#/components/schemas/DataPointMeta'
            peActiveFirmNumber:
              type: object
              required:
              - value
              properties:
                value:
                  type: number
            peActiveInvestmentNumber:
              type: object
              required:
              - value
              properties:
                value:
                  type: number
            peLastInvestmentDate:
              type: object
              required:
              - value
              properties:
                value:
                  type:
                  - string
                  - 'null'
            peActiveFirms:
              type: array
              items:
                type: object
                required:
                - name
                properties:
                  name:
                    type: object
                    required:
                    - value
                    properties:
                      value:
                        type:
                        - string
                        - 'null'
            peActiveAcqDate:
              type: object
              required:
              - value
              properties:
                value:
                  type:
                  - string
                  - 'null'
            peActiveAcqAmt:
              type: object
              required:
              - value
              properties:
                value:
                  type:
                  - number
                  - 'null'
                meta:
                  $ref: '#/components/schemas/DataPointMeta'
            vcLastRound:
              type: object
              required:
              - value
              properties:
                value:
                  type:
                  - string
                  - 'null'
            vcLastRoundAmt:
              type: object
              required:
              - value
              properties:
                value:
                  type:
                  - number
                  - 'null'
                meta:
                  $ref: '#/components/schemas/DataPointMeta'
            vcLastRoundInvestorNumber:
              type: object
              required:
              - value
              properties:
                value:
                  type: number
            vcLastRoundDate:
              type: object
              required:
              - value
              properties:
                value:
                  type:
                  - string
                  - 'null'
            vcTotalEstRaised:
              type: object
              required:
              - value
              properties:
                value:
                  type:
                  - number
                  - 'null'
                meta:
                  $ref: '#/components/schemas/DataPointMeta'
            crunchbaseRank:
              type: object
              required:
              - value
              - note
              properties:
                value:
                  type: number
                note:
                  type: string
        meta:
          type: object
          properties:
            sources:
              type: object
              properties:
                value:
                  type: array
                  items:
                    type: string
              description: Where the data is sourced from
    ErrorObject:
      type: object
      properties:
        id:
          type: string
        code:
          type: string
        title:
          type: string
        links:
          type: object
          properties:
            about:
              type: string
        detail:
          type: string
        source:
          type: object
          properties:
            parameter:
              type: string
    Meta:
      type: object
      additionalProperties:
        type: string
    ProfileResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/ProfileData'
        meta:
          $ref: '#/components/schemas/Meta'
    ErrorResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/ErrorObject'
        meta:
          $ref: '#/components/schemas/Meta'
  responses:
    401Unauthorized:
      description: Missing or invalid authentication. Ensure you are logged in and have successfully generated an API KEY for the IP range you are connecting from. For further assistance, file an issue under "Connectivty - 401 or 403 Responses" using `Report Issue` at the top of this page, including the X-DataDirect-Request-Key from the header to assist in troubleshooting.
      headers:
        X-DataDirect-Request-Key:
          schema:
            type: string
          description: FactSet request ID
    404NotFound:
      description: Not found. For further assistance, file an issue under "Performance - 404 and 500 Responses" using `Report Issue` at the top of this page, including the X-DataDirect-Request-Key from the header to assist in troubleshooting.
      headers:
        X-DataDirect-Request-Key:
          schema:
            type: string
          description: FactSet request ID
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            endpointNotFound:
              $ref: '#/components/examples/endpointNotFound'
    500InternalServerError:
      description: Server error. For further assistance, file an issue under "Performance - 404 and 500 Responses" using `Report Issue` at the top of this page, including the X-DataDirect-Request-Key from the header to assist in troubleshooting.
      headers:
        X-DataDirect-Request-Key:
          schema:
            type: string
          description: FactSet request ID
    400BadRequest:
      description: Bad Request. For further assistance, file an issue under "Workflow & Throttling - 400 or 429 Response" using `Report Issue` at the top of this page, including the X-DataDirect-Request-Key from the header to assist in troubleshooting.
      headers:
        X-DataDirect-Request-Key:
          $ref: '#/components/headers/xDataDirectRequestKey'
        Api-Supported-Versions:
          $ref: '#/components/headers/apiSupportedVersions'
        Api-Version:
          $ref: '#/components/headers/apiVersion'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            idRequiredParameterError:
              $ref: '#/components/examples/idRequiredParameterError'
            idInvalidParameterError:
              $ref: '#/components/examples/idInvalidParameterError'
            unsupportedEntityParameterError:
              $ref: '#/components/examples/unsupportedEntityParameterError'
            parameterErrorActual:
              $ref: '#/components/examples/parameterErrorActual'
            parameterErrorEstimate:
              $ref: '#/components/examples/parameterErrorEstimate'
            parameterErrorTopn:
              $ref: '#/components/examples/parameterErrorTopn'
            parameterErrorView:
              $ref: '#/components/examples/parameterErrorView'
    503ServiceUnavailable:
      description: Service unavailable. Typically a timeout, or result of a rejected request to prevent service overload. For further assistance, file an issue under "Performance - 404 and 500 Responses" using `Report Issue` at the top of this page, including the X-DataDirect-Request-Key from the header to assist in troubleshooting.
      headers:
        X-DataDirect-Request-Key:
          schema:
            type: string
          description: FactSet request ID
    200OKProfile:
      description: Expected response; returns the JSON in a simple key-value format
      headers:
        X-DataDirect-Request-Key:
          $ref: '#/components/headers/xDataDirectRequestKey'
        Api-Supported-Versions:
          $ref: '#/components/headers/apiSupportedVersions'
        Api-Version:
          $ref: '#/components/headers/apiVersion'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ProfileResponse'
          examples:
            default200ResponseExample:
              $ref: '#/components/examples/default200ProfileResponse'
    429TooManyRequests:
      description: Too many requests - this API is rate-limited to 20 requests per second. For further assistance, file an issue under "Workflow & Throttling - 400 or 429 Response" using `Report Issue` at the top of this page, including the X-DataDirect-Request-Key from the header to assist in troubleshooting.
      headers:
        X-DataDirect-Request-Key:
          schema:
            type: string
          description: FactSet request ID
  headers:
    apiSupportedVersions:
      description: Supported API versions (semantic versioning)
      schema:
        type: string
    xDataDirectRequestKey:
      description: FactSet request ID
      schema:
        type: string
    apiVersion:
      description: API version (semantic versioning)
      schema:
        type: string
  securitySchemes:
    FactSetOAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://auth.factset.com/as/token.oauth2
          scopes: {}
    FactSetApiKey:
      type: http
      scheme: basic
externalDocs:
  description: API Documentation
  url: https://developer.factset.com/api-catalog/overview-report-builder-api
