openapi: 3.2.0
info:
  title: FactSet StreetAccount News Checks API
  description: '

    Accessing streetAccount news along with business logic contained in the

    workstation experience'
  version: 0.1.0
  contact:
    name: FactSet Research Systems
    url: https://developer.factset.com/contact
    email: api@factset.com
  license:
    name: Apache License, Version 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
servers:
- url: https://api.factset.com/research/news/v0
security:
- FactSetApiKey: []
- FactSetOAuth2: []
tags:
- name: Checks
paths:
  /streetaccount/historical/check-status:
    get:
      tags:
      - Checks
      summary: Factset Returns the Status and Percentage of Completion for the Requested Jobid
      description: Need to plug-in the jobID from /request-files into /check-status endpoint
      parameters:
      - name: jobID
        in: query
        description: jobID returned by the request-files endpoint to know the status and percentDone
        required: true
        schema:
          type: string
      - name: _paginationLimit
        in: query
        description: Specifies the maximum number of results to return per result
        required: false
        schema:
          type: integer
      - name: _paginationOffset
        in: query
        description: Specifies the starting point for pagination. This parameter is used to identify the   beginning of next set of results
        required: false
        schema:
          type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/checkstatusResponse'
              examples:
                default200ResponseExample:
                  $ref: '#/components/examples/200CheckStatusExample'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StreetAccountStatus'
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/StreetAccountExample'
        '401':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StreetAccountStatus'
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/StreetAccount401Example'
        '403':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StreetAccountStatus'
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/StreetAccount403Example'
        '500':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StreetAccountStatus'
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/StreetAccount500Example'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    checkstatus:
      type: object
      properties:
        product:
          description: Defines the name of the product
          type: string
          example: example_value
        jobID:
          description: Unique id to get the xml files for the requested date
          type: string
          example: '500123'
        status:
          description: Returns any of the 2 results Submitted ->Running->Completed and Failed
          type: string
          example: example_value
        percentDone:
          description: Returns how much percentage of  task is completed for the requested jobID
          type: integer
          example: 10
        startDate:
          description: The date from which the data is required in YYYY-MM-DDTHH:MM:SSZ format
          type: string
          format: date
          example: '2026-01-15'
        endDate:
          description: The date until which the data is fetched in YYYY-MM-DDTHH:MM:SSZ format
          type: string
          format: date
          example: '2026-01-15'
        part:
          description: Returns the part number of the jobID
          type: integer
          example: 10
    metaOne:
      title: Meta
      description: Array of metadata objects
      type: object
      properties:
        pagination:
          $ref: '#/components/schemas/paginationOne'
        partial:
          $ref: '#/components/schemas/isPartialOne'
    StreetAccountStatus:
      title: Response Status of SA
      type: object
      properties:
        id:
          type: string
          example: abc123
        error_message:
          description: Textual error message
          type: string
          example: example_value
    paginationOne:
      title: PaginationItems
      description: List of pagination objects
      type: object
      properties:
        total:
          description: Total number of files the API returns for a particular query
          type: integer
          example: 10
        isEstimatedTotal:
          description: Boolean value that represents whether the total count of files returned is exact or an estimate. This is defaulted to False as the API should always return the exact count
          type: boolean
          example: true
        limit:
          description: Number of results returned per page
          type: integer
          example: 10
        offset:
          description: The flag indicating the position in the results array if additional results are available beyond the default value or the value in paginationLimit parameter (if used). This value is passed in the _paginationOffset parameter to retreieve subsequent results
          type: integer
          example: 10
    checkstatusResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/checkstatus'
          example: []
        meta:
          $ref: '#/components/schemas/metaOne'
    isPartialOne:
      title: IsPartialItems
      description: If the value is true, it indicates additional results are available. False represents that this is the last set of results for this request.
      type: object
      properties:
        isPartial:
          type: boolean
          example: true
  examples:
    StreetAccount401Example:
      summary: Sample error Response
      value:
        id: 0ad3e09c-d8a2-4223-a1a3-0244d1247351
        error_message: USERNAME-SERIAL does not have permission
    StreetAccount403Example:
      summary: Sample error Response
      value:
        id: 0ad3e09c-d8a2-4223-a1a3-0244d1247351
        error_message: USERNAME-SERIAL does not have permission
    StreetAccount500Example:
      summary: Sample error Response
      value:
        id: 0ad3e09c-d8a2-4223-a1a3-0244d1247351
        error_message: An unexpected error happened
    200CheckStatusExample:
      summary: Sample Response
      value:
        data:
        - product: SA
          jobID: 9ffa3ffb-0ed3-40a0-a98f-8ed7da0a8ad5
          status: completed
          percentDone: 100
          startDate: '2021-11-21T00:00:00Z'
          endDate: '2021-11-28T00:00:00Z'
          part: 1
        meta:
          pagination:
            total: 105
            isEstimatedTotal: false
            limit: 200
            offset: 105
          partial:
            isPartial: false
    StreetAccountExample:
      summary: Sample error Response
      value:
        id: 0ad3e09c-d8a2-4223-a1a3-0244d1247351
        error_message: parameterError:Missing required parameter jobID
  securitySchemes:
    FactSetOAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://auth.factset.com/as/token.oauth2
          scopes: {}
    FactSetApiKey:
      type: http
      scheme: basic
externalDocs:
  description: API Documentation
  url: https://developer.factset.com/api-catalog/streetaccount-news-api
