openapi: 3.0.3
info:
  title: Factset Analytics Datastore About Custom Symbol Custom Fields API
  description: Allow clients to fetch precalculated Analytics through predeterministic URLs.
  contact:
    name: FactSet Research Systems
    url: https://developer.factset.com/contact
    email: api@factset.com
  license:
    name: Apache License, Version 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  version: 1.0.0
servers:
- url: https://api.factset.com
  description: Production
- url: https://api-sandbox.factset.com
  description: Sandbox
security:
- basicAuth: []
tags:
- name: Custom Symbol Custom Fields
paths:
  /v1/custom-symbol-custom-fields:
    get:
      tags:
      - Custom Symbol Custom Fields
      summary: Factset Get all the Custom symbol custom fields
      operationId: GetCustomSymbolCustomFields
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CustomSymbolCustomFieldConfigDto'
    post:
      tags:
      - Custom Symbol Custom Fields
      summary: Factset Create a Custom symbol custom field
      operationId: CreateCustomSymbolCustomField
      requestBody:
        description: createCustomSymbolCustomFieldDto object to save
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/CreateCustomSymbolCustomFieldDto'
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCustomSymbolCustomFieldDto'
          text/json:
            schema:
              $ref: '#/components/schemas/CreateCustomSymbolCustomFieldDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/CreateCustomSymbolCustomFieldDto'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewItemDto'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
  /v1/custom-symbol-custom-fields/{customSymbolCustomFieldId}:
    get:
      tags:
      - Custom Symbol Custom Fields
      summary: Factset Get a specific Custom symbol custom field's details
      operationId: GetCustomSymbolCustomField
      parameters:
      - name: customSymbolCustomFieldId
        in: path
        description: customSymbolCustomFieldId to get associated record
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomSymbolCustomFieldConfigDto'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
    patch:
      tags:
      - Custom Symbol Custom Fields
      summary: Factset Edit a Custom symbol custom field
      operationId: PatchCustomSymbolCustomField
      parameters:
      - name: customSymbolCustomFieldId
        in: path
        description: customSymbolCustomFieldId to update associated record
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        description: customSymbolCustomFieldUpdateDto object to update
        content:
          application/json-patch+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Operation'
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Operation'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Operation'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Operation'
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
    delete:
      tags:
      - Custom Symbol Custom Fields
      summary: Factset Delete a Custom symbol custom field
      operationId: DeleteCustomSymbolCustomField
      parameters:
      - name: customSymbolCustomFieldId
        in: path
        description: customSymbolCustomFieldId to delete associated record
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
components:
  schemas:
    CustomSymbolCustomFieldConfigDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
        code:
          type: string
          nullable: true
        name:
          type: string
          nullable: true
        type:
          type: string
          nullable: true
        isHidden:
          type: boolean
        isMandatory:
          type: boolean
        isShownInInfobox:
          type: boolean
        formulaConfig:
          $ref: '#/components/schemas/CustomSymbolCustomFieldFormulaConfigDto'
        optionsConfig:
          type: array
          items:
            type: string
          nullable: true
        customSymbolTypes:
          type: array
          items:
            $ref: '#/components/schemas/CustomSymbolTypeSummaryDto'
          nullable: true
      additionalProperties: false
    NewItemDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
      additionalProperties: false
    CustomSymbolTypeSummaryDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
          nullable: true
      additionalProperties: false
    OperationType:
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
      - 5
      - 6
      type: integer
      format: int32
    CustomSymbolCustomFieldFormulaConfigDto:
      required:
      - formula
      - formulaType
      type: object
      properties:
        formula:
          maxLength: 2040
          type: string
        formulaType:
          type: string
      additionalProperties: false
    CreateCustomSymbolCustomFieldDto:
      required:
      - code
      - customSymbolTypes
      - isHidden
      - isMandatory
      - isShownInInfobox
      - name
      - type
      type: object
      properties:
        code:
          maxLength: 32
          type: string
        name:
          maxLength: 100
          type: string
        type:
          type: string
          description: Type can be one of Text, SingleOption, MultiOptions, Numeric, Date, ExtendedText, ContactLookup
        isHidden:
          type: boolean
          default: false
        isMandatory:
          type: boolean
          default: false
        isShownInInfobox:
          type: boolean
          default: true
        formulaConfig:
          $ref: '#/components/schemas/CustomSymbolCustomFieldFormulaConfigDto'
        optionsConfig:
          type: array
          items:
            type: string
          nullable: true
        customSymbolTypes:
          type: array
          items:
            type: string
            format: uuid
      additionalProperties: false
    Operation:
      type: object
      properties:
        operationType:
          $ref: '#/components/schemas/OperationType'
        path:
          type: string
          nullable: true
        op:
          type: string
          nullable: true
        from:
          type: string
          nullable: true
        value:
          nullable: true
      additionalProperties: false
    ProblemDetails:
      type: object
      properties:
        type:
          type: string
          nullable: true
        title:
          type: string
          nullable: true
        status:
          type: integer
          format: int32
          nullable: true
        detail:
          type: string
          nullable: true
        instance:
          type: string
          nullable: true
      additionalProperties: {}
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
externalDocs:
  url: https://developer.factset.com/api-catalog/analytics-datastore-api
  description: API Documentation
