openapi: 3.0.3
info:
  title: Factset Analytics Datastore About Generate API
  description: Allow clients to fetch precalculated Analytics through predeterministic URLs.
  contact:
    name: FactSet Research Systems
    url: https://developer.factset.com/contact
    email: api@factset.com
  license:
    name: Apache License, Version 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  version: 1.0.0
servers:
- url: https://api.factset.com
  description: Production
- url: https://api-sandbox.factset.com
  description: Sandbox
security:
- basicAuth: []
tags:
- name: Generate
paths:
  /v1/report-instances/generate:
    post:
      operationId: generateReport
      tags:
      - Generate
      summary: Factset Generates a Report
      description: Generates a report using the specified ID and the JSON in the request body
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReportGenerationRequestBody'
            example:
              vrs:
                '1':
                  report: MONTHLY_REPORT
                  tenancy: CLIENT_REPORTING
                  outputFormat: PDF
                  sectionFilter: Section One
                  priority: '2'
                  startDate: 15 December 2023 00:00:00
                  entitySelection:
                    ACCOUNT:
                      key: Account name
                    PORTFOLIO:
                      key: Test fund
                    DATE:
                      key: '2020-01-01 00:00:00'
      responses:
        '202':
          description: Report generation request succeeded and report generation is in progress
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportInstanceDataResponse'
          headers:
            Location:
              schema:
                type: string
              description: End point location to retrieve the latest status of the report generation. This is v1/{tenant}/report-instances/{reportInstanceId}
        '400':
          description: The supplied report definition code was either missing or invalid, or the report definition was not found
          headers:
            Location:
              schema:
                type: string
              description: End point location to retrieve the latest status of the report generation. This is v1/{tenant}/report-instances/{reportInstanceId}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
              example:
                errors:
                - id: ID of the error
                  code: parameterError
                  title: The report definition code passed was invalid
        '401':
          description: Unauthorised
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
              example:
                errors:
                - id: ID of the error
                  code: notAuthenticated
                  title: User is not authenticated
          headers:
            Location:
              schema:
                type: string
              description: End point location to retrieve the latest status of the report generation. This is v1/{tenant}/report-instances/{reportInstanceId}
        '403':
          description: No permissions to view reports in VRS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
              example:
                errors:
                - id: ID of the error
                  code: notAuthorized
                  title: No permissions to view this item
        '404':
          description: The report code could not be found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
              example:
                errors:
                - id: ID of the error
                  code: notFound
                  title: The report definition code passed was not found
        '406':
          description: Unsupported Accept header. Header needs to be set to application/json.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
              example:
                errors:
                - id: ID of the error
                  code: notAcceptable
                  title: Unsupported Accept header. Header needs to be set to application/json
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    ReportInstanceId:
      type: object
      properties:
        reportInstanceId:
          type: integer
          example: '500123'
    ErrorList:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Error'
          example: []
    Error:
      type: object
      properties:
        id:
          type: string
          example: abc123
        code:
          type: string
          example: example_value
        title:
          type: string
          example: Example Title
    ReportInstanceDataResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/ReportInstanceId'
    ReportGenerationRequestBody:
      type: object
      properties:
        vrs:
          type: object
          additionalProperties:
            type: object
            properties:
              report:
                type: string
              tenancy:
                type: string
              outputFormat:
                type: string
              sectionFilter:
                type: string
              priority:
                type: string
              startDate:
                type: string
              entitySelection:
                type: object
                additionalProperties:
                  type: object
                  properties:
                    key:
                      type: string
          example: example_value
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
externalDocs:
  url: https://developer.factset.com/api-catalog/analytics-datastore-api
  description: API Documentation
