openapi: 3.2.0
info:
  title: Factset Positions API
  version: '2'
  description: 'Operations tagged Positions across 2 of this provider''s published API definitions: factset-virtual-portfolio-api-for-digital-portals-openapi.yml, factset-watchlist-api-for-digital-portals-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.factset.com/wealth/v1
security:
- Basic: []
tags:
- name: Positions
paths:
  /watchlist/position/create:
    post:
      tags:
      - Positions
      operationId: post/watchlist/position/create
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: true
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: true
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      description: "Add a position to a watchlist.\n\nCertain error conditions yield errors as follows: \n\n|Error Condition|HTTP Error|\n|-------|--------|\n|Maximum number of watchlist positions would exceed 100.|400 Bad Request|\n|The watchlist does not exist.|400 Bad Request|\n|The notation already exists in the watchlist.|400 Bad Request|"
      summary: Add a position to a watchlist.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostWatchlistPositionCreateRequest'
      responses:
        '201':
          $ref: '#/components/responses/PostWatchlistPositionCreate201Response'
      parameters: []
    servers:
    - url: https://api.factset.com/wealth/v1
  /watchlist/position/delete:
    post:
      tags:
      - Positions
      operationId: post/watchlist/position/delete
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: true
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: true
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      description: Delete a position of a watchlist.
      summary: Delete a position of a watchlist.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostWatchlistPositionDeleteRequest'
      responses:
        '200':
          $ref: '#/components/responses/PostWatchlistPositionDelete200Response'
      parameters: []
    servers:
    - url: https://api.factset.com/wealth/v1
  /watchlist/position/get:
    post:
      tags:
      - Positions
      operationId: post/watchlist/position/get
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: true
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      description: Details of the position of a watchlist.
      summary: Details of the position of a watchlist.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostWatchlistPositionGetRequest'
      responses:
        '200':
          $ref: '#/components/responses/PostWatchlistPositionGet200Response'
      parameters: []
    servers:
    - url: https://api.factset.com/wealth/v1
  /watchlist/position/list:
    get:
      tags:
      - Positions
      operationId: get/watchlist/position/list
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: true
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 2
      x-supportsPermissionDeniedResponse: false
      description: List of positions of a watchlist.
      summary: List of positions of a watchlist.
      parameters:
      - name: id
        in: query
        schema:
          description: Identifier of the watchlist.
          type: string
          format: id64
          x-positive: true
        required: true
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      - description: Sortable attributes. The sort order is ascending unless it is prefixed with a minus sign, in which case it is descending. A list of at most 2 (possibly prefixed) attribute name(s) is allowed.
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - -id
            - notation.id
            - -notation.id
          maxItems: 2
          uniqueItems: true
          default:
          - id
        style: form
        explode: false
        name: _sort
        in: query
      responses:
        '200':
          $ref: '#/components/responses/GetWatchlistPositionList200Response'
    servers:
    - url: https://api.factset.com/wealth/v1
  /watchlist/position/modify:
    post:
      tags:
      - Positions
      operationId: post/watchlist/position/modify
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: true
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: true
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      description: "Modify a position in a watchlist.\n\nCertain error conditions yield errors as follows: \n\n|Error Condition|HTTP Error|\n|-------|--------|\n|At least one of the parameters `notation` or `comment` must be set.|400 Bad Request|\n|The notation already exists in the watchlist.|400 Bad Request|"
      summary: Modify a position in a watchlist.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostWatchlistPositionModifyRequest'
      responses:
        '200':
          $ref: '#/components/responses/PostWatchlistPositionModify200Response'
      parameters: []
    servers:
    - url: https://api.factset.com/wealth/v1
components:
  schemas:
    PostWatchlistPositionModifyRequest:
      type: object
      properties:
        data:
          type: object
          x-property-sort:
          - id
          - position
          - notation
          - comment
          description: The data member contains the request's primary data.
          properties:
            id:
              description: Identifier of the watchlist.
              type: string
              format: id64
              x-positive: true
            position:
              description: Position of the watchlist.
              type: object
              x-property-sort:
              - id
              properties:
                id:
                  description: Identifier of the position.
                  type: number
                  format: id32
                  x-positive: true
              required:
              - id
            notation:
              description: Notation of the position.
              type: object
              x-property-sort:
              - id
              properties:
                id:
                  description: Identifier of the notation.
                  type: string
                  format: id64
                  x-positive: true
              required:
              - id
            comment:
              description: Personal note for the watchlist position.
              type: string
              pattern: ^[\u0020-\u005d\u005f\u0061-\u007e\u00c0-\u00ff\u20ac]*$
              x-allowNullValue: true
              x-trim: false
              maxLength: 200
          required:
          - id
          - position
        meta:
          type: object
          description: The meta member contains the meta information of the request.
          properties:
            attributes:
              $ref: '#/components/schemas/AttributesMember'
          x-property-sort:
          - attributes
    PostWatchlistPositionGetRequest:
      type: object
      properties:
        data:
          type: object
          x-property-sort:
          - id
          - position
          description: The data member contains the request's primary data.
          properties:
            id:
              description: Identifier of the watchlist.
              type: string
              format: id64
              x-positive: true
            position:
              description: Position of the watchlist.
              type: object
              x-property-sort:
              - id
              properties:
                id:
                  description: Identifier of the position
                  type: number
                  format: id32
                  x-positive: true
              required:
              - id
          required:
          - id
          - position
        meta:
          type: object
          description: The meta member contains the meta information of the request.
          properties:
            attributes:
              $ref: '#/components/schemas/AttributesMember'
          x-property-sort:
          - attributes
    PostWatchlistPositionCreateRequest:
      type: object
      properties:
        data:
          type: object
          x-property-sort:
          - id
          - notation
          - comment
          description: The data member contains the request's primary data.
          properties:
            id:
              description: Identifier of the watchlist.
              type: string
              format: id64
              x-positive: true
            notation:
              description: Notation of the position.
              type: object
              x-property-sort:
              - id
              properties:
                id:
                  description: Identifier of the notation.
                  type: string
                  format: id64
                  x-positive: true
              required:
              - id
            comment:
              description: Personal note for the watchlist position.
              type: string
              pattern: ^[\u0020-\u005d\u005f\u0061-\u007e\u00c0-\u00ff\u20ac]*$
              x-allowNullValue: true
              x-trim: false
              maxLength: 200
          required:
          - id
        meta:
          type: object
          description: The meta member contains the meta information of the request.
          properties:
            attributes:
              $ref: '#/components/schemas/AttributesMember'
          x-property-sort:
          - attributes
    StatusObject:
      type: object
      properties:
        code:
          type: number
          format: int32
          description: The HTTP status code of the response, mirroring the code from the Status-Line of the HTTP response message (see [RFC2616] section 6.1).
      description: The status member contains the status code of the response.
      required:
      - code
    AttributesMember:
      type: array
      description: Limit the attributes returned in the response to the specified set.
      items:
        type: string
        maxLength: 100
      maxItems: 50
      uniqueItems: true
    PostWatchlistPositionDeleteRequest:
      type: object
      properties:
        data:
          type: object
          x-property-sort:
          - id
          - position
          description: The data member contains the request's primary data.
          properties:
            id:
              description: Identifier of the watchlist.
              type: string
              format: id64
              x-positive: true
            position:
              description: Position of the watchlist.
              type: object
              x-property-sort:
              - id
              properties:
                id:
                  description: Identifier of a position.
                  type: number
                  format: id32
                  x-positive: true
              required:
              - id
          required:
          - id
        meta:
          type: object
          description: The meta member contains the meta information of the request.
          properties:
            attributes:
              $ref: '#/components/schemas/AttributesMember'
          x-property-sort:
          - attributes
    PostWatchlistPositionGetRequest_2:
      type: object
      properties:
        data:
          type: object
          x-property-sort:
          - id
          - position
          description: The data member contains the request's primary data.
          properties:
            id:
              description: Identifier of the watchlist.
              type: string
              format: id64
              x-positive: true
            position:
              description: Position of the watchlist.
              type: object
              x-property-sort:
              - id
              properties:
                id:
                  description: Identifier of the position
                  type: number
                  format: id32
                  x-positive: true
              required:
              - id
          required:
          - id
          - position
          example: example_value
        meta:
          type: object
          description: The meta member contains the meta information of the request.
          properties:
            attributes:
              $ref: '#/components/schemas/AttributesMember'
          x-property-sort:
          - attributes
          example: example_value
    PostWatchlistPositionCreateRequest_2:
      type: object
      properties:
        data:
          type: object
          x-property-sort:
          - id
          - notation
          - comment
          description: The data member contains the request's primary data.
          properties:
            id:
              description: Identifier of the watchlist.
              type: string
              format: id64
              x-positive: true
            notation:
              description: Notation of the position.
              type: object
              x-property-sort:
              - id
              properties:
                id:
                  description: Identifier of the notation.
                  type: string
                  format: id64
                  x-positive: true
              required:
              - id
            comment:
              description: Personal note for the watchlist position.
              type: string
              pattern: ^[\u0020-\u005d\u005f\u0061-\u007e\u00c0-\u00ff\u20ac]*$
              x-allowNullValue: true
              x-trim: false
              maxLength: 200
          required:
          - id
          example: example_value
        meta:
          type: object
          description: The meta member contains the meta information of the request.
          properties:
            attributes:
              $ref: '#/components/schemas/AttributesMember'
          x-property-sort:
          - attributes
          example: example_value
    StatusObject_2:
      type: object
      properties:
        code:
          type: number
          format: int32
          description: The HTTP status code of the response, mirroring the code from the Status-Line of the HTTP response message (see [RFC2616] section 6.1).
          example: 42.5
      description: The status member contains the status code of the response.
      required:
      - code
    PostWatchlistPositionDeleteRequest_2:
      type: object
      properties:
        data:
          type: object
          x-property-sort:
          - id
          - position
          description: The data member contains the request's primary data.
          properties:
            id:
              description: Identifier of the watchlist.
              type: string
              format: id64
              x-positive: true
            position:
              description: Position of the watchlist.
              type: object
              x-property-sort:
              - id
              properties:
                id:
                  description: Identifier of a position.
                  type: number
                  format: id32
                  x-positive: true
              required:
              - id
          required:
          - id
          example: example_value
        meta:
          type: object
          description: The meta member contains the meta information of the request.
          properties:
            attributes:
              $ref: '#/components/schemas/AttributesMember'
          x-property-sort:
          - attributes
          example: example_value
  responses:
    PostWatchlistPositionGet200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                description: Position of the watchlist.
                type: object
                x-property-sort:
                - notation
                - comment
                properties:
                  notation:
                    description: Notation of the position.
                    type: object
                    x-property-sort:
                    - id
                    properties:
                      id:
                        description: Identifier of the notation.
                        type:
                        - string
                        - 'null'
                        format: id64
                        x-positive: true
                  comment:
                    description: Personal note for the watchlist position.
                    type:
                    - string
                    - 'null'
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                x-property-sort:
                - status
    GetWatchlistPositionList200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: array
                items:
                  type: object
                  x-property-sort:
                  - id
                  - notation
                  - comment
                  properties:
                    id:
                      description: Identifier of the position.
                      x-sortable: true
                      x-default-sort-attribute: true
                      x-default-sort-direction: 1
                      type:
                      - number
                      - 'null'
                      format: id32
                      x-positive: true
                    notation:
                      description: Notation of the position.
                      type: object
                      x-property-sort:
                      - id
                      properties:
                        id:
                          description: Identifier of the notation.
                          x-sortable: true
                          type:
                          - string
                          - 'null'
                          format: id64
                          x-positive: true
                    comment:
                      description: Personal note for the watchlist position.
                      type:
                      - string
                      - 'null'
                description: Positions of the watchlist.
                maxItems: 100
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                x-property-sort:
                - status
    PostWatchlistPositionDelete200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                description: This member is always emtpy.
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                x-property-sort:
                - status
    PostWatchlistPositionCreate201Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: object
                x-property-sort:
                - id
                properties:
                  id:
                    type:
                    - number
                    - 'null'
                    format: id32
                    x-positive: true
                    description: Identifier of the position.
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                x-property-sort:
                - status
    PostWatchlistPositionModify200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                description: This member is always emtpy.
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                x-property-sort:
                - status
  securitySchemes:
    Basic:
      type: http
      description: Input your username and password to access this API.
      scheme: basic
externalDocs:
  description: Endpoint Reference
  url: https://endpointreference.mdgms.com
x-refined-from:
- factset-virtual-portfolio-api-for-digital-portals-openapi.yml
- factset-watchlist-api-for-digital-portals-openapi.yml
