openapi: 3.0.3
info:
  title: Factset Analytics Datastore About Fixed API
  description: Allow clients to fetch precalculated Analytics through predeterministic URLs.
  contact:
    name: FactSet Research Systems
    url: https://developer.factset.com/contact
    email: api@factset.com
  license:
    name: Apache License, Version 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  version: 1.0.0
servers:
- url: https://api.factset.com
  description: Production
- url: https://api-sandbox.factset.com
  description: Sandbox
security:
- basicAuth: []
tags:
- name: Fixed
paths:
  /factset-estimates/v2/fixed-consensus:
    get:
      tags:
      - Fixed
      summary: Factset Retrieves Consensus Estimates for a Requested List of Ids and Fixed Fiscal Periods
      operationId: getFixedConsensus
      description: 'Returns FactSet Estimates consensus data using fixed fiscal dates. For example, if the company''s current unreported year is 12/2020, all data returned by formulas that specify as the period/report basis will be for 12/2005 regardless of what perspective dates (startDate/endDate) are used. The fixed dates are "locked" in time and all estimated values are for that explicit date. If you are requesting that the estimated periods can change with the perspective date, please use the rolling-consensus endpoint.

        '
      parameters:
      - $ref: '#/components/parameters/ids'
      - $ref: '#/components/parameters/metrics'
      - $ref: '#/components/parameters/startDate'
      - $ref: '#/components/parameters/endDate'
      - $ref: '#/components/parameters/frequency'
      - $ref: '#/components/parameters/fiscalPeriodStart'
      - $ref: '#/components/parameters/fiscalPeriodEnd'
      - $ref: '#/components/parameters/periodicity'
      - $ref: '#/components/parameters/currency'
      responses:
        '200':
          description: Consensus Estimate Data Items.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/consensusResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      tags:
      - Fixed
      summary: Factset Consensus Estimates for Fixed Fiscal Periods
      description: 'Returns FactSet Estimates consensus data using fixed fiscal dates. For example, if the company''s current unreported year is 12/2020, all data returned by formulas that specify as the period/report basis will be for 12/2005 regardless of what perspective dates (startDate/endDate) are used. The fixed dates are "locked" in time and all estimated values are for that explicit date. If you are requesting that the estimated periods can change with the perspective date, please use the rolling-consensus endpoint.

        '
      operationId: getFixedConsensusForList
      requestBody:
        required: true
        description: Request object for Estimate Data Items.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/fixedConsensusRequest'
      responses:
        '200':
          description: Estimate data items
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/consensusResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /factset-estimates/v2/fixed-detail:
    get:
      tags:
      - Fixed
      summary: Factset Estimates Detail Data for Fixed Fiscal Periods
      operationId: getFixedDetail
      description: 'Updated intraday, the FactSet detail estimates apis provide individual broker-level estimates collected from over 800 sell-side analysts. This database contains 20+ years of broker history across more than 59,000 global companies. Content is provided for "fixed" fiscal periods.

        '
      parameters:
      - $ref: '#/components/parameters/ids'
      - $ref: '#/components/parameters/metrics'
      - $ref: '#/components/parameters/startDate'
      - $ref: '#/components/parameters/endDate'
      - $ref: '#/components/parameters/frequency'
      - $ref: '#/components/parameters/periodicityDetail'
      - $ref: '#/components/parameters/includeAll'
      - $ref: '#/components/parameters/fiscalPeriodStart'
      - $ref: '#/components/parameters/fiscalPeriodEnd'
      - $ref: '#/components/parameters/currency'
      responses:
        '200':
          description: Estimate data items
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/detailResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      tags:
      - Fixed
      summary: Factset Estimates Detail Data for Fixed Fiscal Periods
      description: 'Updated intraday, the FactSet detail estimates apis provide individual broker-level estimates collected from over 800 sell-side analysts. This database contains 20+ years of broker history across more than 59,000 global companies. Content is provided for "fixed" fiscal periods.

        '
      operationId: getFixedDetailForList
      requestBody:
        required: true
        description: Request object for Estimate Data Items.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/fixedDetailRequest'
      responses:
        '200':
          description: Estimate data items
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/detailResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /factset-prices/v1/fixed-income:
    get:
      tags:
      - Fixed
      summary: Factset Gets Pricing for a List of Fixed Income Securities
      operationId: getFixedSecurityPrices
      description: 'Get BID, MID, ASK, and Issuer Entity ID for a list of Fixed Income Securities as of a requested date range. Available for U.S. Corporate, Treasury and Agency bonds, Municipals, and non-U.S. Corporate and Government bonds. To learn more about Fixed Income Prices database, please review [OA:15995](https://my.apps.factset.com/oa/pages/15995)

        '
      parameters:
      - $ref: '#/components/parameters/fixedIds'
      - $ref: '#/components/parameters/startDate_2'
      - $ref: '#/components/parameters/endDate_2'
      - $ref: '#/components/parameters/frequencyFi'
      responses:
        '200':
          description: Array of Fixed Income Security prices objects for date range requested
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pricesFixedIncomeResponse'
              examples:
                Fixed Income Price of Apple 4.65% 23-FEB-2046:
                  $ref: '#/components/examples/singleSecurityPricesFixedIncome'
                Fixed Income Prices for Three Security Types:
                  $ref: '#/components/examples/multipleSecurityPricesFixedIncome'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      tags:
      - Fixed
      summary: Factset Requests Pricing for a List of Fixed Income Securities for Date Range Requested
      description: 'Get BID, MID, ASK, and Issuer Entity ID for a list of Fixed Income Securities as of a requested date range. Available for U.S. Corporate, Treasury and Agency bonds, Municipals, and non-U.S. Corporate and Government bonds. To learn more about Fixed Income Prices database, please review [OA:15995](https://my.apps.factset.com/oa/pages/15995)

        '
      operationId: getFixedSecurityPricesForList
      requestBody:
        required: true
        description: Request object for Fixed Income `Security` prices.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/pricesFixedIncomeRequest'
            examples:
              Single Fixed Income Id Request for One Year of Monthly Prices:
                $ref: '#/components/examples/singleFixedOneYearPost'
              Fixed Income Single Id Request:
                $ref: '#/components/examples/multipleFixedPricesPost'
      responses:
        '200':
          description: Array of Fixed Income Security prices objects
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pricesFixedIncomeResponse'
              examples:
                Fixed Income Price of Apple 4.65% 23-FEB-2046:
                  $ref: '#/components/examples/singleSecurityPricesFixedIncome'
                Fixed Income Prices for Three Security Types:
                  $ref: '#/components/examples/multipleSecurityPricesFixedIncome'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    fixedIncomePrice:
      title: Fixed Income Price Object
      type: object
      properties:
        fsymId:
          description: Factset Security Identifier. Six alpha-numeric characters, excluding vowels, with an -S suffix (XXXXXX-S).
          type: string
          example: NL6DQ8-S
          nullable: true
        date:
          description: Ending date for the period expressed in YYYY-MM-DD format.
          type: string
          format: date
          example: '2020-06-09'
          nullable: true
        securityType:
          description: "Returns the security type code of fixed income instruments.\n  * AGCY - Agency\n  * BDNT - Bond/Note\n  * BDWT  - Bond with Warrants\n  * BKAC  - Bankers Acceptance\n  * BLDN - Bill/Discount Note\n  * BOND  - Bond\n  * CAP  - Embedded ceiling or short interest rates\n  * CAPS - Capital Security\n  * CAPT - Capital Trust Security\n  * CD - Certificate of Deposit (Munis)\n  * CDO - Collateralized Debt Obligation\n  * CMO  - Collateralized mortgage obligation\n  * COMP - Commercial Paper\n  * CONV - Convertible/Exchangeable\n  * CONVP - Convertible Preferred\n  * CORP - Corporate\n  * COVR - Covered Bond\n  * CP  - Commercial Paper\n  * CRL - Credit Linked Security\n  * DEB - Debenture\n  * DERI  - Derivative (generic type)\n  * EBON - Eurobond\n  * EQL - Equity Linked Security\n  * FORW  - Forward deliveries\n  * GRTR  - Grantor trust\n  * HY - Hypotheken Pfandbriefe\n  * IIDX - Inflation Indexed Security\n  * INVF  - Inverse floaters\n  * LAUTH - Local Authority/Political Division\n  * LINK  - Linked securities\n  * LKS - Linked Securities\n  * MAPL - Mixed Asset Portfolio Linked Security\n  * MM - Money Market\n  * NOTE  - Note\n  * OF - Obligations Foncires\n  * OPTN  - Options\n  * OTHL - Other Linked Security\n  * PAYS  - Payment streams\n  * PFD - Preferred\n  * PFND - Pfandbriefe\n  * POOL  - Pooled derivatives\n  * PSEC - Preferred Security\n  * PSTK - Preferred Stock\n  * REPO  - REPOS\n  * RMIC  - REMIC\n  * SHFL  - Short floats (auction)\n  * STRIPS - STRIPS\n  * SWAP  - Embedded swaps\n  * TR  - Trust\n  * TRUPS - Trust Preferred Security\n"
          type: string
          example: BDNT
          nullable: true
        issuerEntityId:
          description: Fixed Income Issuer Entity ID (-E).
          type: string
          example: 000C7F-E
          nullable: true
        issuerType:
          description: "Returns the issuer type code of fixed income instruments.\n  * AGCY - Agency\n  * CORP - Corporate\n  * LAUTH - Local Authority/Political Division\n  * MUNI - Municipals\n  * SOV - Sovereign\n  * SUPR - Supranational\n  * SCOL - Securitized/Collateralized\n"
          type: string
          example: CORP
          nullable: true
        priceBid:
          description: BID PRICE. For North American issues, the value is an evaluated price, where available, else it is an exchange-traded price. Please note that distinct Bid and Ask Prices are not available for North American issues; Bid, Mid, and Ask Prices will be identical for North American issues. For issues outside of North America (International), the value is an evaluated price. Please note that distinct Bid and Ask Prices are only available for issues outside of North America. By default, the Mid Price is returned for issues outside of North America.
          type: number
          format: double
          example: 134.959
          nullable: true
        priceMid:
          description: MID Price. For North American issues, the value is an evaluated price, where available, else it is an exchange-traded price. Please note that distinct Bid and Ask Prices are not available for North American issues; Bid, Mid, and Ask Prices will be identical for North American issues. For issues outside of North America (International), the value is an evaluated price. Please note that distinct Bid and Ask Prices are only available for issues outside of North America. By default, the Mid Price is returned for issues outside of North America.
          type: number
          format: double
          example: 137.695
          nullable: true
        priceAsk:
          description: ASK Price. For North American issues, the value is an evaluated price, where available, else it is an exchange-traded price. Please note that distinct Bid and Ask Prices are not available for North American issues; Bid, Mid, and Ask Prices will be identical for North American issues. For issues outside of North America (International), the value is an evaluated price. Please note that distinct Bid and Ask Prices are only available for issues outside of North America. By default, the Mid Price is returned for issues outside of North America.
          type: number
          format: double
          example: 134.959
          nullable: true
        requestId:
          description: Identifier that was used for the request.
          type: string
          example: 037833BX
    fixedConsensusRequest:
      title: Fixed Consensus Request Body
      description: Request object for requesting fixed consensus estimates.
      type: object
      properties:
        ids:
          $ref: '#/components/schemas/ids'
        metrics:
          $ref: '#/components/schemas/metrics'
        startDate:
          $ref: '#/components/schemas/startDate'
        endDate:
          $ref: '#/components/schemas/endDate'
        frequency:
          $ref: '#/components/schemas/frequency'
        fiscalPeriodStart:
          $ref: '#/components/schemas/fiscalPeriodStart'
        fiscalPeriodEnd:
          $ref: '#/components/schemas/fiscalPeriodEnd'
        periodicity:
          $ref: '#/components/schemas/periodicity'
        currency:
          $ref: '#/components/schemas/currency'
      required:
      - ids
      - metrics
    consensusEstimate:
      title: Consensus Estimate
      type: object
      properties:
        requestId:
          description: Identifier that was used for the request.
          type: string
          example: IBM-US
        fsymId:
          description: Factset Regional Security Identifier. Six alpha-numeric characters, excluding vowels, with an -R suffix (XXXXXX-R). Identifies the security's best regional security data series per currency. For equities, all primary listings per region and currency are allocated a regional-level permanent identifier. The regional-level permanent identifier will be available once a SEDOL representing the region/currency has been allocated and the identifiers are on FactSet.
          type: string
          example: SJY281-R
          nullable: true
        metric:
          description: 'Company''s Financial statement ''metric'' that is estimated. Use the factset-estimates/v#/metrics endpoint for a complete list. For more details, visit [Online Assistant Page #15034](https://oa.apps.factset.com/pages/15034)'
          type: string
          example: SALES
          nullable: true
        periodicity:
          description: The reporting interval for the estimate. This is derived from Estimate Date and is translated to the Period List = ANN, QTR, SEMI, LTMA, or NMTA.
          type: string
          example: ANN
          nullable: true
        fiscalPeriod:
          description: 'Company''s ''fiscal period'' for the estimate record. Periods for periodicity of ANN = 1, and SEMI = 2. For more details, visit [Online Assistant Page #16598](https://oa.apps.factset.com/pages/16598).'
          type: integer
          example: 4
          nullable: true
        fiscalYear:
          description: 'Company''s ''fiscal year'' for the estimate record. For more details, visit [Online Assistant Page #16598](https://oa.apps.factset.com/pages/16598)'
          type: integer
          example: 2018
          nullable: true
        fiscalEndDate:
          description: 'Company''s ''fiscal end date'' for the estimate record expressed in YYYY-MM-DD format. For more details, visit [Online Assistant Page #16598](https://oa.apps.factset.com/pages/16598)'
          type: string
          format: date
          example: '2017-12-31'
          nullable: true
        relativePeriod:
          description: '''Fiscal period'' based on relationship to ''estimate date''. This is not applicable for fixed-consensus endpoint. For more details, visit [Online Assistant Page #16598](https://oa.apps.factset.com/pages/16598)'
          type: integer
          example: 2
          nullable: true
        estimateDate:
          description: 'Date of estimate expressed in YYYY-MM-DD format. For more details, visit [Online Assistant Page #16598](https://oa.apps.factset.com/pages/16598)'
          type: string
          format: date
          example: '2017-07-24'
          nullable: true
        currency:
          description: 'Currency code for adjusting the data. Use ''ESTIMATE'' as input value for the values in Estimate Currency. For a list of currency ISO codes, visit [Online Assistant Page #1470](https://oa.apps.factset.com/pages/1470).'
          type: string
          example: USD
          nullable: true
        estimateCurrency:
          description: Estimate currency of the requested Security
          type: string
          example: USD
          nullable: true
        mean:
          description: 'Mean of estimates in consensus calculation. For more details, visit [Online Assistant Page #16598](https://oa.apps.factset.com/pages/16114)'
          type: number
          format: double
          example: 12345.01
          nullable: true
        median:
          description: 'Median of estimates in consensus calculation. For more details, visit [Online Assistant Page #16598](https://oa.apps.factset.com/pages/16114)'
          type: number
          format: double
          example: 12346.01
          nullable: true
        standardDeviation:
          description: 'Standard deviation of estimates in consensus calculation. For more details, visit [Online Assistant Page #16598](https://oa.apps.factset.com/pages/16114)'
          type: number
          format: double
          example: 0.011034
          nullable: true
        high:
          description: 'Highest estimate in consensus calculation. For more details, visit [Online Assistant Page #16598](https://oa.apps.factset.com/pages/16114).'
          type: number
          format: double
          example: 12349.01
          nullable: true
        low:
          description: 'Lowest estimate in consensus calculation. For more details, visit [Online Assistant Page #16598](https://oa.apps.factset.com/pages/16114)'
          type: number
          format: double
          example: 12344.01
          nullable: true
        estimateCount:
          description: 'Count or NEST of estimates in consensus calculation. For more details, visit [Online Assistant Page #16598](https://oa.apps.factset.com/pages/16114)'
          type: integer
          example: 20
          nullable: true
        up:
          description: 'Number of Up Revisions within the consensus for the metric and period. The default window size is 100 days For more details, visit [Online Assistant Page #16598](https://oa.apps.factset.com/pages/16114).'
          type: integer
          example: 6
          nullable: true
        down:
          description: 'Number of Up Revisions within the consensus for the metric and period. The default window size is 100 days. For more details, visit [Online Assistant Page #16598](https://oa.apps.factset.com/pages/16114).'
          type: integer
          example: 4
          nullable: true
    ids:
      type: array
      items:
        type: string
      minItems: 1
      maxItems: 3000
      description: 'The requested list of security identifiers. Accepted ID types include Market Tickers, SEDOL, ISINs, CUSIPs, or FactSet Permanent Ids. * Make Note - id limit of 3000 for defaults, otherwise the service is limited to a 30 second duration. This can be reached when increasing total number of metrics requested and depth of history. *

        '
      example:
      - FDS-US
    endDate:
      type: string
      description: 'The end date requested for a given date range in **YYYY-MM-DD** format. If left blank, the API will default to previous close. Future dates (T+1) are not accepted in this endpoint.

        '
      example: '2019-12-31'
    startDate_2:
      type: string
      description: 'The start date requested for a given date range in **YYYY-MM-DD** format. If left blank, the API will default to previous close. Future dates (T+1) are not accepted in this endpoint.

        '
      example: '2019-01-01'
    pricesFixedIncomeRequest:
      title: Fixed Income Request Body
      description: Fixed Income Request Body
      type: object
      properties:
        ids:
          $ref: '#/components/schemas/fixedIds'
        startDate:
          $ref: '#/components/schemas/startDate_2'
        endDate:
          $ref: '#/components/schemas/endDate'
        frequency:
          $ref: '#/components/schemas/frequencyFi'
      required:
      - ids
    metrics:
      type: array
      items:
        type: string
      description: 'Requested metrics. Use the metrics endpoint for a list of estimate items. Note, the number of metrics you are allowed to supply is limited to 1 for now. For more details, visit [Online Assistant Page #15034](https://oa.apps.factset.com/pages/15034).'
      example:
      - SALES
      minItems: 1
    fixedDetailRequest:
      title: Fixed Detail Request Body
      description: Request object for requesting rolling detail estimates.
      type: object
      properties:
        ids:
          $ref: '#/components/schemas/ids'
        metrics:
          $ref: '#/components/schemas/metrics'
        startDate:
          $ref: '#/components/schemas/startDate'
        endDate:
          $ref: '#/components/schemas/endDate'
        frequency:
          $ref: '#/components/schemas/frequency'
        includeAll:
          $ref: '#/components/schemas/includeAll'
        periodicity:
          $ref: '#/components/schemas/periodicityDetail'
        fiscalPeriodStart:
          $ref: '#/components/schemas/fiscalPeriodStart'
        fiscalPeriodEnd:
          $ref: '#/components/schemas/fiscalPeriodStart'
        currency:
          $ref: '#/components/schemas/currency'
      required:
      - ids
      - metrics
    errorResponse:
      type: object
      title: Error Response
      properties:
        status:
          description: status
          type: string
          example: Bad Request
        timestamp:
          description: timestamp in YYYY-MM-DD HH:MM:SS.SSS
          type: string
          example: '2019-11-01 11:09:41.918'
          format: date-time
        path:
          description: The Endpoint path {package}/version/{endpoint}
          type: string
          example: /factset-estimates/v2/prices
        message:
          description: The plain text error message
          type: string
          example: Validation Error
        subErrors:
          description: subErrors related to the error message. Null if not applicable.
          type: object
          properties:
            object:
              description: the operation ID
              type: string
            field:
              description: Parameter Field Name
              type: string
            message:
              description: Error message
              type: string
            rejectedValue:
              description: Rejected Values in an Array
              type: array
              items:
                type: string
          example: example_value
    pricesFixedIncomeResponse:
      type: object
      title: Fixed Income Prices Response
      properties:
        data:
          description: Array of Price Objects
          type: array
          items:
            $ref: '#/components/schemas/fixedIncomePrice'
          example: []
    periodicity:
      type: string
      enum:
      - ANN
      - QTR
      - SEMI
      - LTMA
      - NTMA
      default: ANN
      description: The periodicity for the estimates, reflecting Annual, Semi-Annual and Quarterly Estimates. Next-twelve-months (NTMA) and Last-twelve-months (LTMA) also supported.
    detailResponse:
      type: object
      title: Detail Response
      properties:
        data:
          description: Array of consensus estimate objects
          type: array
          items:
            $ref: '#/components/schemas/detailEstimate'
          example: []
    fiscalPeriodEnd:
      type: string
      description: "Fiscal period end expressed in absolute date formats. Date that will fall back to most recent completed period during resolution.\n  * **Month-end** - MM/YYYY (e.g., 11/2019)\n  * **Fiscal Quarter-end** - YYYY/FQ (e.g., 2019/1F, 2019/2F, 2019/3F, 2019/4F)\n  * **Semiannual Period-end** - YYYY/FSA (e.g., 2019/1S, 2019/2S)\n  * **Fiscal Year-end** - YYYY (e.g. 2019)\n"
      example: '2020'
    currency:
      description: 'Currency code for adjusting the data. Use input as ''ESTIMATE'' for values in Estimate currency. For a list of currency ISO codes, visit [Online Assistant Page #1470](https://oa.apps.factset.com/pages/1470).'
      type: string
      example: USD
    startDate:
      type: string
      description: 'The start date requested for a given date range in **YYYY-MM-DD** format. If left blank, the API will default to previous close. Future dates (T+1) are not accepted in this #endpoint.

        '
      example: '2019-01-01'
    fiscalPeriodStart:
      type: string
      description: "Fiscal period start expressed in absolute date formats. Date that will fall back to most recent completed period during resolution.\n  * **Fiscal Quarter-end** - YYYY/FQ (e.g., 2019/1F, 2019/2F, 2019/3F, 2019/4F)\n  * **Semiannual Period-end** - YYYY/FSA (e.g., 2019/1S, 2019/2S)\n  * **Fiscal Year-end** - YYYY (e.g. 2019)\n"
      example: '2019'
    includeAll:
      type: boolean
      default: false
      example: false
      description: "Include All filter is used to identify included and excluded broker details from the consensus\n  By default the service would return only the brokers included in the consensus-\n  * **TRUE** = Returns all the brokers included and excluded in the consensus\n  * **FALSE** = Returns only the broker details included in the consensus\n"
    fixedIds:
      type: array
      items:
        type: string
      minItems: 1
      maxItems: 2000
      description: 'The requested list of Fixed Income Security Identifiers.

        '
      example:
      - 037833BX
    detailEstimate:
      title: Detail
      type: object
      properties:
        fsymId:
          type: string
          example: SJY281-R
          nullable: true
        metric:
          description: 'Company''s Financial statement ''metric'' that is estimated. Use the factset-estimates/v#/metrics endpoint for a complete list. For more details, visit [Online Assistant Page #15034](https://oa.apps.factset.com/pages/15034).'
          type: string
          example: SALES
          nullable: true
        periodicity:
          description: Company's 'periodicity' for the estimate record, reflecting Annual, Quarterly, or Semi-Annual report periods.
          type: string
          example: ANN
          nullable: true
        fiscalYear:
          description: Company's 'fiscal year' for the estimate record
          type: integer
          example: 2018
          nullable: true
        fiscalPeriod:
          description: Company's 'fiscal period' for the estimate record.  'Periodicity' defines context for period.
          type: integer
          example: 4
          nullable: true
        fiscalEndDate:
          description: Company's 'fiscal end date' for the estimate record expressed in YYYY-MM-DD format
          type: string
          format: date
          example: '2017-12-31'
          nullable: true
        relativePeriod:
          description: '''Fiscal period'' based on relationship to ''estimate date''. This is not applicable for fixed-consensus endpoint. For more details, visit [Online Assistant Page #16598](https://oa.apps.factset.com/pages/16598)'
          type: integer
          example: 2
          nullable: true
        currency:
          description: 'Currency code for adjusting the data. Use ''ESTIMATE'' as input value for the values in Estimate Currency. For a list of currency ISO codes, visit [Online Assistant Page #1470](https://oa.apps.factset.com/pages/1470).'
          type: string
          example: USD
          nullable: true
        estimateDate:
          description: 'Date of estimate expressed in YYYY-MM-DD format. For more details, visit [Online Assistant Page #16598](https://oa.apps.factset.com/pages/16598)'
          type: string
          format: date
          example: '2017-07-24'
          nullable: true
        estimateValue:
          description: The value of the estimate.
          type: number
          format: double
          example: 23456
          nullable: true
        analystId:
          description: The FactSet Entity Identifier for the analyst making the estimate.
          type: string
          example: 0DXTST-E
          nullable: true
        analystName:
          description: The name of the analyst making the estimate.
          type: string
          example: Josh Baer
          nullable: true
        brokerId:
          description: The FactSet Entity Identifier for the broker making the estimate.
          type: string
          example: 05FBK7-E
          nullable: true
        brokerName:
          description: The name of the broker making the estimate.
          type: string
          example: Morgan Stanley
          nullable: true
        lastModifiedDate:
          description: The date at which a broker provided an estimate that is a revision.
          type: string
          format: date
          example: '2017-07-24'
          nullable: true
        prevEstimateDate:
          description: 'Date the previous estimate was made expressed in YYYY-MM-DD format. For more details, visit [Online Assistant Page #16598](https://oa.apps.factset.com/pages/16598)'
          type: string
          format: date
          example: '2017-05-02'
          nullable: true
        prevEstimateValue:
          description: The value of the previous estimate.
          type: number
          format: double
          example: 22336
          nullable: true
        section:
          description: Section of the estimate.Returns the details of brokers inlcuded and excluded in the consensus
          type: string
          example: Included
          nullable: true
        statusCode:
          description: Status code of the estimate.
          type: integer
          example: 0
          nullable: true
        statusText:
          description: Status description of the estimate.
          type: string
          example: ''
          nullable: true
        requestId:
          description: Identifier that was used for the request.
          type: string
          example: IBM-US
        inputDateTime:
          description: Date and time when the data is available at the source.
          type: string
          format: string
          example: '2022-10-25T22:40:09'
          nullable: true
        securityCurrency:
          description: The currency that the company trades in.
          type: string
          example: USD
          nullable: true
        brokerEstimateCurrency:
          description: The currency in which estimates are made by broker.
          type: string
          example: USD
          nullable: true
        estimateCurrency:
          description: Estimate currency of the requested Security
          type: string
          example: USD
          nullable: true
    frequency:
      type: string
      enum:
      - D
      - W
      - AM
      - AQ
      - AY
      default: D
      description: "Controls the display frequency of the data returned.\n  * **D** = Daily\n  * **W** = Weekly, based on the last day of the week of the start date.\n  * **AM** = Monthly, based on the start date (e.g., if the start date is June 16, data is displayed for June 16, May 16, April 16 etc.). \n  * **AQ** = Quarterly, based on the start date.\n  * **AY** = Actual Annual, based on the start date.\n"
      example: AM
    frequencyFi:
      type: string
      enum:
      - D
      - M
      - AM
      - MTD
      - CQ
      - CQTD
      - AY
      - CY
      - CYTD
      default: D
      description: "Controls the display frequency of the data returned.\n  * **D** = Daily\n  * **M** = Monthly, based on the last trading day of the month.\n  * **AM** = Monthly, based on the start date (e.g., if the start date is June 16, data is displayed for June 16, May 16, April 16 etc.).\n  * **MTD** = Month-to-date\n  * **CQ** = Quarterly based on the last trading day of the calendar quarter (March, June, September, or December).\n  * **CQTD** =  Calendar quarter-to-date\n  * **AY** = Actual Annual, based on the start date.\n  * **CY** = Calendar Annual, based on the last trading day of the calendar year.\n  * **CYTD** = Calendar Year-to-date.\n"
      example: M
    consensusResponse:
      type: object
      title: Consensus Response
      properties:
        data:
          description: Array of consensus estimate objects
          type: array
          items:
            $ref: '#/components/schemas/consensusEstimate'
          example: []
    periodicityDetail:
      type: string
      enum:
      - ANN
      - QTR
      - SEMI
      default: ANN
      description: The periodicity for the estimates, reflecting Annual, Semi-Annual and Quarterly Estimates.
  examples:
    badRequestInvalidParameters:
      summary: Bad Request - Invalid Parameters
      description: This error message occurs when a request parameter is used in which is not recognized by the service. Please revise your request to include only the parameters listed in the specification. Typical causes are spelling mistakes and use of improper casing.
      value:
        status: Bad Request
        timestamp: '2020-06-12 15:58:54.068'
        path: /factset-estimates/v2/{endpoint}
        message: 'Invalid Parameter (s): fakeParameterName1 fakeParameterName2. Please modify your request to use parameters outlined in the specification for this endpoint.'
        subErrors: null
    badRequestDateFormat:
      summary: Bad Request - Date Format
      description: This bad request occurs when a request doesn't use the YYYY-MM-DD in the date parameters. To resolve, convert your date to YYYY-MM-DD.
      value:
        status: Bad Request
        timestamp: '2019-10-31 16:08:07.945'
        path: /factset-estimates/v2/{endpoint}
        message: 'The date parameter ''startDate'' must be in the following date format: YYYY-MM-DD'
        subErrors: null
    notWritable:
      summary: Internal Server Error - Not Writable
      description: This error may be returned when the server encounters an error writing the JSON response.
      value:
        status: Internal Server Error
        timestamp: '2019-11-05 09:48:29.18'
        path: /factset-estimates/v2/{endpoint}
        message: Error writing JSON output
        subErrors: null
    multipleFixedPricesPost:
      summary: Latest Daily Fixed Income Prices for three Fixed Income Securities
      description: Latest Daily Fixed Income Prices for three Fixed Income Securities
      value:
        ids:
        - 037833BX
        - 853207EZ
        - 9127963H
        frequency: D
    multipleSecurityPricesFixedIncome:
      summary: Multiple Fixed Income Prices for a sample of different Security Types
      description: Multiple Fixed Income Prices for a sample of different Security Types
      value:
        data:
        - fsymId: MCCBMM-S
          date: '2020-07-13'
          securityType: BDNT
          issuerEntityId: 000C7F-E
          issuerType: CORP
          priceBid: 141.212
          priceMid: 141.212
          priceAsk: 141.212
          requestId: 037833BX
        - fsymId: R388JW-S
          date: '2020-07-13'
          securityType: BOND
          issuerEntityId: 0DN2GL-E
          issuerType: MUNI
          priceBid: 100.091
          priceMid: 100.238
          priceAsk: 100.384
          requestId: 853207EZ
        - fsymId: SG86MQ-S
          date: '2020-07-13'
          securityType: BLDN
          issuerEntityId: 05MCSG-E
          issuerType: SOV
          priceBid: 99.847
          priceMid: 99.847
          priceAsk: 99.847
          requestId: 9127963H
    singleSecurityPricesFixedIncome:
      summary: Single Fixed Income Price Record for Apple Inc. 4.65% 23-FEB-2046
      description: Single Fixed Income Price Record for Apple Inc. 4.65% 23-FEB-2046
      value:
        data:
        - fsymId: MCCBMM-S
          date: '2020-07-13'
          securityType: BDNT
          issuerEntityId: 000C7F-E
          issuerType: CORP
          priceBid: 141.212
          priceMid: 141.212
          priceAsk: 141.212
          requestId: 037833BX
    unsupportedMediaType:
      summary: Unsupported Media Type
      description: This bad request occurs when the media type passed in the request is not supported. Currently the APIs only support 'application/json'.
      value:
        status: Unsupported Media Type
        timestamp: '2019-11-05 09:42:27.237'
        path: /factset-estimates/v2/{endpoint}
        message: text/html media type is not supported. Supported media types are application/json
        subErrors: null
    generalException:
      summary: Internal Server Error - General Exception
      description: This is the most general error that can be returned to by the service. Please `Report Issue` to FactSet.
      value:
        status: Internal Server Error
        timestamp: '2019-11-01 10:36:01.944'
        path: /factset-estimates/v2/{endpoint}
        message: Unexpected error
        subErrors: null
    badRequestReadTimeout:
      summary: Bad Request - Read Timeout
      description: This error may be returned if it takes more than 29 seconds to hear back from the data fetch service.
      value:
        status: Bad Request
        timestamp: '2019-11-04 16:18:38.949'
        path: /factset-estimates/v2/{endpoint}
        message: The request took too long. Try again with a smaller request.
        subErrors: null
    badRequestFutureDate:
      summary: Bad Request - Future Date
      description: This error message occurs when a future date is requested in the startDate and endDate parameters. Please revise your request to include dates as of today's current date or any prior historical date.
      value:
        status: Bad Request
        timestamp: '2020-06-12 15:52:48.091'
        path: /factset-estimates/v2/{endpoint}
        message: The use of future dates is not applicable in this endpoint. Please revise your request to include dates up to today's current date.
        subErrors: null
    forbidden:
      summary: Forbidden
      description: The USERNAME-SERIAL attempted to request the endpoint is not authorized to access. The request was a legal request, but the server is refusing to respond. Please reach out to FactSet Account Team for assistance with authorization.
      value:
        status: Forbidden
        timestamp: '2020-06-12 16:08:51.731'
        path: /factset-estimates/v2/{endpoint}
        message: USERNAME-SERIAL does not have permission to use /factset-estimates/v2/{endpoint}
        subErrors: null
    unauthenticated:
      summary: User Authentication Failed
      description: This occurs when a user is not properly authenticated or recognized by the service. Please double check the USERNAME-SERIAL and API-Key used to request and ensure you are within the IP range specified for the Key. Report Issue under 401 error for help with troubleshooting.
      value:
        status: User Authentication Failed
        timestamp: '2019-10-31 16:08:07.945'
        path: /factset-estimates/v2/{endpoint}
        message: User Authentication Failed.
        subErrors: null
    badRequestMalformedJSON:
      summary: Bad Request - Malformed JSON Request
      description: This error may be returned when the request body is specified as JSON, but is not in proper JSON format.
      value:
        status: Bad Request
        timestamp: '2019-11-05 09:48:29.18'
        path: /factset-estimates/v2/{endpoint}
        message: Malformed JSON Request
        subErrors: null
    singleFixedOneYearPost:
      summary: One Year of Daily Fixed Income Prices for Apple Inc. 4.65% 23-FEB-2046 in Calendar 2019 Year
      description: One Year of Daily Fixed Income Prices for Apple Inc. 4.65% 23-FEB-2046 in Calendar 2019 Year
      value:
        ids:
        - 037833BX
        startDate: '2019-01-01'
        endDate: '2019-12-31'
        frequency: D
    badRequestRequiredParameter:
      summary: Bad Request - Required Parameter Missing
      description: This error message occurs when the request does not include the required parameters. Required parameters are indicated with a red asterisks symbol in the specification file.
      value:
        status: Bad Request
        timestamp: '2020-06-12 15:48:42.016'
        path: /factset-estimates/v2/{endpoint}
        message: The parameter 'ids' is required and may not be empty.
        subErrors: null
  parameters:
    ids:
      name: ids
      in: query
      schema:
        type: array
        items:
          type: string
        minItems: 1
        maxItems: 3000
      required: true
      explode: false
      description: 'Security or Entity identifiers. FactSet Identifiers, tickers, CUSIP and SEDOL are accepted input. <p>***ids limit** =  3000 per request*</p> * Make Note - id limit of 3000 for defaults, otherwise the service is limited to a 30 second duration. This can be reached when increasing total number of metrics requested and depth of history. *

        '
      examples:
        oneId:
          summary: One Market Identifier
          value:
          - AAPL-USA
        multipleIds:
          summary: Multiple Market Identifiers
          value:
          - FDS-US
          - AAPL-US
          - MSFT-US
    frequencyFi:
      name: frequency
      in: query
      schema:
        type: string
        enum:
        - D
        - M
        - AM
        - MTD
        - CQ
        - CQTD
        - AY
        - CY
        - CYTD
        default: D
      description: "Controls the display frequency of the data returned.\n  * **D** = Daily\n  * **M** = Monthly, based on the last trading day of the month.\n  * **AM** = Monthly, based on the start date (e.g., if the start date is June 16, data is displayed for June 16, May 16, April 16 etc.).\n  * **MTD** = Month-to-date\n  * **CQ** = Quarterly based on the last trading day of the calendar quarter (March, June, September, or December).\n  * **CQTD** =  Calendar quarter-to-date\n  * **AY** = Actual Annual, based on the start date.\n  * **CY** = Calendar Annual, based on the last trading day of the calendar year.\n  * **CYTD** = Calendar Year-to-date.\n"
      examples:
        Daily:
          summary: D - Daily frequency display based on trading calendar
          value: D
        Month-to-date:
          summary: MTD - Month-to-date
          value: MTD
        Monthly:
          summary: M - Monthly - based on the last trading day of the month.
          value: M
        Actual Month:
          summary: AM - Actual Month - based on the startDate (e.g., if the start date is June 16, data is displayed for June 16, May 16, April 16 etc.).
          value: AM
        Calendar Quarterly:
          summary: CQ - Calendar Quarterly - based on the last day of the week of the startDate
          value: CQ
        Calendar quarter-to-date:
          summary: CQTD - Calendar quarter-to-date
          value: CQTD
        Actual Annual:
          summary: AY - Actual Annual - based on the startDate
          value: AY
        Calendar Annual:
          summary: CY - Calendar Annual - based on the last trading day of the calendar year.
          value: CY
        Calendar Year-to-date:
          summary: CYTD - Calendar Year-to-date
          value: CYTD
    frequency:
      name: frequency
      in: query
      schema:
        type: string
        enum:
        - D
        - W
        - AM
        - AQ
        - AY
        default: D
      description: "Controls the frequency of the data returned.\n  * **D** = Daily\n  * **W** = Weekly, based on the last day of the week of the start date.\n  * **AM** = Monthly, based on the start date (e.g., if the start date is June 16, data is displayed for June 16, May 16, April 16 etc.).      \n  * **AQ** = Quarterly, based on the start date.\n  * **AY** = Actual Annual, based on the start date. \n"
      examples:
        Daily:
          summary: D - Daily frequency display based on trading calendar
          value: D
        Weekly:
          summary: W - Weekly - based on the last day of the week of the start date
          value: W
        Actual Month:
          summary: AM - Actual Month - based on the startDate (e.g., if the start date is June 16, data is displayed for June 16, May 16, April 16 etc.).
          value: AM
        Actual Annual:
          summary: AY - Actual Annual - based on the startDate
          value: AY
    startDate_2:
      name: startDate
      in: query
      required: false
      schema:
        type: string
      description: 'The start date requested for a given date range in **YYYY-MM-DD** format. If left blank, the API will default to previous close. Future dates (T+1) are not accepted in this endpoint.

        '
      example: '2019-01-01'
    fiscalPeriodStart:
      name: fiscalPeriodStart
      in: query
      required: false
      schema:
        type: string
      description: "Fiscal period start expressed in absolute date formats. Date that will fall back to most recent completed period during resolution.\n  * **Fiscal Quarter-end** - YYYY/FQ (e.g., 2019/1F, 2019/2F, 2019/3F, 2019/4F)\n  * **Fiscal Year-end** - YYYY (e.g. 2019)\n"
      example: '2019'
    periodicity:
      name: periodicity
      in: query
      required: false
      schema:
        type: string
        enum:
        - ANN
        - QTR
        - SEMI
        - NTMA
        - LTMA
        default: ANN
      description: "The periodicity for the estimates requested, allowing you to fetch Quarterly, Semi-Annual, Annual, and NTMA/LTMA Estimates.\n  * **ANN** - Annual\n  * **QTR** - Quarterly\n  * **SEMI** - Semi-Annual \n  * **NTMA** - Next-Twelve-Months - Time-weighted Annual. Estimates use a percentage of annual estimates from two fiscal years to create an estimate based on the 12-month period. Visit [OA 16614](https://my.apps.factset.com/oa/pages/16614)\nfor detail.\n  * **LTMA** - Last-Twelve-Months - Time-weighted Annual. Estimates use a percentage of annual estimates from two fiscal years to create an estimate based on the 12-month period. Visit [OA 16614](https://my.apps.factset.com/oa/pages/16614)\nfor detail.\n  \n"
    metrics:
      name: metrics
      in: query
      required: true
      schema:
        type: array
        items:
          type: string
          example: SALES
        minItems: 1
      explode: false
      description: 'Requested metrics. Use the /metrics endpoint to return a list of available estimate items. Note, the number of metrics you are allowed to supply is limited to 1 for now. **Top 10** most used metrics are **EPS, SALES, DPS, EBITDA,EBIT, PRICE_TGT, CFPS, BPS, NET_INC, and ASSETS**.  For more details, visit [Online Assistant Page #15034](https://oa.apps.factset.com/pages/15034).

        '
      examples:
        Metric:
          summary: Metrics
          value:
          - SALES
    endDate_2:
      name: endDate
      in: query
      required: false
      schema:
        type: string
      description: 'The end date requested for a given date range in **YYYY-MM-DD** format. If left blank, the API will default to previous close. Future dates (T+1) are not accepted in this endpoint.

        '
      example: '2019-12-31'
    startDate:
      name: startDate
      in: query
      required: false
      schema:
        type: string
      description: Start date for point in time of estimates expressed in YYYY-MM-DD format.
      example: '2019-07-30'
    endDate:
      name: endDate
      in: query
      required: false
      schema:
        type: string
      description: End date for point in time of estimates expressed in YYYY-MM-DD format.
      example: '2020-07-30'
    currency:
      name: currency
      in: query
      required: false
      schema:
        type: string
      description: 'Currency code for adjusting the data. Use ''ESTIMATE'' as input value for the values in Estimate Currency. For a list of currency ISO codes, visit [Online Assistant Page #1470](https://oa.apps.factset.com/pages/1470).'
      example: USD
    fiscalPeriodEnd:
      name: fiscalPeriodEnd
      in: query
      required: false
      schema:
        type: string
      description: "Fiscal period start expressed in absolute date formats. Date that will fall back to most recent completed period during resolution.\n  * **Fiscal Quarter-end** - YYYY/FQ (e.g., 2019/1F, 2019/2F, 2019/3F, 2019/4F)\n  * **Fiscal Year-end** - YYYY (e.g. 2019)\n"
      example: '2020'
    includeAll:
      name: includeAll
      in: query
      schema:
        type: boolean
        default: false
      required: false
      description: "Include All filter is used to identify included and excluded broker details from the consensus\n  By default the service would return only the brokers included in the consensus-\n  * **TRUE** = Returns all the brokers included and excluded in the consensus\n  * **FALSE** = Returns only the broker details included in the consensus\n  \n"
    periodicityDetail:
      name: periodicity
      in: query
      required: false
      schema:
        type: string
        enum:
        - ANN
        - QTR
        - SEMI
        default: ANN
      description: "The periodicity for the estimates requested, allowing you to fetch Quarterly, Semi-Annual, and Annual Estimates.\n  * **ANN** - Annual\n  * **QTR** - Quarterly\n  * **SEMI** - Semi-Annual \n"
    fixedIds:
      name: ids
      in: query
      schema:
        type: array
        items:
          type: string
        minItems: 1
        maxItems: 2000
      required: true
      explode: false
      description: The requested list of Fixed Income security identifiers. <p>***ids limit** =  2000 per request*</p> *<p>Make note, GET Method URL request lines are also limited to a total length of 8192 bytes (8KB). In cases where the service allows for thousands of ids, which may lead to exceeding this request line limit of 8KB, its advised for any requests with large request lines to be requested through the respective "POST" method.</p>*
      examples:
        oneFixedId:
          summary: One Fixed Income Identifier
          value:
          - 037833BX
        multipleFixedIds:
          summary: Multiple Fixed Income Identifiers and Types
          value:
          - 037833BX
          - 853207EZ
          - 9127963H
  responses:
    '401':
      description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and have successfully generated an API KEY for the IP range you are connecting from. For more help, select the **Report Issue** in the top right corner of this Developer Portal specification card and choose Connectivity 401 or 403 Responses.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponse'
          examples:
            Bad Request - Date Format:
              $ref: '#/components/examples/unauthenticated'
    '415':
      description: Unsupported Media Type. This error may be returned when the caller sends a resource in a format that is not accepted by the server. This can be fixed by ensuring that Content-Type header is set to the correct value. In this instance, "application/json" would be the appropriate value.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponse'
          examples:
            Bad Request - Date Format:
              $ref: '#/components/examples/unsupportedMediaType'
    '403':
      description: The USERNAME-SERIAL attempted to request the endpoint is not authorized to access. The request was a legal request, but the server is refusing to respond. Please reach out to FactSet Account Team for assistance with authorization.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponse'
          examples:
            Bad Request - Date Format:
              $ref: '#/components/examples/forbidden'
    '500':
      description: Internal Server Error.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponse'
          examples:
            Internal Server Error - Not Writable:
              $ref: '#/components/examples/notWritable'
            Internal Server Error - General Exception:
              $ref: '#/components/examples/generalException'
    '400':
      description: Bad Request. This can occur for several reasons. Please review the "message" for more details.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponse'
          examples:
            Bad Request - Date Format:
              $ref: '#/components/examples/badRequestDateFormat'
            Bad Request - Missing Required Parameter:
              $ref: '#/components/examples/badRequestRequiredParameter'
            Bad Request - Future Date:
              $ref: '#/components/examples/badRequestFutureDate'
            Bad Request - Invalid Parameter:
              $ref: '#/components/examples/badRequestInvalidParameters'
            Bad Request - Malformed JSON:
              $ref: '#/components/examples/badRequestMalformedJSON'
            Bad Request - Read Timeout:
              $ref: '#/components/examples/badRequestReadTimeout'
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
externalDocs:
  url: https://developer.factset.com/api-catalog/analytics-datastore-api
  description: API Documentation
