openapi: 3.0.3
info:
  title: Factset Analytics Datastore About Record API
  description: Allow clients to fetch precalculated Analytics through predeterministic URLs.
  contact:
    name: FactSet Research Systems
    url: https://developer.factset.com/contact
    email: api@factset.com
  license:
    name: Apache License, Version 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  version: 1.0.0
servers:
- url: https://api.factset.com
  description: Production
- url: https://api-sandbox.factset.com
  description: Sandbox
security:
- basicAuth: []
tags:
- name: Record
paths:
  /v1/meetings/{meetingId}/events/{recordEventId}:
    get:
      tags:
      - Record
      summary: Factset Get Details of a Record Event of a Meeting
      operationId: GetRecordEvent
      parameters:
      - name: meetingId
        in: path
        description: Meeting Id
        required: true
        schema:
          type: string
          format: uuid
      - name: recordEventId
        in: path
        description: Record Event Id
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeetingEventDto'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v1/notes/{noteId}/events/{recordEventId}:
    get:
      tags:
      - Record
      summary: Factset Get Details of a Record Event of a Note
      operationId: GetRecordEvent
      parameters:
      - name: noteId
        in: path
        description: Note Id
        required: true
        schema:
          type: string
          format: uuid
      - name: recordEventId
        in: path
        description: Record Event Id
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoteEventDto'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    RecordChangeDto:
      type: object
      properties:
        field:
          type: string
          nullable: true
          example: example_value
        operation:
          type: string
          nullable: true
          example: example_value
        oldValue:
          type: string
          nullable: true
          example: example_value
        newValue:
          type: string
          nullable: true
          example: example_value
        oldList:
          type: array
          items:
            type: string
          nullable: true
          example: []
        newList:
          type: array
          items:
            type: string
          nullable: true
          example: []
      additionalProperties: false
    MeetingEventDto:
      type: object
      properties:
        createdAt:
          type: string
          nullable: true
          example: example_value
        type:
          type: string
          nullable: true
          example: example_value
        user:
          type: string
          nullable: true
          example: example_value
        changeList:
          type: array
          items:
            $ref: '#/components/schemas/RecordChangeDto'
          nullable: true
          example: []
      additionalProperties: false
    ProblemDetails:
      type: object
      properties:
        type:
          type: string
          nullable: true
          example: example_value
        title:
          type: string
          nullable: true
          example: Example Title
        status:
          type: integer
          format: int32
          nullable: true
          example: 10
        detail:
          type: string
          nullable: true
          example: example_value
        instance:
          type: string
          nullable: true
          example: example_value
      additionalProperties: {}
    NoteEventDto:
      type: object
      properties:
        createdAt:
          type: string
          nullable: true
          example: example_value
        type:
          type: string
          nullable: true
          example: example_value
        user:
          type: string
          nullable: true
          example: example_value
        comment:
          type: string
          nullable: true
          example: example_value
        changeList:
          type: array
          items:
            $ref: '#/components/schemas/RecordChangeDto'
          nullable: true
          example: []
      additionalProperties: false
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
externalDocs:
  url: https://developer.factset.com/api-catalog/analytics-datastore-api
  description: API Documentation
