openapi: 3.0.3
info:
  title: Factset Analytics Datastore About Account API
  description: Allow clients to fetch precalculated Analytics through predeterministic URLs.
  contact:
    name: FactSet Research Systems
    url: https://developer.factset.com/contact
    email: api@factset.com
  license:
    name: Apache License, Version 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  version: 1.0.0
servers:
- url: https://api.factset.com
  description: Production
- url: https://api-sandbox.factset.com
  description: Sandbox
security:
- basicAuth: []
tags:
- name: Account
paths:
  /analytics/pub-datastore/swivel/v1/{document}/{accountId}/{date}:
    get:
      tags:
      - Account
      summary: Factset Redirects to the Raw Ppt/pdf Output Created by the Publisher Service.
      description: "Takes report parameter inputs and returns the object location for the specified report via a 302 redirect.\r\n\r\nNote: Due to Swagger UI functionality, the redirect is automatically followed when using 'Try it out', so instead of the 302 Header response, a 200 is returned with the Cargo response Body."
      operationId: getPdfPptMapping
      parameters:
      - name: document
        in: path
        description: The Publisher document containing the report
        required: true
        schema:
          type: string
        example: Analytics_Datastore
      - name: accountId
        in: path
        description: The account ID
        required: true
        schema:
          type: string
        example: LARGE_CORE
      - name: date
        in: path
        description: The as of date for the report
        required: true
        schema:
          type: string
          format: date
        example: '2023-01-01'
      responses:
        '302':
          description: Expected response, contains the Cargo URL in the Location header.
          headers:
            Location:
              description: "Redirect URL to get Cargo object. \r\n\n(example: https://api.factset.com/analytics/datastore/cargo/v1/groups/a4186c50f8e74f979d271dd22298c901/objects/fe875bc4150542dea6bc237663a01a0d)"
              schema:
                type: string
            X-DataDirect-Request-Key:
              description: FactSets request key header.
              schema:
                type: string
        '400':
          description: Invalid parameter provided.
          headers:
            X-DataDirect-Request-Key:
              description: FactSets request key header.
              schema:
                type: string
        '401':
          description: Missing or invalid authentication.
          headers:
            X-DataDirect-Request-Key:
              description: FactSets request key header.
              schema:
                type: string
        '403':
          description: User is forbidden with current credentials
          headers:
            X-DataDirect-Request-Key:
              description: FactSets request key header.
              schema:
                type: string
        '404':
          description: The provided request does not exist.
          headers:
            X-DataDirect-Request-Key:
              description: FactSets request key header.
              schema:
                type: string
        '500':
          description: Server error. Log the X-DataDirect-Request-Key header to assist in troubleshooting
          headers:
            X-DataDirect-Request-Key:
              description: FactSets request key header.
              schema:
                type: string
        '503':
          description: Request timed out. Retry the request in sometime.
          headers:
            X-DataDirect-Request-Key:
              description: FactSets request key header.
              schema:
                type: string
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /analytics/pub-datastore/swivel/v1/{document}/{assetName}/{reportId}/{tileId}/{accountId}:
    get:
      tags:
      - Account
      summary: Factset Redirects to the Underlying Pa/spar Data Represented in a Stach Format, With No as of Date Specified.
      description: "Takes report parameter inputs and returns the object location for the specified report via a 302 redirect.\r\n\r\nNote: Due to Swagger UI functionality, the redirect is automatically followed when using 'Try it out', so instead of the 302 Header response, a 200 is returned with the Cargo response Body."
      operationId: getStachMappingNoDate
      parameters:
      - name: document
        in: path
        description: The Publisher or Analytics Datafeed document containing the report
        required: true
        schema:
          type: string
        example: Analytics_Datastore
      - name: assetName
        in: path
        description: The PA/SPAR asset name and extension
        required: true
        schema:
          type: string
        example: ADS_Demo.PA3
      - name: reportId
        in: path
        description: The PA/SPAR report ID
        required: true
        schema:
          type: string
        example: report7
      - name: tileId
        in: path
        description: The PA/SPAR tile ID
        required: true
        schema:
          type: string
        example: tile0
      - name: accountId
        in: path
        description: The account ID
        required: true
        schema:
          type: string
        example: LARGE_CORE
      responses:
        '302':
          description: Expected response, contains the Cargo URL in the Location header.
          headers:
            Location:
              description: "Redirect URL to get Cargo object. \r\n\n(example: https://api.factset.com/analytics/datastore/cargo/v1/groups/a4186c50f8e74f979d271dd22298c901/objects/fe875bc4150542dea6bc237663a01a0d)"
              schema:
                type: string
            X-DataDirect-Request-Key:
              description: FactSets request key header.
              schema:
                type: string
        '400':
          description: Invalid parameter provided.
          headers:
            X-DataDirect-Request-Key:
              description: FactSets request key header.
              schema:
                type: string
        '401':
          description: Missing or invalid authentication.
          headers:
            X-DataDirect-Request-Key:
              description: FactSets request key header.
              schema:
                type: string
        '403':
          description: User is forbidden with current credentials
          headers:
            X-DataDirect-Request-Key:
              description: FactSets request key header.
              schema:
                type: string
        '404':
          description: The provided request does not exist.
          headers:
            X-DataDirect-Request-Key:
              description: FactSets request key header.
              schema:
                type: string
        '500':
          description: Server error. Log the X-DataDirect-Request-Key header to assist in troubleshooting
          headers:
            X-DataDirect-Request-Key:
              description: FactSets request key header.
              schema:
                type: string
        '503':
          description: Request timed out. Retry the request in sometime.
          headers:
            X-DataDirect-Request-Key:
              description: FactSets request key header.
              schema:
                type: string
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /analytics/pub-datastore/swivel/v1/{document}/{assetName}/{reportId}/{tileId}/{accountId}/{date}:
    get:
      tags:
      - Account
      summary: Factset Redirects to the Underlying Pa/spar Data Represented in a Stach Format.
      description: "Takes report parameter inputs and returns the object location for the specified report via a 302 redirect.\r\n\r\nNote: Due to Swagger UI functionality, the redirect is automatically followed when using 'Try it out', so instead of the 302 Header response, a 200 is returned with the Cargo response Body."
      operationId: getStachMapping
      parameters:
      - name: document
        in: path
        description: The Publisher or Analytics Datafeed document containing the report
        required: true
        schema:
          type: string
        example: Analytics_Datastore
      - name: assetName
        in: path
        description: The PA/SPAR asset name and extension
        required: true
        schema:
          type: string
        example: ADS_Demo.PA3
      - name: reportId
        in: path
        description: The PA/SPAR report ID
        required: true
        schema:
          type: string
        example: report7
      - name: tileId
        in: path
        description: The PA/SPAR tile ID
        required: true
        schema:
          type: string
        example: tile0
      - name: accountId
        in: path
        description: The account ID
        required: true
        schema:
          type: string
        example: LARGE_CORE
      - name: date
        in: path
        description: The as of date for the report
        required: true
        schema:
          type: string
          format: date
        example: '2023-01-01'
      responses:
        '302':
          description: Expected response, contains the Cargo URL in the Location header.
          headers:
            Location:
              description: "Redirect URL to get Cargo object. \r\n\n(example: https://api.factset.com/analytics/datastore/cargo/v1/groups/a4186c50f8e74f979d271dd22298c901/objects/fe875bc4150542dea6bc237663a01a0d)"
              schema:
                type: string
            X-DataDirect-Request-Key:
              description: FactSets request key header.
              schema:
                type: string
        '400':
          description: Invalid parameter provided.
          headers:
            X-DataDirect-Request-Key:
              description: FactSets request key header.
              schema:
                type: string
        '401':
          description: Missing or invalid authentication.
          headers:
            X-DataDirect-Request-Key:
              description: FactSets request key header.
              schema:
                type: string
        '403':
          description: User is forbidden with current credentials
          headers:
            X-DataDirect-Request-Key:
              description: FactSets request key header.
              schema:
                type: string
        '404':
          description: The provided request does not exist.
          headers:
            X-DataDirect-Request-Key:
              description: FactSets request key header.
              schema:
                type: string
        '500':
          description: Server error. Log the X-DataDirect-Request-Key header to assist in troubleshooting
          headers:
            X-DataDirect-Request-Key:
              description: FactSets request key header.
              schema:
                type: string
        '503':
          description: Request timed out. Retry the request in sometime.
          headers:
            X-DataDirect-Request-Key:
              description: FactSets request key header.
              schema:
                type: string
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /analytics/pub-datastore/swivel/v1/{document}/{assetName}/{reportId}/{tileId}/{accountId}/{configId}/{date}:
    get:
      tags:
      - Account
      summary: Factset Redirects to the Underlying Insight/vault Data in a Stach Format.
      description: "The inclusion of a configId in the path indicates this is for Insight/Vault mappings only, as PA/SPAR mappings do not support the concept of configuration id.\r\n\r\nTakes report parameter inputs and returns the object location for the specified report via a 302 redirect.\r\n\r\nNote: Due to Swagger UI functionality, the redirect is automatically followed when using 'Try it out', so instead of the 302 Header response, a 200 is returned with the Cargo response Body."
      operationId: getInsightMapping
      parameters:
      - name: document
        in: path
        description: The Analytics Datafeed document containing the report
        required: true
        schema:
          type: string
        example: Analytics_Datastore
      - name: assetName
        in: path
        description: The PA/SPAR asset name and extension
        required: true
        schema:
          type: string
        example: ADS_Demo.PA3
      - name: reportId
        in: path
        description: The PA/SPAR report ID
        required: true
        schema:
          type: string
        example: report7
      - name: tileId
        in: path
        description: The PA/SPAR tile ID
        required: true
        schema:
          type: string
        example: tile0
      - name: accountId
        in: path
        description: The account ID
        required: true
        schema:
          type: string
        example: LARGE_CORE
      - name: configId
        in: path
        description: The Vault configuration ID
        required: true
        schema:
          type: string
        example: acb5150d-4333-49e7-8e33-4f7fa749691e
      - name: date
        in: path
        description: The as of date for the report
        required: true
        schema:
          type: string
          format: date
        example: '2023-01-01'
      responses:
        '302':
          description: Expected response, contains the Cargo URL in the Location header.
          headers:
            Location:
              description: "Redirect URL to get Cargo object. \r\n\n(example: https://api.factset.com/analytics/datastore/cargo/v1/groups/a4186c50f8e74f979d271dd22298c901/objects/fe875bc4150542dea6bc237663a01a0d)"
              schema:
                type: string
            X-DataDirect-Request-Key:
              description: FactSets request key header.
              schema:
                type: string
        '400':
          description: Invalid parameter provided.
          headers:
            X-DataDirect-Request-Key:
              description: FactSets request key header.
              schema:
                type: string
        '401':
          description: Missing or invalid authentication.
          headers:
            X-DataDirect-Request-Key:
              description: FactSets request key header.
              schema:
                type: string
        '403':
          description: User is forbidden with current credentials
          headers:
            X-DataDirect-Request-Key:
              description: FactSets request key header.
              schema:
                type: string
        '404':
          description: The provided request does not exist.
          headers:
            X-DataDirect-Request-Key:
              description: FactSets request key header.
              schema:
                type: string
        '500':
          description: Server error. Log the X-DataDirect-Request-Key header to assist in troubleshooting
          headers:
            X-DataDirect-Request-Key:
              description: FactSets request key header.
              schema:
                type: string
        '503':
          description: Request timed out. Retry the request in sometime.
          headers:
            X-DataDirect-Request-Key:
              description: FactSets request key header.
              schema:
                type: string
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /account-composite:
    post:
      operationId: createAccountComposite
      description: Create a new account composite
      tags:
      - Account
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createAccountCompositeRequest'
      responses:
        '201':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createAccountCompositeResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '403':
          $ref: '#/components/responses/ForbiddenErrorResponse'
        '406':
          $ref: '#/components/responses/NotAcceptableErrorResponse'
        '409':
          $ref: '#/components/responses/ConflictErrorResponse'
        '415':
          $ref: '#/components/responses/UnsupportedMediaTypeErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        '501':
          $ref: '#/components/responses/NotImplementedErrorResponse'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    get:
      operationId: listAccountComposite
      description: List account composite
      tags:
      - Account
      parameters:
      - name: path
        in: query
        required: false
        schema:
          type: string
          default: 'Client:'
          example: string
        description: Directory to list
      - name: name
        in: query
        required: false
        schema:
          type: string
          example: string
        description: Return only files whose name includes this query
      - name: description
        in: query
        required: false
        schema:
          type: string
          example: string
        description: Return only files whose name includes this query
      - name: _paginationLimit
        in: query
        required: false
        schema:
          type: number
          default: 100
          example: 0
        description: Number of directory items to return
      - name: _paginationCursor
        in: query
        required: false
        schema:
          type: string
          example: string
        description: Cursor used for paging.  Fetch items after the specified cursor
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAccountCompositeResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '403':
          $ref: '#/components/responses/ForbiddenErrorResponse'
        '404':
          $ref: '#/components/responses/NotFoundErrorResponse'
        '406':
          $ref: '#/components/responses/NotAcceptableErrorResponse'
        '415':
          $ref: '#/components/responses/UnsupportedMediaTypeErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        '501':
          $ref: '#/components/responses/NotImplementedErrorResponse'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /account-composite/{id}:
    delete:
      operationId: deleteAccountComposite
      description: Remove a account composite
      tags:
      - Account
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          example: 270c2fa8-9110-444b-9101-17e10132fe0a
        description: Unique identifier for the account composite to be deleted
        example: 270c2fa8-9110-444b-9101-17e10132fe0a
      - name: reason
        in: query
        required: false
        schema:
          type: string
          example: string
        description: User auditable reason that the account composite is being removed
      responses:
        '204':
          description: Success
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '403':
          $ref: '#/components/responses/ForbiddenErrorResponse'
        '404':
          $ref: '#/components/responses/NotFoundErrorResponse'
        '406':
          $ref: '#/components/responses/NotAcceptableErrorResponse'
        '409':
          $ref: '#/components/responses/ConflictErrorResponse'
        '415':
          $ref: '#/components/responses/UnsupportedMediaTypeErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        '501':
          $ref: '#/components/responses/NotImplementedErrorResponse'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    get:
      operationId: readAccountComposite
      description: Read a account composite
      tags:
      - Account
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          example: 270c2fa8-9110-444b-9101-17e10132fe0a
        description: Unique identifier of the account composite to be read
        example: 270c2fa8-9110-444b-9101-17e10132fe0a
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/readAccountCompositeResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '403':
          $ref: '#/components/responses/ForbiddenErrorResponse'
        '404':
          $ref: '#/components/responses/NotFoundErrorResponse'
        '406':
          $ref: '#/components/responses/NotAcceptableErrorResponse'
        '415':
          $ref: '#/components/responses/UnsupportedMediaTypeErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        '501':
          $ref: '#/components/responses/NotImplementedErrorResponse'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      operationId: updateAccountComposite
      description: Modify a account composite
      tags:
      - Account
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          example: 270c2fa8-9110-444b-9101-17e10132fe0a
        description: Unique identifier for the account composite to be updated
        example: 270c2fa8-9110-444b-9101-17e10132fe0a
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateAccountCompositeRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/updateAccountCompositeResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '403':
          $ref: '#/components/responses/ForbiddenErrorResponse'
        '404':
          $ref: '#/components/responses/NotFoundErrorResponse'
        '406':
          $ref: '#/components/responses/NotAcceptableErrorResponse'
        '415':
          $ref: '#/components/responses/UnsupportedMediaTypeErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        '501':
          $ref: '#/components/responses/NotImplementedErrorResponse'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /account:
    post:
      operationId: createAccount
      description: Create a new account
      tags:
      - Account
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createAccountRequest'
      responses:
        '201':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createAccountResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '403':
          $ref: '#/components/responses/ForbiddenErrorResponse'
        '406':
          $ref: '#/components/responses/NotAcceptableErrorResponse'
        '409':
          $ref: '#/components/responses/ConflictErrorResponse'
        '415':
          $ref: '#/components/responses/UnsupportedMediaTypeErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        '501':
          $ref: '#/components/responses/NotImplementedErrorResponse'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    get:
      operationId: listAccount
      description: List account
      tags:
      - Account
      parameters:
      - name: path
        in: query
        required: false
        schema:
          type: string
          default: 'Client:'
          example: string
        description: Directory to list
      - name: name
        in: query
        required: false
        schema:
          type: string
          example: string
        description: Return only files whose name includes this query
      - name: description
        in: query
        required: false
        schema:
          type: string
          example: string
        description: Return only files whose name includes this query
      - name: _paginationLimit
        in: query
        required: false
        schema:
          type: number
          default: 100
          example: 0
        description: Number of directory items to return
      - name: _paginationCursor
        in: query
        required: false
        schema:
          type: string
          example: string
        description: Cursor used for paging.  Fetch items after the specified cursor
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAccountResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '403':
          $ref: '#/components/responses/ForbiddenErrorResponse'
        '404':
          $ref: '#/components/responses/NotFoundErrorResponse'
        '406':
          $ref: '#/components/responses/NotAcceptableErrorResponse'
        '415':
          $ref: '#/components/responses/UnsupportedMediaTypeErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        '501':
          $ref: '#/components/responses/NotImplementedErrorResponse'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /account/{id}:
    delete:
      operationId: deleteAccount
      description: Remove a account
      tags:
      - Account
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          example: 270c2fa8-9110-444b-9101-17e10132fe0a
        description: Unique identifier for the account to be deleted
        example: 270c2fa8-9110-444b-9101-17e10132fe0a
      - name: reason
        in: query
        required: false
        schema:
          type: string
          example: string
        description: User auditable reason that the account is being removed
      responses:
        '204':
          description: Success
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '403':
          $ref: '#/components/responses/ForbiddenErrorResponse'
        '404':
          $ref: '#/components/responses/NotFoundErrorResponse'
        '406':
          $ref: '#/components/responses/NotAcceptableErrorResponse'
        '409':
          $ref: '#/components/responses/ConflictErrorResponse'
        '415':
          $ref: '#/components/responses/UnsupportedMediaTypeErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        '501':
          $ref: '#/components/responses/NotImplementedErrorResponse'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    get:
      operationId: readAccount
      description: Read a account
      tags:
      - Account
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          example: 270c2fa8-9110-444b-9101-17e10132fe0a
        description: Unique identifier of the account to be read
        example: 270c2fa8-9110-444b-9101-17e10132fe0a
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/readAccountResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '403':
          $ref: '#/components/responses/ForbiddenErrorResponse'
        '404':
          $ref: '#/components/responses/NotFoundErrorResponse'
        '406':
          $ref: '#/components/responses/NotAcceptableErrorResponse'
        '415':
          $ref: '#/components/responses/UnsupportedMediaTypeErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        '501':
          $ref: '#/components/responses/NotImplementedErrorResponse'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      operationId: updateAccount
      description: Modify a account
      tags:
      - Account
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          example: 270c2fa8-9110-444b-9101-17e10132fe0a
        description: Unique identifier for the account to be updated
        example: 270c2fa8-9110-444b-9101-17e10132fe0a
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateAccountRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/updateAccountResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '403':
          $ref: '#/components/responses/ForbiddenErrorResponse'
        '404':
          $ref: '#/components/responses/NotFoundErrorResponse'
        '406':
          $ref: '#/components/responses/NotAcceptableErrorResponse'
        '415':
          $ref: '#/components/responses/UnsupportedMediaTypeErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        '501':
          $ref: '#/components/responses/NotImplementedErrorResponse'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /analytics/engines/spar/v3/accounts/{accountPath}/returns-type:
    get:
      tags:
      - Account
      summary: Factset Get Spar Account Returns Type Details
      description: This endpoint returns the returns type of account associated with SPAR
      operationId: getSPARReturnsType
      parameters:
      - name: accountPath
        in: path
        description: URL encoded account path
        required: true
        schema:
          type: string
          description: URL encoded account path
      responses:
        '200':
          description: Expected response, returns the list of return types for the account.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SPARAccountsRoot'
        '400':
          description: Invalid account.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
        '401':
          description: Missing or invalid authentication.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
        '403':
          description: User is forbidden with current credentials
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              schema:
                type: string
        '404':
          description: Account not found.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
        '406':
          description: Unsupported Accept header. Header needs to be set to application/json.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              schema:
                type: string
        '429':
          description: Rate limit reached. Wait till the time specified in Retry-After header value to make further requests.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
            Retry-After:
              description: Time to wait in seconds before making a new request as the rate limit has reached.
              schema:
                type: string
        '500':
          description: Server error. Log the X-DataDirect-Request-Key header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
        '503':
          description: Request timed out. Retry the request in sometime.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    readAccountCompositeResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            type:
              type: string
              enum:
              - AccountComposite
              nullable: false
              description: Metadata file type formatted for consistency with the REST api
            id:
              type: string
              nullable: false
              description: Unique identifier for this metadata file.
              example: 9a030822-d1ee-4fc0-a598-75e65d1512fd
            display:
              type: string
              nullable: false
              description: The GUI path of this file, including the name and extension.
              example: Client:EXAMPLE.ACTM
            path:
              type: string
              nullable: false
              description: The GUI path to this object.
              example: 'Client:'
            name:
              type: string
              nullable: false
              description: Name of this file object including the extension.
              example: EXAMPLE.ACTM
            description:
              type: string
              nullable: true
              description: User provided description of this file.
              example: Domestic equity composite
            dataCatalog:
              type: object
              properties:
                holdings:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - BLENDED
                      - FIXED_DOLLAR
                      - FLOATING
                      - GIPS
                      - SIMPLE
                      nullable: false
                      description: The type of composite.  Determines how component weights are interpreted
                    methodology:
                      type: string
                      enum:
                      - BUY_AND_HOLD
                      - ORDER_MANAGMENT_SYSTEM
                      - TRANSACTIONS
                      nullable: false
                      description: The holdings methodology to apply when reading this account's holdings data.
                    rebalance:
                      type: object
                      properties:
                        frequency:
                          type: string
                          enum:
                          - ANNUALLY
                          - BUY_AND_HOLD
                          - WEEKLY
                          - MONTHLY
                          - QUARTERLY
                          - SEMI_ANNUALLY
                          - CONSTANTLY
                          - DAILY
                          nullable: false
                        start:
                          type: string
                          enum:
                          - SPECIFIC_POINT
                          - LATEST_FREQUENCY_END
                          - REPORT_START_DATE
                          nullable: false
                        month:
                          type: string
                          enum:
                          - APRIL
                          - AUGUST
                          - DECEMBER
                          - FEBRUARY
                          - JANUARY
                          - JULY
                          - JUNE
                          - MARCH
                          - MAY
                          - NOVEMBER
                          - OCTOBER
                          - SEPTEMBER
                          nullable: false
                        dayOfMonth:
                          type: string
                          nullable: false
                        date:
                          type: string
                          nullable: false
                        quarters:
                          type: string
                          enum:
                          - FEBRUARY_MAY_AUGUST_NOVEMBER
                          - JANUARY_APRIL_JULY_OCTOBER
                          - MARCH_JUNE_SEPTEMBER_DECEMBER
                          nullable: false
                        useActualFrequencies:
                          type: boolean
                          nullable: false
                        periods:
                          type: string
                          enum:
                          - APRIL_OCTOBER
                          - FEBRUARY_AUGUST
                          - JANUARY_JULY
                          - JUNE_DECEMBER
                          - MARCH_SEPTEMBER
                          - MAY_NOVEMBER
                          nullable: false
                        dayOfWeek:
                          type: string
                          enum:
                          - FRIDAY
                          - MONDAY
                          - SATURDAY
                          - SUNDAY
                          - THURSDAY
                          - TUESDAY
                          - WEDNESDAY
                          nullable: false
                      nullable: false
                      description: Settings used to determine how a composite's components are rebalanced.
                      example:
                        frequency: DAILY
                    components:
                      type: object
                      properties:
                        all:
                          type: array
                          items:
                            type: object
                            properties:
                              startDate:
                                type: string
                                nullable: false
                                description: 'First date the data is valid.  If using the EARLIEST date in the report, this

                                  will be set to 0000-01-01'
                                example: '2022-01-01'
                              endDate:
                                type: string
                                nullable: false
                                description: 'Last date the data is valid.  If using the LATEST date in the report, this

                                  will be set to 9999-12-31'
                                example: '2022-01-31'
                              weight:
                                type: number
                                nullable: false
                                example: 10
                              isSpar:
                                type: boolean
                                nullable: false
                              portfolio:
                                type: object
                                properties:
                                  type:
                                    type: string
                                    enum:
                                    - Account
                                    - AccountComposite
                                    - Forbidden
                                    - HoldingsComposite
                                    - Returns
                                    - ReturnsComposite
                                    - Vendor
                                    nullable: false
                                    description: Metadata file type formatted for consistency with the REST api
                                  id:
                                    type: string
                                    nullable: false
                                    description: Unique identifier for this metadata file.
                                    example: BENCH:SP50
                                  display:
                                    type: string
                                    nullable: false
                                    description: String suitable for display in a UI.
                                    example: Client:EXAMPLE.CSTM
                                nullable: false
                            nullable: false
                          description: Raw component, time range list
                      nullable: false
                      description: 'A holdings portfolio or vendor benchmark to use as this accounts''s holdings

                        data.'
                  nullable: true
                  description: Describes the location of the account's holdings data containers.
                returns:
                  type: object
                  properties:
                    primaryType:
                      type: string
                      enum:
                      - CAPITAL
                      - GROSS
                      - NET
                      - NET_AFTER_TAX
                      - NET_INCOME
                      - OTHER_1
                      - OTHER_2
                      - OTHER_3
                      - OTHER_4
                      - PRIVATE_EQUITY_GROSS
                      - PRIVATE_EQUITY_NET
                      - REAL_ESTATE_TOTAL
                      nullable: false
                      description: The type of the default return series portfolio used for this account.
                      example: NET
                    net:
                      type: object
                      properties:
                        portfolio:
                          type: object
                          properties:
                            type:
                              type: string
                              enum:
                              - Account
                              - AccountComposite
                              - Forbidden
                              - Returns
                              - ReturnsComposite
                              - Vendor
                              nullable: false
                              description: Metadata file type formatted for consistency with the REST api
                            id:
                              type: string
                              nullable: false
                              description: Unique identifier for this metadata file.
                              example: BENCH:SP50
                            display:
                              type: string
                              nullable: false
                              description: String suitable for display in a UI.
                              example: Client:EXAMPLE.CSTM
                          nullable: false
                      nullable: true
                      description: 'Reference to the NET returns portfolio directly.  NOTE: this portfolio is

                        included in the portfolios field above as well.'
                    gross:
                      type: object
                      properties:
                        portfolio:
                          type: object
                          properties:
                            type:
                              type: string
                              enum:
                              - Account
                              - AccountComposite
                              - Forbidden
                              - Returns
                              - ReturnsComposite
                              - Vendor
                              nullable: false
                              description: Metadata file type formatted for consistency with the REST api
                            id:
                              type: string
                              nullable: false
                              description: Unique identifier for this metadata file.
                              example: BENCH:SP50
                            display:
                              type: string
                              nullable: false
                              description: String suitable for display in a UI.
                              example: Client:EXAMPLE.CSTM
                          nullable: false
                      nullable: true
                      description: 'Reference to the GROSS returns portfolio directly.  NOTE: this portfolio is

                        included in the portfolios field above as well.'
                    other1:
                      type: object
                      properties:
                        portfolio:
                          type: object
                          properties:
                            type:
                              type: string
                              enum:
                              - Account
                              - AccountComposite
                              - Forbidden
                              - Returns
                              - ReturnsComposite
                              - Vendor
                              nullable: false
                              description: Metadata file type formatted for consistency with the REST api
                            id:
                              type: string
                              nullable: false
                              description: Unique identifier for this metadata file.
                              example: BENCH:SP50
                            display:
                              type: string
                              nullable: false
                              description: String suitable for display in a UI.
                              example: Client:EXAMPLE.CSTM
                          nullable: false
                      nullable: true
                      description: 'Reference to the OTHER1 returns portfolio directly.  NOTE: this portfolio is

                        included in the portfolios field above as well.'
                    other2:
                      type: object
                      properties:
                        portfolio:
                          type: object
                          properties:
                            type:
                              type: string
                              enum:
                              - Account
                              - AccountComposite
                              - Forbidden
                              - Returns
                              - ReturnsComposite
                              - Vendor
                              nullable: false
                              description: Metadata file type formatted for consistency with the REST api
                            id:
                              type: string
                              nullable: false
                              description: Unique identifier for this metadata file.
                              example: BENCH:SP50
                            display:
                              type: string
                              nullable: false
                              description: String suitable for display in a UI.
                              example: Client:EXAMPLE.CSTM
                          nullable: false
                      nullable: true
                      description: 'Reference to the OTHER2 returns portfolio directly.  NOTE: this portfolio is

                        included in the portfolios field above as well.'
                    other3:
                      type: object
                      properties:
                        portfolio:
                          type: object
                          properties:
                            type:
                              type: string
                              enum:
                              - Account
                              - AccountComposite
                              - Forbidden
                              - Returns
                              - ReturnsComposite
                              - Vendor
                              nullable: false
                              description: Metadata file type formatted for consistency with the REST api
                            id:
                              type: string
                              nullable: false
                              description: Unique identifier for this metadata file.
                              example: BENCH:SP50
                            display:
                              type: string
                              nullable: false
                              description: String suitable for display in a UI.
                              example: Client:EXAMPLE.CSTM
                          nullable: false
                      nullable: true
                      description: 'Reference to the OTHER3 returns portfolio directly.  NOTE: this portfolio is

                        included in the portfolios field above as well.'
                    other4:
                      type: object
                      properties:
                        portfolio:
                          type: object
                          properties:
                            type:
                              type: string
                              enum:
                              - Account
                              - AccountComposite
                              - Forbidden
                              - Returns
                              - ReturnsComposite
                              - Vendor
                              nullable: false
                              description: Metadata file type formatted for consistency with the REST api
                            id:
                              type: string
                              nullable: false
                              description: Unique identifier for this metadata file.
                              example: BENCH:SP50
                            display:
                              type: string
                              nullable: false
                              description: String suitable for display in a UI.
                              example: Client:EXAMPLE.CSTM
                          nullable: false
                      nullable: true
                      description: 'Reference to the OTHER4 returns portfolio directly.  NOTE: this portfolio is

                        included in the portfolios field above as well.'
                    netAfterTax:
                      type: object
                      properties:
                        portfolio:
                          type: object
                          properties:
                            type:
                              type: string
                              enum:
                              - Account
                              - AccountComposite
                              - Forbidden
                              - Returns
                              - ReturnsComposite
                              - Vendor
                              nullable: false
                              description: Metadata file type formatted for consistency with the REST api
                            id:
                              type: string
                              nullable: false
                              description: Unique identifier for this metadata file.
                              example: BENCH:SP50
                            display:
                              type: string
                              nullable: false
                              description: String suitable for display in a UI.
                              example: Client:EXAMPLE.CSTM
                          nullable: false
                      nullable: true
                      description: 'Reference to the NET_AFTER_TAX returns portfolio directly.  NOTE: this

                        portfolio is included in the portfolios field above as well.'
                    netIncome:
                      type: object
                      properties:
                        portfolio:
                          type: object
                          properties:
                            type:
                              type: string
                              enum:
                              - Account
                              - AccountComposite
                              - Forbidden
                              - Returns
                              - ReturnsComposite
                              - Vendor
                              nullable: false
                              description: Metadata file type formatted for consistency with the REST api
                            id:
                              type: string
                              nullable: false
                              description: Unique identifier for this metadata file.
                              example: BENCH:SP50
                            display:
                              type: string
                              nullable: false
                              description: String suitable for display in a UI.
                              example: Client:EXAMPLE.CSTM
                          nullable: false
                      nullable: true
                      description: 'Reference to the NET_INCOME returns portfolio directly.  NOTE: this portfolio

                        is included in the portfolios field above as well.'
                    capital:
                      type: object
                      properties:
                        portfolio:
                          type: object
                          properties:
                            type:
                              type: string
                              enum:
                              - Account
                              - AccountComposite
                              - Forbidden
                              - Returns
                              - ReturnsComposite
                              - Vendor
                              nullable: false
                              description: Metadata file type formatted for consistency with the REST api
                            id:
                              type: string
                              nullable: false
                              description: Unique identifier for this metadata file.
                              example: BENCH:SP50
                            display:
                              type: string
                              nullable: false
                              description: String suitable for display in a UI.
                              example: Client:EXAMPLE.CSTM
                          nullable: false
                      nullable: true
                      description: 'Reference to the CAPITAL returns portfolio directly.  NOTE: this portfolio is

                        included in the portfolios field above as well.'
                    realEstateTotal:
                      type: object
                      properties:
                        portfolio:
                          type: object
                          properties:
                            type:
                              type: string
                              enum:
                              - Account
                              - AccountComposite
                              - Forbidden
                              - Returns
                              - ReturnsComposite
                              - Vendor
                              nullable: false
                              description: Metadata file type formatted for consistency with the REST api
                            id:
                              type: string
                              nullable: false
                              description: Unique identifier for this metadata file.
                              example: BENCH:SP50
                            display:
                              type: string
                              nullable: false
                              description: String suitable for display in a UI.
                              example: Client:EXAMPLE.CSTM
                          nullable: false
                      nullable: true
                      description: 'Reference to the REAL_ESTATE_TOTAL returns portfolio directly.  NOTE: this

                        portfolio is included in the portfolios field above as well.'
                    privateEquityGross:
                      type: object
                      properties:
                        portfolio:
                          type: object
                          properties:
                            type:
                              type: string
                              enum:
                              - Account
                              - AccountComposite
                              - Forbidden
                              - Returns
                              - ReturnsComposite
                              - Vendor
                              nullable: false
                              description: Metadata file type formatted for consistency with the REST api
                            id:
                              type: string
                              nullable: false
                              description: Unique identifier for this metadata file.
                              example: BENCH:SP50
                            display:
                              type: string
                              nullable: false
                              description: String suitable for display in a UI.
                              example: Client:EXAMPLE.CSTM
                          nullable: false
                      nullable: true
                      description: 'Reference to the PRIVATE_EQUITY_GROSS returns portfolio directly.  NOTE: this

                        portfolio is included in the portfolios field above as well.'
                    privateEquityNet:
                      type: object
                      properties:
                        portfolio:
                          type: object
                          properties:
                            type:
                              type: string
                              enum:
                              - Account
                              - AccountComposite
                              - Forbidden
                              - Returns
                              - ReturnsComposite
                              - Vendor
                              nullable: false
                              description: Metadata file type formatted for consistency with the REST api
                            id:
                              type: string
                              nullable: false
                              description: Unique identifier for this metadata file.
                              example: BENCH:SP50
                            display:
                              type: string
                              nullable: false
                              description: String suitable for display in a UI.
                              example: Client:EXAMPLE.CSTM
                          nullable: false
                      nullable: true
                      description: 'Reference to the PRIVATE_EQUITY_NET returns portfolio directly.  NOTE: this

                        portfolio is included in the portfolios field above as well.'
                  nullable: true
                  description: Describes the location of the account's returns data containers.
              nullable: false
              description: 'Contains references to data containers for this account composite, and

                settings related to interpretting that data correctly.'
            benchmarks:
              type: object
              properties:
                holdings:
                  type: object
                  properties:
                    primary:
                      type: object
                      properties:
                        startDate:
                          type: string
                          nullable: false
                          description: 'First date the data is valid.  If using the EARLIEST date in the report, this

                            will be set to 0000-01-01'
                          example: '2022-01-01'
                        endDate:
                          type: string
                          nullable: false
                          description: 'Last date the data is valid.  If using the LATEST date in the report, this

                            will be set to 9999-12-31'
                          example: '2022-01-31'
                        portfolio:
                          type: object
                          properties:
                            type:
                              type: string
                              enum:
                              - Account
                              - AccountComposite
                              - Forbidden
                              - Holdings
                              - HoldingsComposite
                              - Vendor
                              nullable: false
                              description: Metadata file type formatted for consistency with the REST api
                            id:
                              type: string
                              nullable: false
                              description: Unique identifier for this metadata file.
                              example: BENCH:SP50
                            display:
                              type: string
                              nullable: false
                              description: String suitable for display in a UI.
                              example: Client:EXAMPLE.CSTM
                          nullable: true
                          description: 'A reference to the portfolio or vendor benchmark that contains the data this

                            account should be benchmarked against'
                      nullable: true
                  nullable: true
                returns:
                  type: object
                  properties:
                    primary:
                      type: object
                      properties:
                        startDate:
                          type: string
                          nullable: false
                          description: 'First date the data is valid.  If using the EARLIEST date in the report, this

                            will be set to 0000-01-01'
                          example: '2022-01-01'
                        endDate:
                          type: string
                          nullable: false
                          description: 'Last date the data is valid.  If using the LATEST date in the report, this

                            will be set to 9999-12-31'
                          example: '2022-01-31'
                        portfolio:
                          type: object
                          properties:
                            type:
                              type: string
                              enum:
                              - Account
                              - AccountComposite
                              - Forbidden
                              - Returns
                              - ReturnsComposite
                              - Vendor
                              nullable: false
                              description: Metadata file type formatted for consistency with the REST api
                            id:
                              type: string
                              nullable: false
                              description: Unique identifier for this metadata file.
                              example: BENCH:SP50
                            display:
                              type: string
                              nullable: false
                              description: String suitable for display in a UI.
                              example: Client:EXAMPLE.CSTM
                          nullable: true
                          description: 'A reference to the portfolio or vendor benchmark that contains the data this

                            account should be benchmarked against'
                      nullable: true
                  nullable: false
              nullable: false
              description: 'Contains references to benchmarks used in this account and settings related to

                interpretting them correctly.'
            publisher:
              type: object
              properties:
                benchmarks:
                  type: object
                  properties:
                    holdings:
                      type: array
                      items:
                        type: object
                        properties:
                          display:
                            type: string
                            nullable: false
                            description: String suitable for display in a UI.
                            example: Client:EXAMPLE.ACCT
                          portfolio:
                            type: object
                            properties:
                              type:
                                type: string
                                enum:
                                - Account
                                - AccountComposite
                                - Forbidden
                                - Holdings
                                - HoldingsComposite
                                - Vendor
                                nullable: false
                                description: Metadata file type formatted for consistency with the REST api
                              id:
                                type: string
                                nullable: false
                                description: Unique identifier for this metadata file.
                                example: BENCH:SP50
                              display:
                                type: string
                                nullable: false
                                description: String suitable for display in a UI.
                                example: Client:EXAMPLE.CSTM
                            nullable: true
                        nullable: false
                    returns:
                      type: array
                      items:
                        type: object
                        properties:
                          display:
                            type: string
                            nullable: false
                            description: String suitable for display in a UI.
                            example: Client:EXAMPLE.ACCT
                          portfolio:
                            type: object
                            properties:
                              type:
                                type: string
                                enum:
                                - Account
                                - AccountComposite
                                - Forbidden
                                - Holdings
                                - HoldingsComposite
                                - Vendor
                                nullable: false
                                description: Metadata file type formatted for consistency with the REST api
                              id:
                                type: string
                                nullable: false
                                description: Unique identifier for this metadata file.
                                example: BENCH:SP50
                              display:
                                type: string
                                nullable: false
                                description: String suitable for display in a UI.
                                example: Client:EXAMPLE.CSTM
                            nullable: true
                        nullable: false
                  nullable: false
                  description: Contains references to benchmarks used in Publisher.
              nullable: false
              description: Contains default settings for this account when used within the Publisher application.
            analytics:
              type: object
              properties:
                currency:
                  type: object
                  properties:
                    iso:
                      type: string
                      nullable: false
                      description: ISO 4217 Currency code.
                      example: USD
                    display:
                      type: string
                      nullable: false
                      description: ISO 4217 Currency name
                      example: US Dollar
                  nullable: false
                userDefinedValues:
                  type: array
                  items:
                    type: object
                    properties:
                      field:
                        type: object
                        properties:
                          type:
                            type: string
                            enum:
                            - UserDefinedField
                            nullable: false
                          id:
                            type: string
                            nullable: false
                            example: b1c36b19-1417-4e8c-8d0a-416cf6a92a6a
                          display:
                            type: string
                            nullable: false
                            description: String suitable for display in a UI.
                            example: MY_VALUE
                          group:
                            type: object
                            properties:
                              type:
                                type: string
                                enum:
                                - UserDefinedFieldGroup
                                nullable: false
                              id:
                                type: string
                                nullable: false
                                example: MDpEZWZhdWx0IEdyb3Vw
                              display:
                                type: string
                                nullable: false
                                description: String suitable for display in a UI.
                                example: MY_GROUP
                            nullable: false
                        nullable: false
                      value:
                        type: string
                        nullable: false
                        example: A user defined value
                    nullable: false
              nullable: false
              description: Contains default settings used when running analytics on this account.
            risk:
              type: object
              properties:
                model:
                  type: object
                  properties:
                    id:
                      type: string
                      nullable: false
                      example: AXIOMA:AP21_MH_FUND
                  nullable: true
              nullable: false
              description: Contains default settings used when running risk analytics on this account.
          nullable: true
          description: Read a metadata file by its id.
          example: example_value
      nullable: true
    listAccountResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
                enum:
                - Account
                nullable: false
                description: Metadata file type formatted for consistency with the REST api
              id:
                type: string
                nullable: false
                description: Unique identifier for this metadata file.
                example: 76dfeb63-27be-47d9-a245-a36f81b9cb6b
              display:
                type: string
                nullable: false
                description: The GUI path of this file, including the name and extension.
                example: Client:EXAMPLE.ACCT
              path:
                type: string
                nullable: false
                description: The GUI path to this object.
                example: 'Client:'
              name:
                type: string
                nullable: false
                description: Name of this file object including the extension.
                example: EXAMPLE.ACCT
              description:
                type: string
                nullable: true
                description: User provided description of this file.
                example: Domestic equity portfolio
            nullable: false
          example: []
        meta:
          type: object
          properties:
            pagination:
              type: object
              properties:
                next:
                  type: string
                  nullable: true
                  example: YwAAAA==
                previous:
                  type: string
                  nullable: true
                  example: AAAAAA==
              nullable: false
          example: example_value
      nullable: true
    createAccountCompositeResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            type:
              type: string
              enum:
              - AccountComposite
              nullable: false
              description: Metadata file type formatted for consistency with the REST api
            id:
              type: string
              nullable: false
              description: Unique identifier for this metadata file.
              example: 9a030822-d1ee-4fc0-a598-75e65d1512fd
            display:
              type: string
              nullable: false
              description: The GUI path of this file, including the name and extension.
              example: Client:EXAMPLE.ACTM
            path:
              type: string
              nullable: false
              description: The GUI path to this object.
              example: 'Client:'
            name:
              type: string
              nullable: false
              description: Name of this file object including the extension.
              example: EXAMPLE.ACTM
          nullable: false
          example: example_value
      nullable: true
    SPARAccountsRoot:
      required:
      - data
      type: object
      properties:
        data:
          $ref: '#/components/schemas/SPARAccounts'
        meta:
          nullable: true
          example: example_value
    updateAccountRequest:
      type: object
      properties:
        data:
          type: object
          properties:
            reason:
              type: string
              example: string
              description: User auditable reason for the change being made
            publisher:
              type: object
              description: Field used to update the settings used for this account in Publisher.
              properties:
                benchmarks:
                  type: object
                  description: Field used to update the set of benchmarks used in Publisher.
                  properties:
                    returns:
                      type: array
                      items:
                        type: object
                        properties:
                          portfolio:
                            type: object
                            description: 'A reference to the portfolio or vendor benchmark that contains the data this

                              account should be benchmarked against'
                            properties:
                              type:
                                type: string
                                enum:
                                - Account
                                - AccountComposite
                                - Holdings
                                - HoldingsComposite
                                - Vendor
                              id:
                                type: string
                            required:
                            - type
                            - id
                          modifier:
                            type: string
                            enum:
                            - BUY_AND_HOLD
                            - EXTERNAL
                            - ITERATED_BENCHMARK
                            - LONG_ONLY
                            - NONE
                            - PASSIVE_PORTFOLIO
                            - PASSIVE_WEIGHT
                            - SHORT_ONLY
                            - STYLE_BENCHMARK
                          isComposite:
                            type: boolean
                          comment:
                            type: string
                        required:
                        - portfolio
                    holdings:
                      type: array
                      items:
                        type: object
                        properties:
                          portfolio:
                            type: object
                            description: 'A reference to the portfolio or vendor benchmark that contains the data this

                              account should be benchmarked against'
                            properties:
                              type:
                                type: string
                                enum:
                                - Account
                                - AccountComposite
                                - Holdings
                                - HoldingsComposite
                                - Vendor
                              id:
                                type: string
                            required:
                            - type
                            - id
                          modifier:
                            type: string
                            enum:
                            - BUY_AND_HOLD
                            - EXTERNAL
                            - ITERATED_BENCHMARK
                            - LONG_ONLY
                            - NONE
                            - PASSIVE_PORTFOLIO
                            - PASSIVE_WEIGHT
                            - SHORT_ONLY
                            - STYLE_BENCHMARK
                          isSpar:
                            type: boolean
                            description: 'Used to signal that the returns data from the provided portfolio should be

                              used to benchmark this account.'
                          isComposite:
                            type: boolean
                          comment:
                            type: string
                        required:
                        - portfolio
            description:
              type: string
              description: 'Account description.  This should be meaningful to the end user and will

                often be used in reports generated from this account.'
            dataCatalog:
              type: object
              description: Field used to make changes to the account's data container references.
              properties:
                returns:
                  type: object
                  description: Set the account's returns data containers.
                  properties:
                    realEstateTotal:
                      type: object
                      properties:
                        portfolio:
                          type: object
                          properties:
                            type:
                              type: string
                              enum:
                              - Account
                              - AccountComposite
                              - Returns
                              - ReturnsComposite
                              - Vendor
                            id:
                              type: string
                          required:
                          - type
                          - id
                        field:
                          type: string
                      required:
                      - portfolio
                    privateEquityNet:
                      type: object
                      properties:
                        portfolio:
                          type: object
                          properties:
                            type:
                              type: string
                              enum:
                              - Account
                              - AccountComposite
                              - Returns
                              - ReturnsComposite
                              - Vendor
                            id:
                              type: string
                          required:
                          - type
                          - id
                        field:
                          type: string
                      required:
                      - portfolio
                    privateEquityGross:
                      type: object
                      properties:
                        portfolio:
                          type: object
                          properties:
                            type:
                              type: string
                              enum:
                              - Account
                              - AccountComposite
                              - Returns
                              - ReturnsComposite
                              - Vendor
                            id:
                              type: string
                          required:
                          - type
                          - id
                        field:
                          type: string
                      required:
                      - portfolio
                    primaryType:
                      type: string
                      enum:
                      - CAPITAL
                      - GROSS
                      - NET
                      - NET_AFTER_TAX
                      - NET_INCOME
                      - OTHER_1
                      - OTHER_2
                      - OTHER_3
                      - OTHER_4
                      - PRIVATE_EQUITY_GROSS
                      - PRIVATE_EQUITY_NET
                      - REAL_ESTATE_TOTAL
                      description: 'Select the default returns series type for this account.  Will throw an error

                        if the selected return series type is not specified in the account.'
                    other4:
                      type: object
                      properties:
                        portfolio:
                          type: object
                          properties:
                            type:
                              type: string
                              enum:
                              - Account
                              - AccountComposite
                              - Returns
                              - ReturnsComposite
                              - Vendor
                            id:
                              type: string
                          required:
                          - type
                          - id
                        field:
                          type: string
                      required:
                      - portfolio
                    other3:
                      type: object
                      properties:
                        portfolio:
                          type: object
                          properties:
                            type:
                              type: string
                              enum:
                              - Account
                              - AccountComposite
                              - Returns
                              - ReturnsComposite
                              - Vendor
                            id:
                              type: string
                          required:
                          - type
                          - id
                        field:
                          type: string
                      required:
                      - portfolio
                    other2:
                      type: object
                      properties:
                        portfolio:
                          type: object
                          properties:
                            type:
                              type: string
                              enum:
                              - Account
                              - AccountComposite
                              - Returns
                              - ReturnsComposite
                              - Vendor
                            id:
                              type: string
                          required:
                          - type
                          - id
                        field:
                          type: string
                      required:
                      - portfolio
                    other1:
                      type: object
                      properties:
                        portfolio:
                          type: object
                          properties:
                            type:
                              type: string
                              enum:
                              - Account
                              - AccountComposite
                              - Returns
                              - ReturnsComposite
                              - Vendor
                            id:
                              type: string
                          required:
                          - type
                          - id
                        field:
                          type: string
                      required:
                      - portfolio
                    netIncome:
                      type: object
                      properties:
                        portfolio:
                          type: object
                          properties:
                            type:
                              type: string
                              enum:
                              - Account
                              - AccountComposite
                              - Returns
                              - ReturnsComposite
                              - Vendor
                            id:
                              type: string
                          required:
                          - type
                          - id
                        field:
                          type: string
                      required:
                      - portfolio
                    netAfterTax:
                      type: object
                      properties:
                        portfolio:
                          type: object
                          properties:
                            type:
                              type: string
                              enum:
                              - Account
                              - AccountComposite
                              - Returns
                              - ReturnsComposite
                              - Vendor
                            id:
                              type: string
                          required:
                          - type
                          - id
                        field:
                          type: string
                      required:
                      - portfolio
                    net:
                      type: object
                      properties:
                        portfolio:
                          type: object
                          properties:
                            type:
                              type: string
                              enum:
                              - Account
                              - AccountComposite
                              - Returns
                              - ReturnsComposite
                              - Vendor
                            id:
                              type: string
                          required:
                          - type
                          - id
                        field:
                          type: string
                      required:
                      - portfolio
                    gross:
                      type: object
                      properties:
                        portfolio:
                          type: object
                          properties:
                            type:
                              type: string
                              enum:
                              - Account
                              - AccountComposite
                              - Returns
                              - ReturnsComposite
                              - Vendor
                            id:
                              type: string
                          required:
                          - type
                          - id
                        field:
                          type: string
                      required:
                      - portfolio
                    capital:
                      type: object
                      properties:
                        portfolio:
                          type: object
                          properties:
                            type:
                              type: string
                              enum:
                              - Account
                              - AccountComposite
                              - Returns
                              - ReturnsComposite
                              - Vendor
                            id:
                              type: string
                          required:
                          - type
                          - id
                        field:
                          type: string
[...]
