openapi: 3.0.3
info:
  title: Factset Analytics Datastore About Returns API
  description: Allow clients to fetch precalculated Analytics through predeterministic URLs.
  contact:
    name: FactSet Research Systems
    url: https://developer.factset.com/contact
    email: api@factset.com
  license:
    name: Apache License, Version 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  version: 1.0.0
servers:
- url: https://api.factset.com
  description: Production
- url: https://api-sandbox.factset.com
  description: Sandbox
security:
- basicAuth: []
tags:
- name: Returns
paths:
  /factset-funds/v1/returns:
    get:
      tags:
      - Returns
      summary: Factset Get Fund Returns for a Requested Time-series
      operationId: getFundsReturns
      description: 'Get Fund NAV Returns over a time-series for the requested date range and frequency. <p>The simple Total Return NAV shows the fund''s total return level by reinvesting distributions so that ex-date NAVs are increased by the distribution amount and compounded thereafter. Total return NAV compounds daily and is calculated from the first available NAV date of each fund. The total return NAV series reflects the value that an investor would own if it had purchased one share at the inception date and reinvested all dividends on a Gross basis.</p><p> Control the dividends to include or exclude using the dividendAdjust parameter. The first available NAV date of each fund can be found in the /summary endpoint as `priceFristDate`. Visit [OA #21437](https://my.apps.factset.com/oa/pages/21437) for more details.</p>

        '
      parameters:
      - $ref: '#/components/parameters/ids'
      - $ref: '#/components/parameters/startDate'
      - $ref: '#/components/parameters/endDate'
      - $ref: '#/components/parameters/frequency'
      - $ref: '#/components/parameters/currency'
      - $ref: '#/components/parameters/dividendAdjust'
      responses:
        '200':
          description: The Returns response object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fundsReturnsResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      tags:
      - Returns
      summary: Factset Get Fund Returns for a Requested Time-series and Large List of Ids
      description: 'Get Fund NAV Returns over a time-series for the requested date range and frequency. <p>The simple Total Return NAV shows the fund''s total return level by reinvesting distributions so that ex-date NAVs are increased by the distribution amount and compounded thereafter. Total return NAV compounds daily and is calculated from the first available NAV date of each fund. The total return NAV series reflects the value that an investor would own if it had purchased one share at the inception date and reinvested all dividends on a Gross basis.</p><p> Control the dividends to include or exclude using the dividendAdjust parameter. The first available NAV date of each fund can be found in the /summary endpoint as `priceFristDate`. Visit [OA #21437](https://my.apps.factset.com/oa/pages/21437) for more details.</p>

        '
      operationId: getFundsReturnsForList
      requestBody:
        required: true
        description: The Returns request body, allowing the user to specify a list of ids.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/fundsReturnsRequest'
      responses:
        '200':
          description: The Returns response object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fundsReturnsResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /factset-funds/v1/returns-snapshot:
    get:
      tags:
      - Returns
      summary: Factset Get Fund Returns Over Pre-defined Time Horizons as of a Specific Date.
      operationId: getFundsReturnsSnapshot
      description: "Get Fund Returns over pre-defined time horizons as of a specific date. Use the date parameter to set the perspective date, and adjust the return type to include or exclude dividends using the dividendAdjust parameter. Returns Ranges include - \n* oneWeek\n* oneMonth\n* threeMonth\n* yearToDate\n* oneYear\n* threeYear\n* threeYearAnnualized\n* fiveYear\n* fiveYearAnnualized\n"
      parameters:
      - $ref: '#/components/parameters/ids'
      - $ref: '#/components/parameters/dateSnapshot'
      - $ref: '#/components/parameters/dividendAdjust'
      responses:
        '200':
          description: The Returns Snapshot response object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fundsReturnsSnapshotResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      tags:
      - Returns
      summary: Factset Get Fund Returns Over Pre-defined Time Horizons as of a Specific Date.
      description: "Get Fund Returns over pre-defined time horizons as of a specific date. Use the date parameter to set the perspective date, and adjust the return type to include or exclude dividends using the dividendAdjust parameter. Returns Ranges include - \n* oneWeek\n* oneMonth\n* threeMonth\n* yearToDate\n* oneYear\n* threeYear\n* threeYearAnnualized\n* fiveYear\n* fiveYearAnnualized \n"
      operationId: getFundsReturnsSnapshotForList
      requestBody:
        required: true
        description: The Returns Snapshot request body, allowing the user to specify a list of ids.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/fundsReturnsSnapshotRequest'
      responses:
        '200':
          description: The Returns Snapshot response object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fundsReturnsSnapshotResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /factset-funds/v1/returns-range:
    get:
      tags:
      - Returns
      summary: Factset Get Fund Returns for a User-defined Date Range
      operationId: getFundsReturnsRange
      description: 'Get Fund Returns between a specified startDate and endDate. The service will compute the return between those two periods to retrieve the single value and does not create a time-series. Control the return type to include or exclude dividends by using the dividendAdjust parameter.

        '
      parameters:
      - $ref: '#/components/parameters/ids'
      - $ref: '#/components/parameters/startDateRange'
      - $ref: '#/components/parameters/endDate'
      - $ref: '#/components/parameters/dividendAdjust'
      responses:
        '200':
          description: The Returns Range response object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/returnsRangeResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      tags:
      - Returns
      summary: Factset Get Fund Returns Over Pre-defined Time Horizons as of a Specific Date for Large List of Ids.
      description: 'Get Fund Returns between a specified startDate and endDate. The service will compute the return between those two periods to retrieve the single value and does not create a time-series. Control the return type to include or exclude dividends by using the dividendAdjust parameter.

        '
      operationId: getFundsReturnsRangeForList
      requestBody:
        required: true
        description: The Returns Range request body, allowing the user to specify a list of ids.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/returnsRangeRequest'
      responses:
        '200':
          description: The Returns Range response object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/returnsRangeResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /factset-global-prices/v1/returns:
    get:
      tags:
      - Returns
      summary: Factset Gets Returns for a List of `ids` as of Given Date Range.
      operationId: getReturns
      description: "Returns for the requested ids and currency for the given dates. Depending on the input parameters the return data is provided. \n"
      parameters:
      - $ref: '#/components/parameters/idsBatchMax2000'
      - $ref: '#/components/parameters/startDate_2'
      - $ref: '#/components/parameters/endDate_2'
      - $ref: '#/components/parameters/currency_2'
      - $ref: '#/components/parameters/frequency_2'
      - $ref: '#/components/parameters/dividendAdjust_2'
      - $ref: '#/components/parameters/batch'
      responses:
        '200':
          description: Array of Returns Objects
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/returnsResponse'
              examples:
                Returns:
                  $ref: '#/components/examples/returnsResponseAll'
        '202':
          description: Batch request has been accepted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchStatusResponse'
              examples:
                Batch Request Accepted:
                  $ref: '#/components/examples/BatchStatusAcceptedResponse'
          headers:
            Location:
              description: Path to Batch Request status.
              schema:
                type: string
              example: batch-status?id=2df43e85-ea0f-45c6-bf4a-2baf4d1eaa3c
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      tags:
      - Returns
      summary: Factset Gets Returns for a List of `ids` as of Given Date Range.
      description: Returns for the requested ids and currency for the given dates. Depending on the input parameters the return data is provided.
      operationId: getReturnsForList
      requestBody:
        required: true
        description: Request object for `Returns`.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/returnsRequest'
      responses:
        '200':
          description: Array of security prices
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/returnsResponse'
        '202':
          description: Batch request has been accepted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchStatusResponse'
              examples:
                Batch Request Accepted:
                  $ref: '#/components/examples/BatchStatusAcceptedResponse'
          headers:
            Location:
              description: Path to Batch Request status.
              schema:
                type: string
              example: batch-status?id=2df43e85-ea0f-45c6-bf4a-2baf4d1eaa3c
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /returns-composite/{id}:
    get:
      operationId: readReturnsComposite
      description: Read a returns composite
      tags:
      - Returns
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          example: 270c2fa8-9110-444b-9101-17e10132fe0a
        description: Unique identifier of the returns composite to be read
        example: 270c2fa8-9110-444b-9101-17e10132fe0a
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/readReturnsCompositeResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '403':
          $ref: '#/components/responses/ForbiddenErrorResponse'
        '404':
          $ref: '#/components/responses/NotFoundErrorResponse'
        '406':
          $ref: '#/components/responses/NotAcceptableErrorResponse'
        '415':
          $ref: '#/components/responses/UnsupportedMediaTypeErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        '501':
          $ref: '#/components/responses/NotImplementedErrorResponse'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /returns/{id}:
    get:
      operationId: readReturns
      description: Read a returns
      tags:
      - Returns
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          example: 270c2fa8-9110-444b-9101-17e10132fe0a
        description: Unique identifier of the returns to be read
        example: 270c2fa8-9110-444b-9101-17e10132fe0a
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/readReturnsResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '403':
          $ref: '#/components/responses/ForbiddenErrorResponse'
        '404':
          $ref: '#/components/responses/NotFoundErrorResponse'
        '406':
          $ref: '#/components/responses/NotAcceptableErrorResponse'
        '415':
          $ref: '#/components/responses/UnsupportedMediaTypeErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        '501':
          $ref: '#/components/responses/NotImplementedErrorResponse'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /factset-prices/v1/returns:
    get:
      tags:
      - Returns
      summary: Factset Gets Returns for a List of `ids` as of Given Date Range and Rolling Period
      operationId: getSecurityReturns
      description: 'The simple or compound return for the requested frequency and/or rollingPeriod. Depending on the input parameters the return will adjust accordingly. If you simply use frequency and no rollingPeriod, the return value will represent the frequency period. If you use rollingPeriod, the values will be returned in actual period ends (e.g. actual month, actual week, daily, etc.). General Return Calculation Details found on [Online Assistant Page #8748](https://oa.apps.factset.com/pages/8748)'
      parameters:
      - $ref: '#/components/parameters/idsMax2000'
      - $ref: '#/components/parameters/startDate_3'
      - $ref: '#/components/parameters/endDate_3'
      - $ref: '#/components/parameters/frequency_3'
      - $ref: '#/components/parameters/calendar'
      - $ref: '#/components/parameters/currency_3'
      - $ref: '#/components/parameters/dividendAdjust_3'
      - $ref: '#/components/parameters/rollingPeriod'
      responses:
        '200':
          description: Array of security returns for the requested date range and rolling period
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/returnsResponse_2'
              examples:
                Daily Returns of AAPL for the Year 2019:
                  $ref: '#/components/examples/dailyReturnsAPPL'
                Latest 52w Return for AAPL:
                  $ref: '#/components/examples/52WKReturnAAPL'
                Latest Month Return for FB, AAPL, NFLX, GOOGL:
                  $ref: '#/components/examples/fangStocksReturn'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      tags:
      - Returns
      summary: Factset Requests Security Returns for the Given Date Range and Rollingperiod.
      description: 'The simple or compound return for the requested frequency and/or rollingPeriod. Depending on the input parameters the return will adjust accordingly. If you simply use frequency and no rollingPeriod, the return value will represent the frequency period. If you use rollingPeriod, the values will be returned in actual period ends (e.g. actual month, actual week, daily, etc.). General Return Calculation Details found on [Online Assistant Page #8748](https://oa.apps.factset.com/pages/8748)'
      operationId: getSecurityReturnsForList
      requestBody:
        required: true
        description: Request object for `Security` returns.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/returnsRequest_2'
            examples:
              What is the latest monthly total return for APPL TSLA FB and NFLX:
                $ref: '#/components/examples/fangStocksReturnPost'
              Daily Price Changes of AMZN in 2019:
                $ref: '#/components/examples/dailyPriceChangeAMZNPost'
      responses:
        '200':
          description: Array of security returns for the requested date range and rolling period
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/returnsResponse_2'
              examples:
                Daily Returns of AAPL for the Year 2019:
                  $ref: '#/components/examples/dailyReturnsAPPL'
                Latest 52w Return for AAPL:
                  $ref: '#/components/examples/52WKReturnAAPL'
                Latest Month Return for FB, AAPL, NFLX, GOOGL:
                  $ref: '#/components/examples/fangStocksReturn'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /factset-prices/v1/returns-snapshot:
    get:
      tags:
      - Returns
      summary: Factset Returns the Price Performance of the Security and Annualized Compound Total Returns.
      operationId: getReturnsSnapshot
      description: "Retrieves various return periods as of a given date for a requested list of securities. This endpoint is very helpful for quickly retrieving a list of pre-calculated returns for application development.<p> Return periods include\n  * oneDay\n  * weekToDate\n  * monthToDate\n  * quarterToDate\n  * yearToDate\n  * oneMonth\n  * threeMonth\n  * sixMonth\n  * nineMonth\n  * oneYear\n  * twoYearAnnualized\n  * threeYearAnnualized\n  * fiveYearAnnualized\n  * tenYearAnnualized\n  * twentyYearAnnualized\n  * thirtyYearAnnualized\n  * ipoToDateAnnualized\n  </p>\n"
      parameters:
      - $ref: '#/components/parameters/idsMax2000'
      - $ref: '#/components/parameters/dateRs'
      - $ref: '#/components/parameters/calendar'
      - $ref: '#/components/parameters/currency_3'
      - $ref: '#/components/parameters/dividendAdjustSnapshot'
      responses:
        '200':
          description: Array of returns-snapshot objects for the list of ids requested
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/returnsSnapshotResponse'
              examples:
                Return details for IBM-US with compound return type:
                  $ref: '#/components/examples/singleRSCompundRTResponse'
                Requesting returns details for Multiple companies with simple return type:
                  $ref: '#/components/examples/multipleRSSimpleRTResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      tags:
      - Returns
      summary: Factset Returns the Price Performance of the Security and Annualized Compound Total Returns.
      description: "Retrieves various return periods as of a given date for a requested list of securities. This endpoint is very helpful for quickly retrieving a list of pre-calculated returns for application development.<p> Return periods include\n  * oneDay\n  * weekToDate\n  * monthToDate\n  * quarterToDate\n  * yearToDate\n  * oneMonth\n  * threeMonth\n  * sixMonth\n  * nineMonth\n  * oneYear\n  * twoYearAnnualized\n  * threeYearAnnualized\n  * fiveYearAnnualized\n  * tenYearAnnualized\n  * twentyYearAnnualized\n  * thirtyYearAnnualized\n  * ipoToDateAnnualized\n  </p>\n"
      operationId: getReturnsSnapshotForList
      requestBody:
        required: true
        description: Request object for Returns-Snapshot.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/returnsSnapshotRequest'
            examples:
              Return details for IBM-US with compound return type:
                $ref: '#/components/examples/singleRSCompundRT'
              Requesting returns details for multiple companies with simple return type:
                $ref: '#/components/examples/multipleRSSimpleRT'
      responses:
        '200':
          description: Array of returns-snapshot objects for the list of ids requested
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/returnsSnapshotResponse'
              examples:
                Return details for IBM-US with compound return type:
                  $ref: '#/components/examples/singleRSCompundRTResponse'
                Requesting returns details for multiple companies with simple return type:
                  $ref: '#/components/examples/multipleRSSimpleRTResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /analytics/engines/spar/v3/accounts/{accountPath}/returns-type:
    get:
      tags:
      - Returns
      summary: Factset Get Spar Account Returns Type Details
      description: This endpoint returns the returns type of account associated with SPAR
      operationId: getSPARReturnsType
      parameters:
      - name: accountPath
        in: path
        description: URL encoded account path
        required: true
        schema:
          type: string
          description: URL encoded account path
      responses:
        '200':
          description: Expected response, returns the list of return types for the account.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SPARAccountsRoot'
        '400':
          description: Invalid account.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
        '401':
          description: Missing or invalid authentication.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
        '403':
          description: User is forbidden with current credentials
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              schema:
                type: string
        '404':
          description: Account not found.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
        '406':
          description: Unsupported Accept header. Header needs to be set to application/json.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              schema:
                type: string
        '429':
          description: Rate limit reached. Wait till the time specified in Retry-After header value to make further requests.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
            Retry-After:
              description: Time to wait in seconds before making a new request as the rate limit has reached.
              schema:
                type: string
        '500':
          description: Server error. Log the X-DataDirect-Request-Key header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
        '503':
          description: Request timed out. Retry the request in sometime.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    rollingPeriod:
      description: Period of measure for the rolling cumulative return. This does not change display `frequency` but rather the underlying return calculation period. All periods are referencing actual periods of measure, not period-ends. For example, 1M rolling period will go back to that date the previous month, which is not always the month-end date.
      type: string
      enum:
      - 1D
      - 1W
      - 1M
      - 3M
      - 6M
      - 52W
      - 2Y
      - 3Y
      - 5Y
      - 10Y
    returns_2:
      title: Returns Object
      type: object
      properties:
        fsymId:
          description: FactSet Permanent Identifier. Six alpha-numeric characters, excluding vowels, with an -R suffix (XXXXXX-R) or a -L Suffix (XXXXXX-L).
          type: string
          example: LCV42P-L
          nullable: true
        totalReturn:
          description: Returns the data for the given input parameters.
          type: number
          format: double
          example: 0.927077
          nullable: true
        date:
          description: End date of the return. Date in YYYY-MM-DD format. Depending on Frequency and Calendar settings, this could represent the entire return period requested.
          type: string
          format: date
          example: '2020-11-19'
          nullable: true
        currency:
          type: string
          description: 'Currency ISO code. For more details, visit [Online Assistant Page #1470](https://oa.apps.factset.com/pages/1470).'
          example: USD
          nullable: true
        requestId:
          description: Identifier that was used for the request.
          type: string
          example: DDD-USA
    returnsResponse_2:
      type: object
      title: Returns Response
      properties:
        data:
          description: Array of Returns Objects
          type: array
          items:
            $ref: '#/components/schemas/return'
          example: []
    batch:
      description: 'Enables the ability to asynchronously "batch" the request, supporting a long-running request for up to 20 minutes. Upon requesting batch=Y, the service will respond back with an HTTP Status Code of 202. Once a batch request is submitted, use batch status to see if the job has been completed. Once completed, retrieve the results of the request via batch-result. When using Batch, ids limit is increased to 10000 ids per request, though limits on query string via GET method still apply. It''s advised to submit large lists of ids via POST method. Please note that the number of unique currencies present in the requested ids is limited to 50 per request.

        '
      type: string
      enum:
      - Y
      - N
      default: N
    ids:
      type: array
      items:
        type: string
      minItems: 1
      maxItems: 1000
      description: 'The requested Fund Identifier. FactSet Identifiers, tickers, CUSIP and SEDOL are accepted input. <p>***ids limit** =  1000 per request*</p> *<p>Make note, GET Method URL request lines are also limited to a total length of 8192 bytes (8KB). In cases where the service allows for thousands of ids, which may lead to exceeding this request line limit of 8KB, its advised for any requests with large request lines to be requested through the respective "POST" method.</p>*

        '
      example:
      - MABAX
      - FCNTX
    idsBatchMax10000:
      type: array
      items:
        type: string
      description: "The requested list of security identifiers. Accepted ID types include Market Tickers, SEDOL, ISINs, CUSIPs, or FactSet Permanent Ids. \n<p>ids limit =  1000 per non-batch request / 10000 per batch request for a single day and 50 per multi-day request</p>\n"
      example:
      - FDS-US
    fundsReturnsSnapshotRequest:
      title: Returns Snapshot Request Body
      description: Returns Request Body
      type: object
      properties:
        ids:
          $ref: '#/components/schemas/ids'
        date:
          $ref: '#/components/schemas/dateSnapshot'
        dividendAdjust:
          $ref: '#/components/schemas/dividendAdjust'
      required:
      - ids
    BatchStatus:
      title: Batch Status
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: the id of batch request.
          example: abc123
        startTime:
          type: string
          format: date-time
          description: Time when the batch request is started. This is in Eastern Time Zone. The date-time format is expressed as [YYYY-MM-DD]T[HH:MM:SSS], following ISO 8601.
          example: '2026-01-15T10:30:00Z'
        endTime:
          type: string
          format: date-time
          description: Time when the batch request is ended. This is in Eastern Time Zone. The date-time format is expressed as [YYYY-MM-DD]T[HH:MM:SSS], following ISO 8601.
          nullable: true
          example: '2026-01-15T10:30:00Z'
        status:
          type: string
          enum:
          - queued
          - executing
          - created
          - failed
          example: queued
        error:
          $ref: '#/components/schemas/batchErrorObject'
    fundsReturnsRequest:
      title: Returns Request Body
      description: Returns Request Body
      type: object
      properties:
        ids:
          $ref: '#/components/schemas/ids'
        startDate:
          $ref: '#/components/schemas/startDate'
        endDate:
          $ref: '#/components/schemas/endDate'
        frequency:
          $ref: '#/components/schemas/frequency'
        currency:
          $ref: '#/components/schemas/currency'
        dividendAdjust:
          $ref: '#/components/schemas/dividendAdjust'
      required:
      - ids
    currency:
      type: string
      description: The ISO3 currency control for the requested fund.
      default: LOCAL
      example: USD
    returnsRangeResponse:
      type: object
      title: Returns Range Response
      properties:
        data:
          description: Array of Returns Range Objects
          type: array
          items:
            $ref: '#/components/schemas/returnsRange'
          example: []
    ReturnType:
      type: object
      properties:
        name:
          type: string
          nullable: true
          example: Example Title
        id:
          type: string
          nullable: true
          example: abc123
    dividendAdjust_3:
      type: string
      enum:
      - PRICE
      - EXDATE
      - PAYDATE
      - EXDATE_C
      - PAYDATE_C
      default: PRICE
      description: "Controls the dividend reinvestment for the returns calculation.\n  * **PRICE** = Price Change - Dividends Excluded\n  * **EXDATE** = Simple Return - Dividends Received on exdate but not reinvested\n  * **PAYDATE** = Simple Return - Dividends Received on paydate but not reinvested\n  * **EXDATE_C** = Compound Return - Dividends reinvested on exdate\n  * **PAYDATE_C** = Compound Return - Dividends reinvested on paydate.\n"
    returnsSnapshot:
      title: Returns Snapshot Object
      type: object
      properties:
        fsymId:
          description: FactSet Security Identifier. Six alpha-numeric characters, excluding vowels, with a -S suffix (XXXXXX-S), resolved from the requestId of the Fund requested.
          type: string
          example: FNK7XP-S
          x-fds-fql-formula: FSYM_SECURITY_PERM_ID('SECURITY')
          nullable: true
        oneWeek:
          description: The one-week return for the requested id and date. The return type is determined by including or excluding dividends through the dividendAdjust parameter.
          type: number
          format: double
          example: 2.38777459407833
          x-fds-fql-formula: FFD_TRET({date},"1WK","NAV",{dividendAdjust})
          nullable: true
        oneMonth:
          description: The one-month return for the requested id and date. The return type is determined by including or excluding dividends through the dividendAdjust parameter.
          type: number
          format: double
          example: 7.52256770310935
          x-fds-fql-formula: FFD_TRET({date},"1MON","NAV",{dividendAdjust})
          nullable: true
        threeMonth:
          description: The three-month return for the requested id and date. The return type is determined by including or excluding dividends through the dividendAdjust parameter.
          type: number
          format: double
          example: 13.8004246284501
          x-fds-fql-formula: FFD_TRET({date},"3MON","NAV",{dividendAdjust})
          nullable: true
        yearToDate:
          description: The year-to-date return for the requested id and date. The return type is determined by including or excluding dividends through the dividendAdjust parameter.
          type: number
          format: double
          example: 13.1398416886544
          x-fds-fql-formula: FFD_TRET({date},"YTD","NAV",{dividendAdjust})
          nullable: true
        oneYear:
          description: The one-year return for the requested id and date. The return type is determined by including or excluding dividends through the dividendAdjust parameter.
          type: number
          format: double
          example: 40.2223675604972
          x-fds-fql-formula: FFD_TRET({date},"1YR","NAV",{dividendAdjust})
          nullable: true
        threeYear:
          description: The three-year return for the requested id and date. The return type is determined by including or excluding dividends through the dividendAdjust parameter.
          type: number
          format: double
          example: null
          x-fds-fql-formula: FFD_TRET({date},"3YR","NAV",{dividendAdjust})
          nullable: true
        threeYearAnnualized:
          description: The three-year annualized return for the requested id and date. The return type is determined by including or excluding dividends through the dividendAdjust parameter.
          type: number
          format: double
          example: null
          x-fds-fql-formula: FFD_TRET_ANN({date},"3YR","NAV",{dividendAdjust})
          nullable: true
        fiveYear:
          description: The five-year return for the requested id and date. The return type is determined by including or excluding dividends through the dividendAdjust parameter.
          type: number
          format: double
          example: 25.2970433246628
          x-fds-fql-formula: FFD_TRET({date},"3YR","NAV",{dividendAdjust})
          nullable: true
        fiveYearAnnualized:
          description: The five year annualized return for the requested id and date. The return type is determined by including or excluding dividends through the dividendAdjust parameter.
          type: number
          format: double
          example: null
          x-fds-fql-formula: FFD_TRET_ANN({date},"5YR","NAV",{dividendAdjust})
          nullable: true
        date:
          description: The date of the return in YYYY-MM-DD format.
          type: string
          format: date
          example: '2021-03-30'
          nullable: true
        requestId:
          description: The requested Id sent as input.
          type: string
          example: MABAX
    returns:
      title: Returns Object
      type: object
      properties:
        fsymId:
          description: FactSet Security Identifier. Six alpha-numeric characters, excluding vowels, with a -S suffix (XXXXXX-S), resolved from the requestId of the Fund requested.
          type: string
          example: FNK7XP-S
          x-fds-fql-formula: FSYM_SECURITY_PERM_ID('SECURITY')
          nullable: true
        return:
          description: The Return for the requested id and date. Adjusting the frequency of the time-series does not adjust the return calculation, and simply controls the display frequency. The return type is determined by including or excluding dividends through the dividendAdjust parameter.
          type: number
          format: double
          example: 25.2970433246628
          x-fds-fql-formula: FFD_TOTAL_RET
          nullable: true
        date:
          description: The date of the return in YYYY-MM-DD format.
          type: string
          format: date
          example: '2021-02-26'
          nullable: true
        currency:
          description: ISO3 Currency
          type: string
          example: USD
          nullable: true
        requestId:
          description: The requested Id sent as input.
          type: string
          example: MABAX
    dateSnapshot:
      type: string
      description: 'The date requested for a given date range in YYYY-MM-DD format. The date MUST be equal to or less than the `priceRecentDate` found within the /summary endpoint.

        '
      example: '2019-01-01'
    calendar:
      type: string
      enum:
      - FIVEDAY
      - SEVENDAY
      - LOCAL
      default: FIVEDAY
      description: Calendar of data returned. SEVENDAY includes weekends. LOCAL calendar will default to the securities' trading calendar which excludes date records for respective holiday periods.
      example: FIVEDAY
    startDate_2:
      title: Start Date
      type: string
      description: 'The start date requested for a given date range in **YYYY-MM-DD** format. Future dates (T+1) are not accepted in this endpoint.

        '
      example: '2020-06-30'
    startDate_3:
      type: string
      description: 'The start date requested for a given date range in **YYYY-MM-DD** format. If left blank, the API will default to previous close. Future dates (T+1) are not accepted in this endpoint.

        '
      example: '2019-01-01'
    returnsRange:
      title: Returns Range Object
      type: object
      properties:
        fsymId:
          description: FactSet Security Identifier. Six alpha-numeric characters, excluding vowels, with a -S suffix (XXXXXX-S), resolved from the requestId of the Fund requested.
          type: string
          example: FNK7XP-S
          x-fds-fql-formula: FSYM_SECURITY_PERM_ID('SECURITY')
          nullable: true
        return:
          description: The Return calculated between two dates. The return type is determined by including or excluding dividends through the dividendAdjust parameter.
          type: number
          format: double
          example: -3.16187341965815
          x-fds-fql-formula: FFD_TRET_USER_RANGE({startDate},{endDate},"NAV",{dividendAdjust})
          nullable: true
        returnStartDate:
          description: The start date of the return in YYYY-MM-DD format. *NOTE - the startDate cannot be less than the `priceFirstDate` which can be accessed in the /summary endpoint.
          type: string
          format: date
          example: '2018-04-18'
          x-fds-fql-formula: FFD_PRICE_ACT_DATE({startDate})
          nullable: true
        returnEndDate:
          description: The end date of the return in YYYY-MM-DD format. The start date of the return in YYYY-MM-DD format. *NOTE - the startDate cannot be less than the `priceFirstDate` which can be accessed in the /summary endpoint.
          type: string
          format: date
          example: '2021-03-30'
          x-fds-fql-formula: FFD_PRICE_ACT_DATE({endDate})
          nullable: true
        requestId:
          description: The requested Id sent as input.
          type: string
          example: MABAX
    returnsSnapshot_2:
      title: Return Snapshot Object
      type: object
      properties:
        fsymId:
          description: Factset Regional Security Identifier. Six alpha-numeric characters, excluding vowels, with an -R suffix (XXXXXX-R). Identifies the security's best regional security data series per currency. For equities, all primary listings per region and currency are allocated a regional-level permanent identifier. The regional-level permanent identifier will be available once a SEDOL representing the region/currency has been allocated and the identifiers are on FactSet.
          type: string
          example: SJY281-R
          nullable: true
        date:
          description: Specific reference date for the period expressed in YYYY-MM-DD format.
          type: string
          format: date
          example: '2020-09-09'
          nullable: true
        currency:
          description: 'Currency ISO code. For more details, visit [Online Assistant Page #1470](https://oa.apps.factset.com/pages/1470).'
          type: string
          example: USD
          nullable: true
        requestId:
          description: Identifier that was used for the request.
          type: string
          example: IBM-US
        oneDay:
          description: Returns the price performance of the security for the previous one day from the given date.
          type: number
          format: double
          example: 0.86627007
          nullable: true
        oneMonth:
          description: Returns the price performance of the security for the past one month.
          type: number
          format: double
          example: -2.1606863
          nullable: true
        threeMonth:
          description: Returns the price performance of the security for the past three months.
          type: number
          format: double
          example: -7.2874727
          nullable: true
        sixMonth:
          description: Returns the price performance of the security for the past six months.
          type: number
          format: double
          example: 3.7772775
          nullable: true
        nineMonth:
          description: Returns the price performance of the security for the past nine months.
          type: number
          format: double
          example: -8.706689
          nullable: true
        oneYear:
          description: Returns the price performance of the security for the past one year.
          type: number
          format: double
          example: -14.263678
          nullable: true
        quarterToDate:
          description: Returns the price performance of the security from the previous calendar quarter end to the given date.
          type: number
          format: double
          example: 1.2337565
          nullable: true
        weekToDate:
          description: Returns the price performance of the security from the previous week (usually Friday) to the given date.
          type: number
          format: double
          example: -0.03270507
          nullable: true
        monthToDate:
          description: Returns the price performance of the security from the previous month-end to the given date.
          type: number
          format: double
          example: -0.851506
          nullable: true
        yearToDate:
          description: Returns the price performance of the security from the previous calendar year-end to the given date.
          type: number
          format: double
          example: -8.788413
          nullable: true
        twoYearAnnualized:
          description: Returns the annualized compound total return for two years.
          type: number
          format: double
          example: -3.7836754
          nullable: true
        threeYearAnnualized:
          description: Returns the annualized compound total return for three years.
          type: number
          format: double
          example: -0.49112806
          nullable: true
        fiveYearAnnualized:
          description: Returns the annualized compound total return for five years.
          type: number
          format: double
          example: 0.8408688
          nullable: true
        tenYearAnnualized:
          description: Returns the annualized compound total return for ten years.
          type: number
          format: double
          example: 2.8786583
          nullable: true
        twentyYearAnnualized:
          description: Returns the annualized compound total return for twenty years.
          type: number
          format: double
          example: 1.8996516
          nullable: true
        thirtyYearAnnualized:
          description: Returns the annualized compound total return for thirty years.
          type: number
          format: double
          example: 7.5250373
          nullable: true
        ipoToDateAnnualized:
          description: Returns the annualized compound total return from the ipo date. The calculation uses the closing price as of the IPO date, and not the IPO price itself.
          type: number
          format: double
          example: 6.5763993
          nullable: true
        dividendAdjust:
          description: "Controls the dividend reinvestment for the returns calculation. Dividends will be reinvested on the date the dividends go ex (when the dividends belong to the seller rather than the buyer). Visit [OA 8748](https://my.apps.factset.com/oa/pages/8748) for calculation methodology.\n  * **PRICE** = Price Change - Dividends Excluded.\n  * **EXDATE** = Simple Return - Dividends Received on exdate but not reinvested. Dividends accumulated throughout the specified period are added to the price at the end of the period.\n  * **EXDATE_C** = Compound Return - Dividends reinvested on exdate. Dividends accumulated throughout the specified period are used to buy more shares of stock in the company.\n"
          type: string
          example: PRICE
          nullable: true
    ClientErrorResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Error'
          nullable: true
          example: []
    dateRS:
      type: string
      description: 'The date in **YYYY-MM-DD** format. This controls the perspective dates to the calculate the returns. If left blank, the API will default to previous close. Future dates (T+1) are not accepted in this endpoint.

        '
      example: '2019-12-31'
    returnsRangeRequest:
      title: Returns Range Request Body
      description: Returns Range Request Body
      type: object
      properties:
        ids:
          $ref: '#/components/schemas/ids'
        startDate:
          $ref: '#/components/schemas/startDateRange'
        endDate:
          $ref: '#/components/schemas/endDate'
        dividendAdjust:
          $ref: '#/components/schemas/dividendAdjust'
      required:
      - ids
    BatchStatusResponse:
      title: Batch Status Response
      type: object
      properties:
        data:
          $ref: '#/components/schemas/BatchStatus'
    frequency:
      type: string
      enum:
      - D
      - W
      - M
      - AM
      - CQ
      - FQ
      - AY
      - CY
      - FY
      default: D
      description: "Controls the display frequency of the data returned.\n  * **D** = Daily\n  * **W** = Weekly, based on the last day of the week of the start date.\n  * **M** = Monthly, based on the last trading day of the month.\n  * **AM** = Monthly, based on the start date (e.g., if the start date is June 16, data is displayed for June 16, May 16, April 16 etc.).\n  * **CQ** = Quarterly based on the last trading day of the calendar quarter (March, June, September, or December).\n  * **FQ** = Fiscal Quarter of the company.\n  * **AY** = Actual Annual, based on the start date.\n  * **CY** = Calendar Annual, based on the last trading day of the calendar year.\n  * **FY** = Fiscal Annual, based on the last trading day of the company's fiscal year.\n"
      example: M
    endDate_2:
      title: End Date
      type: string
      description: 'The end date requested for a given date range in **YYYY-MM-DD** format. Future dates (T+1) are not accepted in this endpoint.

        '
      example: '2021-06-30'
    fundsReturnsResponse:
      type: object
      title: Returns Response
      properties:
        data:
          description: Array of Returns Objects
          type: array
          items:
            $ref: '#/components/schemas/returns'
          example: []
    readReturnsResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            type:
              type: string
              enum:
              - Account
              - AccountComposite
              - ExchangeRate
              - GlobalAccountProperties
              - Holdings
              - HoldingsComposite
              - PortfolioGroup
              - Returns
              - ReturnsComposite
              - SecurityMaster
              - TradeData
              - VendorReturnSeries
              nullable: false
              description: Metadata file type formatted for consistency with the REST api
            id:
              type: string
              nullable: false
              description: Unique identifier for this metadata file.
              example: f132625b-1506-4cc3-b2e8-2c75de39c79c
            display:
              type: string
              nullable: false
              description: The GUI path of this file, including the name and extension.
              example: SP50
            path:
              type: string
              nullable: false
              description: The GUI path to this object.
              example: 'Client:'
            name:
              type: string
              nullable: false
              description: Name of this file object including the extension.
              example: SP50
            description:
              type: string
              nullable: true
              description: User provided description of this file.
              example: Meaningful description of vendor returns
          nullable: true
          description: Read a metadata file by its id.
          example: example_value
      nullable: true
    endDate:
      type: string
      description: 'The end date requested for a given date range in **YYYY-MM-DD** format. If left blank, the API will default to previous close. Future dates (T+1) are not accepted in this endpoint.

        '
      example: '2019-12-31'
    SPARAccountsRoot:
      required:
      - data
      type: object
      properties:
        data:
          $ref: '#/components/schemas/SPARAccounts'
        meta:
          nullable: true
          example: example_value
    SPARAccounts:
      type: object
      properties:
        returnsType:
          type: array
          items:
            $ref: '#/components/schemas/ReturnType'
          description: List of SPAR returnsType
          nullable: true
          example: []
    dividendAdjust:
      type: string
      enum:
      - DIV
      - NO_DIV
      default: DIV
      description: 'Controls the dividend inclusion for the NAV returns calculations, where -  * DIV = Include Dividends, Total Return * NO_DIV = Exclude Dividends, Simple Return

        '
      example: DIV
    returnsRequest_2:
      title: Returns Request Body
      description: Returns Request Body
      type: object
      properties:
        ids:
          $ref: '#/components/schemas/idsMax2000'
        startDate:
          $ref: '#/components/schemas/startDate_3'
        endDate:
          $ref: '#/components/schemas/endDate'
        frequency:
          $ref: '#/components/schemas/frequency'
        currency:
          $ref: '#/components/schemas/requestCurrency'
        calendar:
          $ref: '#/components/schemas/calendar'
        dividendAdjust:
          $ref: '#/components/schemas/dividendAdjust_3'
        rollingPeriod:
          $ref: '#/components/schemas/rollingPeriod'
      required:
      - ids
    readReturnsCompositeResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            type:
              type: string
              enum:
              - Account
              - AccountComposite
              - ExchangeRate
              - GlobalAccountProperties
              - Holdings
              - HoldingsComposite
              - PortfolioGroup
              - Returns
              - ReturnsComposite
              - SecurityMaster
              - TradeData
              - VendorReturnSeries
              nullable: false
              description: Metadata file type formatted for consistency with the REST api
            id:
              type: string
              nullable: false
              description: Unique identifier for this metadata file.
              example: f132625b-1506-4cc3-b2e8-2c75de39c79c
            display:
              type: string
              nullable: false
              description: The GUI path of this file, including the name and extension.
              example: SP50
            path:
              type: string
              nullable: false
              description: The GUI path to this object.
              example: 'Client:'
            name:
              type: string
              nullable: false
              description: Name of this file object including the extension.
              example: SP50
            description:
              type: string
              nullable: true
              description: User provided description of this file.
              example: Meaningful description of vendor returns
          nullable: true
          description: Read a metadata file by its id.
          example: example_value
      nullable: true
    Error:
      type: object
      properties:
        id:
          type: string
          nullable: true
          example: abc123
        code:
          type: string
          nullable: true
          example: example_value
        title:
          type: string
          nullable: true
          example: Example Title
        detail:
          type: string
          nullable: true
          example: example_value
        source:
          $ref: '#/components/schemas/ErrorSource'
    startDateRange:
      type: string
      description: 'The start date requested for a given date range in YYYY-MM-DD format. If left blank, the API will default to the day prior to today''s previous close. The startDate cannot be equal to the endDate as no return can be computed. Additionally, the startDate MUST be equal to or greater than the `priceFirstDate` found within the /summary endpoint.

        '
      example: '2019-01-01'
    startDate:
      type: string
      description: 'The start date requested for a given date range in **YYYY-MM-DD** format. If left blank, the API will default to previous close. Future dates (T+1) are not accepted in this #endpoint.

        '
      example: '2019-01-01'
    ErrorSource:
      type: object
      properties:
        pointer:
          type: string
          nullable: true
          example: example_value
        parameter:
          type: string
          nullable: true
          example: example_value
    returnsSnapshotRequest:
      title: Returns Snapshot Request Body
      description: Returns Snapshot Request Body
      type: object
      properties:
        ids:
          $ref: '#/components/schemas/idsMax2000'
        date:
          $ref: '#/components/schemas/dateRS'
        currency:
          $ref: '#/components/schemas/requestCurrency'
        calendar:
          $ref: '#/components/schemas/calendar'
        dividendAdjust:
          $ref: '#/components/schemas/dividendAdjustSnapshot'
      required:
      - ids
    returnsRequest:
      title: Returns Request Body
      description: Returns Request Body
      type: object
      properties:
        ids:
          $ref: '#/components/schemas/idsBatchMax10000'
        startDate:
          $ref: '#/components/schemas/startDate_2'
        endDate:
          $ref: '#/components/schemas/endDate_2'
        currency:
          $ref: '#/components/schemas/requestCurrency'
        frequency:
          $ref: '#/components/schemas/frequency_2'
        dividendAdjust:
          $ref: '#/components/schemas/dividendAdjust_2'
        batch:
          $ref: '#/components/schemas/batch'
      required:
      - ids
      - startDate
    requestCurrency:
      title: Request Currency
      type: string
      description: Currency code for adjusting prices. Default is Local. For a list of currency ISO codes, visit [Online Assistant Page 1470](https://oa.apps.factset.com/pages/1470).
      example: USD
    dividendAdjustSnapshot:
      type: string
      enum:
      - PRICE
      - EXDATE
      - EXDATE_C
      default: PRICE
      description: "Controls the dividend reinvestment for the returns calculation. Dividends will be reinvested on the date the dividends go ex (when the dividends belong to the seller rather than the buyer). Visit [OA 8748](https://my.apps.factset.com/oa/pages/8748) for calculation methodology.\n  * **PRICE** = Price Change - Dividends Excluded.\n  * **EXDATE** = Simple Return - Dividends Received on exdate but not reinvested. Dividends accumulated throughout the specified period are added to the price at the end of the period.\n  * **EXDATE_C** = Compound Return - Dividends reinvested on exdate. Dividends accumulated throughout the specified period are used to buy more shares of stock in the company.\n"
      example: PRICE
    fundsReturnsSnapshotResponse:
      type: object
      title: Returns Snapshot Response
      properties:
        data:
          description: Array of Returns Objects
          type: array
          items:
            $ref: '#/components/schemas/returnsSnapshot'
          example: []
    batchErrorObject:
      type: object
      nullable: true
      properties:
        id:
          description: A UUID for this particular occurrence of the problem.
          type: string
          nullable: true
          example: adb01824-252f-4420-b0c6-35a1e3507ef5
        code:
          description: status
          type: string
          nullable: true
          example: GenericError
        links:
          description: The Endpoint path {package}/version/{endpoint}
          type: object
          properties:
            about:
              description: details.
              type: string
              example: /factset-global-prices/v1/{endpoint}
          example: example_value
        title:
          description: The plain text error message
          type: string
          nullable: true
          example: Validation Error
    dividendAdjust_2:
      title: dividendAdjust
      type: string
      enum:
      - PRICE
      - EXDATE
      - PAYDATE
      - EXDATE_C
      - PAYDATE_C
      default: EXDATE_C
      description: "Controls the dividend reinvestment for the returns calculation.\n  * **PRICE** = Price Change - Dividends Excluded.\n  * **EXDATE** = Simple Return - Dividends Received on exdate but not reinvested.\n  * **PAYDATE** = Simple Return - Dividends Received on paydate but not reinvested.\n  * **EXDATE_C** = Compound Return - Dividends reinvested on exdate.\n  * **PAYDATE_C** = Compound Return - Dividends reinvested on paydate.\n"
      example: EXDATE_C
    idsMax2000:
      type: array
      items:
        type: string
      minItems: 1
      maxItems: 2000
      description: 'The requested list of security identifiers. Accepted ID types include Market Tickers, SEDOL, ISINs, CUSIPs, or FactSet Permanent Ids.

        '
      example:
      - FDS-US
    errorResponse:
      type: object
      title: Error Response
      properties:
        status:
          description: status
          type: string
          example: Bad Request
        timestamp:
          description: timestamp in YYYY-MM-DD HH:MM:SS.SSS
          type: string
          example: '2019-11-01 11:09:41.918'
          format: date-time
        path:
          description: The Endpoint path {package}/version/{endpoint}
          type: string
          example: /factset-funds/v1/superRegion
        message:
          description: The plain text error message
          type: string
          example: Validation Error
        subErrors:
          description: subErrors related to the error message. Null if not applicable.
          type: object
          properties:
            object:
              description: the operation ID
              type: string
            field:
              description: Parameter Field Name
              type: string
            message:
              description: Error message
              type: string
            rejectedValue:
              description: Rejected Values in an Array
              type: array
              items:
                type: string
          example: example_value
    frequency_2:
      title: Frequency
      type: string
      enum:
      - D
      - AD
      - W
      - M
      - AM
      - AQ
      - CQ
      - ASA
      - CSA
      - AY
      - CY
      default: D
      description: "Controls the display frequency of the data returned.\n  * **D** = Daily\n  * **AD** = Actual Daily\n  * **W** = Weekly, based on the last day of the week of the start date.\n  * **M** = Monthly, based on the last trading day of the month.\n  * **AM** = Monthly, based on the start date (e.g., if the start date is June 16, data is displayed for June 16, May 16, April 16 etc.).\n  * **AQ** =  Actual Quarterly\n  * **CQ** = Quarterly based on the last trading day of the calendar quarter (March, June, September, or December).\n  * **ASA** = Actual Semi-annual\n  * **CSA** = Calendar Semi-annual\n  * **AY** = Actual Annual, based on the start date.\n  * **CY** = Calendar Annual, based on the last trading day of the calendar year.\n"
      example: M
    Errors:
      type: object
      description: Information about one or more errors
      properties:
        errors:
          type: array
          description: List of errors
          items:
            type: object
            properties:
              id:
                type: string
                description: Unique identifier for this error instance.  Used to reference this error in logging.
                example: 270c2fa8-9110-444b-9101-17e10132fe0a
              code:
                type: string
                description: Error code for this error
                enum:
                - BadRequestError
                - UnauthorizedError
                - ForbiddenError
                - NotFoundError
                - NotAcceptableError
                - ConflictError
                - UnsupportedMediaTypeError
                - InternalServerError
                - NotImplementedError
              title:
                type: string
                description: HTTP reason phrase associcated with this error
                enum:
                - Bad Request
                - Unauthorized
                - Forbidden
                - Not Found
                - Not Acceptable
                - Conflict
                - Unsupported Media Type
                - Internal Server Error
                - Not Implemented
              detail:
                type: string
                description: Detailed description of the error that occurred
          example: []
      required:
      - errors
    returnsSnapshotResponse:
      type: object
      title: Returns Snapshot Response
      properties:
        data:
          description: Array of Returns Snapshot Objects
          type: array
          items:
            $ref: '#/components/schemas/returnsSnapshot_2'
          example: []
    returnsResponse:
      type: object
      title: Returns Response
      properties:
        data:
          description: Array of Returns Objects
          type: array
          items:
            $ref: '#/components/schemas/returns_2'
          example: []
    return:
      title: Return Object
      type: object
      properties:
        fsymId:
          description: Factset Regional Security Identifier. Six alpha-numeric characters, excluding vowels, with an -R suffix (XXXXXX-R). Identifies the security's best regional security data series per currency. For equities, all primary listings per region and currency are allocated a regional-level permanent identifier. The regional-level permanent identifier will be available once a SEDOL representing the region/currency has been allocated and the identifiers are on FactSet.
          type: string
          example: SJY281-R
          nullable: true
        date:
          description: End date of the return. Date in YYYY-MM-DD format. Depending on Frequency and Calendar settings, this could represent the entire return period requested.
          type: string
          format: date
          example: '2013-08-01'
          nullable: true
        adjDate:
          description: Date of last split for which return has been adjusted.
          type: string
          format: date
          example: '2005-02-07'
          nullable: true
        currency:
          description: 'Currency ISO code. For more details, visit [Online Assistant Page #1470](https://oa.apps.factset.com/pages/1470).'
          type: string
          example: USD
          nullable: true
        totalReturn:
          description: 'The simple or compound return for the requested `frequency` and/or `rolling_period`. Depending on the input parameters the return will adjust accordingly. If you simply use `frequency` and no `rolling_period`, the return value will represent the frequency period. If you use `rolling_period`, the values will be returned in actual period ends (e.g. actual month, actual week, daily, etc.). General Return Calculation Details found on [Online Assistant Page #8748](https://oa.apps.factset.com/pages/8748)'
          type: number
          format: double
          example: 1.0345
          nullable: true
        requestId:
          description: Identifier that was used for the request.
          type: string
          example: IBM-US
  examples:
    fangStocksReturnPost:
      summary: Fetch the latest one month returns for the FANG stocks - FB, AAPL, NFLX, and GOOGL
      description: Fetch the latest one month returns for the FANG stocks - FB, AAPL, NFLX, and GOOGL
      value:
        ids:
        - FB-US
        - AAPL-US
        - NFLX-US
        - GOOGL-US
        frequency: D
        calendar: FIVEDAY
        currency: LOCAL
        dividendAdjust: EXDATE_C
        rollingPeriod: 1M
    dailyReturnsAPPL:
      summary: One Month Daily Returns for AAPL-US During December 2019
      description: One Month Daily Returns for AAPL-US During December 2019. Note, each total Return value is representative of the dates return value with dividends reinvested using EXDATE_C
      value:
        data:
        - fsymId: MH33D6-R
          date: '2019-11-29'
          adjDate: '2014-06-09'
          currency: USD
          totalReturn: -0.22028089
          requestId: AAPL
        - fsymId: MH33D6-R
          date: '2019-12-02'
          adjDate: '2014-06-09'
          currency: USD
          totalReturn: -1.1562169
          requestId: AAPL
        - fsymId: MH33D6-R
          date: '2019-12-03'
          adjDate: '2014-06-09'
          currency: USD
          totalReturn: -1.7830074
          requestId: AAPL
        - fsymId: MH33D6-R
          date: '2019-12-04'
          adjDate: '2014-06-09'
          currency: USD
          totalReturn: 0.8826256
          requestId: AAPL
        - fsymId: MH33D6-R
          date: '2019-12-05'
          adjDate: '2014-06-09'
          currency: USD
          totalReturn: 1.4671087
          requestId: AAPL
        - fsymId: MH33D6-R
          date: '2019-12-06'
          adjDate: '2014-06-09'
          currency: USD
          totalReturn: 1.9316196
          requestId: AAPL
        - fsymId: MH33D6-R
          date: '2019-12-09'
          adjDate: '2014-06-09'
          currency: USD
          totalReturn: -1.4000118
          requestId: AAPL
        - fsymId: MH33D6-R
          date: '2019-12-10'
          adjDate: '2014-06-09'
          currency: USD
          totalReturn: 0.5844474
          requestId: AAPL
        - fsymId: MH33D6-R
          date: '2019-12-11'
          adjDate: '2014-06-09'
          currency: USD
          totalReturn: 0.85294247
          requestId: AAPL
        - fsymId: MH33D6-R
          date: '2019-12-12'
          adjDate: '2014-06-09'
          currency: USD
          totalReturn: 0.2548337
          requestId: AAPL
        - fsymId: MH33D6-R
          date: '2019-12-13'
          adjDate: '2014-06-09'
          currency: USD
          totalReturn: 1.3593197
          requestId: AAPL
        - fsymId: MH33D6-R
          date: '2019-12-16'
          adjDate: '2014-06-09'
          currency: USD
          totalReturn: 1.7117858
          requestId: AAPL
        - fsymId: MH33D6-R
          date: '2019-12-17'
          adjDate: '2014-06-09'
          currency: USD
          totalReturn: 0.19652843
          requestId: AAPL
        - fsymId: MH33D6-R
          date: '2019-12-18'
          adjDate: '2014-06-09'
          currency: USD
          totalReturn: -0.2389431
          requestId: AAPL
        - fsymId: MH33D6-R
          date: '2019-12-19'
          adjDate: '2014-06-09'
          currency: USD
          totalReturn: 0.10008812
          requestId: AAPL
        - fsymId: MH33D6-R
          date: '2019-12-20'
          adjDate: '2014-06-09'
          currency: USD
          totalReturn: -0.20712614
          requestId: AAPL
        - fsymId: MH33D6-R
          date: '2019-12-23'
          adjDate: '2014-06-09'
          currency: USD
          totalReturn: 1.6318321
          requestId: AAPL
        - fsymId: MH33D6-R
          date: '2019-12-24'
          adjDate: '2014-06-09'
          currency: USD
          totalReturn: 0.09506941
          requestId: AAPL
        - fsymId: MH33D6-R
          date: '2019-12-25'
          adjDate: '2014-06-09'
          currency: USD
          totalReturn: 0
          requestId: AAPL
        - fsymId: MH33D6-R
          date: '2019-12-26'
          adjDate: '2014-06-09'
          currency: USD
          totalReturn: 1.984036
          requestId: AAPL
        - fsymId: MH33D6-R
          date: '2019-12-27'
          adjDate: '2014-06-09'
          currency: USD
          totalReturn: -0.037950277
          requestId: AAPL
        - fsymId: MH33D6-R
          date: '2019-12-30'
          adjDate: '2014-06-09'
          currency: USD
          totalReturn: 0.5935073
          requestId: AAPL
        - fsymId: MH33D6-R
          date: '2019-12-31'
          adjDate: '2014-06-09'
          currency: USD
          totalReturn: 0.7306576
          requestId: AAPL
    unsupportedMediaType:
      summary: Unsupported Media Type
      description: This bad request occurs when the media type passed in the request is not supported. Currently the APIs only support 'application/json'.
      value:
        status: Unsupported Media Type
        timestamp: '2019-11-05 09:42:27.237'
        path: /factset-funds/v1/{endpoint}
        message: text/html media type is not supported. Supported media types are application/json
        subErrors: null
    badRequestReadTimeout:
      summary: Bad Request - Read Timeout
      description: This error may be returned if it takes more than 29 seconds to hear back from the data fetch service.
      value:
        status: Bad Request
        timestamp: '2019-11-04 16:18:38.949'
        path: /factset-funds/v1/{endpoint}
        message: The request took too long. Try again with a smaller request.
        subErrors: null
    fangStocksReturn:
      summary: The latest Month return for FANG Stocks - Facebook, Apple, Netflix, Google.
      description: The latest Month return for FANG Stocks - Facebook, Apple, Netflix, Google.
      value:
        data:
        - fsymId: QLGSL2-R
          date: '2020-06-11'
          adjDate: null
          currency: USD
          totalReturn: 5.2772284
          requestId: FB
        - fsymId: MH33D6-R
          date: '2020-06-11'
          adjDate: '2014-06-09'
          currency: USD
          totalReturn: 6.6315293
          requestId: AAPL
        - fsymId: C4C0BL-R
          date: '2020-06-11'
          adjDate: '2015-07-15'
          currency: USD
          totalReturn: -3.3959866
          requestId: NFLX
        - fsymId: HTM0LK-R
          date: '2020-06-11'
          adjDate: '2014-04-03'
          currency: USD
          totalReturn: -0.12040138
          requestId: GOOGL
    singleRSCompundRTResponse:
      summary: Requesting returns details for single company with compound return type.
      description: Returns result for the given ticker price performance and annualized returns analysis with compound return type.
      value:
        data:
        - currency: USD
          date: '2020-09-10'
          dividendAdjust: EXDATE_C
          fiveYearAnnualized: 18.892164
          fsymId: HTM0LK-R
          ipoToDateAnnualized: 23.792849
          monthToDate: -5.05054
          nineMonth: 15.2164345
          oneDay: 0
          oneMonth: 3.3678055
          oneYear: 28.326284
          quarterToDate: 9.109688
          sixMonth: 21.335184
          tenYearAnnualized: 20.567951
          thirtyYearAnnualized: null
          threeMonth: 5.634606
          threeYearAnnualized: 17.971731
          twentyYearAnnualized: null
          twoYearAnnualized: 14.737806
          weekToDate: -2.1489859
          yearToDate: 15.517509
          requestId: GOOGL-US
    notWritable:
      summary: Internal Server Error - Not Writable
      description: This error may be returned when the server encounters an error writing the JSON response.
      value:
        status: Internal Server Error
        timestamp: '2019-11-05 09:48:29.18'
        path: /factset-funds/v1/{endpoint}
        message: Error writing JSON output
        subErrors: null
    52WKReturnAAPL:
      summary: Rolling 52W Week Total Return for AAPL-US
      description: Rolling 52W Total Return for apple as of 2020-06-11. Request URL https://api.factset.com/content/factset-prices/v1/returns?ids=AAPL&frequency=D&dividendAdjust=EXDATE_C&rollingPeriod=52W
      value:
        data:
        - fsymId: MH33D6-R
          date: '2020-06-11'
          adjDate: '2014-06-09'
          currency: USD
          totalReturn: 74.47648
          requestId: AAPL
    generalException:
      summary: Internal Server Error - General Exception
      description: This is the most general error that can be returned to by the service. Please `Report Issue` to FactSet.
      value:
        status: Internal Server Error
        timestamp: '2019-11-01 10:36:01.944'
        path: /factset-funds/v1/{endpoint}
        message: Unexpected error
        subErrors: null
    badRequestFutureDate:
      summary: Bad Request - Future Date
      description: This error message occurs when a future date is requested in the startDate and endDate parameters. Please revise your request to include dates as of today's current date or any prior historical date.
      value:
        status: Bad Request
        timestamp: '2020-06-12 15:52:48.091'
        path: /factset-funds/v1/{endpoint}
        message: The use of future dates is not applicable in this endpoint. Please revise your request to include dates up to today's current date.
        subErrors: null
    forbidden:
      summary: Forbidden
      description: The USERNAME-SERIAL attempted to request the endpoint is not authorized to access. The request was a legal request, but the server is refusing to respond. Please reach out to FactSet Account Team for assistance with authorization.
      value:
        status: Forbidden
        timestamp: '2020-06-12 16:08:51.731'
        path: /factset-funds/v1/{endpoint}
        message: USERNAME-SERIAL does not have permission to use /factset-funds /v1/{endpoint}
        subErrors: null
    badRequestMalformedJSON:
      summary: Bad Request - Malformed JSON Request
      description: This error may be returned when the request body is specified as JSON, but is not in proper JSON format.
      value:
        status: Bad Request
        timestamp: '2019-11-05 09:48:29.18'
        path: /factset-funds/v1/{endpoint}
        message: Malformed JSON Request
        subErrors: null
    multipleRSSimpleRT:
      summary: Requesting returns details for Multiple companies with simple return type.
      description: Returns result for the given tickers price performance and annualized returns analysis with simple return type.
      value:
        ids:
        - GOOGL-US
        - IBM-US
        date: '2020-10-09'
        dividendAdjust: EXDATE
        calendar: FIVEDAY
        currency: USD
    badRequestInvalidParameters:
      summary: Bad Request - Invalid Parameters
      description: This error message occurs when a request parameter is used in which is not recognized by the service. Please revise your request to include only the parameters listed in the specification. Typical causes are spelling mistakes and use of improper casing.
      value:
        status: Bad Request
        timestamp: '2020-06-12 15:58:54.068'
        path: /factset-funds/v1/{endpoint}
        message: 'Invalid Parameter (s): fakeParameterName1 fakeParameterName2. Please modify your request to use parameters outlined in the specification for this endpoint.'
        subErrors: null
    returnsResponseAll:
      summary: Returns Response of Google (GOOGL) and Apple (AAPL)
      value:
        data:
        - fsymId: WFJYTJ-R
          date: '2019-10-03'
          currency: USD
          totalReturn: 0.927077
          requestId: GOOGL
        - fsymId: MH33D6-R
          date: '2019-10-03'
          currency: USD
          totalReturn: 1.782245
          requestId: AAPL
    badRequestDateFormat:
      summary: Bad Request - Date Format
      description: This bad request occurs when a request doesn't use the YYYY-MM-DD in the date parameters. To resolve, convert your date to YYYY-MM-DD.
      value:
        status: Bad Request
        timestamp: '2019-10-31 16:08:07.945'
        path: /factset-funds/v1/{endpoint}
        message: 'The date parameter ''startDate'' must be in the following date format: YYYY-MM-DD'
        subErrors: null
    singleRSCompundRT:
      summary: Requesting returns details for single company with compound return type.
      description: Returns result for the given ticker price performance and annualized returns analysis with compound return type.
      value:
        ids:
        - GOOGL-US
        date: '2020-10-09'
        dividendAdjust: EXDATE_C
        calendar: FIVEDAY
        currency: USD
    dailyPriceChangeAMZNPost:
      summary: Fetch daily price changes for AAPL for the year 2019
      description: Fetch daily price changes for AAPL for the year 2019
      value:
        ids:
        - AMZN-US
        startDate: '2018-12-31'
        endDate: '2019-12-31'
        frequency: D
        calendar: FIVEDAY
        currency: LOCAL
        dividendAdjust: PRICE
    BatchStatusAcceptedResponse:
      description: Batch Status Accepted Response
      value:
        data:
          id: 2df43e85-ea0f-45c6-bf4a-2baf4d1eaa3c
          status: queued
          startTime: '2021-06-29T18:34:52.168Z'
          endTime: null
          error: null
    unauthenticated:
      summary: User Authentication Failed
      description: This occurs when a user is not properly authenticated or recognized by the service. Please double check the USERNAME-SERIAL and API-Key used to request and ensure you are within the IP range specified for the Key. Report Issue under 401 error for help with troubleshooting.
      value:
        status: User Authentication Failed
        timestamp: '2019-10-31 16:08:07.945'
        path: /factset-funds/v1/{endpoint}
        message: User Authentication Failed.
        subErrors: null
    multipleRSSimpleRTResponse:
      summary: Requesting returns details for multiple companies with simple return type.
      description: Returns result for the given tickers returns and annualized returns analysis with simple return type.
      value:
        data:
        - currency: USD
          date: '2020-09-10'
          dividendAdjust: EXDATE
          fiveYearAnnualized: 18.892164
          fsymId: HTM0LK-R
          ipoToDateAnnualized: 23.792849
          monthToDate: -5.05054
          nineMonth: 15.2164345
          oneDay: 0
          oneMonth: 3.3678055
          oneYear: 28.326284
          quarterToDate: 9.109688
          requestId: GOOGL-US
          sixMonth: 21.335184
          tenYearAnnualized: 20.567951
          thirtyYearAnnualized: null
          threeMonth: 5.634606
          threeYearAnnualized: 17.971731
          twentyYearAnnualized: null
          twoYearAnnualized: 14.737806
          weekToDate: -2.1489859
          yearToDate: 15.517509
        - currency: USD
          date: '2020-09-10'
          dividendAdjust: EXDATE
          fiveYearAnnualized: 0.68179286
          fsymId: SJY281-R
          ipoToDateAnnualized: 6.5760174
          monthToDate: -0.851506
          nineMonth: -5.0556364
          oneDay: 0
          oneMonth: -3.8155913
          oneYear: -11.230612
          quarterToDate: 2.5834322
          requestId: IBM-US
          sixMonth: 0.60111284
          tenYearAnnualized: 2.7469
          thirtyYearAnnualized: 7.513745
          threeMonth: -4.604602
          threeYearAnnualized: -0.49068186
          twentyYearAnnualized: 1.8993893
          twoYearAnnualized: -3.8598573
          weekToDate: -0.03270507
          yearToDate: -5.1477075
    badRequestRequiredParameter:
      summary: Bad Request - Required Parameter Missing
      description: This error message occurs when the request does not include the required parameters. Required parameters are indicated with a red asterisks symbol in the specification file.
      value:
        status: Bad Request
        timestamp: '2020-06-12 15:48:42.016'
        path: /factset-funds/v1/{endpoint}
        message: The parameter 'ids' is required and may not be empty.
        subErrors: null
  parameters:
    dividendAdjustSnapshot:
      name: dividendAdjust
      in: query
      description: "Controls the dividend reinvestment for the returns calculation. Dividends will be reinvested on the date the dividends go ex (when the dividends belong to the seller rather than the buyer). Visit [OA 8748](https://my.apps.factset.com/oa/pages/8748) for calculation methodology.\n  * **PRICE** = Price Change - Dividends Excluded.\n  * **EXDATE** = Simple Return - Dividends Received on exdate but not reinvested. Dividends accumulated throughout the specified period are added to the price at the end of the period.\n  * **EXDATE_C** = Compound Return - Dividends reinvested on exdate. Dividends accumulated throughout the specified period are used to buy more shares of stock in the company.\n"
      required: false
      schema:
        type: string
        enum:
        - PRICE
        - EXDATE
        - EXDATE_C
        default: PRICE
    startDateRange:
      name: startDate
      in: query
      required: false
      schema:
        type: string
      description: 'The start date requested for a given date range in **YYYY-MM-DD** format. If left blank, the API will default to the day prior to today''s previous close. The startDate cannot be equal to the endDate as no return can be computed. Additionally, the startDate MUST be equal to or greater than the `priceFirstDate` found within the /summary endpoint.

        '
      example: '2018-12-31'
    startDate_3:
      name: startDate
      in: query
      required: false
      schema:
        type: string
      description: 'The start date requested for a given date range in **YYYY-MM-DD** format. If left blank, the API will default to previous close. Future dates (T+1) are not accepted in this endpoint.

        '
      example: '2019-01-01'
    ids:
      name: ids
      in: query
      schema:
        type: array
        items:
          type: string
        minItems: 1
        maxItems: 1000
      required: true
      explode: false
      description: 'The requested fund identifier. FactSet Identifiers, tickers, CUSIP, SEDOL, and ISIN are accepted inputs. <p>***ids limit** =  1000 per request*</p> *<p>Make note, GET Method URL request lines are also limited to a total length of 8192 bytes (8KB). In cases where the service allows for thousands of ids, which may lead to exceeding this request line limit of 8KB, its advised for any requests with large request lines to be requested through the respective "POST" method.</p>*

        '
      examples:
        oneId:
          summary: One Market Identifier
          value:
          - MABAX-US
        multipleIds:
          summary: Multiple Market Identifiers
          value:
          - MABAX-US
          - FCNTX-US
    startDate_2:
      name: startDate
      in: query
      required: true
      schema:
        type: string
      description: 'The start date requested for a given date range in **YYYY-MM-DD** format. The input start date must be before the input end date. Future dates (T+1) are not accepted in this endpoint.

        '
      example: '2021-08-27'
    dividendAdjust:
      name: dividendAdjust
      in: query
      schema:
        type: string
        enum:
        - DIV
        - NO_DIV
        default: DIV
      description: "Controls the dividend inclusion for the NAV returns calculations, where - \n* DIV = Include Dividends, Total Return\n* NO_DIV = Exclude Dividends, Simple Return\n"
    endDate_3:
      name: endDate
      in: query
      required: false
      schema:
        type: string
      description: 'The end date requested for a given date range in **YYYY-MM-DD** format. If left blank, the API will default to previous close. Future dates (T+1) are not accepted in this endpoint.

        '
      example: '2019-12-31'
    dateRs:
      name: date
      in: query
      required: false
      schema:
        type: string
      description: 'The date in **YYYY-MM-DD** format. This controls the perspective dates to the calculate the returns. If left blank, the API will default to previous close. Future dates (T+1) are not accepted in this endpoint.

        '
      example: '2019-07-07'
    frequency:
      name: frequency
      in: query
      schema:
        type: string
        enum:
        - D
        - W
        - M
        - AM
        - CQ
        - FQ
        - AY
        - CY
        - FY
        default: M
      description: "Controls the display frequency of the data returned.\n  * **D** = Daily\n  * **W** = Weekly, based on the last day of the week of the start date.\n  * **M** = Monthly, based on the last trading day of the month.\n  * **AM** = Monthly, based on the start date (e.g., if the start date is June 16, data is displayed for June 16, May 16, April 16 etc.).\n  * **CQ** = Quarterly based on the last trading day of the calendar quarter (March, June, September, or December).\n  * **FQ** = Fiscal Quarter of the company.\n  * **AY** = Actual Annual, based on the start date.\n  * **CY** = Calendar Annual, based on the last trading day of the calendar year.\n  * **FY** = Fiscal Annual, based on the last trading day of the company's fiscal year.\n"
    dateSnapshot:
      name: date
      in: query
      required: false
      schema:
        type: string
      description: 'The date requested for a given date range in YYYY-MM-DD format. The date MUST be equal to or less than the `priceRecentDate` found within the /summary endpoint.

        '
      example: '2018-12-31'
    startDate:
      name: startDate
      in: query
      required: false
      schema:
        type: string
      description: 'The start date requested for a given date range in **YYYY-MM-DD** format. If left blank, the API will default to latest available completed period.

        '
      example: '2018-12-31'
    frequency_2:
      name: frequency
      in: query
      schema:
        type: string
        enum:
        - D
        - AD
        - W
        - M
        - AM
        - AQ
        - CQ
        - ASA
        - CSA
        - AY
        - CY
        default: D
      description: "Controls the display frequency of the data returned.\n  * **D** = Daily\n  * **AD** = Actual Daily\n  * **W** = Weekly, based on the last day of the week of the start date.\n  * **M** = Monthly, based on the last trading day of the month.\n  * **AM** = Monthly, based on the start date (e.g., if the start date is June 16, data is displayed for June 16, May 16, April 16 etc.).\n  * **AQ** =  Actual Quarterly\n  * **CQ** = Quarterly based on the last trading day of the calendar quarter (March, June, September, or December).\n  * **ASA** = Actual Semi-annual\n  * **CSA** = Calendar Semi-annual\n  * **AY** = Actual Annual, based on the start date.\n  * **CY** = Calendar Annual, based on the last trading day of the calendar year.\n  \n"
    dividendAdjust_3:
      name: dividendAdjust
      in: query
      schema:
        type: string
        enum:
        - PRICE
        - EXDATE
        - PAYDATE
        - EXDATE_C
        - PAYDATE_C
        default: PRICE
      required: false
[...]
