openapi: 3.2.0
info:
  title: FactSet Overview Report Builder Financial Highlights API
  description: Get relevant industry-specific data for high level analysis of public and private companies
  license:
    name: Apache License, Version 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  version: 1.2.0
  contact:
    name: FactSet Research Systems
    url: https://developer.factset.com/contact
    email: api@factset.com
servers:
- url: https://api.factset.com/report/overview/v1
security:
- FactSetApiKey: []
- FactSetOAuth2: []
tags:
- name: Financial Highlights
paths:
  /financial-highlights:
    get:
      tags:
      - Financial Highlights
      summary: Factset Financial / Estimate Highlights
      parameters:
      - name: id
        in: query
        description: Company ticker
        required: true
        schema:
          type: string
          example: FDS
      - name: actual
        in: query
        description: The number of actual data periods to be returned. Must be greater than 0
        required: false
        schema:
          type: integer
          example: 4
          default: 4
      - name: estimate
        in: query
        description: The number of estimate data periods to be returned. Must be greater than 0
        required: false
        schema:
          type: integer
          example: 1
          default: 1
      responses:
        '200':
          $ref: '#/components/responses/200OKFinancialHighlights'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '404':
          $ref: '#/components/responses/404NotFound'
        '429':
          $ref: '#/components/responses/429TooManyRequests'
        '500':
          $ref: '#/components/responses/500InternalServerError'
        '503':
          $ref: '#/components/responses/503ServiceUnavailable'
components:
  examples:
    parameterErrorActual:
      summary: actual periods parameter error
      value:
        errors:
        - id: 35a62bd5-c4aa-4e6b-9357-0f1b5688e2db
          code: parameterError
          title: 'Invalid parameter: ''actual''. Accepted values include nonzero integers'
    parameterErrorEstimate:
      summary: estimate periods parameter error
      value:
        errors:
        - id: 372a28d1-53ac-49cd-9be5-beb714cd62a8
          code: parameterError
          title: 'Invalid parameter: ''estimate''. Accepted values include nonzero integers'
    endpointNotFound:
      summary: endpoint not found
      value:
        errors:
        - id: 39314614-e607-465a-ba95-5bb79c362e23
          code: endpointNotFound
          title: The requested endpoint does not exist.
    unsupportedEntityParameterError:
      summary: unsupported entity type
      value:
        errors:
        - id: 39314614-e607-465a-ba95-5bb79c362e23
          code: parameterError
          title: Unsupported entity type
    default200FinancialHighlightsResponse:
      summary: sample response
      value:
        data:
          version: '2.0'
          tables:
            main:
              definition:
                columns:
                - id: lineItem1
                  type: string
                - id: lineItem2
                  type: string
                - id: lineItem3
                  type: string
                - id: lineItem4
                  type: string
                - id: lineItem5
                  type: string
                - id: lineItem6
                  type: string
                - id: lineItem7
                  type: string
              headersDefinition:
                columns: []
              data:
                rows:
                - cells:
                  - null
                  - Aug '16
                  - Aug '17
                  - Aug '18
                  - Aug '19
                  - Aug '20
                  - Aug '21
                  rowType: Header
                  headerCellDetails:
                    '0':
                      source: PRIMARY
                      columnIndex: 0
                    '1':
                      source: PRIMARY
                      columnIndex: 1
                    '2':
                      source: PRIMARY
                      columnIndex: 2
                    '3':
                      source: PRIMARY
                      columnIndex: 3
                    '4':
                      source: PRIMARY
                      columnIndex: 4
                    '5':
                      source: PRIMARY
                      columnIndex: 5
                    '6':
                      source: PRIMARY
                      columnIndex: 6
                - cells:
                  - Sales
                  - '1127.092000'
                  - '1221.179000'
                  - '1350.145000'
                  - '1435.351000'
                  - '1494.111000'
                  - '1591.445000'
                  rowMetadata:
                    metric:
                      value: FIN
                    scale:
                      value: 6
                - cells:
                  - EBITDA
                  - '398.079000'
                  - '421.412000'
                  - '437.783000'
                  - '500.292000'
                  - '558.515000'
                  - '581.364000'
                  rowMetadata:
                    metric:
                      value: FIN
                    scale:
                      value: 6
                tableMetadata:
                  currencyCode:
                    value: USD
                  currencySymbol:
                    value: $
                  sources:
                    value:
                    - FactSet Fundamentals
                    - FactSet Estimates
                columnMetadata:
                  '1':
                    items:
                      category:
                        value: ACTUAL
                  '2':
                    items:
                      category:
                        value: ACTUAL
                  '3':
                    items:
                      category:
                        value: ACTUAL
                  '4':
                    items:
                      category:
                        value: ACTUAL
                  '5':
                    items:
                      category:
                        value: ACTUAL
                  '6':
                    items:
                      category:
                        value: ACTUAL
        meta:
          requestId: FDS-US
          fsymId: SQFMK3-R
    idRequiredParameterError:
      summary: generic parameter error (missing parameter)
      value:
        errors:
        - id: 39314614-e607-465a-ba95-5bb79c362e23
          code: parameterError
          title: 'Missing required parameter(s): ''id'''
    idInvalidParameterError:
      summary: generic parameter error (invalid parameter)
      value:
        errors:
        - id: 39314614-e607-465a-ba95-5bb79c362e23
          code: parameterError
          title: 'Invalid parameter(s): ''id'''
    noData200FinancialHighlightsResponse:
      summary: no coverage response
      value:
        data:
          version: '2.0'
          tables:
            main:
              definition:
                columns:
                - id: lineItem1
                  type: string
              headersDefinition:
                columns: []
              data:
                rows: []
                tableMetadata:
                  currencyCode:
                    value: GBP
                  currencySymbol:
                    value: £
        meta:
          requestId: 0KJ0NJ-E
          fsymId: null
          noCoverage: true
          message: This identifier is not covered by this API.
    parameterErrorView:
      summary: view parameter error
      value:
        errors:
        - id: 3838f112-ed5a-4d9d-b0c7-3594d8eab0ed
          code: parameterError
          title: 'Invalid parameter: ''view''. Accepted values include: ''FINANCIAL'', ''VALUATION'', ''CAPITALIZATION'', ''MARGINS'' or ''PERFORMANCE'''
    parameterErrorTopn:
      summary: topn parameter error
      value:
        errors:
        - id: 39314614-e607-465a-ba95-5bb79c362e23
          code: parameterError
          title: 'Invalid parameter: ''topn'''
  responses:
    401Unauthorized:
      description: Missing or invalid authentication. Ensure you are logged in and have successfully generated an API KEY for the IP range you are connecting from. For further assistance, file an issue under "Connectivty - 401 or 403 Responses" using `Report Issue` at the top of this page, including the X-DataDirect-Request-Key from the header to assist in troubleshooting.
      headers:
        X-DataDirect-Request-Key:
          schema:
            type: string
          description: FactSet request ID
    404NotFound:
      description: Not found. For further assistance, file an issue under "Performance - 404 and 500 Responses" using `Report Issue` at the top of this page, including the X-DataDirect-Request-Key from the header to assist in troubleshooting.
      headers:
        X-DataDirect-Request-Key:
          schema:
            type: string
          description: FactSet request ID
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            endpointNotFound:
              $ref: '#/components/examples/endpointNotFound'
    500InternalServerError:
      description: Server error. For further assistance, file an issue under "Performance - 404 and 500 Responses" using `Report Issue` at the top of this page, including the X-DataDirect-Request-Key from the header to assist in troubleshooting.
      headers:
        X-DataDirect-Request-Key:
          schema:
            type: string
          description: FactSet request ID
    200OKFinancialHighlights:
      description: Expected response; Returns JSON data containing STACH 2.0 row organized package format
      headers:
        X-DataDirect-Request-Key:
          $ref: '#/components/headers/xDataDirectRequestKey'
        Api-Supported-Versions:
          $ref: '#/components/headers/apiSupportedVersions'
        Api-Version:
          $ref: '#/components/headers/apiVersion'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/StachTableResponse'
          examples:
            default200ResponseExample:
              $ref: '#/components/examples/default200FinancialHighlightsResponse'
            noDataresponse:
              $ref: '#/components/examples/noData200FinancialHighlightsResponse'
    400BadRequest:
      description: Bad Request. For further assistance, file an issue under "Workflow & Throttling - 400 or 429 Response" using `Report Issue` at the top of this page, including the X-DataDirect-Request-Key from the header to assist in troubleshooting.
      headers:
        X-DataDirect-Request-Key:
          $ref: '#/components/headers/xDataDirectRequestKey'
        Api-Supported-Versions:
          $ref: '#/components/headers/apiSupportedVersions'
        Api-Version:
          $ref: '#/components/headers/apiVersion'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            idRequiredParameterError:
              $ref: '#/components/examples/idRequiredParameterError'
            idInvalidParameterError:
              $ref: '#/components/examples/idInvalidParameterError'
            unsupportedEntityParameterError:
              $ref: '#/components/examples/unsupportedEntityParameterError'
            parameterErrorActual:
              $ref: '#/components/examples/parameterErrorActual'
            parameterErrorEstimate:
              $ref: '#/components/examples/parameterErrorEstimate'
            parameterErrorTopn:
              $ref: '#/components/examples/parameterErrorTopn'
            parameterErrorView:
              $ref: '#/components/examples/parameterErrorView'
    503ServiceUnavailable:
      description: Service unavailable. Typically a timeout, or result of a rejected request to prevent service overload. For further assistance, file an issue under "Performance - 404 and 500 Responses" using `Report Issue` at the top of this page, including the X-DataDirect-Request-Key from the header to assist in troubleshooting.
      headers:
        X-DataDirect-Request-Key:
          schema:
            type: string
          description: FactSet request ID
    429TooManyRequests:
      description: Too many requests - this API is rate-limited to 20 requests per second. For further assistance, file an issue under "Workflow & Throttling - 400 or 429 Response" using `Report Issue` at the top of this page, including the X-DataDirect-Request-Key from the header to assist in troubleshooting.
      headers:
        X-DataDirect-Request-Key:
          schema:
            type: string
          description: FactSet request ID
  headers:
    apiSupportedVersions:
      description: Supported API versions (semantic versioning)
      schema:
        type: string
    xDataDirectRequestKey:
      description: FactSet request ID
      schema:
        type: string
    apiVersion:
      description: API version (semantic versioning)
      schema:
        type: string
  schemas:
    ErrorObject:
      type: object
      properties:
        id:
          type: string
        code:
          type: string
        title:
          type: string
        links:
          type: object
          properties:
            about:
              type: string
        detail:
          type: string
        source:
          type: object
          properties:
            parameter:
              type: string
    Meta:
      type: object
      additionalProperties:
        type: string
    ErrorResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/ErrorObject'
        meta:
          $ref: '#/components/schemas/Meta'
    StachTableResponse:
      type: object
      properties:
        data:
          title: STACH
          description: Returns a STACH 2.0 row organized package
        meta:
          $ref: '#/components/schemas/Meta'
  securitySchemes:
    FactSetOAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://auth.factset.com/as/token.oauth2
          scopes: {}
    FactSetApiKey:
      type: http
      scheme: basic
externalDocs:
  description: API Documentation
  url: https://developer.factset.com/api-catalog/overview-report-builder-api
