openapi: 3.2.0
info:
  title: FactSet Signals Entities API
  description: 'Leverage Signals to identify material events for a company. Signals are

    derived from FactSet''s core data, cognitive computing technology, and our

    3rd party partners.'
  version: 2.6.0
  contact:
    name: Signals API Support
    email: signals.api@factset.com
servers:
- url: https://api.factset.com/signals/v2
  description: Production
security:
- basicAuth: []
tags:
- name: Entities
paths:
  /events/entities:
    get:
      tags:
      - Entities
      x-factset-sdk-ignore: true
      operationId: getEventEntities
      description: Fetch FactSet entity IDs for events that match the filtering criteria
      parameters:
      - $ref: '#/components/parameters/createdParam'
      - $ref: '#/components/parameters/updatedParam'
      - $ref: '#/components/parameters/signalIdsParam'
      - $ref: '#/components/parameters/themesParam'
      - $ref: '#/components/parameters/categoriesParam'
      - $ref: '#/components/parameters/relevanceScoreParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/eventsEntities'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        '429':
          description: API Rate Limit Exceeded
          headers:
            Api-Version:
              $ref: '#/components/headers/Api-Version'
            Api-Supported-Versions:
              $ref: '#/components/headers/Api-Supported-Versions'
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimit-Limit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimit-Remaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rateLimitResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      summary: Get event entities
      x-summary-source: derived
    post:
      tags:
      - Entities
      operationId: postEventEntities
      description: Fetch FactSet entity IDs for events that match the filtering criteria
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/eventsEntitiesPost'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/eventsEntities'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        '429':
          description: API Rate Limit Exceeded
          headers:
            Api-Version:
              $ref: '#/components/headers/Api-Version'
            Api-Supported-Versions:
              $ref: '#/components/headers/Api-Supported-Versions'
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimit-Limit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimit-Remaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rateLimitResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      summary: Post event entities
      x-summary-source: derived
components:
  headers:
    RateLimit-Limit:
      description: Total number of requests allowed in a specific time window. The time window is two seconds for regular API users and one week for limited access users.
      schema:
        type: integer
        example: 5
    Api-Supported-Versions:
      description: Comma-separated list of supported major versions.
      schema:
        type: string
        example: '1'
    RateLimit-Remaining:
      description: Remaining number of requests in the current time window.
      schema:
        type: integer
        example: 4
    RateLimit-Reset:
      description: Time remaining (in seconds) until the quota is reset.
      schema:
        type: integer
        example: 1000
    Api-Version:
      description: Full semantic version of the API.
      schema:
        type: string
        example: 1.0.0
  schemas:
    DateTime:
      type: string
      format: date-time
      description: A date/time string in ISO 8601 format.
      example: '2021-01-01T00:00:00Z'
    RelevanceScoreRange:
      type: object
      description: 'Represents a valid range for user relevancy score for signal events. The upper bound of the range is represented by the attribute **gt** or **gte**. The lower bound of the range is presented by **lt** or **lte** The range can contain either of the bounds or both. e.g. { "gt": 0.4, "lt": 0.8 }

        '
      minProperties: 1
      properties:
        gt:
          type: number
          format: float
          example: 42.5
        gte:
          type: number
          format: float
          example: 42.5
        lt:
          type: number
          format: float
          example: 42.5
        lte:
          type: number
          format: float
          example: 42.5
    DateTimeInterval:
      type: object
      description: 'Represents a valid date/time (UTC) interval. The upper bound of the interval is represented by the attribute **gt** or **gte**. The lower bound of the interval is presented by **lt** or **lte** The interval can contain either of the bounds or both. e.g. { "gt": "2021-05-01T00:00:00.000Z", "lt": "2021-05-08T00:00:00.000Z" }

        '
      minProperties: 1
      properties:
        gt:
          $ref: '#/components/schemas/DateTime'
        gte:
          $ref: '#/components/schemas/DateTime'
        lt:
          $ref: '#/components/schemas/DateTime'
        lte:
          $ref: '#/components/schemas/DateTime'
    errorResponse:
      type: object
      required:
      - message
      properties:
        message:
          type: string
          description: A short description of the error.
          example: There was an error processing your request. Please try again later.
        errors:
          type: array
          items:
            $ref: '#/components/schemas/errorItem'
          description: Optional list of errors. e.g. Validation errors for multiple parameters
          example: []
    rateLimitResponse:
      title: Rate Limit Error Object
      description: Error returned if any of the user's rate limit have been reached.
      properties:
        message:
          type: string
          example: API rate limit exceeded
    eventsEntitiesPost:
      type: object
      properties:
        created:
          allOf:
          - $ref: '#/components/schemas/DateTimeInterval'
          description: A date/time (UTC) interval for filtering signal events based on their creation date. Defaults to NOW - 7 days if omitted. Users with limited access can only provide the default or a smaller date window.
          example: example_value
        updated:
          allOf:
          - $ref: '#/components/schemas/DateTimeInterval'
          description: A date/time (UTC) interval for filtering signal events based on their last updated date. Defaults to NOW - 7 days if omitted. Users with limited access can only provide the default or a smaller date window.
          example: example_value
        signalIds:
          type: string
          description: Comma delimited string of signalIds
          example: dilutionTrigger,freeCashFlow
        themes:
          type: string
          description: Comma delimited string of theme ids. Full list of signal themes can be viewed at /themes.
          example: example_value
        categories:
          type: string
          description: Comma delimited string of category ids. Full list of signal categories can be viewed at /categories.
          example: example_value
        userRelevanceScore:
          allOf:
          - $ref: '#/components/schemas/RelevanceScoreRange'
          description: A range for filtering signal events based on their relevancy score.
          example: example_value
    screenMeta:
      type: object
      required:
      - signalRequestId
      - dateRange
      properties:
        signalRequestId:
          type: string
          format: uuid
          example: '500123'
        dateRange:
          type: object
          properties:
            created:
              $ref: '#/components/schemas/DateTimeInterval'
            updated:
              $ref: '#/components/schemas/DateTimeInterval'
          example: example_value
        partial:
          type: object
          required:
          - isPartial
          - reason
          properties:
            isPartial:
              type: boolean
              description: Indicates that some of the matching entities are missing in the response.
            reason:
              type: string
              description: Describes why the response was sent with an incomplete list of entities.
          example: example_value
    errorItem:
      type: object
      required:
      - id
      - code
      - title
      properties:
        id:
          type: string
          format: uuid
          example: abc123
        code:
          type: string
          example: parameterError
        title:
          type: string
          example: Invalid type/value
        detail:
          type: string
          example: Value must be a valid UTC date/time that conforms to ISO 8601 format
        source:
          type: object
          properties:
            parameter:
              type: string
          example: example_value
    eventsEntities:
      type: object
      required:
      - data
      - meta
      properties:
        data:
          type: array
          items:
            type: string
            description: The FactSet entity ID of a company with an event
            example: 0016YD-E
          example: []
        meta:
          $ref: '#/components/schemas/screenMeta'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/errorItem'
          example: []
  parameters:
    createdParam:
      name: created
      in: query
      schema:
        $ref: '#/components/schemas/DateTimeInterval'
      style: deepObject
      explode: true
      description: A date/time (UTC) interval for filtering signal events based on their creation date. Defaults to NOW - 7 days if omitted. Users with limited access can only provide the default or a smaller date window.
      examples:
        default:
          value: {}
        lowerBound:
          $ref: '#/components/examples/lowerBound'
        upperBound:
          $ref: '#/components/examples/upperBound'
        bothBounds:
          $ref: '#/components/examples/bothBounds'
    signalIdsParam:
      name: signalIds
      in: query
      schema:
        type: string
        description: Comma delimited string of signalIds
      example: dilutionTrigger,freeCashFlow
    relevanceScoreParam:
      name: userRelevanceScore
      in: query
      schema:
        $ref: '#/components/schemas/RelevanceScoreRange'
      style: deepObject
      explode: true
      description: A range for filtering signal events based on their relevancy score.
      examples:
        lowerBound:
          value:
            gte: 0
        upperBound:
          value:
            lt: 1
        bothBounds:
          value:
            gt: 0
            lt: 1
    updatedParam:
      name: updated
      in: query
      schema:
        $ref: '#/components/schemas/DateTimeInterval'
      style: deepObject
      explode: true
      description: A date/time (UTC) interval for filtering signal events based on their last updated date. Defaults to NOW - 7 days if omitted. Users with limited access can only provide the default or a smaller date window.
      examples:
        default:
          value: {}
        lowerBound:
          $ref: '#/components/examples/lowerBound'
        upperBound:
          $ref: '#/components/examples/upperBound'
        bothBounds:
          $ref: '#/components/examples/bothBounds'
    themesParam:
      name: themes
      in: query
      schema:
        type: string
      description: Comma delimited string of theme ids. Full list of signal themes can be viewed at /themes.
    categoriesParam:
      name: categories
      in: query
      schema:
        type: string
      description: Comma delimited string of category ids. Full list of signal categories can be viewed at /categories.
  examples:
    bothBounds:
      value:
        gt: '2022-01-01T00:00:00.000Z'
        lt: '2022-01-02T00:00:00.000Z'
    lowerBound:
      value:
        gt: '2022-01-01T00:00:00.000Z'
    upperBound:
      value:
        lt: '2022-01-02T00:00:00.000Z'
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
