openapi: 3.2.0
info:
  version: 3.0.0
  title: FactSet Real-Time Quotes By API
  description: '

    The Quotes API combines endpoints for retrieving security end-of-day,

    delayed, and realtime prices with performance key figures and basic

    reference data on the security and market level.'
  contact:
    name: FactSet Research Systems
    url: https://developer.factset.com/contact
    email: api@factset.com
  license:
    name: Apache License, Version 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
servers:
- url: https://api.factset.com/wealth/v3
security:
- FactSetApiKey: []
- FactSetOAuth2: []
tags:
- name: By
paths:
  /category/listByLevel:
    get:
      tags:
      - By
      operationId: get/category/listByLevel
      x-supportsOffsetBasedPaging: true
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Factset List of Categories Assigned to a Category Level.
      description: List of categories assigned to a category level.
      parameters:
      - name: id
        in: query
        schema:
          type: number
          format: id32
          x-positive: true
          description: Identifier of a category level. See attribute `levels` in endpoint `/category/system/get` for valid values.
        required: true
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      - name: _language
        in: query
        schema:
          type: string
          format: isoLanguage
          description: ISO 639-1 code of the language.
          maxLength: 2
          minLength: 2
      - description: Non-negative number of entries to skip, or 0 (default).
        name: _paginationOffset
        in: query
        schema:
          type: number
          format: int32
          minimum: 0
          default: 0
      - description: Non-negative maximum number of entries to return.
        name: _paginationLimit
        in: query
        schema:
          type: number
          format: int32
          minimum: 0
          maximum: 500
          default: 20
      responses:
        '200':
          $ref: '#/components/responses/GetCategoryListByLevel200Response'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /category/listBySystem:
    get:
      tags:
      - By
      operationId: get/category/listBySystem
      x-supportsOffsetBasedPaging: true
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Factset List of Categories Assigned to a Category System.
      description: List of categories assigned to a category system.
      parameters:
      - name: id
        in: query
        schema:
          type: number
          format: id32
          x-positive: true
          description: Identifier of a category system. See endpoint `/category/system/list` for valid values.
        required: true
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      - name: _language
        in: query
        schema:
          type: string
          format: isoLanguage
          description: ISO 639-1 code of the language.
          maxLength: 2
          minLength: 2
      - description: Non-negative number of entries to skip, or 0 (default).
        name: _paginationOffset
        in: query
        schema:
          type: number
          format: int32
          minimum: 0
          default: 0
      - description: Non-negative maximum number of entries to return.
        name: _paginationLimit
        in: query
        schema:
          type: number
          format: int32
          minimum: 0
          maximum: 500
          default: 20
      responses:
        '200':
          $ref: '#/components/responses/GetCategoryListBySystem200Response'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /notation/crossReference/factSetIdentifier/listByFactSetIdentifier:
    post:
      tags:
      - By
      operationId: post/notation/crossReference/factSetIdentifier/listByFactSetIdentifier
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Retrieve a List of Notations for a Given Factset Identifier.
      description: <p>Retrieve a list of notations for a given FactSet identifier, grouped by regional identifiers, if available. Listings without a regional identifier are grouped at the end of the response.</p><p>The notation corresponding to the security's primary listing has the attributes <big><tt>regional.isPrimary</tt></big> and <big><tt>regional.listing.isPrimary</tt></big> both set to true.The security's primary listing might not be among the results depending on the entitlement.</p><p>See the group description for more information about the security's primary listing.</p>
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostNotationCrossReferenceFactSetIdentifierListByFactSetIdentifierRequest'
        required: true
      responses:
        '200':
          $ref: '#/components/responses/PostNotationCrossReferenceFactSetIdentifierListByFactSetIdentifier200Response'
      parameters: []
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /notation/crossReference/factSetIdentifier/listByInstrument:
    post:
      tags:
      - By
      operationId: post/notation/crossReference/factSetIdentifier/listByInstrument
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Retrieve a List of Factset Identifiers for a Given Instrument.
      description: <p>Retrieve a list of FactSet identifiers for a given instrument, grouped by regional identifiers, if available. Listings without a regional identifier are grouped at the end of the response.</p><p>The notation corresponding to the security's primary listing has the attributes <big><tt>regional.isPrimary</tt></big> and <big><tt>regional.listing.isPrimary</tt></big> both set to true.The security's primary listing might not be among the results depending on the entitlement.</p><p>The result contains only notations that have at least one FactSet identifier (see <big><tt>listing.permanentIdentifier</tt></big>, <big><tt>listing.tickerExchange</tt></big>).</p><p>See the group description for more information about the security's primary listing.</p>
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostNotationCrossReferenceFactSetIdentifierListByInstrumentRequest'
        required: true
      responses:
        '200':
          $ref: '#/components/responses/PostNotationCrossReferenceFactSetIdentifierListByInstrument200Response'
      parameters: []
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    PostNotationCrossReferenceFactSetIdentifierListByFactSetIdentifierRequest:
      x-property-sort:
      - data
      - meta
      description: Request Body
      required:
      - data
      type: object
      properties:
        data:
          type: object
          x-property-sort:
          - symbologyIdentifier
          description: The data member contains the request's primary data.
          properties:
            symbologyIdentifier:
              type: string
              pattern: ^[B-DF-HJ-NP-TV-Z0-9]{6}-[SLR]$|[A-Z0-9.#&*+]{1,47}-[A-Z0-9]{2,4}$
              maxLength: 50
              minLength: 4
              description: FactSet Symbology Identifier. See the endpoint description for valid FactSet Symbology Identifier types.
          required:
          - symbologyIdentifier
          example: example_value
        meta:
          type: object
          description: The meta member contains the meta information of the request.
          properties:
            attributes:
              $ref: '#/components/schemas/AttributesMember'
            language:
              $ref: '#/components/schemas/LanguageMember'
          x-property-sort:
          - attributes
          - language
          example: example_value
    PostNotationCrossReferenceFactSetIdentifierListByInstrumentRequest:
      x-property-sort:
      - data
      - meta
      description: Request Body
      required:
      - data
      type: object
      properties:
        data:
          type: object
          x-property-sort:
          - identifier
          description: The data member contains the request's primary data.
          properties:
            identifier:
              type: object
              x-property-sort:
              - value
              - type
              description: Identifier and type.
              properties:
                value:
                  type: string
                  pattern: ^[B-DF-HJ-NP-TV-Z0-9]{6}-[SLR]$|^[A-Z0-9.#&*+]{1,47}-[A-Z0-9]{2,4}$|^[0-9]{3,20}$|^[B-DF-HJ-NP-TV-Z0-9]{6}[0-9]$|^[A-Z]{2}[A-Z0-9]{9}[0-9]$|^[A-Z1-9][A-Z0-9]{5}$|^[0-9]{1,9}$|^[A-Z0-9]{8}[0-9]$
                  maxLength: 50
                  minLength: 3
                  description: Identifier to resolve.
                type:
                  type: string
                  description: Type of the identifier.
                  x-enum-description:
                  - MDG identifier of an instrument.
                  - MDG identifier of a listing.
                  - FactSet Permanent Identifier on security level.
                  - FactSet Permanent Identifier on listing level.
                  - Regional FactSet Permanent Identifier.
                  - FactSet market symbol of a listing.
                  - Regional FactSet ticker symbol.
                  - SEDOL or IDII of a listing.
                  - ISIN of an instrument.
                  - WKN of an instrument.
                  - Valor number of an instrument.
                  - CUSIP or CINS identifier of an instrument
                  enum:
                  - idInstrument
                  - idNotation
                  - fdsPermanentIdentifierSecurity
                  - fdsPermanentIdentifierListing
                  - fdsPermanentIdentifierRegional
                  - tickerExchange
                  - tickerRegion
                  - sedol
                  - isin
                  - wkn
                  - valor
                  - cusip
              required:
              - value
              - type
          required:
          - identifier
          example: example_value
        meta:
          type: object
          description: The meta member contains the meta information of the request.
          properties:
            attributes:
              $ref: '#/components/schemas/AttributesMember'
            language:
              $ref: '#/components/schemas/LanguageMember'
          x-property-sort:
          - attributes
          - language
          example: example_value
    OffsetBasedPaginationOutputObject:
      type: object
      description: Pagination attributes for the offset-based pagination strategy.
      properties:
        total:
          type: number
          format: int32
          description: Total number of entries in the result set.
          example: 42.5
        isEstimatedTotal:
          type: boolean
          description: Flag indicating that the value of "total" is estimated.
          example: true
      required:
      - total
      - isEstimatedTotal
      x-property-sort:
      - total
      - isEstimatedTotal
    StatusObject:
      type: object
      properties:
        code:
          type: number
          format: int32
          description: The HTTP status code of the response, mirroring the code from the Status-Line of the HTTP response message (see [RFC2616] section 6.1).
          example: 42.5
      description: The status member contains the status code of the response.
      required:
      - code
    AttributesMember:
      type: array
      description: Limit the attributes returned in the response to the specified set.
      items:
        type: string
        maxLength: 100
      maxItems: 50
      uniqueItems: true
    LanguageMember:
      type: string
      format: isoLanguage
      description: ISO 639-1 code of the language.
      maxLength: 2
      minLength: 2
  responses:
    GetCategoryListBySystem200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: object
                properties:
                  categories:
                    type: array
                    items:
                      type: object
                      x-property-sort:
                      - id
                      - code
                      - name
                      - description
                      - active
                      - level
                      - parent
                      properties:
                        id:
                          type:
                          - number
                          - 'null'
                          format: id32
                          x-positive: true
                          description: Identifier of the category.
                        code:
                          type:
                          - string
                          - 'null'
                          description: Code commonly used for this category.
                        name:
                          type:
                          - string
                          - 'null'
                          format: localizedString
                          description: Name of the category.
                        description:
                          type:
                          - string
                          - 'null'
                          format: localizedString
                          description: Description of the category.
                        active:
                          type:
                          - boolean
                          - 'null'
                          description: Indicates whether this category is active.
                        level:
                          type: object
                          x-property-sort:
                          - id
                          - number
                          description: Category level.
                          properties:
                            id:
                              type:
                              - number
                              - 'null'
                              format: id32
                              x-positive: true
                              description: Identifier of the category level.
                            number:
                              type:
                              - number
                              - 'null'
                              format: int32
                              description: Number of the category level starting with 1, indicating the distance to the root of the category hierarchy.
                        parent:
                          type: object
                          x-property-sort:
                          - id
                          description: Parent category. The attributes of the parent category are `null` if this category is on the first level.
                          properties:
                            id:
                              type:
                              - number
                              - 'null'
                              format: id32
                              x-positive: true
                              description: Identifier of the category.
                    description: List of categories.
                description: List of the categories.
                x-property-sort:
                - categories
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                  pagination:
                    $ref: '#/components/schemas/OffsetBasedPaginationOutputObject'
                x-property-sort:
                - status
                - pagination
            x-property-sort:
            - data
            - meta
    PostNotationCrossReferenceFactSetIdentifierListByFactSetIdentifier200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: object
                properties:
                  instrument:
                    type: object
                    x-property-sort:
                    - id
                    - name
                    - shortName
                    description: Instrument data.
                    properties:
                      id:
                        type:
                        - string
                        - 'null'
                        format: id64
                        x-positive: true
                        description: Identifier of the instrument.
                      name:
                        type:
                        - string
                        - 'null'
                        format: localizedString
                        description: Name of the instrument.
                      shortName:
                        type:
                        - string
                        - 'null'
                        format: localizedString
                        description: Short name of the instrument.
                  permanentIdentifier:
                    type:
                    - string
                    - 'null'
                    description: FactSet Permanent Identifier for an instrument. The format is six alpha numeric characters, excluding vowels, with an S suffix (XXXXXX-S).
                  regional:
                    type: array
                    items:
                      type: object
                      x-property-sort:
                      - isPrimary
                      - permanentIdentifier
                      - tickerRegion
                      - listing
                      properties:
                        isPrimary:
                          type:
                          - boolean
                          - 'null'
                          description: Indicates whether the regional identifier is the primary regional identifier of the security (`true`) or not (`false`).
                        permanentIdentifier:
                          type:
                          - string
                          - 'null'
                          description: FactSet Permanent Identifier for a set of one or more notations of the same region with the same value unit. The format is six alpha numeric characters, excluding vowels, with an R suffix (XXXXXX-R).
                        tickerRegion:
                          type:
                          - string
                          - 'null'
                          description: 'FactSet regional symbol of the notation, consisting of the ticker and the two-character code of the country or region where the listing is traded (example: FDS-US).'
                        listing:
                          type: array
                          items:
                            type: object
                            x-property-sort:
                            - notation
                            - isPrimary
                            - permanentIdentifier
                            - tickerExchange
                            properties:
                              notation:
                                type: object
                                x-property-sort:
                                - id
                                - market
                                - valueUnit
                                description: Notation data.
                                properties:
                                  id:
                                    type:
                                    - string
                                    - 'null'
                                    format: id64
                                    x-positive: true
                                    description: Identifier of a notation.
                                  market:
                                    type: object
                                    x-property-sort:
                                    - id
                                    - name
                                    description: Market of the notation. See endpoint `/basic/market/list` for possible values.
                                    properties:
                                      id:
                                        type:
                                        - number
                                        - 'null'
                                        format: id32
                                        x-positive: true
                                        description: Identifier of the market.
                                      name:
                                        type:
                                        - string
                                        - 'null'
                                        format: localizedString
                                        description: Name of the market.
                                  valueUnit:
                                    type: object
                                    x-property-sort:
                                    - id
                                    - code
                                    - isoCode
                                    - name
                                    description: Value unit of the notation. See endpoint `/basic/valueUnit/list` for possible values.
                                    properties:
                                      id:
                                        type:
                                        - number
                                        - 'null'
                                        format: id32
                                        x-positive: true
                                        description: Identifier of the value unit.
                                      code:
                                        type:
                                        - string
                                        - 'null'
                                        description: 'Code of the value unit: If assigned, a code according to ISO 4217, otherwise a local code, for a main currency; a code such as GBp (for British pence) for a fractional currency; or a code such as PT (points) for non-currency value units.'
                                      isoCode:
                                        type:
                                        - string
                                        - 'null'
                                        description: ISO 4217 code of the value unit. Empty if the ISO 4217 standard does not define a code for the currency.
                                      name:
                                        type:
                                        - string
                                        - 'null'
                                        format: localizedString
                                        description: Name of the value unit.
                              isPrimary:
                                type:
                                - boolean
                                - 'null'
                                description: Indicates whether the listing identifier is the one for the primary listing among all listings with the same regional identifier (`true`) or not (`false`).
                              permanentIdentifier:
                                type:
                                - string
                                - 'null'
                                description: FactSet Permanent Identifier for a notation. The format is six alpha numeric characters, excluding vowels, with an L suffix (XXXXXX-L).
                              tickerExchange:
                                type:
                                - string
                                - 'null'
                                description: 'FactSet market symbol of the notation, usually consisting of the ticker (e.g. "FDS" for FactSet Research Systems Inc.) and the three-character code of the exchange on which the listing is traded (example: FDS-NYS).'
                          description: Listing-level data with a list of notations. If the set of listing identifiers contains an element for which the attribute `isPrimary = true`, then this element is the first one in the array.
                    description: Regional-level data with assigned listing-level data. If the set of regional identifiers contains an element for which the attribute `isPrimary = true`, then this element is the first one in the array.
                description: Instrument data with a list of regional-level data and assigned listing-level data.
                x-property-sort:
                - instrument
                - permanentIdentifier
                - regional
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                x-property-sort:
                - status
            x-property-sort:
            - data
            - meta
    PostNotationCrossReferenceFactSetIdentifierListByInstrument200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: object
                properties:
                  idInstrument:
                    type:
                    - string
                    - 'null'
                    format: id64
                    x-positive: true
                    description: MDG identifier of the instrument.
                  sourceIdentifier:
                    type:
                    - string
                    - 'null'
                    description: Identifier used in the request.
                  permanentIdentifier:
                    type:
                    - string
                    - 'null'
                    description: FactSet Permanent Identifier for an instrument. The format is six alpha numeric characters, excluding vowels, with an S suffix (XXXXXX-S).
                  regional:
                    type: array
                    items:
                      type: object
                      x-property-sort:
                      - isPrimary
                      - permanentIdentifier
                      - tickerRegion
                      - listing
                      properties:
                        isPrimary:
                          type:
                          - boolean
                          - 'null'
                          description: Indicates whether the regional identifier is the primary regional identifier of the security (`true`) or not (`false`).
                        permanentIdentifier:
                          type:
                          - string
                          - 'null'
                          description: FactSet Permanent Identifier for a set of one or more notations of the same region with the same value unit. The format is six alpha numeric characters, excluding vowels, with an R suffix (XXXXXX-R).
                        tickerRegion:
                          type:
                          - string
                          - 'null'
                          description: 'FactSet regional symbol of the notation, consisting of the ticker and the two-character code of the country or region where the listing is traded (example: FDS-US).'
                        listing:
                          type: array
                          items:
                            type: object
                            x-property-sort:
                            - notation
                            - isPrimary
                            - permanentIdentifier
                            - tickerExchange
                            properties:
                              notation:
                                type: object
                                x-property-sort:
                                - id
                                - market
                                - valueUnit
                                description: Notation data.
                                properties:
                                  id:
                                    type:
                                    - string
                                    - 'null'
                                    format: id64
                                    x-positive: true
                                    description: Identifier of a notation.
                                  market:
                                    type: object
                                    x-property-sort:
                                    - id
                                    - name
                                    description: Market of the notation. See endpoint `/basic/market/list` for possible values.
                                    properties:
                                      id:
                                        type:
                                        - number
                                        - 'null'
                                        format: id32
                                        x-positive: true
                                        description: Identifier of the market.
                                      name:
                                        type:
                                        - string
                                        - 'null'
                                        format: localizedString
                                        description: Name of the market.
                                  valueUnit:
                                    type: object
                                    x-property-sort:
                                    - id
                                    - code
                                    - isoCode
                                    - name
                                    description: Value unit of the notation. See endpoint `/basic/valueUnit/list` for possible values.
                                    properties:
                                      id:
                                        type:
                                        - number
                                        - 'null'
                                        format: id32
                                        x-positive: true
                                        description: Identifier of the value unit.
                                      code:
                                        type:
                                        - string
                                        - 'null'
                                        description: 'Code of the value unit: If assigned, a code according to ISO 4217, otherwise a local code, for a main currency; a code such as GBp (for British pence) for a fractional currency; or a code such as PT (points) for non-currency value units.'
                                      isoCode:
                                        type:
                                        - string
                                        - 'null'
                                        description: ISO 4217 code of the value unit. Empty if the ISO 4217 standard does not define a code for the currency.
                                      name:
                                        type:
                                        - string
                                        - 'null'
                                        format: localizedString
                                        description: Name of the value unit.
                              isPrimary:
                                type:
                                - boolean
                                - 'null'
                                description: Indicates whether the listing identifier is the one for the primary listing among all listings with the same regional identifier (`true`) or not (`false`).
                              permanentIdentifier:
                                type:
                                - string
                                - 'null'
                                description: FactSet Permanent Identifier for a notation. The format is six alpha numeric characters, excluding vowels, with an L suffix (XXXXXX-L).
                              tickerExchange:
                                type:
                                - string
                                - 'null'
                                description: 'FactSet market symbol of the notation, usually consisting of the ticker (e.g. "FDS" for FactSet Research Systems Inc.) and the three-character code of the exchange on which the listing is traded (example: FDS-NYS).'
                          description: Listing-level data with a list of notations. If the set of listing identifiers contains an element for which the attribute `isPrimary = true`, then this element is the first one in the array.
                    description: Regional-level data with assigned listing-level data. If the set of regional identifiers contains an element for which the attribute `isPrimary = true`, then this element is the first one in the array.
                description: Instrument data with a list of regional-level data and assigned listing-level data.
                x-property-sort:
                - idInstrument
                - sourceIdentifier
                - permanentIdentifier
                - regional
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                x-property-sort:
                - status
            x-property-sort:
            - data
            - meta
    GetCategoryListByLevel200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: object
                properties:
                  system:
                    type: object
                    x-property-sort:
                    - id
                    - name
                    description: Category system.
                    properties:
                      id:
                        type:
                        - number
                        - 'null'
                        format: id32
                        x-positive: true
                        description: Identifier of the category system.
                      name:
                        type:
                        - string
                        - 'null'
                        format: localizedString
                        description: Name of the category system.
                  parent:
                    type: object
                    x-property-sort:
                    - id
                    - name
                    description: Parent level. The attributes of the parent level are `null` if this category level is the first level.
                    properties:
                      id:
                        type:
                        - number
                        - 'null'
                        format: id32
                        x-positive: true
                        description: Identifier of the category level.
                      name:
                        type:
                        - string
                        - 'null'
                        format: localizedString
                        description: Name of the category level.
                  categories:
                    type: array
                    items:
                      type: object
                      x-property-sort:
                      - id
                      - code
                      - name
                      - description
                      - active
                      - parent
                      properties:
                        id:
                          type:
                          - number
                          - 'null'
                          format: id32
                          x-positive: true
                          description: Identifier of the category.
                        code:
                          type:
                          - string
                          - 'null'
                          description: Code commonly used for this category.
                        name:
                          type:
                          - string
                          - 'null'
                          format: localizedString
                          description: Name of the category.
                        description:
                          type:
                          - string
                          - 'null'
                          format: localizedString
                          description: Description of the category.
                        active:
                          type:
                          - boolean
                          - 'null'
                          description: Indicates whether this category is active.
                        parent:
                          type: object
                          x-property-sort:
                          - id
                          - name
                          description: Parent category. The attributes of the parent category are `null` if this category is on the first level.
                          properties:
                            id:
                              type:
                              - number
                              - 'null'
                              format: id32
                              x-positive: true
                              description: Identifier of the category.
                            name:
                              type:
                              - string
                              - 'null'
                              format: localizedString
                              description: Name of the category.
                    description: List of categories.
                description: List of the categories.
                x-property-sort:
                - system
                - parent
                - categories
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                  pagination:
                    $ref: '#/components/schemas/OffsetBasedPaginationOutputObject'
                x-property-sort:
                - status
                - pagination
            x-property-sort:
            - data
            - meta
  securitySchemes:
    FactSetOAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://auth.factset.com/as/token.oauth2
          scopes: {}
    FactSetApiKey:
      type: http
      scheme: basic
externalDocs:
  description: API Documentation
  url: https://developer.factset.com/api-catalog/
x-interface-version: 2
x-documenter-version: 6.3.9
x-api-version: 4.4.0
