openapi: 3.2.0
info:
  title: Factset Groups API
  version: '1.0'
  description: 'Operations tagged Groups across 3 of this provider''s published API definitions: factset-procure-to-pay-scim-openapi.yml, factset-vermilion-api-openapi.yml, procure-to-pay-api-scim-openapi-original.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.factset.com/scim/v2/
  description: Production environment
- url: https://api.uat.factset.com/scim/v2/
  description: UAT environment
tags:
- name: Groups
paths:
  /Groups:
    get:
      tags:
      - Groups
      summary: Factset Get a List of Groups.
      security:
      - basicAuth: []
      parameters:
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/startIndex'
      - $ref: '#/components/parameters/count'
      - $ref: '#/components/parameters/attributes'
      - $ref: '#/components/parameters/excludedAttributes'
      responses:
        '200':
          $ref: '#/components/responses/groupsSuccess'
        '400':
          $ref: '#/components/responses/invalidFilterError'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '500':
          $ref: '#/components/responses/internalServerError'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - url: https://api.factset.com/scim/v2/
      description: Production environment
    - url: https://api.uat.factset.com/scim/v2/
      description: UAT environment
  /Group/{id}:
    get:
      tags:
      - Groups
      summary: Factset Get a Group.
      security:
      - basicAuth: []
      parameters:
      - $ref: '#/components/parameters/resourceId'
      responses:
        '200':
          $ref: '#/components/responses/groupSuccess'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '404':
          $ref: '#/components/responses/groupNotFoundError'
        '500':
          $ref: '#/components/responses/internalServerError'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      tags:
      - Groups
      summary: Factset Replace a Group.
      security:
      - basicAuth: []
      parameters:
      - $ref: '#/components/parameters/resourceId'
      requestBody:
        $ref: '#/components/requestBodies/groupResource'
      responses:
        '200':
          $ref: '#/components/responses/groupSuccess'
        '400':
          $ref: '#/components/responses/invalidResourceProvidedError'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '404':
          $ref: '#/components/responses/groupNotFoundError'
        '500':
          $ref: '#/components/responses/internalServerError'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    patch:
      tags:
      - Groups
      summary: Factset Patch a Group (add, Replace, or Remove Attributes of a Group.)
      security:
      - basicAuth: []
      parameters:
      - $ref: '#/components/parameters/resourceId'
      requestBody:
        $ref: '#/components/requestBodies/patchGroupResource'
      responses:
        '200':
          $ref: '#/components/responses/groupSuccess'
        '400':
          $ref: '#/components/responses/invalidPatchRequestError'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '500':
          $ref: '#/components/responses/internalServerError'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - url: https://api.factset.com/scim/v2/
      description: Production environment
    - url: https://api.uat.factset.com/scim/v2/
      description: UAT environment
  /scim/v2/Groups:
    get:
      operationId: getAllRoles
      tags:
      - Groups
      summary: Factset Retrieves a List of Vrs Role
      description: Retrieves a VRS roles
      parameters:
      - in: query
        name: count
        description: Non-negative maximum number of entries to return
        schema:
          type: integer
        examples:
          count:
            value: 25
            description: Non-negative maximum number of entries to return
      - in: query
        name: startIndex
        description: The 1-based index of the first query result
        schema:
          type: integer
        examples:
          startIndex:
            value: 1
            description: The 1-based index of the first query result
      responses:
        '200':
          description: Successful operation
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/ScimGroupListResponse'
        '403':
          description: Forbidden, user does not have permission to view roles
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/ScimError'
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                detail: User does not have permission to view roles
                status: '403'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - FactSetApiKey: []
      - FactSetOAuth2: []
    post:
      operationId: createRole
      tags:
      - Groups
      summary: Factset Creates a Role
      description: Creates a VRS role
      requestBody:
        required: true
        content:
          application/scim+json:
            schema:
              $ref: '#/components/schemas/ScimGroup'
      responses:
        '201':
          description: Created
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/ScimGroup'
          headers:
            Location:
              schema:
                type: string
              description: A callback URL to the newly create role, for example https://example.com/VRSAPI/scim/v2/Groups/1
        '403':
          description: Forbidden, user does not have permission to create roles
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/ScimError'
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                detail: User does not have permission to create groups
                status: '403'
        '409':
          description: Group already exists
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/ScimError'
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                detail: Group already exists
                status: '409'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - FactSetApiKey: []
      - FactSetOAuth2: []
  /scim/v2/Groups/{groupId}:
    get:
      operationId: getRoleById
      tags:
      - Groups
      summary: Factset Retrieves a Vrs Role
      description: Retrieves a VRS role based on the ID
      parameters:
      - in: path
        name: groupId
        description: The ID of the role
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/ScimGroup'
          headers:
            Location:
              schema:
                type: string
              description: A callback URL to the newly create role, for example https://example.com/VRSAPI/scim/v2/Groups/1
        '403':
          description: Forbidden, user does not have permission to view roles
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/ScimError'
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                detail: User does not have permission to view roles
                status: '403'
        '404':
          description: Not Found
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/ScimError'
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                detail: Resource 1 not found
                status: '404'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - FactSetApiKey: []
      - FactSetOAuth2: []
    delete:
      operationId: deleteRoleById
      tags:
      - Groups
      summary: Factset Deletes a Vrs Role
      description: Deletes a VRS role
      parameters:
      - in: path
        name: groupId
        description: The ID of the group
        schema:
          type: string
        required: true
      responses:
        '204':
          description: No Content
        '403':
          description: Forbidden, user does not have permission to delete roles
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/ScimError'
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                detail: User does not have permission to delete roles
                status: '403'
        '404':
          description: Not Found
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/ScimError'
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                detail: Resource 1 not found
                status: '404'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - FactSetApiKey: []
      - FactSetOAuth2: []
    patch:
      operationId: patchRoleById
      tags:
      - Groups
      summary: Factset Add or Remove a User To/from a Group
      description: Adds or removes a VRS user to/from a VRS role
      parameters:
      - in: path
        name: groupId
        description: The ID of the role
        schema:
          type: string
        required: true
      requestBody:
        required: true
        content:
          application/scim+json:
            schema:
              $ref: '#/components/schemas/ScimRolePatchRequestBody'
            example:
              schemas:
              - urn:ietf:params:scim:api:messages:2.0:PatchOp
              Operations:
              - op: add
                path: members
                value:
                  display: Test user
                  $ref: VRSAPI/scim/v2/Users/1
                  value: '1'
      responses:
        '200':
          description: Successfully added user to group
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/ScimGroup'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - FactSetApiKey: []
      - FactSetOAuth2: []
    put:
      operationId: updateRoleById
      tags:
      - Groups
      summary: Factset Updates a Vrs Group
      description: Updates (replaces) a VRS Group with the properties in the JSON
      parameters:
      - in: path
        name: groupId
        description: The ID of the group
        schema:
          type: string
        required: true
      requestBody:
        required: true
        content:
          application/scim+json:
            schema:
              $ref: '#/components/schemas/ScimGroup'
      responses:
        '200':
          description: Successfully updated group
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/ScimGroup'
          headers:
            Location:
              schema:
                type: string
              description: A callback URL to the updated group, for example https://example.com/VRSAPI/scim/v2/Groups/1
        '403':
          description: Forbidden, user does not have permission to update groups
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/ScimError'
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                detail: User does not have permission to update groups
                status: '403'
        '404':
          description: Not Found
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/ScimError'
              example:
                schemas:
                - urn:ietf:params:scim:api:messages:2.0:Error
                detail: Resource 1 not found
                status: '404'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - FactSetApiKey: []
      - FactSetOAuth2: []
components:
  schemas:
    GroupResource:
      type: object
      properties:
        schemas:
          type: array
          items:
            type: string
          example:
          - urn:ietf:params:scim:schemas:core:2.0:Group
          - urn:scim:schemas:extension:FactSet:EnterpriseHosting:1.0:Group
          - urn:scim:schemas:extension:FactSet:VRS:1.0:Group
        id:
          type: string
          example: eh:btud:Pod 04 - CitrixApps - Cymba OMS
          readOnly: true
        externalId:
          type: string
          example: B8FE8BBD-0E04-40B2-9BB3-E5EE17C4C9C9
        displayName:
          type: string
          description: A human-readable name for the Group.
          example: Domain btud - Pod 04 - CitrixApps - Cymba OMS
        description:
          type: string
          description: A description for the Group.
          example: Group representing access to the Cymba OMS application.
        members:
          type: array
          description: A list of members of the Group.
          items:
            type: object
            properties:
              value:
                type: string
                description: Identifier of the member of this Group.
                example: FIN_WEALTH-123456
              $ref:
                type: string
                description: The URI corresponding to a SCIM resource that is a member of this Group.
                example: https://api.factset.com/scim/v2/Users/FIN_WEALTH-123456
              type:
                type: string
                description: A label indicating the type of resource, e.g., 'User' or 'Group'.
                example: User
          example: []
        urn:scim:schemas:extension:FactSet:EnterpriseHosting:1.0:Group:
          type: object
          properties:
            domainCode:
              type: string
              description: Domain code of the Enterprise Hosting pod containing this group.
              readOnly: true
              example: btud
          required:
          - domainCode
          readOnly: true
          example: example_value
        urn:scim:schemas:extension:FactSet:VRS:1.0:Group:
          type: object
          properties:
            tenant:
              type: string
              description: The tenant this role is in
              example: QA
            domainCode:
              type: string
              description: Domain code of Enterprise Hosting pod in which user resides. REQUIRED.
              example: btud
          required:
          - domainCode
          example: example_value
        meta:
          type: object
          properties:
            resourceType:
              type: string
              example: Group
            created:
              type: string
              example: '2019-02-11T15:33:31.077+00:00'
            lastModified:
              type: string
              example: '2019-06-07T08:59:37+00:00'
            location:
              type: string
              example: https://api.factset.com/scim/v2/Groups/eh%3Abtud%3APod%2004%20-%20CitrixApps%20-%20Cymba%20OMS
          readOnly: true
          example: example_value
    Patch:
      type: object
      properties:
        schemas:
          type: array
          items:
            type: string
          example: []
        Operations:
          type: array
          items:
            type: object
            properties:
              op:
                type: string
              path:
                type: string
              value:
                type: string
          example: []
    GroupResourceList:
      type: object
      properties:
        schemas:
          type: array
          items:
            type: string
          example:
          - urn:ietf:params:scim:api:messages:2.0:ListResponse
        totalResults:
          type: integer
          example: 1
        Resources:
          type: array
          items:
            $ref: '#/components/schemas/GroupResource'
          example: []
    ScimGroupListResponse:
      type: object
      properties:
        totalResults:
          type: integer
          example: 10
        itemsPerPage:
          type: integer
          example: 10
        startIndex:
          type: integer
          example: 10
        Resources:
          type: array
          items:
            $ref: '#/components/schemas/ScimGroup'
          example: []
    ScimRolePatchRequestBody:
      type: object
      properties:
        schemas:
          type: array
          items:
            type: string
          example: []
        Operations:
          type: array
          items:
            properties:
              op:
                type: string
              path:
                type: string
              value:
                type: object
                properties:
                  display:
                    type: string
                  $ref:
                    type: string
                  value:
                    type: string
          example: []
    ScimGroup:
      type: object
      properties:
        schemas:
          type: array
          items:
            type: string
          example: []
        id:
          type: string
          example: abc123
        displayName:
          type: string
          example: example_value
        members:
          type: array
          items:
            $ref: '#/components/schemas/ScimGroupMember'
          example: []
        tenant:
          type: string
          example: example_value
        domainCode:
          type: string
          example: example_value
        meta:
          $ref: '#/components/schemas/ScimMeta'
    ScimError:
      type: object
      properties:
        schemas:
          type: array
          items:
            type: string
          example: []
        detail:
          type: string
          example: example_value
        status:
          type: string
          example: example_value
    ScimMeta:
      type: object
      properties:
        resourceType:
          type: string
          example: example_value
        created:
          type: string
          example: example_value
        lastModified:
          type: string
          example: example_value
        location:
          type: string
          example: example_value
    ScimGroupMember:
      type: object
      properties:
        value:
          type: string
          example: example_value
        $ref:
          type: string
          description: A callback link which can be used to get the information of the group
          example: example_value
        type:
          type: string
          example: example_value
    GroupResourceList_2:
      type: object
      properties:
        schemas:
          type: array
          items:
            type: string
          example:
          - urn:ietf:params:scim:api:messages:2.0:ListResponse
        totalResults:
          type: integer
          example: 1
        Resources:
          type: array
          items:
            $ref: '#/components/schemas/GroupResource_2'
    GroupResource_2:
      type: object
      properties:
        schemas:
          type: array
          items:
            type: string
          example:
          - urn:ietf:params:scim:schemas:core:2.0:Group
          - urn:scim:schemas:extension:FactSet:EnterpriseHosting:1.0:Group
          - urn:scim:schemas:extension:FactSet:VRS:1.0:Group
        id:
          type: string
          example: eh:btud:Pod 04 - CitrixApps - Cymba OMS
          readOnly: true
        externalId:
          type: string
          example: B8FE8BBD-0E04-40B2-9BB3-E5EE17C4C9C9
        displayName:
          type: string
          description: A human-readable name for the Group.
          example: Domain btud - Pod 04 - CitrixApps - Cymba OMS
        description:
          type: string
          description: A description for the Group.
          example: Group representing access to the Cymba OMS application.
        members:
          type: array
          description: A list of members of the Group.
          items:
            type: object
            properties:
              value:
                type: string
                description: Identifier of the member of this Group.
                example: FIN_WEALTH-123456
              $ref:
                type: string
                description: The URI corresponding to a SCIM resource that is a member of this Group.
                example: https://api.factset.com/scim/v2/Users/FIN_WEALTH-123456
              type:
                type: string
                description: A label indicating the type of resource, e.g., 'User' or 'Group'.
                example: User
        urn:scim:schemas:extension:FactSet:EnterpriseHosting:1.0:Group:
          type: object
          properties:
            domainCode:
              type: string
              description: Domain code of the Enterprise Hosting pod containing this group.
              readOnly: true
              example: btud
          required:
          - domainCode
          readOnly: true
        urn:scim:schemas:extension:FactSet:VRS:1.0:Group:
          type: object
          properties:
            tenant:
              type: string
              description: The tenant this role is in
              example: QA
            domainCode:
              type: string
              description: Domain code of Enterprise Hosting pod in which user resides. REQUIRED.
              example: btud
          required:
          - domainCode
        meta:
          type: object
          properties:
            resourceType:
              type: string
              example: Group
            created:
              type: string
              example: '2019-02-11T15:33:31.077+00:00'
            lastModified:
              type: string
              example: '2019-06-07T08:59:37+00:00'
            location:
              type: string
              example: https://api.factset.com/scim/v2/Groups/eh%3Abtud%3APod%2004%20-%20CitrixApps%20-%20Cymba%20OMS
          readOnly: true
  responses:
    invalidPatchRequestError:
      description: Patch request invalid.
      content:
        application/scim+json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            schemas:
            - urn:ietf:params:scim:api:messages:2.0:Error
            scimType: invalidValue
            detail: Provided resource contains invalid data.
            status: '400'
    internalServerError:
      description: Internal server error.
      content:
        application/scim+json:
          schema:
            $ref: '#/components/schemas/Error'
    groupsSuccess:
      description: Success.
      content:
        application/scim+json:
          schema:
            $ref: '#/components/schemas/GroupResourceList'
    forbiddenError:
      description: User is not authorized to use this API.
      content:
        application/scim+json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            schemas:
            - urn:ietf:params:scim:api:messages:2.0:Error
            detail: FIN_WEALTH-999999 is not authorized to use the FactSet SCIM API.
            status: '403'
    unauthorizedError:
      description: User has not been authenticated.
      content:
        application/scim+json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            schemas:
            - urn:ietf:params:scim:api:messages:2.0:Error
            detail: FactSet.net credentials are missing or invalid.
            status: '401'
    groupSuccess:
      description: Success.
      content:
        application/scim+json:
          schema:
            $ref: '#/components/schemas/GroupResource'
    invalidFilterError:
      description: Invalid filter value provided.
      content:
        application/scim+json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            schemas:
            - urn:ietf:params:scim:api:messages:2.0:Error
            scimType: invalidFilter
            detail: Invalid filter value.
            status: '400'
    groupNotFoundError:
      description: Group not found.
      content:
        application/scim+json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            schemas:
            - urn:ietf:params:scim:api:messages:2.0:Error
            detail: Group Domain btud - Pod 04 - CitrixApps - Cymba OMS was not found.
            status: '404'
    invalidResourceProvidedError:
      description: Provided resource contains invalid data.
      content:
        application/scim+json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            schemas:
            - urn:ietf:params:scim:api:messages:2.0:Error
            scimType: invalidValue
            detail: Provided resource contains invalid data.
            status: '400'
  parameters:
    startIndex:
      name: startIndex
      description: Result start index. The one-based index of the first result to be returned in the list of resources. For example, to exclude the first two resources, use a *startIndex* value of 3. This parameter has a default value of 1. This index applies *after* any resource filtration has been applied as specified by the *filter* argument.
      in: query
      schema:
        type: integer
      required: false
    excludedAttributes:
      name: excludedAttributes
      description: Attribute blacklist filter string. A comma-separated list of resource attribute names to be excluded in the response, overriding the set of attributes that would be returned by default. Attribute names must be specified in standard attribute notation (see [RFC 7644 section 3.10](https://datatracker.ietf.org/doc/html/rfc7644#section-3.10).) This parameter cannot be used with the *attributes* parameter.
      in: query
      schema:
        type: string
      required: false
    count:
      name: count
      description: Maximum resource count. The server will not return more resources than this value, although it may return fewer.
      in: query
      schema:
        type: integer
      required: false
    resourceId:
      name: id
      description: ID of resource.
      in: path
      schema:
        type: string
      required: true
    filter:
      name: filter
      description: Resource filter string. See [RFC 7644 section 3.4.2.2](https://tools.ietf.org/html/rfc7644#section-3.4.2.2) for syntax. Note this API implementation also supports a non-standard "re" operator for regular expression matching against strings.
      in: query
      schema:
        type: string
      required: false
    attributes:
      name: attributes
      description: Attribute whitelist filter string. A comma-separated list of resource attribute names to be returned in the response, overriding the set of attributes that would be returned by default. Attribute names must be specified in standard attribute notation (see [RFC 7644 section 3.10](https://datatracker.ietf.org/doc/html/rfc7644#section-3.10).) This parameter cannot be used with the *excludedAttributes* parameter.
      in: query
      schema:
        type: string
      required: false
  requestBodies:
    patchGroupResource:
      content:
        application/scim+json:
          schema:
            $ref: '#/components/schemas/Patch'
          example:
            schemas:
            - urn:ietf:params:scim:api:messages:2.0:PatchOp
            Operations:
            - op: add
              path: members
              value:
              - value: FIN_WEALTH-123456
    groupResource:
      description: Group resource.
      required: true
      content:
        application/scim+json:
          schema:
            $ref: '#/components/schemas/GroupResource'
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
    FactSetOAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://auth.factset.com/as/token.oauth2
          scopes: {}
    FactSetApiKey:
      type: http
      scheme: basic
externalDocs:
  description: API Documentation
  url: https://developer.factset.com/api-catalog/vermilion-api
x-refined-from:
- factset-procure-to-pay-scim-openapi.yml
- factset-vermilion-api-openapi.yml
- procure-to-pay-api-scim-openapi-original.yml
