openapi: 3.0.3
info:
  title: Factset Analytics Datastore About Types API
  description: Allow clients to fetch precalculated Analytics through predeterministic URLs.
  contact:
    name: FactSet Research Systems
    url: https://developer.factset.com/contact
    email: api@factset.com
  license:
    name: Apache License, Version 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  version: 1.0.0
servers:
- url: https://api.factset.com
  description: Production
- url: https://api-sandbox.factset.com
  description: Sandbox
security:
- basicAuth: []
tags:
- name: Types
paths:
  /v1/contact-types:
    get:
      tags:
      - Types
      summary: Factset Get List of the Contact Types Configured in Your Group
      operationId: GetContactTypes
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ContactTypeDto'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      tags:
      - Types
      summary: Factset Create Contact Types
      operationId: CreateContactType
      requestBody:
        description: Contact type name
        content:
          application/json-patch+json:
            schema:
              maxLength: 50
              minLength: 0
              type: string
          application/json:
            schema:
              maxLength: 50
              minLength: 0
              type: string
          text/json:
            schema:
              maxLength: 50
              minLength: 0
              type: string
          application/*+json:
            schema:
              maxLength: 50
              minLength: 0
              type: string
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewItemDto'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v1/custom-symbol-types:
    get:
      tags:
      - Types
      summary: Factset Get All the Custom Symbol Types
      operationId: GetCustomSymbolTypes
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CustomSymbolTypeDto'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      tags:
      - Types
      summary: Factset Create a Custom Symbol Type
      operationId: CreateCustomSymbolType
      requestBody:
        description: saveCustomSymbolTypeDto object to save
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/SaveCustomSymbolTypeDto'
          application/json:
            schema:
              $ref: '#/components/schemas/SaveCustomSymbolTypeDto'
          text/json:
            schema:
              $ref: '#/components/schemas/SaveCustomSymbolTypeDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/SaveCustomSymbolTypeDto'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewItemDto'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v1/custom-symbol-types/{customSymbolTypeId}:
    get:
      tags:
      - Types
      summary: Factset Get a Specific Custom Symbol Type's Details
      operationId: GetCustomSymbolType
      parameters:
      - name: customSymbolTypeId
        in: path
        description: customSymbolTypeId to get associated record
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomSymbolTypeDetailDto'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      tags:
      - Types
      summary: Factset Edit a Custom Symbol Type
      operationId: UpdateCustomSymbolType
      parameters:
      - name: customSymbolTypeId
        in: path
        description: customSymbolTypeId to update associated record
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        description: updateCustomSymbolTypeDto object to update
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/UpdateCustomSymbolTypeDto'
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCustomSymbolTypeDto'
          text/json:
            schema:
              $ref: '#/components/schemas/UpdateCustomSymbolTypeDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/UpdateCustomSymbolTypeDto'
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      tags:
      - Types
      summary: Factset Delete a Custom Symbol Type
      operationId: DeleteCustomSymbolTypeAsync
      parameters:
      - name: customSymbolTypeId
        in: path
        description: customSymbolTypeId to delete associated record
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v1/custom-symbol-types/{customSymbolTypeId}/custom-fields:
    get:
      tags:
      - Types
      summary: Factset Get Custom Fields for Custom Symbol Type
      operationId: GetSymbolCustomFieldsForCustomSymbolType
      parameters:
      - name: customSymbolTypeId
        in: path
        description: customSymbolTypeId to get associated Custom fileds
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CustomSymbolCustomFieldConfigDto'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v1/phone-number-types:
    get:
      tags:
      - Types
      summary: Factset Get List of the Phone Types Configured in Your Group
      operationId: GetPhoneNumberTypes
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PhoneNumberTypeDto'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      tags:
      - Types
      summary: Factset Create a Phone Type
      operationId: CreatePhoneNumberType
      requestBody:
        description: To add phoneNumberType
        content:
          application/json-patch+json:
            schema:
              maxLength: 50
              minLength: 0
              type: string
          application/json:
            schema:
              maxLength: 50
              minLength: 0
              type: string
          text/json:
            schema:
              maxLength: 50
              minLength: 0
              type: string
          application/*+json:
            schema:
              maxLength: 50
              minLength: 0
              type: string
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewItemDto'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v1/custom-symbol-types/reorder:
    post:
      tags:
      - Types
      operationId: UpdateCustomSymbolTypeOrder
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/ReorderCustomSymbolTypeDto'
          application/json:
            schema:
              $ref: '#/components/schemas/ReorderCustomSymbolTypeDto'
          text/json:
            schema:
              $ref: '#/components/schemas/ReorderCustomSymbolTypeDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ReorderCustomSymbolTypeDto'
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v1/contact-types/{contactTypeId}:
    put:
      tags:
      - Types
      summary: Factset Edit a Contact Type
      operationId: UpdateContactType
      parameters:
      - name: contactTypeId
        in: path
        description: contactTypeId to update associated record
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        description: Updated contact type name
        content:
          application/json-patch+json:
            schema:
              maxLength: 50
              minLength: 0
              type: string
          application/json:
            schema:
              maxLength: 50
              minLength: 0
              type: string
          text/json:
            schema:
              maxLength: 50
              minLength: 0
              type: string
          application/*+json:
            schema:
              maxLength: 50
              minLength: 0
              type: string
        required: true
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      tags:
      - Types
      summary: Factset Delete a Contact Type
      operationId: DeleteContactType
      parameters:
      - name: contactTypeId
        in: path
        description: contactTypeId to delete associated record
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v1/phone-number-types/{phoneNumberTypeId}:
    put:
      tags:
      - Types
      summary: Factset Edit a Phone Type
      operationId: UpdatePhoneNumberType
      parameters:
      - name: phoneNumberTypeId
        in: path
        description: phoneNumberTypeId to update associated record
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        description: Update with phoneNumberType
        content:
          application/json-patch+json:
            schema:
              maxLength: 50
              minLength: 0
              type: string
          application/json:
            schema:
              maxLength: 50
              minLength: 0
              type: string
          text/json:
            schema:
              maxLength: 50
              minLength: 0
              type: string
          application/*+json:
            schema:
              maxLength: 50
              minLength: 0
              type: string
        required: true
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      tags:
      - Types
      summary: Factset Delete a Phone Type
      operationId: DeletePhoneNumberType
      parameters:
      - name: phoneNumberTypeId
        in: path
        description: phoneNumberTypeId for deleting associated record
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /ofs/v2/products/types:
    get:
      summary: Factset Retrieve a Collection of the Available Product Types Along With the Number of Published Products Per Type.
      responses:
        '200':
          description: A JSON representation a collection of the available Product Types.
          schema:
            example:
            - type: Data Feed
              total: 0
            - type: Solution
              total: 0
            - type: API
              total: 0
            items:
              properties:
                type:
                  type: string
                  enum:
                  - Data Feed
                  - API
                  - Solution
                total:
                  type: integer
              type: object
            type: array
      tags:
      - Types
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /analytics/engines/pa/v3/unlinked-templates/template-types:
    get:
      tags:
      - Types
      summary: Factset Get Default Unlinked Pa Template Types.
      description: This endpoint fetches default unlinked PA template types.
      operationId: getDefaultUnlinkedPATemplateTypes
      responses:
        '200':
          description: Expected response, default unlinked PA template types
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnlinkedPATemplateCategoryAndTypeRoot'
        '401':
          description: Missing or invalid authentication.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
        '403':
          description: User is forbidden with current credentials
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              schema:
                type: string
        '406':
          description: Unsupported Accept header. Header needs to be set to application/json.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              schema:
                type: string
        '429':
          description: Rate limit reached. Wait till the time specified in Retry-After header value to make further requests.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
            Retry-After:
              description: Time to wait in seconds before making a new request as the rate limit has reached.
              schema:
                type: string
        '500':
          description: Server error. Log the X-DataDirect-Request-Key header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
        '503':
          description: Request timed out. Retry the request in sometime.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /analytics/engines/pa/v3/unlinked-templates/template-types/{id}:
    get:
      tags:
      - Types
      summary: Factset Get Unlinked Pa Template Type Details by Id.
      description: This endpoint fetches the unlinked PA template type details.
      operationId: getDetailsType
      parameters:
      - name: id
        in: path
        description: Unique identifier for an unlinked PA template type
        required: true
        schema:
          type: string
          description: Unique identifier for an unlinked PA template type
      responses:
        '200':
          description: Expected response, details of the unlinked PA template type
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnlinkedPATemplateCategoryAndTypeDetailsRoot'
        '400':
          description: Invalid data provided. Please check the request parameters before attempting again.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
        '401':
          description: Missing or invalid authentication.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
        '403':
          description: User is forbidden with current credentials
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              schema:
                type: string
        '404':
          description: Unlinked PA template type not found.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
        '406':
          description: Unsupported Accept header. Header needs to be set to application/json.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              schema:
                type: string
        '429':
          description: Rate limit reached. Wait till the time specified in Retry-After header value to make further requests.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
            Retry-After:
              description: Time to wait in seconds before making a new request as the rate limit has reached.
              schema:
                type: string
        '500':
          description: Server error. Log the X-DataDirect-Request-Key header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
        '503':
          description: Request timed out. Retry the request in sometime.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    UnlinkedPATemplateCategoryAndTypeDetailsRoot:
      required:
      - data
      type: object
      properties:
        data:
          $ref: '#/components/schemas/UnlinkedPATemplateCategoryAndTypeDetails'
        meta:
          nullable: true
          example: example_value
    CustomSymbolCustomFieldFormulaConfigDto:
      required:
      - formula
      - formulaType
      type: object
      properties:
        formula:
          maxLength: 2040
          type: string
          example: example_value
        formulaType:
          type: string
          example: example_value
      additionalProperties: false
    UnlinkedPATemplateColumnDetails:
      type: object
      properties:
        name:
          type: string
          description: Unlinked template column name
          nullable: true
          example: Example Title
        id:
          type: string
          description: FactSet-defined or User-defined Column identifier.
          nullable: true
          example: abc123
        statistics:
          type: array
          items:
            type: string
          description: Column Statistic identifier
          nullable: true
          example: []
    CustomSymbolTypeDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: abc123
        name:
          type: string
          nullable: true
          example: Example Title
        hideAddressField:
          type: boolean
          example: true
        hideSymbolSubType:
          type: boolean
          example: true
        isDefault:
          type: boolean
          example: true
        order:
          type: integer
          format: int32
          example: 10
        dueDiligenceSymbolEntityType:
          $ref: '#/components/schemas/EntityType'
      additionalProperties: false
    UnlinkedPATemplateCategoryAndTypeRoot:
      required:
      - data
      type: object
      properties:
        data:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/UnlinkedPATemplateCategoryAndType'
          example: example_value
        meta:
          nullable: true
          example: example_value
    CustomSymbolCustomFieldConfigDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: abc123
        code:
          type: string
          nullable: true
          example: example_value
        name:
          type: string
          nullable: true
          example: Example Title
        type:
          type: string
          nullable: true
          example: example_value
        isHidden:
          type: boolean
          example: true
        isMandatory:
          type: boolean
          example: true
        isShownInInfobox:
          type: boolean
          example: true
        formulaConfig:
          $ref: '#/components/schemas/CustomSymbolCustomFieldFormulaConfigDto'
        optionsConfig:
          type: array
          items:
            type: string
          nullable: true
          example: []
        customSymbolTypes:
          type: array
          items:
            $ref: '#/components/schemas/CustomSymbolTypeSummaryDto'
          nullable: true
          example: []
      additionalProperties: false
    UnlinkedPATemplateCategoryAndType:
      type: object
      properties:
        category:
          type: string
          description: Unlinked template category
          nullable: true
          example: example_value
        name:
          type: string
          description: Unlinked template type
          nullable: true
          example: Example Title
    NewItemDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: abc123
      additionalProperties: false
    SaveCustomSymbolTypeDto:
      required:
      - name
      type: object
      properties:
        name:
          maxLength: 100
          minLength: 0
          type: string
          example: Example Title
        hideAddressField:
          type: boolean
          example: true
        hideSymbolSubtype:
          type: boolean
          example: true
        isDefault:
          type: boolean
          default: false
          example: true
        dueDiligenceSymbolEntityType:
          $ref: '#/components/schemas/EntityType'
        subTypes:
          type: array
          items:
            type: string
          nullable: true
          example: []
        customFieldIds:
          type: array
          items:
            type: string
            format: uuid
          nullable: true
          example: []
      additionalProperties: false
    CustomSymbolTypeSummaryDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: abc123
        name:
          type: string
          nullable: true
          example: Example Title
      additionalProperties: false
    ReorderCustomSymbolTypeDto:
      type: object
      properties:
        ids:
          type: array
          items:
            type: string
            format: uuid
          nullable: true
          example: []
      additionalProperties: false
    Error:
      type: object
      properties:
        id:
          type: string
          nullable: true
          example: abc123
        code:
          type: string
          nullable: true
          example: example_value
        title:
          type: string
          nullable: true
          example: Example Title
        detail:
          type: string
          nullable: true
          example: example_value
        source:
          $ref: '#/components/schemas/ErrorSource'
    UnlinkedPATemplateCategoryAndTypeDetails:
      type: object
      properties:
        id:
          type: string
          description: Type Id
          nullable: true
          example: abc123
        columns:
          type: array
          items:
            $ref: '#/components/schemas/UnlinkedPATemplateColumnDetails'
          description: List of default columns
          nullable: true
          example: []
        groups:
          type: array
          items:
            $ref: '#/components/schemas/UnlinkedPATemplateGroupDetails'
          description: List of default groupings
          nullable: true
          example: []
        snapshot:
          type: boolean
          description: Snapshot
          example: true
        category:
          type: string
          description: Unlinked template category
          nullable: true
          example: example_value
        name:
          type: string
          description: Unlinked template type
          nullable: true
          example: Example Title
    EntityType:
      enum:
      - 0
      - 1
      - 2
      - 3
      type: integer
      format: int32
    ClientErrorResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Error'
          nullable: true
          example: []
    ErrorSource:
      type: object
      properties:
        pointer:
          type: string
          nullable: true
          example: example_value
        parameter:
          type: string
          nullable: true
          example: example_value
    CustomSymbolSubTypeDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: abc123
        name:
          type: string
          nullable: true
          example: Example Title
      additionalProperties: false
    CustomSymbolTypeDetailDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: abc123
        name:
          type: string
          nullable: true
          example: Example Title
        hideAddressField:
          type: boolean
          example: true
        hideSymbolSubType:
          type: boolean
          example: true
        isDefault:
          type: boolean
          example: true
        dueDiligenceSymbolEntityType:
          $ref: '#/components/schemas/EntityType'
        subTypes:
          type: array
          items:
            $ref: '#/components/schemas/CustomSymbolSubTypeDto'
          nullable: true
          example: []
      additionalProperties: false
    ProblemDetails:
      type: object
      properties:
        type:
          type: string
          nullable: true
          example: example_value
        title:
          type: string
          nullable: true
          example: Example Title
        status:
          type: integer
          format: int32
          nullable: true
          example: 10
        detail:
          type: string
          nullable: true
          example: example_value
        instance:
          type: string
          nullable: true
          example: example_value
      additionalProperties: {}
    ContactTypeDto:
      required:
      - id
      - name
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: abc123
        name:
          maxLength: 50
          minLength: 0
          type: string
          example: Example Title
      additionalProperties: false
    PhoneNumberTypeDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: abc123
        name:
          maxLength: 50
          minLength: 0
          type: string
          nullable: true
          example: Example Title
        isStandard:
          type: boolean
          example: true
      additionalProperties: false
    UpdateCustomSymbolTypeDto:
      required:
      - name
      type: object
      properties:
        name:
          maxLength: 100
          minLength: 0
          type: string
          example: Example Title
        hideAddressField:
          type: boolean
          example: true
        hideSymbolSubtype:
          type: boolean
          example: true
        isDefault:
          type: boolean
          default: false
          example: true
        dueDiligenceSymbolEntityType:
          $ref: '#/components/schemas/EntityType'
        subTypes:
          type: array
          items:
            $ref: '#/components/schemas/CustomSymbolSubTypeDto'
          nullable: true
          example: []
        customFieldIds:
          type: array
          items:
            type: string
            format: uuid
          nullable: true
          example: []
      additionalProperties: false
    UnlinkedPATemplateGroupDetails:
      type: object
      properties:
        name:
          type: string
          description: Unlinked template group name
          nullable: true
          example: Example Title
        id:
          type: string
          description: FactSet-defined or User-defined Group identifier.
          nullable: true
          example: abc123
        frequency:
          type: string
          description: Grouping frequency
          nullable: true
          example: example_value
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
externalDocs:
  url: https://developer.factset.com/api-catalog/analytics-datastore-api
  description: API Documentation
