openapi: 3.0.3
info:
  title: Factset Analytics Datastore About Book List API
  description: Allow clients to fetch precalculated Analytics through predeterministic URLs.
  contact:
    name: FactSet Research Systems
    url: https://developer.factset.com/contact
    email: api@factset.com
  license:
    name: Apache License, Version 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  version: 1.0.0
servers:
- url: https://api.factset.com
  description: Production
- url: https://api-sandbox.factset.com
  description: Sandbox
security:
- basicAuth: []
tags:
- name: Book List
paths:
  /v1/book-list:
    get:
      tags:
      - Book List
      summary: Factset Check out the books that are in the book library
      description: Retrieves the list of books that were previously created and are available in the client's book library
      responses:
        '200':
          description: Successful response contains book name, book ID, created date, shared status of the book and book type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Enable_BookList_Info'
        '401':
          description: Missing or invalid authentication
components:
  schemas:
    Enable_BookList_Info:
      title: Booklist Request
      description: Request to enable Book list information for the client.
      type: array
      items:
        properties:
          bookID:
            type: string
            description: Book ID
            example: 20200623094829450
          book_name:
            type: string
            description: Book Name
            example: Financials
          created_on:
            type: string
            description: Date on which the book was created
            example: 2020-6-23 9:48
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
externalDocs:
  url: https://developer.factset.com/api-catalog/analytics-datastore-api
  description: API Documentation
