openapi: 3.2.0
info:
  title: Factset IRN API v1 Symbol Relationships API
  description: Allows users to extract, create, update and configure IRN data.
  version: '1'
servers:
- url: https://api.factset.com/research/irn
  description: Production Server
- url: https://api-sandbox.factset.com/research/irn
  description: Sandbox
security:
- basicScheme: []
tags:
- name: Symbol Relationships
paths:
  /v1/symbol-relationships/{symbolId}/relationships:
    get:
      tags:
      - Symbol Relationships
      summary: Factset Returns a list of a symbol’s relationships
      operationId: GetSymbolRelationships
      parameters:
      - name: symbolId
        in: path
        description: symbolId to get associated records
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SymbolRelationshipDto'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
  /v1/symbol-relationships/{symbolRelationshipId}:
    get:
      tags:
      - Symbol Relationships
      summary: Factset Get details on a specific symbol relationship
      operationId: GetSymbolRelationship
      parameters:
      - name: symbolRelationshipId
        in: path
        description: symbolRelationshipId to get associated record
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SymbolRelationshipDto'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
    delete:
      tags:
      - Symbol Relationships
      summary: Factset Delete a symbol relationship
      operationId: DeleteSymbolRelationship
      parameters:
      - name: symbolRelationshipId
        in: path
        description: symbolRelationshipId to delete associated record
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
  /v1/symbol-relationships:
    post:
      tags:
      - Symbol Relationships
      summary: Factset Create a symbol relationship
      operationId: CreateSymbolRelationship
      requestBody:
        description: symbolRelationship object to save
        content:
          application/json-patch+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/SymbolRelationshipSaveDto'
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/SymbolRelationshipSaveDto'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/SymbolRelationshipSaveDto'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/SymbolRelationshipSaveDto'
      responses:
        '201':
          description: Created
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
  /v1/symbol-relationships/{symbol}:
    put:
      tags:
      - Symbol Relationships
      summary: Factset Edit a symbol relationship
      operationId: EditAndAddSymbolRelationship
      parameters:
      - name: symbol
        in: path
        description: ''
        required: true
        schema:
          type: string
      requestBody:
        description: symbolRelationship object to save
        content:
          application/json-patch+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/SymbolRelationshipUpdateDto'
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/SymbolRelationshipUpdateDto'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/SymbolRelationshipUpdateDto'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/SymbolRelationshipUpdateDto'
      responses:
        '200':
          description: Success
components:
  schemas:
    SymbolRelationshipUpdateDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
        symbolsRelationshipId:
          type: string
          format: uuid
        parentSymbol:
          type:
          - string
          - 'null'
        childSymbol:
          type:
          - string
          - 'null'
        startDate:
          type:
          - string
          - 'null'
          format: date-time
        endDate:
          type:
          - string
          - 'null'
          format: date-time
        comment:
          type:
          - string
          - 'null'
      additionalProperties: false
    SymbolRelationshipSaveDto:
      type: object
      properties:
        symbolsRelationshipId:
          type: string
          format: uuid
        parentSymbol:
          type:
          - string
          - 'null'
        childSymbol:
          type:
          - string
          - 'null'
        startDate:
          type:
          - string
          - 'null'
          format: date-time
        endDate:
          type:
          - string
          - 'null'
          format: date-time
        comment:
          type:
          - string
          - 'null'
      additionalProperties: false
    SymbolIdNameDto:
      type: object
      properties:
        id:
          type:
          - string
          - 'null'
          format: uuid
        name:
          type:
          - string
          - 'null'
        code:
          type:
          - string
          - 'null'
      additionalProperties: false
    SymbolRelationshipDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
        symbolsRelationship:
          $ref: '#/components/schemas/SymbolsRelationshipIdNameDto'
        parentSymbol:
          $ref: '#/components/schemas/SymbolIdNameDto'
        childSymbol:
          $ref: '#/components/schemas/SymbolIdNameDto'
        startDate:
          type:
          - string
          - 'null'
          format: date-time
        endDate:
          type:
          - string
          - 'null'
          format: date-time
        comment:
          type:
          - string
          - 'null'
      additionalProperties: false
    SymbolsRelationshipIdNameDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type:
          - string
          - 'null'
        type:
          type:
          - string
          - 'null'
      additionalProperties: false
    ProblemDetails:
      type: object
      properties:
        type:
          type:
          - string
          - 'null'
        title:
          type:
          - string
          - 'null'
        status:
          type:
          - integer
          - 'null'
          format: int32
        detail:
          type:
          - string
          - 'null'
        instance:
          type:
          - string
          - 'null'
      additionalProperties: {}
  securitySchemes:
    basicScheme:
      type: http
      scheme: basic
