openapi: 3.0.3
info:
  title: Factset Analytics Datastore About Trading API
  description: Allow clients to fetch precalculated Analytics through predeterministic URLs.
  contact:
    name: FactSet Research Systems
    url: https://developer.factset.com/contact
    email: api@factset.com
  license:
    name: Apache License, Version 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  version: 1.0.0
servers:
- url: https://api.factset.com
  description: Production
- url: https://api-sandbox.factset.com
  description: Sandbox
security:
- basicAuth: []
tags:
- name: Trading
paths:
  /notation/keyFigures/tradingDay/average/get:
    get:
      tags:
      - Trading
      operationId: get/notation/keyFigures/tradingDay/average/get
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      description: Average end-of-day (EOD) key figures for different trading days periods. A trading day is a calendar day on that trading of the notation was possible.
      summary: Factset Average End-of-day (eod) Key Figures for Different Trading Days Periods.
      parameters:
      - name: identifier
        in: query
        schema:
          type: string
          pattern: ^[B-DF-HJ-NP-TV-Z0-9]{6}-[LR]$|^[A-Z0-9.#&*+]{1,47}-[A-Z0-9]{2,4}$|^[0-9]{3,20}$
          maxLength: 50
          exclusiveMaximum: false
          minLength: 3
          exclusiveMinimum: false
          description: Identifier to resolve.
        required: true
      - name: identifierType
        in: query
        schema:
          type: string
          description: Type of the identifier.
          x-enum-description:
          - MDG identifier of a listing.
          - FactSet market symbol of a listing.
          - Regional FactSet ticker symbol, identifying the primary listing in the region.
          - FactSet Permanent Identifier on listing level.
          - Regional FactSet Permanent Identifier, identifying the primary listing in the region.
          enum:
          - idNotation
          - tickerExchange
          - tickerRegion
          - fdsPermanentIdentifierListing
          - fdsPermanentIdentifierRegional
        required: true
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
            exclusiveMaximum: false
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      responses:
        '200':
          $ref: '#/components/responses/GetNotationKeyFiguresTradingDayAverageGet200Response'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /prices/tradingSchedule/event/list:
    post:
      tags:
      - Trading
      operationId: post/prices/tradingSchedule/event/list
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: true
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Factset Sequence of Market-related Events.
      description: Sequence of market-related events like the opening time or closing time of a market of a specific notation.<br><br>Pagination to a previous page is not supported and `pagination.previous` is always `null`.
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostPricesTradingScheduleEventListRequest'
        required: true
      responses:
        '200':
          $ref: '#/components/responses/PostPricesTradingScheduleEventList200Response'
      parameters: []
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /prices/tradingSchedule/event/type/list:
    get:
      tags:
      - Trading
      operationId: get/prices/tradingSchedule/event/type/list
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Factset Trading Schedule Event Types.
      description: Trading schedule event types define the events which may occur during any period of trading. Types of trading schedule events are for instance OPEN, CLOSE, END_OF_DAY.
      responses:
        '200':
          $ref: '#/components/responses/GetPricesTradingScheduleEventTypeList200Response'
      parameters:
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
            exclusiveMaximum: false
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    PostPricesTradingScheduleEventListRequest:
      x-property-sort:
      - data
      - meta
      description: Request Body
      required:
      - data
      type: object
      properties:
        data:
          type: object
          x-property-sort:
          - identifier
          - filter
          description: The data member contains the request's primary data.
          properties:
            identifier:
              type: object
              x-property-sort:
              - value
              - type
              description: Identifier and type.
              properties:
                value:
                  type: string
                  pattern: ^[B-DF-HJ-NP-TV-Z0-9]{6}-[LR]$|^[A-Z0-9.#&*+]{1,47}-[A-Z0-9]{2,4}$|^[0-9]{3,20}$
                  maxLength: 50
                  exclusiveMaximum: false
                  minLength: 3
                  exclusiveMinimum: false
                  description: Identifier to resolve.
                type:
                  type: string
                  description: Type of the identifier.
                  x-enum-description:
                  - MDG identifier of a listing.
                  - FactSet market symbol of a listing.
                  - Regional FactSet ticker symbol, identifying the primary listing in the region.
                  - FactSet Permanent Identifier on listing level.
                  - Regional FactSet Permanent Identifier, identifying the primary listing in the region.
                  enum:
                  - idNotation
                  - tickerExchange
                  - tickerRegion
                  - fdsPermanentIdentifierListing
                  - fdsPermanentIdentifierRegional
              required:
              - value
              - type
            filter:
              type: object
              x-property-sort:
              - types
              - range
              description: Criteria that filter the items in the response list; only items that match all of the criteria are returned.
              properties:
                types:
                  type: array
                  nullable: false
                  items:
                    type: number
                    format: id32
                    x-positive: true
                  minItems: 1
                  description: List of trading schedule event types to return. See endpoint `/prices/tradingSchedule/event/type/list` for valid values.
                range:
                  type: object
                  format: timeRange
                  properties:
                    start:
                      type: string
                      format: datetime
                      description: The starting point of the time range (inclusive).
                    end:
                      type: string
                      format: datetime
                      description: The ending point of the time range (exclusive).
                  x-property-sort:
                  - start
                  - end
                  required:
                  - start
                  - end
                  description: Date and time range for the time series. A valid time range is between 1900-01-01 and 24 hours and 5 minutes into the future.
              required:
              - types
              - range
          required:
          - identifier
          example: example_value
        meta:
          type: object
          description: The meta member contains the meta information of the request.
          properties:
            attributes:
              $ref: '#/components/schemas/AttributesMember'
            pagination:
              type: object
              description: Pagination attributes for the cursor-based pagination strategy.
              properties:
                cursor:
                  type: string
                  maxLength: 50
                  exclusiveMaximum: false
                  description: Starting point as returned in the attributes `pagination.next` or `pagination.previous` by a prior invocation of this endpoint, or undefined (default).
                limit:
                  type: number
                  format: int32
                  minimum: 0
                  exclusiveMinimum: false
                  maximum: 500
                  exclusiveMaximum: false
                  default: 20
                  description: Non-negative maximum number of entries to return.
              x-property-sort:
              - cursor
              - limit
          x-property-sort:
          - attributes
          - pagination
          example: example_value
    AttributesMember:
      type: array
      description: Limit the attributes returned in the response to the specified set.
      items:
        type: string
        maxLength: 100
        exclusiveMaximum: false
      maxItems: 50
      uniqueItems: true
    StatusObject:
      type: object
      properties:
        code:
          type: number
          format: int32
          description: The HTTP status code of the response, mirroring the code from the Status-Line of the HTTP response message (see [RFC2616] section 6.1).
          example: 42.5
      description: The status member contains the status code of the response.
      required:
      - code
    CursorBasedPaginationOutputObjectWithoutTotal:
      type: object
      description: Pagination attributes for the cursor-based pagination strategy; a total element count is not supported.
      properties:
        next:
          type: string
          description: The next cursor position to use in the parameter `pagination.cursor` for an endpoint that supports cursor-based pagination, otherwise `null`.
          example: example_value
        previous:
          type: string
          description: The previous cursor position to use in the parameter `pagination.cursor` for an endpoint that supports cursor-based pagination. If a previous cursor position is not supported or available, `previous` is `null`.
          example: example_value
      required:
      - next
      - previous
      x-property-sort:
      - next
      - previous
  responses:
    GetPricesTradingScheduleEventTypeList200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: array
                description: List of trading schedule event types.
                nullable: false
                items:
                  type: object
                  nullable: false
                  x-property-sort:
                  - id
                  - code
                  - description
                  properties:
                    id:
                      nullable: true
                      type: number
                      format: id32
                      x-positive: true
                      description: Identifier of the type.
                    code:
                      nullable: true
                      type: string
                      description: Code of the type.
                    description:
                      nullable: true
                      type: string
                      description: Description of the type in english language.
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                x-property-sort:
                - status
            x-property-sort:
            - data
            - meta
    GetNotationKeyFiguresTradingDayAverageGet200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: object
                properties:
                  idNotation:
                    nullable: true
                    type: string
                    format: id64
                    x-positive: true
                    description: MDG identifier of the listing.
                  sourceIdentifier:
                    nullable: true
                    type: string
                    description: Identifier used in the request.
                  price:
                    nullable: false
                    type: object
                    x-property-sort:
                    - days5
                    - days20
                    - days30
                    - days38
                    - days50
                    - days100
                    - days200
                    - days250
                    description: Average price. See attribute `valueUnit` in endpoint `/notation/get` for its unit.
                    properties:
                      days5:
                        nullable: true
                        type: number
                        format: real
                        description: Five trading days.
                      days20:
                        nullable: true
                        type: number
                        format: real
                        description: 20 trading days.
                      days30:
                        nullable: true
                        type: number
                        format: real
                        description: 30 trading days.
                      days38:
                        nullable: true
                        type: number
                        format: real
                        description: 38 trading days.
                      days50:
                        nullable: true
                        type: number
                        format: real
                        description: 50 trading days.
                      days100:
                        nullable: true
                        type: number
                        format: real
                        description: 100 trading days.
                      days200:
                        nullable: true
                        type: number
                        format: real
                        description: 200 trading days.
                      days250:
                        nullable: true
                        type: number
                        format: real
                        description: 250 trading days.
                  volume:
                    nullable: false
                    type: object
                    x-property-sort:
                    - days5
                    - days30
                    - days50
                    - days100
                    - days200
                    - days250
                    description: Average trading volume.
                    properties:
                      days5:
                        nullable: true
                        type: number
                        format: real
                        description: Five trading days.
                      days30:
                        nullable: true
                        type: number
                        format: real
                        description: 30 trading days.
                      days50:
                        nullable: true
                        type: number
                        format: real
                        description: 50 trading days.
                      days100:
                        nullable: true
                        type: number
                        format: real
                        description: 100 trading days.
                      days200:
                        nullable: true
                        type: number
                        format: real
                        description: 200 trading days.
                      days250:
                        nullable: true
                        type: number
                        format: real
                        description: 250 trading days.
                  value:
                    nullable: false
                    type: object
                    x-property-sort:
                    - days5
                    - days30
                    - days100
                    - days250
                    description: Average trading value. See attribute `valueUnit` in endpoint `/notation/get` for its unit.
                    properties:
                      days5:
                        nullable: true
                        type: number
                        format: real
                        description: Five trading days.
                      days30:
                        nullable: true
                        type: number
                        format: real
                        description: 30 trading days.
                      days100:
                        nullable: true
                        type: number
                        format: real
                        description: 100 trading days.
                      days250:
                        nullable: true
                        type: number
                        format: real
                        description: 250 trading days.
                description: Average end-of-day (EOD) key figures for various time ranges.
                nullable: false
                x-property-sort:
                - idNotation
                - sourceIdentifier
                - price
                - volume
                - value
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                x-property-sort:
                - status
            x-property-sort:
            - data
            - meta
    PostPricesTradingScheduleEventList200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: object
                properties:
                  idNotation:
                    nullable: true
                    type: string
                    format: id64
                    x-positive: true
                    description: MDG identifier of the listing.
                  sourceIdentifier:
                    nullable: true
                    type: string
                    description: Identifier used in the request.
                  range:
                    nullable: true
                    type: object
                    format: timeRange
                    properties:
                      start:
                        nullable: true
                        type: string
                        format: datetime
                        description: The starting point of the time range (inclusive).
                      end:
                        nullable: true
                        type: string
                        format: datetime
                        description: The ending point of the time range (exclusive).
                    x-property-sort:
                    - start
                    - end
                    required:
                    - start
                    - end
                    description: Time range for the returned trading schedule events.
                  events:
                    nullable: false
                    type: array
                    items:
                      type: object
                      nullable: false
                      x-property-sort:
                      - time
                      - type
                      properties:
                        time:
                          nullable: true
                          type: string
                          format: datetime
                          description: Date and time of the event.
                        type:
                          nullable: false
                          type: object
                          x-property-sort:
                          - id
                          - code
                          description: Trading schedule event type.
                          properties:
                            id:
                              nullable: true
                              type: number
                              format: id32
                              x-positive: true
                              description: Identifier of the event type.
                            code:
                              nullable: true
                              type: string
                              description: Code of the event type.
                    description: List of trading schedule events.
                description: List of trading schedule events for a notation.
                nullable: false
                x-property-sort:
                - idNotation
                - sourceIdentifier
                - range
                - events
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                  pagination:
                    $ref: '#/components/schemas/CursorBasedPaginationOutputObjectWithoutTotal'
                x-property-sort:
                - status
                - pagination
            x-property-sort:
            - data
            - meta
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
externalDocs:
  url: https://developer.factset.com/api-catalog/analytics-datastore-api
  description: API Documentation
