openapi: 3.0.3
info:
  title: Factset Analytics Datastore About Splits API
  description: Allow clients to fetch precalculated Analytics through predeterministic URLs.
  contact:
    name: FactSet Research Systems
    url: https://developer.factset.com/contact
    email: api@factset.com
  license:
    name: Apache License, Version 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  version: 1.0.0
servers:
- url: https://api.factset.com
  description: Production
- url: https://api-sandbox.factset.com
  description: Sandbox
security:
- basicAuth: []
tags:
- name: Splits
paths:
  /factset-prices/v1/splits:
    get:
      tags:
      - Splits
      summary: Factset Gets Full History of Security Splits for a List of `ids`
      operationId: getSecuritySplits
      description: Gets the entire history of splits for a given list of identifiers. Information returned includes the split factor, a plain text comment regarding the type of split, and the event date.
      parameters:
      - $ref: '#/components/parameters/idsMax2000'
      responses:
        '200':
          description: Array of security splits
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/splitsResponse'
              examples:
                Split History for a Single Security - MSFT:
                  $ref: '#/components/examples/singleSecuritySplits'
                Split History for a List of Securities:
                  $ref: '#/components/examples/multipleSecuritySplits'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      tags:
      - Splits
      summary: Factset Requests Splits for a List of `ids`
      description: Gets the entire history of splits for a given list of identifiers. Information returned includes the split factor, a plain text comment regarding the type of split, and the event date.
      operationId: getSecuritySplitsForList
      requestBody:
        required: true
        description: Request object for `Security` split factors.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/splitsRequest'
            examples:
              Single Company Daily Prices One Month:
                $ref: '#/components/examples/splitHistoryMSFTPost'
              One Year of Monthly Prices for AAPL in 2019:
                $ref: '#/components/examples/multipleSplitsHistoryPost'
      responses:
        '200':
          description: Array of Splits objects
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/splitsResponse'
              examples:
                Splits History for MSFT:
                  $ref: '#/components/examples/singleSecuritySplits'
                Split History for a List of Securities:
                  $ref: '#/components/examples/multipleSecuritySplits'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  examples:
    badRequestInvalidParameters:
      summary: Bad Request - Invalid Parameters
      description: This error message occurs when a request parameter is used in which is not recognized by the service. Please revise your request to include only the parameters listed in the specification. Typical causes are spelling mistakes and use of improper casing.
      value:
        status: Bad Request
        timestamp: '2020-06-12 15:58:54.068'
        path: /factset-prices/v1/{endpoint}
        message: 'Invalid Parameter (s): fakeParameterName1 fakeParameterName2. Please modify your request to use parameters outlined in the specification for this endpoint.'
        subErrors: null
    badRequestDateFormat:
      summary: Bad Request - Date Format
      description: This bad request occurs when a request doesn't use the YYYY-MM-DD in the date parameters. To resolve, convert your date to YYYY-MM-DD.
      value:
        status: Bad Request
        timestamp: '2019-10-31 16:08:07.945'
        path: /factset-prices/v1/{endpoint}
        message: 'The date parameter ''startDate'' must be in the following date format: YYYY-MM-DD'
        subErrors: null
    notWritable:
      summary: Internal Server Error - Not Writable
      description: This error may be returned when the server encounters an error writing the JSON response.
      value:
        status: Internal Server Error
        timestamp: '2019-11-05 09:48:29.18'
        path: /factset-prices/v1/{endpoint}
        message: Error writing JSON output
        subErrors: null
    multipleSecuritySplits:
      summary: Split History for GOOGL, MSFT, and AMZN
      description: Split History for Multiple Securities - GOOGL, MSFT, AMZN
      value:
        data:
        - fsymId: HTM0LK-R
          date: '2014-04-03'
          splitFactor: 0.500484
          splitComment: 'Split: 2 for 1.000968'
          requestId: GOOGL
        - fsymId: P8R3C2-R
          date: '1987-09-21'
          splitFactor: 0.5
          splitComment: null
          requestId: MSFT
        - fsymId: P8R3C2-R
          date: '1990-04-16'
          splitFactor: 0.5
          splitComment: null
          requestId: MSFT
        - fsymId: P8R3C2-R
          date: '1991-06-27'
          splitFactor: 0.6666667
          splitComment: null
          requestId: MSFT
        - fsymId: P8R3C2-R
          date: '1992-06-15'
          splitFactor: 0.6666667
          splitComment: null
          requestId: MSFT
        - fsymId: P8R3C2-R
          date: '1994-05-23'
          splitFactor: 0.5
          splitComment: null
          requestId: MSFT
        - fsymId: P8R3C2-R
          date: '1996-12-09'
          splitFactor: 0.5
          splitComment: null
          requestId: MSFT
        - fsymId: P8R3C2-R
          date: '1998-02-23'
          splitFactor: 0.5
          splitComment: null
          requestId: MSFT
        - fsymId: P8R3C2-R
          date: '1999-03-29'
          splitFactor: 0.5
          splitComment: null
          requestId: MSFT
        - fsymId: P8R3C2-R
          date: '2003-02-18'
          splitFactor: 0.5
          splitComment: 'Split: 2 for 1'
          requestId: MSFT
        - fsymId: MCNYYL-R
          date: '1998-06-02'
          splitFactor: 0.5
          splitComment: null
          requestId: AMZN
        - fsymId: MCNYYL-R
          date: '1999-01-05'
          splitFactor: 0.33333334
          splitComment: null
          requestId: AMZN
        - fsymId: MCNYYL-R
          date: '1999-09-02'
          splitFactor: 0.5
          splitComment: null
          requestId: AMZN
    unsupportedMediaType:
      summary: Unsupported Media Type
      description: This bad request occurs when the media type passed in the request is not supported. Currently the APIs only support 'application/json'.
      value:
        status: Unsupported Media Type
        timestamp: '2019-11-05 09:42:27.237'
        path: /factset-prices/v1/{endpoint}
        message: text/html media type is not supported. Supported media types are application/json
        subErrors: null
    generalException:
      summary: Internal Server Error - General Exception
      description: This is the most general error that can be returned to by the service. Please `Report Issue` to FactSet.
      value:
        status: Internal Server Error
        timestamp: '2019-11-01 10:36:01.944'
        path: /factset-prices/v1/{endpoint}
        message: Unexpected error
        subErrors: null
    splitHistoryMSFTPost:
      summary: Split History Request for MSFT
      description: Split History Request for MSFT
      value:
        ids:
        - MSFT-US
    badRequestReadTimeout:
      summary: Bad Request - Read Timeout
      description: This error may be returned if it takes more than 29 seconds to hear back from the data fetch service.
      value:
        status: Bad Request
        timestamp: '2019-11-04 16:18:38.949'
        path: /factset-prices/v1/{endpoint}
        message: The request took too long. Try again with a smaller request.
        subErrors: null
    badRequestFutureDate:
      summary: Bad Request - Future Date
      description: This error message occurs when a future date is requested in the startDate and endDate parameters. Please revise your request to include dates as of today's current date or any prior historical date.
      value:
        status: Bad Request
        timestamp: '2020-06-12 15:52:48.091'
        path: /factset-prices/v1/{endpoint}
        message: The use of future dates is not applicable in this endpoint. Please revise your request to include dates up to today's current date.
        subErrors: null
    singleSecuritySplits:
      summary: Split History for MSFT
      description: Split History for MSFT
      value:
        data:
        - fsymId: P8R3C2-R
          date: '1987-09-21'
          splitFactor: 0.5
          splitComment: null
          requestId: MSFT
        - fsymId: P8R3C2-R
          date: '1990-04-16'
          splitFactor: 0.5
          splitComment: null
          requestId: MSFT
        - fsymId: P8R3C2-R
          date: '1991-06-27'
          splitFactor: 0.6666667
          splitComment: null
          requestId: MSFT
        - fsymId: P8R3C2-R
          date: '1992-06-15'
          splitFactor: 0.6666667
          splitComment: null
          requestId: MSFT
        - fsymId: P8R3C2-R
          date: '1994-05-23'
          splitFactor: 0.5
          splitComment: null
          requestId: MSFT
        - fsymId: P8R3C2-R
          date: '1996-12-09'
          splitFactor: 0.5
          splitComment: null
          requestId: MSFT
        - fsymId: P8R3C2-R
          date: '1998-02-23'
          splitFactor: 0.5
          splitComment: null
          requestId: MSFT
        - fsymId: P8R3C2-R
          date: '1999-03-29'
          splitFactor: 0.5
          splitComment: null
          requestId: MSFT
        - fsymId: P8R3C2-R
          date: '2003-02-18'
          splitFactor: 0.5
          splitComment: 'Split: 2 for 1'
          requestId: MSFT
    forbidden:
      summary: Forbidden
      description: The USERNAME-SERIAL attempted to request the endpoint is not authorized to access. The request was a legal request, but the server is refusing to respond. Please reach out to FactSet Account Team for assistance with authorization.
      value:
        status: Forbidden
        timestamp: '2020-06-12 16:08:51.731'
        path: /factset-prices/v1/{endpoint}
        message: USERNAME-SERIAL does not have permission to use /factset-prices/v1/{endpoint}
        subErrors: null
    unauthenticated:
      summary: User Authentication Failed
      description: This occurs when a user is not properly authenticated or recognized by the service. Please double check the USERNAME-SERIAL and API-Key used to request and ensure you are within the IP range specified for the Key. Report Issue under 401 error for help with troubleshooting.
      value:
        status: User Authentication Failed
        timestamp: '2019-10-31 16:08:07.945'
        path: /factset-prices/v1/{endpoint}
        message: User Authentication Failed.
        subErrors: null
    multipleSplitsHistoryPost:
      summary: Splits History for GOOGL, MSFT, and AMZN
      description: Splits History for GOOGL, MSFT, and AMZN
      value:
        ids:
        - GOOGL-US
        - MSFT-US
        - AMZN-US
    badRequestMalformedJSON:
      summary: Bad Request - Malformed JSON Request
      description: This error may be returned when the request body is specified as JSON, but is not in proper JSON format.
      value:
        status: Bad Request
        timestamp: '2019-11-05 09:48:29.18'
        path: /factset-prices/v1/{endpoint}
        message: Malformed JSON Request
        subErrors: null
    badRequestRequiredParameter:
      summary: Bad Request - Required Parameter Missing
      description: This error message occurs when the request does not include the required parameters. Required parameters are indicated with a red asterisks symbol in the specification file.
      value:
        status: Bad Request
        timestamp: '2020-06-12 15:48:42.016'
        path: /factset-prices/v1/{endpoint}
        message: The parameter 'ids' is required and may not be empty.
        subErrors: null
  responses:
    '401':
      description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and have successfully generated an API KEY for the IP range you are connecting from. For more help, select the **Report Issue** in the top right corner of this Developer Portal specification card and choose Connectivity 401 or 403 Responses.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponse'
          examples:
            Bad Request - Date Format:
              $ref: '#/components/examples/unauthenticated'
    '415':
      description: Unsupported Media Type. This error may be returned when the caller sends a resource in a format that is not accepted by the server. This can be fixed by ensuring that Content-Type header is set to the correct value. In this instance, "application/json" would be the appropriate value.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponse'
          examples:
            Bad Request - Date Format:
              $ref: '#/components/examples/unsupportedMediaType'
    '403':
      description: The USERNAME-SERIAL attempted to request the endpoint is not authorized to access. The request was a legal request, but the server is refusing to respond. Please reach out to FactSet Account Team for assistance with authorization.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponse'
          examples:
            Bad Request - Date Format:
              $ref: '#/components/examples/forbidden'
    '500':
      description: Internal Server Error.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponse'
          examples:
            Internal Server Error - Not Writable:
              $ref: '#/components/examples/notWritable'
            Internal Server Error - General Exception:
              $ref: '#/components/examples/generalException'
    '400':
      description: Bad Request. This can occur for several reasons. Please review the "message" for more details.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponse'
          examples:
            Bad Request - Date Format:
              $ref: '#/components/examples/badRequestDateFormat'
            Bad Request - Missing Required Parameter:
              $ref: '#/components/examples/badRequestRequiredParameter'
            Bad Request - Future Date:
              $ref: '#/components/examples/badRequestFutureDate'
            Bad Request - Invalid Parameter:
              $ref: '#/components/examples/badRequestInvalidParameters'
            Bad Request - Malformed JSON:
              $ref: '#/components/examples/badRequestMalformedJSON'
            Bad Request - Read Timeout:
              $ref: '#/components/examples/badRequestReadTimeout'
  schemas:
    idsMax2000:
      type: array
      items:
        type: string
      minItems: 1
      maxItems: 2000
      description: 'The requested list of security identifiers. Accepted ID types include Market Tickers, SEDOL, ISINs, CUSIPs, or FactSet Permanent Ids.

        '
      example:
      - FDS-US
    errorResponse:
      type: object
      title: Error Response
      properties:
        status:
          description: status
          type: string
          example: Bad Request
        timestamp:
          description: timestamp in YYYY-MM-DD HH:MM:SS.SSS
          type: string
          example: '2019-11-01 11:09:41.918'
          format: date-time
        path:
          description: The Endpoint path {package}/version/{endpoint}
          type: string
          example: /factset-prices/v1/prices
        message:
          description: The plain text error message
          type: string
          example: Validation Error
        subErrors:
          description: subErrors related to the error message. Null if not applicable.
          type: object
          properties:
            object:
              description: the operation ID
              type: string
            field:
              description: Parameter Field Name
              type: string
            message:
              description: Error message
              type: string
            rejectedValue:
              description: Rejected Values in an Array
              type: array
              items:
                type: string
          example: example_value
    splits:
      title: Split Object
      type: object
      properties:
        fsymId:
          description: Factset Regional Security Identifier. Six alpha-numeric characters, excluding vowels, with an -R suffix (XXXXXX-R). Identifies the security's best regional security data series per currency. For equities, all primary listings per region and currency are allocated a regional-level permanent identifier. The regional-level permanent identifier will be available once a SEDOL representing the region/currency has been allocated and the identifiers are on FactSet.
          type: string
          example: SJY281-R
          nullable: true
        date:
          description: Ex-Date of the split expressed in YYYY-MM-DD format.
          type: string
          format: date
          example: '2013-08-01'
          nullable: true
        splitFactor:
          description: Split adjustment factor for n splits ago. A 2-for-1 split returns .50, the number you would multiply the stock price by to adjust for the split.
          type: number
          format: double
          example: 2
          nullable: true
        splitComment:
          description: Description for the type of split or spin off.
          type: string
          example: 'Split: 2 for 1'
          nullable: true
        requestId:
          description: Identifier that was used for the request.
          type: string
          example: IBM-US
    splitsRequest:
      title: Splits Request Body
      description: Splits Request Body
      type: object
      properties:
        ids:
          $ref: '#/components/schemas/idsMax2000'
      required:
      - ids
    splitsResponse:
      type: object
      title: Splits Response
      properties:
        data:
          description: Array of Splits Objects
          type: array
          items:
            $ref: '#/components/schemas/splits'
          example: []
  parameters:
    idsMax2000:
      name: ids
      in: query
      schema:
        type: array
        items:
          type: string
        minItems: 1
        maxItems: 2000
      required: true
      explode: false
      description: The requested list of security identifiers. Accepted ID types include Market Tickers, SEDOL, ISINs, CUSIPs, or FactSet Permanent Ids. <p>***ids limit** =  2000 per request*</p> *<p>Make note, GET Method URL request lines are also limited to a total length of 8192 bytes (8KB). In cases where the service allows for thousands of ids, which may lead to exceeding this request line limit of 8KB, its advised for any requests with large request lines to be requested through the respective "POST" method.</p>*
      examples:
        oneEquityId:
          summary: One Equity Market Identifier
          value:
          - AAPL-USA
        multipleEquityIds:
          summary: Multiple Equity Market Identifiers
          value:
          - FDS-US
          - AAPL-US
          - MSFT-US
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
externalDocs:
  url: https://developer.factset.com/api-catalog/analytics-datastore-api
  description: API Documentation
