openapi: 3.2.0
info:
  title: FactSet IRN Configuration Subjects API
  description: 'Config API allows users to read and update configuration and settings of

    the Internal Research Notes.'
  version: '1'
servers:
- url: https://api.factset.com/research/irn
  description: Production Server
- url: https://api-sandbox.factset.com/research/irn
  description: Sandbox
security:
- basicScheme: []
tags:
- name: Subjects
paths:
  /v1/subjects:
    get:
      tags:
      - Subjects
      summary: Factset Get All Subjects
      operationId: GetSubjects
      parameters:
      - name: X-IRN-Ignore-Permissions
        in: header
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SubjectSummaryDto'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v1/subjects/{subjectId}:
    get:
      tags:
      - Subjects
      summary: Factset Get Subject Details for the Given Id Provided
      operationId: GetSubject
      parameters:
      - name: subjectId
        in: path
        description: Id
        required: true
        schema:
          type: string
          format: uuid
      - name: X-IRN-Ignore-Permissions
        in: header
        description: ''
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubjectConfigDto'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    SubjectSummaryDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: abc123
        name:
          type:
          - string
          - 'null'
          example: Example Title
        code:
          type:
          - string
          - 'null'
          example: example_value
        identifierType:
          type:
          - string
          - 'null'
          example: example_value
        identifierTypes:
          type:
          - array
          - 'null'
          items:
            type: string
          example: []
        type:
          type:
          - string
          - 'null'
          example: example_value
        isHidden:
          type: boolean
          example: true
        customFieldIds:
          type:
          - array
          - 'null'
          items:
            type: string
            format: uuid
          example: []
        noteLengthLimit:
          type:
          - integer
          - 'null'
          format: int32
          example: 10
      additionalProperties: false
    HeadlineFormatConfigDto:
      type: object
      properties:
        name:
          type:
          - string
          - 'null'
          example: Example Title
        customString:
          type:
          - string
          - 'null'
          example: example_value
        customFieldName:
          type:
          - string
          - 'null'
          example: example_value
      additionalProperties: false
    ApprovalLevelConfigDto:
      type: object
      properties:
        name:
          type:
          - string
          - 'null'
          example: Example Title
        approverIds:
          type:
          - array
          - 'null'
          items:
            type: string
            format: uuid
          example: []
      additionalProperties: false
    SubjectConfigDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: abc123
        name:
          type:
          - string
          - 'null'
          example: Example Title
        code:
          type:
          - string
          - 'null'
          example: example_value
        isHidden:
          type: boolean
          example: true
        identifierType:
          type:
          - string
          - 'null'
          example: example_value
        identifierTypes:
          type:
          - array
          - 'null'
          items:
            type: string
          example: []
        type:
          type:
          - string
          - 'null'
          example: example_value
        customFieldIds:
          type:
          - array
          - 'null'
          items:
            type: string
            format: uuid
          example: []
        approvalProcessConfig:
          $ref: '#/components/schemas/ApprovalProcessConfigDto'
        commentaryConfig:
          $ref: '#/components/schemas/CommentaryConfigDto'
        newsHeadlineFormat:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/HeadlineFormatConfigDto'
          example: []
        emailHeadlineFormat:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/HeadlineFormatConfigDto'
          example: user@example.com
        ratingConfig:
          $ref: '#/components/schemas/RatingConfigDto'
        noteLengthLimit:
          type:
          - integer
          - 'null'
          format: int32
          example: 10
      additionalProperties: false
    CommentaryConfigDto:
      type: object
      properties:
        shouldSendEmailAlertsToAuthor:
          type: boolean
          example: user@example.com
        shouldSendEmailAlertsToCommenters:
          type: boolean
          example: user@example.com
        shouldSendEmailAlertsToAll:
          type: boolean
          example: user@example.com
      additionalProperties: false
    ProblemDetails:
      type: object
      properties:
        type:
          type:
          - string
          - 'null'
          example: example_value
        title:
          type:
          - string
          - 'null'
          example: Example Title
        status:
          type:
          - integer
          - 'null'
          format: int32
          example: 10
        detail:
          type:
          - string
          - 'null'
          example: example_value
        instance:
          type:
          - string
          - 'null'
          example: example_value
      additionalProperties: {}
    ApprovalProcessConfigDto:
      type: object
      properties:
        approvalLevels:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ApprovalLevelConfigDto'
          example: []
        viewerIds:
          type:
          - array
          - 'null'
          items:
            type: string
            format: uuid
          example: []
        shouldSendEmailAlertsWhenSubmittedForApproval:
          type: boolean
          example: user@example.com
        shouldSendEmailAlertsWhenApproved:
          type: boolean
          example: user@example.com
        shouldSendEmailAlertsWhenDenied:
          type: boolean
          example: user@example.com
        shouldSendEmailAlertsToAuthor:
          type: boolean
          example: user@example.com
        shouldSendEmailAlertsToApprovers:
          type: boolean
          example: user@example.com
        shouldSendEmailAlertsToViewers:
          type: boolean
          example: user@example.com
        canAuthorSelfApprove:
          type: boolean
          example: true
        canAuthorEditPending:
          type: boolean
          example: true
      additionalProperties: false
    RatingConfigDto:
      type: object
      properties:
        ratingsVisibleToAuthor:
          type: boolean
          example: true
        ratingsVisibleToViewers:
          type: boolean
          example: true
        ratingsVisibleToAll:
          type: boolean
          example: true
        viewerIds:
          type:
          - array
          - 'null'
          items:
            type: string
            format: uuid
          example: []
        optionValues:
          type:
          - array
          - 'null'
          items:
            type: integer
            format: int32
          example: []
      additionalProperties: false
  securitySchemes:
    basicScheme:
      type: http
      scheme: basic
