openapi: 3.0.3
info:
  title: Factset Analytics Datastore About Fractional API
  description: Allow clients to fetch precalculated Analytics through predeterministic URLs.
  contact:
    name: FactSet Research Systems
    url: https://developer.factset.com/contact
    email: api@factset.com
  license:
    name: Apache License, Version 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  version: 1.0.0
servers:
- url: https://api.factset.com
  description: Production
- url: https://api-sandbox.factset.com
  description: Sandbox
security:
- basicAuth: []
tags:
- name: Fractional
paths:
  /basic/valueUnit/currency/fractional/get:
    get:
      tags:
      - Fractional
      operationId: get/basic/valueUnit/currency/fractional/get
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Factset Details of a Fractional Currency.
      description: Details of a fractional currency.
      parameters:
      - name: id
        in: query
        schema:
          type: number
          format: id32
          x-positive: true
          description: Identifier of a fractional currency.
        required: true
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
            exclusiveMaximum: false
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      - name: _language
        in: query
        schema:
          type: string
          format: isoLanguage
          description: ISO 639-1 code of the language.
          maxLength: 2
          minLength: 2
          exclusiveMinimum: false
          exclusiveMaximum: false
      responses:
        '200':
          $ref: '#/components/responses/GetBasicValueUnitCurrencyFractionalGet200Response'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /basic/valueUnit/currency/fractional/list:
    get:
      tags:
      - Fractional
      operationId: get/basic/valueUnit/currency/fractional/list
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 1
      x-supportsPermissionDeniedResponse: false
      summary: Factset List of Fractional Currencies.
      description: List of fractional currencies.
      responses:
        '200':
          $ref: '#/components/responses/GetBasicValueUnitCurrencyFractionalList200Response'
      parameters:
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
            exclusiveMaximum: false
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      - name: _language
        in: query
        schema:
          type: string
          format: isoLanguage
          description: ISO 639-1 code of the language.
          maxLength: 2
          minLength: 2
          exclusiveMinimum: false
          exclusiveMaximum: false
      - description: Sortable attributes. The sort order is ascending unless it is prefixed with a minus sign, in which case it is descending. A list of at most 1 (possibly prefixed) attribute name(s) is allowed.
        schema:
          type: array
          items:
            type: string
            enum:
            - name
            - -name
          maxItems: 1
          uniqueItems: true
          default:
          - name
        style: form
        explode: false
        name: _sort
        in: query
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  responses:
    GetBasicValueUnitCurrencyFractionalGet200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: object
                properties:
                  code:
                    nullable: true
                    type: string
                    description: Code of the fractional currency such as GBp (for British pence), USc (for U.S. cents), EUc for (Euro cent).
                  name:
                    nullable: true
                    type: string
                    format: localizedString
                    description: Name of the fractional currency.
                  factor:
                    nullable: true
                    type: number
                    format: real
                    description: Conversion factor between the fractional and its main currency. For example, the value 100 indicates that 100 US cents are equivalent to one US dollar.
                  mainCurrency:
                    nullable: false
                    type: object
                    x-property-sort:
                    - id
                    - code
                    - isoCode
                    - name
                    - active
                    description: Main currency corresponding to the fractional currency.
                    properties:
                      id:
                        nullable: true
                        type: number
                        format: id32
                        x-positive: true
                        description: Identifier of the main currency.
                      code:
                        nullable: true
                        type: string
                        description: 'Code of the currency: If assigned, a code according to ISO 4217, otherwise a local code.'
                      isoCode:
                        nullable: true
                        type: string
                        description: ISO 4217 code of the currency.
                      name:
                        nullable: true
                        type: string
                        format: localizedString
                        description: Name of the main currency.
                      active:
                        nullable: true
                        type: boolean
                        description: Indicates whether the currency is active.
                description: Details of a fractional currency.
                nullable: false
                x-property-sort:
                - code
                - name
                - factor
                - mainCurrency
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                x-property-sort:
                - status
            x-property-sort:
            - data
            - meta
    GetBasicValueUnitCurrencyFractionalList200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: array
                description: List of fractional currencies.
                nullable: false
                items:
                  type: object
                  nullable: false
                  x-property-sort:
                  - id
                  - code
                  - name
                  - factor
                  - mainCurrency
                  properties:
                    id:
                      nullable: true
                      type: number
                      format: id32
                      x-positive: true
                      description: Identifier of the fractional currency, which is a value unit.
                    code:
                      nullable: true
                      type: string
                      description: Code of the fractional currency such as GBp (for British pence), USc (for U.S. cents), EUc for (Euro cent).
                    name:
                      nullable: true
                      x-sortable: true
                      x-default-sort-attribute: true
                      x-default-sort-direction: 1
                      type: string
                      format: localizedString
                      description: Name of the fractional currency.
                    factor:
                      nullable: true
                      type: number
                      format: real
                      description: Conversion factor between the fractional and its main currency. For example, the value 100 indicates that 100 US cents are equivalent to one US dollar.
                    mainCurrency:
                      nullable: false
                      type: object
                      x-property-sort:
                      - id
                      - code
                      - isoCode
                      - name
                      - active
                      description: Main currency corresponding to the fractional currency.
                      properties:
                        id:
                          nullable: true
                          type: number
                          format: id32
                          x-positive: true
                          description: Identifier of the main currency of the fractional currency.
                        code:
                          nullable: true
                          type: string
                          description: 'Code of the currency: If assigned, a code according to ISO 4217, otherwise a local code.'
                        isoCode:
                          nullable: true
                          type: string
                          description: ISO 4217 code of the currency.
                        name:
                          nullable: true
                          type: string
                          format: localizedString
                          description: Name of the main currency.
                        active:
                          nullable: true
                          type: boolean
                          description: Indicates whether the currency is active.
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                x-property-sort:
                - status
            x-property-sort:
            - data
            - meta
  schemas:
    StatusObject:
      type: object
      properties:
        code:
          type: number
          format: int32
          description: The HTTP status code of the response, mirroring the code from the Status-Line of the HTTP response message (see [RFC2616] section 6.1).
          example: 42.5
      description: The status member contains the status code of the response.
      required:
      - code
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
externalDocs:
  url: https://developer.factset.com/api-catalog/analytics-datastore-api
  description: API Documentation
