openapi: 3.2.0
info:
  title: FactSet Virtual Portfolio API for Digital Portals Modify API
  description: 'Virtual portfolios empower self-directed investors to define, track and

    realize their mid- to long-term financial strategies'
  version: '2'
servers:
- url: https://api.factset.com/wealth/v1
security:
- Basic: []
tags:
- name: Modify
paths:
  /watchlist/modify:
    post:
      tags:
      - Modify
      operationId: post/watchlist/modify
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: true
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: true
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      description: Modify a watchlist.
      summary: Modify a watchlist
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostWatchlistModifyRequest'
      responses:
        '200':
          $ref: '#/components/responses/PostWatchlistModify200Response'
      parameters: []
components:
  responses:
    PostWatchlistModify200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                description: This member is always emtpy.
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                x-property-sort:
                - status
  schemas:
    StatusObject:
      type: object
      properties:
        code:
          type: number
          format: int32
          description: The HTTP status code of the response, mirroring the code from the Status-Line of the HTTP response message (see [RFC2616] section 6.1).
      description: The status member contains the status code of the response.
      required:
      - code
    AttributesMember:
      type: array
      description: Limit the attributes returned in the response to the specified set.
      items:
        type: string
        maxLength: 100
      maxItems: 50
      uniqueItems: true
    PostWatchlistModifyRequest:
      type: object
      properties:
        data:
          type: object
          x-property-sort:
          - id
          - name
          description: The data member contains the request's primary data.
          properties:
            id:
              description: Identifier of the watchlist.
              type: string
              format: id64
              x-positive: true
            name:
              description: Name of the watchlist.
              type: string
              pattern: ^[\u0020-\u002e\u0030-\u003a\u003d\u003f-\u005d\u005f\u0061-\u007e\u00c0-\u00ff\u20ac]*$
              x-trim: false
              minLength: 1
              maxLength: 100
          required:
          - id
          - name
        meta:
          type: object
          description: The meta member contains the meta information of the request.
          properties:
            attributes:
              $ref: '#/components/schemas/AttributesMember'
          x-property-sort:
          - attributes
  securitySchemes:
    Basic:
      type: http
      description: Input your username and password to access this API.
      scheme: basic
externalDocs:
  description: Endpoint Reference
  url: https://endpointreference.mdgms.com
x-interface-version: 2
x-documenter-version: 6.3.0
x-api-version: 4.0.2
