openapi: 3.0.3
info:
  title: Factset Analytics Datastore About Time Series API
  description: Allow clients to fetch precalculated Analytics through predeterministic URLs.
  contact:
    name: FactSet Research Systems
    url: https://developer.factset.com/contact
    email: api@factset.com
  license:
    name: Apache License, Version 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  version: 1.0.0
servers:
- url: https://api.factset.com
  description: Production
- url: https://api-sandbox.factset.com
  description: Sandbox
security:
- basicAuth: []
tags:
- name: Time Series
paths:
  /v1/time-series:
    get:
      summary: Factset Retrieve data items (FQL formulas) for a list of identifiers or defined universe.
      description: "The `/time-series` endpoint is closely aligned with FactSet’s powerful data retrieval language **FactSet Query Language (FQL)** which is optimized for time-series analysis. FQL can also perform sophisticated statistical, mathematical, logical, and other complex operations on the data.\n\n  This endpoint has a unique **TIMESERIES** data object that pairs the requested data with FactSet provided dates. This helps reduce the need for additional data requests and reduces the work required by users.\n\nThe `/time-series` endpoint supports Long Running asynchronous requests up to **20 minutes** via the `batch` parameter. *This feature is available to Individual Users subscribed to the Performance Package and Performance Package Plus Performance Tiers and all Production Users. If you are unsure which Performance Tier you are subscribed to or you would like to gain access to the batch capabilities, please contact your FactSet Account Team or \"Report Issue\" above and our support teams can assist.*\n"
      tags:
      - Time Series
      operationId: getTimeSeriesData
      parameters:
      - $ref: '#/components/parameters/ids'
      - $ref: '#/components/parameters/symbolType'
      - $ref: '#/components/parameters/universe'
      - $ref: '#/components/parameters/universeType_time_series'
      - $ref: '#/components/parameters/formulas_time_series'
      - $ref: '#/components/parameters/calendar_time_series'
      - $ref: '#/components/parameters/fsymId_time_series'
      - $ref: '#/components/parameters/displayName_time_series'
      - $ref: '#/components/parameters/flatten_time_series'
      - $ref: '#/components/parameters/dates_time_series'
      - $ref: '#/components/parameters/batch'
      responses:
        '200':
          description: Gets an array of `Response Objects` for a list of IDs and FQL formulas.
          headers:
            api-version:
              $ref: '#/components/headers/api-version'
            api-supported-versions:
              $ref: '#/components/headers/api-supported-versions'
            api-deprecated-versions:
              $ref: '#/components/headers/api-deprecated-versions'
            chain-id:
              $ref: '#/components/headers/chain-id'
            X-RateLimit-Limit-second:
              $ref: '#/components/headers/X-RateLimit-Limit-second'
            X-RateLimit-Remaining-second:
              $ref: '#/components/headers/X-RateLimit-Remaining-second'
            X-RateLimit-Limit-day:
              $ref: '#/components/headers/X-RateLimit-Limit-day'
            X-RateLimit-Remaining-day:
              $ref: '#/components/headers/X-RateLimit-Remaining-day'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/time_series_response'
              examples:
                Single Id and Single Data Item:
                  $ref: '#/components/examples/time-series-singleId-singleItem'
                Single Id and Single Data Item with fsymId=Y:
                  $ref: '#/components/examples/time-series-singleId-singleItem-fsymId'
                Multiple Ids and Multiple Data Items with SEVENDAY Calendar:
                  $ref: '#/components/examples/time-series-multipleId-multipleItem'
                Multiple Ids and Multiple Data Items with flatten=Y:
                  $ref: '#/components/examples/time-series-multipleId-multipleItem-flatten'
                Multiple Ids and Multiple Calculated Data Items:
                  $ref: '#/components/examples/time-series-multipleId-multipleCalculatedItem'
                Small Universe and Single Data Item:
                  $ref: '#/components/examples/time-series-smallUniv-singleItem'
                Debt Universe and Multiple Data Items:
                  $ref: '#/components/examples/time-series-debtUniv-multipleItem'
        '202':
          description: Batch request has been accepted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchStatusResponse'
              examples:
                Batch Request Accepted:
                  $ref: '#/components/examples/BatchStatusAcceptedResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '405':
          $ref: '#/components/responses/405'
        '406':
          $ref: '#/components/responses/406'
        '408':
          $ref: '#/components/responses/408'
        '415':
          $ref: '#/components/responses/415'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        '501':
          $ref: '#/components/responses/501'
        '503':
          $ref: '#/components/responses/503'
    post:
      summary: Factset Retrieve data items (FQL formulas) for a list of identifiers or defined universe.
      description: "The `/time-series` endpoint is closely aligned with FactSet’s powerful data retrieval language **FactSet Query Language (FQL)** which is optimized for time-series analysis. FQL can also perform sophisticated statistical, mathematical, logical, and other complex operations on the data.\n\n  This endpoint has a unique **TIMESERIES** data object that pairs the requested data with FactSet provided dates. This helps reduce the need for additional data requests and reduces the work required by users.\n\nThe `/time-series` endpoint supports Long Running asynchronous requests up to **20 minutes** via the `batch` parameter. *This feature is available to Individual Users subscribed to the Performance Package and Performance Package Plus Performance Tiers and all Production Users. If you are unsure which Performance Tier you are subscribed to or you would like to gain access to the batch capabilities, please contact your FactSet Account Team or \"Report Issue\" above and our support teams can assist.*\n"
      tags:
      - Time Series
      operationId: getTimeSeriesDataForList
      responses:
        '200':
          description: Gets an array of `Response Objects` for a list of IDs and FQL formulas.
          headers:
            api-version:
              $ref: '#/components/headers/api-version'
            api-supported-versions:
              $ref: '#/components/headers/api-supported-versions'
            api-deprecated-versions:
              $ref: '#/components/headers/api-deprecated-versions'
            chain-id:
              $ref: '#/components/headers/chain-id'
            X-RateLimit-Limit-second:
              $ref: '#/components/headers/X-RateLimit-Limit-second'
            X-RateLimit-Remaining-second:
              $ref: '#/components/headers/X-RateLimit-Remaining-second'
            X-RateLimit-Limit-day:
              $ref: '#/components/headers/X-RateLimit-Limit-day'
            X-RateLimit-Remaining-day:
              $ref: '#/components/headers/X-RateLimit-Remaining-day'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/time_series_response'
              examples:
                Single Id and Single Data Item:
                  $ref: '#/components/examples/time-series-singleId-singleItem'
                Single Id and Single Data Item with fsymId=Y:
                  $ref: '#/components/examples/time-series-singleId-singleItem-fsymId'
                Multiple Ids and Multiple Data Items with SEVENDAY Calendar:
                  $ref: '#/components/examples/time-series-multipleId-multipleItem'
                Multiple Ids and Multiple Data Items with flatten=Y:
                  $ref: '#/components/examples/time-series-multipleId-multipleItem-flatten'
                Multiple Ids and Multiple Calculated Data Items:
                  $ref: '#/components/examples/time-series-multipleId-multipleCalculatedItem'
                Small Universe and Single Data Item:
                  $ref: '#/components/examples/time-series-smallUniv-singleItem'
                Debt Universe and Multiple Data Items:
                  $ref: '#/components/examples/time-series-debtUniv-multipleItem'
        '202':
          description: Batch request has been accepted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchStatusResponse'
              examples:
                Batch Request Accepted:
                  $ref: '#/components/examples/BatchStatusAcceptedResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '405':
          $ref: '#/components/responses/405'
        '406':
          $ref: '#/components/responses/406'
        '408':
          $ref: '#/components/responses/408'
        '415':
          $ref: '#/components/responses/415'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        '501':
          $ref: '#/components/responses/501'
        '503':
          $ref: '#/components/responses/503'
      requestBody:
        $ref: '#/components/requestBodies/time-series-postBody'
components:
  schemas:
    time_series_response_object_items:
      title: Time-Series Response Object
      anyOf:
      - $ref: '#/components/schemas/time_series_result_object_nonflattened'
      - $ref: '#/components/schemas/time_series_result_object_flattened'
    time_series_result_object_nonflattened:
      title: Time-Series Non-Flattened Response Object
      oneOf:
      - $ref: '#/components/schemas/time_series_result_object_nonflattened_scalar'
      - $ref: '#/components/schemas/time_series_result_object_nonflattened_array'
      - $ref: '#/components/schemas/time_series_result_object_nonflattened_matrix'
      - $ref: '#/components/schemas/time_series_result_object_nonflattened_timeseries_object'
      discriminator:
        propertyName: objectType
        mapping:
          SCALAR: '#/components/schemas/time_series_result_object_nonflattened_scalar'
          ARRAY: '#/components/schemas/time_series_result_object_nonflattened_array'
          MATRIX: '#/components/schemas/time_series_result_object_nonflattened_matrix'
          TIMESERIES: '#/components/schemas/time_series_result_object_nonflattened_timeseries_object'
    time_series_result_object_nonflattened_base:
      title: Time-Series Non-Flattened Base Response Object
      description: An object returning the results for a single identifier and formula. This is the base of the response object. The result attribute depends on the formula requested. Response objects with the various result attribute types are outlined in separate schemas.
      type: object
      properties:
        error:
          description: 'Indicates that there was an error in the execution of the FQL Formula.

            * Zero – success

            * Non-zero – failure

            '
          type: integer
          example: 0
        errorMessage:
          description: If error is non-zero, errorMessage will display the FQL formula error.
          type: string
          nullable: true
          example: 'parse error, unexpected '',''

            '
        formula:
          description: FQL formula requested.
          type: string
          example: P_PRICE(0,-1,D)
        displayName:
          description: Display Name.
          type: string
          nullable: true
          example: PRICE
        requestId:
          description: Identifier requested.
          type: string
          example: IBM-US
        fsymId:
          description: 'The **fsymId** field returned is the FactSet Default Permanent Identifier for the `requestId`. For all supported `requestId` symbol types, the `fsymId` parameter will return the Regional Level PermId ''-R'' which identifies the security’s best regional security data series per currency. Currently, the fsymId parameter only supports equities. Accepted `requestId` symbol types include all FactSet Permanent Identifiers types, CUSIP, SEDOL, ISIN, and Tickers. Further documentation can be found at this [Online Assistant attachment](https://oa.apps.factset.com/cms/oaAttachment/64c3213a-f415-4c27-a336-92c73a72deed/24881). Included only if the `fsymId` parameter is set to Y.

            '
          type: string
          nullable: true
          example: SJY281-R
        dataType:
          description: Type of data returned in `result`
          example: STRING
          type: string
          nullable: true
          enum:
          - STRING
          - INTEGER
          - DOUBLE
        objectType:
          description: Type of object returned in `result`
          type: string
          example: ARRAY
          enum:
          - SCALAR
          - ARRAY
          - MATRIX
          - TIMESERIES
      required:
      - error
      - formula
      - requestId
      - result
      - dataType
      - objectType
    BatchStatus:
      title: Batch Status
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: the id of batch request.
        startTime:
          type: string
          nullable: true
          format: date-time
          description: Time when the batch request is started. This is in Eastern Time Zone. The date-time format is expressed as [YYYY-MM-DD]T[HH:MM:SSS], following ISO 8601.
        endTime:
          type: string
          nullable: true
          format: date-time
          description: Time when the batch request is ended. This is in Eastern Time Zone. The date-time format is expressed as [YYYY-MM-DD]T[HH:MM:SSS], following ISO 8601.
        status:
          type: string
          enum:
          - QUEUED
          - EXECUTING
          - DONE
          - FAILED
        error:
          type: string
          nullable: true
          example: The parameter 'formulas' is required and may not be empty.
          description: Error message.
    time_series_response:
      title: Time-Series Response
      type: object
      properties:
        data:
          description: Array of Time-Series `Response Objects`
          type: array
          items:
            $ref: '#/components/schemas/time_series_response_object_items'
    time_series_result_object_nonflattened_scalar:
      title: Time-Series Non-Flattened Response Object with SCALAR Result Attribute
      type: object
      properties:
        result:
          $ref: '#/components/schemas/time_series_scalar_value'
      allOf:
      - $ref: '#/components/schemas/time_series_result_object_nonflattened_base'
    time_series_result_object_nonflattened_timeseries_object:
      title: Time-Series Non-Flattened Response Object with TIMESERIES Result Attribute
      type: object
      properties:
        result:
          $ref: '#/components/schemas/time_series_timeseries_object'
      allOf:
      - $ref: '#/components/schemas/time_series_result_object_nonflattened_base'
    time_series_result_object_nonflattened_matrix:
      title: Time-Series Non-Flattened Response Object with MATRIX Result Attribute
      description: The `result` attribute in the Time-Series Non-Flattened Response Object will be a MATRIX, which will be represented as an array of arrays. Each array can be thought of as a row in the matrix.
      type: object
      properties:
        result:
          type: array
          items:
            type: array
            items:
              $ref: '#/components/schemas/time_series_scalar_value'
      allOf:
      - $ref: '#/components/schemas/time_series_result_object_nonflattened_base'
    time_series_request:
      title: Time-Series Request Body
      description: '`/time-series` Request Body'
      type: object
      properties:
        data:
          type: object
          properties:
            ids:
              title: ids
              description: 'Array of entity identifiers.


                The `ids` and `universe` parameters provide two different ways to specify the identifiers for which you want data retrieved. Please enter either the `ids` or `universe` parameter.

                '
              type: array
              items:
                type: string
              example:
              - FDS-US
              - IBM-US
              - XOM-US
            symbolType:
              title: symbolType
              type: string
              description: "Specify the type of symbols submitted in the `ids` parameter. This is only required when submitting ids that are not supported by default. \n\nAvailable symbol types -\n* DEFAULT - Accepted symbol types include Market Tickers, SEDOLs, ISINs, CUSIPs, or FactSet Permanent Ids.\n\n* BLOOMBERG - Accepted symbol types include Bloomberg Tickers and Bloomberg FIGIs. \n  * When submitting Bloomberg symbols, the Bloomberg symbol is translated to a FactSet Permanent Identifier which is then used to retrieve the requested FQL and Screening formulas. The Bloomberg symbol submitted will be returned in the response in the field *requestId*. To see the FactSet Permanent Identifer that the Bloomberg symbol resolved to, use the `fsymId` parameter in addition to the `\n  ` parameter.\n  * Bloomberg symbols can not be submitted with other symbol types. \n  * Bloomberg Symbol Resolution is not available via Batch Requests.\n\nBloomberg Symbol Resolution is included with the Individual User subscription. Users with a Production User subscription require additional access to submit Bloomberg symbols. If you would like to gain access to Bloomberg Symbol Resolution, please contact your FactSet Account Team or \"Report Issue\" above and our support teams can assist.\n"
            universe:
              title: universe
              description: 'Screening expression to limit the universe


                Please enter either the `ids` or `universe` parameter.

                '
              type: string
              example: FG_CONSTITUENTS(SP50,0,CLOSE)
            universeType:
              title: universeType
              description: 'Specify the universe type to calculate the `universe` in.


                Find documentation below on how to build a screen for each universe type -

                * Equity Screen - [Online Assistant Page 20606](https://my.apps.factset.com/oa/pages/20606)


                * Debt Screen - [Online Assistant Page 20888](https://my.apps.factset.com/oa/pages/20888)


                * Fund Screen - [Online Assistant Page 21384](https://my.apps.factset.com/oa/pages/21384)


                This parameter may only be used in conjunction with the `universe` parameter.

                '
              type: string
              example: DEBT
              default: EQUITY
              enum:
              - EQUITY
              - DEBT
              - FUND
            formulas:
              title: FQL formulas
              description: Array of FQL formulas
              type: array
              items:
                type: string
              example:
              - P_PRICE(0,-2,D)
              - FG_COMPANY_NAME
            calendar:
              title: Calendar Setting
              description: Calendar of data returned. The default value is FIVEDAY which displays Monday through Friday, regardless of whether there were trading holidays.
              type: string
              example: SEVENDAY
              default: FIVEDAY
            fsymId:
              title: fsymId
              description: 'Specify **Y** for the `fsymId` parameter to return the **fsymId** (FactSet Default Permanent Identifier) of the `requestId`, in addition to the **requestId** field, in each response object. The default value for the `fsymId` parameter is **N**.


                The **fsymId** field returned is the FactSet Default Permanent Identifier for the `requestId`. For all supported `requestId` symbol types, the `fsymId` parameter will return the Regional Level PermId ''-R'' which identifies the security’s best regional security data series per currency. Currently, the fsymId parameter only supports equities. Accepted `requestId` symbol types include all FactSet Permanent Identifiers types, CUSIP, SEDOL, ISIN, and Tickers. Further documentation can be found at this [Online Assistant attachment](https://oa.apps.factset.com/cms/oaAttachment/64c3213a-f415-4c27-a336-92c73a72deed/24881).

                '
              type: string
              example: Y
              default: N
              enum:
              - Y
              - N
            displayName:
              title: displayName
              description: 'Define display names for the formulas inputted. Enter the list of display names in the same order as the formulas inputted. An additional field **displayName** will be returned in the data object for a formula.


                If the number of display names does not match the number of formulas provided, an error will be returned.


                To define the display name for a subset of the formulas, leave a blank in the position of the formula that won''t be renamed. For example - If three formulas are inputted, to define display names only for the first and third formula, enter *displayName=FORMULA_1,,FORMULA_3*. The **displayName** field will still be included in that formula, but will contain the formula as inputted.

                '
              type: array
              items:
                type: string
              example:
              - PRICE
              - COMPANY_NAME
            flatten:
              title: flatten
              description: 'Specify **Y** for `flatten` to return a flat, table-like JSON response model instead of the standard nested JSON response model. This option is provided for easier data processing and visualization. The default value for `flatten` is **N**.


                See the **Time-Series Result Object Flattened** schema for more detail on the response structure for flattened output.

                '
              type: string
              example: Y
              default: N
              enum:
              - Y
              - N
            dates:
              title: dates
              description: 'Specify **N** for the `dates` parameter to suppress the **dates** of the response. The default value for the `dates` parameter is **Y**.


                In the non-flattened response model, setting dates to **N** will remove the "dates" array from the TIMESERIES objectType, meaning that the results will be returned as an ARRAY objectType.


                In the flattened response mode, setting dates to **N** will remove the "dates" attribute from the response objects. The flatten parameter first attempts to flatten the response by dates. Removing the dates can make it easier to align multiple data items when the date definition differs from the desired alignment.

                '
              type: string
              example: N
              default: Y
              enum:
              - Y
              - N
            batch:
              title: batch
              description: 'Enables the ability to asynchronously "batch" the request, supporting a long-running request up to **20 minutes**. Upon requesting "batch": "Y", the service will respond back with an HTTP Status Code of 202.


                Individual users are allowed 5 concurrent Batch Requests, while Production users are allowed 10 concurrent Batch Requests.


                *This feature is available to Individual Users subscribed to the Performance Package and Performance Package Plus Performance Tiers and all Production Users. If you are unsure which Performance Tier you are subscribed to or you would like to gain access to the batch capabilities, please contact your FactSet Account Team or "Report Issue" above and our support teams can assist.*


                Once a batch request is submitted, use `/batch-status` to see if the job has completed. Once completed, retrieve the results of the request via `/batch-result`. See the endpoints listed under *Batch Processing* for more information.

                '
              type: string
              example: Y
              default: N
              enum:
              - Y
              - N
          required:
          - formulas
      required:
      - data
    error_detail:
      title: Error Object
      description: '`Error Object` is the response returned for an unsuccessful request.

        '
      type: object
      properties:
        id:
          description: Unique identifier for the request. Also known as the chain id.
          type: string
          example: 5EFCCA8940CAEA6B
          nullable: true
        code:
          description: Textual error code
          type: string
          example: notAuthenticated
          nullable: true
        title:
          description: A short, human-readable summary of the problem
          type: string
          example: There were either no, invalid, or expired credentials present in the request.
          nullable: true
        timestamp:
          description: timestamp in YYYY-MM-DD HH:MM:SS.SSS
          type: string
          format: date-time
          example: '2020-08-01 11:09:41.918'
          nullable: true
    time_series_result_object_flattened_addl:
      title: Key-Value Pair for Time-Series Flattened Response Object
      description: 'The Key in the Key-Value pair will be the formula. If the `displayName` parameter is used, then the Key will be displayName specified for that formula. The Value in the Key-Value pair will be the result of the formula for that "row".

        '
      example: '"P_PRICE(0)": 142.32'
      nullable: true
      oneOf:
      - type: string
        nullable: true
      - type: number
        format: double
        nullable: true
      - type: integer
        nullable: true
    time_series_timeseries_object:
      title: Time-Series TIMESERIES Result
      description: The `result` attribute in the Time-Series Non-Flattened Response Object will be a TIMESERIES object. A TIMESERIES object has a values attribute and a dates attribute that contain arrays of equal length so that the values and dates can be align to form a time series.
      type: object
      properties:
        values:
          title: values
          type: array
          description: Representing the data returned from the requested FQL formula for the requestId
          items:
            $ref: '#/components/schemas/time_series_scalar_value'
          example:
          - 124.92
          - 124.22
          - 122.44
        dates:
          title: dates
          type: array
          description: Representing the dates corresponding the requested FQL formula for the requestId
          items:
            type: string
            format: date
            nullable: true
          example:
          - '2020-09-17'
          - '2020-09-16'
          - '2020-09-15'
    time_series_result_object_nonflattened_array:
      title: Time-Series Non-Flattened Response Object with ARRAY Result Attribute
      description: The `result` attribute in the Time-Series Non-Flattened Response Object will be an ARRAY.
      type: object
      properties:
        result:
          type: array
          items:
            $ref: '#/components/schemas/time_series_scalar_value'
      allOf:
      - $ref: '#/components/schemas/time_series_result_object_nonflattened_base'
    BatchStatusResponse:
      title: Batch Status Response
      type: object
      properties:
        data:
          $ref: '#/components/schemas/BatchStatus'
    time_series_result_object_flattened:
      title: Time-Series Flattened Response Object
      description: "\nData model returned when the parameter **flatten=Y** is used in the request. This flattened, simplified JSON output returned from **flatten=Y** can be conceptualized as a table (rows and columns) where each data object in the result is a row in the table and each field names is a column name. The response will contain at least one data object for each requestId containing the requestId, fsymId (if requested), date (if applicable) and Key-Value pairs for each data item (formula). The number of data objects (rows) per requestId is dependent the the objectTypes of the formulas requested.\n\n\n\nFormulas that have associated dates (TIMESERIES objectType in the standard **flatten=N** response model) will result in a data object for each date for each requestId.\n\n**flatten=N TIMESERIES Representation**\n```json\n[\n  {\n    \"requestId\": \"id\",\n    \"formula\": \"formulaName1\",\n    \"result\": {\n        \"values\": [a,b],\n        \"dates\": [DATE1,DATE2]\n      },\n    \"objectType\": \"TIMESERIES\",\n    \"dataType\": \"DOUBLE\"\n  },\n  {\n    \"requestId\": \"id\",\n    \"formula\": \"formulaName2\",\n    \"result\": {\n        \"values\": [c,d],\n        \"dates\": [DATE2,DATE3]\n      },\n    \"objectType\": \"TIMESERIES\",\n    \"dataType\": \"DOUBLE\"\n  }\n]\n```\n\n**flatten=Y TIMESERIES Representation**\n```json\n[\n  {\n    \"requestId\": \"id\",\n    \"formulaName1\": a,\n    \"formulaName2\": null,\n    \"date\": DATE1\n  },\n  {\n    \"requestId\": \"id\",\n    \"formulaName1\": b,\n    \"formulaName2\": c,\n    \"date\": DATE2\n  },\n  {\n    \"requestId\": \"id\",\n    \"formulaName1\": null,\n    \"formulaName2\": d,\n    \"date\": DATE3\n  }\n]\n```\n\n\n\nFormulas that result in an array (no associated dates, ARRAY objectType in the standard **flatten=N** response model) can be thought of as a column in a table. Each element in the array will be in a separate data object. The first element of the array starts in the first data object for that requestId and then then the second element of the array in the second data object for that requestId and so on (regardless of dates from other formulas).\n\n**flatten=N ARRAY Representation**\n```json\n[\n  {\n    \"requestId\": \"id\",\n    \"formula\": \"formulaName\",\n    \"result\": [a,b,c],\n    \"objectType\": \"ARRAY\",\n    \"dataType\": \"DOUBLE\"\n  }\n]\n```\n\n**flatten=Y ARRAY Representation**\n```json\n[\n  {\n    \"requestId\": \"id\",\n    \"formulaName\": a,\n  },\n  {\n    \"requestId\": \"id\",\n    \"formulaName\": b,\n  },\n  {\n    \"requestId\": \"id\",\n    \"formulaName\": c,\n  }\n]\n```\n\n\nScalar data items (SCALAR objectType in the standard **flatten=N** response model) will be repeated in each data object for the requestId.\n\n**flatten=N SCALAR Representation**\n```json\n[\n  {\n    \"requestId\": \"id\",\n    \"formula\": \"formulaName\",\n    \"result\": a,\n    \"objectType\": \"ARRAY\",\n    \"dataType\": \"DOUBLE\"\n  }\n]\n```\n\n**flatten=Y SCALAR Representation**\n```json\n[\n  {\n    \"requestId\": \"id\",\n    \"formulaName\": a,\n  }\n]\n```\n\n\nFormulas that result in a matrix (2 dimensional array, MATRIX objectType in the standard **flatten=N** response model) can be thought of as returning a table where each array in the array of arrays is a row in the table. This can be extended to the flattened result structure where each data object is a row in a table.  The formula will have as many attributes (appended by [n]) as number of columns in the matrix result.\n\n**flatten=N MATRIX Representation**\n```json\n[\n  {\n    \"requestId\": \"id\"\n    \"formula\": \"formulaName\",\n    \"result\": [\n        [a,b,c],\n        [d,e,f]\n      ],\n    \"objectType\": \"MATRIX\",\n    \"dataType\": \"DOUBLE\"\n  }\n]\n```\n\n**flatten=Y MATRIX Representation**\n```json\n[\n  {\n    \"requestId\": \"id\"\n    \"formulaName[0]\": a,\n    \"formulaName[1]\": b,\n    \"formulaName[2]\": c\n  },\n  {\n    \"requestId\": \"id\"\n    \"formulaName[0]\": d,\n    \"formulaName[1]\": e,\n    \"formulaName[2]\": f\n  }\n]\n```\n"
      type: object
      properties:
        requestId:
          description: Identifier requested.
          type: string
          example: IBM-US
        fsymId:
          description: 'The **fsymId** field returned is the FactSet Default Permanent Identifier for the `requestId`. For all supported `requestId` symbol types, the `fsymId` parameter will return the Regional Level PermId ''-R'' which identifies the security’s best regional security data series per currency. Currently, the fsymId parameter only supports equities. Accepted `requestId` symbol types include all FactSet Permanent Identifiers types, CUSIP, SEDOL, ISIN, and Tickers. Further documentation can be found at this [Online Assistant attachment](https://oa.apps.factset.com/cms/oaAttachment/64c3213a-f415-4c27-a336-92c73a72deed/24881). Included only if the `fsymId` parameter is set to Y.

            '
          type: string
          nullable: true
          example: SJY281-R
        date:
          description: Date associated with FQL formula.
          type: string
          nullable: true
          format: date
          example: '2021-10-18'
      additionalProperties:
        $ref: '#/components/schemas/time_series_result_object_flattened_addl'
      required:
      - requestId
    time_series_scalar_value:
      title: Time-Series SCALAR Result
      description: The `result` attribute in the Time-Series Non-Flattened Response Object will be a SCALAR.
      nullable: true
      oneOf:
      - type: string
        nullable: true
        example: International Business Machines Corporation
      - type: number
        nullable: true
        format: double
        example: 354.98
      - type: integer
        nullable: true
        example: 4
  headers:
    X-RateLimit-Limit-second:
      description: Number of allowed requests per second.
      schema:
        type: integer
        example: 5
    X-RateLimit-Remaining-second:
      description: Number of requests currently available in second.
      schema:
        type: integer
        example: 4
    X-RateLimit-Remaining-day:
      description: Number of requests currently available in day.
      schema:
        type: integer
        example: 854
    Retry-After:
      description: Number of seconds the service is expected to be unavailable to the client. This header will be present on 429 errors.
      schema:
        type: integer
        example: 62
    chain-id:
      description: Unique identifier for the request. Also known as the chain id.
      schema:
        type: string
        example: 5EFCCA8940CAEA6B
    api-version:
      description: the full semantic version of the API.
      schema:
        type: string
        example: 1.0.0
    api-supported-versions:
      description: the comma-separated list of supported major versions.
      schema:
        type: string
        example: '1'
    X-RateLimit-Limit-day:
      description: Number of allowed requests per day.
      schema:
        type: integer
        example: 1000
    api-deprecated-versions:
      description: the comma-separated list of deprecated major versions.
      schema:
        type: string
        example: 1,2
  responses:
    '401':
      description: Unauthenticated USERNAME-SERIAL. This error will also occur if the API request is made from IP address not specified in the API Key configuration. Note that additional IP addresses can be added to an existing API Key configuration.
      headers:
        api-version:
          $ref: '#/components/headers/api-version'
        api-supported-versions:
          $ref: '#/components/headers/api-supported-versions'
        api-deprecated-versions:
          $ref: '#/components/headers/api-deprecated-versions'
        chain-id:
          $ref: '#/components/headers/chain-id'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error_detail'
    '408':
      description: Request Timeout. This error may be returned if it takes more than 29 seconds for the request to process or if a batch request takes more than 20 minutes to process for the time-series endpoint and 10 minutes to process for the cross-sectional endpoint.
      headers:
        api-version:
          $ref: '#/components/headers/api-version'
        api-supported-versions:
          $ref: '#/components/headers/api-supported-versions'
        api-deprecated-versions:
          $ref: '#/components/headers/api-deprecated-versions'
        chain-id:
          $ref: '#/components/headers/chain-id'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error_detail'
          example:
            id: 5EFCCA8940CAEB6E
            code: requestTimeout
            title: The request took too long. Try again with a smaller request.
            timeStamp: '2019-11-01 11:09:41.918'
    '415':
      description: Bad Content-Type Header
      headers:
        api-version:
          $ref: '#/components/headers/api-version'
        api-supported-versions:
          $ref: '#/components/headers/api-supported-versions'
        api-deprecated-versions:
          $ref: '#/components/headers/api-deprecated-versions'
        chain-id:
          $ref: '#/components/headers/chain-id'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error_detail'
          example:
            id: 5EFCCA8940CAEB6E
            code: badContentType
            title: 'Content-Type: {unsupported Content-Type} is not supported. The Content-Type header must include application/json'
            timeStamp: '2019-11-01 11:09:41.918'
    '403':
      description: Not Authorized.
      headers:
        api-version:
          $ref: '#/components/headers/api-version'
        api-supported-versions:
          $ref: '#/components/headers/api-supported-versions'
        api-deprecated-versions:
          $ref: '#/components/headers/api-deprecated-versions'
        chain-id:
          $ref: '#/components/headers/chain-id'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error_detail'
          example:
            id: 5EFCCA8940CAEB6E
            code: Unauthorized
            title: USERNAME-SERIAL does not have permission to use /v1/{endpoint}
            timeStamp: '2019-11-01 11:09:41.918'
    '429':
      description: Rate Limits Exceeded
      headers:
        api-version:
          $ref: '#/components/headers/api-version'
        api-supported-versions:
          $ref: '#/components/headers/api-supported-versions'
        api-deprecated-versions:
          $ref: '#/components/headers/api-deprecated-versions'
        chain-id:
          $ref: '#/components/headers/chain-id'
        X-RateLimit-Limit-second:
          $ref: '#/components/headers/X-RateLimit-Limit-second'
        X-RateLimit-Remaining-second:
          $ref: '#/components/headers/X-RateLimit-Remaining-second'
        X-RateLimit-Limit-day:
          $ref: '#/components/headers/X-RateLimit-Limit-day'
        X-RateLimit-Remaining-day:
          $ref: '#/components/headers/X-RateLimit-Remaining-day'
        Retry-After:
          $ref: '#/components/headers/Retry-After'
      content:
        application/json:
          schema:
            title: Rate Limit Error Object
            description: 'Error returned if any of the user''s rate limits have been reached.

              '
            properties:
              message:
                type: string
                example: API rate limit exceeded
    '400':
      description: Bad Request
      headers:
        api-version:
          $ref: '#/components/headers/api-version'
        api-supported-versions:
          $ref: '#/components/headers/api-supported-versions'
        api-deprecated-versions:
          $ref: '#/components/headers/api-deprecated-versions'
        chain-id:
          $ref: '#/components/headers/chain-id'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error_detail'
          examples:
            parameterError - Missing Formulas:
              value:
                id: 5EFCCA8940CAEB6E
                code: parameterError
                title: The parameter 'formulas' is required and may not be empty.
                timeStamp: '2019-11-01 11:09:41.918'
            parameterError - Ids and Universe:
              description: The `ids` or `universe` parameter must be included. Including `ids` and `universe` parameters in the same request is not allowed.
              value:
                id: 5EFCCA8940CAEB6E
                code: parameterError
                title: Please enter either the ids or universe parameter.
                timeStamp: '2019-11-01 11:09:41.918'
            parameterError - Invalid displayName Input:
              value:
                id: 5EFCCA8940CAEB6E
                code: parameterError
                title: The length of the list provided for the displayName parameter must be equal to the number of formulas requested.
                timeStamp: '2019-11-01 11:09:41.918'
            requestBodyInvalid:
              value:
                id: 5EFCCA8940CAEB6E
                code: requestBodyInvalid
                title: The request body could not be read.
                timeStamp: '2019-11-01 11:09:41.918'
            invalidCharacter:
              value:
                id: 5EFCCA8940CAEB6E
                code: invalidCharacter
                title: The request contains an invalid character. Allowed characters are Unicode code points in the ranges [0x09-0x0a],[0x0d], [0x20-0x7e], [0x85], [0xa0-0xd7ff], [0xe000-0xfffd], and [0x10000-0x10ffff].
                timeStamp: '2019-11-01 11:09:41.918'
    '501':
      description: Not Implemented
      headers:
        api-version:
          $ref: '#/components/headers/api-version'
        api-supported-versions:
          $ref: '#/components/headers/api-supported-versions'
        api-deprecated-versions:
          $ref: '#/components/headers/api-deprecated-versions'
        chain-id:
          $ref: '#/components/headers/chain-id'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error_detail'
          example:
            id: 5EFCCA8940CAEB6E
            code: notImplemented
            title: The requested endpoint or functionality has not been implemented yet.
            timeStamp: '2019-11-01 11:09:41.918'
    '406':
      description: Bad Accept Header
      headers:
        api-version:
          $ref: '#/components/headers/api-version'
        api-supported-versions:
          $ref: '#/components/headers/api-supported-versions'
        api-deprecated-versions:
          $ref: '#/components/headers/api-deprecated-versions'
        chain-id:
          $ref: '#/components/headers/chain-id'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error_detail'
          example:
            id: 5EFCCA8940CAEB6E
            code: badAccept
            title: 'Accept: {unsupported Accept header} is not supported. The Accept header must include application/json.'
            timeStamp: '2019-11-01 11:09:41.918'
    '500':
      description: Generic Server Error
      headers:
        api-version:
          $ref: '#/components/headers/api-version'
        api-supported-versions:
          $ref: '#/components/headers/api-supported-versions'
        api-deprecated-versions:
          $ref: '#/components/headers/api-deprecated-versions'
        chain-id:
          $ref: '#/components/headers/chain-id'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error_detail'
          example:
            id: 5EFCCA8940CAEB6E
            code: genericServerError
            title: An unexpected error happened.
            timeStamp: '2019-11-01 11:09:41.918'
    '405':
      description: Method Not Allowed
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error_detail'
          example:
            id: 5EFCCA8940CAEB6E
            code: methodNotAllowed
            title: The HTTP method {unsupported method} is not allowed. Please resubmit the request using the HTTP methods GET or POST.
            timeStamp: '2019-11-01 11:09:41.918'
    '404':
      description: Endpoint Not Found
      headers:
        api-version:
          $ref: '#/components/headers/api-version'
        api-supported-versions:
          $ref: '#/components/headers/api-supported-versions'
        api-deprecated-versions:
          $ref: '#/components/headers/api-deprecated-versions'
        chain-id:
          $ref: '#/components/headers/chain-id'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error_detail'
          example:
            id: 5EFCCA8940CAEB6E
            code: endpointNotFound
            title: '''/formula-api/v1/{invalid endpoint}'' is not a valid endpoint.'
            timeStamp: '2019-11-01 11:09:41.918'
    '503':
      description: Service Temporarily Unavailable
      headers:
        api-version:
          $ref: '#/components/headers/api-version'
        api-supported-versions:
          $ref: '#/components/headers/api-supported-versions'
        api-deprecated-versions:
          $ref: '#/components/headers/api-deprecated-versions'
        chain-id:
          $ref: '#/components/headers/chain-id'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error_detail'
          example:
            id: 5EFCCA8940CAEB6E
            code: serviceTemporarilyUnavailable
            title: Will be sent in case the requested service is currently overloaded or can't temporarily handle the request for some other reason. Clients are expected to retry the request.
            timeStamp: '2019-11-01 11:09:41.918'
  parameters:
    dates_time_series:
      name: dates
      description: 'Specify **N** for the `dates` parameter to suppress the **dates** of the response. The default value for the `dates` parameter is **Y**.


        In the non-flattened response model, setting dates to **N** will remove the "dates" array from the TIMESERIES objectType, meaning that the results will be returned as an ARRAY objectType.


        In the flattened response mode, setting dates to **N** will remove the "dates" attribute from the response objects. The flatten parameter first attempts to flatten the response by dates. Removing the dates can make it easier to align multiple data items when the date definition differs from the desired alignment.

        '
      in: query
      required: false
      schema:
        type: string
        enum:
        - Y
        - N
        default: Y
      explode: false
    displayName_time_series:
      name: displayName
      description: 'Define display names for the formulas inputted. Enter the list of display names in the same order as the formulas inputted. An additional field **displayName** will be returned in the data object for a formula.


        If the number of display names does not match the number of formulas provided, an error will be returned.


        To define the display name for a subset of the formulas, leave a blank in the position of the formula that won''t be renamed. For example - If three formulas are inputted, to define display names only for the first and third formula, enter *displayName=FORMULA_1,,FORMULA_3*. The **displayName** field will still be included in that formula, but will contain the formula as inputted.

        '
      in: query
      required: false
      schema:
        type: array
        items:
          type: string
          example: PRICE
      explode: false
      examples:
        noNames:
          value: ''
          summary: ''
        singleItem:
          summary: Single Data Item
          value:
          - PRICE
        multipleItems:
          summary: Multiple Data Items
          value:
          - PRICE
          - COMPANY NAME
          - BUSINESS SEGMENT
          - SALES SEGMENT
    universe:
      name: universe
      description: 'Screening expression to limit the universe


        Please enter either the `ids` or `universe` parameter.

        '
      in: query
      required: false
      schema:
        type: string
      explode: false
      examples:
        noUniverse:
          summary: ''
          value: ''
        oneCriteria:
          summary: Equity Universe - S&P 500 Constituents
          value: FG_CONSTITUENTS(SP50,0,CLOSE)
        twoCriteria:
          summary: Equity Universe -  S&P 500 Constituents with Price < 10 USD
          value: (FG_CONSTITUENTS(SP50,0,CLOSE) AND P_PRICE(0,USD)<10)=1
        debtUniverse:
          summary: Debt Universe - Starbucks Debt
          description: 'The issuer name and amount out for all debt instruments for the Starbucks Corporation


            To calculate fixed income universe, `universeType` must be set to **DEBT**.

            '
          value: EQUITY(P_SYMBOL)='SBUX-US'
    calendar_time_series:
      name: calendar
      in: query
      schema:
        type: string
      description: Calendar of data returned. The default value is FIVEDAY which displays Monday through Friday, regardless of whether there were trading holidays.
      required: false
      examples:
        fiveday:
          summary: FIVEDAY
          description: Displays Monday through Friday, regardless of whether there were trading holidays. This is the default for `calendar`.
          value: FIVEDAY
        sevenday:
          summary: SEVENDAY
          description: Displays Monday through Sunday.
          value: SEVENDAY
        local:
          summary: LOCAL
          description: Uses the local trading calendar for each security. Local exchange holidays will be skipped.
          value: LOCAL
        region:
          summary: Region Specific
          description: The calendar of a specific region. The example shown here 'NAY' is for the UNITED STATES calendar. You can find the calendar codes for regions on [Online Assistant Page 16610](https://my.apps.factset.com/oa/pages/16610#country).
          value: NAY
    flatten_time_series:
      name: flatten
      description: 'Specify **Y** for `flatten` to return a flat, table-like JSON response model instead of the standard nested JSON response model. This option is provided for easier data processing and visualization. The default value for `flatten` is **N**.


        See the **Time-Series Result Object Flattened** schema for more detail on the response structure for flattened output.

        '
      in: query
      required: false
      schema:
        type: string
        enum:
        - Y
        - N
        default: N
      explode: false
    fsymId_time_series:
      name: fsymId
      description: 'Specify **Y** for the `fsymId` parameter to return the **fsymId** (FactSet Default Permanent Identifier) of the `requestId`, in addition to the **requestId** field, in each response object. The default value for the `fsymId` parameter is **N**.


        The **fsymId** field returned is the FactSet Default Permanent Identifier for the `requestId`. For all supported `requestId` symbol types, the `fsymId` parameter will return the Regional Level PermId ''-R'' which identifies the security’s best regional security data series per currency. Currently, the fsymId parameter only supports equities. Accepted `requestId` symbol types include all FactSet Permanent Identifiers types, CUSIP, SEDOL, ISIN, and Tickers. Further documentation can be found at this [Online Assistant attachment](https://oa.apps.factset.com/cms/oaAttachment/64c3213a-f415-4c27-a336-92c73a72deed/24881).

        '
      in: query
      required: false
      schema:
        type: string
        enum:
        - Y
        - N
        default: N
      explode: false
    symbolType:
      name: symbolType
      in: query
      description: "Specify the type of symbols submitted in the `ids` parameter. This is only required when submitting ids that are not supported by default. \n\nAvailable symbol types -\n* DEFAULT - Accepted symbol types include Market Tickers, SEDOLs, ISINs, CUSIPs, or FactSet Permanent Ids.\n\n* BLOOMBERG - Accepted symbol types include Bloomberg Tickers and Bloomberg FIGIs. \n  * When submitting Bloomberg symbols, the Bloomberg symbol is translated to a FactSet Permanent Identifier which is then used to retrieve the requested FQL and Screening formulas. The Bloomberg symbol submitted will be returned in the response in the field *requestId*. To see the FactSet Permanent Identifer that the Bloomberg symbol resolved to, use the `fsymId` parameter in addition to the `symbolType` parameter.\n  * Bloomberg symbols can not be submitted with other symbol types. \n  * Bloomberg Symbol Resolution is not available via Batch Requests.\n\nBloomberg Symbol Resolution is included with the Individual User subscription. Users with a Production User subscription require additional access to submit Bloomberg symbols. If you would like to gain access to Bloomberg Symbol Resolution, please contact your FactSet Account Team or \"Report Issue\" above and our support teams can assist.\n"
      required: false
      schema:
        type: string
        enum:
        - DEFAULT
        - BLOOMBERG
        default: DEFAULT
      explode: false
    batch:
      name: batch
      in: query
      description: 'Enables the ability to asynchronously "batch" the request,  supporting a long-running request up to **20 minutes**. Upon requesting batch=Y, the service will respond back with an HTTP Status Code of 202.


        Individual users are allowed 5 concurrent Batch Requests, while Production users are allowed 10 concurrent Batch Requests.

        *This feature is available to Individual Users subscribed to the Performance Package and Performance Package Plus Performance Tiers and all Production Users. If you are unsure which Performance Tier you are subscribed to or you would like to gain access to the batch capabilities, please contact your FactSet Account Team or "Report Issue" above and our support teams can assist.*


        Once a batch request is submitted, use `/batch-status` to see if the job has completed. Once completed, retrieve the results of the request via `/batch-result`. See the endpoints listed under *Batch Processing* for more information.

        '
      schema:
        type: string
        enum:
        - Y
        - N
        default: N
    universeType_time_series:
      name: universeType
      in: query
      description: 'Specify the universe type to calculate the `universe` in.


        Find documentation below on how to build a screen for each universe type -

        * Equity Screen - [Online Assistant Page 20606](https://my.apps.factset.com/oa/pages/20606)


        * Debt Screen - [Online Assistant Page 20888](https://my.apps.factset.com/oa/pages/20888)


        * Fund Screen - [Online Assistant Page 21384](https://my.apps.factset.com/oa/pages/21384)


        This parameter may only be used in conjunction with the `universe` parameter.

        '
      required: false
      schema:
        type: string
        enum:
        - EQUITY
        - DEBT
        - FUND
        default: EQUITY
      explode: false
    formulas_time_series:
      name: formulas
      description: List of FQL formulas
      in: query
      required: true
      schema:
        type: array
        items:
          type: string
          example:
          - P_PRICE(0,-2,D)
          - FG_COMPANY_NAME
      explode: false
      examples:
        singleItem:
          summary: Single Data Item
          value:
          - P_PRICE(0)
        multipleItems:
          summary: Multiple Data Items
          value:
          - P_PRICE(0,-2,D)
          - FG_COMPANY_NAME
          - FF_SEGMENT_RPT_LABELS(ANN_R,0,-1AY,,,,BUS,"SEG")
          - FF_SEGMENT_RPT_DATA(ANN_R,0,-1AY,,,"SALES",,BUS,"SEG")
        multipleItemsFlatten:
          summary: Multiple TIMESERIES Data Items
          value:
          - P_PRICE_OPEN(0,-2,D)
          - P_PRICE(0,-2,D)
          - FG_COMPANY_NAME
        debtDataItems:
          summary: Multiple Debt Data Items
          value:
          - FI_NAME(ISSR)
          - FI_AMOUNT_OUT(AMT,0,USD)
        calculatedDataItems:
          summary: Multiple Calculated Data Items
          description: 'These data items showcase the ability to include logic, mathematical operations, and other functions in the request itself.


            The first data item using the division operator to calculate a P/E ratio from the last trading day of the company’s most recent fiscal year.


            The second data item uses the addition operator to calculate percentage of revenue exposure in the US and Japan for the same date as the first data item. Note that due to URI defintion of the plus sign, the **+** symbol must be URL percent encoded as **%2B** in GET requests. This means you should use **%2B** in place of the symbol **+** in the request.


            The third data item uses the average function (**AVG**) and the **IF** function to indicate whether the average daily price change over the company’s most recent fiscal year is postive or negative.


            You can find more information about the different functions you can use in FQL at the following Online Assistant pages -

            * Mathematical Operators - [Online Assistant Page 10600](https://my.apps.factset.com/oa/pages/10600)

            * Logical Functions - [Online Assistant Page 11485](https://my.apps.factset.com/oa/pages/1485)

            * Categorical List of All Functions - [Online Assistant Page 1411](https://my.apps.factset.com/oa/pages/1411)

            '
          value:
          - P_PRICE(0Y)/FF_EPS(ANN_R,0Y)
          - FF_GEOREV_COUNTRY_PCT("840",ANN,0,,,RF)%2BFF_GEOREV_COUNTRY_PCT("392",ANN,0,,,RF)
          - IF(AVG(P_PRICE_CHANGE(0Y,-1Y,D,USD))>0,"POSITIVE","NEGATIVE")
    ids:
      name: ids
      description: 'List of entity identifiers. This request value is sent back in the response as the field *requestId*. By default, accepted symbol types include Market Tickers, SEDOLs, ISINs, CUSIPs, or FactSet Permanent Ids. Use the `symbolType` parameter to submit other supported third-party identifier types.


        The `ids` and `universe` parameters provide two different ways to specify the identifiers for which you want data retrieved. Please enter either the `ids` or `universe` parameter.

        '
      in: query
      required: false
      schema:
        type: array
        items:
          type: string
          example:
          - FDS-US
          - IBM-US
      explode: false
      examples:
        singleId:
          summary: Single id
          value:
          - IBM
        multipleIds:
          summary: Multiple ids
          value:
          - IBM
          - AAPL
          - MSFT
  examples:
    time-series-debtUniv-multipleItem:
      summary: Debt Universe and Multiple Debt Data Items
      description: '`time-series` Request for the issuer name and amount out for all debt instruments for the Starbucks Corporation

        '
      value:
        data:
        - error: 0
          formula: FI_NAME(ISSR)
          requestId: 855244AD
          result: Starbucks Corporation
          dataType: STRING
          objectType: SCALAR
        - error: 0
          formula: FI_AMOUNT_OUT(AMT,0)
          requestId: 855244AD
          result: 750
          dataType: DOUBLE
          objectType: SCALAR
        - error: 0
          formula: FI_NAME(ISSR)
          requestId: 855244AG
          result: Starbucks Corporation
          dataType: STRING
          objectType: SCALAR
        - error: 0
          formula: FI_AMOUNT_OUT(AMT,0)
          requestId: 855244AG
          result: 500
          dataType: DOUBLE
          objectType: SCALAR
        - error: 0
          formula: FI_NAME(ISSR)
          requestId: 855244AH
          result: Starbucks Corporation
          dataType: STRING
          objectType: SCALAR
        - error: 0
          formula: FI_AMOUNT_OUT(AMT,0)
          requestId: 855244AH
          result: 350
          dataType: DOUBLE
          objectType: SCALAR
        - error: 0
          formula: FI_NAME(ISSR)
          requestId: 855244AJ
          result: Starbucks Corporation
          dataType: STRING
          objectType: SCALAR
        - error: 0
          formula: FI_AMOUNT_OUT(AMT,0)
          requestId: 855244AJ
          result: 750
          dataType: DOUBLE
          objectType: SCALAR
        - error: 0
          formula: FI_NAME(ISSR)
          requestId: 855244AK
          result: Starbucks Corporation
          dataType: STRING
          objectType: SCALAR
        - error: 0
          formula: FI_AMOUNT_OUT(AMT,0)
          requestId: 855244AK
          result: 500
          dataType: DOUBLE
          objectType: SCALAR
        - error: 0
          formula: FI_NAME(ISSR)
          requestId: 855244AM
          result: Starbucks Corporation
          dataType: STRING
          objectType: SCALAR
        - error: 0
          formula: FI_AMOUNT_OUT(AMT,0)
          requestId: 855244AM
          result: 500
          dataType: DOUBLE
          objectType: SCALAR
        - error: 0
          formula: FI_NAME(ISSR)
          requestId: 855244AN
          result: Starbucks Corporation
          dataType: STRING
          objectType: SCALAR
        - error: 0
          formula: FI_AMOUNT_OUT(AMT,0)
          requestId: 855244AN
          result: 1000
          dataType: DOUBLE
          objectType: SCALAR
        - error: 0
          formula: FI_NAME(ISSR)
          requestId: 855244AP
          result: Starbucks Corporation
          dataType: STRING
          objectType: SCALAR
        - error: 0
          formula: FI_AMOUNT_OUT(AMT,0)
          requestId: 855244AP
          result: 600
          dataType: DOUBLE
          objectType: SCALAR
        - error: 0
          formula: FI_NAME(ISSR)
          requestId: 855244AQ
          result: Starbucks Corporation
          dataType: STRING
          objectType: SCALAR
        - error: 0
          formula: FI_AMOUNT_OUT(AMT,0)
          requestId: 855244AQ
          result: 1250
          dataType: DOUBLE
          objectType: SCALAR
        - error: 0
          formula: FI_NAME(ISSR)
          requestId: 855244AR
          result: Starbucks Corporation
          dataType: STRING
          objectType: SCALAR
        - error: 0
          formula: FI_AMOUNT_OUT(AMT,0)
          requestId: 855244AR
          result: 750
          dataType: DOUBLE
          objectType: SCALAR
        - error: 0
          formula: FI_NAME(ISSR)
          requestId: 855244AS
          result: Starbucks Corporation
          dataType: STRING
          objectType: SCALAR
        - error: 0
          formula: FI_AMOUNT_OUT(AMT,0)
          requestId: 855244AS
          result: 1000
          dataType: DOUBLE
          objectType: SCALAR
        - error: 0
          formula: FI_NAME(ISSR)
          requestId: 855244AT
          result: Starbucks Corporation
          dataType: STRING
          objectType: SCALAR
        - error: 0
          formula: FI_AMOUNT_OUT(AMT,0)
          requestId: 855244AT
          result: 1000
          dataType: DOUBLE
          objectType: SCALAR
        - error: 0
          formula: FI_NAME(ISSR)
          requestId: 855244AU
          result: Starbucks Corporation
          dataType: STRING
          objectType: SCALAR
        - error: 0
          formula: FI_AMOUNT_OUT(AMT,0)
          requestId: 855244AU
          result: 1000
          dataType: DOUBLE
          objectType: SCALAR
        - error: 0
          formula: FI_NAME(ISSR)
          requestId: 855244AV
          result: Starbucks Corporation
          dataType: STRING
          objectType: SCALAR
        - error: 0
          formula: FI_AMOUNT_OUT(AMT,0)
          requestId: 855244AV
          result: 500
          dataType: DOUBLE
          objectType: SCALAR
        - error: 0
          formula: FI_NAME(ISSR)
          requestId: 855244AW
          result: Starbucks Corporation
          dataType: STRING
          objectType: SCALAR
        - error: 0
          formula: FI_AMOUNT_OUT(AMT,0)
          requestId: 855244AW
          result: 750
          dataType: DOUBLE
          objectType: SCALAR
        - error: 0
          formula: FI_NAME(ISSR)
          requestId: 855244AX
          result: Starbucks Corporation
          dataType: STRING
          objectType: SCALAR
        - error: 0
          formula: FI_AMOUNT_OUT(AMT,0)
          requestId: 855244AX
          result: 500
          dataType: DOUBLE
          objectType: SCALAR
        - error: 0
          formula: FI_NAME(ISSR)
          requestId: 855244AY
          result: Starbucks Corporation
          dataType: STRING
          objectType: SCALAR
        - error: 0
          formula: FI_AMOUNT_OUT(AMT,0)
          requestId: 855244AY
          result: 500
          dataType: DOUBLE
          objectType: SCALAR
        - error: 0
          formula: FI_NAME(ISSR)
          requestId: 855244AZ
          result: Starbucks Corporation
          dataType: STRING
          objectType: SCALAR
        - error: 0
          formula: FI_AMOUNT_OUT(AMT,0)
          requestId: 855244AZ
          result: 1250
          dataType: DOUBLE
          objectType: SCALAR
        - error: 0
          formula: FI_NAME(ISSR)
          requestId: 855244BA
          result: Starbucks Corporation
          dataType: STRING
          objectType: SCALAR
        - error: 0
          formula: FI_AMOUNT_OUT(AMT,0)
          requestId: 855244BA
          result: 1250
          dataType: DOUBLE
          objectType: SCALAR
        - error: 0
          formula: FI_NAME(ISSR)
          requestId: U8547PAA
          result: Starbucks Corporation
          dataType: STRING
          objectType: SCALAR
        - error: 0
          formula: FI_AMOUNT_OUT(AMT,0)
          requestId: U8547PAA
          result: 85000
          dataType: DOUBLE
          objectType: SCALAR
        - error: 0
          formula: FI_NAME(ISSR)
          requestId: FDS01U70
          result: Starbucks Corporation
          dataType: STRING
          objectType: SCALAR
        - error: 0
          formula: FI_AMOUNT_OUT(AMT,0)
          requestId: FDS01U70
          result: null
          dataType: DOUBLE
          objectType: SCALAR
        - error: 0
          formula: FI_NAME(ISSR)
          requestId: FDS02JIW
          result: Starbucks Corporation
          dataType: STRING
          objectType: SCALAR
        - error: 0
          formula: FI_AMOUNT_OUT(AMT,0)
          requestId: FDS02JIW
          result: null
          dataType: DOUBLE
          objectType: SCALAR
        - error: 0
          formula: FI_NAME(ISSR)
          requestId: FDS0F9W5
          result: Starbucks Corporation
          dataType: STRING
          objectType: SCALAR
        - error: 0
          formula: FI_AMOUNT_OUT(AMT,0)
          requestId: FDS0F9W5
          result: null
          dataType: DOUBLE
          objectType: SCALAR
        - error: 0
          formula: FI_NAME(ISSR)
          requestId: FDS0QANF
          result: Starbucks Corporation
          dataType: STRING
          objectType: SCALAR
        - error: 0
          formula: FI_AMOUNT_OUT(AMT,0)
          requestId: FDS0QANF
          result: null
          dataType: DOUBLE
          objectType: SCALAR
        - error: 0
          formula: FI_NAME(ISSR)
          requestId: FDS1B17O
          result: Starbucks Corporation
          dataType: STRING
          objectType: SCALAR
        - error: 0
          formula: FI_AMOUNT_OUT(AMT,0)
          requestId: FDS1B17O
          result: null
          dataType: DOUBLE
          objectType: SCALAR
        - error: 0
          formula: FI_NAME(ISSR)
          requestId: FDSA82FD
          result: Starbucks Corporation
          dataType: STRING
          objectType: SCALAR
        - error: 0
          formula: FI_AMOUNT_OUT(AMT,0)
          requestId: FDSA82FD
          result: null
          dataType: DOUBLE
          objectType: SCALAR
        - error: 0
          formula: FI_NAME(ISSR)
          requestId: FDSB0FB5
          result: Starbucks Corporation
          dataType: STRING
          objectType: SCALAR
        - error: 0
          formula: FI_AMOUNT_OUT(AMT,0)
          requestId: FDSB0FB5
          result: null
          dataType: DOUBLE
          objectType: SCALAR
        - error: 0
          formula: FI_NAME(ISSR)
          requestId: 855244AA
          result: Starbucks Corporation
          dataType: STRING
          objectType: SCALAR
        - error: 0
          formula: FI_AMOUNT_OUT(AMT,0)
          requestId: 855244AA
          result: 0
          dataType: DOUBLE
          objectType: SCALAR
        - error: 0
          formula: FI_NAME(ISSR)
          requestId: 855244AB
          result: Starbucks Corporation
          dataType: STRING
          objectType: SCALAR
        - error: 0
          formula: FI_AMOUNT_OUT(AMT,0)
          requestId: 855244AB
          result: 0
          dataType: DOUBLE
          objectType: SCALAR
        - error: 0
          formula: FI_NAME(ISSR)
          requestId: 855244AC
          result: Starbucks Corporation
          dataType: STRING
          objectType: SCALAR
        - error: 0
          formula: FI_AMOUNT_OUT(AMT,0)
          requestId: 855244AC
          result: 0
          dataType: DOUBLE
          objectType: SCALAR
        - error: 0
          formula: FI_NAME(ISSR)
          requestId: 855244AE
          result: Starbucks Corporation
          dataType: STRING
          objectType: SCALAR
        - error: 0
          formula: FI_AMOUNT_OUT(AMT,0)
          requestId: 855244AE
          result: 0
          dataType: DOUBLE
          objectType: SCALAR
        - error: 0
          formula: FI_NAME(ISSR)
          requestId: 855244AF
          result: Starbucks Corporation
          dataType: STRING
          objectType: SCALAR
        - error: 0
          formula: FI_AMOUNT_OUT(AMT,0)
          requestId: 855244AF
          result: 0
          dataType: DOUBLE
          objectType: SCALAR
        - error: 0
          formula: FI_NAME(ISSR)
          requestId: 855244AL
          result: Starbucks Corporation
          dataType: STRING
          objectType: SCALAR
        - error: 0
          formula: FI_AMOUNT_OUT(AMT,0)
          requestId: 855244AL
          result: 0
          dataType: DOUBLE
          objectType: SCALAR
        - error: 0
          formula: FI_NAME(ISSR)
          requestId: FDS0QARA
          result: Starbucks Corporation
          dataType: STRING
          objectType: SCALAR
        - error: 0
          formula: FI_AMOUNT_OUT(AMT,0)
          requestId: FDS0QARA
          result: null
          dataType: DOUBLE
          objectType: SCALAR
        - error: 0
          formula: FI_NAME(ISSR)
          requestId: FDS0VUVD
          result: Starbucks Corporation
          dataType: STRING
          objectType: SCALAR
        - error: 0
          formula: FI_AMOUNT_OUT(AMT,0)
          requestId: FDS0VUVD
          result: null
          dataType: DOUBLE
          objectType: SCALAR
    time-series-singleId-singleItem:
      summary: Single Id and Single Data Item
      description: '`time-series` Request for Single Price Record for IBM

        '
      value:
        data:
        - error: 0
          formula: P_PRICE(0)
          requestId: IBM
          result:
            values:
            - 120.77
            dates:
            - '2020-07-09'
          dataType: DOUBLE
          objectType: TIMESERIES
    BatchStatusAcceptedResponse:
      description: Batch Status Accepted Response
      value:
        data:
          id: 2df43e85-ea0f-45c6-bf4a-2baf4d1eaa3c
          status: QUEUED
          startTime: '2021-06-29T18:34:52.168Z'
          endTime: null
          error: null
    time-series-multipleId-multipleItem:
      summary: Mutiple Ids and Multiple Data Items with SEVENDAY Calendar
      description: '`time-series` Request for last 3 days of Price, the Company Name, the last 2 years of Business Segment Data and Business Segment Labels for IBM, AAPL, and MSFT using a SEVENDAY trading calendar

        '
      value:
        data:
        - error: 0
          formula: P_PRICE(0,-2D,D)
          requestId: IBM
          result:
            dates:
            - '2021-01-18'
            - '2021-01-17'
            - '2021-01-16'
            values:
            - 128.39
            - 128.39
            - 128.39
          dataType: DOUBLE
          objectType: TIMESERIES
        - error: 0
          formula: FG_COMPANY_NAME
          requestId: IBM
          result: International Business Machines Corporation
          dataType: STRING
          objectType: SCALAR
        - error: 0
          formula: FF_SEGMENT_RPT_LABELS(ANN_R,0,-1AY,,,,BUS,"SEG")
          requestId: IBM
          result:
          - ''
          - Global Technology Services
          - Cloud & Cognitive Software
          - Global Business Services
          - Systems
          - Global Financing
          - Other
          dataType: STRING
          objectType: ARRAY
        - error: 0
          formula: FF_SEGMENT_RPT_DATA(ANN_R,0,-1AY,,,"SALES",,BUS,"SEG")
          requestId: IBM
          result:
          - - 20191231
            - 20181231
          - - 27361
            - 29146
          - - 23200
            - 22209
          - - 16634
            - 16595
          - - 7604
            - 8034
          - - 1400
            - 1590
          - - 948
            - 2017
          dataType: DOUBLE
          objectType: MATRIX
        - error: 0
          formula: P_PRICE(0,-2D,D)
          requestId: AAPL
          result:
            dates:
            - '2021-01-18'
            - '2021-01-17'
            - '2021-01-16'
            values:
            - 127.14
            - 127.14
            - 127.14
          dataType: DOUBLE
          objectType: TIMESERIES
        - error: 0
          formula: FG_COMPANY_NAME
          requestId: AAPL
          result: Apple Inc.
          dataType: STRING
          objectType: SCALAR
        - error: 0
          formula: FF_SEGMENT_RPT_LABELS(ANN_R,0,-1AY,,,,BUS,"SEG")
          requestId: AAPL
          result:
          - ''
          - iPhone
          - Services
          - Wearables, Home & Accessories
          - Mac
          - iPad
          dataType: STRING
          objectType: ARRAY
        - error: 0
          formula: FF_SEGMENT_RPT_DATA(ANN_R,0,-1AY,,,"SALES",,BUS,"SEG")
          requestId: AAPL
          result:
          - - 20200930
            - 20190930
          - - 137781
            - 142381
          - - 53768
            - 46291
          - - 30620
            - 24482
          - - 28622
            - 25740
          - - 23724
            - 21280
          dataType: DOUBLE
          objectType: MATRIX
        - error: 0
          formula: P_PRICE(0,-2D,D)
          requestId: MSFT
          result:
            dates:
            - '2021-01-18'
            - '2021-01-17'
            - '2021-01-16'
            values:
            - 212.65
            - 212.65
            - 212.65
          dataType: DOUBLE
          objectType: TIMESERIES
        - error: 0
          formula: FG_COMPANY_NAME
          requestId: MSFT
          result: Microsoft Corporation
          dataType: STRING
          objectType: SCALAR
        - error: 0
          formula: FF_SEGMENT_RPT_LABELS(ANN_R,0,-1AY,,,,BUS,"SEG")
          requestId: MSFT
          result:
          - ''
          - Intelligent Cloud
          - More Personal Computing
          - Productivity & Business Processes
          dataType: STRING
          objectType: ARRAY
        - error: 0
          formula: FF_SEGMENT_RPT_DATA(ANN_R,0,-1AY,,,"SALES",,BUS,"SEG")
          requestId: MSFT
          result:
          - - 20200630
            - 20190630
          - - 48366
            - 38985
          - - 48251
            - 45698
          - - 46398
            - 41160
          dataType: DOUBLE
          objectType: MATRIX
    time-series-singleId-singleItem-fsymId:
      summary: Single Id and Single Data Item with fsymId=Y
      description: '`time-series` Request for Single Price Record for IBM and the fsymId for IBM

        '
      value:
        data:
        - error: 0
          formula: P_PRICE(0)
          requestId: IBM
          fsymId: SJY281-R
          result:
            values:
            - 120.77
            dates:
            - '2020-07-09'
          dataType: DOUBLE
          objectType: TIMESERIES
    time-series-multipleId-multipleCalculatedItem:
      summary: Mutiple Ids and Multiple Calculated Data Items
      description: '`time-series` Request to retrieve your own P/E ratio calculation from the last trading day of the company’s most recent fiscal year, the percentage of revenue exposure in the US and Japan for the same date as the first data item, and indicator of whether the average daily price change over the company’s most recent fiscal year was postive or negative for IBM,FDS, and MSFT.

        '
      value:
        data:
        - error: 0
          formula: P_PRICE(0Y)/FF_EPS(ANN_R,0Y)
          requestId: IBM
          result: 12.6893365646774
          dataType: DOUBLE
          objectType: SCALAR
        - error: 0
          formula: FF_GEOREV_COUNTRY_PCT("840",ANN,0,,,RF)+FF_GEOREV_COUNTRY_PCT("392",ANN,0,,,RF)
          requestId: IBM
          result: 48.0589
          dataType: DOUBLE
          objectType: SCALAR
        - error: 0
          formula: IF(AVG(P_PRICE_CHANGE(0Y,-1Y,D,USD))>0,"POSITIVE","NEGATIVE")
          requestId: IBM
          result: POSITIVE
          dataType: STRING
          objectType: SCALAR
        - error: 0
          formula: P_PRICE(0Y)/FF_EPS(ANN_R,0Y)
          requestId: AAPL
          result: 35.3575135861269
          dataType: DOUBLE
          objectType: SCALAR
        - error: 0
          formula: FF_GEOREV_COUNTRY_PCT("840",ANN,0,,,RF)+FF_GEOREV_COUNTRY_PCT("392",ANN,0,,,RF)
          requestId: AAPL
          result: 47.580278
          dataType: DOUBLE
          objectType: SCALAR
        - error: 0
          formula: IF(AVG(P_PRICE_CHANGE(0Y,-1Y,D,USD))>0,"POSITIVE","NEGATIVE")
          requestId: AAPL
          result: POSITIVE
          dataType: STRING
          objectType: SCALAR
        - error: 0
          formula: P_PRICE(0Y)/FF_EPS(ANN_R,0Y)
          requestId: MSFT
          result: 35.3101414071311
          dataType: DOUBLE
          objectType: SCALAR
        - error: 0
          formula: FF_GEOREV_COUNTRY_PCT("840",ANN,0,,,RF)+FF_GEOREV_COUNTRY_PCT("392",ANN,0,,,RF)
          requestId: MSFT
          result: 54.971108
          dataType: DOUBLE
          objectType: SCALAR
        - error: 0
          formula: IF(AVG(P_PRICE_CHANGE(0Y,-1Y,D,USD))>0,"POSITIVE","NEGATIVE")
          requestId: MSFT
          result: POSITIVE
          dataType: STRING
          objectType: SCALAR
    time-series-smallUniv-singleItem:
      summary: Small Universe and Single Data Item
      description: '`time-series` Request for the last 4 quarters of sales for each S&P 500 constituent with a price less than 10 USD'
      value:
        data:
        - error: 0
          formula: FF_SALES(QTR_R,0,-3,FQ)
          requestId: 25179M10
          result:
            values:
            - 162
            - 1266
            - 1705
            - 1720
            dates:
            - '2020-06-30'
            - '2020-03-31'
            - '2019-12-31'
            - '2019-09-30'
          dataType: DOUBLE
          objectType: TIMESERIES
        - error: 0
          formula: FF_SALES(QTR_R,0,-3,FQ)
          requestId: '56584910'
          result:
            values:
            - 490
            - 1024
            - 1233
            - 1249
            dates:
            - '2020-06-30'
            - '2020-03-31'
            - '2019-12-31'
            - '2019-09-30'
          dataType: DOUBLE
          objectType: TIMESERIES
        - error: 0
          formula: FF_SALES(QTR_R,0,-3,FQ)
          requestId: '63707110'
          result:
            values:
            - 1496
            - 1883
            - 2281
            - 2126
            dates:
            - '2020-06-30'
            - '2020-03-31'
            - '2019-12-31'
            - '2019-09-30'
          dataType: DOUBLE
          objectType: TIMESERIES
        - error: 0
          formula: FF_SALES(QTR_R,0,-3,FQ)
          requestId: '36960410'
          result:
            values:
            - 17830
            - 21066
            - 26159
            - 23493
            dates:
            - '2020-06-30'
            - '2020-03-31'
            - '2019-12-31'
            - '2019-09-30'
          dataType: DOUBLE
          objectType: TIMESERIES
        - error: 0
          formula: FF_SALES(QTR_R,0,-3,FQ)
          requestId: '44615010'
          result:
            values:
            - 1265
            - 1187
            - 1364
            - 1372
            dates:
            - '2020-06-30'
            - '2020-03-31'
            - '2019-12-31'
            - '2019-09-30'
          dataType: DOUBLE
          objectType: TIMESERIES
        - error: 0
          formula: FF_SALES(QTR_R,0,-3,FQ)
          requestId: '34537086'
          result:
            values:
            - 19371
            - 34320
            - 39715
            - 36990
            dates:
            - '2020-06-30'
            - '2020-03-31'
            - '2019-12-31'
            - '2019-09-30'
          dataType: DOUBLE
          objectType: TIMESERIES
        - error: 0
          formula: FF_SALES(QTR_R,0,-3,FQ)
          requestId: '03741110'
          result:
            values:
            - 752
            - 1344
            - 1625
            - 1438
            dates:
            - '2020-06-30'
            - '2020-03-31'
            - '2019-12-31'
            - '2019-09-30'
          dataType: DOUBLE
          objectType: TIMESERIES
        - error: 0
          formula: FF_SALES(QTR_R,0,-3,FQ)
          requestId: 42824C10
          result:
            values:
            - 6793
            - 5961
            - 6923
            - 7150
            dates:
            - '2020-07-31'
            - '2020-04-30'
            - '2020-01-31'
            - '2019-10-31'
          dataType: DOUBLE
          objectType: TIMESERIES
        - error: 0
          formula: FF_SALES(QTR_R,0,-3,FQ)
          requestId: G8711010
          result:
            values:
            - 3170.1000000379
            - 3140.30000000431
            - 3739.10000004292
            - 3335.7000000242
            dates:
            - '2020-06-30'
            - '2020-03-31'
            - '2019-12-31'
            - '2019-09-30'
          dataType: DOUBLE
          objectType: TIMESERIES
    time-series-multipleId-multipleItem-flatten:
      summary: Mutiple Ids and Multiple Data Items with flatten=Y
      description: '`time-series` Request for Flattened Response Model for the last 3 days of Price Open, Price Close, and the Company Name for IBM, AAPL, and MSFT

        '
      value:
        data:
        - requestId: IBM
          P_PRICE_OPEN(0,-2,D): 134.57
          date: '2021-04-08'
          P_PRICE(0,-2,D): 135.12
          FG_COMPANY_NAME: International Business Machines Corporation
        - requestId: IBM
          P_PRICE_OPEN(0,-2,D): 133.84
          date: '2021-04-07'
          P_PRICE(0,-2,D): 134.93
          FG_COMPANY_NAME: International Business Machines Corporation
        - requestId: IBM
          P_PRICE_OPEN(0,-2,D): 135.58
          date: '2021-04-06'
          P_PRICE(0,-2,D): 134.22
          FG_COMPANY_NAME: International Business Machines Corporation
        - requestId: AAPL
          P_PRICE_OPEN(0,-2,D): 128.95
          date: '2021-04-08'
          P_PRICE(0,-2,D): 130.36
          FG_COMPANY_NAME: Apple Inc.
        - requestId: AAPL
          P_PRICE_OPEN(0,-2,D): 125.83
          date: '2021-04-07'
          P_PRICE(0,-2,D): 127.9
          FG_COMPANY_NAME: Apple Inc.
        - requestId: AAPL
          P_PRICE_OPEN(0,-2,D): 126.5
          date: '2021-04-06'
          P_PRICE(0,-2,D): 126.21
          FG_COMPANY_NAME: Apple Inc.
        - requestId: MSFT
          P_PRICE_OPEN(0,-2,D): 252.77
          date: '2021-04-08'
          P_PRICE(0,-2,D): 253.25
          FG_COMPANY_NAME: Microsoft Corporation
        - requestId: MSFT
          P_PRICE_OPEN(0,-2,D): 247.81
          date: '2021-04-07'
          P_PRICE(0,-2,D): 249.9
          FG_COMPANY_NAME: Microsoft Corporation
        - requestId: MSFT
          P_PRICE_OPEN(0,-2,D): 247.61
          date: '2021-04-06'
          P_PRICE(0,-2,D): 247.86
          FG_COMPANY_NAME: Microsoft Corporation
  requestBodies:
    time-series-postBody:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/time_series_request'
          examples:
            time-series-singleId-singleItem:
              summary: 'Single Id and Single formula

                '
              value:
                data:
                  ids:
                  - IBM
                  formulas:
                  - P_PRICE(0)
            time-series-singleId-singleItem-fsymId:
              summary: 'Single Id and Single Data Item with fsymId=Y

                '
              value:
                data:
                  ids:
                  - IBM
                  formulas:
                  - P_PRICE(0)
                  fsymId: Y
            time-series-multipleId-mulipleItem:
              summary: 'Multiple Ids and Multiple Data Items with SEVENDAY Calendar

                '
              value:
                data:
                  ids:
                  - IBM
                  - AAPL
                  - MSFT
                  formulas:
                  - P_PRICE(0,-2D,D)
                  - FG_COMPANY_NAME
                  - FF_SEGMENT_RPT_LABELS(ANN_R,0,-1AY,,,,BUS,"SEG")
                  - FF_SEGMENT_RPT_DATA(ANN_R,0,-1AY,,,"SALES",,BUS,"SEG")
                  calendar: SEVENDAY
            time-series-multipleItemsFlatten:
              summary: 'Multiple Ids and Multiple Data Items with flatten=Y

                '
              value:
                data:
                  ids:
                  - IBM
                  - AAPL
                  - MSFT
                  formulas:
                  - P_PRICE_OPEN(0,-2,D)
                  - P_PRICE(0,-2,D)
                  - FG_COMPANY_NAME
                  flatten: Y
            time-series-multipleId-mulipleCalculatedItem:
              summary: 'Multiple Ids and Multiple Calculated Data Items

                '
              description: 'The first data item using the division operator to calculate a P/E ratio from the last trading day of the company’s most recent fiscal year.


                The second data item uses the addition operator to calculate percentage of revenue exposure in the US and Japan for the same date as the first data item.


                The third data item uses the average function (**AVG**) and the **IF** function to indicate whether the average daily price change over the company’s most recent fiscal year was postive or negative.


                You can find more information about the different functions you can use in FQL at the following Online Assistant pages -

                * Mathematical Operators - [Online Assistant Page 10600](https://my.apps.factset.com/oa/pages/10600)

                * Logical Functions - [Online Assistant Page 11485](https://my.apps.factset.com/oa/pages/1485)

                * Categorical List of All Functions - [Online Assistant Page 1411](https://my.apps.factset.com/oa/pages/1411)

                '
              value:
                data:
                  ids:
                  - IBM
                  - AAPL
                  - MSFT
                  formulas:
                  - P_PRICE(0Y)/FF_EPS(ANN_R,0Y)
                  - FF_GEOREV_COUNTRY_PCT("840",ANN,0,,,RF)+FF_GEOREV_COUNTRY_PCT("392",ANN,0,,,RF)
                  - IF(AVG(P_PRICE_CHANGE(0Y,-1Y,D,USD))>0,"POSITIVE","NEGATIVE")
            time-series-smallUniv-singleItem:
              summary: 'Small Universe and Single Data Item

                '
              value:
                data:
                  universe: (FG_CONSTITUENTS(SP50,0,CLOSE) AND P_PRICE(0,USD)<10)=1
                  formulas:
                  - FF_SALES(QTR_R,0,-3,FQ)
            time-series-debtUniv-multipleItem:
              summary: 'Debt Universe and Multiple Debt Data Items

                '
              value:
                data:
                  universe: EQUITY(P_SYMBOL)='SBUX-US'
                  universeType: DEBT
                  formulas:
                  - FI_NAME(ISSR)
                  - FI_AMOUNT_OUT(AMT,0,USD)
            time-series-batch:
              summary: 'Batch Request for Multiple Ids and Multiple Data Items with SEVENDAY Calendar

                '
              value:
                data:
                  ids:
                  - IBM
                  - AAPL
                  - MSFT
                  formulas:
                  - P_PRICE(0,-2D,D)
                  - FG_COMPANY_NAME
                  - FF_SEGMENT_RPT_LABELS(ANN_R,0,-1AY,,,,BUS,"SEG")
                  - FF_SEGMENT_RPT_DATA(ANN_R,0,-1AY,,,"SALES",,BUS,"SEG")
                  calendar: SEVENDAY
                  batch: Y
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
externalDocs:
  url: https://developer.factset.com/api-catalog/analytics-datastore-api
  description: API Documentation
