openapi: 3.0.3
info:
  title: Factset Analytics Datastore About Prices API
  description: Allow clients to fetch precalculated Analytics through predeterministic URLs.
  contact:
    name: FactSet Research Systems
    url: https://developer.factset.com/contact
    email: api@factset.com
  license:
    name: Apache License, Version 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  version: 1.0.0
servers:
- url: https://api.factset.com
  description: Production
- url: https://api-sandbox.factset.com
  description: Sandbox
security:
- basicAuth: []
tags:
- name: Prices
paths:
  /factset-funds/v1/prices:
    get:
      tags:
      - Prices
      summary: Factset Get Fund Prices (nav) for a Requested Time-series
      operationId: getFundsPrices
      description: 'Get Fund Prices (NAV) for a requested date range and list of ids.

        '
      parameters:
      - $ref: '#/components/parameters/ids'
      - $ref: '#/components/parameters/startDate'
      - $ref: '#/components/parameters/endDate'
      - $ref: '#/components/parameters/frequency'
      - $ref: '#/components/parameters/currency'
      - $ref: '#/components/parameters/dataType'
      - $ref: '#/components/parameters/splitAdjust'
      responses:
        '200':
          description: The Prices response object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fundsPricesResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      tags:
      - Prices
      summary: Factset Get Fund Prices (nav) for a Requested Date Range and Large List of Ids.
      description: "Fetch fund prices (NAV) as of a requested date range and a large list of ids. \n"
      operationId: getFundsPricesForList
      requestBody:
        required: true
        description: The Prices request body, allowing the user to specify a list of ids.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/fundsPricesRequest'
      responses:
        '200':
          description: The Prices response object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fundsPricesResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /factset-global-prices/v1/prices:
    get:
      tags:
      - Prices
      summary: Factset Gets End-of-day Open, High, Low, Close for a List of Securities.
      operationId: getGPDPrices
      description: 'Gets security prices'', Open, High, Low, Close, Volume, VWAP, Trade Count, and Turn Over for a specified list of securities, date range, currency, and adjustment factors.

        '
      parameters:
      - $ref: '#/components/parameters/idsBatchMax2000'
      - $ref: '#/components/parameters/fieldsPrices'
      - $ref: '#/components/parameters/startDate_2'
      - $ref: '#/components/parameters/endDate_2'
      - $ref: '#/components/parameters/frequency_2'
      - $ref: '#/components/parameters/calendar'
      - $ref: '#/components/parameters/currency_2'
      - $ref: '#/components/parameters/adjust'
      - $ref: '#/components/parameters/batch'
      responses:
        '200':
          description: Array of Price Objects
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/globalPricesResponse'
              examples:
                One Week Prices for Two Securities All Fields:
                  $ref: '#/components/examples/GlobalPricesResponseAll'
                Filtered Fields:
                  $ref: '#/components/examples/GlobalPricesResponsePricesOnly'
        '202':
          description: Batch request has been accepted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchStatusResponse'
              examples:
                Batch Request Accepted:
                  $ref: '#/components/examples/BatchStatusAcceptedResponse'
          headers:
            Location:
              description: Path to Batch Request status.
              schema:
                type: string
              example: batch-status?id=2df43e85-ea0f-45c6-bf4a-2baf4d1eaa3c
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      tags:
      - Prices
      summary: Factset Requests End-of-day Open, High, Low, Close for a Large List of Securities.
      description: Gets security prices', Open, High, Low, Close, Volume, VWAP, Trade Count, and Turn Over for a specified list of securities, date range, currency, and adjustment factors.
      operationId: getSecurityPricesForList
      requestBody:
        required: true
        description: Request object for `Prices`.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/globalPricesRequest'
      responses:
        '200':
          description: Array of security prices
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/globalPricesResponse'
        '202':
          description: Batch request has been accepted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchStatusResponse'
              examples:
                Batch Request Accepted:
                  $ref: '#/components/examples/BatchStatusAcceptedResponse'
          headers:
            Location:
              description: Path to Batch Request status.
              schema:
                type: string
              example: batch-status?id=2df43e85-ea0f-45c6-bf4a-2baf4d1eaa3c
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /factset-prices/v1/prices:
    get:
      tags:
      - Prices
      summary: Factset Gets End-of-day Open, High, Low, Close for a List of Securities.
      operationId: getSecurityPrices
      description: 'Gets security prices, Open, High, Low, Close, Volume, and currency for a specified date range and frequency. Prices are updated and at different times across the different regions around the globe. The Prices API automatically defaults relative price dates to the local region which is determined by the local region of the requested security id. To learn more about relative dates please visit [OA Page 4627](https://my.apps.factset.com/oa/pages/4627)


        */prices* endpoint currently supports Long Running asynchronous requests up to **10 minutes** via `batch` parameter. **Additional Approvals needed for access**. Id limits increased to **5000 ids** per request using batch parameter.

        '
      parameters:
      - $ref: '#/components/parameters/idsBatchMax5000'
      - $ref: '#/components/parameters/startDate_3'
      - $ref: '#/components/parameters/endDate_3'
      - $ref: '#/components/parameters/frequency_3'
      - $ref: '#/components/parameters/calendar_2'
      - $ref: '#/components/parameters/currency_3'
      - $ref: '#/components/parameters/adjust_2'
      - $ref: '#/components/parameters/batch_2'
      responses:
        '200':
          description: Array of security prices open, high, low, close, and volume.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pricesResponse'
              examples:
                Price of AAPL as of March 29 2019:
                  $ref: '#/components/examples/singleSecurityPrices'
                Prices for AAPL and TSLA as of March 29th 2019:
                  $ref: '#/components/examples/twoSecuritiesPrices'
                One Month of Daily Prices for AAPL in March 2019:
                  $ref: '#/components/examples/oneMonthSecurityPrices'
        '202':
          description: Batch request has been accepted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchStatusResponse'
              examples:
                Batch Request Accepted:
                  $ref: '#/components/examples/BatchStatusAcceptedResponse_2'
          headers:
            Location:
              description: Path to Batch Request status.
              schema:
                type: string
              example: batch/v1/status?id=2df43e85-ea0f-45c6-bf4a-2baf4d1eaa3c
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      tags:
      - Prices
      summary: Factset Requests End-of-day Open, High, Low, Close for a Large List of Securities.
      description: '

        Gets security prices, Open, High, Low, Close, Volume, and currency for a specified date range and frequency.


        */prices* endpoint currently supports Long Running asynchronous requests up to **10 minutes** via `batch` parameter. **Additional Approvals needed for access**. Id limits increased to **5000 ids** per request using batch parameter.

        '
      operationId: getSecurityPricesForList
      requestBody:
        required: true
        description: Request object for `Security` prices.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/pricesRequest'
            examples:
              One Year of Daily Prices for Apple and Tesla in 2019:
                $ref: '#/components/examples/multipleIdsOneYearPost'
              Single Company Monthly Prices for One Year:
                $ref: '#/components/examples/singleIdsOneYearMonthlyPost'
              Price Adjusted for Splits, Spinoffs, and Dividends:
                $ref: '#/components/examples/priceAdjustedForDividendsMonthlyPost'
              Batch Request for Prices for APPL and Tesla:
                $ref: '#/components/examples/BatchPricesRequestPost'
      responses:
        '200':
          description: Array of security prices
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pricesResponse'
              examples:
                Price of AAPL as of March 29 2019:
                  $ref: '#/components/examples/singleSecurityPrices'
                Prices for AAPL and TSLA as of March 29th 2019:
                  $ref: '#/components/examples/twoSecuritiesPrices'
                One Month of Daily Prices for AAPL in March 2019:
                  $ref: '#/components/examples/oneMonthSecurityPrices'
        '202':
          description: Batch request has been accepted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchStatusResponse'
              examples:
                Batch Request Accepted:
                  $ref: '#/components/examples/BatchStatusAcceptedResponse_2'
          headers:
            Location:
              description: Path to Batch Request status.
              schema:
                type: string
              example: batch/v1/status?id=2df43e85-ea0f-45c6-bf4a-2baf4d1eaa3c
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /factset-prices/v1/fixed-income:
    get:
      tags:
      - Prices
      summary: Factset Gets Pricing for a List of Fixed Income Securities
      operationId: getFixedSecurityPrices
      description: 'Get BID, MID, ASK, and Issuer Entity ID for a list of Fixed Income Securities as of a requested date range. Available for U.S. Corporate, Treasury and Agency bonds, Municipals, and non-U.S. Corporate and Government bonds. To learn more about Fixed Income Prices database, please review [OA:15995](https://my.apps.factset.com/oa/pages/15995)

        '
      parameters:
      - $ref: '#/components/parameters/fixedIds'
      - $ref: '#/components/parameters/startDate_3'
      - $ref: '#/components/parameters/endDate_3'
      - $ref: '#/components/parameters/frequencyFi'
      responses:
        '200':
          description: Array of Fixed Income Security prices objects for date range requested
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pricesFixedIncomeResponse'
              examples:
                Fixed Income Price of Apple 4.65% 23-FEB-2046:
                  $ref: '#/components/examples/singleSecurityPricesFixedIncome'
                Fixed Income Prices for Three Security Types:
                  $ref: '#/components/examples/multipleSecurityPricesFixedIncome'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      tags:
      - Prices
      summary: Factset Requests Pricing for a List of Fixed Income Securities for Date Range Requested
      description: 'Get BID, MID, ASK, and Issuer Entity ID for a list of Fixed Income Securities as of a requested date range. Available for U.S. Corporate, Treasury and Agency bonds, Municipals, and non-U.S. Corporate and Government bonds. To learn more about Fixed Income Prices database, please review [OA:15995](https://my.apps.factset.com/oa/pages/15995)

        '
      operationId: getFixedSecurityPricesForList
      requestBody:
        required: true
        description: Request object for Fixed Income `Security` prices.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/pricesFixedIncomeRequest'
            examples:
              Single Fixed Income Id Request for One Year of Monthly Prices:
                $ref: '#/components/examples/singleFixedOneYearPost'
              Fixed Income Single Id Request:
                $ref: '#/components/examples/multipleFixedPricesPost'
      responses:
        '200':
          description: Array of Fixed Income Security prices objects
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pricesFixedIncomeResponse'
              examples:
                Fixed Income Price of Apple 4.65% 23-FEB-2046:
                  $ref: '#/components/examples/singleSecurityPricesFixedIncome'
                Fixed Income Prices for Three Security Types:
                  $ref: '#/components/examples/multipleSecurityPricesFixedIncome'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /factset-prices/v1/references:
    get:
      tags:
      - Prices
      summary: Factset Gets Security Reference Details for a List of Securities
      operationId: getSecurityReferences
      description: 'Gets security reference details for a list of `ids`, such as Name, Security Type, Currency, Country, Primary Exchange, Local Index, and dates of First and Last Trade.

        '
      parameters:
      - $ref: '#/components/parameters/idsMax2000'
      responses:
        '200':
          description: Array of security references objects
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/referencesResponse'
              examples:
                Single Company Reference:
                  $ref: '#/components/examples/singleSecurityReferences'
                Multiple Company References:
                  $ref: '#/components/examples/multipleSecurityReferences'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      tags:
      - Prices
      summary: Factset Requests Security Reference Details a List of Securities
      description: 'Gets security reference details for a large list of `ids`, such as Name, Security Type, Currency, Country, Primary Exchange, Local Index, and dates of First and Last Trade.

        '
      operationId: getSecurityReferenceForList
      requestBody:
        required: true
        description: Request object for `Security` prices.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/referencesRequest'
            examples:
              Multiple Security Reference Request:
                $ref: '#/components/examples/multipleReferencesPost'
      responses:
        '200':
          description: Array of security prices
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/referencesResponse'
              examples:
                Single Company Reference:
                  $ref: '#/components/examples/singleSecurityReferences'
                Multiple Company References:
                  $ref: '#/components/examples/multipleSecurityReferences'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /factset-prices/v1/returns:
    get:
      tags:
      - Prices
      summary: Factset Gets Returns for a List of `ids` as of Given Date Range and Rolling Period
      operationId: getSecurityReturns
      description: 'The simple or compound return for the requested frequency and/or rollingPeriod. Depending on the input parameters the return will adjust accordingly. If you simply use frequency and no rollingPeriod, the return value will represent the frequency period. If you use rollingPeriod, the values will be returned in actual period ends (e.g. actual month, actual week, daily, etc.). General Return Calculation Details found on [Online Assistant Page #8748](https://oa.apps.factset.com/pages/8748)'
      parameters:
      - $ref: '#/components/parameters/idsMax2000'
      - $ref: '#/components/parameters/startDate_3'
      - $ref: '#/components/parameters/endDate_3'
      - $ref: '#/components/parameters/frequency_3'
      - $ref: '#/components/parameters/calendar_2'
      - $ref: '#/components/parameters/currency_3'
      - $ref: '#/components/parameters/dividendAdjust'
      - $ref: '#/components/parameters/rollingPeriod'
      responses:
        '200':
          description: Array of security returns for the requested date range and rolling period
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/returnsResponse'
              examples:
                Daily Returns of AAPL for the Year 2019:
                  $ref: '#/components/examples/dailyReturnsAPPL'
                Latest 52w Return for AAPL:
                  $ref: '#/components/examples/52WKReturnAAPL'
                Latest Month Return for FB, AAPL, NFLX, GOOGL:
                  $ref: '#/components/examples/fangStocksReturn'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      tags:
      - Prices
      summary: Factset Requests Security Returns for the Given Date Range and Rollingperiod.
      description: 'The simple or compound return for the requested frequency and/or rollingPeriod. Depending on the input parameters the return will adjust accordingly. If you simply use frequency and no rollingPeriod, the return value will represent the frequency period. If you use rollingPeriod, the values will be returned in actual period ends (e.g. actual month, actual week, daily, etc.). General Return Calculation Details found on [Online Assistant Page #8748](https://oa.apps.factset.com/pages/8748)'
      operationId: getSecurityReturnsForList
      requestBody:
        required: true
        description: Request object for `Security` returns.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/returnsRequest'
            examples:
              What is the latest monthly total return for APPL TSLA FB and NFLX:
                $ref: '#/components/examples/fangStocksReturnPost'
              Daily Price Changes of AMZN in 2019:
                $ref: '#/components/examples/dailyPriceChangeAMZNPost'
      responses:
        '200':
          description: Array of security returns for the requested date range and rolling period
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/returnsResponse'
              examples:
                Daily Returns of AAPL for the Year 2019:
                  $ref: '#/components/examples/dailyReturnsAPPL'
                Latest 52w Return for AAPL:
                  $ref: '#/components/examples/52WKReturnAAPL'
                Latest Month Return for FB, AAPL, NFLX, GOOGL:
                  $ref: '#/components/examples/fangStocksReturn'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /factset-prices/v1/returns-snapshot:
    get:
      tags:
      - Prices
      summary: Factset Returns the Price Performance of the Security and Annualized Compound Total Returns.
      operationId: getReturnsSnapshot
      description: "Retrieves various return periods as of a given date for a requested list of securities. This endpoint is very helpful for quickly retrieving a list of pre-calculated returns for application development.<p> Return periods include\n  * oneDay\n  * weekToDate\n  * monthToDate\n  * quarterToDate\n  * yearToDate\n  * oneMonth\n  * threeMonth\n  * sixMonth\n  * nineMonth\n  * oneYear\n  * twoYearAnnualized\n  * threeYearAnnualized\n  * fiveYearAnnualized\n  * tenYearAnnualized\n  * twentyYearAnnualized\n  * thirtyYearAnnualized\n  * ipoToDateAnnualized\n  </p>\n"
      parameters:
      - $ref: '#/components/parameters/idsMax2000'
      - $ref: '#/components/parameters/dateRs'
      - $ref: '#/components/parameters/calendar_2'
      - $ref: '#/components/parameters/currency_3'
      - $ref: '#/components/parameters/dividendAdjustSnapshot'
      responses:
        '200':
          description: Array of returns-snapshot objects for the list of ids requested
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/returnsSnapshotResponse'
              examples:
                Return details for IBM-US with compound return type:
                  $ref: '#/components/examples/singleRSCompundRTResponse'
                Requesting returns details for Multiple companies with simple return type:
                  $ref: '#/components/examples/multipleRSSimpleRTResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      tags:
      - Prices
      summary: Factset Returns the Price Performance of the Security and Annualized Compound Total Returns.
      description: "Retrieves various return periods as of a given date for a requested list of securities. This endpoint is very helpful for quickly retrieving a list of pre-calculated returns for application development.<p> Return periods include\n  * oneDay\n  * weekToDate\n  * monthToDate\n  * quarterToDate\n  * yearToDate\n  * oneMonth\n  * threeMonth\n  * sixMonth\n  * nineMonth\n  * oneYear\n  * twoYearAnnualized\n  * threeYearAnnualized\n  * fiveYearAnnualized\n  * tenYearAnnualized\n  * twentyYearAnnualized\n  * thirtyYearAnnualized\n  * ipoToDateAnnualized\n  </p>\n"
      operationId: getReturnsSnapshotForList
      requestBody:
        required: true
        description: Request object for Returns-Snapshot.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/returnsSnapshotRequest'
            examples:
              Return details for IBM-US with compound return type:
                $ref: '#/components/examples/singleRSCompundRT'
              Requesting returns details for multiple companies with simple return type:
                $ref: '#/components/examples/multipleRSSimpleRT'
      responses:
        '200':
          description: Array of returns-snapshot objects for the list of ids requested
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/returnsSnapshotResponse'
              examples:
                Return details for IBM-US with compound return type:
                  $ref: '#/components/examples/singleRSCompundRTResponse'
                Requesting returns details for multiple companies with simple return type:
                  $ref: '#/components/examples/multipleRSSimpleRTResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /factset-prices/v1/dividends:
    get:
      tags:
      - Prices
      summary: Factset Gets Dividend Information for a Given Date Range and List of Securities
      operationId: getSecurityDividends
      description: Get the dividend amounts, dates, types, and flags over a specified date range. You may request future dates to receive information for declared dividends.
      parameters:
      - $ref: '#/components/parameters/idsMax1000'
      - $ref: '#/components/parameters/startDate_3'
      - $ref: '#/components/parameters/endDate_3'
      - $ref: '#/components/parameters/currency_3'
      - $ref: '#/components/parameters/adjust_2'
      responses:
        '200':
          description: Array of security dividend information for a given date range and list of securities
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dividendsResponse'
              examples:
                Three Years of Dividends for AAPL as of 2019:
                  $ref: '#/components/examples/3yrDividendsAPPL'
                Latest Dividends for AAPL and AMZN:
                  $ref: '#/components/examples/latestDividends'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      tags:
      - Prices
      summary: Factset Requests Dividend Information for a Given Date Range and List of Securities
      description: Get the dividend amounts, dates, types, and flags over a specified date range
      operationId: getSecurityDividendsForList
      requestBody:
        required: true
        description: Request object for `Security` dividends.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/dividendsRequest'
            examples:
              Request AAPL Dividends in 2019:
                $ref: '#/components/examples/singleSecurityDividends'
              Request Latest Dividends of AAPL and MSFT:
                $ref: '#/components/examples/latestDividendsPost'
      responses:
        '200':
          description: Array of dividend information for a given date range and list of securities
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dividendsResponse'
              examples:
                Latest Dividends for AAPL and MSFT:
                  $ref: '#/components/examples/latestDividends'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /factset-prices/v1/splits:
    get:
      tags:
      - Prices
      summary: Factset Gets Full History of Security Splits for a List of `ids`
      operationId: getSecuritySplits
      description: Gets the entire history of splits for a given list of identifiers. Information returned includes the split factor, a plain text comment regarding the type of split, and the event date.
      parameters:
      - $ref: '#/components/parameters/idsMax2000'
      responses:
        '200':
          description: Array of security splits
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/splitsResponse'
              examples:
                Split History for a Single Security - MSFT:
                  $ref: '#/components/examples/singleSecuritySplits'
                Split History for a List of Securities:
                  $ref: '#/components/examples/multipleSecuritySplits'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      tags:
      - Prices
      summary: Factset Requests Splits for a List of `ids`
      description: Gets the entire history of splits for a given list of identifiers. Information returned includes the split factor, a plain text comment regarding the type of split, and the event date.
      operationId: getSecuritySplitsForList
      requestBody:
        required: true
        description: Request object for `Security` split factors.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/splitsRequest'
            examples:
              Single Company Daily Prices One Month:
                $ref: '#/components/examples/splitHistoryMSFTPost'
              One Year of Monthly Prices for AAPL in 2019:
                $ref: '#/components/examples/multipleSplitsHistoryPost'
      responses:
        '200':
          description: Array of Splits objects
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/splitsResponse'
              examples:
                Splits History for MSFT:
                  $ref: '#/components/examples/singleSecuritySplits'
                Split History for a List of Securities:
                  $ref: '#/components/examples/multipleSecuritySplits'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /factset-prices/v1/shares:
    get:
      tags:
      - Prices
      summary: Factset Gets Shares for a List of `ids` as of Given Date Range.
      operationId: getSecurityShares
      description: Gets security shares for a list of 'ids' and given date range. Share values returned include security-level and company-level.
      parameters:
      - $ref: '#/components/parameters/idsMax1000'
      - $ref: '#/components/parameters/startDate_3'
      - $ref: '#/components/parameters/endDate_3'
      - $ref: '#/components/parameters/frequency_3'
      - $ref: '#/components/parameters/calendar_2'
      - $ref: '#/components/parameters/splitAdjust_2'
      responses:
        '200':
          description: Array of security shares
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sharesResponse'
              examples:
                One Year of Monthly Share Counts for AAPL:
                  $ref: '#/components/examples/singleSecurityShares'
                Multiple Security Share Counts as of 2019 Year End - FB, AAPL, NFLX, GOOGL:
                  $ref: '#/components/examples/multipleSecuritiesShares'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      tags:
      - Prices
      summary: Factset Requests Shares for a List of `ids` as of Given Date Range.
      description: Gets security shares for a list of 'ids' and given date range. Share values returned include security-level and company-level.
      operationId: getSecuritySharesForList
      requestBody:
        required: true
        description: Request object for `Security` shares.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/sharesRequest'
            examples:
              Request One Year of Monthly Share Counts for AAPL:
                $ref: '#/components/examples/singleSecuritySharesPost'
              Request Multiple Security Share Counts as of 2019 Year End - FB, AAPL, NFLX, GOOGL:
                $ref: '#/components/examples/multipleSecuritiesSharesPost'
      responses:
        '200':
          description: Array of Shares objects
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sharesResponse'
              examples:
                One Year of Monthly Share Counts for AAPL:
                  $ref: '#/components/examples/singleSecurityShares'
                Multiple Security Share Counts as of 2019 Year End - FB, AAPL, NFLX, GOOGL:
                  $ref: '#/components/examples/multipleSecuritiesShares'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /factset-prices/v1/market-value:
    get:
      tags:
      - Prices
      summary: Factset Gets the Security Level and Company Level Market Values for a List of `ids` as of Given Date Range and Frequency.
      operationId: getMarketValue
      description: 'Gets market capitalization of list of ids for the company level, security level, calendar, frequency, and currency for a specified date range.

        '
      parameters:
      - $ref: '#/components/parameters/idsMax2000'
      - $ref: '#/components/parameters/startDate_3'
      - $ref: '#/components/parameters/endDate_3'
      - $ref: '#/components/parameters/frequency_3'
      - $ref: '#/components/parameters/calendar_2'
      - $ref: '#/components/parameters/currency_3'
      responses:
        '200':
          description: Array of company market capitalization values.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/marketValueResponse'
              examples:
                Market Value of GOOGL as of July 07 2020:
                  $ref: '#/components/examples/singleMarketValue'
                Market Value for AAPL and TSLA as of March 29th 2019:
                  $ref: '#/components/examples/multipleMarketValues'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      tags:
      - Prices
      summary: Factset Requests the Market Value for a List of `ids` as of Given Date Range.
      description: Requests the market value for a list of `ids` as of given date range.
      operationId: getMarketValueForList
      requestBody:
        required: true
        description: Request object for `Security` market values.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/marketValueRequest'
            examples:
              Single Company Market Value:
                $ref: '#/components/examples/singleMarketValuePost'
              Multiple Company Market Values:
                $ref: '#/components/examples/multipleMarketValuePost'
      responses:
        '200':
          description: Array of company market capitalization values.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/marketValueResponse'
              examples:
                Market Value of GOOGL as of July 07 2020:
                  $ref: '#/components/examples/singleMarketValue'
                Market Value for AAPL and TSLA as of March 29th 2019:
                  $ref: '#/components/examples/multipleMarketValues'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /factset-prices/v1/high-low:
    get:
      tags:
      - Prices
      summary: Factset Gets the Price High and Price Low of Securities for a List of `ids` as of Given Date, Period and Frequency.
      operationId: getHighLow
      description: 'For given security(s), gets the high and low prices with the respective dates on which they occurred. This service gives options for fetching the price as of the close or intraday.

        '
      parameters:
      - $ref: '#/components/parameters/idsMax2000'
      - $ref: '#/components/parameters/date'
      - $ref: '#/components/parameters/period'
      - $ref: '#/components/parameters/priceType'
      - $ref: '#/components/parameters/calendar_2'
      - $ref: '#/components/parameters/currency_3'
      - $ref: '#/components/parameters/adjust_2'
      responses:
        '200':
          description: Array of price high and price low values.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/highLowResponse'
              examples:
                52 week Price High and Price Low of GOOGL-US as of July 07 2020:
                  $ref: '#/components/examples/singleHighLow'
                52 week Price High and Price Low for AAPL-US and TSLA-US as of March 07 2020:
                  $ref: '#/components/examples/multipleHighLow'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      tags:
      - Prices
      summary: Factset Requests the Price High and Price Low of Securities for a List of `ids` as of Given Date, Period and Frequency.
      description: 'For given security(s), gets the high and low prices with the respective dates on which they occurred. This service gives options for fetching the price as of the close or intraday.

        '
      operationId: getHighLowForList
      requestBody:
        required: true
        description: Request object for high low prices.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/highLowRequest'
            examples:
              Single Company Market Value:
                $ref: '#/components/examples/singleHighLowPost'
              Multiple Company Market Values:
                $ref: '#/components/examples/multipleHighLowPost'
      responses:
        '200':
          description: Array of company price high and price low values.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/highLowResponse'
              examples:
                52 week Price High and Price Low of GOOGL-US as of July 07 2020:
                  $ref: '#/components/examples/singleHighLow'
                52 week Price High and Price Low of AAPL-US and TSLA-US as of March 07 2020:
                  $ref: '#/components/examples/multipleHighLow'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /factset-prices/v1/database-rollover:
    get:
      summary: Factset Gets the Latest Relative Rollover Date for the Database.
      description: 'Gets zero relative date and last update time for FactSet databases. The dates represent the date that the rollover event happened; the date and time is in **eastern time zone**.  <p>Depending on the ids requested and their respective regions, a requested startDate or endDate used in the various Prices API may reflect different previous close dates. This relative "zero" date, meaning - as of yesterday''s close - will vary across global regions. This API is designed to help production systems account for regional rollover dates to know when to trigger their processes for different regions to reflect the latest close. The response gives context for AMERICAS, ASIA PACIFIC, and EUROPE. </p>

        '
      tags:
      - Prices
      operationId: getDatabaseRollover
      responses:
        '200':
          description: Database rollover data items.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rolloverResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      summary: Factset Gets the Latest Relative Rollover Date for the Database.
      description: 'Gets zero relative date and last update time for FactSet databases. The dates represent the date that the rollover event happened; the date and time is in **eastern time zone**.  <p>Depending on the ids requested and their respective regions, a requested startDate or endDate used in the various Prices API may reflect different previous close dates. This relative "zero" date, meaning - as of yesterday''s close - will vary across global regions. This API is designed to help production systems account for regional rollover dates to know when to trigger their processes for different regions to reflect the latest close. The response gives context for AMERICAS, ASIA PACIFIC, and EUROPE. </p>

        '
      tags:
      - Prices
      operationId: getDatabaseRolloverForList
      responses:
        '200':
          description: Database rollover data items.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rolloverResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /alerting/prices/basic/alert/get:
    get:
      tags:
      - Prices
      operationId: get/alerting/prices/basic/alert/get
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: true
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      description: Details of an alert. The details include the trigger definition at the time of alert creation.
      summary: Factset Details of an Alert.
      parameters:
      - name: id
        in: query
        schema:
          description: Identifier of the alert.
          type: string
          format: id64
          x-positive: true
        required: true
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
            exclusiveMaximum: false
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      responses:
        '200':
          $ref: '#/components/responses/GetAlertingPricesBasicAlertGet200Response'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /alerting/prices/basic/alert/list:
    get:
      tags:
      - Prices
      operationId: get/alerting/prices/basic/alert/list
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: true
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: true
      x-requiresUser: true
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      description: List of alerts in descending order of creation.
      summary: Factset List of Alerts.
      responses:
        '200':
          $ref: '#/components/responses/GetAlertingPricesBasicAlertList200Response'
      parameters:
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
            exclusiveMaximum: false
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      - description: Non-negative number of milliseconds to throttle the update rate from 0ms to 5000ms. Set to 0 for sending updates immediately.
        name: _subscriptionMinimumInterval
        in: query
        schema:
          type: number
          format: int32
          minimum: 0
          exclusiveMinimum: false
          maximum: 5000
          exclusiveMaximum: false
          default: 0
      - description: Starting point as returned in the attributes `pagination.next` or `pagination.previous` by a prior invocation of this endpoint, or undefined (default).
        name: _paginationCursor
        in: query
        schema:
          type: string
          maxLength: 50
          exclusiveMaximum: false
      - description: Non-negative maximum number of entries to return.
        name: _paginationLimit
        in: query
        schema:
          type: number
          format: int32
          minimum: 0
          exclusiveMinimum: false
          maximum: 500
          exclusiveMaximum: false
          default: 20
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /alerting/prices/basic/trigger/get:
    get:
      tags:
      - Prices
      operationId: get/alerting/prices/basic/trigger/get
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: true
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      description: Details of a trigger.
      summary: Factset Details of a Trigger.
      parameters:
      - name: id
        in: query
        schema:
          type: string
          format: id64
          x-positive: true
          description: Identifier of the trigger.
        required: true
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
            exclusiveMaximum: false
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      responses:
        '200':
          $ref: '#/components/responses/GetAlertingPricesBasicTriggerGet200Response'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /alerting/prices/basic/trigger/list:
    post:
      tags:
      - Prices
      operationId: post/alerting/prices/basic/trigger/list
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: true
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: true
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      description: Returns a list of triggers sorted in descending order of creation.
      summary: Factset List of Triggers.
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostAlertingPricesBasicTriggerListRequest'
        required: false
      responses:
        '200':
          $ref: '#/components/responses/PostAlertingPricesBasicTriggerList200Response'
      parameters: []
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /prices/get:
    get:
      tags:
      - Prices
      operationId: get/prices/get
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: true
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Factset Overview of Trading on the Most Recent Trading Day, Including the Latest Price, for a Notation.
      description: 'Overview of trading on the most recent trading day, including the latest price, for a notation.


        The endpoint is subscribable to provide push updates. See attribute `_subscriptionMinimalInterval` for valid update rates.'
      parameters:
      - name: identifier
        in: query
        schema:
          type: string
          pattern: ^[B-DF-HJ-NP-TV-Z0-9]{6}-[LR]$|^[A-Z0-9.#&*+]{1,47}-[A-Z0-9]{2,4}$|^[0-9]{3,20}$
          maxLength: 50
          exclusiveMaximum: false
          minLength: 3
          exclusiveMinimum: false
          description: Identifier to resolve.
        required: true
      - name: identifierType
        in: query
        schema:
          type: string
          description: Type of the identifier.
          x-enum-description:
          - MDG identifier of a listing.
          - FactSet market symbol of a listing.
          - Regional FactSet ticker symbol, identifying the primary listing in the region.
          - FactSet Permanent Identifier on listing level.
          - Regional FactSet Permanent Identifier, identifying the primary listing in the region.
          enum:
          - idNotation
          - tickerExchange
          - tickerRegion
          - fdsPermanentIdentifierListing
          - fdsPermanentIdentifierRegional
        required: true
      - name: quality
        in: query
        schema:
          type: string
          description: Quality of the price.
          default: DLY
          x-enum-description:
          - 'Real-time: intraday prices with minimal technical processing delays.'
          - 'Delayed: intraday prices with an exchange-imposed delay of usually 15 to 30 minutes.'
          - 'End-of-day: prices updated once per day after the close of trading, possibly with an exchange-imposed delay of several hours or days.'
          - 'Best: choose the price quality with the least delay, as entitled for the client.'
          enum:
          - RLT
          - DLY
          - EOD
          - BST
        required: false
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
            exclusiveMaximum: false
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      - description: Minimum number of milliseconds at which updates are sent.
        name: _subscriptionMinimumInterval
        in: query
        schema:
          type: number
          format: int32
          default: 5000
          x-enum-description:
          - 1 second
          - 5 seconds
          - 10 seconds
          - 30 seconds
          - 60 seconds
          - 300 seconds
          enum:
          - 1000
          - 5000
          - 10000
          - 30000
          - 60000
          - 300000
      responses:
        '200':
          $ref: '#/components/responses/GetPricesGet200Response'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /prices/list:
    get:
      tags:
      - Prices
      operationId: get/prices/list
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Factset Overview of Trading on the Most Recent Trading Day, Including the Latest Price, for a List of Notations.
      description: Overview of trading on the most recent trading day, including the latest price, for a list of notations.
      parameters:
      - name: identifiers
        in: query
        schema:
          description: Set of identifiers to resolve.
          type: array
          nullable: false
          items:
            type: string
            minLength: 3
            exclusiveMinimum: false
            maxLength: 50
            exclusiveMaximum: false
            pattern: ^[B-DF-HJ-NP-TV-Z0-9]{6}-[LR]$|^[A-Z0-9.#&*+]{1,47}-[A-Z0-9]{2,4}$|^[0-9]{3,20}$
          uniqueItems: true
          minItems: 1
          maxItems: 100
        required: true
        style: form
        explode: false
      - name: identifierType
        in: query
        schema:
          type: string
          description: Type of the identifier.
          x-enum-description:
          - MDG identifier of a listing.
          - FactSet market symbol of a listing.
          - Regional FactSet ticker symbol, identifying the primary listing in the region.
          - FactSet Permanent Identifier on listing level.
          - Regional FactSet Permanent Identifier, identifying the primary listing in the region.
          enum:
          - idNotation
          - tickerExchange
          - tickerRegion
          - fdsPermanentIdentifierListing
          - fdsPermanentIdentifierRegional
        required: true
      - name: quality
        in: query
        schema:
          type: string
          description: Quality of the price.
          default: DLY
          x-enum-description:
          - 'Real-time: intraday prices with minimal technical processing delays.'
          - 'Delayed: intraday prices with an exchange-imposed delay of usually 15 to 30 minutes.'
          - 'End-of-day: prices updated once per day after the close of trading, possibly with an exchange-imposed delay of several hours or days.'
          - 'Best: choose the price quality with the least delay, as entitled for the client.'
          enum:
          - RLT
          - DLY
          - EOD
          - BST
        required: false
      - name: sameQuality
        in: query
        schema:
          type: boolean
          default: true
          description: Ensure that the prices for all notations are of the same quality.
        required: false
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
            exclusiveMaximum: false
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      responses:
        '200':
          $ref: '#/components/responses/GetPricesList200Response'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /prices/bidAsk/get:
    get:
      tags:
      - Prices
      operationId: get/prices/bidAsk/get
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: true
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Factset Most Recent Bid and Ask Prices (best Bid / Offer) for a Notation.
      description: 'Most recent bid and ask prices (best bid / offer) for a notation.


        The endpoint is subscribable to provide push updates. See attribute `_subscriptionMinimalInterval` for valid update rates.'
      parameters:
      - name: identifier
        in: query
        schema:
          type: string
          pattern: ^[B-DF-HJ-NP-TV-Z0-9]{6}-[LR]$|^[A-Z0-9.#&*+]{1,47}-[A-Z0-9]{2,4}$|^[0-9]{3,20}$
          maxLength: 50
          exclusiveMaximum: false
          minLength: 3
          exclusiveMinimum: false
          description: Identifier to resolve.
        required: true
      - name: identifierType
        in: query
        schema:
          type: string
          description: Type of the identifier.
          x-enum-description:
          - MDG identifier of a listing.
          - FactSet market symbol of a listing.
          - Regional FactSet ticker symbol, identifying the primary listing in the region.
          - FactSet Permanent Identifier on listing level.
          - Regional FactSet Permanent Identifier, identifying the primary listing in the region.
          enum:
          - idNotation
          - tickerExchange
          - tickerRegion
          - fdsPermanentIdentifierListing
          - fdsPermanentIdentifierRegional
        required: true
      - name: quality
        in: query
        schema:
          type: string
          description: Quality of the price.
          default: DLY
          x-enum-description:
          - 'Real-time: intraday prices with minimal technical processing delays.'
          - 'Delayed: intraday prices with an exchange-imposed delay of usually 15 to 30 minutes.'
          - 'End-of-day: prices updated once per day after the close of trading, possibly with an exchange-imposed delay of several hours or days.'
          - 'Best: choose the price quality with the least delay, as entitled for the client.'
          enum:
          - RLT
          - DLY
          - EOD
          - BST
        required: false
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
            exclusiveMaximum: false
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      - description: Minimum number of milliseconds at which updates are send.
        name: _subscriptionMinimumInterval
        in: query
        schema:
          type: number
          format: int32
          default: 5000
          x-enum-description:
          - 1 second
          - 5 seconds
          - 10 seconds
          - 30 seconds
          - 60 seconds
          - 300 seconds
          enum:
          - 1000
          - 5000
          - 10000
          - 30000
          - 60000
          - 300000
      responses:
        '200':
          $ref: '#/components/responses/GetPricesBidAskGet200Response'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /prices/bidAsk/list:
    get:
      tags:
      - Prices
      operationId: get/prices/bidAsk/list
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Factset Most Recent Bid and Ask Prices (best Bid / Offer) for a List of Notations.
      description: Most recent bid and ask prices (best bid / offer) for a list of notations.
      parameters:
      - name: identifiers
        in: query
        schema:
          description: Set of identifiers to resolve.
          type: array
          nullable: false
          items:
            type: string
            minLength: 3
            exclusiveMinimum: false
            maxLength: 50
            exclusiveMaximum: false
            pattern: ^[B-DF-HJ-NP-TV-Z0-9]{6}-[LR]$|^[A-Z0-9.#&*+]{1,47}-[A-Z0-9]{2,4}$|^[0-9]{3,20}$
          uniqueItems: true
          minItems: 1
          maxItems: 100
        required: true
        style: form
        explode: false
      - name: identifierType
        in: query
        schema:
          type: string
          description: Type of the identifier.
          x-enum-description:
          - MDG identifier of a listing.
          - FactSet market symbol of a listing.
          - Regional FactSet ticker symbol, identifying the primary listing in the region.
          - FactSet Permanent Identifier on listing level.
          - Regional FactSet Permanent Identifier, identifying the primary listing in the region.
          enum:
          - idNotation
          - tickerExchange
          - tickerRegion
          - fdsPermanentIdentifierListing
          - fdsPermanentIdentifierRegional
        required: true
      - name: quality
        in: query
        schema:
          type: string
          description: Quality of the price.
          default: DLY
          x-enum-description:
          - 'Real-time: intraday prices with minimal technical processing delays.'
          - 'Delayed: intraday prices with an exchange-imposed delay of usually 15 to 30 minutes.'
          - 'End-of-day: prices updated once per day after the close of trading, possibly with an exchange-imposed delay of several hours or days.'
          - 'Best: choose the price quality with the least delay, as entitled for the client.'
          enum:
          - RLT
          - DLY
          - EOD
          - BST
        required: false
      - name: sameQuality
        in: query
        schema:
          type: boolean
          default: true
          description: Ensure that the prices for all notations are of the same quality.
        required: false
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
            exclusiveMaximum: false
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      responses:
        '200':
          $ref: '#/components/responses/GetPricesBidAskList200Response'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /prices/orderbook/aggregated/get:
    get:
      tags:
      - Prices
      operationId: get/prices/orderbook/aggregated/get
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: true
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Factset Orderbook Aggregated by Price.
      description: Orderbook aggregated by price.
      parameters:
      - name: identifier
        in: query
        schema:
          type: string
          pattern: ^[B-DF-HJ-NP-TV-Z0-9]{6}-[LR]$|^[A-Z0-9.#&*+]{1,47}-[A-Z0-9]{2,4}$|^[0-9]{3,20}$
          maxLength: 50
          exclusiveMaximum: false
          minLength: 3
          exclusiveMinimum: false
          description: Identifier to resolve.
        required: true
      - name: identifierType
        in: query
        schema:
          type: string
          description: Type of the identifier.
          x-enum-description:
          - MDG identifier of a listing.
          - FactSet market symbol of a listing.
          - Regional FactSet ticker symbol, identifying the primary listing in the region.
          - FactSet Permanent Identifier on listing level.
          - Regional FactSet Permanent Identifier, identifying the primary listing in the region.
          enum:
          - idNotation
          - tickerExchange
          - tickerRegion
          - fdsPermanentIdentifierListing
          - fdsPermanentIdentifierRegional
        required: true
      - name: quality
        in: query
        schema:
          type: string
          description: Quality of the price.
          default: RLT
          x-enum-description:
          - 'Real-time: intraday prices with minimal technical processing delays.'
          - 'Delayed: intraday prices with an exchange-imposed delay of usually 15 to 30 minutes.'
          - 'Best: choose the price quality with the least delay, as entitled for the client.'
          enum:
          - RLT
          - DLY
          - BST
        required: false
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
            exclusiveMaximum: false
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      - description: Non-negative number of milliseconds to throttle the update rate.
        name: _subscriptionMinimumInterval
        in: query
        schema:
          type: number
          format: int32
          minimum: 1000
          exclusiveMinimum: false
          maximum: 300000
          exclusiveMaximum: false
          default: 5000
          x-enum-description:
          - 1 second
          - 5 seconds
          - 10 seconds
          - 30 seconds
          - 1 minute
          - 5 minutes
          enum:
          - 1000
          - 5000
          - 10000
          - 30000
          - 60000
          - 300000
      responses:
        '200':
          $ref: '#/components/responses/GetPricesOrderbookAggregatedGet200Response'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /prices/orderbook/full/get:
    get:
      tags:
      - Prices
      operationId: get/prices/orderbook/full/get
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: true
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Factset Full Orderbook
      description: Full orderbook
      parameters:
      - name: identifier
        in: query
        schema:
          type: string
          pattern: ^[B-DF-HJ-NP-TV-Z0-9]{6}-[LR]$|^[A-Z0-9.#&*+]{1,47}-[A-Z0-9]{2,4}$|^[0-9]{3,20}$
          maxLength: 50
          exclusiveMaximum: false
          minLength: 3
          exclusiveMinimum: false
          description: Identifier to resolve.
        required: true
      - name: identifierType
        in: query
        schema:
          type: string
          description: Type of the identifier.
          x-enum-description:
          - MDG identifier of a listing.
          - FactSet market symbol of a listing.
          - Regional FactSet ticker symbol, identifying the primary listing in the region.
          - FactSet Permanent Identifier on listing level.
          - Regional FactSet Permanent Identifier, identifying the primary listing in the region.
          enum:
          - idNotation
          - tickerExchange
          - tickerRegion
          - fdsPermanentIdentifierListing
          - fdsPermanentIdentifierRegional
        required: true
      - name: quality
        in: query
        schema:
          type: string
          description: Quality of the price.
          default: RLT
          x-enum-description:
          - 'Real-time: intraday prices with minimal technical processing delays.'
          - 'Delayed: intraday prices with an exchange-imposed delay of usually 15 to 30 minutes.'
          - 'Best: choose the price quality with the least delay, as entitled for the client.'
          enum:
          - RLT
          - DLY
          - BST
        required: false
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
            exclusiveMaximum: false
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      - description: Non-negative number of milliseconds to throttle the update rate.
        name: _subscriptionMinimumInterval
        in: query
        schema:
          type: number
          format: int32
          minimum: 1000
          exclusiveMinimum: false
          maximum: 300000
          exclusiveMaximum: false
          default: 5000
          x-enum-description:
          - 1 second
          - 5 seconds
          - 10 seconds
          - 30 seconds
          - 1 minute
          - 5 minutes
          enum:
          - 1000
          - 5000
          - 10000
          - 30000
          - 60000
          - 300000
      responses:
        '200':
          $ref: '#/components/responses/GetPricesOrderbookFullGet200Response'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /prices/tradingSchedule/event/list:
    post:
      tags:
      - Prices
      operationId: post/prices/tradingSchedule/event/list
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: true
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Factset Sequence of Market-related Events.
      description: Sequence of market-related events like the opening time or closing time of a market of a specific notation.<br><br>Pagination to a previous page is not supported and `pagination.previous` is always `null`.
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostPricesTradingScheduleEventListRequest'
        required: true
      responses:
        '200':
          $ref: '#/components/responses/PostPricesTradingScheduleEventList200Response'
      parameters: []
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /prices/tradingSchedule/event/type/list:
    get:
      tags:
      - Prices
      operationId: get/prices/tradingSchedule/event/type/list
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Factset Trading Schedule Event Types.
      description: Trading schedule event types define the events which may occur during any period of trading. Types of trading schedule events are for instance OPEN, CLOSE, END_OF_DAY.
      responses:
        '200':
          $ref: '#/components/responses/GetPricesTradingScheduleEventTypeList200Response'
      parameters:
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
            exclusiveMaximum: false
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /prices/timeSeries/eod/list:
    post:
      tags:
      - Prices
      operationId: post/prices/timeSeries/eod/list
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: true
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Factset End-of-day Time Series Data for a Notation.
      description: End-of-day time series data for a notation. The resulting time series is always adjusted for currency changes.<br><br>Pagination to a previous page is not supported and `pagination.previous` is always `null`.
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostPricesTimeSeriesEodListRequest'
        required: true
      responses:
        '200':
          $ref: '#/components/responses/PostPricesTimeSeriesEodList200Response'
      parameters: []
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /prices/timeSeries/eod/subsample/get:
    post:
      tags:
      - Prices
      operationId: post/prices/timeSeries/eod/subsample/get
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Factset Single Subsample End-of-day Data for a Notation.
      description: Single subsample end-of-day data for a notation. The sample is always adjusted for currency changes. The subsample may exceed the entitled date range, but will be based only on days that are in the entitled range.
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostPricesTimeSeriesEodSubsampleGetRequest'
        required: true
      responses:
        '200':
          $ref: '#/components/responses/PostPricesTimeSeriesEodSubsampleGet200Response'
      parameters: []
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /prices/timeSeries/eod/subsample/list:
    post:
      tags:
      - Prices
      operationId: post/prices/timeSeries/eod/subsample/list
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: true
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Factset Subsampled End-of-day Time Series Data for a Notation.
      description: Subsampled end-of-day time series data for a notation. The resulting time series is always adjusted for currency changes. If a subsample's date range is not entirely within the maximally entitled date range, the subsample is excluded from the response.<br><br>Pagination to a previous page is not supported and `pagination.previous` is always `null`.
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostPricesTimeSeriesEodSubsampleListRequest'
        required: true
      responses:
        '200':
          $ref: '#/components/responses/PostPricesTimeSeriesEodSubsampleList200Response'
      parameters: []
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /prices/timeSeries/intraday/list:
    post:
      tags:
      - Prices
      operationId: post/prices/timeSeries/intraday/list
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: true
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Factset Intraday Time Series Data for a Notation.
      description: Intraday time series data for a notation.<br><br>Pagination to a previous page is not supported and `pagination.previous` is always `null`.
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostPricesTimeSeriesIntradayListRequest'
        required: true
      responses:
        '200':
          $ref: '#/components/responses/PostPricesTimeSeriesIntradayList200Response'
      parameters: []
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /prices/timeSeries/intraday/subsample/get:
    post:
      tags:
      - Prices
      operationId: post/prices/timeSeries/intraday/subsample/get
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Factset Single Subsample Intraday Data for a Notation.
      description: Single subsample intraday data for a notation. The subsample may exceed the entitled time range, but will be based only on ticks that are in the entitled range.
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostPricesTimeSeriesIntradaySubsampleGetRequest'
        required: true
      responses:
        '200':
          $ref: '#/components/responses/PostPricesTimeSeriesIntradaySubsampleGet200Response'
      parameters: []
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /prices/timeSeries/intraday/subsample/list:
    post:
      tags:
      - Prices
      operationId: post/prices/timeSeries/intraday/subsample/list
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: true
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Factset Subsampled Intraday Time Series Data for a Notation.
      description: Subsampled intraday time series data for a notation. If a subsample's time range is not entirely within the maximally entitled time range, the subsample is excluded from the response.<br><br>Pagination to a previous page is not supported and `pagination.previous` is always `null`.
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostPricesTimeSeriesIntradaySubsampleListRequest'
        required: true
      responses:
        '200':
          $ref: '#/components/responses/PostPricesTimeSeriesIntradaySubsampleList200Response'
      parameters: []
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /factset-terms-and-conditions/v1/redemption-prices:
    get:
      summary: Factset Return Redemption Prices for a Fixed Income Security.
      description: 'Returns Redemption Prices for the Fixed Income security.

        '
      tags:
      - Prices
      operationId: getFixedIncomeRedemptionPrices
      parameters:
      - $ref: '#/components/parameters/ids_2'
      - $ref: '#/components/parameters/categoriesRedemption'
      responses:
        '200':
          description: Fixed Income Negative Redemption Prices Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/redemptionPricesResponse'
              examples:
                Fixed Income Redemption Prices:
                  $ref: '#/components/examples/fixedIncomeRedemptionPricesResponse'
                Fixed Income Sinking Fund Redemption Prices:
                  $ref: '#/components/examples/FixedIncomeSinkingFundPricesResponse'
        '400':
          $ref: '#/components/responses/400_2'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      summary: Factset Return Redemption Prices for a List of Fixed Income Securities.
      description: 'Returns Redemption Prices for a list of Fixed Income securities.

        '
      tags:
      - Prices
      operationId: getFixedIncomeRedemptionPricesForList
      requestBody:
        description: Request object for Fixed Income Redemption Prices.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/redemptionPricesRequest'
            examples:
              Fixed Income Redemption Prices Request:
                $ref: '#/components/examples/fixedIncomeRedemptionPricesRequest'
        required: true
      responses:
        '200':
          description: Fixed Income Negative Redemption Prices Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/redemptionPricesResponse'
              examples:
                Fixed Income Redemption Prices:
                  $ref: '#/components/examples/fixedIncomeRedemptionPricesResponse'
                Fixed Income Sinking Fund Redemption Prices:
                  $ref: '#/components/examples/FixedIncomeSinkingFundPricesResponse'
        '400':
          $ref: '#/components/responses/400_2'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    rollingPeriod:
      description: Period of measure for the rolling cumulative return. This does not change display `frequency` but rather the underlying return calculation period. All periods are referencing actual periods of measure, not period-ends. For example, 1M rolling period will go back to that date the previous month, which is not always the month-end date.
      type: string
      enum:
      - 1D
      - 1W
      - 1M
      - 3M
      - 6M
      - 52W
      - 2Y
      - 3Y
      - 5Y
      - 10Y
    PostPricesTimeSeriesIntradayListRequest:
      x-property-sort:
      - data
      - meta
      description: Request Body
      required:
      - data
      type: object
      properties:
        data:
          type: object
          x-property-sort:
          - identifier
          - type
          - quality
          - range
          - newestFirst
          - applyTickCorrections
          - includeVolumeOnlyTicks
          - adjustments
          description: The data member contains the request's primary data.
          properties:
            identifier:
              type: object
              x-property-sort:
              - value
              - type
              description: Identifier and type.
              properties:
                value:
                  type: string
                  pattern: ^[B-DF-HJ-NP-TV-Z0-9]{6}-[LR]$|^[A-Z0-9.#&*+]{1,47}-[A-Z0-9]{2,4}$|^[0-9]{3,20}$
                  maxLength: 50
                  exclusiveMaximum: false
                  minLength: 3
                  exclusiveMinimum: false
                  description: Identifier to resolve.
                type:
                  type: string
                  description: Type of the identifier.
                  x-enum-description:
                  - MDG identifier of a listing.
                  - FactSet market symbol of a listing.
                  - Regional FactSet ticker symbol, identifying the primary listing in the region.
                  - FactSet Permanent Identifier on listing level.
                  - Regional FactSet Permanent Identifier, identifying the primary listing in the region.
                  enum:
                  - idNotation
                  - tickerExchange
                  - tickerRegion
                  - fdsPermanentIdentifierListing
                  - fdsPermanentIdentifierRegional
              required:
              - value
              - type
            type:
              type: string
              description: Type of the price as configured for the customer.
              default: trade
              x-enum-description:
              - Trade price (ordinary, auction, pre or post-trading).
              - Bid price.
              - Ask price.
              - Yield price.
              enum:
              - trade
              - bid
              - ask
              - yield
            quality:
              type: string
              description: Quality of the price.
              default: DLY
              x-enum-description:
              - 'Real-time: intraday prices with minimal technical processing delays.'
              - 'Delayed: intraday prices with an exchange-imposed delay of usually 15 to 30 minutes.'
              - 'Best: choose the price quality with the least delay, as entitled for the client.'
              enum:
              - RLT
              - DLY
              - BST
            range:
              type: object
              format: timeRange
              properties:
                start:
                  type: string
                  format: datetime
                  description: The starting point of the time range (inclusive). The data accessible in the past is limited to a few weeks at most.
                end:
                  type: string
                  format: datetime
                  description: The ending point of the time range (exclusive). Values in the future are not allowed.
              x-property-sort:
              - start
              - end
              required:
              - start
              - end
              description: Date and time range for the time series.
            newestFirst:
              type: boolean
              default: false
              description: Deliver the chronological last part of the requested data first.
            applyTickCorrections:
              type: string
              description: "This attribute represents the choice whether to apply insert, update, and delete corrections for individual ticks sent by the exchange or devised by FactSet Digital Solutions GmbH.\n\n If the exchange or FactSet Digital Solutions GmbH decides to correct data, a correction instruction tick is sent shortly (usually on the same trading day) after dissemination of the corresponding\noriginal tick (if any). The correction instruction is then applied, yielding a corrected view. For \"insert\" corrections, there is no original tick, and the corrected view contains the inserted tick. For \"update\" corrections, the corrected view contains the updated original tick. For \"delete\" corrections, the original tick is removed from the corrected view."
              default: none
              x-enum-description:
              - Select original tick data without applying any corrections.
              - Select corrected view.
              enum:
              - none
              - all
            includeVolumeOnlyTicks:
              type: boolean
              default: false
              description: Include ticks that contain a volume without a price.
            adjustments:
              type: object
              x-property-sort:
              - split
              description: Adjustments values returned.
              properties:
                split:
                  type: boolean
                  default: true
                  description: Adjustments are applied for corporate action effects due to the notation having a split, a reverse split, or a similar factor-based corporate action.
          required:
          - identifier
          - range
          example: example_value
        meta:
          type: object
          description: The meta member contains the meta information of the request.
          properties:
            attributes:
              $ref: '#/components/schemas/AttributesMember'
            pagination:
              type: object
              description: Pagination attributes for the cursor-based pagination strategy.
              properties:
                cursor:
                  type: string
                  maxLength: 50
                  exclusiveMaximum: false
                  description: Starting point as returned in the attributes `pagination.next` or `pagination.previous` by a prior invocation of this endpoint, or undefined (default).
                limit:
                  type: number
                  format: int32
                  minimum: 0
                  exclusiveMinimum: false
                  maximum: 500
                  exclusiveMaximum: false
                  default: 20
                  description: Non-negative maximum number of entries to return.
              x-property-sort:
              - cursor
              - limit
          x-property-sort:
          - attributes
          - pagination
          example: example_value
    pricesRequest:
      title: Prices Request Body
      description: Prices Request Body
      type: object
      properties:
        ids:
          $ref: '#/components/schemas/idsBatchMax5000'
        startDate:
          $ref: '#/components/schemas/startDate_3'
        endDate:
          $ref: '#/components/schemas/endDate'
        frequency:
          $ref: '#/components/schemas/frequency'
        currency:
          $ref: '#/components/schemas/requestCurrency'
        calendar:
          $ref: '#/components/schemas/calendar_2'
        adjust:
          $ref: '#/components/schemas/adjust_2'
        batch:
          $ref: '#/components/schemas/batch_2'
      required:
      - ids
    redemptionPricesResponse:
      title: Redemption Prices Response
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/redemptionPrice'
          example: []
    batch:
      description: 'Enables the ability to asynchronously "batch" the request, supporting a long-running request for up to 20 minutes. Upon requesting batch=Y, the service will respond back with an HTTP Status Code of 202. Once a batch request is submitted, use batch status to see if the job has been completed. Once completed, retrieve the results of the request via batch-result. When using Batch, ids limit is increased to 10000 ids per request, though limits on query string via GET method still apply. It''s advised to submit large lists of ids via POST method. Please note that the number of unique currencies present in the requested ids is limited to 50 per request.

        '
      type: string
      enum:
      - Y
      - N
      default: N
    ids:
      type: array
      items:
        type: string
      minItems: 1
      maxItems: 1000
      description: 'The requested Fund Identifier. FactSet Identifiers, tickers, CUSIP and SEDOL are accepted input. <p>***ids limit** =  1000 per request*</p> *<p>Make note, GET Method URL request lines are also limited to a total length of 8192 bytes (8KB). In cases where the service allows for thousands of ids, which may lead to exceeding this request line limit of 8KB, its advised for any requests with large request lines to be requested through the respective "POST" method.</p>*

        '
      example:
      - MABAX
      - FCNTX
    idsBatchMax10000:
      type: array
      items:
        type: string
      description: "The requested list of security identifiers. Accepted ID types include Market Tickers, SEDOL, ISINs, CUSIPs, or FactSet Permanent Ids. \n<p>ids limit =  1000 per non-batch request / 10000 per batch request for a single day and 50 per multi-day request</p>\n"
      example:
      - FDS-US
    BatchStatus:
      title: Batch Status
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: the id of batch request.
          example: abc123
        startTime:
          type: string
          format: date-time
          description: Time when the batch request is started. This is in Eastern Time Zone. The date-time format is expressed as [YYYY-MM-DD]T[HH:MM:SSS], following ISO 8601.
          example: '2026-01-15T10:30:00Z'
        endTime:
          type: string
          format: date-time
          description: Time when the batch request is ended. This is in Eastern Time Zone. The date-time format is expressed as [YYYY-MM-DD]T[HH:MM:SSS], following ISO 8601.
          nullable: true
          example: '2026-01-15T10:30:00Z'
        status:
          type: string
          enum:
          - queued
          - executing
          - created
          - failed
          example: queued
        error:
          $ref: '#/components/schemas/batchErrorObject'
    globalPricesResponse:
      type: object
      title: Prices Response
      properties:
        data:
          description: Array of Price Objects
          type: array
          items:
            $ref: '#/components/schemas/price'
          example: []
    rolloverResponse:
      type: object
      title: Rollover Response
[...]
