openapi: 3.2.0
info:
  description: '

    The BookBuilder API is a powerful tool that quickly combines FactSet''s

    detailed reports for companies of interest into polished pdfs that can be

    read, saved down, and shared with others.'
  title: FactSet BookBuilder Book API
  version: '1.11'
servers:
- url: https://api.factset.com/book-builder-api/
  description: Base URL Production
security:
- BasicAuth: []
tags:
- name: Book
paths:
  /v1/book-list:
    get:
      tags:
      - Book
      summary: Factset Check Out the Books That Are in the Book Library
      description: Retrieves the list of books that were previously created and are available in the client's book library
      responses:
        '200':
          description: Successful response contains book name, book ID, created date, shared status of the book and book type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Enable_BookList_Info'
        '401':
          description: Missing or invalid authentication
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    Enable_BookList_Info:
      title: Booklist Request
      description: Request to enable Book list information for the client.
      type: array
      items:
        properties:
          bookID:
            type: string
            description: Book ID
            example: 20200623094829450
          book_name:
            type: string
            description: Book Name
            example: Financials
          created_on:
            type: string
            description: Date on which the book was created
            example: 2020-6-23 9:48
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
