openapi: 3.0.3
info:
  title: Factset Analytics Datastore About Values API
  description: Allow clients to fetch precalculated Analytics through predeterministic URLs.
  contact:
    name: FactSet Research Systems
    url: https://developer.factset.com/contact
    email: api@factset.com
  license:
    name: Apache License, Version 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  version: 1.0.0
servers:
- url: https://api.factset.com
  description: Production
- url: https://api-sandbox.factset.com
  description: Sandbox
security:
- basicAuth: []
tags:
- name: Values
paths:
  /v1/{tenant}/entities/{entityCode}/values:
    get:
      operationId: getEntityValuesByCode
      tags:
      - Values
      summary: Factset Gets the Entity Values
      description: Gets the entity values for the specified entity
      parameters:
      - in: path
        name: tenant
        description: The code of the tenancy
        schema:
          type: string
        required: true
      - in: path
        name: entityCode
        description: The code of the entity
        schema:
          type: string
        required: true
      - in: query
        name: _sort
        description: The entity field to sort on. Can only be sorted on entity key, description or secondary key fields. Append "-" to sort in descending order. If no parameter given, it will be sorted by key field in ascending order by default
        required: false
        style: form
        explode: false
        schema:
          type: array
          maxItems: 1
          items:
            type: string
        examples:
          entity key field:
            value:
            - entity key field
            description: The name of the entity key field
          entity description field:
            value:
            - entity description field
            description: The name of the entity description field
          entity secondary key field:
            value:
            - entity secondary key field
            description: The name of the entity secondary key field
      - in: query
        name: _paginationLimit
        description: Non-negative maximum number of entries to return. Default is 25
        schema:
          type: integer
        examples:
          pageSize:
            value: 25
            description: Non-negative maximum number of entries to return
      - in: query
        name: _paginationOffset
        description: Non-negative number of entries to skip. Default is 0
        schema:
          type: integer
        examples:
          startIndex:
            value: 0
            description: Non-negative number of entries to skip
      - in: query
        name: showAll
        description: Whether to show all field values for each entity row. Value should either be 1 or 0. Default is 0 (false)
        schema:
          type: integer
        examples:
          showAll:
            value: 1
            description: 'Show all field values in a JSON array named "fieldsWithValues", with each array value being a string in the format of "**<FIELD_NAME> : <FIELD_VALUE>**". Both key and description field values will be included in this JSON array too.'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityFieldValueDTO'
        '400':
          description: The supplied entity code was either missing or invalid, or the entity was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
              example:
                errors:
                - id: ID of the error
                  code: parameterError
                  title: The entity code passed was invalid
        '401':
          description: Unauthorised
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
              example:
                errors:
                - id: ID of the error
                  code: notAuthenticated
                  title: User is not authenticated
        '403':
          description: No permissions to view datasources in VRS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
              example:
                errors:
                - id: ID of the error
                  code: notAuthorized
                  title: No permissions to view this item
        '404':
          description: The supplied entity code was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
              example:
                errors:
                - id: ID of the error
                  code: notFound
                  title: The entity code passed was not found
        '406':
          description: Unsupported Accept header. Header needs to be set to application/json.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
              example:
                errors:
                - id: ID of the error
                  code: notAcceptable
                  title: Unsupported Accept header. Header needs to be set to application/json
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    EntityFieldValueDTO:
      type: object
      properties:
        meta:
          type: object
          properties:
            pagination:
              type: object
              properties:
                total:
                  type: integer
                isEstimatedTotal:
                  type: boolean
            sort:
              type: array
              items:
                type: string
          example: example_value
        data:
          type: array
          items:
            properties:
              entityRowId:
                type: integer
              keyValue:
                type: string
              descriptionValue:
                type: string
              fieldsWithValues:
                type: array
                items:
                  type: string
          example: []
    Error:
      type: object
      properties:
        id:
          type: string
          example: abc123
        code:
          type: string
          example: example_value
        title:
          type: string
          example: Example Title
    ErrorList:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Error'
          example: []
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
externalDocs:
  url: https://developer.factset.com/api-catalog/analytics-datastore-api
  description: API Documentation
