openapi: 3.2.0
info:
  title: FactSet IRN Configuration Group API
  description: 'Config API allows users to read and update configuration and settings of

    the Internal Research Notes.'
  version: '1'
servers:
- url: https://api.factset.com/research/irn
  description: Production Server
- url: https://api-sandbox.factset.com/research/irn
  description: Sandbox
security:
- basicScheme: []
tags:
- name: Group
paths:
  /v1/group:
    get:
      tags:
      - Group
      summary: Factset Get Group Details
      operationId: GetGroup
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupConfigDto'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    SubjectSettingsDto:
      type: object
      properties:
        defaultId:
          type:
          - string
          - 'null'
          format: uuid
          example: '500123'
      additionalProperties: false
    RelatedContactsSettingsDto:
      type: object
      properties:
        isHidden:
          type: boolean
          example: true
        isMandatory:
          type: boolean
          example: true
        usePrevious:
          type: boolean
          example: true
      additionalProperties: false
    SentimentSettingsDto:
      type: object
      properties:
        isHidden:
          type: boolean
          example: true
        isMandatory:
          type: boolean
          example: true
        usePrevious:
          type: boolean
          example: true
        defaultId:
          type:
          - string
          - 'null'
          format: uuid
          example: '500123'
      additionalProperties: false
    GroupFieldsDto:
      type: object
      properties:
        title:
          $ref: '#/components/schemas/TitleSettingsDto'
        date:
          $ref: '#/components/schemas/DateSettingsDto'
        identifier:
          $ref: '#/components/schemas/IdentifierSettingsDto'
        subject:
          $ref: '#/components/schemas/SubjectSettingsDto'
        recommendation:
          $ref: '#/components/schemas/RecommendationSettingsDto'
        sentiment:
          $ref: '#/components/schemas/SentimentSettingsDto'
        link:
          $ref: '#/components/schemas/LinkSettingsDto'
        note:
          $ref: '#/components/schemas/NoteSettingsDto'
        source:
          $ref: '#/components/schemas/SourceSettingsDto'
        relatedSymbols:
          $ref: '#/components/schemas/RelatedSymbolsSettingsDto'
        relatedResearch:
          $ref: '#/components/schemas/RelatedResearchSettingsDto'
        relatedContacts:
          $ref: '#/components/schemas/RelatedContactsSettingsDto'
        team:
          $ref: '#/components/schemas/TeamSettingsDto'
        organizer:
          $ref: '#/components/schemas/OrganizerSettingsDto'
      additionalProperties: false
    IdentifierSettingsDto:
      type: object
      properties:
        allowEdit:
          type: boolean
          example: true
      additionalProperties: false
    LinkSettingsDto:
      type: object
      properties:
        isHidden:
          type: boolean
          example: true
        isMandatory:
          type: boolean
          example: true
        usePrevious:
          type: boolean
          example: true
      additionalProperties: false
    GroupConfigDto:
      type: object
      properties:
        Id:
          type: string
          format: uuid
          example: abc123
        Name:
          type:
          - string
          - 'null'
          example: Example Title
        Fields:
          $ref: '#/components/schemas/GroupFieldsDto'
      additionalProperties: false
    SourceSettingsDto:
      type: object
      properties:
        isHidden:
          type: boolean
          example: true
        isMandatory:
          type: boolean
          example: true
        usePrevious:
          type: boolean
          example: true
      additionalProperties: false
    RelatedResearchSettingsDto:
      type: object
      properties:
        isHidden:
          type: boolean
          example: true
        isMandatory:
          type: boolean
          example: true
        usePrevious:
          type: boolean
          example: true
      additionalProperties: false
    TitleSettingsDto:
      type: object
      properties:
        usePrevious:
          type: boolean
          example: true
      additionalProperties: false
    DateSettingsDto:
      type: object
      properties:
        allowEdit:
          type: boolean
          example: true
        isLocked:
          type: boolean
          example: true
      additionalProperties: false
    TeamSettingsDto:
      type: object
      properties:
        defaultId:
          type:
          - string
          - 'null'
          format: uuid
          example: '500123'
      additionalProperties: false
    NoteSettingsDto:
      type: object
      properties:
        isHidden:
          type: boolean
          example: true
        isMandatory:
          type: boolean
          example: true
        usePrevious:
          type: boolean
          example: true
        allowPersonal:
          type: boolean
          example: true
        defaultStatus:
          type:
          - string
          - 'null'
          example: example_value
        alternativeCustomFieldId:
          type:
          - string
          - 'null'
          format: uuid
          example: '500123'
      additionalProperties: false
    RecommendationSettingsDto:
      type: object
      properties:
        isHidden:
          type: boolean
          example: true
        isMandatory:
          type: boolean
          example: true
        usePrevious:
          type: boolean
          example: true
        defaultId:
          type:
          - string
          - 'null'
          format: uuid
          example: '500123'
      additionalProperties: false
    RelatedSymbolsSettingsDto:
      type: object
      properties:
        isHidden:
          type: boolean
          example: true
        isMandatory:
          type: boolean
          example: true
        usePrevious:
          type: boolean
          example: true
      additionalProperties: false
    OrganizerSettingsDto:
      type: object
      properties:
        isHidden:
          type: boolean
          example: true
        isMandatory:
          type: boolean
          example: true
      additionalProperties: false
  securitySchemes:
    basicScheme:
      type: http
      scheme: basic
