openapi: 3.2.0
info:
  title: Factset IRN API v1 Contact Custom Fields API
  description: Allows users to extract, create, update and configure IRN data.
  version: '1'
servers:
- url: https://api.factset.com/research/irn
  description: Production Server
- url: https://api-sandbox.factset.com/research/irn
  description: Sandbox
security:
- basicScheme: []
tags:
- name: Contact Custom Fields
paths:
  /v1/contact-custom-fields:
    get:
      tags:
      - Contact Custom Fields
      summary: Factset Get all the contact custom fields
      operationId: GetContactCustomFields
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ContactCustomFieldDto'
    post:
      tags:
      - Contact Custom Fields
      summary: Factset Create a contact custom field
      operationId: CreateContactCustomField
      requestBody:
        description: ContactCustomFieldSaveDto object to save
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/ContactCustomFieldSaveDto'
          application/json:
            schema:
              $ref: '#/components/schemas/ContactCustomFieldSaveDto'
          text/json:
            schema:
              $ref: '#/components/schemas/ContactCustomFieldSaveDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ContactCustomFieldSaveDto'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewItemDto'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
  /v1/contact-custom-fields/{contactCustomFieldId}:
    get:
      tags:
      - Contact Custom Fields
      summary: Factset Get a specific Contact custom field's details
      operationId: GetContactCustomField
      parameters:
      - name: contactCustomFieldId
        in: path
        description: contactCustomFieldId to get associated record
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactCustomFieldDto'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
    patch:
      tags:
      - Contact Custom Fields
      summary: Factset Edit a contact custom field
      operationId: PatchContactCustomField
      parameters:
      - name: contactCustomFieldId
        in: path
        description: contactCustomFieldId to update associated record
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        description: contactCustomFieldUpdateDto object to update
        content:
          application/json-patch+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Operation'
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Operation'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Operation'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Operation'
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
    delete:
      tags:
      - Contact Custom Fields
      summary: Factset Delete a contact custom field
      operationId: DeleteContactCustomField
      parameters:
      - name: contactCustomFieldId
        in: path
        description: contactCustomFieldId to delete associated record
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
components:
  schemas:
    NewItemDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
      additionalProperties: false
    ContactCustomFieldOptionDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type:
          - string
          - 'null'
        order:
          type: integer
          format: int32
      additionalProperties: false
    ContactCustomFieldFormulaDto:
      type: object
      properties:
        formula:
          maxLength: 2040
          type:
          - string
          - 'null'
        isScreening:
          type: boolean
          default: false
        symbol:
          type:
          - string
          - 'null'
      additionalProperties: false
    OperationType:
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
      - 5
      - 6
      type: integer
      format: int32
    ContactCustomFieldSaveDto:
      required:
      - code
      - isHidden
      - isMandatory
      - name
      - type
      type: object
      properties:
        code:
          maxLength: 32
          type: string
        name:
          maxLength: 100
          type: string
        type:
          $ref: '#/components/schemas/ContactCustomFieldType'
        isHidden:
          type: boolean
          default: false
        isMandatory:
          type: boolean
          default: false
        fieldFormula:
          $ref: '#/components/schemas/ContactCustomFieldFormulaDto'
        contactCustomFieldOptions:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ContactCustomFieldOptionSaveDto'
      additionalProperties: false
    FormulaConfigDto:
      type: object
      properties:
        formula:
          type:
          - string
          - 'null'
        formulaType:
          type:
          - string
          - 'null'
      additionalProperties: false
    Operation:
      type: object
      properties:
        operationType:
          $ref: '#/components/schemas/OperationType'
        path:
          type:
          - string
          - 'null'
        op:
          type:
          - string
          - 'null'
        from:
          type:
          - string
          - 'null'
        value: {}
      additionalProperties: false
    ContactCustomFieldOptionSaveDto:
      required:
      - name
      type: object
      properties:
        name:
          maxLength: 255
          type: string
      additionalProperties: false
    ContactCustomFieldDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
        code:
          type:
          - string
          - 'null'
        name:
          type:
          - string
          - 'null'
        type:
          type:
          - string
          - 'null'
        isHidden:
          type: boolean
        isMandatory:
          type: boolean
        formulaConfig:
          $ref: '#/components/schemas/FormulaConfigDto'
        contactCustomFieldOptions:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ContactCustomFieldOptionDto'
      additionalProperties: false
    ProblemDetails:
      type: object
      properties:
        type:
          type:
          - string
          - 'null'
        title:
          type:
          - string
          - 'null'
        status:
          type:
          - integer
          - 'null'
          format: int32
        detail:
          type:
          - string
          - 'null'
        instance:
          type:
          - string
          - 'null'
      additionalProperties: {}
    ContactCustomFieldType:
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
      - 5
      - 6
      - 7
      type: integer
      format: int32
  securitySchemes:
    basicScheme:
      type: http
      scheme: basic
