openapi: 3.0.3
info:
  title: Factset Analytics Datastore About Product Segments API
  description: Allow clients to fetch precalculated Analytics through predeterministic URLs.
  contact:
    name: FactSet Research Systems
    url: https://developer.factset.com/contact
    email: api@factset.com
  license:
    name: Apache License, Version 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  version: 1.0.0
servers:
- url: https://api.factset.com
  description: Production
- url: https://api-sandbox.factset.com
  description: Sandbox
security:
- basicAuth: []
tags:
- name: Product Segments
paths:
  /product-segments:
    get:
      tags:
      - Product Segments
      operationId: getEstimatesProductSegments
      summary: Factset Product Segments
      description: Returns historical and future period broker estimate consensus in a statement format for line items broken down by product and business.
      parameters:
      - $ref: '#/components/parameters/idParameter'
      - $ref: '#/components/parameters/periodicityParameter'
      - $ref: '#/components/parameters/schemaParameter'
      responses:
        '200':
          $ref: '#/components/responses/200OKStach'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '429':
          $ref: '#/components/responses/429TooManyRequests'
        '500':
          $ref: '#/components/responses/500InternalServerError'
        '503':
          $ref: '#/components/responses/503ServiceUnavailable'
components:
  schemas:
    Meta:
      type: object
      additionalProperties:
        type: string
        nullable: true
    ErrorResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/ErrorObject'
        meta:
          $ref: '#/components/schemas/Meta'
    Response:
      type: object
      properties:
        data:
          title: STACH
          description: Returns a STACH 2.0 row organized package
        meta:
          $ref: '#/components/schemas/Meta'
    ErrorObject:
      type: object
      properties:
        id:
          type: string
        code:
          type: string
        title:
          type: string
        links:
          type: object
          properties:
            about:
              type: string
        detail:
          type: string
        source:
          type: object
          properties:
            parameter:
              type: string
  responses:
    401Unauthorized:
      description: Missing or invalid authentication. Ensure you are logged in and have successfully generated an API KEY for the IP range you are connecting from. For further assistance, file an issue under "Connectivty - 401 or 403 Responses" using `Report Issue` at the top of this page, including the X-DataDirect-Request-Key from the header to assist in troubleshooting.
      headers:
        X-DataDirect-Request-Key:
          schema:
            type: string
          description: FactSet request ID
    429TooManyRequests:
      description: Too many requests - this API is rate-limited to 20 requests per second. For further assistance, file an issue under "Workflow & Throttling - 400 or 429 Response" using `Report Issue` at the top of this page, including the X-DataDirect-Request-Key from the header to assist in troubleshooting.
      headers:
        X-DataDirect-Request-Key:
          schema:
            type: string
          description: FactSet request ID
    200OKStach:
      description: Expected response; returns JSON data containing STACH 2.0 row organized package format
      headers:
        X-DataDirect-Request-Key:
          schema:
            type: string
          description: FactSet request ID
        Api-Supported-Versions:
          schema:
            type: string
          description: Supported API versions (semantic versioning)
        Api-Version:
          schema:
            type: string
          description: API version (semantic versioning)
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Response'
          examples:
            groupLevelResponse:
              $ref: '#/components/examples/groupLevelResponse'
            parentChildColumnsResponse:
              $ref: '#/components/examples/parentChildColumnsResponse'
    404NotFound:
      description: Not found. For further assistance, file an issue under "Performance - 404 and 500 Responses" using `Report Issue` at the top of this page, including the X-DataDirect-Request-Key from the header to assist in troubleshooting.
      headers:
        X-DataDirect-Request-Key:
          schema:
            type: string
          description: FactSet request ID
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            endpointNotFound:
              $ref: '#/components/examples/endpointNotFound'
    403Forbidden:
      description: User is forbidden access with current credentials. Reach out to your local FactSet Account Manager for assistance, or file an issue under "Connectivty - 401 or 403 Responses" using `Report Issue` at the top of this page, including the X-DataDirect-Request-Key from the header to assist in troubleshooting.
      headers:
        X-DataDirect-Request-Key:
          schema:
            type: string
          description: FactSet request ID
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            notAuthorized:
              $ref: '#/components/examples/notAuthorized'
    503ServiceUnavailable:
      description: Service unavailable. Typically a timeout, or result of a rejected request to prevent service overload. For further assistance, file an issue under "Performance - 404 and 500 Responses" using `Report Issue` at the top of this page, including the X-DataDirect-Request-Key from the header to assist in troubleshooting.
      headers:
        X-DataDirect-Request-Key:
          schema:
            type: string
          description: FactSet request ID
    400BadRequest:
      description: Bad Request. For further assistance, file an issue under "Workflow & Throttling - 400 or 429 Response" using `Report Issue` at the top of this page, including the X-DataDirect-Request-Key from the header to assist in troubleshooting.
      headers:
        X-DataDirect-Request-Key:
          schema:
            type: string
          description: FactSet request ID
        Api-Supported-Versions:
          schema:
            type: string
          description: Supported API versions (semantic versioning)
        Api-Version:
          schema:
            type: string
          description: API version (semantic versioning)
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            idRequiredParameterError:
              $ref: '#/components/examples/idRequiredParameterError'
            idInvalidParameterError:
              $ref: '#/components/examples/idInvalidParameterError'
            parameterErrorPeriodicity:
              $ref: '#/components/examples/parameterErrorPeriodicity'
    500InternalServerError:
      description: Server error. For further assistance, file an issue under "Performance - 404 and 500 Responses" using `Report Issue` at the top of this page, including the X-DataDirect-Request-Key from the header to assist in troubleshooting.
      headers:
        X-DataDirect-Request-Key:
          schema:
            type: string
          description: FactSet request ID
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            genericServerError:
              $ref: '#/components/examples/genericServerError'
  examples:
    notAuthorized:
      summary: not authorized
      value:
        errors:
        - id: 39314614-e607-465a-ba95-5bb79c362e23
          code: notAuthorized
          title: User is forbidden access with current credentials. For access, contact your FactSet sales representative
    groupLevelResponse:
      summary: (sample table group level columns response)
      description: Subset of rows and columns for an example response
      value:
        data:
          version: '2.0'
          tables:
            main:
              definition:
                columns:
                - id: lineItem
                  isDimension: true
                  type: string
                - id: period1
                  type: real
                - id: period2
                  type: real
              headersDefinition:
                columns:
                - id: dates_display
                  isDimension: true
                  type: string
                - id: dates_value
                  isDimension: true
                  isHidden: true
                  type: string
              data:
                rows:
                - rowType: Header
                  cells:
                  - null
                  - Aug' 15
                  - Aug' 16
                  headerCellDetails:
                    '0':
                      source: PRIMARY
                      columnIndex: 0
                    '1':
                      source: HEADERS
                      columnIndex: 0
                    '2':
                      source: HEADERS
                      columnIndex: 0
                - rowType: Header
                  cells:
                  - null
                  - '20150831'
                  - '20160831'
                  headerCellDetails:
                    '0':
                      source: PRIMARY
                      columnIndex: 0
                    '1':
                      source: HEADERS
                      columnIndex: 1
                    '2':
                      source: HEADERS
                      columnIndex: 1
                - cells:
                  - Net Income
                  - 241.050995
                  - 264.675995
                  rowMetadata:
                    metricEstimates:
                      value: NET_INC
                    category:
                      value: MAIN
                - cells:
                  - Net Income - Non GAAP
                  - 236.781006
                  - 264.675995
                  cellDetails:
                    '0':
                      groupLevel: '1'
                  rowMetadata:
                    metricEstimates:
                      value: NETBG
                    category:
                      value: DETAIL
                - cells:
                  - Net Income - GAAP
                  - 241.050995
                  - 338.815002
                  cellDetails:
                    '0':
                      groupLevel: '1'
                  rowMetadata:
                    category:
                      value: DETAIL
                columnMetadata:
                  period1:
                    items:
                      category:
                        value: ACTUAL
                  period2:
                    items:
                      category:
                        value: ACTUAL
        meta:
          requestId: FDS
          fsymId: SQFMK3-R
          schema: table_group_level
    parameterErrorPeriodicity:
      summary: periodicity parameter error
      value:
        errors:
        - id: 39314614-e607-465a-ba95-5bb79c362e23
          code: parameterError
          title: 'Invalid parameter: ''periodicity'''
    idInvalidParameterError:
      summary: generic parameter error (invalid parameter)
      value:
        errors:
        - id: 39314614-e607-465a-ba95-5bb79c362e23
          code: parameterError
          title: 'Invalid parameter(s): ''id'''
    parentChildColumnsResponse:
      summary: (sample table parent child columns response)
      description: Subset of rows and columns for an example response
      value:
        data:
          version: '2.0'
          tables:
            main:
              definition:
                columns:
                - id: lineItem
                  isDimension: true
                  type: string
                - id: lineItemChild1
                  isDimension: true
                  parentId: lineItem
                  type: string
                - id: period1
                  type: real
                - id: period2
                  type: real
              headersDefinition:
                columns:
                - id: dates_display
                  isDimension: true
                  type: string
                - id: dates_value
                  isDimension: true
                  isHidden: true
                  type: string
              data:
                rows:
                - rowType: Header
                  cells:
                  - null
                  - null
                  - Aug' 15
                  - Aug' 16
                  headerCellDetails:
                    '0':
                      source: PRIMARY
                      columnIndex: 0
                    '1':
                      source: PRIMARY
                      columnIndex: 1
                    '2':
                      source: HEADERS
                      columnIndex: 0
                    '3':
                      source: HEADERS
                      columnIndex: 0
                - rowType: Header
                  cells:
                  - null
                  - null
                  - '20150831'
                  - '20160831'
                  headerCellDetails:
                    '0':
                      source: PRIMARY
                      columnIndex: 0
                    '1':
                      source: PRIMARY
                      columnIndex: 1
                    '2':
                      source: HEADERS
                      columnIndex: 1
                    '3':
                      source: HEADERS
                      columnIndex: 1
                - cells:
                  - Net Income
                  - null
                  - 241.050995
                  - 264.675995
                  rowMetadata:
                    metricEstimates:
                      value: NET_INC
                    category:
                      value: MAIN
                - cells:
                  - Net Income
                  - Net Income - Non GAAP
                  - 236.781006
                  - 264.675995
                  rowMetadata:
                    metricEstimates:
                      value: NETBG
                    category:
                      value: DETAIL
                - cells:
                  - Net Income
                  - Net Income - GAAP
                  - 241.050995
                  - 338.815002
                  rowMetadata:
                    category:
                      value: DETAIL
                columnMetadata:
                  period1:
                    items:
                      category:
                        value: ACTUAL
                  period2:
                    items:
                      category:
                        value: ACTUAL
        meta:
          requestId: FDS
          fsymId: SQFMK3-R
          schema: table_parent_child_columns
    endpointNotFound:
      summary: endpoint not found
      value:
        errors:
        - id: 39314614-e607-465a-ba95-5bb79c362e23
          code: endpointNotFound
          title: The requested endpoint does not exist.
    genericServerError:
      summary: generic server error
      value:
        errors:
        - id: 39314614-e607-465a-ba95-5bb79c362e23
          code: genericServerError
          title: Unexpected error processing request
    idRequiredParameterError:
      summary: generic parameter error (missing parameter)
      value:
        errors:
        - id: 39314614-e607-465a-ba95-5bb79c362e23
          code: parameterError
          title: 'Missing required parameter(s): ''id'''
  parameters:
    periodicityParameter:
      name: periodicity
      in: query
      description: Periodicity or frequency of the fiscal periods.
      required: false
      schema:
        type: string
        enum:
        - ANN
        - QTR
        - SEMI
        - CAL
        default: ANN
    schemaParameter:
      name: schema
      in: query
      description: 'The schema that the data is returned as. The following are descriptions for the accepted values:

        - table_group_level - STACH 2.0 row organized package format with parent-child relationships represented using STACH group level cell metadata

        - table_parent_child_columns - STACH 2.0 row organized package format with parent-child relationships represented using STACH parent-child columns

        '
      required: false
      schema:
        type: string
        enum:
        - table_group_level
        - table_parent_child_columns
        default: table_parent_child_columns
    idParameter:
      name: id
      in: query
      description: Company Ticker
      required: true
      schema:
        type: string
        example: FDS
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
externalDocs:
  url: https://developer.factset.com/api-catalog/analytics-datastore-api
  description: API Documentation
