openapi: 3.2.0
info:
  title: Factset Identifiers API
  version: '1'
  description: 'Operations tagged Identifiers across 2 of this provider''s published API definitions: factset-irn-notes-api-openapi.yml, irn-notes-openapi-original.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.factset.com/research/irn
  description: Production Server
- url: https://api-sandbox.factset.com/research/irn
  description: Sandbox
security:
- FactSetApiKey: []
- FactSetOAuth2: []
tags:
- name: Identifiers
paths:
  /v1/identifiers:
    get:
      tags:
      - Identifiers
      summary: Factset Get All the Identifier Details for Given Identifiers
      operationId: GetIdentifiers
      parameters:
      - name: identifiers
        in: query
        description: Identifiers
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/IdentifierResolutionDto'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - url: https://api.factset.com/research/irn
      description: Production Server
    - url: https://api-sandbox.factset.com/research/irn
      description: Sandbox
components:
  schemas:
    IdentifierResolutionDto:
      type: object
      additionalProperties: false
    ProblemDetails:
      type: object
      properties:
        type:
          type:
          - string
          - 'null'
          example: example_value
        title:
          type:
          - string
          - 'null'
          example: Example Title
        status:
          type:
          - integer
          - 'null'
          format: int32
          example: 10
        detail:
          type:
          - string
          - 'null'
          example: example_value
        instance:
          type:
          - string
          - 'null'
          example: example_value
      additionalProperties: {}
    ProblemDetails_2:
      type: object
      properties:
        type:
          type:
          - string
          - 'null'
        title:
          type:
          - string
          - 'null'
        status:
          type:
          - integer
          - 'null'
          format: int32
        detail:
          type:
          - string
          - 'null'
        instance:
          type:
          - string
          - 'null'
      additionalProperties: {}
  securitySchemes:
    FactSetApiKey:
      type: http
      scheme: basic
    FactSetOAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://auth.factset.com/as/token.oauth2
          scopes: {}
externalDocs:
  description: API Documentation
  url: https://developer.factset.com/api-catalog/irn-notes-api#apiDocumentation
x-refined-from:
- factset-irn-notes-api-openapi.yml
- irn-notes-openapi-original.yml
