openapi: 3.0.3
info:
  title: Factset Analytics Datastore About Entities API
  description: Allow clients to fetch precalculated Analytics through predeterministic URLs.
  contact:
    name: FactSet Research Systems
    url: https://developer.factset.com/contact
    email: api@factset.com
  license:
    name: Apache License, Version 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  version: 1.0.0
servers:
- url: https://api.factset.com
  description: Production
- url: https://api-sandbox.factset.com
  description: Sandbox
security:
- basicAuth: []
tags:
- name: Entities
paths:
  /instrument/legalEntity/backgroundText/list:
    get:
      tags:
      - Entities
      operationId: get/instrument/legalEntity/backgroundText/list
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Factset Role-specific Background Texts of Legal Entities Related to an Instrument.
      description: Role-specific background texts of legal entities related to an instrument.
      parameters:
      - name: identifier
        in: query
        schema:
          type: string
          pattern: ^[B-DF-HJ-NP-TV-Z0-9]{6}-[SLR]$|^[A-Z0-9.#&*+]{1,47}-[A-Z0-9]{2,4}$|^[0-9]{3,20}$|^[B-DF-HJ-NP-TV-Z0-9]{6}[0-9]$|^[A-Z]{2}[A-Z0-9]{9}[0-9]$|^[A-Z1-9][A-Z0-9]{5}$|^[0-9]{1,9}$|^[A-Z0-9]{8}[0-9]$
          maxLength: 50
          exclusiveMaximum: false
          minLength: 3
          exclusiveMinimum: false
          description: Identifier to resolve.
        required: true
      - name: identifierType
        in: query
        schema:
          type: string
          description: Type of the identifier.
          x-enum-description:
          - MDG identifier of an instrument.
          - MDG identifier of a listing.
          - FactSet Permanent Identifier on security level.
          - FactSet Permanent Identifier on listing level.
          - Regional FactSet Permanent Identifier.
          - FactSet market symbol of a listing.
          - Regional FactSet ticker symbol.
          - SEDOL or IDII of a listing.
          - ISIN of an instrument.
          - WKN of an instrument.
          - Valor number of an instrument.
          - CUSIP or CINS identifier of an instrument
          enum:
          - idInstrument
          - idNotation
          - fdsPermanentIdentifierSecurity
          - fdsPermanentIdentifierListing
          - fdsPermanentIdentifierRegional
          - tickerExchange
          - tickerRegion
          - sedol
          - isin
          - wkn
          - valor
          - cusip
        required: true
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
            exclusiveMaximum: false
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      - name: _language
        in: query
        schema:
          type: string
          format: isoLanguage
          description: ISO 639-1 code of the language.
          maxLength: 2
          minLength: 2
          exclusiveMinimum: false
          exclusiveMaximum: false
      responses:
        '200':
          $ref: '#/components/responses/GetInstrumentLegalEntityBackgroundTextList200Response'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /instrument/legalEntity/complianceProperty/list:
    get:
      tags:
      - Entities
      operationId: get/instrument/legalEntity/complianceProperty/list
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Factset Role-specific Compliance Properties of Legal Entities Related to an Instrument.
      description: Role-specic compliance properties of legal entities related to an instrument.
      parameters:
      - name: identifier
        in: query
        schema:
          type: string
          pattern: ^[B-DF-HJ-NP-TV-Z0-9]{6}-[SLR]$|^[A-Z0-9.#&*+]{1,47}-[A-Z0-9]{2,4}$|^[0-9]{3,20}$|^[B-DF-HJ-NP-TV-Z0-9]{6}[0-9]$|^[A-Z]{2}[A-Z0-9]{9}[0-9]$|^[A-Z1-9][A-Z0-9]{5}$|^[0-9]{1,9}$|^[A-Z0-9]{8}[0-9]$
          maxLength: 50
          exclusiveMaximum: false
          minLength: 3
          exclusiveMinimum: false
          description: Identifier to resolve.
        required: true
      - name: identifierType
        in: query
        schema:
          type: string
          description: Type of the identifier.
          x-enum-description:
          - MDG identifier of an instrument.
          - MDG identifier of a listing.
          - FactSet Permanent Identifier on security level.
          - FactSet Permanent Identifier on listing level.
          - Regional FactSet Permanent Identifier.
          - FactSet market symbol of a listing.
          - Regional FactSet ticker symbol.
          - SEDOL or IDII of a listing.
          - ISIN of an instrument.
          - WKN of an instrument.
          - Valor number of an instrument.
          - CUSIP or CINS identifier of an instrument
          enum:
          - idInstrument
          - idNotation
          - fdsPermanentIdentifierSecurity
          - fdsPermanentIdentifierListing
          - fdsPermanentIdentifierRegional
          - tickerExchange
          - tickerRegion
          - sedol
          - isin
          - wkn
          - valor
          - cusip
        required: true
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
            exclusiveMaximum: false
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      - name: _language
        in: query
        schema:
          type: string
          format: isoLanguage
          description: ISO 639-1 code of the language.
          maxLength: 2
          minLength: 2
          exclusiveMinimum: false
          exclusiveMaximum: false
      responses:
        '200':
          $ref: '#/components/responses/GetInstrumentLegalEntityCompliancePropertyList200Response'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /events/entities:
    get:
      tags:
      - Entities
      x-factset-sdk-ignore: true
      operationId: getEventEntities
      description: Fetch FactSet entity IDs for events that match the filtering criteria
      parameters:
      - $ref: '#/components/parameters/createdParam'
      - $ref: '#/components/parameters/updatedParam'
      - $ref: '#/components/parameters/signalIdsParam'
      - $ref: '#/components/parameters/themesParam'
      - $ref: '#/components/parameters/categoriesParam'
      - $ref: '#/components/parameters/relevanceScoreParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/eventsEntities'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        '429':
          description: API Rate Limit Exceeded
          headers:
            Api-Version:
              $ref: '#/components/headers/Api-Version'
            Api-Supported-Versions:
              $ref: '#/components/headers/Api-Supported-Versions'
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimit-Limit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimit-Remaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rateLimitResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      tags:
      - Entities
      operationId: postEventEntities
      description: Fetch FactSet entity IDs for events that match the filtering criteria
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/eventsEntitiesPost'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/eventsEntities'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        '429':
          description: API Rate Limit Exceeded
          headers:
            Api-Version:
              $ref: '#/components/headers/Api-Version'
            Api-Supported-Versions:
              $ref: '#/components/headers/Api-Supported-Versions'
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimit-Limit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimit-Remaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rateLimitResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v1/{tenant}/entities/{entityCode}/values:
    get:
      operationId: getEntityValuesByCode
      tags:
      - Entities
      summary: Factset Gets the Entity Values
      description: Gets the entity values for the specified entity
      parameters:
      - in: path
        name: tenant
        description: The code of the tenancy
        schema:
          type: string
        required: true
      - in: path
        name: entityCode
        description: The code of the entity
        schema:
          type: string
        required: true
      - in: query
        name: _sort
        description: The entity field to sort on. Can only be sorted on entity key, description or secondary key fields. Append "-" to sort in descending order. If no parameter given, it will be sorted by key field in ascending order by default
        required: false
        style: form
        explode: false
        schema:
          type: array
          maxItems: 1
          items:
            type: string
        examples:
          entity key field:
            value:
            - entity key field
            description: The name of the entity key field
          entity description field:
            value:
            - entity description field
            description: The name of the entity description field
          entity secondary key field:
            value:
            - entity secondary key field
            description: The name of the entity secondary key field
      - in: query
        name: _paginationLimit
        description: Non-negative maximum number of entries to return. Default is 25
        schema:
          type: integer
        examples:
          pageSize:
            value: 25
            description: Non-negative maximum number of entries to return
      - in: query
        name: _paginationOffset
        description: Non-negative number of entries to skip. Default is 0
        schema:
          type: integer
        examples:
          startIndex:
            value: 0
            description: Non-negative number of entries to skip
      - in: query
        name: showAll
        description: Whether to show all field values for each entity row. Value should either be 1 or 0. Default is 0 (false)
        schema:
          type: integer
        examples:
          showAll:
            value: 1
            description: 'Show all field values in a JSON array named "fieldsWithValues", with each array value being a string in the format of "**<FIELD_NAME> : <FIELD_VALUE>**". Both key and description field values will be included in this JSON array too.'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityFieldValueDTO'
        '400':
          description: The supplied entity code was either missing or invalid, or the entity was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
              example:
                errors:
                - id: ID of the error
                  code: parameterError
                  title: The entity code passed was invalid
        '401':
          description: Unauthorised
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
              example:
                errors:
                - id: ID of the error
                  code: notAuthenticated
                  title: User is not authenticated
        '403':
          description: No permissions to view datasources in VRS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
              example:
                errors:
                - id: ID of the error
                  code: notAuthorized
                  title: No permissions to view this item
        '404':
          description: The supplied entity code was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
              example:
                errors:
                - id: ID of the error
                  code: notFound
                  title: The entity code passed was not found
        '406':
          description: Unsupported Accept header. Header needs to be set to application/json.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
              example:
                errors:
                - id: ID of the error
                  code: notAcceptable
                  title: Unsupported Accept header. Header needs to be set to application/json
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    errorItem:
      type: object
      required:
      - id
      - code
      - title
      properties:
        id:
          type: string
          format: uuid
          example: abc123
        code:
          type: string
          example: parameterError
        title:
          type: string
          example: Invalid type/value
        detail:
          type: string
          example: Value must be a valid UTC date/time that conforms to ISO 8601 format
        source:
          type: object
          properties:
            parameter:
              type: string
          example: example_value
    screenMeta:
      type: object
      required:
      - signalRequestId
      - dateRange
      properties:
        signalRequestId:
          type: string
          format: uuid
          example: '500123'
        dateRange:
          type: object
          properties:
            created:
              $ref: '#/components/schemas/DateTimeInterval'
            updated:
              $ref: '#/components/schemas/DateTimeInterval'
          example: example_value
        partial:
          type: object
          required:
          - isPartial
          - reason
          properties:
            isPartial:
              type: boolean
              description: Indicates that some of the matching entities are missing in the response.
            reason:
              type: string
              description: Describes why the response was sent with an incomplete list of entities.
          example: example_value
    Error:
      type: object
      properties:
        id:
          type: string
          example: abc123
        code:
          type: string
          example: example_value
        title:
          type: string
          example: Example Title
    rateLimitResponse:
      title: Rate Limit Error Object
      description: Error returned if any of the user's rate limit have been reached.
      properties:
        message:
          type: string
          example: API rate limit exceeded
    StatusObject:
      type: object
      properties:
        code:
          type: number
          format: int32
          description: The HTTP status code of the response, mirroring the code from the Status-Line of the HTTP response message (see [RFC2616] section 6.1).
          example: 42.5
      description: The status member contains the status code of the response.
      required:
      - code
    errorResponse:
      type: object
      required:
      - message
      properties:
        message:
          type: string
          description: A short description of the error.
          example: There was an error processing your request. Please try again later.
        errors:
          type: array
          items:
            $ref: '#/components/schemas/errorItem'
          description: Optional list of errors. e.g. Validation errors for multiple parameters
          example: []
    eventsEntities:
      type: object
      required:
      - data
      - meta
      properties:
        data:
          type: array
          items:
            type: string
            description: The FactSet entity ID of a company with an event
            example: 0016YD-E
          example: []
        meta:
          $ref: '#/components/schemas/screenMeta'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/errorItem'
          example: []
    DateTimeInterval:
      type: object
      description: 'Represents a valid date/time (UTC) interval. The upper bound of the interval is represented by the attribute **gt** or **gte**. The lower bound of the interval is presented by **lt** or **lte** The interval can contain either of the bounds or both. e.g. { "gt": "2021-05-01T00:00:00.000Z", "lt": "2021-05-08T00:00:00.000Z" }

        '
      minProperties: 1
      properties:
        gt:
          $ref: '#/components/schemas/DateTime'
        gte:
          $ref: '#/components/schemas/DateTime'
        lt:
          $ref: '#/components/schemas/DateTime'
        lte:
          $ref: '#/components/schemas/DateTime'
    eventsEntitiesPost:
      type: object
      properties:
        created:
          allOf:
          - $ref: '#/components/schemas/DateTimeInterval'
          description: A date/time (UTC) interval for filtering signal events based on their creation date. Defaults to NOW - 7 days if omitted. Users with limited access can only provide the default or a smaller date window.
          example: example_value
        updated:
          allOf:
          - $ref: '#/components/schemas/DateTimeInterval'
          description: A date/time (UTC) interval for filtering signal events based on their last updated date. Defaults to NOW - 7 days if omitted. Users with limited access can only provide the default or a smaller date window.
          example: example_value
        signalIds:
          type: string
          description: Comma delimited string of signalIds
          example: dilutionTrigger,freeCashFlow
        themes:
          type: string
          description: Comma delimited string of theme ids. Full list of signal themes can be viewed at /themes.
          example: example_value
        categories:
          type: string
          description: Comma delimited string of category ids. Full list of signal categories can be viewed at /categories.
          example: example_value
        userRelevanceScore:
          allOf:
          - $ref: '#/components/schemas/RelevanceScoreRange'
          description: A range for filtering signal events based on their relevancy score.
          example: example_value
    EntityFieldValueDTO:
      type: object
      properties:
        meta:
          type: object
          properties:
            pagination:
              type: object
              properties:
                total:
                  type: integer
                isEstimatedTotal:
                  type: boolean
            sort:
              type: array
              items:
                type: string
          example: example_value
        data:
          type: array
          items:
            properties:
              entityRowId:
                type: integer
              keyValue:
                type: string
              descriptionValue:
                type: string
              fieldsWithValues:
                type: array
                items:
                  type: string
          example: []
    DateTime:
      type: string
      format: date-time
      description: A date/time string in ISO 8601 format.
      example: '2021-01-01T00:00:00Z'
    ErrorList:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Error'
          example: []
    RelevanceScoreRange:
      type: object
      description: 'Represents a valid range for user relevancy score for signal events. The upper bound of the range is represented by the attribute **gt** or **gte**. The lower bound of the range is presented by **lt** or **lte** The range can contain either of the bounds or both. e.g. { "gt": 0.4, "lt": 0.8 }

        '
      minProperties: 1
      properties:
        gt:
          type: number
          format: float
          example: 42.5
        gte:
          type: number
          format: float
          example: 42.5
        lt:
          type: number
          format: float
          example: 42.5
        lte:
          type: number
          format: float
          example: 42.5
  parameters:
    categoriesParam:
      name: categories
      in: query
      schema:
        type: string
      description: Comma delimited string of category ids. Full list of signal categories can be viewed at /categories.
    relevanceScoreParam:
      name: userRelevanceScore
      in: query
      schema:
        $ref: '#/components/schemas/RelevanceScoreRange'
      style: deepObject
      explode: true
      description: A range for filtering signal events based on their relevancy score.
      examples:
        lowerBound:
          value:
            gte: 0
        upperBound:
          value:
            lt: 1
        bothBounds:
          value:
            gt: 0
            lt: 1
    signalIdsParam:
      name: signalIds
      in: query
      schema:
        type: string
        description: Comma delimited string of signalIds
      example: dilutionTrigger,freeCashFlow
    updatedParam:
      name: updated
      in: query
      schema:
        $ref: '#/components/schemas/DateTimeInterval'
      style: deepObject
      explode: true
      description: A date/time (UTC) interval for filtering signal events based on their last updated date. Defaults to NOW - 7 days if omitted. Users with limited access can only provide the default or a smaller date window.
      examples:
        default:
          value: {}
        lowerBound:
          $ref: '#/components/examples/lowerBound'
        upperBound:
          $ref: '#/components/examples/upperBound'
        bothBounds:
          $ref: '#/components/examples/bothBounds'
    createdParam:
      name: created
      in: query
      schema:
        $ref: '#/components/schemas/DateTimeInterval'
      style: deepObject
      explode: true
      description: A date/time (UTC) interval for filtering signal events based on their creation date. Defaults to NOW - 7 days if omitted. Users with limited access can only provide the default or a smaller date window.
      examples:
        default:
          value: {}
        lowerBound:
          $ref: '#/components/examples/lowerBound'
        upperBound:
          $ref: '#/components/examples/upperBound'
        bothBounds:
          $ref: '#/components/examples/bothBounds'
    themesParam:
      name: themes
      in: query
      schema:
        type: string
      description: Comma delimited string of theme ids. Full list of signal themes can be viewed at /themes.
  responses:
    GetInstrumentLegalEntityBackgroundTextList200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: object
                properties:
                  idInstrument:
                    nullable: true
                    type: string
                    format: id64
                    x-positive: true
                    description: MDG identifier of the instrument.
                  sourceIdentifier:
                    nullable: true
                    type: string
                    description: Identifier used in the request.
                  roles:
                    nullable: false
                    description: Role-specific background texts.
                    type: array
                    items:
                      type: object
                      nullable: false
                      x-property-sort:
                      - id
                      - name
                      - legalEntities
                      properties:
                        id:
                          nullable: true
                          type: number
                          format: id32
                          x-positive: true
                          description: Identifier of a role.
                        name:
                          nullable: true
                          type: string
                          format: localizedString
                          description: Name of the role.
                        legalEntities:
                          nullable: false
                          type: object
                          x-property-sort:
                          - id
                          - name
                          - backgroundTexts
                          description: Legal entities and their respective background texts with regard to the role.
                          properties:
                            id:
                              nullable: true
                              type: number
                              format: id32
                              x-positive: true
                              description: Identifier of a legal entity.
                            name:
                              nullable: true
                              type: string
                              format: localizedString
                              description: Name of the legal entity.
                            backgroundTexts:
                              nullable: false
                              type: object
                              x-property-sort:
                              - type
                              - body
                              description: List of background texts.
                              properties:
                                type:
                                  nullable: false
                                  type: object
                                  x-property-sort:
                                  - id
                                  - name
                                  description: Type of the background text.
                                  properties:
                                    id:
                                      nullable: true
                                      type: number
                                      format: id32
                                      x-positive: true
                                      description: Identifier of the type.
                                    name:
                                      nullable: true
                                      type: string
                                      format: localizedString
                                      description: Name of the type.
                                body:
                                  nullable: true
                                  type: string
                                  format: localizedString
                                  description: Body of the background text.
                description: Role-specific background texts of legal entities related to an instrument.
                nullable: false
                x-property-sort:
                - idInstrument
                - sourceIdentifier
                - roles
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                x-property-sort:
                - status
            x-property-sort:
            - data
            - meta
    GetInstrumentLegalEntityCompliancePropertyList200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: object
                properties:
                  idInstrument:
                    nullable: true
                    type: string
                    format: id64
                    x-positive: true
                    description: MDG identifier of the instrument.
                  sourceIdentifier:
                    nullable: true
                    type: string
                    description: Identifier used in the request.
                  roles:
                    nullable: false
                    description: Role-specific compliance properties.
                    type: array
                    items:
                      type: object
                      nullable: false
                      x-property-sort:
                      - id
                      - name
                      - legalEntities
                      properties:
                        id:
                          nullable: true
                          type: number
                          format: id32
                          x-positive: true
                          description: Identifier of a role.
                        name:
                          nullable: true
                          type: string
                          format: localizedString
                          description: Name of the role.
                        legalEntities:
                          nullable: false
                          type: array
                          items:
                            type: object
                            nullable: false
                            x-property-sort:
                            - id
                            - name
                            - complianceProperties
                            properties:
                              id:
                                nullable: true
                                type: number
                                format: id32
                                x-positive: true
                                description: Identifier of a legal entity.
                              name:
                                nullable: true
                                type: string
                                format: localizedString
                                description: Name of the legal entity.
                              complianceProperties:
                                nullable: false
                                type: array
                                items:
                                  type: object
                                  nullable: false
                                  x-property-sort:
                                  - id
                                  - name
                                  - description
                                  properties:
                                    id:
                                      nullable: true
                                      type: number
                                      format: id32
                                      x-positive: true
                                      description: Identifier of a compliance property.
                                    name:
                                      nullable: true
                                      type: string
                                      format: localizedString
                                      description: Name of the compliance property.
                                    description:
                                      nullable: true
                                      type: string
                                      format: localizedString
                                      description: Description of the compliance property.
                                description: List of compliance properties.
                          description: Legal entities and their respective compliance properties with regard to the role.
                description: Role-specific compliance properties of legal entities related to an instrument.
                nullable: false
                x-property-sort:
                - idInstrument
                - sourceIdentifier
                - roles
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                x-property-sort:
                - status
            x-property-sort:
            - data
            - meta
  examples:
    lowerBound:
      value:
        gt: '2022-01-01T00:00:00.000Z'
    upperBound:
      value:
        lt: '2022-01-02T00:00:00.000Z'
    bothBounds:
      value:
        gt: '2022-01-01T00:00:00.000Z'
        lt: '2022-01-02T00:00:00.000Z'
  headers:
    RateLimit-Limit:
      description: Total number of requests allowed in a specific time window. The time window is two seconds for regular API users and one week for limited access users.
      schema:
        type: integer
        example: 5
    RateLimit-Reset:
      description: Time remaining (in seconds) until the quota is reset.
      schema:
        type: integer
        example: 1000
    RateLimit-Remaining:
      description: Remaining number of requests in the current time window.
      schema:
        type: integer
        example: 4
    Api-Version:
      description: Full semantic version of the API.
      schema:
        type: string
        example: 1.0.0
    Api-Supported-Versions:
      description: Comma-separated list of supported major versions.
      schema:
        type: string
        example: '1'
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
externalDocs:
  url: https://developer.factset.com/api-catalog/analytics-datastore-api
  description: API Documentation
