openapi: 3.2.0
info:
  description: 'The BookBuilder API is a powerful tool that combines detailed reports for companies of interest. Save time by using a single source of knowledge instead of relying on multiple APIs to create a presentation ready PDF, also known as a Public Information Book(PIB). </br></br> Consistently create books with the same content/reports for different companies by defining templates with the set of reports saved for re-use. Or, use templates that are created by FactSet for quick use. </br></br> With our powerful API endpoints, you can get the information on companies of interest quickly where and when you need it. </br></br> '
  title: Factset BookBuilder Upload Custom Document API
  version: '1.11'
servers:
- url: https://api.factset.com/book-builder-api/
  description: Base URL Production
security:
- BasicAuth: []
tags:
- name: Upload Custom Document
paths:
  /v1/upload-custom-document:
    post:
      tags:
      - Upload Custom Document
      summary: Factset Upload a custom document
      description: Upload any thrid-party documents that need to be included in the final PDF. Once uploaded, the successful response will be a unique fileurl that can be used to add the files to the PDF output using the create-book endpoint. Supported files include Powerpoint, Word, RTF and PDF. The total size should not exceed 250MB and each file should not exceed 10MB.
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: array
                  items:
                    type: string
                    format: binary
                  minItems: 1
      responses:
        '200':
          description: Successful response contains file name, fileURL of the book uploaded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Upload_Document_Response'
        '400':
          description: Invalid ticker or Unknown error
        '401':
          description: Missing or invalid authentication
components:
  schemas:
    Upload_Document_Response:
      title: Upload Document Response
      description: Response to Upload Document.
      type: array
      items:
        properties:
          name:
            type: string
            description: Name of the uploaded file
            example: Custom Upload
          file_url:
            type: string
            description: FIle url
            example: b33f6b758f2b12562251e5396e21f68ad46648bf19a8f3a9e55f74
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
