openapi: 3.2.0
info:
  title: FactSet IRN Notes Identifiers API
  description: 'Notes API allows users to extract, create, update and delete their notes

    in the Internal Research Notes application.'
  version: '1'
servers:
- url: https://api.factset.com/research/irn
  description: Production Server
- url: https://api-sandbox.factset.com/research/irn
  description: Sandbox
security:
- FactSetApiKey: []
- FactSetOAuth2: []
tags:
- name: Identifiers
paths:
  /v1/identifiers:
    get:
      tags:
      - Identifiers
      summary: Factset Get All the Identifier Details for Given Identifiers
      operationId: GetIdentifiers
      parameters:
      - name: identifiers
        in: query
        description: Identifiers
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/IdentifierResolutionDto'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    IdentifierResolutionDto:
      type: object
      additionalProperties: false
    ProblemDetails:
      type: object
      properties:
        type:
          type:
          - string
          - 'null'
          example: example_value
        title:
          type:
          - string
          - 'null'
          example: Example Title
        status:
          type:
          - integer
          - 'null'
          format: int32
          example: 10
        detail:
          type:
          - string
          - 'null'
          example: example_value
        instance:
          type:
          - string
          - 'null'
          example: example_value
      additionalProperties: {}
  securitySchemes:
    FactSetApiKey:
      type: http
      scheme: basic
    FactSetOAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://auth.factset.com/as/token.oauth2
          scopes: {}
externalDocs:
  description: API Documentation
  url: https://developer.factset.com/api-catalog/irn-notes-api#apiDocumentation
