openapi: 3.2.0
info:
  title: Factset File API
  version: '1.0'
  description: 'Operations tagged File across 2 of this provider''s published API definitions: factset-procure-to-pay-scim-openapi.yml, factset-vermilion-api-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.factset.com/scim/v2/
  description: Production environment
- url: https://api.uat.factset.com/scim/v2/
  description: UAT environment
tags:
- name: File
paths:
  /FileManagerAudit:
    get:
      tags:
      - File
      summary: Factset Get File Manager Audit Data.
      security:
      - basicAuth: []
      responses:
        '200':
          $ref: '#/components/responses/fileManagerAuditSuccess'
        '500':
          $ref: '#/components/responses/internalServerError'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - url: https://api.factset.com/scim/v2/
      description: Production environment
    - url: https://api.uat.factset.com/scim/v2/
      description: UAT environment
  /v1/{tenant}/report-instances/{reportInstanceId}/results/{reportFileName}:
    get:
      operationId: getReportFile
      tags:
      - File
      summary: Factset Gets the Generated File
      description: Get the generated file for a report instance. Users can fetch the generated report once the genration is finished. The report instance id and the report file name are passed in as path paramters
      parameters:
      - in: path
        name: tenant
        description: The code of the tenancy
        schema:
          type: string
        required: true
      - in: path
        name: reportInstanceId
        description: Used to validate that report file name belongs to the report instance passed
        schema:
          type: string
        required: true
      - in: path
        name: reportFileName
        description: 'The report file name that has to be retrieved. report file name. E.g: xyz.pdf'
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Successful operation
        '400':
          description: The supplied report instance id was either missing or invalid or the report instance was not found. The supplied report file name was either invalid or not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
              example:
                errors:
                - id: ID of the error
                  code: parameterError
                  title: The ID passed is not a numerical value
        '401':
          description: Unauthorised
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
              example:
                errors:
                - id: ID of the error
                  code: notAuthenticated
                  title: User is not authenticated
        '403':
          description: No permissions to view the generated file in VRS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
              example:
                errors:
                - id: ID of the error
                  code: notAuthorized
                  title: No permissions to view this item
        '406':
          description: Unsupported Accept header. Header needs to be set to application/json.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
              example:
                errors:
                - id: ID of the error
                  code: notAcceptable
                  title: "Unsupported Accept header. Header needs to be set to\n    application/json"
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - FactSetApiKey: []
      - FactSetOAuth2: []
components:
  schemas:
    FileManagerAudit:
      type: array
      items:
        type: object
        properties:
          username:
            type: string
            description: The FactSet username associated with the file paths.
          paths:
            type: object
            description: Object containing all file paths and their associated attributes.
            additionalProperties:
              type: array
              description: A file path and its associated attributes.
              items:
                type: object
                description: Attributes of the file.
                properties:
                  entity:
                    type: object
                    description: The entity associated with the file's attributes.
                    properties:
                      name:
                        type: string
                        description: The name of the entity.
                      type:
                        type: string
                        description: The type of the entity.
                    required:
                    - name
                    - type
                  permissions:
                    type: object
                    description: Object describing the permissions the associated entity has regarding the associated file.
                    properties:
                      read:
                        type: boolean
                        description: Whether the associated entity has permission to read the associated file.
                      write:
                        type: boolean
                        description: Whether the associated entity has permission to write the associated file.
                      maintain:
                        type: boolean
                        description: Whether the associated entity has permission to maintain the associated file.
                    required:
                    - read
                    - write
                    - maintain
                  permission-override:
                    type: object
                    properties:
                      read:
                        type: boolean
                      write:
                        type: boolean
                      maintain:
                        type: boolean
                    required:
                    - read
                    - write
                    - maintain
                  inheritance-distance:
                    type: integer
                required:
                - entity
                - permissions
        required:
        - username
        - paths
      example:
      - username: fds_demo_va_sc
        paths:
          /sc/fds_demo_va_sc/:
          - entity:
              name: fds_demo_eur:245600
              type: user
            permissions:
              read: true
              write: true
              maintain: true
            permission-overrides:
              read: true
              write: true
              maintain: true
            inheritance-distance: 0
    ErrorList:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Error'
          example: []
    Error:
      type: object
      properties:
        id:
          type: string
          example: abc123
        code:
          type: string
          example: example_value
        title:
          type: string
          example: Example Title
  responses:
    fileManagerAuditSuccess:
      description: Success.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/FileManagerAudit'
    internalServerError:
      description: Internal server error.
      content:
        application/scim+json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
    FactSetOAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://auth.factset.com/as/token.oauth2
          scopes: {}
    FactSetApiKey:
      type: http
      scheme: basic
externalDocs:
  description: API Documentation
  url: https://developer.factset.com/api-catalog/vermilion-api
x-refined-from:
- factset-procure-to-pay-scim-openapi.yml
- factset-vermilion-api-openapi.yml
