openapi: 3.2.0
info:
  version: 2.1.0
  title: FactSet Fundamentals Segments API
  contact:
    name: FactSet Research Systems
    email: api@factset.com
    url: https://developer.factset.com/contact
  license:
    name: Apache License, Version 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  description: 'Gain access to current, comprehensive, and comparative information on securities in worldwide developed and emerging markets. Composed of annual and interim/quarterly data, detailed historical financial statement content, per-share data, and calculated ratios, FactSet Fundamentals provides you with the information you need for a global investment perspective.

    '
servers:
- url: https://api.factset.com/content/factset-fundamentals/v2
  description: Production
security:
- FactSetApiKey: []
- FactSetOAuth2: []
tags:
- name: Segments
paths:
  /segments:
    get:
      tags:
      - Segments
      summary: Factset Returns Company Segments data.
      operationId: getFdsSegments
      x-factset-sdk-ignore: true
      description: 'Retrieves Fundamentals Metrics data for individual companies.


        The ```/segments``` endpoint currently supports Long Running asynchronous requests up to **20 minutes** via batch parameter. Id limits are increased to 2000 ids per request when using batch capability.This 2000 id limit has been derived based on single metric for one day. This feature is available for all users.

        '
      parameters:
      - $ref: '#/components/parameters/idsBatchMax2000'
      - $ref: '#/components/parameters/segmentsPeriodicity'
      - $ref: '#/components/parameters/fiscalPeriodStart'
      - $ref: '#/components/parameters/fiscalPeriodEnd'
      - $ref: '#/components/parameters/segmentsMetrics'
      - $ref: '#/components/parameters/segmentType'
      - $ref: '#/components/parameters/batch'
      responses:
        '200':
          description: Segment data items
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/segmentsResponse'
              examples:
                Result of Single Company (AAPL-US), sales(SALES) details for the given period:
                  $ref: '#/components/examples/resultOfSingleIdwithSingleMetricItemSegment'
                Result of Multiple Companies' single metric item details:
                  $ref: '#/components/examples/resultOfMultipleIdwithSingleMetricItemSegment'
        '202':
          description: Batch request has been accepted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchStatusResponse'
              examples:
                Batch Request Accepted:
                  $ref: '#/components/examples/BatchStatusAcceptedResponse'
          headers:
            Location:
              description: Path to Batch Request status.
              schema:
                type: string
              example: batch-status?id=2df43e85-ea0f-45c6-bf4a-2baf4d1eaa3c
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
    post:
      tags:
      - Segments
      summary: Factset Returns Company Segment Data.
      description: 'Retrieves Sales Metrics data for specified companies.


        The ```/segments``` endpoint currently supports Long Running asynchronous requests up to **20 minutes** via batch parameter. Id limits are increased to 30000 ids per request when using batch capability.This 30000 id limit has been derived based on single metric for one day. This feature is available for all users.

        '
      operationId: getFdsSegmentsForList
      requestBody:
        required: true
        description: Request object for requesting segments data
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/segmentsRequest'
            examples:
              Single Company (AAPL-US), sales(SALES) details for the given period:
                $ref: '#/components/examples/postBodyOfSingleIdwithSingleMetricItemSegment'
              Multiple Companies single metric item details:
                $ref: '#/components/examples/postBodyOfMultipleIdwithSingleMetricItemSegment'
              Batch Request for (FDS-US), and Multiple Metrics (SALES):
                $ref: '#/components/examples/batchSegmentsRequestPost'
      responses:
        '200':
          description: Segment data items
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/segmentsResponse'
              examples:
                Result of Single Company (FDS-US), sales(FF_SALES) details for the given period:
                  $ref: '#/components/examples/resultOfSingleIdwithSingleMetricItemSegment'
                Result of Multiple companies single metric item details:
                  $ref: '#/components/examples/resultOfMultipleIdwithSingleMetricItemSegment'
        '202':
          description: Batch request has been accepted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchStatusResponse'
              examples:
                Batch Request Accepted:
                  $ref: '#/components/examples/BatchStatusAcceptedResponse'
          headers:
            Location:
              description: Path to Batch Request status.
              schema:
                type: string
              example: batch-status?id=2df43e85-ea0f-45c6-bf4a-2baf4d1eaa3c
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
components:
  schemas:
    errorObject:
      type: object
      properties:
        id:
          description: A UUID for this particular occurrence of the problem.
          type: string
          example: adb01824-252f-4420-b0c6-35a1e3507ef5
        code:
          description: status
          type: string
          example: Bad Request
        links:
          description: The Endpoint path {package}/version/{endpoint}
          type: object
          properties:
            about:
              description: details.
              type: string
              example: /factset-fundamentals/v1/{endpoint}
        title:
          description: The plain text error message
          type: string
          example: Validation Error
    errorResponse:
      type: object
      title: Error Response
      description: Error Default Response
      properties:
        errors:
          type: array
          description: An array containing errors
          items:
            $ref: '#/components/schemas/errorObject'
    segmentsMetrics:
      title: Metrics
      type: string
      description: "Metrics are the data items available for business and geographic segments, where\n  * **SALES**  = Sales/Revenue - Total revenues from the business line/geographic region,\n  * **OPINC** = Operating Income/Loss - Operating income generated from the business line/geographic region,\n  * **ASSETS** = Total Assets - Total assets from the business line/geographic region,\n  * **DEP** = Depreciation Exp - Depreciation expense resulting from the business line/geographic segment,\n  * **CAPEX** = Capital Expenditures - Capital expenditures resulting from the business line/geographic region\n"
      example: SALES
    segmentRequestBody:
      title: Segments Request Body
      description: Segments request body elements
      type: object
      properties:
        ids:
          $ref: '#/components/schemas/idsBatchMax30000'
        periodicity:
          $ref: '#/components/schemas/segmentsPeriodicity'
        fiscalPeriod:
          $ref: '#/components/schemas/fundamentalFiscalPeriod'
        metrics:
          $ref: '#/components/schemas/segmentsMetrics'
        segmentType:
          $ref: '#/components/schemas/segmentType'
        batch:
          $ref: '#/components/schemas/batch'
      required:
      - ids
      - metrics
    segmentsPeriodicity:
      title: Periodicity
      type: string
      description: "Periodicity or frequency of the fiscal periods, where\n  * **ANN** = Annual Original,\n  * **ANN_R** = Annual Latest - *Includes Restatements*,\n"
      enum:
      - ANN
      - ANN_R
      default: ANN
      example: ANN
    segmentType:
      title: segmentType
      type: string
      description: "Segment type for the metrics, where\n  * **BUS**  = Business,\n  * **GEO** = Geographic\n"
      enum:
      - BUS
      - GEO
      default: BUS
      example: BUS
    BatchStatusResponse:
      title: Batch Status Response
      type: object
      properties:
        data:
          $ref: '#/components/schemas/BatchStatus'
    fiscalPeriod:
      type: object
      properties:
        start:
          description: 'The fiscal period start expressed as YYYY-MM-DD.  Calendar date that will fall back to the most recently completed period during resolution.

            '
          type: string
          example: '2012-01-01'
        end:
          type: string
          description: 'The fiscal period end expressed YYYY-MM-DD.  Calendar date that will fall back to the most recent completed period during resolution.

            '
          example: '2014-01-01'
    segment:
      title: Segment Object
      type: object
      required:
      - label
      properties:
        requestId:
          description: Identifier that was used for the request.
          type: string
          example: AAPL-US
        fsymId:
          description: FactSet Regional Security Identifier. Six alpha-numeric characters, excluding vowels, with an -R suffix (XXXXXX-R). Identifies the security's best regional security data series per currency. For equities, all primary listings per region and currency are allocated a regional-level permanent identifier. The regional-level permanent identifier will be available once a SEDOL representing the region/currency has been allocated and the identifiers are on FactSet.
          type:
          - string
          - 'null'
          example: MH33D6-R
        metric:
          description: The requested `metric` input, representing the Fundamental Data Item. For a definition of the item please use the /fundamentals/v#/metrics endpoint.
          type:
          - string
          - 'null'
          example: SALES
        label:
          description: Report labels of the segment type requested.
          type:
          - string
          - 'null'
          example: iPhone
        date:
          description: Date for the period requested expressed in YYYY-MM-DD format
          type:
          - string
          - 'null'
          format: date
          example: '2022-09-30'
        value:
          $ref: '#/components/schemas/segmentValue'
    segmentsResponse:
      type: object
      title: Segments Response
      description: Array of Segments Objects
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/segment'
    BatchStatus:
      title: Batch Status
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: the id of batch request.
        startTime:
          type: string
          format: date-time
          description: Time when the batch request is started. This is in Eastern Time Zone. The date-time format is expressed as [YYYY-MM-DD]T[HH:MM:SSS], following ISO 8601.
        endTime:
          type:
          - string
          - 'null'
          format: date-time
          description: Time when the batch request is ended. This is in Eastern Time Zone. The date-time format is expressed as [YYYY-MM-DD]T[HH:MM:SSS], following ISO 8601.
        status:
          type: string
          enum:
          - queued
          - executing
          - created
          - failed
        error:
          $ref: '#/components/schemas/batchErrorObject'
    segmentValue:
      description: 'Value of the data metric requested. Note that the type of value is ''object'', and depending on the data metric requested, the value could be an object representation of a string or double. '
      oneOf:
      - type:
        - string
        - 'null'
      - type:
        - number
        - 'null'
        format: double
    segmentsRequest:
      title: Segments Request Body
      description: Segments request body elements
      type: object
      properties:
        data:
          $ref: '#/components/schemas/segmentRequestBody'
      required:
      - data
    idsBatchMax30000:
      type: array
      items:
        type: string
        minItems: 1
        maxItems: 30000
      description: "The requested list of security identifiers. Accepted ID types include Market Tickers, SEDOL, ISINs, CUSIPs, or FactSet Permanent Ids. \n<p>ids limit =  1000 per non-batch request / 30000 per batch request</p>\n"
      example:
      - FDS-US
    fundamentalFiscalPeriod:
      $ref: '#/components/schemas/fiscalPeriod'
    batch:
      description: 'Enables the ability to asynchronously "batch" the request, supporting a long-running request for up to 20 minutes. Upon requesting batch=Y, the service will respond back with an HTTP Status Code of 202. Once a batch request is submitted, use batch status to see if the job has been completed. Once completed, retrieve the results of the request via batch-result. When using Batch, ids limit is increased to 30000 ids per request, though limits on query string via GET method still apply. It''s advised to submit large lists of ids via POST method.

        '
      type: string
      enum:
      - Y
      - N
      default: N
    batchErrorObject:
      type:
      - object
      - 'null'
      properties:
        id:
          description: A UUID for this particular occurrence of the problem.
          type: string
          example: adb01824-252f-4420-b0c6-35a1e3507ef5
        code:
          description: status
          type: string
          example: GenericError
        title:
          description: The plain text error message
          type: string
          example: Validation Error
  examples:
    unsupportedMediaType:
      summary: Unsupported Media Type
      description: This bad request occurs when the media type passed in the request is not supported. Currently, the APIs only support 'application/json'.
      value:
        errors:
        - id: adb01824-252f-4420-b0c6
          code: Unsupported Media Type
          links:
            about: /factset-fundamentals/v2/{endpoint}
          title: text/html media type is not supported. Supported media types are application/json.
    badRequestDateFormat:
      summary: Bad Request - Date Format
      description: This bad request occurs when a request doesn't use the YYYY-MM-DD in the date parameters. To resolve this, convert your date to YYYY-MM-DD.
      value:
        errors:
        - id: adb01824-252f-4420-b0c6
          code: Bad Request
          links:
            about: /factset-fundamentals/v2/{endpoint}
          title: 'The date parameter must be in the following date format: YYYY-MM-DD'
    badRequestMalformedJSON:
      summary: Bad Request - Malformed JSON Request
      description: This error may be returned when the request body is specified as JSON. But is not in proper JSON format.
      value:
        errors:
        - id: adb01824-252f-4420-b0c6
          code: Bad Request
          links:
            about: /factset-fundamentals/v2/{endpoint}
          title: Malformed JSON Request
    badRequestInvalidParameters:
      summary: Bad Request - Passing invalid Fundamental Metric Id
      description: This error message occurs when the user is passing Invalid Metric Id. Please use the helper endpoint */metrics* for the sample Fundamental Metric Id.
      value:
        errors:
        - id: adb01824-252f-4420-b0c6
          code: Bad Request
          links:
            about: /factset-fundamentals/v2/{endpoint}
          title: 'Given input is not a valid value for parameter: `metrics`'
    forbidden:
      summary: Forbidden
      description: The USERNAME-SERIAL attempted to request the endpoint/ID which is not authorized to access. The request was legal, but the server is refusing to respond. Please reach out to FactSet Account Team for assistance with authorization.
      value:
        errors:
        - id: adb01824-252f-4420-b0c6
          code: Forbidden
          links:
            about: /factset-fundamentals/v2/{endpoint}
          title: User is not authorized for the id requested, please reach out to FactSet for support
    generalException:
      summary: Internal Server Error - General Exception
      description: This is the most general error that can be returned to by the service. Please `Report Issue` to FactSet.
      value:
        errors:
        - id: adb01824-252f-4420-b0c6
          code: Internal Server Error
          links:
            about: /factset-fundamentals/v2/{endpoint}
          title: Unexpected error
    resultOfMultipleIdwithSingleMetricItemSegment:
      summary: Result of Multiple Companies single metric item [SALES] details.
      description: 'Results of the FDS-US, AAPL-US sales data for the period 2012-01-01 to 2014-01-01 on an annual basis with the final data Values.

        '
      value:
        data:
        - requestId: AAPL-US
          fsymId: MH33D6-R
          metric: SALES
          date: 2012-09-28 00:00:00+00:00
          label: iPhone
          value: 141319
        - requestId: FDS-US
          fsymId: SQFMK3-R
          metric: SALES
          date: 2012-08-31 00:00:00+00:00
          label: Integrated Financial Information & Analytical Applications"
          value: 1221.179
    BatchStatusAcceptedResponse:
      description: Batch Status Accepted Response
      value:
        data:
          id: 2df43e85-ea0f-45c6-bf4a-2baf4d1eaa3c
          status: queued
          startTime: '2021-06-29T18:34:52.168Z'
          endTime: null
          error:
            id: 2df43e85-ea0f-45c6-bf4a-2baf4d1eaa3c
            code: GenericError
            title: the date parameter must be in YYYY-MM-DD format
    notWritable:
      summary: Internal Server Error - Not Writable
      description: This error may be returned when the server encounters an error writing the JSON response.
      value:
        errors:
        - id: adb01824-252f-4420-b0c6
          code: Internal Server Error
          links:
            about: /factset-fundamentals/v2/{endpoint}
          title: Error writing JSON output
    unauthenticated:
      summary: User Authentication Failed
      description: This occurs when a user is not properly authenticated or recognized by the service. Please double-check the USERNAME-SERIAL and API-Key used to request and ensure you are within the IP range specified for the Key. Report the Issue under 401 error for help with troubleshooting.
      value:
        errors:
        - id: adb01824-252f-4420-b0c6
          code: User Authentication Failed
          links:
            about: /factset-fundamentals/v2/{endpoint}
          title: User Authentication Failed.
    postBodyOfMultipleIdwithSingleMetricItemSegment:
      summary: Multiple Companies' single metric item [SALES] details.
      description: Post body request example to fetch details of the FDS-US, AAPL-US sales data for the period 2012-01-01 to 2014-01-01 on an annual basis with the final data Values.
      value:
        data:
          ids:
          - FDS-US
          - AAPL-US
          periodicity: ANN
          fiscalPeriod:
            start: '2012-01-01'
            end: '2014-01-01'
          metrics: SALES
          segmentType: BUS
    postBodyOfSingleIdwithSingleMetricItemSegment:
      summary: AAPL-US company sales[SALES] data for the given time period
      description: Requests the AAPL-US sales data for the period 2012-01-01 to 2014-01-01 on a quarterly basis with the preliminary data Values.
      value:
        data:
          ids:
          - AAPL-US
          periodicity: ANN
          fiscalPeriod:
            start: '2012-01-01'
            end: '2014-01-01'
          metrics: SALES
          segmentType: BUS
    badRequestRequiredParameter:
      summary: Bad Request - Required Parameter Missing
      description: This error message occurs when the request does not include the required parameters. Required parameters are indicated with a red asterisk symbol in the specification file.
      value:
        errors:
        - id: adb01824-252f-4420-b0c6
          code: Bad Request
          links:
            about: /factset-fundamentals/v2/{endpoint}
          title: The parameter 'ids' is required and may not be empty.
    badRequestMoreThanOneFundamentalMetricId:
      summary: Bad Request - More Than One Fundamental Metric Id
      description: This error message occurs when the user is passing more than one metric as input.
      value:
        errors:
        - id: adb01824-252f-4420-b0c6
          code: Bad Request
          links:
            about: /factset-fundamentals/v2/fundamentals
          title: 'getFdsFundamentals.metrics: size must be between 1 and 1'
    batchSegmentsRequestPost:
      summary: Batch Request for multiple companies single metric item [SALES] details.
      description: Post body request example to fetch details of the FDS-US, AAPL-US sales data for the period 2012-01-01 to 2014-01-01 on an annual basis with the final data Values.
      value:
        data:
          ids:
          - FDS-US
          - AAPL-US
          periodicity: ANN
          fiscalPeriod:
            start: '2012-01-01'
            end: '2014-01-01'
          metrics: SALES
          segmentType: BUS
          batch: Y
    badRequestReadTimeout:
      summary: Bad Request - Read Timeout
      description: This error may be returned if it takes more than 29 seconds to hear back from the data fetch service.
      value:
        errors:
        - id: adb01824-252f-4420-b0c6
          code: Bad Request
          links:
            about: /factset-fundamentals/v2/{endpoint}
          title: The request took too long. Try again with a smaller request.
    resultOfSingleIdwithSingleMetricItemSegment:
      summary: Result of Single Company single metric item [SALES] details.
      description: 'Results of the AAPL-US sales data for the period 2012-01-01 to 2014-01-01 on an annual basis with the preliminary data Values.

        '
      value:
        data:
        - requestId: AAPL-US
          fsymId: MH33D6-R
          metric: SALES
          date: 2012-09-28 00:00:00+00:00
          label: iPhone
          value: 141319
        - requestId: AAPL-US
          fsymId: MH33D6-R
          metric: SALES
          date: 2012-09-28 00:00:00+00:00
          label: iPad
          value: 19222
  responses:
    '403':
      description: The USERNAME-SERIAL attempted to request the endpoint is not authorized to access. The request was legal, but the server is refusing to respond. Please reach out to FactSet Account Team for assistance with authorization.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponse'
          examples:
            Bad Request - forbidden:
              $ref: '#/components/examples/forbidden'
    '400':
      description: Bad Request. This can occur for several reasons. Please review the "message" for more details.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponse'
          examples:
            Bad Request - Date Format:
              $ref: '#/components/examples/badRequestDateFormat'
            Bad Request - Missing Required Parameter:
              $ref: '#/components/examples/badRequestRequiredParameter'
            Bad Request - Invalid Parameter:
              $ref: '#/components/examples/badRequestInvalidParameters'
            Bad Request - More Than One Fundamental Metric Id:
              $ref: '#/components/examples/badRequestMoreThanOneFundamentalMetricId'
            Bad Request - Malformed JSON:
              $ref: '#/components/examples/badRequestMalformedJSON'
            Bad Request - Read Timeout:
              $ref: '#/components/examples/badRequestReadTimeout'
    '415':
      description: Unsupported Media Type. This error may be returned when the caller sends a resource in a format that is not accepted by the server. This can be fixed by ensuring that the Content-Type header is set to the correct value. In this instance, "application/json" would be the appropriate value.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponse'
          examples:
            Bad Request - Unsupported Media Type:
              $ref: '#/components/examples/unsupportedMediaType'
    '401':
      description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and have successfully generated an API KEY for the IP range you are connecting from. For more help, select the **Report Issue** in the top right corner of this Developer Portal specification card and choose Connectivity 401 or 403 Responses.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponse'
          examples:
            Bad Request - Date Format:
              $ref: '#/components/examples/unauthenticated'
    '500':
      description: Internal Server Error.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponse'
          examples:
            Internal Server Error - Not Writable:
              $ref: '#/components/examples/notWritable'
            Internal Server Error - General Exception:
              $ref: '#/components/examples/generalException'
  parameters:
    segmentsPeriodicity:
      name: periodicity
      in: query
      schema:
        type: string
        enum:
        - ANN
        - ANN_R
        default: ANN
      required: false
      description: "Periodicity or frequency of the fiscal periods, where\n  * **ANN**  = Annual - Original,\n  * **ANN_R** = Annual - Latest - *Includes Restatements*\n"
      examples:
        ANN:
          summary: ANN - Annual Original.
          value: ANN
        ANN_R:
          summary: ANN_R - Annual Latest.
          value: ANN_R
    fiscalPeriodStart:
      name: fiscalPeriodStart
      in: query
      required: false
      schema:
        type: string
        example: '2017-09-01'
      description: 'The fiscal period start expressed as YYYY-MM-DD.  Calendar date that will fall back to the most recent completed period during resolution.

        '
    idsBatchMax2000:
      name: ids
      in: query
      schema:
        type: array
        items:
          type: string
          minItems: 1
          maxItems: 2000
      required: true
      explode: false
      description: The requested list of security identifiers. Accepted ID types include Market Tickers, SEDOL, ISINs, CUSIPs, or FactSet Permanent Ids.<p>***ids limit** =  1000 per non-batch request / 2000 per batch request*</p> *<p>Make note, GET Method URL request lines are also limited to a total length of 8192 bytes (8KB). In cases where the service allows for thousands of ids, which may lead to exceeding this request line limit of 8KB, it's advised for any requests with large request lines to be requested through the respective "POST" method.</p>*
      examples:
        oneEquityId:
          summary: One Equity Market Identifier
          value:
          - AAPL-USA
        multipleEquityIds:
          summary: Multiple Equity Market Identifiers
          value:
          - FDS-US
          - AAPL-US
          - MSFT-US
    batch:
      name: batch
      in: query
      description: 'Enables the ability to asynchronously "batch" the request, supporting a long-running request for up to 20 minutes. Upon requesting batch=Y, the service will respond with an HTTP Status Code of 202.

        Once a batch request is submitted, use batch status to see if the job has been completed. Once completed, retrieve the results of the request via batch-result. When using Batch, ids limit is increased to 30000 ids per request, though limits on query string via GET method still apply. It''s advised to submit large lists of ids via POST method.

        '
      schema:
        type: string
        enum:
        - Y
        - N
        default: N
    fiscalPeriodEnd:
      name: fiscalPeriodEnd
      in: query
      required: false
      schema:
        type: string
        example: '2018-03-01'
      description: 'The fiscal period end expressed YYYY-MM-DD.  Calendar date that will fall back to the most recently completed period during resolution.

        '
    segmentType:
      name: segmentType
      in: query
      schema:
        type: string
        enum:
        - BUS
        - GEO
        default: BUS
      required: false
      description: "Segment type for the metrics, where\n  * **BUS**  = Business,\n  * **GEO** = Geographic\n"
      examples:
        BUS:
          summary: BUS - Business.
          value: BUS
        GEO:
          summary: GEO - Geographic.
          value: GEO
    segmentsMetrics:
      name: metrics
      in: query
      required: true
      explode: false
      description: "Metrics are the data items available for business and geographic segments, where\n  * **SALES**  = Sales/Revenue - Total revenues from the business line/geographic region,\n  * **OPINC** = Operating Income/Loss - Operating income generated from the business line/geographic region,\n  * **ASSETS** = Total Assets - Total assets from the business line/geographic region,\n  * **DEP** = Depreciation Exp - Depreciation expense resulting from the business line/geographic segment,\n  * **CAPEX** = Capital Expenditures - Capital expenditures resulting from the business line/geographic region\n"
      schema:
        type: string
        enum:
        - SALES
        - OPINC
        - ASSETS
        - DEP
        - CAPEX
        example: SALES
  securitySchemes:
    FactSetOAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://auth.factset.com/as/token.oauth2
          scopes: {}
    FactSetApiKey:
      type: http
      scheme: basic
externalDocs:
  description: API Documentation
  url: https://developer.factset.com/api-catalog/factset-fundamentals-api
