openapi: 3.0.3
info:
  title: Factset Analytics Datastore About Attributes API
  description: Allow clients to fetch precalculated Analytics through predeterministic URLs.
  contact:
    name: FactSet Research Systems
    url: https://developer.factset.com/contact
    email: api@factset.com
  license:
    name: Apache License, Version 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  version: 1.0.0
servers:
- url: https://api.factset.com
  description: Production
- url: https://api-sandbox.factset.com
  description: Sandbox
security:
- basicAuth: []
tags:
- name: Attributes
paths:
  /ofs/v2/attributes/{id}:
    get:
      summary: Factset Retrieve a Collection of Attribute Records.
      parameters:
      - name: id
        in: path
        required: true
        description: Globally unique identifier (GUID) of an attribute record
        schema:
          example: 904eb623-2b58-4dba-8e81-61e2ef889bb5
        type: string
        pattern: \{?[a-zA-Z0-9]{8}-[a-zA-Z0-9]{4}-[a-zA-Z0-9]{4}-[a-zA-Z0-9]{4}-[a-zA-Z0-9]{12}\}?
      responses:
        '200':
          $ref: '#/definitions/GetAttributeDto'
        '404':
          description: Attribute record was not found.
      tags:
      - Attributes
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /ofs/v2/attributes:
    get:
      summary: Factset Retrieve a Collection of Attribute Records.
      parameters:
      - name: limit
        in: query
        description: Limit the amount of records per page
        type: integer
        default: 10
      - name: page
        in: query
        description: Select which page to show
        type: integer
        default: 1
        minimum: 1
      responses:
        '200':
          description: A JSON representation of collection of Attribute records. Might be empty.
          schema:
            items:
              allOf:
              - $ref: '#/definitions/GetAttributeDto'
            type: array
          headers:
            X-Pagination:
              description: A JSON containing pagination information. (e.g totalCount,pageSize,currentPage,totalPages,previousPageLink and nextPageLink)
              type: string
        '422':
          description: Unprocessable entity. Validation error response containing the errors in a human readable form.
          schema:
            items:
              type: string
            type: array
      tags:
      - Attributes
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /ofs/v2/attributes/search:
    post:
      summary: Factset Retrieve a Collection of Attribute Records.
      parameters:
      - name: body
        in: body
        schema:
          $ref: '#/definitions/PostAttributeSearchDto'
        type: json
      responses:
        '200':
          description: A JSON representation of collection of Attribute records. Might be empty.
          schema:
            items:
              allOf:
              - $ref: '#/definitions/GetAttributeDto'
            type: array
          headers:
            X-Pagination:
              description: A JSON containing pagination information. (e.g totalCount,pageSize,currentPage,totalPages,previousPageLink and nextPageLink)
              type: string
        '422':
          description: Unprocessable entity. Validation error response containing the errors in a human readable form.
          schema:
            items:
              type: string
            type: array
      tags:
      - Attributes
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /ofs/v2/attributes/groups/{id}:
    get:
      summary: Factset Retrieve a Specific Attributes Group Record.
      parameters:
      - name: id
        in: path
        required: true
        description: Globally unique identifier (GUID) of an Attributes Group record
        schema:
          example: fd8f12e9-aa8b-4c2a-9e2e-a212f3ec29e1
        type: string
        pattern: \{?[a-zA-Z0-9]{8}-[a-zA-Z0-9]{4}-[a-zA-Z0-9]{4}-[a-zA-Z0-9]{4}-[a-zA-Z0-9]{12}\}?
      responses:
        '200':
          description: A JSON representation of an Attributes Group record.
          schema:
            $ref: '#/definitions/GetAttributesGroupDto'
        '404':
          description: Attributes Group record was not found.
      tags:
      - Attributes
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /ofs/v2/attributes/groups:
    get:
      summary: Factset Retrieve a Collection of Attributes Group Records.
      parameters:
      - name: limit
        in: query
        description: Limit the amount of records per page
        type: integer
        default: 10
      - name: page
        in: query
        description: Select which page to show
        type: integer
        default: 1
        minimum: 1
      responses:
        '200':
          description: A JSON representation of collection of Attributes Group records. Might be empty.
          schema:
            items:
              allOf:
              - $ref: '#/definitions/GetAttributesGroupDto'
            type: array
          headers:
            X-Pagination:
              description: A JSON containing pagination information. (e.g totalCount,pageSize,currentPage,totalPages,previousPageLink and nextPageLink)
              type: string
        '422':
          description: Unprocessable entity. Validation error response containing the errors in a human readable form.
          schema:
            items:
              type: string
            type: array
      tags:
      - Attributes
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /ofs/v2/attributes/groups/used:
    get:
      summary: Factset Retrieve a Collection of Attributes Group Records in Use.
      parameters:
      - name: limit
        in: query
        description: Limit the amount of records per page
        type: integer
        default: 10
      - name: page
        in: query
        description: Select which page to show
        type: integer
        default: 1
        minimum: 1
      responses:
        '200':
          description: A JSON representation of collection of Attributes Group records. Might be empty.
          schema:
            items:
              allOf:
              - $ref: '#/definitions/GetAttributesGroupDto'
            type: array
          headers:
            X-Pagination:
              description: A JSON containing pagination information. (e.g totalCount,pageSize,currentPage,totalPages,previousPageLink and nextPageLink)
              type: string
        '422':
          description: Unprocessable entity. Validation error response containing the errors in a human readable form.
          schema:
            items:
              type: string
            type: array
      tags:
      - Attributes
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /ofs/v2/attributes/groups/search:
    post:
      summary: Factset Retrieve a Collection of Attributes Group Records.
      parameters:
      - name: body
        in: body
        schema:
          $ref: '#/definitions/PostAttributesGroupSearchDto'
        type: json
      responses:
        '200':
          description: A JSON representation of collection of Attributes Group records. Might be empty.
          schema:
            items:
              allOf:
              - $ref: '#/definitions/GetAttributesGroupDto'
            type: array
          headers:
            X-Pagination:
              description: A JSON containing pagination information. (e.g totalCount,pageSize,currentPage,totalPages,previousPageLink and nextPageLink)
              type: string
        '422':
          description: Unprocessable entity. Validation error response containing the errors in a human readable form.
          schema:
            items:
              type: string
            type: array
      tags:
      - Attributes
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
definitions:
  PostAttributeSearchDto:
    properties:
      limit:
        description: Limit the amount of records per page.
        example: 10
        type: integer
        default: 10
        maximum: 300
      page:
        description: Select which page to show.
        example: 1
        type: integer
        default: 1
        minimum: 1
      sort:
        description: Sort according to  specific field value.
        example: name:asc
        type: string
        default: name:asc
      fields:
        description: Fetch only specific fields. The fields' names separated by a comma.
        example: name,groupId
        type: string
      search:
        description: Search for terms in certain fields.
        example: name:Global,name:Europe
        type: string
      filter:
        description: Filter against specific field values.
        example: name:Europe:Global
        type: string
    type: object
  GetAttributesGroupDto:
    description: A Json representation of an Attributes Group record.
    properties:
      id:
        example: fd8f12e9-aa8b-4c2a-9e2e-a212f3ec29e1
        type: string
      name:
        example: Region/Country
        type: string
      prodType:
        example: Data Feed
        type: string
      color:
        example: tag-color-2
        type: string
      type:
        example: checkbox
        type: string
      selection:
        example: multi
        type: string
      created:
        example: 1531815425
        type: integer
      updated:
        example: 1531815425
        type: integer
      attributes:
        example:
        - id: 904eb623-2b58-4dba-8e81-61e2ef889bb5
          name: Europe
          groupId: fd8f12e9-aa8b-4c2a-9e2e-a212f3ec29e1
          prodType: Data Feed
          created: 1531815425
          updated: 1531815425
          isUsed: true
        - id: 8edfdf11-ce9a-45e2-831a-e6d7717736c9
          name: Global
          groupId: fd8f12e9-aa8b-4c2a-9e2e-a212f3ec29e1
          prodType: Data Feed
          created: 1531815424
          updated: 1531815424
          isUsed: true
        items:
          properties:
            name:
              example: Europe
              type: string
            groupId:
              example: fd8f12e9-aa8b-4c2a-9e2e-a212f3ec29e1
              type: string
            prodType:
              example: Data Feed
              type: string
            id:
              example: 904eb623-2b58-4dba-8e81-61e2ef889bb5
              type: string
            created:
              example: 1531815425
              type: integer
            updated:
              example: 1531815425
              type: integer
            isUsed:
              example: true
              type: boolean
          type: object
        type: array
    type: object
  PostAttributesGroupSearchDto:
    properties:
      limit:
        description: Limit the amount of records per page.
        example: 10
        type: integer
        default: 10
        maximum: 300
      page:
        description: Select which page to show.
        example: 1
        type: integer
        default: 1
        minimum: 1
      sort:
        description: Sort according to  specific field value.
        example: name:asc
        type: string
        default: name:asc
      fields:
        description: Fetch only specific fields. The fields' names separated by a comma.
        example: name,prodType
        type: string
      search:
        description: Search for terms in certain fields.
        example: name:Country,prodType:Data Feed
        type: string
      filter:
        description: Filter against specific field values.
        example: name:Region/Country
        type: string
    type: object
  GetAttributeDto:
    properties:
      id:
        example: 904eb623-2b58-4dba-8e81-61e2ef889bb5
        type: string
      name:
        example: Europe
        type: string
      groupId:
        example: fd8f12e9-aa8b-4c2a-9e2e-a212f3ec29e1
        type: string
      groupName:
        example: Region/Country
        type: string
      prodType:
        example: Data Feed
        type: string
      created:
        example: 1531815425
        type: integer
      updated:
        example: 1531815425
        type: integer
    type: object
externalDocs:
  url: https://developer.factset.com/api-catalog/analytics-datastore-api
  description: API Documentation
