openapi: 3.0.3
info:
  title: Factset Analytics Datastore About Proceeds API
  description: Allow clients to fetch precalculated Analytics through predeterministic URLs.
  contact:
    name: FactSet Research Systems
    url: https://developer.factset.com/contact
    email: api@factset.com
  license:
    name: Apache License, Version 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  version: 1.0.0
servers:
- url: https://api.factset.com
  description: Production
- url: https://api-sandbox.factset.com
  description: Sandbox
security:
- basicAuth: []
tags:
- name: Proceeds
paths:
  /factset-terms-and-conditions/v1/use-of-proceeds:
    get:
      summary: Factset Return Use of Proceeds for a Fixed Income Security.
      description: 'Returns Use of Proceeds for the Fixed Income security.

        '
      tags:
      - Proceeds
      operationId: getFixedIncomeUseOfProceeds
      parameters:
      - $ref: '#/components/parameters/ids'
      responses:
        '200':
          description: Fixed Income Use of Proceeds Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/useOfProceedsResponse'
              examples:
                Fixed Income Use of Proceeds:
                  $ref: '#/components/examples/fixedIncomeUseOfProceedsResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      summary: Factset Return Use of Proceeds for a List of Fixed Income Securities.
      description: 'Returns Use of Proceeds for a list of Fixed Income securities.

        '
      tags:
      - Proceeds
      operationId: getFixedIncomeUseOfProceedsForList
      requestBody:
        description: Request object for Fixed Income Use of Proceeds.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/termsAndConditionsScalarRequest'
            examples:
              Fixed Income Use of Proceeds Request:
                $ref: '#/components/examples/FixedIncomeUseOfProceedsRequest'
        required: true
      responses:
        '200':
          description: Fixed Income Use of Proceeds Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/useOfProceedsResponse'
              examples:
                Fixed Income Use of Proceeds:
                  $ref: '#/components/examples/fixedIncomeUseOfProceedsResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  examples:
    badRequestInvalidParameters:
      summary: Bad Request - Invalid Parameters
      description: This error message occurs when a request parameter is used in which is not recognized by the service. Please revise your request to include only the parameters listed in the specification. Typical causes are spelling mistakes and use of improper casing.
      value:
        status: Bad Request
        timestamp: '2020-06-12 15:58:54.068'
        path: /factset-terms-and-conditions/v1/{endpoint}
        message: 'Invalid Parameter (s): fakeParameterName1 fakeParameterName2. Please modify your request to use parameters outlined in the specification for this endpoint.'
        subErrors: null
    notWritable:
      summary: Internal Server Error - Not Writable
      description: This error may be returned when the server encounters an error writing the JSON response.
      value:
        status: Internal Server Error
        timestamp: '2019-11-05 09:48:29.18'
        path: /factset-terms-and-conditions/v1/{endpoint}
        message: Error writing JSON output
        subErrors: null
    fixedIncomeUseOfProceedsResponse:
      description: Fixed Income Use of Proceeds Response
      value:
        data:
        - requestId: W7519AAG
          fsymId: WLB9DF-S
          useOfProceeds: Potential Future Mergers & Acquisitions
        - requestId: W7519AAG
          fsymId: WLB9DF-S
          useOfProceeds: Refinance
        - requestId: W7519AAG
          fsymId: WLB9DF-S
          useOfProceeds: General Corporate Purposes
        - requestId: W7519AAG
          fsymId: WLB9DF-S
          useOfProceeds: Investment in Marketable Securities
    unsupportedMediaType:
      summary: Unsupported Media Type
      description: This bad request occurs when the media type passed in the request is not supported. Currently the APIs only support 'application/json'.
      value:
        status: Unsupported Media Type
        timestamp: '2019-11-05 09:42:27.237'
        path: /factset-terms-and-conditions/v1/{endpoint}
        message: text/html media type is not supported. Supported media types are application/json
        subErrors: null
    generalException:
      summary: Internal Server Error - General Exception
      description: This is the most general error that can be returned to by the service. Please `Report Issue` to FactSet.
      value:
        status: Internal Server Error
        timestamp: '2019-11-01 10:36:01.944'
        path: /factset-terms-and-conditions/v1/{endpoint}
        message: Unexpected error
        subErrors: null
    badRequestReadTimeout:
      summary: Bad Request - Read Timeout
      description: This error may be returned if it takes more than 29 seconds to hear back from the data fetch service.
      value:
        status: Bad Request
        timestamp: '2019-11-04 16:18:38.949'
        path: /factset-terms-and-conditions/v1/{endpoint}
        message: The request took too long. Try again with a smaller request.
        subErrors: null
    forbidden:
      summary: Forbidden
      description: The USERNAME-SERIAL attempted to request the endpoint is not authorized to access. The request was a legal request, but the server is refusing to respond. Please reach out to FactSet Account Team for assistance with authorization.
      value:
        status: Forbidden
        timestamp: '2020-06-12 16:08:51.731'
        path: /factset-terms-and-conditions/v1/{endpoint}
        message: USERNAME-SERIAL does not have permission to use /factset-terms-and-conditions/v1/{endpoint}
        subErrors: null
    unauthenticated:
      summary: User Authentication Failed
      description: This occurs when a user is not properly authenticated or recognized by the service. Please double check the USERNAME-SERIAL and API-Key used to request and ensure you are within the IP range specified for the Key. Report Issue under 401 error for help with troubleshooting.
      value:
        status: User Authentication Failed
        timestamp: '2019-10-31 16:08:07.945'
        path: /factset-terms-and-conditions/v1/{endpoint}
        message: User Authentication Failed.
        subErrors: null
    badRequestMalformedJSON:
      summary: Bad Request - Malformed JSON Request
      description: This error may be returned when the request body is specified as JSON, but is not in proper JSON format.
      value:
        status: Bad Request
        timestamp: '2019-11-05 09:48:29.18'
        path: /factset-terms-and-conditions/v1/{endpoint}
        message: Malformed JSON Request
        subErrors: null
    FixedIncomeUseOfProceedsRequest:
      description: Fixed Income Use of Proceeds Request
      value:
        ids:
        - W7519AAG
    badRequestRequiredParameter:
      summary: Bad Request - Required Parameter Missing
      description: This error message occurs when the request does not include the required parameters. Required parameters are indicated with a red asterisks symbol in the specification file.
      value:
        status: Bad Request
        timestamp: '2020-06-12 15:48:42.016'
        path: /factset-terms-and-conditions/v1/{endpoint}
        message: The parameter 'ids' is required and may not be empty.
        subErrors: null
  responses:
    '401':
      description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and have successfully generated an API KEY for the IP range you are connecting from. For more help, select the **Report Issue** in the top right corner of this Developer Portal specification card and choose Connectivity 401 or 403 Responses.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponse'
          examples:
            Bad Request - Date Format:
              $ref: '#/components/examples/unauthenticated'
    '415':
      description: Unsupported Media Type. This error may be returned when the caller sends a resource in a format that is not accepted by the server. This can be fixed by ensuring that Content-Type header is set to the correct value. In this instance, "application/json" would be the appropriate value.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponse'
          examples:
            Bad Request - Date Format:
              $ref: '#/components/examples/unsupportedMediaType'
    '403':
      description: The USERNAME-SERIAL attempted to request the endpoint is not authorized to access. The request was a legal request, but the server is refusing to respond. Please reach out to FactSet Account Team for assistance with authorization.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponse'
          examples:
            Bad Request - Date Format:
              $ref: '#/components/examples/forbidden'
    '400':
      description: Bad Request. This can occur for several reasons. Please review the "message" for more details.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponse'
          examples:
            Bad Request - Missing Required Parameter:
              $ref: '#/components/examples/badRequestRequiredParameter'
            Bad Request - Invalid Parameter:
              $ref: '#/components/examples/badRequestInvalidParameters'
            Bad Request - Malformed JSON:
              $ref: '#/components/examples/badRequestMalformedJSON'
            Bad Request - Read Timeout:
              $ref: '#/components/examples/badRequestReadTimeout'
    '500':
      description: Internal Server Error.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponse'
          examples:
            Internal Server Error - Not Writable:
              $ref: '#/components/examples/notWritable'
            Internal Server Error - General Exception:
              $ref: '#/components/examples/generalException'
  schemas:
    errorResponse:
      type: object
      title: Error Response
      properties:
        status:
          description: status
          type: string
          example: Bad Request
        timestamp:
          description: timestamp in YYYY-MM-DD HH:MM:SS.SSS
          type: string
          example: '2019-11-01 11:09:41.918'
          format: date-time
        path:
          description: The Endpoint path {package}/version/{endpoint}
          type: string
          example: /factset-georev/v1/superRegion
        message:
          description: The plain text error message
          type: string
          example: Validation Error
        subErrors:
          description: subErrors related to the error message. Null if not applicable.
          type: object
          properties:
            object:
              description: the operation ID
              type: string
            field:
              description: Parameter Field Name
              type: string
            message:
              description: Error message
              type: string
            rejectedValue:
              description: Rejected Values in an Array
              type: array
              items:
                type: string
          example: example_value
    useOfProceedsResponse:
      title: Use of Proceeds Response
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/useOfProceeds'
          example: []
    useOfProceeds:
      title: Use of Proceeds
      type: object
      description: Use of Proceeds for a Fixed Income security.
      properties:
        requestId:
          description: Security identifier used in the request.
          type: string
          example: '500123'
        fsymId:
          description: FactSet Permanent Security Identifier.
          type: string
          example: '500123'
        useOfProceeds:
          description: Use of proceeds.
          type: string
          example: example_value
    termsAndConditionsScalarRequest:
      title: General Ids Request
      type: object
      properties:
        ids:
          description: 'List of Fixed Income Security identifiers. Supported symbol types include CUSIP, SEDOL, ISIN, and FactSet Security Permanent Identifier (-S).


            **ID LIMIT = 250** *per request*.

            '
          type: array
          items:
            type: string
          minItems: 1
          maxItems: 250
          example:
          - 30231GBJ
          - 88579EAA
      required:
      - ids
  parameters:
    ids:
      name: ids
      description: 'List of Fixed Income Security identifiers. Supported symbol types include CUSIP, SEDOL, ISIN, and FactSet Security Permanent Identifier (-S).


        **ID LIMIT = 250** *per request*.

        '
      in: query
      schema:
        type: array
        items:
          type: string
        minItems: 1
        maxItems: 250
      required: true
      explode: false
      example:
      - 30231GBJ
      - 88579EAA
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
externalDocs:
  url: https://developer.factset.com/api-catalog/analytics-datastore-api
  description: API Documentation
