openapi: 3.0.3
info:
  title: Factset Analytics Datastore About Resources API
  description: Allow clients to fetch precalculated Analytics through predeterministic URLs.
  contact:
    name: FactSet Research Systems
    url: https://developer.factset.com/contact
    email: api@factset.com
  license:
    name: Apache License, Version 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  version: 1.0.0
servers:
- url: https://api.factset.com
  description: Production
- url: https://api-sandbox.factset.com
  description: Sandbox
security:
- basicAuth: []
tags:
- name: Resources
paths:
  /ofs/v2/resources/{id}:
    get:
      summary: Factset Retrieve a Specific Resource Record.
      parameters:
      - name: id
        in: path
        required: true
        description: Globally unique identifier (GUID) of a Resource record
        schema:
          example: 3d8410df-2b04-45fa-bc33-d2cc5418f293
        type: string
        pattern: \{?[a-zA-Z0-9]{8}-[a-zA-Z0-9]{4}-[a-zA-Z0-9]{4}-[a-zA-Z0-9]{4}-[a-zA-Z0-9]{12}\}?
      responses:
        '200':
          description: A JSON representation of an Resource record.
          schema:
            $ref: '#/definitions/GetResourceDto'
        '404':
          description: Resource record was not found.
      tags:
      - Resources
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /ofs/v2/resources:
    get:
      summary: Factset Retrieve a Collection of Resource Records.
      parameters:
      - name: limit
        in: query
        description: Limit the amount of records per page
        type: integer
        default: 10
      - name: page
        in: query
        description: Select which page to show
        type: integer
        default: 1
        minimum: 1
      responses:
        '200':
          description: A JSON representation of collection of Resource records. Might be empty.
          schema:
            items:
              allOf:
              - $ref: '#/definitions/GetResourceDto'
            type: array
          headers:
            X-Pagination:
              description: A JSON containing pagination information. (e.g totalCount,pageSize,currentPage,totalPages,previousPageLink and nextPageLink)
              type: string
        '422':
          description: Unprocessable entity. Validation error response containing the errors in a human readable form.
          schema:
            items:
              type: string
            type: array
      tags:
      - Resources
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /ofs/v2/resources/search:
    post:
      summary: Factset Retrieve a Collection of Resource Records.
      parameters:
      - name: body
        in: body
        schema:
          $ref: '#/definitions/PostResourceSearchDto'
        type: json
      responses:
        '200':
          description: A JSON representation of collection of Resource records. Might be empty.
          schema:
            items:
              allOf:
              - $ref: '#/definitions/GetResourceDto'
            type: array
          headers:
            X-Pagination:
              description: A JSON containing pagination information. (e.g totalCount,pageSize,currentPage,totalPages,previousPageLink and nextPageLink)
              type: string
        '422':
          description: Unprocessable entity. Validation error response containing the errors in a human readable form.
          schema:
            items:
              type: string
            type: array
      tags:
      - Resources
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /ofs/v2/resources/sections/{id}:
    get:
      summary: Factset Retrieve a Specific Resources Section Record.
      parameters:
      - name: id
        in: path
        required: true
        description: Globally unique identifier (GUID) of a Resources Section record
        schema:
          example: 4c77e650-372b-4ab4-9acd-bbd237d52b74
        type: string
        pattern: \{?[a-zA-Z0-9]{8}-[a-zA-Z0-9]{4}-[a-zA-Z0-9]{4}-[a-zA-Z0-9]{4}-[a-zA-Z0-9]{12}\}?
      responses:
        '200':
          description: A JSON representation of a Resources Section record.
          schema:
            $ref: '#/definitions/GetResourcesSectionDto'
        '404':
          description: Resources Section record was not found.
      tags:
      - Resources
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /ofs/v2/resources/sections:
    get:
      summary: Factset Retrieve a Collection of Resources Section Records.
      parameters:
      - name: limit
        in: query
        description: Limit the amount of records per page
        type: integer
        default: 10
      - name: page
        in: query
        description: Select which page to show
        type: integer
        default: 1
        minimum: 1
      responses:
        '200':
          description: A JSON representation of collection of Resources Section records. Might be empty.
          schema:
            items:
              allOf:
              - $ref: '#/definitions/GetResourcesSectionDto'
            type: array
          headers:
            X-Pagination:
              description: A JSON containing pagination information. (e.g totalCount,pageSize,currentPage,totalPages,previousPageLink and nextPageLink)
              type: string
        '422':
          description: Unprocessable entity. Validation error response containing the errors in a human readable form.
          schema:
            items:
              type: string
            type: array
      tags:
      - Resources
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /ofs/v2/resources/sections/search:
    post:
      summary: Factset Retrieve a Collection of Resources Section Records.
      parameters:
      - name: body
        in: body
        schema:
          $ref: '#/definitions/PostResourcesSectionSearchDto'
        type: json
      responses:
        '200':
          description: A JSON representation of collection of Resources Section records. Might be empty.
          schema:
            items:
              allOf:
              - $ref: '#/definitions/GetResourcesSectionDto'
            type: array
          headers:
            X-Pagination:
              description: A JSON containing pagination information. (e.g totalCount,pageSize,currentPage,totalPages,previousPageLink and nextPageLink)
              type: string
        '422':
          description: Unprocessable entity. Validation error response containing the errors in a human readable form.
          schema:
            items:
              type: string
            type: array
      tags:
      - Resources
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
definitions:
  PostResourcesSectionSearchDto:
    properties:
      limit:
        description: Limit the amount of records per page.
        example: 10
        type: integer
        default: 10
        maximum: 300
      page:
        description: Select which page to show.
        example: 1
        type: integer
        default: 1
        minimum: 1
      sort:
        description: Sort according to  specific field value.
        example: name:asc
        type: string
        default: name:asc
      fields:
        description: Fetch only specific fields. The fields' names separated by a comma.
        example: name,order
        type: string
      search:
        description: Search for terms in certain fields.
        example: name:Data
        type: string
      filter:
        description: Filter against specific field values.
        example: order:1
        type: string
    type: object
  GetResourceDto:
    description: A Json representation of a Document record.
    properties:
      id:
        example: 3d8410df-2b04-45fa-bc33-d2cc5418f293
        type: string
      name:
        example: Candidate Agreement--Exhibit A
        type: string
      fileName:
        example: Exhibit A.docx
        type: string
      description:
        example: Template for Exhibit A to the new Candidate Agreement. Fill out this document with a description of the product(s) for the Open:FactSet marketplace
        type: string
      url:
        example: /media/download/resources/documents/c2e2394c-747e-422f-bc5d-b775b14833bd
        type: string
      order:
        example: 5
        type: integer
      isFile:
        example: true
        type: boolean
      isPublic:
        example: true
        type: boolean
      categoryId:
        example: 4c77e650-372b-4ab4-9acd-bbd237d52b74
        type: string
      created:
        example: 1564487399
        type: integer
      updated:
        example: 1568288463
        type: integer
    type: object
  GetResourcesSectionDto:
    description: A Json representation of a Document Category record.
    properties:
      id:
        example: 4c77e650-372b-4ab4-9acd-bbd237d52b74
        type: string
      name:
        example: New Provider Resources
        type: string
      order:
        example: 3
        type: integer
      created:
        example: 1559578671
        type: integer
      updated:
        example: 1559578671
        type: integer
      documents:
        example:
          id: 3d8410df-2b04-45fa-bc33-d2cc5418f293
          name: Candidate Agreement--Exhibit A
          fileName: Exhibit A.docx
          description: Template for Exhibit A to the new Candidate Agreement. Fill out this document with a description of the product(s) for the Open=>FactSet marketplace
          url: /media/download/resources/documents/c2e2394c-747e-422f-bc5d-b775b14833bd
          order: 5
          isFile: true
          isPublic: true
          categoryId: 4c77e650-372b-4ab4-9acd-bbd237d52b74
          created: 1564487399
          updated: 1568288463
        items:
          $ref: '#/definitions/GetResourceDto'
        type: array
      meta:
        example:
          documentsTotal: 1
          documentsPrivate: 0
        items:
          properties:
            documentsTotal:
              type: integer
            documentsPrivate:
              type: integer
          type: object
        type: array
    type: object
  PostResourceSearchDto:
    properties:
      limit:
        description: Limit the amount of records per page.
        example: 10
        type: integer
        default: 10
        maximum: 300
      page:
        description: Select which page to show.
        example: 1
        type: integer
        default: 1
        minimum: 1
      sort:
        description: Sort according to  specific field value.
        example: name:desc
        type: string
        default: name:asc
      fields:
        description: Fetch only specific fields. The fields' names separated by a comma.
        example: name,fileName,isPublic,url
        type: string
      search:
        description: Search for terms in certain fields.
        example: description:Template,name:Template,fileName:Template
        type: string
      filter:
        description: Filter against specific field values.
        example: isFile:true
        type: string
    type: object
externalDocs:
  url: https://developer.factset.com/api-catalog/analytics-datastore-api
  description: API Documentation
