openapi: 3.2.0
info:
  title: Factset Recommendations API
  version: '1.0'
  description: 'Operations tagged Recommendations across 3 of this provider''s published API definitions: factset-irn-configuration-api-openapi.yml, factset-recommendation-list-api-for-digital-portals-openapi.yml, irn-configuration-openapi-original.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.factset.com/research/irn
  description: Production Server
- url: https://api-sandbox.factset.com/research/irn
  description: Sandbox
- url: https://api.factset.com/wealth/v1
tags:
- name: Recommendations
paths:
  /v1/recommendations:
    get:
      tags:
      - Recommendations
      summary: Factset Get All Recommendations
      operationId: GetRecommendations
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RecommendationConfigDto'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - basicScheme: []
    servers:
    - url: https://api.factset.com/research/irn
      description: Production Server
    - url: https://api-sandbox.factset.com/research/irn
      description: Sandbox
  /recommendationList/get:
    get:
      tags:
      - Recommendations
      operationId: get/recommendationList/get
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Factset Attributes of a Single List.
      description: Attributes of a single list, including data about its active revision.
      parameters:
      - name: id
        in: query
        schema:
          type: number
          format: id32
          x-positive: true
          description: Identifier of the list.
        required: true
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      - name: _language
        in: query
        schema:
          type: string
          format: isoLanguage
          description: ISO 639-1 code of the language.
          maxLength: 2
          minLength: 2
      responses:
        '200':
          $ref: '#/components/responses/GetRecommendationListGet200Response'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - Basic: []
    servers:
    - url: https://api.factset.com/wealth/v1
  /recommendationList/search:
    get:
      tags:
      - Recommendations
      operationId: get/recommendationList/search
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Factset Search for Recommendation Lists.
      description: Search for recommendation lists, delivering an array of recommendation lists matching the specified filter criteria. The data provided for each recommendation list includes the currently active revision (or null in case no active revision exists).
      parameters:
      - name: name
        in: query
        schema:
          type: string
          description: Restricts the search to recommendation lists, which contain the provided string in their name attribute. The filter is a case-insensitive substring match.
        required: false
      - name: onlyActive
        in: query
        schema:
          type: boolean
          description: Restrict the search to recommendation lists, which are currently active (e.g., current date is before the recommendation list's activeRange.end date). If set to false, recommendation lists will be returned regardless of their state.
        required: false
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      - name: _language
        in: query
        schema:
          type: string
          format: isoLanguage
          description: ISO 639-1 code of the language.
          maxLength: 2
          minLength: 2
      responses:
        '200':
          $ref: '#/components/responses/GetRecommendationListSearch200Response'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - Basic: []
    servers:
    - url: https://api.factset.com/wealth/v1
  /recommendationList/revision/search:
    get:
      tags:
      - Recommendations
      operationId: get/recommendationList/revision/search
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Factset Search for Revisions of a Recommendation List.
      description: Search for revisions of a recommendation list.
      parameters:
      - name: idNotation
        in: query
        schema:
          type: string
          format: id64
          x-positive: true
          description: Restrict the search to revisions containing an element associated with the identified notation.
        required: false
      - name: idInstrument
        in: query
        schema:
          type: string
          format: id64
          x-positive: true
          description: Restrict the search to revisions pointing to the identified instrument.
        required: false
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      - name: _language
        in: query
        schema:
          type: string
          format: isoLanguage
          description: ISO 639-1 code of the language.
          maxLength: 2
          minLength: 2
      responses:
        '200':
          $ref: '#/components/responses/GetRecommendationListRevisionSearch200Response'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - Basic: []
    servers:
    - url: https://api.factset.com/wealth/v1
components:
  schemas:
    RecommendationConfigDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: abc123
        name:
          type:
          - string
          - 'null'
          example: Example Title
        code:
          type: integer
          format: int32
          example: 10
        isHidden:
          type: boolean
          example: true
      additionalProperties: false
    StatusObject:
      type: object
      properties:
        code:
          type: number
          format: int32
          description: The HTTP status code of the response, mirroring the code from the Status-Line of the HTTP response message (see [RFC2616] section 6.1).
          example: 42.5
      description: The status member contains the status code of the response.
      required:
      - code
    RecommendationConfigDto_2:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type:
          - string
          - 'null'
        code:
          type: integer
          format: int32
        isHidden:
          type: boolean
      additionalProperties: false
  responses:
    GetRecommendationListRevisionSearch200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                description: List of revisions.
                type: array
                items:
                  type: object
                  x-property-sort:
                  - id
                  - recommendationList
                  - types
                  - title
                  - description
                  - activeRange
                  - instrument
                  description: Revision
                  properties:
                    id:
                      type:
                      - number
                      - 'null'
                      format: id32
                      x-positive: true
                      description: Identifier of the revision.
                    recommendationList:
                      type: object
                      x-property-sort:
                      - id
                      - name
                      description: The recommendation list to which this revision belongs.
                      properties:
                        id:
                          type:
                          - number
                          - 'null'
                          format: id32
                          x-positive: true
                          description: Identifier of the recommendation list.
                        name:
                          type:
                          - string
                          - 'null'
                          description: Name of the recommendation list.
                    types:
                      type: array
                      items:
                        type: object
                        x-property-sort:
                        - id
                        - name
                        description: Type assigned to the recommendation list as of the given revision.
                        properties:
                          id:
                            type:
                            - number
                            - 'null'
                            format: id32
                            x-positive: true
                            description: Identifier of the type.
                          name:
                            type:
                            - string
                            - 'null'
                            description: Name of the type.
                      description: Set of types assigned to the recommendation list as of the given revision. The customer maintains a list of valid types for all of its recommendation lists.
                    title:
                      type:
                      - string
                      - 'null'
                      format: localizedString
                      description: Title assigned to the recommendation list as of the given revision.
                    description:
                      type:
                      - string
                      - 'null'
                      format: localizedString
                      description: Description assigned to the recommendation list as of the given revision.
                    activeRange:
                      type:
                      - object
                      - 'null'
                      format: timeRange
                      properties:
                        start:
                          type:
                          - string
                          - 'null'
                          format: datetime
                          description: The starting point of the time range (inclusive), or `null` to indicate that the time range extends indefinitely into the past.
                        end:
                          type:
                          - string
                          - 'null'
                          format: datetime
                          description: The ending point of the time range (exclusive), or `null` to indicate that the time range extends indefinitely into the future.
                      x-property-sort:
                      - start
                      - end
                      required:
                      - start
                      - end
                      description: Time range during which the revision is, was, or will be active.
                    instrument:
                      type: object
                      x-property-sort:
                      - id
                      description: Instrument to which the recommendation list points, as of the given revision.
                      properties:
                        id:
                          type:
                          - string
                          - 'null'
                          format: id64
                          x-positive: true
                          description: Identifier of the instrument.
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                x-property-sort:
                - status
    GetRecommendationListSearch200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                description: List of recommendation lists.
                type: array
                items:
                  type: object
                  x-property-sort:
                  - id
                  - name
                  - activeRange
                  - numberRevisions
                  - activeRevision
                  description: Recommendation list.
                  properties:
                    id:
                      type:
                      - number
                      - 'null'
                      format: id32
                      x-positive: true
                      description: Identifier of the recommendation list.
                    name:
                      type:
                      - string
                      - 'null'
                      description: Name of the recommendation list.
                    activeRange:
                      type:
                      - object
                      - 'null'
                      format: timeRange
                      properties:
                        start:
                          type:
                          - string
                          - 'null'
                          format: datetime
                          description: The starting point of the time range (inclusive), or `null` to indicate that the time range extends indefinitely into the past.
                        end:
                          type:
                          - string
                          - 'null'
                          format: datetime
                          description: The ending point of the time range (exclusive), or `null` to indicate that the time range extends indefinitely into the future.
                      x-property-sort:
                      - start
                      - end
                      required:
                      - start
                      - end
                      description: Time range during which the recommendation list is active or has been active.
                    numberRevisions:
                      type:
                      - number
                      - 'null'
                      format: int32
                      x-positive: true
                      description: Number of all revisions of this recommendation list.
                    activeRevision:
                      type: object
                      x-property-sort:
                      - id
                      - title
                      - activeRange
                      description: Information on the active revision of this recommendation list, or null.
                      properties:
                        id:
                          type:
                          - number
                          - 'null'
                          format: id32
                          x-positive: true
                          description: Identifier of the currently active revision.
                        title:
                          type:
                          - string
                          - 'null'
                          format: localizedString
                          description: The language specific name assigned to the recommendation list as of the given revision.
                        activeRange:
                          type:
                          - object
                          - 'null'
                          format: timeRange
                          properties:
                            start:
                              type:
                              - string
                              - 'null'
                              format: datetime
                              description: The starting point of the time range (inclusive), or `null` to indicate that the time range extends indefinitely into the past.
                            end:
                              type:
                              - string
                              - 'null'
                              format: datetime
                              description: The ending point of the time range (exclusive), or `null` to indicate that the time range extends indefinitely into the future.
                          x-property-sort:
                          - start
                          - end
                          required:
                          - start
                          - end
                          description: Time range during which the revision is, was, or will be active.
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                x-property-sort:
                - status
    GetRecommendationListGet200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                description: Details about the recommendation list.
                type: object
                x-property-sort:
                - id
                - name
                - activeRange
                - numberRevisions
                - activeRevision
                properties:
                  id:
                    type:
                    - number
                    - 'null'
                    format: id32
                    x-positive: true
                    description: Identifier of the recommendation list.
                  name:
                    type:
                    - string
                    - 'null'
                    description: Name of the recommendation list.
                  activeRange:
                    type:
                    - object
                    - 'null'
                    format: timeRange
                    properties:
                      start:
                        type:
                        - string
                        - 'null'
                        format: datetime
                        description: The starting point of the time range (inclusive), or `null` to indicate that the time range extends indefinitely into the past.
                      end:
                        type:
                        - string
                        - 'null'
                        format: datetime
                        description: The ending point of the time range (exclusive), or `null` to indicate that the time range extends indefinitely into the future.
                    x-property-sort:
                    - start
                    - end
                    required:
                    - start
                    - end
                    description: Time range during which the recommendation list is, was, or will be active.
                  numberRevisions:
                    type:
                    - number
                    - 'null'
                    format: int32
                    x-positive: true
                    description: Number of all revisions of this recommendation list.
                  activeRevision:
                    type: object
                    x-property-sort:
                    - id
                    - title
                    - activeRange
                    description: Information on the active revision of this recommendation list, or null.
                    properties:
                      id:
                        type:
                        - number
                        - 'null'
                        format: id32
                        x-positive: true
                        description: Identifier of the currently active revision.
                      title:
                        type:
                        - string
                        - 'null'
                        format: localizedString
                        description: The language specific name assigned to the recommendation list as of the given revision.
                      activeRange:
                        type:
                        - object
                        - 'null'
                        format: timeRange
                        properties:
                          start:
                            type:
                            - string
                            - 'null'
                            format: datetime
                            description: The starting point of the time range (inclusive), or `null` to indicate that the time range extends indefinitely into the past.
                          end:
                            type:
                            - string
                            - 'null'
                            format: datetime
                            description: The ending point of the time range (exclusive), or `null` to indicate that the time range extends indefinitely into the future.
                        x-property-sort:
                        - start
                        - end
                        required:
                        - start
                        - end
                        description: Time range during which the revision is, was, or will be active.
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                x-property-sort:
                - status
  securitySchemes:
    basicScheme:
      type: http
      scheme: basic
    Basic:
      type: http
      description: Input your username and password to access this API.
      scheme: basic
externalDocs:
  description: Endpoint Reference
  url: https://endpointreference.mdgms.com
x-refined-from:
- factset-irn-configuration-api-openapi.yml
- factset-recommendation-list-api-for-digital-portals-openapi.yml
- irn-configuration-openapi-original.yml
