openapi: 3.2.0
info:
  version: 1.7.0
  title: FactSet Prices Global API
  contact:
    name: FactSet Research Systems
    email: api@factset.com
  description: '

    FactSet Global Prices API currently covers listing and composite level

    prices, volume, turnover, and VWAP data on a seven day week basis for a

    global equity universe.'
servers:
- url: https://api.factset.com/content
  description: Production
security:
- BasicAuth: []
tags:
- name: Global
paths:
  /factset-global-prices/v1/prices:
    get:
      tags:
      - Global
      summary: Factset Gets End-of-day Open, High, Low, Close for a List of Securities.
      operationId: getGPDPrices
      description: 'Gets security prices'', Open, High, Low, Close, Volume, VWAP, Trade Count, and Turn Over for a specified list of securities, date range, currency, and adjustment factors.

        '
      parameters:
      - $ref: '#/components/parameters/idsBatchMax2000'
      - $ref: '#/components/parameters/fieldsPrices'
      - $ref: '#/components/parameters/startDate'
      - $ref: '#/components/parameters/endDate'
      - $ref: '#/components/parameters/frequency'
      - $ref: '#/components/parameters/calendar'
      - $ref: '#/components/parameters/currency'
      - $ref: '#/components/parameters/adjust'
      - $ref: '#/components/parameters/batch'
      responses:
        '200':
          description: Array of Price Objects
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/globalPricesResponse'
              examples:
                One Week Prices for Two Securities All Fields:
                  $ref: '#/components/examples/GlobalPricesResponseAll'
                Filtered Fields:
                  $ref: '#/components/examples/GlobalPricesResponsePricesOnly'
        '202':
          description: Batch request has been accepted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchStatusResponse'
              examples:
                Batch Request Accepted:
                  $ref: '#/components/examples/BatchStatusAcceptedResponse'
          headers:
            Location:
              description: Path to Batch Request status.
              schema:
                type: string
              example: batch-status?id=2df43e85-ea0f-45c6-bf4a-2baf4d1eaa3c
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      tags:
      - Global
      summary: Factset Requests End-of-day Open, High, Low, Close for a Large List of Securities.
      description: Gets security prices', Open, High, Low, Close, Volume, VWAP, Trade Count, and Turn Over for a specified list of securities, date range, currency, and adjustment factors.
      operationId: getSecurityPricesForList
      requestBody:
        required: true
        description: Request object for `Prices`.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/globalPricesRequest'
      responses:
        '200':
          description: Array of security prices
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/globalPricesResponse'
        '202':
          description: Batch request has been accepted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchStatusResponse'
              examples:
                Batch Request Accepted:
                  $ref: '#/components/examples/BatchStatusAcceptedResponse'
          headers:
            Location:
              description: Path to Batch Request status.
              schema:
                type: string
              example: batch-status?id=2df43e85-ea0f-45c6-bf4a-2baf4d1eaa3c
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /factset-global-prices/v1/returns:
    get:
      tags:
      - Global
      summary: Factset Gets Returns for a List of `ids` as of Given Date Range.
      operationId: getReturns
      description: "Returns for the requested ids and currency for the given dates. Depending on the input parameters the return data is provided. \n"
      parameters:
      - $ref: '#/components/parameters/idsBatchMax2000'
      - $ref: '#/components/parameters/startDate'
      - $ref: '#/components/parameters/endDate'
      - $ref: '#/components/parameters/currency'
      - $ref: '#/components/parameters/frequency'
      - $ref: '#/components/parameters/dividendAdjust'
      - $ref: '#/components/parameters/batch'
      responses:
        '200':
          description: Array of Returns Objects
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/returnsResponse'
              examples:
                Returns:
                  $ref: '#/components/examples/returnsResponseAll'
        '202':
          description: Batch request has been accepted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchStatusResponse'
              examples:
                Batch Request Accepted:
                  $ref: '#/components/examples/BatchStatusAcceptedResponse'
          headers:
            Location:
              description: Path to Batch Request status.
              schema:
                type: string
              example: batch-status?id=2df43e85-ea0f-45c6-bf4a-2baf4d1eaa3c
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      tags:
      - Global
      summary: Factset Gets Returns for a List of `ids` as of Given Date Range.
      description: Returns for the requested ids and currency for the given dates. Depending on the input parameters the return data is provided.
      operationId: getReturnsForList
      requestBody:
        required: true
        description: Request object for `Returns`.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/returnsRequest'
      responses:
        '200':
          description: Array of security prices
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/returnsResponse'
        '202':
          description: Batch request has been accepted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchStatusResponse'
              examples:
                Batch Request Accepted:
                  $ref: '#/components/examples/BatchStatusAcceptedResponse'
          headers:
            Location:
              description: Path to Batch Request status.
              schema:
                type: string
              example: batch-status?id=2df43e85-ea0f-45c6-bf4a-2baf4d1eaa3c
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /factset-global-prices/v1/security-shares:
    get:
      tags:
      - Global
      summary: Factset Gets Shares Outstanding Information for Securities.
      operationId: getSharesOutstanding
      description: Returns security level shares outstanding data for the given ids and dates. At this time, all values returned are split adjusted.
      parameters:
      - $ref: '#/components/parameters/idsBatchMax1000'
      - $ref: '#/components/parameters/startDateSS'
      - $ref: '#/components/parameters/endDate'
      - $ref: '#/components/parameters/frequency'
      - $ref: '#/components/parameters/calendar'
      - $ref: '#/components/parameters/batch'
      responses:
        '200':
          description: Array of security shares outstanding information for a given date range and list of securities
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sharesOutstandingResponse'
              examples:
                Shares Outstanding:
                  $ref: '#/components/examples/sharesOutstanding'
        '202':
          description: Batch request has been accepted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchStatusResponse'
              examples:
                Batch Request Accepted:
                  $ref: '#/components/examples/BatchStatusAcceptedResponse'
          headers:
            Location:
              description: Path to Batch Request status.
              schema:
                type: string
              example: batch-status?id=2df43e85-ea0f-45c6-bf4a-2baf4d1eaa3c
        '400':
          $ref: '#/components/responses/SO400'
        '401':
          $ref: '#/components/responses/SO401'
        '403':
          $ref: '#/components/responses/SO403'
        '415':
          $ref: '#/components/responses/SO415'
        '500':
          $ref: '#/components/responses/SO500'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      tags:
      - Global
      summary: Factset Gets Shares Outstanding Information for Securities.
      description: Returns security level shares outstanding data for the given ids and dates. At this time, all values returned are split adjusted.
      operationId: postSharesOutstanding
      requestBody:
        required: true
        description: Request object for `Shares Outstanding`.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/sharesOutstandingRequest'
      responses:
        '200':
          description: Array of shares outstanding
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sharesOutstandingResponse'
        '202':
          description: Batch request has been accepted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchStatusResponse'
              examples:
                Batch Request Accepted:
                  $ref: '#/components/examples/BatchStatusAcceptedResponse'
          headers:
            Location:
              description: Path to Batch Request status.
              schema:
                type: string
              example: batch-status?id=2df43e85-ea0f-45c6-bf4a-2baf4d1eaa3c
        '400':
          $ref: '#/components/responses/SO400'
        '401':
          $ref: '#/components/responses/SO401'
        '403':
          $ref: '#/components/responses/SO403'
        '415':
          $ref: '#/components/responses/SO415'
        '500':
          $ref: '#/components/responses/SO500'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  examples:
    unsupportedMediaType:
      summary: Unsupported Media Type
      description: This bad request occurs when the media type passed in the request is not supported. Currently the APIs only support 'application/json'.
      value:
        status: Unsupported Media Type
        timestamp: '2019-11-05 09:42:27.237'
        path: /factset-global-prices/v1/{endpoint}
        message: text/html media type is not supported. Supported media types are application/json
        subErrors: null
    sobadRequestRequiredParameter:
      summary: Bad Request - Required Parameter Missing
      description: This error message occurs when the request does not include the required parameters. Required parameters are indicated with a red asterisks symbol in the specification file.
      value:
        errors:
        - id: adb01824-252f-4420-b0c6
          code: Bad Request
          links:
            about: /factset-global-prices/v1/{endpoint}
          title: The parameter 'ids' is required and may not be empty.
    badRequestDateFormat:
      summary: Bad Request - Date Format
      description: This bad request occurs when a request doesn't use the YYYY-MM-DD in the date parameters. To resolve, convert your date to YYYY-MM-DD.
      value:
        status: Bad Request
        timestamp: '2019-10-31 16:08:07.945'
        path: /factset-global-prices/v1/{endpoint}
        message: 'The date parameter ''startDate'' must be in the following date format: YYYY-MM-DD'
        subErrors: null
    sobadRequestDateFormat:
      summary: Bad Request - Date Format
      description: This bad request occurs when a request doesn't use the YYYY-MM-DD in the date parameters. To resolve, convert your date to YYYY-MM-DD.
      value:
        errors:
        - id: adb01824-252f-4420-b0c6
          code: Bad Request
          links:
            about: /factset-global-prices/v1/{endpoint}
          title: 'The date parameter must be in the following date format: YYYY-MM-DD'
    badRequestInvalidParameters:
      summary: Bad Request - Invalid Parameters
      description: This error message occurs when a request parameter is used in which is not recognized by the service. Please revise your request to include only the parameters listed in the specification. Typical causes are spelling mistakes and use of improper casing.
      value:
        status: Bad Request
        timestamp: '2020-06-12 15:58:54.068'
        path: /factset-global-prices/v1/{endpoint}
        message: 'Invalid Parameter (s): fakeParameterName1 fakeParameterName2. Please modify your request to use parameters outlined in the specification for this endpoint.'
        subErrors: null
    badRequestMalformedJSON:
      summary: Bad Request - Malformed JSON Request
      description: This error may be returned when the request body is specified as JSON, but is not in proper JSON format.
      value:
        status: Bad Request
        timestamp: '2019-11-05 09:48:29.18'
        path: /factset-global-prices/v1/{endpoint}
        message: Malformed JSON Request
        subErrors: null
    badRequestFutureDate:
      summary: Bad Request - Future Date
      description: This error message occurs when a future date is requested in the startDate and endDate parameters. Please revise your request to include dates as of today's current date or any prior historical date.
      value:
        status: Bad Request
        timestamp: '2020-06-12 15:52:48.091'
        path: /factset-global-prices/v1/{endpoint}
        message: The use of future dates is not applicable in this endpoint. Please revise your request to include dates up to today's current date.
        subErrors: null
    sharesOutstanding:
      summary: Shares Outstanding Response of FactSet (FDS-US)
      value:
        data:
        - fsymId: C6J726-S
          date: '2023-08-10'
          documentId: '956881'
          requestId: C6J726-S
          reportDate: '2022-08-02'
          publicationDate: '2022-08-04'
          fiscalYear: 2022
          reportingPeriodDescription: 2nd Quarter
          reportingPeriod: 3
          description: Ordinary Shares
          adrRatio: 1
          adrFsymId: V9GGRZ-S
          adrDescription: American Despository Shares
          totalOutstanding: 980.22284
          adrTotalOutstanding: 225.30467
    forbidden:
      summary: Forbidden
      description: The USERNAME-SERIAL attempted to request the endpoint is not authorized to access. The request was a legal request, but the server is refusing to respond. Please reach out to FactSet Account Team for assistance with authorization.
      value:
        status: Forbidden
        timestamp: '2020-06-12 16:08:51.731'
        path: /factset-global-prices/v1/{endpoint}
        message: USERNAME-SERIAL does not have permission to use /factset-global-prices/v1/{endpoint}
        subErrors: null
    generalException:
      summary: Internal Server Error - General Exception
      description: This is the most general error that can be returned to by the service. Please `Report Issue` to FactSet.
      value:
        status: Internal Server Error
        timestamp: '2019-11-01 10:36:01.944'
        path: /factset-global-prices/v1/{endpoint}
        message: Unexpected error
        subErrors: null
    sobadRequestReadTimeout:
      summary: Bad Request - Read Timeout
      description: This error may be returned if it takes more than 29 seconds to hear back from the data fetch service.
      value:
        errors:
        - id: adb01824-252f-4420-b0c6
          code: Bad Request
          links:
            about: /factset-global-prices/v1/{endpoint}
          title: The request took too long. Try again with a smaller request.
    BatchStatusAcceptedResponse:
      description: Batch Status Accepted Response
      value:
        data:
          id: 2df43e85-ea0f-45c6-bf4a-2baf4d1eaa3c
          status: queued
          startTime: '2021-06-29T18:34:52.168Z'
          endTime: null
          error: null
    notWritable:
      summary: Internal Server Error - Not Writable
      description: This error may be returned when the server encounters an error writing the JSON response.
      value:
        status: Internal Server Error
        timestamp: '2019-11-05 09:48:29.18'
        path: /factset-global-prices/v1/{endpoint}
        message: Error writing JSON output
        subErrors: null
    unauthenticated:
      summary: User Authentication Failed
      description: This occurs when a user is not properly authenticated or recognized by the service. Please double check the USERNAME-SERIAL and API-Key used to request and ensure you are within the IP range specified for the Key. Report Issue under 401 error for help with troubleshooting.
      value:
        status: User Authentication Failed
        timestamp: '2019-10-31 16:08:07.945'
        path: /factset-global-prices/v1/{endpoint}
        message: User Authentication Failed.
        subErrors: null
    GlobalPricesResponseAll:
      summary: Prices Response of all fields over 1 week period for two securities - FactSet (FDS-US) and Tesla (TSLA-US).
      value:
        data:
        - volume: 157303
          date: '2021-08-23'
          priceLow: 366.45
          tradeCount: 5865
          requestId: FDS-USA
          price: 366.61
          vwap: 368.351679
          fsymId: SQFMK3-R
          currency: USD
          priceOpen: 370.06
          priceHigh: 372.23
          turnover: 57958.674978
        - volume: 113627
          date: '2021-08-24'
          priceLow: 365.4659
          tradeCount: 4288
          requestId: FDS-USA
          price: 367.64
          vwap: 368.081635
          fsymId: SQFMK3-R
          currency: USD
          priceOpen: 366.5
          priceHigh: 370.1
          turnover: 41839.970284
        - volume: 195053
          date: '2021-08-25'
          priceLow: 370.11
          tradeCount: 5900
          requestId: FDS-USA
          price: 376
          vwap: 375.038196
          fsymId: SQFMK3-R
          currency: USD
          priceOpen: 375
          priceHigh: 376.3
          turnover: 73123.855946
        - volume: 124169
          date: '2021-08-26'
          priceLow: 373.12
          tradeCount: 6150
          requestId: FDS-USA
          price: 374.01
          vwap: 374.475431
          fsymId: SQFMK3-R
          currency: USD
          priceOpen: 375.55
          priceHigh: 375.78
          turnover: 46499.419473
        - volume: 148418
          date: '2021-08-27'
          priceLow: 373.01
          tradeCount: 4603
          requestId: FDS-USA
          price: 376.58
          vwap: 376.852769
          fsymId: SQFMK3-R
          currency: USD
          priceOpen: 375.56
          priceHigh: 379.83
          turnover: 55944.725964
        - volume: 4594319
          date: '2021-08-23'
          priceLow: 680.77
          tradeCount: 117486
          requestId: TSLA
          price: 706.3
          vwap: 703.466057
          fsymId: PTT03G-L
          currency: USD
          priceOpen: 685
          priceHigh: 712.06
          turnover: 3231982.61276
        - volume: 2749510
          date: '2021-08-24'
          priceLow: 702.68
          tradeCount: 77318
          requestId: TSLA
          price: 708.49
          vwap: 708.370904
          fsymId: PTT03G-L
          currency: USD
          priceOpen: 710.66
          priceHigh: 715.22
          turnover: 1947249.860375
        - volume: 2916454
          date: '2021-08-25'
          priceLow: 704.07
          tradeCount: 77972
          requestId: TSLA
          price: 711.2
          vwap: 711.720995
          fsymId: PTT03G-L
          currency: USD
          priceOpen: 706.73
          priceHigh: 716.9
          turnover: 2075838.531845
        - volume: 3044656
          date: '2021-08-26'
          priceLow: 697.68
          tradeCount: 89432
          requestId: TSLA
          price: 701.16
          vwap: 704.739009
          fsymId: PTT03G-L
          currency: USD
          priceOpen: 708.4
          priceHigh: 715.4
          turnover: 2146476.51359
        - volume: 3442269
          date: '2021-08-27'
          priceLow: 702.22
          tradeCount: 89171
          requestId: TSLA
          price: 711.92
          vwap: 710.596056
          fsymId: PTT03G-L
          currency: USD
          priceOpen: 705.41
          priceHigh: 714.99
          turnover: 2446231.2914
    sonotWritable:
      summary: Internal Server Error - Not Writable
      description: This error may be returned when the server encounters an error writing the JSON response.
      value:
        errors:
        - id: adb01824-252f-4420-b0c6
          code: Internal Server Error
          links:
            about: /factset-global-prices/v1/{endpoint}
          title: Error writing JSON output
    sounsupportedMediaType:
      summary: Unsupported Media Type
      description: This bad request occurs when the media type passed in the request is not supported. Currently the APIs only support 'application/json'.
      value:
        errors:
        - id: adb01824-252f-4420-b0c6
          code: Unsupported Media Type
          links:
            about: /factset-global-prices/v1/{endpoint}
          title: text/html media type is not supported. Supported media types are application/json.
    sobadRequestInvalidParameters:
      summary: Bad Request - Invalid Parameters
      description: This error message occurs when a request parameter is used in which is not recognized by the service. Please revise your request to include only the parameters listed in the specification. Typical causes are spelling mistakes and use of improper casing.
      value:
        errors:
        - id: adb01824-252f-4420-b0c6
          code: Bad Request
          links:
            about: /factset-global-prices/v1/{endpoint}
          title: 'Invalid Parameter (s): fakeParameterName1 fakeParameterName2. Please modify your request to use parameters outlined in the specification for this endpoint.'
    sobadRequestFutureDate:
      summary: Bad Request - Future Date
      description: This error message occurs when a future date is requested in the startDate and endDate parameters. Please revise your request to include dates as of today's current date or any prior historical date.
      value:
        errors:
        - id: adb01824-252f-4420-b0c6
          code: Bad Request
          links:
            about: /factset-global-prices/v1/{endpoint}
          title: The use of future dates is not applicable in this endpoint. Please revise your request to include dates up to today's current date.
    returnsResponseAll:
      summary: Returns Response of Google (GOOGL) and Apple (AAPL)
      value:
        data:
        - fsymId: WFJYTJ-R
          date: '2019-10-03'
          currency: USD
          totalReturn: 0.927077
          requestId: GOOGL
        - fsymId: MH33D6-R
          date: '2019-10-03'
          currency: USD
          totalReturn: 1.782245
          requestId: AAPL
    sobadRequestMalformedJSON:
      summary: Bad Request - Malformed JSON Request
      description: This error may be returned when the request body is specified as JSON, but is not in proper JSON format.
      value:
        errors:
        - id: adb01824-252f-4420-b0c6
          code: Bad Request
          links:
            about: /factset-global-prices/v1/{endpoint}
          title: Malformed JSON Request
    soforbidden:
      summary: Forbidden
      description: The USERNAME-SERIAL attempted to request the endpoint is not authorized to access. The request was a legal request, but the server is refusing to respond. Please reach out to FactSet Account Team for assistance with authorization.
      value:
        errors:
        - id: adb01824-252f-4420-b0c6
          code: Forbidden
          links:
            about: /factset-global-prices/v1/{endpoint}
          title: User is not authorized for the id requested, please reach out to FactSet for support
    sounauthenticated:
      summary: User Authentication Failed
      description: This occurs when a user is not properly authenticated or recognized by the service. Please double check the USERNAME-SERIAL and API-Key used to request and ensure you are within the IP range specified for the Key. Report Issue under 401 error for help with troubleshooting.
      value:
        errors:
        - id: adb01824-252f-4420-b0c6
          code: User Authentication Failed
          links:
            about: /factset-global-prices/v1/{endpoint}
          title: User Authentication Failed.
    GlobalPricesResponsePricesOnly:
      summary: Prices Response of FactSet (FDS-US) filtered to only return "price" field with dates.
      value:
        data:
        - date: '2021-08-23'
          requestId: FDS-USA
          price: 366.61
          fsymId: SQFMK3-R
          currency: USD
        - date: '2021-08-24'
          requestId: FDS-USA
          price: 367.64
          fsymId: SQFMK3-R
          currency: USD
        - date: '2021-08-25'
          requestId: FDS-USA
          price: 376
          fsymId: SQFMK3-R
          currency: USD
        - date: '2021-08-26'
          requestId: FDS-USA
          price: 374.01
          fsymId: SQFMK3-R
          currency: USD
        - date: '2021-08-27'
          requestId: FDS-USA
          price: 376.58
          fsymId: SQFMK3-R
          currency: USD
    badRequestRequiredParameter:
      summary: Bad Request - Required Parameter Missing
      description: This error message occurs when the request does not include the required parameters. Required parameters are indicated with a red asterisks symbol in the specification file.
      value:
        status: Bad Request
        timestamp: '2020-06-12 15:48:42.016'
        path: /factset-global-prices/v1/{endpoint}
        message: The parameter 'ids' is required and may not be empty.
        subErrors: null
    badRequestReadTimeout:
      summary: Bad Request - Read Timeout
      description: This error may be returned if it takes more than 29 seconds to hear back from the data fetch service.
      value:
        status: Bad Request
        timestamp: '2019-11-04 16:18:38.949'
        path: /factset-global-prices/v1/{endpoint}
        message: The request took too long. Try again with a smaller request.
        subErrors: null
    sogeneralException:
      summary: Internal Server Error - General Exception
      description: This is the most general error that can be returned to by the service. Please `Report Issue` to FactSet.
      value:
        errors:
        - id: adb01824-252f-4420-b0c6
          code: Internal Server Error
          links:
            about: /factset-global-prices/v1/{endpoint}
          title: Unexpected error
  responses:
    '403':
      description: The USERNAME-SERIAL attempted to request the endpoint is not authorized to access. The request was a legal request, but the server is refusing to respond. Please reach out to FactSet Account Team for assistance with authorization.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponse'
          examples:
            Bad Request - Date Format:
              $ref: '#/components/examples/forbidden'
    '400':
      description: Bad Request. This can occur for several reasons. Please review the "message" for more details.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponse'
          examples:
            Bad Request - Date Format:
              $ref: '#/components/examples/badRequestDateFormat'
            Bad Request - Missing Required Parameter:
              $ref: '#/components/examples/badRequestRequiredParameter'
            Bad Request - Future Date:
              $ref: '#/components/examples/badRequestFutureDate'
            Bad Request - Invalid Parameter:
              $ref: '#/components/examples/badRequestInvalidParameters'
            Bad Request - Malformed JSON:
              $ref: '#/components/examples/badRequestMalformedJSON'
            Bad Request - Read Timeout:
              $ref: '#/components/examples/badRequestReadTimeout'
    SO400:
      description: Bad Request. This can occur for several reasons. Please review the "message" for more details.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/soErrorResponse'
          examples:
            Bad Request - Date Format:
              $ref: '#/components/examples/sobadRequestDateFormat'
            Bad Request - Missing Required Parameter:
              $ref: '#/components/examples/sobadRequestRequiredParameter'
            Bad Request - Future Date:
              $ref: '#/components/examples/sobadRequestFutureDate'
            Bad Request - Invalid Parameter:
              $ref: '#/components/examples/sobadRequestInvalidParameters'
            Bad Request - Malformed JSON:
              $ref: '#/components/examples/sobadRequestMalformedJSON'
            Bad Request - Read Timeout:
              $ref: '#/components/examples/sobadRequestReadTimeout'
    SO415:
      description: Unsupported Media Type. This error may be returned when the caller sends a resource in a format that is not accepted by the server. This can be fixed by ensuring that Content-Type header is set to the correct value. In this instance, "application/json" would be the appropriate value.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/soErrorResponse'
          examples:
            Bad Request - Date Format:
              $ref: '#/components/examples/sounsupportedMediaType'
    '415':
      description: Unsupported Media Type. This error may be returned when the caller sends a resource in a format that is not accepted by the server. This can be fixed by ensuring that Content-Type header is set to the correct value. In this instance, "application/json" would be the appropriate value.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponse'
          examples:
            Bad Request - Date Format:
              $ref: '#/components/examples/unsupportedMediaType'
    SO401:
      description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and have successfully generated an API KEY for the IP range you are connecting from. For more help, select the **Report Issue** in the top right corner of this Developer Portal specification card and choose Connectivity 401 or 403 Responses.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/soErrorResponse'
          examples:
            Bad Request - Date Format:
              $ref: '#/components/examples/sounauthenticated'
    '401':
      description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and have successfully generated an API KEY for the IP range you are connecting from. For more help, select the **Report Issue** in the top right corner of this Developer Portal specification card and choose Connectivity 401 or 403 Responses.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponse'
          examples:
            Bad Request - Date Format:
              $ref: '#/components/examples/unauthenticated'
    '500':
      description: Internal Server Error.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponse'
          examples:
            Internal Server Error - Not Writable:
              $ref: '#/components/examples/notWritable'
            Internal Server Error - General Exception:
              $ref: '#/components/examples/generalException'
    SO500:
      description: Internal Server Error.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/soErrorResponse'
          examples:
            Internal Server Error - Not Writable:
              $ref: '#/components/examples/sonotWritable'
            Internal Server Error - General Exception:
              $ref: '#/components/examples/sogeneralException'
    SO403:
      description: The USERNAME-SERIAL attempted to request the endpoint is not authorized to access. The request was a legal request, but the server is refusing to respond. Please reach out to FactSet Account Team for assistance with authorization.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/soErrorResponse'
          examples:
            Bad Request - Date Format:
              $ref: '#/components/examples/soforbidden'
  schemas:
    adjust:
      title: Adjust
      type: string
      enum:
      - SPLIT
      - SPLIT_SPINOFF
      - UNSPLIT
      default: SPLIT
      description: "Controls the split and spinoff adjustments for the prices.\n  * **SPLIT** = Split ONLY Adjusted. This is used by default.\n  * **SPLIT_SPINOFF** = Splits & Spinoff Adjusted.\n  * **UNSPLIT** = No Adjustments.\n"
      example: SPLIT
    sharesOutstandingRequest:
      title: Shares Outstanding Request Body
      description: Shares Outstanding Request Body
      type: object
      properties:
        data:
          $ref: '#/components/schemas/sharesOutstandingRequestBody'
      required:
      - data
    errorResponse:
      type: object
      title: Error Response
      properties:
        status:
          description: status
          type: string
          example: Bad Request
        timestamp:
          description: timestamp in YYYY-MM-DD HH:MM:SS.SSS
          type: string
          example: '2019-11-01 11:09:41.918'
          format: date-time
        path:
          description: The Endpoint path {package}/version/{endpoint}
          type: string
          example: /factset-global-prices/v1/prices
        message:
          description: The plain text error message
          type: string
          example: Validation Error
        subErrors:
          description: subErrors related to the error message. Null if not applicable.
          type: object
          properties:
            object:
              description: the operation ID
              type: string
            field:
              description: Parameter Field Name
              type: string
            message:
              description: Error message
              type: string
            rejectedValue:
              description: Rejected Values in an Array
              type: array
              items:
                type: string
          example: example_value
    startDate:
      title: Start Date
      type: string
      description: 'The start date requested for a given date range in **YYYY-MM-DD** format. Future dates (T+1) are not accepted in this endpoint.

        '
      example: '2020-06-30'
    sharesOutstandingRequestBody:
      title: Shares Outstanding Request Body
      description: Shares Outstanding Request Body
      type: object
      properties:
        ids:
          $ref: '#/components/schemas/idsBatchMax2000'
        startDate:
          $ref: '#/components/schemas/startDate'
        endDate:
          $ref: '#/components/schemas/endDate'
        frequency:
          $ref: '#/components/schemas/frequency'
        calendar:
          $ref: '#/components/schemas/calendar'
        batch:
          $ref: '#/components/schemas/batch'
      required:
      - ids
    soErrorResponse:
      type: object
      title: Error Response
      description: Error Default Response
      properties:
        errors:
          type: array
          description: An array containing errors
          items:
            $ref: '#/components/schemas/soErrorObject'
          example: []
    returnsResponse:
      type: object
      title: Returns Response
      properties:
        data:
          description: Array of Returns Objects
          type: array
          items:
            $ref: '#/components/schemas/returns'
          example: []
    price:
      title: Price Object
      type: object
      properties:
        fsymId:
          description: FactSet Permanent Identifier. Six alpha-numeric characters, excluding vowels, with an -R suffix (XXXXXX-R) or a -L Suffix (XXXXXX-L).
          type:
          - string
          - 'null'
          example: LCV42P-L
        date:
          description: Ending date for the period expressed in YYYY-MM-DD format.
          type:
          - string
          - 'null'
          format: date
          example: '2020-11-19'
        currency:
          type:
          - string
          - 'null'
          description: 'Currency ISO code. For more details, visit [Online Assistant Page #1470](https://oa.apps.factset.com/pages/1470).'
          example: USD
        requestId:
          description: Identifier that was used for the request.
          type: string
          example: DDD-USA
      additionalProperties: true
    frequency:
      title: Frequency
      type: string
      enum:
      - D
      - AD
      - W
      - M
      - AM
      - AQ
      - CQ
      - ASA
      - CSA
      - AY
      - CY
      default: D
      description: "Controls the display frequency of the data returned.\n  * **D** = Daily\n  * **AD** = Actual Daily\n  * **W** = Weekly, based on the last day of the week of the start date.\n  * **M** = Monthly, based on the last trading day of the month.\n  * **AM** = Monthly, based on the start date (e.g., if the start date is June 16, data is displayed for June 16, May 16, April 16 etc.).\n  * **AQ** =  Actual Quarterly\n  * **CQ** = Quarterly based on the last trading day of the calendar quarter (March, June, September, or December).\n  * **ASA** = Actual Semi-annual\n  * **CSA** = Calendar Semi-annual\n  * **AY** = Actual Annual, based on the start date.\n  * **CY** = Calendar Annual, based on the last trading day of the calendar year.\n"
      example: M
    BatchStatusResponse:
      title: Batch Status Response
      type: object
      properties:
        data:
          $ref: '#/components/schemas/BatchStatus'
    returns:
      title: Returns Object
      type: object
      properties:
        fsymId:
          description: FactSet Permanent Identifier. Six alpha-numeric characters, excluding vowels, with an -R suffix (XXXXXX-R) or a -L Suffix (XXXXXX-L).
          type:
          - string
          - 'null'
          example: LCV42P-L
        totalReturn:
          description: Returns the data for the given input parameters.
          type:
          - number
          - 'null'
          format: double
          example: 0.927077
        date:
          description: End date of the return. Date in YYYY-MM-DD format. Depending on Frequency and Calendar settings, this could represent the entire return period requested.
          type:
          - string
          - 'null'
          format: date
          example: '2020-11-19'
        currency:
          type:
          - string
          - 'null'
          description: 'Currency ISO code. For more details, visit [Online Assistant Page #1470](https://oa.apps.factset.com/pages/1470).'
          example: USD
        requestId:
          description: Identifier that was used for the request.
          type: string
          example: DDD-USA
    soErrorObject:
      type: object
      properties:
        id:
          description: A UUID for this particular occurrence of the problem.
          type: string
          example: adb01824-252f-4420-b0c6-35a1e3507ef5
        code:
          description: status
          type: string
          example: Bad Request
        links:
          description: The Endpoint path {package}/version/{endpoint}
          type: object
          properties:
            about:
              description: Details.
              type: string
              example: /factset-global-prices/v1/securtiy-shares
          example: example_value
        title:
          description: The plain text error message
          type: string
          example: Validation Error
    calendar:
      title: Calendar
      type: string
      enum:
      - FIVEDAY
      - SEVENDAY
      - US
      default: FIVEDAY
      description: Calendar of data returned. SEVENDAY includes weekends.
      example: FIVEDAY
    globalPricesRequest:
      title: Prices Request Body
      description: Prices Request Body
      type: object
      properties:
        ids:
          $ref: '#/components/schemas/idsBatchMax10000'
        fields:
          $ref: '#/components/schemas/pricesFields'
        startDate:
          $ref: '#/components/schemas/startDate'
        endDate:
          $ref: '#/components/schemas/endDate'
        frequency:
          $ref: '#/components/schemas/frequency'
        currency:
          $ref: '#/components/schemas/requestCurrency'
        calendar:
          $ref: '#/components/schemas/calendar'
        adjust:
          $ref: '#/components/schemas/adjust'
        batch:
          $ref: '#/components/schemas/batch'
      required:
      - ids
      - startDate
    BatchStatus:
      title: Batch Status
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: the id of batch request.
          example: abc123
        startTime:
          type: string
          format: date-time
          description: Time when the batch request is started. This is in Eastern Time Zone. The date-time format is expressed as [YYYY-MM-DD]T[HH:MM:SSS], following ISO 8601.
          example: '2026-01-15T10:30:00Z'
        endTime:
          type:
          - string
          - 'null'
          format: date-time
          description: Time when the batch request is ended. This is in Eastern Time Zone. The date-time format is expressed as [YYYY-MM-DD]T[HH:MM:SSS], following ISO 8601.
          example: '2026-01-15T10:30:00Z'
        status:
          type: string
          enum:
          - queued
          - executing
          - created
          - failed
          example: queued
        error:
          $ref: '#/components/schemas/batchErrorObject'
    dividendAdjust:
      title: dividendAdjust
      type: string
      enum:
      - PRICE
      - EXDATE
      - PAYDATE
      - EXDATE_C
      - PAYDATE_C
      default: EXDATE_C
      description: "Controls the dividend reinvestment for the returns calculation.\n  * **PRICE** = Price Change - Dividends Excluded.\n  * **EXDATE** = Simple Return - Dividends Received on exdate but not reinvested.\n  * **PAYDATE** = Simple Return - Dividends Received on paydate but not reinvested.\n  * **EXDATE_C** = Compound Return - Dividends reinvested on exdate.\n  * **PAYDATE_C** = Compound Return - Dividends reinvested on paydate.\n"
      example: EXDATE_C
    idsBatchMax2000:
      type: array
      items:
        type: string
      description: "The requested list of security identifiers. Accepted ID types include Market Tickers, SEDOL, ISINs, CUSIPs, or FactSet Permanent Ids. \n<p>ids limit =  500 per non-batch request / 2000 per batch request for a single day and 50 per multi-day request</p>\n"
      example:
      - FDS-US
    globalPricesResponse:
      type: object
      title: Prices Response
      properties:
        data:
          description: Array of Price Objects
          type: array
          items:
            $ref: '#/components/schemas/price'
          example: []
    endDate:
      title: End Date
      type: string
      description: 'The end date requested for a given date range in **YYYY-MM-DD** format. Future dates (T+1) are not accepted in this endpoint.

        '
      example: '2021-06-30'
    sharesOutstandingResponseObject:
      type: object
      title: Shares Outstanding Object
      properties:
        fsymId:
          description: Security-level FactSet Permanent Identifier associated with the identifier.
          type:
          - string
          - 'null'
          example: C6J726-S
        date:
          description: Date of the record in YYYY-MM-DD format.
          type:
          - string
          - 'null'
          format: date
          example: '2022-08-10'
        documentId:
          description: Unique Identifier for each document or filing which contains the outstanding shares position.
          type:
          - string
          - 'null'
          example: '956881'
        requestId:
          description: FactSet Security Permanent Identifier that was used for the request.
          type:
          - string
          - 'null'
          example: C6J726-S
        reportDate:
          description: Reporting date of the position.
          type:
          - string
          - 'null'
          format: date
          example: '2022-08-02'
        publicationDate:
          description: Exact date that results have been communicated to the market.
          type:
          - string
          - 'null'
          format: date
          example: '2022-08-04'
        fiscalYear:
          description: The company's fiscal year corresponding to the report.
          type:
          - integer
          - 'null'
          example: 2022
        reportingPeriodDescription:
          description: Textual description of the reporting period.
          type:
          - string
          - 'null'
          example: 2nd Quarter
        reportingPeriod:
          description: 'Code representing the unique reporting period. Options are as follows:

            - 1 - 1st Quarter

            - 2 - 2nd Quarter

            - 3 - 3rd Quarter

            - 4 - 4th Quarter

            - 6 - Mid-Year

            '
          type:
          - integer
          - 'null'
          example: 3
        description:
          description: Different stock types based on the rights and benefits from ownership.
          type:
          - string
          - 'null'
          example: Class A Shares
        adrDescription:
          description: Different stock types based on the rights and benefits from ownership for the ADR.
          type:
          - string
          - 'null'
          example: Class A Shares
        adrRatio:
          description: Number of common or ordinary shares that are equivalent to one American Depositary Receipt (ADR).
          type:
          - number
          - 'null'
          example: 0.5
        adrFsymId:
          description: Unique FactSet generated identifier assigned to a security, representing the ADR security.
          type:
          - string
          - 'null'
          example: V9GGRZ-S
        totalOutstanding:
          description: Number of shares outstanding as of `date`.
          type:
          - number
          - 'null'
          example: 1351.828
        adrTotalOutstanding:
          description: Number of shares outstanding for the ADR as of `date`.
          type:
          - number
          - 'null'
          example: 980.22284
      additionalProperties: false
    requestCurrency:
      title: Request Currency
      type: string
      description: Currency code for adjusting prices. Default is Local. For a list of currency ISO codes, visit [Online Assistant Page 1470](https://oa.apps.factset.com/pages/1470).
      example: USD
    pricesFields:
      title: Prices Fields
      type: array
      items:
        type: string
      minItems: 1
      maxItems: 8
      description: "Request available pricing data fields to be included in the response. Default is all fields. All responses will include the _fsymId_, _date_, and _currency_ fields.\n  |field|description|\n  |||\n  |price|Closing Price|\n  |priceOpen|Opening Price|\n  |priceHigh|High Price|\n  |priceLow|Low Price|\n  |volume|Volume|\n  |turnover|Total Trade Value for the Day|\n  |tradeCount|Number of Trades|\n  |vwap|Volume Weighted Average Price|\n"
      example:
      - price
      - priceOpen
      - priceHigh
      - priceLow
      - volume
      - vwap
      - tradeCount
      - turnover
    batch:
      description: 'Enables the ability to asynchronously "batch" the request, supporting a long-running request for up to 20 minutes. Upon requesting batch=Y, the service will respond back with an HTTP Status Code of 202. Once a batch request is submitted, use batch status to see if the job has been completed. Once completed, retrieve the results of the request via batch-result. When using Batch, ids limit is increased to 10000 ids per request, though limits on query string via GET method still apply. It''s advised to submit large lists of ids via POST method. Please note that the number of unique currencies present in the requested ids is limited to 50 per request.

        '
      type: string
      enum:
      - Y
      - N
      default: N
    returnsRequest:
      title: Returns Request Body
      description: Returns Request Body
      type: object
      properties:
        ids:
          $ref: '#/components/schemas/idsBatchMax10000'
        startDate:
          $ref: '#/components/schemas/startDate'
        endDate:
          $ref: '#/components/schemas/endDate'
        currency:
          $ref: '#/components/schemas/requestCurrency'
        frequency:
          $ref: '#/components/schemas/frequency'
        dividendAdjust:
          $ref: '#/components/schemas/dividendAdjust'
        batch:
          $ref: '#/components/schemas/batch'
      required:
      - ids
      - startDate
    batchErrorObject:
      type:
      - object
      - 'null'
      properties:
        id:
          description: A UUID for this particular occurrence of the problem.
          type:
          - string
          - 'null'
          example: adb01824-252f-4420-b0c6-35a1e3507ef5
        code:
          description: status
          type:
          - string
          - 'null'
          example: GenericError
        links:
          description: The Endpoint path {package}/version/{endpoint}
          type: object
          properties:
            about:
              description: details.
              type: string
              example: /factset-global-prices/v1/{endpoint}
          example: example_value
        title:
          description: The plain text error message
          type:
          - string
          - 'null'
          example: Validation Error
    idsBatchMax10000:
      type: array
      items:
        type: string
      description: "The requested list of security identifiers. Accepted ID types include Market Tickers, SEDOL, ISINs, CUSIPs, or FactSet Permanent Ids. \n<p>ids limit =  1000 per non-batch request / 10000 per batch request for a single day and 50 per multi-day request</p>\n"
      example:
      - FDS-US
    sharesOutstandingResponse:
      type: object
      title: Shares Outstanding Response
      properties:
        data:
          description: Array of Shares Outstanding Objects
          type: array
          items:
            $ref: '#/components/schemas/sharesOutstandingResponseObject'
          example: []
  parameters:
    calendar:
      name: calendar
      in: query
      schema:
        type: string
        enum:
        - FIVEDAY
        - SEVENDAY
        - US
        default: FIVEDAY
      description: Calendar of data returned. SEVENDAY includes weekends.
      example: FIVEDAY
    startDate:
      name: startDate
      in: query
      required: true
      schema:
        type: string
      description: 'The start date requested for a given date range in **YYYY-MM-DD** format. The input start date must be before the input end date. Future dates (T+1) are not accepted in this endpoint.

        '
      example: '2021-08-27'
    dividendAdjust:
      name: dividendAdjust
      in: query
      schema:
        type: string
        enum:
        - PRICE
        - EXDATE
        - PAYDATE
        - EXDATE_C
        - PAYDATE_C
        default: EXDATE_C
      description: "Controls the dividend reinvestment for the returns calculation.\n  * **PRICE** = Price Change - Dividends Excluded.\n  * **EXDATE** = Simple Return - Dividends Received on exdate but not reinvested.\n  * **PAYDATE** = Simple Return - Dividends Received on paydate but not reinvested.\n  * **EXDATE_C** = Compound Return - Dividends reinvested on exdate.\n  * **PAYDATE_C** = Compound Return - Dividends reinvested on paydate.\n\n  \n"
    frequency:
      name: frequency
      in: query
      schema:
        type: string
        enum:
        - D
        - AD
        - W
        - M
        - AM
        - AQ
        - CQ
        - ASA
        - CSA
        - AY
        - CY
        default: D
      description: "Controls the display frequency of the data returned.\n  * **D** = Daily\n  * **AD** = Actual Daily\n  * **W** = Weekly, based on the last day of the week of the start date.\n  * **M** = Monthly, based on the last trading day of the month.\n  * **AM** = Monthly, based on the start date (e.g., if the start date is June 16, data is displayed for June 16, May 16, April 16 etc.).\n  * **AQ** =  Actual Quarterly\n  * **CQ** = Quarterly based on the last trading day of the calendar quarter (March, June, September, or December).\n  * **ASA** = Actual Semi-annual\n  * **CSA** = Calendar Semi-annual\n  * **AY** = Actual Annual, based on the start date.\n  * **CY** = Calendar Annual, based on the last trading day of the calendar year.\n  \n"
    endDate:
      name: endDate
      in: query
      required: false
      schema:
        type: string
      description: 'The end date requested for a given date range in **YYYY-MM-DD** format. The input end date must be after the input start date. Future dates (T+1) are not accepted in this endpoint.

        '
      example: '2021-08-27'
    idsBatchMax2000:
      name: ids
      in: query
      schema:
        type: array
        items:
          type: string
      required: true
      explode: false
      description: The requested list of security identifiers. Accepted ID types include Market Tickers, SEDOL, ISINs, CUSIPs, or FactSet Permanent Ids.<p>***ids limit** =  1000 per non-batch request / 2000 per batch request for a single day and 50 per multi-day request*</p> *<p>Make note, GET Method URL request lines are also limited to a total length of 8192 bytes (8KB). In cases where the service allows for thousands of ids, which may lead to exceeding this request line limit of 8KB, it's advised for any requests with large request lines to be requested through the respective "POST" method.</p>*
      examples:
        oneEquityId:
          summary: One Equity Market Identifier
          value:
          - AAPL-USA
        multipleEquityIds:
          summary: Multiple Equity Market Identifiers
          value:
          - FDS-US
          - AAPL-US
          - MSFT-US
    startDateSS:
      name: startDate
      in: query
      required: false
      schema:
        type: string
        default: '2021-08-27T00:00:00.000Z'
      description: 'The start date requested for a given date range in **YYYY-MM-DD** format. The input start date must be before the input end date. Future dates (T+1) are not accepted in this endpoint.

        '
      example: '2021-08-27'
    batch:
      name: batch
      in: query
      description: 'Enables the ability to asynchronously "batch" the request, supporting a long-running request for up to 20 minutes. Upon requesting batch=Y, the service will respond with an HTTP Status Code of 202.

        Once a batch request is submitted, use batch status to see if the job has been completed. Once completed, retrieve the results of the request via batch-result. When using Batch, ids limit is increased to 10000 ids per request, though limits on query string via GET method still apply. It''s advised to submit large lists of ids via POST method.

        <B>Please note that the number of unique currencies present in the requested ids is limited to 50 per request.</B>

        '
      schema:
        type: string
        enum:
        - Y
        - N
        default: N
    fieldsPrices:
      name: fields
      in: query
      description: "Request available pricing data fields to be included in the response. Default is all fields. All responses will include the _fsymId_, _date_, and _currency_ fields.\n  |field|description|\n  |||\n  |price|Closing Price|\n  |priceOpen|Opening Price|\n  |priceHigh|High Price|\n  |priceLow|Low Price|\n  |volume|Volume|\n  |turnover|Total Trade Value for the Day|\n  |tradeCount|Number of Trades|\n  |vwap|Volume Weighted Average Price|\n"
      required: false
      explode: false
      schema:
        type: array
        items:
          type: string
        default:
        - price
        - priceOpen
        - priceHigh
        - priceLow
        - volume
        - turnover
        - tradeCount
        - vwap
        - currency
      example:
      - price
      - priceOpen
      - priceHigh
      - priceLow
      - volume
    adjust:
      name: adjust
      in: query
      schema:
        type: string
        enum:
        - SPLIT
        - SPLIT_SPINOFF
        - UNSPLIT
        default: SPLIT
      description: "Controls the split and spinoff adjustments for the prices.\n  * **SPLIT** = Split ONLY Adjusted. This is used by default.\n  * **SPLIT_SPINOFF** = Splits & Spinoff Adjusted.\n  * **UNSPLIT** = No Adjustments.\n"
    idsBatchMax1000:
      name: ids
      in: query
      schema:
        type: array
        items:
          type: string
      required: true
      explode: false
      description: The requested list of security identifiers. Accepted ID types include Market Tickers, SEDOL, ISINs, CUSIPs, or FactSet Permanent Ids.<p>***ids limit** =  500 per non-batch request / 1000 per batch request for a single day and 50 per multi-day request*</p> *<p>Make note, GET Method URL request lines are also limited to a total length of 8192 bytes (8KB). In cases where the service allows for thousands of ids, which may lead to exceeding this request line limit of 8KB, it's advised for any requests with large request lines to be requested through the respective "POST" method.</p>*
      examples:
        oneEquityId:
          summary: One Equity Market Identifier
          value:
          - AAPL-USA
        multipleEquityIds:
          summary: Multiple Equity Market Identifiers
          value:
          - FDS-US
          - AAPL-US
          - MSFT-US
    currency:
      name: currency
      in: query
      schema:
        type: string
      description: Currency code for adjusting prices. Default is Local. For a list of currency ISO codes, visit [Online Assistant Page 1470](https://oa.apps.factset.com/pages/1470).
      example: USD
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
