openapi: 3.0.3
info:
  title: Factset Analytics Datastore About Basic API
  description: Allow clients to fetch precalculated Analytics through predeterministic URLs.
  contact:
    name: FactSet Research Systems
    url: https://developer.factset.com/contact
    email: api@factset.com
  license:
    name: Apache License, Version 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  version: 1.0.0
servers:
- url: https://api.factset.com
  description: Production
- url: https://api-sandbox.factset.com
  description: Sandbox
security:
- basicAuth: []
tags:
- name: Basic
paths:
  /alerting/prices/basic/alert/get:
    get:
      tags:
      - Basic
      operationId: get/alerting/prices/basic/alert/get
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: true
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      description: Details of an alert. The details include the trigger definition at the time of alert creation.
      summary: Factset Details of an Alert.
      parameters:
      - name: id
        in: query
        schema:
          description: Identifier of the alert.
          type: string
          format: id64
          x-positive: true
        required: true
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
            exclusiveMaximum: false
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      responses:
        '200':
          $ref: '#/components/responses/GetAlertingPricesBasicAlertGet200Response'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /alerting/prices/basic/alert/list:
    get:
      tags:
      - Basic
      operationId: get/alerting/prices/basic/alert/list
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: true
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: true
      x-requiresUser: true
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      description: List of alerts in descending order of creation.
      summary: Factset List of Alerts.
      responses:
        '200':
          $ref: '#/components/responses/GetAlertingPricesBasicAlertList200Response'
      parameters:
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
            exclusiveMaximum: false
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      - description: Non-negative number of milliseconds to throttle the update rate from 0ms to 5000ms. Set to 0 for sending updates immediately.
        name: _subscriptionMinimumInterval
        in: query
        schema:
          type: number
          format: int32
          minimum: 0
          exclusiveMinimum: false
          maximum: 5000
          exclusiveMaximum: false
          default: 0
      - description: Starting point as returned in the attributes `pagination.next` or `pagination.previous` by a prior invocation of this endpoint, or undefined (default).
        name: _paginationCursor
        in: query
        schema:
          type: string
          maxLength: 50
          exclusiveMaximum: false
      - description: Non-negative maximum number of entries to return.
        name: _paginationLimit
        in: query
        schema:
          type: number
          format: int32
          minimum: 0
          exclusiveMinimum: false
          maximum: 500
          exclusiveMaximum: false
          default: 20
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /alerting/prices/basic/trigger/get:
    get:
      tags:
      - Basic
      operationId: get/alerting/prices/basic/trigger/get
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: true
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      description: Details of a trigger.
      summary: Factset Details of a Trigger.
      parameters:
      - name: id
        in: query
        schema:
          type: string
          format: id64
          x-positive: true
          description: Identifier of the trigger.
        required: true
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
            exclusiveMaximum: false
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      responses:
        '200':
          $ref: '#/components/responses/GetAlertingPricesBasicTriggerGet200Response'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /alerting/prices/basic/trigger/list:
    post:
      tags:
      - Basic
      operationId: post/alerting/prices/basic/trigger/list
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: true
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: true
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      description: Returns a list of triggers sorted in descending order of creation.
      summary: Factset List of Triggers.
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostAlertingPricesBasicTriggerListRequest'
        required: false
      responses:
        '200':
          $ref: '#/components/responses/PostAlertingPricesBasicTriggerList200Response'
      parameters: []
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /basic/assetClass/list:
    get:
      tags:
      - Basic
      operationId: get/basic/assetClass/list
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      description: List of asset classes as defined by FactSet Digital Solutions.
      summary: Factset List of Asset Classes.
      responses:
        '200':
          $ref: '#/components/responses/GetBasicAssetClassList200Response'
      parameters:
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
            exclusiveMaximum: false
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /basic/backgroundText/type/list:
    post:
      tags:
      - Basic
      operationId: post/basic/backgroundText/type/list
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Factset List of Background Text Types.
      description: List of background text types.
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostBasicBackgroundTextTypeListRequest'
        required: false
      responses:
        '200':
          $ref: '#/components/responses/PostBasicBackgroundTextTypeList200Response'
      parameters: []
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /basic/benchmark/type/list:
    get:
      tags:
      - Basic
      operationId: get/basic/benchmark/type/list
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Factset List of Benchmark Types.
      description: List of benchmark types.
      responses:
        '200':
          $ref: '#/components/responses/GetBasicBenchmarkTypeList200Response'
      parameters:
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
            exclusiveMaximum: false
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      - name: _language
        in: query
        schema:
          type: string
          format: isoLanguage
          description: ISO 639-1 code of the language.
          maxLength: 2
          minLength: 2
          exclusiveMinimum: false
          exclusiveMaximum: false
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /basic/delivery/list:
    post:
      tags:
      - Basic
      operationId: post/basic/delivery/list
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 1
      x-supportsPermissionDeniedResponse: false
      summary: Factset List of Deliveries.
      description: List of deliveries.
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostBasicDeliveryListRequest'
        required: false
      responses:
        '200':
          $ref: '#/components/responses/PostBasicDeliveryList200Response'
      parameters: []
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /basic/frequency/type/list:
    get:
      tags:
      - Basic
      operationId: get/basic/frequency/type/list
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Factset List of Frequency Types.
      description: List of frequency types.
      responses:
        '200':
          $ref: '#/components/responses/GetBasicFrequencyTypeList200Response'
      parameters:
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
            exclusiveMaximum: false
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      - name: _language
        in: query
        schema:
          type: string
          format: isoLanguage
          description: ISO 639-1 code of the language.
          maxLength: 2
          minLength: 2
          exclusiveMinimum: false
          exclusiveMaximum: false
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /basic/language/get:
    get:
      tags:
      - Basic
      operationId: get/basic/language/get
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      description: Details for a language.
      summary: Factset Details for a Language.
      parameters:
      - name: id
        in: query
        schema:
          type: number
          format: id32
          x-positive: true
          description: Identifier of a language.
        required: true
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
            exclusiveMaximum: false
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      - name: _language
        in: query
        schema:
          type: string
          format: isoLanguage
          description: ISO 639-1 code of the language.
          maxLength: 2
          minLength: 2
          exclusiveMinimum: false
          exclusiveMaximum: false
      responses:
        '200':
          $ref: '#/components/responses/GetBasicLanguageGet200Response'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /basic/language/getByCode:
    get:
      tags:
      - Basic
      operationId: get/basic/language/getByCode
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      description: Details for a language identified by code.
      summary: Factset Details for a Language Identified by Code.
      parameters:
      - name: code
        in: query
        schema:
          type: string
          maxLength: 2
          exclusiveMaximum: false
          description: ISO 639-1 code of the language.
        required: true
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
            exclusiveMaximum: false
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      - name: _language
        in: query
        schema:
          type: string
          format: isoLanguage
          description: ISO 639-1 code of the language.
          maxLength: 2
          minLength: 2
          exclusiveMinimum: false
          exclusiveMaximum: false
      responses:
        '200':
          $ref: '#/components/responses/GetBasicLanguageGetByCode200Response'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /basic/language/list:
    get:
      tags:
      - Basic
      operationId: get/basic/language/list
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 2
      x-supportsPermissionDeniedResponse: false
      description: List of languages.
      summary: Factset List of Languages.
      responses:
        '200':
          $ref: '#/components/responses/GetBasicLanguageList200Response'
      parameters:
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
            exclusiveMaximum: false
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      - name: _language
        in: query
        schema:
          type: string
          format: isoLanguage
          description: ISO 639-1 code of the language.
          maxLength: 2
          minLength: 2
          exclusiveMinimum: false
          exclusiveMaximum: false
      - description: Sortable attributes. The sort order is ascending unless it is prefixed with a minus sign, in which case it is descending. A list of at most 2 (possibly prefixed) attribute name(s) is allowed.
        schema:
          type: array
          items:
            type: string
            enum:
            - code
            - -code
            - name
            - -name
          maxItems: 2
          uniqueItems: true
          default:
          - name
        style: form
        explode: false
        name: _sort
        in: query
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /basic/market/get:
    get:
      tags:
      - Basic
      operationId: get/basic/market/get
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      description: Details of a market.
      summary: Factset Details of a Market.
      parameters:
      - name: id
        in: query
        schema:
          type: number
          format: id32
          x-positive: true
          description: Identifier of a market.
        required: true
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
            exclusiveMaximum: false
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      - name: _language
        in: query
        schema:
          type: string
          format: isoLanguage
          description: ISO 639-1 code of the language.
          maxLength: 2
          minLength: 2
          exclusiveMinimum: false
          exclusiveMaximum: false
      responses:
        '200':
          $ref: '#/components/responses/GetBasicMarketGet200Response'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /basic/market/list:
    post:
      tags:
      - Basic
      operationId: post/basic/market/list
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: true
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 5
      x-supportsPermissionDeniedResponse: false
      description: List of markets.
      summary: Factset List of Markets.
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostBasicMarketListRequest'
        required: false
      responses:
        '200':
          $ref: '#/components/responses/PostBasicMarketList200Response'
      parameters: []
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /basic/market/group/list:
    get:
      tags:
      - Basic
      operationId: get/basic/market/group/list
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 2
      x-supportsPermissionDeniedResponse: false
      description: List of market groups.
      summary: Factset List of Market Groups.
      responses:
        '200':
          $ref: '#/components/responses/GetBasicMarketGroupList200Response'
      parameters:
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
            exclusiveMaximum: false
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      - name: _language
        in: query
        schema:
          type: string
          format: isoLanguage
          description: ISO 639-1 code of the language.
          maxLength: 2
          minLength: 2
          exclusiveMinimum: false
          exclusiveMaximum: false
      - description: Sortable attributes. The sort order is ascending unless it is prefixed with a minus sign, in which case it is descending. A list of at most 2 (possibly prefixed) attribute name(s) is allowed.
        schema:
          type: array
          items:
            type: string
            enum:
            - name
            - -name
            - shortName
            - -shortName
          maxItems: 2
          uniqueItems: true
          default:
          - name
        style: form
        explode: false
        name: _sort
        in: query
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /basic/market/type/list:
    get:
      tags:
      - Basic
      operationId: get/basic/market/type/list
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 1
      x-supportsPermissionDeniedResponse: false
      description: List of market types.
      summary: Factset List of Market Types.
      responses:
        '200':
          $ref: '#/components/responses/GetBasicMarketTypeList200Response'
      parameters:
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
            exclusiveMaximum: false
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      - name: _language
        in: query
        schema:
          type: string
          format: isoLanguage
          description: ISO 639-1 code of the language.
          maxLength: 2
          minLength: 2
          exclusiveMinimum: false
          exclusiveMaximum: false
      - description: Sortable attributes. The sort order is ascending unless it is prefixed with a minus sign, in which case it is descending. A list of at most 1 (possibly prefixed) attribute name(s) is allowed.
        schema:
          type: array
          items:
            type: string
            enum:
            - name
            - -name
          maxItems: 1
          uniqueItems: true
          default:
          - name
        style: form
        explode: false
        name: _sort
        in: query
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /basic/media/kind/list:
    get:
      tags:
      - Basic
      operationId: get/basic/media/kind/list
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Factset List of Media Kinds.
      description: List of media kinds.
      responses:
        '200':
          $ref: '#/components/responses/GetBasicMediaKindList200Response'
      parameters:
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
            exclusiveMaximum: false
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /basic/media/type/list:
    post:
      tags:
      - Basic
      operationId: post/basic/media/type/list
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 2
      x-supportsPermissionDeniedResponse: false
      description: List of Internet media types. See http://www.iana.org/assignments/media-types/ for further details. Not all such Internet media types are available on the MDG.
      summary: Factset List of Internet Media Types.
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostBasicMediaTypeListRequest'
        required: false
      responses:
        '200':
          $ref: '#/components/responses/PostBasicMediaTypeList200Response'
      parameters: []
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /basic/mic/operating/list:
    post:
      tags:
      - Basic
      operationId: post/basic/mic/operating/list
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: true
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 2
      x-supportsPermissionDeniedResponse: false
      summary: Factset List of Operating Market Identifier Codes (mic).
      description: List of operating market identifier codes (MIC).
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostBasicMicOperatingListRequest'
        required: false
      responses:
        '200':
          $ref: '#/components/responses/PostBasicMicOperatingList200Response'
      parameters: []
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /basic/region/get:
    get:
      tags:
      - Basic
      operationId: get/basic/region/get
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Factset Details for a Region.
      description: Details for a geographic, political, or economic region.
      parameters:
      - name: id
        in: query
        schema:
          type: number
          format: id32
          x-positive: true
          description: Identifier of a region.
        required: true
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
            exclusiveMaximum: false
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      - name: _language
        in: query
        schema:
          type: string
          format: isoLanguage
          description: ISO 639-1 code of the language.
          maxLength: 2
          minLength: 2
          exclusiveMinimum: false
          exclusiveMaximum: false
      responses:
        '200':
          $ref: '#/components/responses/GetBasicRegionGet200Response'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /basic/region/list:
    get:
      tags:
      - Basic
      operationId: get/basic/region/list
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 2
      x-supportsPermissionDeniedResponse: false
      summary: Factset List of Regions.
      description: List of geographic, political, and economic regions.
      responses:
        '200':
          $ref: '#/components/responses/GetBasicRegionList200Response'
      parameters:
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
            exclusiveMaximum: false
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      - name: _language
        in: query
        schema:
          type: string
          format: isoLanguage
          description: ISO 639-1 code of the language.
          maxLength: 2
          minLength: 2
          exclusiveMinimum: false
          exclusiveMaximum: false
      - description: Sortable attributes. The sort order is ascending unless it is prefixed with a minus sign, in which case it is descending. A list of at most 2 (possibly prefixed) attribute name(s) is allowed.
        schema:
          type: array
          items:
            type: string
            enum:
            - code
            - -code
            - name
            - -name
          maxItems: 2
          uniqueItems: true
          default:
          - name
        style: form
        explode: false
        name: _sort
        in: query
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /basic/region/continent/get:
    get:
      tags:
      - Basic
      operationId: get/basic/region/continent/get
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Factset Details for a Continent.
      description: Details for a continent.
      parameters:
      - name: id
        in: query
        schema:
          type: number
          format: id32
          x-positive: true
          description: Identifier of a continent.
        required: true
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
            exclusiveMaximum: false
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      - name: _language
        in: query
        schema:
          type: string
          format: isoLanguage
          description: ISO 639-1 code of the language.
          maxLength: 2
          minLength: 2
          exclusiveMinimum: false
          exclusiveMaximum: false
      responses:
        '200':
          $ref: '#/components/responses/GetBasicRegionContinentGet200Response'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /basic/region/continent/list:
    get:
      tags:
      - Basic
      operationId: get/basic/region/continent/list
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 1
      x-supportsPermissionDeniedResponse: false
      summary: Factset List of Continents.
      description: List of continents.
      responses:
        '200':
          $ref: '#/components/responses/GetBasicRegionContinentList200Response'
      parameters:
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
            exclusiveMaximum: false
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      - name: _language
        in: query
        schema:
          type: string
          format: isoLanguage
          description: ISO 639-1 code of the language.
          maxLength: 2
          minLength: 2
          exclusiveMinimum: false
          exclusiveMaximum: false
      - description: Sortable attributes. The sort order is ascending unless it is prefixed with a minus sign, in which case it is descending. A list of at most 1 (possibly prefixed) attribute name(s) is allowed.
        schema:
          type: array
          items:
            type: string
            enum:
            - name
            - -name
          maxItems: 1
          uniqueItems: true
          default:
          - name
        style: form
        explode: false
        name: _sort
        in: query
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /basic/region/country/get:
    get:
      tags:
      - Basic
      operationId: get/basic/region/country/get
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Factset Details for a Country.
      description: Details for a country.
      parameters:
      - name: id
        in: query
        schema:
          type: number
          format: id32
          x-positive: true
          description: Identifier of a country.
        required: true
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
            exclusiveMaximum: false
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      - name: _language
        in: query
        schema:
          type: string
          format: isoLanguage
          description: ISO 639-1 code of the language.
          maxLength: 2
          minLength: 2
          exclusiveMinimum: false
          exclusiveMaximum: false
      responses:
        '200':
          $ref: '#/components/responses/GetBasicRegionCountryGet200Response'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /basic/region/country/getByCode:
    get:
      tags:
      - Basic
      operationId: get/basic/region/country/getByCode
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Factset Details for a Country Identified by Code.
      description: Details for a country identified by code.
      parameters:
      - name: code
        in: query
        schema:
          type: string
          maxLength: 2
          exclusiveMaximum: false
          description: ISO 3166-1 alpha-2 code of a country.
        required: true
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
            exclusiveMaximum: false
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      - name: _language
        in: query
        schema:
          type: string
          format: isoLanguage
          description: ISO 639-1 code of the language.
          maxLength: 2
          minLength: 2
          exclusiveMinimum: false
          exclusiveMaximum: false
      responses:
        '200':
          $ref: '#/components/responses/GetBasicRegionCountryGetByCode200Response'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /basic/region/country/list:
    get:
      tags:
      - Basic
      operationId: get/basic/region/country/list
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 2
      x-supportsPermissionDeniedResponse: false
      summary: Factset List of Countries.
      description: List of countries.
      responses:
        '200':
          $ref: '#/components/responses/GetBasicRegionCountryList200Response'
      parameters:
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
            exclusiveMaximum: false
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      - name: _language
        in: query
        schema:
          type: string
          format: isoLanguage
          description: ISO 639-1 code of the language.
          maxLength: 2
          minLength: 2
          exclusiveMinimum: false
          exclusiveMaximum: false
      - description: Sortable attributes. The sort order is ascending unless it is prefixed with a minus sign, in which case it is descending. A list of at most 2 (possibly prefixed) attribute name(s) is allowed.
        schema:
          type: array
          items:
            type: string
            enum:
            - code
            - -code
            - name
            - -name
          maxItems: 2
          uniqueItems: true
          default:
          - name
        style: form
        explode: false
        name: _sort
        in: query
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /basic/timezone/get:
    get:
      tags:
      - Basic
      operationId: get/basic/timezone/get
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      description: Details of a timezone identified by id, as specified by the Internet Assigned Numbers Authority. See http://www.iana.org/time-zones for further details. Not all such timezones are available on the MDG.
      summary: Factset Details of a Timezone.
      parameters:
      - name: id
        in: query
        schema:
          type: number
          format: id32
          x-positive: true
          description: Identifier of a timezone. An invalid or unsupported identifier will result in an error.
        required: true
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
            exclusiveMaximum: false
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      responses:
        '200':
          $ref: '#/components/responses/GetBasicTimezoneGet200Response'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /basic/timezone/getByName:
    get:
      tags:
      - Basic
      operationId: get/basic/timezone/getByName
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      description: Details of a timezone identified by name, as specified by the Internet Assigned Numbers Authority. See http://www.iana.org/time-zones for further details. Not all such timezones are available on the MDG.
      summary: Factset Details of a Timezone Identified by Name.
      parameters:
      - name: name
        in: query
        schema:
          type: string
          pattern: ^[A-Za-z_/-]+$
          minLength: 1
          exclusiveMinimum: false
          maxLength: 100
          exclusiveMaximum: false
          description: Name of a timezone. The result is determined by a case-sensitive equality comparison with the stored timezone names. An invalid or unsupported name will result in an error.
        required: true
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
            exclusiveMaximum: false
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      responses:
        '200':
          $ref: '#/components/responses/GetBasicTimezoneGetByName200Response'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /basic/timezone/list:
    post:
      tags:
      - Basic
      operationId: post/basic/timezone/list
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      description: List of timezones identified by id, as specified by the Internet Assigned Numbers Authority. See http://www.iana.org/time-zones for further details. Not all such timezones are available on the MDG.
      summary: Factset List of Timezones.
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostBasicTimezoneListRequest'
        required: false
      responses:
        '200':
          $ref: '#/components/responses/PostBasicTimezoneList200Response'
      parameters: []
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /basic/valueUnit/get:
    get:
      tags:
      - Basic
      operationId: get/basic/valueUnit/get
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Factset Details of a Value Unit.
      description: Details of a value unit.
      parameters:
      - name: id
        in: query
        schema:
          type: number
          format: id32
          x-positive: true
          description: Identifier of a value unit.
        required: true
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
            exclusiveMaximum: false
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      - name: _language
        in: query
        schema:
          type: string
          format: isoLanguage
          description: ISO 639-1 code of the language.
          maxLength: 2
          minLength: 2
          exclusiveMinimum: false
          exclusiveMaximum: false
      responses:
        '200':
          $ref: '#/components/responses/GetBasicValueUnitGet200Response'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /basic/valueUnit/list:
    post:
      tags:
      - Basic
      operationId: post/basic/valueUnit/list
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 1
      x-supportsPermissionDeniedResponse: false
      summary: Factset List of Value Units.
      description: List of value units.
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostBasicValueUnitListRequest'
        required: false
      responses:
        '200':
          $ref: '#/components/responses/PostBasicValueUnitList200Response'
      parameters: []
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /basic/valueUnit/alternative/list:
    get:
      tags:
      - Basic
      operationId: get/basic/valueUnit/alternative/list
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 1
      x-supportsPermissionDeniedResponse: false
      description: List of alternative units.
      summary: Factset List of Alternative Units.
      responses:
        '200':
          $ref: '#/components/responses/GetBasicValueUnitAlternativeList200Response'
      parameters:
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
            exclusiveMaximum: false
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      - name: _language
        in: query
        schema:
          type: string
          format: isoLanguage
          description: ISO 639-1 code of the language.
          maxLength: 2
          minLength: 2
          exclusiveMinimum: false
          exclusiveMaximum: false
      - description: Sortable attributes. The sort order is ascending unless it is prefixed with a minus sign, in which case it is descending. A list of at most 1 (possibly prefixed) attribute name(s) is allowed.
        schema:
          type: array
          items:
            type: string
            enum:
            - name
            - -name
          maxItems: 1
          uniqueItems: true
          default:
          - name
        style: form
        explode: false
        name: _sort
        in: query
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /basic/valueUnit/currency/list:
    post:
      tags:
      - Basic
      operationId: post/basic/valueUnit/currency/list
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 1
      x-supportsPermissionDeniedResponse: false
      summary: Factset List of Currencies.
      description: List of currencies.
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostBasicValueUnitCurrencyListRequest'
        required: false
      responses:
        '200':
          $ref: '#/components/responses/PostBasicValueUnitCurrencyList200Response'
      parameters: []
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /basic/valueUnit/currency/fractional/get:
    get:
      tags:
      - Basic
      operationId: get/basic/valueUnit/currency/fractional/get
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Factset Details of a Fractional Currency.
      description: Details of a fractional currency.
      parameters:
      - name: id
        in: query
        schema:
          type: number
          format: id32
          x-positive: true
          description: Identifier of a fractional currency.
        required: true
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
            exclusiveMaximum: false
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      - name: _language
        in: query
        schema:
          type: string
          format: isoLanguage
          description: ISO 639-1 code of the language.
          maxLength: 2
          minLength: 2
          exclusiveMinimum: false
          exclusiveMaximum: false
      responses:
        '200':
          $ref: '#/components/responses/GetBasicValueUnitCurrencyFractionalGet200Response'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /basic/valueUnit/currency/fractional/list:
    get:
      tags:
      - Basic
      operationId: get/basic/valueUnit/currency/fractional/list
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 1
      x-supportsPermissionDeniedResponse: false
      summary: Factset List of Fractional Currencies.
      description: List of fractional currencies.
      responses:
        '200':
          $ref: '#/components/responses/GetBasicValueUnitCurrencyFractionalList200Response'
      parameters:
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
            exclusiveMaximum: false
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      - name: _language
        in: query
        schema:
          type: string
          format: isoLanguage
          description: ISO 639-1 code of the language.
          maxLength: 2
          minLength: 2
          exclusiveMinimum: false
          exclusiveMaximum: false
      - description: Sortable attributes. The sort order is ascending unless it is prefixed with a minus sign, in which case it is descending. A list of at most 1 (possibly prefixed) attribute name(s) is allowed.
        schema:
          type: array
          items:
            type: string
            enum:
            - name
            - -name
          maxItems: 1
          uniqueItems: true
          default:
          - name
        style: form
        explode: false
        name: _sort
        in: query
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /basic/valueUnit/currency/main/list:
    post:
      tags:
      - Basic
      operationId: post/basic/valueUnit/currency/main/list
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 1
      x-supportsPermissionDeniedResponse: false
      summary: Factset List of Main Currencies.
      description: List of main currencies.
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostBasicValueUnitCurrencyMainListRequest'
        required: false
      responses:
        '200':
          $ref: '#/components/responses/PostBasicValueUnitCurrencyMainList200Response'
      parameters: []
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /instrument/search/basic:
    get:
      tags:
      - Basic
      operationId: get/instrument/search/basic
      x-supportsOffsetBasedPaging: true
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Factset Basic Search for Instruments.
      description: Search for instruments whose ISIN, specified NSINs, or name match the search value according to a tolerant full-text match algorithm. Better matching results appear in the response before less relevant matches.
      parameters:
      - name: searchValue
        in: query
        schema:
          type: string
          minLength: 3
          exclusiveMinimum: false
          maxLength: 200
          exclusiveMaximum: false
          pattern: ^[ -!#-&(-+--/0-:=?-Za-z\w"]*$
          description: The search value of the instruments searching for. It may be enclosed in double quotes ("). No escaping is provided, therefore it is impossible to specify a search string containing double quotes. Relevance of word starts is indicated by a phrase starting with a space character, such as " daimler".
        required: true
      - name: nsins
        in: query
        schema:
          description: A set of NSIN kinds to consider in the search. If the parameter is absent or the value is empty, all valid NSIN kinds are searched.
          type: array
          nullable: false
          items:
            type: string
            x-enum-description:
            - The WKN (Wertpapierkennnummer, German for Securities Identification Number) of the instrument. The WKN is a 6-character code of digits and upper-case letters that uniquely identifies an instrument.
            - 'The Valor number (German: Valorennummer) of the instrument. The Valor number is an integer number that uniquely identifies an instrument.'
            - The CUSIP (Committee on Uniform Security Identification Procedures) or CINS (CUSIP International Numbering System) identifier of the instrument. These numbers are 9-character codes of digits and upper-case letters that uniquely identify an instrument.
            - The SEDOL or IDII for the instrument; see entity class "SEDOL or IDII" for details.
            enum:
            - wkn
            - valor
            - cusip
            - sedol
          uniqueItems: true
        style: form
        explode: false
      - name: assetClass
        in: query
        schema:
          type: string
          description: A parameter to limit the output to a particular asset class.
          x-enum-description:
          - An index is an instrument representing a statistical measure of changes in a group of data points. An index has a well-defined calculation method. An index may have index constituents, selected according to a well-defined set of rules.
          - A stock, also known as stock certificate or share, represents the partitioned capital stock of a company. The capital stock of a company constitutes the equity stake of its owners.
          - A fund is a supply of capital belonging to numerous investors that is used to collectively purchase securities while each investor retains ownership and control of his or her own shares.
          - An exchange traded fund (ETF) is a security that tracks an index, a commodity or a basket of assets like an index fund, but trades like a stock on an exchange. ETFs experience price changes throughout the day as they are bought and sold.
          - A debt instrument is an interest-bearing or interest-earning financial instrument, which is generally used for long-term debt financing and investment.
          - An investment product is a securitized derivatives product which allows the investor to participate in the performance of the underlying financial instrument.
          - A leveraged product is a securitized derivatives product which allows the investor to participate with a leverage in the performance of the underlying financial instrument.
          - A currency cross rate is an exchange rate between two main currencies.
          - A commodity is a marketable item produced to satisfy market requirements. Economic commodities comprise both goods and services.
          - An option is a derivatives contract that represents a contract sold by one party (the option writer) to another party (the option holder). The contract offers the buyer the right, but not the obligation, to buy (call) or sell (put) a particular underlying asset at an agreed price (the strike price) on a specific exercise date (European-style option) or during a period of time up to that exercise date (American-style option).
          - A future is a derivatives contract that represents a contractual agreement to buy or sell a particular underlying asset at a pre-determined price on a specific date in the future. A future contract details the quality and quantity of the underlying asset. Some future contracts may require a physical delivery of the asset, whereas others are settled in cash. In contrast to a forward (traded over-the-counter (OTC)), a future is a standardized derivative traded on a futures exchange.
          - An interest rate is the rate at which interest is paid by borrowers for the use of money borrowed from a lender. Specifically, the interest rate is a percentage of the principal.
          - Rights are securities that allow the owner to participate at the securitized right.
          enum:
          - index
          - stock
          - fund
          - etf
          - debt
          - investmentProduct
          - leveragedProduct
          - currency
          - commodity
          - option
          - future
          - interestRate
          - right
      - name: onlyActive
        in: query
        schema:
          type: boolean
          description: If true, restricts the result to active instruments.
          default: true
        required: false
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
            exclusiveMaximum: false
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      - name: _language
        in: query
        schema:
          type: string
          format: isoLanguage
          description: ISO 639-1 code of the language.
          maxLength: 2
          minLength: 2
          exclusiveMinimum: false
          exclusiveMaximum: false
      - description: Non-negative number of entries to skip, or 0 (default).
        name: _paginationOffset
        in: query
        schema:
          type: number
          format: int32
          minimum: 0
          exclusiveMinimum: false
          default: 0
      - description: Non-negative maximum number of entries to return.
        name: _paginationLimit
        in: query
        schema:
          type: number
          format: int32
          minimum: 0
          exclusiveMinimum: false
          maximum: 500
          exclusiveMaximum: false
          default: 20
      responses:
        '200':
          $ref: '#/components/responses/GetInstrumentSearchBasic200Response'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /notation/search/basic:
    get:
      tags:
      - Basic
      operationId: get/notation/search/basic
      x-supportsOffsetBasedPaging: true
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Factset Basic Search for Notations.
      description: Search for a notation whose ISIN, specified NSINs, name, or symbol match the search value according to a tolerant full-text match algorithm. If more than one notation of an instrument matches, only the notation with the highest monetary trading volume, averaged over one month, is considered. Better matching results appear in the response before less relevant matches. If the parameter popularity is set to true, the popularity of the notation is the primary sort criterion. Popularity is affected mostly by the request frequency of the notation.
      parameters:
      - name: searchValue
        in: query
        schema:
          type: string
          minLength: 3
          exclusiveMinimum: false
          maxLength: 200
          exclusiveMaximum: false
          pattern: ^[ -!#-&(-+--/0-:=?-Za-z\w"]*$
          description: Full-text search string. It may be enclosed in double quotes ("). No escaping is provided, therefore it is impossible to specify a search string containing double quotes. Relevance of word starts is indicated by a phrase starting with a space character, such as " daimler".
        required: true
      - name: nsins
        in: query
        schema:
          description: A set of NSIN kinds to consider in the search. If the parameter is absent or the value is empty, all valid NSIN kinds are searched.
          type: array
          nullable: false
          items:
            type: string
            x-enum-description:
            - The WKN (Wertpapierkennnummer, German for Securities Identification Number) of the instrument. The WKN is a 6-character code of digits and upper-case letters that uniquely identifies an instrument.
            - 'The Valor number (German: Valorennummer) of the instrument. The Valor number is an integer number that uniquely identifies an instrument.'
            - The CUSIP (Committee on Uniform Security Identification Procedures) or CINS (CUSIP International Numbering System) identifier of the instrument. These numbers are 9-character codes of digits and upper-case letters that uniquely identify an instrument.
            - The SEDOL or IDII for the notation; see entity class "SEDOL or IDII" for details.
            enum:
            - wkn
            - valor
            - cusip
            - sedol
          uniqueItems: true
        style: form
        explode: false
      - name: assetClass
        in: query
        schema:
          type: string
          description: A parameter to limit the output to a particular asset class.
          x-enum-description:
          - An index is an instrument representing a statistical measure of changes in a group of data points. An index has a well-defined calculation method. An index may have index constituents, selected according to a well-defined set of rules.
          - A stock, also known as stock certificate or share, represents the partitioned capital stock of a company. The capital stock of a company constitutes the equity stake of its owners.
          - A fund is a supply of capital belonging to numerous investors that is used to collectively purchase securities while each investor retains ownership and control of his or her own shares.
          - An exchange traded fund (ETF) is a security that tracks an index, a commodity or a basket of assets like an index fund, but trades like a stock on an exchange. ETFs experience price changes throughout the day as they are bought and sold.
          - A debt instrument is an interest-bearing or interest-earning financial instrument, which is generally used for long-term debt financing and investment.
          - An investment product is a securitized derivatives product which allows the investor to participate in the performance of the underlying financial instrument.
          - A leveraged product is a securitized derivatives product which allows the investor to participate with a leverage in the performance of the underlying financial instrument.
          - A currency cross rate is an exchange rate between two main currencies.
          - A commodity is a marketable item produced to satisfy market requirements. Economic commodities comprise both goods and services.
          - An option is a derivatives contract that represents a contract sold by one party (the option writer) to another party (the option holder). The contract offers the buyer the right, but not the obligation, to buy (call) or sell (put) a particular underlying asset at an agreed price (the strike price) on a specific exercise date (European-style option) or during a period of time up to that exercise date (American-style option).
          - A future is a derivatives contract that represents a contractual agreement to buy or sell a particular underlying asset at a pre-determined price on a specific date in the future. A future contract details the quality and quantity of the underlying asset. Some future contracts may require a physical delivery of the asset, whereas others are settled in cash. In contrast to a forward (traded over-the-counter (OTC)), a future is a standardized derivative traded on a futures exchange.
          - An interest rate is the rate at which interest is paid by borrowers for the use of money borrowed from a lender. Specifically, the interest rate is a percentage of the principal.
          - Rights are securities that allow the owner to participate at the securitized right.
          enum:
          - index
          - stock
          - fund
          - etf
          - debt
          - investmentProduct
          - leveragedProduct
          - currency
          - commodity
          - option
          - future
          - interestRate
          - right
      - name: onlyActive
        in: query
        schema:
          type: boolean
          description: If true, restricts the result to active notations.
          default: true
        required: false
      - name: popularity
        in: query
        schema:
          type: boolean
          default: false
          description: If true, the results are sorted by descending popularity.
        required: false
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
            exclusiveMaximum: false
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      - name: _language
        in: query
        schema:
          type: string
          format: isoLanguage
          description: ISO 639-1 code of the language.
          maxLength: 2
          minLength: 2
          exclusiveMinimum: false
          exclusiveMaximum: false
      - description: Non-negative number of entries to skip, or 0 (default).
        name: _paginationOffset
        in: query
        schema:
          type: number
          format: int32
          minimum: 0
          exclusiveMinimum: false
          default: 0
      - description: Non-negative maximum number of entries to return.
        name: _paginationLimit
        in: query
        schema:
          type: number
          format: int32
          minimum: 0
          exclusiveMinimum: false
          maximum: 500
          exclusiveMaximum: false
          default: 20
      responses:
        '200':
          $ref: '#/components/responses/GetNotationSearchBasic200Response'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    PartialOutputObject:
      type: object
      properties:
        isPartial:
          type: boolean
          description: Flag indicating that the response is a possibly incomplete array or an object containing a possibly incomplete array, due to hitting a processing time limit. If `true`, some matching results might be missing from the array, or elements for matching results might be incorrectly included (for example, when priority sorting would have removed the element). Depending on the use case, such a response may be unsuitable.
          example: true
      description: Object denoting that the endpoint response is possibly incomplete.
      required:
      - isPartial
      x-property-sort:
      - isPartial
    PostBasicTimezoneListRequest:
      x-property-sort:
      - data
      - meta
      description: Request Body
      type: object
      properties:
        data:
          type: object
          x-property-sort:
          - filter
          description: The data member contains the request's primary data.
          properties:
            filter:
              type: object
              x-property-sort:
              - ids
              description: Criteria that filter the items in the response list; only items that match all of the criteria are returned.
              properties:
                ids:
                  type: array
                  nullable: false
                  items:
                    type: number
                    format: id32
                    x-positive: true
                  minItems: 1
                  maxItems: 100
                  uniqueItems: true
                  description: List of timezone identifiers. Invalid identifiers result in an error.
          example: example_value
        meta:
          type: object
          description: The meta member contains the meta information of the request.
          properties:
            attributes:
              $ref: '#/components/schemas/AttributesMember'
          x-property-sort:
          - attributes
          example: example_value
    PostBasicMarketListRequest:
      x-property-sort:
      - data
      - meta
      description: Request Body
      type: object
      properties:
        data:
          type: object
          x-property-sort:
          - filter
          description: The data member contains the request's primary data.
          properties:
            filter:
              type: object
              x-property-sort:
              - markets
              - onlyActive
              description: Criteria that filter the items in the response list; only items that match all of the criteria are returned.
              properties:
                markets:
                  type: object
                  x-property-sort:
                  - ids
                  description: Filter for specific markets.
                  properties:
                    ids:
                      type: array
                      nullable: false
                      items:
                        type: number
                        format: id32
                        x-positive: true
                      minItems: 1
                      maxItems: 100
                      uniqueItems: true
                      description: List of market identifiers. Invalid identifiers result in an error.
                onlyActive:
                  type: boolean
                  default: true
                  description: Indicates whether the market exists.
          example: example_value
        meta:
          type: object
          description: The meta member contains the meta information of the request.
          properties:
            attributes:
              $ref: '#/components/schemas/AttributesMember'
            language:
              $ref: '#/components/schemas/LanguageMember'
            sort:
              description: Sortable attributes. The sort order is ascending unless it is prefixed with a minus sign, in which case it is descending. A list of at most 5 (possibly prefixed) attribute name(s) is allowed.
              type: array
              items:
                type: string
                enum:
                - name
                - -name
                - shortName
                - -shortName
                - country.name
                - -country.name
                - type.name
                - -type.name
                - group.name
                - -group.name
              maxItems: 5
              uniqueItems: true
              default:
              - name
            pagination:
              type: object
              description: Pagination attributes for the offset-based pagination strategy.
              properties:
                offset:
                  type: number
                  format: int32
                  minimum: 0
                  exclusiveMinimum: false
                  default: 0
                  description: Non-negative number of entries to skip, or 0 (default).
                limit:
                  type: number
                  format: int32
                  minimum: 0
                  exclusiveMinimum: false
                  maximum: 500
                  exclusiveMaximum: false
                  default: 20
                  description: Non-negative maximum number of entries to return.
              x-property-sort:
              - offset
              - limit
          x-property-sort:
          - attributes
          - language
          - sort
          - pagination
          example: example_value
    PostBasicBackgroundTextTypeListRequest:
      x-property-sort:
      - data
      - meta
      description: Request Body
      type: object
      properties:
        data:
          type: object
          x-property-sort:
          - filter
          description: The data member contains the request's primary data.
          properties:
            filter:
              type: object
              x-property-sort:
              - ids
              description: Criteria that filter the items in the response list; only items that match all of the criteria are returned.
              properties:
                ids:
                  type: array
                  nullable: false
                  items:
                    type: number
                    format: id32
                    x-positive: true
                  minItems: 1
                  maxItems: 100
                  uniqueItems: true
                  description: List of background text type identifiers. Invalid identifiers result in an error.
          example: example_value
        meta:
          type: object
          description: The meta member contains the meta information of the request.
          properties:
            attributes:
              $ref: '#/components/schemas/AttributesMember'
          x-property-sort:
          - attributes
          example: example_value
    LanguageMember:
      type: string
      format: isoLanguage
      description: ISO 639-1 code of the language.
      maxLength: 2
      minLength: 2
      exclusiveMinimum: false
      exclusiveMaximum: false
    PostBasicDeliveryListRequest:
      x-property-sort:
      - data
      - meta
      description: Request Body
      type: object
      properties:
        data:
          type: object
          x-property-sort:
          - filter
          description: The data member contains the request's primary data.
          properties:
            filter:
              type: object
              x-property-sort:
              - ids
              description: Criteria that filter the items in the response list; only items that match all of the criteria are returned.
              properties:
                ids:
                  type: array
                  nullable: false
                  items:
                    type: number
                    format: id32
                    x-positive: true
                  minItems: 1
                  maxItems: 100
                  uniqueItems: true
                  description: List of delivery identifiers. Invalid identifiers result in an error.
          example: example_value
        meta:
          type: object
          description: The meta member contains the meta information of the request.
          properties:
            attributes:
              $ref: '#/components/schemas/AttributesMember'
            sort:
              description: Sortable attributes. The sort order is ascending unless it is prefixed with a minus sign, in which case it is descending. A list of at most 1 (possibly prefixed) attribute name(s) is allowed.
              type: array
              items:
                type: string
                enum:
                - name
                - -name
              maxItems: 1
              uniqueItems: true
              default:
              - name
          x-property-sort:
          - attributes
          - sort
          example: example_value
    PostBasicValueUnitCurrencyMainListRequest:
      x-property-sort:
      - data
      - meta
      description: Request Body
      type: object
      properties:
        data:
          type: object
          x-property-sort:
          - filter
          description: The data member contains the request's primary data.
          properties:
            filter:
              type: object
              x-property-sort:
              - status
              description: Criteria that filter the items in the response list; only items that match all of the criteria are returned.
              properties:
                status:
                  type: string
                  description: Filter for the status.
                  default: active
                  x-enum-description:
                  - Show all main currencies.
                  - Show only active main currencies.
                  - Show only inactive main currencies.
                  enum:
                  - all
                  - active
                  - inactive
          example: example_value
        meta:
          type: object
          description: The meta member contains the meta information of the request.
          properties:
            attributes:
              $ref: '#/components/schemas/AttributesMember'
            language:
              $ref: '#/components/schemas/LanguageMember'
            sort:
              description: Sortable attributes. The sort order is ascending unless it is prefixed with a minus sign, in which case it is descending. A list of at most 1 (possibly prefixed) attribute name(s) is allowed.
              type: array
              items:
                type: string
                enum:
                - name
                - -name
              maxItems: 1
              uniqueItems: true
              default:
              - name
          x-property-sort:
          - attributes
          - language
          - sort
          example: example_value
    AttributesMember:
      type: array
      description: Limit the attributes returned in the response to the specified set.
      items:
        type: string
        maxLength: 100
        exclusiveMaximum: false
      maxItems: 50
      uniqueItems: true
    PostBasicValueUnitCurrencyListRequest:
      x-property-sort:
      - data
      - meta
      description: Request Body
      type: object
      properties:
        data:
          type: object
          x-property-sort:
          - filter
          description: The data member contains the request's primary data.
          properties:
            filter:
              type: object
              x-property-sort:
              - status
              description: Criteria that filter the items in the response list; only items that match all of the criteria are returned.
              properties:
                status:
                  type: string
                  description: Filter for the status.
                  default: active
                  x-enum-description:
                  - Show all currencies.
                  - Show only active currencies.
                  - Show only inactive currencies.
                  enum:
                  - all
                  - active
                  - inactive
          example: example_value
        meta:
          type: object
          description: The meta member contains the meta information of the request.
          properties:
            attributes:
              $ref: '#/components/schemas/AttributesMember'
            language:
              $ref: '#/components/schemas/LanguageMember'
            sort:
              description: Sortable attributes. The sort order is ascending unless it is prefixed with a minus sign, in which case it is descending. A list of at most 1 (possibly prefixed) attribute name(s) is allowed.
              type: array
              items:
                type: string
                enum:
                - name
                - -name
              maxItems: 1
              uniqueItems: true
              default:
              - name
          x-property-sort:
          - attributes
          - language
          - sort
          example: example_value
    PostBasicMediaTypeListRequest:
      x-property-sort:
      - data
      - meta
      description: Request Body
      type: object
      properties:
        data:
          type: object
          x-property-sort:
          - filter
          description: The data member contains the request's primary data.
          properties:
            filter:
              description: Criteria that filter the items in the response list; only items that match all of the criteria are returned.
              type: object
              x-property-sort:
              - ids
              properties:
                ids:
                  type: array
                  nullable: false
                  items:
                    type: number
                    format: id32
                    x-positive: true
                  minItems: 1
                  maxItems: 100
                  uniqueItems: true
                  description: List of Internet media type identifiers. Invalid identifiers result in an error.
          example: example_value
        meta:
          type: object
          description: The meta member contains the meta information of the request.
          properties:
            attributes:
              $ref: '#/components/schemas/AttributesMember'
            sort:
              description: Sortable attributes. The sort order is ascending unless it is prefixed with a minus sign, in which case it is descending. A list of at most 2 (possibly prefixed) attribute name(s) is allowed.
              type: array
              items:
                type: string
                enum:
                - id
                - -id
                - name
                - -name
              maxItems: 2
              uniqueItems: true
              default:
              - name
          x-property-sort:
          - attributes
          - sort
          example: example_value
    PostBasicValueUnitListRequest:
      x-property-sort:
      - data
      - meta
      description: Request Body
      type: object
      properties:
        data:
          type: object
          x-property-sort:
          - filter
          description: The data member contains the request's primary data.
          properties:
            filter:
              type: object
              x-property-sort:
              - status
              description: Criteria that filter the items in the response list; only items that match all of the criteria are returned.
              properties:
                status:
                  type: string
                  description: Filter for the status.
                  default: active
                  x-enum-description:
                  - Show all currencies.
                  - Show only active currencies.
                  - Show only inactive currencies.
                  enum:
                  - all
                  - active
                  - inactive
          example: example_value
        meta:
          type: object
          description: The meta member contains the meta information of the request.
          properties:
            attributes:
              $ref: '#/components/schemas/AttributesMember'
            language:
              $ref: '#/components/schemas/LanguageMember'
            sort:
              description: Sortable attributes. The sort order is ascending unless it is prefixed with a minus sign, in which case it is descending. A list of at most 1 (possibly prefixed) attribute name(s) is allowed.
              type: array
              items:
                type: string
                enum:
                - name
                - -name
              maxItems: 1
              uniqueItems: true
              default:
              - name
          x-property-sort:
          - attributes
          - language
          - sort
          example: example_value
    OffsetBasedPaginationOutputObjectWithoutTotal:
      type: object
      description: Pagination attributes for the offset-based pagination strategy; a total element count is not supported.
      properties:
        hasNext:
          type: boolean
          description: Flag indicating that a subsequent request with the same parameters, except that the parameter `pagination.offset` is incremented by `pagination.limit`, would yield additional results.
          example: true
      required:
      - hasNext
      x-property-sort:
      - hasNext
    StatusObject:
      type: object
      properties:
        code:
          type: number
          format: int32
          description: The HTTP status code of the response, mirroring the code from the Status-Line of the HTTP response message (see [RFC2616] section 6.1).
          example: 42.5
      description: The status member contains the status code of the response.
      required:
      - code
    CursorBasedPaginationOutputObject:
      type: object
      description: Pagination attributes for the cursor-based pagination strategy.
      properties:
        total:
          type: number
          format: int32
          description: Total number of entries in the result set.
          example: 42.5
        isEstimatedTotal:
          type: boolean
          description: Flag indicating that the value of `total` is estimated.
          example: true
        next:
          type: string
          description: The next cursor position to use in the parameter `pagination.cursor` for an endpoint that supports cursor-based pagination, otherwise `null`.
          example: example_value
        previous:
          type: string
          description: The previous cursor position to use in the parameter `pagination.cursor` for an endpoint that supports cursor-based pagination. If a previous cursor position is not supported or available, `previous` is `null`.
          example: example_value
      required:
      - total
      - isEstimatedTotal
      - next
      - previous
      x-property-sort:
      - total
      - isEstimatedTotal
      - next
      - previous
    PostAlertingPricesBasicTriggerListRequest:
      x-property-sort:
      - data
      - meta
      description: Request Body
      type: object
      properties:
        data:
          type: object
          x-property-sort:
          - filter
          description: The data member contains the request's primary data.
          properties:
            filter:
              type: object
              x-property-sort:
              - status
              description: Criteria that filter the items in the response list.
              properties:
                status:
                  type: object
                  x-property-sort:
                  - code
                  description: Status of the trigger.
                  properties:
                    code:
                      type: string
                      description: Code of the status.
                      x-enum-description:
                      - The trigger is active and trigger conditions are evaluated.
                      - The trigger is inactive and conditions do not generate alerts.
                      - The trigger is in an error state, error details are noted in `details`
                      enum:
                      - active
                      - inactive
                      - error
          example: example_value
        meta:
          type: object
          description: The meta member contains the meta information of the request.
          properties:
            attributes:
              $ref: '#/components/schemas/AttributesMember'
            pagination:
              type: object
              description: Pagination attributes for the cursor-based pagination strategy.
              properties:
                cursor:
                  type: string
                  maxLength: 50
                  exclusiveMaximum: false
                  description: Starting point as returned in the attributes `pagination.next` or `pagination.previous` by a prior invocation of this endpoint, or undefined (default).
                limit:
                  type: number
                  format: int32
                  minimum: 0
                  exclusiveMinimum: false
                  maximum: 500
                  exclusiveMaximum: false
                  default: 20
                  description: Non-negative maximum number of entries to return.
              x-property-sort:
              - cursor
              - limit
          x-property-sort:
          - attributes
          - pagination
          example: example_value
    OffsetBasedPaginationOutputObject:
      type: object
      description: Pagination attributes for the offset-based pagination strategy.
      properties:
        total:
          type: number
          format: int32
          description: Total number of entries in the result set.
          example: 42.5
        isEstimatedTotal:
          type: boolean
          description: Flag indicating that the value of "total" is estimated.
          example: true
      required:
      - total
      - isEstimatedTotal
      x-property-sort:
      - total
      - isEstimatedTotal
    PostBasicMicOperatingListRequest:
      x-property-sort:
      - data
      - meta
      description: Request Body
      type: object
      properties:
        data:
          type: object
          x-property-sort:
          - filter
          description: The data member contains the request's primary data.
          properties:
            filter:
              type: object
              x-property-sort:
              - status
              description: Criteria that filter the items in the response list; only items that match all of the criteria are returned.
              properties:
                status:
                  type: string
                  description: Filter for the status.
                  default: active
                  x-enum-description:
                  - Show all operating MICs.
                  - Show only active operating MICs.
                  - Show only inactive operating MICs.
                  enum:
                  - all
                  - active
                  - inactive
          example: example_value
        meta:
          type: object
          description: The meta member contains the meta information of the request.
          properties:
            attributes:
              $ref: '#/components/schemas/AttributesMember'
            sort:
              description: Sortable attributes. The sort order is ascending unless it is prefixed with a minus sign, in which case it is descending. A list of at most 2 (possibly prefixed) attribute name(s) is allowed.
              type: array
              items:
                type: string
                enum:
                - isoCode
                - -isoCode
                - name
                - -name
              maxItems: 2
              uniqueItems: true
              default:
              - name
            pagination:
              type: object
              description: Pagination attributes for the offset-based pagination strategy.
              properties:
                offset:
                  type: number
                  format: int32
                  minimum: 0
                  exclusiveMinimum: false
                  default: 0
                  description: Non-negative number of entries to skip, or 0 (default).
                limit:
                  type: number
                  format: int32
                  minimum: 0
                  exclusiveMinimum: false
                  maximum: 500
                  exclusiveMaximum: false
                  default: 20
                  description: Non-negative maximum number of entries to return.
              x-property-sort:
              - offset
              - limit
          x-property-sort:
          - attributes
          - sort
          - pagination
          example: example_value
  responses:
    GetBasicRegionGet200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: object
                properties:
                  code:
                    nullable: true
                    type: string
                    description: ISO 3166-1 alpha-2 code of the country. This attribute is set for each country, may be set for miscellaneous regions and is empty for regions of other types.
                  name:
                    nullable: true
                    type: string
                    format: localizedString
                    description: Name of the region.
                  type:
                    nullable: true
                    type: string
                    description: Type of the region.
                    x-enum-description:
                    - Regions that are considered to be a continent in the context of the Market Data Gateway.
                    - A region that represents a country that has been assigned an official ISO 3166-1 code.
                    - A region that represents a subdivision of a country that has been assigned an official ISO 3166-2 code.
                    - A miscellaneous region represents a region that is neither a continent, nor a country, nor a subdivision of a country.
                    - A compound miscellaneous region consists of member regions which are uniquely and undoubtedly defined.
                    enum:
                    - continent
                    - country
                    - subdivision
                    - misc
                    - compound
                  nestedRegions:
                    nullable: false
                    type: array
                    items:
                      type: object
                      nullable: false
                      x-property-sort:
                      - id
                      - code
                      - name
                      - type
                      properties:
                        id:
                          nullable: true
                          type: number
                          format: id32
                          x-positive: true
                          description: Identifier of a region.
                        code:
[...]
