openapi: 3.0.3
info:
  title: Factset Analytics Datastore About Quant API
  description: Allow clients to fetch precalculated Analytics through predeterministic URLs.
  contact:
    name: FactSet Research Systems
    url: https://developer.factset.com/contact
    email: api@factset.com
  license:
    name: Apache License, Version 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  version: 1.0.0
servers:
- url: https://api.factset.com
  description: Production
- url: https://api-sandbox.factset.com
  description: Sandbox
security:
- basicAuth: []
tags:
- name: Quant
paths:
  /analytics/quant/fpe/v1/calculations:
    post:
      tags:
      - Quant
      summary: Factset Starts a New Script Calculation
      description: This endpoint takes a python script and starts executing it within FPE
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Calculation'
      responses:
        '202':
          description: Expected response, contains the relative URL in the Location header to check the status of the calculation.
          headers:
            Location:
              description: Relative URL to check status of the request.
              schema:
                type: string
                description: Relative URL to check status of the request.
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalculationStatus'
        '400':
          description: Invalid request body provided
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
        '500':
          description: Server error. Log the X-DataDirect-Request-Key header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
        '503':
          description: Request timeout. Retry the request later
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /analytics/quant/fpe/v1/calculations/{id}:
    get:
      tags:
      - Quant
      summary: Factset Get Calculation Status by Id
      description: This is the endpoint to check on the progress of a previous calculation request.
      parameters:
      - name: id
        in: path
        description: From url, provided by location header or response body in the calculation start endpoint
        required: true
        schema:
          type: string
          description: From url, provided by location header or response body in the calculation start endpoint
      responses:
        '200':
          description: Expected response. Signals that the calculation is finished.
          headers:
            Location:
              description: Relative URL to check status of the request.
              schema:
                type: string
                description: Relative URL to check status of the request.
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalculationStatus'
        '202':
          description: Expected response. Signals that the calculation is still in progress.
          headers:
            Location:
              description: Relative URL to check status of the request.
              schema:
                type: string
                description: Relative URL to check status of the request.
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalculationStatus'
        '500':
          description: Server error. Log the X-DataDirect-Request-Key header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
        '503':
          description: Request timeout. Retry the request later
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /analytics/quant/fpe/v1/calculations/{id}/output:
    get:
      tags:
      - Quant
      summary: Factset Get Calculation Output for a Specific Calculation
      description: This endpoint returns the specified output from the calculation.
      parameters:
      - name: id
        in: path
        description: From url, provided by location header or response body in the calculation start endpoint
        required: true
        schema:
          type: string
          description: From url, provided by location header or response body in the calculation start endpoint
      responses:
        '200':
          description: Expected response. Signals that the calculation is finished. Output from the calculation is returned.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            Content-Type:
              description: The content type of the output specified in the calculation's script.
              schema:
                type: string
          content:
            '*':
              schema:
                type: string
                format: binary
        '202':
          description: Expected response. Signals that the calculation is still in progress and no output is returned.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
        '500':
          description: Server error. Log the X-DataDirect-Request-Key header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
        '503':
          description: Request timeout. Retry the request later
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /analytics/quant/fpe/v1/calculations/{id}/log:
    get:
      tags:
      - Quant
      summary: Factset Get Calculation Log for a Specific Calculation
      description: This endpoint returns the log from the calculation.
      parameters:
      - name: id
        in: path
        description: From url, provided by location header or response body in the calculation start endpoint
        required: true
        schema:
          type: string
          description: From url, provided by location header or response body in the calculation start endpoint
      responses:
        '200':
          description: Expected response. Signals that the calculation is finished. Log from the calculation is returned.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
          content:
            text/plain:
              schema:
                type: string
                format: binary
        '202':
          description: Expected response. Signals that the calculation is still in progress and no log is returned.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
        '500':
          description: Server error. Log the X-DataDirect-Request-Key header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
        '503':
          description: Request timeout. Retry the request later
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /analytics/quant/fpe/v1/files/{server}/{file}:
    post:
      tags:
      - Quant
      summary: Factset Starts a File Upload
      description: This endpoint takes a file and uploads it
      parameters:
      - name: server
        in: path
        description: The server to upload the file to. Either `interactive` or `batch`.
        required: true
        schema:
          type: string
          description: The server to upload the file to. Either `interactive` or `batch`.
      - name: file
        in: path
        description: The file name to upload the file to. Existing directory can be specified.
        required: true
        schema:
          type: string
          description: The file name to upload the file to. Existing directory can be specified.
      requestBody:
        content:
          '*':
            schema:
              type: string
              format: binary
      responses:
        '202':
          description: Expected response, contains the relative URL in the Location header to check the status of the upload.
          headers:
            Location:
              description: Relative URL to check status of the request.
              schema:
                type: string
                description: Relative URL to check status of the request.
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileUploadStatus'
        '500':
          description: Server error. Log the X-DataDirect-Request-Key header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
        '503':
          description: Request timeout. Retry the request later
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /analytics/quant/fpe/v1/files/uploads/{id}:
    get:
      tags:
      - Quant
      summary: Factset Get Upload Status by Id
      description: This is the endpoint to check on the progress of a previous upload request.
      parameters:
      - name: id
        in: path
        description: From url, provided by location header or response body in the upload start endpoint
        required: true
        schema:
          type: string
          description: From url, provided by location header or response body in the upload start endpoint
      responses:
        '200':
          description: Expected response. Signals that the upload is finished.
          headers:
            Location:
              description: Relative URL to check status of the request.
              schema:
                type: string
                description: Relative URL to check status of the request.
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileUploadStatus'
        '202':
          description: Expected response. Signals that the upload is still in progress.
          headers:
            Location:
              description: Relative URL to check status of the request.
              schema:
                type: string
                description: Relative URL to check status of the request.
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileUploadStatus'
        '500':
          description: Server error. Log the X-DataDirect-Request-Key header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
        '503':
          description: Request timeout. Retry the request later
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    Calculation:
      properties:
        script:
          type: string
          description: The python script that will be executed
          example: example_value
        notebook:
          type: string
          description: Notebook file to be executed. Only notebooks in the Client directory are currently supported.
          example: example_value
    CalculationStatus:
      properties:
        id:
          type: string
          description: The unique ID for this calculation
          example: abc123
        status:
          type: string
          enum:
          - pending
          - failed
          - completed
          example: pending
    FileUploadStatus:
      properties:
        id:
          type: string
          description: The unique ID for this upload
          example: abc123
        status:
          type: string
          enum:
          - pending
          - failed
          - completed
          - running
          example: pending
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
externalDocs:
  url: https://developer.factset.com/api-catalog/analytics-datastore-api
  description: API Documentation
