openapi: 3.2.0
info:
  title: Factset Alerting API
  version: 3.0.0
  contact:
    name: FactSet Research Systems
    url: https://developer.factset.com/contact
    email: api@factset.com
  license:
    name: Apache License, Version 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  description: 'Operations tagged Alerting across 2 of this provider''s published API definitions: factset-real-time-price-alerting-api-openapi.yml, real-time-price-alerting-openapi-original.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.factset.com/wealth/v3
security:
- FactSetApiKey: []
- FactSetOAuth2: []
tags:
- name: Alerting
paths:
  /alerting/prices/basic/trigger/get:
    get:
      tags:
      - Alerting
      operationId: get/alerting/prices/basic/trigger/get
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: true
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      description: Details of a trigger.
      summary: Factset Details of a Trigger.
      parameters:
      - name: id
        in: query
        schema:
          type: string
          format: id64
          x-positive: true
          description: Identifier of the trigger.
        required: true
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      responses:
        '200':
          $ref: '#/components/responses/GetAlertingPricesBasicTriggerGet200Response'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - url: https://api.factset.com/wealth/v3
  /alerting/prices/basic/trigger/list:
    post:
      tags:
      - Alerting
      operationId: post/alerting/prices/basic/trigger/list
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: true
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: true
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      description: Returns a list of triggers sorted in descending order of creation.
      summary: Factset List of Triggers.
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostAlertingPricesBasicTriggerListRequest'
        required: false
      responses:
        '200':
          $ref: '#/components/responses/PostAlertingPricesBasicTriggerList200Response'
      parameters: []
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - url: https://api.factset.com/wealth/v3
  /alerting/prices/basic/alert/get:
    get:
      tags:
      - Alerting
      operationId: get/alerting/prices/basic/alert/get
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: true
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      description: Details of an alert. The details include the trigger definition at the time of alert creation.
      summary: Factset Details of an alert.
      parameters:
      - name: id
        in: query
        schema:
          description: Identifier of the alert.
          type: string
          format: id64
          x-positive: true
        required: true
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      responses:
        '200':
          $ref: '#/components/responses/GetAlertingPricesBasicAlertGet200Response'
    servers:
    - url: https://api.factset.com/wealth/v3
  /alerting/prices/basic/alert/list:
    get:
      tags:
      - Alerting
      operationId: get/alerting/prices/basic/alert/list
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: true
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: true
      x-requiresUser: true
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      description: List of alerts in descending order of creation.
      summary: Factset List of alerts.
      responses:
        '200':
          $ref: '#/components/responses/GetAlertingPricesBasicAlertList200Response'
      parameters:
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      - description: Non-negative number of milliseconds to throttle the update rate from 0ms to 5000ms. Set to 0 for sending updates immediately.
        name: _subscriptionMinimumInterval
        in: query
        schema:
          type: number
          format: int32
          minimum: 0
          maximum: 5000
          default: 0
      - description: Starting point as returned in the attributes `pagination.next` or `pagination.previous` by a prior invocation of this endpoint, or undefined (default).
        name: _paginationCursor
        in: query
        schema:
          type: string
          maxLength: 50
      - description: Non-negative maximum number of entries to return.
        name: _paginationLimit
        in: query
        schema:
          type: number
          format: int32
          minimum: 0
          maximum: 500
          default: 20
    servers:
    - url: https://api.factset.com/wealth/v3
components:
  responses:
    GetAlertingPricesBasicTriggerGet200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: object
                properties:
                  id:
                    type:
                    - string
                    - 'null'
                    format: id64
                    x-positive: true
                    description: Identifier of the trigger.
                  creation:
                    type:
                    - string
                    - 'null'
                    format: datetime
                    description: Date and time when the trigger was created.
                  notation:
                    type: object
                    x-property-sort:
                    - id
                    description: Notation data of the trigger.
                    properties:
                      id:
                        type:
                        - string
                        - 'null'
                        format: id64
                        x-positive: true
                        description: Identifier of the notation.
                  price:
                    description: Price data of the trigger.
                    type: object
                    x-property-sort:
                    - type
                    - quality
                    properties:
                      type:
                        type:
                        - string
                        - 'null'
                        description: Type of the price as configured for the customer.
                        x-enum-description:
                        - Trade price (ordinary, auction, pre or post-trading).
                        - Bid price.
                        - Ask price.
                        enum:
                        - trade
                        - bid
                        - ask
                      quality:
                        type:
                        - string
                        - 'null'
                        description: Quality of the price.
                        x-enum-description:
                        - 'Real-time: intraday prices with minimal technical processing delays.'
                        - 'Delayed: intraday prices with an exchange-imposed delay of usually 15 to 30 minutes.'
                        - 'End-of-day: prices updated once per day after the close of trading, possibly with an exchange-imposed delay of several hours or days.'
                        enum:
                        - RLT
                        - DLY
                        - EOD
                  range:
                    type: object
                    x-property-sort:
                    - upperLimit
                    - lowerLimit
                    description: Price range for the trigger to monitor.
                    properties:
                      upperLimit:
                        type:
                        - number
                        - 'null'
                        format: real
                        description: Upper limit.
                      lowerLimit:
                        type:
                        - number
                        - 'null'
                        format: real
                        description: Lower limit.
                  comment:
                    type:
                    - string
                    - 'null'
                    description: Comment of the trigger.
                  notification:
                    type: object
                    x-property-sort:
                    - channel
                    description: Selection of notifications for triggered alerts.
                    properties:
                      channel:
                        description: Notification channel selection; see endpoint `/alerting/notification/channel/list` for possible channels.
                        type: array
                        items:
                          type: object
                          x-property-sort:
                          - id
                          properties:
                            id:
                              description: Identifier of the notification channel.
                              type:
                              - number
                              - 'null'
                              format: id32
                              x-positive: true
                  status:
                    type: object
                    x-property-sort:
                    - code
                    - details
                    - encryptedDetails
                    description: Status of the trigger.
                    properties:
                      code:
                        type:
                        - string
                        - 'null'
                        description: Code of the status.
                        x-enum-description:
                        - The trigger is active and trigger conditions are evaluated.
                        - The trigger is inactive and conditions do not generate alerts
                        - The trigger is in an error state, error details are noted in "details"
                        enum:
                        - active
                        - inactive
                        - error
                      details:
                        type:
                        - string
                        - 'null'
                        description: A human-readable, unstructured explanation specific to this error.
                      encryptedDetails:
                        type:
                        - string
                        - 'null'
                        description: Base64-encoded, internal details about the error, in addition to "details". An issue submitted to Service Desk should contain this data to speed up investigation.
                description: Details of the trigger.
                x-property-sort:
                - id
                - creation
                - notation
                - price
                - range
                - comment
                - notification
                - status
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                x-property-sort:
                - status
            x-property-sort:
            - data
            - meta
    PostAlertingPricesBasicTriggerList200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: array
                description: List of triggers.
                items:
                  type: object
                  x-property-sort:
                  - id
                  - creation
                  - notation
                  - price
                  - range
                  - comment
                  - notification
                  - status
                  properties:
                    id:
                      type:
                      - string
                      - 'null'
                      format: id64
                      x-positive: true
                      description: Identifier of the trigger.
                    creation:
                      type:
                      - string
                      - 'null'
                      format: datetime
                      description: Date and time when the trigger was created.
                    notation:
                      type: object
                      x-property-sort:
                      - id
                      description: Notation data of the trigger.
                      properties:
                        id:
                          type:
                          - string
                          - 'null'
                          format: id64
                          x-positive: true
                          description: Identifier of the notation.
                    price:
                      description: Price data of the trigger.
                      type: object
                      x-property-sort:
                      - type
                      - quality
                      properties:
                        type:
                          type:
                          - string
                          - 'null'
                          description: Type of the price as configured for the customer.
                          x-enum-description:
                          - Trade price (ordinary, auction, pre or post-trading).
                          - Bid price.
                          - Ask price.
                          enum:
                          - trade
                          - bid
                          - ask
                        quality:
                          type:
                          - string
                          - 'null'
                          description: Quality of the price.
                          x-enum-description:
                          - 'Real-time: intraday prices with minimal technical processing delays.'
                          - 'Delayed: intraday prices with an exchange-imposed delay of usually 15 to 30 minutes.'
                          - 'End-of-day: prices updated once per day after the close of trading, possibly with an exchange-imposed delay of several hours or days.'
                          enum:
                          - RLT
                          - DLY
                          - EOD
                    range:
                      type: object
                      x-property-sort:
                      - upperLimit
                      - lowerLimit
                      description: Price range for the trigger to monitor.
                      properties:
                        upperLimit:
                          type:
                          - number
                          - 'null'
                          format: real
                          description: Upper limit.
                        lowerLimit:
                          type:
                          - number
                          - 'null'
                          format: real
                          description: Lower limit.
                    comment:
                      type:
                      - string
                      - 'null'
                      description: Comment of the trigger.
                    notification:
                      type: object
                      x-property-sort:
                      - channel
                      description: Selection of notifications for triggered alerts.
                      properties:
                        channel:
                          description: Notification channel selection; see endpoint `/alerting/notification/channel/list` for possible channels.
                          type: array
                          items:
                            type: object
                            x-property-sort:
                            - id
                            properties:
                              id:
                                description: Identifier of the notification channel.
                                type:
                                - number
                                - 'null'
                                format: id32
                                x-positive: true
                    status:
                      type: object
                      x-property-sort:
                      - code
                      - details
                      description: Status of the trigger.
                      properties:
                        code:
                          type:
                          - string
                          - 'null'
                          description: Code of the status.
                          x-enum-description:
                          - The trigger is active and trigger conditions are evaluated.
                          - The trigger is inactive and conditions do not generate alerts
                          - The trigger is in an error state, error details are noted in "details"
                          enum:
                          - active
                          - inactive
                          - error
                        details:
                          type:
                          - string
                          - 'null'
                          description: A human-readable, unstructured explanation specific to this error.
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                  pagination:
                    $ref: '#/components/schemas/CursorBasedPaginationOutputObject'
                x-property-sort:
                - status
                - pagination
            x-property-sort:
            - data
            - meta
    GetAlertingPricesBasicAlertGet200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: object
                properties:
                  id:
                    type:
                    - string
                    - 'null'
                    format: id64
                    x-positive: true
                    description: Identifier of the alert.
                  creation:
                    type:
                    - string
                    - 'null'
                    format: datetime
                    description: Date and time when the alert was created.
                  price:
                    type: object
                    x-property-sort:
                    - value
                    - time
                    description: Price data at the time of alert creation.
                    properties:
                      value:
                        type:
                        - number
                        - 'null'
                        format: real
                        description: Depending on `trigger.price.type`, the trade, bid, or ask price.
                      time:
                        type:
                        - string
                        - 'null'
                        format: datetime
                        description: Date and time of the price.
                  notification:
                    type: object
                    x-property-sort:
                    - status
                    description: Notification information of the alert.
                    properties:
                      status:
                        description: Status of a notification per channel.
                        type: array
                        items:
                          type: object
                          x-property-sort:
                          - channel
                          - time
                          - code
                          properties:
                            channel:
                              type: object
                              x-property-sort:
                              - id
                              description: Details of the notification channel.
                              properties:
                                id:
                                  type:
                                  - number
                                  - 'null'
                                  format: id32
                                  x-positive: true
                                  description: Identifier of the notification channel.
                            time:
                              type:
                              - string
                              - 'null'
                              format: datetime
                              description: Date and time of the most recent change.
                            code:
                              type:
                              - string
                              - 'null'
                              description: Code of the status.
                              x-enum-description:
                              - Notification has not been processed.
                              - Notification has been sent but delivery status is unknown.
                              - Notification has been delivered.
                              - Notification has not been delivered due to an error.
                              - Notification delivery has been rejected (possibly due to return mails being received for delivery address).
                              enum:
                              - pending
                              - sent
                              - delivered
                              - error
                              - rejected
                  trigger:
                    description: Trigger data at the time of alert creation.
                    type: object
                    x-property-sort:
                    - id
                    - creation
                    - notation
                    - price
                    - range
                    - comment
                    - notification
                    - status
                    properties:
                      id:
                        type:
                        - string
                        - 'null'
                        format: id64
                        x-positive: true
                        description: Identifier of the trigger.
                      creation:
                        type:
                        - string
                        - 'null'
                        format: datetime
                        description: Date and time when the trigger was created.
                      notation:
                        type: object
                        x-property-sort:
                        - id
                        description: Notation data of the trigger.
                        properties:
                          id:
                            type:
                            - string
                            - 'null'
                            format: id64
                            x-positive: true
                            description: Identifier of the notation.
                      price:
                        description: Price data of the trigger.
                        type: object
                        x-property-sort:
                        - type
                        - quality
                        properties:
                          type:
                            type:
                            - string
                            - 'null'
                            description: Type of the price as configured for the customer.
                            x-enum-description:
                            - Trade price (ordinary, auction, pre or post-trading).
                            - Bid price.
                            - Ask price.
                            enum:
                            - trade
                            - bid
                            - ask
                          quality:
                            type:
                            - string
                            - 'null'
                            description: Price quality of the trigger.
                            x-enum-description:
                            - 'Real-Time: intraday prices with minimal technical processing delays.'
                            - 'Delayed: intraday prices with an exchange-imposed delay of usually 15 to 30 minutes.'
                            - 'End-of-day: prices updated once per day after the close of trading, possibly with an exchange-imposed delay of several hours.'
                            enum:
                            - RLT
                            - DLY
                            - EOD
                      range:
                        type: object
                        x-property-sort:
                        - upperLimit
                        - lowerLimit
                        description: Price range for the trigger to monitor.
                        properties:
                          upperLimit:
                            type:
                            - number
                            - 'null'
                            format: real
                            description: Upper limit.
                          lowerLimit:
                            type:
                            - number
                            - 'null'
                            format: real
                            description: Lower limit.
                      comment:
                        type:
                        - string
                        - 'null'
                        description: Comment of the trigger.
                      notification:
                        type: object
                        x-property-sort:
                        - channel
                        description: Notification specific configuration.
                        properties:
                          channel:
                            type: object
                            x-property-sort:
                            - id
                            description: Channel specific configuration.
                            properties:
                              id:
                                description: Identifier of the notification channel.
                                type: array
                                items:
                                  type: number
                                  format: id32
                                  x-positive: true
                      status:
                        type: object
                        x-property-sort:
                        - code
                        - details
                        - encryptedDetails
                        description: Status of the trigger.
                        properties:
                          code:
                            type:
                            - string
                            - 'null'
                            description: Code of the status.
                            x-enum-description:
                            - The trigger is active and trigger conditions are evaluated.
                            - The trigger is inactive and conditions do not generate alerts
                            - The trigger is in an error state, error details are noted in "details"
                            enum:
                            - active
                            - inactive
                            - error
                          details:
                            type:
                            - string
                            - 'null'
                            description: A human-readable, unstructured explanation specific to this error.
                          encryptedDetails:
                            type:
                            - string
                            - 'null'
                            description: Base64-encoded, internal details about the error, in addition to "details". An issue submitted to Service Desk should contain this data to speed up investigation.
                description: Details of the alert.
                x-property-sort:
                - id
                - creation
                - price
                - notification
                - trigger
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject_2'
                x-property-sort:
                - status
            x-property-sort:
            - data
            - meta
    GetAlertingPricesBasicAlertList200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: array
                description: List of alerts.
                items:
                  type: object
                  x-property-sort:
                  - id
                  - creation
                  - price
                  - notification
                  - trigger
                  properties:
                    id:
                      type:
                      - string
                      - 'null'
                      format: id64
                      x-positive: true
                      description: Identifier of the alert.
                    creation:
                      type:
                      - string
                      - 'null'
                      format: datetime
                      description: Date and time when the alert was created.
                    price:
                      type: object
                      x-property-sort:
                      - value
                      - time
                      description: Price data at the time of alert creation.
                      properties:
                        value:
                          type:
                          - number
                          - 'null'
                          format: real
                          description: Depending on `trigger.price.type`, the trade, bid, or ask price.
                        time:
                          type:
                          - string
                          - 'null'
                          format: datetime
                          description: Date and time of the price.
                    notification:
                      type: object
                      x-property-sort:
                      - status
                      description: Notification information of the alert.
                      properties:
                        status:
                          description: Status of a notification per channel.
                          type: array
                          items:
                            type: object
                            x-property-sort:
                            - channel
                            - time
                            - code
                            properties:
                              channel:
                                type: object
                                x-property-sort:
                                - id
                                description: Details of the notification channel.
                                properties:
                                  id:
                                    type:
                                    - number
                                    - 'null'
                                    format: id32
                                    x-positive: true
                                    description: Identifier of the notification channel.
                              time:
                                type:
                                - string
                                - 'null'
                                format: datetime
                                description: Date and time of the most recent change.
                              code:
                                type:
                                - string
                                - 'null'
                                description: Code of the status.
                                x-enum-description:
                                - Notification has not been processed.
                                - Notification has been sent but delivery status is unknown.
                                - Notification has been delivered.
                                - Notification has not been delivered due to an error.
                                - Notification delivery has been rejected (possibly due to return mails being received for delivery address).
                                enum:
                                - pending
                                - sent
                                - delivered
                                - error
                                - rejected
                    trigger:
                      description: Trigger data at the time of alert creation.
                      type: object
                      x-property-sort:
                      - id
                      - creation
                      - notation
                      - price
                      - range
                      - comment
                      - notification
                      - status
                      properties:
                        id:
                          type:
                          - string
                          - 'null'
                          format: id64
                          x-positive: true
                          description: Identifier of the trigger.
                        creation:
                          type:
                          - string
                          - 'null'
                          format: datetime
                          description: Date and time when the trigger was created.
                        notation:
                          type: object
                          x-property-sort:
                          - id
                          description: Notation data of the trigger.
                          properties:
                            id:
                              type:
                              - string
                              - 'null'
                              format: id64
                              x-positive: true
                              description: Identifier of the notation.
                        price:
                          description: Price data of the trigger.
                          type: object
                          x-property-sort:
                          - type
                          - quality
                          properties:
                            type:
                              type:
                              - string
                              - 'null'
                              description: Type of the price as configured for the customer.
                              x-enum-description:
                              - Trade price (ordinary, auction, pre or post-trading).
                              - Bid price.
                              - Ask price.
                              enum:
                              - trade
                              - bid
                              - ask
                            quality:
                              type:
                              - string
                              - 'null'
                              description: Quality of the price.
                              x-enum-description:
                              - 'Real-time: intraday prices with minimal technical processing delays.'
                              - 'Delayed: intraday prices with an exchange-imposed delay of usually 15 to 30 minutes.'
                              - 'End-of-day: prices updated once per day after the close of trading, possibly with an exchange-imposed delay of several hours or days.'
                              enum:
                              - RLT
                              - DLY
                              - EOD
                        range:
                          type: object
                          x-property-sort:
                          - upperLimit
                          - lowerLimit
                          description: Price range for the trigger to monitor.
                          properties:
                            upperLimit:
                              type:
                              - number
                              - 'null'
                              format: real
                              description: Upper limit.
                            lowerLimit:
                              type:
                              - number
                              - 'null'
                              format: real
                              description: Lower limit.
                        comment:
                          type:
                          - string
                          - 'null'
                          description: Comment of the trigger.
                        notification:
                          type: object
                          x-property-sort:
                          - channel
                          description: Notification specific configuration.
                          properties:
                            channel:
                              type: object
                              x-property-sort:
                              - id
                              description: Channel specific configuration.
                              properties:
                                id:
                                  description: Identifier of the notification channel.
                                  type: array
                                  items:
                                    type: number
                                    format: id32
                                    x-positive: true
                        status:
                          type: object
                          x-property-sort:
                          - code
                          - details
                          description: Status of the trigger.
                          properties:
                            code:
                              type:
                              - string
                              - 'null'
                              description: Code of the status.
                              x-enum-description:
                              - The trigger is active and trigger conditions are evaluated.
                              - The trigger is inactive and conditions do not generate alerts
                              - The trigger is in an error state, error details are noted in "details"
                              enum:
                              - active
                              - inactive
                              - error
                            details:
                              type:
                              - string
                              - 'null'
                              description: A human-readable, unstructured explanation specific to this error.
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject_2'
                  pagination:
                    $ref: '#/components/schemas/CursorBasedPaginationOutputObject_2'
                x-property-sort:
                - status
                - pagination
            x-property-sort:
            - data
            - meta
  schemas:
    PostAlertingPricesBasicTriggerListRequest:
      x-property-sort:
      - data
      - meta
      description: Request Body
      type: object
      properties:
        data:
          type: object
          x-property-sort:
          - filter
          description: The data member contains the request's primary data.
          properties:
            filter:
              type: object
              x-property-sort:
              - status
              description: Criteria that filter the items in the response list.
              properties:
                status:
                  type: object
                  x-property-sort:
                  - code
                  description: Status of the trigger.
                  properties:
                    code:
                      type: string
                      description: Code of the status.
                      x-enum-description:
                      - The trigger is active and trigger conditions are evaluated.
                      - The trigger is inactive and conditions do not generate alerts.
                      - The trigger is in an error state, error details are noted in `details`
                      enum:
                      - active
                      - inactive
                      - error
          example: example_value
        meta:
          type: object
          description: The meta member contains the meta information of the request.
          properties:
            attributes:
              $ref: '#/components/schemas/AttributesMember'
            pagination:
              type: object
              description: Pagination attributes for the cursor-based pagination strategy.
              properties:
                cursor:
                  type: string
                  maxLength: 50
                  description: Starting point as returned in the attributes `pagination.next` or `pagination.previous` by a prior invocation of this endpoint, or undefined (default).
                limit:
                  type: number
                  format: int32
                  minimum: 0
                  maximum: 500
                  default: 20
                  description: Non-negative maximum number of entries to return.
              x-property-sort:
              - cursor
              - limit
          x-property-sort:
          - attributes
          - pagination
          example: example_value
    StatusObject:
      type: object
      properties:
        code:
          type: number
          format: int32
          description: The HTTP status code of the response, mirroring the code from the Status-Line of the HTTP response message (see [RFC2616] section 6.1).
          example: 42.5
      description: The status member contains the status code of the response.
      required:
      - code
    AttributesMember:
      type: array
      description: Limit the attributes returned in the response to the specified set.
      items:
        type: string
        maxLength: 100
      maxItems: 50
      uniqueItems: true
    CursorBasedPaginationOutputObject:
      type: object
      description: Pagination attributes for the cursor-based pagination strategy.
      properties:
        total:
          type: number
          format: int32
          description: Total number of entries in the result set.
          example: 42.5
        isEstimatedTotal:
          type: boolean
          description: Flag indicating that the value of `total` is estimated.
          example: true
        next:
          type: string
          description: The next cursor position to use in the parameter `pagination.cursor` for an endpoint that supports cursor-based pagination, otherwise `null`.
          example: example_value
        previous:
          type: string
          description: The previous cursor position to use in the parameter `pagination.cursor` for an endpoint that supports cursor-based pagination. If a previous cursor position is not supported or available, `previous` is `null`.
          example: example_value
      required:
      - total
      - isEstimatedTotal
      - next
      - previous
      x-property-sort:
      - total
      - isEstimatedTotal
      - next
      - previous
    PostAlertingPricesBasicTriggerListRequest_2:
      x-property-sort:
      - data
      - meta
      description: Request Body
      type: object
      properties:
        data:
          type: object
          x-property-sort:
          - filter
          description: The data member contains the request's primary data.
          properties:
            filter:
              type: object
              x-property-sort:
              - status
              description: Criteria that filter the items in the response list.
              properties:
                status:
                  type: object
                  x-property-sort:
                  - code
                  description: Status of the trigger.
                  properties:
                    code:
                      type: string
                      description: Code of the status.
                      x-enum-description:
                      - The trigger is active and trigger conditions are evaluated.
                      - The trigger is inactive and conditions do not generate alerts.
                      - The trigger is in an error state, error details are noted in `details`
                      enum:
                      - active
                      - inactive
                      - error
        meta:
          type: object
          description: The meta member contains the meta information of the request.
          properties:
            attributes:
              $ref: '#/components/schemas/AttributesMember'
            pagination:
              type: object
              description: Pagination attributes for the cursor-based pagination strategy.
              properties:
                cursor:
                  type: string
                  maxLength: 50
                  description: Starting point as returned in the attributes `pagination.next` or `pagination.previous` by a prior invocation of this endpoint, or undefined (default).
                limit:
                  type: number
                  format: int32
                  minimum: 0
                  maximum: 500
                  default: 20
                  description: Non-negative maximum number of entries to return.
              x-property-sort:
              - cursor
              - limit
          x-property-sort:
          - attributes
          - pagination
    StatusObject_2:
      type: object
      properties:
        code:
          type: number
          format: int32
          description: The HTTP status code of the response, mirroring the code from the Status-Line of the HTTP response message (see [RFC2616] section 6.1).
      description: The status member contains the status code of the response.
      required:
      - code
    CursorBasedPaginationOutputObject_2:
      type: object
      description: Pagination attributes for the cursor-based pagination strategy.
      properties:
        total:
          type: number
          format: int32
          description: Total number of entries in the result set.
        isEstimatedTotal:
          type: boolean
          description: Flag indicating that the value of `total` is estimated.
        next:
          type: string
          description: The next cursor position to use in the parameter `pagination.cursor` for an endpoint that supports cursor-based pagination, otherwise `null`.
        previous:
          type: string
          description: The previous cursor position to use in the parameter `pagination.cursor` for an endpoint that supports cursor-based pagination. If a previous cursor position is not supported or available, `previous` is `null`.
      required:
      - total
      - isEstimatedTotal
      - next
      - previous
      x-property-sort:
      - total
      - isEstimatedTotal
      - next
      - previous
  securitySchemes:
    FactSetOAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://auth.factset.com/as/token.oauth2
          scopes: {}
    FactSetApiKey:
      type: http
      scheme: basic
externalDocs:
  description: API Documentation
  url: https://developer.factset.com/api-catalog/
x-refined-from:
- factset-real-time-price-alerting-api-openapi.yml
- real-time-price-alerting-openapi-original.yml
