openapi: 3.0.3
info:
  title: Factset Analytics Datastore About Identifiers API
  description: Allow clients to fetch precalculated Analytics through predeterministic URLs.
  contact:
    name: FactSet Research Systems
    url: https://developer.factset.com/contact
    email: api@factset.com
  license:
    name: Apache License, Version 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  version: 1.0.0
servers:
- url: https://api.factset.com
  description: Production
- url: https://api-sandbox.factset.com
  description: Sandbox
security:
- basicAuth: []
tags:
- name: Identifiers
paths:
  /v1/identifiers:
    get:
      tags:
      - Identifiers
      summary: Factset Get All the Identifier Details for Given Identifiers
      operationId: GetIdentifiers
      parameters:
      - name: identifiers
        in: query
        description: Identifiers
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/IdentifierResolutionDto'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /symbology/v3/identifier-resolution:
    get:
      tags:
      - Identifiers
      summary: Factset Returns the Specified Output Identifiers for the Specified Input Identifier.
      operationId: identifierResolution
      description: "The Identifier Resolution endpoint provides flexibility for requesting and receiving both third-party and FactSet Permanent identifiers. Users can both input and output most of the listed identifiers, with exceptions noted below.  All input and output symbols must be declared, and users have the ability to resolve one input symbol to many different output symbols in one request. \n* **BIC*** - Bank Identification Code (e.g. ABXXHKH1)\n* **CIK** - Edgar Central Index Keys (e.g. 0000100331)\n* **CRD** - Central Registration Depository (e.g. 149722)\n* **DUNS** - Dun & Bradstreet Data Universal Numbering System (e.g. 687741991) (Input only)\n* **EIN** - Employer Identification Number (e.g. 953540776)\n* **FITCH*** - Fitch Ratings Identifier (e.g. 47504)\n* **LEI** - Legal Entity Identifier (e.g. 549300A6K7JX8EX2QZ33)\n* **MD*** - Moody's Ratings Identifier (e.g. 0823736553)\n* **SPR*** - S&P Ratings Identifier (e.g. 301939)\n* **VALOREN** - Valoren (\"Valor\") Identification (e.g. 685558) (Input only)\n* **WKN*** - German Securities Identification (\"Wertpapierkennnummer\") (e.g. A0MU9T)\n* **UKCH** - UK Company House Identifier (e.g.CE012494)\n* **RSSD** - Federal Reserve RSSD Identifier (1139297)\n* **SEDOL***\n* **CUSIP***\n* **fsymEntityId** - FactSet entity Id\n* **fsymSecurityId** - FactSet security level permanent identifier\n* **fsymRegionalId** - FactSet regional level permanent identifier\n* **fsymListingId** - FactSet listing level permanent identifier\n* **ISIN***\n* **tickerExchange** - Ticker Exchange is a marketplace where stocks, bonds, commodities, and derivatives are bought and sold. (e.g. GOOGL-NAS)\n* **tickerRegion** - Ticker Region is the geographical region or market segment where a particular stock or security is listed and traded. (e.g. GOOGL-US)\n* **bloombergFigi** - Bloomberg Listing/Regional/Security Identifier (output symbols: bloombergFigiListing, bloombergFigiRegional & bloombergFigiSecurity) (e.g. BBG009S39JY5)\n* **bloombergTicker** - Bloomberg Listing and Regional Ticker Identifier (output symbols: bloombergRegionalTicker & bloombergListingTicker) (e.g. GOOGL UW)\n* **GVKEY** - CompuStat Entity Identifier (e.g. 063172)(Input only)\n* **GVKEY & IID** - CompuStat Security Identifier (e.g.063172001) (Input only)\n* **JCN** - Japan Corporate Number (e.g. 9011101021173)\n* **LoanX** - Markit Bank Loan Security Identifier (e.g. LX130668) (Input only)\n* **MarkitRed** - Markit Entity Identifier (e.g. 3D337C) (Input only)\n\n**These symbol types require additional subscriptions. If you would like to gain access to these symbol types, please contact your FactSet Account Team or \"Report Issue\" above and our support teams can assist.*\n"
      parameters:
      - $ref: '#/components/parameters/getIdsResolution'
      - $ref: '#/components/parameters/getInputSymbolType'
      - $ref: '#/components/parameters/getOutputSymbolTypes'
      responses:
        '200':
          description: Symbol translation objects.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/identifierResolutionResponse'
              examples:
                Translate Single Security or Entity Identifier:
                  $ref: '#/components/examples/singleIdentifierResolution'
                Translate Multiple Security or Entity Identifiers:
                  $ref: '#/components/examples/multipleIdentifierResolution'
        '400':
          description: Bad Request. This can occur for several reasons. Please review the "message" for more details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
        '401':
          $ref: '#/components/responses/401Legacy'
        '403':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                Forbidden:
                  $ref: '#/components/examples/forbidden'
                Forbidden Identifier:
                  $ref: '#/components/examples/forbiddenIdentifier'
        '415':
          $ref: '#/components/responses/415Legacy'
        '500':
          $ref: '#/components/responses/500Legacy'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      tags:
      - Identifiers
      summary: Factset Returns the Specified Output Identifiers for the Given Input Identifier.
      description: "The Identifier Resolution endpoint provides flexibility for requesting and receiving both third-party and FactSet Permanent identifiers. Users can both input and output most of the listed identifiers, with exceptions noted below.  All input and output symbols must be declared, and users have the ability to resolve one input symbol to many different output symbols in one request. \n* **BIC*** - Bank Identification Code (e.g. ABXXHKH1)\n* **CIK** - Edgar Central Index Keys (e.g. 0000100331)\n* **CRD** - Central Registration Depository (e.g. 149722)\n* **DUNS** - Dun & Bradstreet Data Universal Numbering System (e.g. 687741991) (Input only)\n* **EIN** - Employer Identification Number (e.g. 953540776)\n* **FITCH*** - Fitch Ratings Identifier (e.g. 47504)\n* **LEI** - Legal Entity Identifier (e.g. 549300A6K7JX8EX2QZ33)\n* **MD*** - Moody's Ratings Identifier (e.g. 0823736553)\n* **SPR*** - S&P Ratings Identifier (e.g. 301939)\n* **VALOREN** - Valoren (\"Valor\") Identification (e.g. 685558) (Input only)\n* **WKN*** - German Securities Identification (\"Wertpapierkennnummer\") (e.g. A0MU9T)\n* **UKCH** - UK Company House Identifier (e.g.CE012494)\n* **RSSD** - Federal Reserve RSSD Identifier (1139297)\n* **SEDOL***\n* **CUSIP***\n* **fsymEntityId** - FactSet entity Id\n* **fsymSecurityId** - FactSet security level permanent identifier\n* **fsymRegionalId** - FactSet regional level permanent identifier\n* **fsymListingId** - FactSet listing level permanent identifier\n* **ISIN***\n* **tickerExchange** - Ticker Exchange, a marketplace where stocks, bonds, commodities, and derivatives are bought and sold. (e.g. GOOGL-NAS)\n* **tickerRegion** - Ticker Region, geographical region or market segment where a particular stock or security is listed and traded. (e.g. GOOGL-US)\n* **bloombergFigi** - Bloomberg Listing/Regional/Security Identifier (output symbols: bloombergFigiListing, bloombergFigiRegional & bloombergFigiSecurity ) (e.g. BBG009S39JY5)\n* **bloombergTicker** - Bloomberg Listing and Regional Ticker Identifier (output symbols: bloombergRegionalTicker & bloombergListingTicker) (e.g. GOOGL UW)\n* **GVKEY** - CompuStat Entity Identifier (e.g. 063172)(Input only)\n* **GVKEY & IID** - CompuStat Security Identifier (e.g.063172001) (Input only)\n* **JCN** - Japan Corporate Number (e.g. 9011101021173)\n* **LoanX** - Markit Bank Loan Security Identifier (e.g. LX130668) (Input only)\n* **MarkitRed** - Markit Entity Identifier (e.g. 3D337C) (Input only)\n\n**These symbol types require additional subscriptions. If you would like to gain access to these symbol types, please contact your FactSet Account Team or \"Report Issue\" above and our support teams can assist.*\n"
      operationId: batchIdentifierResolution
      requestBody:
        required: true
        description: Request Body for Identifier Resolution.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/identifierResolutionRequest'
            examples:
              Translate Single Security or Entity Identifier:
                $ref: '#/components/examples/singleIdentifierResolutionPost'
              Translate Multiple Security or Entity Identifiers:
                $ref: '#/components/examples/multipleIdentifierResolutionPost'
      responses:
        '200':
          description: Symbol translation objects.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/identifierResolutionResponse'
              examples:
                Translate Single Security or Entity Identifier:
                  $ref: '#/components/examples/singleIdentifierResolution'
                Translate Multiple Security or Entity Identifiers:
                  $ref: '#/components/examples/multipleIdentifierResolution'
        '400':
          description: Bad Request. This can occur for several reasons. Please review the "message" for more details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                Bad Request - Missing Required Parameter:
                  $ref: '#/components/examples/badRequestRequiredParameter'
                Bad Request - Invalid Parameter:
                  $ref: '#/components/examples/badRequestInvalidParameters'
                Bad Request - Malformed JSON:
                  $ref: '#/components/examples/badRequestMalformedJSON'
                Bad Request - Read Timeout:
                  $ref: '#/components/examples/badRequestReadTimeout'
        '401':
          $ref: '#/components/responses/401Legacy'
        '403':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              examples:
                Forbidden:
                  $ref: '#/components/examples/forbidden'
                Forbidden Identifier:
                  $ref: '#/components/examples/forbiddenIdentifier'
        '415':
          $ref: '#/components/responses/415Legacy'
        '500':
          $ref: '#/components/responses/500Legacy'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  examples:
    forbiddenIdentifier:
      summary: Forbidden Identifier
      description: The USERNAME-SERIAL attempted to request an identifier it is not authorized to access. The request was a legal request, but the server is refusing to respond. Please reach out to FactSet Account Team for assistance with authorization.
      value:
        status: Forbidden
        timestamp: '2020-06-12 16:08:51.731'
        path: /symbology/v3/{endpoint}
        message: USERNAME-SERIAL does not have permission to use {identifier}
        subErrors: null
    badRequestInvalidParameters:
      summary: Bad Request - Invalid Parameters
      description: This error message occurs when a request parameter is used in which is not recognized by the service. Please revise your request to include only the parameters listed in the specification. Typical causes are spelling mistakes and use of improper casing.
      value:
        status: Bad Request
        timestamp: '2020-06-12 15:58:54.068'
        path: /symbology/v3/{endpoint}
        message: 'Invalid Parameter (s): fakeParameterName1 fakeParameterName2. Please modify your request to use parameters outlined in the specification for this endpoint.'
        subErrors: null
    notWritable:
      summary: Internal Server Error - Not Writable
      description: This error may be returned when the server encounters an error writing the JSON response.
      value:
        status: Internal Server Error
        timestamp: '2019-11-05 09:48:29.18'
        path: /symbology/v3/{endpoint}
        message: Error writing JSON output
        subErrors: null
    singleIdentifierResolutionPost:
      summary: Translating a single security or entity identifier into other identifiers from a Post Body.
      description: Translating a security or entity identifier into other identifiers from a Post Body.
      value:
        ids:
        - GOOGL-US
        inputSymbolType: tickerRegion
        outputSymbolTypes:
        - CUSIP
        - SEDOL
    multipleIdentifierResolution:
      summary: Translating multiple security or entity identifiers into other identifiers.
      description: Translating multiple security or entity identifiers into other identifiers.
      value:
        data:
        - requestId: GOOGL-US
          inputSymbolType: tickerRegion
          cusip: 02079K305
          sedol: BYVY8G0
          name: Alphabet Inc. Class A
          frefListingExchange: USA
        - requestId: AAPL-US
          inputSymbolType: tickerRegion
          cusip: 037833100
          sedol: '2046251'
          name: Apple, Inc.
          frefListingExchange: NAS
        - requestId: MSFT-US
          inputSymbolType: tickerRegion
          cusip: '594918104'
          sedol: '2588173'
          name: Microsoft Corporation
          frefListingExchange: NAS
    unsupportedMediaType:
      summary: Unsupported Media Type
      description: This bad request occurs when the media type passed in the request is not supported. Currently the APIs only support 'application/json'.
      value:
        status: Unsupported Media Type
        timestamp: '2019-11-05 09:42:27.237'
        path: /symbology/v3/{endpoint}
        message: text/html media type is not supported. Supported media types are application/json
        subErrors: null
    generalException:
      summary: Internal Server Error - General Exception
      description: This is the most general error that can be returned to by the service. Please `Report Issue` to FactSet.
      value:
        status: Internal Server Error
        timestamp: '2019-11-01 10:36:01.944'
        path: /symbology/v3/{endpoint}
        message: Unexpected error
        subErrors: null
    badRequestReadTimeout:
      summary: Bad Request - Read Timeout
      description: This error may be returned if it takes more than 29 seconds to hear back from the data fetch service.
      value:
        status: Bad Request
        timestamp: '2019-11-04 16:18:38.949'
        path: /symbology/v3/{endpoint}
        message: The request took too long. Try again with a smaller request.
        subErrors: null
    forbidden:
      summary: Forbidden
      description: The USERNAME-SERIAL attempted to request the endpoint is not authorized to access. The request was a legal request, but the server is refusing to respond. Please reach out to FactSet Account Team for assistance with authorization.
      value:
        status: Forbidden
        timestamp: '2020-06-12 16:08:51.731'
        path: /symbology/v3/{endpoint}
        message: USERNAME-SERIAL does not have permission to use /symbology/v3/{endpoint}
        subErrors: null
    unauthenticated:
      summary: User Authentication Failed
      description: This occurs when a user is not properly authenticated or recognized by the service. Please double check the USERNAME-SERIAL and API-Key used to request and ensure you are within the IP range specified for the Key. Report Issue under 401 error for help with troubleshooting.
      value:
        status: User Authentication Failed
        timestamp: '2019-10-31 16:08:07.945'
        path: /symbology/v3/{endpoint}
        message: User Authentication Failed.
        subErrors: null
    badRequestMalformedJSON:
      summary: Bad Request - Malformed JSON Request
      description: This error may be returned when the request body is specified as JSON, but is not in proper JSON format.
      value:
        status: Bad Request
        timestamp: '2020-07-24 17:14:57.32'
        path: /symbology/v3/{endpoint}
        message: Malformed JSON Request
        subErrors: null
    singleIdentifierResolution:
      summary: Translating a single security or entity identifier into other identifiers.
      description: Translating a single security or entity identifier into other identifiers.
      value:
        data:
        - requestId: GOOGL-US
          inputSymbolType: tickerRegion
          cusip: 02079K305
          sedol: BYVY8G0
          name: Alphabet Inc. Class A
          frefListingExchange: USA
    badRequestRequiredParameter:
      summary: Bad Request - Required Parameter Missing
      description: This error message occurs when the request does not include the required parameters. Required parameters are indicated with a red asterisks symbol in the specification file.
      value:
        status: Bad Request
        timestamp: '2020-07-24 17:17:24.963'
        path: /symbology/v3/{endpoint}
        message: The parameter 'ids' is required and may not be empty.
        subErrors: null
    multipleIdentifierResolutionPost:
      summary: Translating a multiple security or entity identifiers into other identifiers from a Post Body.
      description: Translating a security or entity identifier into other identifiers from a Post Body.
      value:
        ids:
        - GOOGL-US
        - AAPL-US
        - MSFT-US
        inputSymbolType: tickerRegion
        outputSymbolTypes:
        - CUSIP
        - SEDOL
  responses:
    415Legacy:
      description: Unsupported Media Type. This error may be returned when the caller sends a resource in a format that is not accepted by the server. This can be fixed by ensuring that Content-Type header is set to the correct value. In this instance, "application/json" would be the appropriate value.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponse'
          examples:
            Bad Request - Date Format:
              $ref: '#/components/examples/unsupportedMediaType'
    500Legacy:
      description: Internal Server Error.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponse'
          examples:
            Internal Server Error - Not Writable:
              $ref: '#/components/examples/notWritable'
            Internal Server Error - General Exception:
              $ref: '#/components/examples/generalException'
    401Legacy:
      description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and have successfully generated an API KEY for the IP range you are connecting from. For more help, select the **Report Issue** in the top right corner of this Developer Portal specification card and choose Connectivity 401 or 403 Responses.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponse'
          examples:
            Bad Request - Date Format:
              $ref: '#/components/examples/unauthenticated'
  parameters:
    getInputSymbolType:
      name: inputSymbolType
      in: query
      schema:
        type: string
        enum:
        - BIC
        - CIK
        - CRD
        - DUNS
        - EIN
        - FITCH
        - LEI
        - MD
        - SPR
        - VALOREN
        - WKN
        - UKCH
        - RSSD
        - SEDOL
        - CUSIP
        - fsymEntityId
        - fsymSecurityId
        - fsymRegionalId
        - fsymListingId
        - ISIN
        - tickerExchange
        - tickerRegion
        - bloombergFigi
        - bloombergTicker
        - GVKEY
        - GVKEY & IID
        - JCN
        - LoanX
        - MarkitRed
        default: tickerRegion
      required: true
      description: 'The type of symbol being inputted. Only one type of symbol is accepted with each request.

        '
    getOutputSymbolTypes:
      name: outputSymbolTypes
      in: query
      schema:
        type: array
        items:
          type: string
          enum:
          - BIC
          - CIK
          - CRD
          - EIN
          - FITCH
          - LEI
          - MD
          - SPR
          - WKN
          - UKCH
          - RSSD
          - SEDOL
          - CUSIP
          - fsymEntityId
          - fsymSecurityId
          - fsymRegionalId
          - fsymListingId
          - ISIN
          - tickerExchange
          - tickerRegion
          - JCN
          - bloombergListingTicker
          - bloombergRegionalTicker
          - bloombergFigiListing
          - bloombergFigiRegional
          - bloombergFigiSecurity
      required: true
      explode: false
      description: The type of symbols being outputted. Multiple types of symbols can be outputted with each request. The user must be authorized for the requested identifier type.
      example:
      - CUSIP
      - SEDOL
    getIdsResolution:
      name: ids
      in: query
      schema:
        type: array
        items:
          type: string
        minItems: 1
        maxItems: 3000
      required: true
      explode: false
      description: "Requested security or entity identifiers. All requested identifiers must be of the same type. This request value is sent back in the response as, `requestId'. <p>***ids limit** =  100 per request*</p>\n  *<p>NOTE:  GET Method URL request lines are also limited to a total\n  length of 8192 bytes (8KB). In cases where the service allows for thousands\n  of ids, which may lead to exceeding this request line limit of 8KB, its\n  advised for any requests with large request lines to be requested through\n  the respective \"POST\" method.</p>*\n"
      examples:
        singleMarketId:
          summary: One Security or Entity Identifier
          value:
          - GOOGL-US
        multipleMarketIds:
          summary: Multiple Security or Entity Identifiers
          value:
          - GOOGL-US
          - AAPL-US
          - MSFT-US
  schemas:
    identifierResolutionResponse:
      title: Identifier Resolution Response
      description: Response object for Identifier Resolution endpoint.
      type: object
      properties:
        data:
          description: Array of symbol translation objects.
          type: array
          items:
            $ref: '#/components/schemas/identifierResolution'
          example: []
    getInputSymbolType:
      title: Input Symbol Type
      type: string
      description: The type of symbol submitted for resolution to other identifiers. Only one type of symbol is accepted with each request.
      enum:
      - BIC
      - CIK
      - CRD
      - DUNS
      - EIN
      - FITCH
      - LEI
      - MD
      - SPR
      - VALOREN
      - WKN
      - UKCH
      - RSSD
      - SEDOL
      - CUSIP
      - fsymEntityId
      - fsymSecurityId
      - fsymRegionalId
      - fsymListingId
      - ISIN
      - tickerExchange
      - tickerRegion
      - bloombergFigi
      - bloombergTicker
      - GVKEY
      - GVKEY & IID
      - JCN
      - LoanX
      - MarkitRed
      default: tickerRegion
    identifierResolutionRequest:
      title: Identifier Resolution Request
      description: Request object for Identifier Resolution endpoint.
      type: object
      properties:
        ids:
          $ref: '#/components/schemas/getIdsResolution'
        inputSymbolType:
          $ref: '#/components/schemas/getInputSymbolType'
        outputSymbolTypes:
          $ref: '#/components/schemas/getOutputSymbolTypes'
      required:
      - ids
      - inputSymbolType
      - outputSymbolTypes
    IdentifierResolutionDto:
      type: object
      additionalProperties: false
    errorResponse:
      type: object
      title: Error Response Identifier Resolution
      properties:
        status:
          description: status
          type: string
          example: Bad Request
        timestamp:
          description: timestamp in YYYY-MM-DD HH:MM:SS.SSS
          type: string
          example: '2019-11-01 11:09:41.918'
          format: date-time
        path:
          description: The Endpoint path {package}/version/{endpoint}
          type: string
          example: /symbology/v3/{endpoint}
        message:
          description: The plain text error message
          type: string
          example: Validation Error
        subErrors:
          description: subErrors related to the error message. Null if not applicable.
          type: object
          properties:
            object:
              description: the operation ID
              type: string
            field:
              description: Parameter Field Name
              type: string
            message:
              description: Error message
              type: string
            rejectedValue:
              description: Rejected Values in an Array
              type: array
              items:
                type: string
          example: example_value
    identifierResolution:
      title: Identifier Resolution
      description: Identifier Resolution data object.
      type: object
      properties:
        requestId:
          type: string
          description: Identifier inputted in the request.
          example: GOOGL-US
          nullable: false
        inputSymbolType:
          type: string
          description: The type of identifier inputted in the request
          example: tickerRegion
          nullable: false
        name:
          type: string
          description: Name of the requested identifier
          example: Alphabet Inc. Class A
          nullable: true
        frefListingExchange:
          type: string
          description: The 3 digit fref exchange code for the primary exchange of the security
          example: USA
          nullable: true
        currency:
          type: string
          description: The 3 digit ISO code for the currency
          example: USD
          nullable: true
      additionalProperties:
        title: Requested output symbol type
        description: "The Key in the Key-Value pair is the name of the requested outputSymbolType. The Value in the Key-Value is the requestId translated to the outputSymbolType. \n"
        example: '"cusip": "02079K305"'
        nullable: true
        type: string
    getIdsResolution:
      title: Identifier List for Resolution
      type: array
      items:
        type: string
      minItems: 1
      maxItems: 3000
      description: Requested market securities or entities. All requested identifiers must be of the same type. Accepted identifiers include all FactSet Permanent Identifiers types, CUSIP, SEDOL, ISIN, and Tickers. This request value is sent back in the response as, `requestId'.
      example:
      - GOOGL-US
    ProblemDetails:
      type: object
      properties:
        type:
          type: string
          nullable: true
          example: example_value
        title:
          type: string
          nullable: true
          example: Example Title
        status:
          type: integer
          format: int32
          nullable: true
          example: 10
        detail:
          type: string
          nullable: true
          example: example_value
        instance:
          type: string
          nullable: true
          example: example_value
      additionalProperties: {}
    getOutputSymbolTypes:
      title: Output Symbol Types
      type: array
      items:
        type: string
        enum:
        - BIC
        - CIK
        - CRD
        - EIN
        - FITCH
        - LEI
        - MD
        - SPR
        - WKN
        - UKCH
        - RSSD
        - SEDOL
        - CUSIP
        - fsymEntityId
        - fsymSecurityId
        - fsymRegionalId
        - fsymListingId
        - ISIN
        - tickerExchange
        - tickerRegion
        - JCN
        - bloombergListingTicker
        - bloombergRegionalTicker
        - bloombergFigiListing
        - bloombergFigiRegional
        - bloombergFigiSecurity
      minItems: 1
      maxItems: 20
      description: Requested identifiers to be returned. Multiple identifier types can be requested with each request.
      example:
      - CUSIP
      - SEDOL
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
externalDocs:
  url: https://developer.factset.com/api-catalog/analytics-datastore-api
  description: API Documentation
