openapi: 3.0.3
info:
  title: Factset Analytics Datastore About Sectional API
  description: Allow clients to fetch precalculated Analytics through predeterministic URLs.
  contact:
    name: FactSet Research Systems
    url: https://developer.factset.com/contact
    email: api@factset.com
  license:
    name: Apache License, Version 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  version: 1.0.0
servers:
- url: https://api.factset.com
  description: Production
- url: https://api-sandbox.factset.com
  description: Sandbox
security:
- basicAuth: []
tags:
- name: Sectional
paths:
  /v1/cross-sectional:
    get:
      summary: Factset Retrieve Data Items (screening Formulas) for a List of Identifiers or Defined Universe.
      description: "The `/cross-sectional` endpoint is closely aligned with FactSets powerful data retrieval **Screening language** which is optimized for analysis of data items at single point in time for different entities and is extremely efficient for large universes.\n\n\nThe `/cross-sectional` endpoint supports Long Running asynchronous requests up to **10 minutes** via the `batch` parameter. *This feature is available to Individual Users subscribed to the Performance Package and Performance Package Plus Performance Tiers and all Production Users. If you are unsure which Performance Tier you are subscribed to or you would like to gain access to the batch capabilities, please contact your FactSet Account Team or \"Report Issue\" above and our support teams can assist.*\n\n***\n\n### Iterated Cross-Sectional Functionality\n\n\nThis endpoint supports the ability to automatically iterate through different cross sections over time. The **Iterated Cross-Sectional Functionality (ICSF)** expands the Cross-Sectional endpoint to support retrieving data items for *multiple dates*, allowing users to take advantage of the Screening engines efficiency even when history is required. \n\n\nUse the parameters `startDate`, `endDate`, and `frequency` in the Cross-Sectional endpoint to provide your desired dates. Specify 0 in date argument of the Screening formulas provided in the formulas parameter and/or the universe parameter. Lastly, the Iterated Cross-Sectional Functionality is required to run as a `batch` request. Therefore, the batch parameter must be set to Y. \n\n\nAccess to backtesting and batch functionality is required to leverage the Iterated Cross-Sectional Functionality. \n\n**When to use ICSF:**\n\nThe ICSF can offer better performance than Time-Series requests when the date range is relatively small, and so it is recommended to use ICSF if the number of IDs requested is greater than the number of dates. If the number of dates is greater than the number of IDs in the request, it is recommended to use Time-Series.\n\n*Note: This is a general rule of thumb and performance may vary depending on the formulas in use.*\n"
      tags:
      - Sectional
      operationId: getCrossSectionalData
      parameters:
      - $ref: '#/components/parameters/ids'
      - $ref: '#/components/parameters/symbolType'
      - $ref: '#/components/parameters/universe'
      - $ref: '#/components/parameters/universeType_cross_sectional'
      - $ref: '#/components/parameters/formulas_cross_sectional'
      - $ref: '#/components/parameters/backTestDate'
      - $ref: '#/components/parameters/calendar_cross_sectional'
      - $ref: '#/components/parameters/fsymId_cross_sectional'
      - $ref: '#/components/parameters/displayName_cross_sectional'
      - $ref: '#/components/parameters/flatten_cross_sectional'
      - $ref: '#/components/parameters/batch'
      - $ref: '#/components/parameters/startDate'
      - $ref: '#/components/parameters/endDate'
      - $ref: '#/components/parameters/frequency'
      responses:
        '200':
          description: Gets an array of `Response Objects` for a list of IDs and Screening formulas.
          headers:
            api-version:
              $ref: '#/components/headers/api-version'
            api-supported-versions:
              $ref: '#/components/headers/api-supported-versions'
            api-deprecated-versions:
              $ref: '#/components/headers/api-deprecated-versions'
            chain-id:
              $ref: '#/components/headers/chain-id'
            X-RateLimit-Limit-second:
              $ref: '#/components/headers/X-RateLimit-Limit-second'
            X-RateLimit-Remaining-second:
              $ref: '#/components/headers/X-RateLimit-Remaining-second'
            X-RateLimit-Limit-day:
              $ref: '#/components/headers/X-RateLimit-Limit-day'
            X-RateLimit-Remaining-day:
              $ref: '#/components/headers/X-RateLimit-Remaining-day'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cross_sectional_response'
              examples:
                Single Equity Id and Single Equity Data Item:
                  $ref: '#/components/examples/cross-sectional-singleId-singleItem'
                Single Equity Id and Single Equity Data Item with fsymId=Y:
                  $ref: '#/components/examples/cross-sectional-singleId-singleItem-fsymId'
                Multiple Equity Ids and Multiple Equity Data Items:
                  $ref: '#/components/examples/cross-sectional-multipleId-multipleItem'
                Multiple Equity Ids and Multiple Equity Data Items with flatten=Y:
                  $ref: '#/components/examples/cross-sectional-multipleId-multipleItem-flatten'
                Multiple Equity Ids and Multiple Calculated Equity Data Items:
                  $ref: '#/components/examples/cross-sectional-multipleId-multipleCalculatedItem'
                Multiple Fixed Income Ids and Multiple Fixed Income Data Items:
                  $ref: '#/components/examples/cross-sectional-multipleFixedIncomeId-multipleItem'
                Small Equity Universe and Single Equity Data Item:
                  $ref: '#/components/examples/cross-sectional-smallUniv-singleItem'
                Debt Universe and Multiple Debt Data Items:
                  $ref: '#/components/examples/cross-sectional-debtUniv-multipleItem'
                Single ID and Multiple dates using ICSF with flatten = N:
                  $ref: '#/components/examples/cross-sectional-ICSF-singleItem-nonflatten'
                Multiple IDs and Multiple dates using ICSF with flatten = Y:
                  $ref: '#/components/examples/cross-sectional-ICSF-multipleItem-Flatten'
        '202':
          description: Batch request has been accepted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchStatusResponse'
              examples:
                Batch Request Accepted:
                  $ref: '#/components/examples/BatchStatusAcceptedResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '405':
          $ref: '#/components/responses/405'
        '406':
          $ref: '#/components/responses/406'
        '408':
          $ref: '#/components/responses/408'
        '415':
          $ref: '#/components/responses/415'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        '501':
          $ref: '#/components/responses/501'
        '503':
          $ref: '#/components/responses/503'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      summary: Factset Retrieve Data Items (screening Formulas) for a List of Identifiers or Defined Universe.
      description: "The `/cross-sectional` endpoint is closely aligned with FactSets powerful data retrieval **Screening language** which is optimized for analysis of data items at single point in time for different entities and is extremely efficient for large universes.\n\n\nThe `/cross-sectional` endpoint supports Long Running asynchronous requests up to **10 minutes** via the `batch` parameter. *This feature is available to Individual Users subscribed to the Performance Package and Performance Package Plus Performance Tiers and all Production Users. If you are unsure which Performance Tier you are subscribed to or you would like to gain access to the batch capabilities, please contact your FactSet Account Team or \"Report Issue\" above and our support teams can assist.*\n\n***\n\n### Iterated Cross-Sectional Functionality\n\n\nThis endpoint supports the ability to automatically iterate through different cross sections over time. The **Iterated Cross-Sectional Functionality (ICSF)** expands the Cross-Sectional endpoint to support retrieving data items for *multiple dates*, allowing users to take advantage of the Screening engines efficiency even when history is required. \n\n\nUse the parameters `startDate`, `endDate`, and `frequency` in the Cross-Sectional endpoint to provide your desired dates. Specify 0 in date argument of the Screening formulas provided in the formulas parameter and/or the universe parameter. Lastly, the Iterated Cross-Sectional Functionality is required to run as a `batch` request. Therefore, the batch parameter must be set to Y. \n\n\nAccess to backtesting and batch functionality is required to leverage the Iterated Cross-Sectional Functionality. \n\n**When to use ICSF:**\n\nThe ICSF can offer better performance than Time-Series requests when the date range is relatively small, and so it is recommended to use ICSF if the number of IDs requested is greater than the number of dates. If the number of dates is greater than the number of IDs in the request, it is recommended to use Time-Series. \n\n*Note: This is a general rule of thumb and performance may vary depending on the formulas in use.*\n"
      tags:
      - Sectional
      operationId: getCrossSectionalDataForList
      responses:
        '200':
          description: Gets an array of `Response Objects` for a list of IDs and Screening formulas.
          headers:
            api-version:
              $ref: '#/components/headers/api-version'
            api-supported-versions:
              $ref: '#/components/headers/api-supported-versions'
            api-deprecated-versions:
              $ref: '#/components/headers/api-deprecated-versions'
            chain-id:
              $ref: '#/components/headers/chain-id'
            X-RateLimit-Limit-second:
              $ref: '#/components/headers/X-RateLimit-Limit-second'
            X-RateLimit-Remaining-second:
              $ref: '#/components/headers/X-RateLimit-Remaining-second'
            X-RateLimit-Limit-day:
              $ref: '#/components/headers/X-RateLimit-Limit-day'
            X-RateLimit-Remaining-day:
              $ref: '#/components/headers/X-RateLimit-Remaining-day'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cross_sectional_response'
              examples:
                Single Equity Id and Single Equity Data Item:
                  $ref: '#/components/examples/cross-sectional-singleId-singleItem'
                Single Equity Id and Single Equity Data Item with fsymId=Y:
                  $ref: '#/components/examples/cross-sectional-singleId-singleItem-fsymId'
                Multiple Equity Ids and Multiple Equity Data Items:
                  $ref: '#/components/examples/cross-sectional-multipleId-multipleItem'
                Multiple Equity Ids and Multiple Equity Data Items with flatten=Y:
                  $ref: '#/components/examples/cross-sectional-multipleId-multipleItem-flatten'
                Multiple Equity Ids and Multiple Calculated Equity Data Items:
                  $ref: '#/components/examples/cross-sectional-multipleId-multipleCalculatedItem'
                Multiple Fixed Income Ids and Multiple Fixed Income Data Items:
                  $ref: '#/components/examples/cross-sectional-multipleFixedIncomeId-multipleItem'
                Small Equity Universe and Single Equity Data Item:
                  $ref: '#/components/examples/cross-sectional-smallUniv-singleItem'
                Debt Universe and Multiple Debt Data Items:
                  $ref: '#/components/examples/cross-sectional-debtUniv-multipleItem'
                Single ID and Multiple dates using ICSF with flatten = N:
                  $ref: '#/components/examples/cross-sectional-ICSF-singleItem-nonflatten'
                Multiple IDs and Multiple dates using ICSF with flatten = Y:
                  $ref: '#/components/examples/cross-sectional-ICSF-multipleItem-Flatten'
        '202':
          description: Batch request has been accepted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchStatusResponse'
              examples:
                Batch Request Accepted:
                  $ref: '#/components/examples/BatchStatusAcceptedResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '405':
          $ref: '#/components/responses/405'
        '406':
          $ref: '#/components/responses/406'
        '408':
          $ref: '#/components/responses/408'
        '415':
          $ref: '#/components/responses/415'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        '501':
          $ref: '#/components/responses/501'
        '503':
          $ref: '#/components/responses/503'
      requestBody:
        $ref: '#/components/requestBodies/cross-sectional-postBody'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    cross_sectional_request:
      title: Cross-Sectional Request Body
      description: '`/cross-sectional` Request Body'
      type: object
      properties:
        data:
          type: object
          properties:
            ids:
              title: ids
              description: 'Array of entity identifiers.


                The `ids` and `universe` parameters provide two different ways to specify

                the identifiers for which you want data retrieved. Please enter either the

                `ids` or `universe` parameter.

                '
              type: array
              items:
                type: string
              example:
              - FDS-US
              - IBM-US
              - XOM-US
            symbolType:
              title: symbolType
              type: string
              description: "Specify the type of symbols submitted in the `ids` parameter. This is only required when submitting ids that are not supported by default. \n\nAvailable symbol types -\n* DEFAULT - Accepted symbol types include Market Tickers, SEDOLs, ISINs, CUSIPs, or FactSet Permanent Ids.\n\n* BLOOMBERG - Accepted symbol types include Bloomberg Tickers and Bloomberg FIGIs. \n  * When submitting Bloomberg symbols, the Bloomberg symbol is translated to a FactSet Permanent Identifier which is then used to retrieve the requested FQL and Screening formulas. The Bloomberg\nsymbol submitted will be returned in the response in the field *requestId*. To see the FactSet Permanent Identifer that the Bloomberg symbol resolved to, use the `fsymId` parameter in addition to the `symbolType` parameter.\n  * Bloomberg symbols can not be submitted with other symbol types. \n  * Bloomberg Symbol Resolution is not available via Batch Requests.\n  \nBloomberg Symbol Resolution is included with the Individual User subscription. Users with a Production User subscription require additional access to submit Bloomberg symbols. If you would like to gain access to Bloomberg Symbol Resolution, please contact your FactSet Account Team or \"Report Issue\" above and our support teams can assist.\n"
            universe:
              title: universe
              description: 'Screening expression to limit the universe


                Please enter either the `ids` or `universe` parameter.

                '
              type: string
              example: FG_CONSTITUENTS(SP50,0,CLOSE)
            universeType:
              title: universeType
              description: "Specify the universe type to calculate the `universe` in.\n\nFind documentation below on how to build a screen for each universe type -\n  * Equity Screen - [Online Assistant Page 20606](https://my.apps.factset.com/oa/pages/20606)\n\n  * Debt Screen - [Online Assistant Page 20888](https://my.apps.factset.com/oa/pages/20888)\n\n  * Fund Screen - [Online Assistant Page 21384](https://my.apps.factset.com/oa/pages/21384)\n"
              type: string
              default: EQUITY
              example: DEBT
              enum:
              - EQUITY
              - DEBT
              - FUND
            formulas:
              title: Screening formulas
              description: Array of Screening formulas
              type: array
              items:
                type: string
              example:
              - P_PRICE(0)
              - FG_COMPANY_NAME
            backTestDate:
              title: backTestDate
              description: 'Specify the backtest date either in **YYYY-MM-DD**, **YYYYMMDD** or **MM/DD/YYYY** format.


                To learn more about backtesting, please visit [Online Assistant Page 20610](https://my.apps.factset.com/oa/pages/20610#backtest). User must have access to backtesting functionality.

                '
              type: string
              example: '2020-06-01'
            calendar:
              title: Calendar Setting
              description: Calendar of data returned.
              type: string
              example: SEVENDAY
              default: FIVEDAY
            fsymId:
              title: fsymId
              description: 'Specify **Y** for `fsymId` to return an additional response object for the data item fsymId which will contain the fsymIds of the requestIds, in addition to the response object containing the data item requestId. The default value for `fsymId` is **N**.


                The **fsymId** field returned is the FactSet Default Permanent Identifier for the `requestId`. For all supported `requestId` symbol types, the `fsymId` parameter will return the Regional Level PermId ''-R'' which identifies the securitys best regional security data series per currency. Currently, the fsymId parameter only supports equities. Accepted `requestId` symbol types include all FactSet Permanent Identifiers types, CUSIP, SEDOL, ISIN, and Tickers. Further documentation can be found at this [Online Assistant attachment](https://oa.apps.factset.com/cms/oaAttachment/64c3213a-f415-4c27-a336-92c73a72deed/24881).

                '
              type: string
              example: Y
              default: N
              enum:
              - Y
              - N
            displayName:
              title: displayName
              description: 'Define display names for the formulas inputted. Enter the list of display names in the same order as the formulas inputted. An additional field **displayName** will be returned in the data object for a formula.


                If the number of display names does not match the number of formulas provided, an error will be returned.


                To define the display name for a subset of the formulas, leave a blank in the position of the formula that won''t be renamed. For example - If three formulas are inputted, to define display names only for the first and third formula, enter *displayName=FORMULA_1,,FORMULA_3*. The **displayName** field will still be included in that formula, but will contain the formula as inputted.

                '
              type: array
              items:
                type: string
              example:
              - PRICE
              - COMPANY_NAME
            flatten:
              title: flatten
              description: 'Specify **Y** for `flatten` to return a flat, table-like JSON response model instead of the standard nested JSON response model. This option is provided for easier data processing and visualization. The default value for `flatten` is **N**.


                See the **Cross-Sectional Result Object Flattened** schema for more detail on the response structure for flattened output.

                '
              type: string
              example: Y
              default: N
              enum:
              - Y
              - N
            batch:
              title: batch
              description: 'Enables the ability to asynchronously "batch" the request, supporting a long-running request up to 10 minutes. Upon requesting "batch": "Y", the service will respond back with an HTTP Status Code of 202.


                Individual users are allowed 5 concurrent Batch Requests, while Production users are allowed 10 concurrent Batch Requests.


                *This feature is available to Individual Users subscribed to the Performance Package and Performance Package Plus Performance Tiers and all Production Users. If you are unsure which Performance Tier you are subscribed to or you would like to gain access to the batch capabilities, please contact your FactSet Account Team or "Report Issue" above and our support teams can assist.*


                Once a batch request is submitted, use `/batch-status` to see if the job has completed. Once completed, retrieve the results of the request via `/batch-result`. See the endpoints listed under *Batch Processing* for more information.

                '
              type: string
              example: Y
              default: N
              enum:
              - Y
              - N
            startDate:
              title: statDate
              description: 'Specify the start date for running the Iterated Cross Sectional Functionality request either in **YYYY-MM-DD**, **YYYYMMDD** or **MM/DD/YYYY** format.

                '
              type: string
              example: '2020-05-01'
            endDate:
              title: endDate
              description: 'Specify the end date for running the Iterated Cross Sectional Functionality request either in **YYYY-MM-DD**, **YYYYMMDD** or **MM/DD/YYYY** format.

                '
              type: string
              example: '2020-05-31'
            frequency:
              title: frequency
              description: 'Specify the frequency for running the Iterated Cross Sectional Functionality request. The following frequencies are supported **D**, **W**, **M**, **AM**, **CQ**, **AY**, or **CY**.


                To learn more about frequency, please visit [Online Assistant Page 1964](https://my.apps.factset.com/oa/pages/1964#frequency). User must have access to backtesting functionality.

                '
              type: string
              example: AM
              enum:
              - D
              - W
              - M
              - AM
              - CQ
              - AY
              - CY
          required:
          - formulas
          example: example_value
      required:
      - data
    cross_sectional_result_object_nonflattened:
      title: Cross-Sectional Non-Flattened Response Object
      description: An object returning the results for a single formula.
      type: object
      properties:
        universe:
          description: If `universe` is submitted instead of `ids`, then the universe attribute will display the universe expression requested.
          type: string
          example: (FG_CONSTITUENTS(SP50,0,CLOSE) AND P_PRICE(0,USD)<10)=1
        dataItemName:
          description: Name of data item (requestId, requested Screening formula, or fsymId)
          type: string
          example: P_PRICE(0)
        displayName:
          description: Display Name.
          type: string
          nullable: true
          example: PRICE
        result:
          type: array
          items:
            $ref: '#/components/schemas/cross_sectional_result_object_nonflattened_result_attribute'
          example: []
        dataType:
          description: Data type of the data item
          example: STRING
          type: string
          enum:
          - STRING
          - INTEGER
          - DOUBLE
        error:
          description: "Data item error indicator.\n * Zero  success\n * Non-zero  failure\n"
          type: integer
          example: 0
        errorMessage:
          description: If error is non-zero, errorMessage will display the Screening formula error.
          type: string
          nullable: true
          example: 'Error parsing formula arguments

            '
        warnings:
          description: Screening formula warnings. This attribute is only displayed if warnings are generated in the execution of the Screening formula.
          type: array
          items:
            type: object
            properties:
              description:
                description: Human readable message explaining the warning
                type: string
                nullable: true
              effect:
                description: Human readable message explaining the effect on the `result`
                type: string
                nullable: true
          example: []
      required:
      - dataItemName
      - error
      - result
      - dataType
    cross_sectional_response:
      title: Cross-Sectional Response
      type: object
      properties:
        data:
          description: Array of Cross-Sectional `Response Objects`
          type: array
          items:
            $ref: '#/components/schemas/cross_sectional_response_object_items'
          example: []
    cross_sectional_response_object_items:
      title: Cross-Sectional Response Object
      oneOf:
      - $ref: '#/components/schemas/cross_sectional_result_object_nonflattened'
      - $ref: '#/components/schemas/cross_sectional_result_object_flattened'
    BatchStatus:
      title: Batch Status
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: the id of batch request.
          example: abc123
        startTime:
          type: string
          nullable: true
          format: date-time
          description: Time when the batch request is started. This is in Eastern Time Zone. The date-time format is expressed as [YYYY-MM-DD]T[HH:MM:SSS], following ISO 8601.
          example: '2026-01-15T10:30:00Z'
        endTime:
          type: string
          nullable: true
          format: date-time
          description: Time when the batch request is ended. This is in Eastern Time Zone. The date-time format is expressed as [YYYY-MM-DD]T[HH:MM:SSS], following ISO 8601.
          example: '2026-01-15T10:30:00Z'
        status:
          type: string
          enum:
          - QUEUED
          - EXECUTING
          - DONE
          - FAILED
          example: QUEUED
        error:
          type: string
          nullable: true
          example: The parameter 'formulas' is required and may not be empty.
          description: Error message.
    cross_sectional_result_object_nonflattened_result_attribute:
      title: Result Attribute in Cross-Sectional Non-Flattened Response Object
      description: An array containing the values for the data item
      oneOf:
      - type: string
        nullable: true
        description: Array of strings
        example:
        - IBM
        - FDS
        - GE
        - GOOG
        - AAPL
        - MSFT
        - TSLA
      - type: number
        nullable: true
        description: Array of doubles
        format: double
        example:
        - 121.73
        - 333.29
        - 6.2
        - 1464.52
        - 114.96
        - 209.44
        - 421.2
      - type: integer
        nullable: true
        description: Array of integers
        example:
        - 42
        - 3
        - 14
        - 17
        - 29
        - 8
        - 36
    cross_sectional_result_object_flattened_addl:
      title: Key-Value Pair for Cross-Sectional Flattened Response Object
      description: 'The Key in the Key-Value pair will be the formula. If the `displayName` parameter is used, then the Key will be displayName specified for that formula. The Value in the Key-Value pair will be the result of the formula for that "row".

        '
      example: '"P_PRICE(0)": 142.32'
      oneOf:
      - type: string
        nullable: true
      - type: number
        format: double
        nullable: true
      - type: integer
        nullable: true
    error_detail:
      title: Error Object
      description: '`Error Object` is the response returned for an unsuccessful request.

        '
      type: object
      properties:
        id:
          description: Unique identifier for the request. Also known as the chain id.
          type: string
          example: 5EFCCA8940CAEA6B
          nullable: true
        code:
          description: Textual error code
          type: string
          example: notAuthenticated
          nullable: true
        title:
          description: A short, human-readable summary of the problem
          type: string
          example: There were either no, invalid, or expired credentials present in the request.
          nullable: true
        timestamp:
          description: timestamp in YYYY-MM-DD HH:MM:SS.SSS
          type: string
          format: date-time
          example: '2020-08-01 11:09:41.918'
          nullable: true
    BatchStatusResponse:
      title: Batch Status Response
      type: object
      properties:
        data:
          $ref: '#/components/schemas/BatchStatus'
    cross_sectional_result_object_flattened:
      title: Cross-Sectional Flattened Result Object
      description: '

        Data model returned when the parameter **flatten=Y** is used in the request. This flattened, simplified JSON data returned from **flatten=Y** can be conceptualized as a table (rows and columns) where each data object in the result is a row in the table and the field names are the column names.


        There will be one data object for each request containing the request, fsymId if requested, and Key-Value pairs for each data item (formula).

        '
      type: object
      properties:
        requestId:
          description: Identifier requested.
          type: string
          example: IBM-US
        fsymId:
          description: 'The **fsymId** field returned is the FactSet Default Permanent Identifier for the `requestId`. For all supported `requestId` symbol types, the `fsymId` parameter will return the Regional Level PermId ''-R'' which identifies the securitys best regional security data series per currency. Currently, the fsymId parameter only supports equities. Accepted `requestId` symbol types include all FactSet Permanent Identifiers types, CUSIP, SEDOL, ISIN, and Tickers. Further documentation can be found at this [Online Assistant attachment](https://oa.apps.factset.com/cms/oaAttachment/64c3213a-f415-4c27-a336-92c73a72deed/24881). Included only if the `fsymId` parameter is set to Y.

            '
          type: string
          nullable: true
          example: SJY281-R
      additionalProperties:
        $ref: '#/components/schemas/cross_sectional_result_object_flattened_addl'
      required:
      - requestId
  examples:
    cross-sectional-multipleId-multipleCalculatedItem:
      summary: Mutiple Ids and Multiple Calculated Equity Data Items
      description: '`cross-sectional` Request for to retrieve your own P/E ratio calculation from the last trading day of the companys most recent fiscal year, the percentage of revenue exposure in the US and Japan for the same date as the first data item, and indicator of indicate whether the latest fiscal year''s sales were higher or lower than the previous year''s sales for IBM, FDS, GE, GOOG, AAPL, MSFT, and TSLA

        '
      value:
        data:
        - dataItemName: requestId
          result:
          - IBM
          - FDS
          - GE
          - GOOG
          - AAPL
          - MSFT
          - TSLA
          dataType: STRING
          error: 0
        - dataItemName: P_PRICE(0Y)/FF_EPS(ANN_R,0Y)
          result:
          - 12.3145
          - 33.9323
          - -388.737
          - 38.3806
          - 40.3096
          - 38.9243
          - -873.152
          dataType: DOUBLE
          error: 0
        - dataItemName: FF_GEOREV_COUNTRY_PCT(840,ANN,0,RF)+FF_GEOREV_COUNTRY_PCT(392,ANN,0,RF)
          result:
          - 48.0589
          - 60.992432
          - 46.614087
          - 49.366951
          - 47.580278
          - 54.971108
          - 54.065827
          dataType: DOUBLE
          error: 0
        - dataItemName: IF(FF_SALES(ANN_R,0)>FF_SALES(ANN_R,-1),"HIGHER","LOWER")
          result:
          - LOWER
          - HIGHER
          - LOWER
          - HIGHER
          - HIGHER
          - HIGHER
          - HIGHER
          dataType: STRING
          error: 0
    cross-sectional-multipleId-multipleItem-flatten:
      summary: Mutiple Equity Ids and Multiple Equity Data Items with flatten=Y
      description: '`cross-sectional` Request for last fiscal year''s sales, the name of the company, the price for the last completed trading day, and last fiscal year''s total assets for the requested 7 identifiers

        '
      value:
        data:
        - requestId: IBM
          FF_SALES(ANN_R,0): 73620
          PROPER_NAME(0,SECURITY,NAME): International Business Machines Corporation
          P_PRICE(0): 134.93
          FF_ASSETS(ANN_R,0): 155971
        - requestId: FDS
          FF_SALES(ANN_R,0): 1494.111
          PROPER_NAME(0,SECURITY,NAME): FactSet Research Systems Inc.
          P_PRICE(0): 309.36
          FF_ASSETS(ANN_R,0): 2083.388
        - requestId: GE
          FF_SALES(ANN_R,0): 79893
          PROPER_NAME(0,SECURITY,NAME): General Electric Company
          P_PRICE(0): 13.39
          FF_ASSETS(ANN_R,0): 255050
        - requestId: GOOG
          FF_SALES(ANN_R,0): 182350
          PROPER_NAME(0,SECURITY,NAME): Alphabet Inc. Class C
          P_PRICE(0): 2249.68
          FF_ASSETS(ANN_R,0): 319616
        - requestId: AAPL
          FF_SALES(ANN_R,0): 274150
          PROPER_NAME(0,SECURITY,NAME): Apple Inc.
          P_PRICE(0): 127.9
          FF_ASSETS(ANN_R,0): 323888
        - requestId: MSFT
          FF_SALES(ANN_R,0): 143015
          PROPER_NAME(0,SECURITY,NAME): Microsoft Corporation
          P_PRICE(0): 249.9
          FF_ASSETS(ANN_R,0): 301311
        - requestId: TSLA
          FF_SALES(ANN_R,0): 31536
          PROPER_NAME(0,SECURITY,NAME): Tesla Inc
          P_PRICE(0): 670.97
          FF_ASSETS(ANN_R,0): 52148
    cross-sectional-multipleId-multipleItem:
      summary: Mutiple Equity Ids and Multiple Equity Data Items
      description: '`cross-sectional` Request for last fiscal year''s sales, the name of the company, the price for the last completed trading day, and last fiscal year''s total assets for the requested 7 identifiers

        '
      value:
        data:
        - dataItemName: requestId
          result:
          - IBM
          - FDS
          - GE
          - GOOG
          - AAPL
          - MSFT
          - TSLA
          dataType: STRING
          error: 0
        - dataItemName: FF_SALES(ANN_R,0)
          result:
          - 77147
          - 1494.111
          - 95055
          - 161402
          - 259968
          - 143015
          - 24578
          dataType: DOUBLE
          error: 0
        - dataItemName: PROPER_NAME(0,SECURITY,NAME)
          result:
          - International Business Machines Corporation
          - FactSet Research Systems Inc.
          - General Electric Company
          - Alphabet Inc. Class C
          - Apple Inc.
          - Microsoft Corporation
          - Tesla Inc
          dataType: STRING
          error: 0
        - dataItemName: P_PRICE(0)
          result:
          - 125.52
          - 333.93
          - 7.29
          - 1534.61
          - 115.98
          - 214.22
          - 430.83
          dataType: DOUBLE
          error: 0
        - dataItemName: FF_ASSETS(ANN_R,0)
          result:
          - 152186
          - 2083.388
          - 274090
          - 275909
          - 338516
          - 301311
          - 34309
          dataType: DOUBLE
          error: 0
    BatchStatusAcceptedResponse:
      description: Batch Status Accepted Response
      value:
        data:
          id: 2df43e85-ea0f-45c6-bf4a-2baf4d1eaa3c
          status: QUEUED
          startTime: '2021-06-29T18:34:52.168Z'
          endTime: null
          error: null
    cross-sectional-ICSF-singleItem-nonflatten:
      summary: Single ID and Multiple Dates using ICSF with flatten = N
      description: '`Iterated Cross-Sectional Functionality` Request for the monthly price of Netflix Inc. for the year of 2022.

        '
      value:
        data:
        - dataItemName: requestId
          result:
          - NFLX-USA
          - NFLX-USA
          - NFLX-USA
          - NFLX-USA
          - NFLX-USA
          - NFLX-USA
          - NFLX-USA
          - NFLX-USA
          - NFLX-USA
          - NFLX-USA
          - NFLX-USA
          - NFLX-USA
          dataType: STRING
          error: 0
        - dataItemName: P_PRICE(0)
          result:
          - 427.14
          - 394.52
          - 374.59
          - 190.36
          - 197.44
          - 174.87
          - 224.9
          - 223.56
          - 235.44
          - 291.88
          - 305.53
          - 294.88
          dataType: FLOAT
          error: 0
        - dataItemName: PROPER_NAME
          result:
          - Netflix, Inc.
          - Netflix, Inc.
          - Netflix, Inc.
          - Netflix, Inc.
          - Netflix, Inc.
          - Netflix, Inc.
          - Netflix, Inc.
          - Netflix, Inc.
          - Netflix, Inc.
          - Netflix, Inc.
          - Netflix, Inc.
          - Netflix, Inc.
          dataType: STRING
          error: 0
        - dataItemName: date
          result:
          - '2022-01-31'
          - '2022-02-28'
          - '2022-03-31'
          - '2022-04-29'
          - '2022-05-31'
          - '2022-06-30'
          - '2022-07-29'
          - '2022-08-31'
          - '2022-09-30'
          - '2022-10-31'
          - '2022-11-30'
          - '2022-12-30'
          dataType: string
          error: 0
        meta: {}
    cross-sectional-debtUniv-multipleItem:
      summary: Debt Universe and Multiple Debt Data Items
      description: '`cross-sectional` Request for the issuer name and amount out for all debt instruments for the Starbucks Corporation

        '
      value:
        data:
        - dataItemName: requestId
          dataType: STRING
          result:
          - 855244AD
          - 855244AG
          - 855244AH
          - 855244AJ
          - 855244AK
          - 855244AM
          - 855244AN
          - 855244AP
          - 855244AQ
          - 855244AR
          - 855244AS
          - 855244AT
          - 855244AU
          - 855244AV
          - 855244AW
          - 855244AX
          - 855244AY
          - 855244AZ
          - 855244BA
          - U8547PAA
          - FDS01U70
          - FDS02JIW
          - FDS0F9W5
          - FDS0QANF
          - FDS1B17O
          - FDSA82FD
          - FDSB0FB5
          - 855244AA
          - 855244AB
          - 855244AC
          - 855244AE
          - 855244AF
          - 855244AL
          - FDS0QARA
          - FDS0VUVD
          universe: EQUITY(P_SYMBOL)="SBUX-US"
          error: 0
        - error: 0
          dataItemName: FI_NAME(ISSR)
          result:
          - Starbucks Corporation
          - Starbucks Corporation
          - Starbucks Corporation
          - Starbucks Corporation
          - Starbucks Corporation
          - Starbucks Corporation
          - Starbucks Corporation
          - Starbucks Corporation
          - Starbucks Corporation
          - Starbucks Corporation
          - Starbucks Corporation
          - Starbucks Corporation
          - Starbucks Corporation
          - Starbucks Corporation
          - Starbucks Corporation
          - Starbucks Corporation
          - Starbucks Corporation
          - Starbucks Corporation
          - Starbucks Corporation
          - Starbucks Corporation
          - Starbucks Corporation
          - Starbucks Corporation
          - Starbucks Corporation
          - Starbucks Corporation
          - Starbucks Corporation
          - Starbucks Corporation
          - Starbucks Corporation
          - Starbucks Corporation
          - Starbucks Corporation
          - Starbucks Corporation
          - Starbucks Corporation
          - Starbucks Corporation
          - Starbucks Corporation
          - Starbucks Corporation
          - Starbucks Corporation
          dataType: STRING
        - error: 0
          dataItemName: FI_AMOUNT_OUT(AMT,0,USD)
          result:
          - 750
          - 500
          - 350
          - 750
          - 500
          - 500
          - 1000
          - 600
          - 1250
          - 750
          - 1000
          - 1000
          - 1000
          - 500
          - 750
          - 500
          - 500
          - 1250
          - 1250
          - 815.699808132134
          - null
          - null
          - null
          - null
          - null
          - null
          - null
          - 0
          - 0
          - 0
          - 0
          - 0
          - 0
          - null
          - null
          dataType: DOUBLE
    cross-sectional-ICSF-multipleItem-Flatten:
      summary: Multiple IDs and Multiple Dates using ICSF with flatten = Y
      description: '`Iterated Cross-Sectional Functionality` Request for the weekly sales of Netflix Inc., Walt Disney Company, and Warner Bros. Discovery Inc. for the month of March 2020.

        '
      value:
        data:
        - requestId: NFLX-USA
          date: '2020-02-28'
          FF_SALES(ANN_R,0): 20156.447
        - requestId: DIS-USA
          date: '2020-02-28'
          FF_SALES(ANN_R,0): 69422
        - requestId: WBD-USA
          date: '2020-02-28'
          FF_SALES(ANN_R,0): 11133
        - requestId: NFLX-USA
          date: '2020-03-06'
          FF_SALES(ANN_R,0): 20156.447
        - requestId: DIS-USA
          date: '2020-03-06'
          FF_SALES(ANN_R,0): 69422
        - requestId: WBD-USA
          date: '2020-03-06'
          FF_SALES(ANN_R,0): 11133
        - requestId: NFLX-USA
          date: '2020-03-13'
          FF_SALES(ANN_R,0): 20156.447
        - requestId: DIS-USA
          date: '2020-03-13'
          FF_SALES(ANN_R,0): 69422
        - requestId: WBD-USA
          date: '2020-03-13'
          FF_SALES(ANN_R,0): 11133
        - requestId: NFLX-USA
          date: '2020-03-20'
          FF_SALES(ANN_R,0): 20156.447
        - requestId: DIS-USA
          date: '2020-03-20'
          FF_SALES(ANN_R,0): 69422
        - requestId: WBD-USA
          date: '2020-03-20'
          FF_SALES(ANN_R,0): 11133
        - requestId: NFLX-USA
          date: '2020-03-27'
          FF_SALES(ANN_R,0): 20156.447
        - requestId: DIS-USA
          date: '2020-03-27'
          FF_SALES(ANN_R,0): 69422
        - requestId: WBD-USA
          date: '2020-03-27'
          FF_SALES(ANN_R,0): 11133
    cross-sectional-singleId-singleItem-fsymId:
      summary: Single Equity Id and Single Equity Data Item with fsymId=Y
      description: '`cross-sectional` Request for Single Price Record for IBM and the fsymId for IBM

        '
      value:
        data:
        - dataItemName: requestId
          result:
          - IBM
          dataType: STRING
          error: 0
        - dataItemName: P_PRICE(0)
          result:
          - 120.77
          dataType: DOUBLE
          error: 0
        - dataItemName: fsymId
          result:
          - SJY281-R
          dataType: STRING
          error: 0
    cross-sectional-multipleFixedIncomeId-multipleItem:
      summary: Mutiple Fixed Income Ids and Multiple Fixed Income Data Items
      description: '`cross-sectional` Request for the name of the issuer and the amount outstanding for the requested 2 fixed income identifiers

        '
      value:
        data:
        - dataItemName: requestId
          result:
          - U88803AB
          - 00138GAC
          dataType: STRING
          error: 0
        - dataItemName: FI_NAME(ISSR)
          result:
          - 21st Century Fox America, Inc.
          - AIG Life Holdings, Inc.
          dataType: STRING
          error: 0
        - dataItemName: FI_AMOUNT_OUT(AMT,0,USD)
          result:
          - 0.2,
          - 212
          dataType: DOUBLE
          error: 0
    cross-sectional-smallUniv-singleItem:
      summary: Small Equity Universe and Single Equity Data Item
      description: '`cross-sectional` Request for the company name for each S&P 500 constituent with a price less than 10 USD

        '
      value:
        data:
        - universe: (FG_CONSTITUENTS(SP50,0,CLOSE) AND P_PRICE(0,USD)<10)=1
          dataItemName: requestId
          result:
          - '56584910'
          - '63707110'
          - '36960410'
          - '44615010'
          - '34537086'
          - '03741110'
          - 42824C10
          - G8711010
          dataType: STRING
          error: 0
        - dataItemName: FG_COMPANY_NAME
          result:
          - Marathon Oil Corporation
          - National Oilwell Varco, Inc.
          - General Electric Company
          - Huntington Bancshares Incorporated
          - Ford Motor Company
          - Apache Corporation
          - Hewlett Packard Enterprise Co.
          - TechnipFMC Plc
          dataType: STRING
          error: 0
    cross-sectional-singleId-singleItem:
      summary: Single Equity Id and Single Equity Data Item
      description: '`cross-sectional` Request for Single Price Record for IBM

        '
      value:
        data:
        - dataItemName: requestId
          result:
          - IBM
          dataType: STRING
          error: 0
        - dataItemName: P_PRICE(0)
          result:
          - 120.77
          dataType: DOUBLE
          error: 0
  headers:
    X-RateLimit-Limit-second:
      description: Number of allowed requests per second.
      schema:
        type: integer
        example: 5
    X-RateLimit-Remaining-second:
      description: Number of requests currently available in second.
      schema:
        type: integer
        example: 4
    X-RateLimit-Remaining-day:
      description: Number of requests currently available in day.
      schema:
        type: integer
        example: 854
    Retry-After:
      description: Number of seconds the service is expected to be unavailable to the client. This header will be present on 429 errors.
      schema:
        type: integer
        example: 62
    chain-id:
      description: Unique identifier for the request. Also known as the chain id.
      schema:
        type: string
        example: 5EFCCA8940CAEA6B
    api-version:
      description: the full semantic version of the API.
      schema:
        type: string
        example: 1.0.0
    api-supported-versions:
      description: the comma-separated list of supported major versions.
      schema:
        type: string
        example: '1'
    X-RateLimit-Limit-day:
      description: Number of allowed requests per day.
      schema:
        type: integer
        example: 1000
    api-deprecated-versions:
      description: the comma-separated list of deprecated major versions.
      schema:
        type: string
        example: 1,2
  parameters:
    calendar_cross_sectional:
      name: calendar
      in: query
      schema:
        type: string
      description: Calendar of data returned. The default value is FIVEDAY which displays Monday through Friday, regardless of whether there were trading holidays.
      required: false
      examples:
        fiveday:
          summary: FIVEDAY
          description: Displays Monday through Friday, regardless of whether there were trading holidays. This is the default for `calendar`.
          value: FIVEDAY
        sevenday:
          summary: SEVENDAY
          description: Displays Monday through Sunday.
          value: SEVENDAY
        region:
          summary: Region Specific
          description: The calendar of a specific region. The example shown here 'NAY' is for the UNITED STATES calendar. You can find the calendar codes for regions on [Online Assistant Page 16610](https://my.apps.factset.com/oa/pages/16610#country).
          value: NAY
    frequency:
      name: frequency
      description: 'Specify the frequency for running the Iterated Cross Sectional Functionality request. The following frequencies are supported **D**, **W**, **M**, **AM**, **CQ**, **AY**, or **CY**.

        To learn more about frequency, please visit [Online Assistant Page 1964](https://my.apps.factset.com/oa/pages/1964#frequency). User must have access to backtesting functionality.'
      in: query
      required: false
      schema:
        type: string
      explode: false
      examples:
        noFrequency:
          value: ''
          summary: ''
        D:
          summary: Daily
          description: Displays data on a daily basis.
          value: D
        W:
          summary: Weekly
          description: Displays data weekly, based on the last day of the completed trading week (usually Friday).
          value: W
        M:
          summary: Monthly
          description: Displays data monthly, based on the last trading day of the month.
          value: M
        AM:
          summary: Monthly-Actual
          description: Displays data monthly, based on the start date (e.g., if the start date is June 16th, data is displayed for June 16th, May 16th, April 16th, etc.).
          value: AM
        CQ:
          summary: Quarterly-Calendar
          description: Displays data quarterly based on the last trading day of the calendar quarter (March, June, September, or December).
          value: CQ
        AY:
          summary: Yearly-Actual
          description: Displays data annually, based on the start date (e.g, if the start date is October 31, 2019, data is displayed for October 31, 2019, October 31, 2018, October 31, 2017, etc.).
          value: AY
        CY:
          summary: Yearly-Calendar
          description: Displays data annually based on the last trading day of the calendar year.
          value: CY
    fsymId_cross_sectional:
      name: fsymId
      description: 'Specify **Y** for `fsymId` to return an additional response object containing the data

        item **fsymId** which will contain the fsymIds of the requestIds. This is in addition to the

        response object containing the data item **requestId**. The default value for `fsymId`

        is **N**.


        The **fsymId** field returned is the FactSet Default Permanent Identifier for the `requestId`. For all supported `requestId` symbol types, the `fsymId` parameter will return the Regional Level PermId ''-R'' which identifies the securitys best regional security data series per currency. Currently, the fsymId parameter only supports equities. Accepted `requestId` symbol types include all FactSet Permanent Identifiers types, CUSIP, SEDOL, ISIN, and Tickers. Further documentation can be found at this [Online Assistant attachment](https://oa.apps.factset.com/cms/oaAttachment/64c3213a-f415-4c27-a336-92c73a72deed/24881).

        '
      in: query
      required: false
      schema:
        type: string
        enum:
        - Y
        - N
        default: N
      explode: false
    universe:
      name: universe
      description: 'Screening expression to limit the universe


        Please enter either the `ids` or `universe` parameter.

        '
      in: query
      required: false
      schema:
        type: string
      explode: false
      examples:
        noUniverse:
          summary: ''
          value: ''
        oneCriteria:
          summary: Equity Universe - S&P 500 Constituents
          value: FG_CONSTITUENTS(SP50,0,CLOSE)
        twoCriteria:
          summary: Equity Universe -  S&P 500 Constituents with Price < 10 USD
          value: (FG_CONSTITUENTS(SP50,0,CLOSE) AND P_PRICE(0,USD)<10)=1
        debtUniverse:
          summary: Debt Universe - Starbucks Debt
          description: 'The issuer name and amount out for all debt instruments for the Starbucks Corporation


            To calculate fixed income universe, `universeType` must be set to **DEBT**.

            '
          value: EQUITY(P_SYMBOL)='SBUX-US'
    startDate:
      name: startDate
      description: 'Specify the start date for running the Iterated Cross Sectional Functionality request either in **YYYY-MM-DD**, **YYYYMMDD** or **MM/DD/YYYY** format.

        User must have access to backtesting functionality.'
      in: query
      required: false
      schema:
        type: string
      explode: false
    endDate:
      name: endDate
      description: 'Specify the end date for running the Iterated Cross Sectional Functionality request either in **YYYY-MM-DD**, **YYYYMMDD** or **MM/DD/YYYY** format.

        User must have access to backtesting functionality.'
      in: query
      required: false
      schema:
        type: string
      explode: false
    symbolType:
      name: symbolType
      in: query
      description: "Specify the type of symbols submitted in the `ids` parameter. This is only required when submitting ids that are not supported by default. \n\nAvailable symbol types -\n* DEFAULT - Accepted symbol types include Market Tickers, SEDOLs, ISINs, CUSIPs, or FactSet Permanent Ids.\n\n* BLOOMBERG - Accepted symbol types include Bloomberg Tickers and Bloomberg FIGIs. \n  * When submitting Bloomberg symbols, the Bloomberg symbol is translated to a FactSet Permanent Identifier which is then used to retrieve the requested FQL and Screening formulas. The Bloomberg\nsymbol submitted will be returned in the response in the field *requestId*. To see the FactSet Permanent Identifer that the Bloomberg symbol resolved to, use the `fsymId` parameter in addition to the `symbolType` parameter.\n  * Bloomberg symbols can not be submitted with other symbol types. \n  * Bloomberg Symbol Resolution is not available via Batch Requests.\n\nBloomberg Symbol Resolution is included with the Individual User subscription. Users with a Production User subscription require additional access to submit Bloomberg symbols. If you would like to gain access to Bloomberg Symbol Resolution, please contact your FactSet Account Team or \"Report Issue\" above and our support teams can assist.\n"
      required: false
      schema:
        type: string
        enum:
        - DEFAULT
        - BLOOMBERG
        default: DEFAULT
      explode: false
    universeType_cross_sectional:
      name: universeType
      in: query
      description: 'Specify the universe type to calculate the `universe` in.


        Find documentation below on how to build a screen for each universe type -

        * Equity Screen - [Online Assistant Page 20606](https://my.apps.factset.com/oa/pages/20606)


        * Debt Screen - [Online Assistant Page 20888](https://my.apps.factset.com/oa/pages/20888)


        * Fund Screen - [Online Assistant Page 21384](https://my.apps.factset.com/oa/pages/21384)

        '
      required: false
      schema:
        type: string
        enum:
        - EQUITY
        - DEBT
        - FUND
        default: EQUITY
      explode: false
    formulas_cross_sectional:
      name: formulas
      description: List of Screening formulas
      in: query
      required: true
      schema:
        type: array
        items:
          type: string
      explode: false
      examples:
        singleItem:
          summary: Single Equity Data Item
          value:
          - P_PRICE(0)
        multipleItems:
          summary: Multiple Equity Data Items
          value:
          - FF_SALES(ANN_R,0)
          - PROPER_NAME(0,SECURITY,NAME)
          - P_PRICE(0)
          - FF_ASSETS(ANN_R,0)
        calculatedItems:
          summary: Multiple Calculated Data Items
          description: 'These data items showcase the ability to include logic, mathematical operations, and other functions in the request itself.


            The first data item using the division operator to calculate a P/E ratio from the last trading day of the companys most recent fiscal year.


            The second data item uses the addition operator to calculate percentage of revenue exposure in the US and Japan for the same date as the first data item. Note that due to URI defintion of the plus sign, the **+** symbol must be URL percent encoded as **%2B** in GET requests. This means you should use **%2B** in place of the symbol **+** in the request.


            The third data item uses the **IF** function and greater than operator (**>**) to indicate whether the latest fiscal year''s sales were higher or lower than the previous year''s sales.


            You can find more information about the different functions you can use in FQL at the following Online Assistant pages -

            * Mathematical Operators - [Online Assistant Page 10600](https://my.apps.factset.com/oa/pages/10600)

            * Logical Functions - [Online Assistant Page 11485](https://my.apps.factset.com/oa/pages/1485)

            * Categorical List of All Functions - [Online Assistant Page 1411](https://my.apps.factset.com/oa/pages/1411)

            '
          value:
          - P_PRICE(0Y)/FF_EPS(ANN_R,0Y)
          - FF_GEOREV_COUNTRY_PCT(840,ANN,0,RF)%2BFF_GEOREV_COUNTRY_PCT(392,ANN,0,RF)
          - IF(FF_SALES(ANN_R,0)>FF_SALES(ANN_R,-1),"HIGHER","LOWER")
        multipleFixedIncomeItems:
          summary: Multiple Fixed Income Data Items
          description: 'To retrieve fixed income data, `universeType` must be set to **DEBT**.

            '
          value:
          - FI_NAME(ISSR)
          - FI_AMOUNT_OUT(AMT,0,USD)
    batch:
      name: batch
      in: query
      description: 'Enables the ability to asynchronously "batch" the request,  supporting a long-running request up to **20 minutes**. Upon requesting batch=Y, the service will respond back with an HTTP Status Code of 202.


        Individual users are allowed 5 concurrent Batch Requests, while Production users are allowed 10 concurrent Batch Requests.

        *This feature is available to Individual Users subscribed to the Performance Package and Performance Package Plus Performance Tiers and all Production Users. If you are unsure which Performance Tier you are subscribed to or you would like to gain access to the batch capabilities, please contact your FactSet Account Team or "Report Issue" above and our support teams can assist.*


        Once a batch request is submitted, use `/batch-status` to see if the job has completed. Once completed, retrieve the results of the request via `/batch-result`. See the endpoints listed under *Batch Processing* for more information.

        '
      schema:
        type: string
        enum:
        - Y
        - N
        default: N
    displayName_cross_sectional:
      name: displayName
      description: 'Define display names for the formulas inputted. Enter the list of display names in the same order as the formulas inputted. An additional field **displayName** will be returned in the data object for a formula.


        If the number of display names does not match the number of formulas provided, an error will be returned.


        To define the display name for a subset of the formulas, leave a blank in the position of the formula that won''t be renamed. For example - If three formulas are inputted, to define display names only for the first and third formula, enter *displayName=FORMULA_1,,FORMULA_3*. The **displayName** field will still be included in that formula, but will contain the formula as inputted.

        '
      in: query
      required: false
      schema:
        type: array
        items:
          type: string
          example: PRICE
      explode: false
      examples:
        noNames:
          value: ''
          summary: ''
        singleItem:
          summary: Single Data Item
          value:
          - PRICE
        multipleItems:
          summary: Multiple Data Items
          value:
          - SALES
          - COMPANY NAME
          - PRICE
          - ASSETS
    flatten_cross_sectional:
      name: flatten
      description: 'Specify **Y** for `flatten` to return a flat, table-like JSON response model instead of the standard nested JSON response model. This option is provided for easier data processing and visualization. The default value for `flatten` is **N**.


        See the **Cross-Sectional Result Object Flattened** schema for more detail on the response structure for flattened output.

        '
      in: query
      required: false
      schema:
        type: string
        enum:
        - Y
        - N
        default: N
      explode: false
    backTestDate:
      name: backTestDate
      description: 'Specify the backtest date either in **YYYY-MM-DD**, **YYYYMMDD** or **MM/DD/YYYY** format.


        To learn more about backtesting, please visit [Online Assistant Page 20610](https://my.apps.factset.com/oa/pages/20610#backtest). User must have access to backtesting functionality.

        '
      in: query
      required: false
      schema:
        type: string
      explode: false
    ids:
      name: ids
      description: 'List of entity identifiers. This request value is sent back in the response as the field *requestId*. By default, accepted symbol types include Market Tickers, SEDOLs, ISINs, CUSIPs, or FactSet Permanent Ids. Use the `symbolType` parameter to submit other supported third-party identifier types.


        The `ids` and `universe` parameters provide two different ways to specify the identifiers for which you want data retrieved. Please enter either the `ids` or `universe` parameter.

        '
      in: query
      required: false
      schema:
        type: array
        items:
          type: string
          example:
          - FDS-US
          - IBM-US
      explode: false
      examples:
        singleId:
          summary: Single id
          value:
          - IBM
        multipleIds:
          summary: Multiple ids
          value:
          - IBM
          - AAPL
          - MSFT
  responses:
    '401':
      description: Unauthenticated USERNAME-SERIAL. This error will also occur if the API request is made from IP address not specified in the API Key configuration. Note that additional IP addresses can be added to an existing API Key configuration.
      headers:
        api-version:
          $ref: '#/components/headers/api-version'
        api-supported-versions:
          $ref: '#/components/headers/api-supported-versions'
        api-deprecated-versions:
          $ref: '#/components/headers/api-deprecated-versions'
        chain-id:
          $ref: '#/components/headers/chain-id'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error_detail'
    '408':
      description: Request Timeout. This error may be returned if it takes more than 29 seconds for the request to process or if a batch request takes more than 20 minutes to process for the time-series endpoint and 10 minutes to process for the cross-sectional endpoint.
      headers:
        api-version:
          $ref: '#/components/headers/api-version'
        api-supported-versions:
          $ref: '#/components/headers/api-supported-versions'
        api-deprecated-versions:
          $ref: '#/components/headers/api-deprecated-versions'
        chain-id:
          $ref: '#/components/headers/chain-id'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error_detail'
          example:
            id: 5EFCCA8940CAEB6E
            code: requestTimeout
            title: The request took too long. Try again with a smaller request.
            timeStamp: '2019-11-01 11:09:41.918'
    '415':
      description: Bad Content-Type Header
      headers:
        api-version:
          $ref: '#/components/headers/api-version'
        api-supported-versions:
          $ref: '#/components/headers/api-supported-versions'
        api-deprecated-versions:
          $ref: '#/components/headers/api-deprecated-versions'
        chain-id:
          $ref: '#/components/headers/chain-id'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error_detail'
          example:
            id: 5EFCCA8940CAEB6E
            code: badContentType
            title: 'Content-Type: {unsupported Content-Type} is not supported. The Content-Type header must include application/json'
            timeStamp: '2019-11-01 11:09:41.918'
    '403':
      description: Not Authorized.
      headers:
        api-version:
          $ref: '#/components/headers/api-version'
        api-supported-versions:
          $ref: '#/components/headers/api-supported-versions'
        api-deprecated-versions:
          $ref: '#/components/headers/api-deprecated-versions'
        chain-id:
          $ref: '#/components/headers/chain-id'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error_detail'
          example:
            id: 5EFCCA8940CAEB6E
            code: Unauthorized
            title: USERNAME-SERIAL does not have permission to use /v1/{endpoint}
            timeStamp: '2019-11-01 11:09:41.918'
    '429':
      description: Rate Limits Exceeded
      headers:
        api-version:
          $ref: '#/components/headers/api-version'
        api-supported-versions:
          $ref: '#/components/headers/api-supported-versions'
        api-deprecated-versions:
          $ref: '#/components/headers/api-deprecated-versions'
        chain-id:
          $ref: '#/components/headers/chain-id'
        X-RateLimit-Limit-second:
          $ref: '#/components/headers/X-RateLimit-Limit-second'
        X-RateLimit-Remaining-second:
          $ref: '#/components/headers/X-RateLimit-Remaining-second'
        X-RateLimit-Limit-day:
          $ref: '#/components/headers/X-RateLimit-Limit-day'
        X-RateLimit-Remaining-day:
          $ref: '#/components/headers/X-RateLimit-Remaining-day'
        Retry-After:
          $ref: '#/components/headers/Retry-After'
      content:
        application/json:
          schema:
            title: Rate Limit Error Object
            description: 'Error returned if any of the user''s rate limits have been reached.

              '
            properties:
              message:
                type: string
                example: API rate limit exceeded
    '400':
      description: Bad Request
      headers:
        api-version:
          $ref: '#/components/headers/api-version'
        api-supported-versions:
          $ref: '#/components/headers/api-supported-versions'
        api-deprecated-versions:
          $ref: '#/components/headers/api-deprecated-versions'
        chain-id:
          $ref: '#/components/headers/chain-id'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error_detail'
          examples:
            parameterError - Missing Formulas:
              value:
                id: 5EFCCA8940CAEB6E
                code: parameterError
                title: The parameter 'formulas' is required and may not be empty.
                timeStamp: '2019-11-01 11:09:41.918'
            parameterError - Ids and Universe:
              description: The `ids` or `universe` parameter must be included. Including `ids` and `universe` parameters in the same request is not allowed.
              value:
                id: 5EFCCA8940CAEB6E
                code: parameterError
                title: Please enter either the ids or universe parameter.
                timeStamp: '2019-11-01 11:09:41.918'
            parameterError - Invalid displayName Input:
              value:
                id: 5EFCCA8940CAEB6E
                code: parameterError
                title: The length of the list provided for the displayName parameter must be equal to the number of formulas requested.
                timeStamp: '2019-11-01 11:09:41.918'
            requestBodyInvalid:
              value:
                id: 5EFCCA8940CAEB6E
                code: requestBodyInvalid
                title: The request body could not be read.
                timeStamp: '2019-11-01 11:09:41.918'
            invalidCharacter:
              value:
                id: 5EFCCA8940CAEB6E
                code: invalidCharacter
                title: The request contains an invalid character. Allowed characters are Unicode code points in the ranges [0x09-0x0a],[0x0d], [0x20-0x7e], [0x85], [0xa0-0xd7ff], [0xe000-0xfffd], and [0x10000-0x10ffff].
                timeStamp: '2019-11-01 11:09:41.918'
    '501':
      description: Not Implemented
      headers:
        api-version:
          $ref: '#/components/headers/api-version'
        api-supported-versions:
          $ref: '#/components/headers/api-supported-versions'
        api-deprecated-versions:
          $ref: '#/components/headers/api-deprecated-versions'
        chain-id:
          $ref: '#/components/headers/chain-id'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error_detail'
          example:
            id: 5EFCCA8940CAEB6E
            code: notImplemented
            title: The requested endpoint or functionality has not been implemented yet.
            timeStamp: '2019-11-01 11:09:41.918'
    '406':
      description: Bad Accept Header
      headers:
        api-version:
          $ref: '#/components/headers/api-version'
        api-supported-versions:
          $ref: '#/components/headers/api-supported-versions'
        api-deprecated-versions:
          $ref: '#/components/headers/api-deprecated-versions'
        chain-id:
          $ref: '#/components/headers/chain-id'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error_detail'
          example:
            id: 5EFCCA8940CAEB6E
            code: badAccept
            title: 'Accept: {unsupported Accept header} is not supported. The Accept header must include application/json.'
            timeStamp: '2019-11-01 11:09:41.918'
    '500':
      description: Generic Server Error
      headers:
        api-version:
          $ref: '#/components/headers/api-version'
        api-supported-versions:
          $ref: '#/components/headers/api-supported-versions'
        api-deprecated-versions:
          $ref: '#/components/headers/api-deprecated-versions'
        chain-id:
          $ref: '#/components/headers/chain-id'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error_detail'
          example:
            id: 5EFCCA8940CAEB6E
            code: genericServerError
            title: An unexpected error happened.
            timeStamp: '2019-11-01 11:09:41.918'
    '405':
      description: Method Not Allowed
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error_detail'
          example:
            id: 5EFCCA8940CAEB6E
            code: methodNotAllowed
            title: The HTTP method {unsupported method} is not allowed. Please resubmit the request using the HTTP methods GET or POST.
            timeStamp: '2019-11-01 11:09:41.918'
    '404':
      description: Endpoint Not Found
      headers:
        api-version:
          $ref: '#/components/headers/api-version'
        api-supported-versions:
          $ref: '#/components/headers/api-supported-versions'
        api-deprecated-versions:
          $ref: '#/components/headers/api-deprecated-versions'
        chain-id:
          $ref: '#/components/headers/chain-id'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error_detail'
          example:
            id: 5EFCCA8940CAEB6E
            code: endpointNotFound
            title: '''/formula-api/v1/{invalid endpoint}'' is not a valid endpoint.'
            timeStamp: '2019-11-01 11:09:41.918'
    '503':
      description: Service Temporarily Unavailable
      headers:
        api-version:
          $ref: '#/components/headers/api-version'
        api-supported-versions:
          $ref: '#/components/headers/api-supported-versions'
        api-deprecated-versions:
          $ref: '#/components/headers/api-deprecated-versions'
        chain-id:
          $ref: '#/components/headers/chain-id'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error_detail'
          example:
            id: 5EFCCA8940CAEB6E
            code: serviceTemporarilyUnavailable
            title: Will be sent in case the requested service is currently overloaded or can't temporarily handle the request for some other reason. Clients are expected to retry the request.
            timeStamp: '2019-11-01 11:09:41.918'
  requestBodies:
    cross-sectional-postBody:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/cross_sectional_request'
          examples:
            cross-sectional-singleId-singleItem:
              summary: Single Equity Id and Single Equity Data Item
              value:
                data:
                  ids:
                  - IBM
                  formulas:
                  - P_PRICE(0)
            cross-sectional-singleId-singleItem-fsymId:
              summary: Single Equity Id and Single Equity Data Item with fsymId=Y
              value:
                data:
                  ids:
                  - IBM
                  formulas:
                  - P_PRICE(0)
                  fsymId: Y
            cross-sectional-multipleId-mulipleItem:
              summary: Multiple Equity Ids and Multiple Equity Data Items with SEVENDAY Calendar
              value:
                data:
                  ids:
                  - IBM
                  - FDS
                  - GE
                  - GOOG
                  - AAPL
                  - MSFT
                  - TSLA
                  formulas:
                  - FF_SALES(ANN_R,0)
                  - PROPER_NAME(0,SECURITY,NAME)
                  - P_PRICE(0)
                  - FF_ASSETS(ANN_R,0)
                  calendar: SEVENDAY
            cross-sectional-multipleId-mulipleItem-flatten:
              summary: Multiple Equity Ids and Multiple Equity Data Items with flatten=Y
              value:
                data:
                  ids:
                  - IBM
                  - FDS
                  - GE
                  - GOOG
                  - AAPL
                  - MSFT
                  - TSLA
                  formulas:
                  - FF_SALES(ANN_R,0)
                  - PROPER_NAME(0,SECURITY,NAME)
                  - P_PRICE(0)
                  - FF_ASSETS(ANN_R,0)
                  flatten: Y
            cross-sectional-multipleId-mulipleCalculatedItem:
              summary: Multiple Ids and Multiple Calculated Data Items
              description: 'The first data item using the division operator to calculate a P/E ratio from the last trading day of the companys most recent fiscal year.


                The second data item uses the addition operator to calculate percentage of revenue exposure in the US and Japan for the same date as the first data item.


                The third data item uses the **IF** function and greater than operator (**>**) to indicate whether the latest fiscal year''s sales were higher or lower than the previous year''s sales.


                You can find more information about the different functions you can use in FQL at the following Online Assistant pages -

                * Mathematical Operators - [Online Assistant Page 10600](https://my.apps.factset.com/oa/pages/10600)

                * Logical Functions - [Online Assistant Page 11485](https://my.apps.factset.com/oa/pages/1485)

                * Categorical List of All Functions - [Online Assistant Page 1411](https://my.apps.factset.com/oa/pages/1411)

                '
              value:
                data:
                  ids:
                  - IBM
                  - FDS
                  - GE
                  - GOOG
                  - AAPL
                  - MSFT
                  - TSLA
                  formulas:
                  - P_PRICE(0Y)/FF_EPS(ANN_R,0Y)
                  - FF_GEOREV_COUNTRY_PCT(840,ANN,0,RF)%2BFF_GEOREV_COUNTRY_PCT(392,ANN,0,RF)
                  - IF(FF_SALES(ANN_R,0)>FF_SALES(ANN_R,-1),"HIGHER","LOWER")
            cross-sectional-multipleFixedIncomeId-mulipleItem:
              summary: Multiple Fixed Income Ids and Multiple Fixed Data Items
              value:
                data:
                  ids:
                  - U88803AB
                  - 00138GAC
                  formulas:
                  - FI_NAME(ISSR)
                  - FI_AMOUNT_OUT(AMT,0,USD)
            cross-sectional-smallUniv-singleItem:
              summary: Small Equity Universe and Single Equity Data Item
              value:
                data:
                  universe: (FG_CONSTITUENTS(SP50,0,CLOSE) AND P_PRICE(0,USD)<10)=1
                  formulas:
                  - P_PRICE(0)
            cross-sectional-debtUniv-multipleItem:
              summary: Debt Universe and Multiple Debt Data Items
              value:
                data:
                  universe: EQUITY(P_SYMBOL)='SBUX-US'
                  universeType: DEBT
                  formulas:
                  - FI_NAME(ISSR)
                  - FI_AMOUNT_OUT(AMT,0,USD)
            cross-sectional-ICSF-singleItem-nonflatten:
              summary: Single ID and Multiple Dates using ICSF with flatten = N
              value:
                data:
                  ids: NFLX-USA
                  formulas:
                  - PROPER_NAME
                  - P_PRICE(0)
                  startDate: 01/01/2022
                  endDate: 12/31/2022
                  frequency: M
                  batch: Y
                  flatten: N
            cross-sectional-ICSF-multipleItem-Flatten:
              summary: Multiple IDs and Multiple Dates using ICSF with flatten = Y
              value:
                data:
                  ids:
                  - NFLX-USA
                  - DIS-USA
                  - WBD-USA
                  formulas:
                  - FF_SALES(ANN_R,0)
                  startDate: 03/01/2020
                  endDate: 03/31/2020
                  frequency: W
                  batch: Y
                  flatten: Y
            cross-sectional-batch:
              summary: Batch Request for Multiple Equity Ids and Multiple Equity Data Items with SEVENDAY Calendar
              value:
                data:
                  ids:
                  - IBM
                  - FDS
                  - GE
                  - GOOG
                  - AAPL
                  - MSFT
                  - TSLA
                  formulas:
                  - FF_SALES(ANN_R,0)
                  - PROPER_NAME(0,SECURITY,NAME)
                  - P_PRICE(0)
                  - FF_ASSETS(ANN_R,0)
                  calendar: SEVENDAY
                  batch: Y
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
externalDocs:
  url: https://developer.factset.com/api-catalog/analytics-datastore-api
  description: API Documentation
