openapi: 3.2.0
info:
  title: Factset Composite API
  contact:
    name: FactSet Research Systems
    url: https://developer.factset.com/contact
    email: api@factset.com
  license:
    name: Apache License, Version 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  version: '1.0'
  description: 'Operations tagged Composite across 2 of this provider''s published API definitions: factset-portfolio-metadata-api-openapi.yml, factset-real-time-quotes-api-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- description: production
  url: https://api.factset.com/analytics/portfolio-metadata/v1
- url: https://api.factset.com/wealth/v3
security:
- FactSetApiKey: []
- FactSetOAuth2: []
tags:
- name: Composite
paths:
  /holdings-composite/{id}:
    get:
      operationId: readHoldingsComposite
      description: Read a holdings composite
      tags:
      - Composite
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          example: 270c2fa8-9110-444b-9101-17e10132fe0a
        description: Unique identifier of the holdings composite to be read
        example: 270c2fa8-9110-444b-9101-17e10132fe0a
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/readHoldingsCompositeResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '403':
          $ref: '#/components/responses/ForbiddenErrorResponse'
        '404':
          $ref: '#/components/responses/NotFoundErrorResponse'
        '406':
          $ref: '#/components/responses/NotAcceptableErrorResponse'
        '415':
          $ref: '#/components/responses/UnsupportedMediaTypeErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        '501':
          $ref: '#/components/responses/NotImplementedErrorResponse'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - description: production
      url: https://api.factset.com/analytics/portfolio-metadata/v1
  /returns-composite/{id}:
    get:
      operationId: readReturnsComposite
      description: Read a returns composite
      tags:
      - Composite
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          example: 270c2fa8-9110-444b-9101-17e10132fe0a
        description: Unique identifier of the returns composite to be read
        example: 270c2fa8-9110-444b-9101-17e10132fe0a
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/readReturnsCompositeResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '403':
          $ref: '#/components/responses/ForbiddenErrorResponse'
        '404':
          $ref: '#/components/responses/NotFoundErrorResponse'
        '406':
          $ref: '#/components/responses/NotAcceptableErrorResponse'
        '415':
          $ref: '#/components/responses/UnsupportedMediaTypeErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        '501':
          $ref: '#/components/responses/NotImplementedErrorResponse'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - description: production
      url: https://api.factset.com/analytics/portfolio-metadata/v1
  /instrument/composite/get:
    get:
      tags:
      - Composite
      operationId: get/instrument/composite/get
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Factset Composite Instrument and Its Components.
      description: Composite instrument and its components.
      parameters:
      - name: identifier
        in: query
        schema:
          type: string
          pattern: ^[B-DF-HJ-NP-TV-Z0-9]{6}-[SLR]$|^[A-Z0-9.#&*+]{1,47}-[A-Z0-9]{2,4}$|^[0-9]{3,20}$|^[B-DF-HJ-NP-TV-Z0-9]{6}[0-9]$|^[A-Z]{2}[A-Z0-9]{9}[0-9]$|^[A-Z1-9][A-Z0-9]{5}$|^[0-9]{1,9}$|^[A-Z0-9]{8}[0-9]$
          maxLength: 50
          minLength: 3
          description: Identifier to resolve.
        required: true
      - name: identifierType
        in: query
        schema:
          type: string
          description: Type of the identifier.
          x-enum-description:
          - MDG identifier of an instrument.
          - MDG identifier of a listing.
          - FactSet Permanent Identifier on security level.
          - FactSet Permanent Identifier on listing level.
          - Regional FactSet Permanent Identifier.
          - FactSet market symbol of a listing.
          - Regional FactSet ticker symbol.
          - SEDOL or IDII of a listing.
          - ISIN of an instrument.
          - WKN of an instrument.
          - Valor number of an instrument.
          - CUSIP or CINS identifier of an instrument
          enum:
          - idInstrument
          - idNotation
          - fdsPermanentIdentifierSecurity
          - fdsPermanentIdentifierListing
          - fdsPermanentIdentifierRegional
          - tickerExchange
          - tickerRegion
          - sedol
          - isin
          - wkn
          - valor
          - cusip
        required: true
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      - name: _language
        in: query
        schema:
          type: string
          format: isoLanguage
          description: ISO 639-1 code of the language.
          maxLength: 2
          minLength: 2
      responses:
        '200':
          $ref: '#/components/responses/GetInstrumentCompositeGet200Response'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - url: https://api.factset.com/wealth/v3
components:
  responses:
    NotImplementedErrorResponse:
      description: ''
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Errors'
    UnauthorizedErrorResponse:
      description: Similar to 403 Forbidden, but specifically for use when authentication is required and has failed or has not yet been provided.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Errors'
    NotAcceptableErrorResponse:
      description: The requested resource is capable of generating only content not acceptable according to the Accept headers sent in the request.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Errors'
    BadRequestErrorResponse:
      description: The server cannot or will not process the request due to an apparent client error (e.g., malformed request syntax, size too large, invalid request message framing, or deceptive request routing).
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Errors'
    NotFoundErrorResponse:
      description: The requested resource could not be found but may be available in the future. Subsequent requests by the client are permissible.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Errors'
    UnsupportedMediaTypeErrorResponse:
      description: The request entity has a media type which the server or resource does not support.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Errors'
    ForbiddenErrorResponse:
      description: The request contained valid data and was understood by the server, but the server is refusing action. This may be due to the user not having the necessary permissions for a resource or needing an account of some sort, or attempting a prohibited action.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Errors'
    InternalServerErrorResponse:
      description: ''
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Errors'
    GetInstrumentCompositeGet200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: object
                properties:
                  idInstrument:
                    type:
                    - string
                    - 'null'
                    format: id64
                    x-positive: true
                    description: MDG identifier of the instrument.
                  sourceIdentifier:
                    type:
                    - string
                    - 'null'
                    description: Identifier used in the request.
                  typeComposite:
                    type:
                    - string
                    - 'null'
                    description: Type of the composite instrument.
                    x-enum-description:
                    - A basket is a composite instrument which consists of several components. Its value is calculated as the weighted combination of the levels of the components. All weights are positive.
                    - An alpha structure is a composite instrument which consists of two components. Its value is calculated as the difference of the performances of the components. The performances are measured starting at the date specified in the conditions of the securitized derivative.
                    - 'A futures spread is a composite instrument which is built of two or more different futures contracts as its components. '
                    - A factor index is a composite instrument that reflects the day-to-day performance of its component, multiplied with a constant factor. The related capital costs and fees for calculation and administration are not represented.
                    enum:
                    - basket
                    - alphaStructure
                    - futuresSpread
                    - factorIndex
                  activeManagement:
                    type:
                    - boolean
                    - 'null'
                    description: If set to true, the composite instrument is actively managed.
                  managementFee:
                    type:
                    - number
                    - 'null'
                    format: relativeValue
                    description: Management fee p.a. of the composite instrument.
                  components:
                    description: Information regarding the components of the composite instrument.
                    type: array
                    items:
                      type: object
                      x-property-sort:
                      - name
                      - valueUnit
                      - notation
                      - participation
                      - numberShares
                      - initialWeight
                      - referenceLevel
                      - constantLeverage
                      properties:
                        name:
                          type:
                          - string
                          - 'null'
                          format: localizedString
                          description: Name of the component, provided also if there is no notation for the component.
                        valueUnit:
                          type: object
                          x-property-sort:
                          - id
                          - code
                          description: 'Value unit of the component, provided also if there is no notation for the component.


                            See endpoint `/basic/valueUnit/list` for possible values.'
                          properties:
                            id:
                              type:
                              - number
                              - 'null'
                              format: id32
                              x-positive: true
                              description: Identifier of the value unit.
                            code:
                              type:
                              - string
                              - 'null'
                              description: Code of the value unit.
                        notation:
                          type: object
                          x-property-sort:
                          - id
                          - fsym
                          - instrument
                          - operatingMIC
                          description: Notation of the component. If there is no notation for the component, the object is null.
                          properties:
                            id:
                              type:
                              - string
                              - 'null'
                              format: id64
                              x-positive: true
                              description: Identifier of the notation.
                            fsym:
                              type: object
                              x-property-sort:
                              - listing
                              - regional
                              description: Notation-level FactSet identifiers of the financial instrument used primarily in FactSet products other than the MDG.
                              properties:
                                listing:
                                  type: object
                                  x-property-sort:
                                  - permanentIdentifier
                                  - tickerExchange
                                  - isPrimary
                                  description: Listing-level identifiers.
                                  properties:
                                    permanentIdentifier:
                                      type:
                                      - string
                                      - 'null'
                                      description: FactSet Permanent Identifier for a notation. The format is six alpha numeric characters, excluding vowels, with an L suffix (XXXXXX-L).
                                    tickerExchange:
                                      type:
                                      - string
                                      - 'null'
                                      description: 'FactSet market symbol of the notation, usually consisting of the ticker (e.g. "DAI" for Daimler AG) and the three-character code of the exchange on which the listing is traded (example: DAI-ETR).'
                                    isPrimary:
                                      type:
                                      - boolean
                                      - 'null'
                                      description: Indicates whether the notation is the primary notation among all notations within the same region (`true`) or not (`false`).
                                regional:
                                  type: object
                                  x-property-sort:
                                  - permanentIdentifier
                                  - tickerRegion
                                  - isPrimary
                                  description: Regional-level identifiers.
                                  properties:
                                    permanentIdentifier:
                                      type:
                                      - string
                                      - 'null'
                                      description: FactSet Permanent Identifier for a set of one or more notations of the same region with the same value unit. The format is six alpha numeric characters, excluding vowels, with an R suffix (XXXXXX-R).
                                    tickerRegion:
                                      type:
                                      - string
                                      - 'null'
                                      description: 'FactSet regional symbol of the notation, consisting of the ticker and the two-character code of the country or region where the listing is traded (example: DAI-DE).'
                                    isPrimary:
                                      type:
                                      - boolean
                                      - 'null'
                                      description: Indicates whether the notation is in the primary region of the security (`true`) or not (`false`).
                            instrument:
                              type: object
                              x-property-sort:
                              - id
                              - fsym
                              description: Instrument of the component.
                              properties:
                                id:
                                  type:
                                  - string
                                  - 'null'
                                  format: id64
                                  x-positive: true
                                  description: Identifier of the instrument.
                                fsym:
                                  type: object
                                  x-property-sort:
                                  - security
                                  description: Instrument-level FactSet identifier of the financial instrument used primarily in FactSet products other than the MDG.
                                  properties:
                                    security:
                                      type: object
                                      x-property-sort:
                                      - permanentIdentifier
                                      description: Security-level identifier.
                                      properties:
                                        permanentIdentifier:
                                          type:
                                          - string
                                          - 'null'
                                          description: FactSet Permanent Identifier for an instrument. The format is six alpha numeric characters, excluding vowels, with an S suffix (XXXXXX-S).
                            operatingMIC:
                              type: object
                              x-property-sort:
                              - id
                              - isoCode
                              - name
                              description: The operating MIC of the component. See endpoint `/basic/mic/operating/list` for possible values.
                              properties:
                                id:
                                  type:
                                  - number
                                  - 'null'
                                  format: id32
                                  x-positive: true
                                  description: Identifier of the operating MIC.
                                isoCode:
                                  type:
                                  - string
                                  - 'null'
                                  description: ISO 10383 code of the operating MIC.
                                name:
                                  type:
                                  - string
                                  - 'null'
                                  description: English name of the operating MIC.
                        participation:
                          type:
                          - string
                          - 'null'
                          description: Indicates whether the level of the composite instrument rises or falls with a rising level of the component. The level of a basket always rises with rising level of its components and vice versa; therefore, for those the attribute is not set. The level of an alpha structure or a futures spread is calculated by subtracting the performance (price) of the short component from that of the long one. The level of a factor index rises with rising level of its component if the latter is long, and falls if it is short. For the type of composite instrument, see attribute  `typeComposite`.
                          x-enum-description:
                          - The composite instrument's level rises with a rising level of the component.
                          - The composite instrument's level falls with a rising level of the component.
                          enum:
                          - long
                          - short
                        numberShares:
                          type:
                          - number
                          - 'null'
                          format: real
                          description: 'Absolute number of shares of the component contained in the composite instrument.


                            The absolute number of shares can be subject to change due to corporate actions or active management of the composite instrument (see attribute `activeManagement`). If the component is an index, the number of shares is a factor which applies to the level of the index.'
                        initialWeight:
                          type:
                          - number
                          - 'null'
                          format: relativeValue
                          description: "Weighting of the component, valid only at initial fixing\n\n (see attribute `initialFixing` in endpoint `/securitizedDerivative/get`). "
                        referenceLevel:
                          type:
                          - number
                          - 'null'
                          format: real
                          description: 'Level of the component on the issue date of the derivative product.


                            For the value unit, see attribute `valueUnit`.'
                        constantLeverage:
                          type:
                          - number
                          - 'null'
                          format: real
                          description: For a leveraged component, e.g. a component of a factor index, day-to-day leverage factor of the component's performance.
                x-property-sort:
                - idInstrument
                - sourceIdentifier
                - typeComposite
                - activeManagement
                - managementFee
                - components
                description: Composite instrument and its components.
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                x-property-sort:
                - status
            x-property-sort:
            - data
            - meta
  schemas:
    readHoldingsCompositeResponse:
      type:
      - object
      - 'null'
      properties:
        data:
          type:
          - object
          - 'null'
          properties:
            type:
              type: string
              enum:
              - Account
              - AccountComposite
              - ExchangeRate
              - GlobalAccountProperties
              - Holdings
              - HoldingsComposite
              - PortfolioGroup
              - Returns
              - ReturnsComposite
              - SecurityMaster
              - TradeData
              - VendorReturnSeries
              description: Metadata file type formatted for consistency with the REST api
            id:
              type: string
              description: Unique identifier for this metadata file.
              example: f132625b-1506-4cc3-b2e8-2c75de39c79c
            display:
              type: string
              description: The GUI path of this file, including the name and extension.
              example: SP50
            path:
              type: string
              description: The GUI path to this object.
              example: 'Client:'
            name:
              type: string
              description: Name of this file object including the extension.
              example: SP50
            description:
              type:
              - string
              - 'null'
              description: User provided description of this file.
              example: Meaningful description of vendor returns
          description: Read a metadata file by its id.
          example: example_value
    Errors:
      type: object
      description: Information about one or more errors
      properties:
        errors:
          type: array
          description: List of errors
          items:
            type: object
            properties:
              id:
                type: string
                description: Unique identifier for this error instance.  Used to reference this error in logging.
                example: 270c2fa8-9110-444b-9101-17e10132fe0a
              code:
                type: string
                description: Error code for this error
                enum:
                - BadRequestError
                - UnauthorizedError
                - ForbiddenError
                - NotFoundError
                - NotAcceptableError
                - ConflictError
                - UnsupportedMediaTypeError
                - InternalServerError
                - NotImplementedError
              title:
                type: string
                description: HTTP reason phrase associcated with this error
                enum:
                - Bad Request
                - Unauthorized
                - Forbidden
                - Not Found
                - Not Acceptable
                - Conflict
                - Unsupported Media Type
                - Internal Server Error
                - Not Implemented
              detail:
                type: string
                description: Detailed description of the error that occurred
          example: []
      required:
      - errors
    readReturnsCompositeResponse:
      type:
      - object
      - 'null'
      properties:
        data:
          type:
          - object
          - 'null'
          properties:
            type:
              type: string
              enum:
              - Account
              - AccountComposite
              - ExchangeRate
              - GlobalAccountProperties
              - Holdings
              - HoldingsComposite
              - PortfolioGroup
              - Returns
              - ReturnsComposite
              - SecurityMaster
              - TradeData
              - VendorReturnSeries
              description: Metadata file type formatted for consistency with the REST api
            id:
              type: string
              description: Unique identifier for this metadata file.
              example: f132625b-1506-4cc3-b2e8-2c75de39c79c
            display:
              type: string
              description: The GUI path of this file, including the name and extension.
              example: SP50
            path:
              type: string
              description: The GUI path to this object.
              example: 'Client:'
            name:
              type: string
              description: Name of this file object including the extension.
              example: SP50
            description:
              type:
              - string
              - 'null'
              description: User provided description of this file.
              example: Meaningful description of vendor returns
          description: Read a metadata file by its id.
          example: example_value
    StatusObject:
      type: object
      properties:
        code:
          type: number
          format: int32
          description: The HTTP status code of the response, mirroring the code from the Status-Line of the HTTP response message (see [RFC2616] section 6.1).
          example: 42.5
      description: The status member contains the status code of the response.
      required:
      - code
  securitySchemes:
    FactSetOAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://auth.factset.com/as/token.oauth2
          scopes: {}
    FactSetApiKey:
      type: http
      scheme: basic
x-refined-from:
- factset-portfolio-metadata-api-openapi.yml
- factset-real-time-quotes-api-openapi.yml
