openapi: 3.0.3
info:
  title: Factset Analytics Datastore About Views API
  description: Allow clients to fetch precalculated Analytics through predeterministic URLs.
  contact:
    name: FactSet Research Systems
    url: https://developer.factset.com/contact
    email: api@factset.com
  license:
    name: Apache License, Version 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  version: 1.0.0
servers:
- url: https://api.factset.com
  description: Production
- url: https://api-sandbox.factset.com
  description: Sandbox
security:
- basicAuth: []
tags:
- name: Views
  description: Create, edit and delete views
paths:
  /streetaccount/views/{id}/headlines:
    post:
      summary: Factset Retrieve Streetaccount Headlines for Given View
      description: This endpoint allows you to pull all headlines produced by StreetAccount for a saved view. The full story body will be returned by the data set. Views can be created via the Create Views endpoint.
      tags:
      - Views
      operationId: getStreetAccountHeadlinesByView
      requestBody:
        $ref: '#/components/requestBodies/saHeadlinesRequestByView'
      parameters:
      - in: path
        name: id
        example: SA News View
        schema:
          type: string
        required: true
        description: view id of the view to return headlines for
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/searchResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /streetaccount/views:
    get:
      summary: Factset Retrieves Streetaccount Search Views
      description: This endpoint allows you to pull the full list of StreetAccount views that have been previously saved.
      tags:
      - Views
      operationId: getStreetAccountViews
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/views'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /streetaccount/views/{id}:
    post:
      summary: Factset Creates and Saves a Streetaccount View
      description: This endpoint allows you to create a new StreetAccount view. Select watchlists/tickers and filters of your choice to create and save a view.
      tags:
      - Views
      operationId: createStreetAccountView
      requestBody:
        $ref: '#/components/requestBodies/createOrEditViewBody'
      parameters:
      - in: path
        name: id
        example: SA News View
        schema:
          type: string
        required: true
        description: view id of the view which is the be created
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createEditDeleteViewResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      summary: Factset Edits and Saves an Existing Streetaccount View
      description: This endpoint allows you to edit the criteria used for a previously saved StreetAccount view.
      tags:
      - Views
      operationId: editStreetAccountView
      requestBody:
        $ref: '#/components/requestBodies/createOrEditViewBody'
      parameters:
      - in: path
        name: id
        example: SA News View
        schema:
          type: string
        required: true
        description: view id of the view to be edited
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createEditDeleteViewResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      summary: Factset Deletes an Existing Streetaccount View
      description: This endpoint allows you to delete a previously saved StreetAccount view.
      tags:
      - Views
      operationId: deleteStreetAccountView
      parameters:
      - in: path
        name: id
        example: SA News View
        schema:
          type: string
        required: true
        description: view id of the view to be deleted
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createEditDeleteViewResponse'
        '204':
          description: No Content
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  examples:
    searchDateid:
      summary: Using searchDate with id
      value:
        data:
          searchDate:
            start: '2022-08-21T12:35:45Z'
            end: '2022-08-29T08:10:30Z'
        meta:
          pagination:
            limit: 50
            offset: 100
  requestBodies:
    createOrEditViewBody:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/createOrEditViewBody'
      description: Create or Edit View Body which needs to be sent with request
    saHeadlinesRequestByView:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/saHeadlinesRequestByView'
          examples:
            Using searchDate with id:
              $ref: '#/components/examples/searchDateid'
      description: View body which needs to be sent with request
  schemas:
    createOrEditViewTickers:
      type: object
      properties:
        name:
          type: string
          example: Russell 1000
        value:
          type: string
          example: R.1000
        type:
          type: string
          example: Index
          enum:
          - Index
          - ETF
          - Holder
          - Mutual_Fund
          - Portfolios
    viewsObject:
      type: object
      properties:
        viewName:
          type: string
          example: Sample View
        tickers:
          type: array
          items:
            type: string
            example: FDS-US
          example: []
        categories:
          type: array
          items:
            type: string
            example: News Media
          example: []
        topics:
          type: array
          items:
            type: string
            example: 'Market Summaries '
          example: []
        regions:
          type: array
          items:
            type: string
            example: North America
          example: []
        sectors:
          type: array
          items:
            type: string
            example: Chemicals - Plastics & Rubber
          example: []
        isPrimary:
          type: boolean
          example: true
    error:
      type: object
      properties:
        meta:
          type: object
          example: example_value
        errors:
          type: array
          items:
            $ref: '#/components/schemas/errorObject'
          example: []
    errorObject:
      type: object
      properties:
        id:
          type: string
          example: abc123
        title:
          type: string
          example: Example Title
        code:
          type: string
          example: example_value
    createOrEditViewBody:
      type: object
      properties:
        data:
          type: object
          properties:
            tickers:
              type: array
              items:
                $ref: '#/components/schemas/createOrEditViewTickers'
            categories:
              type: array
              items:
                type: string
                example: Earnings
            regions:
              type: array
              items:
                type: string
                example: North America
            topics:
              type: array
              items:
                type: string
                example: Market Summaries
            sectors:
              type: array
              items:
                type: string
                example: Gold & Silver
            isPrimary:
              type: boolean
              example: true
            quickAlert:
              type: boolean
              example: false
          example: example_value
    views:
      type: object
      description: StreetAccount views
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/viewsObject'
          example: []
    searchResponseArrayObject:
      type: object
      properties:
        docsStoryDateAndTime:
          type: string
          example: '2022-09-15T06:48:19Z'
        docsHeadlines:
          type: string
          example: Sample Headline
        docsId:
          type: string
          example: sa_story_3393235
        docsPrimarySymbols:
          type: array
          items:
            type: string
            example: AAPL-US
          example: []
        docsSymbols:
          type: array
          items:
            type: string
            example: AAPL-US
          example: []
        docsSubjects:
          type: array
          items:
            type: string
            example: SA_EARNINGS
          example: []
        docsStoryBody:
          type: string
          example: Sample Body
        docsReferenceUris:
          type: string
          example: Sample URI
    searchResponse:
      type: object
      description: Properties in results objects are based on return values
      properties:
        data:
          type: object
          properties:
            results:
              type: array
              items:
                $ref: '#/components/schemas/searchResponseArrayObject'
          example: example_value
        meta:
          type: object
          properties:
            requestGuid:
              type: string
            pagination:
              type: object
              properties:
                total:
                  type: integer
                  example: 100
                isEstimatedTotal:
                  type: boolean
                  example: false
          example: example_value
    saHeadlinesRequestByView:
      type: object
      properties:
        data:
          type: object
          properties:
            searchDate:
              type: object
              properties:
                start:
                  type: string
                  description: Start time for custom search. startTime must follow the ISO 8601 standard format, YYYY-MM-DDTHH:mm:ssZ (UTC). It also supports offsets [hh]:[mm]
                  example: '2022-08-21T12:35:45Z'
                end:
                  type: string
                  description: End time for custom search. If end time is not present end time is automatically set to the time of the search. endTime must follow the ISO 8601 standard format, YYYY-MM-DDTHH:mm:ssZ (UTC). It also supports offsets [hh]:[mm]
                  example: '2022-08-29T08:10:30Z'
          example: example_value
        meta:
          type: object
          properties:
            pagination:
              type: object
              description: Object defining pagination for the results pageable attribute. Offset-based strategy is used for Pagination.
              properties:
                limit:
                  type: integer
                  example: 50
                  default: 500
                  description: Non-negative maximum number of entries to return.
                offset:
                  type: integer
                  example: 100
                  default: 0
                  description: Non-negative number of entries to skip.
          example: example_value
    createEditDeleteViewResponse:
      type: object
      description: Properties in object are results of the create or save operation
      properties:
        data:
          type: object
          properties:
            id:
              type: string
              example: StreetAccount News Summaries Europe
            message:
              type: object
              properties:
                view:
                  type: string
                  example: View created/edited/deleted sucessfully
          example: example_value
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
externalDocs:
  url: https://developer.factset.com/api-catalog/analytics-datastore-api
  description: API Documentation
