openapi: 3.2.0
info:
  title: Factset Data API
  version: '1.0'
  description: 'Operations tagged Data across 4 of this provider''s published API definitions: factset-content-feeds-data-dictionary-openapi.yml, factset-portfolio-metadata-api-openapi.yml, factset-signals-api-openapi.yml, factset-vermilion-api-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.factset.com/data-dictionary
  description: Production
- description: production
  url: https://api.factset.com/analytics/portfolio-metadata/v1
- url: https://api.factset.com/signals/v2
  description: Production
tags:
- name: Data
paths:
  /navigator/sources/{DataItem_id}:
    get:
      tags:
      - Data
      summary: Factset Get a List of Sources Where the Specified Data Item Can Be Found, for Each Delivery Method, Filtered to the Appearances of the Given Data Item Within the Specified Product.
      parameters:
      - in: path
        required: true
        name: DataItem_id
        description: The id for the DataItem to fetch the sources for.
        schema:
          type: string
      - in: query
        required: true
        name: Product_id
        description: The id for the Product to filter down the sources returned on.
        schema:
          type: string
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NavigatorSourcesResponse'
        '401':
          description: You are not authorized to view this page.
        '404':
          description: The specified DataItem_id was not found.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - basicAuth: []
    servers:
    - url: https://api.factset.com/data-dictionary
      description: Production
  /trade-data/{id}:
    get:
      operationId: readTradeData
      description: Read a trade data
      tags:
      - Data
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          example: 270c2fa8-9110-444b-9101-17e10132fe0a
        description: Unique identifier of the trade data to be read
        example: 270c2fa8-9110-444b-9101-17e10132fe0a
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/readTradeDataResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '403':
          $ref: '#/components/responses/ForbiddenErrorResponse'
        '404':
          $ref: '#/components/responses/NotFoundErrorResponse'
        '406':
          $ref: '#/components/responses/NotAcceptableErrorResponse'
        '415':
          $ref: '#/components/responses/UnsupportedMediaTypeErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        '501':
          $ref: '#/components/responses/NotImplementedErrorResponse'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - FactSetApiKey: []
      - FactSetOAuth2: []
    servers:
    - description: production
      url: https://api.factset.com/analytics/portfolio-metadata/v1
  /data-dictionary:
    get:
      tags:
      - Data
      operationId: getDataDictionary
      description: Fetch a list of all active signals
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/signalMetaData'
        '429':
          description: API Rate Limit Exceeded
          headers:
            Api-Version:
              $ref: '#/components/headers/Api-Version'
            Api-Supported-Versions:
              $ref: '#/components/headers/Api-Supported-Versions'
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimit-Limit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimit-Remaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rateLimitResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - basicAuth: []
    servers:
    - url: https://api.factset.com/signals/v2
      description: Production
  /data-dictionary/{signalId}:
    get:
      tags:
      - Data
      operationId: getDataDictionaryById
      description: Fetch the metadata and contract for the requested signal
      parameters:
      - $ref: '#/components/parameters/signalIdParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/signalDefinition'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        '429':
          description: API Rate Limit Exceeded
          headers:
            Api-Version:
              $ref: '#/components/headers/Api-Version'
            Api-Supported-Versions:
              $ref: '#/components/headers/Api-Supported-Versions'
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimit-Limit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimit-Remaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rateLimitResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - basicAuth: []
    servers:
    - url: https://api.factset.com/signals/v2
      description: Production
  /v1/{tenant}/data-sources:
    get:
      operationId: getAllDataSources
      tags:
      - Data
      summary: Factset Lists All Datasources
      description: List all datasources the user has permission to see
      parameters:
      - in: path
        name: tenant
        description: The code of the tenancy
        schema:
          type: string
        required: true
      - in: query
        name: _sort
        description: The column to sort on. Append - to sort in descending order. If parameter is not given, no sorting will be done
        required: false
        style: form
        explode: false
        schema:
          type: array
          maxItems: 1
          items:
            type: string
        examples:
          name:
            value:
            - name
            description: The name of the datasource to sort
          type:
            value:
            - type
            description: The type of the datasource to sort
          outputRecordSet:
            value:
            - outputRecordSet
            description: The output recordset of the datasource to sort
          code:
            value:
            - code
            description: The code of the datasource to sort
          releaseTag:
            value:
            - releaseTag
            description: The release tag of the datasource to sort
          lastUpdatedBy:
            value:
            - lastUpdatedBy
            description: The last updated by user of the datasource to sort
          lastUpdated:
            value:
            - lastUpdated
            description: The last updated by date of the datasource to sort
      - in: query
        name: _paginationLimit
        description: Non-negative maximum number of entries to return. Default is 25
        schema:
          type: integer
        examples:
          pageSize:
            value: 25
            description: Non-negative maximum number of entries to return
      - in: query
        name: _paginationOffset
        description: Non-negative number of entries to skip. Default is 0
        schema:
          type: integer
        examples:
          startIndex:
            value: 0
            description: Non-negative number of entries to skip
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataSourceList'
        '401':
          description: Unauthorised
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
              example:
                errors:
                - id: ID of the error
                  code: notAuthenticated
                  title: User is not authenticated
        '403':
          description: No permissions to view datasources in VRS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
              example:
                errors:
                - id: ID of the error
                  code: notAuthorized
                  title: No permissions to view this item
        '406':
          description: Unsupported Accept header. Header needs to be set to application/json.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
              example:
                errors:
                - id: ID of the error
                  code: notAcceptable
                  title: Unsupported Accept header. Header needs to be set to application/json
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - FactSetApiKey: []
      - FactSetOAuth2: []
components:
  schemas:
    NavigatorSourcesResponse:
      type: object
      properties:
        sdf:
          type: array
          items:
            $ref: '#/components/schemas/Table'
          example: []
        contentApi:
          type: array
          items:
            $ref: '#/components/schemas/ApiEndpoint'
          example: []
        reference:
          type: array
          items:
            $ref: '#/components/schemas/ReferenceGroup'
          example: []
      required:
      - sdf
    ReferenceGroup:
      properties:
        id:
          type: string
          example: 180443
          description: Unique identifier for the api endpoint
        name:
          type: string
          example: /symbology/v1/bloomberg
          description: API endpoint path
        description:
          type: string
          example: Translate FactSet symbols into Bloomberg Identifiers.
          description: A description of the endpoint
        entitled:
          type: string
          example: true
          description: Flag indicating if the user is entitled to access the data in their subscriptions
    Table:
      properties:
        id:
          type: string
          example: '123'
          description: Unique identifier for the table
        dbSchema:
          type: string
          example: gr_v2
          description: Schema prefix for Standard DataFeeds
        name:
          type: string
          example: gr_coverage
          description: Name of the table
        description:
          type: string
          example: This table contains coverage information for each entity that has a report in the Geographic Revenue Exposure package.
          description: A description of the table
        entitled:
          type: boolean
          example: true
          description: Flag indicating if the user is entitled to access the data in their subscriptions
    ApiEndpoint:
      properties:
        id:
          type: string
          example: 180443
          description: Unique identifier for the api endpoint
        name:
          type: string
          example: /symbology/v1/bloomberg
          description: API endpoint path
        description:
          type: string
          example: Translate FactSet symbols into Bloomberg Identifiers.
          description: A description of the endpoint
        developerPortalLink:
          type: string
          example: https://developer.factset.com/api-catalog/symbology-api
          description: Developer Portal URL of the endpoint
        entitled:
          type: string
          example: true
          description: Flag indicating if the user is entitled to access the data in their subscriptions
    readTradeDataResponse:
      type:
      - object
      - 'null'
      properties:
        data:
          type:
          - object
          - 'null'
          properties:
            type:
              type: string
              enum:
              - Account
              - AccountComposite
              - ExchangeRate
              - GlobalAccountProperties
              - Holdings
              - HoldingsComposite
              - PortfolioGroup
              - Returns
              - ReturnsComposite
              - SecurityMaster
              - TradeData
              - VendorReturnSeries
              description: Metadata file type formatted for consistency with the REST api
            id:
              type: string
              description: Unique identifier for this metadata file.
              example: f132625b-1506-4cc3-b2e8-2c75de39c79c
            display:
              type: string
              description: The GUI path of this file, including the name and extension.
              example: SP50
            path:
              type: string
              description: The GUI path to this object.
              example: 'Client:'
            name:
              type: string
              description: Name of this file object including the extension.
              example: SP50
            description:
              type:
              - string
              - 'null'
              description: User provided description of this file.
              example: Meaningful description of vendor returns
          description: Read a metadata file by its id.
          example: example_value
    Errors:
      type: object
      description: Information about one or more errors
      properties:
        errors:
          type: array
          description: List of errors
          items:
            type: object
            properties:
              id:
                type: string
                description: Unique identifier for this error instance.  Used to reference this error in logging.
                example: 270c2fa8-9110-444b-9101-17e10132fe0a
              code:
                type: string
                description: Error code for this error
                enum:
                - BadRequestError
                - UnauthorizedError
                - ForbiddenError
                - NotFoundError
                - NotAcceptableError
                - ConflictError
                - UnsupportedMediaTypeError
                - InternalServerError
                - NotImplementedError
              title:
                type: string
                description: HTTP reason phrase associcated with this error
                enum:
                - Bad Request
                - Unauthorized
                - Forbidden
                - Not Found
                - Not Acceptable
                - Conflict
                - Unsupported Media Type
                - Internal Server Error
                - Not Implemented
              detail:
                type: string
                description: Detailed description of the error that occurred
          example: []
      required:
      - errors
    signalMetaData:
      type: object
      required:
      - data
      properties:
        data:
          type: array
          items:
            type: object
            required:
            - id
            - name
            - description
            properties:
              id:
                type: string
              name:
                type: string
              description:
                type: string
          example: []
    rateLimitResponse:
      title: Rate Limit Error Object
      description: Error returned if any of the user's rate limit have been reached.
      properties:
        message:
          type: string
          example: API rate limit exceeded
    contract:
      type: object
      required:
      - fields
      - version
      properties:
        fields:
          $ref: '#/components/schemas/contractFields'
        version:
          type: string
          example: example_value
    contractProperty:
      type: object
      required:
      - description
      - type
      properties:
        description:
          type: string
          example: A sample description.
        type:
          type: string
          example: example_value
        optional:
          type: boolean
          example: true
        items:
          type: object
          required:
          - type
          properties:
            type:
              type: string
          example: example_value
    errorResponse:
      type: object
      required:
      - message
      properties:
        message:
          type: string
          description: A short description of the error.
          example: There was an error processing your request. Please try again later.
        errors:
          type: array
          items:
            $ref: '#/components/schemas/errorItem'
          description: Optional list of errors. e.g. Validation errors for multiple parameters
          example: []
    signalDefinition:
      type: object
      required:
      - data
      properties:
        data:
          type: object
          required:
          - signalId
          - theme
          - categories
          - contract
          properties:
            signalId:
              type: string
            theme:
              type: string
            categories:
              type: array
              items:
                type: string
            contract:
              $ref: '#/components/schemas/contract'
          example: example_value
    errorItem:
      type: object
      required:
      - id
      - code
      - title
      properties:
        id:
          type: string
          format: uuid
          example: abc123
        code:
          type: string
          example: parameterError
        title:
          type: string
          example: Invalid type/value
        detail:
          type: string
          example: Value must be a valid UTC date/time that conforms to ISO 8601 format
        source:
          type: object
          properties:
            parameter:
              type: string
          example: example_value
    contractFields:
      type: object
      required:
      - summary
      - eventDate
      properties:
        summary:
          type: object
          properties:
            description:
              type: string
            type:
              type: string
          example: example_value
        eventDate:
          type: object
          properties:
            description:
              type: string
            type:
              type: string
          example: example_value
        additionalProperties:
          $ref: '#/components/schemas/contractProperty'
    DataSourceList:
      type: object
      properties:
        meta:
          type: object
          properties:
            pagination:
              type: object
              properties:
                total:
                  type: integer
                isEstimatedTotal:
                  type: boolean
            sort:
              type: array
              items:
                type: string
          example: example_value
        data:
          type: array
          items:
            $ref: '#/components/schemas/DataSourceDTO'
          example: []
    EntityDTO:
      type: object
      properties:
        entityId:
          type: integer
          format: int32
          example: '500123'
        name:
          type: string
          example: Example Title
        code:
          type: string
          example: example_value
    ErrorList:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Error'
          example: []
    DataSourceDTO:
      type: object
      properties:
        dataSourceId:
          type: integer
          format: int32
          example: '500123'
        name:
          type: string
          example: Example Title
        code:
          type: string
          example: example_value
        dsType:
          type: string
          enum:
          - AUTOMATIC
          - MANUAL
          - FILTER
          example: AUTOMATIC
        entities:
          type: array
          items:
            $ref: '#/components/schemas/EntityDTO'
          example: []
        outputRecordSet:
          type: string
          example: example_value
        releaseTag:
          type: string
          example: example_value
        defaultDataSourceName:
          type: string
          example: example_value
        dataPreview:
          type: string
          example: example_value
        lastUpdatedBy:
          type: string
          example: example_value
        lastUpdated:
          type: number
          example: 42.5
    Error:
      type: object
      properties:
        id:
          type: string
          example: abc123
        code:
          type: string
          example: example_value
        title:
          type: string
          example: Example Title
  responses:
    NotImplementedErrorResponse:
      description: ''
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Errors'
    UnauthorizedErrorResponse:
      description: Similar to 403 Forbidden, but specifically for use when authentication is required and has failed or has not yet been provided.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Errors'
    NotAcceptableErrorResponse:
      description: The requested resource is capable of generating only content not acceptable according to the Accept headers sent in the request.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Errors'
    BadRequestErrorResponse:
      description: The server cannot or will not process the request due to an apparent client error (e.g., malformed request syntax, size too large, invalid request message framing, or deceptive request routing).
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Errors'
    NotFoundErrorResponse:
      description: The requested resource could not be found but may be available in the future. Subsequent requests by the client are permissible.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Errors'
    UnsupportedMediaTypeErrorResponse:
      description: The request entity has a media type which the server or resource does not support.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Errors'
    ForbiddenErrorResponse:
      description: The request contained valid data and was understood by the server, but the server is refusing action. This may be due to the user not having the necessary permissions for a resource or needing an account of some sort, or attempting a prohibited action.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Errors'
    InternalServerErrorResponse:
      description: ''
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Errors'
  headers:
    Api-Supported-Versions:
      description: Comma-separated list of supported major versions.
      schema:
        type: string
        example: '1'
    RateLimit-Reset:
      description: Time remaining (in seconds) until the quota is reset.
      schema:
        type: integer
        example: 1000
    Api-Version:
      description: Full semantic version of the API.
      schema:
        type: string
        example: 1.0.0
    RateLimit-Limit:
      description: Total number of requests allowed in a specific time window. The time window is two seconds for regular API users and one week for limited access users.
      schema:
        type: integer
        example: 5
    RateLimit-Remaining:
      description: Remaining number of requests in the current time window.
      schema:
        type: integer
        example: 4
  parameters:
    signalIdParam:
      name: signalId
      in: path
      required: true
      schema:
        type: string
        description: A single signalId.
      example: dilutionTrigger
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
    FactSetOAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://auth.factset.com/as/token.oauth2
          scopes: {}
    FactSetApiKey:
      type: http
      scheme: basic
x-refined-from:
- factset-content-feeds-data-dictionary-openapi.yml
- factset-portfolio-metadata-api-openapi.yml
- factset-signals-api-openapi.yml
- factset-vermilion-api-openapi.yml
