openapi: 3.0.3
info:
  title: Factset Analytics Datastore About Recommendations API
  description: Allow clients to fetch precalculated Analytics through predeterministic URLs.
  contact:
    name: FactSet Research Systems
    url: https://developer.factset.com/contact
    email: api@factset.com
  license:
    name: Apache License, Version 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  version: 1.0.0
servers:
- url: https://api.factset.com
  description: Production
- url: https://api-sandbox.factset.com
  description: Sandbox
security:
- basicAuth: []
tags:
- name: Recommendations
paths:
  /v1/recommendations:
    get:
      tags:
      - Recommendations
      summary: Factset Get All Recommendations
      operationId: GetRecommendations
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RecommendationConfigDto'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /recommendationList/get:
    get:
      tags:
      - Recommendations
      operationId: get/recommendationList/get
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Factset Attributes of a Single List.
      description: Attributes of a single list, including data about its active revision.
      parameters:
      - name: id
        in: query
        schema:
          type: number
          format: id32
          x-positive: true
          description: Identifier of the list.
        required: true
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
            exclusiveMaximum: false
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      - name: _language
        in: query
        schema:
          type: string
          format: isoLanguage
          description: ISO 639-1 code of the language.
          maxLength: 2
          minLength: 2
          exclusiveMinimum: false
          exclusiveMaximum: false
      responses:
        '200':
          $ref: '#/components/responses/GetRecommendationListGet200Response'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /recommendationList/search:
    get:
      tags:
      - Recommendations
      operationId: get/recommendationList/search
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Factset Search for Recommendation Lists.
      description: Search for recommendation lists, delivering an array of recommendation lists matching the specified filter criteria. The data provided for each recommendation list includes the currently active revision (or null in case no active revision exists).
      parameters:
      - name: name
        in: query
        schema:
          type: string
          description: Restricts the search to recommendation lists, which contain the provided string in their name attribute. The filter is a case-insensitive substring match.
        required: false
      - name: onlyActive
        in: query
        schema:
          type: boolean
          description: Restrict the search to recommendation lists, which are currently active (e.g., current date is before the recommendation list's activeRange.end date). If set to false, recommendation lists will be returned regardless of their state.
        required: false
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
            exclusiveMaximum: false
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      - name: _language
        in: query
        schema:
          type: string
          format: isoLanguage
          description: ISO 639-1 code of the language.
          maxLength: 2
          minLength: 2
          exclusiveMinimum: false
          exclusiveMaximum: false
      responses:
        '200':
          $ref: '#/components/responses/GetRecommendationListSearch200Response'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /recommendationList/revision/get:
    get:
      tags:
      - Recommendations
      operationId: get/recommendationList/revision/get
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Factset Attributes of a Single Revision.
      description: Attributes of a single revision.
      parameters:
      - name: id
        in: query
        schema:
          type: number
          format: id32
          x-positive: true
          description: Identifier of the revision.
        required: true
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
            exclusiveMaximum: false
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      - name: _language
        in: query
        schema:
          type: string
          format: isoLanguage
          description: ISO 639-1 code of the language.
          maxLength: 2
          minLength: 2
          exclusiveMinimum: false
          exclusiveMaximum: false
      responses:
        '200':
          $ref: '#/components/responses/GetRecommendationListRevisionGet200Response'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /recommendationList/revision/list:
    post:
      tags:
      - Recommendations
      operationId: post/recommendationList/revision/list
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Factset List of Revisions of a Recommendation List.
      description: List of revisions of a recommendation list, excluding the elements of each revision.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostRecommendationListRevisionListRequest'
      responses:
        '200':
          $ref: '#/components/responses/PostRecommendationListRevisionList200Response'
      parameters: []
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /recommendationList/revision/search:
    get:
      tags:
      - Recommendations
      operationId: get/recommendationList/revision/search
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Factset Search for Revisions of a Recommendation List.
      description: Search for revisions of a recommendation list.
      parameters:
      - name: idNotation
        in: query
        schema:
          type: string
          format: id64
          x-positive: true
          description: Restrict the search to revisions containing an element associated with the identified notation.
        required: false
      - name: idInstrument
        in: query
        schema:
          type: string
          format: id64
          x-positive: true
          description: Restrict the search to revisions pointing to the identified instrument.
        required: false
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
            exclusiveMaximum: false
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      - name: _language
        in: query
        schema:
          type: string
          format: isoLanguage
          description: ISO 639-1 code of the language.
          maxLength: 2
          minLength: 2
          exclusiveMinimum: false
          exclusiveMaximum: false
      responses:
        '200':
          $ref: '#/components/responses/GetRecommendationListRevisionSearch200Response'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /recommendationList/revision/element/list:
    get:
      tags:
      - Recommendations
      operationId: get/recommendationList/revision/element/list
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Factset List of Elements of a Given Revision.
      description: List of elements of a given revision.
      parameters:
      - name: idRevision
        in: query
        schema:
          type: number
          format: id32
          x-positive: true
          description: Identifier of the revision.
        required: true
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
            exclusiveMaximum: false
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      - name: _language
        in: query
        schema:
          type: string
          format: isoLanguage
          description: ISO 639-1 code of the language.
          maxLength: 2
          minLength: 2
          exclusiveMinimum: false
          exclusiveMaximum: false
      responses:
        '200':
          $ref: '#/components/responses/GetRecommendationListRevisionElementList200Response'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /stock/recommendation/aggregate/get:
    get:
      tags:
      - Recommendations
      operationId: get/stock/recommendation/aggregate/get
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Target price and aggregated recommendations for a stock.
      description: Target price and aggregated recommendations for a stock.
      parameters:
      - name: identifier
        in: query
        schema:
          type: string
          pattern: ^([B-DF-HJ-NP-TV-Z0-9]{6}-[SLR])|([A-Z0-9.]{1,47}-[A-Z0-9]{2,4})|([0-9]{3,20})|([B-DF-HJ-NP-TV-Z0-9]{6}[0-9])|([A-Z]{2}[A-Z0-9]{9}[0-9])|([A-Z1-9][A-Z0-9]{5})|(0*[0-9]{1,9})|([A-Z0-9]{8}[0-9])$
          maxLength: 50
          exclusiveMaximum: false
          minLength: 3
          exclusiveMinimum: false
          description: Identifier to resolve.
        required: true
      - name: identifierType
        in: query
        schema:
          type: string
          description: Type of the identifier.
          x-enum-description:
          - MDG identifier of an instrument.
          - MDG identifier of a listing.
          - FactSet Permanent Identifier on security level.
          - FactSet Permanent Identifier on listing level.
          - Regional FactSet Permanent Identifier.
          - FactSet market symbol of a listing.
          - Regional FactSet ticker symbol.
          - SEDOL or IDII of a listing.
          - ISIN of an instrument.
          - WKN of an instrument.
          - Valor number of an instrument.
          - CUSIP or CINS identifier of an instrument
          enum:
          - idInstrument
          - idNotation
          - fdsPermanentIdentifierSecurity
          - fdsPermanentIdentifierListing
          - fdsPermanentIdentifierRegional
          - tickerExchange
          - tickerRegion
          - sedol
          - isin
          - wkn
          - valor
          - cusip
        required: true
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
            exclusiveMaximum: false
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      responses:
        '200':
          $ref: '#/components/responses/GetStockRecommendationAggregateGet200Response'
  /stock/recommendation/aggregate/history/list:
    get:
      tags:
      - Recommendations
      operationId: get/stock/recommendation/aggregate/history/list
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Current and historical trade recommendations and target prices for a stock.
      description: Current and historical trade recommendations and target prices for a stock.
      parameters:
      - name: identifier
        in: query
        schema:
          type: string
          pattern: ^([B-DF-HJ-NP-TV-Z0-9]{6}-[SLR])|([A-Z0-9.]{1,47}-[A-Z0-9]{2,4})|([0-9]{3,20})|([B-DF-HJ-NP-TV-Z0-9]{6}[0-9])|([A-Z]{2}[A-Z0-9]{9}[0-9])|([A-Z1-9][A-Z0-9]{5})|(0*[0-9]{1,9})|([A-Z0-9]{8}[0-9])$
          maxLength: 50
          exclusiveMaximum: false
          minLength: 3
          exclusiveMinimum: false
          description: Identifier to resolve.
        required: true
      - name: identifierType
        in: query
        schema:
          type: string
          description: Type of the identifier.
          x-enum-description:
          - MDG identifier of an instrument.
          - MDG identifier of a listing.
          - FactSet Permanent Identifier on security level.
          - FactSet Permanent Identifier on listing level.
          - Regional FactSet Permanent Identifier.
          - FactSet market symbol of a listing.
          - Regional FactSet ticker symbol.
          - SEDOL or IDII of a listing.
          - ISIN of an instrument.
          - WKN of an instrument.
          - Valor number of an instrument.
          - CUSIP or CINS identifier of an instrument
          enum:
          - idInstrument
          - idNotation
          - fdsPermanentIdentifierSecurity
          - fdsPermanentIdentifierListing
          - fdsPermanentIdentifierRegional
          - tickerExchange
          - tickerRegion
          - sedol
          - isin
          - wkn
          - valor
          - cusip
        required: true
      - name: snapshots
        in: query
        schema:
          type: array
          nullable: false
          items:
            type: string
            x-enum-description:
            - latest
            - one week ago
            - one month ago
            - three months ago
            - six months ago
            - one year ago
            enum:
            - latest
            - 1w
            - 1m
            - 3m
            - 6m
            - 1y
          description: Choice of historic snapshots for aggregated recommendations.
          uniqueItems: true
          maxItems: 6
          minItems: 1
        style: form
        explode: false
        required: true
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
            exclusiveMaximum: false
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      responses:
        '200':
          $ref: '#/components/responses/GetStockRecommendationAggregateHistoryList200Response'
components:
  responses:
    GetRecommendationListSearch200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                description: List of recommendation lists.
                nullable: false
                type: array
                items:
                  type: object
                  nullable: false
                  x-property-sort:
                  - id
                  - name
                  - activeRange
                  - numberRevisions
                  - activeRevision
                  description: Recommendation list.
                  properties:
                    id:
                      nullable: true
                      type: number
                      format: id32
                      x-positive: true
                      description: Identifier of the recommendation list.
                    name:
                      nullable: true
                      type: string
                      description: Name of the recommendation list.
                    activeRange:
                      nullable: true
                      type: object
                      format: timeRange
                      properties:
                        start:
                          nullable: true
                          type: string
                          format: datetime
                          description: The starting point of the time range (inclusive), or `null` to indicate that the time range extends indefinitely into the past.
                        end:
                          nullable: true
                          type: string
                          format: datetime
                          description: The ending point of the time range (exclusive), or `null` to indicate that the time range extends indefinitely into the future.
                      x-property-sort:
                      - start
                      - end
                      required:
                      - start
                      - end
                      description: Time range during which the recommendation list is active or has been active.
                    numberRevisions:
                      nullable: true
                      type: number
                      format: int32
                      x-positive: true
                      description: Number of all revisions of this recommendation list.
                    activeRevision:
                      nullable: false
                      type: object
                      x-property-sort:
                      - id
                      - title
                      - activeRange
                      description: Information on the active revision of this recommendation list, or null.
                      properties:
                        id:
                          nullable: true
                          type: number
                          format: id32
                          x-positive: true
                          description: Identifier of the currently active revision.
                        title:
                          nullable: true
                          type: string
                          format: localizedString
                          description: The language specific name assigned to the recommendation list as of the given revision.
                        activeRange:
                          nullable: true
                          type: object
                          format: timeRange
                          properties:
                            start:
                              nullable: true
                              type: string
                              format: datetime
                              description: The starting point of the time range (inclusive), or `null` to indicate that the time range extends indefinitely into the past.
                            end:
                              nullable: true
                              type: string
                              format: datetime
                              description: The ending point of the time range (exclusive), or `null` to indicate that the time range extends indefinitely into the future.
                          x-property-sort:
                          - start
                          - end
                          required:
                          - start
                          - end
                          description: Time range during which the revision is, was, or will be active.
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                x-property-sort:
                - status
    GetRecommendationListRevisionSearch200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                description: List of revisions.
                nullable: false
                type: array
                items:
                  type: object
                  nullable: false
                  x-property-sort:
                  - id
                  - recommendationList
                  - types
                  - title
                  - description
                  - activeRange
                  - instrument
                  description: Revision
                  properties:
                    id:
                      nullable: true
                      type: number
                      format: id32
                      x-positive: true
                      description: Identifier of the revision.
                    recommendationList:
                      nullable: false
                      type: object
                      x-property-sort:
                      - id
                      - name
                      description: The recommendation list to which this revision belongs.
                      properties:
                        id:
                          nullable: true
                          type: number
                          format: id32
                          x-positive: true
                          description: Identifier of the recommendation list.
                        name:
                          nullable: true
                          type: string
                          description: Name of the recommendation list.
                    types:
                      nullable: false
                      type: array
                      items:
                        type: object
                        nullable: false
                        x-property-sort:
                        - id
                        - name
                        description: Type assigned to the recommendation list as of the given revision.
                        properties:
                          id:
                            nullable: true
                            type: number
                            format: id32
                            x-positive: true
                            description: Identifier of the type.
                          name:
                            nullable: true
                            type: string
                            description: Name of the type.
                      description: Set of types assigned to the recommendation list as of the given revision. The customer maintains a list of valid types for all of its recommendation lists.
                    title:
                      nullable: true
                      type: string
                      format: localizedString
                      description: Title assigned to the recommendation list as of the given revision.
                    description:
                      nullable: true
                      type: string
                      format: localizedString
                      description: Description assigned to the recommendation list as of the given revision.
                    activeRange:
                      nullable: true
                      type: object
                      format: timeRange
                      properties:
                        start:
                          nullable: true
                          type: string
                          format: datetime
                          description: The starting point of the time range (inclusive), or `null` to indicate that the time range extends indefinitely into the past.
                        end:
                          nullable: true
                          type: string
                          format: datetime
                          description: The ending point of the time range (exclusive), or `null` to indicate that the time range extends indefinitely into the future.
                      x-property-sort:
                      - start
                      - end
                      required:
                      - start
                      - end
                      description: Time range during which the revision is, was, or will be active.
                    instrument:
                      nullable: false
                      type: object
                      x-property-sort:
                      - id
                      description: Instrument to which the recommendation list points, as of the given revision.
                      properties:
                        id:
                          nullable: true
                          type: string
                          format: id64
                          x-positive: true
                          description: Identifier of the instrument.
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                x-property-sort:
                - status
    GetStockRecommendationAggregateGet200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                description: Target price and aggregated recommendations for a stock.
                nullable: false
                type: object
                x-property-sort:
                - idInstrument
                - sourceIdentifier
                - targetPrice
                - recommendation
                properties:
                  idInstrument:
                    nullable: true
                    type: string
                    format: id64
                    x-positive: true
                    description: MDG identifier of the instrument.
                  sourceIdentifier:
                    nullable: true
                    type: string
                    description: Identifier used in the request.
                  targetPrice:
                    nullable: false
                    description: Details of the target price.
                    type: object
                    x-property-sort:
                    - latestUpdate
                    - mean
                    - currency
                    properties:
                      latestUpdate:
                        nullable: true
                        type: string
                        format: date
                        description: Date of the latest update.
                      mean:
                        nullable: true
                        type: number
                        format: real
                        description: Mean value.
                      currency:
                        nullable: false
                        description: Main currency of the target price. See endpoint `/basic/valueUnit/currency/main/list` for possible values.
                        type: object
                        x-property-sort:
                        - id
                        - code
                        properties:
                          id:
                            nullable: true
                            type: number
                            format: id32
                            x-positive: true
                            description: Identifier of the currency.
                          code:
                            nullable: true
                            type: string
                            description: Code of the currency; if assigned, a code according to ISO 4217, otherwise a local code.
                  recommendation:
                    nullable: false
                    description: Details of the recommendations.
                    type: object
                    x-property-sort:
                    - latestUpdate
                    - counts
                    - consensus
                    properties:
                      latestUpdate:
                        nullable: true
                        type: string
                        format: date
                        description: Date of the latest update.
                      counts:
                        nullable: false
                        description: Number of recommendations.
                        type: object
                        x-property-sort:
                        - total
                        - buy
                        - overweight
                        - hold
                        - underweight
                        - sell
                        properties:
                          total:
                            nullable: true
                            type: number
                            format: int32
                            description: Total number.
                          buy:
                            nullable: true
                            type: number
                            format: int32
                            description: Number of buy recommendations. A buy recommendation contributes with the numeric value 1 when calculating the consensus.
                          overweight:
                            nullable: true
                            type: number
                            format: int32
                            description: Number of overweight recommendations. A overweight recommendation contributes with the numeric value 2 when calculating the consensus.
                          hold:
                            nullable: true
                            type: number
                            format: int32
                            description: Number of hold recommendations. A hold recommendation contributes with the numeric value 3 when calculating the consensus.
                          underweight:
                            nullable: true
                            type: number
                            format: int32
                            description: Number of underweight recommendations. A underweight recommendation contributes with the numeric value 4 when calculating the consensus.
                          sell:
                            nullable: true
                            type: number
                            format: int32
                            description: Number of sell recommendations. A sell recommendation contributes with the numeric value 5 when calculating the consensus.
                      consensus:
                        nullable: true
                        type: number
                        format: real
                        description: Recommendation consensus, that is the average value of all provided recommendations. Values are in the range from 1.0 to 5.0, whereby 1 represents the strongest buy recommendation, 3 a hold (neutral) recommendation and 5 the strongest sell recommendation.
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject_2'
                x-property-sort:
                - status
    GetRecommendationListRevisionGet200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                description: Details about the revision.
                nullable: false
                type: object
                x-property-sort:
                - id
                - recommendationList
                - types
                - title
                - description
                - activeRange
                - instrument
                properties:
                  id:
                    nullable: true
                    type: number
                    format: id32
                    x-positive: true
                    description: Identifier of the revision.
                  recommendationList:
                    nullable: false
                    type: object
                    x-property-sort:
                    - id
                    - name
                    description: The recommendation list to which this revision belongs.
                    properties:
                      id:
                        nullable: true
                        type: number
                        format: id32
                        x-positive: true
                        description: Identifier of the recommendation list.
                      name:
                        nullable: true
                        type: string
                        description: Name of the recommendation list.
                  types:
                    nullable: false
                    type: array
                    items:
                      type: object
                      nullable: false
                      x-property-sort:
                      - id
                      - name
                      description: Type assigned to the recommendation list as of the given revision.
                      properties:
                        id:
                          nullable: true
                          type: number
                          format: id32
                          x-positive: true
                          description: Identifier of the type.
                        name:
                          nullable: true
                          type: string
                          description: Name of the type.
                    description: Set of types assigned to the recommendation list as of the given revision. The customer maintains a list of valid types for all of its recommendation lists.
                  title:
                    nullable: true
                    type: string
                    format: localizedString
                    description: Title assigned to the recommendation list as of the given revision.
                  description:
                    nullable: true
                    type: string
                    format: localizedString
                    description: Description assigned to the recommendation list as of the given revision.
                  activeRange:
                    nullable: true
                    type: object
                    format: timeRange
                    properties:
                      start:
                        nullable: true
                        type: string
                        format: datetime
                        description: The starting point of the time range (inclusive), or `null` to indicate that the time range extends indefinitely into the past.
                      end:
                        nullable: true
                        type: string
                        format: datetime
                        description: The ending point of the time range (exclusive), or `null` to indicate that the time range extends indefinitely into the future.
                    x-property-sort:
                    - start
                    - end
                    required:
                    - start
                    - end
                    description: Time range during which the revision is, was, or will be active.
                  instrument:
                    nullable: false
                    type: object
                    x-property-sort:
                    - id
                    description: Instrument to which the recommendation list points, as of the given revision.
                    properties:
                      id:
                        nullable: true
                        type: string
                        format: id64
                        x-positive: true
                        description: Identifier of the instrument.
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                x-property-sort:
                - status
    GetRecommendationListRevisionElementList200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                description: List of elements sorted by position.
                nullable: false
                type: array
                items:
                  type: object
                  nullable: false
                  x-property-sort:
                  - hasNotationData
                  - position
                  - notation
                  - description
                  - weight
                  - recommendationClass
                  properties:
                    hasNotationData:
                      nullable: true
                      type: boolean
                      description: 'Attributes referred to by the notation identifier, beyond notation.instrument.customName, are available.


                        If this flag is false, it indicates that some notation data for this element is no longer available because the notation may have expired. For answers without notation data, the members position, instrument.customName, weight, description and recommendationClass are retained.'
                    position:
                      nullable: true
                      type: number
                      format: id32
                      x-positive: true
                      description: Position of the element.
                    notation:
                      nullable: false
                      type: object
                      x-property-sort:
                      - id
                      - symbol
                      - market
                      - instrument
                      description: Notation data of the element.
                      properties:
                        id:
                          nullable: true
                          type: string
                          format: id64
                          x-positive: true
                          description: Identifier of the notation.
                        symbol:
                          nullable: true
                          type: string
                          description: The symbol of the notation. It is a market-specific code to identify the notation. Which characters can be part of a symbol depends on the market. If a market does not define a proprietary symbol, but uses a different identifier (for example, the ISIN or the WKN) to identify notations, no symbol will be set for the notations of that market.
                        market:
                          nullable: false
                          type: object
                          x-property-sort:
                          - id
                          - name
                          description: Market of the notation.
                          properties:
                            id:
                              nullable: true
                              type: number
                              format: id32
                              x-positive: true
                              description: Identifier of the market.
                            name:
                              nullable: true
                              type: string
                              format: localizedString
                              description: Name of the market.
                        instrument:
                          nullable: false
                          type: object
                          x-property-sort:
                          - id
                          - isin
                          - name
                          - customName
                          - type
                          description: Instrument data of the notation.
                          properties:
                            id:
                              nullable: true
                              type: string
                              format: id64
                              x-positive: true
                              description: Identifier of the instrument.
                            isin:
                              nullable: true
                              type: string
                              format: isin
                              description: International Securities Identification Number of the instrument.
                            name:
                              nullable: true
                              type: string
                              description: Name of the instrument.
                            customName:
                              nullable: true
                              type: string
                              format: localizedString
                              description: Customer specific name of the instrument.
                            type:
                              nullable: false
                              description: Instrument type as defined by FactSet Digital Solutions. Instrument types are arranged in a hierarchy, with level 1 representing the most coarse granularity and further levels successively refining the granularity (see MDG category system 18).
                              type: array
                              items:
                                type: object
                                nullable: false
                                x-property-sort:
                                - id
                                - name
                                properties:
                                  id:
                                    nullable: true
                                    type: number
                                    format: id32
                                    x-positive: true
                                    description: Identifier of the instrument type.
                                  name:
                                    nullable: true
                                    type: string
                                    format: localizedString
                                    description: Name of the instrument type.
                    description:
                      nullable: false
                      type: object
                      x-property-sort:
                      - short
                      - long
                      description: Description of the element.
                      properties:
                        short:
                          nullable: true
                          type: string
                          format: localizedString
                          description: Short description of the element.
                        long:
                          nullable: true
                          type: string
                          format: localizedString
                          description: Long description of the element.
                    weight:
                      nullable: true
                      type: number
                      format: real
                      description: Weight of this list element. If set for at least one list element, the sum off all weights of an element list must be 1.
                    recommendationClass:
                      nullable: false
                      type: object
                      x-property-sort:
                      - id
                      - code
                      - description
                      description: Customer-defined recommendation class of the element.
                      properties:
                        id:
                          nullable: true
                          type: number
                          format: id32
                          x-positive: true
                          description: Identifier of the recommendation class.
                        code:
                          nullable: true
                          type: string
                          description: Code of the recommendation class.
                        description:
                          nullable: true
                          type: string
                          format: localizedString
                          description: Description of the recommendation class.
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                x-property-sort:
                - status
    GetRecommendationListGet200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                description: Details about the recommendation list.
                nullable: false
                type: object
                x-property-sort:
                - id
                - name
                - activeRange
                - numberRevisions
                - activeRevision
                properties:
                  id:
                    nullable: true
                    type: number
                    format: id32
                    x-positive: true
                    description: Identifier of the recommendation list.
                  name:
                    nullable: true
                    type: string
                    description: Name of the recommendation list.
                  activeRange:
                    nullable: true
                    type: object
                    format: timeRange
                    properties:
                      start:
                        nullable: true
                        type: string
                        format: datetime
                        description: The starting point of the time range (inclusive), or `null` to indicate that the time range extends indefinitely into the past.
                      end:
                        nullable: true
                        type: string
                        format: datetime
                        description: The ending point of the time range (exclusive), or `null` to indicate that the time range extends indefinitely into the future.
                    x-property-sort:
                    - start
                    - end
                    required:
                    - start
                    - end
                    description: Time range during which the recommendation list is, was, or will be active.
                  numberRevisions:
                    nullable: true
                    type: number
                    format: int32
                    x-positive: true
                    description: Number of all revisions of this recommendation list.
                  activeRevision:
                    nullable: false
                    type: object
                    x-property-sort:
                    - id
                    - title
                    - activeRange
                    description: Information on the active revision of this recommendation list, or null.
                    properties:
                      id:
                        nullable: true
                        type: number
                        format: id32
                        x-positive: true
                        description: Identifier of the currently active revision.
                      title:
                        nullable: true
                        type: string
                        format: localizedString
                        description: The language specific name assigned to the recommendation list as of the given revision.
                      activeRange:
                        nullable: true
                        type: object
                        format: timeRange
                        properties:
                          start:
                            nullable: true
                            type: string
                            format: datetime
                            description: The starting point of the time range (inclusive), or `null` to indicate that the time range extends indefinitely into the past.
                          end:
                            nullable: true
                            type: string
                            format: datetime
                            description: The ending point of the time range (exclusive), or `null` to indicate that the time range extends indefinitely into the future.
                        x-property-sort:
                        - start
                        - end
                        required:
                        - start
                        - end
                        description: Time range during which the revision is, was, or will be active.
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                x-property-sort:
                - status
    PostRecommendationListRevisionList200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                description: An unordered list of revisions.
                nullable: false
                type: array
                items:
                  type: object
                  nullable: false
                  x-property-sort:
                  - id
                  - types
                  - title
                  - description
                  - activeRange
                  - instrument
                  description: Revision
                  properties:
                    id:
                      nullable: true
                      type: number
                      format: id32
                      x-positive: true
                      description: Identifier of the revision.
                    types:
                      nullable: false
                      type: array
                      items:
                        type: object
                        nullable: false
                        x-property-sort:
                        - id
                        - name
                        description: Type assigned to the recommendation list as of the given revision.
                        properties:
                          id:
                            nullable: true
                            type: number
                            format: id32
                            x-positive: true
                            description: Identifier of the type.
                          name:
                            nullable: true
                            type: string
                            description: Name of the type.
                      description: Set of types assigned to the recommendation list as of the given revision. The customer maintains a list of valid types for all of its recommendation lists.
                    title:
                      nullable: true
                      type: string
                      format: localizedString
                      description: Title assigned to the recommendation list as of the given revision.
                    description:
                      nullable: true
                      type: string
                      format: localizedString
                      description: Description assigned to the recommendation list as of the given revision.
                    activeRange:
                      nullable: true
                      type: object
                      format: timeRange
                      properties:
                        start:
                          nullable: true
                          type: string
                          format: datetime
                          description: The starting point of the time range (inclusive), or `null` to indicate that the time range extends indefinitely into the past.
                        end:
                          nullable: true
                          type: string
                          format: datetime
                          description: The ending point of the time range (exclusive), or `null` to indicate that the time range extends indefinitely into the future.
                      x-property-sort:
                      - start
                      - end
                      required:
                      - start
                      - end
                      description: Time range during which the revision is, was, or will be active.
                    instrument:
                      nullable: false
                      type: object
                      x-property-sort:
                      - id
                      description: Instrument to which the recommendation list points, as of the given revision.
                      properties:
                        id:
                          nullable: true
                          type: string
                          format: id64
                          x-positive: true
                          description: Identifier of the instrument.
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                x-property-sort:
                - status
    GetStockRecommendationAggregateHistoryList200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                description: List of trade recommendations and target prices for a stock, in unspecified order.
                nullable: false
                type: object
                x-property-sort:
                - idInstrument
                - sourceIdentifier
                - aggregatedRecommendations
                properties:
                  idInstrument:
                    nullable: true
                    type: string
                    format: id64
                    x-positive: true
                    description: MDG identifier of the instrument.
                  sourceIdentifier:
                    nullable: true
                    type: string
                    description: Identifier used in the request.
                  aggregatedRecommendations:
                    nullable: false
                    description: List of trade recommendations.
                    type: array
                    items:
                      type: object
                      nullable: false
                      x-property-sort:
                      - snapshot
                      - targetPrice
                      - recommendation
                      properties:
                        snapshot:
                          nullable: true
                          description: Identification of the historic snapshot for aggregated recommendations.
                          type: string
                          x-enum-description:
                          - latest
                          - one week ago
                          - one month ago
                          - three months ago
                          - six months ago
                          - one year ago
                          enum:
                          - latest
                          - 1w
                          - 1m
                          - 3m
                          - 6m
                          - 1y
                        targetPrice:
                          nullable: false
                          description: Details of the target price.
                          type: object
                          x-property-sort:
                          - latestUpdate
                          - mean
                          - currency
                          properties:
                            latestUpdate:
                              nullable: true
                              type: string
                              format: date
                              description: Date of the latest update.
                            mean:
                              nullable: true
                              type: number
                              format: real
                              description: Mean value.
                            currency:
                              nullable: false
                              description: Main currency of the target price. See endpoint `/basic/valueUnit/currency/main/list` for possible values.
                              type: object
                              x-property-sort:
                              - id
                              - code
                              properties:
                                id:
                                  nullable: true
                                  type: number
                                  format: id32
                                  x-positive: true
                                  description: Identifier of the currency.
                                code:
                                  nullable: true
                                  type: string
                                  description: Code of the currency; if assigned, a code according to ISO 4217, otherwise a local code.
                        recommendation:
                          nullable: false
                          description: Details of the recommendations.
                          type: object
                          x-property-sort:
                          - latestUpdate
                          - counts
                          - consensus
                          - change
                          properties:
                            latestUpdate:
                              nullable: true
                              type: string
                              format: date
                              description: Date of the latest update.
                            counts:
                              nullable: false
                              description: Number of recommendations.
                              type: object
                              x-property-sort:
                              - total
                              - buy
                              - overweight
                              - hold
                              - underweight
                              - sell
                              properties:
                                total:
                                  nullable: true
                                  type: number
                                  format: int32
                                  description: Total number.
                                buy:
                                  nullable: true
                                  type: number
                                  format: int32
                                  description: Number of buy recommendations. A buy recommendation contributes with the numeric value 1 when calculating the consensus.
                                overweight:
                                  nullable: true
                                  type: number
                                  format: int32
                                  description: Number of overweight recommendations. A overweight recommendation contributes with the numeric value 2 when calculating the consensus.
                                hold:
                                  nullable: true
                                  type: number
                                  format: int32
                                  description: Number of hold recommendations. A hold recommendation contributes with the numeric value 3 when calculating the consensus.
                                underweight:
                                  nullable: true
                                  type: number
                                  format: int32
                                  description: Number of underweight recommendations. A underweight recommendation contributes with the numeric value 4 when calculating the consensus.
                                sell:
                                  nullable: true
                                  type: number
                                  format: int32
                                  description: Number of sell recommendations. A sell recommendation contributes with the numeric value 5 when calculating the consensus.
                            consensus:
                              nullable: true
                              type: number
                              format: real
                              description: 'Recommendation consensus, that is the average value of all provided recommendations. Values are in the range from 1.0 to 5.0, whereby 1 represents the strongest buy recommendation, 3 a hold (neutral) recommendation and 5 the strongest sell recommendation. '
                            change:
                              nullable: true
                              type: number
                              format: real
                              description: Recommendation change as the difference of the latest (`snapshot=latest`) minus the historic value of the recommendation consensus (attribute `consensus`). Values are in the range from -4 to 4, whereby -4 represents a recommendation change from 5 to 1 and 4 represents a recommendation change from 1 to 5.
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject_2'
                x-property-sort:
                - status
  schemas:
    AttributesMember:
      type: array
      description: Limit the attributes returned in the response to the specified set.
      items:
        type: string
        maxLength: 100
        exclusiveMaximum: false
      maxItems: 50
      uniqueItems: true
    LanguageMember:
      type: string
      format: isoLanguage
      description: ISO 639-1 code of the language.
      maxLength: 2
      minLength: 2
      exclusiveMinimum: false
      exclusiveMaximum: false
    RecommendationConfigDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: abc123
        name:
          type: string
          nullable: true
          example: Example Title
        code:
          type: integer
          format: int32
          example: 10
        isHidden:
          type: boolean
          example: true
      additionalProperties: false
    StatusObject:
      type: object
      properties:
        code:
          type: number
          format: int32
          description: The HTTP status code of the response, mirroring the code from the Status-Line of the HTTP response message (see [RFC2616] section 6.1).
          example: 42.5
      description: The status member contains the status code of the response.
      required:
      - code
    PostRecommendationListRevisionListRequest:
      required:
      - data
      type: object
      properties:
        data:
          type: object
          x-property-sort:
          - idList
          - idRevision
          - activeRange
          description: The data member contains the request's primary data.
          properties:
            idList:
              type: number
              format: id32
              x-positive: true
              description: Identifier of the recommendation list.
            idRevision:
              type: array
              nullable: false
              items:
                type: number
                format: id32
                x-positive: true
                description: Restrict the result list to specific revisions. Each identifier refers to a revision of the recommendation list referenced by idList.
              maxItems: 100
            activeRange:
              type: object
              format: timeRange
              properties:
                start:
                  type: string
                  format: datetime
                  description: The starting point of the time range (inclusive), or `null` to indicate that the time range extends indefinitely into the past.
                  x-allowNullValue: true
                end:
                  type: string
                  format: datetime
                  description: The ending point of the time range (exclusive), or `null` to indicate that the time range extends indefinitely into the future.
                  x-allowNullValue: true
              x-property-sort:
              - start
              - end
              required:
              - start
              - end
              description: Restrict the result list to revisions which have been active during the specified time range.
          required:
          - idList
          example: example_value
        meta:
          type: object
          description: The meta member contains the meta information of the request.
          properties:
            attributes:
              $ref: '#/components/schemas/AttributesMember'
            language:
              $ref: '#/components/schemas/LanguageMember'
          x-property-sort:
          - attributes
          - language
          example: example_value
    StatusObject_2:
      type: object
      properties:
        code:
          type: number
          format: int32
          description: The HTTP status code of the response, mirroring the code from the Status-Line of the HTTP response message (see [RFC2616] section 6.1).
      description: The status member contains the status code of the response.
      required:
      - code
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
externalDocs:
  url: https://developer.factset.com/api-catalog/analytics-datastore-api
  description: API Documentation
