openapi: 3.0.3
info:
  title: Factset Analytics Datastore About Products API
  description: Allow clients to fetch precalculated Analytics through predeterministic URLs.
  contact:
    name: FactSet Research Systems
    url: https://developer.factset.com/contact
    email: api@factset.com
  license:
    name: Apache License, Version 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  version: 1.0.0
servers:
- url: https://api.factset.com
  description: Production
- url: https://api-sandbox.factset.com
  description: Sandbox
security:
- basicAuth: []
tags:
- name: Products
paths:
  /products:
    get:
      summary: Request the enumeration table for FactSet product codes.
      operationId: get_products
      tags:
      - Products
      description: 'Data can be returned in CSV, JSON or XML format, use the `format` parameter to chnage from the default JSON format.

        '
      parameters:
      - $ref: '#/components/parameters/format'
      responses:
        '200':
          description: Successful response for the FactSet product codes table
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RTDataModel_Products'
              example:
              - product_code: 9001
                description: New York Stock Exchange Level 1
              - product_code: 9002
                description: Nasdaq Stock Market Level 1
              - product_code: 9003
                description: Nasdaq Stock Market Level 2
              - product_code: 9004
                description: NYSE American Level 1
              - product_code: 9005
                description: US Options Composite Pricing Level 1
            application/xml:
              schema:
                $ref: '#/components/schemas/RTDataModel_Products'
              example: <products type="array"> <product> <product-code>9001</product-code> <description>New York Stock Exchange Level 1</description> </product> <product> <product-code>9002</product-code> <description>Nasdaq Stock Market Level 1</description> </product> <product> <product-code>9003</product-code> <description>Nasdaq Stock Market Level 2</description> </product> <product> <product-code>9004</product-code> <description>NYSE American Level 1</description> </product> <product> <product-code>9005</product-code> <description>US Options Composite Pricing Level 1</description> </product> </products>
        '401':
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and have successfully generated an API KEY for the IP range you are connecting from.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              example:
                status: 401
                error: Unauthorized
        '402':
          description: Invalid method.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              example:
                status: 402
                error: Invalid method
        '404':
          description: The provided report name is not valid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              example:
                status: 404
                error: Not Found
  /navigator/products:
    get:
      tags:
      - Products
      summary: Factset Get the List of Products for Navigator.
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Product'
        '401':
          description: You are not authorized to view this page.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /ofs/v2/products/{id}:
    get:
      summary: Factset Retrieve a Specific Product Record.
      parameters:
      - name: id
        in: path
        required: true
        description: Globally unique identifier (GUID) of a Product record
        schema:
          example: 89bba0ab-b123-4766-8a7b-9a174a453571
        type: string
        pattern: \{?[a-zA-Z0-9]{8}-[a-zA-Z0-9]{4}-[a-zA-Z0-9]{4}-[a-zA-Z0-9]{4}-[a-zA-Z0-9]{12}\}?
      responses:
        '200':
          description: A JSON representation of a Product record.
          schema:
            $ref: '#/definitions/GetProductDto'
        '404':
          description: Product record was not found.
      tags:
      - Products
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /ofs/v2/products/types:
    get:
      summary: Factset Retrieve a Collection of the Available Product Types Along With the Number of Published Products Per Type.
      responses:
        '200':
          description: A JSON representation a collection of the available Product Types.
          schema:
            example:
            - type: Data Feed
              total: 0
            - type: Solution
              total: 0
            - type: API
              total: 0
            items:
              properties:
                type:
                  type: string
                  enum:
                  - Data Feed
                  - API
                  - Solution
                total:
                  type: integer
              type: object
            type: array
      tags:
      - Products
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /ofs/v2/products:
    get:
      summary: Factset Retrieve a Collection of Product Records.
      parameters:
      - name: limit
        in: query
        description: Limit the amount of records per page
        type: integer
        default: 10
      - name: page
        in: query
        description: Select which page to show
        type: integer
        default: 1
        minimum: 1
      responses:
        '200':
          description: A JSON representation of collection of Product records. Might be empty.
          schema:
            items:
              allOf:
              - $ref: '#/definitions/GetProductDto'
            type: array
          headers:
            X-Pagination:
              description: A JSON containing pagination information. (e.g totalCount,pageSize,currentPage,totalPages,previousPageLink and nextPageLink)
              type: string
        '422':
          description: Unprocessable entity. Validation error response containing the errors in a human readable form.
          schema:
            items:
              type: string
            type: array
      tags:
      - Products
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /ofs/v2/products/search:
    post:
      summary: Factset Retrieve a Collection of Product Records.
      parameters:
      - name: body
        in: body
        schema:
          $ref: '#/definitions/PostProductSearchDto'
        type: json
      responses:
        '200':
          description: A JSON representation of collection of Product records. Might be empty.
          schema:
            items:
              allOf:
              - $ref: '#/definitions/GetProductDto'
            type: array
          headers:
            X-Pagination:
              description: A JSON containing pagination information. (e.g totalCount,pageSize,currentPage,totalPages,previousPageLink and nextPageLink)
              type: string
        '422':
          description: Unprocessable entity. Validation error response containing the errors in a human readable form.
          schema:
            items:
              type: string
            type: array
      tags:
      - Products
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /Products:
    get:
      tags:
      - Products
      summary: Factset Get a List of Products.
      security:
      - basicAuth: []
      parameters:
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/startIndex'
      - $ref: '#/components/parameters/count'
      - $ref: '#/components/parameters/attributes'
      - $ref: '#/components/parameters/excludedAttributes'
      responses:
        '200':
          $ref: '#/components/responses/productsSuccess'
        '400':
          $ref: '#/components/responses/invalidFilterError'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '500':
          $ref: '#/components/responses/internalServerError'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /Products/{id}:
    get:
      tags:
      - Products
      summary: Factset Get a Product.
      security:
      - basicAuth: []
      parameters:
      - $ref: '#/components/parameters/resourceId'
      responses:
        '200':
          $ref: '#/components/responses/productSuccess'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '404':
          $ref: '#/components/responses/productNotFoundError'
        '500':
          $ref: '#/components/responses/internalServerError'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  parameters:
    resourceId:
      name: id
      description: ID of resource.
      in: path
      schema:
        type: string
      required: true
    filter:
      name: filter
      description: Resource filter string. See [RFC 7644 section 3.4.2.2](https://tools.ietf.org/html/rfc7644#section-3.4.2.2) for syntax. Note this API implementation also supports a non-standard "re" operator for regular expression matching against strings.
      in: query
      schema:
        type: string
      required: false
    startIndex:
      name: startIndex
      description: Result start index. The one-based index of the first result to be returned in the list of resources. For example, to exclude the first two resources, use a *startIndex* value of 3. This parameter has a default value of 1. This index applies *after* any resource filtration has been applied as specified by the *filter* argument.
      in: query
      schema:
        type: integer
      required: false
    attributes:
      name: attributes
      description: Attribute whitelist filter string. A comma-separated list of resource attribute names to be returned in the response, overriding the set of attributes that would be returned by default. Attribute names must be specified in standard attribute notation (see [RFC 7644 section 3.10](https://datatracker.ietf.org/doc/html/rfc7644#section-3.10).) This parameter cannot be used with the *excludedAttributes* parameter.
      in: query
      schema:
        type: string
      required: false
    excludedAttributes:
      name: excludedAttributes
      description: Attribute blacklist filter string. A comma-separated list of resource attribute names to be excluded in the response, overriding the set of attributes that would be returned by default. Attribute names must be specified in standard attribute notation (see [RFC 7644 section 3.10](https://datatracker.ietf.org/doc/html/rfc7644#section-3.10).) This parameter cannot be used with the *attributes* parameter.
      in: query
      schema:
        type: string
      required: false
    count:
      name: count
      description: Maximum resource count. The server will not return more resources than this value, although it may return fewer.
      in: query
      schema:
        type: integer
      required: false
    format:
      name: format
      description: The format of the output file.<p>**Try it Out** - All formats available</p>
      in: query
      schema:
        type: string
        default: json
        enum:
        - xml
        - json
        - csv
  responses:
    productsSuccess:
      description: Success.
      content:
        application/scim+json:
          schema:
            $ref: '#/components/schemas/ProductResourceList'
    forbiddenError:
      description: User is not authorized to use this API.
      content:
        application/scim+json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            schemas:
            - urn:ietf:params:scim:api:messages:2.0:Error
            detail: FIN_WEALTH-999999 is not authorized to use the FactSet SCIM API.
            status: '403'
    invalidFilterError:
      description: Invalid filter value provided.
      content:
        application/scim+json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            schemas:
            - urn:ietf:params:scim:api:messages:2.0:Error
            scimType: invalidFilter
            detail: Invalid filter value.
            status: '400'
    internalServerError:
      description: Internal server error.
      content:
        application/scim+json:
          schema:
            $ref: '#/components/schemas/Error'
    unauthorizedError:
      description: User has not been authenticated.
      content:
        application/scim+json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            schemas:
            - urn:ietf:params:scim:api:messages:2.0:Error
            detail: FactSet.net credentials are missing or invalid.
            status: '401'
    productNotFoundError:
      description: Product not found.
      content:
        application/scim+json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            schemas:
            - urn:ietf:params:scim:api:messages:2.0:Error
            detail: Product 6781 was not found.
            status: '404'
    productSuccess:
      description: Success.
      content:
        application/scim+json:
          schema:
            $ref: '#/components/schemas/ProductResource'
  schemas:
    ProductResourceList:
      type: object
      properties:
        schemas:
          type: array
          items:
            type: string
          example:
          - urn:ietf:params:scim:api:messages:2.0:ListResponse
        totalResults:
          type: integer
          example: 1
        Resources:
          type: array
          items:
            $ref: '#/components/schemas/ProductResource'
          example: []
    Product:
      type: object
      properties:
        id:
          type: string
          example: '3210'
          description: Unique identifier for the product
        name:
          type: string
          example: Estimize US Equities
          description: Name of the product
        ofmLink:
          type: string
          example: https://open.factset.com/products/estimize-us-equities/en-us
          description: URL to the product page on the Open:FactSet Marketplace
        ofmProductId:
          type: string
          example: 168e9bf8-108c-4912-beca-b658083c7c86
          description: The id defining a product in the Open:FactSet Marketplace
        entitled:
          type: boolean
          example: true
          description: Flag indicating if the user is entitled to access the data in their subscriptions
        providerName:
          type: string
          example: Estimize
          description: Name of the Data Provider for the product
        dataFeed:
          type: boolean
          example: true
          description: Flag indicating if this product is available in a data feed
        api:
          type: boolean
          example: true
          description: Flag indicating if this product is available in an api
        referenceDataFeed:
          type: boolean
          example: false
          description: Flag indicating if this product is maintained by RDF/UCF
    errorResponse:
      type: object
      title: Error Response
      properties:
        status:
          description: status
          type: integer
          example: 401
        error:
          description: The plain text error message
          type: string
          example: Unauthorized
    ProductResource:
      type: object
      properties:
        schemas:
          type: array
          items:
            type: string
          example:
          - urn:scim:schemas:extension:FactSet:Core:1.0:Product
        id:
          type: string
          example: '6781'
          readOnly: true
        name:
          type: string
          description: Name of product.
          readOnly: true
          example: FactSet Identity
        description:
          type: string
          description: Details of product.
          readOnly: true
          example: This workstation product will provide the user with a serial number and a "blanket" login. Examples of when this can be used is for web only users, notify clients, or to give users minimal access.
        groupDescription:
          type: string
          description: Description of the group the product belongs in, e.g. Exchange, Product, Database, Workstation, etc.
          readOnly: true
          example: Workstations
        workstation:
          type: boolean
          description: A boolean representing whether the product is base-level access to FactSet, issuing the individual's serial number. Only one Product "id" per individual will have this value set to true.
          readOnly: true
          example: true
        requiresApproval:
          type: string
          description: A description of the type of approval required before an order for this product can be fulfilled. This value is null for those products that do not require any approval.
          readOnly: true
          example: FactSet
        whitelist:
          type: boolean
          description: Whether the product appears in the requester's product whitelist. Presence in the product whitelist means the requester is authorized to order this product for other users.
          readOnly: true
          example: true
        meta:
          type: object
          properties:
            resourceType:
              type: string
              example: Product
            location:
              type: string
              example: https://api.factset.com/scim/v2/Products/6781
          readOnly: true
          example: example_value
      required:
      - whitelist
    RTDataModel_Products:
      type: object
      title: Product codes
      description: sample response
      properties:
        product_code:
          example: 9001
          type: integer
          description: FactSet product code
        description:
          example: New York Stock Exchange Level 1
          type: string
          description: Product description
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
definitions:
  PostProductSearchDto:
    properties:
      limit:
        description: Limit the amount of records per page.
        example: 10
        type: integer
        default: 10
        maximum: 300
      page:
        description: Select which page to show.
        example: 1
        type: integer
        default: 1
        minimum: 1
      sort:
        description: Sort according to  specific field value.
        example: name:asc
        type: string
        default: name:asc
      fields:
        description: Fetch only specific fields. The fields' names separated by a comma.
        example: name,marking.state,slug,partner
        type: string
      search:
        description: Search for terms in certain fields.
        example: name:FactSet,detail:FactSet
        type: string
      filter:
        description: Filter against specific field values.
        example: type:Data Feed:API
        type: string
    type: object
  GetProductDto:
    description: A Json representation of a Product record.
    properties:
      id:
        example: 89bba0ab-b123-4766-8a7b-9a174a453571
        type: string
      marking:
        $ref: '#/definitions/Marking'
      name:
        example: FactSet Corporate Governance
        type: string
      detail:
        example: 'FactSets corporate activism database, SharkRepellent, allows you to monitor and analyze corporate activism with data items related to poison pills, significant activism reported in SEC filings and news sources, and key takeover defenses compiled from articles of incorporation, bylaws, and other publicly available sources.  Data Frequency:  Event;  Update Frequency:  Intraday. '
        type: string
      dateAdded:
        example: 1441029240
        type: integer
      highlight:
        example:
          point1: Access activism campaign details, including participants, events, defenses, filing dates, and related entities
          point2: Leverage takeover defense and corporate governance data, including bullet proof ratings, charter provisions and amendment details, and appeal/repeal percentage requirements
          point3: Obtain data for all U.S. in-force poison pills, Canadian in-force and ratification pending poison pills, and any other non-U.S. EDGAR filers that adopts a U.S. style poison pill
        properties:
          point1:
            type: string
          point2:
            type: string
          point3:
            type: string
        type: object
      coverageTable:
        example:
          columns:
          - field: field1
            title: region
            align: left
            required: true
          - field: field2
            title: Count
            align: left
            required: true
          - field: field3
            title: Type
            align: left
            required: false
          - field: field4
            title: Start Date
            align: left
            required: false
          rows:
          - field1: Africa
            field3: Entities
            field2: '{40}'
            field4: '2014'
          - field1: Asia
            field3: Entities
            field2: '{350}'
            field4: '2000'
          - field1: Europe
            field3: Entities
            field2: '{640}'
            field4: '1995'
          - field1: Latin America
            field3: Entities
            field2: '{30}'
            field4: '2006'
          - field1: Middle East
            field3: Entities
            field2: '{70}'
            field4: '1996'
          - field1: North America
            field3: Entities
            field2: '{11740}'
            field4: '1984'
          - field1: Pacific
            field3: Entities
            field2: '{370}'
            field4: '1998'
        items:
          properties:
            columns:
              items:
                properties:
                  title:
                    type: string
                  field:
                    type: string
                  align:
                    type: string
                  required:
                    type: boolean
                type: object
              type: array
            rows:
              items:
                type: object
              type: array
          type: object
        type: array
      videoUrl:
        example: https://vimeo.com/320509757
        type: string
      previewLink:
        example:
          linkUrl: https://insight.factset.com/resources/at-a-glance-factset-corp-datafeed
          linkName: FactSet Corporate Governance DataFeed
        properties:
          linkUrl:
            type: string
          linkName:
            type: string
        type: object
      thirdPartyUrls:
        example:
        - link: https://insight.factset.com/activists-knocking-on-doors-of-big-firms
          name: Activists Knocking on Doors of Big Firms
        - link: https://advantage.factset.com/analyzing-trends-in-shareholder-activism-webcast
          name: 'Webcast: 2016 Trends in Shareholder Activism'
        - link: https://insight.factset.com/in-2017-middle-east-ma-activity-dips-value-soars
          name: In 2017 Middle East M&A Activity Dips, Value Soars
        items:
          properties:
            link:
              type: string
            name:
              type: string
          type: object
        type: array
      seoMeta:
        example:
          productTitle: FactSet Corporate Governance - Shark Repellent
          productSummary: With FactSet's corporate activism database, monitor and analyze corporate activism campaign details, including participants, events, defenses, and filings.
        properties:
          productTitle:
            type: string
          productSummary:
            type: string
          videoAltText:
            type: string
        type: object
      slug:
        example: factset-corporate-governance
        type: string
      productStatusAttr:
        example: Available
        type: string
        enum:
        - Coming Soon
        - Recently Added
        - Candidate
        - In queue
        - Recently Updated
        - Available
        - Available for Testing
      partner:
        example:
          name: FactSet
          logoUrl: /media/download/partners/logo/774c3a5c-cc77-4e4c-b4a8-224a35cb00ba
          slug: factset
          firmInfo: FactSet creates data and technology solutions for investment professionals around the world, providing instant access to financial data and analytics that investors use to make crucial decisions. We combine our unique proprietary datasets, your in-house data, and third-party unstructured data to help you see and seize opportunity sooner.\n
          videoUrl: https://vimeo.com/320509757
          companyUrl: https://www.factset.com/
          socialMedia:
            linkedin: https://www.linkedin.com/company/factset
            twitter: https://twitter.com/FactSet
            facebook: https://www.facebook.com/FactSet/
          seoMeta:
            partnerTitle: FactSet
            partnerSummary: FactSet creates data and technology solutions for investment professionals around the world.
            videoAltText: ''
          forumTags:
          - id: factset
            tag: factset
          id: caa0ee0f-c0fe-427e-9596-491e6c527b3f
        properties:
          id:
            type: string
          name:
            type: string
          slug:
            type: string
          logoUrl:
            type: string
          firmInfo:
            type: string
          companyUrl:
            type: string
          socialMedia:
            properties:
              linkedin:
                type: string
              facebook:
                type: string
              twitter:
                type: string
            type: object
        type: object
      relatedProducts:
        example:
        - name: FactSet Ownership
          id: b7650ba1-519e-4af6-a5d1-8b6cb6ec744c
          slug: factset-ownership
        - name: FactSet Mergers
          id: 8a579d81-ba0e-45c2-9cb9-144c9e7d895c
          slug: factset-mergers
        - name: FactSet People
          id: 168e9bf8-108c-4912-beca-b658083c7c86
          slug: factset-people
        items:
          properties:
            name:
              type: string
            id:
              type: string
            slug:
              type: string
          type: object
        type: array
      documents:
        example:
        - ref: ofsProductsDataDictionaryFile
          fileName: factset standard datafeed sharkrepellent v1 userguide.pdf
          isFile: true
          name: Data Dictionary
          description: ''
          isPublic: false
          section:
            name: Documentation
            id: 2
          type: dataDictionary
          url: /media/download/products/documents/4653f3d6-6de1-4e23-b6da-327301c4c860
          order: 0
        - fileName: Corporate Governance V1.zip
          isFile: true
          name: Starter Kit - Jupyter Notebooks and SQL Queries
          description: Use case examples and sample code\t
          isPublic: false
          section:
            name: Sample Data
            id: 1
          url: /media/download/products/documents/5de6b025-d8a3-423b-a8c6-157730abe334
          order: 1
        - fileName: OFM Sample FactSet Corporate Activism Announced 2019.xlsx
          isFile: true
          name: Corporate Activism Sample - 2019
          description: ''
          isPublic: false
          section:
            name: Sample Data
            id: 1
          url: /media/download/products/documents/b7a73952-c6ed-45fe-bf0d-0ab4b7ceb1e9
          order: 2
        - fileName: OFM Sample FactSet Corporate Governance 2019.xlsx
          isFile: true
          name: Corporate Governance Sample  - 2019
          description: ''
          isPublic: false
          section:
            name: Sample Data
            id: 1
          url: /media/download/products/documents/372ef839-591c-44c4-a668-838bc144cdb1
          order: 3
        items:
          $ref: '#/definitions/Document'
        type: array
        default: 'null'
      type:
        example:
        - Data Feed
        items:
          type: string
          enum:
          - Data Feed
          - API
          - Solution
        type: array
      attributesGroups:
        example:
        - attributes:
          - color: tag-color-9
            created: 1531815428
            groupId: 5378b993-1057-4197-9a88-92de71d8f55e
            name: 20+ yrs
            id: df4b1f7c-58d3-463e-ad9f-55c24cba6f86
            updated: 1531815428
          id: 5378b993-1057-4197-9a88-92de71d8f55e
        - attributes:
          - color: tag-color-1
            created: 1531815416
            groupId: 3bb76ffb-a83c-4b40-ba6b-c4003702f4fe
            name: Corporate Governance
            id: ec224c5d-9b20-4af8-9e7c-725ee3cb4aa3
            updated: 1531815416
          - color: tag-color-1
            created: 1531815419
            groupId: 3bb76ffb-a83c-4b40-ba6b-c4003702f4fe
            name: Events
            id: ac310994-b350-48d2-abd4-a779af80f421
            updated: 1531815419
          - color: tag-color-1
            created: 1531815415
            groupId: 3bb76ffb-a83c-4b40-ba6b-c4003702f4fe
            name: Corporate Activism
            id: e2f036fa-c407-4db5-b6b1-0128c739698e
            updated: 1531815415
          id: 3bb76ffb-a83c-4b40-ba6b-c4003702f4fe
        items:
          properties:
            id:
              type: string
            attributes:
              items:
                properties:
                  id:
                    type: string
                  groupId:
                    type: string
                  name:
                    type: string
                  color:
                    type: string
                  created:
                    type: integer
                  updated:
                    type: integer
                type: object
              type: array
          type: object
        type: array
      previewTags:
        example:
        - color: tag-color-1
          created: 1531815415
          groupId: 3bb76ffb-a83c-4b40-ba6b-c4003702f4fe
          name: Corporate Activism
          id: e2f036fa-c407-4db5-b6b1-0128c739698e
          updated: 1531815415
        - color: tag-color-1
          created: 1531815416
          groupId: 3bb76ffb-a83c-4b40-ba6b-c4003702f4fe
          name: Corporate Governance
          id: ec224c5d-9b20-4af8-9e7c-725ee3cb4aa3
          updated: 1531815416
        - color: tag-color-9
          created: 1531815428
          groupId: 5378b993-1057-4197-9a88-92de71d8f55e
          name: 20+ yrs
          id: df4b1f7c-58d3-463e-ad9f-55c24cba6f86
          updated: 1531815428
        items:
          properties:
            id:
              type: string
            groupId:
              type: string
            name:
              type: string
            color:
              type: string
            created:
              type: integer
            updated:
              type: integer
          type: object
        type: array
      updateFrequency:
        example: ''
        type: string
      deliveryFrequency:
        example: ''
        type: string
      productLabelOverride:
        example: ''
        type: string
      created:
        example: 1565883044
        type: integer
      updated:
        example: 1576275398
        type: integer
      meta:
        example:
          documentsTotal: 4
          documentsPrivate: 4
        items:
          properties:
            documentsTotal:
              type: integer
            documentsPrivate:
              type: integer
          type: object
        type: array
      versionSchema:
        example:
          major: 1
          minor: 0
          patch: 0
          versionedId: 89bba0ab-b123-4766-8a7b-9a174a453571-1.0.0
          originalId: 89bba0ab-b123-4766-8a7b-9a174a453571
        properties:
          major:
            type: integer
          minor:
            type: integer
          patch:
            type: integer
          versionedId:
            type: string
          originalId:
            type: string
        type: object
    type: object
  Marking:
    properties:
      state:
        example: published
        type: string
    type: object
  Document:
    properties:
      name:
        type: string
      description:
        type: string
      fileName:
        type: string
      url:
        type: string
      isFile:
        type: boolean
      isPublic:
        type: boolean
      order:
        type: integer
      section:
        items:
          properties:
            id:
              type: integer
            name:
              type: string
          type: object
        type: array
    type: object
externalDocs:
  url: https://developer.factset.com/api-catalog/analytics-datastore-api
  description: API Documentation
