openapi: 3.0.3
info:
  title: Factset Analytics Datastore About Authors API
  description: Allow clients to fetch precalculated Analytics through predeterministic URLs.
  contact:
    name: FactSet Research Systems
    url: https://developer.factset.com/contact
    email: api@factset.com
  license:
    name: Apache License, Version 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  version: 1.0.0
servers:
- url: https://api.factset.com
  description: Production
- url: https://api-sandbox.factset.com
  description: Sandbox
security:
- basicAuth: []
tags:
- name: Authors
paths:
  /v1/authors:
    get:
      tags:
      - Authors
      summary: Factset Get All Authors
      operationId: GetAuthors
      parameters:
      - name: X-IRN-Ignore-Permissions
        in: header
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AuthorConfigDto'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    ProblemDetails:
      type: object
      properties:
        type:
          type: string
          nullable: true
          example: example_value
        title:
          type: string
          nullable: true
          example: Example Title
        status:
          type: integer
          format: int32
          nullable: true
          example: 10
        detail:
          type: string
          nullable: true
          example: example_value
        instance:
          type: string
          nullable: true
          example: example_value
      additionalProperties: {}
    TeamSummaryDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: abc123
        name:
          type: string
          nullable: true
          example: Example Title
        code:
          type: string
          nullable: true
          example: example_value
      additionalProperties: false
    AuthorConfigDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: abc123
        userName:
          type: string
          nullable: true
          example: example_value
        serialNumber:
          type: string
          nullable: true
          example: example_value
        firstName:
          type: string
          nullable: true
          example: example_value
        lastName:
          type: string
          nullable: true
          example: example_value
        emailAddress:
          type: string
          nullable: true
          example: user@example.com
        isActive:
          type: boolean
          example: true
        team:
          $ref: '#/components/schemas/TeamSummaryDto'
      additionalProperties: false
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
externalDocs:
  url: https://developer.factset.com/api-catalog/analytics-datastore-api
  description: API Documentation
