openapi: 3.2.0
info:
  version: 3.0.0
  title: FactSet Real-Time Time Series Intraday API
  description: '

    Time series data, end-of-day or intraday, tick-by-tick or subsampled.

    Additional vendor-specific endpoints provide a modified interface for

    seamless integration with the ChartIQ chart library.'
  contact:
    name: FactSet Research Systems
    url: https://developer.factset.com/contact
    email: api@factset.com
  license:
    name: Apache License, Version 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
servers:
- url: https://api.factset.com/wealth/v3
security:
- FactSetApiKey: []
- FactSetOAuth2: []
tags:
- name: Intraday
paths:
  /prices/timeSeries/intraday/list:
    post:
      tags:
      - Intraday
      operationId: post/prices/timeSeries/intraday/list
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: true
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Factset Intraday Time Series Data for a Notation.
      description: Intraday time series data for a notation.<br><br>Pagination to a previous page is not supported and `pagination.previous` is always `null`.
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostPricesTimeSeriesIntradayListRequest'
        required: true
      responses:
        '200':
          $ref: '#/components/responses/PostPricesTimeSeriesIntradayList200Response'
      parameters: []
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /prices/timeSeries/intraday/subsample/get:
    post:
      tags:
      - Intraday
      operationId: post/prices/timeSeries/intraday/subsample/get
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Factset Single Subsample Intraday Data for a Notation.
      description: Single subsample intraday data for a notation. The subsample may exceed the entitled time range, but will be based only on ticks that are in the entitled range.
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostPricesTimeSeriesIntradaySubsampleGetRequest'
        required: true
      responses:
        '200':
          $ref: '#/components/responses/PostPricesTimeSeriesIntradaySubsampleGet200Response'
      parameters: []
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /prices/timeSeries/intraday/subsample/list:
    post:
      tags:
      - Intraday
      operationId: post/prices/timeSeries/intraday/subsample/list
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: true
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Factset Subsampled Intraday Time Series Data for a Notation.
      description: Subsampled intraday time series data for a notation. If a subsample's time range is not entirely within the maximally entitled time range, the subsample is excluded from the response.<br><br>Pagination to a previous page is not supported and `pagination.previous` is always `null`.
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostPricesTimeSeriesIntradaySubsampleListRequest'
        required: true
      responses:
        '200':
          $ref: '#/components/responses/PostPricesTimeSeriesIntradaySubsampleList200Response'
      parameters: []
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  responses:
    PostPricesTimeSeriesIntradaySubsampleGet200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: object
                properties:
                  idNotation:
                    type:
                    - string
                    - 'null'
                    format: id64
                    x-positive: true
                    description: MDG identifier of the listing.
                  sourceIdentifier:
                    type:
                    - string
                    - 'null'
                    description: Identifier used in the request.
                  quality:
                    type:
                    - string
                    - 'null'
                    description: Quality of the price.
                    x-enum-description:
                    - 'Real-time: intraday prices with minimal technical processing delays.'
                    - 'Delayed: intraday prices with an exchange-imposed delay of usually 15 to 30 minutes.'
                    enum:
                    - RLT
                    - DLY
                  subsample:
                    type: object
                    x-property-sort:
                    - time
                    - first
                    - last
                    - low
                    - high
                    - tradingVolume
                    - tradingValue
                    description: Single summary record. For the attributes first, last, low, high, see attribute `valueUnit` in endpoint `/prices/get` for their unit, except for price type yield, where the `valueUnit` is always `percent` (id=258).
                    properties:
                      time:
                        type:
                        - string
                        - 'null'
                        format: datetime
                        description: Date and time of the start of the subsample.
                      first:
                        type:
                        - number
                        - 'null'
                        format: real
                        description: First price of the subsample.
                      last:
                        type:
                        - number
                        - 'null'
                        format: real
                        description: Last price of the subsample.
                      low:
                        type:
                        - number
                        - 'null'
                        format: real
                        description: Lowest price of the subsample.
                      high:
                        type:
                        - number
                        - 'null'
                        format: real
                        description: Highest price of the subsample.
                      tradingVolume:
                        type:
                        - number
                        - 'null'
                        format: real
                        description: Accumulated number of units (e.g. shares) traded of the subsample. If the requested type of the price is ask, bid, or yield, the value is empty.
                      tradingValue:
                        type:
                        - number
                        - 'null'
                        format: real
                        description: Accumulated monetary equivalent (cash value) of the subsample. If the requested type of the price is ask, bid, or yield, the value is empty. See attribute `currency` in endpoint `/prices/get` for its unit.
                description: Subsample data for the notation.
                x-property-sort:
                - idNotation
                - sourceIdentifier
                - quality
                - subsample
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                x-property-sort:
                - status
            x-property-sort:
            - data
            - meta
    PostPricesTimeSeriesIntradaySubsampleList200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: object
                properties:
                  idNotation:
                    type:
                    - string
                    - 'null'
                    format: id64
                    x-positive: true
                    description: MDG identifier of the listing.
                  sourceIdentifier:
                    type:
                    - string
                    - 'null'
                    description: Identifier used in the request.
                  range:
                    type:
                    - object
                    - 'null'
                    format: timeRange
                    properties:
                      start:
                        type:
                        - string
                        - 'null'
                        format: datetime
                        description: The starting point of the time range (inclusive).
                      end:
                        type:
                        - string
                        - 'null'
                        format: datetime
                        description: The ending point of the time range (exclusive).
                    x-property-sort:
                    - start
                    - end
                    required:
                    - start
                    - end
                    description: Time range for the returned time series.
                  quality:
                    type:
                    - string
                    - 'null'
                    description: Quality of the price.
                    x-enum-description:
                    - 'Real-time: intraday prices with minimal technical processing delays.'
                    - 'Delayed: intraday prices with an exchange-imposed delay of usually 15 to 30 minutes.'
                    enum:
                    - RLT
                    - DLY
                  subsamples:
                    type: array
                    items:
                      type: object
                      x-property-sort:
                      - time
                      - first
                      - last
                      - low
                      - high
                      - tradingVolume
                      - tradingValue
                      properties:
                        time:
                          type:
                          - string
                          - 'null'
                          format: datetime
                          description: Date and time of the start of the subsample.
                        first:
                          type:
                          - number
                          - 'null'
                          format: real
                          description: First price of the subsample.
                        last:
                          type:
                          - number
                          - 'null'
                          format: real
                          description: Last price of the subsample.
                        low:
                          type:
                          - number
                          - 'null'
                          format: real
                          description: Lowest price of the subsample.
                        high:
                          type:
                          - number
                          - 'null'
                          format: real
                          description: Highest price of the subsample.
                        tradingVolume:
                          type:
                          - number
                          - 'null'
                          format: real
                          description: Accumulated number of units (e.g. shares) traded of the subsample. If the requested type of the price is ask, bid, or yield, the value is empty.
                        tradingValue:
                          type:
                          - number
                          - 'null'
                          format: real
                          description: Accumulated monetary equivalent (cash value) of the subsample. If the requested type of the price is ask, bid, or yield, the value is empty. See attribute `currency` in endpoint `/prices/get` for its unit.
                    description: List of summary records. For the attributes first, last, low, high, see attribute `valueUnit` in endpoint `/prices/get` for their unit, except for price type yield, where the `valueUnit` is always `percent` (id=258).
                description: Subsampled time series data for the notation.
                x-property-sort:
                - idNotation
                - sourceIdentifier
                - range
                - quality
                - subsamples
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                  pagination:
                    $ref: '#/components/schemas/CursorBasedPaginationOutputObjectWithoutTotal'
                x-property-sort:
                - status
                - pagination
            x-property-sort:
            - data
            - meta
    PostPricesTimeSeriesIntradayList200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: object
                properties:
                  idNotation:
                    type:
                    - string
                    - 'null'
                    format: id64
                    x-positive: true
                    description: MDG identifier of the listing.
                  sourceIdentifier:
                    type:
                    - string
                    - 'null'
                    description: Identifier used in the request.
                  range:
                    type:
                    - object
                    - 'null'
                    format: timeRange
                    properties:
                      start:
                        type:
                        - string
                        - 'null'
                        format: datetime
                        description: The starting point of the time range (inclusive).
                      end:
                        type:
                        - string
                        - 'null'
                        format: datetime
                        description: The ending point of the time range (exclusive).
                    x-property-sort:
                    - start
                    - end
                    required:
                    - start
                    - end
                    description: Time range for the returned time series.
                  quality:
                    type:
                    - string
                    - 'null'
                    description: Quality of the price.
                    x-enum-description:
                    - 'Real-time: intraday prices with minimal technical processing delays.'
                    - 'Delayed: intraday prices with an exchange-imposed delay of usually 15 to 30 minutes.'
                    enum:
                    - RLT
                    - DLY
                  prices:
                    type: array
                    items:
                      type: object
                      x-property-sort:
                      - time
                      - price
                      - quoteCondition
                      - tradingVolume
                      - tradingValue
                      properties:
                        time:
                          type:
                          - string
                          - 'null'
                          format: datetime
                          description: Date and time.
                        price:
                          type:
                          - number
                          - 'null'
                          format: real
                          description: Price value. See attribute `valueUnit` in endpoint `/prices/get` for its unit, except for price type yield, where the `valueUnit` is always `percent` (id=258).
                        quoteCondition:
                          type:
                          - string
                          - 'null'
                          description: Quote condition. Possible values depend on the values delivered by the supplier of the price information.
                        tradingVolume:
                          type:
                          - number
                          - 'null'
                          format: real
                          description: Number of units (e.g. shares) traded, offered (price type ask), solicited (price type bid), or empty (price type yield).
                        tradingValue:
                          type:
                          - number
                          - 'null'
                          format: real
                          description: Monetary equivalent (cash value) of the trade. See attribute `currency` in endpoint `/prices/get` for its unit. Empty for price type yield.
                    description: Time series of prices.
                description: Time series data for the notation.
                x-property-sort:
                - idNotation
                - sourceIdentifier
                - range
                - quality
                - prices
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                  pagination:
                    $ref: '#/components/schemas/CursorBasedPaginationOutputObjectWithoutTotal'
                x-property-sort:
                - status
                - pagination
            x-property-sort:
            - data
            - meta
  schemas:
    StatusObject:
      type: object
      properties:
        code:
          type: number
          format: int32
          description: The HTTP status code of the response, mirroring the code from the Status-Line of the HTTP response message (see [RFC2616] section 6.1).
          example: 42.5
      description: The status member contains the status code of the response.
      required:
      - code
    PostPricesTimeSeriesIntradayListRequest:
      x-property-sort:
      - data
      - meta
      description: Request Body
      required:
      - data
      type: object
      properties:
        data:
          type: object
          x-property-sort:
          - identifier
          - type
          - quality
          - range
          - newestFirst
          - applyTickCorrections
          - includeVolumeOnlyTicks
          - adjustments
          description: The data member contains the request's primary data.
          properties:
            identifier:
              type: object
              x-property-sort:
              - value
              - type
              description: Identifier and type.
              properties:
                value:
                  type: string
                  pattern: ^[B-DF-HJ-NP-TV-Z0-9]{6}-[LR]$|^[A-Z0-9.#&*+]{1,47}-[A-Z0-9]{2,4}$|^[0-9]{3,20}$
                  maxLength: 50
                  minLength: 3
                  description: Identifier to resolve.
                type:
                  type: string
                  description: Type of the identifier.
                  x-enum-description:
                  - MDG identifier of a listing.
                  - FactSet market symbol of a listing.
                  - Regional FactSet ticker symbol, identifying the primary listing in the region.
                  - FactSet Permanent Identifier on listing level.
                  - Regional FactSet Permanent Identifier, identifying the primary listing in the region.
                  enum:
                  - idNotation
                  - tickerExchange
                  - tickerRegion
                  - fdsPermanentIdentifierListing
                  - fdsPermanentIdentifierRegional
              required:
              - value
              - type
            type:
              type: string
              description: Type of the price as configured for the customer.
              default: trade
              x-enum-description:
              - Trade price (ordinary, auction, pre or post-trading).
              - Bid price.
              - Ask price.
              - Yield price.
              enum:
              - trade
              - bid
              - ask
              - yield
            quality:
              type: string
              description: Quality of the price.
              default: DLY
              x-enum-description:
              - 'Real-time: intraday prices with minimal technical processing delays.'
              - 'Delayed: intraday prices with an exchange-imposed delay of usually 15 to 30 minutes.'
              - 'Best: choose the price quality with the least delay, as entitled for the client.'
              enum:
              - RLT
              - DLY
              - BST
            range:
              type: object
              format: timeRange
              properties:
                start:
                  type: string
                  format: datetime
                  description: The starting point of the time range (inclusive). The data accessible in the past is limited to a few weeks at most.
                end:
                  type: string
                  format: datetime
                  description: The ending point of the time range (exclusive). Values in the future are not allowed.
              x-property-sort:
              - start
              - end
              required:
              - start
              - end
              description: Date and time range for the time series.
            newestFirst:
              type: boolean
              default: false
              description: Deliver the chronological last part of the requested data first.
            applyTickCorrections:
              type: string
              description: "This attribute represents the choice whether to apply insert, update, and delete corrections for individual ticks sent by the exchange or devised by FactSet Digital Solutions GmbH.\n\n If the exchange or FactSet Digital Solutions GmbH decides to correct data, a correction instruction tick is sent shortly (usually on the same trading day) after dissemination of the corresponding\noriginal tick (if any). The correction instruction is then applied, yielding a corrected view. For \"insert\" corrections, there is no original tick, and the corrected view contains the inserted tick. For \"update\" corrections, the corrected view contains the updated original tick. For \"delete\" corrections, the original tick is removed from the corrected view."
              default: none
              x-enum-description:
              - Select original tick data without applying any corrections.
              - Select corrected view.
              enum:
              - none
              - all
            includeVolumeOnlyTicks:
              type: boolean
              default: false
              description: Include ticks that contain a volume without a price.
            adjustments:
              type: object
              x-property-sort:
              - split
              description: Adjustments values returned.
              properties:
                split:
                  type: boolean
                  default: true
                  description: Adjustments are applied for corporate action effects due to the notation having a split, a reverse split, or a similar factor-based corporate action.
          required:
          - identifier
          - range
          example: example_value
        meta:
          type: object
          description: The meta member contains the meta information of the request.
          properties:
            attributes:
              $ref: '#/components/schemas/AttributesMember'
            pagination:
              type: object
              description: Pagination attributes for the cursor-based pagination strategy.
              properties:
                cursor:
                  type: string
                  maxLength: 50
                  description: Starting point as returned in the attributes `pagination.next` or `pagination.previous` by a prior invocation of this endpoint, or undefined (default).
                limit:
                  type: number
                  format: int32
                  minimum: 0
                  maximum: 500
                  default: 20
                  description: Non-negative maximum number of entries to return.
              x-property-sort:
              - cursor
              - limit
          x-property-sort:
          - attributes
          - pagination
          example: example_value
    AttributesMember:
      type: array
      description: Limit the attributes returned in the response to the specified set.
      items:
        type: string
        maxLength: 100
      maxItems: 50
      uniqueItems: true
    PostPricesTimeSeriesIntradaySubsampleGetRequest:
      x-property-sort:
      - data
      - meta
      description: Request Body
      required:
      - data
      type: object
      properties:
        data:
          type: object
          x-property-sort:
          - identifier
          - type
          - quality
          - from
          - granularity
          - adjustments
          description: The data member contains the request's primary data.
          properties:
            identifier:
              type: object
              x-property-sort:
              - value
              - type
              description: Identifier and type.
              properties:
                value:
                  type: string
                  pattern: ^[B-DF-HJ-NP-TV-Z0-9]{6}-[LR]$|^[A-Z0-9.#&*+]{1,47}-[A-Z0-9]{2,4}$|^[0-9]{3,20}$
                  maxLength: 50
                  minLength: 3
                  description: Identifier to resolve.
                type:
                  type: string
                  description: Type of the identifier.
                  x-enum-description:
                  - MDG identifier of a listing.
                  - FactSet market symbol of a listing.
                  - Regional FactSet ticker symbol, identifying the primary listing in the region.
                  - FactSet Permanent Identifier on listing level.
                  - Regional FactSet Permanent Identifier, identifying the primary listing in the region.
                  enum:
                  - idNotation
                  - tickerExchange
                  - tickerRegion
                  - fdsPermanentIdentifierListing
                  - fdsPermanentIdentifierRegional
              required:
              - value
              - type
            type:
              type: string
              description: Type of the price as configured for the customer.
              default: trade
              x-enum-description:
              - Trade price (ordinary, auction, pre or post-trading).
              - Bid price.
              - Ask price.
              - Yield price.
              enum:
              - trade
              - bid
              - ask
              - yield
            quality:
              type: string
              description: Quality of the price.
              default: DLY
              x-enum-description:
              - 'Real-time: intraday prices with minimal technical processing delays.'
              - 'Delayed: intraday prices with an exchange-imposed delay of usually 15 to 30 minutes.'
              - 'Best: choose the price quality with the least delay, as entitled for the client.'
              enum:
              - RLT
              - DLY
              - BST
            from:
              type: string
              format: datetime
              description: Date and time of the start point of the subsample (inclusive). `from` must be aligned to `granularity`. That is, the numerical value is an integral multiple of the time span value represented by `granularity`. The data accessible in the past is limited to a few weeks at most. Values in the future are not allowed.
            granularity:
              type: string
              description: Subsample granularities suitable for intraday data.
              default: 1h
              x-enum-description:
              - Each subsample interval encompasses 1 second.
              - Each subsample interval encompasses 5 seconds.
              - Each subsample interval encompasses 10 seconds.
              - Each subsample interval encompasses 30 seconds.
              - Each subsample interval encompasses 1 minute.
              - Each subsample interval encompasses 5 minutes.
              - Each subsample interval encompasses 10 minutes.
              - Each subsample interval encompasses 15 minutes.
              - Each subsample interval encompasses 30 minutes.
              - Each subsample interval encompasses 1 hour.
              enum:
              - 1s
              - 5s
              - 10s
              - 30s
              - 1m
              - 5m
              - 10m
              - 15m
              - 30m
              - 1h
            adjustments:
              type: object
              x-property-sort:
              - split
              description: Adjustments values returned.
              properties:
                split:
                  type: boolean
                  default: true
                  description: Adjustments are applied for corporate action effects due to the notation having a split, a reverse split, or a similar factor-based corporate action.
          required:
          - identifier
          - from
          example: example_value
        meta:
          type: object
          description: The meta member contains the meta information of the request.
          properties:
            attributes:
              $ref: '#/components/schemas/AttributesMember'
          x-property-sort:
          - attributes
          example: example_value
    PostPricesTimeSeriesIntradaySubsampleListRequest:
      x-property-sort:
      - data
      - meta
      description: Request Body
      required:
      - data
      type: object
      properties:
        data:
          type: object
          x-property-sort:
          - identifier
          - type
          - quality
          - range
          - granularity
          - newestFirst
          - adjustments
          description: The data member contains the request's primary data.
          properties:
            identifier:
              type: object
              x-property-sort:
              - value
              - type
              description: Identifier and type.
              properties:
                value:
                  type: string
                  pattern: ^[B-DF-HJ-NP-TV-Z0-9]{6}-[LR]$|^[A-Z0-9.#&*+]{1,47}-[A-Z0-9]{2,4}$|^[0-9]{3,20}$
                  maxLength: 50
                  minLength: 3
                  description: Identifier to resolve.
                type:
                  type: string
                  description: Type of the identifier.
                  x-enum-description:
                  - MDG identifier of a listing.
                  - FactSet market symbol of a listing.
                  - Regional FactSet ticker symbol, identifying the primary listing in the region.
                  - FactSet Permanent Identifier on listing level.
                  - Regional FactSet Permanent Identifier, identifying the primary listing in the region.
                  enum:
                  - idNotation
                  - tickerExchange
                  - tickerRegion
                  - fdsPermanentIdentifierListing
                  - fdsPermanentIdentifierRegional
              required:
              - value
              - type
            type:
              type: string
              description: Type of the price as configured for the customer.
              default: trade
              x-enum-description:
              - Trade price (ordinary, auction, pre or post-trading).
              - Bid price.
              - Ask price.
              - Yield price.
              enum:
              - trade
              - bid
              - ask
              - yield
            quality:
              type: string
              description: Quality of the price.
              default: DLY
              x-enum-description:
              - 'Real-time: intraday prices with minimal technical processing delays.'
              - 'Delayed: intraday prices with an exchange-imposed delay of usually 15 to 30 minutes.'
              - 'Best: choose the price quality with the least delay, as entitled for the client.'
              enum:
              - RLT
              - DLY
              - BST
            range:
              type: object
              format: timeRange
              properties:
                start:
                  type: string
                  format: datetime
                  description: The starting point of the time range (inclusive). The data accessible in the past is limited to a few weeks at most.
                end:
                  type: string
                  format: datetime
                  description: The ending point of the time range (exclusive). Values in the future are not allowed.
              x-property-sort:
              - start
              - end
              required:
              - start
              - end
              description: Date and time range for the time series. The `start` and `end` boundaries must be aligned to `granularity`. That is, the numerical value is an integral multiple of the time span value represented by `granularity`.
            granularity:
              type: string
              description: Subsample granularities suitable for intraday data.
              default: 1h
              x-enum-description:
              - Each subsample interval encompasses 1 second.
              - Each subsample interval encompasses 5 seconds.
              - Each subsample interval encompasses 10 seconds.
              - Each subsample interval encompasses 30 seconds.
              - Each subsample interval encompasses 1 minute.
              - Each subsample interval encompasses 5 minutes.
              - Each subsample interval encompasses 10 minutes.
              - Each subsample interval encompasses 15 minutes.
              - Each subsample interval encompasses 30 minutes.
              - Each subsample interval encompasses 1 hour.
              enum:
              - 1s
              - 5s
              - 10s
              - 30s
              - 1m
              - 5m
              - 10m
              - 15m
              - 30m
              - 1h
            newestFirst:
              type: boolean
              default: false
              description: Deliver the chronological last part of the requested data first.
            adjustments:
              type: object
              x-property-sort:
              - split
              description: Adjustments values returned.
              properties:
                split:
                  type: boolean
                  default: true
                  description: Adjustments are applied for corporate action effects due to the notation having a split, a reverse split, or a similar factor-based corporate action.
          required:
          - identifier
          - range
          example: example_value
        meta:
          type: object
          description: The meta member contains the meta information of the request.
          properties:
            attributes:
              $ref: '#/components/schemas/AttributesMember'
            pagination:
              type: object
              description: Pagination attributes for the cursor-based pagination strategy.
              properties:
                cursor:
                  type: string
                  maxLength: 50
                  description: Starting point as returned in the attributes `pagination.next` or `pagination.previous` by a prior invocation of this endpoint, or undefined (default).
                limit:
                  type: number
                  format: int32
                  minimum: 0
                  maximum: 5000
                  default: 20
                  description: Non-negative maximum number of entries to return.
              x-property-sort:
              - cursor
              - limit
          x-property-sort:
          - attributes
          - pagination
          example: example_value
    CursorBasedPaginationOutputObjectWithoutTotal:
      type: object
      description: Pagination attributes for the cursor-based pagination strategy; a total element count is not supported.
      properties:
        next:
          type: string
          description: The next cursor position to use in the parameter `pagination.cursor` for an endpoint that supports cursor-based pagination, otherwise `null`.
          example: example_value
        previous:
          type: string
          description: The previous cursor position to use in the parameter `pagination.cursor` for an endpoint that supports cursor-based pagination. If a previous cursor position is not supported or available, `previous` is `null`.
          example: example_value
      required:
      - next
      - previous
      x-property-sort:
      - next
      - previous
  securitySchemes:
    FactSetOAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://auth.factset.com/as/token.oauth2
          scopes: {}
    FactSetApiKey:
      type: http
      scheme: basic
externalDocs:
  description: API Documentation
  url: https://developer.factset.com/api-catalog/
x-interface-version: 2
x-documenter-version: 6.3.9
x-api-version: 4.4.0
