openapi: 3.0.3
info:
  title: Factset Analytics Datastore About Income API
  description: Allow clients to fetch precalculated Analytics through predeterministic URLs.
  contact:
    name: FactSet Research Systems
    url: https://developer.factset.com/contact
    email: api@factset.com
  license:
    name: Apache License, Version 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  version: 1.0.0
servers:
- url: https://api.factset.com
  description: Production
- url: https://api-sandbox.factset.com
  description: Sandbox
security:
- basicAuth: []
tags:
- name: Income
paths:
  /factset-benchmarks/v1/fixed-income-constituents:
    get:
      tags:
      - Income
      summary: Factset Returns the Requested Fixed Income Benchmark Constituents and Respective Weights, Price and Market Value.
      operationId: getFIBenchmarkConstituents
      description: 'Returns the requested Fixed Income Benchmark Constituents and respective Weights, Price and Market Value. You must be authorized for the `ids` requested.

        '
      parameters:
      - $ref: '#/components/parameters/fIConstituentIds'
      - $ref: '#/components/parameters/requestedDate'
      - $ref: '#/components/parameters/currency'
      responses:
        '200':
          description: Fixed Income Constituent data items
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fixedIncomeBenchmarkConstituentsResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      tags:
      - Income
      summary: Factset Returns the Requested Benchmark Constituents and Respective Weights, Price and Market Value.
      description: 'Returns the requested Fixed Income Benchmark Constituents and respective Weights, Price and Market Value. You must be authorized for the `ids` requested.

        '
      operationId: getFIBenchmarkConstituentsForList
      requestBody:
        required: true
        description: Requests Fixed Income Benchmark Constituents for the given identifier and date.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/fixedIncomeBenchmarkConstituentsRequest'
      responses:
        '200':
          description: Fixed Income Constituent data items
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fixedIncomeBenchmarkConstituentsResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /factset-prices/v1/fixed-income:
    get:
      tags:
      - Income
      summary: Factset Gets Pricing for a List of Fixed Income Securities
      operationId: getFixedSecurityPrices
      description: 'Get BID, MID, ASK, and Issuer Entity ID for a list of Fixed Income Securities as of a requested date range. Available for U.S. Corporate, Treasury and Agency bonds, Municipals, and non-U.S. Corporate and Government bonds. To learn more about Fixed Income Prices database, please review [OA:15995](https://my.apps.factset.com/oa/pages/15995)

        '
      parameters:
      - $ref: '#/components/parameters/fixedIds'
      - $ref: '#/components/parameters/startDate'
      - $ref: '#/components/parameters/endDate'
      - $ref: '#/components/parameters/frequencyFi'
      responses:
        '200':
          description: Array of Fixed Income Security prices objects for date range requested
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pricesFixedIncomeResponse'
              examples:
                Fixed Income Price of Apple 4.65% 23-FEB-2046:
                  $ref: '#/components/examples/singleSecurityPricesFixedIncome'
                Fixed Income Prices for Three Security Types:
                  $ref: '#/components/examples/multipleSecurityPricesFixedIncome'
        '400':
          $ref: '#/components/responses/400_2'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403_2'
        '415':
          $ref: '#/components/responses/415_2'
        '500':
          $ref: '#/components/responses/500'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      tags:
      - Income
      summary: Factset Requests Pricing for a List of Fixed Income Securities for Date Range Requested
      description: 'Get BID, MID, ASK, and Issuer Entity ID for a list of Fixed Income Securities as of a requested date range. Available for U.S. Corporate, Treasury and Agency bonds, Municipals, and non-U.S. Corporate and Government bonds. To learn more about Fixed Income Prices database, please review [OA:15995](https://my.apps.factset.com/oa/pages/15995)

        '
      operationId: getFixedSecurityPricesForList
      requestBody:
        required: true
        description: Request object for Fixed Income `Security` prices.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/pricesFixedIncomeRequest'
            examples:
              Single Fixed Income Id Request for One Year of Monthly Prices:
                $ref: '#/components/examples/singleFixedOneYearPost'
              Fixed Income Single Id Request:
                $ref: '#/components/examples/multipleFixedPricesPost'
      responses:
        '200':
          description: Array of Fixed Income Security prices objects
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pricesFixedIncomeResponse'
              examples:
                Fixed Income Price of Apple 4.65% 23-FEB-2046:
                  $ref: '#/components/examples/singleSecurityPricesFixedIncome'
                Fixed Income Prices for Three Security Types:
                  $ref: '#/components/examples/multipleSecurityPricesFixedIncome'
        '400':
          $ref: '#/components/responses/400_2'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403_2'
        '415':
          $ref: '#/components/responses/415_2'
        '500':
          $ref: '#/components/responses/500'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    fixedIncomePrice:
      title: Fixed Income Price Object
      type: object
      properties:
        fsymId:
          description: Factset Security Identifier. Six alpha-numeric characters, excluding vowels, with an -S suffix (XXXXXX-S).
          type: string
          example: NL6DQ8-S
          nullable: true
        date:
          description: Ending date for the period expressed in YYYY-MM-DD format.
          type: string
          format: date
          example: '2020-06-09'
          nullable: true
        securityType:
          description: "Returns the security type code of fixed income instruments.\n  * AGCY - Agency\n  * BDNT - Bond/Note\n  * BDWT  - Bond with Warrants\n  * BKAC  - Bankers Acceptance\n  * BLDN - Bill/Discount Note\n  * BOND  - Bond\n  * CAP  - Embedded ceiling or short interest rates\n  * CAPS - Capital Security\n  * CAPT - Capital Trust Security\n  * CD - Certificate of Deposit (Munis)\n  * CDO - Collateralized Debt Obligation\n  * CMO  - Collateralized mortgage obligation\n  * COMP - Commercial Paper\n  * CONV - Convertible/Exchangeable\n  * CONVP - Convertible Preferred\n  * CORP - Corporate\n  * COVR - Covered Bond\n  * CP  - Commercial Paper\n  * CRL - Credit Linked Security\n  * DEB - Debenture\n  * DERI  - Derivative (generic type)\n  * EBON - Eurobond\n  * EQL - Equity Linked Security\n  * FORW  - Forward deliveries\n  * GRTR  - Grantor trust\n  * HY - Hypotheken Pfandbriefe\n  * IIDX - Inflation Indexed Security\n  * INVF  - Inverse floaters\n  * LAUTH - Local Authority/Political Division\n  * LINK  - Linked securities\n  * LKS - Linked Securities\n  * MAPL - Mixed Asset Portfolio Linked Security\n  * MM - Money Market\n  * NOTE  - Note\n  * OF - Obligations Foncires\n  * OPTN  - Options\n  * OTHL - Other Linked Security\n  * PAYS  - Payment streams\n  * PFD - Preferred\n  * PFND - Pfandbriefe\n  * POOL  - Pooled derivatives\n  * PSEC - Preferred Security\n  * PSTK - Preferred Stock\n  * REPO  - REPOS\n  * RMIC  - REMIC\n  * SHFL  - Short floats (auction)\n  * STRIPS - STRIPS\n  * SWAP  - Embedded swaps\n  * TR  - Trust\n  * TRUPS - Trust Preferred Security\n"
          type: string
          example: BDNT
          nullable: true
        issuerEntityId:
          description: Fixed Income Issuer Entity ID (-E).
          type: string
          example: 000C7F-E
          nullable: true
        issuerType:
          description: "Returns the issuer type code of fixed income instruments.\n  * AGCY - Agency\n  * CORP - Corporate\n  * LAUTH - Local Authority/Political Division\n  * MUNI - Municipals\n  * SOV - Sovereign\n  * SUPR - Supranational\n  * SCOL - Securitized/Collateralized\n"
          type: string
          example: CORP
          nullable: true
        priceBid:
          description: BID PRICE. For North American issues, the value is an evaluated price, where available, else it is an exchange-traded price. Please note that distinct Bid and Ask Prices are not available for North American issues; Bid, Mid, and Ask Prices will be identical for North American issues. For issues outside of North America (International), the value is an evaluated price. Please note that distinct Bid and Ask Prices are only available for issues outside of North America. By default, the Mid Price is returned for issues outside of North America.
          type: number
          format: double
          example: 134.959
          nullable: true
        priceMid:
          description: MID Price. For North American issues, the value is an evaluated price, where available, else it is an exchange-traded price. Please note that distinct Bid and Ask Prices are not available for North American issues; Bid, Mid, and Ask Prices will be identical for North American issues. For issues outside of North America (International), the value is an evaluated price. Please note that distinct Bid and Ask Prices are only available for issues outside of North America. By default, the Mid Price is returned for issues outside of North America.
          type: number
          format: double
          example: 137.695
          nullable: true
        priceAsk:
          description: ASK Price. For North American issues, the value is an evaluated price, where available, else it is an exchange-traded price. Please note that distinct Bid and Ask Prices are not available for North American issues; Bid, Mid, and Ask Prices will be identical for North American issues. For issues outside of North America (International), the value is an evaluated price. Please note that distinct Bid and Ask Prices are only available for issues outside of North America. By default, the Mid Price is returned for issues outside of North America.
          type: number
          format: double
          example: 134.959
          nullable: true
        requestId:
          description: Identifier that was used for the request.
          type: string
          example: 037833BX
    requestedDate:
      title: Date
      type: string
      description: Date of holding expressed in YYYY-MM-DD format.
      example: '2020-08-06'
    endDate:
      type: string
      description: 'The end date requested for a given date range in **YYYY-MM-DD** format. If left blank, the API will default to previous close. Future dates (T+1) are not accepted in this endpoint.

        '
      example: '2019-12-31'
    pricesFixedIncomeRequest:
      title: Fixed Income Request Body
      description: Fixed Income Request Body
      type: object
      properties:
        ids:
          $ref: '#/components/schemas/fixedIds'
        startDate:
          $ref: '#/components/schemas/startDate'
        endDate:
          $ref: '#/components/schemas/endDate'
        frequency:
          $ref: '#/components/schemas/frequencyFi'
      required:
      - ids
    fixedIncomeBenchmarkConstituent:
      title: Benchmark Constituent
      type: object
      properties:
        fsymId:
          type: string
          description: Benchmark Id
          example: LHMN0001
          nullable: true
        date:
          description: Date of weight and shares.
          type: string
          format: date
          example: '2021-04-12'
          nullable: true
        fsymSecurityId:
          description: FactSet Security Identifier (-S).
          type: string
          example: FV4SC0-S
          nullable: true
        weightClose:
          description: Weight of Security in benchmark (percent).
          type: number
          format: double
          example: 0.00303380596473456
          nullable: true
        amountOutstanding:
          description: Amount Outstanding for the Fixed Income Security.
          type: number
          format: double
          example: 700000
          nullable: true
        price:
          description: Fixed Income Price of security held.
          type: number
          format: double
          example: 106.976
          nullable: true
        adjMarketValue:
          description: Market value adjusted. Market Value represented in Millions.
          type: number
          format: double
          example: 757.233375
          nullable: true
        requestId:
          type: string
          description: Identifier specified in the request
          example: LHMN0001
    fIConstituentIds:
      title: Fixed Income Constituent Ids
      type: array
      items:
        type: string
      minItems: 1
      maxItems: 1
      description: Fixed Income Benchmark Identifiers. Reference the helper endpoint **/id-list** to get a sample list of  valid identifiers. You must be authorized for the `ids` requested, otherwise you will receive an error.
      example:
      - LHMN0001
    errorResponse:
      type: object
      title: Error Response
      properties:
        status:
          description: status
          type: string
          example: Bad Request
        timestamp:
          description: timestamp in YYYY-MM-DD HH:MM:SS.SSS
          type: string
          example: '2019-11-01 11:09:41.918'
          format: date-time
        path:
          description: The Endpoint path {package}/version/{endpoint}
          type: string
          example: /factset-benchmarks/v1/{endpoint}
        message:
          description: The plain text error message
          type: string
          example: Validation Error
        subErrors:
          description: subErrors related to the error message. Null if not applicable.
          type: object
          properties:
            object:
              description: the operation ID
              type: string
            field:
              description: Parameter Field Name
              type: string
            message:
              description: Error message
              type: string
            rejectedValue:
              description: Rejected Values in an Array
              type: array
              items:
                type: string
          example: example_value
    pricesFixedIncomeResponse:
      type: object
      title: Fixed Income Prices Response
      properties:
        data:
          description: Array of Price Objects
          type: array
          items:
            $ref: '#/components/schemas/fixedIncomePrice'
          example: []
    currency:
      title: Currency
      type: string
      description: Currency for response.
      example: USD
    fixedIncomeBenchmarkConstituentsRequest:
      type: object
      title: Fixed Income Benchmark Constituents Request
      properties:
        ids:
          $ref: '#/components/schemas/fIConstituentIds'
        date:
          $ref: '#/components/schemas/requestedDate'
        currency:
          $ref: '#/components/schemas/currency'
      required:
      - ids
    errorResponse_2:
      type: object
      title: Error Response
      properties:
        status:
          description: status
          type: string
          example: Bad Request
        timestamp:
          description: timestamp in YYYY-MM-DD HH:MM:SS.SSS
          type: string
          example: '2019-11-01 11:09:41.918'
          format: date-time
        path:
          description: The Endpoint path {package}/version/{endpoint}
          type: string
          example: /factset-prices/v1/prices
        message:
          description: The plain text error message
          type: string
          example: Validation Error
        subErrors:
          description: subErrors related to the error message. Null if not applicable.
          type: object
          properties:
            object:
              description: the operation ID
              type: string
            field:
              description: Parameter Field Name
              type: string
            message:
              description: Error message
              type: string
            rejectedValue:
              description: Rejected Values in an Array
              type: array
              items:
                type: string
          example: example_value
    startDate:
      type: string
      description: 'The start date requested for a given date range in **YYYY-MM-DD** format. If left blank, the API will default to previous close. Future dates (T+1) are not accepted in this endpoint.

        '
      example: '2019-01-01'
    fixedIncomeBenchmarkConstituentsResponse:
      title: Fixed Income Benchmark Constituents Response
      type: object
      properties:
        data:
          description: 'Array of metric objects representing the metrics that can be requested

            from the estimates APIs.

            '
          type: array
          items:
            $ref: '#/components/schemas/fixedIncomeBenchmarkConstituent'
          example: []
    fixedIds:
      type: array
      items:
        type: string
      minItems: 1
      maxItems: 2000
      description: 'The requested list of Fixed Income Security Identifiers.

        '
      example:
      - 037833BX
    frequencyFi:
      type: string
      enum:
      - D
      - M
      - AM
      - MTD
      - CQ
      - CQTD
      - AY
      - CY
      - CYTD
      default: D
      description: "Controls the display frequency of the data returned.\n  * **D** = Daily\n  * **M** = Monthly, based on the last trading day of the month.\n  * **AM** = Monthly, based on the start date (e.g., if the start date is June 16, data is displayed for June 16, May 16, April 16 etc.).\n  * **MTD** = Month-to-date\n  * **CQ** = Quarterly based on the last trading day of the calendar quarter (March, June, September, or December).\n  * **CQTD** =  Calendar quarter-to-date\n  * **AY** = Actual Annual, based on the start date.\n  * **CY** = Calendar Annual, based on the last trading day of the calendar year.\n  * **CYTD** = Calendar Year-to-date.\n"
      example: M
  responses:
    '400_2':
      description: Bad Request. This can occur for several reasons. Please review the "message" for more details.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponse_2'
          examples:
            Bad Request - Date Format:
              $ref: '#/components/examples/badRequestDateFormat_2'
            Bad Request - Missing Required Parameter:
              $ref: '#/components/examples/badRequestRequiredParameter_2'
            Bad Request - Future Date:
              $ref: '#/components/examples/badRequestFutureDate_2'
            Bad Request - Invalid Parameter:
              $ref: '#/components/examples/badRequestInvalidParameters_2'
            Bad Request - Malformed JSON:
              $ref: '#/components/examples/badRequestMalformedJSON_2'
            Bad Request - Read Timeout:
              $ref: '#/components/examples/badRequestReadTimeout_2'
    '401':
      description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and have successfully generated an API KEY for the IP range you are connecting from. For more help, select the **Report Issue** in the top right corner of this Developer Portal specification card and choose Connectivity 401 or 403 Responses.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponse'
          examples:
            Bad Request - Date Format:
              $ref: '#/components/examples/unauthenticated'
    '415':
      description: Unsupported Media Type. This error may be returned when the caller sends a resource in a format that is not accepted by the server. This can be fixed by ensuring that Content-Type header is set to the correct value. In this instance, "application/json" would be the appropriate value.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponse'
          examples:
            Bad Request - Unsupported Media Type:
              $ref: '#/components/examples/unsupportedMediaType'
    '415_2':
      description: Unsupported Media Type. This error may be returned when the caller sends a resource in a format that is not accepted by the server. This can be fixed by ensuring that Content-Type header is set to the correct value. In this instance, "application/json" would be the appropriate value.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponse_2'
          examples:
            Bad Request - Date Format:
              $ref: '#/components/examples/unsupportedMediaType_2'
    '403':
      description: The USERNAME-SERIAL attempted to request the endpoint is not authorized to access. The request was a legal request, but the server is refusing to respond. Please reach out to FactSet Account Team for assistance with authorization.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponse'
          examples:
            Bad Request - forbidden:
              $ref: '#/components/examples/forbidden'
    '403_2':
      description: The USERNAME-SERIAL attempted to request the endpoint is not authorized to access. The request was a legal request, but the server is refusing to respond. Please reach out to FactSet Account Team for assistance with authorization.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponse_2'
          examples:
            Bad Request - Date Format:
              $ref: '#/components/examples/forbidden_2'
    '500':
      description: Internal Server Error.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponse'
          examples:
            Internal Server Error - Not Writable:
              $ref: '#/components/examples/notWritable'
            Internal Server Error - General Exception:
              $ref: '#/components/examples/generalException'
    '400':
      description: Bad Request. This can occur for several reasons. Please review the "message" for more details.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponse'
          examples:
            Bad Request - Date Format:
              $ref: '#/components/examples/badRequestDateFormat'
            Bad Request - Missing Required Parameter:
              $ref: '#/components/examples/badRequestRequiredParameter'
            Bad Request - Future Date:
              $ref: '#/components/examples/badRequestFutureDate'
            Bad Request - Invalid Parameter:
              $ref: '#/components/examples/badRequestInvalidParameters'
            Bad Request - More Than One Benchmark Identifier:
              $ref: '#/components/examples/badRequestMoreThanOneBenchmarkIdentifier'
            Bad Request - Malformed JSON:
              $ref: '#/components/examples/badRequestMalformedJSON'
            Bad Request - Read Timeout:
              $ref: '#/components/examples/badRequestReadTimeout'
  examples:
    forbidden_2:
      summary: Forbidden
      description: The USERNAME-SERIAL attempted to request the endpoint is not authorized to access. The request was a legal request, but the server is refusing to respond. Please reach out to FactSet Account Team for assistance with authorization.
      value:
        status: Forbidden
        timestamp: '2020-06-12 16:08:51.731'
        path: /factset-prices/v1/{endpoint}
        message: USERNAME-SERIAL does not have permission to use /factset-prices/v1/{endpoint}
        subErrors: null
    badRequestInvalidParameters:
      summary: Bad Request - Passing invalid Benchmark Identifier
      description: This error message occurs when user is passing Invalid Identifier. Please use the helper endpoint */id-list* for sample Benchmark Identifiers.
      value:
        status: Forbidden
        timestamp: '2020-07-10 15:01:43.634'
        path: /factset-benchmarks/v1/constituents
        message: User is not authorized for the id requested, please reach out to FactSet for support
        subErrors: null
    badRequestInvalidParameters_2:
      summary: Bad Request - Invalid Parameters
      description: This error message occurs when a request parameter is used in which is not recognized by the service. Please revise your request to include only the parameters listed in the specification. Typical causes are spelling mistakes and use of improper casing.
      value:
        status: Bad Request
        timestamp: '2020-06-12 15:58:54.068'
        path: /factset-prices/v1/{endpoint}
        message: 'Invalid Parameter (s): fakeParameterName1 fakeParameterName2. Please modify your request to use parameters outlined in the specification for this endpoint.'
        subErrors: null
    badRequestMoreThanOneBenchmarkIdentifier:
      summary: Bad Request - More Than One Benchmark Identifier
      description: This error message occurs when user is passing more than one identifier as an input.
      value:
        status: Bad Request
        timestamp: '2020-07-02 12:37:52.731'
        path: /factset-benchmarks/v1/constituents
        message: You submitted 2 ids. The max number of ids you may submit is 1. Please try again with fewer ids.
        subErrors: null
    badRequestDateFormat:
      summary: Bad Request - Date Format
      description: This bad request occurs when a request doesn't use the YYYY-MM-DD in the date parameters. To resolve, convert your date to YYYY-MM-DD.
      value:
        status: Bad Request
        timestamp: '2020-07-02 11:52:36.464'
        path: /factset-benchmarks/v1/{endpoint}
        message: 'The date parameter must be in the following date format: YYYY-MM-DD'
        subErrors: null
    notWritable:
      summary: Internal Server Error - Not Writable
      description: This error may be returned when the server encounters an error writing the JSON response.
      value:
        status: Internal Server Error
        timestamp: '2019-11-05 09:48:29.18'
        path: /factset-benchmarks/v1/{endpoint}
        message: Error writing JSON output
        subErrors: null
    multipleFixedPricesPost:
      summary: Latest Daily Fixed Income Prices for three Fixed Income Securities
      description: Latest Daily Fixed Income Prices for three Fixed Income Securities
      value:
        ids:
        - 037833BX
        - 853207EZ
        - 9127963H
        frequency: D
    badRequestReadTimeout_2:
      summary: Bad Request - Read Timeout
      description: This error may be returned if it takes more than 29 seconds to hear back from the data fetch service.
      value:
        status: Bad Request
        timestamp: '2019-11-04 16:18:38.949'
        path: /factset-prices/v1/{endpoint}
        message: The request took too long. Try again with a smaller request.
        subErrors: null
    multipleSecurityPricesFixedIncome:
      summary: Multiple Fixed Income Prices for a sample of different Security Types
      description: Multiple Fixed Income Prices for a sample of different Security Types
      value:
        data:
        - fsymId: MCCBMM-S
          date: '2020-07-13'
          securityType: BDNT
          issuerEntityId: 000C7F-E
          issuerType: CORP
          priceBid: 141.212
          priceMid: 141.212
          priceAsk: 141.212
          requestId: 037833BX
        - fsymId: R388JW-S
          date: '2020-07-13'
          securityType: BOND
          issuerEntityId: 0DN2GL-E
          issuerType: MUNI
          priceBid: 100.091
          priceMid: 100.238
          priceAsk: 100.384
          requestId: 853207EZ
        - fsymId: SG86MQ-S
          date: '2020-07-13'
          securityType: BLDN
          issuerEntityId: 05MCSG-E
          issuerType: SOV
          priceBid: 99.847
          priceMid: 99.847
          priceAsk: 99.847
          requestId: 9127963H
    badRequestDateFormat_2:
      summary: Bad Request - Date Format
      description: This bad request occurs when a request doesn't use the YYYY-MM-DD in the date parameters. To resolve, convert your date to YYYY-MM-DD.
      value:
        status: Bad Request
        timestamp: '2019-10-31 16:08:07.945'
        path: /factset-prices/v1/{endpoint}
        message: 'The date parameter ''startDate'' must be in the following date format: YYYY-MM-DD'
        subErrors: null
    singleSecurityPricesFixedIncome:
      summary: Single Fixed Income Price Record for Apple Inc. 4.65% 23-FEB-2046
      description: Single Fixed Income Price Record for Apple Inc. 4.65% 23-FEB-2046
      value:
        data:
        - fsymId: MCCBMM-S
          date: '2020-07-13'
          securityType: BDNT
          issuerEntityId: 000C7F-E
          issuerType: CORP
          priceBid: 141.212
          priceMid: 141.212
          priceAsk: 141.212
          requestId: 037833BX
    unsupportedMediaType:
      summary: Unsupported Media Type
      description: This bad request occurs when the media type passed in the request is not supported. Currently the APIs only support 'application/json'.
      value:
        status: Unsupported Media Type
        timestamp: '2020-07-02 09:42:27.237'
        path: /factset-benchmarks/v1/{endpoint}
        message: text/html media type is not supported. Supported media types are application/json
        subErrors: null
    badRequestRequiredParameter_2:
      summary: Bad Request - Required Parameter Missing
      description: This error message occurs when the request does not include the required parameters. Required parameters are indicated with a red asterisks symbol in the specification file.
      value:
        status: Bad Request
        timestamp: '2020-06-12 15:48:42.016'
        path: /factset-prices/v1/{endpoint}
        message: The parameter 'ids' is required and may not be empty.
        subErrors: null
    generalException:
      summary: Internal Server Error - General Exception
      description: This is the most general error that can be returned to by the service. Please `Report Issue` to FactSet.
      value:
        status: Internal Server Error
        timestamp: '2019-11-01 10:36:01.944'
        path: /factset-benchmarks/v1/{endpoint}
        message: Unexpected error
        subErrors: null
    badRequestFutureDate_2:
      summary: Bad Request - Future Date
      description: This error message occurs when a future date is requested in the startDate and endDate parameters. Please revise your request to include dates as of today's current date or any prior historical date.
      value:
        status: Bad Request
        timestamp: '2020-06-12 15:52:48.091'
        path: /factset-prices/v1/{endpoint}
        message: The use of future dates is not applicable in this endpoint. Please revise your request to include dates up to today's current date.
        subErrors: null
    badRequestReadTimeout:
      summary: Bad Request - Read Timeout
      description: This error may be returned if it takes more than 29 seconds to hear back from the data fetch service.
      value:
        status: Bad Request
        timestamp: '2020-07-02 16:18:38.949'
        path: /factset-benchmarks/v1/{endpoint}
        message: The request took too long. Try again with a smaller request.
        subErrors: null
    badRequestFutureDate:
      summary: Bad Request - Future Date
      description: This error message occurs when a future date is requested in the date parameters. Please revise your request to include dates as of today's current date or any prior historical date.
      value:
        status: Bad Request
        timestamp: '2020-06-30 13:38:36.528'
        path: /factset-benchmarks/v1/{endpoint}
        message: The use of future dates is not applicable in this endpoint. Please revise your request to include dates up to today's current date.
        subErrors: null
    forbidden:
      summary: Forbidden
      description: The USERNAME-SERIAL attempted to request the endpoint/ID which is not authorized to access. The request was a legal request, but the server is refusing to respond. Please reach out to FactSet Account Team for assistance with authorization.
      value:
        status: Forbidden
        timestamp: '2020-07-02 17:21:52.197'
        path: /factset-benchmarks/v1/{endpoint}
        message: User is not authorized for the id requested, please reach out to FactSet for support
        subErrors: null
    unauthenticated:
      summary: User Authentication Failed
      description: This occurs when a user is not properly authenticated or recognized by the service. Please double check the USERNAME-SERIAL and API-Key used to request and ensure you are within the IP range specified for the Key. Report Issue under 401 error for help with troubleshooting.
      value:
        status: User Authentication Failed
        timestamp: '2020-07-02 16:08:07.945'
        path: /factset-benchmarks/v1/{endpoint}
        message: User Authentication Failed.
        subErrors: null
    unsupportedMediaType_2:
      summary: Unsupported Media Type
      description: This bad request occurs when the media type passed in the request is not supported. Currently the APIs only support 'application/json'.
      value:
        status: Unsupported Media Type
        timestamp: '2019-11-05 09:42:27.237'
        path: /factset-prices/v1/{endpoint}
        message: text/html media type is not supported. Supported media types are application/json
        subErrors: null
    badRequestMalformedJSON:
      summary: Bad Request - Malformed JSON Request
      description: This error may be returned when the request body is specified as JSON. But is not in proper JSON format.
      value:
        status: Bad Request
        timestamp: '2020-07-02 11:59:09.649'
        path: /factset-benchmarks/v1/{endpoint}
        message: Malformed JSON Request
        subErrors: null
    singleFixedOneYearPost:
      summary: One Year of Daily Fixed Income Prices for Apple Inc. 4.65% 23-FEB-2046 in Calendar 2019 Year
      description: One Year of Daily Fixed Income Prices for Apple Inc. 4.65% 23-FEB-2046 in Calendar 2019 Year
      value:
        ids:
        - 037833BX
        startDate: '2019-01-01'
        endDate: '2019-12-31'
        frequency: D
    badRequestRequiredParameter:
      summary: Bad Request - Required Parameter Missing
      description: This error message occurs when the request does not include the required parameters. Required parameters are indicated with a red asterisks symbol in the specification file.
      value:
        status: Bad Request
        timestamp: '2020-06-30 13:22:09.053'
        path: /factset-benchmarks/v1/{endpoint}
        message: The parameter 'ids' is required and may not be empty.
        subErrors: null
    badRequestMalformedJSON_2:
      summary: Bad Request - Malformed JSON Request
      description: This error may be returned when the request body is specified as JSON, but is not in proper JSON format.
      value:
        status: Bad Request
        timestamp: '2019-11-05 09:48:29.18'
        path: /factset-prices/v1/{endpoint}
        message: Malformed JSON Request
        subErrors: null
  parameters:
    frequencyFi:
      name: frequency
      in: query
      schema:
        type: string
        enum:
        - D
        - M
        - AM
        - MTD
        - CQ
        - CQTD
        - AY
        - CY
        - CYTD
        default: D
      description: "Controls the display frequency of the data returned.\n  * **D** = Daily\n  * **M** = Monthly, based on the last trading day of the month.\n  * **AM** = Monthly, based on the start date (e.g., if the start date is June 16, data is displayed for June 16, May 16, April 16 etc.).\n  * **MTD** = Month-to-date\n  * **CQ** = Quarterly based on the last trading day of the calendar quarter (March, June, September, or December).\n  * **CQTD** =  Calendar quarter-to-date\n  * **AY** = Actual Annual, based on the start date.\n  * **CY** = Calendar Annual, based on the last trading day of the calendar year.\n  * **CYTD** = Calendar Year-to-date.\n"
      examples:
        Daily:
          summary: D - Daily frequency display based on trading calendar
          value: D
        Month-to-date:
          summary: MTD - Month-to-date
          value: MTD
        Monthly:
          summary: M - Monthly - based on the last trading day of the month.
          value: M
        Actual Month:
          summary: AM - Actual Month - based on the startDate (e.g., if the start date is June 16, data is displayed for June 16, May 16, April 16 etc.).
          value: AM
        Calendar Quarterly:
          summary: CQ - Calendar Quarterly - based on the last day of the week of the startDate
          value: CQ
        Calendar quarter-to-date:
          summary: CQTD - Calendar quarter-to-date
          value: CQTD
        Actual Annual:
          summary: AY - Actual Annual - based on the startDate
          value: AY
        Calendar Annual:
          summary: CY - Calendar Annual - based on the last trading day of the calendar year.
          value: CY
        Calendar Year-to-date:
          summary: CYTD - Calendar Year-to-date
          value: CYTD
    startDate:
      name: startDate
      in: query
      required: false
      schema:
        type: string
      description: 'The start date requested for a given date range in **YYYY-MM-DD** format. If left blank, the API will default to previous close. Future dates (T+1) are not accepted in this endpoint.

        '
      example: '2019-01-01'
    requestedDate:
      name: date
      in: query
      required: false
      schema:
        type: string
      description: Date of holding expressed in YYYY-MM-DD format.
    endDate:
      name: endDate
      in: query
      required: false
      schema:
        type: string
      description: 'The end date requested for a given date range in **YYYY-MM-DD** format. If left blank, the API will default to previous close. Future dates (T+1) are not accepted in this endpoint.

        '
      example: '2019-12-31'
    currency:
      name: currency
      in: query
      required: false
      schema:
        type: string
      description: Currency for response.
    fIConstituentIds:
      name: ids
      in: query
      required: true
      explode: false
      schema:
        type: array
        items:
          type: string
        minItems: 1
        maxItems: 1
      example: LHMN0001
      description: Fixed Income Benchmark Identifiers. You must be authorized for the `ids` requested, otherwise you will receive an error. <p>***ids limit** =  1 per request*</p>
    fixedIds:
      name: ids
      in: query
      schema:
        type: array
        items:
          type: string
        minItems: 1
        maxItems: 2000
      required: true
      explode: false
      description: The requested list of Fixed Income security identifiers. <p>***ids limit** =  2000 per request*</p> *<p>Make note, GET Method URL request lines are also limited to a total length of 8192 bytes (8KB). In cases where the service allows for thousands of ids, which may lead to exceeding this request line limit of 8KB, its advised for any requests with large request lines to be requested through the respective "POST" method.</p>*
      examples:
        oneFixedId:
          summary: One Fixed Income Identifier
          value:
          - 037833BX
        multipleFixedIds:
          summary: Multiple Fixed Income Identifiers and Types
          value:
          - 037833BX
          - 853207EZ
          - 9127963H
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
externalDocs:
  url: https://developer.factset.com/api-catalog/analytics-datastore-api
  description: API Documentation
