openapi: 3.0.3
info:
  title: Factset Analytics Datastore About Ranges API
  description: Allow clients to fetch precalculated Analytics through predeterministic URLs.
  contact:
    name: FactSet Research Systems
    url: https://developer.factset.com/contact
    email: api@factset.com
  license:
    name: Apache License, Version 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  version: 1.0.0
servers:
- url: https://api.factset.com
  description: Production
- url: https://api-sandbox.factset.com
  description: Sandbox
security:
- basicAuth: []
tags:
- name: Ranges
paths:
  /debtInstrument/notation/screener/valueRanges/get:
    post:
      tags:
      - Ranges
      operationId: post/debtInstrument/notation/screener/valueRanges/get
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Factset Possible Values and Value Ranges for the Parameters Used in the Endpoint `/debtinstrument/notation/screener/search.`
      description: The endpoint returns the possible values and value ranges for the parameters used in the endpoint `/debtInstrument/notation/screener/search`. It allows to request the values and value ranges only for a restricted set of notations that match predefined parameters. The functionality may be used to pre-fill the values and value ranges of the parameters of the `/debtInstrument/notation/screener/search` endpoint so that performing a search always leads to a non-empty set of notations. If more than one notation of an instrument matches the parameters, and no market priority has been specified, only the notation with the highest trading volume, averaged over one month, is considered.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostDebtInstrumentNotationScreenerValueRangesGetRequest'
      responses:
        '200':
          $ref: '#/components/responses/PostDebtInstrumentNotationScreenerValueRangesGet200Response'
      parameters: []
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /securitizedDerivative/notation/screener/valueRanges/get:
    post:
      tags:
      - Ranges
      operationId: post/securitizedDerivative/notation/screener/valueRanges/get
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Factset Possible Values and Value Ranges for the Parameters Used in the Endpoint `/securitizedderivative/notation/screener/search`.
      description: "The endpoint returns the possible values and value ranges for the parameters used in the endpoint `/securitizedDerivatives/notation/screener/search`. It allows to request the values and value ranges only for a restricted set of notations that match predefined parameters. If more than one notation of an instrument matches the parameters, and no market priority has been specified, only the notation with the highest trading volume, averaged over one month, is considered. The functionality may be used to pre-fill the values and value ranges of the parameters of the `/securitizedDerivatives/notation/screener/search` endpoint so that performing a search always leads to a non-empty list of notations. Lists of distinct values, e.g. identifiers, are sorted descending by the number of notations for each value.\n\n Since some underlyings, e.g. an index or a performance difference of a stock and an index (alpha structure), do not represent a directly tradable asset, they do not have a price in the classical\nsense. Therefore, the term \"level\" is used instead of \"price\", e.g. underlying level instead of underlying price.\n\n The endpoint does not support possible values and value ranges for securitized derivatives with multiple underlyings, thus only securitized derivatives with a single underlying are considered.\n\n The possible values and value ranges can be restricted to a specific set of products by using customer-specific instrument or notation lists. Such restriction lists are set up by FactSet upon request."
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostSecuritizedDerivativeNotationScreenerValueRangesGetRequest'
      responses:
        '200':
          $ref: '#/components/responses/PostSecuritizedDerivativeNotationScreenerValueRangesGet200Response'
      parameters: []
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /stock/notation/screener/valueRanges/get:
    post:
      tags:
      - Ranges
      operationId: post/stock/notation/screener/valueRanges/get
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Possible values and value ranges for the parameters used in the endpoint `/stock/notation/screener/search`.
      description: The endpoint returns the possible values and value ranges for the parameters used in the endpoint `/stock/notation/screener/search`. It allows to request the values and value ranges only for a restricted set of notations that match predefined parameters. The functionality may be used to pre-fill the values and value ranges of the parameters of the `/stock/notation/screener/search` endpoint so that performing a search always leads to a non-empty set of notations. If more than one notation of an instrument matches the parameters, and no market priority has been specified, only the notation with the highest trading volume, averaged over one month, is considered. For more information regarding the performance and volatility parameters, see the information available in the group description of the `/notation/keyFigures/` endpoints.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostStockNotationScreenerValueRangesGetRequest'
      responses:
        '200':
          $ref: '#/components/responses/PostStockNotationScreenerValueRangesGet200Response'
      parameters: []
components:
  schemas:
    PostDebtInstrumentNotationScreenerValueRangesGetRequest:
      type: object
      properties:
        data:
          type: object
          x-property-sort:
          - validation
          - lifeCycle
          - subordinated
          - rating
          - issuer
          - issue
          - tradingVolume
          - compliance
          - coupon
          - yield
          - macaulayDuration
          - sensitivities
          - tradedValue
          description: The data member contains the request's primary data.
          properties:
            validation:
              description: Validation parameters.
              type: object
              x-property-sort:
              - onlyActive
              - onlyNotSuspended
              - prices
              - valueUnit
              - market
              - instrumentSelectionList
              - notationSelectionList
              - categorization
              properties:
                onlyActive:
                  description: If `true`, only active notations will be returned. The term "active" reflects the fact that notations and related data is not being deleted immediately after becoming irrelevant (e.g. because the source does not provide a price anymore), but remains in general retrievable for up to 6 months.
                  type: boolean
                  default: true
                onlyNotSuspended:
                  description: If `true`, only notations not suspended from trading will be returned.
                  type: boolean
                  default: false
                prices:
                  description: Price-related parameters.
                  type: object
                  x-property-sort:
                  - quality
                  - latest
                  - previous
                  properties:
                    quality:
                      type: string
                      description: Quality of the price.
                      default: DLY
                      x-enum-description:
                      - 'Delayed: intraday prices with an exchange-imposed delay of usually 15 to 30 minutes.'
                      - 'End-of-day: prices updated once per day after the close of trading, possibly with an exchange-imposed delay of several hours or days.'
                      enum:
                      - DLY
                      - EOD
                    latest:
                      description: Parameters related to the presence and age of the most recent trade price.
                      type: object
                      x-property-sort:
                      - availableOnly
                      - minimumDate
                      properties:
                        availableOnly:
                          description: If `true`, only notations for which a trade price (even an outdated one) is available will be returned.
                          type: boolean
                        minimumDate:
                          description: Earliest admissible date of the most recent trade price.
                          type: string
                          format: date
                    previous:
                      description: Parameters related to the presence and age of a trade price from a preceding trading day.
                      type: object
                      x-property-sort:
                      - availableOnly
                      - minimumDate
                      properties:
                        availableOnly:
                          description: If `true`, only notations for which a trade price from a preceding trading day is available will be returned.
                          type: boolean
                        minimumDate:
                          description: Earliest admissible date of the trade price from a preceding trading day.
                          type: string
                          format: date
                valueUnit:
                  description: Value unit selection. See endpoint `/basic/valueUnit/list` for valid values.
                  type: object
                  x-property-sort:
                  - restrict
                  - exclude
                  x-atMostOne: true
                  properties:
                    restrict:
                      description: Specifies the value units a notation may have.
                      type: object
                      x-property-sort:
                      - ids
                      properties:
                        ids:
                          description: Set of value unit identifiers.
                          type: array
                          nullable: false
                          items:
                            type: number
                            format: id32
                            x-positive: true
                          uniqueItems: true
                          maxItems: 50
                    exclude:
                      description: Specifies the value units a notation may not have.
                      type: object
                      x-property-sort:
                      - ids
                      properties:
                        ids:
                          description: Set of value unit identifiers.
                          type: array
                          nullable: false
                          items:
                            type: number
                            format: id32
                            x-positive: true
                          uniqueItems: true
                          maxItems: 50
                market:
                  description: Market-related notation selection. See endpoint `/basic/market/list` for valid values.
                  type: object
                  x-property-sort:
                  - selection
                  - priority
                  properties:
                    selection:
                      description: Market selection.
                      type: object
                      x-property-sort:
                      - restrict
                      - exclude
                      x-atMostOne: true
                      properties:
                        restrict:
                          description: Specifies the markets from which a notation may originate.
                          type: object
                          x-property-sort:
                          - ids
                          properties:
                            ids:
                              description: Set of market identifiers.
                              type: array
                              nullable: false
                              items:
                                type: number
                                format: id32
                                x-positive: true
                              uniqueItems: true
                              maxItems: 100
                        exclude:
                          description: Specifies the markets from which a notation may not originate.
                          type: object
                          x-property-sort:
                          - ids
                          properties:
                            ids:
                              description: Set of market identifiers.
                              type: array
                              nullable: false
                              items:
                                type: number
                                format: id32
                                x-positive: true
                              uniqueItems: true
                              maxItems: 100
                    priority:
                      description: "Sequence of markets specifying the priority order of the markets for the selection of one notation per instrument. If for a given instrument with two matching notations, A and B, the market of notation A precedes the market of notation B in this list or if the market of notation B is not in this list, A is selected. If neither of the markets is in this list, the notation with the highest trading volume, averaged over one month, is selected.        \n The list does not restrict the request to only those markets (use the parameter `market.selection` for that purpose)."
                      type: object
                      x-property-sort:
                      - ids
                      properties:
                        ids:
                          description: List of market identifiers.
                          type: array
                          nullable: false
                          items:
                            type: number
                            format: id32
                            x-positive: true
                          uniqueItems: true
                          maxItems: 100
                instrumentSelectionList:
                  description: Instrument-level restriction or exclusion.
                  type: object
                  x-property-sort:
                  - restrict
                  - exclude
                  x-atMostOne: true
                  properties:
                    restrict:
                      description: Restriction lists. If present, the result contains only notations belonging to debt instruments that are a member of any of the provided lists.
                      type: object
                      x-property-sort:
                      - ids
                      properties:
                        ids:
                          description: Set of identifiers of restriction lists.
                          type: array
                          nullable: false
                          items:
                            type: number
                            format: id32
                            x-positive: true
                          uniqueItems: true
                          maxItems: 3
                    exclude:
                      description: Exclusion lists. If present, the result does not contain notations belonging to debt instruments that are a member of any of the provided lists.
                      type: object
                      x-property-sort:
                      - ids
                      properties:
                        ids:
                          description: Set of identifiers of exclusion lists.
                          type: array
                          nullable: false
                          items:
                            type: number
                            format: id32
                            x-positive: true
                          uniqueItems: true
                          maxItems: 3
                notationSelectionList:
                  description: Notation-level restriction or exclusion.
                  type: object
                  x-property-sort:
                  - restrict
                  - exclude
                  x-atMostOne: true
                  properties:
                    restrict:
                      description: Restriction lists. If present, the result contains only debt instrument notations that are a member of any of the provided lists.
                      type: object
                      x-property-sort:
                      - ids
                      properties:
                        ids:
                          description: Set of identifiers of restriction lists.
                          type: array
                          nullable: false
                          items:
                            type: number
                            format: id32
                            x-positive: true
                          uniqueItems: true
                          maxItems: 3
                    exclude:
                      description: Exclusion lists. If present, the result does not contain debt instrument notations that are a member of any of the provided lists.
                      type: object
                      x-property-sort:
                      - ids
                      properties:
                        ids:
                          description: Set of identifiers of exclusion lists.
                          type: array
                          nullable: false
                          items:
                            type: number
                            format: id32
                            x-positive: true
                          uniqueItems: true
                          maxItems: 3
                categorization:
                  description: Debt instrument categorization. See endpoint `/category/listBySystem` with `id=18` for valid values.
                  type: object
                  x-property-sort:
                  - restrict
                  - exclude
                  x-atMostOne: true
                  properties:
                    restrict:
                      description: Restriction list. Only debt instruments that belong to a category in the provided list are returned.
                      type: object
                      x-property-sort:
                      - ids
                      properties:
                        ids:
                          description: Set of category identifiers.
                          type: array
                          nullable: false
                          items:
                            type: number
                            format: id32
                            x-positive: true
                          uniqueItems: true
                          maxItems: 20
                    exclude:
                      description: Exclusion lists. Debt instruments that belong to a category in the provided list are not returned.
                      type: object
                      x-property-sort:
                      - ids
                      properties:
                        ids:
                          description: Set of category identifiers.
                          type: array
                          nullable: false
                          items:
                            type: number
                            format: id32
                            x-positive: true
                          uniqueItems: true
                          maxItems: 20
            lifeCycle:
              description: Parameters related to important dates.
              type: object
              x-property-sort:
              - issue
              - maturity
              - callable
              properties:
                issue:
                  type: object
                  format: dateRange
                  x-isClosedInterval: true
                  properties:
                    start:
                      type: string
                      format: date
                      description: The starting point of the date range (inclusive), or `null` to indicate that the date range extends indefinitely into the past.
                      x-allowNullValue: true
                    end:
                      type: string
                      format: date
                      description: The ending point of the date range (inclusive), or `null` to indicate that the date range extends indefinitely into the future.
                      x-allowNullValue: true
                  x-property-sort:
                  - start
                  - end
                  required:
                  - start
                  - end
                  description: Date range of the issue date.
                maturity:
                  description: Parameters related to the maturity.
                  type: object
                  x-property-sort:
                  - restriction
                  - perpetual
                  properties:
                    restriction:
                      description: The maturity can be restricted by using one of the parameters `date` or `remainingTermYears` but not both at the same time. If a maturity restriction is set, perpetual instruments, i.e. such that do not mature, are not included in the result unless the parameter `perpetual` is set to "include".
                      type: object
                      x-property-sort:
                      - date
                      - remainingTermYears
                      x-atMostOne: true
                      properties:
                        date:
                          type: object
                          format: dateRange
                          x-isClosedInterval: true
                          properties:
                            start:
                              type: string
                              format: date
                              description: The starting point of the date range (inclusive), or `null` to indicate that the date range extends indefinitely into the past.
                              x-allowNullValue: true
                            end:
                              type: string
                              format: date
                              description: The ending point of the date range (inclusive), or `null` to indicate that the date range extends indefinitely into the future.
                              x-allowNullValue: true
                          x-property-sort:
                          - start
                          - end
                          required:
                          - start
                          - end
                          description: Date range of the maturity date.
                        remainingTermYears:
                          description: Value range for the remaining term to maturity expressed in years.
                          type: object
                          format: realRange
                          properties:
                            minimum:
                              type: object
                              x-property-sort:
                              - value
                              - inclusive
                              description: The minimum of the range, or `null` to indicate that there is no minimum.
                              properties:
                                value:
                                  type: number
                                  format: real
                                  description: The minimum value.
                                inclusive:
                                  type: boolean
                                  description: Indicates whether the minimum value is included in the range or not.
                                  default: true
                              x-allowNullValue: true
                            maximum:
                              type: object
                              x-property-sort:
                              - value
                              - inclusive
                              description: The maximum of the range, or `null` to indicate that there is no maximum.
                              properties:
                                value:
                                  type: number
                                  format: real
                                  description: The maximum value.
                                inclusive:
                                  type: boolean
                                  description: Indicates whether the maximum value is included in the range or not.
                                  default: true
                              x-allowNullValue: true
                          x-property-sort:
                          - minimum
                          - maximum
                    perpetual:
                      type: string
                      description: Defines whether or not perpetual debt instruments, i.e. such that do not mature, are included in the result. The value "only" can be used if both parameters `maturity.restriction.date` and `maturity.restriction.remainingTermYears` are not set.
                      x-enum-description:
                      - Only perpetual debt instruments are included in the result.
                      - Perpetual debt instruments are included in the result even if one of the parameters `maturity.restriction.date` or `maturity.restriction.remainingTermYears` is set.
                      - Perpetual debt instruments are excluded from the result.
                      enum:
                      - only
                      - include
                      - exclude
                callable:
                  type: boolean
                  description: Restricts the result to debt instruments that are callable (`true`) or are not callable (`false`). A callable instrument is one that may be redeemed by the issuer prior to maturity.
            subordinated:
              description: Restricts the result to debt instruments that are subordinated (`true`) or are not subordinated (`false`). In case of default, subordinated debt instruments are redeemed with a lower priority than non-subordinated.
              type: boolean
            rating:
              description: Parameters related to a rating of a debt instrument. If a rating system is not selected by either specifying it directly (see parameter `rating.system.ids`) or by implying it via the minimum rating grade (see parameter `rating.grade.minimum.ids`) the result contains no data on ratings.
              type: object
              x-property-sort:
              - system
              - grade
              x-atMostOne: true
              properties:
                system:
                  description: Rating system. The parameter allows to specify the rating system (up to two) from which the available ratings of the restricted set of debt instruments are retrieved without limiting the debt instrument selection to only debt instruments with a rating in that rating system.
                  type: object
                  x-property-sort:
                  - ids
                  properties:
                    ids:
                      description: List of identifiers of rating systems. The sequence of the provided identifiers corresponds to the response attributes `ratingSystem1` and `ratingSystem2` respectively, i.e. the rating grades of the selected debt instruments in the rating system of which the first identifier in the provided list is a member, is represented by the attribute `ratingSystem1.rating.grade` (and `ratingSystem1.rating.id` for the identifier of the rating grade).
                      type: array
                      nullable: false
                      items:
                        type: number
                        format: id32
                        x-positive: true
                      uniqueItems: true
                      maxItems: 2
                grade:
                  description: Rating grade.
                  type: object
                  x-property-sort:
                  - minimum
                  properties:
                    minimum:
                      description: Minimum rating grade.
                      type: object
                      x-property-sort:
                      - ids
                      properties:
                        ids:
                          description: List of rating grade identifiers. Allowed are at most two identifiers which must refer to rating grades originating from different rating systems. Only debt instruments that satisfy all conditions, i.e. are rated higher than or equal to all provided rating grades, are returned. The sequence of the provided identifiers corresponds to the response attributes `ratingSystem1` and `ratingSystem2` respectively, i.e. the rating grade of a debt instrument in the rating system of which the first identifier in the provided list is a member, is represented by the attribute `ratingSystem1.rating.grade` (and `ratingSystem1.rating.id` for the identifier of the rating grade).
                          type: array
                          nullable: false
                          items:
                            type: number
                            format: id32
                            x-positive: true
                          uniqueItems: true
                          maxItems: 2
            issuer:
              description: Parameters related to the issuer.
              type: object
              x-property-sort:
              - selection
              - country
              properties:
                selection:
                  description: Issuer selection. See endpoint `/debtInstrument/issuer/search` for valid values.
                  type: object
                  x-property-sort:
                  - restrict
                  - exclude
                  x-atMostOne: true
                  properties:
                    restrict:
                      description: Restriction list. Only debt instruments issued by an issuer in the provided list are returned.
                      type: object
                      x-property-sort:
                      - ids
                      properties:
                        ids:
                          description: Set of identifiers of legal entities in the role of an issuer.
                          type: array
                          nullable: false
                          items:
                            type: number
                            format: id32
                            x-positive: true
                          uniqueItems: true
                          maxItems: 100
                    exclude:
                      description: Exclusion list. Debt instruments issued by an issuer in the provided list are not returned.
                      type: object
                      x-property-sort:
                      - ids
                      properties:
                        ids:
                          description: Set of identifiers of legal entities in the role of an issuer.
                          type: array
                          nullable: false
                          items:
                            type: number
                            format: id32
                            x-positive: true
                          uniqueItems: true
                          maxItems: 100
                country:
                  description: Selection of the country of registration of the debt instrtuments' issuer. See endpoint `/basic/region/country/list` for valid values.
                  type: object
                  x-property-sort:
                  - restrict
                  - exclude
                  x-atMostOne: true
                  properties:
                    restrict:
                      description: Restriction list. Only debt instruments issued by an issuer whose country of registration is in the provided list are returned.
                      type: object
                      x-property-sort:
                      - ids
                      properties:
                        ids:
                          description: Set of country identifiers.
                          type: array
                          nullable: false
                          items:
                            type: number
                            format: id32
                            x-positive: true
                          uniqueItems: true
                          maxItems: 50
                    exclude:
                      description: Exclusion list. Debt instruments issued by an issuer whose country of registration is in the provided list are not returned.
                      type: object
                      x-property-sort:
                      - ids
                      properties:
                        ids:
                          description: Set of country identifiers.
                          type: array
                          nullable: false
                          items:
                            type: number
                            format: id32
                            x-positive: true
                          uniqueItems: true
                          maxItems: 50
            issue:
              description: Parameters related to the issue.
              type: object
              x-property-sort:
              - volume
              properties:
                volume:
                  description: Issue volume.
                  type: object
                  x-property-sort:
                  - currency
                  properties:
                    currency:
                      description: Selection of the main currency of denomination of the issue volume. See endpoint `/basic/valueUnit/currency/main/list` for valid values.
                      type: object
                      x-property-sort:
                      - restrict
                      - exclude
                      x-atMostOne: true
                      properties:
                        restrict:
                          description: Restriction list. Only debt instruments with a main currency of denomination in the provided list are returned.
                          type: object
                          x-property-sort:
                          - ids
                          properties:
                            ids:
                              description: Set of main currency identifiers.
                              type: array
                              nullable: false
                              items:
                                type: number
                                format: id32
                                x-positive: true
                              uniqueItems: true
                              maxItems: 50
                        exclude:
                          description: Exclusion list. Debt instruments with a main currency of denomination in the provided list are not returned.
                          type: object
                          x-property-sort:
                          - ids
                          properties:
                            ids:
                              description: Set of main currency identifiers.
                              type: array
                              nullable: false
                              items:
                                type: number
                                format: id32
                                x-positive: true
                              uniqueItems: true
                              maxItems: 50
            tradingVolume:
              description: Parameters regarding the trading volume. The issuer of a debt instrument may define a minimum trading volume, and an increment over that minimum, per market place and for the over-the-counter (e.g. interbank) trade. Orders that do not match the defined volumes cannot be (fully) executed. The currency is the currency of denomination, thus the parameter `issue.volume.currency.restrict.ids` must be set to exactly one currency in order to use this parameter.
              type: object
              x-property-sort:
              - otc
              properties:
                otc:
                  description: Volume applicable to the over-the-counter (non-exchange based) trading.
                  type: object
                  x-property-sort:
                  - minimum
                  properties:
                    minimum:
                      description: Value range for the minimum trading volume.
                      type: object
                      format: realRange
                      properties:
                        minimum:
                          type: object
                          x-property-sort:
                          - value
                          - inclusive
                          description: The minimum of the range, or `null` to indicate that there is no minimum.
                          properties:
                            value:
                              type: number
                              format: real
                              description: The minimum value.
                            inclusive:
                              type: boolean
                              description: Indicates whether the minimum value is included in the range or not.
                              default: true
                          x-allowNullValue: true
                        maximum:
                          type: object
                          x-property-sort:
                          - value
                          - inclusive
                          description: The maximum of the range, or `null` to indicate that there is no maximum.
                          properties:
                            value:
                              type: number
                              format: real
                              description: The maximum value.
                            inclusive:
                              type: boolean
                              description: Indicates whether the maximum value is included in the range or not.
                              default: true
                          x-allowNullValue: true
                      x-property-sort:
                      - minimum
                      - maximum
            compliance:
              description: Compliance properties.
              type: object
              x-property-sort:
              - germany
              properties:
                germany:
                  description: Compliance properties in accordance with the German law.
                  type: object
                  x-property-sort:
                  - trusteeEligible
                  properties:
                    trusteeEligible:
                      type: boolean
                      description: Defines whether or not the debt instruments are eligible for investment by trustees according to §§1806ff of the BGB (German Civil Code). The German legislative has declared such debt instruments to be virtually free of the risk of loss, such as government and state bonds. Eligible are primarily German debt instruments.
            coupon:
              description: Parameters regarding the interest rate.
              type: object
              x-property-sort:
              - occurrence
              - currentInterestRate
              properties:
                occurrence:
                  description: Parameters regarding the occurrence and frequency of the coupon payments.
                  type: object
                  x-property-sort:
                  - type
                  - frequency
                  properties:
                    type:
                      type: array
                      nullable: false
                      items:
                        type: string
                        x-enum-description:
                        - Include debt instruments that do not pay a coupon.
                        - Include debt instruments that pay a coupon only once.
                        - Include debt instruments that pay a coupon on a repeated basis, possibly further limited by `occurrence.frequency`.
                        enum:
                        - never
                        - once
                        - repeated
                      description: Occurrence type of the coupon payments.
                      uniqueItems: true
                    frequency:
                      description: Frequency of the coupon payments. This filter is only applied to debt instruments whose `coupon.occurrence.type` is `repeated`. If this parameter is set, `occurrence.type` must include the value `repeated` or must not be set (in which case `repeated` is implied).
                      type: object
                      x-property-sort:
                      - ids
                      properties:
                        ids:
                          description: List of frequency identifiers. See endpoint `/basic/frequency/type/list` for valid values.
                          type: array
                          nullable: false
                          items:
                            type: number
                            format: id32
                            x-positive: true
                          uniqueItems: true
                          maxItems: 9
                currentInterestRate:
                  description: Interest rate of the current coupon period. Not available for debt instruments with an occurrence type of the coupon payments "never".
                  type: object
                  x-property-sort:
                  - type
                  - value
                  properties:
                    type:
                      description: Type of the interest rate.
                      type: object
                      x-property-sort:
                      - ids
                      properties:
                        ids:
                          description: List of interest rate type identifiers. See endpoint `/instrument/coupon/interestRate/type/list` for valid values.
                          type: array
                          nullable: false
                          items:
                            type: number
                            format: id32
                            x-positive: true
                          uniqueItems: true
                          maxItems: 5
                    value:
                      description: Value range for the interest rate of the current coupon period; annualized if the payment frequency is not "annually". Not available for debt instruments with a current interest rate type other than "fixed rate" (`id=2`) or "step/reset" (`id=5`).
                      type: object
                      format: relativeValueRange
                      properties:
                        minimum:
                          type: object
                          x-property-sort:
                          - value
                          - inclusive
                          description: The minimum of the range, or `null` to indicate that there is no minimum.
                          properties:
                            value:
                              type: number
                              format: relativeValue
                              description: The minimum value.
                            inclusive:
                              type: boolean
                              description: Indicates whether the minimum value is included in the range or not.
                              default: true
                          x-allowNullValue: true
                        maximum:
                          type: object
                          x-property-sort:
                          - value
                          - inclusive
                          description: The maximum of the range, or `null` to indicate that there is no maximum.
                          properties:
                            value:
                              type: number
                              format: relativeValue
                              description: The maximum value.
                            inclusive:
                              type: boolean
                              description: Indicates whether the maximum value is included in the range or not.
                              default: true
                          x-allowNullValue: true
                      x-property-sort:
                      - minimum
                      - maximum
            yield:
              description: Parameters related to the yield.
              type: object
              x-property-sort:
              - current
              - toMaturity
              - spread
              properties:
                current:
                  description: Value range for the current yield, which is the next annual interest payment divided by the price. If the coupon period is different than a year, the interest payment is annualized.
                  type: object
                  format: relativeValueRange
                  properties:
                    minimum:
                      type: object
                      x-property-sort:
                      - value
                      - inclusive
                      description: The minimum of the range, or `null` to indicate that there is no minimum.
                      properties:
                        value:
                          type: number
                          format: relativeValue
                          description: The minimum value.
                        inclusive:
                          type: boolean
                          description: Indicates whether the minimum value is included in the range or not.
                          default: true
                      x-allowNullValue: true
                    maximum:
                      type: object
                      x-property-sort:
                      - value
                      - inclusive
                      description: The maximum of the range, or `null` to indicate that there is no maximum.
                      properties:
                        value:
                          type: number
                          format: relativeValue
                          description: The maximum value.
                        inclusive:
                          type: boolean
                          description: Indicates whether the maximum value is included in the range or not.
                          default: true
                      x-allowNullValue: true
                  x-property-sort:
                  - minimum
                  - maximum
                toMaturity:
                  description: Value range for the yield to maturity, which is the annual rate of return, assuming the instrument is held until maturity.
                  type: object
                  format: relativeValueRange
                  properties:
                    minimum:
                      type: object
                      x-property-sort:
                      - value
                      - inclusive
                      description: The minimum of the range, or `null` to indicate that there is no minimum.
                      properties:
                        value:
                          type: number
                          format: relativeValue
                          description: The minimum value.
                        inclusive:
                          type: boolean
                          description: Indicates whether the minimum value is included in the range or not.
                          default: true
                      x-allowNullValue: true
                    maximum:
                      type: object
                      x-property-sort:
                      - value
                      - inclusive
                      description: The maximum of the range, or `null` to indicate that there is no maximum.
                      properties:
                        value:
                          type: number
                          format: relativeValue
                          description: The maximum value.
                        inclusive:
                          type: boolean
                          description: Indicates whether the maximum value is included in the range or not.
                          default: true
                      x-allowNullValue: true
                  x-property-sort:
                  - minimum
                  - maximum
                spread:
                  description: Value range for the credit spread (the difference in yield to maturity) between a debt instrument and its benchmark bond. See endpoint `/instrument/benchmark/list` for the benchmark bond.
                  type: object
                  format: relativeValueRange
                  properties:
                    minimum:
                      type: object
                      x-property-sort:
                      - value
                      - inclusive
                      description: The minimum of the range, or `null` to indicate that there is no minimum.
                      properties:
                        value:
                          type: number
                          format: relativeValue
                          description: The minimum value.
                        inclusive:
                          type: boolean
                          description: Indicates whether the minimum value is included in the range or not.
                          default: true
                      x-allowNullValue: true
                    maximum:
                      type: object
                      x-property-sort:
                      - value
                      - inclusive
                      description: The maximum of the range, or `null` to indicate that there is no maximum.
                      properties:
                        value:
                          type: number
                          format: relativeValue
                          description: The maximum value.
                        inclusive:
                          type: boolean
                          description: Indicates whether the maximum value is included in the range or not.
                          default: true
                      x-allowNullValue: true
                  x-property-sort:
                  - minimum
                  - maximum
            macaulayDuration:
              description: Value range for the Macaulay duration, which is the average period (in years) of capital commitment.
              type: object
              format: realRange
              properties:
                minimum:
                  type: object
                  x-property-sort:
                  - value
                  - inclusive
                  description: The minimum of the range, or `null` to indicate that there is no minimum.
                  properties:
                    value:
                      type: number
                      format: real
                      description: The minimum value.
                    inclusive:
                      type: boolean
                      description: Indicates whether the minimum value is included in the range or not.
                      default: true
                  x-allowNullValue: true
                maximum:
                  type: object
                  x-property-sort:
                  - value
                  - inclusive
                  description: The maximum of the range, or `null` to indicate that there is no maximum.
                  properties:
                    value:
                      type: number
                      format: real
                      description: The maximum value.
                    inclusive:
                      type: boolean
                      description: Indicates whether the maximum value is included in the range or not.
                      default: true
                  x-allowNullValue: true
              x-property-sort:
              - minimum
              - maximum
            sensitivities:
              description: Parameters related to the price sensitivities of debt instruments with respect to the prevailing market interest rate.
              type: object
              x-property-sort:
              - basePointValue
              - modifiedDuration
              - elasticity
              - convexity
              properties:
                basePointValue:
                  description: Value range for the base point value, which is the change of the debt instrument's price for a one base point change (nominally, not relatively) of the prevailing market interest rate. One base point is equivalent to 0.01 percent (1/100 of a percent). The unit of the base point value is the value unit of the notation, thus the parameter `validation.valueUnit.restrict.ids` must be set to exactly one value unit in order to use the parameter.
                  type: object
                  format: realRange
                  properties:
                    minimum:
                      type: object
                      x-property-sort:
                      - value
                      - inclusive
                      description: The minimum of the range, or `null` to indicate that there is no minimum.
                      properties:
                        value:
                          type: number
                          format: real
                          description: The minimum value.
                        inclusive:
                          type: boolean
                          description: Indicates whether the minimum value is included in the range or not.
                          default: true
                      x-allowNullValue: true
                    maximum:
                      type: object
                      x-property-sort:
                      - value
                      - inclusive
                      description: The maximum of the range, or `null` to indicate that there is no maximum.
                      properties:
                        value:
                          type: number
                          format: real
                          description: The maximum value.
                        inclusive:
                          type: boolean
                          description: Indicates whether the maximum value is included in the range or not.
                          default: true
                      x-allowNullValue: true
                  x-property-sort:
                  - minimum
                  - maximum
                modifiedDuration:
                  description: Value range for the modified duration, which is the percentage change of the debt instrument's price for a one percent change (nominally, not relatively) of the prevailing market interest rate.
                  type: object
                  format: relativeValueRange
                  properties:
                    minimum:
                      type: object
                      x-property-sort:
                      - value
                      - inclusive
                      description: The minimum of the range, or `null` to indicate that there is no minimum.
                      properties:
                        value:
                          type: number
                          format: relativeValue
                          description: The minimum value.
                        inclusive:
                          type: boolean
                          description: Indicates whether the minimum value is included in the range or not.
                          default: true
                      x-allowNullValue: true
                    maximum:
                      type: object
                      x-property-sort:
                      - value
                      - inclusive
                      description: The maximum of the range, or `null` to indicate that there is no maximum.
                      properties:
                        value:
                          type: number
                          format: relativeValue
                          description: The maximum value.
                        inclusive:
                          type: boolean
                          description: Indicates whether the maximum value is included in the range or not.
                          default: true
                      x-allowNullValue: true
                  x-property-sort:
                  - minimum
                  - maximum
                elasticity:
                  description: Value range for the yield elasticity, which is the ratio of the percentage change of the debt instrument's price for a one percent change (relatively, not nominally) of the prevailing market interest rate.
                  type: object
                  format: relativeValueRange
                  properties:
                    minimum:
                      type: object
                      x-property-sort:
                      - value
                      - inclusive
                      description: The minimum of the range, or `null` to indicate that there is no minimum.
                      properties:
                        value:
                          type: number
                          format: relativeValue
                          description: The minimum value.
                        inclusive:
                          type: boolean
                          description: Indicates whether the minimum value is included in the range or not.
                          default: true
                      x-allowNullValue: true
                    maximum:
                      type: object
                      x-property-sort:
                      - value
                      - inclusive
                      description: The maximum of the range, or `null` to indicate that there is no maximum.
                      properties:
                        value:
                          type: number
                          format: relativeValue
                          description: The maximum value.
                        inclusive:
                          type: boolean
                          description: Indicates whether the maximum value is included in the range or not.
                          default: true
                      x-allowNullValue: true
                  x-property-sort:
                  - minimum
                  - maximum
                convexity:
                  description: Value range for the convexity, which is a measure for the change of the modified duration as the prevailing market interest rate changes.
                  type: object
                  format: realRange
                  properties:
                    minimum:
                      type: object
                      x-property-sort:
                      - value
                      - inclusive
                      description: The minimum of the range, or `null` to indicate that there is no minimum.
                      properties:
                        value:
                          type: number
                          format: real
                          description: The minimum value.
                        inclusive:
                          type: boolean
                          description: Indicates whether the minimum value is included in the range or not.
                          default: true
                      x-allowNullValue: true
                    maximum:
                      type: object
                      x-property-sort:
                      - value
                      - inclusive
                      description: The maximum of the range, or `null` to indicate that there is no maximum.
                      properties:
                        value:
                          type: number
                          format: real
                          description: The maximum value.
                        inclusive:
                          type: boolean
                          description: Indicates whether the maximum value is included in the range or not.
                          default: true
                      x-allowNullValue: true
                  x-property-sort:
                  - minimum
                  - maximum
            tradedValue:
              description: Parameters regarding the cash flow for all transactions over a certain time range. The currency is the currency of denomination, thus the parameter `issue.volume.currency.restrict.ids` must be set to exactly one currency in order to use these parameters.
              type: object
              x-property-sort:
              - days30
              properties:
                days30:
                  description: Cash flow for the time range 30 trading days.
                  type: object
                  x-property-sort:
                  - sum
                  - average
                  properties:
                    sum:
                      description: Value range for the sum of the cash flow.
                      type: object
                      format: realRange
                      properties:
                        minimum:
                          type: object
                          x-property-sort:
                          - value
                          - inclusive
                          description: The minimum of the range, or `null` to indicate that there is no minimum.
                          properties:
                            value:
                              type: number
                              format: real
                              description: The minimum value.
                            inclusive:
                              type: boolean
                              description: Indicates whether the minimum value is included in the range or not.
                              default: true
                          x-allowNullValue: true
                        maximum:
                          type: object
                          x-property-sort:
                          - value
                          - inclusive
                          description: The maximum of the range, or `null` to indicate that there is no maximum.
                          properties:
                            value:
                              type: number
                              format: real
                              description: The maximum value.
                            inclusive:
                              type: boolean
                              description: Indicates whether the maximum value is included in the range or not.
                              default: true
                          x-allowNullValue: true
                      x-property-sort:
                      - minimum
                      - maximum
                    average:
                      description: Value range for the average daily cash flow.
                      type: object
                      format: realRange
                      properties:
                        minimum:
                          type: object
                          x-property-sort:
                          - value
                          - inclusive
                          description: The minimum of the range, or `null` to indicate that there is no minimum.
                          properties:
                            value:
                              type: number
                              format: real
                              description: The minimum value.
                            inclusive:
                              type: boolean
                              description: Indicates whether the minimum value is included in the range or not.
                              default: true
                          x-allowNullValue: true
                        maximum:
                          type: object
                          x-property-sort:
                          - value
                          - inclusive
                          description: The maximum of the range, or `null` to indicate that there is no maximum.
                          properties:
                            value:
                              type: number
                              format: real
                              description: The maximum value.
                            inclusive:
                              type: boolean
                              description: Indicates whether the maximum value is included in the range or not.
                              default: true
                          x-allowNullValue: true
                      x-property-sort:
                      - minimum
                      - maximum
          example: example_value
        meta:
          type: object
          description: The meta member contains the meta information of the request.
          properties:
            attributes:
              $ref: '#/components/schemas/AttributesMember'
            language:
              $ref: '#/components/schemas/LanguageMember'
          x-property-sort:
          - attributes
          - language
          example: example_value
    AttributesMember:
      type: array
      description: Limit the attributes returned in the response to the specified set.
      items:
        type: string
        maxLength: 100
        exclusiveMaximum: false
      maxItems: 50
      uniqueItems: true
    LanguageMember:
      type: string
      format: isoLanguage
      description: ISO 639-1 code of the language.
      maxLength: 2
      minLength: 2
      exclusiveMinimum: false
      exclusiveMaximum: false
    PostSecuritizedDerivativeNotationScreenerValueRangesGetRequest:
      type: object
      properties:
        data:
          type: object
          x-property-sort:
          - validation
          - category
          - registrationCountry
          - lifeCycle
          - issuer
          - exercise
          - settlement
          - collateralized
          - quanto
          - capitalProtection
          - underlying
          - cashFlowCurrency
          - singleBarriers
          - rangeBarriers
          - factorCertificates
          - nominalCurrency
          - currentInterestRate
          - keyFigures
          - performance
          - volatility
          description: The data member contains the request's primary data.
          properties:
            validation:
              description: Validation parameters.
              type: object
              x-property-sort:
              - onlyActive
              - prices
              - valueUnit
              - market
              - instrumentRestrictionList
              - notationRestrictionList
              properties:
                onlyActive:
                  description: If `true`, only active notations will be returned. The term "active" reflects the fact that notations and related data is not being deleted immediately after becoming irrelevant (e.g. because the source does not provide a price anymore), but remains in general retrievable for up to 6 months.
                  type: boolean
                  default: true
                prices:
                  description: Price-related parameters.
                  type: object
                  x-property-sort:
                  - quality
                  - latest
                  - previous
                  properties:
                    quality:
                      type: string
                      description: Quality of the price.
                      default: DLY
                      x-enum-description:
                      - 'Delayed: intraday prices with an exchange-imposed delay of usually 15 to 30 minutes.'
                      - 'End-of-day: prices updated once per day after the close of trading, possibly with an exchange-imposed delay of several hours or days.'
                      enum:
                      - DLY
                      - EOD
                    latest:
                      description: Parameters related to the presence and age of the most recent trade price.
                      type: object
                      x-property-sort:
                      - availableOnly
                      - minimumDate
                      properties:
                        availableOnly:
                          description: If `true`, only notations for which a trade price (even an outdated one) is available will be returned.
                          type: boolean
                        minimumDate:
                          description: Earliest admissible date of the most recent trade price.
                          type: string
                          format: date
                    previous:
                      description: Parameters related to the presence and age of a trade price from a preceding trading day.
                      type: object
                      x-property-sort:
                      - availableOnly
                      - minimumDate
                      properties:
                        availableOnly:
                          description: If `true`, only notations for which a trade price from a preceding trading day is available will be returned.
                          type: boolean
                        minimumDate:
                          description: Earliest admissible date of the trade price from a preceding trading day.
                          type: string
                          format: date
                valueUnit:
                  description: Value unit-related parameters. See endpoint `/basic/valueUnit/list` for valid values.
                  type: object
                  x-property-sort:
                  - selection
                  properties:
                    selection:
                      description: Value unit selection.
                      type: object
                      x-property-sort:
                      - restrict
                      - exclude
                      x-atMostOne: true
                      properties:
                        restrict:
                          description: Specifies the value units a notation may have.
                          type: object
                          x-property-sort:
                          - ids
                          properties:
                            ids:
                              description: Set of value unit identifiers.
                              type: array
                              nullable: false
                              items:
                                type: number
                                format: id32
                                x-positive: true
                              uniqueItems: true
                              maxItems: 100
                        exclude:
                          description: Specifies the value units a notation may not have.
                          type: object
                          x-property-sort:
                          - ids
                          properties:
                            ids:
                              description: Set of value unit identifiers.
                              type: array
                              nullable: false
                              items:
                                type: number
                                format: id32
                                x-positive: true
                              uniqueItems: true
                              maxItems: 100
                market:
                  description: Market-related notation selection. See endpoint `/basic/market/list` for valid values.
                  type: object
                  x-property-sort:
                  - selection
                  - priority
                  properties:
                    selection:
                      description: Market selection.
                      type: object
                      x-property-sort:
                      - restrict
                      - exclude
                      x-atMostOne: true
                      properties:
                        restrict:
                          description: Specifies the markets from which a notation may originate.
                          type: object
                          x-property-sort:
                          - ids
                          properties:
                            ids:
                              description: Set of market identifiers.
                              type: array
                              nullable: false
                              items:
                                type: number
                                format: id32
                                x-positive: true
                              uniqueItems: true
                              maxItems: 100
                        exclude:
                          description: Specifies the markets from which a notation may not originate.
                          type: object
                          x-property-sort:
                          - ids
                          properties:
                            ids:
                              description: Set of market identifiers.
                              type: array
                              nullable: false
                              items:
                                type: number
                                format: id32
                                x-positive: true
                              uniqueItems: true
                              maxItems: 100
                    priority:
                      description: "Sequence of markets specifying the priority order of the markets for the selection of one notation per instrument. If for a given instrument with two matching notations, A and B, the market of notation A precedes the market of notation B in this list or if the market of notation B is not in this list, A is selected. If neither of the markets is in this list, the notation with the highest trading volume, averaged over one month, is selected.        \n The list does not restrict the request to only those markets (use the parameter `market.selection` for that purpose)."
                      type: object
                      x-property-sort:
                      - ids
                      properties:
                        ids:
                          description: List of market identifiers.
                          type: array
                          nullable: false
                          items:
                            type: number
                            format: id32
                            x-positive: true
                          uniqueItems: true
                          maxItems: 100
                instrumentRestrictionList:
                  description: Instrument-level restriction. If present, the result contains only securitized derivatives that are a member of at least one of the provided lists.
                  type: object
                  x-property-sort:
                  - ids
                  properties:
                    ids:
                      description: List of identifieres of restriction lists.
                      type: array
                      nullable: false
                      items:
                        type: number
                        format: id32
                        x-positive: true
                      uniqueItems: true
                      maxItems: 3
                notationRestrictionList:
                  description: Notation-level restriction. If present, the result contains only securitized derivatives that are a member of at least one of the provided lists.
                  type: object
                  x-property-sort:
                  - ids
                  properties:
                    ids:
                      description: List of identifieres of restriction lists.
                      type: array
                      nullable: false
                      items:
                        type: number
                        format: id32
                        x-positive: true
                      uniqueItems: true
                      maxItems: 3
            category:
              description: Only securitized derivatives that belong to at least one category in the provided list will  be returned.
              type: object
              x-property-sort:
              - ids
              properties:
                ids:
                  description: List of category identifiers. See endpoint `/category/listBySystem` for category systems 18 and 23 for valid values.
                  type: array
                  nullable: false
                  items:
                    type: number
                    format: id32
                    x-positive: true
                  uniqueItems: true
                  maxItems: 20
            registrationCountry:
              description: Only securitized derivatives registered for trading in a country in the provided list are returned.
              type: object
              x-property-sort:
              - ids
              properties:
                ids:
                  description: List of country identifiers. See endpoint `/basic/region/country/list` for valid values.
                  type: array
                  nullable: false
                  items:
                    type: number
                    format: id32
                    x-positive: true
                  uniqueItems: true
                  maxItems: 20
            lifeCycle:
              description: Parameters related to important dates.
              type: object
              x-property-sort:
              - issue
              - maturity
              - callable
              - valuation
              - repayment
              properties:
                issue:
                  type: object
                  format: dateRange
                  x-isClosedInterval: true
                  properties:
                    start:
                      type: string
                      format: date
                      description: The starting point of the date range (inclusive), or `null` to indicate that the date range extends indefinitely into the past.
                      x-allowNullValue: true
                    end:
                      type: string
                      format: date
                      description: The ending point of the date range (inclusive), or `null` to indicate that the date range extends indefinitely into the future.
                      x-allowNullValue: true
                  x-property-sort:
                  - start
                  - end
                  required:
                  - start
                  - end
                  description: Date range of the issue date.
                maturity:
                  description: Parameters related to the maturity.
                  type: object
                  x-property-sort:
                  - restriction
                  - perpetual
                  properties:
                    restriction:
                      description: The maturity can be restricted by using one of the parameters `date` or `remainingTermDays` but not both at the same time. If a maturity restriction is set, perpetual instruments, i.e. such that do not mature, are not included in the result unless the parameter `perpetual` is set to `include`.
                      type: object
                      x-property-sort:
                      - date
                      - remainingTermDays
                      x-atMostOne: true
                      properties:
                        date:
                          type: object
                          format: dateRange
                          x-isClosedInterval: true
                          properties:
                            start:
                              type: string
                              format: date
                              description: The starting point of the date range (inclusive), or `null` to indicate that the date range extends indefinitely into the past.
                              x-allowNullValue: true
                            end:
                              type: string
                              format: date
                              description: The ending point of the date range (inclusive), or `null` to indicate that the date range extends indefinitely into the future.
                              x-allowNullValue: true
                          x-property-sort:
                          - start
                          - end
                          required:
                          - start
                          - end
                          description: Date range of the maturity date.
                        remainingTermDays:
                          description: Value range for the remaining term to maturity expressed in days.
                          type: object
                          format: realRange
                          properties:
                            minimum:
                              type: object
                              x-property-sort:
                              - value
                              - inclusive
                              description: The minimum of the range, or `null` to indicate that there is no minimum.
                              properties:
                                value:
                                  type: number
                                  format: real
                                  description: The minimum value.
                                inclusive:
                                  type: boolean
                                  description: Indicates whether the minimum value is included in the range or not.
                                  default: true
                              x-allowNullValue: true
                            maximum:
                              type: object
                              x-property-sort:
                              - value
                              - inclusive
                              description: The maximum of the range, or `null` to indicate that there is no maximum.
                              properties:
                                value:
                                  type: number
                                  format: real
                                  description: The maximum value.
                                inclusive:
                                  type: boolean
                                  description: Indicates whether the maximum value is included in the range or not.
                                  default: true
                              x-allowNullValue: true
                          x-property-sort:
                          - minimum
                          - maximum
                    perpetual:
                      type: string
                      description: Defines whether or not perpetual securitized derivatives, i.e. such that do not mature, are included in the result. The value `only` can be used if both parameters `maturity.restriction.date` and `maturity.restriction.remainingTermDays` are not set.
                      x-enum-description:
                      - Only perpetual securitized derivatives are included in the result.
                      - Perpetual securitized derivatives are included in the result even if one of the parameters `maturity.restriction.date` or `maturity.restriction.remainingTermDays` is set.
                      - Perpetual securitized derivatives are excluded from the result.
                      enum:
                      - only
                      - include
                      - exclude
                callable:
                  type: boolean
                  description: Restricts the result to securitized derivatives that are callable (`true`) or are not callable (`false`). A callable instrument is one that may be redeemed by the issuer prior to maturity.
                valuation:
                  description: Date range of the valuation date.
                  type: object
                  format: dateRange
                  x-isClosedInterval: true
                  properties:
                    start:
                      type: string
                      format: date
                      description: The starting point of the date range (inclusive), or `null` to indicate that the date range extends indefinitely into the past.
                      x-allowNullValue: true
                    end:
                      type: string
                      format: date
                      description: The ending point of the date range (inclusive), or `null` to indicate that the date range extends indefinitely into the future.
                      x-allowNullValue: true
                  x-property-sort:
                  - start
                  - end
                  required:
                  - start
                  - end
                repayment:
                  description: Date range of the repayment date.
                  type: object
                  format: dateRange
                  x-isClosedInterval: true
                  properties:
                    start:
                      type: string
                      format: date
                      description: The starting point of the date range (inclusive), or `null` to indicate that the date range extends indefinitely into the past.
                      x-allowNullValue: true
                    end:
                      type: string
                      format: date
                      description: The ending point of the date range (inclusive), or `null` to indicate that the date range extends indefinitely into the future.
                      x-allowNullValue: true
                  x-property-sort:
                  - start
                  - end
                  required:
                  - start
                  - end
            issuer:
              description: Parameters related to the issuer.
              type: object
              x-property-sort:
              - ids
              properties:
                ids:
                  description: List of identifiers of legal entities in the role of an issuer, including issuer groups. FactSet defines issuer groups to facilitate searching; they do not represent actual juristic persons. See endpoint `/securitizedDerivative/issuer/search` for valid values.
                  type: array
                  nullable: false
                  items:
                    type: number
                    format: id32
                    x-positive: true
                  uniqueItems: true
                  maxItems: 20
            exercise:
              description: Parameters related to the exercise.
              type: object
              x-property-sort:
              - right
              - style
              properties:
                right:
                  type: string
                  description: Code of the exercise right.
                  x-enum-description:
                  - A put option gives buyer the right, but not the obligation, to sell an asset at a specified price within a specific time period. Put is synonymous to short or bear and is used in a broader sense for products that make profits from falling underlying levels.
                  - A call option gives buyer the right, but not the obligation, to buy an asset at a specified price within a specific time period. Call is synonymous to long or bull and is used in a broader sense for products that make profits from rising underlying levels.
                  enum:
                  - put
                  - call
                style:
                  type: string
                  description: Code of the exercise style.
                  x-enum-description:
                  - An American-style securitized derivative can be exercised anytime during its life.
                  - An European-style securitized derivative can be exercised at maturity only.
                  - A Bermudan-style securitized derivative can be exercised only on predetermined dates.
                  enum:
                  - american
                  - european
                  - bermudan
            settlement:
              type: string
              description: Settlement of the securitized derivative. It concerns the fulfillment of the issuer's contractual obligations arising from the securitized derivative. Depending on the terms, the underlying asset may be delivered physically or its equivalent monetary value may be payed out.
              x-enum-description:
              - Transfer of a cash amount
              - Phyiscal delivery of the underlying asset.
              - Cash or physical, at the discretion of the issuer.
              enum:
              - cash
              - physical
              - either
            collateralized:
              type: boolean
              description: Restricts the result to securitized derivatives that are collateralized (`true`) or are  not collateralized (`false`). A collateralized securitized derivative is protected against an  issuer default by collateral.
            quanto:
              type: boolean
              description: Restricts the result to securitized derivatives that are hedged (`true`) or are not hedged (`false`) against fluctuations of the foreign exchange rate between the value unit of the underlying and the value unit of the cash flows.
            capitalProtection:
              type: object
              format: relativeValueRange
              properties:
                minimum:
                  type: object
                  x-property-sort:
                  - value
                  - inclusive
                  description: The minimum of the range, or `null` to indicate that there is no minimum.
                  properties:
                    value:
                      type: number
                      format: relativeValue
                      description: The minimum value.
                    inclusive:
                      type: boolean
                      description: Indicates whether the minimum value is included in the range or not.
                      default: true
                  required:
                  - value
                  x-allowNullValue: true
                maximum:
                  type: object
                  x-property-sort:
                  - value
                  - inclusive
                  description: The maximum of the range, or `null` to indicate that there is no maximum.
                  properties:
                    value:
                      type: number
                      format: relativeValue
                      description: The maximum value.
                    inclusive:
                      type: boolean
                      description: Indicates whether the maximum value is included in the range or not.
                      default: true
                  required:
                  - value
                  x-allowNullValue: true
              x-property-sort:
              - minimum
              - maximum
              description: Value range of the proportion of the nominal amount protected against loss.
            underlying:
              description: "Underlying selection. A list of underlyings can be selected by either using their instrument identifiers, see parameter `underlying.instrument.ids` or by using their notation identifiers, see parameter `underlying.notation.ids` but not both at the same time. Only one of the provided identifiers needs to be matched in order for a securitized derivative to be returned in the result.\n\n The list of underlyings is particularly useful to search for securitized derivatives that have very similar but not exactly the same underlyings such as futures with different maturities\non a given commodity, e.g. brent crude oil. For such a list of underlyings, a barrier restriction in absolute terms, see for example parameter `singleBarriers.level.absolute` or `rangeBarriers.upper.level.absolute`, will provide a meaningful result, whereas for a list of non-similar underlyings, such as different stocks, a barrier restriction in absolute terms will not provide a meaningful result. This is due to the fact that futures on the same commodity are comparable in regards to their prices while two different stocks are not comparable.\n\n Parameters in relative terms, see for example parameter `singleBarriers.distance.relative`, are generally comparable and will provide meaningful result for a list of similar as well as\nfor a list of non-similar underlyings.\n\n For the selection of the effective underling of factor certificates, use `factorCertificates.effectiveUnderlying.instrument.ids`."
              type: object
              x-property-sort:
              - instrument
              - notation
              x-atMostOne: true
              properties:
                instrument:
                  description: Underlying selection using instrument identifiers.
                  type: object
                  x-property-sort:
                  - ids
                  properties:
                    ids:
                      description: List of instrument identifiers.
                      type: array
                      nullable: false
                      items:
                        type: string
                        format: id64
                        x-positive: true
                      uniqueItems: true
                      maxItems: 100
                notation:
                  description: Underlying selection using notation identifiers.
                  type: object
                  x-property-sort:
                  - ids
                  properties:
                    ids:
                      description: List of notation identifiers.
                      type: array
                      nullable: false
                      items:
                        type: string
                        format: id64
                        x-positive: true
                      uniqueItems: true
                      maxItems: 100
            cashFlowCurrency:
              description: Main currency of the cash flows. A cash flow is a payout dependent on whether or not the underlying level, e.g. a stock's price, will reach a given threshold, called barrier, at a given time.
              type: object
              x-property-sort:
              - id
              properties:
                id:
                  description: Identifier of the currency. See endpoint `/basic/valueUnit/currency/main/list` for valid values.
                  type: number
                  format: id32
                  x-positive: true
            singleBarriers:
              type: array
              nullable: false
              items:
                type: object
                x-property-sort:
                - type
                - observation
                - level
                - distance
                - breach
                - cashFlow
                properties:
                  type:
                    description: The type of the barrier. See endpoint `/securitizedDerivative/barrier/type/list` for additional information. Note that not all barrier types listed in the mentioned endpoint can be used as a parameter.
                    type: string
                    x-enum-description:
                    - Represents the underlying level that needs to be reached in order for the securitized derivative to yield a profit; particularly relevant for reverse convertible bonds, sprint/outperformance certificates, capital-protection certificates, warrants and knock-out certificates.
                    - Represents the underlying level considered for repayment if the knock-in barrier is intact; particularly relevant for bonus certificates.
                    - Represents the maximum underlying level considered for repayment; particularly relevant for discount certificates, bonus certificates, and capital-protection certificates.
                    - Represents the underlying level where a securitized derivative is terminated and becomes (nearly) worthless; particularly relevant for knock-out certificates.
                    - Represents the underling level at which a certain product feature (such as a bonus payment) is lost; particularly relevant for bonus certificates but also for securitized derivatives that might have additional protection such as reverse convertible bonds, discount certificates, and capital-protection certificates.
                    - Represents the underlying level at which the securitized derivative is terminated yielding a predefined amount; particularly relevant for capital-protection certificates and express certificates but currently not supported for the latter.
[...]
