openapi: 3.2.0
info:
  title: FactSet Recommendation List API for Digital Portals Elements API
  description: 'Manage lists of financial products via a CMS or upload job, including

    revision control.'
  version: '2'
servers:
- url: https://api.factset.com/wealth/v1
security:
- Basic: []
tags:
- name: Elements
paths:
  /recommendationList/revision/element/list:
    get:
      tags:
      - Elements
      operationId: get/recommendationList/revision/element/list
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Factset List of Elements of a Given Revision.
      description: List of elements of a given revision.
      parameters:
      - name: idRevision
        in: query
        schema:
          type: number
          format: id32
          x-positive: true
          description: Identifier of the revision.
        required: true
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      - name: _language
        in: query
        schema:
          type: string
          format: isoLanguage
          description: ISO 639-1 code of the language.
          maxLength: 2
          minLength: 2
      responses:
        '200':
          $ref: '#/components/responses/GetRecommendationListRevisionElementList200Response'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  responses:
    GetRecommendationListRevisionElementList200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                description: List of elements sorted by position.
                type: array
                items:
                  type: object
                  x-property-sort:
                  - hasNotationData
                  - position
                  - notation
                  - description
                  - weight
                  - recommendationClass
                  properties:
                    hasNotationData:
                      type:
                      - boolean
                      - 'null'
                      description: 'Attributes referred to by the notation identifier, beyond notation.instrument.customName, are available.


                        If this flag is false, it indicates that some notation data for this element is no longer available because the notation may have expired. For answers without notation data, the members position, instrument.customName, weight, description and recommendationClass are retained.'
                    position:
                      type:
                      - number
                      - 'null'
                      format: id32
                      x-positive: true
                      description: Position of the element.
                    notation:
                      type: object
                      x-property-sort:
                      - id
                      - symbol
                      - market
                      - instrument
                      description: Notation data of the element.
                      properties:
                        id:
                          type:
                          - string
                          - 'null'
                          format: id64
                          x-positive: true
                          description: Identifier of the notation.
                        symbol:
                          type:
                          - string
                          - 'null'
                          description: The symbol of the notation. It is a market-specific code to identify the notation. Which characters can be part of a symbol depends on the market. If a market does not define a proprietary symbol, but uses a different identifier (for example, the ISIN or the WKN) to identify notations, no symbol will be set for the notations of that market.
                        market:
                          type: object
                          x-property-sort:
                          - id
                          - name
                          description: Market of the notation.
                          properties:
                            id:
                              type:
                              - number
                              - 'null'
                              format: id32
                              x-positive: true
                              description: Identifier of the market.
                            name:
                              type:
                              - string
                              - 'null'
                              format: localizedString
                              description: Name of the market.
                        instrument:
                          type: object
                          x-property-sort:
                          - id
                          - isin
                          - name
                          - customName
                          - type
                          description: Instrument data of the notation.
                          properties:
                            id:
                              type:
                              - string
                              - 'null'
                              format: id64
                              x-positive: true
                              description: Identifier of the instrument.
                            isin:
                              type:
                              - string
                              - 'null'
                              format: isin
                              description: International Securities Identification Number of the instrument.
                            name:
                              type:
                              - string
                              - 'null'
                              description: Name of the instrument.
                            customName:
                              type:
                              - string
                              - 'null'
                              format: localizedString
                              description: Customer specific name of the instrument.
                            type:
                              description: Instrument type as defined by FactSet Digital Solutions. Instrument types are arranged in a hierarchy, with level 1 representing the most coarse granularity and further levels successively refining the granularity (see MDG category system 18).
                              type: array
                              items:
                                type: object
                                x-property-sort:
                                - id
                                - name
                                properties:
                                  id:
                                    type:
                                    - number
                                    - 'null'
                                    format: id32
                                    x-positive: true
                                    description: Identifier of the instrument type.
                                  name:
                                    type:
                                    - string
                                    - 'null'
                                    format: localizedString
                                    description: Name of the instrument type.
                    description:
                      type: object
                      x-property-sort:
                      - short
                      - long
                      description: Description of the element.
                      properties:
                        short:
                          type:
                          - string
                          - 'null'
                          format: localizedString
                          description: Short description of the element.
                        long:
                          type:
                          - string
                          - 'null'
                          format: localizedString
                          description: Long description of the element.
                    weight:
                      type:
                      - number
                      - 'null'
                      format: real
                      description: Weight of this list element. If set for at least one list element, the sum off all weights of an element list must be 1.
                    recommendationClass:
                      type: object
                      x-property-sort:
                      - id
                      - code
                      - description
                      description: Customer-defined recommendation class of the element.
                      properties:
                        id:
                          type:
                          - number
                          - 'null'
                          format: id32
                          x-positive: true
                          description: Identifier of the recommendation class.
                        code:
                          type:
                          - string
                          - 'null'
                          description: Code of the recommendation class.
                        description:
                          type:
                          - string
                          - 'null'
                          format: localizedString
                          description: Description of the recommendation class.
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                x-property-sort:
                - status
  schemas:
    StatusObject:
      type: object
      properties:
        code:
          type: number
          format: int32
          description: The HTTP status code of the response, mirroring the code from the Status-Line of the HTTP response message (see [RFC2616] section 6.1).
          example: 42.5
      description: The status member contains the status code of the response.
      required:
      - code
  securitySchemes:
    Basic:
      type: http
      description: Input your username and password to access this API.
      scheme: basic
externalDocs:
  description: Endpoint Reference
  url: https://endpointreference.mdgms.com
x-interface-version: 2
x-documenter-version: 6.3.0
x-api-version: 4.0.2
