openapi: 3.2.0
info:
  version: 3.0.0
  title: FactSet Real-Time Quotes Background API
  description: '

    The Quotes API combines endpoints for retrieving security end-of-day,

    delayed, and realtime prices with performance key figures and basic

    reference data on the security and market level.'
  contact:
    name: FactSet Research Systems
    url: https://developer.factset.com/contact
    email: api@factset.com
  license:
    name: Apache License, Version 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
servers:
- url: https://api.factset.com/wealth/v3
security:
- FactSetApiKey: []
- FactSetOAuth2: []
tags:
- name: Background
paths:
  /basic/backgroundText/type/list:
    post:
      tags:
      - Background
      operationId: post/basic/backgroundText/type/list
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Factset List of Background Text Types.
      description: List of background text types.
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostBasicBackgroundTextTypeListRequest'
        required: false
      responses:
        '200':
          $ref: '#/components/responses/PostBasicBackgroundTextTypeList200Response'
      parameters: []
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /instrument/backgroundText/list:
    get:
      tags:
      - Background
      operationId: get/instrument/backgroundText/list
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Factset Background Texts of an Instrument.
      description: Background texts of an instrument.
      parameters:
      - name: identifier
        in: query
        schema:
          type: string
          pattern: ^[B-DF-HJ-NP-TV-Z0-9]{6}-[SLR]$|^[A-Z0-9.#&*+]{1,47}-[A-Z0-9]{2,4}$|^[0-9]{3,20}$|^[B-DF-HJ-NP-TV-Z0-9]{6}[0-9]$|^[A-Z]{2}[A-Z0-9]{9}[0-9]$|^[A-Z1-9][A-Z0-9]{5}$|^[0-9]{1,9}$|^[A-Z0-9]{8}[0-9]$
          maxLength: 50
          minLength: 3
          description: Identifier to resolve.
        required: true
      - name: identifierType
        in: query
        schema:
          type: string
          description: Type of the identifier.
          x-enum-description:
          - MDG identifier of an instrument.
          - MDG identifier of a listing.
          - FactSet Permanent Identifier on security level.
          - FactSet Permanent Identifier on listing level.
          - Regional FactSet Permanent Identifier.
          - FactSet market symbol of a listing.
          - Regional FactSet ticker symbol.
          - SEDOL or IDII of a listing.
          - ISIN of an instrument.
          - WKN of an instrument.
          - Valor number of an instrument.
          - CUSIP or CINS identifier of an instrument
          enum:
          - idInstrument
          - idNotation
          - fdsPermanentIdentifierSecurity
          - fdsPermanentIdentifierListing
          - fdsPermanentIdentifierRegional
          - tickerExchange
          - tickerRegion
          - sedol
          - isin
          - wkn
          - valor
          - cusip
        required: true
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      - name: _language
        in: query
        schema:
          type: string
          format: isoLanguage
          description: ISO 639-1 code of the language.
          maxLength: 2
          minLength: 2
      responses:
        '200':
          $ref: '#/components/responses/GetInstrumentBackgroundTextList200Response'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /instrument/backgroundText/type/list:
    post:
      tags:
      - Background
      operationId: post/instrument/backgroundText/type/list
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Factset List of Background Text Types for Instruments.
      description: List of background text types for instruments.
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostInstrumentBackgroundTextTypeListRequest'
        required: false
      responses:
        '200':
          $ref: '#/components/responses/PostInstrumentBackgroundTextTypeList200Response'
      parameters: []
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /instrument/legalEntity/backgroundText/list:
    get:
      tags:
      - Background
      operationId: get/instrument/legalEntity/backgroundText/list
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Factset Role-specific Background Texts of Legal Entities Related to an Instrument.
      description: Role-specific background texts of legal entities related to an instrument.
      parameters:
      - name: identifier
        in: query
        schema:
          type: string
          pattern: ^[B-DF-HJ-NP-TV-Z0-9]{6}-[SLR]$|^[A-Z0-9.#&*+]{1,47}-[A-Z0-9]{2,4}$|^[0-9]{3,20}$|^[B-DF-HJ-NP-TV-Z0-9]{6}[0-9]$|^[A-Z]{2}[A-Z0-9]{9}[0-9]$|^[A-Z1-9][A-Z0-9]{5}$|^[0-9]{1,9}$|^[A-Z0-9]{8}[0-9]$
          maxLength: 50
          minLength: 3
          description: Identifier to resolve.
        required: true
      - name: identifierType
        in: query
        schema:
          type: string
          description: Type of the identifier.
          x-enum-description:
          - MDG identifier of an instrument.
          - MDG identifier of a listing.
          - FactSet Permanent Identifier on security level.
          - FactSet Permanent Identifier on listing level.
          - Regional FactSet Permanent Identifier.
          - FactSet market symbol of a listing.
          - Regional FactSet ticker symbol.
          - SEDOL or IDII of a listing.
          - ISIN of an instrument.
          - WKN of an instrument.
          - Valor number of an instrument.
          - CUSIP or CINS identifier of an instrument
          enum:
          - idInstrument
          - idNotation
          - fdsPermanentIdentifierSecurity
          - fdsPermanentIdentifierListing
          - fdsPermanentIdentifierRegional
          - tickerExchange
          - tickerRegion
          - sedol
          - isin
          - wkn
          - valor
          - cusip
        required: true
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      - name: _language
        in: query
        schema:
          type: string
          format: isoLanguage
          description: ISO 639-1 code of the language.
          maxLength: 2
          minLength: 2
      responses:
        '200':
          $ref: '#/components/responses/GetInstrumentLegalEntityBackgroundTextList200Response'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    PostInstrumentBackgroundTextTypeListRequest:
      x-property-sort:
      - data
      - meta
      description: Request Body
      type: object
      properties:
        data:
          type: object
          x-property-sort:
          - filter
          description: The data member contains the request's primary data.
          properties:
            filter:
              type: object
              x-property-sort:
              - ids
              description: Criteria that filter the items in the response list; only items that match all of the criteria are returned.
              properties:
                ids:
                  type: array
                  items:
                    type: number
                    format: id32
                    x-positive: true
                  maxItems: 100
                  uniqueItems: true
                  description: Identifiers of background text types.
          example: example_value
        meta:
          type: object
          description: The meta member contains the meta information of the request.
          properties:
            attributes:
              $ref: '#/components/schemas/AttributesMember'
            language:
              $ref: '#/components/schemas/LanguageMember'
          x-property-sort:
          - attributes
          - language
          example: example_value
    StatusObject:
      type: object
      properties:
        code:
          type: number
          format: int32
          description: The HTTP status code of the response, mirroring the code from the Status-Line of the HTTP response message (see [RFC2616] section 6.1).
          example: 42.5
      description: The status member contains the status code of the response.
      required:
      - code
    PostBasicBackgroundTextTypeListRequest:
      x-property-sort:
      - data
      - meta
      description: Request Body
      type: object
      properties:
        data:
          type: object
          x-property-sort:
          - filter
          description: The data member contains the request's primary data.
          properties:
            filter:
              type: object
              x-property-sort:
              - ids
              description: Criteria that filter the items in the response list; only items that match all of the criteria are returned.
              properties:
                ids:
                  type: array
                  items:
                    type: number
                    format: id32
                    x-positive: true
                  minItems: 1
                  maxItems: 100
                  uniqueItems: true
                  description: List of background text type identifiers. Invalid identifiers result in an error.
          example: example_value
        meta:
          type: object
          description: The meta member contains the meta information of the request.
          properties:
            attributes:
              $ref: '#/components/schemas/AttributesMember'
          x-property-sort:
          - attributes
          example: example_value
    AttributesMember:
      type: array
      description: Limit the attributes returned in the response to the specified set.
      items:
        type: string
        maxLength: 100
      maxItems: 50
      uniqueItems: true
    LanguageMember:
      type: string
      format: isoLanguage
      description: ISO 639-1 code of the language.
      maxLength: 2
      minLength: 2
  responses:
    GetInstrumentLegalEntityBackgroundTextList200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: object
                properties:
                  idInstrument:
                    type:
                    - string
                    - 'null'
                    format: id64
                    x-positive: true
                    description: MDG identifier of the instrument.
                  sourceIdentifier:
                    type:
                    - string
                    - 'null'
                    description: Identifier used in the request.
                  roles:
                    description: Role-specific background texts.
                    type: array
                    items:
                      type: object
                      x-property-sort:
                      - id
                      - name
                      - legalEntities
                      properties:
                        id:
                          type:
                          - number
                          - 'null'
                          format: id32
                          x-positive: true
                          description: Identifier of a role.
                        name:
                          type:
                          - string
                          - 'null'
                          format: localizedString
                          description: Name of the role.
                        legalEntities:
                          type: object
                          x-property-sort:
                          - id
                          - name
                          - backgroundTexts
                          description: Legal entities and their respective background texts with regard to the role.
                          properties:
                            id:
                              type:
                              - number
                              - 'null'
                              format: id32
                              x-positive: true
                              description: Identifier of a legal entity.
                            name:
                              type:
                              - string
                              - 'null'
                              format: localizedString
                              description: Name of the legal entity.
                            backgroundTexts:
                              type: object
                              x-property-sort:
                              - type
                              - body
                              description: List of background texts.
                              properties:
                                type:
                                  type: object
                                  x-property-sort:
                                  - id
                                  - name
                                  description: Type of the background text.
                                  properties:
                                    id:
                                      type:
                                      - number
                                      - 'null'
                                      format: id32
                                      x-positive: true
                                      description: Identifier of the type.
                                    name:
                                      type:
                                      - string
                                      - 'null'
                                      format: localizedString
                                      description: Name of the type.
                                body:
                                  type:
                                  - string
                                  - 'null'
                                  format: localizedString
                                  description: Body of the background text.
                description: Role-specific background texts of legal entities related to an instrument.
                x-property-sort:
                - idInstrument
                - sourceIdentifier
                - roles
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                x-property-sort:
                - status
            x-property-sort:
            - data
            - meta
    PostBasicBackgroundTextTypeList200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: array
                items:
                  type: object
                  x-property-sort:
                  - id
                  - name
                  - description
                  properties:
                    id:
                      type:
                      - number
                      - 'null'
                      format: id32
                      x-positive: true
                      description: Identifier of the type.
                    name:
                      type:
                      - string
                      - 'null'
                      description: English name of the type.
                    description:
                      type:
                      - string
                      - 'null'
                      description: English description of the type.
                description: List of background text types.
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                x-property-sort:
                - status
            x-property-sort:
            - data
            - meta
    GetInstrumentBackgroundTextList200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: object
                properties:
                  idInstrument:
                    type:
                    - string
                    - 'null'
                    format: id64
                    x-positive: true
                    description: MDG identifier of the instrument.
                  sourceIdentifier:
                    type:
                    - string
                    - 'null'
                    description: Identifier used in the request.
                  texts:
                    description: Background texts of the instrument.
                    type: array
                    items:
                      type: object
                      x-property-sort:
                      - type
                      - body
                      properties:
                        type:
                          type: object
                          x-property-sort:
                          - id
                          - name
                          description: Type of background text.
                          properties:
                            id:
                              type:
                              - number
                              - 'null'
                              format: id32
                              x-positive: true
                              description: Identifier of the type.
                            name:
                              type:
                              - string
                              - 'null'
                              format: localizedString
                              description: Name of the type.
                        body:
                          type:
                          - string
                          - 'null'
                          format: localizedString
                          description: Body of the background text.
                description: Background texts of the instrument, sorted by increasing type identifier value.
                x-property-sort:
                - idInstrument
                - sourceIdentifier
                - texts
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                x-property-sort:
                - status
            x-property-sort:
            - data
            - meta
    PostInstrumentBackgroundTextTypeList200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: array
                description: List of background text types, sorted by increasing identifier value.
                items:
                  type: object
                  x-property-sort:
                  - id
                  - name
                  - description
                  properties:
                    id:
                      type:
                      - number
                      - 'null'
                      format: id32
                      x-positive: true
                      description: Identifier of a type.
                    name:
                      type:
                      - string
                      - 'null'
                      format: localizedString
                      description: Name of the type.
                    description:
                      type:
                      - string
                      - 'null'
                      format: localizedString
                      description: Description of the type.
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                x-property-sort:
                - status
            x-property-sort:
            - data
            - meta
  securitySchemes:
    FactSetOAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://auth.factset.com/as/token.oauth2
          scopes: {}
    FactSetApiKey:
      type: http
      scheme: basic
externalDocs:
  description: API Documentation
  url: https://developer.factset.com/api-catalog/
x-interface-version: 2
x-documenter-version: 6.3.9
x-api-version: 4.4.0
