openapi: 3.0.3
info:
  title: Factset Analytics Datastore About Documents API
  description: Allow clients to fetch precalculated Analytics through predeterministic URLs.
  contact:
    name: FactSet Research Systems
    url: https://developer.factset.com/contact
    email: api@factset.com
  license:
    name: Apache License, Version 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  version: 1.0.0
servers:
- url: https://api.factset.com
  description: Production
- url: https://api-sandbox.factset.com
  description: Sandbox
security:
- basicAuth: []
tags:
- name: Documents
paths:
  /v1/upload-custom-document:
    post:
      tags:
      - Documents
      summary: Factset Upload a Custom Document
      description: Upload any thrid-party documents that need to be included in the final PDF. Once uploaded, the successful response will be a unique fileurl that can be used to add the files to the PDF output using the create-book endpoint. Supported files include Powerpoint, Word, RTF and PDF. The total size should not exceed 250MB and each file should not exceed 10MB.
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: array
                  items:
                    type: string
                    format: binary
                  minItems: 1
      responses:
        '200':
          description: Successful response contains file name, fileURL of the book uploaded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Upload_Document_Response'
        '400':
          description: Invalid ticker or Unknown error
        '401':
          description: Missing or invalid authentication
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /bulk-documents/nrt/v1/calls:
    get:
      summary: Factset Returns the Active Calls Happening at the Moment.
      tags:
      - Documents
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NRT-Calls'
              examples:
                example-1:
                  value:
                    data:
                    - callStatus: inProgress
                      reportId: 2683372
                      sourceCode: W
                      audioSourceId: 471849
                      recordingStartTime: '2022-07-11T14:46:59Z'
                      ticker: AZZ-US
                      entityId: 000CGP-E
                      eventType: E
                      eventTitle: Q1 2023 Earnings Call
                      eventDatetimeUtc: '2022-07-11T15:00:00Z'
                    meta:
                      sort:
                      - -startDate
                      pagination:
                        total: 1
                        isEstimatedTotal: false
                        limit: 5
                        offset: 1
                      partial:
                        isPartial: false
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NRT-Calls-400-Response'
              examples:
                example-1:
                  value:
                    id: f815da1a-da7e-4b66-a4a4-59b5b7c9bea2
                    code: parameterError
                    title: '[''_paginatinLimit''] is not a valid parameter(s)'
                    details:
                      validParameters:
                        _sort:
                        - startDate
                        - -startDate
                        _paginationLimit:
                        - integer from 0 to 500
                        _paginationOffset:
                        - positive integer
                        audioSourceId:
                        - positive integer
                        reportId:
                        - positive integer
                        callStatus:
                        - ended
                        - inProgress
                        - ewn
                        - issueAtSource
                        ticker:
                        - string in form of 'ticker-region'
                        entityId:
                        - string
        '401':
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and have successfully generated an API KEY for the IP range you are connecting from. For more help, select the Report Issue in the top right corner of this Developer Portal specification card and choose Connectivity 401 or 403 Responses.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                example-1:
                  value:
                    id: 7af3d86ca5954503b9244f2620fcf5eb
                    code: notAuthenticated
                    title: There were either no, invalid, or expired credentials present in the request.
        '403':
          description: The USERNAME-SERIAL attempted to request the endpoint is not authorized to access. The request was a legal request, but the server is refusing to respond. Please reach out to FactSet Account Team for assistance with authorization.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                example-1:
                  value:
                    id: 7af3d86ca5954503b9244f2620fcf5eb
                    code: notAuthorized
                    title: ' {USERNAME}-{SERIAL} does not have permission to use this endpoint.'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                example-1:
                  value:
                    id: 7af3d86ca5954503b9244f2620fcf5eb
                    code: genericServerError
                    title: An unexpected error happened.
      operationId: get-bulk-documents-nrt-v1-calls
      description: Returns the active calls happening at the moment
      parameters:
      - $ref: '#/components/parameters/paginationLimit'
      - $ref: '#/components/parameters/paginationOffset'
      - $ref: '#/components/parameters/audioSourceId1'
      - $ref: '#/components/parameters/reportId'
      - $ref: '#/components/parameters/callSort'
      - $ref: '#/components/parameters/entityId'
      - $ref: '#/components/parameters/ticker'
      - $ref: '#/components/parameters/callStatus'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /bulk-documents/nrt/v1/list-snippets:
    get:
      summary: Factset Returns the Latest Transcript Snippets From an Active Call.
      tags:
      - Documents
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NRT-Snippets'
              examples:
                example-1:
                  value:
                    data:
                    - reportId: 2683372
                      snippetEndTimestamp: '2021-10-15 13:16:50'
                      transcriptData:
                      - snippetData:
                          transcript: 'The operator will be with you shortly '
                          endTime: 3.78
                          startTime: 0
                      - snippetData:
                          transcript: ', welcomed the course call, please hold an operator will be with you shortly. '
                          endTime: 29.700000000000003
                          startTime: 21.42
                      snippetSequence: 1
                      audioSourceId: 471849
                    - reportId: 2683372
                      snippetEndTimestamp: '2021-10-15 13:17:16'
                      transcriptData:
                      - snippetData:
                          transcript: 'What Congress are looking to join '
                          endTime: 47.64
                          startTime: 41.46
                      - snippetData:
                          transcript: '. Can I have your first and name '
                          endTime: 55.32
                          startTime: 47.64
                      snippetSequence: 2
                      audioSourceId: 471849
                    - reportId: 2683372
                      snippetEndTimestamp: '2021-10-15 13:17:28'
                      transcriptData:
                      - snippetData:
                          transcript: '? Thank you. And good company '
                          endTime: 67.68
                          startTime: 61.2
                      snippetSequence: 3
                      audioSourceId: 471849
                    - reportId: 2683372
                      snippetEndTimestamp: '2021-10-15 13:17:41'
                      transcriptData:
                      - snippetData:
                          transcript: . Let's I'll join you and hold onto the calls again.
                          endTime: 74.46000000000001
                          startTime: 67.68
                      snippetSequence: 4
                      audioSourceId: 471849
                    - reportId: 2683372
                      snippetEndTimestamp: '2021-10-15 13:18:57'
                      transcriptData:
                      - snippetData:
                          transcript: 'on '
                          endTime: 156.78
                          startTime: 150.9
                      snippetSequence: 5
                      audioSourceId: 471849
                    meta:
                      pagination:
                        total: 191
                        isEstimatedTotal: false
                        limit: 5
                        offset: 5
                      partial:
                        isPartial: true
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NRT-Snippets-400-Response'
              examples:
                example-1:
                  value:
                    id: 39bf5f1c-c503-4787-94e0-e557a3564fd6,
                    code: parameterError
                    title: '[''_paginatinLimit''] is not a valid parameter(s)'
                    details:
                      validParameters:
                        _paginationLimit:
                        - integer from 0 to 500
                        _paginationOffset:
                        - positive integer
                        audioSourceId:
                        - positive integer
                        reportId:
                        - positive integer
        '401':
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and have successfully generated an API KEY for the IP range you are connecting from. For more help, select the Report Issue in the top right corner of this Developer Portal specification card and choose Connectivity 401 or 403 Responses.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                example-1:
                  value:
                    id: 7af3d86ca5954503b9244f2620fcf5eb
                    code: notAuthenticated
                    title: There were either no, invalid, or expired credentials present in the request.
        '403':
          description: The USERNAME-SERIAL attempted to request the endpoint is not authorized to access. The request was a legal request, but the server is refusing to respond. Please reach out to FactSet Account Team for assistance with authorization.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                example-1:
                  value:
                    id: 7af3d86ca5954503b9244f2620fcf5eb
                    code: notAuthorized
                    title: ' {USERNAME}-{SERIAL} does not have permission to use this endpoint.'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                example-1:
                  value:
                    id: 7af3d86ca5954503b9244f2620fcf5eb
                    code: genericServerError
                    title: An unexpected error happened.
      operationId: get-bulk-documents-nrt-v1-list-snippets
      description: Returns the latest snippets from an active call
      parameters:
      - $ref: '#/components/parameters/paginationLimit'
      - $ref: '#/components/parameters/paginationOffset'
      - $ref: '#/components/parameters/audioSourceId'
      - $ref: '#/components/parameters/reportId'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /bulk-documents/nrt/v1/speakerids:
    get:
      summary: Factset Returns the Latest Speakerids With the Confidence Scores Generated for an Active Call.
      tags:
      - Documents
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NRT-Speakerids'
              examples:
                example-1:
                  value:
                    data:
                    - audioSourceId: 471849
                      speakerStartOffset: 0
                      speakerId: 00797V-E
                      cosineScore: 0.6958988631392222
                      affiliationId: 0016YD-E
                    - audioSourceId: 471849
                      speakerStartOffset: 61.488
                      speakerId: 00797V-E
                      cosineScore: 0.7166958724380188
                      affiliationId: 0016YD-E
                    - audioSourceId: 471849
                      speakerStartOffset: 71.712
                      speakerId: 00797V-E
                      cosineScore: 0.7045775184563546
                      affiliationId: 0016YD-E
                    - audioSourceId: 471849
                      speakerStartOffset: 81.712
                      speakerId: 00797V-E
                      cosineScore: 0.7845775184563546
                      affiliationId: 0016YD-E
                    - audioSourceId: 471849
                      speakerStartOffset: 91.712
                      speakerId: 00797V-E
                      cosineScore: 0.7645775184563546
                      affiliationId: 0016YD-E
                    meta:
                      sort:
                      - startDate
                      pagination:
                        total: 439
                        isEstimatedTotal: false
                        limit: 5
                        offset: 5
                      partial:
                        isPartial: true
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NRT-Speakerids-400-Response'
              examples:
                example-1:
                  value:
                    id: caccf853-a448-4a14-b44f-ffbb962730f3
                    code: parameterError
                    title: '[''_paginatinLimit''] is not a valid parameter(s)'
                    details:
                      validParameters:
                        _sort:
                        - startDate
                        - -startDate
                        _paginationLimit:
                        - integer from 0 to 500
                        _paginationOffset:
                        - positive integer
                        audioSourceId:
                        - positive integer
        '401':
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and have successfully generated an API KEY for the IP range you are connecting from. For more help, select the Report Issue in the top right corner of this Developer Portal specification card and choose Connectivity 401 or 403 Responses.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                example-1:
                  value:
                    id: 7af3d86ca5954503b9244f2620fcf5eb
                    code: notAuthenticated
                    title: There were either no, invalid, or expired credentials present in the request.
        '403':
          description: The USERNAME-SERIAL attempted to request the endpoint is not authorized to access. The request was a legal request, but the server is refusing to respond. Please reach out to FactSet Account Team for assistance with authorization.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                example-1:
                  value:
                    id: 7af3d86ca5954503b9244f2620fcf5eb
                    code: notAuthorized
                    title: ' {USERNAME}-{SERIAL} does not have permission to use this endpoint.'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                example-1:
                  value:
                    id: 7af3d86ca5954503b9244f2620fcf5eb
                    code: genericServerError
                    title: An unexpected error happened.
      operationId: get-bulk-documents-nrt-v1-speakerids
      parameters:
      - $ref: '#/components/parameters/paginationLimit'
      - $ref: '#/components/parameters/paginationOffset'
      - $ref: '#/components/parameters/audioSourceId'
      - $ref: '#/components/parameters/speakerSort'
      description: Returns the latest speakerIds with the cosine scores(confidence scores) generated for an active call.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /bulk-documents/nrt/v1/indexed-nrt:
    get:
      summary: Factset Returns the Indexed Transcript Data in Small Increments Throughout the Duration of an Active Call.
      tags:
      - Documents
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Indexed-NRT'
              examples:
                example-1:
                  value:
                    data:
                    - reportId: 2683372
                      snippetEndTimestamp: '2022-01-14 15:03:08'
                      snippetSequence: 7
                      audioSourceId: 471849
                      transcriptData:
                      - indexedData:
                        - index:
                          - confidence: 1
                            content: Revenue
                            language: en
                          endTime: 782.6299999976159
                          startTime: 782.1199999922515
                          type: word
                        - index:
                          - confidence: 0.9172338247299194
                            content: increased
                            language: en
                          endTime: 782.9899999523163
                          startTime: 782.6299999976159
                          type: word
                        - index:
                          - confidence: 0.9998389482498169
                            content: six
                            language: en
                          endTime: 783.2299999618531
                          startTime: 782.9899999523163
                          type: word
                        - index:
                          - confidence: 0.9989027976989746
                            content: percent
                            language: en
                          endTime: 783.7999383831025
                          startTime: 783.2299999618531
                          type: word
                        - index:
                          - confidence: 1
                            content: as
                            language: en
                          endTime: 784.0099999332429
                          startTime: 783.8000000143052
                          type: word
                        - index:
                          - confidence: 0.9140177965164185
                            content: we
                            language: en
                          endTime: 784.0999967479706
                          startTime: 784.0099999332429
                          type: word
                        - index:
                          - confidence: 0.8930811285972595
                            content: benefited
                            language: en
                          endTime: 784.6999999904633
                          startTime: 784.1026543998719
                          type: word
                        - index:
                          - confidence: 1
                            content: from
                            language: en
                          endTime: 784.9100000286103
                          startTime: 784.6999999904633
                          type: word
                        - index:
                          - confidence: 1
                            content: strong
                            language: en
                          endTime: 785.4499999904633
                          startTime: 784.9100546264649
                          type: word
                        - index:
                          - confidence: 1
                            content: gains
                            language: en
                          endTime: 786.3499998474122
                          startTime: 785.7499999427796
                          type: word
                        - index:
                          - confidence: 0.9999908208847046
                            content: from
                            language: en
                          endTime: 786.8299755477906
                          startTime: 786.5599998855591
                          type: word
                        - index:
                          - confidence: 0.9939011335372925
                            content: equity
                            language: en
                          endTime: 787.19
                          startTime: 786.8299998664857
                          type: word
                        - index:
                          - confidence: 0.9999626874923706
                            content: securities
                            language: en
                          endTime: 787.9399942779542
                          startTime: 787.1901826286316
                          type: word
                        - index:
                          - confidence: 1
                            content: and
                            language: en
                          endTime: 788.4499997520447
                          startTime: 788.1800994300843
                          type: word
                        - index:
                          - confidence: 0.6049093008041382
                            content: gain
                            language: en
                          endTime: 788.9599990272523
                          startTime: 788.4499997520447
                          type: word
                        - index:
                          - confidence: 1
                            content: from
                            language: en
                          endTime: 789.5299996757508
                          startTime: 789.2599996948243
                          type: word
                        - index:
                          - confidence: 0.9999662637710571
                            content: sales
                            language: en
                          endTime: 790.0999998474122
                          startTime: 789.5299996757508
                          type: word
                        - index:
                          - confidence: 1
                            content: of
                            language: en
                          endTime: 790.280000152588
                          startTime: 790.0999998474122
                          type: word
                        - index:
                          - confidence: 1
                            content: our
                            language: en
                          endTime: 790.3699993515015
                          startTime: 790.280000152588
                          type: word
                        - index:
                          - confidence: 0.999971866607666
                            content: student
                            language: en
                          endTime: 790.7000002288819
                          startTime: 790.3699993515015
                          type: word
                        - index:
                          - confidence: 0.9998940825462341
                            content: lending
                            language: en
                          endTime: 791.150000038147
                          startTime: 790.7000011825562
                          type: word
                        - index:
                          - confidence: 1
                            content: asset
                            language: en
                          endTime: 791.7499994659424
                          startTime: 791.2999996566773
                          type: word
                        snippetData:
                          transcript: 'Revenue increased six percent as we benefited from strong gains from equity securities and gain from sales of our student lending asset '
                          endTime: 791.75
                          startTime: 781.94
                    - reportId: 2683372
                      snippetEndTimestamp: '2022-01-14 15:03:28'
                      snippetSequence: 8
                      audioSourceId: 471849
                      transcriptData:
                      - indexedData:
                        - index:
                          - confidence: 1
                            content: management
                            language: en
                          endTime: 792.4099999666214
                          startTime: 791.7799999993294
                          type: word
                        - index:
                          - confidence: 0.9995142221450806
                            content: and
                            language: en
                          endTime: 792.589999973774
                          startTime: 792.4099999666214
                          type: word
                        - index:
                          - confidence: 1
                            content: corporate
                            language: en
                          endTime: 792.9199999570847
                          startTime: 792.589999973774
                          type: word
                        - index:
                          - confidence: 0.9906429052352905
                            content: trust
                            language: en
                          endTime: 793.2199999094009
                          startTime: 792.9199999570847
                          type: word
                        - index:
                          - confidence: 0.9990030527114868
                            content: businesses
                            language: en
                          endTime: 793.8563723564148
                          startTime: 793.2199999094009
                          type: word
                        - index:
                          - confidence: 1
                            content: .
                            language: en
                          endTime: 793.8563723564148
                          startTime: 793.8563723564148
                          isEOS: true
                          type: punctuation
                        - index:
                          - confidence: 1
                            content: We
                            language: en
                          endTime: 794.5999999046326
                          startTime: 794.3899998664856
                          type: word
                        - index:
                          - confidence: 1
                            content: also
                            language: en
                          endTime: 794.9299998283386
                          startTime: 794.5999999046326
                          type: word
                        - index:
                          - confidence: 0.8609960079193115
                            content: have
                            language: en
                          endTime: 795.0797309875488
                          startTime: 794.9299998283386
                          type: word
                        - index:
                          - confidence: 1
                            content: broad
                            language: en
                          endTime: 795.4099998474121
                          startTime: 795.079999923706
                          type: word
                        - index:
                          - confidence: 1
                            content: based
                            language: en
                          endTime: 795.7099997997284
                          startTime: 795.4099998474121
                          type: word
                        - index:
                          - confidence: 1
                            content: revenue
                            language: en
                          endTime: 796.0699996948242
                          startTime: 795.7099997997284
                          type: word
                        - index:
                          - confidence: 1
                            content: growth
                            language: en
                          endTime: 796.4899997711182
                          startTime: 796.0699996948242
                          type: word
                        - index:
                          - confidence: 1
                            content: across
                            language: en
                          endTime: 796.8800001144409
                          startTime: 796.4899997711182
                          type: word
                        - index:
                          - confidence: 1
                            content: our
                            language: en
                          endTime: 796.9699997901917
                          startTime: 796.8800001144409
                          type: word
                        - index:
                          - confidence: 1
                            content: businesses
                            language: en
                          endTime: 797.539999961853
                          startTime: 796.9699997901917
                          type: word
                        - index:
                          - confidence: 1
                            content: ','
                            language: en
                          endTime: 797.539999961853
                          startTime: 797.539999961853
                          isEOS: false
                          type: punctuation
                        - index:
                          - confidence: 1
                            content: including
                            language: en
                          endTime: 797.9600076675415
                          startTime: 797.539999961853
                          type: word
                        - index:
                          - confidence: 0.9997471570968628
                            content: home
                            language: en
                          endTime: 798.1699695587158
                          startTime: 797.9600076675415
                          type: word
                        - index:
                          - confidence: 0.9999999403953552
                            content: lending
                            language: en
                          endTime: 798.5899996757507
                          startTime: 798.170000076294
                          type: word
                        - index:
                          - confidence: 1
                            content: ','
                            language: en
                          endTime: 798.5899996757507
                          startTime: 798.5899996757507
                          isEOS: false
                          type: punctuation
                        - index:
                          - confidence: 0.9962349534034729
                            content: consumer
                            language: en
                          endTime: 799.4587783813477
                          startTime: 798.9800000190735
                          type: word
                        - index:
                          - confidence: 0.9955459237098694
                            content: and
                            language: en
                          endTime: 799.5499267578125
                          startTime: 799.4600353240967
                          type: word
                        - index:
                          - confidence: 1
                            content: small
                            language: en
                          endTime: 799.789999961853
                          startTime: 799.5499997138977
                          type: word
                        - index:
                          - confidence: 1
                            content: business
                            language: en
                          endTime: 800.1199998855591
                          startTime: 799.789999961853
                          type: word
                        - index:
                          - confidence: 1
                            content: banking
                            language: en
                          endTime: 800.5999069213867
                          startTime: 800.1199998855591
                          type: word
                        - index:
                          - confidence: 1
                            content: ','
                            language: en
                          endTime: 800.5999069213867
                          startTime: 800.5999069213867
                          isEOS: false
                          type: punctuation
                        - index:
                          - confidence: 1
                            content: credit
                            language: en
                          endTime: 801.2600002288818
                          startTime: 800.8699998855591
                          type: word
                        - index:
                          - confidence: 1
                            content: card
                            language: en
                          endTime: 801.6499996185303
                          startTime: 801.2600002288818
                          type: word
                        snippetData:
                          transcript: 'management and corporate trust businesses. We also have broad based revenue growth across our businesses, including home lending, consumer and small business banking, credit card '
                          endTime: 801.65
                          startTime: 791.75
                      - indexedData:
                        - index:
                          - confidence: 1
                            content: ','
                            language: en
                          endTime: 801.9799999833107
                          startTime: 801.9799999833107
                          isEOS: false
                          type: punctuation
                        - index:
                          - confidence: 0.9995478391647339
                            content: auto
                            language: en
                          endTime: 802.5800000071525
                          startTime: 801.9799999833107
                          type: word
                        - index:
                          - confidence: 1
                            content: ','
                            language: en
                          endTime: 802.5800000071525
                          startTime: 802.5800000071525
                          isEOS: false
                          type: punctuation
                        - index:
                          - confidence: 1
                            content: commercial
                            language: en
                          endTime: 803.2399999141693
                          startTime: 802.7899999856949
                          type: word
                        - index:
                          - confidence: 1
                            content: real
                            language: en
                          endTime: 803.4199999809265
                          startTime: 803.2399999141693
                          type: word
                        - index:
                          - confidence: 1
                            content: estate
                            language: en
                          endTime: 803.8999732971191
                          startTime: 803.4199999809265
                          type: word
                        - index:
                          - confidence: 1
                            content: ','
                            language: en
                          endTime: 803.8999732971191
                          startTime: 803.8999732971191
                          isEOS: false
                          type: punctuation
                        - index:
                          - confidence: 1
                            content: banking
                            language: en
                          endTime: 804.8299998283386
                          startTime: 804.229999923706
                          type: word
                        - index:
                          - confidence: 1
                            content: and
                            language: en
                          endTime: 805.3399998188019
                          startTime: 805.0699998378753
                          type: word
                        - index:
                          - confidence: 1
                            content: wealth
                            language: en
                          endTime: 805.6699999809265
                          startTime: 805.3399998188019
                          type: word
                        - index:
                          - confidence: 0.9995111227035522
                            content: and
                            language: en
                          endTime: 805.8200000762939
                          startTime: 805.6699999809265
                          type: word
                        - index:
                          - confidence: 1
                            content: investment
                            language: en
                          endTime: 806.3000000953674
                          startTime: 805.8200000762939
                          type: word
                        - index:
                          - confidence: 1
                            content: management
                            language: en
                          endTime: 806.8099998474121
                          startTime: 806.3000000953674
                          type: word
                        - index:
                          - confidence: 1
                            content: .
                            language: en
                          endTime: 806.8099998474121
                          startTime: 806.8099998474121
                          isEOS: true
                          type: punctuation
                        - index:
                          - confidence: 1
                            content: Credit
                            language: en
                          endTime: 807.9199999809265
                          startTime: 807.5599998474121
                          type: word
                        - index:
                          - confidence: 1
                            content: quality
                            language: en
                          endTime: 808.4
                          startTime: 807.9199999809265
                          type: word
                        - index:
                          - confidence: 0.6613963842391968
                            content: improved
                            language: en
                          endTime: 808.7600001335144
                          startTime: 808.4000004768371
                          type: word
                        - index:
                          - confidence: 1
                            content: significantly
                            language: en
                          endTime: 809.689999961853
                          startTime: 808.7640556335449
                          type: word
                        - index:
                          - confidence: 0.9995760321617126
                            content: as
                            language: en
                          endTime: 809.9599994659424
                          startTime: 809.7199996948242
                          type: word
                        - index:
                          - confidence: 1
                            content: the
                            language: en
                          endTime: 810.0499996185303
                          startTime: 809.9599994659424
                          type: word
                        - index:
                          - confidence: 1
                            content: economy
                            language: en
                          endTime: 810.7099994659424
                          startTime: 810.0499996185303
                          type: word
                        - index:
                          - confidence: 0.9282795786857605
                            content: improved
                            language: en
                          endTime: 811.7000907897949
                          startTime: 811.0399993896484
                          type: word
                        snippetData:
                          transcript: ', auto, commercial real estate, banking and wealth and investment management. Credit quality improved significantly as the economy improved '
                          endTime: 811.6999999999999
                          startTime: 801.65
                    meta:
                      pagination:
                        total: 191
                        isEstimatedTotal: false
                        limit: 5
                        offset: 5
                      partial:
                        isPartial: true
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NRT-Snippets-400-Response'
              examples:
                example-1:
                  value:
                    id: 39bf5f1c-c503-4787-94e0-e557a3564fd6,
                    code: parameterError
                    title: '[''_paginatinLimit''] is not a valid parameter(s)'
                    details:
                      validParameters:
                        _paginationLimit:
                        - integer from 0 to 50
                        _paginationOffset:
                        - positive integer
                        audioSourceId:
                        - positive integer
                        reportId:
                        - positive integer
        '401':
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and have successfully generated an API KEY for the IP range you are connecting from. For more help, select the Report Issue in the top right corner of this Developer Portal specification card and choose Connectivity 401 or 403 Responses.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                example-1:
                  value:
                    id: 7af3d86ca5954503b9244f2620fcf5eb
                    code: notAuthenticated
                    title: There were either no, invalid, or expired credentials present in the request.
        '403':
          description: The USERNAME-SERIAL attempted to request the endpoint is not authorized to access. The request was a legal request, but the server is refusing to respond. Please reach out to FactSet Account Team for assistance with authorization.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                example-1:
                  value:
                    id: 7af3d86ca5954503b9244f2620fcf5eb
                    code: notAuthorized
                    title: ' {USERNAME}-{SERIAL} does not have permission to use this endpoint.'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                example-1:
                  value:
                    id: 7af3d86ca5954503b9244f2620fcf5eb
                    code: genericServerError
                    title: An unexpected error happened.
      operationId: get-bulk-documents-nrt-v1-indexed-nrt
      description: Returns the  indexed transcript data  in small increments throughout the duration of an active call.
      parameters:
      - $ref: '#/components/parameters/indexedpaginationLimit'
      - $ref: '#/components/parameters/paginationOffset'
      - $ref: '#/components/parameters/audioSourceId'
      - $ref: '#/components/parameters/reportId'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /analytics/engines/pa/v3/documents/{path}:
    get:
      tags:
      - Documents
      summary: Factset Get Pa3 Documents and Sub-directories in a Directory
      description: This endpoint looks up all PA3 documents and sub-directories in a given directory.
      operationId: getPA3Documents
      parameters:
      - name: path
        in: path
        description: The directory to get the documents and sub-directories in
        required: true
        schema:
          type: string
          description: The directory to get the documents and sub-directories in
          example: 'Client:'
      responses:
        '200':
          description: Expected response, returns a list of PA3 documents and directories
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentDirectoriesRoot'
        '400':
          description: Invalid query parameter or value provided
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
        '401':
          description: Missing or invalid authentication
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
        '403':
          description: User is forbidden with current credentials
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              schema:
                type: string
        '404':
          description: Path not found
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
        '406':
          description: Unsupported Accept header.  Header needs to be set to application/json
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              schema:
                type: string
        '429':
          description: Rate limit reached. Wait till the time specified in Retry-After header value to make further requests.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
            Retry-After:
              description: Time to wait in seconds before making a new request as the rate limit has reached.
              schema:
                type: string
        '500':
          description: Server error. Log the X-DataDirect-Request-Key header to assist in troubleshooting
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
        '503':
          description: Request timed out. Retry the request in some time
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /analytics/engines/pub/v3/documents/{path}:
    get:
      tags:
      - Documents
      summary: Factset Gets Publisher Documents and Sub-directories in a Directory
      description: This endpoint looks up all Publisher documents and sub-directories in a given directory.
      operationId: getPubDocuments
      parameters:
      - name: path
        in: path
        description: The directory to get the documents in
        required: true
        schema:
          type: string
          description: The directory to get the documents in
          default: Client:folder1/folder2
      responses:
        '200':
          description: Expected response, returns a list of Publisher documents and directories
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentDirectoriesRoot_2'
        '400':
          description: Invalid query parameter or value provided
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              schema:
                type: string
        '401':
          description: Missing or invalid authentication
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
        '403':
          description: User is forbidden with current credentials
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              schema:
                type: string
        '404':
          description: Path not found
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              schema:
                type: string
        '406':
          description: Unsupported Accept header.  Header needs to be set to application/json
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              schema:
                type: string
        '429':
          description: Rate limit reached. Wait till the time specified in Retry-After header value to make further requests.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
            Retry-After:
              description: Time to wait in seconds before making a new request as the rate limit has reached.
              schema:
                type: string
        '500':
          description: Server error. Log the X-DataDirect-Request-Key header to assist in troubleshooting
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
        '503':
          description: Request timed out. Retry the request in some time
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /analytics/engines/spar/v3/documents/{path}:
    get:
      tags:
      - Documents
      summary: Factset Gets Spar3 Documents and Sub-directories in a Directory
      description: This endpoint looks up all SPAR3 documents and sub-directories in a given directory.
      operationId: getSPAR3Documents
      parameters:
      - name: path
        in: path
        description: The directory to get the documents in
        required: true
        schema:
          type: string
          description: The directory to get the documents in
          example: 'Client:'
      responses:
        '200':
          description: Expected response, returns a list of SPAR3 documents and directories
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentDirectoriesRoot'
        '400':
          description: Invalid query parameter or value provided
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse_2'
        '401':
          description: Missing or invalid authentication
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
        '403':
          description: User is forbidden with current credentials
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              schema:
                type: string
        '404':
          description: Path not found
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse_2'
        '406':
          description: Unsupported Accept header.  Header needs to be set to application/json
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              schema:
                type: string
        '429':
          description: Rate limit reached. Wait till the time specified in Retry-After header value to make further requests.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
            Retry-After:
              description: Time to wait in seconds before making a new request as the rate limit has reached.
              schema:
                type: string
        '500':
          description: Server error. Log the X-DataDirect-Request-Key header to assist in troubleshooting
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
        '503':
          description: Request timed out. Retry the request in some time
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /analytics/engines/vault/v3/documents/{path}:
    get:
      tags:
      - Documents
      summary: Factset Get Vault Documents and Sub-directories in a Directory
      description: This endpoint looks up all Vault documents and sub-directories in a given directory.
      operationId: getVaultDocuments
      parameters:
      - name: path
        in: path
        description: The directory to get the documents in
        required: true
        schema:
          type: string
          description: The directory to get the documents in
          default: ''
      responses:
        '200':
          description: Expected response, returns a list of Vault documents and directories
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentDirectoriesRoot'
        '400':
          description: Invalid query parameter or value provided
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse_3'
        '401':
          description: Missing or invalid authentication
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
        '403':
          description: User is forbidden with current credentials
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              schema:
                type: string
        '404':
          description: Path not found
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse_3'
        '406':
          description: Unsupported Accept header.  Header needs to be set to application/json
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              schema:
                type: string
        '429':
          description: Rate limit reached. Wait till the time specified in Retry-After header value to make further requests.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
            Retry-After:
              description: Time to wait in seconds before making a new request as the rate limit has reached.
              schema:
                type: string
        '500':
          description: Server error. Log the X-DataDirect-Request-Key header to assist in troubleshooting
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
        '503':
          description: Request timed out. Retry the request in some time
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    DocumentDirectoriesRoot:
      required:
      - data
      type: object
      properties:
        data:
          $ref: '#/components/schemas/DocumentDirectories'
        meta:
          nullable: true
          example: example_value
    NRT-Snippets-400-Response:
      description: ''
      type: object
      properties:
        id:
          type: string
          example: abc123
        code:
          type: string
          example: example_value
        title:
          type: string
          example: Example Title
        details:
          type: object
          properties:
            validParameters:
              type: object
              properties:
                _paginationLimit:
                  type: array
                  items:
                    type: string
                _paginationOffset:
                  type: array
                  items:
                    type: string
                audioSourceId:
                  type: array
                  items:
                    type: string
                reportId:
                  type: array
                  items:
                    type: string
          example: example_value
    NRT-Speakerids:
      description: Speaker metadata and the cosine scores(confidence scores ) generated for an active  call are returned.
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              audioSourceId:
                type: integer
                nullable: true
                description: The Unique ID for an Internal recording specific to reportID. For example, ReportID X would have multiple recordings from a different source (dial-in or webcast). One ReportID can have multiple audioSourceIDs.
              speakerStartOffset:
                type: number
                nullable: true
                description: The number of seconds into the call when a speaker starts / is speaking.
              speakerId:
                type: string
                nullable: true
                description: A unique identifier for a speaker.
              cosineScore:
                type: number
                nullable: true
                description: 'The cosine similarity score (Confidence score)  for a particular speaker.


                  A score >= 0.49 while a speaker is speaking can be considered as a high confidence in the predicted speaker.


                  Only the SpeakerIDs with the highest cosineScore are rendered in the result set.'
              affiliationId:
                type: string
                nullable: true
                description: Affiliation ID denotes the company a speaker is associated with.
          example: []
        meta:
          type: object
          properties:
            sort:
              type: array
              description: The value in _sort parameter if used in the request.
              items:
                type: string
            pagination:
              type: object
              properties:
                total:
                  type: integer
                  description: Total number of results the API returns for a particular query.
                isEstimatedTotal:
                  type: boolean
                  description: Boolean value that represents whether the total count of results returned is exact or an estimate. This is defaulted to False as the API should always return the exact count.
                limit:
                  type: integer
                  description: Number of results returned per page.
                offset:
                  type: integer
                  description: The flag indicating the position in the results array if additional results are available beyond the default value or the value in paginationLimit parameter (if used). This value is passed in the _paginationOffset parameter to retrieve subsequent results.
            partial:
              type: object
              properties:
                isPartial:
                  type: boolean
                  description: If the value is True, it indicates additional results are available. False represents that this is the last set of results for this request.
          example: example_value
    ClientErrorResponse_2:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Error_3'
          nullable: true
          example: []
    NRT-Calls-400-Response:
      description: ''
      type: object
      properties:
        id:
          type: string
          example: abc123
        code:
          type: string
          example: example_value
        title:
          type: string
          example: Example Title
        details:
          type: object
          properties:
            validParameters:
              type: object
              properties:
                _sort:
                  type: array
                  items:
                    type: string
                _paginationLimit:
                  type: array
                  items:
                    type: string
                _paginationOffset:
                  type: array
                  items:
                    type: string
                audioSourceId:
                  type: array
                  items:
                    type: string
                reportId:
                  type: array
                  items:
                    type: string
                callStatus:
                  type: array
                  items:
                    type: string
                ticker:
                  type: array
                  items:
                    type: string
                entityId:
                  type: array
                  items:
                    type: string
          example: example_value
    Error_2:
      type: object
      properties:
        id:
          type: string
          nullable: true
          example: abc123
        code:
          type: string
          nullable: true
          example: example_value
        title:
          type: string
          nullable: true
          example: Example Title
        detail:
          type: string
          nullable: true
          example: example_value
        source:
          $ref: '#/components/schemas/ErrorSource'
    Upload_Document_Response:
      title: Upload Document Response
      description: Response to Upload Document.
      type: array
      items:
        properties:
          name:
            type: string
            description: Name of the uploaded file
            example: Custom Upload
          file_url:
            type: string
            description: FIle url
            example: b33f6b758f2b12562251e5396e21f68ad46648bf19a8f3a9e55f74
    Error_3:
      type: object
      properties:
        id:
          type: string
          nullable: true
          example: abc123
        code:
          type: string
          nullable: true
          example: example_value
        title:
          type: string
          nullable: true
          example: Example Title
        detail:
          type: string
          nullable: true
          example: example_value
        source:
          $ref: '#/components/schemas/ErrorSource'
    Error_4:
      type: object
      properties:
        id:
          type: string
          nullable: true
          example: abc123
        code:
          type: string
          nullable: true
          example: example_value
        title:
          type: string
          nullable: true
          example: Example Title
        detail:
          type: string
          nullable: true
          example: example_value
        source:
          $ref: '#/components/schemas/ErrorSource'
    NRT-Speakerids-400-Response:
      description: ''
      type: object
      properties:
        id:
          type: string
          example: abc123
        code:
          type: string
          example: example_value
        title:
          type: string
          example: Example Title
        details:
          type: object
          properties:
            validParameters:
              type: object
              properties:
                _sort:
                  type: array
                  items:
                    type: string
                _paginationLimit:
                  type: array
                  items:
                    type: string
                _paginationOffset:
                  type: array
                  items:
                    type: string
                audioSourceId:
                  type: array
                  items:
                    type: string
          example: example_value
    Error:
      type: object
      properties:
        id:
          type: string
          example: abc123
        code:
          type: string
          example: example_value
        title:
          type: string
          example: Example Title
    Indexed-NRT:
      description: Indexed transcript metadata of active calls happening at that moment are returned.
      type: object
      properties:
        data:
          type: array
          items:
            properties:
              reportId:
                type: integer
                description: The unique ID for an event.
              snippetEndTimestamp:
                type: string
                description: The snippet end time is calculated based off the endTime in the snippetData section and the recordingStartTime from the calls endpoint.
              snippetSequence:
                type: integer
                description: The sequence number of the snippet from the start of the current call.
              audioSourceId:
                type: integer
                description: The Unique ID for an Internal recording specific to reportID. For example, ReportID X would have multiple recordings from a different source (dial-in or webcast). One ReportID can have multiple audioSourceIDs.
              transcriptData:
                type: array
                items:
                  properties:
                    indexedData:
                      type: array
                      items:
                        properties:
                          index:
                            type: array
                            items:
                              properties:
                                confidence:
                                  type: number
                                  description: Represents the confidence with which the speech to text recognition engine predicts. 1 represents 100% confidence about the content.
                                content:
                                  type: string
                                  description: It denotes the spoken content.
                                language:
                                  type: string
                                  description: It denotes the spoken language. Its always english.
                          endTime:
                            type: number
                            description: The number of seconds into the call, when the content ends.
                          startTime:
                            type: number
                            description: The number of seconds into the call, when the content begins.
                          type:
                            type: string
                            description: 'It denotes the type of content.


                              Values- punctuation, word, speaker_change'
                          isEOS:
                            type: boolean
                            description: "isEOS is an abbreviation for isEndOfSentence. True\n When the type is punctuation and content\nis..   \n\n\n                                 "
                    snippetData:
                      type: object
                      properties:
                        transcript:
                          type: string
                          description: The actual transcript snippet.
                        endTime:
                          type: number
                          description: The number of seconds into the call,when the transcript snippet ended.
                        startTime:
                          type: number
                          description: The number of seconds into the call,when the transcript snippet started.
          example: []
        meta:
          type: object
          properties:
            pagination:
              type: object
              properties:
                total:
                  type: integer
                  description: Total number for results returned for a specific query.
                isEstimatedTotal:
                  type: boolean
                  description: This field acts as a flag for the exact count of results and is defaulted to false as the API should always return the exact count of results.
                limit:
                  type: integer
                  description: Number of results returned per page
                offset:
                  type: integer
                  description: The flag indicating the position in the results array if additional results are available beyond the default value or the value in _paginationLimit parameter (if used). This value is passed in the _paginationOffset parameter to retrieve subsequent results.
            partial:
              type: object
              properties:
                isPartial:
                  type: boolean
                  description: If the value is True, it indicates additional results are available. False represents that this is the last set of results for this request.
          example: example_value
    NRT-Snippets:
      description: Transcript snippet metadata of active calls happening at that moment are returned.
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              reportId:
                type: integer
[...]
