openapi: 3.2.0
info:
  title: Factset IRN API v1 Contact Roles API
  description: Allows users to extract, create, update and configure IRN data.
  version: '1'
servers:
- url: https://api.factset.com/research/irn
  description: Production Server
- url: https://api-sandbox.factset.com/research/irn
  description: Sandbox
security:
- basicScheme: []
tags:
- name: Contact Roles
paths:
  /v1/contact-roles:
    get:
      tags:
      - Contact Roles
      summary: Factset Get list of the contact roles configured in your group
      operationId: GetContactRoles
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ContactRoleDto'
    post:
      tags:
      - Contact Roles
      summary: Factset Create contact roles
      operationId: CreateContactRole
      requestBody:
        description: Contact role name
        content:
          application/json-patch+json:
            schema:
              maxLength: 50
              minLength: 0
              type: string
          application/json:
            schema:
              maxLength: 50
              minLength: 0
              type: string
          text/json:
            schema:
              maxLength: 50
              minLength: 0
              type: string
          application/*+json:
            schema:
              maxLength: 50
              minLength: 0
              type: string
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewItemDto'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
  /v1/contact-roles/{contactRoleId}:
    put:
      tags:
      - Contact Roles
      summary: Factset Edit a contact role
      operationId: UpdateContactRole
      parameters:
      - name: contactRoleId
        in: path
        description: contactRoleId to update associated record
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        description: Updated contact role name
        content:
          application/json-patch+json:
            schema:
              maxLength: 50
              minLength: 0
              type: string
          application/json:
            schema:
              maxLength: 50
              minLength: 0
              type: string
          text/json:
            schema:
              maxLength: 50
              minLength: 0
              type: string
          application/*+json:
            schema:
              maxLength: 50
              minLength: 0
              type: string
        required: true
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
    delete:
      tags:
      - Contact Roles
      summary: Factset Delete a contact role
      operationId: DeleteContactRole
      parameters:
      - name: contactRoleId
        in: path
        description: contactRoleId to delete associated record
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
components:
  schemas:
    NewItemDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
      additionalProperties: false
    ProblemDetails:
      type: object
      properties:
        type:
          type:
          - string
          - 'null'
        title:
          type:
          - string
          - 'null'
        status:
          type:
          - integer
          - 'null'
          format: int32
        detail:
          type:
          - string
          - 'null'
        instance:
          type:
          - string
          - 'null'
      additionalProperties: {}
    ContactRoleDto:
      required:
      - id
      - name
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          maxLength: 50
          minLength: 0
          type: string
      additionalProperties: false
  securitySchemes:
    basicScheme:
      type: http
      scheme: basic
