openapi: 3.0.3
info:
  title: Factset Analytics Datastore About Rankings API
  description: Allow clients to fetch precalculated Analytics through predeterministic URLs.
  contact:
    name: FactSet Research Systems
    url: https://developer.factset.com/contact
    email: api@factset.com
  license:
    name: Apache License, Version 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  version: 1.0.0
servers:
- url: https://api.factset.com
  description: Production
- url: https://api-sandbox.factset.com
  description: Sandbox
security:
- basicAuth: []
tags:
- name: Rankings
paths:
  /stock/notation/ranking/intraday/list:
    post:
      tags:
      - Rankings
      operationId: post/stock/notation/ranking/intraday/list
      x-supportsOffsetBasedPaging: true
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 5
      x-supportsPermissionDeniedResponse: false
      summary: Ranking of stocks' notations using intraday figures.
      description: 'Ranking of stocks'' notations using intraday figures. The result is limited to 100 notations that all must satisfy all selected filters. If more than one notation of an instrument matches the parameters, and no market priority has been specified, only the notation with the highest trading volume, averaged over one month, is considered.


        By default, the result is sorted descending by the relative intraday performance corresponding to the most recent trade price, see attribute `trade.performance.relative`. The result may contain sortable values based on different currencies, possibly making the ranking nonsensical, if the parameter `currency` has not been specified.`


        The search can be restricted to a specific set of products by using customer-specific instrument or notation restriction lists. Such restriction lists are set up by FactSet upon request.


        All identifiers used as parameters must be valid and entitled.'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostStockNotationRankingIntradayListRequest'
      responses:
        '200':
          $ref: '#/components/responses/PostStockNotationRankingIntradayList200Response'
      parameters: []
components:
  schemas:
    PartialOutputObject:
      type: object
      properties:
        isPartial:
          type: boolean
          description: Flag indicating that the response is a possibly incomplete array or an object containing a possibly incomplete array, due to hitting a processing time limit. If `true`, some matching results might be missing from the array, or elements for matching results might be incorrectly included (for example, when priority sorting would have removed the element). Depending on the use case, such a response may be unsuitable.
      description: Object denoting that the endpoint response is possibly incomplete.
      required:
      - isPartial
      x-property-sort:
      - isPartial
    AttributesMember:
      type: array
      description: Limit the attributes returned in the response to the specified set.
      items:
        type: string
        maxLength: 100
        exclusiveMaximum: false
      maxItems: 50
      uniqueItems: true
    LanguageMember:
      type: string
      format: isoLanguage
      description: ISO 639-1 code of the language.
      maxLength: 2
      minLength: 2
      exclusiveMinimum: false
      exclusiveMaximum: false
    OffsetBasedPaginationOutputObject:
      type: object
      description: Pagination attributes for the offset-based pagination strategy.
      properties:
        total:
          type: number
          format: int32
          description: Total number of entries in the result set.
        isEstimatedTotal:
          type: boolean
          description: Flag indicating that the value of "total" is estimated.
      required:
      - total
      - isEstimatedTotal
      x-property-sort:
      - total
      - isEstimatedTotal
    PostStockNotationRankingIntradayListRequest:
      type: object
      properties:
        data:
          type: object
          x-property-sort:
          - prices
          - currency
          - market
          - instrumentRestrictionList
          - notationRestrictionList
          - industryClassification
          - company
          - indexMembership
          - performance
          description: The data member contains the request's primary data.
          properties:
            prices:
              description: Price-related parameters.
              type: object
              x-property-sort:
              - quality
              properties:
                quality:
                  type: string
                  description: Quality of the trade-related attributes, see attributes `trade` and `accumulated` in the response.
                  default: DLY
                  x-enum-description:
                  - 'Real-time: intraday prices with minimal technical processing delays.'
                  - 'Delayed: intraday prices with an exchange-imposed delay of usually 15 to 30 minutes.'
                  enum:
                  - RLT
                  - DLY
            currency:
              description: Currency of the notations in the result.
              type: object
              x-property-sort:
              - id
              properties:
                id:
                  description: Identifier of the currency. See endpoint `/basic/valueUnit/currency/list` for valid values.
                  type: number
                  format: id32
                  x-positive: true
            market:
              description: Market-related parameters. See endpoint `/basic/market/list` for valid values.
              type: object
              x-property-sort:
              - ids
              - priority
              properties:
                ids:
                  description: List of market identifiers where a stock may be traded. The list restricts the request to only those markets.
                  type: array
                  nullable: false
                  items:
                    type: number
                    format: id32
                    x-positive: true
                  uniqueItems: true
                  maxItems: 20
                priority:
                  description: Sequence of market identifiers defining the priority order (array entries with a lower index have a higher priority) of the markets for the returned notation. The list does not restrict the request to only those markets.
                  type: object
                  x-property-sort:
                  - ids
                  properties:
                    ids:
                      description: List of market identifiers.
                      type: array
                      nullable: false
                      items:
                        type: number
                        format: id32
                        x-positive: true
                      uniqueItems: true
                      maxItems: 100
            instrumentRestrictionList:
              description: Instrument-level restriction. If present, the result contains only stocks that are a member of at least one of the provided lists.
              type: object
              x-property-sort:
              - ids
              properties:
                ids:
                  description: List of identifiers of restriction lists.
                  type: array
                  nullable: false
                  items:
                    type: number
                    format: id32
                    x-positive: true
                  uniqueItems: true
                  maxItems: 3
            notationRestrictionList:
              description: Notation-level restriction. If present, the result contains only stocks that are a member of at least one of the provided lists.
              type: object
              x-property-sort:
              - ids
              properties:
                ids:
                  description: List of identifiers of restriction lists.
                  type: array
                  nullable: false
                  items:
                    type: number
                    format: id32
                    x-positive: true
                  uniqueItems: true
                  maxItems: 3
            industryClassification:
              description: Only stocks that belong to at least one industry in the provided list will be returned. Here, an industry is a category from any level of category system 48 (FactSet Revere Business Industry Classification System (RBICS)).
              type: object
              x-property-sort:
              - ids
              properties:
                ids:
                  description: List of category identifiers. See endpoint `/category/listBySystem` for category system 48 for valid values.
                  type: array
                  nullable: false
                  items:
                    type: number
                    format: id32
                    x-positive: true
                  uniqueItems: true
                  maxItems: 20
            company:
              description: Company-related parameters.
              type: object
              x-property-sort:
              - country
              properties:
                country:
                  description: Only stocks issued by a company whose head office is located in a country in the provided list will be returned.
                  type: object
                  x-property-sort:
                  - ids
                  properties:
                    ids:
                      description: List of country identifiers. See endpoint `/basic/region/country/list` for valid values.
                      type: array
                      nullable: false
                      items:
                        type: number
                        format: id32
                        x-positive: true
                      uniqueItems: true
                      maxItems: 20
            indexMembership:
              description: List of indices of which a stock is a constituent. The list restricts the request to return only those stocks that are a constituent of one of the specified indices.
              type: object
              x-property-sort:
              - ids
              - useAlternativeNotation
              properties:
                ids:
                  description: List of index instrument identifiers.
                  type: array
                  nullable: false
                  items:
                    type: string
                    format: id64
                    x-positive: true
                  uniqueItems: true
                  maxItems: 20
                useAlternativeNotation:
                  description: Specifies whether an alternative notation of a constituent shall be retrieved if the market of the original notation is currently closed or if the user is not entitled for the market of the original notation. The alternative notation is the one with the highest trading volume averaged over one month that satisfies all other selected filters, such as only a specific market or a specific currency. If the original notation is not entitled and a currency has not been specified, the alternative notation may be in a different currency than the original one which makes the ranking less meaningful, especially a trading value-based ranking, see attribute `accumulated.tradingValue` in the response.
                  type: boolean
                  default: false
            performance:
              type: object
              x-property-sort:
              - relative
              description: 'Performance of the most recent price calculated against the latest price which has occurred before the start of the current trading day.

                '
              properties:
                relative:
                  type: object
                  format: relativeValueRange
                  properties:
                    minimum:
                      type: object
                      x-property-sort:
                      - value
                      - inclusive
                      description: The minimum of the range, or `null` to indicate that there is no minimum.
                      properties:
                        value:
                          type: number
                          format: relativeValue
                          description: The minimum value.
                        inclusive:
                          type: boolean
                          description: Indicates whether the minimum value is included in the range or not.
                          default: true
                      required:
                      - value
                      x-allowNullValue: true
                    maximum:
                      type: object
                      x-property-sort:
                      - value
                      - inclusive
                      description: The maximum of the range, or `null` to indicate that there is no maximum.
                      properties:
                        value:
                          type: number
                          format: relativeValue
                          description: The maximum value.
                        inclusive:
                          type: boolean
                          description: Indicates whether the maximum value is included in the range or not.
                          default: true
                      required:
                      - value
                      x-allowNullValue: true
                  x-property-sort:
                  - minimum
                  - maximum
                  description: Value range for the relative performance.
        meta:
          type: object
          description: The meta member contains the meta information of the request.
          properties:
            attributes:
              $ref: '#/components/schemas/AttributesMember'
            language:
              $ref: '#/components/schemas/LanguageMember'
            sort:
              description: Sortable attributes. The sort order is ascending unless it is prefixed with a minus sign, in which case it is descending. A list of at most 5 (possibly prefixed) attribute name(s) is allowed.
              type: array
              items:
                type: string
                enum:
                - trade.performance.absolute
                - -trade.performance.absolute
                - trade.performance.relative
                - -trade.performance.relative
                - accumulated.numberTrades
                - -accumulated.numberTrades
                - accumulated.tradingVolume
                - -accumulated.tradingVolume
                - accumulated.tradingValue
                - -accumulated.tradingValue
              maxItems: 5
              uniqueItems: true
              default:
              - -trade.performance.relative
            pagination:
              type: object
              description: Pagination attributes for the offset-based pagination strategy.
              properties:
                offset:
                  type: number
                  format: int32
                  minimum: 0
                  exclusiveMinimum: false
                  default: 0
                  description: Non-negative number of entries to skip, or 0 (default).
                limit:
                  type: number
                  format: int32
                  minimum: 0
                  exclusiveMinimum: false
                  maximum: 100
                  exclusiveMaximum: false
                  default: 20
                  description: Non-negative maximum number of entries to return.
              x-property-sort:
              - offset
              - limit
          x-property-sort:
          - attributes
          - language
          - sort
          - pagination
    StatusObject:
      type: object
      properties:
        code:
          type: number
          format: int32
          description: The HTTP status code of the response, mirroring the code from the Status-Line of the HTTP response message (see [RFC2616] section 6.1).
      description: The status member contains the status code of the response.
      required:
      - code
  responses:
    PostStockNotationRankingIntradayList200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                description: List of notations.
                nullable: false
                type: array
                items:
                  type: object
                  nullable: false
                  x-property-sort:
                  - id
                  - symbol
                  - market
                  - currency
                  - isAlternative
                  - trade
                  - quality
                  - accumulated
                  - fsym
                  - instrument
                  properties:
                    id:
                      nullable: true
                      description: Identifier of a notation.
                      type: string
                      format: id64
                      x-positive: true
                    symbol:
                      nullable: true
                      description: The symbol of the notation. It is a market-specific code to identify the notation. Which characters can be part of a symbol depends on the market. If a market does not define a proprietary symbol, but uses a different identifier (for example, the ISIN or the WKN) to identify instruments, no symbol will be set for the notations of that market.
                      type: string
                    market:
                      nullable: false
                      description: Market of the notation.
                      type: object
                      x-property-sort:
                      - id
                      - name
                      properties:
                        id:
                          nullable: true
                          description: Identifier of the market.
                          type: number
                          format: id32
                          x-positive: true
                        name:
                          nullable: true
                          description: Name of the market.
                          type: string
                          format: localizedString
                    currency:
                      nullable: false
                      description: Currency of the notation. See endpoint `/basic/valueUnit/currency/list` for possible values.
                      type: object
                      x-property-sort:
                      - id
                      - code
                      properties:
                        id:
                          nullable: true
                          description: Identifier of the currency.
                          type: number
                          format: id32
                          x-positive: true
                        code:
                          nullable: true
                          description: 'Code of the currency: If assigned, a code according to ISO 4217, otherwise a local code, for a main currency; a code such as GBp (for British pence) for a fractional currency.'
                          type: string
                    isAlternative:
                      nullable: true
                      description: Indicates whether the notation is an alternative one, i.e. not the original notation of the index constituent.
                      type: boolean
                    trade:
                      nullable: false
                      description: Most recent trade price and performance.
                      type: object
                      x-property-sort:
                      - time
                      - price
                      - performance
                      properties:
                        time:
                          nullable: true
                          description: Date and time.
                          type: string
                          format: datetime
                        price:
                          nullable: true
                          description: Price value. See attribute `currency` for its currency.
                          type: number
                          format: real
                        performance:
                          nullable: false
                          description: Performance of the most recent price calculated against the latest price which has occurred before the start of the current trading day.
                          type: object
                          x-property-sort:
                          - absolute
                          - relative
                          properties:
                            absolute:
                              nullable: true
                              description: Absolute value. See attribute `currency` for its currency.
                              x-sortable: true
                              type: number
                              format: real
                            relative:
                              nullable: true
                              description: Relative value.
                              x-sortable: true
                              x-default-sort-attribute: true
                              x-default-sort-direction: 2
                              type: number
                              format: relativeValue
                    quality:
                      nullable: true
                      description: Quality of the trade-related attributes, see attributes `trade` and `accumulated`.
                      type: string
                    accumulated:
                      nullable: false
                      description: Summary data accumulated over all trades of the current trading day.
                      type: object
                      x-property-sort:
                      - numberTrades
                      - tradingVolume
                      - tradingValue
                      properties:
                        numberTrades:
                          nullable: true
                          description: Number of trades.
                          x-sortable: true
                          type: number
                          format: real
                        tradingVolume:
                          nullable: true
                          description: Number of shares traded.
                          x-sortable: true
                          type: number
                          format: real
                        tradingValue:
                          nullable: true
                          description: Monetary equivalent (cash value) of the trades. See attribute `currency` for its currency.
                          x-sortable: true
                          type: number
                          format: real
                    fsym:
                      nullable: false
                      type: object
                      x-property-sort:
                      - listing
                      - regional
                      description: Notation-level FactSet identifiers of the financial instrument used primarily in FactSet products other than the MDG.
                      properties:
                        listing:
                          nullable: false
                          type: object
                          x-property-sort:
                          - permanentIdentifier
                          - tickerExchange
                          - isPrimary
                          description: Listing-level identifiers.
                          properties:
                            permanentIdentifier:
                              nullable: true
                              type: string
                              description: FactSet Permanent Identifier for a notation. The format is six alpha numeric characters, excluding vowels, with an L suffix (XXXXXX-L).
                            tickerExchange:
                              nullable: true
                              type: string
                              description: 'FactSet market symbol of the notation, usually consisting of the ticker (e.g. "DAI" for Daimler AG) and the three-character code of the exchange on which the listing is traded (example: DAI-ETR).'
                            isPrimary:
                              nullable: true
                              type: boolean
                              description: Indicates whether the notation is the primary notation among all notations within the same region (`true`) or not (`false`).
                        regional:
                          nullable: false
                          type: object
                          x-property-sort:
                          - permanentIdentifier
                          - tickerRegion
                          - isPrimary
                          description: Regional-level identifiers.
                          properties:
                            permanentIdentifier:
                              nullable: true
                              type: string
                              description: FactSet Permanent Identifier for a set of one or more notations of the same region with the same value unit. The format is six alpha numeric characters, excluding vowels, with an R suffix (XXXXXX-R).
                            tickerRegion:
                              nullable: true
                              type: string
                              description: 'FactSet regional symbol of the notation, consisting of the ticker and the two-character code of the country or region where the listing is traded (example: DAI-DE).'
                            isPrimary:
                              nullable: true
                              type: boolean
                              description: Indicates whether the notation is in the primary region of the security (`true`) or not (`false`).
                    instrument:
                      nullable: false
                      description: Instrument data of the notation.
                      type: object
                      x-property-sort:
                      - id
                      - name
                      - shortName
                      - isin
                      - nsin
                      - fsym
                      - industryClassification
                      - company
                      properties:
                        id:
                          nullable: true
                          description: Identifier of the instrument.
                          type: string
                          format: id64
                          x-positive: true
                        name:
                          nullable: true
                          description: Name of the instrument.
                          type: string
                          format: localizedString
                        shortName:
                          nullable: true
                          description: Short name of the instrument.
                          type: string
                          format: localizedString
                        isin:
                          nullable: true
                          description: The International Securities Identification Number (ISIN) of the instrument. The ISIN is a 12-character code of digits and upper-case letters that uniquely identifies an instrument.
                          type: string
                          format: isin
                        nsin:
                          nullable: false
                          description: NSIN data of the instrument.
                          type: object
                          x-property-sort:
                          - wkn
                          - valor
                          properties:
                            wkn:
                              nullable: true
                              description: The WKN (Wertpapierkennnummer, German for Securities Identification Number) of the instrument. The WKN is a 6-character code of digits and upper-case letters that uniquely identifies an instrument.
                              type: string
                            valor:
                              nullable: true
                              description: 'The Valor number (German: Valorennummer) of the instrument. The Valor number is an integer number that uniquely identifies an instrument.'
                              type: string
                        fsym:
                          nullable: false
                          type: object
                          x-property-sort:
                          - security
                          description: Instrument-level FactSet identifier of the financial instrument used primarily in FactSet products other than the MDG.
                          properties:
                            security:
                              nullable: false
                              type: object
                              x-property-sort:
                              - permanentIdentifier
                              description: Security-level identifier.
                              properties:
                                permanentIdentifier:
                                  nullable: true
                                  type: string
                                  description: FactSet Permanent Identifier for an instrument. The format is six alpha numeric characters, excluding vowels, with an S suffix (XXXXXX-S).
                        industryClassification:
                          nullable: false
                          description: Industry classification.
                          type: object
                          x-property-sort:
                          - rbics
                          properties:
                            rbics:
                              nullable: false
                              description: Classification based on FactSet Revere Business Industry Classification System (RBICS). The categories are arranged in a hierarchy, with level 1 representing the most coarse granularity and further levels successively refining the granularity. See endpoint `/category/listBySystem` for category system 48 for possible values.
                              type: array
                              items:
                                type: object
                                nullable: false
                                x-property-sort:
                                - id
                                - name
                                properties:
                                  id:
                                    nullable: true
                                    description: Identifier of the category.
                                    type: number
                                    format: id32
                                    x-positive: true
                                  name:
                                    nullable: true
                                    description: Name of the category.
                                    type: string
                                    format: localizedString
                        company:
                          nullable: false
                          description: Details of the company.
                          type: object
                          x-property-sort:
                          - id
                          - name
                          - country
                          properties:
                            id:
                              nullable: true
                              description: Identifier of the company.
                              type: number
                              format: id32
                              x-positive: true
                            name:
                              nullable: true
                              description: Name of the company.
                              type: string
                            country:
                              nullable: false
                              description: Country where the head office of the company is located. See endpoint `/basic/region/country/list` for possible values.
                              type: object
                              x-property-sort:
                              - id
                              - name
                              properties:
                                id:
                                  nullable: true
                                  description: Identifier of the country.
                                  type: number
                                  format: id32
                                  x-positive: true
                                name:
                                  nullable: true
                                  description: Name of the country.
                                  type: string
                                  format: localizedString
                x-partial: true
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                  pagination:
                    $ref: '#/components/schemas/OffsetBasedPaginationOutputObject'
                  partial:
                    $ref: '#/components/schemas/PartialOutputObject'
                x-property-sort:
                - status
                - pagination
                - partial
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
externalDocs:
  url: https://developer.factset.com/api-catalog/analytics-datastore-api
  description: API Documentation
