openapi: 3.2.0
info:
  description: '

    Browse data items and definitions available through FactSet''s off platform

    product offerings.'
  title: FactSet Content Feeds Data Dictionary Sources API
  version: '0.2'
servers:
- url: https://api.factset.com/data-dictionary
  description: Production
security:
- basicAuth: []
tags:
- name: Sources
paths:
  /navigator/sources/{DataItem_id}:
    get:
      tags:
      - Sources
      summary: Factset Get a List of Sources Where the Specified Data Item Can Be Found, for Each Delivery Method, Filtered to the Appearances of the Given Data Item Within the Specified Product.
      parameters:
      - in: path
        required: true
        name: DataItem_id
        description: The id for the DataItem to fetch the sources for.
        schema:
          type: string
      - in: query
        required: true
        name: Product_id
        description: The id for the Product to filter down the sources returned on.
        schema:
          type: string
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NavigatorSourcesResponse'
        '401':
          description: You are not authorized to view this page.
        '404':
          description: The specified DataItem_id was not found.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /navigator/sources:
    get:
      tags:
      - Sources
      summary: Factset Get a List of Sources by Delivery Method for the Given Product_id
      parameters:
      - in: query
        required: true
        name: Product_id
        description: The id for the Product to filter down the sources returned on.
        schema:
          type: string
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NavigatorSourcesResponse'
        '401':
          description: You are not authorized to view this page.
        '404':
          description: The specified DataItem_id was not found.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    NavigatorSourcesResponse:
      type: object
      properties:
        sdf:
          type: array
          items:
            $ref: '#/components/schemas/Table'
          example: []
        contentApi:
          type: array
          items:
            $ref: '#/components/schemas/ApiEndpoint'
          example: []
        reference:
          type: array
          items:
            $ref: '#/components/schemas/ReferenceGroup'
          example: []
      required:
      - sdf
    ReferenceGroup:
      properties:
        id:
          type: string
          example: 180443
          description: Unique identifier for the api endpoint
        name:
          type: string
          example: /symbology/v1/bloomberg
          description: API endpoint path
        description:
          type: string
          example: Translate FactSet symbols into Bloomberg Identifiers.
          description: A description of the endpoint
        entitled:
          type: string
          example: true
          description: Flag indicating if the user is entitled to access the data in their subscriptions
    Table:
      properties:
        id:
          type: string
          example: '123'
          description: Unique identifier for the table
        dbSchema:
          type: string
          example: gr_v2
          description: Schema prefix for Standard DataFeeds
        name:
          type: string
          example: gr_coverage
          description: Name of the table
        description:
          type: string
          example: This table contains coverage information for each entity that has a report in the Geographic Revenue Exposure package.
          description: A description of the table
        entitled:
          type: boolean
          example: true
          description: Flag indicating if the user is entitled to access the data in their subscriptions
    ApiEndpoint:
      properties:
        id:
          type: string
          example: 180443
          description: Unique identifier for the api endpoint
        name:
          type: string
          example: /symbology/v1/bloomberg
          description: API endpoint path
        description:
          type: string
          example: Translate FactSet symbols into Bloomberg Identifiers.
          description: A description of the endpoint
        developerPortalLink:
          type: string
          example: https://developer.factset.com/api-catalog/symbology-api
          description: Developer Portal URL of the endpoint
        entitled:
          type: string
          example: true
          description: Flag indicating if the user is entitled to access the data in their subscriptions
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
