openapi: 3.2.0
info:
  title: FactSet IRN Configuration Client API
  description: '

    Config API allows users to read and update configuration and settings of

    the Internal Research Notes.'
  version: '1'
servers:
- url: https://api.factset.com/research/irn
  description: Production Server
- url: https://api-sandbox.factset.com/research/irn
  description: Sandbox
security:
- basicScheme: []
tags:
- name: Client
paths:
  /v1/group/client-sales-representative:
    get:
      tags:
      - Client
      operationId: GetClientsSalesRepresentative
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientSalesRepresentativeDto'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    ClientSalesRepresentativeDto:
      type: object
      properties:
        fullname:
          type:
          - string
          - 'null'
          example: example_value
        emailAddress:
          type:
          - string
          - 'null'
          example: user@example.com
      additionalProperties: false
    ProblemDetails:
      type: object
      properties:
        type:
          type:
          - string
          - 'null'
          example: example_value
        title:
          type:
          - string
          - 'null'
          example: Example Title
        status:
          type:
          - integer
          - 'null'
          format: int32
          example: 10
        detail:
          type:
          - string
          - 'null'
          example: example_value
        instance:
          type:
          - string
          - 'null'
          example: example_value
      additionalProperties: {}
  securitySchemes:
    basicScheme:
      type: http
      scheme: basic
