openapi: 3.2.0
info:
  title: Factset Attachments API
  version: '1'
  description: 'Operations tagged Attachments across 2 of this provider''s published API definitions: factset-irn-meetings-api-openapi.yml, factset-irn-notes-api-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.factset.com/research/irn
  description: Production Server
- url: https://api-sandbox.factset.com/research/irn
  description: Sandbox
tags:
- name: Attachments
paths:
  /v1/meetings/{meetingId}/attachments:
    get:
      tags:
      - Attachments
      summary: Factset Get All the Attachments Belonging to a Meeting
      operationId: GetAttachments
      parameters:
      - name: meetingId
        in: path
        description: Meeting Id
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AttachmentSummaryDto'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - basicScheme: []
    post:
      tags:
      - Attachments
      summary: Factset Create an Attachment for a Existing Meeting
      operationId: CreateAttachment
      parameters:
      - name: meetingId
        in: path
        description: Meeting Id
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          multipart/form-data:
            schema:
              required:
              - file
              type: object
              properties:
                file:
                  type: string
                  format: binary
      responses:
        '201':
          description: Success - Returns unique identifier of the Attachment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewItemDto'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - basicScheme: []
    servers:
    - url: https://api.factset.com/research/irn
      description: Production Server
    - url: https://api-sandbox.factset.com/research/irn
      description: Sandbox
  /v1/meetings/{meetingId}/comments/{commentId}/attachments:
    get:
      tags:
      - Attachments
      summary: Factset Get Attachments Summary of a Comment Belonging to a Meeting
      operationId: GetCommentAttachments
      parameters:
      - name: meetingId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: commentId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AttachmentSummaryDto'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - basicScheme: []
    post:
      tags:
      - Attachments
      summary: Factset Create a Comment Attachment to a Meeting
      operationId: CreateCommentAttachment
      parameters:
      - name: meetingId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: commentId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          multipart/form-data:
            schema:
              required:
              - file
              type: object
              properties:
                file:
                  type: string
                  format: binary
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewItemDto'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '500':
          description: Server Error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - basicScheme: []
    servers:
    - url: https://api.factset.com/research/irn
      description: Production Server
    - url: https://api-sandbox.factset.com/research/irn
      description: Sandbox
  /v1/notes/{noteId}/attachments:
    get:
      tags:
      - Attachments
      summary: Factset Get All the Attachments Belonging to a Note
      operationId: GetAttachments
      parameters:
      - name: noteId
        in: path
        description: Note Id
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AttachmentSummaryDto'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - FactSetApiKey: []
      - FactSetOAuth2: []
    post:
      tags:
      - Attachments
      summary: Factset Create an Attachment for an Existing Note
      operationId: CreateAttachment
      parameters:
      - name: noteId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          multipart/form-data:
            schema:
              required:
              - file
              type: object
              properties:
                file:
                  type: string
                  format: binary
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewItemDto'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - FactSetApiKey: []
      - FactSetOAuth2: []
    servers:
    - url: https://api.factset.com/research/irn
      description: Production Server
    - url: https://api-sandbox.factset.com/research/irn
      description: Sandbox
  /v1/notes/{noteId}/comments/{commentId}/attachments:
    get:
      tags:
      - Attachments
      summary: Factset Get Attachments Summary of a Comment Belonging to a Note
      operationId: GetCommentAttachments
      parameters:
      - name: noteId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: commentId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AttachmentSummaryDto'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - FactSetApiKey: []
      - FactSetOAuth2: []
    post:
      tags:
      - Attachments
      summary: Factset Create a Comment Attachment to a Note
      operationId: CreateCommentAttachment
      parameters:
      - name: noteId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: commentId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          multipart/form-data:
            schema:
              required:
              - file
              type: object
              properties:
                file:
                  type: string
                  format: binary
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewItemDto'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '500':
          description: Server Error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - FactSetApiKey: []
      - FactSetOAuth2: []
    servers:
    - url: https://api.factset.com/research/irn
      description: Production Server
    - url: https://api-sandbox.factset.com/research/irn
      description: Sandbox
components:
  schemas:
    NewItemDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: abc123
      additionalProperties: false
    ProblemDetails:
      type: object
      properties:
        type:
          type:
          - string
          - 'null'
          example: example_value
        title:
          type:
          - string
          - 'null'
          example: Example Title
        status:
          type:
          - integer
          - 'null'
          format: int32
          example: 10
        detail:
          type:
          - string
          - 'null'
          example: example_value
        instance:
          type:
          - string
          - 'null'
          example: example_value
      additionalProperties: {}
    AttachmentSummaryDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: abc123
        fileName:
          type:
          - string
          - 'null'
          example: example_value
        mimeType:
          type:
          - string
          - 'null'
          example: example_value
        size:
          type:
          - integer
          - 'null'
          format: int64
          example: 10
      additionalProperties: false
  securitySchemes:
    basicScheme:
      type: http
      scheme: basic
    FactSetApiKey:
      type: http
      scheme: basic
    FactSetOAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://auth.factset.com/as/token.oauth2
          scopes: {}
externalDocs:
  description: API Documentation
  url: https://developer.factset.com/api-catalog/irn-notes-api#apiDocumentation
x-refined-from:
- factset-irn-meetings-api-openapi.yml
- factset-irn-notes-api-openapi.yml
