openapi: 3.2.0
info:
  title: FactSet Securitized Derivatives API for Digital Portals Barriers API
  description: '

    Fundamental data for a single securitized derivative. Notation-based key

    figures of a securitized derivative.'
  version: '2'
servers:
- url: https://api.factset.com/wealth/v1
security:
- Basic: []
tags:
- name: Barriers
paths:
  /securitizedDerivative/barrier/type/list:
    get:
      tags:
      - Barriers
      operationId: get/securitizedDerivative/barrier/type/list
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Factset List of Barrier Types.
      description: List of barrier types.
      responses:
        '200':
          $ref: '#/components/responses/GetSecuritizedDerivativeBarrierTypeList200Response'
      parameters:
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    StatusObject:
      type: object
      properties:
        code:
          type: number
          format: int32
          description: The HTTP status code of the response, mirroring the code from the Status-Line of the HTTP response message (see [RFC2616] section 6.1).
          example: 42.5
      description: The status member contains the status code of the response.
      required:
      - code
  responses:
    GetSecuritizedDerivativeBarrierTypeList200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: array
                items:
                  type: object
                  x-property-sort:
                  - id
                  - name
                  - description
                  - kind
                  properties:
                    id:
                      type:
                      - number
                      - 'null'
                      format: id32
                      x-positive: true
                      description: Identifier of the barrier type.
                    name:
                      type:
                      - string
                      - 'null'
                      description: English name of the barrier type.
                    description:
                      type:
                      - string
                      - 'null'
                      description: English description of the barrier type.
                    kind:
                      type:
                      - string
                      - 'null'
                      description: Kind of the barrier type.
                      x-enum-description:
                      - Barrier types of this kind represent either a lower or an upper bound derived from the exercise right of the securitized derivative, see attribute `exercise.right` in endpoint `/securitizedDerivative/get`.
                      - Barrier types of this kind represent a range with a lower and an upper bound.
                      enum:
                      - single
                      - range
                description: List of barrier types.
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                x-property-sort:
                - status
  securitySchemes:
    Basic:
      type: http
      description: Input your username and password to access this API.
      scheme: basic
externalDocs:
  description: Endpoint Reference
  url: https://endpointreference.mdgms.com
x-interface-version: 2
x-documenter-version: 6.3.0
x-api-version: 4.0.2
