openapi: 3.2.0
info:
  version: 3.0.0
  title: FactSet Real-Time Quotes List API
  description: '

    The Quotes API combines endpoints for retrieving security end-of-day,

    delayed, and realtime prices with performance key figures and basic

    reference data on the security and market level.'
  contact:
    name: FactSet Research Systems
    url: https://developer.factset.com/contact
    email: api@factset.com
  license:
    name: Apache License, Version 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
servers:
- url: https://api.factset.com/wealth/v3
security:
- FactSetApiKey: []
- FactSetOAuth2: []
tags:
- name: List
paths:
  /notation/selectionList/list:
    get:
      tags:
      - List
      operationId: get/notation/selectionList/list
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      description: Set of custom notation-level selection lists.
      summary: Factset Set of Custom Notation-level Selection Lists.
      responses:
        '200':
          $ref: '#/components/responses/GetNotationSelectionListList200Response'
      parameters:
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /notation/selectionList/listByNotation:
    get:
      tags:
      - List
      operationId: get/notation/selectionList/listByNotation
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      description: For each given notation, returns the notation-level selection lists of which the notation is a member.
      summary: Factset for Each Given Notation, Returns the Notation-level Selection Lists of Which the Notation Is a Member.
      parameters:
      - name: identifiers
        in: query
        schema:
          description: Set of identifiers to resolve.
          type: array
          items:
            type: string
            minLength: 3
            maxLength: 50
            pattern: ^[B-DF-HJ-NP-TV-Z0-9]{6}-[LR]$|^[A-Z0-9.#&*+]{1,47}-[A-Z0-9]{2,4}$|^[0-9]{3,20}$
          uniqueItems: true
          minItems: 1
          maxItems: 100
        required: true
        style: form
        explode: false
      - name: identifierType
        in: query
        schema:
          type: string
          description: Type of the identifier.
          x-enum-description:
          - MDG identifier of a listing.
          - FactSet market symbol of a listing.
          - Regional FactSet ticker symbol, identifying the primary listing in the region.
          - FactSet Permanent Identifier on listing level.
          - Regional FactSet Permanent Identifier, identifying the primary listing in the region.
          enum:
          - idNotation
          - tickerExchange
          - tickerRegion
          - fdsPermanentIdentifierListing
          - fdsPermanentIdentifierRegional
        required: true
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      responses:
        '200':
          $ref: '#/components/responses/GetNotationSelectionListListByNotation200Response'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    StatusObject:
      type: object
      properties:
        code:
          type: number
          format: int32
          description: The HTTP status code of the response, mirroring the code from the Status-Line of the HTTP response message (see [RFC2616] section 6.1).
          example: 42.5
      description: The status member contains the status code of the response.
      required:
      - code
  responses:
    GetNotationSelectionListListByNotation200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: array
                description: Set of notation-level selection lists for each given notation.
                items:
                  type: object
                  x-property-sort:
                  - idNotation
                  - sourceIdentifier
                  - selectionList
                  - status
                  properties:
                    idNotation:
                      type:
                      - string
                      - 'null'
                      format: id64
                      x-positive: true
                      description: MDG identifier of the listing.
                    sourceIdentifier:
                      type:
                      - string
                      - 'null'
                      description: Identifier used in the request.
                    selectionList:
                      description: Set of selection lists.
                      type: array
                      items:
                        type: object
                        x-property-sort:
                        - id
                        - name
                        properties:
                          id:
                            type:
                            - number
                            - 'null'
                            format: id32
                            x-positive: true
                            description: Identifier of a selection list.
                          name:
                            type:
                            - string
                            - 'null'
                            description: Name of the selection list, as provided by the customer.
                    status:
                      type: object
                      x-property-sort:
                      - code
                      - identifier
                      - details
                      - encryptedDetails
                      description: Error status for the requested identifier.
                      properties:
                        code:
                          type:
                          - string
                          - 'null'
                          description: Code of the error condition.
                          x-enum-description:
                          - No error.
                          - The provided identifier does not refer to a valid listing level identifier.
                          - Not entitled to see data for the identifier.
                          - Unable to resolve the provided identifier.
                          enum:
                          - none
                          - parameter
                          - entitlement
                          - identifierMapping
                        identifier:
                          type:
                          - string
                          - 'null'
                          description: Provided identifier.
                        details:
                          type:
                          - string
                          - 'null'
                          description: A human-readable, unstructured explanation specific to this occurrence of the problem.
                        encryptedDetails:
                          type:
                          - string
                          - 'null'
                          description: Base64-encoded internal details about the error.
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                x-property-sort:
                - status
            x-property-sort:
            - data
            - meta
    GetNotationSelectionListList200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: array
                description: Unsorted set of selection lists.
                items:
                  type: object
                  x-property-sort:
                  - id
                  - name
                  - description
                  properties:
                    id:
                      description: Identifier of a selection list.
                      type:
                      - number
                      - 'null'
                      format: id32
                      x-positive: true
                    name:
                      description: Name of the selection list, as provided by the customer.
                      type:
                      - string
                      - 'null'
                    description:
                      description: Description of the selection list in English.
                      type:
                      - string
                      - 'null'
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                x-property-sort:
                - status
            x-property-sort:
            - data
            - meta
  securitySchemes:
    FactSetOAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://auth.factset.com/as/token.oauth2
          scopes: {}
    FactSetApiKey:
      type: http
      scheme: basic
externalDocs:
  description: API Documentation
  url: https://developer.factset.com/api-catalog/
x-interface-version: 2
x-documenter-version: 6.3.9
x-api-version: 4.4.0
