openapi: 3.0.3
info:
  title: Factset Analytics Datastore About Company API
  description: Allow clients to fetch precalculated Analytics through predeterministic URLs.
  contact:
    name: FactSet Research Systems
    url: https://developer.factset.com/contact
    email: api@factset.com
  license:
    name: Apache License, Version 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  version: 1.0.0
servers:
- url: https://api.factset.com
  description: Production
- url: https://api-sandbox.factset.com
  description: Sandbox
security:
- basicAuth: []
tags:
- name: Company
paths:
  /company/logo/get:
    get:
      tags:
      - Company
      operationId: get/company/logo/get
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Factset List of URLs of company logos.
      description: "List of URLs for transparent company logos in different sizes and formats.   The different sizes for the rectangular and square formats are: \n\n **Small**:\n * rectangular:  maximum width of 88 pixels and maximum height of 31 pixels.\n * square:  31 x 31 pixels.\n\n\n **Medium**: small logo scaled up by 200%.\n\n **Large**: small logo scaled up by 300%.\n\n **Vector**: can be rendered at any size."
      parameters:
      - name: identifier
        in: query
        type: string
        required: true
        pattern: ^(([0-9A-Z]{6}-[SLR])|([0-9A-Z.]{1,47}-[A-Z]{2,4})|([0-9]{1,20}))$
        maxLength: 50
        exclusiveMaximum: false
        minLength: 4
        exclusiveMinimum: false
        description: 'Identifier that resolves to a company. '
      - name: identifierType
        in: query
        type: string
        required: true
        description: The type of the identifier.
        x-enum-description:
        - MDG identifier of an instrument.
        - 'FactSet market symbol of the notation, usually consisting of the ticker (e.g. "FDS" for FactSet Research Systems Inc.) and the three-character code of the exchange on which the listing is traded (example: FDS-NYS).'
        enum:
        - idInstrument
        - tickerExchange
      - name: format
        in: query
        type: string
        description: Format of the logos.
        required: false
        default: rectangular
        x-enum-description:
        - Logos in rectangular format
        - Logos in square format
        enum:
        - rectangular
        - square
      - name: _attributes
        in: query
        type: array
        items:
          type: string
          maxLength: 100
          exclusiveMaximum: false
        uniqueItems: true
        maxItems: 50
        collectionFormat: csv
        description: Limit the attributes returned in the response to the specified set.
      responses:
        '200':
          description: Successful Response
          schema:
            type: object
            properties:
              data:
                description: URLs of company logos. All URLs are publicly available via HTTPS and hosted by FactSet with a top-level domain `mdgms.com`. For possible values of the attribute `mimeType`, see endpoint `/basic/media/type/list` with parameter `filter.ids=1 (image)`.
                type: object
                x-property-sort:
                - small
                - medium
                - large
                - vector
                properties:
                  small:
                    type: object
                    x-property-sort:
                    - url
                    - mimeType
                    description: Small logo.
                    properties:
                      url:
                        type: string
                        format: url
                        description: URL of the logo.
                      mimeType:
                        type: string
                        description: MIME type of the logo.
                  medium:
                    type: object
                    x-property-sort:
                    - url
                    - mimeType
                    description: Medium logo.
                    properties:
                      url:
                        type: string
                        format: url
                        description: URL of the logo.
                      mimeType:
                        type: string
                        description: MIME type of the logo.
                  large:
                    type: object
                    x-property-sort:
                    - url
                    - mimeType
                    description: Large logo.
                    properties:
                      url:
                        type: string
                        format: url
                        description: URL of the logo.
                      mimeType:
                        type: string
                        description: MIME type of the logo.
                  vector:
                    type: object
                    x-property-sort:
                    - url
                    - mimeType
                    description: Vector logo.
                    properties:
                      url:
                        type: string
                        format: url
                        description: URL of the logo.
                      mimeType:
                        type: string
                        description: MIME type of the logo.
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/definitions/StatusObject'
                x-property-sort:
                - status
  /v1/company/{component}/adaptive-card:
    parameters:
    - name: component
      in: path
      required: true
      description: Card name
      schema:
        type: string
        enum:
        - profile
        - event-calendar
    - name: ids
      in: query
      required: true
      description: Public company tickers (comma delimited)
      schema:
        type: string
        default: FDS-US
    - name: format
      in: query
      description: Return data in different format. By default adaptive cards will be returned in key (ticker) value (adaptive card) pairs in a object. Table option would return adaptive cards in an array
      schema:
        type: string
        enum:
        - table
    - name: thumbnail
      in: query
      description: Whether or not to include a thumbnail card in the return data
      schema:
        type: boolean
        enum:
        - true
        - false
    get:
      tags:
      - Company
      summary: Factset Retrieve Multiple Digital Cards in Microsoft Adaptive Card Format.
      responses:
        '200':
          description: Digital Card JSON received.
          headers:
            Content-Encoding:
              description: Standard HTTP header. Header value based on Accept-Encoding Request header.
              schema:
                type: string
            Content-Type:
              description: Standard HTTP header.
              schema:
                type: string
          content:
            application/json:
              examples:
                objectExample1:
                  $ref: '#/components/examples/MultiplePorfileCard'
                objectExample2:
                  $ref: '#/components/examples/MultipleEventCalendarCard'
        '400':
          description: Bad Request. For further assistance, file an issue under "Workflow & Throttling - 400 or 429 Response" using `Report Issue` at the top of this page, including the X-DataDirect-Request-Key from the header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              schema:
                type: string
              description: FactSet request ID
            Api-Supported-Versions:
              schema:
                type: string
              description: Supported API major versions
            Api-Version:
              schema:
                type: string
              description: API version (semantic versioning)
        '401':
          description: Missing or invalid authentication. Ensure you are logged in and have successfully generated an API KEY for the IP range you are connecting from. For further assistance, file an issue under "Connectivty - 401 or 403 Responses" using `Report Issue` at the top of this page, including the X-DataDirect-Request-Key from the header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              schema:
                type: string
              description: FactSet request ID
        '404':
          description: Not found. For further assistance, file an issue under "Performance - 404 and 500 Responses" using `Report Issue` at the top of this page, including the X-DataDirect-Request-Key from the header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              schema:
                type: string
              description: FactSet request ID
        '429':
          description: Too many requests - this API is rate-limited to 20 requests per second. For further assistance, file an issue under "Workflow & Throttling - 400 or 429 Response" using `Report Issue` at the top of this page, including the X-DataDirect-Request-Key from the header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              schema:
                type: string
              description: FactSet request ID
        '500':
          description: Server error. For further assistance, file an issue under "Performance - 404 and 500 Responses" using `Report Issue` at the top of this page, including the X-DataDirect-Request-Key from the header to assist in troubleshooting
          headers:
            X-DataDirect-Request-Key:
              schema:
                type: string
              description: FactSet request ID
        '503':
          description: Service unavailable. Typically a timeout, or result of a rejected request to prevent service overload. For further assistance, file an issue under "Performance - 404 and 500 Responses" using `Report Issue` at the top of this page, including the X-DataDirect-Request-Key from the header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              schema:
                type: string
              description: FactSet request ID
  /v1/company/{component}/adaptive-card/{id}:
    parameters:
    - name: component
      in: path
      required: true
      description: Card name
      schema:
        type: string
        enum:
        - profile
        - event-calendar
    - name: id
      in: path
      required: true
      description: Public company ticker
      schema:
        type: string
        default: FDS-US
    get:
      tags:
      - Company
      summary: Factset Retrieve One Digital Card in Microsoft Adaptive Card Format.
      responses:
        '200':
          description: Digital Card JSON received.
          headers:
            Content-Encoding:
              description: Standard HTTP header. Header value based on Accept-Encoding Request header.
              schema:
                type: string
            Content-Type:
              description: Standard HTTP header.
              schema:
                type: string
          content:
            application/json:
              examples:
                objectExample1:
                  $ref: '#/components/examples/OneProfileCard'
                objectExample2:
                  $ref: '#/components/examples/OneEventCalendarCard'
        '400':
          description: Bad Request. For further assistance, file an issue under "Workflow & Throttling - 400 or 429 Response" using `Report Issue` at the top of this page, including the X-DataDirect-Request-Key from the header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              schema:
                type: string
              description: FactSet request ID
            Api-Supported-Versions:
              schema:
                type: string
              description: Supported API major versions
            Api-Version:
              schema:
                type: string
              description: API version (semantic versioning)
        '401':
          description: Missing or invalid authentication. Ensure you are logged in and have successfully generated an API KEY for the IP range you are connecting from. For further assistance, file an issue under "Connectivty - 401 or 403 Responses" using `Report Issue` at the top of this page, including the X-DataDirect-Request-Key from the header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              schema:
                type: string
              description: FactSet request ID
        '404':
          description: Not found. For further assistance, file an issue under "Performance - 404 and 500 Responses" using `Report Issue` at the top of this page, including the X-DataDirect-Request-Key from the header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              schema:
                type: string
              description: FactSet request ID
        '429':
          description: Too many requests - this API is rate-limited to 20 requests per second. For further assistance, file an issue under "Workflow & Throttling - 400 or 429 Response" using `Report Issue` at the top of this page, including the X-DataDirect-Request-Key from the header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              schema:
                type: string
              description: FactSet request ID
        '500':
          description: Server error. For further assistance, file an issue under "Performance - 404 and 500 Responses" using `Report Issue` at the top of this page, including the X-DataDirect-Request-Key from the header to assist in troubleshooting
          headers:
            X-DataDirect-Request-Key:
              schema:
                type: string
              description: FactSet request ID
        '503':
          description: Service unavailable. Typically a timeout, or result of a rejected request to prevent service overload. For further assistance, file an issue under "Performance - 404 and 500 Responses" using `Report Issue` at the top of this page, including the X-DataDirect-Request-Key from the header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              schema:
                type: string
              description: FactSet request ID
  /company/event/list:
    post:
      summary: Factset Retrieve Company Event data
      description: This endpoint returns all company events with filters from the request.
      tags:
      - Company
      operationId: getCompanyEvent
      requestBody:
        $ref: '#/components/requestBodies/companyEventRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/companyEventResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
  /factset-people/v1/company-people:
    get:
      summary: Factset Returns the List of People for the Specified Company Identifiers
      description: 'Returns the list of executives associated the company identifier requested. Information includes the job functions, email, phone, title, name, and FactSet Entity Identifier. The personId returned can then be used in the `/profiles` endpoint to learn more about the given person.

        '
      tags:
      - Company
      operationId: getCompanyPeople
      parameters:
      - $ref: '#/components/parameters/companyId'
      - $ref: '#/components/parameters/jobFunction'
      responses:
        '200':
          description: Array of Company People objects.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/companyPeopleResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      summary: Factset Returns the List of People Associated for a Large List of Company Identitifers
      description: 'Returns the list of executives associated the company identifier requested. Information includes the job functions, email, phone, title, name, and FactSet Entity Identifier. The personId returned can then be used in the /profiles endpoint to learn more about the given person.

        '
      tags:
      - Company
      operationId: getCompanyPeopleForList
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/companyPeopleRequest'
      responses:
        '200':
          description: Array of Company People objects.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/companyPeopleResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /factset-people/v1/company-positions:
    get:
      summary: Factset Returns the List of People for the Specified Company Identifiers and Position
      description: "Returns the list of people, name, and title for a list of company ids and requested position. Positions include-\n  * Chairman\n  * Chief Executive Officer\n  * President\n  * Chief Operating Officer\n  * Chief Financial Officer\n  * Chief Technology Officer\n  * Chief Investment Officer\n  * Founder(s)\n  * Compliance Officer\n  * Admin\n  * Independent Director\n  * Directors/Board Members\n  * Investor Relations\n  * Legal Counsel\n  * Treasurer\n  * Sales and Marketing Managers\n  * Human Resources\n"
      tags:
      - Company
      operationId: getCompanyPositions
      parameters:
      - $ref: '#/components/parameters/companyId'
      - $ref: '#/components/parameters/position'
      responses:
        '200':
          description: Array of Company Positions objects.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/companyPositionsResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      summary: Factset Returns the List of People Associated for a Large List of Company Identitifers and Position
      description: "Returns the list of people, name, and title for a list of company ids and requested position. Positions include-\n  * Chairman\n  * Chief Executive Officer\n  * President\n  * Chief Operating Officer\n  * Chief Financial Officer\n  * Chief Technology Officer\n  * Chief Investment Officer\n  * Founder(s)\n  * Compliance Officer\n  * Admin\n  * Independent Director\n  * Directors/Board Members\n  * Investor Relations\n  * Legal Counsel\n  * Treasurer\n  * Sales and Marketing Managers\n  * Human Resources\n"
      tags:
      - Company
      operationId: getCompanyPositionsForList
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/companyPositionsRequest'
      responses:
        '200':
          description: Array of Company Positions objects.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/companyPositionsResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /factset-people/v1/company-compensation:
    get:
      summary: Factset Returns the Compensation Details of the People for the Specified Company Identifier
      description: 'Returns the list of company-level executive compensation data items for the top executives listed in annual filings.The coverage of the compensation details for the executives are limited to US region. All the compensation figures are expressed in raw units. '
      tags:
      - Company
      operationId: getCompanyCompensation
      parameters:
      - $ref: '#/components/parameters/companyId'
      responses:
        '200':
          description: Array of Company Compensation objects.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/companyCompensationResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      summary: Factset Returns the Compensation Details for the People for the Specified Company Identifier
      description: 'Returns the list of company-level executive compensation data items for the top executives listed in annual filings for the most recent fiscal year. The coverage of the compensation details for the executives are limited to US region. All the compensation figures are expressed in raw units. '
      tags:
      - Company
      operationId: getCompanyCompensationForList
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/companyCompensationRequest'
      responses:
        '200':
          description: Array of Company Positions objects.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/companyCompensationResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /factset-people/v1/company-stats:
    get:
      summary: Factset Returns Statistics About Top Leadership of a Company.
      description: 'Returns the statistics such as the average age, tenure, compensation of leadership, number of executives, and the gender diversity of leadership. We can utilize the data for analyzing a company''s board and management.

        '
      tags:
      - Company
      operationId: getCompanyStats
      parameters:
      - $ref: '#/components/parameters/companyId'
      - $ref: '#/components/parameters/mbType'
      responses:
        '200':
          description: Array of Company Stats objects.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/companyStatsResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      summary: Factset Returns Statistics About Top Leadership of a Company.
      description: 'Returns the statistics such as the average age, tenure, compensation of leadership, number of executives, and the gender diversity of leadership. We can utilize the data for analyzing a company''s board and management. '
      tags:
      - Company
      operationId: getCompanyStatsForList
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/companyStatsRequest'
      responses:
        '200':
          description: Array of Company Positions objects.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/companyStatsResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /company/keyItems/current/getByInstrument:
    post:
      tags:
      - Company
      operationId: post/company/keyItems/current/getByInstrument
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Fundamentals for a stock with potentially daily updates.
      description: Fundamentals for a stock with potentially daily updates; any other instrument yields empty values for stock-specific attributes. The price used to calculate the various price-dependent figures is unspecified and the exchange for that price is not identified. Dates are interpreted in the timezone of the data provider. For reported company fundamentals of the previous fiscal years (only closed fiscal years) see endpoint `/company/keyItems/fiscalYear/listByInstrument.`
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostCompanyKeyItemsCurrentGetByInstrumentRequest'
      responses:
        '200':
          $ref: '#/components/responses/PostCompanyKeyItemsCurrentGetByInstrument200Response'
      parameters: []
  /company/keyItems/fiscalYear/listByInstrument:
    post:
      tags:
      - Company
      operationId: post/company/keyItems/fiscalYear/listByInstrument
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Selected fundamentals for a stock with values as of the end of a fiscal year.
      description: Selected fundamentals for a stock with values as of the end of a fiscal year; any other instrument yields empty values for stock-specific attributes. The endpoint allows the retrieval of data only for specified fiscal years by using the start and end properties. Since a fiscal year and a calendar year do not necessarily match with regard to their start and end dates, the year is derived as the calendar year occupied to a larger extent by the fiscal year, using a June through May fiscal year assignment. That means, fiscal years ending from the 1st of June onwards are assigned to the same calendar year. Dates are interpreted in the timezone of the location of the head office of the company.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostCompanyKeyItemsFiscalYearListByInstrumentRequest'
      responses:
        '200':
          $ref: '#/components/responses/PostCompanyKeyItemsFiscalYearListByInstrument200Response'
      parameters: []
  /company/estimates/listByInstrument:
    post:
      tags:
      - Company
      operationId: post/company/estimates/listByInstrument
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      description: Fiscal year estimates for selected figures of a stock. Data is available only for common shares; instruments such as preferred shares or depository receipts yield an empty result. For the share type, see endpoint `/instrument/category/list` using dataset 23. Data can be retrieved only for the current, the past, and three future fiscal years. For past fiscal years, the estimates are not being replaced by the reported figures. Since a fiscal year and a calendar year do not necessarily match with regard to their start and end dates, the year is derived as the calendar year occupied to a larger extent by the fiscal year, using a June through May fiscal year assignment. That means, fiscal years ending from the 1st of June onwards are assigned to the same calendar year. Dates are interpreted in the timezone of the location of the head office of the company.
      summary: Estimates for selected figures for a stock.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostCompanyEstimatesListByInstrumentRequest'
      responses:
        '200':
          $ref: '#/components/responses/PostCompanyEstimatesListByInstrument200Response'
      parameters: []
  /company/board/listByInstrument:
    get:
      tags:
      - Company
      operationId: get/company/board/listByInstrument
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: List of boards for a company, with their officers.
      description: List of boards for a company, with their officers. A given person may be a member ofdifferent boards of the same company but also a member of boards of different companies.
      parameters:
      - name: id
        in: query
        schema:
          type: string
          format: id64
          x-positive: true
          description: Identifier of the instrument representing company shares.Any other instrument yields empty values.
        required: true
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
            exclusiveMaximum: false
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      - name: _language
        in: query
        schema:
          type: string
          format: isoLanguage
          description: ISO 639-1 code of the language.
          maxLength: 2
          minLength: 2
          exclusiveMinimum: false
          exclusiveMaximum: false
      responses:
        '200':
          $ref: '#/components/responses/GetCompanyBoardListByInstrument200Response'
  /company/board/officer/function/delivery/list:
    get:
      tags:
      - Company
      operationId: get/company/board/officer/function/delivery/list
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: List of officer functions as provided by a delivery.
      description: List of officer functions as provided by a delivery.
      responses:
        '200':
          $ref: '#/components/responses/GetCompanyBoardOfficerFunctionDeliveryList200Response'
      parameters:
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
            exclusiveMaximum: false
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      - name: _language
        in: query
        schema:
          type: string
          format: isoLanguage
          description: ISO 639-1 code of the language.
          maxLength: 2
          minLength: 2
          exclusiveMinimum: false
          exclusiveMaximum: false
  /company/board/type/list:
    get:
      tags:
      - Company
      operationId: get/company/board/type/list
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: List of company board types.
      description: List of company board types.
      responses:
        '200':
          $ref: '#/components/responses/GetCompanyBoardTypeList200Response'
      parameters:
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
            exclusiveMaximum: false
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      - name: _language
        in: query
        schema:
          type: string
          format: isoLanguage
          description: ISO 639-1 code of the language.
          maxLength: 2
          minLength: 2
          exclusiveMinimum: false
          exclusiveMaximum: false
components:
  schemas:
    error:
      type: object
      properties:
        title:
          type: string
        code:
          type: string
        id:
          type: string
    companyStatsResponse:
      title: Company Stats Response
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/companyStats'
          example: []
    companyCompensation:
      title: Company Compensation
      type: object
      description: List of executives and their compensation details for the specified company identifier.
      properties:
        name:
          description: FactSet Name of the person
          type: string
          example: Tim Cook
          nullable: true
        personId:
          description: Factset Entity Identifier for the Person
          type: string
          example: 05F520-E
          nullable: true
        title:
          description: The requested Position Title
          type: string
          example: Chief Executive Officer & Director
          x-fds-fql-formula: FPD_CO_COMPENSATION(EXEC_TITLE)
          nullable: true
        salary:
          description: Salary of the person. Expressed in USD and raw units.
          type: number
          format: integer
          example: 525846
          x-fds-fql-formula: FPD_CO_COMPENSATION(SALARY)
          nullable: true
        bonus:
          description: Bonus of the executive during the fiscal year. Expressed in USD and raw units.
          type: number
          format: integer
          example: 48
          x-fds-fql-formula: FPD_CO_COMPENSATION(BONUS)
          nullable: true
        stockAwards:
          description: Stock awards for the person. Expressed in USD and raw units.
          type: number
          format: integer
          example: null
          x-fds-fql-formula: FPD_CO_COMPENSATION(STOCK_AWARDS)
          nullable: true
        optionsAwards:
          description: Option Awards for the person. Expressed in USD and raw units.
          type: number
          format: integer
          example: null
          x-fds-fql-formula: FPD_CO_COMPENSATION(OPTION_AWARDS)
          nullable: true
        otherCompensation:
          description: All the other compensations which are not explicitly defined as salary, bonus, stock awards, or options awards. Expressed in USD and raw units.
          type: number
          format: integer
          example: 11200
          x-fds-fql-formula: FPD_CO_COMPENSATION(ALL_OTHER_COMP)
          nullable: true
        totalCompensation:
          description: The sum of all compensation for the requested person as reported by the company. Expressed in USD and raw units.
          type: number
          format: integer
          example: 4719062
          x-fds-fql-formula: FPD_CO_COMPENSATION(TOTAL_COMP)
          nullable: true
        nonEquityIncentivePlanComp:
          description: All the earnings pursuant to awards under non-equity incentive plans. Expressed in USD and raw units.
          type: number
          format: integer
          example: 10731000
          x-fds-fql-formula: FPD_CO_COMPENSATION(NON_EQ_INCENTIVE_PLAN_COMP)
          nullable: true
        nonQualifiedCompEarnings:
          description: All the other nonqualified defined contribution which are not tax qualified and other contributions. Expressed in USD and raw units.
          type: number
          format: integer
          example: null
          nullable: true
        compensationYear:
          description: The most recent year of compensation is expressed as 'YYYY' as opposed to 'YYYY-MM-DD' format.
          type: string
          example: '2020'
          x-fds-fql-formula: FPD_CO_COMPENSATION(COMP_YEAR)
          nullable: true
        requestId:
          description: Original identifier used for the request.
          type: string
          example: TSLA-US
    LanguageMember:
      type: string
      format: isoLanguage
      description: ISO 639-1 code of the language.
      maxLength: 2
      minLength: 2
      exclusiveMinimum: false
      exclusiveMaximum: false
    companyStatsRequest:
      title: Company Stats Request
      type: object
      properties:
        ids:
          $ref: '#/components/schemas/companyIds'
        mbType:
          $ref: '#/components/schemas/mbType'
      required:
      - ids
    PostCompanyKeyItemsCurrentGetByInstrumentRequest:
      type: object
      properties:
        data:
          type: object
          x-property-sort:
          - id
          - currency
          description: The data member contains the request's primary data.
          properties:
            id:
              type: string
              format: id64
              x-positive: true
              description: Identifier of an instrument.
            currency:
              type: object
              x-property-sort:
              - isoCode
              description: Main currency of the currency-dependent attributes.
              properties:
                isoCode:
                  type: string
                  description: ISO code of the currency.
                  x-enum-description:
                  - Euro
                  - US Dollar
                  - British Pound Sterling
                  - Swiss Franc
                  enum:
                  - EUR
                  - USD
                  - GBP
                  - CHF
              required:
              - isoCode
          required:
          - id
          - currency
        meta:
          type: object
          description: The meta member contains the meta information of the request.
          properties:
            attributes:
              $ref: '#/components/schemas/AttributesMember'
            language:
              $ref: '#/components/schemas/LanguageMember'
          x-property-sort:
          - attributes
          - language
    PostCompanyEstimatesListByInstrumentRequest:
      type: object
      properties:
        data:
          type: object
          x-property-sort:
          - id
          - fiscalYears
          - currency
          description: The data member contains the request's primary data.
          properties:
            id:
              type: string
              format: id64
              x-positive: true
              description: Identifier of the instrument
            fiscalYears:
              type: object
              x-property-sort:
              - start
              - end
              description: The response includes data items from the fiscal year specified as start (inclusive) up to the fiscal year specified as end (inclusive). The attribute `start` must be less than or equal to the attribute `end`.
              properties:
                start:
                  type: number
                  format: int32
                  description: Only include data items for a fiscal year greater than or equal to the one specified. Must be greater than or equal to one year in the past. If omitted, the response includes data from one year in the past up to the year specified as `end`.
                end:
                  type: number
                  format: int32
                  description: Only include data items for a fiscal year earlier than or equal to the one specified. Must be less than or equal to three years in the future. If omitted, the response includes data from the year specified as `start` up to three years in the future.
            currency:
              type: object
              x-property-sort:
              - isoCode
              description: Main currency into which the estimated figures representing a monetary value are converted.
              properties:
                isoCode:
                  type: string
                  description: ISO 4217 code of the currency.
                  x-enum-description:
                  - Euro
                  - US Dollar
                  - British Pound Sterling
                  - Swiss Franc
                  enum:
                  - EUR
                  - USD
                  - GBP
                  - CHF
              required:
              - isoCode
          required:
          - id
          - currency
        meta:
          type: object
          description: The meta member contains the meta information of the request.
          properties:
            attributes:
              $ref: '#/components/schemas/AttributesMember'
          x-property-sort:
          - attributes
    companyPositions:
      title: Company Positions
      type: object
      description: List of executives for the specified company identifier.
      properties:
        fsymId:
          description: FactSet Identifier for the company.
          type: string
          example: 006XY7-E
          nullable: true
        personId:
          description: Factset Entity Identifier for the Person
          type: string
          example: 05H8B8-E
          nullable: true
        name:
          description: FactSet Name of the person
          type: string
          example: Elon Reeve Musk
          nullable: true
        title:
          description: The requested Position Title
          type: string
          example: Technoking of Tesla
          x-fds-fql-formula: FPD_CO_PEOPLE_BY_POSITION(TITLE)
          nullable: true
        yearsAtFirm:
          description: The number of years individual is at firm. For founders, this is since inception.
          type: number
          format: double
          example: 17.78
          x-fds-fql-formula: FPD_CO_PEOPLE_BY_POSITION(YRS_FIRM))
          nullable: true
        age:
          description: The age of the person requested.
          type: number
          format: integer
          example: 48
          x-fds-fql-formula: FPD_CO_PEOPLE_BY_POSITION(AGE))
          nullable: true
        gender:
          description: The Gender of the person requested.
          type: string
          example: Male
          x-fds-fql-formula: FPD_CO_PEOPLE_BY_POSITION(GENDER))
          nullable: true
        requestPosition:
          description: The requested position code.
          type: string
          example: CEO
          nullable: true
        requestId:
          description: Original identifier used for the request.
          type: string
          example: TSLA-US
    companyPositionsResponse:
      title: Company Positions Response
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/companyPositions'
          example: []
    companyEventResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              ticker:
                type: string
                example: AAPL-US
              companyName:
                type: string
                example: Apple, Inc.
              description:
                type: string
                example: Q2 2023 Earnings Release (Projected)
              eventDateTime:
                type: string
                format: date-time
                example: '2023-01-01T00:00:00Z'
              marketTimeCode:
                type: string
                example: Unspecified
              eventType:
                type: string
                enum:
                - E
                - SA
                - G
                - AM
                - SM
                - SS
                - CP
                - confirmedER
                - SR
                - projectedER
                - S
                - D
                example: E
              eventId:
                type: string
                example: '1200867930'
              webcastLink:
                type: string
                example: ''
              irLink:
                type: string
                example: investor.apple.com/investor-relations/default.aspx
              fiscalYear:
                type: string
                example: '2023'
              fiscalPeriod:
                type: string
                example: '1'
              contactEmail:
                type: string
                example: jdoe@apple.com
              contactPhone:
                type: string
                example: 1(888)227.0303
              contactName:
                type: string
                example: John Doe
    AttributesMember:
      type: array
      description: Limit the attributes returned in the response to the specified set.
      items:
        type: string
        maxLength: 100
        exclusiveMaximum: false
      maxItems: 50
      uniqueItems: true
    companyPositionsRequest:
      title: Company Positions Request
      type: object
      properties:
        ids:
          $ref: '#/components/schemas/companyIds'
        position:
          $ref: '#/components/schemas/position'
      required:
      - ids
    PostCompanyKeyItemsFiscalYearListByInstrumentRequest:
      type: object
      properties:
        data:
          type: object
          x-property-sort:
          - id
          - fiscalYears
          - currency
          description: The data member contains the request's primary data.
          properties:
            id:
              type: string
              format: id64
              x-positive: true
              description: Identifier of the instrument.
            fiscalYears:
              type: object
              x-property-sort:
              - start
              - end
              description: Response will include data items from the fiscal year specified as start (inclusive) up to the fiscal year specified as end (inclusive). If either is omitted the response will include data items from the earliest or up to the most recent fiscal year available respectively. Alternatively, if both are specified start must be less than end. Either must be at most ten years in the past. Note that earliest data availability varies for each stock.
              properties:
                start:
                  type: number
                  format: int32
                  description: Only include data items for a fiscal year greater than or equal to the one specified. Must be greater than or equal to ten years in the past.
                end:
                  type: number
                  format: int32
                  description: Only include data items for a fiscal year earlier than or equal to the one specified. Must be less than or equal to the current year.
            currency:
              type: object
              x-property-sort:
              - isoCode
              description: Currency in which the attributes representing a monetary value are returned. If none is selected, the reporting currency of the company is used.
              properties:
                isoCode:
                  type: string
                  description: ISO code of the currency.
                  x-enum-description:
                  - Euro
                  - US Dollar
                  - British Pound Sterling
                  - Swiss Franc
                  enum:
                  - EUR
                  - USD
                  - GBP
                  - CHF
          required:
          - id
        meta:
          type: object
          description: The meta member contains the meta information of the request.
          properties:
            attributes:
              $ref: '#/components/schemas/AttributesMember'
            language:
              $ref: '#/components/schemas/LanguageMember'
          x-property-sort:
          - attributes
          - language
    StatusObject:
      type: object
      properties:
        code:
          type: number
          format: int32
          description: The HTTP status code of the response, mirroring the code from the Status-Line of the HTTP response message (see [RFC2616] section 6.1).
      description: The status member contains the status code of the response.
      required:
      - code
    errorResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/error'
    companyStats:
      title: Company Statistics
      type: object
      description: List of the statistics such as the average age, tenure, compensation of leadership, the number of executives, and the gender diversity of leadership for the requested identifier.
      properties:
        averageMgmtCompensation:
          description: Average compensation for the executives
          type: number
          format: integer
          example: 2267284
          x-fds-fql-formula: FPD_CO_MB_STATS(AVG_COMP)
          nullable: true
        averageTenure:
          description: Avergae tenure of the people
          type: number
          format: double
          example: 12.19
          x-fds-fql-formula: FPD_CO_MB_STATS(AVG_TENURE)
          nullable: true
        medianTenure:
          description: Median tenure
          type: number
          format: double
          example: 0.2
          x-fds-fql-formula: FPD_CO_MB_STATS(MIN_TENURE)
          nullable: true
        averageAge:
          description: Average of the executives on the management and board
          type: number
          format: double
          example: 58.17
          x-fds-fql-formula: FPD_CO_MB_STATS(AVG_AGE)
          nullable: true
        maxAge:
          description: Maximum age of the people on Management & Board
          type: number
          format: integer
          example: 68
          x-fds-fql-formula: FPD_CO_MB_STATS(MAX_AGE)
          nullable: true
        minimumAge:
          description: Minimum age of the person on board
          type: number
          format: integer
          example: 53
          x-fds-fql-formula: FPD_CO_MB_STATS(MIN_AGE)
          nullable: true
        medianAge:
          description: Median age of the people on board
          type: number
          example: 56
          x-fds-fql-formula: FPD_CO_MB_STATS(MED_AGE)
          nullable: true
        boardIndependentDirectors:
          description: Independent directors on the board
          type: number
          format: integer
          example: 7
          x-fds-fql-formula: FPD_CO_MB_STATS(BRD,IND,NUM)
          nullable: true
        femaleBoardMembers:
          description: Number of female members on the board
          type: number
          format: integer
          example: 3
          x-fds-fql-formula: FPD_CO_MB_STATS((BRD,FEMALE_BRD,NUM)
          nullable: true
        femaleBoardMembersPercent:
          description: Percentage of female members on the board
          type: number
          format: double
          example: 37.33
          x-fds-fql-formula: FPD_CO_MB_STATS((BRD,FEMALE_BRD,PCT)
          nullable: true
        numberOfMembers:
          description: Number of people on board.
          type: number
          format: integer
          example: 25
          x-fds-fql-formula: FPD_CO_MB_STATS(NUM_MEMBERS)
          nullable: true
        onOtherBoardsAll:
          description: On Other Boards All
          type: number
          format: integer
          example: 7
          x-fds-fql-formula: FPD_CO_MB_STATS(BRD,OTH_BRD,NUM)
          nullable: true
        onOtherBoardsCorporate:
          description: On Other Boards Corporate
          type: number
          format: integer
          example: 6
          x-fds-fql-formula: FPD_CO_MB_STATS(BRD,OTH_CORP_BRD,NUM)
          nullable: true
        mbType:
          description: Management and Board type, where MB = Management & Board, MGMT = Management, and BRD = Board. This is a pass-through value from the input used in the `mbType` query parameter.
          type: string
          example: MB
          nullable: true
        requestId:
          description: Original identifier used for the request.
          type: string
          example: FDS
    companyCompensationResponse:
      title: Company Compensation Response
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/companyCompensation'
          example: []
    companyCompensationRequest:
      title: Company Compensation Request
      type: object
      properties:
        ids:
          $ref: '#/components/schemas/companyIds'
      required:
      - ids
    companyIds:
      type: array
      items:
        type: string
      minItems: 1
      maxItems: 1000
      description: 'The requested company identifier. FactSet Identifiers, tickers, CUSIP, SEDOL, and ISIN are accepted inputs. <p>***ids limit** =  1000 per request*</p> *<p>Make note, GET Method URL request lines are also limited to a total length of 8192 bytes (8KB). In cases where the service allows for thousands of ids, which may lead to exceeding this request line limit of 8KB, its advised for any requests with large request lines to be requested through the respective "POST" method.</p>*

        '
      example:
      - AAPL-US
    mbType:
      description: Search based on the management and board types. The types include - |type|description|||||MB|Management & Board||MGMT|Management||BRD|Board|
      type: string
      enum:
      - MB
      - MGMT
      - BRD
      default: MB
    companyEventRequest:
      type: object
      properties:
        data:
          type: object
          properties:
            date:
              type: object
              properties:
                start:
                  description: Event start time as date/time string according to ISO 8601.
                  type: string
                  format: date-time
                  example: '2022-12-01T00:00:00Z'
                end:
                  description: Event end time as date/time string according to ISO 8601.
                  type: string
                  format: date-time
                  example: '2022-12-31T22:59:02Z'
            universe:
              type: object
              properties:
                symbols:
                  description: Companies to return in the response
                  type: array
                  items:
                    type: string
                  example:
                  - AAPL-US
                  - MSFT-US
                  - FDS-US
                type:
                  type: string
                  enum:
                  - tickers
                  - index
                  - etf
                  - mutual
                  - allCompanies
                  example: tickers
            types:
              description: The type of events returned in the response
              type: array
              items:
                type: string
                enum:
                - E
                - SA
                - G
                - AM
                - SM
                - SS
                - CP
                - confirmedER
                - SR
                - projectedER
                - S
                - D
                example: E
    companyPeopleRequest:
      title: Company People Request
      type: object
      properties:
        ids:
          $ref: '#/components/schemas/companyIds'
        function:
          $ref: '#/components/schemas/function'
      required:
      - ids
    companyPeople:
      title: Company People
      type: object
      description: List of executives for the specified company identifier.
      properties:
        fsymId:
          description: FactSet Identifier for the company requested.
          type: string
          example: 000C7F-E
          nullable: true
        email:
          description: Email of the person
          type: string
          example: null
          nullable: true
        name:
          description: FactSet Name of the person
          type: string
          example: Tim Cook
          nullable: true
        jobFunction1:
          description: Job Function1
          type: string
          example: Chief Executive Officer
          x-fds-fql-formula: FPD_CO_PEOPLE_JOBFUNC
          nullable: true
        jobFunction2:
          description: Job Function2
          type: string
          example: Director/Board Member
          x-fds-fql-formula: FPD_CO_PEOPLE_JOBFUNC
          nullable: true
        jobFunction3:
          description: Job Function3
          type: string
          example: null
          nullable: true
        jobFunction4:
          description: Job Function4
          type: string
          example: null
          x-fds-fql-formula: FPD_CO_PEOPLE_JOBFUNC
          nullable: true
        mainPhone:
          description: Main Phone Numbers of the executives.
          type: string
          example: 1.408.996.1010
          x-fds-fql-formula: FPD_CO_PEOPLE_PHONE_MAIN
          nullable: true
        personId:
          description: FactSet Entity Identifier for the Person.
          type: string
          example: 05F520-E
          nullable: true
        phone:
          description: Phone number of the executives.
          type: string
          example: null
          x-fds-fql-formula: FPD_CO_PEOPLE_PHONE
          nullable: true
        requestId:
          description: Original identifier used for the request.
          type: string
          example: AAPL-US
        title:
          description: Executive titles for a specified company.
          type: string
          example: Chief Executive officer & Director
          x-fds-fql-formula: FPD_CO_PEOPLE_TITLES
          nullable: true
    companyPeopleResponse:
      title: Company People Response
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/companyPeople'
          example: []
    function:
      type: string
      enum:
      - PEOPLE
      - OFFICER
      - DIRECTOR
      default: PEOPLE
      description: Controls the types of people returned based on high-level job functions. Filter by -   |function|description|  |||  |PEOPLE|Retrieve **ALL** Executives of a requested company|  |OFFICER|Retrieve only the Officers of a requested company|  |DIRECTOR|Retrieve only the Directors of a requested company|
      example: DIRECTOR
    position:
      description: "Controls the position details returned for the requested company. By default, the service returns the CEO name, title, and ID for the requested company ids.\n  |position|description|\n  |||\n  |CHAIR|Chairman|\n  |CEO|Chief Executive Officer|\n  |PRES|President|\n  |COO|Chief Operating Officer|\n  |CFO|Chief Financial Officer|\n  |CTO|Chief Technology Officer|\n  |CIO|Chief Investment Officer|\n  |FOU|Founder(s)|\n  |CMP|Compliance Officer|\n  |ADM|Admin|\n  |IND|Independent Director|\n  |BRD|Directors/Board Members|\n  |IR|Investor Relations|\n  |LEG|Legal Counsel|\n  |TREAS|Treasurer|\n  |MKT|Sales and Marketing Managers|\n  |HR|Human Resources|\n"
      enum:
      - CHAIR
      - CEO
      - PRES
      - COO
      - CFO
      - CTO
      - CIO
      - FOU
      - CMP
      - ADM
      - IND
      - BRD
      - IR
      - LEG
      - TREAS
      - MKT
      - HR
      default: CEO
      example: FOU
  responses:
    PostCompanyEstimatesListByInstrument200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                description: Estimated figures for selected fiscal years.
                nullable: false
                type: array
                items:
                  type: object
                  nullable: false
                  x-property-sort:
                  - fiscalYear
                  - reportDate
                  - currency
                  - incomeStatement
                  - balanceSheet
                  - ratios
                  - perShare
                  properties:
                    fiscalYear:
                      nullable: false
                      type: object
                      x-property-sort:
                      - end
                      - year
                      description: Details of a fiscal year.
                      properties:
                        end:
                          nullable: true
                          type: string
                          format: date
                          description: Ending date of the fiscal year.
                        year:
                          nullable: true
                          type: number
                          format: int32
                          description: Fiscal year.
                    reportDate:
                      nullable: true
                      type: string
                      format: date
                      description: Publication date of the financial report.
                    currency:
                      nullable: false
                      type: object
                      x-property-sort:
                      - id
                      - isoCode
                      description: Main currency into which the estimated figures representing a monetary value are converted.
                      properties:
                        id:
                          nullable: true
                          type: number
                          format: id32
                          x-positive: true
                          description: Identifier of the currency.
                        isoCode:
                          nullable: true
                          type: string
                          description: ISO 4217 code of the currency.
                    incomeStatement:
                      nullable: false
                      type: object
                      x-property-sort:
                      - sales
                      - ebit
                      - ebitda
                      description: Income statement estimates.
                      properties:
                        sales:
                          nullable: false
                          type: object
                          x-property-sort:
                          - mean
                          - median
                          description: Total amount of sales revenue received for the normal operation of the business.
                          properties:
                            mean:
                              nullable: true
                              type: number
                              format: real
                              description: Mean value.
                            median:
                              nullable: true
                              type: number
                              format: real
                              description: Median value.
                        ebit:
                          nullable: false
                          type: object
                          x-property-sort:
                          - mean
                          - median
                          description: EBIT (earnings before interest and taxes).
                          properties:
                            mean:
                              nullable: true
                              type: number
                              format: real
                              description: Mean value.
                            median:
                              nullable: true
                              type: number
                              format: real
                              description: Median value.
                        ebitda:
                          nullable: false
                          type: object
                          x-property-sort:
                          - mean
                          - median
                          description: EBITDA (earnings before interest, taxes, depreciation, and amortization).
                          properties:
                            mean:
                              nullable: true
                              type: number
                              format: real
                              description: Mean value.
                            median:
                              nullable: true
                              type: number
                              format: real
                              description: Median value.
                    balanceSheet:
                      nullable: false
                      type: object
                      x-property-sort:
                      - netDebt
                      - returnOnAssets
                      - returnOnEquity
                      description: Balance sheet estimates.
                      properties:
                        netDebt:
                          nullable: false
                          type: object
                          x-property-sort:
                          - mean
                          - median
                          description: Net debt, which is all interest-bearing obligations minus cash and cash equivalents.
                          properties:
                            mean:
                              nullable: true
                              type: number
                              format: real
                              description: Mean value.
                            median:
                              nullable: true
                              type: number
                              format: real
                              description: Median value.
                        returnOnAssets:
                          nullable: false
                          type: object
                          x-property-sort:
                          - mean
                          - median
                          description: Return on assets (ROA), which is the ratio of the net income, divided by the total assets.
                          properties:
                            mean:
                              nullable: true
                              type: number
                              format: relativeValue
                              description: Mean value.
                            median:
                              nullable: true
                              type: number
                              format: relativeValue
                              description: Median value.
                        returnOnEquity:
                          nullable: false
                          type: object
                          x-property-sort:
                          - mean
                          - median
                          description: Return on equity (ROE), which is the ratio of the net income, divided by the total shareholder's equity.
                          properties:
                            mean:
                              nullable: true
                              type: number
                              format: relativeValue
                              description: Mean value.
                            median:
                              nullable: true
                              type: number
                              format: relativeValue
                              description: Median value.
                    ratios:
                      nullable: false
                      type: object
                      x-property-sort:
                      - priceSales
                      - priceEarnings
                      - priceEarningsGrowth
                      - priceBookValue
                      - priceCashFlow
                      - priceFreeCashFlow
                      - dividendYield
                      - enterpriseValueEbit
                      - enterpriseValueEbita
                      - enterpriseValueEbitda
                      - enterpriseValueSales
                      - enterpriseValueFreeCashFlow
                      description: Estimates for selected ratios.
                      properties:
                        priceSales:
                          nullable: false
                          type: object
                          x-property-sort:
                          - mean
                          - median
                          description: Ratio of the price, divided by the total sales revenue per share.
                          properties:
                            mean:
                              nullable: true
                              type: number
                              format: real
                              description: Mean value.
                            median:
                              nullable: true
                              type: number
                              format: real
                              description: Median value.
                        priceEarnings:
                          nullable: false
                          type: object
                          x-property-sort:
                          - mean
                          - median
                          description: Ratio of the price, divided by the earnings per share.
                          properties:
                            mean:
                              nullable: true
                              type: number
                              format: real
                              description: Mean value.
                            median:
                              nullable: true
                              type: number
                              format: real
                              description: Median value.
                        priceEarningsGrowth:
                          nullable: false
                          type: object
                          x-property-sort:
                          - mean
                          - median
                          description: Price-earnings ratio divided by the growth rate of the earnings.
                          properties:
                            mean:
                              nullable: true
                              type: number
                              format: real
                              description: Mean value.
                            median:
                              nullable: true
                              type: number
                              format: real
                              description: Median value.
                        priceBookValue:
                          nullable: false
                          type: object
                          x-property-sort:
                          - mean
                          - median
                          description: Ratio of the price, divided by the book value per share.
                          properties:
                            mean:
                              nullable: true
                              type: number
                              format: real
                              description: Mean value.
                            median:
                              nullable: true
                              type: number
                              format: real
                              description: Median value.
                        priceCashFlow:
                          nullable: false
                          type: object
                          x-property-sort:
                          - mean
                          - median
                          description: Ratio of the price, divided by the cash flow per share.
                          properties:
                            mean:
                              nullable: true
                              type: number
                              format: real
                              description: Mean value.
                            median:
                              nullable: true
                              type: number
                              format: real
                              description: Median value.
                        priceFreeCashFlow:
                          nullable: false
                          type: object
                          x-property-sort:
                          - mean
                          - median
                          description: Ratio of the price, divided by the free (i.e. without subtraction of dividends) cash flow per share.
                          properties:
                            mean:
                              nullable: true
                              type: number
                              format: real
                              description: Mean value.
                            median:
                              nullable: true
                              type: number
                              format: real
                              description: Median value.
                        dividendYield:
                          nullable: false
                          type: object
                          x-property-sort:
                          - mean
                          - median
                          description: Ratio of the dividend per share, divided by the price.
                          properties:
                            mean:
                              nullable: true
                              type: number
                              format: relativeValue
                              description: Mean value.
                            median:
                              nullable: true
                              type: number
                              format: relativeValue
                              description: Median value.
                        enterpriseValueEbit:
                          nullable: false
                          type: object
                          x-property-sort:
                          - mean
                          - median
                          description: Ratio of the enterprise value, divided by the EBIT.
                          properties:
                            mean:
                              nullable: true
                              type: number
                              format: real
                              description: Mean value.
                            median:
                              nullable: true
                              type: number
                              format: real
                              description: Median value.
                        enterpriseValueEbita:
                          nullable: false
                          type: object
                          x-property-sort:
                          - mean
                          - median
                          description: Ratio of the enterprise value, divided by the EBITA (earnings before interest, taxes, and amortization).
                          properties:
                            mean:
                              nullable: true
                              type: number
                              format: real
                              description: Mean value.
                            median:
                              nullable: true
                              type: number
                              format: real
                              description: Median value.
                        enterpriseValueEbitda:
                          nullable: false
                          type: object
                          x-property-sort:
                          - mean
                          - median
                          description: Ratio of the enterprise value, divided by the EBITDA.
                          properties:
                            mean:
                              nullable: true
                              type: number
                              format: real
                              description: Mean value.
                            median:
                              nullable: true
                              type: number
                              format: real
                              description: Median value.
                        enterpriseValueSales:
                          nullable: false
                          type: object
                          x-property-sort:
                          - mean
                          - median
                          description: Ratio of the enterprise value, divided by the total sales.
                          properties:
                            mean:
                              nullable: true
                              type: number
                              format: real
                              description: Mean value.
                            median:
                              nullable: true
                              type: number
                              format: real
                              description: Median value.
                        enterpriseValueFreeCashFlow:
                          nullable: false
                          type: object
                          x-property-sort:
                          - mean
                          - median
                          description: Ratio of the enterprise value, divided by the free cash flow.
                          properties:
                            mean:
                              nullable: true
                              type: number
                              format: real
                              description: Mean value.
                            median:
                              nullable: true
                              type: number
                              format: real
                              description: Median value.
                    perShare:
                      nullable: false
                      type: object
                      x-property-sort:
                      - dividends
                      - earnings
                      - cashFlow
                      - sales
                      - netAssetValue
                      description: Estimates for selected per-share figures.
                      properties:
                        dividends:
                          nullable: false
                          type: object
                          x-property-sort:
                          - mean
                          - median
                          description: Dividends per share, which is the ratio of the total dividends, divided by the shares outstanding
                          properties:
                            mean:
                              nullable: true
                              type: number
                              format: real
                              description: Mean value.
                            median:
                              nullable: true
                              type: number
                              format: real
                              description: Median value.
                        earnings:
                          nullable: false
                          type: object
                          x-property-sort:
                          - mean
                          - median
                          description: Earnings per share (EPS), which is ratio of the net income, divided by the shares outstanding. For European equities, EPS is adjusted for exceptional and any non-recurring items.
                          properties:
                            mean:
                              nullable: true
                              type: number
                              format: real
                              description: Mean value.
                            median:
                              nullable: true
                              type: number
                              format: real
                              description: Median value.
                        cashFlow:
                          nullable: false
                          type: object
                          x-property-sort:
                          - mean
                          - median
                          description: Cash flow per share, which is the ratio of the net operating cash flow, divided by the shares outstanding.
                          properties:
                            mean:
                              nullable: true
                              type: number
                              format: real
                              description: Mean value.
                            median:
                              nullable: true
                              type: number
                              format: real
                              description: Median value.
                        sales:
                          nullable: false
                          type: object
                          x-property-sort:
                          - mean
                          - median
                          description: Sales per share, which is the ratio of the total sales, divided by the shares outstanding.
                          properties:
                            mean:
                              nullable: true
                              type: number
                              format: real
                              description: Mean value.
                            median:
                              nullable: true
                              type: number
                              format: real
                              description: Median value.
                        netAssetValue:
                          nullable: false
                          type: object
                          x-property-sort:
                          - mean
                          - median
                          description: Net asset value per share is the ratio of the total assets minus total liabilities, divided by the shares outstanding.
                          properties:
                            mean:
                              nullable: true
                              type: number
                              format: real
                              description: Mean value.
                            median:
                              nullable: true
                              type: number
                              format: real
                              description: Median value.
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                x-property-sort:
                - status
    GetCompanyBoardOfficerFunctionDeliveryList200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                description: List of deliveries, with their officer functions,sorted by name of the delivery and identifier of the function, both ascending.
                nullable: false
                type: array
                items:
                  type: object
                  nullable: false
                  x-property-sort:
                  - id
                  - name
                  - functions
                  properties:
                    id:
                      nullable: true
                      type: number
                      format: id32
                      x-positive: true
                      description: Identifier of a delivery.
                    name:
                      nullable: true
                      type: string
                      description: Name of the delivery.
                    functions:
                      nullable: false
                      description: List of officer functions.
                      type: array
                      items:
                        type: object
                        nullable: false
                        x-property-sort:
                        - id
                        - name
                        properties:
                          id:
                            nullable: true
                            type: number
                            format: id32
                            x-positive: true
                            description: Identifier of a function.
                          name:
                            nullable: true
                            type: string
                            format: localizedString
                            description: Name of the function.
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                x-property-sort:
                - status
    PostCompanyKeyItemsFiscalYearListByInstrument200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                description: Selected fundamentals for a stock with values as of the end of a fiscal year.
                nullable: false
                type: object
                x-property-sort:
                - isin
                - nsin
                - name
                - shortName
                - type
                - company
                - fiscalYearData
                properties:
                  isin:
                    nullable: true
                    type: string
                    format: isin
                    description: The International Securities Identification Number (ISIN) of the instrument. The ISIN is a 12-character code of digits and upper-case letters that uniquely identifies an instrument.
                  nsin:
                    nullable: false
                    type: object
                    x-property-sort:
                    - wkn
                    - valor
                    description: NSIN data of the instrument.
                    properties:
                      wkn:
                        nullable: true
                        type: string
                        description: The WKN (Wertpapierkennnummer, German for Securities Identification Number) of the instrument. The WKN is a 6-character code of digits and upper-case letters that uniquely identifies an instrument.
                      valor:
                        nullable: true
                        type: string
                        description: 'The Valor number (German: Valorennummer) of the instrument. The Valor number is an integer number that uniquely identifies an instrument.'
                  name:
                    nullable: true
                    type: string
                    format: localizedString
                    description: Name of the instrument.
                  shortName:
                    nullable: true
                    type: string
                    format: localizedString
                    description: Short name of the instrument.
                  type:
                    nullable: false
                    description: Instrument type as defined by FactSet Digital Solutions. Instrument types are arranged in a hierarchy, with the first level representing the most coarse granularity and further levels successively refining the granularity (see MDG category system 18). See endpoint `/category/get` for possible values.
                    type: array
                    items:
                      type: object
                      nullable: false
                      x-property-sort:
                      - id
                      - name
                      properties:
                        id:
                          nullable: true
                          type: number
                          format: id32
                          x-positive: true
                          description: Identifier of the instrument type.
                        name:
                          nullable: true
                          type: string
                          format: localizedString
                          description: Name of the instrument type.
                  company:
                    nullable: false
                    type: object
                    x-property-sort:
                    - id
                    - name
                    - country
                    description: Details of the company.
                    properties:
                      id:
                        nullable: true
                        type: number
                        format: id32
                        x-positive: true
                        description: Identifier of the company.
                      name:
                        nullable: true
                        type: string
                        description: Name of the company.
                      country:
                        nullable: false
                        type: object
                        x-property-sort:
                        - id
                        - name
                        description: Country where the head office of the company is located. See endpoint `/basic/region/country/list` for possible values.
                        properties:
                          id:
                            nullable: true
                            type: number
                            format: id32
                            x-positive: true
                            description: Identifier of the country.
                          name:
                            nullable: true
                            type: string
                            format: localizedString
                            description: Name of the country.
                  fiscalYearData:
                    nullable: false
                    description: Values as of the end of a fiscal year for the set of selected figures. The figures are clustered based on their specifics but do not exhaust all potentially available data from that cluster. The default sorting is from the most recent fiscal year requested to the most distant in time.
                    type: array
                    items:
                      type: object
                      nullable: false
                      x-property-sort:
                      - fiscalYear
                      - currency
                      - price
                      - freeFloat
                      - sharesOutstanding
                      - marketCapitalization
                      - incomeStatement
                      - balanceSheet
                      - cashFlow
                      - ratios
                      - perShare
                      properties:
                        fiscalYear:
                          nullable: false
                          type: object
                          x-property-sort:
                          - start
                          - end
                          - year
                          description: Details of a fiscal year.
                          properties:
                            start:
                              nullable: true
                              type: string
                              format: date
                              description: Starting date of the fiscal year.
                            end:
                              nullable: true
                              type: string
                              format: date
                              description: Ending date of the fiscal year. All data items as of the end of a fiscal year correspond to this date.
                            year:
                              nullable: true
                              type: number
                              format: int32
                              description: Fiscal year.
                        currency:
                          nullable: false
                          type: object
                          x-property-sort:
                          - id
                          - code
                          description: Currency of the attributes representing a monetary value. See endpoint `/basic/valueUnit/currency/main/list` for possible values.
                          properties:
                            id:
                              nullable: true
                              type: number
                              format: id32
                              x-positive: true
                              description: Identifier of the currency.
                            code:
                              nullable: true
                              type: string
                              description: 'Code of the currency: if assigned, a code according to ISO 4217, otherwise a local code.'
                        price:
                          nullable: true
                          type: number
                          format: real
                          description: End-of-day price as of the end of the fiscal year. It is used for calculation of all price-related data items corresponding to the end of the fiscal year.
                        freeFloat:
                          nullable: true
                          type: number
                          format: real
                          description: Free float, which is the number of shares outstanding available for trading to the public. Closely-held shares (e.g. held by a majority investor) and temporarily restricted shares (e.g. due to insider lock-up periods) are not part of the free float.
                        sharesOutstanding:
                          nullable: false
                          type: object
                          x-property-sort:
                          - reported
                          - average
                          description: Shares outstanding, which is the number of shares not in possession by the company itself (treasury shares) thus generally available for trading.
                          properties:
                            reported:
                              nullable: true
                              type: number
                              format: real
                              description: Number of shares outstanding as reported by the company. This represents the basic (actual) shares outstanding.
                            average:
                              nullable: false
                              type: object
                              x-property-sort:
                              - basic
                              - diluted
                              properties:
                                basic:
                                  nullable: true
                                  type: number
                                  format: real
[...]
