openapi: 3.2.0
info:
  description: '

    Use the Universal Screening API to calculate your saved screens and then

    output the results in a convenient JSON format or archive the results to

    an Open FactSet Database (OFDB) file'
  title: FactSet Universal Screening Archive API
  version: 2.0.2
servers:
- url: https://api.factset.com/universal-screening
security:
- FactSetApiKey: []
tags:
- name: Archive
paths:
  /v2/job/archive:
    post:
      description: Begins archive of screen to OFDB. Subject to rate limiting by serial.
      operationId: SubmitArchiveOFDB
      requestBody:
        $ref: '#/components/requestBodies/submitArchiveOFDBRequest'
      responses:
        '202':
          $ref: '#/components/responses/SubmitArchiveOFDBResponse'
        '400':
          $ref: '#/components/responses/Error400InvalidRequest'
        '401':
          $ref: '#/components/responses/Error401Response'
        '429':
          $ref: '#/components/responses/Error429Response'
        '500':
          $ref: '#/components/responses/Generic500ErrorResponse'
      tags:
      - Archive
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    ErrorObject:
      properties:
        code:
          $ref: '#/components/schemas/ErrorCode'
        id:
          description: A unique ID for the occurrence of the error. It is advised to log this code and include it if you contact FactSet support desk.
          type: string
          example: abc123
        source:
          $ref: '#/components/schemas/ErrorObjectSource'
        title:
          description: a description of the error
          type: string
          example: Example Title
      type: object
      description: Associated Error Objects
    ErrorArray:
      description: An array of errors
      properties:
        errors:
          items:
            $ref: '#/components/schemas/ErrorObject'
          type: array
          description: Array of Error Objects
          example: []
      type: object
    ErrorCode:
      description: Factset API specific error codes
      enum:
      - notAuthenticated
      - notAuthorized
      - notFound
      - endpointNotFound
      - parameterError
      - genericServerError
      - resourceGone
      - quantityLimitsExceeded
      - universal_screening_parameterError
      - universal_screening_parameterWarning
      type: string
    ScreenArchiveOFDBParameters:
      properties:
        data:
          description: Object containing archive request payload
          properties:
            archiveOptions:
              properties:
                archiveDate:
                  description: YYYYMMDD date to archive to
                  type: string
                archiveType:
                  description: Type of archive, i.e. ofdbSymbols, ofdbNts, ofdbQuickNts, ofdb
                  type: string
                autoSymbolUpdates:
                  description: Flag to enable automatic symbol updates
                  type: boolean
                existed:
                  description: Indicates that the output file exists
                  type: boolean
                filename:
                  description: OFDB Filename to archive to
                  type: string
                overwriteData:
                  description: If true and target file (or date for a time series file) exists, it will be cleared before archiving
                  type: boolean
                quickColumns:
                  description: 'Space delimited list of parameter references to be archived, which are UPPERCASED with the #P. omitted'
                  type: string
                symbolType:
                  description: The symbol type for archiving
                  type: string
                timeSeries:
                  description: If true, archive 3D time series OFDB
                  type: boolean
                unsplitHistory:
                  description: Flag indicating split adjust
                  type: boolean
                useReportOrder:
                  description: If true, archive in report order
                  type: boolean
              required:
              - filename
              - archiveType
              type: object
            backtestDate:
              description: "Specifies the backtest date used when running the screen, replacing\n  the backtest date saved in the screen, can be written in YYYYMMDD,\n  MM/DD/YYYY or relative (0, -1, 0/-1/0) format.\nRequires addtional access to use."
              type: string
            globalVariablesMap:
              additionalProperties:
                type: string
              description: 'Modifies existing global variables for this calculation request, temporarily adds them if they do not already exist

                Variable names can only contain the characters A-Z (case insensitive). Variable values must be non-empty.'
              type: object
            legacyUniverseType:
              description: Universe type to open legacy screen with. Must be one of "equity", "debt", or "fund". Defaults to "equity".
              type: string
            screenName:
              description: File path to a valid screen
              type: string
          required:
          - screenName
          type: object
          example: example_value
      required:
      - data
      type: object
    ResourceStatusResponse:
      description: ResourceStatusResponse contains information regarding the status of a calculation job
      properties:
        data:
          properties:
            error:
              $ref: '#/components/schemas/ErrorObject'
            id:
              description: ID of the submitted calculation job
              type: string
            status:
              description: Current status of the calculation job
              type: string
          type: object
          example: example_value
      type: object
    ErrorObjectSource:
      properties:
        parameter:
          type: string
          example: example_value
      description: For errors and warnings found in screens, contains the paramID the error/warning belongs to
      type: object
  responses:
    Error429Response:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorArray'
      description: Too many requests.
      headers:
        X-FactSet-Api-Units-Limit:
          description: Maximum number of jobs.
          schema:
            type: string
        X-FactSet-Api-Units-Remaining:
          description: Number of available jobs.
          schema:
            type: string
    Generic500ErrorResponse:
      description: Internal Server Error
      headers:
        Request-Key:
          description: Provide this key when reporting this issue
          schema:
            type: string
    SubmitArchiveOFDBResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ResourceStatusResponse'
      description: Successful archive OFDB submission response, returns the job ID unique to this archive and the URL in the Location header to check the status of the archive.
      headers:
        Location:
          description: Relative location to poll for archive status
          schema:
            type: string
        X-FactSet-Api-Units-Limit:
          description: Maximum number of jobs.
          schema:
            type: string
        X-FactSet-Api-Units-Remaining:
          description: Number of available jobs.
          schema:
            type: string
        RateLimit-Limit:
          description: Number of weekly jobs available.
          schema:
            type: string
        RateLimit-Remaining:
          description: Number of remaining weekly jobs.
          schema:
            type: string
        RateLimit-Reset:
          description: Time, in seconds, until weekly limit resets.
          schema:
            type: string
    Error400InvalidRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorArray'
      description: Invalid request body.
    Error401Response:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorArray'
      description: Invalid or missing authentication.
  requestBodies:
    submitArchiveOFDBRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ScreenArchiveOFDBParameters'
      description: Data required for an archive to OFDB request
  securitySchemes:
    FactSetApiKey:
      type: http
      scheme: basic
externalDocs:
  description: Read more about STACH 2.0's column organized schema
  url: https://factset.github.io/stachschema/#/v2/ColumnOrganized
