openapi: 3.2.0
info:
  version: 3.0.0
  title: FactSet Real-Time Quotes Market API
  description: '

    The Quotes API combines endpoints for retrieving security end-of-day,

    delayed, and realtime prices with performance key figures and basic

    reference data on the security and market level.'
  contact:
    name: FactSet Research Systems
    url: https://developer.factset.com/contact
    email: api@factset.com
  license:
    name: Apache License, Version 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
servers:
- url: https://api.factset.com/wealth/v3
security:
- FactSetApiKey: []
- FactSetOAuth2: []
tags:
- name: Market
paths:
  /notation/market/list:
    post:
      tags:
      - Market
      operationId: post/notation/market/list
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: true
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 2
      x-supportsPermissionDeniedResponse: false
      description: "List of markets with entitled notations. The list contains only markets with at least one active and entitled notation. \nAll identifiers used as parameters must be valid and entitled."
      summary: Factset List of Markets With Entitled Notations.
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostNotationMarketListRequest'
        required: false
      responses:
        '200':
          $ref: '#/components/responses/PostNotationMarketList200Response'
      parameters: []
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    OffsetBasedPaginationOutputObjectWithoutTotal:
      type: object
      description: Pagination attributes for the offset-based pagination strategy; a total element count is not supported.
      properties:
        hasNext:
          type: boolean
          description: Flag indicating that a subsequent request with the same parameters, except that the parameter `pagination.offset` is incremented by `pagination.limit`, would yield additional results.
          example: true
      required:
      - hasNext
      x-property-sort:
      - hasNext
    StatusObject:
      type: object
      properties:
        code:
          type: number
          format: int32
          description: The HTTP status code of the response, mirroring the code from the Status-Line of the HTTP response message (see [RFC2616] section 6.1).
          example: 42.5
      description: The status member contains the status code of the response.
      required:
      - code
    PostNotationMarketListRequest:
      x-property-sort:
      - data
      - meta
      description: Request Body
      type: object
      properties:
        data:
          type: object
          x-property-sort:
          - filter
          description: The data member contains the request's primary data.
          properties:
            filter:
              type: object
              x-property-sort:
              - assetClass
              - country
              - group
              - type
              description: Criteria that filter the items in the response list; only items that match all of the criteria are returned.
              properties:
                assetClass:
                  type: object
                  x-property-sort:
                  - ids
                  description: Asset class. Restricts the result to only markets with notations whose instruments belong to the selected asset classes.
                  properties:
                    ids:
                      type: array
                      items:
                        type: number
                        format: id32
                        x-positive: true
                      maxItems: 13
                      uniqueItems: true
                      description: Set of asset class identifiers. See endpoint `/basic/assetClass/list` for valid values.
                country:
                  type: object
                  x-property-sort:
                  - ids
                  description: Country of the markets.
                  properties:
                    ids:
                      type: array
                      items:
                        type: number
                        format: id32
                        x-positive: true
                      maxItems: 100
                      uniqueItems: true
                      description: List of country identifiers. See endpoint  `/basic/region/country/list` for valid values.
                group:
                  type: object
                  x-property-sort:
                  - ids
                  description: Market group of the markets.
                  properties:
                    ids:
                      type: array
                      items:
                        type: number
                        format: id32
                        x-positive: true
                      maxItems: 100
                      uniqueItems: true
                      description: Set of market group identifiers. See endpoint `/basic/market/group/list` for valid values.
                type:
                  type: object
                  x-property-sort:
                  - ids
                  description: Type of the markets.
                  properties:
                    ids:
                      type: array
                      items:
                        type: number
                        format: id32
                        x-positive: true
                      maxItems: 7
                      uniqueItems: true
                      description: Set of market type identifiers. See endpoint `/basic/market/type/list` for valid values.
          example: example_value
        meta:
          type: object
          description: The meta member contains the meta information of the request.
          properties:
            attributes:
              $ref: '#/components/schemas/AttributesMember'
            language:
              $ref: '#/components/schemas/LanguageMember'
            sort:
              description: Sortable attributes. The sort order is ascending unless it is prefixed with a minus sign, in which case it is descending. A list of at most 2 (possibly prefixed) attribute name(s) is allowed.
              type: array
              items:
                type: string
                enum:
                - name
                - -name
                - count
                - -count
              maxItems: 2
              uniqueItems: true
              default:
              - name
            pagination:
              type: object
              description: Pagination attributes for the offset-based pagination strategy.
              properties:
                offset:
                  type: number
                  format: int32
                  minimum: 0
                  default: 0
                  description: Non-negative number of entries to skip, or 0 (default).
                limit:
                  type: number
                  format: int32
                  minimum: 0
                  maximum: 500
                  default: 20
                  description: Non-negative maximum number of entries to return.
              x-property-sort:
              - offset
              - limit
          x-property-sort:
          - attributes
          - language
          - sort
          - pagination
          example: example_value
    AttributesMember:
      type: array
      description: Limit the attributes returned in the response to the specified set.
      items:
        type: string
        maxLength: 100
      maxItems: 50
      uniqueItems: true
    LanguageMember:
      type: string
      format: isoLanguage
      description: ISO 639-1 code of the language.
      maxLength: 2
      minLength: 2
  responses:
    PostNotationMarketList200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: array
                description: List of entitled markets.
                items:
                  type: object
                  x-property-sort:
                  - id
                  - name
                  - shortName
                  - country
                  - type
                  - group
                  - timezone
                  - count
                  properties:
                    id:
                      type:
                      - number
                      - 'null'
                      format: id32
                      x-positive: true
                      description: Identifier of a market.
                    name:
                      x-sortable: true
                      x-default-sort-attribute: true
                      x-default-sort-direction: 1
                      type:
                      - string
                      - 'null'
                      format: localizedString
                      description: Name of the market.
                    shortName:
                      type:
                      - string
                      - 'null'
                      format: localizedString
                      description: Short name of the market.
                    country:
                      type: object
                      x-property-sort:
                      - id
                      - name
                      description: Country of the market.  See endpoint `/basic/region/country/list` for possible values.
                      properties:
                        id:
                          type:
                          - number
                          - 'null'
                          format: id32
                          x-positive: true
                          description: Identifier of the country.
                        name:
                          type:
                          - string
                          - 'null'
                          format: localizedString
                          description: Name of the country.
                    type:
                      type: object
                      x-property-sort:
                      - id
                      - name
                      description: Type of the market. See endpoint `/basic/market/type/list` for possible values.
                      properties:
                        id:
                          type:
                          - number
                          - 'null'
                          format: id32
                          x-positive: true
                          description: Identifier of the type.
                        name:
                          type:
                          - string
                          - 'null'
                          format: localizedString
                          description: Name of the type.
                    group:
                      type: object
                      x-property-sort:
                      - id
                      - name
                      description: Market group of the market. See endpoint `/basic/market/list` for possible values.
                      properties:
                        id:
                          type:
                          - number
                          - 'null'
                          format: id32
                          x-positive: true
                          description: Identifier of the market group.
                        name:
                          type:
                          - string
                          - 'null'
                          format: localizedString
                          description: Name of the market group.
                    timezone:
                      type: object
                      x-property-sort:
                      - id
                      - name
                      description: Timezone of the market. See endpoint `/basic/timezone/list` for possible values.
                      properties:
                        id:
                          type:
                          - number
                          - 'null'
                          format: id32
                          x-positive: true
                          description: Identifier of the timezone.
                        name:
                          type:
                          - string
                          - 'null'
                          description: Name of the timezone.
                    count:
                      x-sortable: true
                      type:
                      - number
                      - 'null'
                      format: int32
                      description: Number of entitled notations.
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                  pagination:
                    $ref: '#/components/schemas/OffsetBasedPaginationOutputObjectWithoutTotal'
                x-property-sort:
                - status
                - pagination
            x-property-sort:
            - data
            - meta
  securitySchemes:
    FactSetOAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://auth.factset.com/as/token.oauth2
          scopes: {}
    FactSetApiKey:
      type: http
      scheme: basic
externalDocs:
  description: API Documentation
  url: https://developer.factset.com/api-catalog/
x-interface-version: 2
x-documenter-version: 6.3.9
x-api-version: 4.4.0
