openapi: 3.0.3
info:
  title: Factset Analytics Datastore About Get API
  description: Allow clients to fetch precalculated Analytics through predeterministic URLs.
  contact:
    name: FactSet Research Systems
    url: https://developer.factset.com/contact
    email: api@factset.com
  license:
    name: Apache License, Version 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  version: 1.0.0
servers:
- url: https://api.factset.com
  description: Production
- url: https://api-sandbox.factset.com
  description: Sandbox
security:
- basicAuth: []
tags:
- name: Get
paths:
  /debtInstrument/get:
    get:
      tags:
      - Get
      operationId: get/debtInstrument/get
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Factset Fundamental Data for a Debt Instrument.
      description: Fundamental data for a debt instrument; any other instrument yields empty values for debt-instrument-specific attributes. Dates are interpreted in the timezone of the issuer.
      parameters:
      - name: id
        in: query
        schema:
          type: string
          format: id64
          x-positive: true
          description: Identifier of the instrument.
        required: true
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
            exclusiveMaximum: false
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      - name: _language
        in: query
        schema:
          type: string
          format: isoLanguage
          description: ISO 639-1 code of the language.
          maxLength: 2
          minLength: 2
          exclusiveMinimum: false
          exclusiveMaximum: false
      responses:
        '200':
          $ref: '#/components/responses/GetDebtInstrumentGet200Response'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /debtInstrument/keyFigures/notation/get:
    get:
      tags:
      - Get
      operationId: get/debtInstrument/keyFigures/notation/get
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Factset Key Figures of a Debt Instrument.
      description: Key figures of a debt instrument. The key figures are calculated using delayed prices with an additional delay of 10 minutes after an  update of the debt instrument's price. Special product features such as the right to a maturity extension, an attached option, or convertibility are not considered for the key figure calculation. Further, a calculation is not performed for perpetual products and for products with variable interest rate.
      parameters:
      - name: id
        in: query
        schema:
          type: string
          format: id64
          x-positive: true
          description: Identifier of a notation.
        required: true
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
            exclusiveMaximum: false
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      responses:
        '200':
          $ref: '#/components/responses/GetDebtInstrumentKeyFiguresNotationGet200Response'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /debtInstrument/notation/screener/valueRanges/get:
    post:
      tags:
      - Get
      operationId: post/debtInstrument/notation/screener/valueRanges/get
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Factset Possible Values and Value Ranges for the Parameters Used in the Endpoint `/debtinstrument/notation/screener/search.`
      description: The endpoint returns the possible values and value ranges for the parameters used in the endpoint `/debtInstrument/notation/screener/search`. It allows to request the values and value ranges only for a restricted set of notations that match predefined parameters. The functionality may be used to pre-fill the values and value ranges of the parameters of the `/debtInstrument/notation/screener/search` endpoint so that performing a search always leads to a non-empty set of notations. If more than one notation of an instrument matches the parameters, and no market priority has been specified, only the notation with the highest trading volume, averaged over one month, is considered.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostDebtInstrumentNotationScreenerValueRangesGetRequest'
      responses:
        '200':
          $ref: '#/components/responses/PostDebtInstrumentNotationScreenerValueRangesGet200Response'
      parameters: []
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  responses:
    GetDebtInstrumentGet200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                description: Fundamental data for a debt instrument.
                nullable: false
                type: object
                x-property-sort:
                - isin
                - nsin
                - name
                - shortName
                - type
                - lifeCycle
                - issuer
                - issue
                - tradingVolume
                - redemption
                - nominalValue
                - debtRanking
                - germany
                properties:
                  isin:
                    nullable: true
                    type: string
                    format: isin
                    description: The International Securities Identification Number (ISIN) of the instrument. The ISIN is a 12-character code of digits and upper-case letters that uniquely identifies an instrument.
                  nsin:
                    nullable: false
                    type: object
                    x-property-sort:
                    - wkn
                    - valor
                    description: NSIN data of the instrument.
                    properties:
                      wkn:
                        nullable: true
                        type: string
                        description: The WKN (Wertpapierkennnummer, German for Securities Identification Number) of the instrument. The WKN is a 6-character code of digits and upper-case letters that uniquely identifies an instrument.
                      valor:
                        nullable: true
                        type: string
                        description: 'The Valor number (German: Valorennummer) of the instrument. The Valor number is an integer number that uniquely identifies an instrument.'
                  name:
                    nullable: true
                    type: string
                    format: localizedString
                    description: Name of the instrument.
                  shortName:
                    nullable: true
                    type: string
                    format: localizedString
                    description: Short name of the instrument.
                  type:
                    nullable: false
                    description: Instrument type as defined by FactSet Digital Solutions. Instrument types are arranged in a hierarchy, with the first level representing the most coarse granularity and further levels successively refining the granularity (see MDG category system 18). See endpoint `/category/get` for possible values.
                    type: array
                    items:
                      type: object
                      nullable: false
                      x-property-sort:
                      - id
                      - name
                      properties:
                        id:
                          nullable: true
                          type: number
                          format: id32
                          x-positive: true
                          description: Identifier of the instrument type.
                        name:
                          nullable: true
                          type: string
                          format: localizedString
                          description: Name of the instrument type.
                  lifeCycle:
                    nullable: false
                    type: object
                    x-property-sort:
                    - issue
                    - maturity
                    description: Important dates of the instrument.
                    properties:
                      issue:
                        nullable: true
                        type: string
                        format: date
                        description: Date of the issue.
                      maturity:
                        nullable: false
                        type: object
                        x-property-sort:
                        - date
                        - isPerpetual
                        - isCallable
                        description: Maturity data.
                        properties:
                          date:
                            nullable: true
                            type: string
                            format: date
                            description: Date of the instrument's maturity. The value is empty if the instrument is perpetual.
                          isPerpetual:
                            nullable: true
                            type: boolean
                            description: If true, the instrument is perpetual, i.e. it does not mature, therefore the attribute `date` is null.
                          isCallable:
                            nullable: true
                            type: boolean
                            description: If true, the issuer may redeem the instrument prior to maturity.
                  issuer:
                    nullable: false
                    type: object
                    x-property-sort:
                    - id
                    - name
                    - lei
                    description: Issuer of the instrument. See endpoint `/legalEntity/list` for possible values.
                    properties:
                      id:
                        nullable: true
                        type: string
                        format: id64
                        x-positive: true
                        description: Identifier of the issuer.
                      name:
                        nullable: true
                        type: string
                        description: Name of the issuer.
                      lei:
                        nullable: true
                        type: string
                        description: Legal Entity Identifier of the issuer.
                  issue:
                    nullable: false
                    type: object
                    x-property-sort:
                    - price
                    - volume
                    description: Issue data of the instrument.
                    properties:
                      price:
                        nullable: false
                        type: object
                        x-property-sort:
                        - value
                        - valueUnit
                        description: Issue price data.
                        properties:
                          value:
                            nullable: true
                            type: number
                            format: real
                            description: Issue price.
                          valueUnit:
                            nullable: false
                            type: object
                            x-property-sort:
                            - id
                            - code
                            description: Value unit of the issue price such as percentages for a debt instrument quoted in percent, or a main or a fractional currency for a per-unit-quoted debt instrument (rarely). See endpoint `/basic/valueUnit/list` for possible values.
                            properties:
                              id:
                                nullable: true
                                type: number
                                format: id32
                                x-positive: true
                                description: Identifier of the value unit.
                              code:
                                nullable: true
                                type: string
                                description: Code of the value unit.
                      volume:
                        nullable: false
                        type: object
                        x-property-sort:
                        - amount
                        - currency
                        description: Issue volume data.
                        properties:
                          amount:
                            nullable: true
                            type: number
                            format: real
                            description: Issue volume.
                          currency:
                            nullable: false
                            type: object
                            x-property-sort:
                            - id
                            - code
                            - isoCode
                            description: Main currency of denomination of the issue volume. See endpoint `/basic/valueUnit/currency/main/list` for possible values.
                            properties:
                              id:
                                nullable: true
                                type: number
                                format: id32
                                x-positive: true
                                description: Identifier of the currency.
                              code:
                                nullable: true
                                type: string
                                description: 'Code of the currency: if assigned, a code according to ISO 4217, otherwise a local code.'
                              isoCode:
                                nullable: true
                                type: string
                                description: ISO 4217 code of the currency.
                  tradingVolume:
                    nullable: false
                    type: object
                    x-property-sort:
                    - minimum
                    - increment
                    description: Requirements regarding the trading volume in the over-the-counter (non-exchange-based) trading. For the currency of the trading volume, see attribute `issue.volume.currency`.
                    properties:
                      minimum:
                        nullable: true
                        type: number
                        format: real
                        description: Minimum trading volume.
                      increment:
                        nullable: true
                        type: number
                        format: real
                        description: Incremental trading volume over the minimum. The trading volume over the minimum must be an integral multiple of the increment.
                  redemption:
                    nullable: false
                    type: object
                    x-property-sort:
                    - price
                    - currency
                    description: Redemption data of the instrument.
                    properties:
                      price:
                        nullable: false
                        type: object
                        x-property-sort:
                        - value
                        - valueUnit
                        description: Redemption price data.
                        properties:
                          value:
                            nullable: true
                            type: number
                            format: real
                            description: Redemption price.
                          valueUnit:
                            nullable: false
                            type: object
                            x-property-sort:
                            - id
                            - code
                            description: Value unit of the redemption price such as percentages for a debt instrument quoted in percent, or a main or a fractional currency for a per-unit-quoted debt instrument (rarely). See endpoint `/basic/valueUnit/list` for possible values.
                            properties:
                              id:
                                nullable: true
                                type: number
                                format: id32
                                x-positive: true
                                description: Identifier of the value unit.
                              code:
                                nullable: true
                                type: string
                                description: Code of the value unit.
                      currency:
                        nullable: false
                        type: object
                        x-property-sort:
                        - id
                        - code
                        - isoCode
                        description: Main currency of the redemption. See endpoint `/basic/valueUnit/currency/main/list` for possible values.
                        properties:
                          id:
                            nullable: true
                            type: number
                            format: id32
                            x-positive: true
                            description: Identifier of the currency.
                          code:
                            nullable: true
                            type: string
                            description: 'Code of the currency: if assigned, a code according to ISO 4217, otherwise a local code.'
                          isoCode:
                            nullable: true
                            type: string
                            description: ISO 4217 code of the currency.
                  nominalValue:
                    nullable: true
                    type: number
                    format: real
                    description: Nominal value for per-unit quoted debt instruments. Debt instruments quoted in percent do not have a nominal value per se.
                  debtRanking:
                    nullable: false
                    type: object
                    x-property-sort:
                    - id
                    - name
                    description: Ranking data of the debt instrument. It indicates how payments related to the debt instrument are ranked  compared to payments on the issuer's other obligations.
                    properties:
                      id:
                        nullable: true
                        type: number
                        format: id32
                        x-positive: true
                        description: Identifier of the debt ranking.
                      name:
                        nullable: true
                        type: string
                        format: localizedString
                        description: Name of the debt ranking.
                  germany:
                    nullable: false
                    type: object
                    x-property-sort:
                    - isTrusteeEligible
                    description: Specific data for Germany.
                    properties:
                      isTrusteeEligible:
                        nullable: true
                        type: boolean
                        description: If true, the debt instrument is eligible for investments by trustees according to §§1806ff of the BGB (German Civil Code). The German legislative has declared it to be virtually free of the risk of loss, such as government and state bonds. Eligible are primarily German securities.
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                x-property-sort:
                - status
    GetDebtInstrumentKeyFiguresNotationGet200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                nullable: false
                type: object
                x-property-sort:
                - calculation
                - yield
                - macaulayDuration
                - sensitivities
                description: Key figures and related data.
                properties:
                  calculation:
                    nullable: false
                    type: object
                    x-property-sort:
                    - time
                    - price
                    description: Details of the calculation.
                    properties:
                      time:
                        nullable: true
                        type: string
                        format: datetime
                        description: Date and time of the calculation.
                      price:
                        nullable: false
                        type: object
                        x-property-sort:
                        - value
                        - valueUnit
                        - dirtyPricing
                        description: Price used for the calculation.
                        properties:
                          value:
                            nullable: true
                            type: number
                            format: real
                            description: Price value.
                          valueUnit:
                            nullable: false
                            type: object
                            x-property-sort:
                            - id
                            - code
                            description: Value unit of the notation of the debt instrument, such as a main currency for a per-unit-quoted debt instrument (rarely), or percentages for a debt instrument quoted in percent. See endpoint `/basic/valueUnit/list` for possible values.
                            properties:
                              id:
                                nullable: true
                                type: number
                                format: id32
                                x-positive: true
                                description: Identifier of the value unit.
                              code:
                                nullable: true
                                type: string
                                description: Code of the value unit.
                          dirtyPricing:
                            nullable: true
                            type: boolean
                            description: If true, the attribute `price.value` contains the accrued interest.
                  yield:
                    nullable: false
                    type: object
                    x-property-sort:
                    - current
                    - toMaturity
                    - spread
                    description: Yield-related key figures.
                    properties:
                      current:
                        nullable: true
                        type: number
                        format: relativeValue
                        description: Current yield, which is the next annual interest payment divided by the price. If the coupon period is different than a year, the interest payment is annualized.
                      toMaturity:
                        nullable: true
                        type: number
                        format: relativeValue
                        description: Yield to maturity, which is the annual rate of return, assuming the instrument is held until maturity.
                      spread:
                        nullable: true
                        type: number
                        format: relativeValue
                        description: Credit spread, which is the difference in yield to maturity between a highest-quality debt instrument, also called a benchmark bond, and the debt instrument. See endpoint `/instrument/benchmark/list` for the benchmark bond.
                  macaulayDuration:
                    nullable: true
                    type: number
                    format: real
                    description: Macaulay duration, which is the average period (in years) of capital commitment.
                  sensitivities:
                    nullable: false
                    type: object
                    x-property-sort:
                    - basePointValue
                    - modifiedDuration
                    - elasticity
                    - convexity
                    description: Price sensitivities of the debt instrument with respect to the prevailing market interest rate.
                    properties:
                      basePointValue:
                        nullable: true
                        type: number
                        format: real
                        description: Base point value, which is the change of the debt instrument's price for a one base point change (nominally, not relatively) of the prevailing market interest rate. One base point is equivalent to 0,01 percent (1/100 of a percent). See attribute `price/valueUnit` for its value unit.
                      modifiedDuration:
                        nullable: true
                        type: number
                        format: relativeValue
                        description: Modified duration, which is the percentage change of the debt instrument's price for a one percent change (nominally, not relatively) of the prevailing market interest rate.
                      elasticity:
                        nullable: true
                        type: number
                        format: real
                        description: Yield elasticity, which is the ratio of the percentage change of the debt instrument's price for a one percent change (relatively, not nominally) of the prevailing market interest rate.
                      convexity:
                        nullable: true
                        type: number
                        format: real
                        description: Convexity, which is a measure for the change of the modified duration as the prevailing market interest rate changes.
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                x-property-sort:
                - status
    PostDebtInstrumentNotationScreenerValueRangesGet200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                description: Possible values and value ranges of the parameters.
                nullable: false
                type: object
                x-property-sort:
                - totalCount
                - valueUnit
                - market
                - categorization
                - lifeCycle
                - subordinated
                - ratingSystem1
                - ratingSystem2
                - issuer
                - issue
                - tradingVolume
                - compliance
                - coupon
                - yield
                - macaulayDuration
                - sensitivities
                - tradedValue
                properties:
                  totalCount:
                    nullable: true
                    type: number
                    format: int32
                    description: Number of notations that satisfy the request parameters, hence have been used to retrieve the possible values and value ranges.
                  valueUnit:
                    nullable: false
                    description: List of value unit identifiers. See endpoint `/basic/valueUnit/list` for possible values.
                    type: array
                    items:
                      type: object
                      nullable: false
                      x-property-sort:
                      - id
                      - code
                      - count
                      properties:
                        id:
                          nullable: true
                          description: Identifer of a value unit.
                          type: number
                          format: id32
                          x-positive: true
                        code:
                          nullable: true
                          description: 'Code of the value unit: If assigned, a code according to ISO 4217, otherwise a local code, for a main currency; a code such as GBp (for British pence) for a fractional currency; or a code such as PT (points) for non-currency value units.'
                          type: string
                        count:
                          nullable: true
                          description: Number of notations.
                          type: number
                          format: int32
                  market:
                    nullable: false
                    description: List of market identifiers. See endpoint `/basic/market/list` for possible values.
                    type: array
                    items:
                      type: object
                      nullable: false
                      x-property-sort:
                      - id
                      - name
                      - count
                      properties:
                        id:
                          nullable: true
                          description: Identifier of a market.
                          type: number
                          format: id32
                          x-positive: true
                        name:
                          nullable: true
                          description: Name of the market.
                          type: string
                          format: localizedString
                        count:
                          nullable: true
                          description: Number of notations.
                          type: number
                          format: int32
                  categorization:
                    nullable: false
                    description: Lists of categories of the debt instruments' categorization. Starting with the most coarse level (one), for each level of the category system, the list of categories of the debt instruments, matching the parameters, is returned. See endpoint `/category/listBySystem` with `id=18` for possible values.
                    type: array
                    items:
                      type: object
                      nullable: false
                      x-property-sort:
                      - level
                      - categories
                      properties:
                        level:
                          nullable: false
                          description: Category level.
                          type: object
                          x-property-sort:
                          - number
                          properties:
                            number:
                              nullable: true
                              description: Number of the category level, indicating the distance to the root of the category hierarchy.
                              type: number
                              format: int32
                        categories:
                          nullable: false
                          description: List of categories for the given level of the debt instruments' categorization.
                          type: array
                          items:
                            type: object
                            nullable: false
                            x-property-sort:
                            - id
                            - name
                            - parent
                            - count
                            properties:
                              id:
                                nullable: true
                                description: Identifier of a category.
                                type: number
                                format: id32
                                x-positive: true
                              name:
                                nullable: true
                                description: Name of the category.
                                type: string
                                format: localizedString
                              parent:
                                nullable: false
                                description: Parent category or `null` if this category is on the first level.
                                type: object
                                x-property-sort:
                                - id
                                properties:
                                  id:
                                    nullable: true
                                    description: Identifier of the category.
                                    type: number
                                    format: id32
                                    x-positive: true
                              count:
                                nullable: true
                                description: Number of notations.
                                type: number
                                format: int32
                  lifeCycle:
                    nullable: false
                    type: object
                    x-property-sort:
                    - issue
                    - maturity
                    - callable
                    description: Values and value ranges related to important dates.
                    properties:
                      issue:
                        nullable: false
                        type: object
                        x-property-sort:
                        - minimum
                        - maximum
                        description: Date range of the issue date.
                        properties:
                          minimum:
                            nullable: true
                            type: string
                            format: date
                            description: Minimum date.
                          maximum:
                            nullable: true
                            type: string
                            format: date
                            description: Maximum date.
                      maturity:
                        nullable: false
                        type: object
                        x-property-sort:
                        - date
                        - remainingTermYears
                        - perpetual
                        description: Ranges related to the maturity.
                        properties:
                          date:
                            nullable: false
                            type: object
                            x-property-sort:
                            - minimum
                            - maximum
                            description: Date range of the maturity date.
                            properties:
                              minimum:
                                nullable: true
                                type: string
                                format: date
                                description: Minimum date.
                              maximum:
                                nullable: true
                                type: string
                                format: date
                                description: Maximum date.
                          remainingTermYears:
                            nullable: false
                            type: object
                            x-property-sort:
                            - minimum
                            - maximum
                            description: Value range for the remaining term to maturity expressed in years.
                            properties:
                              minimum:
                                nullable: true
                                type: number
                                format: real
                                description: Minimum value.
                              maximum:
                                nullable: true
                                type: number
                                format: real
                                description: Maximum value.
                          perpetual:
                            nullable: false
                            type: array
                            items:
                              type: object
                              nullable: false
                              x-property-sort:
                              - value
                              - count
                              properties:
                                value:
                                  nullable: true
                                  type: boolean
                                  description: Attribute value.
                                count:
                                  nullable: true
                                  type: number
                                  format: int32
                                  description: Number of notations.
                            description: Indicates whether perpetual and non-perpetual debt instruments are among the results. A perpetual debt instrument is one that does not mature.
                      callable:
                        nullable: false
                        type: array
                        items:
                          type: object
                          nullable: false
                          x-property-sort:
                          - value
                          - count
                          properties:
                            value:
                              nullable: true
                              type: boolean
                              description: Attribute value.
                            count:
                              nullable: true
                              type: number
                              format: int32
                              description: Number of notations.
                        description: Indicates whether callable and non-callable debt instruments are among the results. A callable debt instrument is one that may be redeemed by the issuer prior to maturity.
                  subordinated:
                    nullable: false
                    type: array
                    items:
                      type: object
                      nullable: false
                      x-property-sort:
                      - value
                      - count
                      properties:
                        value:
                          nullable: true
                          type: boolean
                          description: Attribute value.
                        count:
                          nullable: true
                          type: number
                          format: int32
                          description: Number of notations.
                    description: Indicates whether subordinated and non-subordinated are among the results. In case of default, subordinated debt instruments are redeemed with a lower priority than non-subordinated.
                  ratingSystem1:
                    nullable: false
                    type: object
                    x-property-sort:
                    - rating
                    description: Ratings of the debt instruments according to the rating system specified by either the first identifier provided in the parameter `rating.system.ids`, or of the rating system implied by the first identifier provided in the parameter `rating.minimum.grade.ids`. Not available, if a rating system has not been specified via the mentioned parameters.
                    properties:
                      rating:
                        nullable: false
                        type: array
                        items:
                          type: object
                          nullable: false
                          x-property-sort:
                          - id
                          - grade
                          - count
                          properties:
                            id:
                              nullable: true
                              type: number
                              format: id32
                              x-positive: true
                              description: Identifier of a rating grade.
                            grade:
                              nullable: true
                              type: string
                              description: Rating grade.
                            count:
                              nullable: true
                              type: number
                              format: int32
                              description: Number of notations.
                        description: List of rating grades.
                  ratingSystem2:
                    nullable: false
                    type: object
                    x-property-sort:
                    - rating
                    description: Ratings of the debt instruments according to the rating system specified by either the second identifier provided in the parameter `rating.system.ids`, or of the rating system implied by the second identifier provided in the parameter `rating.minimum.grade.ids`. Not available, if a rating system has not been specified via the mentioned parameters.
                    properties:
                      rating:
                        nullable: false
                        type: array
                        items:
                          type: object
                          nullable: false
                          x-property-sort:
                          - id
                          - grade
                          - count
                          properties:
                            id:
                              nullable: true
                              type: number
                              format: id32
                              x-positive: true
                              description: Identifier of a rating grade.
                            grade:
                              nullable: true
                              type: string
                              description: Rating grade.
                            count:
                              nullable: true
                              type: number
                              format: int32
                              description: Number of notations.
                        description: List of rating grades.
                  issuer:
                    nullable: false
                    type: object
                    x-property-sort:
                    - juristicPerson
                    - country
                    description: Values and value ranges related to the issuer of the debt instruments.
                    properties:
                      juristicPerson:
                        nullable: false
                        type: array
                        items:
                          type: object
                          nullable: false
                          x-property-sort:
                          - id
                          - name
                          - count
                          properties:
                            id:
                              nullable: true
                              type: number
                              format: id32
                              x-positive: true
                              description: Identifier of an issuer.
                            name:
                              nullable: true
                              type: string
                              description: Name of the issuer.
                            count:
                              nullable: true
                              type: number
                              format: int32
                              description: Number of notations.
                        description: List of juristic persons in the role of an issuer. See endpoint `/debtInstrument/issuer/search` for possible values.
                      country:
                        nullable: false
                        type: array
                        items:
                          type: object
                          nullable: false
                          x-property-sort:
                          - id
                          - name
                          - count
                          properties:
                            id:
                              nullable: true
                              type: number
                              format: id32
                              x-positive: true
                              description: Identifier of an issuer.
                            name:
                              nullable: true
                              type: string
                              description: Name of the issuer.
                            count:
                              nullable: true
                              type: number
                              format: int32
                              description: Number of notations.
                        description: List of countries where the issuers of the debt instruments are registered. See endpoint `/basic/region/country/list` for possible values.
                  issue:
                    nullable: false
                    type: object
                    x-property-sort:
                    - volume
                    description: Values and value ranges related to the issue of the debt instruments.
                    properties:
                      volume:
                        nullable: false
                        type: object
                        x-property-sort:
                        - currency
                        description: Values and value ranges related to the issue volumes of the debt instruments.
                        properties:
                          currency:
                            nullable: false
                            type: array
                            items:
                              type: object
                              nullable: false
                              x-property-sort:
                              - id
                              - isoCode
                              - count
                              properties:
                                id:
                                  nullable: true
                                  type: number
                                  format: id32
                                  x-positive: true
                                  description: Identifier of a currency.
                                isoCode:
                                  nullable: true
                                  type: string
                                  description: ISO 4217 code of the currency.
                                count:
                                  nullable: true
                                  type: number
                                  format: int32
                                  description: Number of notations.
                            description: List of main currencies of denomination of the the issue volumes. See endpoint `/basic/valueUnit/currency/main/list` for possible values.
                  tradingVolume:
                    nullable: false
                    type: object
                    x-property-sort:
                    - otc
                    description: Value ranges regarding requirements related to the trading volume. The currency is the currency of denomination (see attribute `issue.volume.currency`). Not available, if the parameter `issue.volume.currency.restrict.ids` has not been set to a single currency.
                    properties:
                      otc:
                        nullable: false
                        type: object
                        x-property-sort:
                        - minimum
                        description: Value ranges of the volume applicable to the over-the-counter (non-exchange based) trading.
                        properties:
                          minimum:
                            nullable: true
                            description: Minimum trading volume.
                            type: object
                            format: realRange
                            properties:
                              minimum:
                                nullable: true
                                type: number
                                format: real
                                description: Minimum value.
                              maximum:
                                nullable: true
                                type: number
                                format: real
                                description: Maximum value.
                            x-property-sort:
                            - minimum
                            - maximum
                  compliance:
                    nullable: false
                    description: Compliance properties.
                    type: object
                    x-property-sort:
                    - germany
                    properties:
                      germany:
                        nullable: false
                        description: Compliance properties in accordance with the German law.
                        type: object
                        x-property-sort:
                        - trusteeEligible
                        properties:
                          trusteeEligible:
                            nullable: false
                            description: Indicates whether debt instruments eligible for investments by trustees according to §§1806ff of the BGB (German Civil Code) are among the results. The German legislative has declared it to be virtually free of the risk of loss, such as government and state bonds. Eligible are primarily German debt instruments.
                            type: array
                            items:
                              type: object
                              nullable: false
                              x-property-sort:
                              - value
                              - count
                              properties:
                                value:
                                  nullable: true
                                  description: Attribute value.
                                  type: boolean
                                count:
                                  nullable: true
                                  description: Number of notations.
                                  type: number
                                  format: int32
                  coupon:
                    nullable: false
                    description: Values and value ranges related to the interest rate.
                    type: object
                    x-property-sort:
                    - occurrence
                    - currentInterestRate
                    properties:
                      occurrence:
                        nullable: false
                        description: Occurrence and frequency of the coupon payments.
                        type: object
                        x-property-sort:
                        - type
                        - frequency
                        properties:
                          type:
                            nullable: false
                            description: Occurrence types of the coupon payments.
                            type: array
                            items:
                              type: object
                              nullable: false
                              x-property-sort:
                              - value
                              - count
                              properties:
                                value:
                                  nullable: true
                                  description: Attribute value.
                                  type: string
                                  x-enum-description:
                                  - The debt instrument does not pay out a coupon.
                                  - The debt instrument pays out a coupon only once.
                                  - The debt instrument pays out a coupon on a repeated basis.
                                  enum:
                                  - never
                                  - once
                                  - repeated
                                count:
                                  nullable: true
                                  description: Number of notations.
                                  type: number
                                  format: int32
                          frequency:
                            nullable: false
                            type: array
                            items:
                              type: object
                              nullable: false
                              x-property-sort:
                              - id
                              - name
                              - count
                              properties:
                                id:
                                  nullable: true
                                  type: number
                                  format: id32
                                  x-positive: true
                                  description: Identifier of a frequency.
                                name:
                                  nullable: true
                                  type: string
                                  format: localizedString
                                  description: Name of the frequency.
                                count:
                                  nullable: true
                                  type: number
                                  format: int32
                                  description: Number of notations.
                            description: Frequency of the coupon payments; applicable only to debt instruments with an occurrence type `repeated`. See endpoint `/basic/frequency/type/list` for possible values.
                      currentInterestRate:
                        nullable: false
                        description: Values and value ranges applicable to the current coupon period.
                        type: object
                        x-property-sort:
                        - type
                        - value
                        properties:
                          type:
                            nullable: false
                            type: array
                            items:
                              type: object
                              nullable: false
                              x-property-sort:
                              - id
                              - name
                              - count
                              properties:
                                id:
                                  nullable: true
                                  type: number
                                  format: id32
                                  x-positive: true
                                  description: Identifier of a type.
                                name:
                                  nullable: true
                                  type: string
                                  format: localizedString
                                  description: Name of the type.
                                count:
                                  nullable: true
                                  type: number
                                  format: int32
                                  description: Number of notations.
                            description: Interest rate types. See endpoint `/instrument/coupon/interestRate/type/list` for possible values.
                          value:
                            nullable: true
                            description: Value range of the interest rate; annualized if the payment frequency is not annually.
                            type: object
                            format: relativeValueRange
                            properties:
                              minimum:
                                nullable: true
                                type: number
                                format: relativeValue
                                description: Minimum value.
                              maximum:
                                nullable: true
                                type: number
                                format: relativeValue
                                description: Maximum value.
                            x-property-sort:
                            - minimum
                            - maximum
                  yield:
                    nullable: false
                    description: Value ranges of the yield-related key figures.
                    type: object
                    x-property-sort:
                    - current
                    - toMaturity
                    - spread
                    properties:
                      current:
                        nullable: true
                        description: Current yield, which is the next annual interest payment divided by the price. If the coupon period is different than a year, the interest payment is annualized.
                        type: object
                        format: relativeValueRange
                        properties:
                          minimum:
                            nullable: true
                            type: number
                            format: relativeValue
                            description: Minimum value.
                          maximum:
                            nullable: true
                            type: number
                            format: relativeValue
                            description: Maximum value.
                        x-property-sort:
                        - minimum
                        - maximum
                      toMaturity:
                        nullable: true
                        description: Yield to maturity, which is the annual rate of return, assuming the instrument is held until maturity.
                        type: object
                        format: relativeValueRange
                        properties:
                          minimum:
                            nullable: true
                            type: number
                            format: relativeValue
                            description: Minimum value.
                          maximum:
                            nullable: true
                            type: number
                            format: relativeValue
                            description: Maximum value.
                        x-property-sort:
                        - minimum
                        - maximum
                      spread:
                        nullable: true
                        description: Credit spread, which is the difference in yield to maturity between a highest-quality debt instrument, also called a benchmark bond, and the debt instrument.
                        type: object
                        format: relativeValueRange
                        properties:
                          minimum:
                            nullable: true
                            type: number
                            format: relativeValue
                            description: Minimum value.
                          maximum:
                            nullable: true
                            type: number
                            format: relativeValue
                            description: Maximum value.
                        x-property-sort:
                        - minimum
                        - maximum
                  macaulayDuration:
                    nullable: true
                    description: Value range of the Macaulay duration, which is the average period (in years) of capital commitment.
                    type: object
                    format: realRange
                    properties:
                      minimum:
                        nullable: true
                        type: number
                        format: real
                        description: Minimum value.
                      maximum:
                        nullable: true
                        type: number
                        format: real
                        description: Maximum value.
                    x-property-sort:
                    - minimum
                    - maximum
                  sensitivities:
                    nullable: false
                    description: Value ranges of the price sensitivities of the debt instruments with respect to the prevailing market interest rate.
                    type: object
                    x-property-sort:
                    - basePointValue
                    - modifiedDuration
                    - elasticity
                    - convexity
                    properties:
                      basePointValue:
                        nullable: true
                        description: Base point value, which is the change of the debt instrument's price for a one base point change (nominally, not relatively) of the prevailing market interest rate. One base point is equivalent to 0.01 percent (1/100 of a percent). The unit of the base point value is the value unit of the notation (see attribute `valueUnit`). Not available, if the parameter `validation.valueUnit.restrict.ids` has not been set to a single value unit.
                        type: object
                        format: realRange
                        properties:
                          minimum:
                            nullable: true
                            type: number
                            format: real
                            description: Minimum value.
                          maximum:
                            nullable: true
                            type: number
                            format: real
                            description: Maximum value.
                        x-property-sort:
                        - minimum
                        - maximum
                      modifiedDuration:
                        nullable: true
                        description: Modified duration, which is the percentage change of the debt instrument's price for a one percent change (nominally, not relatively) of the prevailing market interest rate.
                        type: object
                        format: relativeValueRange
                        properties:
                          minimum:
                            nullable: true
                            type: number
                            format: relativeValue
                            description: Minimum value.
                          maximum:
                            nullable: true
                            type: number
                            format: relativeValue
                            description: Maximum value.
                        x-property-sort:
                        - minimum
                        - maximum
                      elasticity:
                        nullable: true
                        description: Yield elasticity, which is the ratio of the percentage change of the debt instrument's price for a one percent change (relatively, not nominally) of the prevailing market interest rate.
                        type: object
                        format: relativeValueRange
                        properties:
                          minimum:
                            nullable: true
                            type: number
                            format: relativeValue
                            description: Minimum value.
                          maximum:
                            nullable: true
                            type: number
                            format: relativeValue
                            description: Maximum value.
                        x-property-sort:
                        - minimum
                        - maximum
                      convexity:
                        nullable: true
                        description: Convexity, which is a measure for the change of the modified duration as the prevailing market interest rate changes.
                        type: object
                        format: realRange
                        properties:
                          minimum:
                            nullable: true
                            type: number
                            format: real
                            description: Minimum value.
                          maximum:
                            nullable: true
                            type: number
                            format: real
                            description: Maximum value.
                        x-property-sort:
                        - minimum
                        - maximum
                  tradedValue:
                    nullable: false
                    description: Value ranges of the cash flow for all transactions over a given time range. The currency is the currency of denomination (see attribute `issue.volume.currency`). Not available, if the parameter `issue.volume.currency.restrict.ids` has not been set to a single currency.
                    type: object
                    x-property-sort:
                    - days30
                    properties:
                      days30:
                        nullable: false
                        description: Cash flow for the time range 30 trading days.
                        type: object
                        x-property-sort:
                        - sum
                        - average
                        properties:
                          sum:
                            nullable: true
                            description: Sum of the cash flow.
                            type: object
                            format: realRange
                            properties:
                              minimum:
                                nullable: true
                                type: number
                                format: real
                                description: Minimum value.
                              maximum:
                                nullable: true
                                type: number
                                format: real
                                description: Maximum value.
                            x-property-sort:
                            - minimum
                            - maximum
                          average:
                            nullable: true
                            description: Average daily cash flow.
                            type: object
                            format: realRange
                            properties:
                              minimum:
                                nullable: true
                                type: number
                                format: real
                                description: Minimum value.
                              maximum:
                                nullable: true
                                type: number
                                format: real
                                description: Maximum value.
                            x-property-sort:
                            - minimum
                            - maximum
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                x-property-sort:
                - status
  schemas:
    PostDebtInstrumentNotationScreenerValueRangesGetRequest:
      type: object
      properties:
        data:
          type: object
          x-property-sort:
          - validation
          - lifeCycle
          - subordinated
          - rating
          - issuer
          - issue
          - tradingVolume
          - compliance
          - coupon
          - yield
          - macaulayDuration
          - sensitivities
          - tradedValue
          description: The data member contains the request's primary data.
          properties:
            validation:
              description: Validation parameters.
              type: object
              x-property-sort:
              - onlyActive
              - onlyNotSuspended
              - prices
              - valueUnit
              - market
              - instrumentSelectionList
              - notationSelectionList
              - categorization
              properties:
                onlyActive:
                  description: If `true`, only active notations will be returned. The term "active" reflects the fact that notations and related data is not being deleted immediately after becoming irrelevant (e.g. because the source does not provide a price anymore), but remains in general retrievable for up to 6 months.
                  type: boolean
                  default: true
                onlyNotSuspended:
                  description: If `true`, only notations not suspended from trading will be returned.
                  type: boolean
                  default: false
                prices:
                  description: Price-related parameters.
                  type: object
                  x-property-sort:
                  - quality
                  - latest
                  - previous
                  properties:
                    quality:
                      type: string
                      description: Quality of the price.
                      default: DLY
                      x-enum-description:
                      - 'Delayed: intraday prices with an exchange-imposed delay of usually 15 to 30 minutes.'
                      - 'End-of-day: prices updated once per day after the close of trading, possibly with an exchange-imposed delay of several hours or days.'
                      enum:
                      - DLY
                      - EOD
                    latest:
                      description: Parameters related to the presence and age of the most recent trade price.
                      type: object
                      x-property-sort:
                      - availableOnly
                      - minimumDate
                      properties:
                        availableOnly:
                          description: If `true`, only notations for which a trade price (even an outdated one) is available will be returned.
                          type: boolean
                        minimumDate:
                          description: Earliest admissible date of the most recent trade price.
                          type: string
                          format: date
                    previous:
                      description: Parameters related to the presence and age of a trade price from a preceding trading day.
                      type: object
                      x-property-sort:
                      - availableOnly
                      - minimumDate
                      properties:
                        availableOnly:
                          description: If `true`, only notations for which a trade price from a preceding trading day is available will be returned.
                          type: boolean
                        minimumDate:
                          description: Earliest admissible date of the trade price from a preceding trading day.
                          type: string
                          format: date
                valueUnit:
                  description: Value unit selection. See endpoint `/basic/valueUnit/list` for valid values.
                  type: object
                  x-property-sort:
                  - restrict
                  - exclude
                  x-atMostOne: true
                  properties:
                    restrict:
                      description: Specifies the value units a notation may have.
                      type: object
                      x-property-sort:
                      - ids
                      properties:
                        ids:
                          description: Set of value unit identifiers.
                          type: array
                          nullable: false
                          items:
                            type: number
                            format: id32
                            x-positive: true
                          uniqueItems: true
                          maxItems: 50
                    exclude:
                      description: Specifies the value units a notation may not have.
                      type: object
                      x-property-sort:
                      - ids
                      properties:
                        ids:
                          description: Set of value unit identifiers.
                          type: array
                          nullable: false
                          items:
                            type: number
                            format: id32
                            x-positive: true
                          uniqueItems: true
                          maxItems: 50
                market:
                  description: Market-related notation selection. See endpoint `/basic/market/list` for valid values.
                  type: object
                  x-property-sort:
                  - selection
                  - priority
                  properties:
                    selection:
                      description: Market selection.
                      type: object
                      x-property-sort:
                      - restrict
                      - exclude
                      x-atMostOne: true
                      properties:
                        restrict:
                          description: Specifies the markets from which a notation may originate.
                          type: object
                          x-property-sort:
                          - ids
                          properties:
                            ids:
                              description: Set of market identifiers.
                              type: array
                              nullable: false
                              items:
                                type: number
                                format: id32
                                x-positive: true
                              uniqueItems: true
                              maxItems: 100
                        exclude:
                          description: Specifies the markets from which a notation may not originate.
                          type: object
                          x-property-sort:
                          - ids
                          properties:
                            ids:
                              description: Set of market identifiers.
                              type: array
                              nullable: false
                              items:
                                type: number
                                format: id32
                                x-positive: true
                              uniqueItems: true
                              maxItems: 100
                    priority:
                      description: "Sequence of markets specifying the priority order of the markets for the selection of one notation per instrument. If for a given instrument with two matching notations, A and B, the market of notation A precedes the market of notation B in this list or if the market of notation B is not in this list, A is selected. If neither of the markets is in this list, the notation with the highest trading volume, averaged over one month, is selected.        \n The list does not restrict the request to only those markets (use the parameter `market.selection` for that purpose)."
                      type: object
                      x-property-sort:
                      - ids
                      properties:
                        ids:
                          description: List of market identifiers.
                          type: array
                          nullable: false
                          items:
                            type: number
                            format: id32
                            x-positive: true
                          uniqueItems: true
                          maxItems: 100
                instrumentSelectionList:
                  description: Instrument-level restriction or exclusion.
                  type: object
                  x-property-sort:
                  - restrict
                  - exclude
                  x-atMostOne: true
                  properties:
                    restrict:
                      description: Restriction lists. If present, the result contains only notations belonging to debt instruments that are a member of any of the provided lists.
                      type: object
                      x-property-sort:
                      - ids
                      properties:
                        ids:
                          description: Set of identifiers of restriction lists.
                          type: array
                          nullable: false
                          items:
                            type: number
                            format: id32
                            x-positive: true
                          uniqueItems: true
                          maxItems: 3
                    exclude:
                      description: Exclusion lists. If present, the result does not contain notations belonging to debt instruments that are a member of any of the provided lists.
                      type: object
                      x-property-sort:
                      - ids
                      properties:
                        ids:
                          description: Set of identifiers of exclusion lists.
                          type: array
                          nullable: false
                          items:
                            type: number
                            format: id32
                            x-positive: true
                          uniqueItems: true
                          maxItems: 3
                notationSelectionList:
                  description: Notation-level restriction or exclusion.
                  type: object
                  x-property-sort:
                  - restrict
                  - exclude
                  x-atMostOne: true
                  properties:
                    restrict:
                      description: Restriction lists. If present, the result contains only debt instrument notations that are a member of any of the provided lists.
                      type: object
                      x-property-sort:
                      - ids
                      properties:
                        ids:
                          description: Set of identifiers of restriction lists.
                          type: array
                          nullable: false
                          items:
                            type: number
                            format: id32
                            x-positive: true
                          uniqueItems: true
                          maxItems: 3
                    exclude:
                      description: Exclusion lists. If present, the result does not contain debt instrument notations that are a member of any of the provided lists.
                      type: object
                      x-property-sort:
                      - ids
                      properties:
                        ids:
                          description: Set of identifiers of exclusion lists.
                          type: array
                          nullable: false
                          items:
                            type: number
                            format: id32
                            x-positive: true
                          uniqueItems: true
                          maxItems: 3
                categorization:
                  description: Debt instrument categorization. See endpoint `/category/listBySystem` with `id=18` for valid values.
                  type: object
                  x-property-sort:
                  - restrict
                  - exclude
                  x-atMostOne: true
                  properties:
                    restrict:
                      description: Restriction list. Only debt instruments that belong to a category in the provided list are returned.
                      type: object
                      x-property-sort:
                      - ids
                      properties:
                        ids:
                          description: Set of category identifiers.
                          type: array
                          nullable: false
                          items:
                            type: number
                            format: id32
                            x-positive: true
                          uniqueItems: true
                          maxItems: 20
                    exclude:
                      description: Exclusion lists. Debt instruments that belong to a category in the provided list are not returned.
                      type: object
                      x-property-sort:
                      - ids
                      properties:
                        ids:
                          description: Set of category identifiers.
                          type: array
                          nullable: false
                          items:
                            type: number
                            format: id32
                            x-positive: true
                          uniqueItems: true
                          maxItems: 20
            lifeCycle:
              description: Parameters related to important dates.
              type: object
              x-property-sort:
              - issue
              - maturity
              - callable
              properties:
                issue:
                  type: object
                  format: dateRange
                  x-isClosedInterval: true
                  properties:
                    start:
                      type: string
                      format: date
                      description: The starting point of the date range (inclusive), or `null` to indicate that the date range extends indefinitely into the past.
                      x-allowNullValue: true
                    end:
                      type: string
                      format: date
                      description: The ending point of the date range (inclusive), or `null` to indicate that the date range extends indefinitely into the future.
                      x-allowNullValue: true
                  x-property-sort:
                  - start
                  - end
                  required:
                  - start
                  - end
                  description: Date range of the issue date.
                maturity:
                  description: Parameters related to the maturity.
                  type: object
                  x-property-sort:
                  - restriction
                  - perpetual
                  properties:
                    restriction:
                      description: The maturity can be restricted by using one of the parameters `date` or `remainingTermYears` but not both at the same time. If a maturity restriction is set, perpetual instruments, i.e. such that do not mature, are not included in the result unless the parameter `perpetual` is set to "include".
                      type: object
                      x-property-sort:
                      - date
                      - remainingTermYears
                      x-atMostOne: true
                      properties:
                        date:
                          type: object
                          format: dateRange
                          x-isClosedInterval: true
                          properties:
                            start:
                              type: string
                              format: date
                              description: The starting point of the date range (inclusive), or `null` to indicate that the date range extends indefinitely into the past.
                              x-allowNullValue: true
                            end:
                              type: string
                              format: date
                              description: The ending point of the date range (inclusive), or `null` to indicate that the date range extends indefinitely into the future.
                              x-allowNullValue: true
                          x-property-sort:
                          - start
                          - end
                          required:
                          - start
                          - end
                          description: Date range of the maturity date.
                        remainingTermYears:
                          description: Value range for the remaining term to maturity expressed in years.
                          type: object
                          format: realRange
                          properties:
                            minimum:
                              type: object
                              x-property-sort:
                              - value
                              - inclusive
                              description: The minimum of the range, or `null` to indicate that there is no minimum.
                              properties:
                                value:
                                  type: number
                                  format: real
                                  description: The minimum value.
                                inclusive:
                                  type: boolean
                                  description: Indicates whether the minimum value is included in the range or not.
                                  default: true
                              x-allowNullValue: true
                            maximum:
                              type: object
                              x-property-sort:
                              - value
                              - inclusive
                              description: The maximum of the range, or `null` to indicate that there is no maximum.
                              properties:
                                value:
                                  type: number
                                  format: real
                                  description: The maximum value.
                                inclusive:
                                  type: boolean
                                  description: Indicates whether the maximum value is included in the range or not.
                                  default: true
                              x-allowNullValue: true
                          x-property-sort:
                          - minimum
                          - maximum
                    perpetual:
                      type: string
                      description: Defines whether or not perpetual debt instruments, i.e. such that do not mature, are included in the result. The value "only" can be used if both parameters `maturity.restriction.date` and `maturity.restriction.remainingTermYears` are not set.
                      x-enum-description:
                      - Only perpetual debt instruments are included in the result.
                      - Perpetual debt instruments are included in the result even if one of the parameters `maturity.restriction.date` or `maturity.restriction.remainingTermYears` is set.
                      - Perpetual debt instruments are excluded from the result.
                      enum:
                      - only
                      - include
                      - exclude
                callable:
                  type: boolean
                  description: Restricts the result to debt instruments that are callable (`true`) or are not callable (`false`). A callable instrument is one that may be redeemed by the issuer prior to maturity.
            subordinated:
              description: Restricts the result to debt instruments that are subordinated (`true`) or are not subordinated (`false`). In case of default, subordinated debt instruments are redeemed with a lower priority than non-subordinated.
              type: boolean
            rating:
              description: Parameters related to a rating of a debt instrument. If a rating system is not selected by either specifying it directly (see parameter `rating.system.ids`) or by implying it via the minimum rating grade (see parameter `rating.grade.minimum.ids`) the result contains no data on ratings.
              type: object
              x-property-sort:
              - system
              - grade
              x-atMostOne: true
              properties:
                system:
                  description: Rating system. The parameter allows to specify the rating system (up to two) from which the available ratings of the restricted set of debt instruments are retrieved without limiting the debt instrument selection to only debt instruments with a rating in that rating system.
                  type: object
                  x-property-sort:
                  - ids
                  properties:
                    ids:
                      description: List of identifiers of rating systems. The sequence of the provided identifiers corresponds to the response attributes `ratingSystem1` and `ratingSystem2` respectively, i.e. the rating grades of the selected debt instruments in the rating system of which the first identifier in the provided list is a member, is represented by the attribute `ratingSystem1.rating.grade` (and `ratingSystem1.rating.id` for the identifier of the rating grade).
                      type: array
                      nullable: false
                      items:
                        type: number
                        format: id32
                        x-positive: true
                      uniqueItems: true
                      maxItems: 2
                grade:
                  description: Rating grade.
                  type: object
                  x-property-sort:
                  - minimum
                  properties:
                    minimum:
                      description: Minimum rating grade.
                      type: object
                      x-property-sort:
                      - ids
                      properties:
                        ids:
                          description: List of rating grade identifiers. Allowed are at most two identifiers which must refer to rating grades originating from different rating systems. Only debt instruments that satisfy all conditions, i.e. are rated higher than or equal to all provided rating grades, are returned. The sequence of the provided identifiers corresponds to the response attributes `ratingSystem1` and `ratingSystem2` respectively, i.e. the rating grade of a debt instrument in the rating system of which the first identifier in the provided list is a member, is represented by the attribute `ratingSystem1.rating.grade` (and `ratingSystem1.rating.id` for the identifier of the rating grade).
                          type: array
                          nullable: false
                          items:
                            type: number
                            format: id32
                            x-positive: true
                          uniqueItems: true
                          maxItems: 2
            issuer:
              description: Parameters related to the issuer.
              type: object
              x-property-sort:
              - selection
              - country
              properties:
                selection:
                  description: Issuer selection. See endpoint `/debtInstrument/issuer/search` for valid values.
                  type: object
                  x-property-sort:
                  - restrict
                  - exclude
                  x-atMostOne: true
                  properties:
                    restrict:
                      description: Restriction list. Only debt instruments issued by an issuer in the provided list are returned.
                      type: object
                      x-property-sort:
                      - ids
                      properties:
                        ids:
                          description: Set of identifiers of legal entities in the role of an issuer.
                          type: array
                          nullable: false
                          items:
                            type: number
                            format: id32
                            x-positive: true
                          uniqueItems: true
                          maxItems: 100
                    exclude:
                      description: Exclusion list. Debt instruments issued by an issuer in the provided list are not returned.
                      type: object
                      x-property-sort:
                      - ids
                      properties:
                        ids:
                          description: Set of identifiers of legal entities in the role of an issuer.
                          type: array
                          nullable: false
                          items:
                            type: number
                            format: id32
                            x-positive: true
                          uniqueItems: true
                          maxItems: 100
                country:
                  description: Selection of the country of registration of the debt instrtuments' issuer. See endpoint `/basic/region/country/list` for valid values.
                  type: object
                  x-property-sort:
                  - restrict
                  - exclude
                  x-atMostOne: true
                  properties:
                    restrict:
                      description: Restriction list. Only debt instruments issued by an issuer whose country of registration is in the provided list are returned.
                      type: object
                      x-property-sort:
                      - ids
                      properties:
                        ids:
                          description: Set of country identifiers.
                          type: array
                          nullable: false
                          items:
                            type: number
                            format: id32
                            x-positive: true
                          uniqueItems: true
                          maxItems: 50
                    exclude:
                      description: Exclusion list. Debt instruments issued by an issuer whose country of registration is in the provided list are not returned.
                      type: object
                      x-property-sort:
                      - ids
                      properties:
                        ids:
                          description: Set of country identifiers.
                          type: array
                          nullable: false
                          items:
                            type: number
                            format: id32
                            x-positive: true
                          uniqueItems: true
                          maxItems: 50
            issue:
              description: Parameters related to the issue.
              type: object
              x-property-sort:
              - volume
              properties:
                volume:
                  description: Issue volume.
                  type: object
                  x-property-sort:
                  - currency
                  properties:
                    currency:
[...]
