openapi: 3.2.0
info:
  title: Factset Meetings API
  version: '1'
  description: 'Operations tagged Meetings across 2 of this provider''s published API definitions: factset-irn-meetings-api-openapi.yml, irn-meetings-openapi-original.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.factset.com/research/irn
  description: Production Server
- url: https://api-sandbox.factset.com/research/irn
  description: Sandbox
security:
- basicScheme: []
tags:
- name: Meetings
paths:
  /v1/meetings:
    get:
      tags:
      - Meetings
      summary: Factset Get All the Meetings in the Specified Date Range Filtered on the Given Identifiers
      operationId: GetMeetings
      parameters:
      - name: start
        in: query
        description: StartDate
        schema:
          type: string
      - name: end
        in: query
        description: EndDate
        schema:
          type: string
      - name: identifiers
        in: query
        description: Set of identifiers to filter on
        schema:
          type: array
          items:
            type: string
      - name: limit
        in: query
        description: Limit on the number of meetings retrieved
        schema:
          type: integer
          format: int32
      - name: modifiedSince
        in: query
        description: Only return meetings which have been modified or created since a particular time
        schema:
          type: string
      - name: includeRelatedEntities
        in: query
        description: When set to true fetches meetings tagged with all the entities related to identifiers param
        schema:
          type: boolean
          default: false
      - name: X-IRN-Include-Deleted
        in: header
        description: Includes deleted meetings in results when set to true
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MeetingSummaryDto'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      tags:
      - Meetings
      summary: Factset Create a Meeting
      operationId: CreateMeeting
      requestBody:
        description: 'Note: The organizer property is deprecated in favor of organizerId'
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/CreateMeetingDto'
          application/json:
            schema:
              $ref: '#/components/schemas/CreateMeetingDto'
          text/json:
            schema:
              $ref: '#/components/schemas/CreateMeetingDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/CreateMeetingDto'
      responses:
        '201':
          description: Success - Returns unique identifier of the meeting created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewItemDto'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - url: https://api.factset.com/research/irn
      description: Production Server
    - url: https://api-sandbox.factset.com/research/irn
      description: Sandbox
  /v1/meetings/{meetingId}:
    get:
      tags:
      - Meetings
      summary: Factset Get Details of a Meeting
      operationId: GetMeeting
      parameters:
      - name: meetingId
        in: path
        description: Meeting Id
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeetingDto'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      tags:
      - Meetings
      summary: Factset Update Meeting
      operationId: UpdateMeeting
      parameters:
      - name: meetingId
        in: path
        description: Meeting Id
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        description: 'Meeting details to update. Note: The organizer property is deprecated in favor of organizerId'
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/UpdateMeetingDto'
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateMeetingDto'
          text/json:
            schema:
              $ref: '#/components/schemas/UpdateMeetingDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/UpdateMeetingDto'
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      tags:
      - Meetings
      summary: Factset Delete a Meeting
      operationId: DeleteMeeting
      parameters:
      - name: meetingId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - url: https://api.factset.com/research/irn
      description: Production Server
    - url: https://api-sandbox.factset.com/research/irn
      description: Sandbox
  /v1/meetings/{meetingId}/events:
    get:
      tags:
      - Meetings
      summary: Factset Get All the Record Events That Belong to a Meeting
      operationId: GetEvents
      parameters:
      - name: meetingId
        in: path
        description: Meeting ID
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RecordEventSummaryDto'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - url: https://api.factset.com/research/irn
      description: Production Server
    - url: https://api-sandbox.factset.com/research/irn
      description: Sandbox
  /v1/meetings/{meetingId}/events/{recordEventId}:
    get:
      tags:
      - Meetings
      summary: Factset Get Details of a Record Event of a Meeting
      operationId: GetRecordEvent
      parameters:
      - name: meetingId
        in: path
        description: Meeting Id
        required: true
        schema:
          type: string
          format: uuid
      - name: recordEventId
        in: path
        description: Record Event Id
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeetingEventDto'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - url: https://api.factset.com/research/irn
      description: Production Server
    - url: https://api-sandbox.factset.com/research/irn
      description: Sandbox
  /v1/meetings/{meetingId}/attachments:
    get:
      tags:
      - Meetings
      summary: Factset Get all the attachments belonging to a meeting
      operationId: GetAttachments
      parameters:
      - name: meetingId
        in: path
        description: Meeting Id
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AttachmentSummaryDto'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails_2'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails_2'
    post:
      tags:
      - Meetings
      summary: Factset Create an attachment for a existing meeting
      operationId: CreateAttachment
      parameters:
      - name: meetingId
        in: path
        description: Meeting Id
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          multipart/form-data:
            schema:
              required:
              - file
              type: object
              properties:
                file:
                  type: string
                  format: binary
      responses:
        '201':
          description: Success - Returns unique identifier of the Attachment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewItemDto_2'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails_2'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails_2'
    servers:
    - url: https://api.factset.com/research/irn
      description: Production Server
    - url: https://api-sandbox.factset.com/research/irn
      description: Sandbox
  /v1/meetings/{meetingId}/attachments/{attachmentId}/download:
    get:
      tags:
      - Meetings
      summary: Factset Download an attachment from a Meeting
      operationId: DownloadAttachment
      parameters:
      - name: meetingId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: attachmentId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails_2'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails_2'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails_2'
    servers:
    - url: https://api.factset.com/research/irn
      description: Production Server
    - url: https://api-sandbox.factset.com/research/irn
      description: Sandbox
  /v1/meetings/{meetingId}/comments:
    get:
      tags:
      - Meetings
      summary: Factset Get all comments for a meeting
      operationId: GetComments
      parameters:
      - name: meetingId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CommentSummaryDto'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails_2'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails_2'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails_2'
    post:
      tags:
      - Meetings
      summary: Factset Create a comment to a Meeting
      operationId: CreateComment
      parameters:
      - name: meetingId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/CreateCommentDto'
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCommentDto'
          text/json:
            schema:
              $ref: '#/components/schemas/CreateCommentDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/CreateCommentDto'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewItemDto_2'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails_2'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails_2'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails_2'
        '500':
          description: Server Error
    servers:
    - url: https://api.factset.com/research/irn
      description: Production Server
    - url: https://api-sandbox.factset.com/research/irn
      description: Sandbox
  /v1/meetings/{meetingId}/comments/{commentId}:
    get:
      tags:
      - Meetings
      summary: Factset Get details of a comment belonging to a meeting
      operationId: GetComment
      parameters:
      - name: meetingId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: commentId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommentDto'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails_2'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails_2'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails_2'
    patch:
      tags:
      - Meetings
      summary: Factset Edit a comment for a meeting
      operationId: PatchComment
      parameters:
      - name: meetingId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: commentId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json-patch+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Operation'
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Operation'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Operation'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Operation'
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails_2'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails_2'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails_2'
    delete:
      tags:
      - Meetings
      summary: Factset Delete a Comment from a Meeting
      operationId: DeleteComment
      parameters:
      - name: meetingId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: commentId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails_2'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails_2'
        '500':
          description: Server Error
    servers:
    - url: https://api.factset.com/research/irn
      description: Production Server
    - url: https://api-sandbox.factset.com/research/irn
      description: Sandbox
  /v1/meetings/{meetingId}/comments/{commentId}/attachments:
    get:
      tags:
      - Meetings
      summary: Factset Get attachments summary of a comment belonging to a meeting
      operationId: GetCommentAttachments
      parameters:
      - name: meetingId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: commentId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AttachmentSummaryDto'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails_2'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails_2'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails_2'
    post:
      tags:
      - Meetings
      summary: Factset Create a comment attachment to a Meeting
      operationId: CreateCommentAttachment
      parameters:
      - name: meetingId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: commentId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          multipart/form-data:
            schema:
              required:
              - file
              type: object
              properties:
                file:
                  type: string
                  format: binary
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewItemDto_2'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails_2'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails_2'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails_2'
        '500':
          description: Server Error
    servers:
    - url: https://api.factset.com/research/irn
      description: Production Server
    - url: https://api-sandbox.factset.com/research/irn
      description: Sandbox
  /v1/meetings/{meetingId}/comments/{commentId}/attachments/{attachmentId}/download:
    get:
      tags:
      - Meetings
      summary: Factset Download single attachment detail of a comment belonging to a meeting
      operationId: DownloadCommentAttachmentForComment
      parameters:
      - name: meetingId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: commentId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: attachmentId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails_2'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails_2'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails_2'
    servers:
    - url: https://api.factset.com/research/irn
      description: Production Server
    - url: https://api-sandbox.factset.com/research/irn
      description: Sandbox
  /v1/meetings/{meetingId}/attachments/{attachmentId}:
    delete:
      tags:
      - Meetings
      summary: Factset Delete attachment from meeting
      operationId: SoftDeleteMeetingAttachment
      parameters:
      - name: meetingId
        in: path
        description: Meeting Id
        required: true
        schema:
          type: string
          format: uuid
      - name: attachmentId
        in: path
        description: Attachment Id
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails_2'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails_2'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails_2'
    servers:
    - url: https://api.factset.com/research/irn
      description: Production Server
    - url: https://api-sandbox.factset.com/research/irn
      description: Sandbox
components:
  schemas:
    CreateBodyDto:
      type: object
      properties:
        content:
          type:
          - string
          - 'null'
          example: example_value
      additionalProperties: false
    AttendeeDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: abc123
        emailAddress:
          type:
          - string
          - 'null'
          example: user@example.com
        fullName:
          type:
          - string
          - 'null'
          example: example_value
      additionalProperties: false
    NewItemDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: abc123
      additionalProperties: false
    LocationDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: abc123
        locationName:
          type:
          - string
          - 'null'
          example: example_value
      additionalProperties: false
    MeetingDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: abc123
        start:
          type:
          - string
          - 'null'
          example: example_value
        end:
          type:
          - string
          - 'null'
          example: example_value
        createdAt:
          type:
          - string
          - 'null'
          example: example_value
        authorId:
          type: string
          format: uuid
          example: '500123'
        title:
          type:
          - string
          - 'null'
          example: Example Title
        identifier:
          type:
          - string
          - 'null'
          example: example_value
        organizer:
          type:
          - string
          - 'null'
          deprecated: true
          example: example_value
        organizerId:
          type: string
          format: uuid
          example: '500123'
        body:
          type:
          - string
          - 'null'
          example: example_value
        averageRating:
          type:
          - integer
          - 'null'
          format: int32
          example: 10
        alertAttendees:
          type: boolean
          example: true
        alertAuthor:
          type: boolean
          example: true
        locations:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/LocationDto'
          example: []
        attendees:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/AttendeeDto'
          example: []
        customFields:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CustomFieldValueDto'
          example: []
        relatedSymbols:
          type:
          - array
          - 'null'
          items:
            type: string
          example: []
        relatedRecords:
          $ref: '#/components/schemas/RelatedRecordsDto'
        relatedContacts:
          type:
          - array
          - 'null'
          items:
            type: string
            format: uuid
          example: []
      additionalProperties: false
    CreateCustomFieldValueDto:
      required:
      - code
      type: object
      properties:
        code:
          type: string
          example: example_value
        integerValue:
          type:
          - integer
          - 'null'
          format: int32
          example: 10
        textValue:
          type:
          - string
          - 'null'
          example: example_value
        filePathValue:
          type:
          - string
          - 'null'
          example: example_value
        numericValue:
          type:
          - number
          - 'null'
          format: double
          example: 42.5
        dateValue:
          type:
          - string
          - 'null'
          example: example_value
        extendedTextValue:
          type:
          - string
          - 'null'
          example: example_value
        contactLookupValues:
          type:
          - array
          - 'null'
          items:
            type: string
            format: uuid
          example: []
        optionValue:
          type:
          - string
          - 'null'
          example: example_value
        optionValues:
          type:
          - array
          - 'null'
          items:
            type: string
          example: []
      additionalProperties: false
      description: 'Set a value or values for a custom field identified by the field ''Code''. Only one of the fields (IntegerValue / TextValue / FilePathValue etc) will be used,

        depending on the data type of the custom field corresponding to the ''Code'' provided'
    ReferenceAttendeeDto:
      type: object
      properties:
        emailAddress:
          type:
          - string
          - 'null'
          example: user@example.com
      additionalProperties: false
    MeetingSummaryDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: abc123
        start:
          type:
          - string
          - 'null'
          example: example_value
        end:
          type:
          - string
          - 'null'
          example: example_value
        createdAt:
          type:
          - string
          - 'null'
          example: example_value
        authorId:
          type: string
          format: uuid
          example: '500123'
        title:
          type:
          - string
          - 'null'
          example: Example Title
        identifier:
          type:
          - string
          - 'null'
          example: example_value
        organizer:
          type:
          - string
          - 'null'
          deprecated: true
          example: example_value
        organizerId:
          type: string
          format: uuid
          example: '500123'
        attachmentIds:
          type:
          - array
          - 'null'
          items:
            type: string
            format: uuid
          example: []
        relatedSymbols:
          type:
          - array
          - 'null'
          items:
            type: string
          example: []
        locations:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/LocationDto'
          example: []
        attendees:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/AttendeeDto'
          example: []
        customFieldValues:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CustomFieldValueDto'
          example: []
      additionalProperties: false
    CustomFieldValueDto:
      type: object
      properties:
        code:
          type:
          - string
          - 'null'
          example: example_value
        value:
          type:
          - string
          - 'null'
          example: example_value
        options:
          type:
          - array
          - 'null'
          items:
            type: string
          example: []
        contactValues:
          type:
          - array
          - 'null'
          items:
            type: string
            format: uuid
          example: []
      additionalProperties: false
    MeetingEventDto:
      type: object
      properties:
        createdAt:
          type:
          - string
          - 'null'
          example: example_value
        type:
          type:
          - string
          - 'null'
          example: example_value
        user:
          type:
          - string
          - 'null'
          example: example_value
        changeList:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/RecordChangeDto'
          example: []
      additionalProperties: false
    UpdateMeetingDto:
      required:
      - end
      - identifier
      - start
      - title
      type: object
      properties:
        title:
          maxLength: 255
          minLength: 0
          type: string
          example: Example Title
        identifier:
          type: string
          example: example_value
        start:
          type: string
          example: example_value
        end:
          type: string
          example: example_value
        locations:
          type:
          - array
          - 'null'
          items:
            type: string
          example: []
        organizer:
          maxLength: 255
          minLength: 0
          type:
          - string
          - 'null'
          deprecated: true
          example: example_value
        organizerId:
          type: string
          format: uuid
          example: '500123'
        attendees:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ReferenceAttendeeDto'
          example: []
        alertAttendees:
          type: boolean
          default: false
          example: true
        alertAuthor:
          type: boolean
          default: false
          example: true
        relatedRecords:
          $ref: '#/components/schemas/RelatedRecordsDto'
        relatedContacts:
          type:
          - array
          - 'null'
          items:
            type: string
            format: uuid
          example: []
        relatedSymbols:
          maxItems: 100
          type:
          - array
          - 'null'
          items:
            type: string
          example: []
        body:
          $ref: '#/components/schemas/CreateBodyDto'
        customFieldValues:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CreateCustomFieldValueDto'
          example: []
      additionalProperties: false
    CreateMeetingDto:
      required:
      - author
      - end
      - start
      type: object
      properties:
        author:
          $ref: '#/components/schemas/UserSerialDto'
        title:
          maxLength: 255
          minLength: 0
          type:
          - string
          - 'null'
          example: Example Title
        identifier:
          type:
          - string
          - 'null'
          example: example_value
        start:
          type: string
          example: example_value
        end:
          type: string
          example: example_value
        locations:
          type:
          - array
          - 'null'
          items:
            type: string
          example: []
        organizer:
          maxLength: 255
          minLength: 0
          type:
          - string
          - 'null'
          deprecated: true
          example: example_value
        organizerId:
          type: string
          format: uuid
          example: '500123'
        attendees:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ReferenceAttendeeDto'
          example: []
        alertAttendees:
          type: boolean
          default: false
          example: true
        alertAuthor:
          type: boolean
          default: false
          example: true
        relatedRecords:
          $ref: '#/components/schemas/RelatedRecordsDto'
        relatedContacts:
          type:
          - array
          - 'null'
          items:
            type: string
            format: uuid
          example: []
        relatedSymbols:
          maxItems: 100
          type:
          - array
          - 'null'
          items:
            type: string
          example: []
        body:
          $ref: '#/components/schemas/CreateBodyDto'
        customFieldValues:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CreateCustomFieldValueDto'
          example: []
      additionalProperties: false
    RelatedRecordsDto:
      type: object
      properties:
        noteIds:
          type:
          - array
          - 'null'
          items:
            type: string
            format: uuid
          example: []
        meetingIds:
          type:
          - array
          - 'null'
          items:
            type: string
            format: uuid
          example: []
      additionalProperties: false
    RecordChangeDto:
      type: object
      properties:
        field:
          type:
          - string
          - 'null'
          example: example_value
        operation:
          type:
          - string
          - 'null'
          example: example_value
        oldValue:
          type:
          - string
          - 'null'
          example: example_value
        newValue:
          type:
          - string
          - 'null'
          example: example_value
        oldList:
          type:
          - array
          - 'null'
          items:
            type: string
          example: []
        newList:
          type:
          - array
          - 'null'
          items:
            type: string
          example: []
      additionalProperties: false
    RecordEventSummaryDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: abc123
        type:
          type:
          - string
          - 'null'
          example: example_value
        createdAt:
          type:
          - string
          - 'null'
          example: example_value
      additionalProperties: false
    ProblemDetails:
      type: object
      properties:
        type:
          type:
          - string
          - 'null'
          example: example_value
        title:
          type:
          - string
          - 'null'
          example: Example Title
        status:
          type:
          - integer
          - 'null'
          format: int32
          example: 10
        detail:
          type:
          - string
          - 'null'
          example: example_value
        instance:
          type:
          - string
          - 'null'
          example: example_value
      additionalProperties: {}
    UserSerialDto:
      required:
      - serialNumber
      - username
      type: object
      properties:
        username:
          maxLength: 30
          minLength: 0
          type: string
          example: example_value
        serialNumber:
          maxLength: 8
          minLength: 0
          type: string
          example: example_value
      additionalProperties: false
    CreateBodyDto_2:
      type: object
      properties:
        content:
          type:
          - string
          - 'null'
      additionalProperties: false
    SubcommentSummaryDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
        userId:
          type: string
          format: uuid
        createdAt:
          type:
          - string
          - 'null'
      additionalProperties: false
    NewItemDto_2:
      type: object
      properties:
        id:
          type: string
          format: uuid
      additionalProperties: false
    CreateCustomFieldValueDto_2:
      required:
      - code
      type: object
      properties:
        code:
          type: string
        integerValue:
          type:
          - integer
          - 'null'
          format: int32
        textValue:
          type:
          - string
          - 'null'
        filePathValue:
          type:
          - string
          - 'null'
        numericValue:
          type:
          - number
          - 'null'
          format: double
        dateValue:
          type:
          - string
          - 'null'
        extendedTextValue:
          type:
          - string
          - 'null'
        contactLookupValues:
          type:
          - array
          - 'null'
          items:
            type: string
            format: uuid
        optionValue:
          type:
          - string
          - 'null'
        optionValues:
          type:
          - array
          - 'null'
          items:
            type: string
      additionalProperties: false
      description: 'Set a value or values for a custom field identified by the field ''Code''. Only one of the fields (IntegerValue / TextValue / FilePathValue etc) will be used,

        depending on the data type of the custom field corresponding to the ''Code'' provided'
    Operation:
      type: object
      properties:
        operationType:
          $ref: '#/components/schemas/OperationType'
        path:
          type:
          - string
          - 'null'
        op:
          type:
          - string
          - 'null'
        from:
          type:
          - string
          - 'null'
        value: {}
      additionalProperties: false
    CreateCommentDto:
      type: object
      properties:
        authorId:
          type: string
          format: uuid
        parentCommentId:
          type:
          - string
          - 'null'
          format: uuid
        body:
          type:
          - string
          - 'null'
      additionalProperties: false
    MeetingEventDto_2:
      type: object
      properties:
        createdAt:
          type:
          - string
          - 'null'
        type:
          type:
          - string
          - 'null'
        user:
          type:
          - string
          - 'null'
        changeList:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/RecordChangeDto_2'
      additionalProperties: false
    UpdateMeetingDto_2:
      required:
      - end
      - identifier
      - start
      - title
      type: object
      properties:
        title:
          maxLength: 255
          minLength: 0
          type: string
        identifier:
          type: string
        start:
          type: string
        end:
          type: string
        locations:
          type:
          - array
          - 'null'
          items:
            type: string
        organizer:
          maxLength: 255
          minLength: 0
          type:
          - string
          - 'null'
          deprecated: true
        organizerId:
          type: string
          format: uuid
        attendees:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ReferenceAttendeeDto_2'
        alertAttendees:
          type: boolean
          default: false
        alertAuthor:
          type: boolean
          default: false
        relatedRecords:
          $ref: '#/components/schemas/RelatedRecordsDto_2'
        relatedContacts:
          type:
          - array
          - 'null'
          items:
            type: string
            format: uuid
        relatedSymbols:
          maxItems: 100
          type:
          - array
          - 'null'
          items:
            type: string
        body:
          $ref: '#/components/schemas/CreateBodyDto_2'
        customFieldValues:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CreateCustomFieldValueDto_2'
      additionalProperties: false
    CreateMeetingDto_2:
      required:
      - author
      - end
      - start
      type: object
      properties:
        author:
          $ref: '#/components/schemas/UserSerialDto_2'
        title:
          maxLength: 255
          minLength: 0
          type:
          - string
          - 'null'
        identifier:
          type:
          - string
          - 'null'
        start:
          type: string
        end:
          type: string
        locations:
          type:
          - array
          - 'null'
          items:
            type: string
        organizer:
          maxLength: 255
          minLength: 0
          type:
          - string
          - 'null'
          deprecated: true
        organizerId:
          type: string
          format: uuid
        attendees:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ReferenceAttendeeDto_2'
        alertAttendees:
          type: boolean
          default: false
        alertAuthor:
          type: boolean
          default: false
        relatedRecords:
          $ref: '#/components/schemas/RelatedRecordsDto_2'
        relatedContacts:
          type:
          - array
          - 'null'
          items:
            type: string
            format: uuid
        relatedSymbols:
          maxItems: 100
          type:
          - array
          - 'null'
          items:
            type: string
        body:
          $ref: '#/components/schemas/CreateBodyDto_2'
        customFieldValues:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CreateCustomFieldValueDto_2'
      additionalProperties: false
    AttendeeDto_2:
      type: object
      properties:
        id:
          type: string
          format: uuid
        emailAddress:
          type:
          - string
          - 'null'
        fullName:
          type:
          - string
          - 'null'
      additionalProperties: false
    AttachmentSummaryDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
        fileName:
          type:
          - string
          - 'null'
        mimeType:
          type:
          - string
          - 'null'
        size:
          type:
          - integer
          - 'null'
          format: int64
      additionalProperties: false
    MeetingSummaryDto_2:
      type: object
      properties:
        id:
          type: string
          format: uuid
        start:
          type:
          - string
          - 'null'
        end:
          type:
          - string
          - 'null'
        createdAt:
          type:
          - string
          - 'null'
        authorId:
          type: string
          format: uuid
        title:
          type:
          - string
          - 'null'
        identifier:
          type:
          - string
          - 'null'
        organizer:
          type:
          - string
          - 'null'
          deprecated: true
        organizerId:
          type: string
          format: uuid
        attachmentIds:
          type:
          - array
          - 'null'
          items:
            type: string
            format: uuid
        relatedSymbols:
          type:
          - array
          - 'null'
          items:
            type: string
        locations:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/LocationDto_2'
        attendees:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/AttendeeDto_2'
        customFieldValues:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CustomFieldValueDto_2'
      additionalProperties: false
    RecordEventSummaryDto_2:
      type: object
      properties:
        id:
          type: string
          format: uuid
        type:
          type:
          - string
          - 'null'
        createdAt:
          type:
          - string
          - 'null'
      additionalProperties: false
    UserSerialDto_2:
      required:
      - serialNumber
      - username
      type: object
      properties:
        username:
          maxLength: 30
          minLength: 0
          type: string
        serialNumber:
          maxLength: 8
          minLength: 0
          type: string
      additionalProperties: false
    CommentSummaryDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
        userId:
          type: string
          format: uuid
        createdAt:
          type:
          - string
          - 'null'
        subcomments:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/SubcommentSummaryDto'
      additionalProperties: false
    OperationType:
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
      - 5
      - 6
      type: integer
      format: int32
    MeetingDto_2:
      type: object
      properties:
        id:
          type: string
          format: uuid
        start:
          type:
          - string
          - 'null'
        end:
          type:
          - string
          - 'null'
        createdAt:
          type:
          - string
          - 'null'
        authorId:
          type: string
          format: uuid
        title:
          type:
          - string
          - 'null'
        identifier:
          type:
          - string
          - 'null'
        organizer:
          type:
          - string
          - 'null'
          deprecated: true
        organizerId:
          type: string
          format: uuid
        body:
          type:
          - string
          - 'null'
        averageRating:
          type:
          - integer
          - 'null'
          format: int32
        alertAttendees:
          type: boolean
        alertAuthor:
          type: boolean
        locations:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/LocationDto_2'
        attendees:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/AttendeeDto_2'
        customFields:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CustomFieldValueDto_2'
        relatedSymbols:
          type:
          - array
          - 'null'
          items:
            type: string
        relatedRecords:
          $ref: '#/components/schemas/RelatedRecordsDto_2'
        relatedContacts:
          type:
          - array
          - 'null'
          items:
            type: string
            format: uuid
      additionalProperties: false
    CustomFieldValueDto_2:
      type: object
      properties:
        code:
          type:
          - string
          - 'null'
        value:
          type:
          - string
          - 'null'
        options:
          type:
          - array
          - 'null'
          items:
            type: string
        contactValues:
          type:
          - array
          - 'null'
          items:
            type: string
            format: uuid
      additionalProperties: false
    RelatedRecordsDto_2:
      type: object
      properties:
        noteIds:
          type:
          - array
          - 'null'
          items:
            type: string
            format: uuid
        meetingIds:
          type:
          - array
          - 'null'
          items:
            type: string
            format: uuid
      additionalProperties: false
    RecordChangeDto_2:
      type: object
      properties:
        field:
          type:
          - string
          - 'null'
        operation:
          type:
          - string
          - 'null'
        oldValue:
          type:
          - string
          - 'null'
        newValue:
          type:
          - string
          - 'null'
        oldList:
          type:
          - array
          - 'null'
          items:
            type: string
        newList:
          type:
          - array
          - 'null'
          items:
            type: string
      additionalProperties: false
    ProblemDetails_2:
      type: object
      properties:
        type:
          type:
          - string
          - 'null'
        title:
          type:
          - string
          - 'null'
        status:
          type:
          - integer
          - 'null'
          format: int32
        detail:
          type:
          - string
          - 'null'
        instance:
          type:
          - string
          - 'null'
      additionalProperties: {}
    LocationDto_2:
      type: object
      properties:
        id:
          type: string
          format: uuid
        locationName:
          type:
          - string
          - 'null'
      additionalProperties: false
    ReferenceAttendeeDto_2:
      type: object
      properties:
        emailAddress:
          type:
          - string
          - 'null'
      additionalProperties: false
    CommentDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
        authorId:
          type: string
          format: uuid
        parentCommentId:
          type:
          - string
          - 'null'
          format: uuid
        body:
          type:
          - string
          - 'null'
        createdAt:
          type:
          - string
          - 'null'
        attachments:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/AttachmentSummaryDto'
        subcomments:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/SubcommentSummaryDto'
      additionalProperties: false
  securitySchemes:
    basicScheme:
      type: http
      scheme: basic
x-refined-from:
- factset-irn-meetings-api-openapi.yml
- irn-meetings-openapi-original.yml
