openapi: 3.0.3
info:
  title: Factset Analytics Datastore About System API
  description: Allow clients to fetch precalculated Analytics through predeterministic URLs.
  contact:
    name: FactSet Research Systems
    url: https://developer.factset.com/contact
    email: api@factset.com
  license:
    name: Apache License, Version 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  version: 1.0.0
servers:
- url: https://api.factset.com
  description: Production
- url: https://api-sandbox.factset.com
  description: Sandbox
security:
- basicAuth: []
tags:
- name: System
paths:
  /category/listBySystem:
    get:
      tags:
      - System
      operationId: get/category/listBySystem
      x-supportsOffsetBasedPaging: true
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Factset List of Categories Assigned to a Category System.
      description: List of categories assigned to a category system.
      parameters:
      - name: id
        in: query
        schema:
          type: number
          format: id32
          x-positive: true
          description: Identifier of a category system. See endpoint `/category/system/list` for valid values.
        required: true
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
            exclusiveMaximum: false
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      - name: _language
        in: query
        schema:
          type: string
          format: isoLanguage
          description: ISO 639-1 code of the language.
          maxLength: 2
          minLength: 2
          exclusiveMinimum: false
          exclusiveMaximum: false
      - description: Non-negative number of entries to skip, or 0 (default).
        name: _paginationOffset
        in: query
        schema:
          type: number
          format: int32
          minimum: 0
          exclusiveMinimum: false
          default: 0
      - description: Non-negative maximum number of entries to return.
        name: _paginationLimit
        in: query
        schema:
          type: number
          format: int32
          minimum: 0
          exclusiveMinimum: false
          maximum: 500
          exclusiveMaximum: false
          default: 20
      responses:
        '200':
          $ref: '#/components/responses/GetCategoryListBySystem200Response'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /category/system/get:
    get:
      tags:
      - System
      operationId: get/category/system/get
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Factset Details of an Entitled Category System.
      description: Details of an entitled category system.
      parameters:
      - name: id
        in: query
        schema:
          type: number
          format: id32
          x-positive: true
          description: Identifier of a category system. See endpoint `/category/system/list` for valid values.
        required: true
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
            exclusiveMaximum: false
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      - name: _language
        in: query
        schema:
          type: string
          format: isoLanguage
          description: ISO 639-1 code of the language.
          maxLength: 2
          minLength: 2
          exclusiveMinimum: false
          exclusiveMaximum: false
      responses:
        '200':
          $ref: '#/components/responses/GetCategorySystemGet200Response'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /category/system/list:
    get:
      tags:
      - System
      operationId: get/category/system/list
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Factset List of Entitled Category Systems.
      description: List of entitled category systems.
      parameters:
      - name: idType
        in: query
        schema:
          description: Filter for a specific category system type. See endpoint `/category/system/type/list` for valid values.
          type: number
          format: id32
          x-positive: true
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
            exclusiveMaximum: false
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      - name: _language
        in: query
        schema:
          type: string
          format: isoLanguage
          description: ISO 639-1 code of the language.
          maxLength: 2
          minLength: 2
          exclusiveMinimum: false
          exclusiveMaximum: false
      responses:
        '200':
          $ref: '#/components/responses/GetCategorySystemList200Response'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /category/system/type/list:
    get:
      tags:
      - System
      operationId: get/category/system/type/list
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Factset List of Category System Types.
      description: List of category system types.
      responses:
        '200':
          $ref: '#/components/responses/GetCategorySystemTypeList200Response'
      parameters:
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
            exclusiveMaximum: false
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      - name: _language
        in: query
        schema:
          type: string
          format: isoLanguage
          description: ISO 639-1 code of the language.
          maxLength: 2
          minLength: 2
          exclusiveMinimum: false
          exclusiveMaximum: false
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  responses:
    GetCategorySystemGet200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: object
                properties:
                  id:
                    nullable: true
                    type: number
                    format: id32
                    x-positive: true
                    description: Identifier of the category system.
                  name:
                    nullable: true
                    type: string
                    format: localizedString
                    description: Name of the category system.
                  type:
                    nullable: false
                    description: Type of the category system. See endpoint `/category/system/type/list` for possible values.
                    type: object
                    x-property-sort:
                    - id
                    - name
                    properties:
                      id:
                        nullable: true
                        type: number
                        format: id32
                        x-positive: true
                        description: Identifier of the type of the category system.
                      name:
                        nullable: true
                        type: string
                        format: localizedString
                        description: Name of the type of the category system.
                  numberOfLevels:
                    nullable: true
                    type: number
                    format: int32
                    description: Number of levels of the category system.
                  firstLevelWithLeafCategories:
                    nullable: true
                    type: number
                    format: int32
                    description: Number of the least detailed level of the category system that has leaf categories.
                  levels:
                    nullable: false
                    type: array
                    items:
                      type: object
                      nullable: false
                      x-property-sort:
                      - id
                      - name
                      - number
                      - hasLeafCategories
                      properties:
                        id:
                          nullable: true
                          type: number
                          format: id32
                          x-positive: true
                          description: Identifier of the level.
                        name:
                          nullable: true
                          type: string
                          format: localizedString
                          description: Name of the level.
                        number:
                          nullable: true
                          type: number
                          format: int32
                          description: Number of the category level, starting with 1.
                        hasLeafCategories:
                          nullable: true
                          type: boolean
                          description: Indicates whether the category level has leaf categories.
                    description: List of category levels ordered by the number of the level in ascending order.
                description: Details of the category system.
                nullable: false
                x-property-sort:
                - id
                - name
                - type
                - numberOfLevels
                - firstLevelWithLeafCategories
                - levels
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                x-property-sort:
                - status
            x-property-sort:
            - data
            - meta
    GetCategorySystemTypeList200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: array
                description: List of category system types, sorted by ascending identifier value.
                nullable: false
                items:
                  type: object
                  nullable: false
                  x-property-sort:
                  - id
                  - name
                  - description
                  properties:
                    id:
                      nullable: true
                      type: number
                      format: id32
                      x-positive: true
                      description: Identifier of the category system type.
                    name:
                      nullable: true
                      type: string
                      format: localizedString
                      description: Name of the category system type.
                    description:
                      nullable: true
                      type: string
                      format: localizedString
                      description: Description of the category system type.
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                x-property-sort:
                - status
            x-property-sort:
            - data
            - meta
    GetCategorySystemList200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: array
                description: List of category systems.
                nullable: false
                items:
                  type: object
                  nullable: false
                  x-property-sort:
                  - id
                  - name
                  - type
                  - numberOfLevels
                  - firstLevelWithLeafCategories
                  properties:
                    id:
                      nullable: true
                      type: number
                      format: id32
                      x-positive: true
                      description: Identifier of the category system.
                    name:
                      nullable: true
                      type: string
                      format: localizedString
                      description: Name of the category system.
                    type:
                      nullable: false
                      description: Type of the category system. See endpoint `/category/system/type/list` for possible values.
                      type: object
                      x-property-sort:
                      - id
                      - name
                      properties:
                        id:
                          nullable: true
                          type: number
                          format: id32
                          x-positive: true
                          description: Identifier of the type of the category system.
                        name:
                          nullable: true
                          type: string
                          format: localizedString
                          description: Name of the type of the category system.
                    numberOfLevels:
                      nullable: true
                      type: number
                      format: int32
                      description: Number of levels of the category system.
                    firstLevelWithLeafCategories:
                      nullable: true
                      type: number
                      format: int32
                      description: Number of the least detailed level of the category system that has leaf categories.
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                x-property-sort:
                - status
            x-property-sort:
            - data
            - meta
    GetCategoryListBySystem200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: object
                properties:
                  categories:
                    nullable: false
                    type: array
                    items:
                      type: object
                      nullable: false
                      x-property-sort:
                      - id
                      - code
                      - name
                      - description
                      - active
                      - level
                      - parent
                      properties:
                        id:
                          nullable: true
                          type: number
                          format: id32
                          x-positive: true
                          description: Identifier of the category.
                        code:
                          nullable: true
                          type: string
                          description: Code commonly used for this category.
                        name:
                          nullable: true
                          type: string
                          format: localizedString
                          description: Name of the category.
                        description:
                          nullable: true
                          type: string
                          format: localizedString
                          description: Description of the category.
                        active:
                          nullable: true
                          type: boolean
                          description: Indicates whether this category is active.
                        level:
                          nullable: false
                          type: object
                          x-property-sort:
                          - id
                          - number
                          description: Category level.
                          properties:
                            id:
                              nullable: true
                              type: number
                              format: id32
                              x-positive: true
                              description: Identifier of the category level.
                            number:
                              nullable: true
                              type: number
                              format: int32
                              description: Number of the category level starting with 1, indicating the distance to the root of the category hierarchy.
                        parent:
                          nullable: false
                          type: object
                          x-property-sort:
                          - id
                          description: Parent category. The attributes of the parent category are `null` if this category is on the first level.
                          properties:
                            id:
                              nullable: true
                              type: number
                              format: id32
                              x-positive: true
                              description: Identifier of the category.
                    description: List of categories.
                description: List of the categories.
                nullable: false
                x-property-sort:
                - categories
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                  pagination:
                    $ref: '#/components/schemas/OffsetBasedPaginationOutputObject'
                x-property-sort:
                - status
                - pagination
            x-property-sort:
            - data
            - meta
  schemas:
    OffsetBasedPaginationOutputObject:
      type: object
      description: Pagination attributes for the offset-based pagination strategy.
      properties:
        total:
          type: number
          format: int32
          description: Total number of entries in the result set.
          example: 42.5
        isEstimatedTotal:
          type: boolean
          description: Flag indicating that the value of "total" is estimated.
          example: true
      required:
      - total
      - isEstimatedTotal
      x-property-sort:
      - total
      - isEstimatedTotal
    StatusObject:
      type: object
      properties:
        code:
          type: number
          format: int32
          description: The HTTP status code of the response, mirroring the code from the Status-Line of the HTTP response message (see [RFC2616] section 6.1).
          example: 42.5
      description: The status member contains the status code of the response.
      required:
      - code
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
externalDocs:
  url: https://developer.factset.com/api-catalog/analytics-datastore-api
  description: API Documentation
