openapi: 3.0.3
info:
  title: Factset Analytics Datastore About Modeling API
  description: Allow clients to fetch precalculated Analytics through predeterministic URLs.
  contact:
    name: FactSet Research Systems
    url: https://developer.factset.com/contact
    email: api@factset.com
  license:
    name: Apache License, Version 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  version: 1.0.0
servers:
- url: https://api.factset.com
  description: Production
- url: https://api-sandbox.factset.com
  description: Sandbox
security:
- basicAuth: []
tags:
- name: Modeling
paths:
  /analytics/security-modeling/v3/securities/retrieve:
    post:
      tags:
      - Modeling
      summary: Factset Get Existing Securities
      description: This endpoint gets all existing securities.
      operationId: getSecurities
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SMRetrieveParametersRoot'
      responses:
        '200':
          description: Expected response, returns a list of existing securities.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SMRetrieveResponseRoot'
        '401':
          description: Missing or invalid authentication.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
        '403':
          description: User is forbidden with current credentials
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              schema:
                type: string
        '406':
          description: Unsupported Accept header. Header needs to be set to application/json.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              schema:
                type: string
        '429':
          description: Rate limit reached. Wait till the time specified in Retry-After header value to make further requests.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
            Retry-After:
              description: Time to wait in seconds before making a new request as the rate limit has reached.
              schema:
                type: string
        '500':
          description: Server error. Log the X-DataDirect-Request-Key header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
        '503':
          description: Request timed out. Retry the request in sometime.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /analytics/security-modeling/v3/securities/upsert:
    post:
      tags:
      - Modeling
      summary: Factset Create or Update Securities
      description: This endpoint is to create or update existing securities.
      operationId: upsertSecurities
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SMCreateParametersRoot'
      responses:
        '200':
          description: Expected response, returns a status of operation along with errors and warnings if found any.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SMCreateResponseRoot'
        '401':
          description: Missing or invalid authentication.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
        '403':
          description: User is forbidden with current credentials
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              schema:
                type: string
        '406':
          description: Unsupported Accept header. Header needs to be set to application/json.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              schema:
                type: string
        '429':
          description: Rate limit reached. Wait till the time specified in Retry-After header value to make further requests.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
            Retry-After:
              description: Time to wait in seconds before making a new request as the rate limit has reached.
              schema:
                type: string
        '500':
          description: Server error. Log the X-DataDirect-Request-Key header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
        '503':
          description: Request timed out. Retry the request in sometime.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /analytics/security-modeling/v3/securities/delete:
    post:
      tags:
      - Modeling
      summary: Factset Delete Existing Securities
      description: This endpoint deletes existing securities.
      operationId: deleteSecurities
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SMDeleteParametersRoot'
      responses:
        '200':
          description: Expected response, deletes existing securities.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SMDeleteResponseRoot'
        '401':
          description: Missing or invalid authentication.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
        '403':
          description: User is forbidden with current credentials
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              schema:
                type: string
        '406':
          description: Unsupported Accept header. Header needs to be set to application/json.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              schema:
                type: string
        '429':
          description: Rate limit reached. Wait till the time specified in Retry-After header value to make further requests.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
            Retry-After:
              description: Time to wait in seconds before making a new request as the rate limit has reached.
              schema:
                type: string
        '500':
          description: Server error. Log the X-DataDirect-Request-Key header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
        '503':
          description: Request timed out. Retry the request in sometime.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    SMRetrieveResponseRoot:
      required:
      - data
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/SMRetrieveResponse'
          example: []
        meta:
          type: object
          nullable: true
          example: example_value
    SMDeleteParametersRoot:
      required:
      - data
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/SMDeleteParameters'
          example: []
        meta:
          type: object
          nullable: true
          example: example_value
    SMCustomCashFlowFields:
      type: object
      allOf:
      - $ref: '#/components/schemas/SMFields'
      properties:
        cashFlowAmounts:
          type: array
          items:
            type: number
            format: double
            nullable: true
          nullable: true
          example: []
        cashFlowDates:
          type: array
          items:
            type: string
          nullable: true
          example: []
        country:
          type: string
          nullable: true
          example: example_value
        currency:
          type: string
          nullable: true
          example: example_value
        issueName:
          type: string
          nullable: true
          example: example_value
        parAmt:
          type: number
          format: double
          nullable: true
          example: 42.5
        parentName:
          type: string
          nullable: true
          example: example_value
        ratingFitch:
          type: string
          nullable: true
          example: example_value
        ratingFitchDates:
          type: array
          items:
            type: string
          nullable: true
          example: []
        ratingFitchValues:
          type: array
          items:
            type: string
          nullable: true
          example: []
        ratingMoodysDates:
          type: array
          items:
            type: string
          nullable: true
          example: []
        ratingMoodysValues:
          type: array
          items:
            type: string
          nullable: true
          example: []
        ratingSpDates:
          type: array
          items:
            type: string
          nullable: true
          example: []
        ratingSpValues:
          type: array
          items:
            type: string
          nullable: true
          example: []
        secondaryToVendorFlag:
          type: boolean
          nullable: true
          example: true
        sector:
          type: string
          nullable: true
          example: example_value
        sectorBarclay1:
          type: string
          nullable: true
          example: example_value
        sectorBarclay2:
          type: string
          nullable: true
          example: example_value
        sectorBarclay3:
          type: string
          nullable: true
          example: example_value
        sectorBarclay4:
          type: string
          nullable: true
          example: example_value
        sectorDef:
          type: string
          nullable: true
          example: example_value
        sectorIndustry:
          type: string
          nullable: true
          example: example_value
        sectorMain:
          type: string
          nullable: true
          example: example_value
        sectorMerrill1:
          type: string
          nullable: true
          example: example_value
        sectorMerrill2:
          type: string
          nullable: true
          example: example_value
        sectorMerrill3:
          type: string
          nullable: true
          example: example_value
        sectorMerrill4:
          type: string
          nullable: true
          example: example_value
        sectorSubGroup:
          type: string
          nullable: true
          example: example_value
        vendorCoverageDate:
          type: string
          nullable: true
          example: example_value
    SMCreateParameters:
      required:
      - fields
      - securityName
      type: object
      properties:
        securityName:
          type: string
          example: example_value
        location:
          type: string
          nullable: true
          example: example_value
        asofdate:
          type: string
          nullable: true
          example: example_value
        fields:
          $ref: '#/components/schemas/OneOfSMFields'
    SMRetrieveParametersRoot:
      required:
      - data
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/SMRetrieveParameters'
          example: []
        meta:
          type: object
          nullable: true
          example: example_value
    SMDeleteParameters:
      required:
      - securityName
      type: object
      properties:
        securityName:
          type: string
          example: example_value
        location:
          type: string
          nullable: true
          example: example_value
        asofdate:
          type: string
          nullable: true
          example: example_value
        securityType:
          enum:
          - Bond
          - CCF
          type: string
          nullable: true
          example: Bond
    SMCreateParametersRoot:
      required:
      - data
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/SMCreateParameters'
          example: []
        meta:
          type: object
          nullable: true
          example: example_value
    SMFields:
      required:
      - securityType
      type: object
      properties:
        securityType:
          enum:
          - Bond
          - CCF
          type: string
          example: Bond
    OneOfFieldsFields:
      oneOf:
      - $ref: '#/components/schemas/SMBondFields'
      - $ref: '#/components/schemas/SMCustomCashFlowFields'
      nullable: true
      discriminator:
        propertyName: securityType
        mapping:
          Bond: '#/components/schemas/SMBondFields'
          CCF: '#/components/schemas/SMCustomCashFlowFields'
    SMCreateResponseRoot:
      required:
      - data
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/SMCreateResponse'
          example: []
        meta:
          type: object
          nullable: true
          example: example_value
    SMRetrieveResponse:
      type: object
      properties:
        securityName:
          type: string
          nullable: true
          example: example_value
        status:
          enum:
          - success
          - failure
          type: string
          example: success
        location:
          type: string
          nullable: true
          example: example_value
        asofdate:
          type: string
          nullable: true
          example: example_value
        fields:
          $ref: '#/components/schemas/OneOfFieldsFields'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/SMError'
          nullable: true
          example: []
    SMError:
      type: object
      properties:
        detail:
          type: string
          nullable: true
          example: example_value
    SMWarning:
      type: object
      properties:
        detail:
          type: string
          nullable: true
          example: example_value
    SMCreateResponse:
      type: object
      properties:
        securityName:
          type: string
          nullable: true
          example: example_value
        status:
          enum:
          - success
          - failure
          type: string
          example: success
        warnings:
          type: array
          items:
            $ref: '#/components/schemas/SMWarning'
          nullable: true
          example: []
        errors:
          type: array
          items:
            $ref: '#/components/schemas/SMError'
          nullable: true
          example: []
    SMBondFields:
      type: object
      allOf:
      - $ref: '#/components/schemas/SMFields'
      properties:
        144aFlag:
          type: boolean
          nullable: true
          example: true
        aperiodicMultipliers:
          type: array
          items:
            type: number
            format: double
            nullable: true
          nullable: true
          example: []
        aperiodicResetDates:
          type: array
          items:
            type: string
          nullable: true
          example: []
        aperiodicSpreads:
          type: array
          items:
            type: number
            format: double
            nullable: true
          nullable: true
          example: []
        businessDayConv:
          type: string
          nullable: true
          example: example_value
        callAnnouncedDate:
          type: string
          nullable: true
          example: example_value
        callDates:
          type: array
          items:
            type: string
          nullable: true
          example: []
        callFreq:
          type: string
          nullable: true
          example: example_value
        callNoticeDays:
          type: integer
          format: int32
          nullable: true
          example: 10
        callPrices:
          type: array
          items:
            type: number
            format: double
            nullable: true
          nullable: true
          example: []
        cashRate:
          type: number
          format: double
          nullable: true
          example: 42.5
        cognity:
          type: string
          nullable: true
          example: example_value
        conversionIdentifier:
          type: string
          nullable: true
          example: example_value
        conversionRatio:
          type: number
          format: double
          nullable: true
          example: 42.5
        conversionType:
          type: string
          nullable: true
          example: example_value
        convertibleFlag:
          type: boolean
          nullable: true
          example: true
        country:
          type: string
          nullable: true
          example: example_value
        coupon:
          type: number
          format: double
          nullable: true
          example: 42.5
        couponType:
          type: string
          nullable: true
          example: example_value
        creditSpreadAdjustmentSingle:
          type: number
          format: double
          nullable: true
          example: 42.5
        currency:
          type: string
          nullable: true
          example: example_value
        dayCountBasis:
          type: string
          nullable: true
          example: example_value
        defaultedDate:
          type: string
          nullable: true
          example: example_value
        federalTaxExemptFlag:
          type: boolean
          nullable: true
          example: true
        firstPayDate:
          type: string
          nullable: true
          example: example_value
        firstResetDate:
          type: string
          nullable: true
          example: example_value
        floatFormula:
          type: string
          nullable: true
          example: example_value
        fltDayCountBasis:
          type: string
          nullable: true
          example: example_value
        fltFirstPayDate:
          type: string
          nullable: true
          example: example_value
        fltPayFreq:
          type: string
          nullable: true
          example: example_value
        histCouponDates:
          type: array
          items:
            type: string
          nullable: true
          example: []
        histCoupons:
          type: array
          items:
            type: number
            format: double
            nullable: true
          nullable: true
          example: []
        histRcvAssumpDates:
          type: array
          items:
            type: string
          nullable: true
          example: []
        histRcvAssumpMonths:
          type: array
          items:
            type: integer
            format: int32
            nullable: true
          nullable: true
          example: []
        histRcvAssumpRates:
          type: array
          items:
            type: number
            format: double
            nullable: true
          nullable: true
          example: []
        histRcvAssumpTargetDates:
          type: array
          items:
            type: string
          nullable: true
          example: []
        inflationType:
          type: string
          nullable: true
          example: example_value
        issueDate:
          type: string
          nullable: true
          example: example_value
        issueName:
          type: string
          nullable: true
          example: example_value
        issuerId:
          type: string
          nullable: true
          example: '500123'
        lastModifiedSource:
          type: string
          nullable: true
          example: example_value
        lastModifiedSourceMeta:
          type: string
          nullable: true
          example: example_value
        lastModifiedTime:
          type: string
          nullable: true
          example: example_value
        lifeCap:
          type: number
          format: double
          nullable: true
          example: 42.5
        lifeFloor:
          type: number
          format: double
          nullable: true
          example: 42.5
        lockoutDays:
          type: integer
          format: int32
          nullable: true
          example: 10
        lookBackDays:
          type: integer
          format: int32
          nullable: true
          example: 10
        makeWholeCallFlag:
          type: boolean
          nullable: true
          example: true
        makeWholeExpireDate:
          type: string
          nullable: true
          example: example_value
        makeWholeSpread:
          type: number
          format: double
          nullable: true
          example: 42.5
        matrixDates:
          type: array
          items:
            type: string
          nullable: true
          example: []
        matrixMultipliers:
          type: array
          items:
            type: number
            format: double
            nullable: true
          nullable: true
          example: []
        matrixPricedFlag:
          type: boolean
          nullable: true
          example: true
        matrixSpreads:
          type: array
          items:
            type: number
            format: double
            nullable: true
          nullable: true
          example: []
        matrixUseScheduleFlag:
          type: boolean
          nullable: true
          example: true
        maturityDate:
          type: string
          nullable: true
          example: example_value
        maturityPrice:
          type: number
          format: double
          nullable: true
          example: 42.5
        monthsToRecovery:
          type: number
          format: double
          nullable: true
          example: 42.5
        multiplier:
          type: number
          format: double
          nullable: true
          example: 42.5
        notionalFlag:
          type: boolean
          nullable: true
          example: true
        observationShift:
          type: integer
          format: int32
          nullable: true
          example: 10
        origAmtIssued:
          type: number
          format: double
          nullable: true
          example: 42.5
        parentName:
          type: string
          nullable: true
          example: example_value
        parPrice:
          type: number
          format: double
          nullable: true
          example: 42.5
        parserInfo:
          type: string
          nullable: true
          example: example_value
        paymentDelay:
          type: integer
          format: int32
          nullable: true
          example: 10
        payFreq:
          type: string
          nullable: true
          example: example_value
        periodCap:
          type: number
          format: double
          nullable: true
          example: 42.5
        periodFloor:
          type: number
          format: double
          nullable: true
          example: 42.5
        pikExpDate:
          type: string
          nullable: true
          example: example_value
        pikRate:
          type: integer
          format: int32
          nullable: true
          example: 10
        preferredSecExDateLen:
          type: integer
          format: int32
          nullable: true
          example: 10
        preferredSecExDateUnits:
          type: string
          nullable: true
          example: example_value
        preferredSecFlag:
          type: boolean
          nullable: true
          example: true
        preferredSecType:
          type: string
          nullable: true
          example: example_value
        principalType:
          type: string
          nullable: true
          example: example_value
        putDates:
          type: array
          items:
            type: string
          nullable: true
          example: []
        putNoticeDays:
          type: integer
          format: int32
          nullable: true
          example: 10
        putFreq:
          type: string
          nullable: true
          example: example_value
        putPrices:
          type: array
          items:
            type: number
            format: double
            nullable: true
          nullable: true
          example: []
        pvtPlacementFlag:
          type: boolean
          nullable: true
          example: true
        ratingFitch:
          type: string
          nullable: true
          example: example_value
        ratingFitchDates:
          type: array
          items:
            type: string
          nullable: true
          example: []
        ratingFitchValues:
          type: array
          items:
            type: string
          nullable: true
          example: []
        ratingMoodysDates:
          type: array
          items:
            type: string
          nullable: true
          example: []
        ratingMoodysValues:
          type: array
          items:
            type: string
          nullable: true
          example: []
        ratingSpDates:
          type: array
          items:
            type: string
          nullable: true
          example: []
        ratingSpValues:
          type: array
          items:
            type: string
          nullable: true
          example: []
        recoveryPercentage:
          type: number
          format: double
          nullable: true
          example: 42.5
        redemptionDate:
          type: string
          nullable: true
          example: example_value
        redemptionOpt:
          type: string
          nullable: true
          example: example_value
        redemptionPrice:
          type: number
          format: double
          nullable: true
          example: 42.5
        reinstatedDate:
          type: string
          nullable: true
          example: example_value
        resetDelay:
          type: integer
          format: int32
          nullable: true
          example: 10
        resetFreq:
          type: string
          nullable: true
          example: example_value
        refIndex:
          type: string
          nullable: true
          example: example_value
        secondaryToVendorFlag:
          type: boolean
          nullable: true
          example: true
        sector:
          type: string
          nullable: true
          example: example_value
        sectorBarclay1:
          type: string
          nullable: true
          example: example_value
        sectorBarclay2:
          type: string
          nullable: true
          example: example_value
        sectorBarclay3:
          type: string
          nullable: true
          example: example_value
        sectorBarclay4:
          type: string
          nullable: true
          example: example_value
        sectorDef:
          type: string
          nullable: true
          example: example_value
        sectorIndustry:
          type: string
          nullable: true
          example: example_value
        sectorMain:
          type: string
          nullable: true
          example: example_value
        sectorMerrill1:
          type: string
          nullable: true
          example: example_value
        sectorMerrill2:
          type: string
          nullable: true
          example: example_value
        sectorMerrill3:
          type: string
          nullable: true
          example: example_value
        sectorMerrill4:
          type: string
          nullable: true
          example: example_value
        sectorSubGroup:
          type: string
          nullable: true
          example: example_value
        sinkAmts:
          type: array
          items:
            type: number
            format: double
            nullable: true
          nullable: true
          example: []
        sinkDates:
          type: array
          items:
            type: string
          nullable: true
          example: []
        spread:
          type: number
          format: double
          nullable: true
          example: 42.5
        state:
          type: string
          nullable: true
          example: example_value
        status:
          type: string
          nullable: true
          example: example_value
        statusDates:
          type: array
          items:
            type: string
          nullable: true
          example: []
        statusValues:
          type: array
          items:
            type: string
          nullable: true
          example: []
        stepCashRates:
          type: array
          items:
            type: number
            format: double
            nullable: true
          nullable: true
          example: []
        stepCouponDates:
          type: array
          items:
            type: string
          nullable: true
          example: []
        stepCoupons:
          type: array
          items:
            type: number
            format: double
            nullable: true
          nullable: true
          example: []
        stepPikRates:
          type: array
          items:
            type: number
            format: double
            nullable: true
          nullable: true
          example: []
        vendorCoverageDate:
          type: string
          nullable: true
          example: example_value
        vRDNFlag:
          type: boolean
          nullable: true
          example: true
    SMRetrieveParameters:
      required:
      - securityName
      type: object
      properties:
        securityName:
          type: string
          example: example_value
        location:
          type: string
          nullable: true
          example: example_value
        asofdate:
          type: string
          nullable: true
          example: example_value
        securityType:
          enum:
          - Bond
          - CCF
          type: string
          nullable: true
          example: Bond
    SMDeleteResponse:
      type: object
      properties:
        securityName:
          type: string
          nullable: true
          example: example_value
        status:
          enum:
          - success
          - failure
          type: string
          example: success
        errors:
          type: array
          items:
            $ref: '#/components/schemas/SMError'
          nullable: true
          example: []
    SMDeleteResponseRoot:
      required:
      - data
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/SMDeleteResponse'
          example: []
        meta:
          type: object
          nullable: true
          example: example_value
    OneOfSMFields:
      oneOf:
      - $ref: '#/components/schemas/SMBondFields'
      - $ref: '#/components/schemas/SMCustomCashFlowFields'
      discriminator:
        propertyName: securityType
        mapping:
          Bond: '#/components/schemas/SMBondFields'
          CCF: '#/components/schemas/SMCustomCashFlowFields'
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
externalDocs:
  url: https://developer.factset.com/api-catalog/analytics-datastore-api
  description: API Documentation
