openapi: 3.0.3
info:
  title: Factset Analytics Datastore About Ozmosi API
  description: Allow clients to fetch precalculated Analytics through predeterministic URLs.
  contact:
    name: FactSet Research Systems
    url: https://developer.factset.com/contact
    email: api@factset.com
  license:
    name: Apache License, Version 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  version: 1.0.0
servers:
- url: https://api.factset.com
  description: Production
- url: https://api-sandbox.factset.com
  description: Sandbox
security:
- basicAuth: []
tags:
- name: Ozmosi
paths:
  /ozmosi/clinical-trials/daily:
    get:
      tags:
      - Ozmosi
      summary: Returns the daily files of Clinical Trial Details from Open:FactSet Partner - Ozmosi.
      operationId: getOzmosiClinicalTrialsDaily
      description: Returns the daily files of Clinical Trial Details from Open:FactSet Partner - Ozmosi.
      parameters:
      - $ref: '#/components/parameters/_sort'
      - name: _paginationLimit
        in: query
        description: Specifies the maximum number of results to return per result Default value 20 and Maximum value 300
        required: false
        schema:
          type: integer
          default: 20
          maximum: 300
          minimum: 1
      - $ref: '#/components/parameters/_paginationOffset'
      - $ref: '#/components/parameters/clinicalTrialId'
      - $ref: '#/components/parameters/officialTitle'
      - $ref: '#/components/parameters/trialId'
      - $ref: '#/components/parameters/date'
      responses:
        '200':
          description: Download link & metadata for Clinical Trial Details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataResponse'
              examples:
                default200ResponseExample:
                  $ref: '#/components/examples/sampleDataResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthStatus'
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/ErrorDetails'
        '401':
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and have successfully generated an API KEY for the IP range you are connecting from. For more help, select the Report Issue in the top right corner of this Developer Portal specification card and choose Connectivity 401 or 403 Responses.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthStatus'
              examples:
                default401ResponseExample:
                  $ref: '#/components/examples/AuthErrorDetails'
        '403':
          description: The USERNAME-SERIAL attempted to request the endpoint is not authorized to access. The request was a legal request, but the server is refusing to respond. Please reach out to FactSet Account Team for assistance with authorization.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthStatus'
              examples:
                default403ResponseExample:
                  $ref: '#/components/examples/AuthorizationErrorDetails'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthStatus'
              examples:
                default500ResponseExample:
                  $ref: '#/components/examples/serverErrorDetails'
  /ozmosi/diseases/daily:
    get:
      tags:
      - Ozmosi
      summary: Returns the daily files of Diseases Details from Open:FactSet Partner- Ozmosi.
      operationId: getOzmosiDiseasesDaily
      description: Returns the daily files of Diseases Details from Open:FactSet Partner- Ozmosi.
      parameters:
      - $ref: '#/components/parameters/_paginationLimit'
      - $ref: '#/components/parameters/_paginationOffset'
      - $ref: '#/components/parameters/clinicalTrialId'
      - $ref: '#/components/parameters/diseaseArea'
      - $ref: '#/components/parameters/subTherapyArea'
      - $ref: '#/components/parameters/therapyArea'
      responses:
        '200':
          description: Download link & metadata for Diseases Details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiseasesResponse'
              examples:
                default200ResponseExample:
                  $ref: '#/components/examples/sampleDiseasesResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthStatus'
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/ErrorDetails'
        '401':
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and have successfully generated an API KEY for the IP range you are connecting from. For more help, select the Report Issue in the top right corner of this Developer Portal specification card and choose Connectivity 401 or 403 Responses.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthStatus'
              examples:
                default401ResponseExample:
                  $ref: '#/components/examples/AuthErrorDetails'
        '403':
          description: The USERNAME-SERIAL attempted to request the endpoint is not authorized to access. The request was a legal request, but the server is refusing to respond. Please reach out to FactSet Account Team for assistance with authorization.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthStatus'
              examples:
                default403ResponseExample:
                  $ref: '#/components/examples/AuthorizationErrorDetails'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthStatus'
              examples:
                default500ResponseExample:
                  $ref: '#/components/examples/serverErrorDetails'
  /ozmosi/biomarkers/daily:
    get:
      tags:
      - Ozmosi
      summary: Returns the daily files of Biomarkers Details from Open:FactSet Partner - Ozmosi.
      operationId: getOzmosiBiomarkersDaily
      description: Returns the daily files of Biomarkers Details from Open:FactSet Partner - Ozmosi.
      parameters:
      - $ref: '#/components/parameters/_paginationLimit'
      - $ref: '#/components/parameters/_paginationOffset'
      - $ref: '#/components/parameters/clinicalTrialId'
      - $ref: '#/components/parameters/biomarkerName'
      - $ref: '#/components/parameters/biomarkerFullName'
      responses:
        '200':
          description: Download link & metadata for Biomarkers Details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BiomarkersResponse'
              examples:
                default200ResponseExample:
                  $ref: '#/components/examples/sampleBiomarkersResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthStatus'
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/ErrorDetails'
        '401':
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and have successfully generated an API KEY for the IP range you are connecting from. For more help, select the Report Issue in the top right corner of this Developer Portal specification card and choose Connectivity 401 or 403 Responses.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthStatus'
              examples:
                default401ResponseExample:
                  $ref: '#/components/examples/AuthErrorDetails'
        '403':
          description: The USERNAME-SERIAL attempted to request the endpoint is not authorized to access. The request was a legal request, but the server is refusing to respond. Please reach out to FactSet Account Team for assistance with authorization.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthStatus'
              examples:
                default403ResponseExample:
                  $ref: '#/components/examples/AuthorizationErrorDetails'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthStatus'
              examples:
                default500ResponseExample:
                  $ref: '#/components/examples/serverErrorDetails'
  /ozmosi/beam-endpoints/daily:
    get:
      tags:
      - Ozmosi
      summary: Returns the daily files of Beam Endpoints Details from Open:FactSet Partner - Ozmosi.
      operationId: getOzmosiEndpointsDaily
      description: Returns the daily files of Beam Endpoints Details from Open:FactSet Partner - Ozmosi.
      parameters:
      - $ref: '#/components/parameters/_paginationLimit'
      - $ref: '#/components/parameters/_paginationOffset'
      - $ref: '#/components/parameters/clinicalTrialId'
      - $ref: '#/components/parameters/name'
      - $ref: '#/components/parameters/fullForm'
      responses:
        '200':
          description: Download link & metadata for Beam Endpoint Details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeamEndpointsResponse'
              examples:
                default200ResponseExample:
                  $ref: '#/components/examples/sampleBeamEndpointsResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthStatus'
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/ErrorDetails'
        '401':
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and have successfully generated an API KEY for the IP range you are connecting from. For more help, select the Report Issue in the top right corner of this Developer Portal specification card and choose Connectivity 401 or 403 Responses.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthStatus'
              examples:
                default401ResponseExample:
                  $ref: '#/components/examples/AuthErrorDetails'
        '403':
          description: The USERNAME-SERIAL attempted to request the endpoint is not authorized to access. The request was a legal request, but the server is refusing to respond. Please reach out to FactSet Account Team for assistance with authorization.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthStatus'
              examples:
                default403ResponseExample:
                  $ref: '#/components/examples/AuthorizationErrorDetails'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthStatus'
              examples:
                default500ResponseExample:
                  $ref: '#/components/examples/serverErrorDetails'
  /ozmosi/primaryoutcome/daily:
    get:
      tags:
      - Ozmosi
      summary: Returns the daily files of PrimaryOutcome Details from Open:FactSet Partner - Ozmosi.
      operationId: getOzmosiPrimaryoutcomeDaily
      description: Returns the daily files of PrimaryOutcome Details from Open:FactSet Partner - Ozmosi.
      parameters:
      - $ref: '#/components/parameters/_paginationLimit'
      - $ref: '#/components/parameters/_paginationOffset'
      - $ref: '#/components/parameters/clinicalTrialId'
      - $ref: '#/components/parameters/primaryOutcomeMeasure'
      - $ref: '#/components/parameters/primaryOutcomeDesc'
      responses:
        '200':
          description: Download link & metadata for PrimaryOutcome Details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrimaryOutcomeResponse'
              examples:
                default200ResponseExample:
                  $ref: '#/components/examples/samplePrimaryOutcomeResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthStatus'
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/ErrorDetails'
        '401':
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and have successfully generated an API KEY for the IP range you are connecting from. For more help, select the Report Issue in the top right corner of this Developer Portal specification card and choose Connectivity 401 or 403 Responses.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthStatus'
              examples:
                default401ResponseExample:
                  $ref: '#/components/examples/AuthErrorDetails'
        '403':
          description: The USERNAME-SERIAL attempted to request the endpoint is not authorized to access. The request was a legal request, but the server is refusing to respond. Please reach out to FactSet Account Team for assistance with authorization.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthStatus'
              examples:
                default403ResponseExample:
                  $ref: '#/components/examples/AuthorizationErrorDetails'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthStatus'
              examples:
                default500ResponseExample:
                  $ref: '#/components/examples/serverErrorDetails'
  /ozmosi/orangepurple/daily:
    get:
      tags:
      - Ozmosi
      summary: Returns the daily files of OrangePurple Details from Open:FactSet Partner - Ozmosi.
      operationId: getOzmosiOrangepurpleDaily
      description: Returns the daily files of OrangePurple Details from Open:FaStset Partner - Ozmosi.
      parameters:
      - $ref: '#/components/parameters/_paginationLimit'
      - $ref: '#/components/parameters/_paginationOffset'
      - $ref: '#/components/parameters/clinicalTrialId'
      - $ref: '#/components/parameters/beamOpNovelDrug'
      - $ref: '#/components/parameters/beamOpNovelTarget'
      responses:
        '200':
          description: Download link & metadata for OrangePurple Details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrangePurpleResponse'
              examples:
                default200ResponseExample:
                  $ref: '#/components/examples/sampleOrangePurpleResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthStatus'
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/ErrorDetails'
        '401':
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and have successfully generated an API KEY for the IP range you are connecting from. For more help, select the Report Issue in the top right corner of this Developer Portal specification card and choose Connectivity 401 or 403 Responses.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthStatus'
              examples:
                default401ResponseExample:
                  $ref: '#/components/examples/AuthErrorDetails'
        '403':
          description: The USERNAME-SERIAL attempted to request the endpoint is not authorized to access. The request was a legal request, but the server is refusing to respond. Please reach out to FactSet Account Team for assistance with authorization.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthStatus'
              examples:
                default403ResponseExample:
                  $ref: '#/components/examples/AuthorizationErrorDetails'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthStatus'
              examples:
                default500ResponseExample:
                  $ref: '#/components/examples/serverErrorDetails'
  /ozmosi/intervention/daily:
    get:
      tags:
      - Ozmosi
      summary: Returns the daily files of Intervention details from Open:FactSet Partner - Ozmosi.
      operationId: getOzmosiInterventionDaily
      description: Returns the daily files of Intervention details from Open:FactSet Partner - Ozmosi.
      parameters:
      - $ref: '#/components/parameters/_paginationLimit'
      - $ref: '#/components/parameters/_paginationOffset'
      - $ref: '#/components/parameters/clinicalTrialId'
      - $ref: '#/components/parameters/beamInterventionName'
      - $ref: '#/components/parameters/beamInterventionDesc'
      responses:
        '200':
          description: Download link & metadata for Intervention Details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InterventionResponse'
              examples:
                default200ResponseExample:
                  $ref: '#/components/examples/sampleInterventionResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthStatus'
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/ErrorDetails'
        '401':
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and have successfully generated an API KEY for the IP range you are connecting from. For more help, select the Report Issue in the top right corner of this Developer Portal specification card and choose Connectivity 401 or 403 Responses.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthStatus'
              examples:
                default401ResponseExample:
                  $ref: '#/components/examples/AuthErrorDetails'
        '403':
          description: The USERNAME-SERIAL attempted to request the endpoint is not authorized to access. The request was a legal request, but the server is refusing to respond. Please reach out to FactSet Account Team for assistance with authorization.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthStatus'
              examples:
                default403ResponseExample:
                  $ref: '#/components/examples/AuthorizationErrorDetails'
        '500':
          description: Internal Server Error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthStatus'
              examples:
                default500ResponseExample:
                  $ref: '#/components/examples/serverErrorDetails'
  /ozmosi/sponsors/daily:
    get:
      tags:
      - Ozmosi
      summary: Returns the daily files of Sponsors Details from Open:FactSet Partner - Ozmosi.
      operationId: getOzmosiSponsorsDaily
      description: Returns the daily files of Sponsors Details from Open:FactSet Partner - Ozmosi.
      parameters:
      - $ref: '#/components/parameters/_paginationLimit'
      - $ref: '#/components/parameters/_paginationOffset'
      - $ref: '#/components/parameters/clinicalTrialId'
      - $ref: '#/components/parameters/beamSponsorsName'
      - $ref: '#/components/parameters/beamSponsorsTicker'
      responses:
        '200':
          description: Download link & metadata for Sponsors Details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SponsorsResponse'
              examples:
                default200ResponseExample:
                  $ref: '#/components/examples/sampleSponsorsResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthStatus'
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/ErrorDetails'
        '401':
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and have successfully generated an API KEY for the IP range you are connecting from. For more help, select the Report Issue in the top right corner of this Developer Portal specification card and choose Connectivity 401 or 403 Responses.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthStatus'
              examples:
                default401ResponseExample:
                  $ref: '#/components/examples/AuthErrorDetails'
        '403':
          description: The USERNAME-SERIAL attempted to request the endpoint is not authorized to access. The request was a legal request, but the server is refusing to respond. Please reach out to FactSet Account Team for assistance with authorization.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthStatus'
              examples:
                default403ResponseExample:
                  $ref: '#/components/examples/AuthorizationErrorDetails'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthStatus'
              examples:
                default500ResponseExample:
                  $ref: '#/components/examples/serverErrorDetails'
  /ozmosi/collaborators/daily:
    get:
      tags:
      - Ozmosi
      summary: Returns the daily files of Collaborators Details from Open:FactSet Partner - Ozmosi.
      operationId: getOzmosiCollaboratorsDaily
      description: Returns the daily files of Collaborators Details from Open:FactSet Partner - Ozmosi.
      parameters:
      - $ref: '#/components/parameters/_paginationLimit'
      - $ref: '#/components/parameters/_paginationOffset'
      - $ref: '#/components/parameters/clinicalTrialId'
      - $ref: '#/components/parameters/beamCollaboratorsName'
      - $ref: '#/components/parameters/beamCollaboratorsTicker'
      responses:
        '200':
          description: Download link & metadata for Collaborators Details..
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollaboratorsResponse'
              examples:
                default200ResponseExample:
                  $ref: '#/components/examples/sampleCollaboratorsResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthStatus'
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/ErrorDetails'
        '401':
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and have successfully generated an API KEY for the IP range you are connecting from. For more help, select the Report Issue in the top right corner of this Developer Portal specification card and choose Connectivity 401 or 403 Responses.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthStatus'
              examples:
                default401ResponseExample:
                  $ref: '#/components/examples/AuthErrorDetails'
        '403':
          description: The USERNAME-SERIAL attempted to request the endpoint is not authorized to access. The request was a legal request, but the server is refusing to respond. Please reach out to FactSet Account Team for assistance with authorization.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthStatus'
              examples:
                default403ResponseExample:
                  $ref: '#/components/examples/AuthorizationErrorDetails'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthStatus'
              examples:
                default500ResponseExample:
                  $ref: '#/components/examples/serverErrorDetails'
  /ozmosi/clinical-trials/history:
    get:
      tags:
      - Ozmosi
      summary: Returns the history files from Open:FactSet Partner - Ozmosi
      operationId: getOzmosiClinicalTrialsHistory
      description: Returns the historical files from June 23rd, 2005 to current date.
      parameters:
      - $ref: '#/components/parameters/_paginationLimit'
      - $ref: '#/components/parameters/_paginationOffset'
      responses:
        '200':
          description: Download link & metadata for Ozmosi full history.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FullHistoryResponse'
              examples:
                default200ResponseExample:
                  $ref: '#/components/examples/sampleFullHistoryResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthStatus'
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/ErrorDetails'
        '401':
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and have successfully generated an API KEY for the IP range you are connecting from. For more help, select the Report Issue in the top right corner of this Developer Portal specification card and choose Connectivity 401 or 403 Responses.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthStatus'
              examples:
                default401ResponseExample:
                  $ref: '#/components/examples/AuthErrorDetails'
        '403':
          description: The USERNAME-SERIAL attempted to request the endpoint is not authorized to access. The request was a legal request, but the server is refusing to respond. Please reach out to FactSet Account Team for assistance with authorization.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthStatus'
              examples:
                default403ResponseExample:
                  $ref: '#/components/examples/AuthorizationErrorDetails'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthStatus'
              examples:
                default500ResponseExample:
                  $ref: '#/components/examples/serverErrorDetails'
components:
  parameters:
    trialId:
      name: trialId
      in: query
      description: This parameter specifies ID of the trial assigned by the trial registry.
      required: false
      schema:
        type: string
      example: NCT03037385
    _paginationLimit:
      name: _paginationLimit
      in: query
      description: Specifies the maximum number of results to return per result.
      required: false
      schema:
        type: integer
        maximum: 500
        minimum: 1
        default: 20
    subTherapyArea:
      name: subTherapyArea
      in: query
      description: Specifies the Sub Therapy Area of the disease.
      required: false
      schema:
        type: string
      example: Inflammation
    _paginationOffset:
      name: _paginationOffset
      in: query
      description: Specifies the starting point for pagination. This parameter is used to identify the beginning of next set of results. Using this parameter can fetch maximum of first 10000 records.
      required: false
      schema:
        type: integer
        minimum: 0
        default: 0
    primaryOutcomeMeasure:
      name: primaryOutcomeMeasure
      in: query
      description: It specifies the description of each primary outcome measure (or for observational studies, specific key measurement[s] or observation[s] used to describe patterns of diseases or traits or associations with exposures, risk factors or treatment).
      required: false
      schema:
        type: string
      example: Percentage of Participants Achieving an American College of Rheumatology (ACR) 50 Response at Week 12.
    beamSponsorsName:
      name: beamSponsorsName
      in: query
      description: It specifies the cleaned name of the Sponsor.
      required: false
      schema:
        type: string
      example: AtriCure
    diseaseArea:
      name: diseaseArea
      in: query
      description: Specifies the cleaned disease name.
      required: false
      schema:
        type: string
      example: Inflammation
    beamSponsorsTicker:
      name: beamSponsorsTicker
      in: query
      description: It specifies the stock ticker for primary sponsor.
      required: false
      schema:
        type: string
      example: ATRC
    primaryOutcomeDesc:
      name: primaryOutcomeDesc
      in: query
      description: It describes the metric used to characterize the specific primary outcome measure, if not included in the primary outcome measure title.
      required: false
      schema:
        type: string
      example: Week 12
    fullForm:
      name: fullForm
      in: query
      description: This parameter specifies cleaned and standardized full names of primary endpoints that are common or of key interest.
      required: false
      schema:
        type: string
      example: Overall Survival
    _sort:
      name: _sort
      in: query
      description: Enables to get the data in ascending or descending order based on startTime. Results are in reverse chronological order if this parameter is not used.
      required: false
      schema:
        type: string
        enum:
        - startDate
        - -startDate
        default: -startDate
    clinicalTrialId:
      name: clinicalTrialId
      in: query
      description: This parameter specifies Ozmosi unique ID for each historical version of a trial.
      required: false
      schema:
        type: string
      example: NCT03037385_037
    therapyArea:
      name: therapyArea
      in: query
      description: Specifies the Therapy Area of the disease.
      required: false
      schema:
        type: string
      example: Musculoskeletal
    date:
      name: date
      in: query
      description: Specifies the timestamp of each version of a trial in YYYY-MM-DD format.
      required: false
      schema:
        type: string
        format: date-time
      example: '2022-10-13 00:00:00'
    beamOpNovelDrug:
      name: beamOpNovelDrug
      in: query
      description: This parameter identifies if the trial includes a drug that is not approved by the FDA.
      required: false
      schema:
        type: string
      example: EDP-305
    beamInterventionName:
      name: beamInterventionName
      in: query
      description: This parameter specifies the name of intervention applied.
      required: false
      schema:
        type: string
      example: Etelcalcetide
    beamCollaboratorsTicker:
      name: beamCollaboratorsTicker
      in: query
      description: It specifies the Stock ticker for collaborator.
      required: false
      schema:
        type: string
      example: SSNLF
    officialTitle:
      name: officialTitle
      in: query
      description: Specifies full scientific title of a trial.
      required: false
      schema:
        type: string
      example: A Phase 1/2 Study of the Highly-selective RET Inhibitor, BLU-667, in Patients With Thyroid Cancer, Non-Small Cell Lung Cancer (NSCLC) and Other Advanced Solid Tumors
    beamOpNovelTarget:
      name: beamOpNovelTarget
      in: query
      description: It lists the unapproved drug.
      required: false
      schema:
        type: string
      example: tricalcium
    biomarkerName:
      name: biomarkerName
      in: query
      description: This parameter specifies the abbreviated name of any patient biomarkers being targeted for research in the trial.
      required: false
      schema:
        type: string
      example: EGFR
    name:
      name: name
      in: query
      description: This parameter specifies cleaned and standardized abbreviations of primary endpoints that are common or of key interest.
      required: false
      schema:
        type: string
      example: OS
    biomarkerFullName:
      name: biomarkerFullName
      in: query
      description: Specifies the full name of the biomarker.
      required: false
      schema:
        type: string
      example: epidermal growth factor receptor
    beamInterventionDesc:
      name: beamInterventionDesc
      in: query
      description: It specifies the description of intervention applied.
      required: false
      schema:
        type: string
      example: Cinacalcet oral once-daily
    beamCollaboratorsName:
      name: beamCollaboratorsName
      in: query
      description: It specifies the cleaned name of the collaborator.
      required: false
      schema:
        type: string
      example: Inventivan Pharma
  schemas:
    OrangePurpleResponse:
      type: object
      title: OrangePurple Response
      description: Returns OrangePurple Response
      properties:
        data:
          type: array
          description: Returns OrangePurple Response
          items:
            $ref: '#/components/schemas/OrangePurpleFiles'
        meta:
          $ref: '#/components/schemas/meta'
    BeamEndpointsFiles:
      type: object
      title: Beam Endpoint Object
      description: Returns Beam Endpoints Response
      properties:
        name:
          description: Cleaned and standardized abbreviations of primary endpoints that are common or of key interest
          type: string
          example: OS
        fileName:
          description: The filename of the trial data
          type: string
          example: NCT02126371_002.json
        clinicalTrialId:
          description: Specifies OZMOSI unique ID for each historical version of a trial
          type: string
          example: NCT02126371_005
        fullForm:
          description: Cleaned and standardized full names of primary endpoints that are common or of key interest
          type: string
          example: Area Under The Curve
        url:
          description: Download link for the clinical trials provided by the Ozmosi feed
          type: string
          example: https://fdss3-unstructured-data-delivery-ozmosi-prod.s3.amazonaws.com/ozmosi_v2/NCT02126371_005.json?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=ASIA6B6XG7VEYODKETS6%2F20221017%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20221017T132236Z&X-Amz-Expires=1800&X-Amz-SignedHeaders=host&X-Amz-Security-Token=IQoJb3JpZ2luX2VjED0aCXVzLWVhc3QtMSJIMEYCIQDzGmRWCkwvfl8WKsZ3rektfXyQa551ht8wkggj29qufwIhALaFsXrpyISV%2B6A3hASCdStEUtlzUEaBL9Bs0%2BSP3wUaKu4CCBYQARoMOTY2MjgyMTE2NDI1IgxkKPBJ4cINLlvTEkIqywKmD%2BMhpGDpCzI8LfS13Rvs%2FnCQ5S5khGdpMUk8j0kQ4%2F6xoX7SYyXjkn8VFk2OSJkfPpu6XBADJ3H6BmuJvAM5ovraQqQXjx8iuB7LPgYAHoIJNvZDivb8HV%2BmBSwbEoOyCIslX%2FFrlYNU6KmfpvKUZqJRPmpSVdb%2F2%2BwG6rw3WHO6qBxWjwPga2b9U7DvU0LCke0myB8cRhdimWuONNendFNuwm9KnvhrUbszsLT4dIxufiYQarCqQvx0FuMG21%2FPTKWXbpvHbSSG663qqBi2xYmIP%2BmvQ9JvZMkWN%2FOtVhkDqT8YcyaaLshDVv0xDvzdsP6h4YYjDohaABooNIuP1OVJ9fzzUe4F4ZlP5eZDAKKCPOU%2FfG9UitWHxm3feQDe460sVVbiGow7is85fhQsoeHQEfqqLifPXwxo2s72bwaxd2ZJOTYh7ra7MJeTtZoGOp0BJqQMDoOIol1WSTKBI02ne6rUGKfvR6ksj%2BjEQR9OURvMj843tnJketh6IUBNG%2Be0q7Y0YcV2AAKj1Q7nloa%2B6LoRFOyvKwy4SAfNh%2F1KGM8%2F%2FitZfxzOAwI%2BtlEPKuHWL3OWAyusy6VSXaw4PYtJrS9lual9O%2Brz3kK2au4JZnkeZH3KJsIefE4tJ2GcL%2FT3IOt7htI%2BGRZZDGNCHQ%3D%3D&X-Amz-Signature=9422d5ecb1460cedb3fb21ace5ee152ec4eacfc6d2fcd96f433c1b91e6d93dfa
    meta:
      title: Meta
      description: Array of metadata objects.
      type: object
      properties:
        pagination:
          $ref: '#/components/schemas/pagination'
    errorExample:
      type: object
      description: Specifies the fields in the error message
      properties:
        code:
          description: It specifies the unique code
          type: string
        title:
          description: ' Specifies the error message'
          type: string
        id:
          description: Specifies the id
          type: string
    DataFiles:
      type: object
      title: Data Object
      description: Returns Data Response.
      properties:
        trialId:
          description: ID of the trial assigned by the trial registry.
          type: string
          example: NCT03037385
        version:
          description: Specifies the version of a trial.
          type: integer
          example: 37
        fileName:
          description: The filename of the trial data.
          type: string
          example: NCT03037385_037.json
        clinicalTrialId:
          description: Specifies Ozmosi unique ID for each historical version of a trial.
          type: string
          example: NCT03037385_037
        uniqueProtocolId:
          description: ID assigned by the sponsor of a trial.
          type: string
          example: BO42863
        officialTitle:
          description: Full scientific title of a trial.
          type: string
          example: A Phase 1/2 Study of the Highly-selective RET Inhibitor, BLU-667, in Patients With Thyroid Cancer, Non-Small Cell Lung Cancer (NSCLC) and Other Advanced Solid Tumors
        overallStatus:
          description: Defines the current stage of a trial's activity.
          type: string
          example: Active
        primaryCompletion:
          description: The date where the final patient is examined or treated for the purpose of collecting data on the trial's primary outcome measures. Trial Sponsors may publicly announce the data. results after this date
          type: string
          format: date-time
          example: '2023-12-31 00:00:00'
        studyCompletion:
          description: The date that treatment will complete in the trial and data will be fully collected for secondary outcome measures and adverse events.
          type: string
          format: date-time
          example: '2024-02-29 00:00:00'
        firstPosted:
          description: The date on which the trial was first available on ClinicalTrials.gov. Specifically, this date refers to version 1 of a trial
          type: string
          format: date-time
          example: '2017-01-31 00:00:00'
        lastPosted:
          description: The date on which this version of a trial was officially updated and publicly visible on the registry.
          type: string
          format: date-time
          example: '2022-10-14 00:00:00'
        sponsor:
          description: The primary sponsor of the trial.
          type: string
          example: Hoffmann-La Roche
        responsibleParty:
          description: Identifies if the responsible party of the trial is the Sponsor (The entity that initiates the study), the Principal Investigator (An individual designated by the Sponsor) or Sponsor-Investigator (An individual both initiating and conduct the trial)
          type: string
          example: Sponsor
        dataMonitoring:
          description: Identifies if the trial involves a group of independent scientists who monitor the safety and scientific integrity of a clinical trial.
          type: string
          example: scientists
        studyType:
          description: Describes the nature of a clinical study.
          type: string
          example: Interventional
        primaryPurpose:
          description: Describes the main reason for the clinical trial.
          type: string
          example: Treatment
        studyPhase:
          description: Specifies the stage of a clinical trial studying a drug or biological product.
          type: string
          example: Phase 1/Phase 2
        interventionalModel:
          description: Describes the general design of the strategy for assigning interventions to participants in a clinical study.
          type: string
          example: Parallel Assignment
        numberOfArms:
          description: The number of clinical arms for study.
          type: integer
          example: 2
        masking:
          description: Defines the type of masking.
          type: string
          example: Open Label
        allocation:
          description: Identifies the method used to assign participants to an arm of a clinical study.
          type: string
          example: Non-Randomized
        enrollment:
          description: Number of patients enrolled.
          type: integer
          example: 589
        minimumAge:
          description: Minimum age of participants.
          type: string
          example: 18 Years
        maximumAge:
          description: Maximum age of participants.
          type: string
          example: 75 Years
        sex:
          description: A type of eligibility criteria that indicates the sex of people who may participate in a clinical study.
          type: string
          example: female
        genderBased:
          description: Defines if study is gender specific.
          type: string
          example: All
        acceptsVolunteers:
          description: A type of eligibility criteria that indicates whether people who do not have the condition/disease being studied can participate in that clinical study.
          type: string
          example: sync
        date:
          description: Specifies the timestamp of each version of a trial.
          type: string
          format: date-time
          example: '2022-10-13 00:00:00'
        recordVerification:
          description: The date on which the responsible party last verified the clinical study information in the entire ClinicalTrials.gov record for the clinical study, even if no additional or updated information is being submitted
          type: string
          format: date-time
          example: '2022-10-01 00:00:00'
        studyStart:
          description: Date that the trial becomes open for recruitment or the date on which the first patient was enrolled.
          type: string
          format: date-time
          example: '2021-06-25 00:00:00'
        firstSubmitted:
          description: The date that the trial was submitted to the registry.
          type: string
          format: date-time
          example: '2020-10-27 00:00:00'
        firstSubmitMetQxCrite:
          description: The date on which a submitted study record is confirmed to be consistent with National Library of Medicine (NLM) quality control (QC) review criteria.
          type: string
          format: date-time
          example: '2020-10-27 00:00:00'
        lastSubmitMetQxCrite:
          description: The most recent date on which the study sponsor or investigator submitted changes to a study record.
          type: string
          format: date-time
          example: '2022-10-13 00:00:00'
        primaryCompDateType:
          description: Designates if primary completion date is actual or anticipated.
          type: string
          example: '2025-01-09 00:00:00'
        studyCompletionDateType:
          description: Designates if study completion date is actual or anticipated.
          type: string
          example: None
        firstPostedDateType:
          description: Designates if the first posted date is actual or anticipated.
          type: string
          example: Actual
        lastPostedDateType:
          description: Designates if the last update posted date is actual or anticipated.
          type: string
          example: None
        enrollmentType:
          description: Identifies if the enrollment number is the anticipated or actual amount.
          type: string
          example: Anticipated
        beamProbabilityOfTrialSuccess:
          description: Probability of trial success.
          type: number
          example: 82
        beamProbabilityOfLaunch:
          description: Probability of trial being launched.
          type: number
          example: 61
        url:
          description: Download link for the clinical trials provided by the Ozmosi feed.
          type: string
          example: https://fdss3-unstructured-data-delivery-ozmosi-prod.s3.amazonaws.com/ozmosi_v2/NCT04629248_022.json?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=ASIA6B6XG7VEYODKETS6%2F20221017%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20221017T134304Z&X-Amz-Expires=1800&X-Amz-SignedHeaders=host&X-Amz-Security-Token=IQoJb3JpZ2luX2VjED0aCXVzLWVhc3QtMSJIMEYCIQDzGmRWCkwvfl8WKsZ3rektfXyQa551ht8wkggj29qufwIhALaFsXrpyISV%2B6A3hASCdStEUtlzUEaBL9Bs0%2BSP3wUaKu4CCBYQARoMOTY2MjgyMTE2NDI1IgxkKPBJ4cINLlvTEkIqywKmD%2BMhpGDpCzI8LfS13Rvs%2FnCQ5S5khGdpMUk8j0kQ4%2F6xoX7SYyXjkn8VFk2OSJkfPpu6XBADJ3H6BmuJvAM5ovraQqQXjx8iuB7LPgYAHoIJNvZDivb8HV%2BmBSwbEoOyCIslX%2FFrlYNU6KmfpvKUZqJRPmpSVdb%2F2%2BwG6rw3WHO6qBxWjwPga2b9U7DvU0LCke0myB8cRhdimWuONNendFNuwm9KnvhrUbszsLT4dIxufiYQarCqQvx0FuMG21%2FPTKWXbpvHbSSG663qqBi2xYmIP%2BmvQ9JvZMkWN%2FOtVhkDqT8YcyaaLshDVv0xDvzdsP6h4YYjDohaABooNIuP1OVJ9fzzUe4F4ZlP5eZDAKKCPOU%2FfG9UitWHxm3feQDe460sVVbiGow7is85fhQsoeHQEfqqLifPXwxo2s72bwaxd2ZJOTYh7ra7MJeTtZoGOp0BJqQMDoOIol1WSTKBI02ne6rUGKfvR6ksj%2BjEQR9OURvMj843tnJketh6IUBNG%2Be0q7Y0YcV2AAKj1Q7nloa%2B6LoRFOyvKwy4SAfNh%2F1KGM8%2F%2FitZfxzOAwI%2BtlEPKuHWL3OWAyusy6VSXaw4PYtJrS9lual9O%2Brz3kK2au4JZnkeZH3KJsIefE4tJ2GcL%2FT3IOt7htI%2BGRZZDGNCHQ%3D%3D&X-Amz-Signature=f549097a39c169df9b810fa7c505f297db1f09ecbd317414e5d2d98db6fc2851
    BeamEndpointsResponse:
      type: object
      title: BeamEndpoints Response
      description: Returns Beam Endpoints Response
      properties:
        data:
          type: array
          description: Returns Beam Endpoints Response
          items:
            $ref: '#/components/schemas/BeamEndpointsFiles'
        meta:
          $ref: '#/components/schemas/meta'
    BiomarkersResponse:
      type: object
      title: Biomarkers Response
      description: Returns Biomarkers Response
      properties:
        data:
          type: array
          description: Returns Biomarkers Response
          items:
            $ref: '#/components/schemas/BiomarkersFiles'
        meta:
          $ref: '#/components/schemas/meta'
    DiseasesResponse:
      type: object
      title: Diseases Response
      description: Returns Diseases Response
      properties:
        data:
          type: array
          description: Returns Diseases Response
          items:
            $ref: '#/components/schemas/DiseasesFiles'
        meta:
          $ref: '#/components/schemas/meta'
    FullHistoryResponse:
      type: object
      title: History Response
      description: Returns History Response
      properties:
        data:
          description: Returns History Response
          type: array
          items:
            $ref: '#/components/schemas/FullHistoryFiles'
        meta:
          $ref: '#/components/schemas/meta'
    SponsorsResponse:
      type: object
      title: Sponsors Response
      description: Returns Sponsors Response
      properties:
        data:
          description: Returns Sponsors Response
          type: array
          items:
            $ref: '#/components/schemas/SponsorsFiles'
        meta:
          $ref: '#/components/schemas/meta'
    AuthStatus:
      type: object
      description: specifies the error message fields in the response
      properties:
        errors:
          type: array
          description: An array containing errors
          items:
            $ref: '#/components/schemas/errorExample'
    DataResponse:
      type: object
      title: Data Response
      description: Returns Data Response.
      properties:
        data:
          type: array
          description: Returns Data Response.
          items:
            $ref: '#/components/schemas/DataFiles'
        meta:
          $ref: '#/components/schemas/meta'
    BiomarkersFiles:
      type: object
      title: Biomarkers Object
      description: Returns Biomarkers Response
      properties:
        organ:
          description: Related organ where applicable.
          type: string
          example: Lung
        fileName:
          description: The filename of the trial data.
          type: string
          example: NCT00845832_036.json
        clinicalTrialId:
          description: Specifies Ozmosi unique ID for each historical version of a trial.
          type: string
          example: NCT00845832_036
        biomarkerName:
          description: Abbreviated name of any patient biomarkers being targeted for research in the trial.
          type: string
          example: TNF
        biomarkerFullName:
          description: Full name of the biomarker.
          type: string
          example: tumor necrosis factor
        biomarkerType:
          description: Defines the Biomarker type.
          type: string
          example: Protein
        url:
          description: Download link for the clinical trials provided by the Ozmosi feed.
          type: string
          example: https://fdss3-unstructured-data-delivery-ozmosi-prod.s3.amazonaws.com/ozmosi_v2/NCT00845832_036.json?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=ASIA6B6XG7VEYODKETS6%2F20221017%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20221017T132642Z&X-Amz-Expires=1800&X-Amz-SignedHeaders=host&X-Amz-Security-Token=IQoJb3JpZ2luX2VjED0aCXVzLWVhc3QtMSJIMEYCIQDzGmRWCkwvfl8WKsZ3rektfXyQa551ht8wkggj29qufwIhALaFsXrpyISV%2B6A3hASCdStEUtlzUEaBL9Bs0%2BSP3wUaKu4CCBYQARoMOTY2MjgyMTE2NDI1IgxkKPBJ4cINLlvTEkIqywKmD%2BMhpGDpCzI8LfS13Rvs%2FnCQ5S5khGdpMUk8j0kQ4%2F6xoX7SYyXjkn8VFk2OSJkfPpu6XBADJ3H6BmuJvAM5ovraQqQXjx8iuB7LPgYAHoIJNvZDivb8HV%2BmBSwbEoOyCIslX%2FFrlYNU6KmfpvKUZqJRPmpSVdb%2F2%2BwG6rw3WHO6qBxWjwPga2b9U7DvU0LCke0myB8cRhdimWuONNendFNuwm9KnvhrUbszsLT4dIxufiYQarCqQvx0FuMG21%2FPTKWXbpvHbSSG663qqBi2xYmIP%2BmvQ9JvZMkWN%2FOtVhkDqT8YcyaaLshDVv0xDvzdsP6h4YYjDohaABooNIuP1OVJ9fzzUe4F4ZlP5eZDAKKCPOU%2FfG9UitWHxm3feQDe460sVVbiGow7is85fhQsoeHQEfqqLifPXwxo2s72bwaxd2ZJOTYh7ra7MJeTtZoGOp0BJqQMDoOIol1WSTKBI02ne6rUGKfvR6ksj%2BjEQR9OURvMj843tnJketh6IUBNG%2Be0q7Y0YcV2AAKj1Q7nloa%2B6LoRFOyvKwy4SAfNh%2F1KGM8%2F%2FitZfxzOAwI%2BtlEPKuHWL3OWAyusy6VSXaw4PYtJrS9lual9O%2Brz3kK2au4JZnkeZH3KJsIefE4tJ2GcL%2FT3IOt7htI%2BGRZZDGNCHQ%3D%3D&X-Amz-Signature=8e8ac7c3616ed9ebfb8b08f70579caf68f347670438ee41df0cfde369e1e0ee9
    DiseasesFiles:
      type: object
      title: Diseases Object
      description: Returns Diseases Response
      properties:
        fileName:
          description: The filename of the trial data.
          type: string
          example: NCT00695292_016.json
        clinicalTrialId:
          description: Specifies Ozmosi unique ID for each historical version of a trial.
          type: string
          example: NCT00695292_016
        diseaseArea:
          description: Defines the cleaned disease name.
          type: string
          example: Small Cell Lung Cancer
        subTherapyArea:
          description: The parent Sub Therapy Area of the diseases.
          type: string
          example: Oncology Solid Tumor
        therapyArea:
          description: The parent Therapy Area of the diseases.
          type: string
          example: Oncology
        url:
          description: Download link for the clinical trials provided by the Ozmosi feed.
          type: string
          example: https://fdss3-unstructured-data-delivery-ozmosi-prod.s3.amazonaws.com/ozmosi_v2/NCT00695292_016.json?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=ASIA6B6XG7VEYODKETS6%2F20221017%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20221017T133245Z&X-Amz-Expires=1800&X-Amz-SignedHeaders=host&X-Amz-Security-Token=IQoJb3JpZ2luX2VjED0aCXVzLWVhc3QtMSJIMEYCIQDzGmRWCkwvfl8WKsZ3rektfXyQa551ht8wkggj29qufwIhALaFsXrpyISV%2B6A3hASCdStEUtlzUEaBL9Bs0%2BSP3wUaKu4CCBYQARoMOTY2MjgyMTE2NDI1IgxkKPBJ4cINLlvTEkIqywKmD%2BMhpGDpCzI8LfS13Rvs%2FnCQ5S5khGdpMUk8j0kQ4%2F6xoX7SYyXjkn8VFk2OSJkfPpu6XBADJ3H6BmuJvAM5ovraQqQXjx8iuB7LPgYAHoIJNvZDivb8HV%2BmBSwbEoOyCIslX%2FFrlYNU6KmfpvKUZqJRPmpSVdb%2F2%2BwG6rw3WHO6qBxWjwPga2b9U7DvU0LCke0myB8cRhdimWuONNendFNuwm9KnvhrUbszsLT4dIxufiYQarCqQvx0FuMG21%2FPTKWXbpvHbSSG663qqBi2xYmIP%2BmvQ9JvZMkWN%2FOtVhkDqT8YcyaaLshDVv0xDvzdsP6h4YYjDohaABooNIuP1OVJ9fzzUe4F4ZlP5eZDAKKCPOU%2FfG9UitWHxm3feQDe460sVVbiGow7is85fhQsoeHQEfqqLifPXwxo2s72bwaxd2ZJOTYh7ra7MJeTtZoGOp0BJqQMDoOIol1WSTKBI02ne6rUGKfvR6ksj%2BjEQR9OURvMj843tnJketh6IUBNG%2Be0q7Y0YcV2AAKj1Q7nloa%2B6LoRFOyvKwy4SAfNh%2F1KGM8%2F%2FitZfxzOAwI%2BtlEPKuHWL3OWAyusy6VSXaw4PYtJrS9lual9O%2Brz3kK2au4JZnkeZH3KJsIefE4tJ2GcL%2FT3IOt7htI%2BGRZZDGNCHQ%3D%3D&X-Amz-Signature=ae7e50f5ea7017e217d940e9cc719ebb33c6ee086153094638de498cacf64001
    InterventionFiles:
      type: object
      title: Intervention Object
      description: Returns Intervention Response
      properties:
        fileName:
          description: The filename of the trial data
          type: string
          example: NCT01896232_010.json
        clinicalTrialId:
          description: Specifies Ozmosi unique ID for each historical version of a trial
          type: string
          example: NCT01896232_010
        beamInterventionType:
          description: Identifies intervention type such as Drug, Biological, or Device
          type: string
          example: Drug
        beamInterventionName:
          description: Specifies the name of intervention applied
          type: string
          example: Cinacalcet
        beamInterventionDesc:
          description: Specifies the description of intervention applied
          type: string
          example: Cinacalcet oral once-daily
        beamOtherName:
          description: Other names listed for intervention
          type: string
          example: AMG 416
        beamArmGroupLabel:
          description: Name of the arm or group that this intervention is used in
          type: string
          example: Etelcalcetide
        url:
          description: Download link for the clinical trials provided by the Ozmosi feed
          type: string
          example: https://fdss3-unstructured-data-delivery-ozmosi-prod.s3.amazonaws.com/ozmosi_v2/NCT01896232_030.json?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=ASIA6B6XG7VEYODKETS6%2F20221017%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20221017T130802Z&X-Amz-Expires=1800&X-Amz-SignedHeaders=host&X-Amz-Security-Token=IQoJb3JpZ2luX2VjED0aCXVzLWVhc3QtMSJIMEYCIQDzGmRWCkwvfl8WKsZ3rektfXyQa551ht8wkggj29qufwIhALaFsXrpyISV%2B6A3hASCdStEUtlzUEaBL9Bs0%2BSP3wUaKu4CCBYQARoMOTY2MjgyMTE2NDI1IgxkKPBJ4cINLlvTEkIqywKmD%2BMhpGDpCzI8LfS13Rvs%2FnCQ5S5khGdpMUk8j0kQ4%2F6xoX7SYyXjkn8VFk2OSJkfPpu6XBADJ3H6BmuJvAM5ovraQqQXjx8iuB7LPgYAHoIJNvZDivb8HV%2BmBSwbEoOyCIslX%2FFrlYNU6KmfpvKUZqJRPmpSVdb%2F2%2BwG6rw3WHO6qBxWjwPga2b9U7DvU0LCke0myB8cRhdimWuONNendFNuwm9KnvhrUbszsLT4dIxufiYQarCqQvx0FuMG21%2FPTKWXbpvHbSSG663qqBi2xYmIP%2BmvQ9JvZMkWN%2FOtVhkDqT8YcyaaLshDVv0xDvzdsP6h4YYjDohaABooNIuP1OVJ9fzzUe4F4ZlP5eZDAKKCPOU%2FfG9UitWHxm3feQDe460sVVbiGow7is85fhQsoeHQEfqqLifPXwxo2s72bwaxd2ZJOTYh7ra7MJeTtZoGOp0BJqQMDoOIol1WSTKBI02ne6rUGKfvR6ksj%2BjEQR9OURvMj843tnJketh6IUBNG%2Be0q7Y0YcV2AAKj1Q7nloa%2B6LoRFOyvKwy4SAfNh%2F1KGM8%2F%2FitZfxzOAwI%2BtlEPKuHWL3OWAyusy6VSXaw4PYtJrS9lual9O%2Brz3kK2au4JZnkeZH3KJsIefE4tJ2GcL%2FT3IOt7htI%2BGRZZDGNCHQ%3D%3D&X-Amz-Signature=58c1d0fa60a3e87d873c7c123f07e291f67091b45b87498cbc9b35a81e15bb61
    OrangePurpleFiles:
      type: object
      title: OrangePurple Object
      description: Returns OrangePurple Response
      properties:
        fileName:
          description: The filename of the trial data
          type: string
          example: NCT01906684_002.json
        clinicalTrialId:
          description: Specifies Ozmosi unique ID for each historical version of a trial
          type: string
          example: NCT01906684_002
        beamOpNovelDrug:
          description: Identifies if the trial includes a drug that is not approved by the FDA
          type: string
          example: Epacadostate
        beamOpNovelTarget:
          description: It lists the unapproved drug
          type: string
          example: Peptide vaccine
        beamOpNovelDrugList:
          description: Identifies if there is an MOA or target that has not yet been approved by the FDA
          type: string
          example: Inhibitor
        beamOpNovelTargetList:
          description: Lists the unapproved targets
          type: string
          example: IDO1 Inhibitor
        url:
          description: Download link for the clinical trials provided by the Ozmosi feed
          type: string
          example: https://fdss3-unstructured-data-delivery-ozmosi-prod.s3.amazonaws.com/ozmosi_v2/NCT02651116_004.json?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=ASIA6B6XG7VEZSWBDXP4%2F20230130%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230130T154615Z&X-Amz-Expires=1800&X-Amz-SignedHeaders=host&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEBgaCXVzLWVhc3QtMSJIMEYCIQC%2B6L670ZxJKib2KCWj0SHnwXoVHDr7sPz%2Ft40qmv7vHwIhAOBZa4eIOTl2oC88R7jpi0gVYPLyp6E9Pw2ty0UP3pRWKvcCCJD%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEQARoMOTY2MjgyMTE2NDI1IgwYUf6AhlNl%2BR093MUqywLwFEZ9iTI10C3qIGKVmpnZ2PnFkrCVlkYIyDdxYIWyigl8iA9sQ1pWoIp%2FefD797agmqqPoXf9JXaBcw2ygeXT9EYMwljLJtw54O8nzrcUSHZ5HtOqEIPOnF9P6I9YCaD571N6oGfl8hKVGIH1yk7fByz48QZt9cQWwtc%2FWY4ORNvaaCGTin3Xpd0rQ%2BkMy3zvI8JOcfi14o%2F1KBXmUgNAII0h6QBOnzhiG291UZPlyH2U2WardyN5YwyDFbUxeskdqBVCJqx%2BdkUsU%2Fjk3rNPWE3s9CxSO%2Bubt%2B9BcYTl0mJnx7MCKJCTCOxn2h%2FR%2BvyAMyRluJyU6T5I15uFipcp00gEfpeYQDrtFLfvzPzAEWFw2QI9BmNKhr%2BRbKYxfMiDHTgXn9WaijZEB8DHB9G0pwgWE5z7LUg70umwvz60e5qH7pP26O1TMI6hMIO7354GOp0BCTiRD%2F6ow8Sn3f8vLp4IbNnvKNQ4AimQjcW%2B5fWkTwxFr2fBlcI52YJ97yzm5H%2F3340dD1tBtVxXGSmTVQh%2FLQ8G1DTbkjJvPEYL2j8zMm%2Fs953XXNjAqIkkN2copRx%2F0R%2BLwAM67rAwXldE1q1VlCz2IRzEPrh%2BCulTl2XxbxiAFo6PX4MLE4GMQjjmy%2F67rbQAoLBSoVTaUshT%2Fg%3D%3D&X-Amz-Signature=e03a21bcb2355205758d2b17886e207f421c1e889d04466760084247cb00f866
    InterventionResponse:
      type: object
      title: Intervention Response
      description: Returns Intervention Response
      properties:
        data:
          description: Returns Intervention Response
          type: array
          items:
            $ref: '#/components/schemas/InterventionFiles'
        meta:
          $ref: '#/components/schemas/meta'
    CollaboratorsResponse:
      type: object
      title: Collaborators Response
      description: Returns Collaborators Response
      properties:
        data:
          description: Returns Collaborators Response
          type: array
          items:
            $ref: '#/components/schemas/CollaboratorsFiles'
        meta:
          $ref: '#/components/schemas/meta'
    CollaboratorsFiles:
      type: object
      title: Collaborators Object
      description: Returns Collaborators Response
      properties:
        fileName:
          description: The filename of the trial data
          type: string
          example: NCT00079001_483.json
        clinicalTrialId:
          description: Specifies Ozmosi unique ID for each historical version of a trial
          type: string
          example: NCT00079001_483
        beamCollaboratorsId:
          description: Ozmosi unique ID for each collaborator
          type: number
          example: 142
        beamCollaboratorsName:
          description: Cleaned name of collaborator
          type: string
          example: Eastern Cooperative Oncology Group
        beamCollaboratorsType:
          description: Identifies if the collaborator is an Industry collaborator or other
          type: string
          example: Industry
        beamCollaboratorsTicker:
          description: Stock ticker for collaborator
          type: string
          example: MEDP
        url:
          description: Download link for the clinical trials provided by the Ozmosi feed
          type: string
          example: https://fdss3-unstructured-data-delivery-ozmosi-prod.s3.amazonaws.com/ozmosi_v2/NCT00079001_483.json?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=ASIA6B6XG7VEYODKETS6%2F20221017%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20221017T125047Z&X-Amz-Expires=1800&X-Amz-SignedHeaders=host&X-Amz-Security-Token=IQoJb3JpZ2luX2VjED0aCXVzLWVhc3QtMSJIMEYCIQDzGmRWCkwvfl8WKsZ3rektfXyQa551ht8wkggj29qufwIhALaFsXrpyISV%2B6A3hASCdStEUtlzUEaBL9Bs0%2BSP3wUaKu4CCBYQARoMOTY2MjgyMTE2NDI1IgxkKPBJ4cINLlvTEkIqywKmD%2BMhpGDpCzI8LfS13Rvs%2FnCQ5S5khGdpMUk8j0kQ4%2F6xoX7SYyXjkn8VFk2OSJkfPpu6XBADJ3H6BmuJvAM5ovraQqQXjx8iuB7LPgYAHoIJNvZDivb8HV%2BmBSwbEoOyCIslX%2FFrlYNU6KmfpvKUZqJRPmpSVdb%2F2%2BwG6rw3WHO6qBxWjwPga2b9U7DvU0LCke0myB8cRhdimWuONNendFNuwm9KnvhrUbszsLT4dIxufiYQarCqQvx0FuMG21%2FPTKWXbpvHbSSG663qqBi2xYmIP%2BmvQ9JvZMkWN%2FOtVhkDqT8YcyaaLshDVv0xDvzdsP6h4YYjDohaABooNIuP1OVJ9fzzUe4F4ZlP5eZDAKKCPOU%2FfG9UitWHxm3feQDe460sVVbiGow7is85fhQsoeHQEfqqLifPXwxo2s72bwaxd2ZJOTYh7ra7MJeTtZoGOp0BJqQMDoOIol1WSTKBI02ne6rUGKfvR6ksj%2BjEQR9OURvMj843tnJketh6IUBNG%2Be0q7Y0YcV2AAKj1Q7nloa%2B6LoRFOyvKwy4SAfNh%2F1KGM8%2F%2FitZfxzOAwI%2BtlEPKuHWL3OWAyusy6VSXaw4PYtJrS9lual9O%2Brz3kK2au4JZnkeZH3KJsIefE4tJ2GcL%2FT3IOt7htI%2BGRZZDGNCHQ%3D%3D&X-Amz-Signature=c0ffeb0f683b0ab453c0524742cb921e07059fcf29b9a577184d6431dce2c7b4
    PrimaryOutcomeFiles:
      type: object
      title: PrimaryOutcome Object
      description: Reurns PrimaryOutcomee Response
      properties:
        fileName:
          description: The filename of the trial data
          type: string
          example: NCT03001219_013.json
        clinicalTrialId:
          description: Specifies Ozmosi unique ID for each historical version of a trial
          type: string
          example: NCT03001219_013
        primaryOutcomeMeasure:
          description: It specifies the description of each primary outcome measure (or for observational studies, specific key measurement[s] or observation[s] used to describe patterns of diseases or traits or associations with exposures, risk factors or treatment)
          type: string
          example: Percentage of Participants Achieving an American College of Rheumatology (ACR) 50 Response at Week 12
        primaryOutcomeDesc:
          description: It describes the metric used to characterize the specific primary outcome measure, if not included in the primary outcome measure title
          type: string
          example: Week 12
        primaryOutcomeTimeFrame:
          description: Time point(s) at which the measurement is assessed for the specific metric used
          type: string
          example: Up to 6 months
        url:
          description: Download link for the clinical trials provided by the Ozmosi feed
          type: string
          example: https://fdss3-unstructured-data-delivery-ozmosi-prod.s3.amazonaws.com/ozmosi_v2/NCT03000257_005.json?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=ASIA6B6XG7VEYODKETS6%2F20221017%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20221017T131857Z&X-Amz-Expires=1800&X-Amz-SignedHeaders=host&X-Amz-Security-Token=IQoJb3JpZ2luX2VjED0aCXVzLWVhc3QtMSJIMEYCIQDzGmRWCkwvfl8WKsZ3rektfXyQa551ht8wkggj29qufwIhALaFsXrpyISV%2B6A3hASCdStEUtlzUEaBL9Bs0%2BSP3wUaKu4CCBYQARoMOTY2MjgyMTE2NDI1IgxkKPBJ4cINLlvTEkIqywKmD%2BMhpGDpCzI8LfS13Rvs%2FnCQ5S5khGdpMUk8j0kQ4%2F6xoX7SYyXjkn8VFk2OSJkfPpu6XBADJ3H6BmuJvAM5ovraQqQXjx8iuB7LPgYAHoIJNvZDivb8HV%2BmBSwbEoOyCIslX%2FFrlYNU6KmfpvKUZqJRPmpSVdb%2F2%2BwG6rw3WHO6qBxWjwPga2b9U7DvU0LCke0myB8cRhdimWuONNendFNuwm9KnvhrUbszsLT4dIxufiYQarCqQvx0FuMG21%2FPTKWXbpvHbSSG663qqBi2xYmIP%2BmvQ9JvZMkWN%2FOtVhkDqT8YcyaaLshDVv0xDvzdsP6h4YYjDohaABooNIuP1OVJ9fzzUe4F4ZlP5eZDAKKCPOU%2FfG9UitWHxm3feQDe460sVVbiGow7is85fhQsoeHQEfqqLifPXwxo2s72bwaxd2ZJOTYh7ra7MJeTtZoGOp0BJqQMDoOIol1WSTKBI02ne6rUGKfvR6ksj%2BjEQR9OURvMj843tnJketh6IUBNG%2Be0q7Y0YcV2AAKj1Q7nloa%2B6LoRFOyvKwy4SAfNh%2F1KGM8%2F%2FitZfxzOAwI%2BtlEPKuHWL3OWAyusy6VSXaw4PYtJrS9lual9O%2Brz3kK2au4JZnkeZH3KJsIefE4tJ2GcL%2FT3IOt7htI%2BGRZZDGNCHQ%3D%3D&X-Amz-Signature=ede7eb8c7601b6207ec6f85a0f9cb0ae16628d40e495d78f119991f04309d169
    FullHistoryFiles:
      type: object
      title: History Object
      description: Returns History Response
      properties:
        fileName:
          description: The filename of the trial data
          type: string
          example: 2022_03.tar.gz
        url:
          description: Download link for the clinical trials provided by the Ozmosi feed
          type: string
          example: https://fdss3-unstructured-data-delivery-orbit-v2-prod.s3.amazonaws.com/archive/2022_06.tar.gz?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=ASIA6B6XG7VE23HSGOXN%2F20221017%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20221017T124345Z&X-Amz-Expires=1800&X-Amz-SignedHeaders=host&X-Amz-Security-Token=IQoJb3JpZ2luX2VjED0aCXVzLWVhc3QtMSJIMEYCIQDVUwdFfY7TovRIELO54fCybFpnRy0H9mEh%2BVYtbrShggIhAK4XqVxB7qDE7uSkiXAb%2B40iwRjHWHZKlrOPb2jqjyt9Ku4CCBYQARoMOTY2MjgyMTE2NDI1IgzHJhjd2bE1bVjuSoUqywKWvOnTxTb4QD3a2Rb3bvtpcYMtvNpkiPxDF%2BdCmmrJEn%2FPy5o6mK1SDd7CbrYusRz%2FVCunT6Qb2ZSHWcFoe2lnMBZORBkqNwbBYcaneZSHJ%2FOHL54sSkm6CkioiSZ7t6h3hplLiIbsavOWTuYfMbaXO%2B%2BF19F3rD2lHO00V7HY4uRX2zzSI23%2F18rqfvxPb9Tb5rw%2FKR2%2FFAAJaoxUnleX6oID56EaYZUCoz29G%2BDGGQ5chnOqkWrMLXSGww7vicwDHJ3CffXCDLSfrq%2FCPAVDzG5RLD%2Fur6oTEfgKoLNVILiDrnccvexEHrRm6Rm78Wd%2FE0PyjaeTp%2FZtgwrdakFZsWdDlLyYWXcjtWIkpHboJb91ofuLuLX3VHUaIQycciKFx90GhJnx%2B5hFn4Q87LaiIo9GQQQJM2GfmpO6%2FdBqL7DwJ%2FdK9u59uk7MMP%2BbtZoGOp0BTPxvk9cCBS5LfnYIgw0y2xjYxKXW6LXadcN82aQABEr0rCd%2BDhUsMi4S1LdqfpWmXpDO%2BMIdefnDqgaLzqO5V4NvukVOCDllzUUf9fs6MUC0egI6Etn5tqpyg6u6O1bPIDB1CKzB6hWulW01gE4ReWbk9RoGG5YmfLqGtJ41AeZ8gXCpQO%2BJIMyh6UEDIIIGf1RxPHi0AJb7%2F%2BvxVg%3D%3D&X-Amz-Signature=3322c497a664499b7054f597b58ecf56db54d6c1977b06c64dc0da3dc47f77b8
    pagination:
      title: PaginationItems
      description: List of pagination objects
      type: object
      properties:
        total:
          description: Total number of files the API returns for a particular query.
          type: integer
        isEstimatedTotal:
          description: Boolean value that represents whether the total count of files returned is exact or an estimate. This is defaulted to “False” as the API should always return the exact count.
          type: boolean
    SponsorsFiles:
      type: object
      title: Sponsors Object
      description: Returns Sponsors Response
      properties:
        fileName:
          description: The filename of the trial data
          type: string
          example: NCT05393180_001.json
        clinicalTrialId:
          description: Specifies Ozmosi unique ID for each historical version of a trial
          type: string
          example: NCT05393180_001
        beamSponsorsId:
          description: Ozmosi unique ID for each sponsor
          type: number
          example: 376
        beamSponsorsName:
          description: Cleaned name of Sponsor
          type: string
          example: AtriCure
        beamSponsorsType:
          description: Identifies if the sponsor is an Industry sponsor or other
          type: string
          example: Industry
        beamSponsorsTicker:
          description: Stock ticker for primary sponsor
          type: string
          example: RHHBY
        url:
          description: Download link for the clinical trials provided by the Ozmosi feed
          type: string
          example: https://fdss3-unstructured-data-delivery-ozmosi-prod.s3.amazonaws.com/ozmosi_v2/NCT05394402_001.json?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=ASIA6B6XG7VEYODKETS6%2F20221017%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20221017T125718Z&X-Amz-Expires=1800&X-Amz-SignedHeaders=host&X-Amz-Security-Token=IQoJb3JpZ2luX2VjED0aCXVzLWVhc3QtMSJIMEYCIQDzGmRWCkwvfl8WKsZ3rektfXyQa551ht8wkggj29qufwIhALaFsXrpyISV%2B6A3hASCdStEUtlzUEaBL9Bs0%2BSP3wUaKu4CCBYQARoMOTY2MjgyMTE2NDI1IgxkKPBJ4cINLlvTEkIqywKmD%2BMhpGDpCzI8LfS13Rvs%2FnCQ5S5khGdpMUk8j0kQ4%2F6xoX7SYyXjkn8VFk2OSJkfPpu6XBADJ3H6BmuJvAM5ovraQqQXjx8iuB7LPgYAHoIJNvZDivb8HV%2BmBSwbEoOyCIslX%2FFrlYNU6KmfpvKUZqJRPmpSVdb%2F2%2BwG6rw3WHO6qBxWjwPga2b9U7DvU0LCke0myB8cRhdimWuONNendFNuwm9KnvhrUbszsLT4dIxufiYQarCqQvx0FuMG21%2FPTKWXbpvHbSSG663qqBi2xYmIP%2BmvQ9JvZMkWN%2FOtVhkDqT8YcyaaLshDVv0xDvzdsP6h4YYjDohaABooNIuP1OVJ9fzzUe4F4ZlP5eZDAKKCPOU%2FfG9UitWHxm3feQDe460sVVbiGow7is85fhQsoeHQEfqqLifPXwxo2s72bwaxd2ZJOTYh7ra7MJeTtZoGOp0BJqQMDoOIol1WSTKBI02ne6rUGKfvR6ksj%2BjEQR9OURvMj843tnJketh6IUBNG%2Be0q7Y0YcV2AAKj1Q7nloa%2B6LoRFOyvKwy4SAfNh%2F1KGM8%2F%2FitZfxzOAwI%2BtlEPKuHWL3OWAyusy6VSXaw4PYtJrS9lual9O%2Brz3kK2au4JZnkeZH3KJsIefE4tJ2GcL%2FT3IOt7htI%2BGRZZDGNCHQ%3D%3D&X-Amz-Signature=16598a96c02c84f38ec6c069ebc38c5f8183f4232b8139bcaa5a3b951cc2808c
    PrimaryOutcomeResponse:
      type: object
      title: PrimaryOutcome Response
      description: Reurns PrimaryOutcomee Response
      properties:
        data:
          type: array
          description: Reurns PrimaryOutcomee Response
          items:
            $ref: '#/components/schemas/PrimaryOutcomeFiles'
        meta:
          $ref: '#/components/schemas/meta'
  examples:
    sampleCollaboratorsResponse:
      summary: Sample Response
      value:
        data:
        - fileName: NCT02497781_025.json
          clinicalTrialId: NCT02497781_025
          beamCollaboratorsId: 38300
          beamCollaboratorsName: PRA Health Sciences
          beamCollaboratorsType: Industry
          beamCollaboratorsTicker: PRAH
          url: https://fdss3-ozmosi.s3.amazonaws.com/ozmosi_v20/NCT02497781_025.json?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=ASIA4NAFRGHDEMSGXO7K%2F20211020%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20211020T171517Z&X-Amz-Expires=1800&X-Amz-SignedHeaders=host&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEFIaCXVzLWVhc3QtMSJHMEUCIGI9U6xU551LsRFjZXRZZOjT3gqtz%2FbAEARPxGbTRxHlAiEAzqASzb9iiWYe5%2FBPqa8yxgdC1Bs27rL64j%2Fyho6MdagqmwII2v%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FARABGgw4NTI1NjI2MjA4NzAiDPkz65WmKLWO%2FaQVsirvAabdTW%2FxnMqGXglYVgSk6fqzKpXE7D58rNP7aDAHaVhFPxKOefSjHzTWKR%2B2lmNlu3UD%2BZ%2BZl6cRSMlBumSUencdM31ggWUFbobQPUQpaZXn1YcRA66AJrtdY0b8w5CHKkvIoYZeJldBbgKj4RBdNQpEYGISb%2FZTD05ZPIZpgGtDPfIoPq%2FeaHdr3gKrvRuYxxwRXAd7hdL46gQV%2FLXK%2FVTGs2JFMWlFk7MYmW8uhUNf1hj9AwxpZx8bQHWRRwfUzDyNCklJB4CdM2HUw0Wgzq7o%2BTv%2BeKeU81%2BBcGBkNOaQhkAuN1xU8k7tgQ%2BOnoteMO2cwYsGOpoBMvVurxzslBIgj6Ri8ufpb86fW8GkOGhFvEgY%2BzvsVyIBX5eKrm%2FeLHPi0UqWNBzF3TFwdjesYp%2BjUfO1DSyiQZruWrc0Y%2B2BavhHmEtzndEdWoewD0vFk09mOz2KptSNpKWPzLXoxBd5ppXWMEsGDLrJGvj0kIjn0YhKDxDh68V2FrQr7WrccxFmtsv3YE4p4m2h%2BVAn7NKDsg%3D%3D&X-Amz-Signature=52ea9678bfe4b936d99197e7b705dfeb63e231857405d1b0120c6711edc9f992
        meta:
          pagination:
            total: 30199
            isEstimatedTotal: false
    samplePrimaryOutcomeResponse:
      summary: Sample Response
      value:
        data:
        - fileName: NCT03866239_011.json
          clinicalTrialId: NCT03866239_011
          primaryOutcomeMeasure: Confirmed Objective Response Rate (ORR)
          primaryOutcomeDesc: Baseline up to 5 years
          primaryOutcomeTimeFrame: ''
          url: https://fdss3-ozmosi.s3.amazonaws.com/ozmosi_v20/NCT03866239_011.json?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=ASIA4NAFRGHDDSL2P5AE%2F20211020%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20211020T192209Z&X-Amz-Expires=1800&X-Amz-SignedHeaders=host&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEFQaCXVzLWVhc3QtMSJIMEYCIQD6XINV6yIy%2BchwSDKqsyBqMmY0zcja6CRdl9d9NbH9NgIhAIQYwVlH0MYp4CzGpIWy0BRgQgidrhUGsl5o7%2FPVPyR9KpsCCN3%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEQARoMODUyNTYyNjIwODcwIgxGYZIGwu2WTXWWMaYq7wFZg20DB1atz8ZtmN9%2FNSxFy5uUCA90CExP3gmv6paZ6%2Fkj5%2F1KcK9w0YRMK%2BwozXX87G%2FE2zNdx9b6sTCySq%2BIqeeOBRYDLaeGL%2Fc2vlc3Gxld%2B7I6pBpKEz7qedekVSne%2FkPV0gYy9veTm4WfNBuThlK4M%2Fyr6B15YeGxSd2djz3vvRh08Z%2BwEGpUDKmP4sJPHY%2BoyeqzXoU6k8QOXSXLE0uecGt9Bn8vd0xuyxg5WkMUFXL62%2Bpeb5qBRXErkJqM2f%2FagWNxhvvNa3Vyck7EsFZDxOKDQcmckKVUKTvqWFpRP9YSL4nXMxtovFtSpDDf2MGLBjqZARzaNJ%2B8RyOnOJRzh0afIym2P9eiGZafD9ZpLNktADpZI31DHRXEG%2B9Qh%2Fn%2F1%2BwG7kI8%2B8Xv1dfliUMDcY4aw9T83OJpR4hKdBv8CZBSxqJqxaVS4z7gq9NdVJmyG8PdoTKkLr8vPc0d3popXUtXbDT%2FVC7GTlQvSulHBvgYlvCR8XCFB6GNhcSQvhu%2FXdVAmJRZ3Ax50Z2oJw%3D%3D&X-Amz-Signature=234146a0675284167fd8a599c17a75519a1d9f690cf9c36ad8f4a198c95e6a52
        meta:
          pagination:
            total: 1984645
            isEstimatedTotal: false
    sampleBeamEndpointsResponse:
      summary: Sample Response
      value:
        data:
        - fileName: NCT02609126_001.json
          clinicalTrialId: NCT02609126_001
          fullForm: Area Under The Curve
          name: AUC
          url: https://fdss3-ozmosi.s3.amazonaws.com/ozmosi_v20/NCT02609126_001.json?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=ASIA4NAFRGHDEMSGXO7K%2F20211020%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20211020T171434Z&X-Amz-Expires=1800&X-Amz-SignedHeaders=host&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEFIaCXVzLWVhc3QtMSJHMEUCIGI9U6xU551LsRFjZXRZZOjT3gqtz%2FbAEARPxGbTRxHlAiEAzqASzb9iiWYe5%2FBPqa8yxgdC1Bs27rL64j%2Fyho6MdagqmwII2v%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FARABGgw4NTI1NjI2MjA4NzAiDPkz65WmKLWO%2FaQVsirvAabdTW%2FxnMqGXglYVgSk6fqzKpXE7D58rNP7aDAHaVhFPxKOefSjHzTWKR%2B2lmNlu3UD%2BZ%2BZl6cRSMlBumSUencdM31ggWUFbobQPUQpaZXn1YcRA66AJrtdY0b8w5CHKkvIoYZeJldBbgKj4RBdNQpEYGISb%2FZTD05ZPIZpgGtDPfIoPq%2FeaHdr3gKrvRuYxxwRXAd7hdL46gQV%2FLXK%2FVTGs2JFMWlFk7MYmW8uhUNf1hj9AwxpZx8bQHWRRwfUzDyNCklJB4CdM2HUw0Wgzq7o%2BTv%2BeKeU81%2BBcGBkNOaQhkAuN1xU8k7tgQ%2BOnoteMO2cwYsGOpoBMvVurxzslBIgj6Ri8ufpb86fW8GkOGhFvEgY%2BzvsVyIBX5eKrm%2FeLHPi0UqWNBzF3TFwdjesYp%2BjUfO1DSyiQZruWrc0Y%2B2BavhHmEtzndEdWoewD0vFk09mOz2KptSNpKWPzLXoxBd5ppXWMEsGDLrJGvj0kIjn0YhKDxDh68V2FrQr7WrccxFmtsv3YE4p4m2h%2BVAn7NKDsg%3D%3D&X-Amz-Signature=98d5c6ce8b1e6dfb2f0e18acd5bb1a09ebce26daa54fdb2a34007bdda7f1ccb4
        meta:
          pagination:
            total: 60000
            isEstimatedTotal: false
    sampleBiomarkersResponse:
      summary: Sample Response
      value:
        data:
        - fileName: NCT02380274_033.json
          clinicalTrialId: NCT02380274_033
          biomarkerName: PSA
          biomarkerFullName: PSA
          biomarkerType: Protein
          organ: Prostate, Breast
          url: https://fdss3-ozmosi.s3.amazonaws.com/ozmosi_v20/NCT02380274_033.json?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=ASIA4NAFRGHDEMSGXO7K%2F20211020%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20211020T171428Z&X-Amz-Expires=1800&X-Amz-SignedHeaders=host&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEFIaCXVzLWVhc3QtMSJHMEUCIGI9U6xU551LsRFjZXRZZOjT3gqtz%2FbAEARPxGbTRxHlAiEAzqASzb9iiWYe5%2FBPqa8yxgdC1Bs27rL64j%2Fyho6MdagqmwII2v%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FARABGgw4NTI1NjI2MjA4NzAiDPkz65WmKLWO%2FaQVsirvAabdTW%2FxnMqGXglYVgSk6fqzKpXE7D58rNP7aDAHaVhFPxKOefSjHzTWKR%2B2lmNlu3UD%2BZ%2BZl6cRSMlBumSUencdM31ggWUFbobQPUQpaZXn1YcRA66AJrtdY0b8w5CHKkvIoYZeJldBbgKj4RBdNQpEYGISb%2FZTD05ZPIZpgGtDPfIoPq%2FeaHdr3gKrvRuYxxwRXAd7hdL46gQV%2FLXK%2FVTGs2JFMWlFk7MYmW8uhUNf1hj9AwxpZx8bQHWRRwfUzDyNCklJB4CdM2HUw0Wgzq7o%2BTv%2BeKeU81%2BBcGBkNOaQhkAuN1xU8k7tgQ%2BOnoteMO2cwYsGOpoBMvVurxzslBIgj6Ri8ufpb86fW8GkOGhFvEgY%2BzvsVyIBX5eKrm%2FeLHPi0UqWNBzF3TFwdjesYp%2BjUfO1DSyiQZruWrc0Y%2B2BavhHmEtzndEdWoewD0vFk09mOz2KptSNpKWPzLXoxBd5ppXWMEsGDLrJGvj0kIjn0YhKDxDh68V2FrQr7WrccxFmtsv3YE4p4m2h%2BVAn7NKDsg%3D%3D&X-Amz-Signature=5390a014aa6f883cbabf40e8cb11e2385d7f1d98641ef569a2cb6735bce6a543
        meta:
          pagination:
            total: 9296
            isEstimatedTotal: false
    ErrorDetails:
      summary: sample error response
      value:
        errors:
        - code: Bad Request
          title: parameterError:['_paginationLimit'] is not a valid parameter(s)
          id: 7af3d86ca5954503b9244f2620fcf5eb
    sampleOrangePurpleResponse:
      summary: Sample Response
      value:
        data:
        - fileName: NCT03135015_003.json
          clinicalTrialId: NCT03135015_003
          beamOpNovelDrug: 'No'
          beamOpNovelTarget: 'No'
          beamOpNovelDrugList: None
          beamOpNovelTargetList: None
          url: https://fdss3-ozmosi.s3.amazonaws.com/ozmosi_v20/NCT03135015_003.json?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=ASIA4NAFRGHDEMSGXO7K%2F20211020%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20211020T171437Z&X-Amz-Expires=1800&X-Amz-SignedHeaders=host&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEFIaCXVzLWVhc3QtMSJHMEUCIGI9U6xU551LsRFjZXRZZOjT3gqtz%2FbAEARPxGbTRxHlAiEAzqASzb9iiWYe5%2FBPqa8yxgdC1Bs27rL64j%2Fyho6MdagqmwII2v%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FARABGgw4NTI1NjI2MjA4NzAiDPkz65WmKLWO%2FaQVsirvAabdTW%2FxnMqGXglYVgSk6fqzKpXE7D58rNP7aDAHaVhFPxKOefSjHzTWKR%2B2lmNlu3UD%2BZ%2BZl6cRSMlBumSUencdM31ggWUFbobQPUQpaZXn1YcRA66AJrtdY0b8w5CHKkvIoYZeJldBbgKj4RBdNQpEYGISb%2FZTD05ZPIZpgGtDPfIoPq%2FeaHdr3gKrvRuYxxwRXAd7hdL46gQV%2FLXK%2FVTGs2JFMWlFk7MYmW8uhUNf1hj9AwxpZx8bQHWRRwfUzDyNCklJB4CdM2HUw0Wgzq7o%2BTv%2BeKeU81%2BBcGBkNOaQhkAuN1xU8k7tgQ%2BOnoteMO2cwYsGOpoBMvVurxzslBIgj6Ri8ufpb86fW8GkOGhFvEgY%2BzvsVyIBX5eKrm%2FeLHPi0UqWNBzF3TFwdjesYp%2BjUfO1DSyiQZruWrc0Y%2B2BavhHmEtzndEdWoewD0vFk09mOz2KptSNpKWPzLXoxBd5ppXWMEsGDLrJGvj0kIjn0YhKDxDh68V2FrQr7WrccxFmtsv3YE4p4m2h%2BVAn7NKDsg%3D%3D&X-Amz-Signature=bee2aba5b1ee4f06d9fbf0a3bf857cb6f8b91158912d8a05e370f986122c6180
        meta:
          pagination:
            total: 60000
            isEstimatedTotal: false
    AuthErrorDetails:
      summary: sample error response
      value:
        errors:
        - code: Not Authenticated
          title: Unauthenticated USERNAME-SERIAL
          id: fd5a51ff-02cf-48ec-b9b1-913d64863b0
    sampleDataResponse:
      summary: Sample Response
      value:
        data:
        - fileName: NCT04006210_022.json
          clinicalTrialId: NCT04006210_022
          uniqueProtocolId: ND0612-317
          officialTitle: A Multicenter, Randomized, Active-controlled, Double-blind, Double-dummy, Parallel Group Clinical Trial, Investigating the Efficacy, Safety, and Tolerability of Continuous Subcutaneous ND0612 Infusion in Comparison to Oral IR-LD/CD in Subjects With Parkinson's Disease Experiencing Motor Fluctuations (BouNDless)
          overallStatus: Recruiting
          primaryCompletion: '2021-03-28T00:00:00Z'
          studyCompletion: '2021-04-28T00:00:00Z'
          firstPosted: '2019-07-05T00:00:00Z'
          lastPosted: '2020-07-02T00:00:00Z'
          sponsor: NeuroDerm Ltd.
          responsibleParty: Sponsor
          dataMonitoring: 'Yes'
          studyType: Interventional
          primaryPurpose: Treatment
          studyPhase: Phase 3
          interventionalModel: Parallel Assignment
          numberOfArms: 2
          masking: Quadruple (Participant, Care Provider, Investigator, Outcomes Assessor)
          allocation: Randomized
          enrollment: 300
          minimumAge: 30 Years
          maximumAge: 80 Years
          sex: All
          genderBased: ''
          acceptsVolunteers: 'No'
          date: '2020-07-01T00:00:00Z'
          recordVerification: '2020-07-01T00:00:00Z'
          studyStart: '2019-08-27T00:00:00Z'
          firstSubmitted: '2019-06-30T00:00:00Z'
          firstSubmitMetQxCrite: '2019-06-30T00:00:00Z'
          lastSubmitMetQxCrite: '2020-07-01T00:00:00Z'
          primaryCompDateType: Anticipated
          studyCompletionDateType: None
          firstPostedDateType: Actual
          lastPostedDateType: None
          enrollmentType: Anticipated
          version: 22
          trialId: NCT04006210
          beamProbabilityOfTrialSuccess: 0.5
          beamProbabilityOfLaunch: 0.26
          url: https://fdss3-ozmosi.s3.amazonaws.com/ozmosi_v20/NCT04006210_022.json?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=ASIA4NAFRGHDEMSGXO7K%2F20211020%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20211020T171424Z&X-Amz-Expires=1800&X-Amz-SignedHeaders=host&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEFIaCXVzLWVhc3QtMSJHMEUCIGI9U6xU551LsRFjZXRZZOjT3gqtz%2FbAEARPxGbTRxHlAiEAzqASzb9iiWYe5%2FBPqa8yxgdC1Bs27rL64j%2Fyho6MdagqmwII2v%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FARABGgw4NTI1NjI2MjA4NzAiDPkz65WmKLWO%2FaQVsirvAabdTW%2FxnMqGXglYVgSk6fqzKpXE7D58rNP7aDAHaVhFPxKOefSjHzTWKR%2B2lmNlu3UD%2BZ%2BZl6cRSMlBumSUencdM31ggWUFbobQPUQpaZXn1YcRA66AJrtdY0b8w5CHKkvIoYZeJldBbgKj4RBdNQpEYGISb%2FZTD05ZPIZpgGtDPfIoPq%2FeaHdr3gKrvRuYxxwRXAd7hdL46gQV%2FLXK%2FVTGs2JFMWlFk7MYmW8uhUNf1hj9AwxpZx8bQHWRRwfUzDyNCklJB4CdM2HUw0Wgzq7o%2BTv%2BeKeU81%2BBcGBkNOaQhkAuN1xU8k7tgQ%2BOnoteMO2cwYsGOpoBMvVurxzslBIgj6Ri8ufpb86fW8GkOGhFvEgY%2BzvsVyIBX5eKrm%2FeLHPi0UqWNBzF3TFwdjesYp%2BjUfO1DSyiQZruWrc0Y%2B2BavhHmEtzndEdWoewD0vFk09mOz2KptSNpKWPzLXoxBd5ppXWMEsGDLrJGvj0kIjn0YhKDxDh68V2FrQr7WrccxFmtsv3YE4p4m2h%2BVAn7NKDsg%3D%3D&X-Amz-Signature=a163a88a367202756a3a37b4ceab6abc937748170c2ff4795bef9729661ca7c9
        meta:
          pagination:
            total: 52025
            isEstimatedTotal: false
    sampleDiseasesResponse:
      summary: Sample Response
      value:
        data:
        - fileName: NCT03976323_012.json
          clinicalTrialId: NCT03976323_012
          diseaseArea: Carcinoma
          subTherapyArea: Oncology Solid Tumor
          therapyArea: Oncology
          url: https://fdss3-ozmosi.s3.amazonaws.com/ozmosi_v20/NCT03976323_012.json?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=ASIA4NAFRGHDEMSGXO7K%2F20211020%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20211020T171426Z&X-Amz-Expires=1800&X-Amz-SignedHeaders=host&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEFIaCXVzLWVhc3QtMSJHMEUCIGI9U6xU551LsRFjZXRZZOjT3gqtz%2FbAEARPxGbTRxHlAiEAzqASzb9iiWYe5%2FBPqa8yxgdC1Bs27rL64j%2Fyho6MdagqmwII2v%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FARABGgw4NTI1NjI2MjA4NzAiDPkz65WmKLWO%2FaQVsirvAabdTW%2FxnMqGXglYVgSk6fqzKpXE7D58rNP7aDAHaVhFPxKOefSjHzTWKR%2B2lmNlu3UD%2BZ%2BZl6cRSMlBumSUencdM31ggWUFbobQPUQpaZXn1YcRA66AJrtdY0b8w5CHKkvIoYZeJldBbgKj4RBdNQpEYGISb%2FZTD05ZPIZpgGtDPfIoPq%2FeaHdr3gKrvRuYxxwRXAd7hdL46gQV%2FLXK%2FVTGs2JFMWlFk7MYmW8uhUNf1hj9AwxpZx8bQHWRRwfUzDyNCklJB4CdM2HUw0Wgzq7o%2BTv%2BeKeU81%2BBcGBkNOaQhkAuN1xU8k7tgQ%2BOnoteMO2cwYsGOpoBMvVurxzslBIgj6Ri8ufpb86fW8GkOGhFvEgY%2BzvsVyIBX5eKrm%2FeLHPi0UqWNBzF3TFwdjesYp%2BjUfO1DSyiQZruWrc0Y%2B2BavhHmEtzndEdWoewD0vFk09mOz2KptSNpKWPzLXoxBd5ppXWMEsGDLrJGvj0kIjn0YhKDxDh68V2FrQr7WrccxFmtsv3YE4p4m2h%2BVAn7NKDsg%3D%3D&X-Amz-Signature=61fd0138360446ab620dbeacc6fa9408c435f3370db72229f09a9bd432025168
        meta:
          pagination:
            total: 119902
            isEstimatedTotal: false
    sampleInterventionResponse:
      summary: Sample Response
      value:
        data:
        - fileName: NCT02526017_012.json
          clinicalTrialId: NCT02526017_012
          beamInterventionType: Biological
          beamInterventionName: BMS-936558
          beamInterventionDesc: ''
          beamOtherName: anti-PD-1 (anti-programmed-death-1)  MDX-1106  Nivolumab
          beamArmGroupLabel: Phase 1b combination therapy dose expansion
          url: https://fdss3-ozmosi.s3.amazonaws.com/ozmosi_v20/NCT02526017_012.json?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=ASIA4NAFRGHDEMSGXO7K%2F20211020%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20211020T171511Z&X-Amz-Expires=1800&X-Amz-SignedHeaders=host&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEFIaCXVzLWVhc3QtMSJHMEUCIGI9U6xU551LsRFjZXRZZOjT3gqtz%2FbAEARPxGbTRxHlAiEAzqASzb9iiWYe5%2FBPqa8yxgdC1Bs27rL64j%2Fyho6MdagqmwII2v%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FARABGgw4NTI1NjI2MjA4NzAiDPkz65WmKLWO%2FaQVsirvAabdTW%2FxnMqGXglYVgSk6fqzKpXE7D58rNP7aDAHaVhFPxKOefSjHzTWKR%2B2lmNlu3UD%2BZ%2BZl6cRSMlBumSUencdM31ggWUFbobQPUQpaZXn1YcRA66AJrtdY0b8w5CHKkvIoYZeJldBbgKj4RBdNQpEYGISb%2FZTD05ZPIZpgGtDPfIoPq%2FeaHdr3gKrvRuYxxwRXAd7hdL46gQV%2FLXK%2FVTGs2JFMWlFk7MYmW8uhUNf1hj9AwxpZx8bQHWRRwfUzDyNCklJB4CdM2HUw0Wgzq7o%2BTv%2BeKeU81%2BBcGBkNOaQhkAuN1xU8k7tgQ%2BOnoteMO2cwYsGOpoBMvVurxzslBIgj6Ri8ufpb86fW8GkOGhFvEgY%2BzvsVyIBX5eKrm%2FeLHPi0UqWNBzF3TFwdjesYp%2BjUfO1DSyiQZruWrc0Y%2B2BavhHmEtzndEdWoewD0vFk09mOz2KptSNpKWPzLXoxBd5ppXWMEsGDLrJGvj0kIjn0YhKDxDh68V2FrQr7WrccxFmtsv3YE4p4m2h%2BVAn7NKDsg%3D%3D&X-Amz-Signature=a7d6bd61e7a6c28aa437a3d53ef2b0f93e523bac697e6b5c8a7d189772aedd5e
        meta:
          pagination:
            total: 203852
            isEstimatedTotal: false
    AuthorizationErrorDetails:
      summary: sample error response
      value:
        errors:
        - code: Forbidden
          title: USERNAME-SERIAL does not have permission
          id: 7af3d86ca5954503b9244f2620fcf5eb
    sampleFullHistoryResponse:
      summary: Sample Response
      value:
        data:
        - fileName: clinical_trials_pit_factset_historic_1_part-09.json
          url: https://fdss3-unstructured-data-delivery-ozmosi-prod.s3.amazonaws.com/ozmosi_source/full_history_v2/clinical_trials_pit_factset_historic_1_part-09.json?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=ASIA6B6XG7VEU2T5QLU6%2F20211130%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20211130T144500Z&X-Amz-Expires=86400&X-Amz-SignedHeaders=host&X-Amz-Security-Token=IQoJb3JpZ2luX2VjECYaCXVzLWVhc3QtMSJHMEUCIQC7DsXx6kEAz7tRvA9UCCCOs9pzeuZTVja6n3RyUYyPYwIgELxMmCBBqcxB3Q1RPVTdVgbKezBV0HdipgCs2XrqMRoqmwII7%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FARABGgw5NjYyODIxMTY0MjUiDEkR1g8P1KWTj4onjirvAY76L6DloZRpp9T21riJXQNQYBPyRCVLJH%2FA4LIvk6M4S3A6ClIwbkVyuQTnCqJZHEj6BBTplM7BfdlhLpfcvDqHMHVEBiE3b8LTS9sRnI56lYr8%2FqsQ9INqxjThujxSZ%2Bf0dWw2274e1HLYzqK9pBAvfYLGCBdZivIMpBO%2FGDCqRRbhPSYbj2B9PhcBwdFyMPgyBcyrHTK7VCPqzwVzQ%2FiHsAY13IRMVKtbLdb0WM1ZVFLcrrpHMnO2M2dJ26WUq2%2BPUXcyO39JdsscUjFInbi5ntoO%2BTna0dMR9WTtn6bD4l0xAXcuRZkXifSalJP%2FMPnYmI0GOpoB%2FgD%2FeWnYXzZwPGSzXMsSXojMkNjtZRvWRRyJ%2BmJthR0rDBAfCt%2Bc8BxTAvlodMJ8%2BR2iMWfPwHZ5P7QGbCjFk75SIUsdhkYwyzzw9cYrLxPvyaQmGzU0%2FLLf6utat%2B7OJU2Gb1EDnVINV6kyhq8Xi1xURHvDJDs3m9%2FJ%2BjtxXdgz8icbfzpP2oCizzhuVUxMyX%2B00mT%2BO5x%2FqQ%3D%3D&X-Amz-Signature=f30cfd89ea17afd16164d5dbf33bdf72cb38dd472535ac41a535f25630f1fd9e
        meta:
          pagination:
            total: 64
            isEstimatedTotal: false
    serverErrorDetails:
      summary: sample error response
      value:
        errors:
        - code: Internal server error
          title: An unexpected error happened
          id: 7af3d86ca5954503b9244f2620fcf5eb
    sampleSponsorsResponse:
      summary: Sample Response
      value:
        data:
        - fileName: NCT03802591_001.json
          clinicalTrialId: NCT03802591_001
          beamSponsorsId: 53713
          beamSponsorsName: CStone Pharmaceuticals
          beamSponsorsType: Industry
          beamSponsorsTicker: CSPHF
          url: https://fdss3-ozmosi.s3.amazonaws.com/ozmosi_v20/NCT03802591_001.json?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=ASIA4NAFRGHDEMSGXO7K%2F20211020%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20211020T171516Z&X-Amz-Expires=1800&X-Amz-SignedHeaders=host&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEFIaCXVzLWVhc3QtMSJHMEUCIGI9U6xU551LsRFjZXRZZOjT3gqtz%2FbAEARPxGbTRxHlAiEAzqASzb9iiWYe5%2FBPqa8yxgdC1Bs27rL64j%2Fyho6MdagqmwII2v%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FARABGgw4NTI1NjI2MjA4NzAiDPkz65WmKLWO%2FaQVsirvAabdTW%2FxnMqGXglYVgSk6fqzKpXE7D58rNP7aDAHaVhFPxKOefSjHzTWKR%2B2lmNlu3UD%2BZ%2BZl6cRSMlBumSUencdM31ggWUFbobQPUQpaZXn1YcRA66AJrtdY0b8w5CHKkvIoYZeJldBbgKj4RBdNQpEYGISb%2FZTD05ZPIZpgGtDPfIoPq%2FeaHdr3gKrvRuYxxwRXAd7hdL46gQV%2FLXK%2FVTGs2JFMWlFk7MYmW8uhUNf1hj9AwxpZx8bQHWRRwfUzDyNCklJB4CdM2HUw0Wgzq7o%2BTv%2BeKeU81%2BBcGBkNOaQhkAuN1xU8k7tgQ%2BOnoteMO2cwYsGOpoBMvVurxzslBIgj6Ri8ufpb86fW8GkOGhFvEgY%2BzvsVyIBX5eKrm%2FeLHPi0UqWNBzF3TFwdjesYp%2BjUfO1DSyiQZruWrc0Y%2B2BavhHmEtzndEdWoewD0vFk09mOz2KptSNpKWPzLXoxBd5ppXWMEsGDLrJGvj0kIjn0YhKDxDh68V2FrQr7WrccxFmtsv3YE4p4m2h%2BVAn7NKDsg%3D%3D&X-Amz-Signature=56c988aeba973ff8f7d10f4594d08244eddfdfa500a8c8539506323d3407d979
        meta:
          pagination:
            total: 60000
            isEstimatedTotal: false
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
externalDocs:
  url: https://developer.factset.com/api-catalog/analytics-datastore-api
  description: API Documentation
