openapi: 3.2.0
info:
  title: FactSet StreetAccount News Headlines API
  description: '

    Accessing streetAccount news along with business logic contained in the

    workstation experience'
  version: 0.1.0
  contact:
    name: FactSet Research Systems
    url: https://developer.factset.com/contact
    email: api@factset.com
  license:
    name: Apache License, Version 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
servers:
- url: https://api.factset.com/research/news/v0
security:
- FactSetApiKey: []
- FactSetOAuth2: []
tags:
- name: Headlines
  description: Get headlines for a specified view or specified filters
paths:
  /streetaccount/headlines:
    post:
      summary: Factset Retrieve Streetaccount Headlines for Given Filters
      description: This endpoint will pull all headlines produced by StreetAccount and the full story body will be returned by the data set. Filters can be specified via the endpoint below.
      tags:
      - Headlines
      operationId: getStreetAccountHeadlines
      requestBody:
        $ref: '#/components/requestBodies/saHeadlinesRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/searchResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /streetaccount/views/{id}/headlines:
    post:
      summary: Factset Retrieve Streetaccount Headlines for Given View
      description: This endpoint allows you to pull all headlines produced by StreetAccount for a saved view. The full story body will be returned by the data set. Views can be created via the Create Views endpoint.
      tags:
      - Headlines
      operationId: getStreetAccountHeadlinesByView
      requestBody:
        $ref: '#/components/requestBodies/saHeadlinesRequestByView'
      parameters:
      - in: path
        name: id
        example: SA News View
        schema:
          type: string
        required: true
        description: view id of the view to return headlines for
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/searchResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    errorObject:
      type: object
      properties:
        id:
          type: string
          example: abc123
        title:
          type: string
          example: Example Title
        code:
          type: string
          example: example_value
    error:
      type: object
      properties:
        meta:
          type: object
          example: example_value
        errors:
          type: array
          items:
            $ref: '#/components/schemas/errorObject'
          example: []
    saHeadlinesRequestTickersObject:
      type: object
      properties:
        name:
          type: string
          example: S&P 500
        value:
          type: string
          example: SP50
        type:
          type: string
          example: Index
          enum:
          - Index
          - ETF
          - Mutual_Fund
          - Portfolios
    searchResponseArrayObject:
      type: object
      properties:
        docsStoryDateAndTime:
          type: string
          example: '2022-09-15T06:48:19Z'
        docsHeadlines:
          type: string
          example: Sample Headline
        docsId:
          type: string
          example: sa_story_3393235
        docsPrimarySymbols:
          type: array
          items:
            type: string
            example: AAPL-US
          example: []
        docsSymbols:
          type: array
          items:
            type: string
            example: AAPL-US
          example: []
        docsSubjects:
          type: array
          items:
            type: string
            example: SA_EARNINGS
          example: []
        docsStoryBody:
          type: string
          example: Sample Body
        docsReferenceUris:
          type: string
          example: Sample URI
    saHeadlinesRequest:
      type: object
      properties:
        data:
          type: object
          properties:
            tickers:
              type: array
              items:
                $ref: '#/components/schemas/saHeadlinesRequestTickersObject'
            categories:
              type: array
              items:
                type: string
                example: Earnings
            regions:
              type: array
              items:
                type: string
                example: North America
            topics:
              type: array
              items:
                type: string
                example: Market Summaries
            sectors:
              type: array
              items:
                type: string
                example: Gold & Silver
            isPrimary:
              type: boolean
              example: true
            searchDate:
              type: object
              properties:
                start:
                  type: string
                  description: Start time for custom search. startTime must follow the ISO 8601 standard format, YYYY-MM-DDTHH:mm:ssZ (UTC). It also supports offsets [hh]:[mm]
                  example: '2022-08-21T12:35:45Z'
                end:
                  type: string
                  description: End time for custom search. If end time is not present end time is automatically set to the time of the search. endTime must follow the ISO 8601 standard format, YYYY-MM-DDTHH:mm:ssZ (UTC). It also supports offsets [hh]:[mm]
                  example: '2022-08-29T08:10:30Z'
          example: example_value
        meta:
          type: object
          properties:
            pagination:
              type: object
              description: Object defining pagination for the results pageable attribute. Offset-based strategy is used for Pagination.
              properties:
                limit:
                  type: integer
                  example: 50
                  default: 500
                  description: Non-negative maximum number of entries to return.
                offset:
                  type: integer
                  example: 100
                  default: 0
                  description: Non-negative number of entries to skip.
          example: example_value
    searchResponse:
      type: object
      description: Properties in results objects are based on return values
      properties:
        data:
          type: object
          properties:
            results:
              type: array
              items:
                $ref: '#/components/schemas/searchResponseArrayObject'
          example: example_value
        meta:
          type: object
          properties:
            requestGuid:
              type: string
            pagination:
              type: object
              properties:
                total:
                  type: integer
                  example: 100
                isEstimatedTotal:
                  type: boolean
                  example: false
          example: example_value
    saHeadlinesRequestByView:
      type: object
      properties:
        data:
          type: object
          properties:
            searchDate:
              type: object
              properties:
                start:
                  type: string
                  description: Start time for custom search. startTime must follow the ISO 8601 standard format, YYYY-MM-DDTHH:mm:ssZ (UTC). It also supports offsets [hh]:[mm]
                  example: '2022-08-21T12:35:45Z'
                end:
                  type: string
                  description: End time for custom search. If end time is not present end time is automatically set to the time of the search. endTime must follow the ISO 8601 standard format, YYYY-MM-DDTHH:mm:ssZ (UTC). It also supports offsets [hh]:[mm]
                  example: '2022-08-29T08:10:30Z'
          example: example_value
        meta:
          type: object
          properties:
            pagination:
              type: object
              description: Object defining pagination for the results pageable attribute. Offset-based strategy is used for Pagination.
              properties:
                limit:
                  type: integer
                  example: 50
                  default: 500
                  description: Non-negative maximum number of entries to return.
                offset:
                  type: integer
                  example: 100
                  default: 0
                  description: Non-negative number of entries to skip.
          example: example_value
  examples:
    searchDate:
      summary: Using searchDate
      value:
        data:
          tickers:
          - name: S&P 500
            value: SP50
            type: Index
          categories:
          - Earnings
          regions:
          - North America
          topics:
          - Market Summaries
          sectors:
          - Gold & Silver
          isPrimary: true
          searchDate:
            start: '2022-08-21T12:35:45Z'
            end: '2022-08-29T08:10:30Z'
        meta:
          pagination:
            limit: 50
            offset: 100
    searchDateid:
      summary: Using searchDate with id
      value:
        data:
          searchDate:
            start: '2022-08-21T12:35:45Z'
            end: '2022-08-29T08:10:30Z'
        meta:
          pagination:
            limit: 50
            offset: 100
  requestBodies:
    saHeadlinesRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/saHeadlinesRequest'
          examples:
            Using searchDate:
              $ref: '#/components/examples/searchDate'
      description: Filter Body which needs to be sent with request
    saHeadlinesRequestByView:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/saHeadlinesRequestByView'
          examples:
            Using searchDate with id:
              $ref: '#/components/examples/searchDateid'
      description: View body which needs to be sent with request
  securitySchemes:
    FactSetOAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://auth.factset.com/as/token.oauth2
          scopes: {}
    FactSetApiKey:
      type: http
      scheme: basic
externalDocs:
  description: API Documentation
  url: https://developer.factset.com/api-catalog/streetaccount-news-api
