openapi: 3.0.0
info:
  title: FactSet Bonds API for Digital Portals
  description: |-
    Search for fixed income instruments, using a criteria-based screener. The
    API provides also fundamental data and key figures.
  version: '2'
servers:
  - url: https://api.factset.com/wealth/v1
paths:
  /debtInstrument/get:
    get:
      tags:
        - Debt
        - Instrument
        - Get
      operationId: get/debtInstrument/get
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Fundamental data for a debt instrument.
      description: >-
        Fundamental data for a debt instrument; any other instrument yields
        empty values for debt-instrument-specific attributes. Dates are
        interpreted in the timezone of the issuer.
      parameters:
        - name: id
          in: query
          schema:
            type: string
            format: id64
            x-positive: true
            description: Identifier of the instrument.
          required: true
        - name: _attributes
          in: query
          schema:
            type: array
            items:
              type: string
              maxLength: 100
              exclusiveMaximum: false
            uniqueItems: true
            maxItems: 50
          style: form
          explode: false
          description: Limit the attributes returned in the response to the specified set.
        - name: _language
          in: query
          schema:
            type: string
            format: isoLanguage
            description: ISO 639-1 code of the language.
            maxLength: 2
            minLength: 2
            exclusiveMinimum: false
            exclusiveMaximum: false
      responses:
        '200':
          $ref: '#/components/responses/GetDebtInstrumentGet200Response'
  /debtInstrument/issuer/search:
    post:
      tags:
        - Debt
        - Instrument
        - Issuer
        - Search
      operationId: post/debtInstrument/issuer/search
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Search for issuers of debt instruments.
      description: >-
        Search for issuers of debt instruments. FactSet does not consolidate the
        data provided by different suppliers, therefore the result may contain
        more than one identifier for a given issuer. The response is limited to
        100 results.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostDebtInstrumentIssuerSearchRequest'
      responses:
        '200':
          $ref: '#/components/responses/PostDebtInstrumentIssuerSearch200Response'
      parameters: []
  /debtInstrument/keyFigures/notation/get:
    get:
      tags:
        - Debt
        - Instrument
        - Key
        - Figures
        - Notation
        - Get
      operationId: get/debtInstrument/keyFigures/notation/get
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Key figures of a debt instrument.
      description: >-
        Key figures of a debt instrument. The key figures are calculated using
        delayed prices with an additional delay of 10 minutes after an  update
        of the debt instrument's price. Special product features such as the
        right to a maturity extension, an attached option, or convertibility are
        not considered for the key figure calculation. Further, a calculation is
        not performed for perpetual products and for products with variable
        interest rate.
      parameters:
        - name: id
          in: query
          schema:
            type: string
            format: id64
            x-positive: true
            description: Identifier of a notation.
          required: true
        - name: _attributes
          in: query
          schema:
            type: array
            items:
              type: string
              maxLength: 100
              exclusiveMaximum: false
            uniqueItems: true
            maxItems: 50
          style: form
          explode: false
          description: Limit the attributes returned in the response to the specified set.
      responses:
        '200':
          $ref: >-
            #/components/responses/GetDebtInstrumentKeyFiguresNotationGet200Response
  /debtInstrument/notation/screener/search:
    post:
      tags:
        - Debt
        - Instrument
        - Notation
        - Screener
        - Search
      operationId: post/debtInstrument/notation/screener/search
      x-supportsOffsetBasedPaging: true
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: >-
        Screener for debt instruments' notations based on debt
        instrument-specific parameters.
      description: >-
        Screener for debt instruments' notations based on debt
        instrument-specific parameters. The result is limited to the notations
        that satisfy all the selected filters. If more than one notation of an
        instrument matches the parameters, and no market priority has been
        specified, only the notation with the highest trading volume, averaged
        over one month, is considered.
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/PostDebtInstrumentNotationScreenerSearchRequest
      responses:
        '200':
          $ref: >-
            #/components/responses/PostDebtInstrumentNotationScreenerSearch200Response
      parameters: []
  /debtInstrument/notation/screener/valueRanges/get:
    post:
      tags:
        - Debt
        - Instrument
        - Notation
        - Screener
        - Value
        - Ranges
        - Get
      operationId: post/debtInstrument/notation/screener/valueRanges/get
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: >-
        Possible values and value ranges for the parameters used in the endpoint
        `/debtInstrument/notation/screener/search.`
      description: >-
        The endpoint returns the possible values and value ranges for the
        parameters used in the endpoint
        `/debtInstrument/notation/screener/search`. It allows to request the
        values and value ranges only for a restricted set of notations that
        match predefined parameters. The functionality may be used to pre-fill
        the values and value ranges of the parameters of the
        `/debtInstrument/notation/screener/search` endpoint so that performing a
        search always leads to a non-empty set of notations. If more than one
        notation of an instrument matches the parameters, and no market priority
        has been specified, only the notation with the highest trading volume,
        averaged over one month, is considered.
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/PostDebtInstrumentNotationScreenerValueRangesGetRequest
      responses:
        '200':
          $ref: >-
            #/components/responses/PostDebtInstrumentNotationScreenerValueRangesGet200Response
      parameters: []
components:
  schemas:
    ErrorMetaObject:
      type: object
      properties:
        status:
          $ref: '#/components/schemas/StatusObject'
    ErrorObject:
      type: array
      description: >-
        The errors member contains additional information about a failed
        request.
      items:
        type: object
        properties:
          details:
            type: string
            description: >-
              A human-readable, unstructured explanation specific to this
              occurrence of the failure.
          encryptedDetails:
            type: string
            description: >-
              Base64-encoded, internal details about the error, in addition to
              "details".
          type:
            type: number
            format: int32
            description: Internal error type of the Foundation API protocol.
          attribute:
            type: array
            description: >-
              For a validation error, a reference to the request parameter that
              failed validation; otherwise, an empty array.
            items:
              type: object
              properties:
                name:
                  type: string
                  description: Element of the path denoting the request parameter.
                index:
                  type: number
                  format: int32
                  description: >-
                    If the attribute "name" designates an array, index of the
                    array element; otherwise the special value -1.
              x-property-sort:
                - name
                - index
        x-property-sort:
          - detail
          - encryptedDetails
          - type
          - attribute
    AttributesMember:
      type: array
      description: Limit the attributes returned in the response to the specified set.
      items:
        type: string
        maxLength: 100
        exclusiveMaximum: false
      maxItems: 50
      uniqueItems: true
    LanguageMember:
      type: string
      format: isoLanguage
      description: ISO 639-1 code of the language.
      maxLength: 2
      minLength: 2
      exclusiveMinimum: false
      exclusiveMaximum: false
    StatusObject:
      type: object
      properties:
        code:
          type: number
          format: int32
          description: >-
            The HTTP status code of the response, mirroring the code from the
            Status-Line of the HTTP response message (see [RFC2616] section
            6.1).
      description: The status member contains the status code of the response.
      required:
        - code
    CursorBasedPaginationOutputObject:
      type: object
      description: Pagination attributes for the cursor-based pagination strategy.
      properties:
        total:
          type: number
          format: int32
          description: Total number of entries in the result set.
        isEstimatedTotal:
          type: boolean
          description: Flag indicating that the value of `total` is estimated.
        next:
          type: string
          description: >-
            The next cursor position to use in the parameter `pagination.cursor`
            for an endpoint that supports cursor-based pagination, otherwise
            `null`.
        previous:
          type: string
          description: >-
            The previous cursor position to use in the parameter
            `pagination.cursor` for an endpoint that supports cursor-based
            pagination. If a previous cursor position is not supported or
            available, `previous` is `null`.
      required:
        - total
        - isEstimatedTotal
        - next
        - previous
      x-property-sort:
        - total
        - isEstimatedTotal
        - next
        - previous
    CursorBasedPaginationOutputObjectWithoutTotal:
      type: object
      description: >-
        Pagination attributes for the cursor-based pagination strategy; a total
        element count is not supported.
      properties:
        next:
          type: string
          description: >-
            The next cursor position to use in the parameter `pagination.cursor`
            for an endpoint that supports cursor-based pagination, otherwise
            `null`.
        previous:
          type: string
          description: >-
            The previous cursor position to use in the parameter
            `pagination.cursor` for an endpoint that supports cursor-based
            pagination. If a previous cursor position is not supported or
            available, `previous` is `null`.
      required:
        - next
        - previous
      x-property-sort:
        - next
        - previous
    OffsetBasedPaginationOutputObject:
      type: object
      description: Pagination attributes for the offset-based pagination strategy.
      properties:
        total:
          type: number
          format: int32
          description: Total number of entries in the result set.
        isEstimatedTotal:
          type: boolean
          description: Flag indicating that the value of "total" is estimated.
      required:
        - total
        - isEstimatedTotal
      x-property-sort:
        - total
        - isEstimatedTotal
    OffsetBasedPaginationOutputObjectWithoutTotal:
      type: object
      description: >-
        Pagination attributes for the offset-based pagination strategy; a total
        element count is not supported.
      properties:
        hasNext:
          type: boolean
          description: >-
            Flag indicating that a subsequent request with the same parameters,
            except that the parameter `pagination.offset` is incremented by
            `pagination.limit`, would yield additional results.
      required:
        - hasNext
      x-property-sort:
        - hasNext
    PartialOutputObject:
      type: object
      properties:
        isPartial:
          type: boolean
          description: >-
            Flag indicating that the response is a possibly incomplete array or
            an object containing a possibly incomplete array, due to hitting a
            processing time limit. If `true`, some matching results might be
            missing from the array, or elements for matching results might be
            incorrectly included (for example, when priority sorting would have
            removed the element). Depending on the use case, such a response may
            be unsuitable.
      description: Object denoting that the endpoint response is possibly incomplete.
      required:
        - isPartial
      x-property-sort:
        - isPartial
    PostDebtInstrumentIssuerSearchRequest:
      type: object
      properties:
        data:
          type: object
          x-property-sort:
            - name
            - minimumRatingGrade
            - country
            - market
          description: The data member contains the request's primary data.
          properties:
            name:
              type: object
              x-property-sort:
                - searchValue
              description: Issuer name.
              properties:
                searchValue:
                  type: string
                  pattern: ^[ -!#-&(-+--/0-:=?-Za-zw"]*$
                  minLength: 3
                  exclusiveMinimum: false
                  maxLength: 100
                  exclusiveMaximum: false
                  description: Text string to be searched for.
            minimumRatingGrade:
              type: object
              x-property-sort:
                - debtInstrument
              description: >-
                Minimum rating grade requirements for the issuers or their debt
                instruments. In either case, only one identifier per rating
                system is allowed. See endpoint `/rating/grade/listBySystem` for
                valid values.
              properties:
                debtInstrument:
                  type: object
                  x-property-sort:
                    - ids
                  description: >-
                    Debt instrument rating. Only issuers whose debt instruments
                    are rated higher than or equal to the rating grades in the
                    provided list are returned.
                  properties:
                    ids:
                      type: array
                      nullable: false
                      items:
                        type: number
                        format: id32
                        x-positive: true
                      maxItems: 5
                      uniqueItems: true
                      description: List of rating grade identifiers.
            country:
              type: object
              x-property-sort:
                - ids
              description: >-
                List of countries of registration of the issuers. Only issuers
                that are registered in a country in the provided list are
                returned.
              properties:
                ids:
                  type: array
                  nullable: false
                  items:
                    type: number
                    format: id32
                    x-positive: true
                  maxItems: 20
                  uniqueItems: true
                  description: >-
                    List of country identifiers. See endpoint
                    `/basic/region/country/list` for valid values.
            market:
              type: object
              x-property-sort:
                - ids
              description: >-
                List of markets where debt instruments are traded. Only issuers
                that have issued at least one debt instrument traded on a market
                in the provided list are returned.
              properties:
                ids:
                  type: array
                  nullable: false
                  items:
                    type: number
                    format: id32
                    x-positive: true
                  maxItems: 20
                  uniqueItems: true
                  description: >-
                    List of market identifiers. See endpoint
                    `/basic/market/list` for valid values.
        meta:
          type: object
          description: The meta member contains the meta information of the request.
          properties:
            attributes:
              $ref: '#/components/schemas/AttributesMember'
          x-property-sort:
            - attributes
    PostDebtInstrumentNotationScreenerSearchRequest:
      type: object
      properties:
        data:
          type: object
          x-property-sort:
            - validation
            - lifeCycle
            - subordinated
            - rating
            - issuer
            - issue
            - tradingVolume
            - compliance
            - coupon
            - yield
            - macaulayDuration
            - sensitivities
            - tradedValue
          description: The data member contains the request's primary data.
          properties:
            validation:
              description: Validation parameters.
              type: object
              x-property-sort:
                - onlyActive
                - onlyNotSuspended
                - prices
                - valueUnit
                - market
                - instrumentSelectionList
                - notationSelectionList
                - categorization
              properties:
                onlyActive:
                  description: >-
                    If `true`, only active notations will be returned. The term
                    "active" reflects the fact that notations and related data
                    is not being deleted immediately after becoming irrelevant
                    (e.g. because the source does not provide a price anymore),
                    but remains in general retrievable for up to 6 months.
                  type: boolean
                  default: true
                onlyNotSuspended:
                  description: >-
                    If `true`, only notations not suspended from trading will be
                    returned.
                  type: boolean
                  default: false
                prices:
                  description: Price-related parameters.
                  type: object
                  x-property-sort:
                    - quality
                    - latest
                    - previous
                  properties:
                    quality:
                      type: string
                      description: Quality of the price.
                      default: DLY
                      x-enum-description:
                        - >-
                          Delayed: intraday prices with an exchange-imposed
                          delay of usually 15 to 30 minutes.
                        - >-
                          End-of-day: prices updated once per day after the
                          close of trading, possibly with an exchange-imposed
                          delay of several hours or days.
                      enum:
                        - DLY
                        - EOD
                    latest:
                      description: >-
                        Parameters related to the presence and age of the most
                        recent trade price.
                      type: object
                      x-property-sort:
                        - availableOnly
                        - minimumDate
                      properties:
                        availableOnly:
                          description: >-
                            If `true`, only notations for which a trade price
                            (even an outdated one) is available will be
                            returned.
                          type: boolean
                        minimumDate:
                          description: >-
                            Earliest admissible date of the most recent trade
                            price.
                          type: string
                          format: date
                    previous:
                      description: >-
                        Parameters related to the presence and age of a trade
                        price from a preceding trading day.
                      type: object
                      x-property-sort:
                        - availableOnly
                        - minimumDate
                      properties:
                        availableOnly:
                          description: >-
                            If `true`, only notations for which a trade price
                            from a preceding trading day is available will be
                            returned.
                          type: boolean
                        minimumDate:
                          description: >-
                            Earliest admissible date of the trade price from a
                            preceding trading day.
                          type: string
                          format: date
                valueUnit:
                  description: >-
                    Value unit selection. See endpoint `/basic/valueUnit/list`
                    for valid values.
                  type: object
                  x-property-sort:
                    - restrict
                    - exclude
                  x-atMostOne: true
                  properties:
                    restrict:
                      description: Specifies the value units a notation may have.
                      type: object
                      x-property-sort:
                        - ids
                      properties:
                        ids:
                          description: Set of value unit identifiers.
                          type: array
                          nullable: false
                          items:
                            type: number
                            format: id32
                            x-positive: true
                          uniqueItems: true
                          maxItems: 50
                    exclude:
                      description: Specifies the value units a notation may not have.
                      type: object
                      x-property-sort:
                        - ids
                      properties:
                        ids:
                          description: Set of value unit identifiers.
                          type: array
                          nullable: false
                          items:
                            type: number
                            format: id32
                            x-positive: true
                          uniqueItems: true
                          maxItems: 50
                market:
                  description: >-
                    Market-related notation selection. See endpoint
                    `/basic/market/list` for valid values.
                  type: object
                  x-property-sort:
                    - selection
                    - priority
                  properties:
                    selection:
                      description: Market selection.
                      type: object
                      x-property-sort:
                        - restrict
                        - exclude
                      x-atMostOne: true
                      properties:
                        restrict:
                          description: >-
                            Specifies the markets from which a notation may
                            originate.
                          type: object
                          x-property-sort:
                            - ids
                          properties:
                            ids:
                              description: Set of market identifiers.
                              type: array
                              nullable: false
                              items:
                                type: number
                                format: id32
                                x-positive: true
                              uniqueItems: true
                              maxItems: 100
                        exclude:
                          description: >-
                            Specifies the markets from which a notation may not
                            originate.
                          type: object
                          x-property-sort:
                            - ids
                          properties:
                            ids:
                              description: Set of market identifiers.
                              type: array
                              nullable: false
                              items:
                                type: number
                                format: id32
                                x-positive: true
                              uniqueItems: true
                              maxItems: 100
                    priority:
                      description: >-
                        Sequence of markets specifying the priority order of the
                        markets for the selection of one notation per
                        instrument. If for a given instrument with two matching
                        notations, A and B, the market of notation A precedes
                        the market of notation B in this list or if the market
                        of notation B is not in this list, A is selected. If
                        neither of the markets is in this list, the notation
                        with the highest trading volume, averaged over one
                        month, is selected.        
                         The list does not restrict the request to only those markets (use the parameter `market.selection` for that purpose).
                      type: object
                      x-property-sort:
                        - ids
                      properties:
                        ids:
                          description: List of market identifiers.
                          type: array
                          nullable: false
                          items:
                            type: number
                            format: id32
                            x-positive: true
                          uniqueItems: true
                          maxItems: 100
                instrumentSelectionList:
                  description: Instrument-level restriction or exclusion.
                  type: object
                  x-property-sort:
                    - restrict
                    - exclude
                  x-atMostOne: true
                  properties:
                    restrict:
                      description: >-
                        Restriction lists. If present, the result contains only
                        notations belonging to debt instruments that are a
                        member of any of the provided lists.
                      type: object
                      x-property-sort:
                        - ids
                      properties:
                        ids:
                          description: Set of identifiers of restriction lists.
                          type: array
                          nullable: false
                          items:
                            type: number
                            format: id32
                            x-positive: true
                          uniqueItems: true
                          maxItems: 3
                    exclude:
                      description: >-
                        Exclusion lists. If present, the result does not contain
                        notations belonging to debt instruments that are a
                        member of any of the provided lists.
                      type: object
                      x-property-sort:
                        - ids
                      properties:
                        ids:
                          description: Set of identifiers of exclusion lists.
                          type: array
                          nullable: false
                          items:
                            type: number
                            format: id32
                            x-positive: true
                          uniqueItems: true
                          maxItems: 3
                notationSelectionList:
                  description: Notation-level restriction or exclusion.
                  type: object
                  x-property-sort:
                    - restrict
                    - exclude
                  x-atMostOne: true
                  properties:
                    restrict:
                      description: >-
                        Restriction lists. If present, the result contains only
                        debt instrument notations that are a member of any of
                        the provided lists.
                      type: object
                      x-property-sort:
                        - ids
                      properties:
                        ids:
                          description: Set of identifiers of restriction lists.
                          type: array
                          nullable: false
                          items:
                            type: number
                            format: id32
                            x-positive: true
                          uniqueItems: true
                          maxItems: 3
                    exclude:
                      description: >-
                        Exclusion lists. If present, the result does not contain
                        debt instrument notations that are a member of any of
                        the provided lists.
                      type: object
                      x-property-sort:
                        - ids
                      properties:
                        ids:
                          description: Set of identifiers of exclusion lists.
                          type: array
                          nullable: false
                          items:
                            type: number
                            format: id32
                            x-positive: true
                          uniqueItems: true
                          maxItems: 3
                categorization:
                  description: >-
                    Debt instrument categorization. See endpoint
                    `/category/listBySystem` with `id=18` for valid values.
                  type: object
                  x-property-sort:
                    - restrict
                    - exclude
                  x-atMostOne: true
                  properties:
                    restrict:
                      description: >-
                        Restriction list. Only debt instruments that belong to a
                        category in the provided list are returned.
                      type: object
                      x-property-sort:
                        - ids
                      properties:
                        ids:
                          description: Set of category identifiers.
                          type: array
                          nullable: false
                          items:
                            type: number
                            format: id32
                            x-positive: true
                          uniqueItems: true
                          maxItems: 20
                    exclude:
                      description: >-
                        Exclusion lists. Debt instruments that belong to a
                        category in the provided list are not returned.
                      type: object
                      x-property-sort:
                        - ids
                      properties:
                        ids:
                          description: Set of category identifiers.
                          type: array
                          nullable: false
                          items:
                            type: number
                            format: id32
                            x-positive: true
                          uniqueItems: true
                          maxItems: 20
            lifeCycle:
              description: Parameters related to important dates.
              type: object
              x-property-sort:
                - issue
                - maturity
                - callable
              properties:
                issue:
                  type: object
                  format: dateRange
                  x-isClosedInterval: true
                  properties:
                    start:
                      type: string
                      format: date
                      description: >-
                        The starting point of the date range (inclusive), or
                        `null` to indicate that the date range extends
                        indefinitely into the past.
                      x-allowNullValue: true
                    end:
                      type: string
                      format: date
                      description: >-
                        The ending point of the date range (inclusive), or
                        `null` to indicate that the date range extends
                        indefinitely into the future.
                      x-allowNullValue: true
                  x-property-sort:
                    - start
                    - end
                  required:
                    - start
                    - end
                  description: Date range of the issue date.
                maturity:
                  description: Parameters related to the maturity.
                  type: object
                  x-property-sort:
                    - restriction
                    - perpetual
                  properties:
                    restriction:
                      description: >-
                        The maturity can be restricted by using one of the
                        parameters `date` or `remainingTermYears` but not both
                        at the same time. If a maturity restriction is set,
                        perpetual instruments, i.e. such that do not mature, are
                        not included in the result unless the parameter
                        `perpetual` is set to "include".
                      type: object
                      x-property-sort:
                        - date
                        - remainingTermYears
                      x-atMostOne: true
                      properties:
                        date:
                          type: object
                          format: dateRange
                          x-isClosedInterval: true
                          properties:
                            start:
                              type: string
                              format: date
                              description: >-
                                The starting point of the date range
                                (inclusive), or `null` to indicate that the date
                                range extends indefinitely into the past.
                              x-allowNullValue: true
                            end:
                              type: string
                              format: date
                              description: >-
                                The ending point of the date range (inclusive),
                                or `null` to indicate that the date range
                                extends indefinitely into the future.
                              x-allowNullValue: true
                          x-property-sort:
                            - start
                            - end
                          required:
                            - start
                            - end
                          description: Date range of the maturity date.
                        remainingTermYears:
                          description: >-
                            Value range for the remaining term to maturity
                            expressed in years.
                          type: object
                          format: realRange
                          properties:
                            minimum:
                              type: object
                              x-property-sort:
                                - value
                                - inclusive
                              description: >-
                                The minimum of the range, or `null` to indicate
                                that there is no minimum.
                              properties:
                                value:
                                  type: number
                                  format: real
                                  description: The minimum value.
                                inclusive:
                                  type: boolean
                                  description: >-
                                    Indicates whether the minimum value is
                                    included in the range or not.
                                  default: true
                              x-allowNullValue: true
                            maximum:
                              type: object
                              x-property-sort:
                                - value
                                - inclusive
                              description: >-
                                The maximum of the range, or `null` to indicate
                                that there is no maximum.
                              properties:
                                value:
                                  type: number
                                  format: real
                                  description: The maximum value.
                                inclusive:
                                  type: boolean
                                  description: >-
                                    Indicates whether the maximum value is
                                    included in the range or not.
                                  default: true
                              x-allowNullValue: true
                          x-property-sort:
                            - minimum
                            - maximum
                    perpetual:
                      type: string
                      description: >-
                        Defines whether or not perpetual debt instruments, i.e.
                        such that do not mature, are included in the result. The
                        value "only" can be used if both parameters
                        `maturity.restriction.date` and
                        `maturity.restriction.remainingTermYears` are not set.
                      x-enum-description:
                        - >-
                          Only perpetual debt instruments are included in the
                          result.
                        - >-
                          Perpetual debt instruments are included in the result
                          even if one of the parameters
                          `maturity.restriction.date` or
                          `maturity.restriction.remainingTermYears` is set.
                        - >-
                          Perpetual debt instruments are excluded from the
                          result.
                      enum:
                        - only
                        - include
                        - exclude
                callable:
                  type: boolean
                  description: >-
                    Restricts the result to debt instruments that are callable
                    (`true`) or are not callable (`false`). A callable
                    instrument is one that may be redeemed by the issuer prior
                    to maturity.
            subordinated:
              description: >-
                Restricts the result to debt instruments that are subordinated
                (`true`) or are not subordinated (`false`). In case of default,
                subordinated debt instruments are redeemed with a lower priority
                than non-subordinated.
              type: boolean
            rating:
              description: Parameters related to a rating of a debt instrument.
              type: object
              x-property-sort:
                - grade
              properties:
                grade:
                  description: Rating grade.
                  type: object
                  x-property-sort:
                    - minimum
                  properties:
                    minimum:
                      description: Minimum rating grade.
                      type: object
                      x-property-sort:
                        - ids
                      properties:
                        ids:
                          description: >-
                            List of rating grade identifiers. Allowed are at
                            most two identifiers which must refer to rating
                            grades originating from different rating systems.
                            Only debt instruments that satisfy all conditions,
                            i.e. are rated higher than or equal to all provided
                            rating grades, are returned. The sequence of the
                            provided identifiers corresponds to the response
                            attributes `ratingSystem1` and `ratingSystem2`
                            respectively, i.e. the rating grade of a debt
                            instrument in the rating system of which the first
                            identifier in the provided list is a member, is
                            represented by the attribute
                            `ratingSystem1.rating.grade` (and
                            `ratingSystem1.rating.id` for the identifier of the
                            rating grade).
                          type: array
                          nullable: false
                          items:
                            type: number
                            format: id32
                            x-positive: true
                          uniqueItems: true
                          maxItems: 2
            issuer:
              description: Parameters related to the issuer.
              type: object
              x-property-sort:
                - selection
                - country
              properties:
                selection:
                  description: >-
                    Issuer selection. See endpoint
                    `/debtInstrument/issuer/search` for valid values.
                  type: object
                  x-property-sort:
                    - restrict
                    - exclude
                  x-atMostOne: true
                  properties:
                    restrict:
                      description: >-
                        Restriction list. Only debt instruments issued by an
                        issuer in the provided list are returned.
                      type: object
                      x-property-sort:
                        - ids
                      properties:
                        ids:
                          description: >-
                            Set of identifiers of legal entities in the role of
                            an issuer.
                          type: array
                          nullable: false
                          items:
                            type: number
                            format: id32
                            x-positive: true
                          uniqueItems: true
                          maxItems: 100
                    exclude:
                      description: >-
                        Exclusion list. Debt instruments issued by an issuer in
                        the provided list are not returned.
                      type: object
                      x-property-sort:
                        - ids
                      properties:
                        ids:
                          description: >-
                            Set of identifiers of legal entities in the role of
                            an issuer.
                          type: array
                          nullable: false
                          items:
                            type: number
                            format: id32
                            x-positive: true
                          uniqueItems: true
                          maxItems: 100
                country:
                  description: >-
                    Selection of the country of registration of the debt
                    instrtuments' issuer. See endpoint
                    `/basic/region/country/list` for valid values.
                  type: object
                  x-property-sort:
                    - restrict
                    - exclude
                  x-atMostOne: true
                  properties:
                    restrict:
                      description: >-
                        Restriction list. Only debt instruments issued by an
                        issuer whose country of registration is in the provided
                        list are returned.
                      type: object
                      x-property-sort:
                        - ids
                      properties:
                        ids:
                          description: Set of country identifiers.
                          type: array
                          nullable: false
                          items:
                            type: number
                            format: id32
                            x-positive: true
                          uniqueItems: true
                          maxItems: 50
                    exclude:
                      description: >-
                        Exclusion list. Debt instruments issued by an issuer
                        whose country of registration is in the provided list
                        are not returned.
                      type: object
                      x-property-sort:
                        - ids
                      properties:
                        ids:
                          description: Set of country identifiers.
                          type: array
                          nullable: false
                          items:
                            type: number
                            format: id32
                            x-positive: true
                          uniqueItems: true
                          maxItems: 50
            issue:
              description: Parameters related to the issue.
              type: object
              x-property-sort:
                - volume
              properties:
                volume:
                  description: Issue volume.
                  type: object
                  x-property-sort:
                    - currency
                  properties:
                    currency:
                      description: >-
                        Selection of the main currency of denomination of the
                        issue volume. See endpoint
                        `/basic/valueUnit/currency/main/list` for valid values.
                      type: object
                      x-property-sort:
                        - restrict
                        - exclude
                      x-atMostOne: true
                      properties:
                        restrict:
                          description: >-
                            Restriction list. Only debt instruments with a main
                            currency of denomination in the provided list are
                            returned.
                          type: object
                          x-property-sort:
                            - ids
                          properties:
                            ids:
                              description: Set of main currency identifiers.
                              type: array
                              nullable: false
                              items:
                                type: number
                                format: id32
                                x-positive: true
                              uniqueItems: true
                              maxItems: 50
                        exclude:
                          description: >-
                            Exclusion list. Debt instruments with a main
                            currency of denomination in the provided list are
                            not returned.
                          type: object
                          x-property-sort:
                            - ids
                          properties:
                            ids:
                              description: Set of main currency identifiers.
                              type: array
                              nullable: false
                              items:
                                type: number
                                format: id32
                                x-positive: true
                              uniqueItems: true
                              maxItems: 50
            tradingVolume:
              description: >-
                Parameters regarding the trading volume. The issuer of a debt
                instrument may define a minimum trading volume, and an increment
                over that minimum, per market place and for the over-the-counter
                (e.g. interbank) trade. Orders that do not match the defined
                volumes cannot be (fully) executed. The currency is the currency
                of denomination, thus the parameter
                `issue.volume.currency.restrict.ids` must be set to exactly one
                currency in order to use this parameter.
              type: object
              x-property-sort:
                - otc
              properties:
                otc:
                  description: >-
                    Volume applicable to the over-the-counter (non-exchange
                    based) trading.
                  type: object
                  x-property-sort:
                    - minimum
                  properties:
                    minimum:
                      description: Value range for the minimum trading volume.
                      type: object
                      format: realRange
                      properties:
                        minimum:
                          type: object
                          x-property-sort:
                            - value
                            - inclusive
                          description: >-
                            The minimum of the range, or `null` to indicate that
                            there is no minimum.
                          properties:
                            value:
                              type: number
                              format: real
                              description: The minimum value.
                            inclusive:
                              type: boolean
                              description: >-
                                Indicates whether the minimum value is included
                                in the range or not.
                              default: true
                          x-allowNullValue: true
                        maximum:
                          type: object
                          x-property-sort:
                            - value
                            - inclusive
                          description: >-
                            The maximum of the range, or `null` to indicate that
                            there is no maximum.
                          properties:
                            value:
                              type: number
                              format: real
                              description: The maximum value.
                            inclusive:
                              type: boolean
                              description: >-
                                Indicates whether the maximum value is included
                                in the range or not.
                              default: true
                          x-allowNullValue: true
                      x-property-sort:
                        - minimum
                        - maximum
            compliance:
              description: Compliance properties.
              type: object
              x-property-sort:
                - germany
              properties:
                germany:
                  description: Compliance properties in accordance with the German law.
                  type: object
                  x-property-sort:
                    - trusteeEligible
                  properties:
                    trusteeEligible:
                      type: boolean
                      description: >-
                        Defines whether or not the debt instruments are eligible
                        for investment by trustees according to §§1806ff of
                        the BGB (German Civil Code). The German legislative has
                        declared such debt instruments to be virtually free of
                        the risk of loss, such as government and state bonds.
                        Eligible are primarily German debt instruments.
            coupon:
              description: Parameters regarding the interest rate.
              type: object
              x-property-sort:
                - occurrence
                - currentInterestRate
              properties:
                occurrence:
                  description: >-
                    Parameters regarding the occurrence and frequency of the
                    coupon payments.
                  type: object
                  x-property-sort:
                    - type
                    - frequency
                  properties:
                    type:
                      type: array
                      nullable: false
                      items:
                        type: string
                        x-enum-description:
                          - Include debt instruments that do not pay a coupon.
                          - >-
                            Include debt instruments that pay a coupon only
                            once.
                          - >-
                            Include debt instruments that pay a coupon on a
                            repeated basis, possibly further limited by
                            `occurrence.frequency`.
                        enum:
                          - never
                          - once
                          - repeated
                      description: Occurrence type of the coupon payments.
                      uniqueItems: true
                    frequency:
                      description: >-
                        Frequency of the coupon payments. This filter is only
                        applied to debt instruments whose
                        `coupon.occurrence.type` is `repeated`. If this
                        parameter is set, `occurrence.type` must include the
                        value `repeated` or must not be set (in which case
                        `repeated` is implied).
                      type: object
                      x-property-sort:
                        - ids
                      properties:
                        ids:
                          description: >-
                            List of frequency identifiers. See endpoint
                            `/basic/frequency/type/list` for valid values.
                          type: array
                          nullable: false
                          items:
                            type: number
                            format: id32
                            x-positive: true
                          uniqueItems: true
                          maxItems: 9
                currentInterestRate:
                  description: >-
                    Interest rate of the current coupon period. Not available
                    for debt instruments with an occurrence type of the coupon
                    payments "never".
                  type: object
                  x-property-sort:
                    - type
                    - value
                  properties:
                    type:
                      description: Type of the interest rate.
                      type: object
                      x-property-sort:
                        - ids
                      properties:
                        ids:
                          description: >-
                            List of interest rate type identifiers. See endpoint
                            `/instrument/coupon/interestRate/type/list` for
                            valid values.
                          type: array
                          nullable: false
                          items:
                            type: number
                            format: id32
                            x-positive: true
                          uniqueItems: true
                          maxItems: 5
                    value:
                      description: >-
                        Value range for the interest rate of the current coupon
                        period; annualized if the payment frequency is not
                        "annually". Not available for debt instruments with a
                        current interest rate type other than "fixed rate"
                        (`id=2`) or "step/reset" (`id=5`).
                      type: object
                      format: relativeValueRange
                      properties:
                        minimum:
                          type: object
                          x-property-sort:
                            - value
                            - inclusive
                          description: >-
                            The minimum of the range, or `null` to indicate that
                            there is no minimum.
                          properties:
                            value:
                              type: number
                              format: relativeValue
                              description: The minimum value.
                            inclusive:
                              type: boolean
                              description: >-
                                Indicates whether the minimum value is included
                                in the range or not.
                              default: true
                          x-allowNullValue: true
                        maximum:
                          type: object
                          x-property-sort:
                            - value
                            - inclusive
                          description: >-
                            The maximum of the range, or `null` to indicate that
                            there is no maximum.
                          properties:
                            value:
                              type: number
                              format: relativeValue
                              description: The maximum value.
                            inclusive:
                              type: boolean
                              description: >-
                                Indicates whether the maximum value is included
                                in the range or not.
                              default: true
                          x-allowNullValue: true
                      x-property-sort:
                        - minimum
                        - maximum
            yield:
              description: Parameters related to the yield.
              type: object
              x-property-sort:
                - current
                - toMaturity
                - spread
              properties:
                current:
                  description: >-
                    Value range for the current yield, which is the next annual
                    interest payment divided by the price. If the coupon period
                    is different than a year, the interest payment is
                    annualized.
                  type: object
                  format: relativeValueRange
                  properties:
                    minimum:
                      type: object
                      x-property-sort:
                        - value
                        - inclusive
                      description: >-
                        The minimum of the range, or `null` to indicate that
                        there is no minimum.
                      properties:
                        value:
                          type: number
                          format: relativeValue
                          description: The minimum value.
                        inclusive:
                          type: boolean
                          description: >-
                            Indicates whether the minimum value is included in
                            the range or not.
                          default: true
                      x-allowNullValue: true
                    maximum:
                      type: object
                      x-property-sort:
                        - value
                        - inclusive
                      description: >-
                        The maximum of the range, or `null` to indicate that
                        there is no maximum.
                      properties:
                        value:
                          type: number
                          format: relativeValue
                          description: The maximum value.
                        inclusive:
                          type: boolean
                          description: >-
                            Indicates whether the maximum value is included in
                            the range or not.
                          default: true
                      x-allowNullValue: true
                  x-property-sort:
                    - minimum
                    - maximum
                toMaturity:
                  description: >-
                    Value range for the yield to maturity, which is the annual
                    rate of return, assuming the instrument is held until
                    maturity.
                  type: object
                  format: relativeValueRange
                  properties:
                    minimum:
                      type: object
                      x-property-sort:
                        - value
                        - inclusive
                      description: >-
                        The minimum of the range, or `null` to indicate that
                        there is no minimum.
                      properties:
                        value:
                          type: number
                          format: relativeValue
                          description: The minimum value.
                        inclusive:
                          type: boolean
                          description: >-
                            Indicates whether the minimum value is included in
                            the range or not.
                          default: true
                      x-allowNullValue: true
                    maximum:
                      type: object
                      x-property-sort:
                        - value
                        - inclusive
                      description: >-
                        The maximum of the range, or `null` to indicate that
                        there is no maximum.
                      properties:
                        value:
                          type: number
                          format: relativeValue
                          description: The maximum value.
                        inclusive:
                          type: boolean
                          description: >-
                            Indicates whether the maximum value is included in
                            the range or not.
                          default: true
                      x-allowNullValue: true
                  x-property-sort:
                    - minimum
                    - maximum
                spread:
                  description: >-
                    Value range for the credit spread (the difference in yield
                    to maturity) between a debt instrument and its benchmark
                    bond. See endpoint `/instrument/benchmark/list` for the
                    benchmark bond.
                  type: object
                  format: relativeValueRange
                  properties:
                    minimum:
                      type: object
                      x-property-sort:
                        - value
                        - inclusive
                      description: >-
                        The minimum of the range, or `null` to indicate that
                        there is no minimum.
                      properties:
                        value:
                          type: number
                          format: relativeValue
                          description: The minimum value.
                        inclusive:
                          type: boolean
                          description: >-
                            Indicates whether the minimum value is included in
                            the range or not.
                          default: true
                      x-allowNullValue: true
                    maximum:
                      type: object
                      x-property-sort:
                        - value
                        - inclusive
                      description: >-
                        The maximum of the range, or `null` to indicate that
                        there is no maximum.
                      properties:
                        value:
                          type: number
                          format: relativeValue
                          description: The maximum value.
                        inclusive:
                          type: boolean
                          description: >-
                            Indicates whether the maximum value is included in
                            the range or not.
                          default: true
                      x-allowNullValue: true
                  x-property-sort:
                    - minimum
                    - maximum
            macaulayDuration:
              description: >-
                Value range for the Macaulay duration, which is the average
                period (in years) of capital commitment.
              type: object
              format: realRange
              properties:
                minimum:
                  type: object
                  x-property-sort:
                    - value
                    - inclusive
                  description: >-
                    The minimum of the range, or `null` to indicate that there
                    is no minimum.
                  properties:
                    value:
                      type: number
                      format: real
                      description: The minimum value.
                    inclusive:
                      type: boolean
                      description: >-
                        Indicates whether the minimum value is included in the
                        range or not.
                      default: true
                  x-allowNullValue: true
                maximum:
                  type: object
                  x-property-sort:
                    - value
                    - inclusive
                  description: >-
                    The maximum of the range, or `null` to indicate that there
                    is no maximum.
                  properties:
                    value:
                      type: number
                      format: real
                      description: The maximum value.
                    inclusive:
                      type: boolean
                      description: >-
                        Indicates whether the maximum value is included in the
                        range or not.
                      default: true
                  x-allowNullValue: true
              x-property-sort:
                - minimum
                - maximum
            sensitivities:
              description: >-
                Parameters related to the price sensitivities of debt
                instruments with respect to the prevailing market interest rate.
              type: object
              x-property-sort:
                - basePointValue
                - modifiedDuration
                - elasticity
                - convexity
              properties:
                basePointValue:
                  description: >-
                    Value range for the base point value, which is the change of
                    the debt instrument's price for a one base point change
                    (nominally, not relatively) of the prevailing market
                    interest rate. One base point is equivalent to 0.01 percent
                    (1/100 of a percent). The unit of the base point value is
                    the value unit of the notation, thus the parameter
                    `validation.valueUnit.restrict.ids` must be set to exactly
                    one value unit in order to use the parameter.
                  type: object
                  format: realRange
                  properties:
                    minimum:
                      type: object
                      x-property-sort:
                        - value
                        - inclusive
                      description: >-
                        The minimum of the range, or `null` to indicate that
                        there is no minimum.
                      properties:
                        value:
                          type: number
                          format: real
                          description: The minimum value.
                        inclusive:
                          type: boolean
                          description: >-
                            Indicates whether the minimum value is included in
                            the range or not.
                          default: true
                      x-allowNullValue: true
                    maximum:
                      type: object
                      x-property-sort:
                        - value
                        - inclusive
                      description: >-
                        The maximum of the range, or `null` to indicate that
                        there is no maximum.
                      properties:
                        value:
                          type: number
                          format: real
                          description: The maximum value.
                        inclusive:
                          type: boolean
                          description: >-
                            Indicates whether the maximum value is included in
                            the range or not.
                          default: true
                      x-allowNullValue: true
                  x-property-sort:
                    - minimum
                    - maximum
                modifiedDuration:
                  description: >-
                    Value range for the modified duration, which is the
                    percentage change of the debt instrument's price for a one
                    percent change (nominally, not relatively) of the prevailing
                    market interest rate.
                  type: object
                  format: relativeValueRange
                  properties:
                    minimum:
                      type: object
                      x-property-sort:
                        - value
                        - inclusive
                      description: >-
                        The minimum of the range, or `null` to indicate that
                        there is no minimum.
                      properties:
                        value:
                          type: number
                          format: relativeValue
                          description: The minimum value.
                        inclusive:
                          type: boolean
                          description: >-
                            Indicates whether the minimum value is included in
                            the range or not.
                          default: true
                      x-allowNullValue: true
                    maximum:
                      type: object
                      x-property-sort:
                        - value
                        - inclusive
                      description: >-
                        The maximum of the range, or `null` to indicate that
                        there is no maximum.
                      properties:
                        value:
                          type: number
                          format: relativeValue
                          description: The maximum value.
                        inclusive:
                          type: boolean
                          description: >-
                            Indicates whether the maximum value is included in
                            the range or not.
                          default: true
                      x-allowNullValue: true
                  x-property-sort:
                    - minimum
                    - maximum
                elasticity:
                  description: >-
                    Value range for the yield elasticity, which is the ratio of
                    the percentage change of the debt instrument's price for a
                    one percent change (relatively, not nominally) of the
                    prevailing market interest rate.
                  type: object
                  format: relativeValueRange
                  properties:
                    minimum:
                      type: object
                      x-property-sort:
                        - value
                        - inclusive
                      description: >-
                        The minimum of the range, or `null` to indicate that
                        there is no minimum.
                      properties:
                        value:
                          type: number
                          format: relativeValue
                          description: The minimum value.
                        inclusive:
                          type: boolean
                          description: >-
                            Indicates whether the minimum value is included in
                            the range or not.
                          default: true
                      x-allowNullValue: true
                    maximum:
                      type: object
                      x-property-sort:
                        - value
                        - inclusive
                      description: >-
                        The maximum of the range, or `null` to indicate that
                        there is no maximum.
                      properties:
                        value:
                          type: number
                          format: relativeValue
                          description: The maximum value.
                        inclusive:
                          type: boolean
                          description: >-
                            Indicates whether the maximum value is included in
                            the range or not.
                          default: true
                      x-allowNullValue: true
                  x-property-sort:
                    - minimum
                    - maximum
                convexity:
                  description: >-
                    Value range for the convexity, which is a measure for the
                    change of the modified duration as the prevailing market
                    interest rate changes.
                  type: object
                  format: realRange
                  properties:
                    minimum:
                      type: object
                      x-property-sort:
                        - value
                        - inclusive
                      description: >-
                        The minimum of the range, or `null` to indicate that
                        there is no minimum.
                      properties:
                        value:
                          type: number
                          format: real
                          description: The minimum value.
                        inclusive:
                          type: boolean
                          description: >-
                            Indicates whether the minimum value is included in
                            the range or not.
                          default: true
                      x-allowNullValue: true
                    maximum:
                      type: object
                      x-property-sort:
                        - value
                        - inclusive
                      description: >-
                        The maximum of the range, or `null` to indicate that
                        there is no maximum.
                      properties:
                        value:
                          type: number
                          format: real
                          description: The maximum value.
                        inclusive:
                          type: boolean
                          description: >-
                            Indicates whether the maximum value is included in
                            the range or not.
                          default: true
                      x-allowNullValue: true
                  x-property-sort:
                    - minimum
                    - maximum
            tradedValue:
              description: >-
                Parameters regarding the cash flow for all transactions over a
                certain time range. The currency is the currency of
                denomination, thus the parameter
                `issue.volume.currency.restrict.ids` must be set to exactly one
                currency in order to use these parameters.
              type: object
              x-property-sort:
                - days30
              properties:
                days30:
                  description: Cash flow for the time range 30 trading days.
                  type: object
                  x-property-sort:
                    - sum
                    - average
                  properties:
                    sum:
                      description: Value range for the sum of the cash flow.
                      type: object
                      format: realRange
                      properties:
                        minimum:
                          type: object
                          x-property-sort:
                            - value
                            - inclusive
                          description: >-
                            The minimum of the range, or `null` to indicate that
                            there is no minimum.
                          properties:
                            value:
                              type: number
                              format: real
                              description: The minimum value.
                            inclusive:
                              type: boolean
                              description: >-
                                Indicates whether the minimum value is included
                                in the range or not.
                              default: true
                          x-allowNullValue: true
                        maximum:
                          type: object
                          x-property-sort:
                            - value
                            - inclusive
                          description: >-
                            The maximum of the range, or `null` to indicate that
                            there is no maximum.
                          properties:
                            value:
                              type: number
                              format: real
                              description: The maximum value.
                            inclusive:
                              type: boolean
                              description: >-
                                Indicates whether the maximum value is included
                                in the range or not.
                              default: true
                          x-allowNullValue: true
                      x-property-sort:
                        - minimum
                        - maximum
                    average:
                      description: Value range for the average daily cash flow.
                      type: object
                      format: realRange
                      properties:
                        minimum:
                          type: object
                          x-property-sort:
                            - value
                            - inclusive
                          description: >-
                            The minimum of the range, or `null` to indicate that
                            there is no minimum.
                          properties:
                            value:
                              type: number
                              format: real
                              description: The minimum value.
                            inclusive:
                              type: boolean
                              description: >-
                                Indicates whether the minimum value is included
                                in the range or not.
                              default: true
                          x-allowNullValue: true
                        maximum:
                          type: object
                          x-property-sort:
                            - value
                            - inclusive
                          description: >-
                            The maximum of the range, or `null` to indicate that
                            there is no maximum.
                          properties:
                            value:
                              type: number
                              format: real
                              description: The maximum value.
                            inclusive:
                              type: boolean
                              description: >-
                                Indicates whether the maximum value is included
                                in the range or not.
                              default: true
                          x-allowNullValue: true
                      x-property-sort:
                        - minimum
                        - maximum
        meta:
          type: object
          description: The meta member contains the meta information of the request.
          properties:
            attributes:
              $ref: '#/components/schemas/AttributesMember'
            language:
              $ref: '#/components/schemas/LanguageMember'
            sort:
              description: >-
                Sortable attributes. The sort order is ascending unless it is
                prefixed with a minus sign, in which case it is descending. A
                list of at most 10 (possibly prefixed) attribute name(s) is
                allowed.
              type: array
              items:
                type: string
                enum:
                  - valueUnit.code
                  - '-valueUnit.code'
                  - market.name
                  - '-market.name'
                  - symbol
                  - '-symbol'
                  - instrument.name
                  - '-instrument.name'
                  - instrument.shortName
                  - '-instrument.shortName'
                  - instrument.categorization.level1.name
                  - '-instrument.categorization.level1.name'
                  - instrument.categorization.level2.name
                  - '-instrument.categorization.level2.name'
                  - instrument.categorization.level3.name
                  - '-instrument.categorization.level3.name'
                  - instrument.lifeCycle.issue
                  - '-instrument.lifeCycle.issue'
                  - instrument.lifeCycle.maturity.date
                  - '-instrument.lifeCycle.maturity.date'
                  - instrument.lifeCycle.maturity.remainingTermYears
                  - '-instrument.lifeCycle.maturity.remainingTermYears'
                  - instrument.lifeCycle.maturity.perpetual
                  - '-instrument.lifeCycle.maturity.perpetual'
                  - instrument.lifeCycle.callable
                  - '-instrument.lifeCycle.callable'
                  - instrument.subordinated
                  - '-instrument.subordinated'
                  - instrument.ratingSystem1.rating.grade
                  - '-instrument.ratingSystem1.rating.grade'
                  - instrument.ratingSystem2.rating.grade
                  - '-instrument.ratingSystem2.rating.grade'
                  - instrument.issuer.name
                  - '-instrument.issuer.name'
                  - instrument.issuer.country.name
                  - '-instrument.issuer.country.name'
                  - instrument.issue.volume.currency.isoCode
                  - '-instrument.issue.volume.currency.isoCode'
                  - instrument.tradingVolume.otc.minimum
                  - '-instrument.tradingVolume.otc.minimum'
                  - instrument.compliance.germany.trusteeEligible
                  - '-instrument.compliance.germany.trusteeEligible'
                  - instrument.coupon.occurrence.frequency.name
                  - '-instrument.coupon.occurrence.frequency.name'
                  - instrument.coupon.currentInterestRate.type.name
                  - '-instrument.coupon.currentInterestRate.type.name'
                  - instrument.coupon.currentInterestRate.value
                  - '-instrument.coupon.currentInterestRate.value'
                  - yield.current
                  - '-yield.current'
                  - yield.toMaturity
                  - '-yield.toMaturity'
                  - yield.spread
                  - '-yield.spread'
                  - macaulayDuration
                  - '-macaulayDuration'
                  - sensitivities.basePointValue
                  - '-sensitivities.basePointValue'
                  - sensitivities.modifiedDuration
                  - '-sensitivities.modifiedDuration'
                  - sensitivities.elasticity
                  - '-sensitivities.elasticity'
                  - sensitivities.convexity
                  - '-sensitivities.convexity'
                  - tradedValue.days30.sum
                  - '-tradedValue.days30.sum'
                  - tradedValue.days30.average
                  - '-tradedValue.days30.average'
              maxItems: 10
              uniqueItems: true
              default:
                - instrument.name
            pagination:
              type: object
              description: Pagination attributes for the offset-based pagination strategy.
              properties:
                offset:
                  type: number
                  format: int32
                  minimum: 0
                  exclusiveMinimum: false
                  default: 0
                  description: Non-negative number of entries to skip, or 0 (default).
                limit:
                  type: number
                  format: int32
                  minimum: 0
                  exclusiveMinimum: false
                  maximum: 500
                  exclusiveMaximum: false
                  default: 20
                  description: Non-negative maximum number of entries to return.
              x-property-sort:
                - offset
                - limit
          x-property-sort:
            - attributes
            - language
            - sort
            - pagination
    PostDebtInstrumentNotationScreenerValueRangesGetRequest:
      type: object
      properties:
        data:
          type: object
          x-property-sort:
            - validation
            - lifeCycle
            - subordinated
            - rating
            - issuer
            - issue
            - tradingVolume
            - compliance
            - coupon
            - yield
            - macaulayDuration
            - sensitivities
            - tradedValue
          description: The data member contains the request's primary data.
          properties:
            validation:
              description: Validation parameters.
              type: object
              x-property-sort:
                - onlyActive
                - onlyNotSuspended
                - prices
                - valueUnit
                - market
                - instrumentSelectionList
                - notationSelectionList
                - categorization
              properties:
                onlyActive:
                  description: >-
                    If `true`, only active notations will be returned. The term
                    "active" reflects the fact that notations and related data
                    is not being deleted immediately after becoming irrelevant
                    (e.g. because the source does not provide a price anymore),
                    but remains in general retrievable for up to 6 months.
                  type: boolean
                  default: true
                onlyNotSuspended:
                  description: >-
                    If `true`, only notations not suspended from trading will be
                    returned.
                  type: boolean
                  default: false
                prices:
                  description: Price-related parameters.
                  type: object
                  x-property-sort:
                    - quality
                    - latest
                    - previous
                  properties:
                    quality:
                      type: string
                      description: Quality of the price.
                      default: DLY
                      x-enum-description:
                        - >-
                          Delayed: intraday prices with an exchange-imposed
                          delay of usually 15 to 30 minutes.
                        - >-
                          End-of-day: prices updated once per day after the
                          close of trading, possibly with an exchange-imposed
                          delay of several hours or days.
                      enum:
                        - DLY
                        - EOD
                    latest:
                      description: >-
                        Parameters related to the presence and age of the most
                        recent trade price.
                      type: object
                      x-property-sort:
                        - availableOnly
                        - minimumDate
                      properties:
                        availableOnly:
                          description: >-
                            If `true`, only notations for which a trade price
                            (even an outdated one) is available will be
                            returned.
                          type: boolean
                        minimumDate:
                          description: >-
                            Earliest admissible date of the most recent trade
                            price.
                          type: string
                          format: date
                    previous:
                      description: >-
                        Parameters related to the presence and age of a trade
                        price from a preceding trading day.
                      type: object
                      x-property-sort:
                        - availableOnly
                        - minimumDate
                      properties:
                        availableOnly:
                          description: >-
                            If `true`, only notations for which a trade price
                            from a preceding trading day is available will be
                            returned.
                          type: boolean
                        minimumDate:
                          description: >-
                            Earliest admissible date of the trade price from a
                            preceding trading day.
                          type: string
                          format: date
                valueUnit:
                  description: >-
                    Value unit selection. See endpoint `/basic/valueUnit/list`
                    for valid values.
                  type: object
                  x-property-sort:
                    - restrict
                    - exclude
                  x-atMostOne: true
                  properties:
                    restrict:
                      description: Specifies the value units a notation may have.
                      type: object
                      x-property-sort:
                        - ids
                      properties:
                        ids:
                          description: Set of value unit identifiers.
                          type: array
                          nullable: false
                          items:
                            type: number
                            format: id32
                            x-positive: true
                          uniqueItems: true
                          maxItems: 50
                    exclude:
                      description: Specifies the value units a notation may not have.
                      type: object
                      x-property-sort:
                        - ids
                      properties:
                        ids:
                          description: Set of value unit identifiers.
                          type: array
                          nullable: false
                          items:
                            type: number
                            format: id32
                            x-positive: true
                          uniqueItems: true
                          maxItems: 50
                market:
                  description: >-
                    Market-related notation selection. See endpoint
                    `/basic/market/list` for valid values.
                  type: object
                  x-property-sort:
                    - selection
                    - priority
                  properties:
                    selection:
                      description: Market selection.
                      type: object
                      x-property-sort:
                        - restrict
                        - exclude
                      x-atMostOne: true
                      properties:
                        restrict:
                          description: >-
                            Specifies the markets from which a notation may
                            originate.
                          type: object
                          x-property-sort:
                            - ids
                          properties:
                            ids:
[...]
