openapi: 3.2.0
info:
  version: 3.0.0
  title: FactSet Real-Time Quotes I API
  description: '

    The Quotes API combines endpoints for retrieving security end-of-day,

    delayed, and realtime prices with performance key figures and basic

    reference data on the security and market level.'
  contact:
    name: FactSet Research Systems
    url: https://developer.factset.com/contact
    email: api@factset.com
  license:
    name: Apache License, Version 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
servers:
- url: https://api.factset.com/wealth/v3
security:
- FactSetApiKey: []
- FactSetOAuth2: []
tags:
- name: I
paths:
  /instrument/crossReference/getByISIN:
    get:
      tags:
      - I
      operationId: get/instrument/crossReference/getByISIN
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      description: Translate a given ISIN to the respective most recent instrument identifier, retrieved from the Cross Reference Service.
      summary: Factset Translate Isin to Instrument.
      parameters:
      - name: isin
        in: query
        schema:
          type: string
          format: isin
          description: Source ISIN to be translated.
        required: true
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      responses:
        '200':
          $ref: '#/components/responses/GetInstrumentCrossReferenceGetByISIN200Response'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /instrument/crossReference/listByISIN:
    post:
      tags:
      - I
      operationId: post/instrument/crossReference/listByISIN
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      description: Translate a given list of ISINs to the respective most recent instrument identifiers, retrieved from the Cross Reference Service.
      summary: Factset Translate a List of Isins to Instruments.
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostInstrumentCrossReferenceListByISINRequest'
        required: true
      responses:
        '200':
          $ref: '#/components/responses/PostInstrumentCrossReferenceListByISIN200Response'
      parameters: []
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /notation/crossReference/listByISIN:
    post:
      tags:
      - I
      operationId: post/notation/crossReference/listByISIN
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Factset List of Entitled Notations.
      description: List of entitled notations.
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostNotationCrossReferenceListByISINRequest'
        required: false
      responses:
        '200':
          $ref: '#/components/responses/PostNotationCrossReferenceListByISIN200Response'
      parameters: []
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    PostNotationCrossReferenceListByISINRequest:
      x-property-sort:
      - data
      - meta
      description: Request Body
      type: object
      properties:
        data:
          type: object
          x-property-sort:
          - isin
          - filter
          description: The data member contains the request's primary data.
          properties:
            isin:
              type: string
              format: isin
              description: International Securities Identification Number.
            filter:
              type: object
              x-property-sort:
              - markets
              - valueUnits
              - onlyActive
              description: Criteria that filter the items in the response list; only items that match all of the criteria are returned.
              properties:
                markets:
                  type: object
                  x-property-sort:
                  - ids
                  description: Filter for specific markets.
                  properties:
                    ids:
                      type: array
                      items:
                        type: number
                        format: id32
                        x-positive: true
                      maxItems: 100
                      minItems: 1
                      description: List of market ids.
                valueUnits:
                  type: object
                  x-property-sort:
                  - ids
                  description: Filter for specific value units.
                  properties:
                    ids:
                      type: array
                      items:
                        type: number
                        format: id32
                        x-positive: true
                      maxItems: 100
                      minItems: 1
                      description: List of value unit ids.
                onlyActive:
                  type: boolean
                  default: false
                  description: If true, only active notations will be returned. The term "active" reflects the fact that notations and related data is not being deleted immediately after becoming irrelevant (e.g. because the source does not provide a price anymore), but remains in general retrievable for up to 6 months.
          required:
          - isin
          example: example_value
        meta:
          type: object
          description: The meta member contains the meta information of the request.
          properties:
            attributes:
              $ref: '#/components/schemas/AttributesMember'
            language:
              $ref: '#/components/schemas/LanguageMember'
          x-property-sort:
          - attributes
          - language
          example: example_value
    StatusObject:
      type: object
      properties:
        code:
          type: number
          format: int32
          description: The HTTP status code of the response, mirroring the code from the Status-Line of the HTTP response message (see [RFC2616] section 6.1).
          example: 42.5
      description: The status member contains the status code of the response.
      required:
      - code
    AttributesMember:
      type: array
      description: Limit the attributes returned in the response to the specified set.
      items:
        type: string
        maxLength: 100
      maxItems: 50
      uniqueItems: true
    PostInstrumentCrossReferenceListByISINRequest:
      x-property-sort:
      - data
      - meta
      description: Request Body
      required:
      - data
      type: object
      properties:
        data:
          type: object
          x-property-sort:
          - isins
          description: The data member contains the request's primary data.
          properties:
            isins:
              description: List of source ISINs to be translated.
              type: array
              items:
                type: string
                format: isin
              uniqueItems: true
              minItems: 1
              maxItems: 10
          required:
          - isins
          example: example_value
        meta:
          type: object
          description: The meta member contains the meta information of the request.
          properties:
            attributes:
              $ref: '#/components/schemas/AttributesMember'
          x-property-sort:
          - attributes
          example: example_value
    LanguageMember:
      type: string
      format: isoLanguage
      description: ISO 639-1 code of the language.
      maxLength: 2
      minLength: 2
  responses:
    PostNotationCrossReferenceListByISIN200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: array
                description: List of notations.
                items:
                  type: object
                  x-property-sort:
                  - id
                  - symbol
                  - active
                  - market
                  - valueUnit
                  - fsym
                  properties:
                    id:
                      type:
                      - string
                      - 'null'
                      format: id64
                      x-positive: true
                      description: Identifier of the notation.
                    symbol:
                      type:
                      - string
                      - 'null'
                      description: The symbol of the notation. It is a market-specific code to identify the notation. Which characters can be part of a symbol depends on the market. If a market does not define a proprietary symbol, but uses a different identifier (for example, the ISIN or the WKN) to identify notations, no symbol will be set for the notations of that market.
                    active:
                      type:
                      - boolean
                      - 'null'
                      description: Indicates whether the notation is active.
                    market:
                      type: object
                      x-property-sort:
                      - id
                      - name
                      description: Market of the notation. See endpoint `/basic/market/list` for possible values.
                      properties:
                        id:
                          type:
                          - number
                          - 'null'
                          format: id32
                          x-positive: true
                          description: Identifier of the market.
                        name:
                          type:
                          - string
                          - 'null'
                          format: localizedString
                          description: Name of the market.
                    valueUnit:
                      type: object
                      x-property-sort:
                      - id
                      - code
                      - isoCode
                      - name
                      description: Value unit of the notation. See endpoint `/basic/valueUnit/list` for possible values.
                      properties:
                        id:
                          type:
                          - number
                          - 'null'
                          format: id32
                          x-positive: true
                          description: Identifier of the value unit.
                        code:
                          type:
                          - string
                          - 'null'
                          description: 'Code of the value unit: If assigned, a code according to ISO 4217, otherwise a local code, for a main currency; a code such as GBp (for British pence) for a fractional currency; or a code such as PT (points) for non-currency value units.'
                        isoCode:
                          type:
                          - string
                          - 'null'
                          description: ISO 4217 code of the value unit. Empty if the ISO 4217 standard does not define a code for the currency.
                        name:
                          type:
                          - string
                          - 'null'
                          format: localizedString
                          description: Name of the value unit.
                    fsym:
                      type: object
                      x-property-sort:
                      - listing
                      - regional
                      description: Notation-level FactSet identifiers of the financial instrument used primarily in FactSet products other than the MDG.
                      properties:
                        listing:
                          type: object
                          x-property-sort:
                          - permanentIdentifier
                          - tickerExchange
                          - isPrimary
                          description: Listing-level identifiers.
                          properties:
                            permanentIdentifier:
                              type:
                              - string
                              - 'null'
                              description: FactSet Permanent Identifier for a notation. The format is six alpha numeric characters, excluding vowels, with an L suffix (XXXXXX-L).
                            tickerExchange:
                              type:
                              - string
                              - 'null'
                              description: 'FactSet market symbol of the notation, usually consisting of the ticker (e.g. "DAI" for Daimler AG) and the three-character code of the exchange on which the listing is traded (example: DAI-ETR).'
                            isPrimary:
                              type:
                              - boolean
                              - 'null'
                              description: Indicates whether the notation is the primary notation among all notations within the same region (`true`) or not (`false`).
                        regional:
                          type: object
                          x-property-sort:
                          - permanentIdentifier
                          - tickerRegion
                          - isPrimary
                          description: Regional-level identifiers.
                          properties:
                            permanentIdentifier:
                              type:
                              - string
                              - 'null'
                              description: FactSet Permanent Identifier for a set of one or more notations of the same region with the same value unit. The format is six alpha numeric characters, excluding vowels, with an R suffix (XXXXXX-R).
                            tickerRegion:
                              type:
                              - string
                              - 'null'
                              description: 'FactSet regional symbol of the notation, consisting of the ticker and the two-character code of the country or region where the listing is traded (example: DAI-DE).'
                            isPrimary:
                              type:
                              - boolean
                              - 'null'
                              description: Indicates whether the notation is in the primary region of the security (`true`) or not (`false`).
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                x-property-sort:
                - status
            x-property-sort:
            - data
            - meta
    PostInstrumentCrossReferenceListByISIN200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: array
                description: List of instruments.
                items:
                  type: object
                  x-property-sort:
                  - id
                  - fsym
                  - validity
                  - sourceIsin
                  - status
                  properties:
                    id:
                      type:
                      - string
                      - 'null'
                      format: id64
                      x-positive: true
                      description: Identifier of the instrument.
                    fsym:
                      type: object
                      x-property-sort:
                      - security
                      description: Instrument-level FactSet identifier of the financial instrument used primarily in FactSet products other than the MDG.
                      properties:
                        security:
                          type: object
                          x-property-sort:
                          - permanentIdentifier
                          description: Security-level identifier.
                          properties:
                            permanentIdentifier:
                              type:
                              - string
                              - 'null'
                              description: FactSet Permanent Identifier for an instrument. The format is six alpha numeric characters, excluding vowels, with an S suffix (XXXXXX-S).
                    validity:
                      type:
                      - object
                      - 'null'
                      format: timeRange
                      properties:
                        start:
                          type:
                          - string
                          - 'null'
                          format: datetime
                          description: The starting point of the time range (inclusive).
                        end:
                          type:
                          - string
                          - 'null'
                          format: datetime
                          description: The ending point of the time range (exclusive), or `null` to indicate that the time range extends indefinitely into the future.
                      x-property-sort:
                      - start
                      - end
                      required:
                      - start
                      - end
                      description: Time range that this translation is valid for.
                    sourceIsin:
                      type:
                      - string
                      - 'null'
                      format: isin
                      description: The source ISIN that the instrument is translated for.
                    status:
                      type: object
                      x-property-sort:
                      - code
                      - identifier
                      description: Error status for the requested identifier
                      properties:
                        code:
                          type:
                          - string
                          - 'null'
                          description: Code of the error condition.
                          x-enum-description:
                          - No error.
                          - The provided identifier does not refer to a valid ISIN.
                          - Not entitled to see data for the instrument.
                          enum:
                          - none
                          - parameter
                          - entitlement
                        identifier:
                          type:
                          - string
                          - 'null'
                          format: isin
                          description: Provided identifier.
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                x-property-sort:
                - status
            x-property-sort:
            - data
            - meta
    GetInstrumentCrossReferenceGetByISIN200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: object
                properties:
                  id:
                    type:
                    - string
                    - 'null'
                    format: id64
                    x-positive: true
                    description: Identifier of the instrument.
                  fsym:
                    type: object
                    x-property-sort:
                    - security
                    description: Instrument-level FactSet identifier of the financial instrument used primarily in FactSet products other than the MDG.
                    properties:
                      security:
                        type: object
                        x-property-sort:
                        - permanentIdentifier
                        description: Security-level identifier.
                        properties:
                          permanentIdentifier:
                            type:
                            - string
                            - 'null'
                            description: FactSet Permanent Identifier for an instrument. The format is six alpha numeric characters, excluding vowels, with an S suffix (XXXXXX-S).
                  validity:
                    type:
                    - object
                    - 'null'
                    format: timeRange
                    properties:
                      start:
                        type:
                        - string
                        - 'null'
                        format: datetime
                        description: The starting point of the time range (inclusive).
                      end:
                        type:
                        - string
                        - 'null'
                        format: datetime
                        description: The ending point of the time range (exclusive), or `null` to indicate that the time range extends indefinitely into the future.
                    x-property-sort:
                    - start
                    - end
                    required:
                    - start
                    - end
                    description: Time range that this translation is valid for.
                description: Instrument response.
                x-property-sort:
                - id
                - fsym
                - validity
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                x-property-sort:
                - status
            x-property-sort:
            - data
            - meta
  securitySchemes:
    FactSetOAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://auth.factset.com/as/token.oauth2
          scopes: {}
    FactSetApiKey:
      type: http
      scheme: basic
externalDocs:
  description: API Documentation
  url: https://developer.factset.com/api-catalog/
x-interface-version: 2
x-documenter-version: 6.3.9
x-api-version: 4.4.0
