openapi: 3.2.0
info:
  title: FactSet Open FactSet Marketplace Downloads API
  description: '

    Access FactSet''s comprehensive catalog of Data Feeds, APIs and Technology

    Solutions available on the Open FactSet Marketplace.'
  contact:
    name: Open:FactSet Frontend Engineering Team
    email: openfactset-frontend-engineering@factset.com
  license:
    name: Proprietary
  version: v2.3.0
servers:
- url: https://api-sandbox.factset.com
security:
- Basic: []
tags:
- name: Downloads
paths:
  /ofs/v2/media/download/{namespace}/{scope}/{guid}/{fileName}:
    get:
      summary: Factset Retrieve a Specific Media File
      parameters:
      - name: namespace
        in: path
        required: true
        description: The namespace of the media file
        schema:
          example: partners
      - name: scope
        in: path
        required: true
        description: The scope of the media file
        schema:
          example: logo
      - name: guid
        in: path
        required: true
        description: The GUID of the file being requested
        schema:
          example: 774c3a5c-cc77-4e4c-b4a8-224a35cb00ba
      - name: fileName
        in: path
        required: true
        description: The name you want to show for this file in the uri.
        schema:
          example: FactSet.png
      responses:
        '200':
          description: OK
        '404':
          description: Not Found
      tags:
      - Downloads
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    head:
      summary: Factset Check the existence and retrieve the headers of a spefic media file
      parameters:
      - name: namespace
        in: path
        required: true
        description: The namespace of the media file
        schema:
          example: partners
      - name: scope
        in: path
        required: true
        description: The scope of the media file
        schema:
          example: logo
      - name: guid
        in: path
        required: true
        description: The GUID of the file being requested
        schema:
          example: 774c3a5c-cc77-4e4c-b4a8-224a35cb00ba
      - name: fileName
        in: path
        required: true
        description: The name you want to show for this file in the uri.
        schema:
          example: FactSet.png
      responses:
        '200':
          description: OK
        '404':
          description: Not Found
      tags:
      - Downloads
components:
  securitySchemes:
    Basic:
      type: http
      scheme: basic
