openapi: 3.2.0
info:
  title: Factset Returns API
  version: '1.0'
  description: 'Operations tagged Returns across 3 of this provider''s published API definitions: factset-funds-api-openapi.yml, factset-portfolio-metadata-api-openapi.yml, portfolio-metadata-openapi-original.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.factset.com/content
  description: Production
- description: production
  url: https://api.factset.com/analytics/portfolio-metadata/v1
tags:
- name: Returns
paths:
  /factset-funds/v1/returns:
    get:
      tags:
      - Returns
      summary: Factset Get Fund Returns for a Requested Time-series
      operationId: getFundsReturns
      description: 'Get Fund NAV Returns over a time-series for the requested date range and frequency. <p>The simple Total Return NAV shows the fund''s total return level by reinvesting distributions so that ex-date NAVs are increased by the distribution amount and compounded thereafter. Total return NAV compounds daily and is calculated from the first available NAV date of each fund. The total return NAV series reflects the value that an investor would own if it had purchased one share at the inception date and reinvested all dividends on a Gross basis.</p><p> Control the dividends to include or exclude using the dividendAdjust parameter. The first available NAV date of each fund can be found in the /summary endpoint as `priceFristDate`. Visit [OA #21437](https://my.apps.factset.com/oa/pages/21437) for more details.</p>

        '
      parameters:
      - $ref: '#/components/parameters/ids'
      - $ref: '#/components/parameters/startDate'
      - $ref: '#/components/parameters/endDate'
      - $ref: '#/components/parameters/frequency'
      - $ref: '#/components/parameters/currency'
      - $ref: '#/components/parameters/dividendAdjust'
      responses:
        '200':
          description: The Returns response object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fundsReturnsResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - BasicAuth: []
    post:
      tags:
      - Returns
      summary: Factset Get Fund Returns for a Requested Time-series and Large List of Ids
      description: 'Get Fund NAV Returns over a time-series for the requested date range and frequency. <p>The simple Total Return NAV shows the fund''s total return level by reinvesting distributions so that ex-date NAVs are increased by the distribution amount and compounded thereafter. Total return NAV compounds daily and is calculated from the first available NAV date of each fund. The total return NAV series reflects the value that an investor would own if it had purchased one share at the inception date and reinvested all dividends on a Gross basis.</p><p> Control the dividends to include or exclude using the dividendAdjust parameter. The first available NAV date of each fund can be found in the /summary endpoint as `priceFristDate`. Visit [OA #21437](https://my.apps.factset.com/oa/pages/21437) for more details.</p>

        '
      operationId: getFundsReturnsForList
      requestBody:
        required: true
        description: The Returns request body, allowing the user to specify a list of ids.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/fundsReturnsRequest'
      responses:
        '200':
          description: The Returns response object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fundsReturnsResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - BasicAuth: []
    servers:
    - url: https://api.factset.com/content
      description: Production
  /factset-funds/v1/returns-snapshot:
    get:
      tags:
      - Returns
      summary: Factset Get Fund Returns Over Pre-defined Time Horizons as of a Specific Date.
      operationId: getFundsReturnsSnapshot
      description: "Get Fund Returns over pre-defined time horizons as of a specific date. Use the date parameter to set the perspective date, and adjust the return type to include or exclude dividends using the dividendAdjust parameter. Returns Ranges include - \n* oneWeek\n* oneMonth\n* threeMonth\n* yearToDate\n* oneYear\n* threeYear\n* threeYearAnnualized\n* fiveYear\n* fiveYearAnnualized\n"
      parameters:
      - $ref: '#/components/parameters/ids'
      - $ref: '#/components/parameters/dateSnapshot'
      - $ref: '#/components/parameters/dividendAdjust'
      responses:
        '200':
          description: The Returns Snapshot response object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fundsReturnsSnapshotResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - BasicAuth: []
    post:
      tags:
      - Returns
      summary: Factset Get Fund Returns Over Pre-defined Time Horizons as of a Specific Date.
      description: "Get Fund Returns over pre-defined time horizons as of a specific date. Use the date parameter to set the perspective date, and adjust the return type to include or exclude dividends using the dividendAdjust parameter. Returns Ranges include - \n* oneWeek\n* oneMonth\n* threeMonth\n* yearToDate\n* oneYear\n* threeYear\n* threeYearAnnualized\n* fiveYear\n* fiveYearAnnualized \n"
      operationId: getFundsReturnsSnapshotForList
      requestBody:
        required: true
        description: The Returns Snapshot request body, allowing the user to specify a list of ids.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/fundsReturnsSnapshotRequest'
      responses:
        '200':
          description: The Returns Snapshot response object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fundsReturnsSnapshotResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - BasicAuth: []
    servers:
    - url: https://api.factset.com/content
      description: Production
  /factset-funds/v1/returns-range:
    get:
      tags:
      - Returns
      summary: Factset Get Fund Returns for a User-defined Date Range
      operationId: getFundsReturnsRange
      description: 'Get Fund Returns between a specified startDate and endDate. The service will compute the return between those two periods to retrieve the single value and does not create a time-series. Control the return type to include or exclude dividends by using the dividendAdjust parameter.

        '
      parameters:
      - $ref: '#/components/parameters/ids'
      - $ref: '#/components/parameters/startDateRange'
      - $ref: '#/components/parameters/endDate'
      - $ref: '#/components/parameters/dividendAdjust'
      responses:
        '200':
          description: The Returns Range response object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/returnsRangeResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - BasicAuth: []
    post:
      tags:
      - Returns
      summary: Factset Get Fund Returns Over Pre-defined Time Horizons as of a Specific Date for Large List of Ids.
      description: 'Get Fund Returns between a specified startDate and endDate. The service will compute the return between those two periods to retrieve the single value and does not create a time-series. Control the return type to include or exclude dividends by using the dividendAdjust parameter.

        '
      operationId: getFundsReturnsRangeForList
      requestBody:
        required: true
        description: The Returns Range request body, allowing the user to specify a list of ids.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/returnsRangeRequest'
      responses:
        '200':
          description: The Returns Range response object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/returnsRangeResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - BasicAuth: []
    servers:
    - url: https://api.factset.com/content
      description: Production
  /returns/{id}:
    get:
      operationId: readReturns
      description: Read a returns
      tags:
      - Returns
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          example: 270c2fa8-9110-444b-9101-17e10132fe0a
        description: Unique identifier of the returns to be read
        example: 270c2fa8-9110-444b-9101-17e10132fe0a
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/readReturnsResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '403':
          $ref: '#/components/responses/ForbiddenErrorResponse'
        '404':
          $ref: '#/components/responses/NotFoundErrorResponse'
        '406':
          $ref: '#/components/responses/NotAcceptableErrorResponse'
        '415':
          $ref: '#/components/responses/UnsupportedMediaTypeErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        '501':
          $ref: '#/components/responses/NotImplementedErrorResponse'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - FactSetApiKey: []
      - FactSetOAuth2: []
    servers:
    - description: production
      url: https://api.factset.com/analytics/portfolio-metadata/v1
components:
  examples:
    unsupportedMediaType:
      summary: Unsupported Media Type
      description: This bad request occurs when the media type passed in the request is not supported. Currently the APIs only support 'application/json'.
      value:
        status: Unsupported Media Type
        timestamp: '2019-11-05 09:42:27.237'
        path: /factset-funds/v1/{endpoint}
        message: text/html media type is not supported. Supported media types are application/json
        subErrors: null
    badRequestDateFormat:
      summary: Bad Request - Date Format
      description: This bad request occurs when a request doesn't use the YYYY-MM-DD in the date parameters. To resolve, convert your date to YYYY-MM-DD.
      value:
        status: Bad Request
        timestamp: '2019-10-31 16:08:07.945'
        path: /factset-funds/v1/{endpoint}
        message: 'The date parameter ''startDate'' must be in the following date format: YYYY-MM-DD'
        subErrors: null
    badRequestMalformedJSON:
      summary: Bad Request - Malformed JSON Request
      description: This error may be returned when the request body is specified as JSON, but is not in proper JSON format.
      value:
        status: Bad Request
        timestamp: '2019-11-05 09:48:29.18'
        path: /factset-funds/v1/{endpoint}
        message: Malformed JSON Request
        subErrors: null
    badRequestInvalidParameters:
      summary: Bad Request - Invalid Parameters
      description: This error message occurs when a request parameter is used in which is not recognized by the service. Please revise your request to include only the parameters listed in the specification. Typical causes are spelling mistakes and use of improper casing.
      value:
        status: Bad Request
        timestamp: '2020-06-12 15:58:54.068'
        path: /factset-funds/v1/{endpoint}
        message: 'Invalid Parameter (s): fakeParameterName1 fakeParameterName2. Please modify your request to use parameters outlined in the specification for this endpoint.'
        subErrors: null
    badRequestFutureDate:
      summary: Bad Request - Future Date
      description: This error message occurs when a future date is requested in the startDate and endDate parameters. Please revise your request to include dates as of today's current date or any prior historical date.
      value:
        status: Bad Request
        timestamp: '2020-06-12 15:52:48.091'
        path: /factset-funds/v1/{endpoint}
        message: The use of future dates is not applicable in this endpoint. Please revise your request to include dates up to today's current date.
        subErrors: null
    forbidden:
      summary: Forbidden
      description: The USERNAME-SERIAL attempted to request the endpoint is not authorized to access. The request was a legal request, but the server is refusing to respond. Please reach out to FactSet Account Team for assistance with authorization.
      value:
        status: Forbidden
        timestamp: '2020-06-12 16:08:51.731'
        path: /factset-funds/v1/{endpoint}
        message: USERNAME-SERIAL does not have permission to use /factset-funds /v1/{endpoint}
        subErrors: null
    generalException:
      summary: Internal Server Error - General Exception
      description: This is the most general error that can be returned to by the service. Please `Report Issue` to FactSet.
      value:
        status: Internal Server Error
        timestamp: '2019-11-01 10:36:01.944'
        path: /factset-funds/v1/{endpoint}
        message: Unexpected error
        subErrors: null
    notWritable:
      summary: Internal Server Error - Not Writable
      description: This error may be returned when the server encounters an error writing the JSON response.
      value:
        status: Internal Server Error
        timestamp: '2019-11-05 09:48:29.18'
        path: /factset-funds/v1/{endpoint}
        message: Error writing JSON output
        subErrors: null
    unauthenticated:
      summary: User Authentication Failed
      description: This occurs when a user is not properly authenticated or recognized by the service. Please double check the USERNAME-SERIAL and API-Key used to request and ensure you are within the IP range specified for the Key. Report Issue under 401 error for help with troubleshooting.
      value:
        status: User Authentication Failed
        timestamp: '2019-10-31 16:08:07.945'
        path: /factset-funds/v1/{endpoint}
        message: User Authentication Failed.
        subErrors: null
    badRequestRequiredParameter:
      summary: Bad Request - Required Parameter Missing
      description: This error message occurs when the request does not include the required parameters. Required parameters are indicated with a red asterisks symbol in the specification file.
      value:
        status: Bad Request
        timestamp: '2020-06-12 15:48:42.016'
        path: /factset-funds/v1/{endpoint}
        message: The parameter 'ids' is required and may not be empty.
        subErrors: null
    badRequestReadTimeout:
      summary: Bad Request - Read Timeout
      description: This error may be returned if it takes more than 29 seconds to hear back from the data fetch service.
      value:
        status: Bad Request
        timestamp: '2019-11-04 16:18:38.949'
        path: /factset-funds/v1/{endpoint}
        message: The request took too long. Try again with a smaller request.
        subErrors: null
  responses:
    '403':
      description: The USERNAME-SERIAL attempted to request the endpoint is not authorized to access. The request was a legal request, but the server is refusing to respond. Please reach out to FactSet Account Team for assistance with authorization.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponse'
          examples:
            Bad Request - Date Format:
              $ref: '#/components/examples/forbidden'
    '400':
      description: Bad Request. This can occur for several reasons. Please review the "message" for more details.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponse'
          examples:
            Bad Request - Date Format:
              $ref: '#/components/examples/badRequestDateFormat'
            Bad Request - Missing Required Parameter:
              $ref: '#/components/examples/badRequestRequiredParameter'
            Bad Request - Future Date:
              $ref: '#/components/examples/badRequestFutureDate'
            Bad Request - Invalid Parameter:
              $ref: '#/components/examples/badRequestInvalidParameters'
            Bad Request - Malformed JSON:
              $ref: '#/components/examples/badRequestMalformedJSON'
            Bad Request - Read Timeout:
              $ref: '#/components/examples/badRequestReadTimeout'
    '415':
      description: Unsupported Media Type. This error may be returned when the caller sends a resource in a format that is not accepted by the server. This can be fixed by ensuring that Content-Type header is set to the correct value. In this instance, "application/json" would be the appropriate value.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponse'
          examples:
            Bad Request - Date Format:
              $ref: '#/components/examples/unsupportedMediaType'
    '401':
      description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and have successfully generated an API KEY for the IP range you are connecting from. For more help, select the **Report Issue** in the top right corner of this Developer Portal specification card and choose Connectivity 401 or 403 Responses.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponse'
          examples:
            Bad Request - Date Format:
              $ref: '#/components/examples/unauthenticated'
    '500':
      description: Internal Server Error.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponse'
          examples:
            Internal Server Error - Not Writable:
              $ref: '#/components/examples/notWritable'
            Internal Server Error - General Exception:
              $ref: '#/components/examples/generalException'
    NotImplementedErrorResponse:
      description: ''
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Errors'
    UnauthorizedErrorResponse:
      description: Similar to 403 Forbidden, but specifically for use when authentication is required and has failed or has not yet been provided.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Errors'
    NotAcceptableErrorResponse:
      description: The requested resource is capable of generating only content not acceptable according to the Accept headers sent in the request.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Errors'
    BadRequestErrorResponse:
      description: The server cannot or will not process the request due to an apparent client error (e.g., malformed request syntax, size too large, invalid request message framing, or deceptive request routing).
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Errors'
    NotFoundErrorResponse:
      description: The requested resource could not be found but may be available in the future. Subsequent requests by the client are permissible.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Errors'
    UnsupportedMediaTypeErrorResponse:
      description: The request entity has a media type which the server or resource does not support.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Errors'
    ForbiddenErrorResponse:
      description: The request contained valid data and was understood by the server, but the server is refusing action. This may be due to the user not having the necessary permissions for a resource or needing an account of some sort, or attempting a prohibited action.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Errors'
    InternalServerErrorResponse:
      description: ''
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Errors'
  schemas:
    errorResponse:
      type: object
      title: Error Response
      properties:
        status:
          description: status
          type: string
          example: Bad Request
        timestamp:
          description: timestamp in YYYY-MM-DD HH:MM:SS.SSS
          type: string
          example: '2019-11-01 11:09:41.918'
          format: date-time
        path:
          description: The Endpoint path {package}/version/{endpoint}
          type: string
          example: /factset-funds/v1/superRegion
        message:
          description: The plain text error message
          type: string
          example: Validation Error
        subErrors:
          description: subErrors related to the error message. Null if not applicable.
          type: object
          properties:
            object:
              description: the operation ID
              type: string
            field:
              description: Parameter Field Name
              type: string
            message:
              description: Error message
              type: string
            rejectedValue:
              description: Rejected Values in an Array
              type: array
              items:
                type: string
          example: example_value
    startDate:
      type: string
      description: 'The start date requested for a given date range in **YYYY-MM-DD** format. If left blank, the API will default to previous close. Future dates (T+1) are not accepted in this #endpoint.

        '
      example: '2019-01-01'
    returnsRangeResponse:
      type: object
      title: Returns Range Response
      properties:
        data:
          description: Array of Returns Range Objects
          type: array
          items:
            $ref: '#/components/schemas/returnsRange'
          example: []
    fundsReturnsSnapshotResponse:
      type: object
      title: Returns Snapshot Response
      properties:
        data:
          description: Array of Returns Objects
          type: array
          items:
            $ref: '#/components/schemas/returnsSnapshot'
          example: []
    fundsReturnsRequest:
      title: Returns Request Body
      description: Returns Request Body
      type: object
      properties:
        ids:
          $ref: '#/components/schemas/ids'
        startDate:
          $ref: '#/components/schemas/startDate'
        endDate:
          $ref: '#/components/schemas/endDate'
        frequency:
          $ref: '#/components/schemas/frequency'
        currency:
          $ref: '#/components/schemas/currency'
        dividendAdjust:
          $ref: '#/components/schemas/dividendAdjust'
      required:
      - ids
    startDateRange:
      type: string
      description: 'The start date requested for a given date range in YYYY-MM-DD format. If left blank, the API will default to the day prior to today''s previous close. The startDate cannot be equal to the endDate as no return can be computed. Additionally, the startDate MUST be equal to or greater than the `priceFirstDate` found within the /summary endpoint.

        '
      example: '2019-01-01'
    frequency:
      type: string
      enum:
      - D
      - W
      - M
      - AM
      - CQ
      - FQ
      - AY
      - CY
      - FY
      default: D
      description: "Controls the display frequency of the data returned.\n  * **D** = Daily\n  * **W** = Weekly, based on the last day of the week of the start date.\n  * **M** = Monthly, based on the last trading day of the month.\n  * **AM** = Monthly, based on the start date (e.g., if the start date is June 16, data is displayed for June 16, May 16, April 16 etc.).\n  * **CQ** = Quarterly based on the last trading day of the calendar quarter (March, June, September, or December).\n  * **FQ** = Fiscal Quarter of the company.\n  * **AY** = Actual Annual, based on the start date.\n  * **CY** = Calendar Annual, based on the last trading day of the calendar year.\n  * **FY** = Fiscal Annual, based on the last trading day of the company's fiscal year.\n"
      example: M
    returns:
      title: Returns Object
      type: object
      properties:
        fsymId:
          description: FactSet Security Identifier. Six alpha-numeric characters, excluding vowels, with a -S suffix (XXXXXX-S), resolved from the requestId of the Fund requested.
          type:
          - string
          - 'null'
          example: FNK7XP-S
          x-fds-fql-formula: FSYM_SECURITY_PERM_ID('SECURITY')
        return:
          description: The Return for the requested id and date. Adjusting the frequency of the time-series does not adjust the return calculation, and simply controls the display frequency. The return type is determined by including or excluding dividends through the dividendAdjust parameter.
          type:
          - number
          - 'null'
          format: double
          example: 25.2970433246628
          x-fds-fql-formula: FFD_TOTAL_RET
        date:
          description: The date of the return in YYYY-MM-DD format.
          type:
          - string
          - 'null'
          format: date
          example: '2021-02-26'
        currency:
          description: ISO3 Currency
          type:
          - string
          - 'null'
          example: USD
        requestId:
          description: The requested Id sent as input.
          type: string
          example: MABAX
    ids:
      type: array
      items:
        type: string
      minItems: 1
      maxItems: 1000
      description: 'The requested Fund Identifier. FactSet Identifiers, tickers, CUSIP and SEDOL are accepted input. <p>***ids limit** =  1000 per request*</p> *<p>Make note, GET Method URL request lines are also limited to a total length of 8192 bytes (8KB). In cases where the service allows for thousands of ids, which may lead to exceeding this request line limit of 8KB, its advised for any requests with large request lines to be requested through the respective "POST" method.</p>*

        '
      example:
      - MABAX
      - FCNTX
    returnsRange:
      title: Returns Range Object
      type: object
      properties:
        fsymId:
          description: FactSet Security Identifier. Six alpha-numeric characters, excluding vowels, with a -S suffix (XXXXXX-S), resolved from the requestId of the Fund requested.
          type:
          - string
          - 'null'
          example: FNK7XP-S
          x-fds-fql-formula: FSYM_SECURITY_PERM_ID('SECURITY')
        return:
          description: The Return calculated between two dates. The return type is determined by including or excluding dividends through the dividendAdjust parameter.
          type:
          - number
          - 'null'
          format: double
          example: -3.16187341965815
          x-fds-fql-formula: FFD_TRET_USER_RANGE({startDate},{endDate},"NAV",{dividendAdjust})
        returnStartDate:
          description: The start date of the return in YYYY-MM-DD format. *NOTE - the startDate cannot be less than the `priceFirstDate` which can be accessed in the /summary endpoint.
          type:
          - string
          - 'null'
          format: date
          example: '2018-04-18'
          x-fds-fql-formula: FFD_PRICE_ACT_DATE({startDate})
        returnEndDate:
          description: The end date of the return in YYYY-MM-DD format. The start date of the return in YYYY-MM-DD format. *NOTE - the startDate cannot be less than the `priceFirstDate` which can be accessed in the /summary endpoint.
          type:
          - string
          - 'null'
          format: date
          example: '2021-03-30'
          x-fds-fql-formula: FFD_PRICE_ACT_DATE({endDate})
        requestId:
          description: The requested Id sent as input.
          type: string
          example: MABAX
    dividendAdjust:
      type: string
      enum:
      - DIV
      - NO_DIV
      default: DIV
      description: 'Controls the dividend inclusion for the NAV returns calculations, where -  * DIV = Include Dividends, Total Return * NO_DIV = Exclude Dividends, Simple Return

        '
      example: DIV
    returnsSnapshot:
      title: Returns Snapshot Object
      type: object
      properties:
        fsymId:
          description: FactSet Security Identifier. Six alpha-numeric characters, excluding vowels, with a -S suffix (XXXXXX-S), resolved from the requestId of the Fund requested.
          type:
          - string
          - 'null'
          example: FNK7XP-S
          x-fds-fql-formula: FSYM_SECURITY_PERM_ID('SECURITY')
        oneWeek:
          description: The one-week return for the requested id and date. The return type is determined by including or excluding dividends through the dividendAdjust parameter.
          type:
          - number
          - 'null'
          format: double
          example: 2.38777459407833
          x-fds-fql-formula: FFD_TRET({date},"1WK","NAV",{dividendAdjust})
        oneMonth:
          description: The one-month return for the requested id and date. The return type is determined by including or excluding dividends through the dividendAdjust parameter.
          type:
          - number
          - 'null'
          format: double
          example: 7.52256770310935
          x-fds-fql-formula: FFD_TRET({date},"1MON","NAV",{dividendAdjust})
        threeMonth:
          description: The three-month return for the requested id and date. The return type is determined by including or excluding dividends through the dividendAdjust parameter.
          type:
          - number
          - 'null'
          format: double
          example: 13.8004246284501
          x-fds-fql-formula: FFD_TRET({date},"3MON","NAV",{dividendAdjust})
        yearToDate:
          description: The year-to-date return for the requested id and date. The return type is determined by including or excluding dividends through the dividendAdjust parameter.
          type:
          - number
          - 'null'
          format: double
          example: 13.1398416886544
          x-fds-fql-formula: FFD_TRET({date},"YTD","NAV",{dividendAdjust})
        oneYear:
          description: The one-year return for the requested id and date. The return type is determined by including or excluding dividends through the dividendAdjust parameter.
          type:
          - number
          - 'null'
          format: double
          example: 40.2223675604972
          x-fds-fql-formula: FFD_TRET({date},"1YR","NAV",{dividendAdjust})
        threeYear:
          description: The three-year return for the requested id and date. The return type is determined by including or excluding dividends through the dividendAdjust parameter.
          type:
          - number
          - 'null'
          format: double
          example: null
          x-fds-fql-formula: FFD_TRET({date},"3YR","NAV",{dividendAdjust})
        threeYearAnnualized:
          description: The three-year annualized return for the requested id and date. The return type is determined by including or excluding dividends through the dividendAdjust parameter.
          type:
          - number
          - 'null'
          format: double
          example: null
          x-fds-fql-formula: FFD_TRET_ANN({date},"3YR","NAV",{dividendAdjust})
        fiveYear:
          description: The five-year return for the requested id and date. The return type is determined by including or excluding dividends through the dividendAdjust parameter.
          type:
          - number
          - 'null'
          format: double
          example: 25.2970433246628
          x-fds-fql-formula: FFD_TRET({date},"3YR","NAV",{dividendAdjust})
        fiveYearAnnualized:
          description: The five year annualized return for the requested id and date. The return type is determined by including or excluding dividends through the dividendAdjust parameter.
          type:
          - number
          - 'null'
          format: double
          example: null
          x-fds-fql-formula: FFD_TRET_ANN({date},"5YR","NAV",{dividendAdjust})
        date:
          description: The date of the return in YYYY-MM-DD format.
          type:
          - string
          - 'null'
          format: date
          example: '2021-03-30'
        requestId:
          description: The requested Id sent as input.
          type: string
          example: MABAX
    returnsRangeRequest:
      title: Returns Range Request Body
      description: Returns Range Request Body
      type: object
      properties:
        ids:
          $ref: '#/components/schemas/ids'
        startDate:
          $ref: '#/components/schemas/startDateRange'
        endDate:
          $ref: '#/components/schemas/endDate'
        dividendAdjust:
          $ref: '#/components/schemas/dividendAdjust'
      required:
      - ids
    endDate:
      type: string
      description: 'The end date requested for a given date range in **YYYY-MM-DD** format. If left blank, the API will default to previous close. Future dates (T+1) are not accepted in this endpoint.

        '
      example: '2019-12-31'
    currency:
      type: string
      description: The ISO3 currency control for the requested fund.
      default: LOCAL
      example: USD
    fundsReturnsSnapshotRequest:
      title: Returns Snapshot Request Body
      description: Returns Request Body
      type: object
      properties:
        ids:
          $ref: '#/components/schemas/ids'
        date:
          $ref: '#/components/schemas/dateSnapshot'
        dividendAdjust:
          $ref: '#/components/schemas/dividendAdjust'
      required:
      - ids
    dateSnapshot:
      type: string
      description: 'The date requested for a given date range in YYYY-MM-DD format. The date MUST be equal to or less than the `priceRecentDate` found within the /summary endpoint.

        '
      example: '2019-01-01'
    fundsReturnsResponse:
      type: object
      title: Returns Response
      properties:
        data:
          description: Array of Returns Objects
          type: array
          items:
            $ref: '#/components/schemas/returns'
          example: []
    readReturnsResponse:
      type:
      - object
      - 'null'
      properties:
        data:
          type:
          - object
          - 'null'
          properties:
            type:
              type: string
              enum:
              - Account
              - AccountComposite
              - ExchangeRate
              - GlobalAccountProperties
              - Holdings
              - HoldingsComposite
              - PortfolioGroup
              - Returns
              - ReturnsComposite
              - SecurityMaster
              - TradeData
              - VendorReturnSeries
              description: Metadata file type formatted for consistency with the REST api
            id:
              type: string
              description: Unique identifier for this metadata file.
              example: f132625b-1506-4cc3-b2e8-2c75de39c79c
            display:
              type: string
              description: The GUI path of this file, including the name and extension.
              example: SP50
            path:
              type: string
              description: The GUI path to this object.
              example: 'Client:'
            name:
              type: string
              description: Name of this file object including the extension.
              example: SP50
            description:
              type:
              - string
              - 'null'
              description: User provided description of this file.
              example: Meaningful description of vendor returns
          description: Read a metadata file by its id.
          example: example_value
    Errors:
      type: object
      description: Information about one or more errors
      properties:
        errors:
          type: array
          description: List of errors
          items:
            type: object
            properties:
              id:
                type: string
                description: Unique identifier for this error instance.  Used to reference this error in logging.
                example: 270c2fa8-9110-444b-9101-17e10132fe0a
              code:
                type: string
                description: Error code for this error
                enum:
                - BadRequestError
                - UnauthorizedError
                - ForbiddenError
                - NotFoundError
                - NotAcceptableError
                - ConflictError
                - UnsupportedMediaTypeError
                - InternalServerError
                - NotImplementedError
              title:
                type: string
                description: HTTP reason phrase associcated with this error
                enum:
                - Bad Request
                - Unauthorized
                - Forbidden
                - Not Found
                - Not Acceptable
                - Conflict
                - Unsupported Media Type
                - Internal Server Error
                - Not Implemented
              detail:
                type: string
                description: Detailed description of the error that occurred
          example: []
      required:
      - errors
    readReturnsResponse_2:
      type:
      - object
      - 'null'
      properties:
        data:
          type:
          - object
          - 'null'
          properties:
            type:
              type: string
              enum:
              - Account
              - AccountComposite
              - ExchangeRate
              - GlobalAccountProperties
              - Holdings
              - HoldingsComposite
              - PortfolioGroup
              - Returns
              - ReturnsComposite
              - SecurityMaster
              - TradeData
              - VendorReturnSeries
              description: Metadata file type formatted for consistency with the REST api
            id:
              type: string
              description: Unique identifier for this metadata file.
              example: f132625b-1506-4cc3-b2e8-2c75de39c79c
            display:
              type: string
              description: The GUI path of this file, including the name and extension.
              example: SP50
            path:
              type: string
              description: The GUI path to this object.
              example: 'Client:'
            name:
              type: string
              description: Name of this file object including the extension.
              example: SP50
            description:
              type:
              - string
              - 'null'
              description: User provided description of this file.
              example: Meaningful description of vendor returns
          description: Read a metadata file by its id.
    Errors_2:
      type: object
      description: Information about one or more errors
      properties:
        errors:
          type: array
          description: List of errors
          items:
            type: object
            properties:
              id:
                type: string
                description: Unique identifier for this error instance.  Used to reference this error in logging.
                example: 270c2fa8-9110-444b-9101-17e10132fe0a
              code:
                type: string
                description: Error code for this error
                enum:
                - BadRequestError
                - UnauthorizedError
                - ForbiddenError
                - NotFoundError
                - NotAcceptableError
                - ConflictError
                - UnsupportedMediaTypeError
                - InternalServerError
                - NotImplementedError
              title:
                type: string
                description: HTTP reason phrase associcated with this error
                enum:
                - Bad Request
                - Unauthorized
                - Forbidden
                - Not Found
                - Not Acceptable
                - Conflict
                - Unsupported Media Type
                - Internal Server Error
                - Not Implemented
              detail:
                type: string
                description: Detailed description of the error that occurred
      required:
      - errors
  parameters:
    startDate:
      name: startDate
      in: query
      required: false
      schema:
        type: string
      description: 'The start date requested for a given date range in **YYYY-MM-DD** format. If left blank, the API will default to latest available completed period.

        '
      example: '2018-12-31'
    dividendAdjust:
      name: dividendAdjust
      in: query
      schema:
        type: string
        enum:
        - DIV
        - NO_DIV
        default: DIV
      description: "Controls the dividend inclusion for the NAV returns calculations, where - \n* DIV = Include Dividends, Total Return\n* NO_DIV = Exclude Dividends, Simple Return\n"
    frequency:
      name: frequency
      in: query
      schema:
        type: string
        enum:
        - D
        - W
        - M
        - AM
        - CQ
        - FQ
        - AY
        - CY
        - FY
        default: M
      description: "Controls the display frequency of the data returned.\n  * **D** = Daily\n  * **W** = Weekly, based on the last day of the week of the start date.\n  * **M** = Monthly, based on the last trading day of the month.\n  * **AM** = Monthly, based on the start date (e.g., if the start date is June 16, data is displayed for June 16, May 16, April 16 etc.).\n  * **CQ** = Quarterly based on the last trading day of the calendar quarter (March, June, September, or December).\n  * **FQ** = Fiscal Quarter of the company.\n  * **AY** = Actual Annual, based on the start date.\n  * **CY** = Calendar Annual, based on the last trading day of the calendar year.\n  * **FY** = Fiscal Annual, based on the last trading day of the company's fiscal year.\n"
    ids:
      name: ids
      in: query
      schema:
        type: array
        items:
          type: string
        minItems: 1
        maxItems: 1000
      required: true
      explode: false
      description: 'The requested fund identifier. FactSet Identifiers, tickers, CUSIP, SEDOL, and ISIN are accepted inputs. <p>***ids limit** =  1000 per request*</p> *<p>Make note, GET Method URL request lines are also limited to a total length of 8192 bytes (8KB). In cases where the service allows for thousands of ids, which may lead to exceeding this request line limit of 8KB, its advised for any requests with large request lines to be requested through the respective "POST" method.</p>*

        '
      examples:
        oneId:
          summary: One Market Identifier
          value:
          - MABAX-US
        multipleIds:
          summary: Multiple Market Identifiers
          value:
          - MABAX-US
          - FCNTX-US
    endDate:
      name: endDate
      in: query
      required: false
      schema:
        type: string
      description: 'The end date requested for a given date range in **YYYY-MM-DD** format. If left blank, the API will default to latest available completed period.

        '
      example: '2019-12-31'
    startDateRange:
      name: startDate
      in: query
      required: false
      schema:
        type: string
      description: 'The start date requested for a given date range in **YYYY-MM-DD** format. If left blank, the API will default to the day prior to today''s previous close. The startDate cannot be equal to the endDate as no return can be computed. Additionally, the startDate MUST be equal to or greater than the `priceFirstDate` found within the /summary endpoint.

        '
      example: '2018-12-31'
    dateSnapshot:
      name: date
      in: query
      required: false
      schema:
        type: string
      description: 'The date requested for a given date range in YYYY-MM-DD format. The date MUST be equal to or less than the `priceRecentDate` found within the /summary endpoint.

        '
      example: '2018-12-31'
    currency:
      name: currency
      in: query
      required: false
      schema:
        type: string
        default: LOCAL
      description: Controls the Currency conversion of the Fund. By default, the currency will use the funds local currency.
      example: USD
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
    FactSetOAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://auth.factset.com/as/token.oauth2
          scopes: {}
    FactSetApiKey:
      type: http
      scheme: basic
externalDocs:
  description: API Documentation
  url: https://developer.factset.com/api-catalog/portfolio-metadata-api
x-refined-from:
- factset-funds-api-openapi.yml
- factset-portfolio-metadata-api-openapi.yml
- portfolio-metadata-openapi-original.yml
