openapi: 3.0.3
info:
  title: Factset Analytics Datastore About Factset Options API
  description: Allow clients to fetch precalculated Analytics through predeterministic URLs.
  contact:
    name: FactSet Research Systems
    url: https://developer.factset.com/contact
    email: api@factset.com
  license:
    name: Apache License, Version 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  version: 1.0.0
servers:
- url: https://api.factset.com
  description: Production
- url: https://api-sandbox.factset.com
  description: Sandbox
security:
- basicAuth: []
tags:
- name: Factset Options
paths:
  /factset-options/v1/chains:
    post:
      tags:
      - Factset Options
      summary: Factset Returns all the underlying option identifiers for the specified underlying Security identifier
      operationId: getOptionsChainsForList
      description: "Returns all the underlying option identifiers for the underlying security identifier. Specify the date and or exhcange for the list of options associated to the id. \n\n  *Currently only OPRA Exchange is supported with exchange ISO \"USA\"*\n"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/chainsRequest'
        description: Options Chains Request Object
      responses:
        '200':
          description: Options Chain Response Object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/chainsResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
  /factset-options/v1/option-screening:
    post:
      tags:
      - Factset Options
      summary: Factset Returns all the option identifiers based on the conditions provided as input in the request
      description: "Returns all the option identifiers based on the conditions provided as input in the request. Conditions are as follows and will follow \"AND\" logic if more than one condition is applied and allows up to **three conditions** using AND Logic.If a condition is used the accompanying value MUST be used - \n|conditions|description|\n|||\n|P_OPT_UNDERLYING_SECURITY_E|Underlying Security Equal To|\n|P_OPT_STRIKE_PRICE_E|Strike Price Equal To|\n|P_OPT_EXP_DATEN_E|Expiration Date (YYYYMMDD) Equal To|\n|P_OPT_VOLUME_G|Volume Greater Than|\n|P_OPT_VOLUME_GE|Volume Greater Than or Equal To|\n|P_OPT_VOLUME_L|Volume Less Than|\n|P_OPT_VOLUME_LE|Volume Less Than or Equal To|\n|P_OPT_VOLUME_E|Volume Equal To|\n|P_OPT_OPTION_TYPE_E|Option Type (1= Equity, 2=Index)|\n|P_OPT_CALL_OR_PUT_E|Call or Put (0=Call, 1=Put)|\n\n  *Currently only OPRA Exchange is supported with exchange ISO \"USA\"*\n"
      operationId: getOptionsScreeningForList
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/optionScreeningRequest'
        description: "Option Screening Request. Example request asks for Put Options where Underlying Security is AAPL and Volume is greater than 0 as of 2021-03-31. \n"
      responses:
        '200':
          description: Option Screening Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/optionScreeningResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
  /factset-options/v1/snapshot:
    post:
      tags:
      - Factset Options
      summary: Factset Returns all the profile information for the list of identifiers as of a specific date
      operationId: getOptionsSnapshotForList
      description: "Returns all the profile information for the list of identifiers for a specific date. The data includes - \n* Expiration Date\n* Greek - Delta\n* Implied Volatility\n* Price \n* Style\n* Type\n* Underlying Security\n* Underlying Security Price\n* Open Interest\n* Name\n\n  *Currently only OPRA Exchange is supported with exchange ISO \"USA\"*\n"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/snapshotRequest'
        description: Snapshot Request Object
      responses:
        '200':
          description: Snapshot Response Object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/snapshotResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
  /factset-options/v1/references:
    post:
      tags:
      - Factset Options
      summary: Factset Returns basic reference details for the options such as currency, exchange, symbols, flags and more
      description: "Returns basic reference details for the options. Data items include - \n* Name\n* Exchange\n* Call or Put Flag\n* Call or Put Pair Symbol\n* Other symbols such as OPRA17 and OCC21\n* Currency\n* Underlying Security Symbols\n* Expiration Month, Dates, and Frequency\n\n*For details or definitions of all available response fields visit the associated schema.*\n\n  *Currently only OPRA Exchange is supported with exchange ISO \"USA\"*\n"
      operationId: getOptionsReferencesForList
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/optionsReferencesRequest'
        description: Options Reference Request Body
      responses:
        '200':
          description: Options Reference Response Object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/optionsReferencesResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
  /factset-options/v1/dates:
    post:
      tags:
      - Factset Options
      summary: Factset Returns option security dates such as expiration and trade.
      description: "Returns all relevant dates such as  for the specified Option identifier. Data Items include - \n* Expiration Date\n* First Dates for Ask, Bid, Settlement, and Trade\n* Last Dates for Ask, Bid, Settlement, and Trade\n\n  *Currently only OPRA Exchange is supported with exchange ISO \"USA\"*\n"
      operationId: getOptionsDatesForList
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/optionsDatesRequest'
      responses:
        '200':
          description: Options Dates Response Object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/optionsDatesResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
  /factset-options/v1/prices:
    post:
      tags:
      - Factset Options
      summary: Factset Returns the pricing related information for the specified option identifier
      operationId: getOptionsPricesForList
      description: "Returns the pricing related information for the specified option identifier. Items include - \n* Ask\n* Bid\n* Mid\n* Mid Bid Ask\n* Settlement\n* Last Price Type (Settlement or MidBidAsk)\n* Last Price\n* Strike Price\n* Underlying Security Price\n* 52 Week High/Low\n* Open, High, Low for day. Note securities must be trading for day requested.\n\n  *Currently only OPRA Exchange is supported with exchange ISO \"USA\"*\n"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/optionsPricesRequest'
        description: Options Prices Request Body
      responses:
        '200':
          description: Options Prices Response Object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/optionsPricesResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
  /factset-options/v1/underlying-volume:
    post:
      tags:
      - Factset Options
      summary: Factset Returns the aggregate volume and open interest for the list of the options under the specified security identifier
      operationId: getUnderlyingVolumeForList
      description: "Return the Volume and Open Interest details for list of the options for the specified underlying security identifier. The data is aggregated for all options contracts associated to the underlying id, or specified in the request only the contracts listed on a specific exchange. Data Includes - \n* Put Call Ratio \n* Total Put Volume & Open Interest\n* Total Call Volume & Open Interest\n* Total Put & Call Volume & Open Interest\n\n  *Currently only OPRA Exchange is supported with exchange ISO \"USA\"*\n"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/underlyingVolumeRequest'
        description: Underlying Volume Request Body
      responses:
        '200':
          description: Underlying Volume and Open Interest Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/underlyingVolumeResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
  /factset-options/v1/volume:
    post:
      tags:
      - Factset Options
      summary: Factset Returns the volume details for the specified option identifier
      description: "Returns the volume details for the specified option identifier for a specified exchange. Data items include - \n* Open Interest\n* Volume\n\n  *Currently only OPRA Exchange is supported with exchange ISO \"USA\"*\n"
      operationId: getOptionsVolumeForList
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/optionsVolumeRequest'
        description: Volume Request Object
      responses:
        '200':
          description: Volume Response Object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/optionsVolumeResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
  /factset-options/v1/greeks:
    post:
      tags:
      - Factset Options
      summary: Factset Returns all the Greeks details for the specified option identifier
      operationId: getOptionsGreeksForList
      description: "Returns all the greeks details for the specified option identifier. Greeks provide quantifiable factors for measuring the option's price sensativity. Greeks include -\n\n|Greek|Description|\n|||\n|Delta| The ratio comparing the change in the price of the underlying asset to the corresponding change in the price of a derivative. Sometimes referred to as the \"hedge ratio\". For example, with respect to call options, a delta of 0.7 means that for every $1 the underlying stock increases, the call option will increase by $0.70. Put option deltas, on the other hand, will be negative, because as the underlying security increases, the value of the option will decrease. So a put option with a delta of -0.7 will decrease by $0.70 for every $1 the underlying increases in price. As an in-the-money call option nears expiration, it will approach a delta of 1.00, and as an in-the-money put option nears expiration, it will approach a delta of -1.00.|\n|Gamma| The rate of change for delta with respect to the underlying asset's price. Mathematically, gamma is the first derivative of delta and is used when trying to gauge the price of an option relative to the amount it is in or out of the money. When the option being measured is deep in or out of the money, gamma is small. When the option is near the money, gamma is largest.|\n|Rho|The rate at which the price of a derivative changes relative to a change in the risk-free rate of interest. Rho measures the sensitivity of an option or options portfolio to a change in interest rate.|\n|Theta|A measure of the rate of decline in the value of an option due to the passage of time. Theta can also be referred to as the time decay on the value of an option. If everything is held constant, then the option will lose value as time moves closer to the maturity of the option. For example, if the strike price of an option is $1,150 and theta is 53.80, then in theory the value of the option will drop $53.80 per day. The measure of theta quantifies the risk that time imposes on options as options are only exercisable for a certain period of time.|\n|Vega|The amount that the price of an option changes compared to a 1% change in volatility. Vega changes when there are large price movements in the underlying asset and vega falls as the option gets closer to maturity. Vega can change even if there is no change in the price of the underlying asset, this would happen if there is a change in expected volatility. For example, if the vega of an option is -96.94 and if implied volatility were to rise by 1% then the option value would fall by $96.94.|\n\nNote\n  * Each step in the binomial model represents a change in time, therefore, point estimates of the Greeks can be calculated for American options. The following can be used to calculate the Greeks for the Binomial Option Pricing Model (BOPM) pricing model, using the notation fstep,node so f1,1 represents the option price at the first step, top node (nodes are counted at each step starting with 0 at the bottom. See [Constructing the Tree](https://my.apps.factset.com/oa/pages/17735#tree) for more information).\n  \nFor more detials on calculation methodologies, visit [OA 14933](https://my.apps.factset.com/oa/pages/14933). \n\n  *Currently only OPRA Exchange is supported with exchange ISO \"USA\"*\n"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/greeksRequest'
        description: Greeks Request Object
      responses:
        '200':
          description: Options Greeks Response Object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/greeksResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
  /factset-options/v1/implied-volatility:
    post:
      tags:
      - Factset Options
      summary: Factset Returns the implied volatility information for the specified option identifier
      description: 'Returns the Implied Volatility for the specified option across European and American contracts. For more details regarding Implied Volatility calculations visit - [OA 14932](https://my.apps.factset.com/oa/pages/14932)


        *Currently the following exchanges are not supported for API use cases - CME, CMEE, CBT, CBTE, NYM, NYME*

        '
      operationId: getOptionsVolatilityForList
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/impliedVolatilityRequest'
        description: Volatility Request Object
      responses:
        '200':
          description: Volatility Response Object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/impliedVolatilityResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
  /factset-options/v1/atm-implied-volatility:
    post:
      tags:
      - Factset Options
      summary: Factset Returns the at-the-money (ATM) implied volatility details for the specified underlying security identifier
      operationId: getOptionsATMImpliedVolatilityForList
      description: "Returns weighted average of the implied volatilities from the options listed for a specified security identifier. \n\nThere are three different methods available for calculating at-the-money implied volatility (ATM IV), which gives a weighted average of the implied volatilities from the options listed on a given stock. They are ATM IV (Filtered), ATM IV (Filtered with Smoothing), and ATM IV (Market). Each of these ATM IV calculations is available for just the calls on a given stock, just the puts, or the composite of both the calls and puts.\nThis at-the-money implied volatility market can calculated for different periods -\n* One Month\n* Two Months\n* Three Months\n* Four Months\n* Five Months\n* Six Months\n\n*For more details regarding ATM Volatility calculations, visit [OA 16276](https://my.apps.factset.com/oa/pages/16276)*\n\n  *Currently only OPRA Exchange traded options are supported*\n"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/atmImpliedVolatilityRequest'
      responses:
        '200':
          description: ATM Implied Volatility Response Object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/atmImpliedVolatilityResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
components:
  schemas:
    chains:
      title: chains
      type: object
      properties:
        fsymId:
          description: FactSet's Security Permanent Identifier in XXXXXX-S format for the underlying security requested.
          type: string
          example: WWDPYB-S
          x-fds-fql-formula: FSYM_SECURITY_PERM_ID
          nullable: true
        optionId:
          description: The option id, in the format requested via `idType` parameter.
          type: string
          example: TSLA.US#C00LP
          x-fds-fql-formula: P_OPT_SYMBOL
          nullable: true
        idType:
          description: The type of id requested in the query. This is a straight pass-through value.
          type: string
          example: FOS
          x-fds-fql-formula: NOT APPLICABLE - PASSTHROUGH
          nullable: true
        date:
          description: The date the data is as of in YYYY-MM-DD format.
          type: string
          format: date
          example: '2021-05-07'
          x-fds-fql-formula: P_DATE
          nullable: true
        requestId:
          description: The inputed value for the id parameter.
          type: string
          example: TSLA
    underlyingIds:
      title: underlyingIds
      type: array
      description: "Underlying Security Identifier of which can be used to return respective options chain. Only **one** security id is permitted per request. \n"
      items:
        type: string
      minItems: 1
      maxItems: 1
      example:
      - TSLA-US
    snapshot:
      title: snapshot
      type: object
      description: Snapshot Response fields
      properties:
        fsymId:
          description: FactSet's Option Symbol. For more detail, visit [OA 12636](https://my.apps.factset.com/oa/pages/12636#options)
          type: string
          example: TSLA.US#CD33M-USA
          x-fds-fql-formula: P_OPT_SYMBOL
          nullable: true
        date:
          description: The date the data is as of in YYYY-MM-DD
          type: string
          format: date
          example: '2021-04-13'
          x-fds-fql-formula: P_DATE
          nullable: true
        delta:
          description: 'The ratio comparing the change in the price of the underlying asset to the corresponding change in the price of a derivative. Sometimes referred to as the "hedge ratio". For example, with respect to call options, a delta of 0.7 means that for every $1 the underlying stock increases, the call option will increase by $0.70. Put option deltas, on the other hand, will be negative, because as the underlying security increases, the value of the option will decrease. So a put option with a delta of -0.7 will decrease by $0.70 for every $1 the underlying increases in price. As an in-the-money call option nears expiration, it will approach a delta of 1.00, and as an in-the-money put option nears expiration, it will approach a delta of -1.00.

            '
          type: number
          format: double
          example: 0.77158491
          x-fds-fql-formula: P_OPT_DELTA
          nullable: true
        expirationDate:
          description: The expiration date of the option contract in YYYY-MM-DD format
          type: string
          format: date
          example: '2021-12-17'
          x-fds-fql-formula: P_OPT_EXP_DATEN
          nullable: true
        impliedVolatility:
          description: 'The implied volatility for the option identifier. Visit [OA 14932](https://my.apps.factset.com/oa/pages/14932)

            '
          type: number
          format: double
          example: 66.226879
          x-fds-fql-formula: P_OPT_IMPV
          nullable: true
        name:
          description: The name of the option security.
          type: string
          example: Tesla Inc Call DEC21 590.00
          x-fds-fql-formula: P_OPT_SECURITY_NAME
          nullable: true
        openInterest:
          description: The total number of options and/or futures contracts that are not closed or delivered on a particular day.
          type: integer
          example: 92
          x-fds-fql-formula: P_OPT_OPEN_INTEREST
          nullable: true
        price:
          description: 'The calculated price quote, based on the calculated status. For US Options - Returns "Ask Price" if calc status==20, otherwise returns "Mid Bid/Ask Price". For International Options - Returns "Settlement Price".

            '
          type: number
          format: double
          example: 247.425
          x-fds-fql-formula: P_OPT_CALC_QUOTE
          nullable: true
        requestId:
          description: The input value for the id parameter.
          type: string
          example: TSLA.US#CD33M-USA
        style:
          description: "Returns the style of the option id requested, where - \n\n|style|description|\n|||\n|0|American|\n|1|European|\n\nAn American style option can be exercised anytime during its life. The majority of exchange-traded options are American. \n\nSince investors have the freedom to exercise their American options at any point during the life of the contract, they are more valuable than European options which can only be exercised at maturity. \n\nConsider this example- If you bought a Ford March Call option expiring in March of 2006, in March 2005 you would have the right to exercise the call option at anytime up until its expiration date. Had the Ford option been a European option, you could only exercise the option at the expiry date in March 2006. During the year, the share price could have been most optimal for exercise in December of 2005, but you would have to wait to exercise your option until March 2006, where it could be out of the money and virtually worthless. The name of this option style has nothing to do with the geographic location.\n"
          type: integer
          example: 0
          x-fds-fql-formula: P_OPT_STYLE
          nullable: true
        type:
          description: "The option type code, where \n|code|description|\n|||\n|0|Equity Option|\n|2|Index Option|\n|99|Option on an ETF|\n|60|Option on a Future|\n|19|Option on a Spot FX Rate|\n"
          type: integer
          example: 1
          x-fds-fql-formula: P_OPT_OPTION_TYPE
          nullable: true
        underlyingFsymSecurityId:
          description: 'The Symbol of the security that must be delivered when a derivative contract, such as a put or call option, is exercised. This is represented in FactSet''s Permanent Security Identifier format (XXXXXX-S).

            '
          type: string
          example: WWDPYB-S
          x-fds-fql-formula: P_OPT_UNDERLYING_SECURITY
          nullable: true
        underlyingPrice:
          description: 'The price of the underyling security as of the date requested.

            '
          type: number
          format: double
          example: 762.32
          x-fds-fql-formula: P_OPT_UNDERLYING_PRICE
          nullable: true
    atmImpliedVolatilityResponse:
      title: atmImpliedVolatilityResponse
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/atmImpliedVolatility'
    atmImpliedVolatilityRequest:
      title: atmImpliedVolatilityRequest
      type: object
      description: At-the-Money Implied Volatility Request Object
      properties:
        ids:
          $ref: '#/components/schemas/underlyingIds'
        startDate:
          $ref: '#/components/schemas/startDate'
        endDate:
          $ref: '#/components/schemas/endDate'
        frequency:
          $ref: '#/components/schemas/frequency'
        exchange:
          $ref: '#/components/schemas/exchange'
        period:
          $ref: '#/components/schemas/period'
      required:
      - ids
    underlyingVolumeRequest:
      title: underlyingVolumeRequest
      type: object
      description: Underlying Volume Request Object
      properties:
        ids:
          $ref: '#/components/schemas/underlyingIds'
        startDate:
          $ref: '#/components/schemas/startDate'
        endDate:
          $ref: '#/components/schemas/endDate'
        frequency:
          $ref: '#/components/schemas/frequency'
        exchange:
          $ref: '#/components/schemas/exchange'
      required:
      - ids
    optionsPricesRequest:
      title: optionsPricesRequest
      type: object
      properties:
        ids:
          $ref: '#/components/schemas/optionIds'
        startDate:
          $ref: '#/components/schemas/startDate'
        endDate:
          $ref: '#/components/schemas/endDate'
        frequency:
          $ref: '#/components/schemas/frequency'
        currency:
          $ref: '#/components/schemas/currency'
        calendar:
          $ref: '#/components/schemas/calendar'
      required:
      - ids
    optionsReferencesRequest:
      type: object
      properties:
        ids:
          $ref: '#/components/schemas/optionIds'
      required:
      - ids
    optionIds:
      title: optionIds
      type: array
      description: 'Option Security Identifier. For more details visit [OA 12636 - Options Identifiers](https://my.apps.factset.com/oa/pages/12636#options)

        '
      items:
        type: string
      minItems: 1
      maxItems: 1000
      example:
      - TSLA.US#CD33M-USA
    optionsPricesResponse:
      title: optionsPricesResponse
      type: object
      description: Options Prices Response
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/optionsPrices'
    impliedVolatility:
      title: volatility
      type: object
      description: Volatility Response fields
      properties:
        impliedVolatility:
          description: 'The estimated volatility of a security''s price

            * In general, implied volatility increases when the market is bearish and decreases when the market is bullish. This is due to the common belief that bearish markets are more risky than bullish markets.


            * In addition to known factors such as market price, interest rate, expiration date, and strike price, implied volatility is used in calculating an option''s premium.


            * Barone-Adesi model used for American Style options and Black-Scholes model for European Style options.

            '
          type: number
          format: double
          example: 61.744664
          x-fds-fql-formula: P_OPT_IMPV
          nullable: true
        date:
          description: The date the data is as of in YYYY-MM-DD format.
          type: string
          format: date
          example: '2021-05-07'
          nullable: true
        fsymId:
          description: FactSet's Option Symbol. For more detail, visit [OA 12636](https://my.apps.factset.com/oa/pages/12636#options)
          type: string
          example: TSLA.US#CD33M
          x-fds-fql-formula: P_OPT_SYMBOL('FOS')
          nullable: true
        requestId:
          description: The requested identifier submitted in the query.
          type: string
          example: TSLA.US#CD33M-USA
    calendar:
      type: string
      enum:
      - FIVEDAY
      - SEVENDAY
      - LOCAL
      default: FIVEDAY
      description: Calendar of data returned. SEVENDAY includes weekends. LOCAL calendar will default to the securities' trading calendar which excludes date records for respective holiday periods.
      example: FIVEDAY
    greeksRequest:
      title: greeksRequest
      type: object
      description: Options greeks request
      properties:
        ids:
          $ref: '#/components/schemas/optionIds'
        startDate:
          $ref: '#/components/schemas/startDate'
        endDate:
          $ref: '#/components/schemas/endDate'
        frequency:
          $ref: '#/components/schemas/frequency'
        priceType:
          $ref: '#/components/schemas/priceType'
        calendar:
          $ref: '#/components/schemas/calendar'
      required:
      - ids
    endDate:
      title: endDate
      type: string
      description: The end date requested for a given date range in **YYYY-MM-DD** format. If left blank, the API will default to previous close. Future dates (T+1) are not accepted in this endpoint.
      example: '2021-05-03'
    snapshotResponse:
      title: snapshotResponse
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/snapshot'
    greeksResponse:
      title: greeksResponse
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/greeks'
      description: Greeks Response Object
    chainsResponse:
      title: chainsResponse
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/chains'
    optionsVolume:
      title: optionsVolume
      type: object
      description: Options Volume Response Object
      properties:
        fsymId:
          description: FactSet's Option Symbol. For more detail, visit [OA 12636](https://my.apps.factset.com/oa/pages/12636#options)
          type: string
          example: TSLA.US#PYG8L
          x-fds-fql-formula: P_OPT_SYMBOL('FOS')
          nullable: true
        date:
          description: The date of the data in YYYY-MM-DD format
          type: string
          format: date
          example: '2021-05-06'
          x-fds-fql-formula: P_DATE
          nullable: true
        exchange:
          description: Option Exchange ISO. Visit [OA 14925](https://my.apps.factset.com/oa/pages/14925) for a list of Exchange ISOs.
          type: string
          example: USA
          x-fds-fql-formula: P_OPT_EXCHANGE
          nullable: true
        openInterest:
          description: The total number of options and/or futures contracts that are not closed or delivered on a particular day.
          type: number
          format: integer
          example: 92
          x-fds-fql-formula: P_OPT_OPEN_INTEREST
          nullable: true
        volume:
          description: Volume of the option
          type: number
          format: double
          example: 3017
          x-fds-fql-formula: P_OPT_VOLUME
          nullable: true
        requestId:
          description: The requested identifier submitted in the query.
          type: string
          example: TSLA.US#PYG8L-USA
    chainsRequest:
      title: chainsRequest
      type: object
      properties:
        ids:
          $ref: '#/components/schemas/underlyingIds'
        date:
          $ref: '#/components/schemas/chainsDate'
        idType:
          $ref: '#/components/schemas/idType'
        exchange:
          $ref: '#/components/schemas/exchange'
      required:
      - ids
    impliedVolatilityRequest:
      type: object
      properties:
        ids:
          $ref: '#/components/schemas/optionIds'
        startDate:
          $ref: '#/components/schemas/startDate'
        endDate:
          $ref: '#/components/schemas/endDate'
        frequency:
          $ref: '#/components/schemas/frequency'
        priceType:
          $ref: '#/components/schemas/priceType'
      required:
      - ids
    period:
      type: integer
      minimum: 0
      maximum: 6
      description: "The period for the options to calculate at the money volatility. Below are the available periods - \n* No Limit - (0)\n* One Month - (1)\n* Two Months - (2)\n* Three Months - (3)\n* Four Months - (4)\n* Five Months - (5)\n* Six Months - (6)"
      default: 0
    optionsDates:
      title: optionDates
      type: object
      description: Options Dates Response Fields
      properties:
        expirationDate:
          description: The date on which an options contract is no longer valid and, therefore, ceases to exist in YYYY-MM-DD format.
          type: string
          format: date
          example: '2021-09-17'
          x-fds-fql-formula: P_OPT_EXP_DATEN
          nullable: true
        firstAskDate:
          description: The date of first ask price for the option in YYYY-MM-DD format.
          type: string
          format: date
          example: '2020-08-31'
          x-fds-fql-formula: P_OPT_FIRST_ASK_DATE
          nullable: true
        firstBidDate:
          description: The date of first bid price for the option in YYYY-MM-DD format.
          type: string
          format: date
          example: '2020-08-31'
          x-fds-fql-formula: P_OPT_FIRST_BID_DATE
          nullable: true
        firstSettlementDate:
          description: The date of first settlement price for the option in YYYY-MM-DD format.
          type: string
          format: date
          example: null
          x-fds-fql-formula: P_OPT_FIRST_SETTLE_DATE
          nullable: true
        firstTradeDate:
          description: First Trading Date of the Option in YYYY-MM-DD format.
          type: string
          format: date
          example: '2020-09-01'
          x-fds-fql-formula: P_OPT_FIRST_TRADE_DATE
          nullable: true
        lastAskDate:
          description: The date of last ask price for the option in YYYY-MM-DD format.
          type: string
          format: date
          example: '2021-05-05'
          x-fds-fql-formula: P_OPT_LAST_ASK_DATE
          nullable: true
        lastBidDate:
          description: The date of last bid price for the option in YYYY-MM-DD format.
          type: string
          format: date
          example: '2021-05-05'
          x-fds-fql-formula: P_OPT_LAST_BID_DATE
          nullable: true
        lastSettlementDate:
          description: The date of last settlement price for the option in YYYY-MM-DD format.
          type: string
          format: date
          example: null
          x-fds-fql-formula: P_OPT_LAST_SETTLE_DATE
          nullable: true
        lastTradeDate:
          description: Last Trading Date of the Option in YYYY-MM-DD format.
          type: string
          format: date
          example: '2021-02-16'
          x-fds-fql-formula: P_OPT_LAST_TRADE_DATE
          nullable: true
        date:
          description: The date the data is as of in YYYY-MM-DD format.
          type: string
          format: date
          example: '2021-05-07'
          nullable: true
        fsymId:
          description: FactSet's Option Symbol. For more detail, visit [OA 12636](https://my.apps.factset.com/oa/pages/12636#options)
          type: string
          example: TSLA.US#C00LP
          x-fds-fql-formula: P_OPT_SYMBOL('FOS')
          nullable: true
        requestId:
          description: The requested identifier submitted in the query.
          type: string
          example: TSLA.US#C00LP
    underlyingVolume:
      title: underlyingVolume
      type: object
      description: Underlying Volume response fields
      properties:
        date:
          description: The date of data as of the YYYY-MM-DD format.
          type: string
          format: date
          example: '2021-05-14'
          nullable: true
        exchange:
          description: Option Exchange ISO. Visit [OA 14925](https://my.apps.factset.com/oa/pages/14925) for a list of Exchange ISOs.
          type: string
          example: USA
          nullable: true
        fsymId:
          description: FactSet's Security Permanent Identifier for input security in XXXXXX-S format.
          type: string
          example: WWDPYB-S
          x-fds-fql-formula: FSYM_SECURITY_PERM_ID('SECURITY')
          nullable: true
        putCallRatio:
          description: Put/Call Ratio (Open Interest)
          type: number
          format: double
          example: 1.0257621
          x-fds-fql-formula: P_OPT_OI_PC_RATIO
          nullable: true
        requestId:
          description: The requested identifier submitted in the query.
          type: string
          example: TSLA
        totalCallOpenInterest:
          description: Total Call Open Interest
          type: number
          format: integer
          example: 2753464
          x-fds-fql-formula: P_OPT_CALL_OPEN_INTEREST
          nullable: true
        totalCallVolume:
          description: Total Call Volume
          type: number
          format: double
          example: 946936
          x-fds-fql-formula: P_OPT_CALL_VOLUME
          nullable: true
        totalPutCallOpenInterest:
          description: Total Call/Put Open Interest
          type: number
          format: integer
          example: 5577863
          x-fds-fql-formula: P_OPT_ALL_OPEN_INTEREST
          nullable: true
        totalPutCallVolume:
          description: Total Call/Put Volume
          type: number
          format: double
          example: 1646616
          x-fds-fql-formula: P_OPT_ALL_VOLUME
          nullable: true
        totalPutOpenInterest:
          description: Total Put Open Interest
          type: number
          format: integer
          example: 2824399
          x-fds-fql-formula: P_OPT_PUT_OPEN_INTEREST
          nullable: true
        totalPutVolume:
          description: Total Put Volume
          type: number
          format: double
          example: 699680
          x-fds-fql-formula: P_OPT_PUT_VOLUME
          nullable: true
    atmImpliedVolatility:
      title: atmImpliedVolatility
      type: object
      description: At-the-money implied volatility response fields
      properties:
        aTMImplVol:
          description: Option at the money implied volatility.
          type: number
          format: double
          example: 58.015339
          nullable: true
        aTMImplVolMarket:
          description: Option at the money implied volatility market.
          type: number
          format: double
          example: 58.579093
          nullable: true
        callATMImplVol:
          description: Call option at the money implied volatility.
          type: number
          format: double
          example: 58.015339
          nullable: true
        callATMImplVolMarket:
          description: Call option at the money implied volatility market.
          type: number
          example: 58.791874
          format: double
          nullable: true
        date:
          description: The date of the data represented in YYYY-MM-DD format
          type: string
          format: date
          example: '2021-05-14'
          nullable: true
        exchange:
          description: Option Exchange ISO. Visit [OA 14925](https://my.apps.factset.com/oa/pages/14925) for a list of Exchange ISOs.
          type: string
          example: USA
          nullable: true
        fsymId:
          description: FactSet's Security Permanent Identifier in XXXXXX-S format.
          type: string
          example: WWDPYB-S
          x-fds-fql-formula: FSYM_SECURITY_PERM_ID
          nullable: true
        period:
          description: The period of the At-the-money volatility at current, 1, 2, 3, 4, and 6 month periods.
          type: string
          example: '1'
          nullable: true
        putATMImplVol:
          description: Put Option at the money implied volatility.
          type: number
          format: double
          example: 58.015339
          nullable: true
        putATMImplVolMarket:
          description: Put Option at the money implied volatility market.
          type: number
          example: 58.810684
          format: double
          nullable: true
        requestId:
          description: The requested identifier submitted in the query.
          type: string
          example: TSLA
    errorResponse:
      type: object
      title: Error Response
      properties:
        status:
          description: status
          type: string
          example: Bad Request
        timestamp:
          description: timestamp in YYYY-MM-DD HH:MM:SS.SSS
          type: string
          example: '2019-11-01 11:09:41.918'
          format: date-time
        path:
          description: The Endpoint path {package}/version/{endpoint}
          type: string
          example: /factset-funds/v1/superRegion
        message:
          description: The plain text error message
          type: string
          example: Validation Error
        subErrors:
          description: subErrors related to the error message. Null if not applicable.
          type: object
          properties:
            object:
              description: the operation ID
              type: string
            field:
              description: Parameter Field Name
              type: string
            message:
              description: Error message
              type: string
            rejectedValue:
              description: Rejected Values in an Array
              type: array
              items:
                type: string
    optionScreeningRequest:
      title: optionScreeningRequest
      type: object
      description: 'Options Screening Request allowing for up to three Conditions using AND Logic.

        |conditions|description|

        |||

        |P_OPT_UNDERLYING_SECURITY_E|Underlying Security Equal To|

        |P_OPT_STRIKE_PRICE_E|Strike Price Equal To|

        |P_OPT_EXP_DATEN_E|Expiration Date (YYYYMMDD) Equal To|

        |P_OPT_VOLUME_G|Volume Greater Than|

        |P_OPT_VOLUME_GE|Volume Greater Than or Equal To|

        |P_OPT_VOLUME_L|Volume Less Than|

        |P_OPT_VOLUME_LE|Volume Less Than or Equal To|

        |P_OPT_VOLUME_E|Volume Equal To|

        |P_OPT_OPTION_TYPE_E|Option Type (1= Equity, 2=Index)|

        |P_OPT_CALL_OR_PUT_E|Call or Put (0=Call, 1=Put)|

        '
      required:
      - ids
      - conditionOne
      - conditionOneValue
      properties:
        ids:
          $ref: '#/components/schemas/exchangeScreeningId'
        conditionOne:
          description: The primary condition.
          type: string
          example: P_OPT_UNDERLYING_SECURITY_E
          enum:
          - P_OPT_UNDERLYING_SECURITY_E
          - P_OPT_STRIKE_PRICE_E
          - P_OPT_EXP_DATEN_E
          - P_OPT_VOLUME_G
          - P_OPT_VOLUME_GE
          - P_OPT_VOLUME_L
          - P_OPT_VOLUME_LE
          - P_OPT_VOLUME_E
          - P_OPT_OPTION_TYPE_E
          - P_OPT_CALL_OR_PUT_E
        conditionOneValue:
          type: string
          example: AAPL
        conditionTwo:
          type: string
          example: P_OPT_CALL_OR_PUT_E
          enum:
          - P_OPT_UNDERLYING_SECURITY_E
          - P_OPT_STRIKE_PRICE_E
          - P_OPT_EXP_DATEN_E
          - P_OPT_VOLUME_G
          - P_OPT_VOLUME_GE
          - P_OPT_VOLUME_L
          - P_OPT_VOLUME_LE
          - P_OPT_VOLUME_E
          - P_OPT_OPTION_TYPE_E
          - P_OPT_CALL_OR_PUT_E
        conditionTwoValue:
          type: string
          example: '1'
        conditionThree:
          type: string
          enum:
          - P_OPT_UNDERLYING_SECURITY_E
          - P_OPT_STRIKE_PRICE_E
          - P_OPT_EXP_DATEN_E
          - P_OPT_VOLUME_G
          - P_OPT_VOLUME_GE
          - P_OPT_VOLUME_L
          - P_OPT_VOLUME_LE
          - P_OPT_VOLUME_E
          - P_OPT_OPTION_TYPE_E
          - P_OPT_CALL_OR_PUT_E
          example: P_OPT_VOLUME_G
        conditionThreeValue:
          type: string
          example: '0'
        date:
          type: string
          example: '2021-03-31'
    chainsDate:
      title: chainsDate
      type: string
      description: The as of date for the option chain in **YYYY-MM-DD** format. If left blank, the API will default to previous close. Future dates (T+1) are not accepted in this endpoint.
      example: '2021-05-03'
    priceType:
      title: priceType
      type: string
      description: 'Controls the price type of the specified option identifier.

        * ASK

        * BID

        * MID

        * CLOSE

        * SETTLE

        '
      enum:
      - ASK
      - BID
      - MID
      - CLOSE
      - SETTLE
      - ''
      default: ''
      example: CLOSE
    currency:
      title: currency
      type: string
      description: 'The ISO3 currency control for the requested option identifier. For a list of Currency ISOs, visit - [OA 1470](https://my.apps.factset.com/oa/pages/1470)

        '
      example: USD
    underlyingVolumeResponse:
      title: underlyingVolumeResponse
      type: object
      description: Underlying Volume Response Object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/underlyingVolume'
    startDate:
      type: string
      title: startDate
      description: The start date requested for a given date range in **YYYY-MM-DD** format. If left blank, the API will default to previous close. Future dates (T+1) are not accepted in this endpoint.
      example: '2021-05-09'
    idType:
      type: string
      title: idType
      description: "Controls the type of option id or symbol returned in response of the Option Chain. For more details visit - [OA 12636](https://my.apps.factset.com/oa/pages/12636#options)\n  |idType|Type Name|Description|\n  ||||\n  |FOS|FactSet Option Symbology|This option symbol is a unique FactSet-generated symbol with the following syntax - (Underlying Symbol + . + Region + # + Call/Put Indicator + Four Alphanumeric Characters + - + ISO)|\n  |OCC21|Options Clearing Corporation OSI Series Key|This option symbol has up to 21 alphanumeric characters (excluding -ISO and # sign) and uses the following syntax- (Underlying Symbol + # + Expiration Year + Expiration Month + Expiration Day + Call/Put Indicator + Five-Digit Strike Dollar + Three-Digit Strike Decimal + - + ISO)|\n  |OPRA17|Options Price Reporting Authority's OSI Series Key|This option symbol has up to 17 alphanumeric characters (excluding the -ISO and #) and uses the following syntax - (Underlying Symbol + # + Call/Put Expiration Month Code + Expiration Day + Expiration Year + Decimal Indicator + Strike Price + - + ISO)|"
      enum:
      - FOS
      - OPRA17
      - OCC21
      default: FOS
      example: FOS
    optionsPrices:
      title: optionsPrices
      type: object
      description: The Options prices response object
      properties:
        askTime:
          description: Returns the Bid time
          type: number
          format: double
          example: 155959
          x-fds-fql-formula: P_OPT_ASK_TIME
          nullable: true
        bidTime:
          description: Returns the Last Trade time
          type: number
          format: double
          example: 155959
          x-fds-fql-formula: P_OPT_BID_TIME
          nullable: true
        date:
          description: The date of data in YYYY-MM-DD format
          type: string
          format: date
          example: '2021-05-05'
          nullable: true
        fsymId:
          description: FactSet's Option Symbol. For more detail, visit [OA 12636](https://my.apps.factset.com/oa/pages/12636#options)
          type: string
          example: TSLA.US#C00LP
          x-fds-fql-formula: P_OPT_SYMBOL('FOS')
          nullable: true
        price52WeekHigh:
          description: 52-Week High Price
          type: number
          format: double
          example: 663.6
          x-fds-fql-formula: P_OPT_HIGH_52WK
          nullable: true
        price52WeekLow:
          description: 52-Week Low Price
          type: number
          format: double
          example: 189.3
          x-fds-fql-formula: P_OPT_LOW_52WK
          nullable: true
        priceAsk:
          description: Ask price of the option
          type: number
          example: 492
          format: double
          x-fds-fql-formula: P_OPT_ASK_PRICE
          nullable: true
        priceBid:
          description: Bid price of the option
          type: number
          format: double
          example: 472.25
          x-fds-fql-formula: P_OPT_BID_PRICE
          nullable: true
        priceMidBidAsk:
          description: Mid/Bid/Ask price of the option
          type: number
          format: double
          example: 482.125
          x-fds-fql-formula: P_OPT_MIDBIDASK_PRICE
          nullable: true
        priceOpen:
          description: Open price of the option
          type: number
          format: double
          example: null
          x-fds-fql-formula: P_OPT_OPEN_PRICE
          nullable: true
        priceHigh:
          description: High price of the option
          type: number
          format: double
          example: null
          x-fds-fql-formula: P_OPT_HIGH_PRICE
          nullable: true
        priceLow:
          description: Low price of the option
          type: number
          format: double
          example: null
          x-fds-fql-formula: P_OPT_LOW_PRICE
          nullable: true
        priceSettlement:
          description: Settlement price of the option
          type: number
          example: null
          x-fds-fql-formula: P_OPT_SETTLEMENT_PRICE
          nullable: true
        priceStrike:
          description: The stated price per share for which underlying stock may be purchased (for a call) or sold (for a put) by the option holder upon exercise of the option contract.
          type: number
          format: double
          example: 190
          x-fds-fql-formula: P_OPT_STRIKE_PRICE
          nullable: true
        priceUnderlying:
          description: The price of the security that must be delivered when a derivative contract, such as a put or call option, is exercised.
          type: number
          format: double
          example: 670.94
          x-fds-fql-formula: P_OPT_UNDERLYING_PRICE
          nullable: true
        price:
          description: 'The price of the option based on the `quoteType` calculation. For US Options - Returns "Ask Price" if calc status==20, otherwise returns "Mid Bid/Ask Price". For International Options - Returns "Settlement Price".

            '
          type: number
          format: double
          example: 428.375
          x-fds-fql-formula: P_OPT_CALC_QUOTE
          nullable: true
        quoteType:
          description: 'The calculated quote type, based on the calculated status. This represents the type for `price` field. For US Options - Returns "Ask Price" if calc status==20, otherwise returns "Mid Bid/Ask Price". For International Options - Returns "Settlement Price".

            '
          type: string
          example: Mid Bid/Ask Price
          x-fds-fql-formula: P_OPT_CALC_QUOTE_TYPE
          nullable: true
        requestId:
          description: The requested identifier submitted in the query.
          type: string
          example: TSLA.US#C00LP
    optionsDatesRequest:
      title: optionsDatesRequest
      type: object
      properties:
        ids:
          $ref: '#/components/schemas/optionIds'
      required:
      - ids
    exchangeScreeningId:
      title: exchangeScreeningId
      type: string
      description: 'Controls the Option Universe Screen By Exchange. Screening across all Exchanges is not currently supported.

        |Exchange ISO|Exchange Name|Option Types Covered|Price Type Used in Greeks|

        |||||

        |ALLUSA_OPTS|U.S. Exchange (Composite) - All Historical Options|Equity, Index|Mid Bid/Ask|

        |USA_OPTS|U.S. Exchange (Composite) - Latest 1 Year|Equity, Index|Mid Bid/Ask|

        '
      enum:
      - ALLUSA_OPTS
      - USA_OPTS
      default: USA_OPTS
      example: USA_OPTS
      minItems: 1
      maxItems: 1
    exchange:
      title: exchange
      type: string
      description: "Controls the display of data returned based on the exchange for the specified Options Identifier.\n|Exchange ISO|Exchange Name|Option Types Covered|Price Type Used in Greeks|\n|||||\n|USA|U.S. Exchange (Composite)|Equity, Index|Mid Bid/Ask|\n\n  *Currently only OPRA Exchange is supported with exchange ISO \"USA\"*\n"
      enum:
      - USA
      default: USA
      example: USA
    greeks:
      title: Greeks
      description: Greeks Response fields
      type: object
      properties:
        delta:
          description: The delta value of the option. Refer to the `greeks` endpoint description for more details
          type: number
          format: double
          example: 0.973638814832741
          x-fds-fql-formula: P_OPT_DELTA
          nullable: true
        fsymId:
          description: FactSet's Option Symbol. For more detail, visit [OA 12636](https://my.apps.factset.com/oa/pages/12636#options)
          type: string
          example: TSLA.US#C00LP
          x-fds-fql-formula: P_OPT_SYMBOL('FOS')
          nullable: true
        gamma:
          description: The gamma value of the option. Refer to the `greeks` endpoint description for more details
          type: number
          format: double
          example: 2.76813921231278e-05
          x-fds-fql-formula: P_OPT_GAMMA
          nullable: true
        requestId:
          description: The requested identifier submitted in the query.
          type: string
          example: TSLA.US#C00LP
        rho:
          description: The rho value of the option. Refer to the `greeks` endpoint description for more details
          type: number
          format: double
          example: 0.094465131548418
          x-fds-fql-formula: P_OPT_RHO
          nullable: true
        theta:
          description: The theta value of the option. Refer to the `greeks` endpoint description for more details
          type: number
          format: double
          example: 0.473699140972176
          x-fds-fql-formula: P_OPT_THETA
          nullable: true
        vega:
          description: The vega value of the option. Refer to the `greeks` endpoint description for more details
          type: number
          format: double
          example: 0.246816993561083
          x-fds-fql-formula: P_OPT_VEGA
          nullable: true
        date:
          description: The date the data is as of in YYYY-MM-DD format.
          type: string
          format: date
          example: '2021-05-07'
          nullable: true
    impliedVolatilityResponse:
      title: volatilityResponse
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/impliedVolatility'
    optionsReferences:
      title: optionsReferences
      type: object
      description: Options Reference Response Fields
      properties:
        fsymId:
          description: FactSet's Option Symbol. For more detail, visit [OA 12636](https://my.apps.factset.com/oa/pages/12636#options)
          type: string
          example: TSLA.US#C00LP
          x-fds-fql-formula: P_OPT_SYMBOL('FOS')
          nullable: true
        adjustedFlag:
          description: Indicates whether or not a given option contract is adjusted for corporate actions in Y/N format.
          type: string
          example: N
          x-fds-fql-formula: P_OPT_ISADJUSTED
          nullable: true
        callPutFlag:
          description: Returns a 0 if the option is a call, returns a 1 if the option is a put.
          type: integer
          example: 0
          x-fds-fql-formula: P_OPT_CALL_OR_PUT
          nullable: true
        callPutPairSymbol:
          description: Returns the corresponding put symbol given a call symbol; and vice-versa.
          type: string
          example: TSLA.US#PGGVL
          x-fds-fql-formula: P_OPT_PC_PAIRS
          nullable: true
        contractSize:
          description: The Option Contract Size
          type: integer
          example: 100
          x-fds-fql-formula: P_OPT_CONTRACT_SIZE
          nullable: true
        currency:
          description: Option Currency in ISO3 format.
          type: string
          example: USD
          x-fds-fql-formula: P_OPT_CURRENCY
          nullable: true
        exchange:
          description: Option Exchange ISO. Visit [OA 14925](https://my.apps.factset.com/oa/pages/14925) for a list of Exchange ISOs.
          type: string
          example: USA
          x-fds-fql-formula: P_OPT_EXCHANGE
          nullable: true
        expirationDate:
          description: The date on which an options contract is no longer valid and, therefore, ceases to exist, in YYYY-MM-DD format
          type: string
          format: date
          example: '2021-09-17'
          x-fds-fql-formula: P_OPT_EXP_DATEN
          nullable: true
        expirationFrequency:
          description: Returns the corresponding expiration frequency for a given option symbol. If an option has more than four expiration months, then a Long-term Equity Anticipation Security (LEAPS) indicator will be returned.
          type: string
          example: LEAPS
          x-fds-fql-formula: P_OPT_EXP_FREQ
          nullable: true
        expirationMonth:
          description: Option Expiration month in MMM format.
          type: string
          example: SEP
          x-fds-fql-formula: P_OPT_EXP_MONTH
          nullable: true
        lepoFlag:
          description: Indicates whether or not a given options contract is a Low Exercise Price Option "LEPO" (0/1). This is unique to European Options (e.g. ASX exchange).
          type: integer
          example: null
          x-fds-fql-formula: P_OPT_IS_LEPO
          nullable: true
        name:
          description: Option Descriptive Security Name
          type: string
          example: Tesla Inc Call SEP21 190.00 (LEAPs)
          x-fds-fql-formula: P_OPT_SECURITY_NAME
          nullable: true
        occ21Symbol:
          description: 'Options Clearing Corporation OSI Series Key This option symbol has up to 21 alphanumeric characters (excluding -ISO and # sign) and uses the following syntax- (Underlying Symbol + # + Expiration Year + Expiration Month + Expiration Day + Call/Put Indicator + Five-Digit Strike Dollar + Three-Digit Strike Decimal + - + ISO)

            '
          type: string
          example: TSLA#210917C00190000
          x-fds-fql-formula: P_OPT_SYMBOL("OCC21")
          nullable: true
        opra17Symbol:
          description: 'Options Price Reporting Authority''s OSI Series Key. This option symbol has up to 17 alphanumeric characters (excluding the -ISO and #) and uses the following syntax - (Underlying Symbol + # + Call/Put Expiration Month Code + Expiration Day + Expiration Year + Decimal Indicator + Strike Price + - + ISO)

            '
          type: string
          example: TSLA#I1721C190000
          x-fds-fql-formula: P_OPT_SYMBOL("OPRA17")
          nullable: true
        rootTicker:
          description: The Root Ticker for the underlying security.
          type: string
          example: TSLA
          x-fds-fql-formula: P_OPT_ROOT_SYMBOL
          nullable: true
        style:
          description: "Returns the style of the option id requested, where - \n\n|style|description|\n|||\n|0|American|\n|1|European|\n\nAn American style option can be exercised anytime during its life. The majority of exchange-traded options are American.\n\nSince investors have the freedom to exercise their American options at any point during the life of the contract, they are more valuable than European options which can only be exercised at maturity.\n\nConsider this example -  If you bought a Ford March Call option expiring in March of 2006 in March 2005, you would have the right to exercise the call option at anytime up until its expiration date. Had the Ford option been a European option, you could only exercise the option at the expiry date in March '06. During the year, the share price could have been most optimal for exercise in December of 2005, but you would have to wait to exercise your option until March 2006, where it could be out-of-the-money and virtually worthless.\n\nNote that the name of this option style has nothing to do with the geographic location.\n"
          type: integer
          example: 0
          x-fds-fql-formula: P_OPT_STYLE
          nullable: true
        type:
          description: "The option type code, where \n|code|description|\n|||\n|0|Equity Option|\n|2|Index Option|\n|99|Option on an ETF|\n|60|Option on a Future|\n|19|Option on a Spot FX Rate|\n"
          type: integer
          example: 1
          x-fds-fql-formula: P_OPT_OPTION_TYPE
          nullable: true
        underlyingFsymSecurityId:
          description: Underlying FactSet Security Permanent Identifier in XXXXXX-S format.
          type: string
          example: WWDPYB-S
          nullable: true
        date:
          description: The date the data is as of in YYYY-MM-DD format.
          type: string
          format: date
          example: '2021-05-07'
          nullable: true
        settlementMethod:
          description: 'The contract settlement method. Possible values are -

            |method|description|

            |||

            |C|Cash|

            |P|Physical|

            |NA|Not Covered|

            '
          type: string
          example: null
          nullable: true
        requestId:
          description: The requested identifier submitted in the query.
          type: string
          example: TSLA.US#C00LP
    snapshotRequest:
      title: snapshotRequest
      type: object
      properties:
        ids:
          $ref: '#/components/schemas/optionIds'
        date:
          $ref: '#/components/schemas/chainsDate'
        currency:
          $ref: '#/components/schemas/currency'
        calendar:
          $ref: '#/components/schemas/calendar'
      required:
      - ids
    optionsDatesResponse:
      title: optionsDatesResponse
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/optionsDates'
    optionsVolumeResponse:
      title: optionsVolumeResponse
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/optionsVolume'
    optionsReferencesResponse:
      title: optionsReferencesResponse
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/optionsReferences'
    frequency:
      type: string
      title: frequency
      description: "Controls the display frequency of the data returned.\n  * **D** = Daily\n  * **W** = Weekly, based on the last day of the week of the start date.\n  * **M** = Monthly, based on the last trading day of the month.\n  * **AM** = Monthly, based on the start date (e.g., if the start date is June 16, data is displayed for June 16, May 16, April 16 etc.).\n  * **CQ** = Quarterly based on the last trading day of the calendar quarter (March, June, September, or December).\n  * **FQ** = Fiscal Quarter of the company.\n  * **AY** = Actual Annual, based on the start date.\n  * **CY** = Calendar Annual, based on the last trading day of the calendar year.\n  * **FY** = Fiscal Annual, based on the last trading day of the company's fiscal year."
      enum:
      - D
      - W
      - M
      - AM
      - CQ
      - FQ
      - AY
      - CY
      - FY
      default: D
      example: D
    optionScreeningResponse:
      title: optionScreeningResponse
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/optionScreening'
    optionScreening:
      title: optionScreening
      type: object
      properties:
        optionId:
          type: string
          description: The option identifier
          example: AAPL.US#C0185
          x-fds-fql-formula: P_OPT_SCREENING
          nullable: true
      description: Option Screening response fields
    optionsVolumeRequest:
      title: optionsVolumeRequest
      type: object
      properties:
        ids:
          $ref: '#/components/schemas/optionIds'
        startDate:
          $ref: '#/components/schemas/startDate'
        endDate:
          $ref: '#/components/schemas/endDate'
        frequency:
          $ref: '#/components/schemas/frequency'
        exchange:
          $ref: '#/components/schemas/exchange'
        calendar:
          $ref: '#/components/schemas/calendar'
      required:
      - ids
  examples:
    badRequestInvalidParameters:
      summary: Bad Request - Invalid Parameters
      description: This error message occurs when a request parameter is used in which is not recognized by the service. Please revise your request to include only the parameters listed in the specification. Typical causes are spelling mistakes and use of improper casing.
      value:
        status: Bad Request
        timestamp: '2020-06-12 15:58:54.068'
        path: /factset-options/v1/{endpoint}
        message: 'Invalid Parameter (s): fakeParameterName1 fakeParameterName2. Please modify your request to use parameters outlined in the specification for this endpoint.'
        subErrors: null
    badRequestDateFormat:
      summary: Bad Request - Date Format
      description: This bad request occurs when a request does not use the YYYY-MM-DD in the date parameters. To resolve, convert your date to YYYY-MM-DD.
      value:
        status: Bad Request
        timestamp: '2019-10-31 16:08:07.945'
        path: /factset-options/v1/{endpoint}
        message: 'The date parameter ''startDate'' must be in the following date format: YYYY-MM-DD'
        subErrors: null
    notWritable:
      summary: Internal Server Error - Not Writable
      description: This error may be returned when the server encounters an error writing the JSON response.
      value:
        status: Internal Server Error
        timestamp: '2019-11-05 09:48:29.18'
        path: /factset-options/v1/{endpoint}
        message: Error writing JSON output
        subErrors: null
    unsupportedMediaType:
      summary: Unsupported Media Type
      description: This bad request occurs when the media type passed in the request is not supported. Currently the APIs only support 'application/json'.
      value:
        status: Unsupported Media Type
        timestamp: '2019-11-05 09:42:27.237'
        path: /factset-options/v1/{endpoint}
        message: text/html media type is not supported. Supported media types are application/json
        subErrors: null
    generalException:
      summary: Internal Server Error - General Exception
      description: This is the most general error that can be returned to by the service. Please `Report Issue` to FactSet.
      value:
        status: Internal Server Error
        timestamp: '2019-11-01 10:36:01.944'
        path: /factset-options/v1/{endpoint}
        message: Unexpected error
        subErrors: null
    badRequestReadTimeout:
      summary: Bad Request - Read Timeout
      description: This error may be returned if it takes more than 29 seconds to hear back from the data fetch service.
      value:
        status: Bad Request
        timestamp: '2019-11-04 16:18:38.949'
        path: /factset-options/v1/{endpoint}
        message: The request took too long. Try again with a smaller request.
        subErrors: null
    badRequestFutureDate:
      summary: Bad Request - Future Date
      description: This error message occurs when a future date is requested in the startDate and endDate parameters. Please revise your request to include dates as of today's current date or any prior historical date.
      value:
        status: Bad Request
        timestamp: '2020-06-12 15:52:48.091'
        path: /factset-options/v1/{endpoint}
        message: The use of future dates is not applicable in this endpoint. Please revise your request to include dates up to today's current date.
        subErrors: null
    forbidden:
      summary: Forbidden
      description: The USERNAME-SERIAL attempted to request the endpoint is not authorized to access. The request was a legal request, but the server is refusing to respond. Please reach out to FactSet Account Team for assistance with authorization.
      value:
        status: Forbidden
        timestamp: '2020-06-12 16:08:51.731'
        path: /factset-options/v1/{endpoint}
        message: USERNAME-SERIAL does not have permission to use /factset-funds /v1/{endpoint}
        subErrors: null
    unauthenticated:
      summary: User Authentication Failed
      description: This occurs when a user is not properly authenticated or recognized by the service. Please double check the USERNAME-SERIAL and API-Key used to request and ensure you are within the IP range specified for the Key. Report Issue under 401 error for help with troubleshooting.
      value:
        status: User Authentication Failed
        timestamp: '2019-10-31 16:08:07.945'
        path: /factset-options/v1/{endpoint}
        message: User Authentication Failed.
        subErrors: null
    badRequestMalformedJSON:
      summary: Bad Request - Malformed JSON Request
      description: This error may be returned when the request body is specified as JSON, but is not in proper JSON format.
      value:
        status: Bad Request
        timestamp: '2019-11-05 09:48:29.18'
        path: /factset-options/v1/{endpoint}
        message: Malformed JSON Request
        subErrors: null
    badRequestRequiredParameter:
      summary: Bad Request - Required Parameter Missing
      description: This error message occurs when the request does not include the required parameters. Required parameters are indicated with a red asterisks symbol in the specification file.
      value:
        status: Bad Request
        timestamp: '2020-06-12 15:48:42.016'
        path: /factset-options/v1/{endpoint}
        message: The parameter 'ids' is required and may not be empty.
        subErrors: null
  responses:
    '401':
      description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and have successfully generated an API KEY for the IP range you are connecting from. For more help, select the **Report Issue** in the top right corner of this Developer Portal specification card and choose Connectivity 401 or 403 Responses.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponse'
          examples:
            Bad Request - Date Format:
              $ref: '#/components/examples/unauthenticated'
    '415':
      description: Unsupported Media Type. This error may be returned when the caller sends a resource in a format that is not accepted by the server. This can be fixed by ensuring that Content-Type header is set to the correct value. In this instance, "application/json" would be the appropriate value.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponse'
          examples:
            Bad Request - Date Format:
              $ref: '#/components/examples/unsupportedMediaType'
    '403':
      description: The USERNAME-SERIAL attempted to request the endpoint is not authorized to access. The request was a legal request, but the server is refusing to respond. Please reach out to FactSet Account Team for assistance with authorization.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponse'
          examples:
            Bad Request - Date Format:
              $ref: '#/components/examples/forbidden'
    '500':
      description: Internal Server Error.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponse'
          examples:
            Internal Server Error - Not Writable:
              $ref: '#/components/examples/notWritable'
            Internal Server Error - General Exception:
              $ref: '#/components/examples/generalException'
    '400':
      description: Bad Request. This can occur for several reasons. Please review the "message" for more details.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponse'
          examples:
            Bad Request - Date Format:
              $ref: '#/components/examples/badRequestDateFormat'
            Bad Request - Missing Required Parameter:
              $ref: '#/components/examples/badRequestRequiredParameter'
            Bad Request - Future Date:
              $ref: '#/components/examples/badRequestFutureDate'
            Bad Request - Invalid Parameter:
              $ref: '#/components/examples/badRequestInvalidParameters'
            Bad Request - Malformed JSON:
              $ref: '#/components/examples/badRequestMalformedJSON'
            Bad Request - Read Timeout:
              $ref: '#/components/examples/badRequestReadTimeout'
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
externalDocs:
  url: https://developer.factset.com/api-catalog/analytics-datastore-api
  description: API Documentation
