openapi: 3.0.3
info:
  title: Factset Analytics Datastore About Intraday API
  description: Allow clients to fetch precalculated Analytics through predeterministic URLs.
  contact:
    name: FactSet Research Systems
    url: https://developer.factset.com/contact
    email: api@factset.com
  license:
    name: Apache License, Version 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  version: 1.0.0
servers:
- url: https://api.factset.com
  description: Production
- url: https://api-sandbox.factset.com
  description: Sandbox
security:
- basicAuth: []
tags:
- name: Intraday
paths:
  /vendor/chartIQ/timeSeries/intraday/subsample/get:
    post:
      tags:
      - Intraday
      operationId: post/vendor/chartIQ/timeSeries/intraday/subsample/get
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Factset Single Subsample Intraday Data for a Notation.
      description: Single subsample intraday data for a notation. The subsample may exceed the entitled time range, but will be based only on ticks that are in the entitled range.
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostVendorChartIQTimeSeriesIntradaySubsampleGetRequest'
        required: true
      responses:
        '200':
          $ref: '#/components/responses/PostVendorChartIQTimeSeriesIntradaySubsampleGet200Response'
      parameters: []
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /vendor/chartIQ/timeSeries/intraday/subsample/list:
    post:
      tags:
      - Intraday
      operationId: post/vendor/chartIQ/timeSeries/intraday/subsample/list
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: true
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Factset Subsampled Intraday Time Series Data for a Notation.
      description: Subsampled intraday time series data for a notation. If a subsample's time range is not entirely within the maximally entitled time range, the subsample is excluded from the response.<br><br>Pagination to a previous page is not supported and `pagination.previous` is always `null`.
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostVendorChartIQTimeSeriesIntradaySubsampleListRequest'
        required: true
      responses:
        '200':
          $ref: '#/components/responses/PostVendorChartIQTimeSeriesIntradaySubsampleList200Response'
      parameters: []
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /prices/timeSeries/intraday/list:
    post:
      tags:
      - Intraday
      operationId: post/prices/timeSeries/intraday/list
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: true
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Factset Intraday Time Series Data for a Notation.
      description: Intraday time series data for a notation.<br><br>Pagination to a previous page is not supported and `pagination.previous` is always `null`.
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostPricesTimeSeriesIntradayListRequest'
        required: true
      responses:
        '200':
          $ref: '#/components/responses/PostPricesTimeSeriesIntradayList200Response'
      parameters: []
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /prices/timeSeries/intraday/subsample/get:
    post:
      tags:
      - Intraday
      operationId: post/prices/timeSeries/intraday/subsample/get
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Factset Single Subsample Intraday Data for a Notation.
      description: Single subsample intraday data for a notation. The subsample may exceed the entitled time range, but will be based only on ticks that are in the entitled range.
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostPricesTimeSeriesIntradaySubsampleGetRequest'
        required: true
      responses:
        '200':
          $ref: '#/components/responses/PostPricesTimeSeriesIntradaySubsampleGet200Response'
      parameters: []
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /prices/timeSeries/intraday/subsample/list:
    post:
      tags:
      - Intraday
      operationId: post/prices/timeSeries/intraday/subsample/list
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: true
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Factset Subsampled Intraday Time Series Data for a Notation.
      description: Subsampled intraday time series data for a notation. If a subsample's time range is not entirely within the maximally entitled time range, the subsample is excluded from the response.<br><br>Pagination to a previous page is not supported and `pagination.previous` is always `null`.
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostPricesTimeSeriesIntradaySubsampleListRequest'
        required: true
      responses:
        '200':
          $ref: '#/components/responses/PostPricesTimeSeriesIntradaySubsampleList200Response'
      parameters: []
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /securitizedDerivative/notation/ranking/intraday/list:
    post:
      tags:
      - Intraday
      operationId: post/securitizedDerivative/notation/ranking/intraday/list
      x-supportsOffsetBasedPaging: true
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 5
      x-supportsPermissionDeniedResponse: false
      summary: Factset Ranking of Securitized Derivatives' Notations Using Intraday Figures.
      description: 'Ranking of securitized derivatives'' notations using intraday figures. The result is limited to 100 notations that all must satisfy all selected filters. If more than one notation of an instrument matches the parameters, and no market priority has been specified, the selection of the notation depends on the sort attribute:

        - absolute and relative performance (see the response attributes `trade.performance.absolute` and `trade.performance.relative`) - the notation with the most recent trade price is used

        - number trades, trading value and trading volume (see the response attributes `accumulated.numberTrades`, `accumulated.tradingVolume` and `accumulated.tradingValue`) - the notation with highest (lowest) value is used


        By default, the result is sorted descending by the relative intraday performance corresponding to the most recent trade price, see attribute `trade.performance.relative`. The result may contain sortable values based on different currencies, possibly making the ranking nonsensical, if the parameters `valueUnit` and/or `currency` have not been specified.


        The search can be restricted to a specific set of products by using customer-specific instrument or notation lists. Such restriction lists are set up by FactSet upon request.


        All identifiers used as parameters must be valid and entitled.'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostSecuritizedDerivativeNotationRankingIntradayListRequest'
      responses:
        '200':
          $ref: '#/components/responses/PostSecuritizedDerivativeNotationRankingIntradayList200Response'
      parameters: []
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /stock/notation/ranking/intraday/list:
    post:
      tags:
      - Intraday
      operationId: post/stock/notation/ranking/intraday/list
      x-supportsOffsetBasedPaging: true
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 5
      x-supportsPermissionDeniedResponse: false
      summary: Ranking of stocks' notations using intraday figures.
      description: 'Ranking of stocks'' notations using intraday figures. The result is limited to 100 notations that all must satisfy all selected filters. If more than one notation of an instrument matches the parameters, and no market priority has been specified, only the notation with the highest trading volume, averaged over one month, is considered.


        By default, the result is sorted descending by the relative intraday performance corresponding to the most recent trade price, see attribute `trade.performance.relative`. The result may contain sortable values based on different currencies, possibly making the ranking nonsensical, if the parameter `currency` has not been specified.`


        The search can be restricted to a specific set of products by using customer-specific instrument or notation restriction lists. Such restriction lists are set up by FactSet upon request.


        All identifiers used as parameters must be valid and entitled.'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostStockNotationRankingIntradayListRequest'
      responses:
        '200':
          $ref: '#/components/responses/PostStockNotationRankingIntradayList200Response'
      parameters: []
components:
  schemas:
    PartialOutputObject:
      type: object
      properties:
        isPartial:
          type: boolean
          description: Flag indicating that the response is a possibly incomplete array or an object containing a possibly incomplete array, due to hitting a processing time limit. If `true`, some matching results might be missing from the array, or elements for matching results might be incorrectly included (for example, when priority sorting would have removed the element). Depending on the use case, such a response may be unsuitable.
          example: true
      description: Object denoting that the endpoint response is possibly incomplete.
      required:
      - isPartial
      x-property-sort:
      - isPartial
    PostVendorChartIQTimeSeriesIntradaySubsampleGetRequest:
      x-property-sort:
      - data
      - meta
      description: Request Body
      required:
      - data
      type: object
      properties:
        data:
          type: object
          x-property-sort:
          - identifier
          - type
          - quality
          - from
          - granularity
          - adjustments
          description: The data member contains the request's primary data.
          properties:
            identifier:
              type: object
              x-property-sort:
              - value
              - type
              description: Identifier and type.
              properties:
                value:
                  type: string
                  pattern: ^[B-DF-HJ-NP-TV-Z0-9]{6}-[LR]$|^[A-Z0-9.#&*+]{1,47}-[A-Z0-9]{2,4}$|^[0-9]{3,20}$
                  maxLength: 50
                  exclusiveMaximum: false
                  minLength: 3
                  exclusiveMinimum: false
                  description: Identifier to resolve.
                type:
                  type: string
                  description: Type of the identifier.
                  x-enum-description:
                  - MDG identifier of a listing.
                  - FactSet market symbol of a listing.
                  - Regional FactSet ticker symbol, identifying the primary listing in the region.
                  - FactSet Permanent Identifier on listing level.
                  - Regional FactSet Permanent Identifier, identifying the primary listing in the region.
                  enum:
                  - idNotation
                  - tickerExchange
                  - tickerRegion
                  - fdsPermanentIdentifierListing
                  - fdsPermanentIdentifierRegional
              required:
              - value
              - type
            type:
              type: string
              description: Type of the price as configured for the customer.
              default: trade
              x-enum-description:
              - Trade price (ordinary, auction, pre or post-trading).
              - Bid price.
              - Ask price.
              - Yield price.
              enum:
              - trade
              - bid
              - ask
              - yield
            quality:
              type: string
              description: Quality of the price.
              default: DLY
              x-enum-description:
              - 'Real-time: intraday prices with minimal technical processing delays.'
              - 'Delayed: intraday prices with an exchange-imposed delay of usually 15 to 30 minutes.'
              - 'Best: choose the price quality with the least delay, as entitled for the client.'
              enum:
              - RLT
              - DLY
              - BST
            from:
              type: string
              format: datetime
              description: Date and time of the start point of the subsample (inclusive). `from` must be aligned to `granularity`. That is, the numerical value is an integral multiple of the time span value represented by `granularity`. The data accessible in the past is limited to a few weeks at most. Values in the future are not allowed.
            granularity:
              type: string
              description: Subsample granularities suitable for intraday data.
              default: 1h
              x-enum-description:
              - Each subsample interval encompasses 1 second.
              - Each subsample interval encompasses 5 seconds.
              - Each subsample interval encompasses 10 seconds.
              - Each subsample interval encompasses 30 seconds.
              - Each subsample interval encompasses 1 minute.
              - Each subsample interval encompasses 5 minutes.
              - Each subsample interval encompasses 10 minutes.
              - Each subsample interval encompasses 15 minutes.
              - Each subsample interval encompasses 30 minutes.
              - Each subsample interval encompasses 1 hour.
              enum:
              - 1s
              - 5s
              - 10s
              - 30s
              - 1m
              - 5m
              - 10m
              - 15m
              - 30m
              - 1h
            adjustments:
              type: object
              x-property-sort:
              - split
              description: Adjustments values returned.
              properties:
                split:
                  type: boolean
                  default: true
                  description: Adjustments are applied for corporate action effects due to the notation having a split, a reverse split, or a similar factor-based corporate action.
          required:
          - identifier
          - from
          example: example_value
        meta:
          type: object
          description: The meta member contains the meta information of the request.
          properties:
            attributes:
              $ref: '#/components/schemas/AttributesMember'
          x-property-sort:
          - attributes
          example: example_value
    PostPricesTimeSeriesIntradayListRequest:
      x-property-sort:
      - data
      - meta
      description: Request Body
      required:
      - data
      type: object
      properties:
        data:
          type: object
          x-property-sort:
          - identifier
          - type
          - quality
          - range
          - newestFirst
          - applyTickCorrections
          - includeVolumeOnlyTicks
          - adjustments
          description: The data member contains the request's primary data.
          properties:
            identifier:
              type: object
              x-property-sort:
              - value
              - type
              description: Identifier and type.
              properties:
                value:
                  type: string
                  pattern: ^[B-DF-HJ-NP-TV-Z0-9]{6}-[LR]$|^[A-Z0-9.#&*+]{1,47}-[A-Z0-9]{2,4}$|^[0-9]{3,20}$
                  maxLength: 50
                  exclusiveMaximum: false
                  minLength: 3
                  exclusiveMinimum: false
                  description: Identifier to resolve.
                type:
                  type: string
                  description: Type of the identifier.
                  x-enum-description:
                  - MDG identifier of a listing.
                  - FactSet market symbol of a listing.
                  - Regional FactSet ticker symbol, identifying the primary listing in the region.
                  - FactSet Permanent Identifier on listing level.
                  - Regional FactSet Permanent Identifier, identifying the primary listing in the region.
                  enum:
                  - idNotation
                  - tickerExchange
                  - tickerRegion
                  - fdsPermanentIdentifierListing
                  - fdsPermanentIdentifierRegional
              required:
              - value
              - type
            type:
              type: string
              description: Type of the price as configured for the customer.
              default: trade
              x-enum-description:
              - Trade price (ordinary, auction, pre or post-trading).
              - Bid price.
              - Ask price.
              - Yield price.
              enum:
              - trade
              - bid
              - ask
              - yield
            quality:
              type: string
              description: Quality of the price.
              default: DLY
              x-enum-description:
              - 'Real-time: intraday prices with minimal technical processing delays.'
              - 'Delayed: intraday prices with an exchange-imposed delay of usually 15 to 30 minutes.'
              - 'Best: choose the price quality with the least delay, as entitled for the client.'
              enum:
              - RLT
              - DLY
              - BST
            range:
              type: object
              format: timeRange
              properties:
                start:
                  type: string
                  format: datetime
                  description: The starting point of the time range (inclusive). The data accessible in the past is limited to a few weeks at most.
                end:
                  type: string
                  format: datetime
                  description: The ending point of the time range (exclusive). Values in the future are not allowed.
              x-property-sort:
              - start
              - end
              required:
              - start
              - end
              description: Date and time range for the time series.
            newestFirst:
              type: boolean
              default: false
              description: Deliver the chronological last part of the requested data first.
            applyTickCorrections:
              type: string
              description: "This attribute represents the choice whether to apply insert, update, and delete corrections for individual ticks sent by the exchange or devised by FactSet Digital Solutions GmbH.\n\n If the exchange or FactSet Digital Solutions GmbH decides to correct data, a correction instruction tick is sent shortly (usually on the same trading day) after dissemination of the corresponding\noriginal tick (if any). The correction instruction is then applied, yielding a corrected view. For \"insert\" corrections, there is no original tick, and the corrected view contains the inserted tick. For \"update\" corrections, the corrected view contains the updated original tick. For \"delete\" corrections, the original tick is removed from the corrected view."
              default: none
              x-enum-description:
              - Select original tick data without applying any corrections.
              - Select corrected view.
              enum:
              - none
              - all
            includeVolumeOnlyTicks:
              type: boolean
              default: false
              description: Include ticks that contain a volume without a price.
            adjustments:
              type: object
              x-property-sort:
              - split
              description: Adjustments values returned.
              properties:
                split:
                  type: boolean
                  default: true
                  description: Adjustments are applied for corporate action effects due to the notation having a split, a reverse split, or a similar factor-based corporate action.
          required:
          - identifier
          - range
          example: example_value
        meta:
          type: object
          description: The meta member contains the meta information of the request.
          properties:
            attributes:
              $ref: '#/components/schemas/AttributesMember'
            pagination:
              type: object
              description: Pagination attributes for the cursor-based pagination strategy.
              properties:
                cursor:
                  type: string
                  maxLength: 50
                  exclusiveMaximum: false
                  description: Starting point as returned in the attributes `pagination.next` or `pagination.previous` by a prior invocation of this endpoint, or undefined (default).
                limit:
                  type: number
                  format: int32
                  minimum: 0
                  exclusiveMinimum: false
                  maximum: 500
                  exclusiveMaximum: false
                  default: 20
                  description: Non-negative maximum number of entries to return.
              x-property-sort:
              - cursor
              - limit
          x-property-sort:
          - attributes
          - pagination
          example: example_value
    OffsetBasedPaginationOutputObject_2:
      type: object
      description: Pagination attributes for the offset-based pagination strategy.
      properties:
        total:
          type: number
          format: int32
          description: Total number of entries in the result set.
        isEstimatedTotal:
          type: boolean
          description: Flag indicating that the value of "total" is estimated.
      required:
      - total
      - isEstimatedTotal
      x-property-sort:
      - total
      - isEstimatedTotal
    LanguageMember:
      type: string
      format: isoLanguage
      description: ISO 639-1 code of the language.
      maxLength: 2
      minLength: 2
      exclusiveMinimum: false
      exclusiveMaximum: false
    StatusObject_2:
      type: object
      properties:
        code:
          type: number
          format: int32
          description: The HTTP status code of the response, mirroring the code from the Status-Line of the HTTP response message (see [RFC2616] section 6.1).
      description: The status member contains the status code of the response.
      required:
      - code
    AttributesMember:
      type: array
      description: Limit the attributes returned in the response to the specified set.
      items:
        type: string
        maxLength: 100
        exclusiveMaximum: false
      maxItems: 50
      uniqueItems: true
    StatusObject:
      type: object
      properties:
        code:
          type: number
          format: int32
          description: The HTTP status code of the response, mirroring the code from the Status-Line of the HTTP response message (see [RFC2616] section 6.1).
          example: 42.5
      description: The status member contains the status code of the response.
      required:
      - code
    PostPricesTimeSeriesIntradaySubsampleGetRequest:
      x-property-sort:
      - data
      - meta
      description: Request Body
      required:
      - data
      type: object
      properties:
        data:
          type: object
          x-property-sort:
          - identifier
          - type
          - quality
          - from
          - granularity
          - adjustments
          description: The data member contains the request's primary data.
          properties:
            identifier:
              type: object
              x-property-sort:
              - value
              - type
              description: Identifier and type.
              properties:
                value:
                  type: string
                  pattern: ^[B-DF-HJ-NP-TV-Z0-9]{6}-[LR]$|^[A-Z0-9.#&*+]{1,47}-[A-Z0-9]{2,4}$|^[0-9]{3,20}$
                  maxLength: 50
                  exclusiveMaximum: false
                  minLength: 3
                  exclusiveMinimum: false
                  description: Identifier to resolve.
                type:
                  type: string
                  description: Type of the identifier.
                  x-enum-description:
                  - MDG identifier of a listing.
                  - FactSet market symbol of a listing.
                  - Regional FactSet ticker symbol, identifying the primary listing in the region.
                  - FactSet Permanent Identifier on listing level.
                  - Regional FactSet Permanent Identifier, identifying the primary listing in the region.
                  enum:
                  - idNotation
                  - tickerExchange
                  - tickerRegion
                  - fdsPermanentIdentifierListing
                  - fdsPermanentIdentifierRegional
              required:
              - value
              - type
            type:
              type: string
              description: Type of the price as configured for the customer.
              default: trade
              x-enum-description:
              - Trade price (ordinary, auction, pre or post-trading).
              - Bid price.
              - Ask price.
              - Yield price.
              enum:
              - trade
              - bid
              - ask
              - yield
            quality:
              type: string
              description: Quality of the price.
              default: DLY
              x-enum-description:
              - 'Real-time: intraday prices with minimal technical processing delays.'
              - 'Delayed: intraday prices with an exchange-imposed delay of usually 15 to 30 minutes.'
              - 'Best: choose the price quality with the least delay, as entitled for the client.'
              enum:
              - RLT
              - DLY
              - BST
            from:
              type: string
              format: datetime
              description: Date and time of the start point of the subsample (inclusive). `from` must be aligned to `granularity`. That is, the numerical value is an integral multiple of the time span value represented by `granularity`. The data accessible in the past is limited to a few weeks at most. Values in the future are not allowed.
            granularity:
              type: string
              description: Subsample granularities suitable for intraday data.
              default: 1h
              x-enum-description:
              - Each subsample interval encompasses 1 second.
              - Each subsample interval encompasses 5 seconds.
              - Each subsample interval encompasses 10 seconds.
              - Each subsample interval encompasses 30 seconds.
              - Each subsample interval encompasses 1 minute.
              - Each subsample interval encompasses 5 minutes.
              - Each subsample interval encompasses 10 minutes.
              - Each subsample interval encompasses 15 minutes.
              - Each subsample interval encompasses 30 minutes.
              - Each subsample interval encompasses 1 hour.
              enum:
              - 1s
              - 5s
              - 10s
              - 30s
              - 1m
              - 5m
              - 10m
              - 15m
              - 30m
              - 1h
            adjustments:
              type: object
              x-property-sort:
              - split
              description: Adjustments values returned.
              properties:
                split:
                  type: boolean
                  default: true
                  description: Adjustments are applied for corporate action effects due to the notation having a split, a reverse split, or a similar factor-based corporate action.
          required:
          - identifier
          - from
          example: example_value
        meta:
          type: object
          description: The meta member contains the meta information of the request.
          properties:
            attributes:
              $ref: '#/components/schemas/AttributesMember'
          x-property-sort:
          - attributes
          example: example_value
    PostSecuritizedDerivativeNotationRankingIntradayListRequest:
      type: object
      properties:
        data:
          type: object
          x-property-sort:
          - prices
          - valueUnit
          - currency
          - market
          - instrumentRestrictionList
          - notationRestrictionList
          - category
          - registrationCountry
          - lifeCycle
          - issuer
          - exercise
          - underlying
          - factorCertificates
          - knockedOut
          - knockedIn
          - performance
          description: The data member contains the request's primary data.
          properties:
            prices:
              description: Price-related parameters.
              type: object
              x-property-sort:
              - quality
              properties:
                quality:
                  type: string
                  description: Quality of the trade-related attributes, see attributes `trade` and `accumulated` in the response.
                  x-enum-description:
                  - 'Real-time: intraday prices with minimal technical processing delays.'
                  - 'Delayed: intraday prices with an exchange-imposed delay of usually 15 to 30 minutes.'
                  enum:
                  - RLT
                  - DLY
                  default: DLY
            valueUnit:
              description: Value unit of the notations in the result. The parameter ensures the consistency and comparability of the absolute and relative performance for all securitized derivatives, and of the trading value for securitized derivatives quoted in percent. See response attributes `trade.performance.absolute` and `trade.performance.relative`, and `accumulated.tradingValue` respectively.
              type: object
              x-property-sort:
              - id
              properties:
                id:
                  type: number
                  format: id32
                  x-positive: true
                  description: Identifier of the value unit. See endpoint `/basic/valueUnit/list` for valid values.
            currency:
              description: Main currency of the trading value and volume for securitized derivatives quoted in percent. The parameter ensures the consistency and comparability of the trading value and trading volume for such securitized derivatives. For securitized derivatives not quoted in percent, the currency and the value unit, see parameter `valueUnit`, are identical, thus it is not neccessary to specify the currency if the value unit has been specified.
              type: object
              x-property-sort:
              - id
              properties:
                id:
                  type: number
                  format: id32
                  x-positive: true
                  description: Identifier of the main currency. See endpoint `/basic/valueUnit/currency/main/list` for valid values.
            market:
              description: Market-related parameters. See endpoint `/basic/market/list` for valid values.
              type: object
              x-property-sort:
              - ids
              properties:
                ids:
                  description: List of market identifiers. Only securitized derivatives that are traded on a market in the provided list are returned. The list restricts the request to only those markets.
                  type: array
                  nullable: false
                  items:
                    type: number
                    format: id32
                    x-positive: true
                  uniqueItems: true
                  minItems: 1
                  maxItems: 1
              required:
              - ids
            instrumentRestrictionList:
              description: Instrument-level restriction. If present, the result contains only securitized derivatives that are a member of at least one of the provided lists.
              type: object
              x-property-sort:
              - ids
              properties:
                ids:
                  description: List of identifiers of restriction lists.
                  type: array
                  nullable: false
                  items:
                    type: number
                    format: id32
                    x-positive: true
                  uniqueItems: true
                  maxItems: 3
            notationRestrictionList:
              description: Notation-level restriction. If present, the result contains only securitized derivatives that are a member of at least one of the provided lists.
              type: object
              x-property-sort:
              - ids
              properties:
                ids:
                  description: List of identifiers of restriction lists.
                  type: array
                  nullable: false
                  items:
                    type: number
                    format: id32
                    x-positive: true
                  uniqueItems: true
                  maxItems: 3
            category:
              description: Only securitized derivatives that belong to at least one category in the provided list will be returned.
              type: object
              x-property-sort:
              - ids
              properties:
                ids:
                  description: List of category identifiers. See endpoint `/category/listBySystem` for category systems 18 and 23 for valid values.
                  type: array
                  nullable: false
                  items:
                    type: number
                    format: id32
                    x-positive: true
                  uniqueItems: true
                  minItems: 1
                  maxItems: 20
              required:
              - ids
            registrationCountry:
              description: Only securitized derivatives registered for trading in a country in the provided list are returned.
              type: object
              x-property-sort:
              - ids
              properties:
                ids:
                  description: List of country identifiers. See endpoint `/basic/region/country/list` for valid values.
                  type: array
                  nullable: false
                  items:
                    type: number
                    format: id32
                    x-positive: true
                  uniqueItems: true
                  maxItems: 20
            lifeCycle:
              description: Parameters related to important dates.
              type: object
              x-property-sort:
              - maturity
              properties:
                maturity:
                  description: Parameters related to the maturity.
                  type: object
                  x-property-sort:
                  - perpetual
                  properties:
                    perpetual:
                      type: string
                      description: Specifies whether or not perpetual securitized derivatives, i.e. such that do not mature, are included in the result.
                      default: include
                      x-enum-description:
                      - Only perpetual securitized derivatives are included in the result.
                      - Perpetual securitized derivatives are included in the result.
                      - Perpetual securitized derivatives are excluded from the result.
                      enum:
                      - only
                      - include
                      - exclude
            issuer:
              description: Parameters related to the issuer.
              type: object
              x-property-sort:
              - ids
              properties:
                ids:
                  description: List of identifiers of legal entities in the role of an issuer, including issuer groups. FactSet defines issuer groups to facilitate searching; they do not represent actual juristic persons. See endpoint `/securitizedDerivative/issuer/search` for valid values.
                  type: array
                  nullable: false
                  items:
                    type: number
                    format: id32
                    x-positive: true
                  uniqueItems: true
                  maxItems: 20
            exercise:
              description: Parameters related to the exercise.
              type: object
              x-property-sort:
              - right
              properties:
                right:
                  type: string
                  description: Exercise right.
                  x-enum-description:
                  - A put option gives buyer the right, but not the obligation, to sell an asset at a specified price within a specific time period. Put is synonymous to short or bear and is used in a broader sense for products that make profits from falling underlying levels.
                  - A call option gives buyer the right, but not the obligation, to buy an asset at a specified price within a specific time period. Call is synonymous to long or bull and is used in a broader sense for products that make profits from rising underlying levels.
                  enum:
                  - put
                  - call
            underlying:
              description: 'Underlying selection. A list of underlyings can be selected by either using their instrument identifiers, see parameter `underlying.instrument.ids` or by using their notation identifiers, see parameter `underlying.notation.ids` but not both at the same time. Only one of the provided identifiers needs to be matched in order for a securitized derivative to be returned in the result. The list of underlyings is particularly useful to search for securitized derivatives that have very similar but not exactly the same underlyings such as futures with different maturities on a given commodity, e.g. brent crude oil.


                For the selection of the effective underling of factor certificates, use `factorCertificates.effectiveUnderlying.instrument.ids`.'
              type: object
              x-property-sort:
              - instrument
              - notation
              properties:
                instrument:
                  description: Underlying selection using instrument identifiers.
                  type: object
                  x-property-sort:
                  - ids
                  properties:
                    ids:
                      description: List of instrument identifiers.
                      type: array
                      nullable: false
                      items:
                        type: string
                        format: id64
                        x-positive: true
                      uniqueItems: true
                      maxItems: 100
                notation:
                  description: Underlying selection using notation identifiers.
                  type: object
                  x-property-sort:
                  - ids
                  properties:
                    ids:
                      description: List of notation identifiers.
                      type: array
                      nullable: false
                      items:
                        type: string
                        format: id64
                        x-positive: true
                      uniqueItems: true
                      maxItems: 100
            factorCertificates:
              description: Parameters for factor certificates.
              type: object
              x-property-sort:
              - effectiveUnderlying
              - participation
              properties:
                effectiveUnderlying:
                  description: Selection of the effective underlying. The underlying of a factor certificate is usually a factor index which is an artificial index used to calculate the leveraged daily performance of another financial instrument called its effective underlying.
                  type: object
                  x-property-sort:
                  - instrument
                  properties:
                    instrument:
                      description: Selection of the effective underlying using instrument identifiers.
                      type: object
                      x-property-sort:
                      - ids
                      properties:
                        ids:
                          description: List of instrument identifiers.
                          type: array
                          nullable: false
                          items:
                            type: string
                            format: id64
                            x-positive: true
                          uniqueItems: true
                          maxItems: 100
                participation:
                  type: string
                  description: Participation direction of the factor certificate at the level movement of its effective underlying.
                  x-enum-description:
                  - The factor certificate participates positively with rising levels of its effective underlying.
                  - The factor certificate participates negatively with rising levels of its effective underlying.
                  enum:
                  - long
                  - short
            knockedOut:
              type: string
              default: exclude
              description: Specifies whether knocked-out securitized derivatives are included in the response. Particularly relevant for knock-out certificates.
              x-enum-description:
              - Only knocked-out securitized derivatives are included in the result.
              - Knocked-out securitized derivatives are included in the result.
              - Knocked-out securitized derivatives are excluded from the result.
              enum:
              - only
              - include
              - exclude
            knockedIn:
              type: string
              default: exclude
              description: Specifies whether knocked-in securitized derivatives are included in the response. Particularly relevant for bonus certificates but also for securitized derivatives that might have additional protection such as reverse convertible bonds, discount certificates, and capital-protection certificates.
              x-enum-description:
              - Only knocked-in securitized derivatives are included in the result.
              - Knocked-in securitized derivatives are included in the result.
              - Knocked-in securitized derivatives are excluded from the result.
              enum:
              - only
              - include
              - exclude
            performance:
              type: object
              x-property-sort:
              - relative
              description: 'Performance of the most recent price calculated against the latest price which has occurred before the start of the current trading day.

                '
              properties:
                relative:
                  type: object
                  format: relativeValueRange
                  properties:
                    minimum:
                      type: object
                      x-property-sort:
                      - value
                      - inclusive
                      description: The minimum of the range, or `null` to indicate that there is no minimum.
                      properties:
                        value:
                          type: number
                          format: relativeValue
                          description: The minimum value.
                        inclusive:
                          type: boolean
                          description: Indicates whether the minimum value is included in the range or not.
                          default: true
                      required:
                      - value
                      x-allowNullValue: true
                    maximum:
                      type: object
                      x-property-sort:
                      - value
                      - inclusive
                      description: The maximum of the range, or `null` to indicate that there is no maximum.
                      properties:
                        value:
                          type: number
                          format: relativeValue
                          description: The maximum value.
                        inclusive:
                          type: boolean
                          description: Indicates whether the maximum value is included in the range or not.
                          default: true
                      required:
                      - value
                      x-allowNullValue: true
                  x-property-sort:
                  - minimum
                  - maximum
                  description: Value range for the relative performance.
          required:
          - market
          example: example_value
        meta:
          type: object
          description: The meta member contains the meta information of the request.
          properties:
            attributes:
              $ref: '#/components/schemas/AttributesMember'
            language:
              $ref: '#/components/schemas/LanguageMember'
            sort:
              description: Sortable attributes. The sort order is ascending unless it is prefixed with a minus sign, in which case it is descending. A list of at most 5 (possibly prefixed) attribute name(s) is allowed.
              type: array
              items:
                type: string
                enum:
                - trade.performance.absolute
                - -trade.performance.absolute
                - trade.performance.relative
                - -trade.performance.relative
                - accumulated.numberTrades
                - -accumulated.numberTrades
                - accumulated.tradingVolume
                - -accumulated.tradingVolume
                - accumulated.tradingValue
                - -accumulated.tradingValue
              maxItems: 5
              uniqueItems: true
              default:
              - -trade.performance.relative
            pagination:
              type: object
              description: Pagination attributes for the offset-based pagination strategy.
              properties:
                offset:
                  type: number
                  format: int32
                  minimum: 0
                  exclusiveMinimum: false
                  default: 0
                  description: Non-negative number of entries to skip, or 0 (default).
                limit:
                  type: number
                  format: int32
                  minimum: 0
                  exclusiveMinimum: false
                  maximum: 100
                  exclusiveMaximum: false
                  default: 10
                  description: Non-negative maximum number of entries to return.
              x-property-sort:
              - offset
              - limit
          x-property-sort:
          - attributes
          - language
          - sort
          - pagination
          example: example_value
    PartialOutputObject_2:
      type: object
      properties:
        isPartial:
          type: boolean
          description: Flag indicating that the response is a possibly incomplete array or an object containing a possibly incomplete array, due to hitting a processing time limit. If `true`, some matching results might be missing from the array, or elements for matching results might be incorrectly included (for example, when priority sorting would have removed the element). Depending on the use case, such a response may be unsuitable.
      description: Object denoting that the endpoint response is possibly incomplete.
      required:
      - isPartial
      x-property-sort:
      - isPartial
    PostPricesTimeSeriesIntradaySubsampleListRequest:
      x-property-sort:
      - data
      - meta
      description: Request Body
      required:
      - data
      type: object
      properties:
        data:
          type: object
          x-property-sort:
          - identifier
          - type
          - quality
          - range
          - granularity
          - newestFirst
          - adjustments
          description: The data member contains the request's primary data.
          properties:
            identifier:
              type: object
              x-property-sort:
              - value
              - type
              description: Identifier and type.
              properties:
                value:
                  type: string
                  pattern: ^[B-DF-HJ-NP-TV-Z0-9]{6}-[LR]$|^[A-Z0-9.#&*+]{1,47}-[A-Z0-9]{2,4}$|^[0-9]{3,20}$
                  maxLength: 50
                  exclusiveMaximum: false
                  minLength: 3
                  exclusiveMinimum: false
                  description: Identifier to resolve.
                type:
                  type: string
                  description: Type of the identifier.
                  x-enum-description:
                  - MDG identifier of a listing.
                  - FactSet market symbol of a listing.
                  - Regional FactSet ticker symbol, identifying the primary listing in the region.
                  - FactSet Permanent Identifier on listing level.
                  - Regional FactSet Permanent Identifier, identifying the primary listing in the region.
                  enum:
                  - idNotation
                  - tickerExchange
                  - tickerRegion
                  - fdsPermanentIdentifierListing
                  - fdsPermanentIdentifierRegional
              required:
              - value
              - type
            type:
              type: string
              description: Type of the price as configured for the customer.
              default: trade
              x-enum-description:
              - Trade price (ordinary, auction, pre or post-trading).
              - Bid price.
              - Ask price.
              - Yield price.
              enum:
              - trade
              - bid
              - ask
              - yield
            quality:
              type: string
              description: Quality of the price.
              default: DLY
              x-enum-description:
              - 'Real-time: intraday prices with minimal technical processing delays.'
              - 'Delayed: intraday prices with an exchange-imposed delay of usually 15 to 30 minutes.'
              - 'Best: choose the price quality with the least delay, as entitled for the client.'
              enum:
              - RLT
              - DLY
              - BST
            range:
              type: object
              format: timeRange
              properties:
                start:
                  type: string
                  format: datetime
                  description: The starting point of the time range (inclusive). The data accessible in the past is limited to a few weeks at most.
                end:
                  type: string
                  format: datetime
                  description: The ending point of the time range (exclusive). Values in the future are not allowed.
              x-property-sort:
              - start
              - end
              required:
              - start
              - end
              description: Date and time range for the time series. The `start` and `end` boundaries must be aligned to `granularity`. That is, the numerical value is an integral multiple of the time span value represented by `granularity`.
            granularity:
              type: string
              description: Subsample granularities suitable for intraday data.
              default: 1h
              x-enum-description:
              - Each subsample interval encompasses 1 second.
              - Each subsample interval encompasses 5 seconds.
              - Each subsample interval encompasses 10 seconds.
              - Each subsample interval encompasses 30 seconds.
              - Each subsample interval encompasses 1 minute.
              - Each subsample interval encompasses 5 minutes.
              - Each subsample interval encompasses 10 minutes.
              - Each subsample interval encompasses 15 minutes.
              - Each subsample interval encompasses 30 minutes.
              - Each subsample interval encompasses 1 hour.
              enum:
              - 1s
              - 5s
              - 10s
              - 30s
              - 1m
              - 5m
              - 10m
              - 15m
              - 30m
              - 1h
            newestFirst:
              type: boolean
              default: false
              description: Deliver the chronological last part of the requested data first.
            adjustments:
              type: object
              x-property-sort:
              - split
              description: Adjustments values returned.
              properties:
                split:
                  type: boolean
                  default: true
                  description: Adjustments are applied for corporate action effects due to the notation having a split, a reverse split, or a similar factor-based corporate action.
          required:
          - identifier
          - range
          example: example_value
        meta:
          type: object
          description: The meta member contains the meta information of the request.
          properties:
            attributes:
              $ref: '#/components/schemas/AttributesMember'
            pagination:
              type: object
              description: Pagination attributes for the cursor-based pagination strategy.
              properties:
                cursor:
                  type: string
                  maxLength: 50
                  exclusiveMaximum: false
                  description: Starting point as returned in the attributes `pagination.next` or `pagination.previous` by a prior invocation of this endpoint, or undefined (default).
                limit:
                  type: number
                  format: int32
                  minimum: 0
                  exclusiveMinimum: false
                  maximum: 5000
                  exclusiveMaximum: false
                  default: 20
                  description: Non-negative maximum number of entries to return.
              x-property-sort:
              - cursor
              - limit
          x-property-sort:
          - attributes
          - pagination
          example: example_value
    OffsetBasedPaginationOutputObject:
      type: object
      description: Pagination attributes for the offset-based pagination strategy.
      properties:
        total:
          type: number
          format: int32
          description: Total number of entries in the result set.
          example: 42.5
        isEstimatedTotal:
          type: boolean
          description: Flag indicating that the value of "total" is estimated.
          example: true
      required:
      - total
      - isEstimatedTotal
      x-property-sort:
      - total
      - isEstimatedTotal
    PostStockNotationRankingIntradayListRequest:
      type: object
      properties:
        data:
          type: object
          x-property-sort:
          - prices
          - currency
          - market
          - instrumentRestrictionList
          - notationRestrictionList
          - industryClassification
          - company
          - indexMembership
          - performance
          description: The data member contains the request's primary data.
          properties:
            prices:
              description: Price-related parameters.
              type: object
              x-property-sort:
              - quality
              properties:
                quality:
                  type: string
                  description: Quality of the trade-related attributes, see attributes `trade` and `accumulated` in the response.
                  default: DLY
                  x-enum-description:
                  - 'Real-time: intraday prices with minimal technical processing delays.'
                  - 'Delayed: intraday prices with an exchange-imposed delay of usually 15 to 30 minutes.'
                  enum:
                  - RLT
                  - DLY
            currency:
              description: Currency of the notations in the result.
              type: object
              x-property-sort:
              - id
              properties:
                id:
                  description: Identifier of the currency. See endpoint `/basic/valueUnit/currency/list` for valid values.
                  type: number
                  format: id32
                  x-positive: true
            market:
              description: Market-related parameters. See endpoint `/basic/market/list` for valid values.
              type: object
              x-property-sort:
              - ids
              - priority
              properties:
                ids:
                  description: List of market identifiers where a stock may be traded. The list restricts the request to only those markets.
                  type: array
                  nullable: false
                  items:
                    type: number
                    format: id32
                    x-positive: true
                  uniqueItems: true
                  maxItems: 20
                priority:
                  description: Sequence of market identifiers defining the priority order (array entries with a lower index have a higher priority) of the markets for the returned notation. The list does not restrict the request to only those markets.
                  type: object
                  x-property-sort:
                  - ids
                  properties:
                    ids:
                      description: List of market identifiers.
                      type: array
                      nullable: false
                      items:
                        type: number
                        format: id32
                        x-positive: true
                      uniqueItems: true
                      maxItems: 100
            instrumentRestrictionList:
              description: Instrument-level restriction. If present, the result contains only stocks that are a member of at least one of the provided lists.
              type: object
              x-property-sort:
              - ids
              properties:
                ids:
                  description: List of identifiers of restriction lists.
                  type: array
                  nullable: false
                  items:
                    type: number
                    format: id32
                    x-positive: true
                  uniqueItems: true
                  maxItems: 3
            notationRestrictionList:
              description: Notation-level restriction. If present, the result contains only stocks that are a member of at least one of the provided lists.
              type: object
              x-property-sort:
              - ids
              properties:
                ids:
                  description: List of identifiers of restriction lists.
                  type: array
                  nullable: false
                  items:
                    type: number
                    format: id32
                    x-positive: true
                  uniqueItems: true
                  maxItems: 3
            industryClassification:
              description: Only stocks that belong to at least one industry in the provided list will be returned. Here, an industry is a category from any level of category system 48 (FactSet Revere Business Industry Classification System (RBICS)).
              type: object
              x-property-sort:
              - ids
              properties:
                ids:
                  description: List of category identifiers. See endpoint `/category/listBySystem` for category system 48 for valid values.
                  type: array
                  nullable: false
                  items:
                    type: number
                    format: id32
                    x-positive: true
                  uniqueItems: true
                  maxItems: 20
            company:
              description: Company-related parameters.
              type: object
              x-property-sort:
              - country
              properties:
                country:
                  description: Only stocks issued by a company whose head office is located in a country in the provided list will be returned.
                  type: object
                  x-property-sort:
                  - ids
                  properties:
                    ids:
                      description: List of country identifiers. See endpoint `/basic/region/country/list` for valid values.
                      type: array
                      nullable: false
                      items:
                        type: number
                        format: id32
                        x-positive: true
                      uniqueItems: true
                      maxItems: 20
            indexMembership:
              description: List of indices of which a stock is a constituent. The list restricts the request to return only those stocks that are a constituent of one of the specified indices.
              type: object
              x-property-sort:
              - ids
              - useAlternativeNotation
              properties:
                ids:
                  description: List of index instrument identifiers.
                  type: array
                  nullable: false
                  items:
                    type: string
                    format: id64
                    x-positive: true
                  uniqueItems: true
                  maxItems: 20
                useAlternativeNotation:
                  description: Specifies whether an alternative notation of a constituent shall be retrieved if the market of the original notation is currently closed or if the user is not entitled for the market of the original notation. The alternative notation is the one with the highest trading volume averaged over one month that satisfies all other selected filters, such as only a specific market or a specific currency. If the original notation is not entitled and a currency has not been specified, the alternative notation may be in a different currency than the original one which makes the ranking less meaningful, especially a trading value-based ranking, see attribute `accumulated.tradingValue` in the response.
                  type: boolean
                  default: false
            performance:
              type: object
              x-property-sort:
              - relative
              description: 'Performance of the most recent price calculated against the latest price which has occurred before the start of the current trading day.

                '
              properties:
                relative:
                  type: object
                  format: relativeValueRange
                  properties:
                    minimum:
                      type: object
                      x-property-sort:
                      - value
                      - inclusive
                      description: The minimum of the range, or `null` to indicate that there is no minimum.
                      properties:
                        value:
                          type: number
                          format: relativeValue
                          description: The minimum value.
                        inclusive:
                          type: boolean
                          description: Indicates whether the minimum value is included in the range or not.
                          default: true
                      required:
                      - value
                      x-allowNullValue: true
                    maximum:
                      type: object
                      x-property-sort:
                      - value
                      - inclusive
                      description: The maximum of the range, or `null` to indicate that there is no maximum.
                      properties:
                        value:
                          type: number
                          format: relativeValue
                          description: The maximum value.
                        inclusive:
                          type: boolean
                          description: Indicates whether the maximum value is included in the range or not.
                          default: true
                      required:
                      - value
                      x-allowNullValue: true
                  x-property-sort:
                  - minimum
                  - maximum
                  description: Value range for the relative performance.
        meta:
          type: object
          description: The meta member contains the meta information of the request.
          properties:
            attributes:
              $ref: '#/components/schemas/AttributesMember'
            language:
              $ref: '#/components/schemas/LanguageMember'
            sort:
              description: Sortable attributes. The sort order is ascending unless it is prefixed with a minus sign, in which case it is descending. A list of at most 5 (possibly prefixed) attribute name(s) is allowed.
              type: array
              items:
                type: string
                enum:
                - trade.performance.absolute
                - -trade.performance.absolute
                - trade.performance.relative
                - -trade.performance.relative
                - accumulated.numberTrades
                - -accumulated.numberTrades
                - accumulated.tradingVolume
                - -accumulated.tradingVolume
                - accumulated.tradingValue
                - -accumulated.tradingValue
              maxItems: 5
              uniqueItems: true
              default:
              - -trade.performance.relative
            pagination:
              type: object
              description: Pagination attributes for the offset-based pagination strategy.
              properties:
                offset:
                  type: number
                  format: int32
                  minimum: 0
                  exclusiveMinimum: false
                  default: 0
                  description: Non-negative number of entries to skip, or 0 (default).
                limit:
                  type: number
                  format: int32
                  minimum: 0
                  exclusiveMinimum: false
                  maximum: 100
                  exclusiveMaximum: false
                  default: 20
                  description: Non-negative maximum number of entries to return.
              x-property-sort:
              - offset
              - limit
          x-property-sort:
          - attributes
          - language
          - sort
          - pagination
    PostVendorChartIQTimeSeriesIntradaySubsampleListRequest:
      x-property-sort:
      - data
      - meta
      description: Request Body
      required:
      - data
      type: object
      properties:
        data:
          type: object
          x-property-sort:
          - identifier
          - type
          - quality
          - range
          - granularity
          - newestFirst
          - adjustments
          description: The data member contains the request's primary data.
          properties:
            identifier:
              type: object
              x-property-sort:
              - value
              - type
              description: Identifier and type.
              properties:
                value:
                  type: string
                  pattern: ^[B-DF-HJ-NP-TV-Z0-9]{6}-[LR]$|^[A-Z0-9.#&*+]{1,47}-[A-Z0-9]{2,4}$|^[0-9]{3,20}$
                  maxLength: 50
                  exclusiveMaximum: false
                  minLength: 3
                  exclusiveMinimum: false
                  description: Identifier to resolve.
                type:
                  type: string
                  description: Type of the identifier.
                  x-enum-description:
                  - MDG identifier of a listing.
                  - FactSet market symbol of a listing.
                  - Regional FactSet ticker symbol, identifying the primary listing in the region.
                  - FactSet Permanent Identifier on listing level.
                  - Regional FactSet Permanent Identifier, identifying the primary listing in the region.
                  enum:
                  - idNotation
                  - tickerExchange
                  - tickerRegion
                  - fdsPermanentIdentifierListing
                  - fdsPermanentIdentifierRegional
              required:
              - value
              - type
            type:
              type: string
              description: Type of the price as configured for the customer.
              default: trade
              x-enum-description:
              - Trade price (ordinary, auction, pre or post-trading).
              - Bid price.
              - Ask price.
              - Yield price.
              enum:
              - trade
              - bid
              - ask
              - yield
            quality:
              type: string
              description: Quality of the price.
              default: DLY
              x-enum-description:
              - 'Real-time: intraday prices with minimal technical processing delays.'
              - 'Delayed: intraday prices with an exchange-imposed delay of usually 15 to 30 minutes.'
              - 'Best: choose the price quality with the least delay, as entitled for the client.'
              enum:
              - RLT
              - DLY
              - BST
            range:
              type: object
              format: timeRange
              properties:
                start:
                  type: string
                  format: datetime
                  description: The starting point of the time range (inclusive). The data accessible in the past is limited to a few weeks at most.
                end:
                  type: string
                  format: datetime
                  description: The ending point of the time range (exclusive). Values in the future are not allowed.
              x-property-sort:
              - start
              - end
              required:
              - start
              - end
              description: Date and time range for the time series. The `start` and `end` boundaries must be aligned to `granularity`. That is, the numerical value is an integral multiple of the time span value represented by `granularity`.
            granularity:
              type: string
              description: Subsample granularities suitable for intraday data.
              default: 1h
              x-enum-description:
              - Each subsample interval encompasses 1 second.
              - Each subsample interval encompasses 5 seconds.
              - Each subsample interval encompasses 10 seconds.
              - Each subsample interval encompasses 30 seconds.
              - Each subsample interval encompasses 1 minute.
              - Each subsample interval encompasses 5 minutes.
              - Each subsample interval encompasses 10 minutes.
              - Each subsample interval encompasses 15 minutes.
              - Each subsample interval encompasses 30 minutes.
              - Each subsample interval encompasses 1 hour.
              enum:
              - 1s
              - 5s
              - 10s
              - 30s
              - 1m
              - 5m
              - 10m
              - 15m
              - 30m
              - 1h
            newestFirst:
              type: boolean
              default: false
              description: Deliver the chronological last part of the requested data first.
            adjustments:
              type: object
              x-property-sort:
              - split
              description: Adjustments values returned.
              properties:
                split:
                  type: boolean
                  default: true
                  description: Adjustments are applied for corporate action effects due to the notation having a split, a reverse split, or a similar factor-based corporate action.
          required:
          - identifier
          - range
          example: example_value
        meta:
          type: object
          description: The meta member contains the meta information of the request.
          properties:
            attributes:
              $ref: '#/components/schemas/AttributesMember'
            pagination:
              type: object
              description: Pagination attributes for the cursor-based pagination strategy.
              properties:
                cursor:
                  type: string
                  maxLength: 50
                  exclusiveMaximum: false
                  description: Starting point as returned in the attributes `pagination.next` or `pagination.previous` by a prior invocation of this endpoint, or undefined (default).
                limit:
                  type: number
                  format: int32
                  minimum: 0
                  exclusiveMinimum: false
                  maximum: 5000
                  exclusiveMaximum: false
                  default: 20
                  description: Non-negative maximum number of entries to return.
              x-property-sort:
              - cursor
              - limit
          x-property-sort:
          - attributes
          - pagination
          example: example_value
    CursorBasedPaginationOutputObjectWithoutTotal:
      type: object
      description: Pagination attributes for the cursor-based pagination strategy; a total element count is not supported.
      properties:
        next:
          type: string
          description: The next cursor position to use in the parameter `pagination.cursor` for an endpoint that supports cursor-based pagination, otherwise `null`.
          example: example_value
        previous:
          type: string
          description: The previous cursor position to use in the parameter `pagination.cursor` for an endpoint that supports cursor-based pagination. If a previous cursor position is not supported or available, `previous` is `null`.
          example: example_value
      required:
      - next
      - previous
      x-property-sort:
      - next
      - previous
  responses:
    PostPricesTimeSeriesIntradaySubsampleGet200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: object
                properties:
                  idNotation:
                    nullable: true
                    type: string
                    format: id64
                    x-positive: true
                    description: MDG identifier of the listing.
                  sourceIdentifier:
                    nullable: true
                    type: string
                    description: Identifier used in the request.
                  quality:
                    nullable: true
                    type: string
                    description: Quality of the price.
                    x-enum-description:
                    - 'Real-time: intraday prices with minimal technical processing delays.'
                    - 'Delayed: intraday prices with an exchange-imposed delay of usually 15 to 30 minutes.'
                    enum:
                    - RLT
                    - DLY
                  subsample:
                    nullable: false
                    type: object
                    x-property-sort:
                    - time
                    - first
                    - last
                    - low
                    - high
                    - tradingVolume
                    - tradingValue
                    description: Single summary record. For the attributes first, last, low, high, see attribute `valueUnit` in endpoint `/prices/get` for their unit, except for price type yield, where the `valueUnit` is always `percent` (id=258).
                    properties:
                      time:
                        nullable: true
                        type: string
                        format: datetime
                        description: Date and time of the start of the subsample.
                      first:
                        nullable: true
                        type: number
                        format: real
                        description: First price of the subsample.
                      last:
                        nullable: true
                        type: number
                        format: real
                        description: Last price of the subsample.
                      low:
                        nullable: true
                        type: number
                        format: real
                        description: Lowest price of the subsample.
                      high:
                        nullable: true
                        type: number
                        format: real
                        description: Highest price of the subsample.
                      tradingVolume:
                        nullable: true
                        type: number
                        format: real
                        description: Accumulated number of units (e.g. shares) traded of the subsample. If the requested type of the price is ask, bid, or yield, the value is empty.
                      tradingValue:
                        nullable: true
                        type: number
                        format: real
                        description: Accumulated monetary equivalent (cash value) of the subsample. If the requested type of the price is ask, bid, or yield, the value is empty. See attribute `currency` in endpoint `/prices/get` for its unit.
                description: Subsample data for the notation.
                nullable: false
                x-property-sort:
                - idNotation
                - sourceIdentifier
                - quality
                - subsample
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                x-property-sort:
                - status
            x-property-sort:
            - data
            - meta
    PostPricesTimeSeriesIntradayList200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: object
                properties:
                  idNotation:
                    nullable: true
                    type: string
                    format: id64
                    x-positive: true
                    description: MDG identifier of the listing.
                  sourceIdentifier:
                    nullable: true
                    type: string
                    description: Identifier used in the request.
                  range:
                    nullable: true
                    type: object
                    format: timeRange
                    properties:
                      start:
                        nullable: true
                        type: string
                        format: datetime
                        description: The starting point of the time range (inclusive).
                      end:
                        nullable: true
                        type: string
                        format: datetime
                        description: The ending point of the time range (exclusive).
                    x-property-sort:
                    - start
                    - end
                    required:
                    - start
                    - end
                    description: Time range for the returned time series.
                  quality:
                    nullable: true
                    type: string
                    description: Quality of the price.
                    x-enum-description:
                    - 'Real-time: intraday prices with minimal technical processing delays.'
                    - 'Delayed: intraday prices with an exchange-imposed delay of usually 15 to 30 minutes.'
                    enum:
                    - RLT
                    - DLY
                  prices:
                    nullable: false
                    type: array
                    items:
                      type: object
                      nullable: false
                      x-property-sort:
                      - time
                      - price
                      - quoteCondition
                      - tradingVolume
                      - tradingValue
                      properties:
                        time:
                          nullable: true
                          type: string
                          format: datetime
                          description: Date and time.
                        price:
                          nullable: true
                          type: number
                          format: real
                          description: Price value. See attribute `valueUnit` in endpoint `/prices/get` for its unit, except for price type yield, where the `valueUnit` is always `percent` (id=258).
                        quoteCondition:
                          nullable: true
                          type: string
                          description: Quote condition. Possible values depend on the values delivered by the supplier of the price information.
                        tradingVolume:
                          nullable: true
                          type: number
                          format: real
                          description: Number of units (e.g. shares) traded, offered (price type ask), solicited (price type bid), or empty (price type yield).
                        tradingValue:
                          nullable: true
                          type: number
                          format: real
                          description: Monetary equivalent (cash value) of the trade. See attribute `currency` in endpoint `/prices/get` for its unit. Empty for price type yield.
                    description: Time series of prices.
                description: Time series data for the notation.
                nullable: false
                x-property-sort:
                - idNotation
                - sourceIdentifier
                - range
                - quality
                - prices
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                  pagination:
                    $ref: '#/components/schemas/CursorBasedPaginationOutputObjectWithoutTotal'
                x-property-sort:
                - status
                - pagination
            x-property-sort:
            - data
            - meta
    PostVendorChartIQTimeSeriesIntradaySubsampleGet200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: object
                properties:
                  idNotation:
                    nullable: true
                    type: string
                    format: id64
                    x-positive: true
                    description: MDG identifier of the listing.
                  sourceIdentifier:
                    nullable: true
                    type: string
                    description: Identifier used in the request.
                  quality:
                    nullable: true
                    type: string
                    description: Quality of the price.
                    x-enum-description:
                    - 'Real-time: intraday prices with minimal technical processing delays.'
                    - 'Delayed: intraday prices with an exchange-imposed delay of usually 15 to 30 minutes.'
                    enum:
                    - RLT
                    - DLY
                  subsample:
                    nullable: false
                    type: array
                    items:
                      type: number
                      format: real
                      description: ''
                    description: 'Single summary record. The record consists of a timestamp, four price values, and the trading volume. For the unit of the price values, see attribute `valueUnit` in endpoint `/prices/get`, except for price type yield, where the `valueUnit` is always `percent` (id=258). The order is as follows: timestamp of the start of the subsample (seconds since epoch in UTC); first price of the subsample; highest price of the subsample; lowest price of the subsample; last price of the subsample; accumulated number of units (e.g. shares) traded of the subsample. If the requested type of the price is ask, bid, or yield, the accumulated number of units is empty.'
                description: Subsample data for the notation.
                nullable: false
                x-property-sort:
                - idNotation
                - sourceIdentifier
                - quality
                - subsample
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                x-property-sort:
                - status
            x-property-sort:
            - data
            - meta
    PostPricesTimeSeriesIntradaySubsampleList200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: object
                properties:
                  idNotation:
                    nullable: true
                    type: string
                    format: id64
                    x-positive: true
                    description: MDG identifier of the listing.
                  sourceIdentifier:
                    nullable: true
                    type: string
                    description: Identifier used in the request.
                  range:
                    nullable: true
                    type: object
                    format: timeRange
                    properties:
                      start:
                        nullable: true
                        type: string
                        format: datetime
                        description: The starting point of the time range (inclusive).
                      end:
                        nullable: true
                        type: string
                        format: datetime
                        description: The ending point of the time range (exclusive).
                    x-property-sort:
                    - start
                    - end
                    required:
                    - start
                    - end
                    description: Time range for the returned time series.
                  quality:
                    nullable: true
                    type: string
                    description: Quality of the price.
                    x-enum-description:
                    - 'Real-time: intraday prices with minimal technical processing delays.'
                    - 'Delayed: intraday prices with an exchange-imposed delay of usually 15 to 30 minutes.'
                    enum:
                    - RLT
                    - DLY
                  subsamples:
                    nullable: false
                    type: array
                    items:
                      type: object
                      nullable: false
                      x-property-sort:
                      - time
                      - first
                      - last
                      - low
                      - high
                      - tradingVolume
                      - tradingValue
                      properties:
                        time:
                          nullable: true
                          type: string
                          format: datetime
                          description: Date and time of the start of the subsample.
                        first:
                          nullable: true
                          type: number
                          format: real
                          description: First price of the subsample.
                        last:
                          nullable: true
                          type: number
                          format: real
                          description: Last price of the subsample.
                        low:
                          nullable: true
                          type: number
                          format: real
                          description: Lowest price of the subsample.
                        high:
                          nullable: true
                          type: number
                          format: real
                          description: Highest price of the subsample.
                        tradingVolume:
                          nullable: true
                          type: number
                          format: real
                          description: Accumulated number of units (e.g. shares) traded of the subsample. If the requested type of the price is ask, bid, or yield, the value is empty.
                        tradingValue:
                          nullable: true
                          type: number
                          format: real
                          description: Accumulated monetary equivalent (cash value) of the subsample. If the requested type of the price is ask, bid, or yield, the value is empty. See attribute `currency` in endpoint `/prices/get` for its unit.
                    description: List of summary records. For the attributes first, last, low, high, see attribute `valueUnit` in endpoint `/prices/get` for their unit, except for price type yield, where the `valueUnit` is always `percent` (id=258).
                description: Subsampled time series data for the notation.
                nullable: false
                x-property-sort:
                - idNotation
                - sourceIdentifier
                - range
                - quality
                - subsamples
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                  pagination:
                    $ref: '#/components/schemas/CursorBasedPaginationOutputObjectWithoutTotal'
                x-property-sort:
                - status
                - pagination
            x-property-sort:
            - data
            - meta
    PostSecuritizedDerivativeNotationRankingIntradayList200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                nullable: false
                type: array
                items:
                  type: object
                  nullable: false
                  x-property-sort:
                  - id
                  - symbol
                  - fsym
                  - market
                  - valueUnit
                  - trade
                  - quality
                  - accumulated
                  - instrument
                  - categorization
                  - lifeCycle
                  - issuer
                  - exercise
                  - participation
                  - underlying
                  - knockedOut
                  - knockedIn
                  properties:
                    id:
                      nullable: true
                      type: string
                      format: id64
                      x-positive: true
                      description: Identifier of a notation.
                    symbol:
                      nullable: true
                      type: string
                      description: The symbol of the notation. It is a market-specific code to identify the notation. Which characters can be part of a symbol depends on the market. If a market does not define a proprietary symbol, but uses a different identifier (for example, the ISIN or the WKN) to identify instruments, no symbol will be set for the notations of that market.
                    fsym:
                      nullable: false
                      type: object
                      x-property-sort:
                      - listing
                      - regional
                      description: Notation-level FactSet identifiers of the financial instrument used primarily in FactSet products other than the MDG.
                      properties:
                        listing:
                          nullable: false
                          type: object
                          x-property-sort:
                          - permanentIdentifier
                          - tickerExchange
                          - isPrimary
                          description: Listing-level identifiers.
                          properties:
                            permanentIdentifier:
                              nullable: true
                              type: string
                              description: FactSet Permanent Identifier for a notation. The format is six alpha numeric characters, excluding vowels, with an L suffix (XXXXXX-L).
                            tickerExchange:
                              nullable: true
                              type: string
                              description: 'FactSet market symbol of the notation, usually consisting of the ticker (e.g. "DAI" for Daimler AG) and the three-character code of the exchange on which the listing is traded (example: DAI-ETR).'
                            isPrimary:
                              nullable: true
                              type: boolean
                              description: Indicates whether the notation is the primary notation among all notations within the same region (`true`) or not (`false`).
                        regional:
                          nullable: false
                          type: object
                          x-property-sort:
                          - permanentIdentifier
                          - tickerRegion
                          - isPrimary
                          description: Regional-level identifiers.
                          properties:
                            permanentIdentifier:
                              nullable: true
                              type: string
                              description: FactSet Permanent Identifier for a set of one or more notations of the same region with the same value unit. The format is six alpha numeric characters, excluding vowels, with an R suffix (XXXXXX-R).
                            tickerRegion:
                              nullable: true
                              type: string
[...]
