openapi: 3.0.3
info:
  title: Factset Analytics Datastore About Average API
  description: Allow clients to fetch precalculated Analytics through predeterministic URLs.
  contact:
    name: FactSet Research Systems
    url: https://developer.factset.com/contact
    email: api@factset.com
  license:
    name: Apache License, Version 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  version: 1.0.0
servers:
- url: https://api.factset.com
  description: Production
- url: https://api-sandbox.factset.com
  description: Sandbox
security:
- basicAuth: []
tags:
- name: Average
paths:
  /notation/keyFigures/tradingDay/average/get:
    get:
      tags:
      - Average
      operationId: get/notation/keyFigures/tradingDay/average/get
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      description: Average end-of-day (EOD) key figures for different trading days periods. A trading day is a calendar day on that trading of the notation was possible.
      summary: Factset Average End-of-day (eod) Key Figures for Different Trading Days Periods.
      parameters:
      - name: identifier
        in: query
        schema:
          type: string
          pattern: ^[B-DF-HJ-NP-TV-Z0-9]{6}-[LR]$|^[A-Z0-9.#&*+]{1,47}-[A-Z0-9]{2,4}$|^[0-9]{3,20}$
          maxLength: 50
          exclusiveMaximum: false
          minLength: 3
          exclusiveMinimum: false
          description: Identifier to resolve.
        required: true
      - name: identifierType
        in: query
        schema:
          type: string
          description: Type of the identifier.
          x-enum-description:
          - MDG identifier of a listing.
          - FactSet market symbol of a listing.
          - Regional FactSet ticker symbol, identifying the primary listing in the region.
          - FactSet Permanent Identifier on listing level.
          - Regional FactSet Permanent Identifier, identifying the primary listing in the region.
          enum:
          - idNotation
          - tickerExchange
          - tickerRegion
          - fdsPermanentIdentifierListing
          - fdsPermanentIdentifierRegional
        required: true
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
            exclusiveMaximum: false
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      responses:
        '200':
          $ref: '#/components/responses/GetNotationKeyFiguresTradingDayAverageGet200Response'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    StatusObject:
      type: object
      properties:
        code:
          type: number
          format: int32
          description: The HTTP status code of the response, mirroring the code from the Status-Line of the HTTP response message (see [RFC2616] section 6.1).
          example: 42.5
      description: The status member contains the status code of the response.
      required:
      - code
  responses:
    GetNotationKeyFiguresTradingDayAverageGet200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: object
                properties:
                  idNotation:
                    nullable: true
                    type: string
                    format: id64
                    x-positive: true
                    description: MDG identifier of the listing.
                  sourceIdentifier:
                    nullable: true
                    type: string
                    description: Identifier used in the request.
                  price:
                    nullable: false
                    type: object
                    x-property-sort:
                    - days5
                    - days20
                    - days30
                    - days38
                    - days50
                    - days100
                    - days200
                    - days250
                    description: Average price. See attribute `valueUnit` in endpoint `/notation/get` for its unit.
                    properties:
                      days5:
                        nullable: true
                        type: number
                        format: real
                        description: Five trading days.
                      days20:
                        nullable: true
                        type: number
                        format: real
                        description: 20 trading days.
                      days30:
                        nullable: true
                        type: number
                        format: real
                        description: 30 trading days.
                      days38:
                        nullable: true
                        type: number
                        format: real
                        description: 38 trading days.
                      days50:
                        nullable: true
                        type: number
                        format: real
                        description: 50 trading days.
                      days100:
                        nullable: true
                        type: number
                        format: real
                        description: 100 trading days.
                      days200:
                        nullable: true
                        type: number
                        format: real
                        description: 200 trading days.
                      days250:
                        nullable: true
                        type: number
                        format: real
                        description: 250 trading days.
                  volume:
                    nullable: false
                    type: object
                    x-property-sort:
                    - days5
                    - days30
                    - days50
                    - days100
                    - days200
                    - days250
                    description: Average trading volume.
                    properties:
                      days5:
                        nullable: true
                        type: number
                        format: real
                        description: Five trading days.
                      days30:
                        nullable: true
                        type: number
                        format: real
                        description: 30 trading days.
                      days50:
                        nullable: true
                        type: number
                        format: real
                        description: 50 trading days.
                      days100:
                        nullable: true
                        type: number
                        format: real
                        description: 100 trading days.
                      days200:
                        nullable: true
                        type: number
                        format: real
                        description: 200 trading days.
                      days250:
                        nullable: true
                        type: number
                        format: real
                        description: 250 trading days.
                  value:
                    nullable: false
                    type: object
                    x-property-sort:
                    - days5
                    - days30
                    - days100
                    - days250
                    description: Average trading value. See attribute `valueUnit` in endpoint `/notation/get` for its unit.
                    properties:
                      days5:
                        nullable: true
                        type: number
                        format: real
                        description: Five trading days.
                      days30:
                        nullable: true
                        type: number
                        format: real
                        description: 30 trading days.
                      days100:
                        nullable: true
                        type: number
                        format: real
                        description: 100 trading days.
                      days250:
                        nullable: true
                        type: number
                        format: real
                        description: 250 trading days.
                description: Average end-of-day (EOD) key figures for various time ranges.
                nullable: false
                x-property-sort:
                - idNotation
                - sourceIdentifier
                - price
                - volume
                - value
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                x-property-sort:
                - status
            x-property-sort:
            - data
            - meta
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
externalDocs:
  url: https://developer.factset.com/api-catalog/analytics-datastore-api
  description: API Documentation
