openapi: 3.0.3
info:
  title: Factset Analytics Datastore About Barriers API
  description: Allow clients to fetch precalculated Analytics through predeterministic URLs.
  contact:
    name: FactSet Research Systems
    url: https://developer.factset.com/contact
    email: api@factset.com
  license:
    name: Apache License, Version 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  version: 1.0.0
servers:
- url: https://api.factset.com
  description: Production
- url: https://api-sandbox.factset.com
  description: Sandbox
security:
- basicAuth: []
tags:
- name: Barriers
paths:
  /securitizedDerivative/barrier/type/list:
    get:
      tags:
      - Barriers
      operationId: get/securitizedDerivative/barrier/type/list
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Factset List of Barrier Types.
      description: List of barrier types.
      responses:
        '200':
          $ref: '#/components/responses/GetSecuritizedDerivativeBarrierTypeList200Response'
      parameters:
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
            exclusiveMaximum: false
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  responses:
    GetSecuritizedDerivativeBarrierTypeList200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                nullable: false
                type: array
                items:
                  type: object
                  nullable: false
                  x-property-sort:
                  - id
                  - name
                  - description
                  - kind
                  properties:
                    id:
                      nullable: true
                      type: number
                      format: id32
                      x-positive: true
                      description: Identifier of the barrier type.
                    name:
                      nullable: true
                      type: string
                      description: English name of the barrier type.
                    description:
                      nullable: true
                      type: string
                      description: English description of the barrier type.
                    kind:
                      nullable: true
                      type: string
                      description: Kind of the barrier type.
                      x-enum-description:
                      - Barrier types of this kind represent either a lower or an upper bound derived from the exercise right of the securitized derivative, see attribute `exercise.right` in endpoint `/securitizedDerivative/get`.
                      - Barrier types of this kind represent a range with a lower and an upper bound.
                      enum:
                      - single
                      - range
                description: List of barrier types.
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                x-property-sort:
                - status
  schemas:
    StatusObject:
      type: object
      properties:
        code:
          type: number
          format: int32
          description: The HTTP status code of the response, mirroring the code from the Status-Line of the HTTP response message (see [RFC2616] section 6.1).
          example: 42.5
      description: The status member contains the status code of the response.
      required:
      - code
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
externalDocs:
  url: https://developer.factset.com/api-catalog/analytics-datastore-api
  description: API Documentation
