openapi: 3.0.3
info:
  title: Factset Analytics Datastore About Snippets API
  description: Allow clients to fetch precalculated Analytics through predeterministic URLs.
  contact:
    name: FactSet Research Systems
    url: https://developer.factset.com/contact
    email: api@factset.com
  license:
    name: Apache License, Version 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  version: 1.0.0
servers:
- url: https://api.factset.com
  description: Production
- url: https://api-sandbox.factset.com
  description: Sandbox
security:
- basicAuth: []
tags:
- name: Snippets
paths:
  /bulk-documents/nrt/v1/list-snippets:
    get:
      summary: Factset Returns the Latest Transcript Snippets From an Active Call.
      tags:
      - Snippets
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NRT-Snippets'
              examples:
                example-1:
                  value:
                    data:
                    - reportId: 2683372
                      snippetEndTimestamp: '2021-10-15 13:16:50'
                      transcriptData:
                      - snippetData:
                          transcript: 'The operator will be with you shortly '
                          endTime: 3.78
                          startTime: 0
                      - snippetData:
                          transcript: ', welcomed the course call, please hold an operator will be with you shortly. '
                          endTime: 29.700000000000003
                          startTime: 21.42
                      snippetSequence: 1
                      audioSourceId: 471849
                    - reportId: 2683372
                      snippetEndTimestamp: '2021-10-15 13:17:16'
                      transcriptData:
                      - snippetData:
                          transcript: 'What Congress are looking to join '
                          endTime: 47.64
                          startTime: 41.46
                      - snippetData:
                          transcript: '. Can I have your first and name '
                          endTime: 55.32
                          startTime: 47.64
                      snippetSequence: 2
                      audioSourceId: 471849
                    - reportId: 2683372
                      snippetEndTimestamp: '2021-10-15 13:17:28'
                      transcriptData:
                      - snippetData:
                          transcript: '? Thank you. And good company '
                          endTime: 67.68
                          startTime: 61.2
                      snippetSequence: 3
                      audioSourceId: 471849
                    - reportId: 2683372
                      snippetEndTimestamp: '2021-10-15 13:17:41'
                      transcriptData:
                      - snippetData:
                          transcript: . Let's I'll join you and hold onto the calls again.
                          endTime: 74.46000000000001
                          startTime: 67.68
                      snippetSequence: 4
                      audioSourceId: 471849
                    - reportId: 2683372
                      snippetEndTimestamp: '2021-10-15 13:18:57'
                      transcriptData:
                      - snippetData:
                          transcript: 'on '
                          endTime: 156.78
                          startTime: 150.9
                      snippetSequence: 5
                      audioSourceId: 471849
                    meta:
                      pagination:
                        total: 191
                        isEstimatedTotal: false
                        limit: 5
                        offset: 5
                      partial:
                        isPartial: true
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NRT-Snippets-400-Response'
              examples:
                example-1:
                  value:
                    id: 39bf5f1c-c503-4787-94e0-e557a3564fd6,
                    code: parameterError
                    title: '[''_paginatinLimit''] is not a valid parameter(s)'
                    details:
                      validParameters:
                        _paginationLimit:
                        - integer from 0 to 500
                        _paginationOffset:
                        - positive integer
                        audioSourceId:
                        - positive integer
                        reportId:
                        - positive integer
        '401':
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and have successfully generated an API KEY for the IP range you are connecting from. For more help, select the Report Issue in the top right corner of this Developer Portal specification card and choose Connectivity 401 or 403 Responses.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                example-1:
                  value:
                    id: 7af3d86ca5954503b9244f2620fcf5eb
                    code: notAuthenticated
                    title: There were either no, invalid, or expired credentials present in the request.
        '403':
          description: The USERNAME-SERIAL attempted to request the endpoint is not authorized to access. The request was a legal request, but the server is refusing to respond. Please reach out to FactSet Account Team for assistance with authorization.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                example-1:
                  value:
                    id: 7af3d86ca5954503b9244f2620fcf5eb
                    code: notAuthorized
                    title: ' {USERNAME}-{SERIAL} does not have permission to use this endpoint.'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                example-1:
                  value:
                    id: 7af3d86ca5954503b9244f2620fcf5eb
                    code: genericServerError
                    title: An unexpected error happened.
      operationId: get-bulk-documents-nrt-v1-list-snippets
      description: Returns the latest snippets from an active call
      parameters:
      - $ref: '#/components/parameters/paginationLimit'
      - $ref: '#/components/parameters/paginationOffset'
      - $ref: '#/components/parameters/audioSourceId'
      - $ref: '#/components/parameters/reportId'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  parameters:
    reportId:
      schema:
        type: integer
        format: int32
      in: query
      name: reportId
      example: 2683372
      description: Unique identifier for an event.
    paginationLimit:
      schema:
        type: integer
        format: int32
        minimum: 1
        maximum: 500
        default: 200
      in: query
      name: _paginationLimit
      example: 5
      description: Specifies the  number of results to return per page. [ Min=0; Max=500]
    audioSourceId:
      schema:
        type: integer
        format: int32
      in: query
      name: audioSourceId
      example: 471849
      required: true
      description: Unique ID for an Internal recording specific to reportID. For example, ReportID X would have multiple recordings from different source (dial-in or webcast). One ReportID can have multiple AudioSourceIDs.
    paginationOffset:
      schema:
        type: integer
        format: int32
        default: 0
      in: query
      name: _paginationOffset
      description: Specifies the starting point for pagination. This parameter is used to identify the beginning of next set of results.
  schemas:
    Error:
      type: object
      properties:
        id:
          type: string
          example: abc123
        code:
          type: string
          example: example_value
        title:
          type: string
          example: Example Title
    NRT-Snippets:
      description: Transcript snippet metadata of active calls happening at that moment are returned.
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              reportId:
                type: integer
                description: The unique ID for an event.
              snippetEndTimestamp:
                type: string
                description: The snippet end time is calculated based off the endTime in the snippetData section and the recordingStartTime from the calls endpoint.
              transcriptData:
                type: array
                items:
                  type: object
                  properties:
                    snippetData:
                      type: object
                      properties:
                        transcript:
                          type: string
                          description: The actual transcript snippet.
                        endTime:
                          type: number
                          description: The number of seconds into the call, when the transcript snippet ended.
                        startTime:
                          type: number
                          description: The number of seconds into the call,when the transcript snippet started.
              snippetSequence:
                type: integer
                description: 'The sequence number of the snippet from the start of the current call. '
              audioSourceId:
                type: integer
                description: The Unique ID for an Internal recording specific to reportID. For example, ReportID X would have multiple recordings from a different source (dial-in or webcast). One ReportID can have multiple AudioSourceIDs.
          example: []
        meta:
          type: object
          properties:
            pagination:
              type: object
              properties:
                total:
                  description: Total number for results returned for a specific query.
                  type: integer
                isEstimatedTotal:
                  type: boolean
                  description: This field acts as a flag for the exact count of results and is defaulted to false as the API should always return the exact count of results.
                limit:
                  type: integer
                  description: Number of results returned per page.
                offset:
                  type: integer
                  description: The flag indicating the position in the results array if additional results are available beyond the default value or the value in _paginationLimit parameter (if used). This value is passed in the _paginationOffset parameter to retrieve subsequent results.
            partial:
              type: object
              properties:
                isPartial:
                  type: boolean
                  description: If the value is True, it indicates additional results are available. False represents that this is the last set of results for this request.
          example: example_value
    NRT-Snippets-400-Response:
      description: ''
      type: object
      properties:
        id:
          type: string
          example: abc123
        code:
          type: string
          example: example_value
        title:
          type: string
          example: Example Title
        details:
          type: object
          properties:
            validParameters:
              type: object
              properties:
                _paginationLimit:
                  type: array
                  items:
                    type: string
                _paginationOffset:
                  type: array
                  items:
                    type: string
                audioSourceId:
                  type: array
                  items:
                    type: string
                reportId:
                  type: array
                  items:
                    type: string
          example: example_value
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
externalDocs:
  url: https://developer.factset.com/api-catalog/analytics-datastore-api
  description: API Documentation
