openapi: 3.0.3
info:
  title: Factset Analytics Datastore About Symbols Relationships API
  description: Allow clients to fetch precalculated Analytics through predeterministic URLs.
  contact:
    name: FactSet Research Systems
    url: https://developer.factset.com/contact
    email: api@factset.com
  license:
    name: Apache License, Version 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  version: 1.0.0
servers:
- url: https://api.factset.com
  description: Production
- url: https://api-sandbox.factset.com
  description: Sandbox
security:
- basicAuth: []
tags:
- name: Symbols Relationships
paths:
  /v1/symbols-relationships:
    get:
      tags:
      - Symbols Relationships
      summary: Factset Get all the Symbols Relationships
      operationId: GetSymbolsRelationships
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SymbolsRelationshipDto'
    post:
      tags:
      - Symbols Relationships
      summary: Factset Create a symbol relationship
      operationId: CreateSymbolRelationshipType
      requestBody:
        description: symbolsRelationshipSaveDto object to save
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/SymbolsRelationShipSaveDto'
          application/json:
            schema:
              $ref: '#/components/schemas/SymbolsRelationShipSaveDto'
          text/json:
            schema:
              $ref: '#/components/schemas/SymbolsRelationShipSaveDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/SymbolsRelationShipSaveDto'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewItemDto'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
  /v1/symbols-relationships/{symbolsRelationshipId}:
    put:
      tags:
      - Symbols Relationships
      summary: Factset Edit a symbol relationship
      operationId: EditSymbolsRelationship
      parameters:
      - name: symbolsRelationshipId
        in: path
        description: symbolsRelationshipId to update associated record
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        description: SymbolsRelationShipSaveDto object to update
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/SymbolsRelationShipSaveDto'
          application/json:
            schema:
              $ref: '#/components/schemas/SymbolsRelationShipSaveDto'
          text/json:
            schema:
              $ref: '#/components/schemas/SymbolsRelationShipSaveDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/SymbolsRelationShipSaveDto'
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
    delete:
      tags:
      - Symbols Relationships
      summary: Factset Delete a symbol relationship
      operationId: DeleteSymbolsRelationship
      parameters:
      - name: symbolsRelationshipId
        in: path
        description: symbolsRelationshipId to delete associated record
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
components:
  schemas:
    SymbolsRelationshipDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
        relationshipCode:
          type: string
          nullable: true
        parentToChildName:
          type: string
          nullable: true
        childToParentName:
          type: string
          nullable: true
        peerName:
          type: string
          nullable: true
        hideDates:
          type: boolean
        hideComment:
          type: boolean
      additionalProperties: false
    SymbolsRelationShipSaveDto:
      required:
      - hideComment
      - hideDates
      type: object
      properties:
        relationshipCode:
          maxLength: 3
          minLength: 0
          type: string
          nullable: true
        parentToChildName:
          maxLength: 50
          minLength: 0
          type: string
          nullable: true
        childToParentName:
          maxLength: 50
          minLength: 0
          type: string
          nullable: true
        peerName:
          maxLength: 50
          minLength: 0
          type: string
          nullable: true
        hideDates:
          type: boolean
          default: true
        hideComment:
          type: boolean
          default: true
      additionalProperties: false
    NewItemDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
      additionalProperties: false
    ProblemDetails:
      type: object
      properties:
        type:
          type: string
          nullable: true
        title:
          type: string
          nullable: true
        status:
          type: integer
          format: int32
          nullable: true
        detail:
          type: string
          nullable: true
        instance:
          type: string
          nullable: true
      additionalProperties: {}
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
externalDocs:
  url: https://developer.factset.com/api-catalog/analytics-datastore-api
  description: API Documentation
