openapi: 3.2.0
info:
  title: Factset Relationships API
  version: '1'
  description: 'Operations tagged Relationships across 3 of this provider''s published API definitions: factset-irn-configuration-api-openapi.yml, factset-irn-custom-symbols-api-openapi.yml, irn-configuration-openapi-original.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.factset.com/research/irn
  description: Production Server
- url: https://api-sandbox.factset.com/research/irn
  description: Sandbox
security:
- basicScheme: []
tags:
- name: Relationships
paths:
  /v1/relationships:
    get:
      tags:
      - Relationships
      summary: Factset Get List of the Relationships Configured in Your Group
      operationId: GetRelationships
      parameters:
      - name: type
        in: query
        schema:
          $ref: '#/components/schemas/RelationshipType'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RelationshipDto'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      tags:
      - Relationships
      summary: Factset Create a Relationship Type
      operationId: CreateContactRelationshipType
      requestBody:
        description: RelationshipSaveDto object to save
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/RelationshipSaveDto'
          application/json:
            schema:
              $ref: '#/components/schemas/RelationshipSaveDto'
          text/json:
            schema:
              $ref: '#/components/schemas/RelationshipSaveDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/RelationshipSaveDto'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewItemDto'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - url: https://api.factset.com/research/irn
      description: Production Server
    - url: https://api-sandbox.factset.com/research/irn
      description: Sandbox
  /v1/symbols-relationships:
    get:
      tags:
      - Relationships
      summary: Factset Get All the Symbols Relationships
      operationId: GetSymbolsRelationships
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SymbolsRelationshipDto'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      tags:
      - Relationships
      summary: Factset Create a Symbol Relationship
      operationId: CreateSymbolRelationshipType
      requestBody:
        description: symbolsRelationshipSaveDto object to save
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/SymbolsRelationShipSaveDto'
          application/json:
            schema:
              $ref: '#/components/schemas/SymbolsRelationShipSaveDto'
          text/json:
            schema:
              $ref: '#/components/schemas/SymbolsRelationShipSaveDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/SymbolsRelationShipSaveDto'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewItemDto'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - url: https://api.factset.com/research/irn
      description: Production Server
    - url: https://api-sandbox.factset.com/research/irn
      description: Sandbox
  /v1/relationships/{relationshipId}:
    put:
      tags:
      - Relationships
      summary: Factset Edit a Relationship Type
      operationId: EditRelationship
      parameters:
      - name: relationshipId
        in: path
        description: relationshipId to update associated record
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        description: RelationshipSaveDto object to update
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/RelationshipSaveDto'
          application/json:
            schema:
              $ref: '#/components/schemas/RelationshipSaveDto'
          text/json:
            schema:
              $ref: '#/components/schemas/RelationshipSaveDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/RelationshipSaveDto'
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      tags:
      - Relationships
      summary: Factset Delete a Relationship Type
      operationId: DeleteRelationship
      parameters:
      - name: relationshipId
        in: path
        description: relationshipId to delete associated record
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - url: https://api.factset.com/research/irn
      description: Production Server
    - url: https://api-sandbox.factset.com/research/irn
      description: Sandbox
  /v1/symbols-relationships/{symbolsRelationshipId}:
    put:
      tags:
      - Relationships
      summary: Factset Edit a Symbol Relationship
      operationId: EditSymbolsRelationship
      parameters:
      - name: symbolsRelationshipId
        in: path
        description: symbolsRelationshipId to update associated record
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        description: SymbolsRelationShipSaveDto object to update
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/SymbolsRelationShipSaveDto'
          application/json:
            schema:
              $ref: '#/components/schemas/SymbolsRelationShipSaveDto'
          text/json:
            schema:
              $ref: '#/components/schemas/SymbolsRelationShipSaveDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/SymbolsRelationShipSaveDto'
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      tags:
      - Relationships
      summary: Factset Delete a Symbol Relationship
      operationId: DeleteSymbolsRelationship
      parameters:
      - name: symbolsRelationshipId
        in: path
        description: symbolsRelationshipId to delete associated record
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - url: https://api.factset.com/research/irn
      description: Production Server
    - url: https://api-sandbox.factset.com/research/irn
      description: Sandbox
  /v1/symbol-relationships/{symbolId}/relationships:
    get:
      tags:
      - Relationships
      summary: Factset Returns a List of a Symbols Relationships
      operationId: GetSymbolRelationships
      parameters:
      - name: symbolId
        in: path
        description: symbolId to get associated records
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SymbolRelationshipDto'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - url: https://api.factset.com/research/irn
      description: Production Server
    - url: https://api-sandbox.factset.com/research/irn
      description: Sandbox
  /v1/symbol-relationships/{symbolRelationshipId}:
    get:
      tags:
      - Relationships
      summary: Factset Get Details on a Specific Symbol Relationship
      operationId: GetSymbolRelationship
      parameters:
      - name: symbolRelationshipId
        in: path
        description: symbolRelationshipId to get associated record
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SymbolRelationshipDto'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      tags:
      - Relationships
      summary: Factset Delete a Symbol Relationship
      operationId: DeleteSymbolRelationship
      parameters:
      - name: symbolRelationshipId
        in: path
        description: symbolRelationshipId to delete associated record
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - url: https://api.factset.com/research/irn
      description: Production Server
    - url: https://api-sandbox.factset.com/research/irn
      description: Sandbox
  /v1/symbol-relationships:
    post:
      tags:
      - Relationships
      summary: Factset Create a Symbol Relationship
      operationId: CreateSymbolRelationship
      requestBody:
        description: symbolRelationship object to save
        content:
          application/json-patch+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/SymbolRelationshipSaveDto'
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/SymbolRelationshipSaveDto'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/SymbolRelationshipSaveDto'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/SymbolRelationshipSaveDto'
      responses:
        '201':
          description: Created
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - url: https://api.factset.com/research/irn
      description: Production Server
    - url: https://api-sandbox.factset.com/research/irn
      description: Sandbox
  /v1/symbol-relationships/{symbol}:
    put:
      tags:
      - Relationships
      summary: Factset Edit a Symbol Relationship
      operationId: EditAndAddSymbolRelationship
      parameters:
      - name: symbol
        in: path
        description: ''
        required: true
        schema:
          type: string
      requestBody:
        description: symbolRelationship object to save
        content:
          application/json-patch+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/SymbolRelationshipUpdateDto'
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/SymbolRelationshipUpdateDto'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/SymbolRelationshipUpdateDto'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/SymbolRelationshipUpdateDto'
      responses:
        '200':
          description: Success
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - url: https://api.factset.com/research/irn
      description: Production Server
    - url: https://api-sandbox.factset.com/research/irn
      description: Sandbox
components:
  schemas:
    NewItemDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: abc123
      additionalProperties: false
    RelationshipType:
      enum:
      - 0
      - 1
      - 2
      type: integer
      format: int32
    SymbolsRelationshipDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: abc123
        relationshipCode:
          type:
          - string
          - 'null'
          example: example_value
        parentToChildName:
          type:
          - string
          - 'null'
          example: example_value
        childToParentName:
          type:
          - string
          - 'null'
          example: example_value
        peerName:
          type:
          - string
          - 'null'
          example: example_value
        hideDates:
          type: boolean
          example: true
        hideComment:
          type: boolean
          example: true
      additionalProperties: false
    SymbolsRelationShipSaveDto:
      required:
      - hideComment
      - hideDates
      type: object
      properties:
        relationshipCode:
          maxLength: 3
          minLength: 0
          type:
          - string
          - 'null'
          example: example_value
        parentToChildName:
          maxLength: 50
          minLength: 0
          type:
          - string
          - 'null'
          example: example_value
        childToParentName:
          maxLength: 50
          minLength: 0
          type:
          - string
          - 'null'
          example: example_value
        peerName:
          maxLength: 50
          minLength: 0
          type:
          - string
          - 'null'
          example: example_value
        hideDates:
          type: boolean
          default: true
          example: true
        hideComment:
          type: boolean
          default: true
          example: true
      additionalProperties: false
    RelationshipSaveDto:
      required:
      - hideComment
      - hideCompany
      - hideDates
      - relationshipCategoryId
      type: object
      properties:
        relationshipCategoryId:
          type: string
          format: uuid
          example: '500123'
        relationshipCode:
          maxLength: 5
          minLength: 0
          type:
          - string
          - 'null'
          example: example_value
        bidirectionalName:
          maxLength: 50
          minLength: 0
          type:
          - string
          - 'null'
          example: example_value
        leftToRightName:
          maxLength: 50
          minLength: 0
          type:
          - string
          - 'null'
          example: example_value
        rightToLeftName:
          maxLength: 50
          minLength: 0
          type:
          - string
          - 'null'
          example: example_value
        hideDates:
          type: boolean
          default: false
          example: true
        hideComment:
          type: boolean
          default: false
          example: true
        hideCompany:
          type: boolean
          default: false
          example: true
      additionalProperties: false
    RelationshipDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: abc123
        relationshipCategoryId:
          type: string
          format: uuid
          example: '500123'
        relationshipCode:
          type:
          - string
          - 'null'
          example: example_value
        bidirectionalName:
          type:
          - string
          - 'null'
          example: example_value
        leftToRightName:
          type:
          - string
          - 'null'
          example: example_value
        rightToLeftName:
          type:
          - string
          - 'null'
          example: example_value
        hideDates:
          type: boolean
          example: true
        hideComment:
          type: boolean
          example: true
        hideCompany:
          type: boolean
          example: true
        isCustomisable:
          type: boolean
          example: true
      additionalProperties: false
    ProblemDetails:
      type: object
      properties:
        type:
          type:
          - string
          - 'null'
          example: example_value
        title:
          type:
          - string
          - 'null'
          example: Example Title
        status:
          type:
          - integer
          - 'null'
          format: int32
          example: 10
        detail:
          type:
          - string
          - 'null'
          example: example_value
        instance:
          type:
          - string
          - 'null'
          example: example_value
      additionalProperties: {}
    SymbolRelationshipUpdateDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: abc123
        symbolsRelationshipId:
          type: string
          format: uuid
          example: '500123'
        parentSymbol:
          type:
          - string
          - 'null'
          example: example_value
        childSymbol:
          type:
          - string
          - 'null'
          example: example_value
        startDate:
          type:
          - string
          - 'null'
          format: date-time
          example: '2026-01-15T10:30:00Z'
        endDate:
          type:
          - string
          - 'null'
          format: date-time
          example: '2026-01-15T10:30:00Z'
        comment:
          type:
          - string
          - 'null'
          example: example_value
      additionalProperties: false
    SymbolRelationshipSaveDto:
      type: object
      properties:
        symbolsRelationshipId:
          type: string
          format: uuid
          example: '500123'
        parentSymbol:
          type:
          - string
          - 'null'
          example: example_value
        childSymbol:
          type:
          - string
          - 'null'
          example: example_value
        startDate:
          type:
          - string
          - 'null'
          format: date-time
          example: '2026-01-15T10:30:00Z'
        endDate:
          type:
          - string
          - 'null'
          format: date-time
          example: '2026-01-15T10:30:00Z'
        comment:
          type:
          - string
          - 'null'
          example: example_value
      additionalProperties: false
    SymbolIdNameDto:
      type: object
      properties:
        id:
          type:
          - string
          - 'null'
          format: uuid
          example: abc123
        name:
          type:
          - string
          - 'null'
          example: Example Title
        code:
          type:
          - string
          - 'null'
          example: example_value
      additionalProperties: false
    SymbolRelationshipDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: abc123
        symbolsRelationship:
          $ref: '#/components/schemas/SymbolsRelationshipIdNameDto'
        parentSymbol:
          $ref: '#/components/schemas/SymbolIdNameDto'
        childSymbol:
          $ref: '#/components/schemas/SymbolIdNameDto'
        startDate:
          type:
          - string
          - 'null'
          format: date-time
          example: '2026-01-15T10:30:00Z'
        endDate:
          type:
          - string
          - 'null'
          format: date-time
          example: '2026-01-15T10:30:00Z'
        comment:
          type:
          - string
          - 'null'
          example: example_value
      additionalProperties: false
    SymbolsRelationshipIdNameDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: abc123
        name:
          type:
          - string
          - 'null'
          example: Example Title
        type:
          type:
          - string
          - 'null'
          example: example_value
      additionalProperties: false
    NewItemDto_2:
      type: object
      properties:
        id:
          type: string
          format: uuid
      additionalProperties: false
    RelationshipSaveDto_2:
      required:
      - hideComment
      - hideCompany
      - hideDates
      - relationshipCategoryId
      type: object
      properties:
        relationshipCategoryId:
          type: string
          format: uuid
        relationshipCode:
          maxLength: 5
          minLength: 0
          type:
          - string
          - 'null'
        bidirectionalName:
          maxLength: 50
          minLength: 0
          type:
          - string
          - 'null'
        leftToRightName:
          maxLength: 50
          minLength: 0
          type:
          - string
          - 'null'
        rightToLeftName:
          maxLength: 50
          minLength: 0
          type:
          - string
          - 'null'
        hideDates:
          type: boolean
          default: false
        hideComment:
          type: boolean
          default: false
        hideCompany:
          type: boolean
          default: false
      additionalProperties: false
    RelationshipDto_2:
      type: object
      properties:
        id:
          type: string
          format: uuid
        relationshipCategoryId:
          type: string
          format: uuid
        relationshipCode:
          type:
          - string
          - 'null'
        bidirectionalName:
          type:
          - string
          - 'null'
        leftToRightName:
          type:
          - string
          - 'null'
        rightToLeftName:
          type:
          - string
          - 'null'
        hideDates:
          type: boolean
        hideComment:
          type: boolean
        hideCompany:
          type: boolean
        isCustomisable:
          type: boolean
      additionalProperties: false
    ProblemDetails_2:
      type: object
      properties:
        type:
          type:
          - string
          - 'null'
        title:
          type:
          - string
          - 'null'
        status:
          type:
          - integer
          - 'null'
          format: int32
        detail:
          type:
          - string
          - 'null'
        instance:
          type:
          - string
          - 'null'
      additionalProperties: {}
  securitySchemes:
    basicScheme:
      type: http
      scheme: basic
x-refined-from:
- factset-irn-configuration-api-openapi.yml
- factset-irn-custom-symbols-api-openapi.yml
- irn-configuration-openapi-original.yml
