openapi: 3.2.0
info:
  version: 3.0.0
  title: FactSet Real-Time News Name API
  description: '

    Retrieve news by category, identifier, and keyword, for a specific date or

    range of dates. Endpoints can be subscribed for streamed updates.'
  contact:
    name: FactSet Research Systems
    url: https://developer.factset.com/contact
    email: api@factset.com
  license:
    name: Apache License, Version 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
servers:
- url: https://api.factset.com/wealth/v3
security:
- FactSetApiKey: []
- FactSetOAuth2: []
tags:
- name: Name
paths:
  /news/publisher/searchByName:
    post:
      tags:
      - Name
      operationId: post/news/publisher/searchByName
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 1
      x-supportsPermissionDeniedResponse: false
      summary: Factset Search for Publishers.
      description: Search for publishers by the name of the publisher.
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostNewsPublisherSearchByNameRequest'
        required: true
      responses:
        '200':
          $ref: '#/components/responses/PostNewsPublisherSearchByName200Response'
      parameters: []
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  responses:
    PostNewsPublisherSearchByName200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: array
                description: List of publishers.
                items:
                  type: object
                  x-property-sort:
                  - id
                  - name
                  properties:
                    id:
                      x-sortable: true
                      type:
                      - number
                      - 'null'
                      format: id32
                      x-positive: true
                      description: Identifier of the publisher.
                    name:
                      x-sortable: true
                      x-default-sort-attribute: true
                      x-default-sort-direction: 1
                      type:
                      - string
                      - 'null'
                      description: Name of the publisher.
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                x-property-sort:
                - status
            x-property-sort:
            - data
            - meta
  schemas:
    PostNewsPublisherSearchByNameRequest:
      x-property-sort:
      - data
      - meta
      description: Request Body
      required:
      - data
      type: object
      properties:
        data:
          type: object
          x-property-sort:
          - searchValue
          - matchType
          - filter
          description: The data member contains the request's primary data.
          properties:
            searchValue:
              type: string
              minLength: 2
              maxLength: 50
              description: Restricts the search to publishers, which match the search value. The comparison for a match is case sensitive.
            matchType:
              type: string
              description: The match type that is applied to the search.
              x-enum-description:
              - Publisher name must begin with the searchValue.
              - Publisher name must end with the searchValue.
              - Publisher name must begin, end, or contain the searchValue.
              enum:
              - begins
              - ends
              - contains
            filter:
              description: Criteria that filter the items in the response list; only items that match all of the criteria are returned.
              type: object
              x-property-sort:
              - distributor
              - delivery
              properties:
                distributor:
                  type: object
                  x-property-sort:
                  - id
                  description: Filter for distributors. See endpoint `/news/distributor/list` for valid values.
                  properties:
                    id:
                      type: number
                      format: id32
                      x-positive: true
                      description: Identifier of distributor.
                delivery:
                  type: object
                  x-property-sort:
                  - id
                  description: Filter for deliveries. See endpoint `/basic/delivery/list` for valid values.
                  properties:
                    id:
                      type: number
                      format: id32
                      x-positive: true
                      description: Identifier of delivery.
          required:
          - searchValue
          - matchType
          example: example_value
        meta:
          type: object
          description: The meta member contains the meta information of the request.
          properties:
            attributes:
              $ref: '#/components/schemas/AttributesMember'
            sort:
              description: Sortable attributes. The sort order is ascending unless it is prefixed with a minus sign, in which case it is descending. A list of at most 1 (possibly prefixed) attribute name(s) is allowed.
              type: array
              items:
                type: string
                enum:
                - id
                - -id
                - name
                - -name
              maxItems: 1
              uniqueItems: true
              default:
              - name
          x-property-sort:
          - attributes
          - sort
          example: example_value
    StatusObject:
      type: object
      properties:
        code:
          type: number
          format: int32
          description: The HTTP status code of the response, mirroring the code from the Status-Line of the HTTP response message (see [RFC2616] section 6.1).
          example: 42.5
      description: The status member contains the status code of the response.
      required:
      - code
    AttributesMember:
      type: array
      description: Limit the attributes returned in the response to the specified set.
      items:
        type: string
        maxLength: 100
      maxItems: 50
      uniqueItems: true
  securitySchemes:
    FactSetOAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://auth.factset.com/as/token.oauth2
          scopes: {}
    FactSetApiKey:
      type: http
      scheme: basic
externalDocs:
  description: API Documentation
  url: https://developer.factset.com/api-catalog/
x-interface-version: 2
x-documenter-version: 6.3.9
x-api-version: 4.4.0
