openapi: 3.0.3
info:
  title: Factset Analytics Datastore About Type API
  description: Allow clients to fetch precalculated Analytics through predeterministic URLs.
  contact:
    name: FactSet Research Systems
    url: https://developer.factset.com/contact
    email: api@factset.com
  license:
    name: Apache License, Version 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  version: 1.0.0
servers:
- url: https://api.factset.com
  description: Production
- url: https://api-sandbox.factset.com
  description: Sandbox
security:
- basicAuth: []
tags:
- name: Type
paths:
  /v1/custom-symbol-types/{customSymbolTypeId}:
    get:
      tags:
      - Type
      summary: Factset Get a Specific Custom Symbol Type's Details
      operationId: GetCustomSymbolType
      parameters:
      - name: customSymbolTypeId
        in: path
        description: customSymbolTypeId to get associated record
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomSymbolTypeDetailDto'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      tags:
      - Type
      summary: Factset Edit a Custom Symbol Type
      operationId: UpdateCustomSymbolType
      parameters:
      - name: customSymbolTypeId
        in: path
        description: customSymbolTypeId to update associated record
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        description: updateCustomSymbolTypeDto object to update
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/UpdateCustomSymbolTypeDto'
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCustomSymbolTypeDto'
          text/json:
            schema:
              $ref: '#/components/schemas/UpdateCustomSymbolTypeDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/UpdateCustomSymbolTypeDto'
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      tags:
      - Type
      summary: Factset Delete a Custom Symbol Type
      operationId: DeleteCustomSymbolTypeAsync
      parameters:
      - name: customSymbolTypeId
        in: path
        description: customSymbolTypeId to delete associated record
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v1/custom-symbol-types/{customSymbolTypeId}/custom-fields:
    get:
      tags:
      - Type
      summary: Factset Get Custom Fields for Custom Symbol Type
      operationId: GetSymbolCustomFieldsForCustomSymbolType
      parameters:
      - name: customSymbolTypeId
        in: path
        description: customSymbolTypeId to get associated Custom fileds
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CustomSymbolCustomFieldConfigDto'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v1/contact-types/{contactTypeId}:
    put:
      tags:
      - Type
      summary: Factset Edit a Contact Type
      operationId: UpdateContactType
      parameters:
      - name: contactTypeId
        in: path
        description: contactTypeId to update associated record
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        description: Updated contact type name
        content:
          application/json-patch+json:
            schema:
              maxLength: 50
              minLength: 0
              type: string
          application/json:
            schema:
              maxLength: 50
              minLength: 0
              type: string
          text/json:
            schema:
              maxLength: 50
              minLength: 0
              type: string
          application/*+json:
            schema:
              maxLength: 50
              minLength: 0
              type: string
        required: true
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      tags:
      - Type
      summary: Factset Delete a Contact Type
      operationId: DeleteContactType
      parameters:
      - name: contactTypeId
        in: path
        description: contactTypeId to delete associated record
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v1/phone-number-types/{phoneNumberTypeId}:
    put:
      tags:
      - Type
      summary: Factset Edit a Phone Type
      operationId: UpdatePhoneNumberType
      parameters:
      - name: phoneNumberTypeId
        in: path
        description: phoneNumberTypeId to update associated record
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        description: Update with phoneNumberType
        content:
          application/json-patch+json:
            schema:
              maxLength: 50
              minLength: 0
              type: string
          application/json:
            schema:
              maxLength: 50
              minLength: 0
              type: string
          text/json:
            schema:
              maxLength: 50
              minLength: 0
              type: string
          application/*+json:
            schema:
              maxLength: 50
              minLength: 0
              type: string
        required: true
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      tags:
      - Type
      summary: Factset Delete a Phone Type
      operationId: DeletePhoneNumberType
      parameters:
      - name: phoneNumberTypeId
        in: path
        description: phoneNumberTypeId for deleting associated record
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /jobs/{type}/{name}:
    parameters:
    - schema:
        $ref: '#/components/schemas/jobTypes'
      name: type
      in: path
      required: true
      description: The jobs type
    - schema:
        type: string
      name: name
      in: path
      required: true
      description: The jobs name
    get:
      summary: Factset Get Details for the Given Prb Job
      tags:
      - Type
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/jobDetailsResponse'
              examples:
                PA:
                  value:
                    data:
                      documents:
                        my_task_1:
                        - Client:/equity/long_short/my PA document
                        my_task_2:
                        - Client:/equity/long_short/my other PA document
                        - Client:/equity/long_only/my PA document
                      tasks:
                      - my_task_1
                      - my_task_2
                      accounts:
                        my_task_1:
                        - portfolioId: client:/some_path/some_portfolio.actm
                          isSplit: true
                          includeParent: true
                          level: '1'
                          latestComponentsOnly: true
                        my_task_2:
                        - portfolioId: client:/some_other_path/some__other_portfolio.acct
                          isSplit: true
                          includeParent: true
                          level: all
                          latestComponentsOnly: true
                      runs:
                      - statusDescription: job has completed with success
                        status: created
                        prbStatus: success
                        submitTime: '2019-08-24T14:15:22Z'
                        startTime: '2019-08-24T14:15:22Z'
                        endTime: '2019-08-24T14:15:22Z'
                        runDuration: 0
                        isApiTriggered: true
                        id: '565642'
                PD:
                  value:
                    data:
                      documents:
                        default:
                        - Client:/equity/long_short/my document1
                      runs:
                      - statusDescription: job has completed with success
                        status: created
                        prbStatus: success
                        submitTime: '2019-08-24T14:15:22Z'
                        startTime: '2019-08-24T14:15:22Z'
                        endTime: '2019-08-24T14:15:22Z'
                        runDuration: 1235
                        isApiTriggered: true
                        id: '3456'
                PI:
                  value:
                    data:
                      documents:
                        my_task_1:
                        - Client:/equity/long_short/my PA document
                      tasks:
                      - my_task_1
                      accounts:
                        my_task_1:
                        - portfolioId: client:/some_path/some_portfolio.actm
                      runs:
                      - statusDescription: job has completed with success
                        status: created
                        prbStatus: success
                        submitTime: '2019-08-24T14:15:22Z'
                        startTime: '2019-08-24T14:15:22Z'
                        endTime: '2019-08-24T14:15:22Z'
                        runDuration: 4567
                        isApiTriggered: true
                        id: '1234'
          headers:
            X-DataDirect-Request-Key:
              $ref: '#/components/headers/X-DataDirect-Request-Key'
            X-FactSet-Api-Request-Key:
              $ref: '#/components/headers/X-FactSet-Api-Request-Key'
            X-FactSet-Api-RateLimit-Limit:
              $ref: '#/components/headers/X-FactSet-Api-RateLimit-Limit'
            X-FactSet-Api-RateLimit-Remaining:
              $ref: '#/components/headers/X-FactSet-Api-RateLimit-Remaining'
            X-FactSet-Api-RateLimit-Reset:
              $ref: '#/components/headers/X-FactSet-Api-RateLimit-Reset'
        '400':
          description: Invalid post body parameters.
          headers:
            X-DataDirect-Request-Key:
              $ref: '#/components/headers/X-DataDirect-Request-Key'
            X-FactSet-Api-Request-Key:
              $ref: '#/components/headers/X-FactSet-Api-Request-Key'
            X-FactSet-Api-RateLimit-Limit:
              $ref: '#/components/headers/X-FactSet-Api-RateLimit-Limit'
            X-FactSet-Api-RateLimit-Remaining:
              $ref: '#/components/headers/X-FactSet-Api-RateLimit-Remaining'
            X-FactSet-Api-RateLimit-Reset:
              $ref: '#/components/headers/X-FactSet-Api-RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/clientErrorResponse'
        '401':
          description: Missing or invalid authentication.
          headers:
            X-DataDirect-Request-Key:
              $ref: '#/components/headers/X-DataDirect-Request-Key'
            X-FactSet-Api-Request-Key:
              $ref: '#/components/headers/X-FactSet-Api-Request-Key'
        '403':
          description: User is forbidden with current credentials
          headers:
            X-DataDirect-Request-Key:
              $ref: '#/components/headers/X-DataDirect-Request-Key'
            X-FactSet-Api-Request-Key:
              $ref: '#/components/headers/X-FactSet-Api-Request-Key'
            X-FactSet-Api-RateLimit-Limit:
              $ref: '#/components/headers/X-FactSet-Api-RateLimit-Limit'
            X-FactSet-Api-RateLimit-Remaining:
              $ref: '#/components/headers/X-FactSet-Api-RateLimit-Remaining'
            X-FactSet-Api-RateLimit-Reset:
              $ref: '#/components/headers/X-FactSet-Api-RateLimit-Reset'
        '404':
          description: Not Found - invalid inputs
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/clientErrorResponse'
          headers:
            X-DataDirect-Request-Key:
              $ref: '#/components/headers/X-DataDirect-Request-Key'
            X-FactSet-Api-Request-Key:
              $ref: '#/components/headers/X-FactSet-Api-Request-Key'
            X-FactSet-Api-RateLimit-Limit:
              $ref: '#/components/headers/X-FactSet-Api-RateLimit-Limit'
            X-FactSet-Api-RateLimit-Remaining:
              $ref: '#/components/headers/X-FactSet-Api-RateLimit-Remaining'
            X-FactSet-Api-RateLimit-Reset:
              $ref: '#/components/headers/X-FactSet-Api-RateLimit-Reset'
        '429':
          description: Rate limit reached. Wait till the time specified in Retry-After header value to make further requests.
          headers:
            X-DataDirect-Request-Key:
              $ref: '#/components/headers/X-DataDirect-Request-Key'
            X-FactSet-Api-Request-Key:
              $ref: '#/components/headers/X-FactSet-Api-Request-Key'
            Retry-After:
              description: Time to wait in seconds before making a new request as the rate limit has reached.
              schema:
                type: string
        '500':
          description: Server error. Log the X-DataDirect-Request-Key header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              $ref: '#/components/headers/X-DataDirect-Request-Key'
            X-FactSet-Api-Request-Key:
              $ref: '#/components/headers/X-FactSet-Api-Request-Key'
        '503':
          description: Request timed out. Retry the request in sometime.
          headers:
            X-DataDirect-Request-Key:
              $ref: '#/components/headers/X-DataDirect-Request-Key'
            X-FactSet-Api-Request-Key:
              $ref: '#/components/headers/X-FactSet-Api-Request-Key'
      operationId: getDetailsForJob
      parameters:
      - schema:
          type: array
          items:
            enum:
            - documents
            - tasks
            - accounts
            - runs
            type: string
          maxItems: 4
        explode: false
        in: query
        name: attribute
        description: The attribute parameter accepts a list of the given enums, separated by commas. Each of them returns the respective data associated with the job. Runs returns the run history of the job.
      description: Use this endpoint to fetch the documents, tasks, accounts, and/or runs for the PRB job given in the path. Please note jobs with type PD will not return tasks nor accounts so this will be ignored if given as part of the array of attributes in the request.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /news/article/type/get:
    get:
      tags:
      - Type
      operationId: get/news/article/type/get
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Factset Details for a News Article Type.
      description: Details for a news article type.
      parameters:
      - name: id
        in: query
        schema:
          description: Identifier of a news article type.
          type: number
          format: id32
          x-positive: true
        required: true
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
            exclusiveMaximum: false
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      - name: _language
        in: query
        schema:
          type: string
          format: isoLanguage
          description: ISO 639-1 code of the language.
          maxLength: 2
          minLength: 2
          exclusiveMinimum: false
          exclusiveMaximum: false
      responses:
        '200':
          $ref: '#/components/responses/GetNewsArticleTypeGet200Response'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /news/article/type/list:
    get:
      tags:
      - Type
      operationId: get/news/article/type/list
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Factset List of News Article Types.
      description: List of news article types.
      responses:
        '200':
          $ref: '#/components/responses/GetNewsArticleTypeList200Response'
      parameters:
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
            exclusiveMaximum: false
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      - name: _language
        in: query
        schema:
          type: string
          format: isoLanguage
          description: ISO 639-1 code of the language.
          maxLength: 2
          minLength: 2
          exclusiveMinimum: false
          exclusiveMaximum: false
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /basic/backgroundText/type/list:
    post:
      tags:
      - Type
      operationId: post/basic/backgroundText/type/list
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Factset List of Background Text Types.
      description: List of background text types.
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostBasicBackgroundTextTypeListRequest'
        required: false
      responses:
        '200':
          $ref: '#/components/responses/PostBasicBackgroundTextTypeList200Response'
      parameters: []
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /basic/benchmark/type/list:
    get:
      tags:
      - Type
      operationId: get/basic/benchmark/type/list
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Factset List of Benchmark Types.
      description: List of benchmark types.
      responses:
        '200':
          $ref: '#/components/responses/GetBasicBenchmarkTypeList200Response'
      parameters:
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
            exclusiveMaximum: false
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      - name: _language
        in: query
        schema:
          type: string
          format: isoLanguage
          description: ISO 639-1 code of the language.
          maxLength: 2
          minLength: 2
          exclusiveMinimum: false
          exclusiveMaximum: false
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /basic/frequency/type/list:
    get:
      tags:
      - Type
      operationId: get/basic/frequency/type/list
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Factset List of Frequency Types.
      description: List of frequency types.
      responses:
        '200':
          $ref: '#/components/responses/GetBasicFrequencyTypeList200Response'
      parameters:
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
            exclusiveMaximum: false
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      - name: _language
        in: query
        schema:
          type: string
          format: isoLanguage
          description: ISO 639-1 code of the language.
          maxLength: 2
          minLength: 2
          exclusiveMinimum: false
          exclusiveMaximum: false
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /basic/market/type/list:
    get:
      tags:
      - Type
      operationId: get/basic/market/type/list
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 1
      x-supportsPermissionDeniedResponse: false
      description: List of market types.
      summary: Factset List of Market Types.
      responses:
        '200':
          $ref: '#/components/responses/GetBasicMarketTypeList200Response'
      parameters:
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
            exclusiveMaximum: false
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      - name: _language
        in: query
        schema:
          type: string
          format: isoLanguage
          description: ISO 639-1 code of the language.
          maxLength: 2
          minLength: 2
          exclusiveMinimum: false
          exclusiveMaximum: false
      - description: Sortable attributes. The sort order is ascending unless it is prefixed with a minus sign, in which case it is descending. A list of at most 1 (possibly prefixed) attribute name(s) is allowed.
        schema:
          type: array
          items:
            type: string
            enum:
            - name
            - -name
          maxItems: 1
          uniqueItems: true
          default:
          - name
        style: form
        explode: false
        name: _sort
        in: query
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /basic/media/type/list:
    post:
      tags:
      - Type
      operationId: post/basic/media/type/list
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 2
      x-supportsPermissionDeniedResponse: false
      description: List of Internet media types. See http://www.iana.org/assignments/media-types/ for further details. Not all such Internet media types are available on the MDG.
      summary: Factset List of Internet Media Types.
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostBasicMediaTypeListRequest'
        required: false
      responses:
        '200':
          $ref: '#/components/responses/PostBasicMediaTypeList200Response'
      parameters: []
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /category/system/type/list:
    get:
      tags:
      - Type
      operationId: get/category/system/type/list
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Factset List of Category System Types.
      description: List of category system types.
      responses:
        '200':
          $ref: '#/components/responses/GetCategorySystemTypeList200Response'
      parameters:
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
            exclusiveMaximum: false
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      - name: _language
        in: query
        schema:
          type: string
          format: isoLanguage
          description: ISO 639-1 code of the language.
          maxLength: 2
          minLength: 2
          exclusiveMinimum: false
          exclusiveMaximum: false
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /instrument/backgroundText/type/list:
    post:
      tags:
      - Type
      operationId: post/instrument/backgroundText/type/list
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Factset List of Background Text Types for Instruments.
      description: List of background text types for instruments.
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostInstrumentBackgroundTextTypeListRequest'
        required: false
      responses:
        '200':
          $ref: '#/components/responses/PostInstrumentBackgroundTextTypeList200Response'
      parameters: []
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /instrument/coupon/dayCountConvention/type/list:
    get:
      tags:
      - Type
      operationId: get/instrument/coupon/dayCountConvention/type/list
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Factset List of Day Count Convention Types.
      description: List of day count convention types.
      responses:
        '200':
          $ref: '#/components/responses/GetInstrumentCouponDayCountConventionTypeList200Response'
      parameters:
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
            exclusiveMaximum: false
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      - name: _language
        in: query
        schema:
          type: string
          format: isoLanguage
          description: ISO 639-1 code of the language.
          maxLength: 2
          minLength: 2
          exclusiveMinimum: false
          exclusiveMaximum: false
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /instrument/coupon/interestRate/type/list:
    get:
      tags:
      - Type
      operationId: get/instrument/coupon/interestRate/type/list
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Factset List of Interest Rate Types.
      description: List of interest rate types.
      responses:
        '200':
          $ref: '#/components/responses/GetInstrumentCouponInterestRateTypeList200Response'
      parameters:
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
            exclusiveMaximum: false
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      - name: _language
        in: query
        schema:
          type: string
          format: isoLanguage
          description: ISO 639-1 code of the language.
          maxLength: 2
          minLength: 2
          exclusiveMinimum: false
          exclusiveMaximum: false
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /prices/tradingSchedule/event/type/list:
    get:
      tags:
      - Type
      operationId: get/prices/tradingSchedule/event/type/list
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Factset Trading Schedule Event Types.
      description: Trading schedule event types define the events which may occur during any period of trading. Types of trading schedule events are for instance OPEN, CLOSE, END_OF_DAY.
      responses:
        '200':
          $ref: '#/components/responses/GetPricesTradingScheduleEventTypeList200Response'
      parameters:
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
            exclusiveMaximum: false
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /securitizedDerivative/barrier/type/list:
    get:
      tags:
      - Type
      operationId: get/securitizedDerivative/barrier/type/list
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Factset List of Barrier Types.
      description: List of barrier types.
      responses:
        '200':
          $ref: '#/components/responses/GetSecuritizedDerivativeBarrierTypeList200Response'
      parameters:
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
            exclusiveMaximum: false
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /analytics/engines/spar/v3/accounts/{accountPath}/returns-type:
    get:
      tags:
      - Type
      summary: Factset Get Spar Account Returns Type Details
      description: This endpoint returns the returns type of account associated with SPAR
      operationId: getSPARReturnsType
      parameters:
      - name: accountPath
        in: path
        description: URL encoded account path
        required: true
        schema:
          type: string
          description: URL encoded account path
      responses:
        '200':
          description: Expected response, returns the list of return types for the account.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SPARAccountsRoot'
        '400':
          description: Invalid account.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
        '401':
          description: Missing or invalid authentication.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
        '403':
          description: User is forbidden with current credentials
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              schema:
                type: string
        '404':
          description: Account not found.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
        '406':
          description: Unsupported Accept header. Header needs to be set to application/json.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              schema:
                type: string
        '429':
          description: Rate limit reached. Wait till the time specified in Retry-After header value to make further requests.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
            Retry-After:
              description: Time to wait in seconds before making a new request as the rate limit has reached.
              schema:
                type: string
        '500':
          description: Server error. Log the X-DataDirect-Request-Key header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
        '503':
          description: Request timed out. Retry the request in sometime.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /company/board/type/list:
    get:
      tags:
      - Type
      operationId: get/company/board/type/list
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: List of company board types.
      description: List of company board types.
      responses:
        '200':
          $ref: '#/components/responses/GetCompanyBoardTypeList200Response'
      parameters:
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
            exclusiveMaximum: false
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      - name: _language
        in: query
        schema:
          type: string
          format: isoLanguage
          description: ISO 639-1 code of the language.
          maxLength: 2
          minLength: 2
          exclusiveMinimum: false
          exclusiveMaximum: false
  /stock/dividend/type/list:
    get:
      tags:
      - Type
      operationId: get/stock/dividend/type/list
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: List of dividend types.
      description: List of dividend types.
      responses:
        '200':
          $ref: '#/components/responses/GetStockDividendTypeList200Response'
      parameters:
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
            exclusiveMaximum: false
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      - name: _language
        in: query
        schema:
          type: string
          format: isoLanguage
          description: ISO 639-1 code of the language.
          maxLength: 2
          minLength: 2
          exclusiveMinimum: false
          exclusiveMaximum: false
components:
  schemas:
    clientErrorResponse:
      description: The response schema for reporting errors
      properties:
        errors:
          description: List of errors
          items:
            $ref: '#/components/schemas/error'
          type: array
          example: []
      type: object
    error:
      description: Full details of any error
      properties:
        code:
          description: The error code
          type: string
          example: example_value
        detail:
          description: Explanation specific to the occurrence of the error
          type: string
          example: example_value
        id:
          description: Identifier for the error
          type: string
          example: abc123
        source:
          $ref: '#/components/schemas/errorSource'
        title:
          description: The title of the error
          type: string
          example: Example Title
      type: object
    PostBasicBackgroundTextTypeListRequest:
      x-property-sort:
      - data
      - meta
      description: Request Body
      type: object
      properties:
        data:
          type: object
          x-property-sort:
          - filter
          description: The data member contains the request's primary data.
          properties:
            filter:
              type: object
              x-property-sort:
              - ids
              description: Criteria that filter the items in the response list; only items that match all of the criteria are returned.
              properties:
                ids:
                  type: array
                  nullable: false
                  items:
                    type: number
                    format: id32
                    x-positive: true
                  minItems: 1
                  maxItems: 100
                  uniqueItems: true
                  description: List of background text type identifiers. Invalid identifiers result in an error.
          example: example_value
        meta:
          type: object
          description: The meta member contains the meta information of the request.
          properties:
            attributes:
              $ref: '#/components/schemas/AttributesMember'
          x-property-sort:
          - attributes
          example: example_value
    LanguageMember:
      type: string
      format: isoLanguage
      description: ISO 639-1 code of the language.
      maxLength: 2
      minLength: 2
      exclusiveMinimum: false
      exclusiveMaximum: false
    CustomSymbolCustomFieldFormulaConfigDto:
      required:
      - formula
      - formulaType
      type: object
      properties:
        formula:
          maxLength: 2040
          type: string
          example: example_value
        formulaType:
          type: string
          example: example_value
      additionalProperties: false
    accountsForJobAddProp:
      description: The details of the account under the task in the object key
      properties:
        includeParent:
          description: Indicates whether or not the parent portfolio is included as a separate portfolio when isSplit is true
          nullable: true
          type: boolean
          example: true
        isSplit:
          description: Indicates whether the portfolio's components if any would be treated as individual portfolios when the job is run
          nullable: true
          type: boolean
          example: true
        latestComponentsOnly:
          description: When selected, the ACTM/CSTM will be split and will only return components that are still held in the ACTM. I.e., when the end date is "Latest," it will not return components where the end date occurs before Latest.
          nullable: true
          type: boolean
          example: true
        level:
          description: The number of levels when isSplit is true that the job will expand down to for a composite portfolio (CSTM or ACTM). "1" means only the first level will be expanded. "all" will be the value if all levels are expanded down.
          nullable: true
          type: string
          example: example_value
        portfolioId:
          description: The full file path including portfolio name and type
          type: string
          example: '500123'
      type: object
    StatusObject_2:
      type: object
      properties:
        code:
          type: number
          format: int32
          description: The HTTP status code of the response, mirroring the code from the Status-Line of the HTTP response message (see [RFC2616] section 6.1).
      description: The status member contains the status code of the response.
      required:
      - code
    PostInstrumentBackgroundTextTypeListRequest:
      x-property-sort:
      - data
      - meta
      description: Request Body
      type: object
      properties:
        data:
          type: object
          x-property-sort:
          - filter
          description: The data member contains the request's primary data.
          properties:
            filter:
              type: object
              x-property-sort:
              - ids
              description: Criteria that filter the items in the response list; only items that match all of the criteria are returned.
              properties:
                ids:
                  type: array
                  nullable: false
                  items:
                    type: number
                    format: id32
                    x-positive: true
                  maxItems: 100
                  uniqueItems: true
                  description: Identifiers of background text types.
          example: example_value
        meta:
          type: object
          description: The meta member contains the meta information of the request.
          properties:
            attributes:
              $ref: '#/components/schemas/AttributesMember'
            language:
              $ref: '#/components/schemas/LanguageMember'
          x-property-sort:
          - attributes
          - language
          example: example_value
    documentsForJob:
      additionalProperties:
        description: The tasks under each document
        items:
          type: string
        type: array
      description: Shows the documents for each job where relevant with a collection of tasks under each document
      example:
        my_task_1:
        - Client:/equity/long_short/my PA document
        my_task_2:
        - Client:/equity/long_only/my PA document
        - Client:/equity/long_short/my other PA document
      title: documentsForJob
      type: object
    SPARAccountsRoot:
      required:
      - data
      type: object
      properties:
        data:
          $ref: '#/components/schemas/SPARAccounts'
        meta:
          nullable: true
          example: example_value
    SPARAccounts:
      type: object
      properties:
        returnsType:
          type: array
          items:
            $ref: '#/components/schemas/ReturnType'
          description: List of SPAR returnsType
          nullable: true
          example: []
    CustomSymbolCustomFieldConfigDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: abc123
        code:
          type: string
          nullable: true
          example: example_value
        name:
          type: string
          nullable: true
          example: Example Title
        type:
          type: string
          nullable: true
          example: example_value
        isHidden:
          type: boolean
          example: true
        isMandatory:
          type: boolean
          example: true
        isShownInInfobox:
          type: boolean
          example: true
        formulaConfig:
          $ref: '#/components/schemas/CustomSymbolCustomFieldFormulaConfigDto'
        optionsConfig:
          type: array
          items:
            type: string
          nullable: true
          example: []
        customSymbolTypes:
          type: array
          items:
            $ref: '#/components/schemas/CustomSymbolTypeSummaryDto'
          nullable: true
          example: []
      additionalProperties: false
    AttributesMember:
      type: array
      description: Limit the attributes returned in the response to the specified set.
      items:
        type: string
        maxLength: 100
        exclusiveMaximum: false
      maxItems: 50
      uniqueItems: true
    errorSource:
      description: The pointer and parameter of the error
      properties:
        parameter:
          description: Indicates which path or URI query parameter caused the error
          type: string
          example: example_value
        pointer:
          description: Pointer to the associated entity in the request body
          type: string
          example: example_value
      type: object
    CustomSymbolTypeSummaryDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: abc123
        name:
          type: string
          nullable: true
          example: Example Title
      additionalProperties: false
    prbStatus:
      description: The status of the job as per the application
      enum:
      - failed
      - pending
      - running
      - soft
      - stopped
      - success
      - warning
      example: running
      title: prbStatus
      type: string
    PostBasicMediaTypeListRequest:
      x-property-sort:
      - data
      - meta
      description: Request Body
      type: object
      properties:
        data:
          type: object
          x-property-sort:
          - filter
          description: The data member contains the request's primary data.
          properties:
            filter:
              description: Criteria that filter the items in the response list; only items that match all of the criteria are returned.
              type: object
              x-property-sort:
              - ids
              properties:
                ids:
                  type: array
                  nullable: false
                  items:
                    type: number
                    format: id32
                    x-positive: true
                  minItems: 1
                  maxItems: 100
                  uniqueItems: true
                  description: List of Internet media type identifiers. Invalid identifiers result in an error.
          example: example_value
        meta:
          type: object
          description: The meta member contains the meta information of the request.
          properties:
            attributes:
              $ref: '#/components/schemas/AttributesMember'
            sort:
              description: Sortable attributes. The sort order is ascending unless it is prefixed with a minus sign, in which case it is descending. A list of at most 2 (possibly prefixed) attribute name(s) is allowed.
              type: array
              items:
                type: string
                enum:
                - id
                - -id
                - name
                - -name
              maxItems: 2
              uniqueItems: true
              default:
              - name
          x-property-sort:
          - attributes
          - sort
          example: example_value
    Error:
      type: object
      properties:
        id:
          type: string
          nullable: true
          example: abc123
        code:
          type: string
          nullable: true
          example: example_value
        title:
          type: string
          nullable: true
          example: Example Title
        detail:
          type: string
          nullable: true
          example: example_value
        source:
          $ref: '#/components/schemas/ErrorSource'
    StatusObject:
      type: object
      properties:
        code:
          type: number
          format: int32
          description: The HTTP status code of the response, mirroring the code from the Status-Line of the HTTP response message (see [RFC2616] section 6.1).
          example: 42.5
      description: The status member contains the status code of the response.
      required:
      - code
    status:
      description: The status of the job as per FactSets API standards
      enum:
      - cancelled
      - created
      - executing
      - failed
      - queued
      example: queued
      title: status
      type: string
    EntityType:
      enum:
      - 0
      - 1
      - 2
      - 3
      type: integer
      format: int32
    ClientErrorResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Error'
          nullable: true
          example: []
    accountsForJob:
      additionalProperties:
        description: An array of the details of the account/s under the task/s in the object key/s
        items:
          $ref: '#/components/schemas/accountsForJobAddProp'
        type: array
      description: Please note for PI jobs you will only see portfolioId
      example:
        my_task_1:
        - includeParent: true
          isSplit: true
          latestComponentsOnly: true
          level: string
          portfolioId: string
      title: accountsForJob
      type: object
    ErrorSource:
      type: object
      properties:
        pointer:
          type: string
          nullable: true
          example: example_value
        parameter:
          type: string
          nullable: true
          example: example_value
    tasksForJob:
      description: A list of tasks for the given job
      example:
      - my_task_1
      items:
        example: my_task_1
        type: string
      title: tasksForJob
      type: array
      maxItems: 200
    ReturnType:
      type: object
      properties:
        name:
          type: string
          nullable: true
          example: Example Title
        id:
          type: string
          nullable: true
          example: abc123
    CustomSymbolSubTypeDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: abc123
        name:
          type: string
          nullable: true
          example: Example Title
      additionalProperties: false
    CustomSymbolTypeDetailDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: abc123
        name:
          type: string
          nullable: true
          example: Example Title
        hideAddressField:
          type: boolean
          example: true
        hideSymbolSubType:
          type: boolean
          example: true
        isDefault:
          type: boolean
          example: true
        dueDiligenceSymbolEntityType:
          $ref: '#/components/schemas/EntityType'
        subTypes:
          type: array
          items:
            $ref: '#/components/schemas/CustomSymbolSubTypeDto'
          nullable: true
          example: []
      additionalProperties: false
    ProblemDetails:
      type: object
      properties:
        type:
          type: string
          nullable: true
          example: example_value
        title:
          type: string
          nullable: true
          example: Example Title
        status:
          type: integer
          format: int32
          nullable: true
          example: 10
        detail:
          type: string
          nullable: true
          example: example_value
        instance:
          type: string
          nullable: true
          example: example_value
      additionalProperties: {}
    statusDescription:
      description: Further details on the job's status
      example: job has completed with success
      title: statusDescription
      type: string
      maxLength: 500
    runsForJob:
      description: Provides full details of when the job has been run
      example:
        endTime: '2019-08-24T14:15:22Z'
        id: '2365478'
        isApiTriggered: true
        prbStatus: success
        runDuration: 6000
        startTime: '2019-08-24T14:15:22Z'
        status: created
        statusDescription: job has completed with success
        submitTime: '2019-08-24T14:15:22Z'
      properties:
        endTime:
          description: The date and time the job was finished processing
          format: date-time
          type: string
          example: '2026-01-15T10:30:00Z'
        id:
          description: The ID of the run
          type: string
          example: abc123
        isApiTriggered:
          description: Indicates whether the job was triggered via the PRB API
          type: boolean
          example: true
        prbStatus:
          $ref: '#/components/schemas/prbStatus'
        runDuration:
          description: Number of seconds between startTime and endTime
          type: number
          example: 42.5
        startTime:
          description: The date and time the job started running after being submitted and potentially waiting in any queue
          format: date-time
          type: string
          example: '2026-01-15T10:30:00Z'
        status:
          $ref: '#/components/schemas/status'
        statusDescription:
          $ref: '#/components/schemas/statusDescription'
        submitTime:
          description: The date and time the job was submitted
          format: date-time
          type: string
          example: '2026-01-15T10:30:00Z'
      title: runsForJob
      type: object
    UpdateCustomSymbolTypeDto:
      required:
      - name
      type: object
      properties:
        name:
          maxLength: 100
          minLength: 0
          type: string
          example: Example Title
        hideAddressField:
          type: boolean
          example: true
        hideSymbolSubtype:
          type: boolean
          example: true
        isDefault:
          type: boolean
          default: false
          example: true
        dueDiligenceSymbolEntityType:
          $ref: '#/components/schemas/EntityType'
        subTypes:
          type: array
          items:
            $ref: '#/components/schemas/CustomSymbolSubTypeDto'
          nullable: true
          example: []
        customFieldIds:
          type: array
          items:
            type: string
            format: uuid
          nullable: true
          example: []
      additionalProperties: false
    jobDetailsResponse:
      description: Provides the requested details for the specified job and if no attributes are provided, full details will be given
      properties:
        data:
          description: The main object in the jobDetailsResponse schema
          properties:
            accounts:
              $ref: '#/components/schemas/accountsForJob'
            documents:
              $ref: '#/components/schemas/documentsForJob'
            runs:
              description: An array of information for each run
              items:
                $ref: '#/components/schemas/runsForJob'
              type: array
            tasks:
              $ref: '#/components/schemas/tasksForJob'
          type: object
          example: example_value
      title: jobDetailsResponse
      type: object
    jobTypes:
      description: PA - Portfolio Analysis, PUB - Publisher, ADF - Analytics DataFeed, PI - Portfolio Insight, PD - Portfolio Dashboard, Portfolio Vault - vault
      enum:
      - ADF
      - PA
      - PD
      - PI
      - PUB
      - vault
      example: vault
      title: jobTypes
      type: string
  responses:
    GetInstrumentCouponInterestRateTypeList200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: array
                nullable: false
                items:
                  type: object
                  nullable: false
                  x-property-sort:
                  - id
                  - name
                  - description
                  properties:
                    id:
                      nullable: true
                      type: number
                      format: id32
                      x-positive: true
                      description: Identifier of the type.
                    name:
                      nullable: true
                      type: string
                      format: localizedString
                      description: Name of the type.
                    description:
                      nullable: true
                      type: string
                      format: localizedString
                      description: Description of the type.
                description: List of interest rate types.
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                x-property-sort:
                - status
            x-property-sort:
            - data
            - meta
    GetSecuritizedDerivativeBarrierTypeList200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                nullable: false
                type: array
                items:
                  type: object
                  nullable: false
                  x-property-sort:
                  - id
                  - name
                  - description
                  - kind
                  properties:
                    id:
                      nullable: true
                      type: number
                      format: id32
                      x-positive: true
                      description: Identifier of the barrier type.
                    name:
                      nullable: true
                      type: string
                      description: English name of the barrier type.
                    description:
                      nullable: true
                      type: string
                      description: English description of the barrier type.
                    kind:
                      nullable: true
                      type: string
                      description: Kind of the barrier type.
                      x-enum-description:
                      - Barrier types of this kind represent either a lower or an upper bound derived from the exercise right of the securitized derivative, see attribute `exercise.right` in endpoint `/securitizedDerivative/get`.
                      - Barrier types of this kind represent a range with a lower and an upper bound.
                      enum:
                      - single
                      - range
                description: List of barrier types.
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                x-property-sort:
                - status
    GetStockDividendTypeList200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                description: List of dividend types, sorted by ascending identifier value.
                nullable: false
                type: array
                items:
                  type: object
                  nullable: false
                  x-property-sort:
                  - id
                  - name
                  properties:
                    id:
                      nullable: true
                      type: number
                      format: id32
                      x-positive: true
                      description: Identifier of a dividend type.
                    name:
                      nullable: true
                      type: string
                      format: localizedString
                      description: Name of the dividend type.
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject_2'
                x-property-sort:
                - status
    GetNewsArticleTypeGet200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: object
                properties:
                  name:
                    nullable: true
                    type: string
                    format: localizedString
                    description: Name of the news article type.
                description: Details of a news article type.
                nullable: false
                x-property-sort:
                - name
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                x-property-sort:
                - status
            x-property-sort:
            - data
            - meta
    PostBasicMediaTypeList200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: array
                description: List of Internet media types.
                nullable: false
                items:
                  type: object
                  nullable: false
                  x-property-sort:
                  - id
                  - name
                  - description
                  - kind
                  properties:
                    id:
                      nullable: true
                      description: Identifier of an Internet media type.
                      x-sortable: true
                      type: number
                      format: id32
                      x-positive: true
                    name:
                      nullable: true
                      description: Name according to the Internet Assigned Numbers Authority.
                      x-sortable: true
                      x-default-sort-attribute: true
                      x-default-sort-direction: 1
                      type: string
                    description:
                      nullable: true
                      description: English description of the Internet media type.
                      type: string
                    kind:
                      nullable: false
                      description: Kind of media. See endpoint `/basic/media/kind/list` for possible values.
                      type: object
                      x-property-sort:
                      - id
                      - name
                      properties:
                        id:
                          nullable: true
                          description: Identifier of the media kind.
                          type: number
                          format: id32
                          x-positive: true
                        name:
                          nullable: true
                          description: English name of the media kind.
                          type: string
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                x-property-sort:
                - status
            x-property-sort:
            - data
            - meta
    GetPricesTradingScheduleEventTypeList200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: array
                description: List of trading schedule event types.
                nullable: false
                items:
                  type: object
                  nullable: false
                  x-property-sort:
                  - id
                  - code
                  - description
                  properties:
                    id:
                      nullable: true
                      type: number
                      format: id32
                      x-positive: true
                      description: Identifier of the type.
                    code:
                      nullable: true
                      type: string
                      description: Code of the type.
                    description:
                      nullable: true
                      type: string
                      description: Description of the type in english language.
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                x-property-sort:
                - status
            x-property-sort:
            - data
            - meta
    GetInstrumentCouponDayCountConventionTypeList200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: array
                nullable: false
                items:
                  type: object
                  nullable: false
                  x-property-sort:
                  - id
                  - name
                  - description
                  properties:
                    id:
                      nullable: true
                      type: number
                      format: id32
                      x-positive: true
                      description: Identifier of the type.
                    name:
                      nullable: true
                      type: string
                      format: localizedString
                      description: Name of the type.
                    description:
                      nullable: true
                      type: string
                      format: localizedString
                      description: Description of the type.
                description: List of day count convention types.
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                x-property-sort:
                - status
            x-property-sort:
            - data
            - meta
    GetBasicMarketTypeList200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: array
                description: List of market types.
                nullable: false
                items:
                  type: object
                  nullable: false
                  x-property-sort:
                  - id
                  - name
                  properties:
                    id:
                      nullable: true
                      type: number
                      format: id32
                      x-positive: true
                      description: Identifier of the market type.
                    name:
                      nullable: true
                      x-sortable: true
                      x-default-sort-attribute: true
                      x-default-sort-direction: 1
                      type: string
                      format: localizedString
                      description: Name of the market type.
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                x-property-sort:
                - status
            x-property-sort:
            - data
            - meta
    GetNewsArticleTypeList200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: array
                description: List of news article types, sorted by ascending identifier value.
                nullable: false
                items:
                  type: object
                  nullable: false
                  x-property-sort:
                  - id
                  - name
                  properties:
                    id:
                      nullable: true
                      type: number
                      format: id32
                      x-positive: true
                      description: Identifier of the news article type.
                    name:
                      nullable: true
                      type: string
                      format: localizedString
                      description: Name of the news article type.
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                x-property-sort:
                - status
            x-property-sort:
            - data
            - meta
    GetBasicFrequencyTypeList200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: array
                description: List of frequency types.
                nullable: false
                items:
                  type: object
                  nullable: false
                  x-property-sort:
                  - id
                  - name
                  properties:
                    id:
                      nullable: true
                      type: number
                      format: id32
                      x-positive: true
                      description: Identifier of the type.
                    name:
                      nullable: true
                      type: string
                      format: localizedString
                      description: Name of the type.
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                x-property-sort:
                - status
            x-property-sort:
            - data
            - meta
    GetBasicBenchmarkTypeList200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: array
                description: List of benchmark types.
                nullable: false
                items:
                  type: object
                  nullable: false
                  x-property-sort:
                  - id
                  - name
                  - description
                  properties:
                    id:
                      nullable: true
                      type: number
                      format: id32
                      x-positive: true
                      description: Identifier of a benchmark type.
                    name:
                      nullable: true
                      type: string
                      format: localizedString
                      description: Name of the benchmark type.
                    description:
                      nullable: true
                      type: string
                      format: localizedString
                      description: Description of the benchmark type.
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                x-property-sort:
                - status
            x-property-sort:
            - data
            - meta
    GetCategorySystemTypeList200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: array
                description: List of category system types, sorted by ascending identifier value.
                nullable: false
                items:
                  type: object
                  nullable: false
                  x-property-sort:
                  - id
                  - name
                  - description
                  properties:
                    id:
                      nullable: true
                      type: number
                      format: id32
                      x-positive: true
                      description: Identifier of the category system type.
                    name:
                      nullable: true
                      type: string
                      format: localizedString
                      description: Name of the category system type.
                    description:
                      nullable: true
                      type: string
                      format: localizedString
                      description: Description of the category system type.
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                x-property-sort:
                - status
            x-property-sort:
            - data
            - meta
    GetCompanyBoardTypeList200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                description: List of company board types sorted ascending by the identifier of the type.
                nullable: false
                type: array
                items:
                  type: object
                  nullable: false
                  x-property-sort:
                  - id
                  - name
                  - description
                  properties:
                    id:
                      nullable: true
                      type: number
                      format: id32
                      x-positive: true
                      description: Identifier of a type.
                    name:
                      nullable: true
                      type: string
                      format: localizedString
                      description: Name of the type.
                    description:
                      nullable: true
                      type: string
                      format: localizedString
                      description: Description of the type.
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject_2'
                x-property-sort:
                - status
    PostBasicBackgroundTextTypeList200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: array
                nullable: false
                items:
                  type: object
                  nullable: false
                  x-property-sort:
                  - id
                  - name
                  - description
                  properties:
                    id:
                      nullable: true
                      type: number
                      format: id32
                      x-positive: true
                      description: Identifier of the type.
                    name:
                      nullable: true
                      type: string
                      description: English name of the type.
                    description:
                      nullable: true
                      type: string
                      description: English description of the type.
                description: List of background text types.
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                x-property-sort:
                - status
            x-property-sort:
            - data
            - meta
    PostInstrumentBackgroundTextTypeList200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: array
                description: List of background text types, sorted by increasing identifier value.
                nullable: false
                items:
                  type: object
                  nullable: false
                  x-property-sort:
                  - id
                  - name
                  - description
                  properties:
                    id:
                      nullable: true
                      type: number
                      format: id32
                      x-positive: true
                      description: Identifier of a type.
                    name:
                      nullable: true
                      type: string
                      format: localizedString
                      description: Name of the type.
                    description:
                      nullable: true
                      type: string
                      format: localizedString
                      description: Description of the type.
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                x-property-sort:
                - status
            x-property-sort:
            - data
            - meta
  headers:
    X-FactSet-Api-RateLimit-Reset:
      description: Number of seconds remaining till rate limit resets.
      schema:
        type: string
    X-FactSet-Api-RateLimit-Remaining:
      description: Number of requests left for the time window.
      schema:
        type: string
    X-FactSet-Api-RateLimit-Limit:
      description: Number of allowed requests for the time window.
      schema:
        type: string
    X-FactSet-Api-Request-Key:
      description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
      schema:
        type: string
        description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
    X-DataDirect-Request-Key:
      description: FactSet's request key header.
      schema:
        type: string
        description: FactSet's request key header.
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
externalDocs:
  url: https://developer.factset.com/api-catalog/analytics-datastore-api
  description: API Documentation
