openapi: 3.0.0
info:
  title: FactSet Securitized Derivatives API for Digital Portals
  description: |-

    Fundamental data for a single securitized derivative. Notation-based key
    figures of a securitized derivative.
  version: '2'
servers:
  - url: https://api.factset.com/wealth/v1
paths:
  /securitizedDerivative/get:
    get:
      tags:
        - Derivative
      operationId: get/securitizedDerivative/get
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Fundamental data for a single securitized derivative.
      description: >-
        Fundamental data for a single securitized derivative. Dates are
        interpreted in the timezone of the issuer.
      parameters:
        - name: id
          in: query
          schema:
            type: string
            format: id64
            x-positive: true
            description: Identifier of the instrument.
          required: true
        - name: _attributes
          in: query
          schema:
            type: array
            items:
              type: string
              maxLength: 100
              exclusiveMaximum: false
            uniqueItems: true
            maxItems: 50
          style: form
          explode: false
          description: Limit the attributes returned in the response to the specified set.
        - name: _language
          in: query
          schema:
            type: string
            format: isoLanguage
            description: ISO 639-1 code of the language.
            maxLength: 2
            minLength: 2
            exclusiveMinimum: false
            exclusiveMaximum: false
      responses:
        '200':
          $ref: '#/components/responses/GetSecuritizedDerivativeGet200Response'
  /securitizedDerivative/barrier/type/list:
    get:
      tags:
        - Derivative
        - Barriers
        - Type
      operationId: get/securitizedDerivative/barrier/type/list
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: List of barrier types.
      description: List of barrier types.
      responses:
        '200':
          $ref: >-
            #/components/responses/GetSecuritizedDerivativeBarrierTypeList200Response
      parameters:
        - name: _attributes
          in: query
          schema:
            type: array
            items:
              type: string
              maxLength: 100
              exclusiveMaximum: false
            uniqueItems: true
            maxItems: 50
          style: form
          explode: false
          description: Limit the attributes returned in the response to the specified set.
  /securitizedDerivative/issuer/search:
    post:
      tags:
        - Derivative
        - Issuer
        - Search
      operationId: post/securitizedDerivative/issuer/search
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Search for issuers of securitized derivatives.
      description: >-
        Search for issuers of securitized derivatives, including issuer groups,
        which do not represent actual juristic persons, but are defined by
        FactSet to facilitate searching. FactSet does not consolidate the data
        provided by different suppliers, therefore the result may contain more
        than one identifier for a given issuer. The response is limited to 100
        results.
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/PostSecuritizedDerivativeIssuerSearchRequest
      responses:
        '200':
          $ref: >-
            #/components/responses/PostSecuritizedDerivativeIssuerSearch200Response
      parameters: []
  /securitizedDerivative/keyFigures/notation/get:
    get:
      tags:
        - Derivative
        - Keys
        - Figures
        - Notation
      operationId: get/securitizedDerivative/keyFigures/notation/get
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Notation-based key figures of a securitized derivative.
      description: >-
        Notation-based key figures of a securitized derivative. Not all key
        figures are applicable and/or calculated for all types of securitized
        derivatives. Following, some frequently used references: 


        Cover ratio - see attribute `underlyings.coverRatio` in endpoint
        `/securitizedDerivative/underlying/list`.


        Various barrier types (e.g. strike, knock in) - see endpoint
        `/securitizedDerivative/barrier/type/list`.


        Exercise right - see attribute `exercise.right` in endpoint
        `/securitizedDerivative/get`.


        Issue price - see attribute `issue.price` in endpoint
        `/securitizedDerivative/get`.


        Ask price - see attribute `prices.ask`.


        Bid price - see attribute `prices.bid`.
      parameters:
        - name: id
          in: query
          schema:
            type: string
            format: id64
            x-positive: true
            description: Identifier of a notation.
          required: true
        - name: _attributes
          in: query
          schema:
            type: array
            items:
              type: string
              maxLength: 100
              exclusiveMaximum: false
            uniqueItems: true
            maxItems: 50
          style: form
          explode: false
          description: Limit the attributes returned in the response to the specified set.
        - name: _language
          in: query
          schema:
            type: string
            format: isoLanguage
            description: ISO 639-1 code of the language.
            maxLength: 2
            minLength: 2
            exclusiveMinimum: false
            exclusiveMaximum: false
      responses:
        '200':
          $ref: >-
            #/components/responses/GetSecuritizedDerivativeKeyFiguresNotationGet200Response
  /securitizedDerivative/notation/ranking/intraday/list:
    post:
      tags:
        - Derivative
        - Notation
        - Intraday
      operationId: post/securitizedDerivative/notation/ranking/intraday/list
      x-supportsOffsetBasedPaging: true
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 5
      x-supportsPermissionDeniedResponse: false
      summary: Ranking of securitized derivatives' notations using intraday figures.
      description: >-
        Ranking of securitized derivatives' notations using intraday figures.
        The result is limited to 100 notations that all must satisfy all
        selected filters. If more than one notation of an instrument matches the
        parameters, and no market priority has been specified, the selection of
        the notation depends on the sort attribute:

        - absolute and relative performance (see the response attributes
        `trade.performance.absolute` and `trade.performance.relative`) - the
        notation with the most recent trade price is used

        - number trades, trading value and trading volume (see the response
        attributes `accumulated.numberTrades`, `accumulated.tradingVolume` and
        `accumulated.tradingValue`) - the notation with highest (lowest) value
        is used


        By default, the result is sorted descending by the relative intraday
        performance corresponding to the most recent trade price, see attribute
        `trade.performance.relative`. The result may contain sortable values
        based on different currencies, possibly making the ranking nonsensical,
        if the parameters `valueUnit` and/or `currency` have not been specified.


        The search can be restricted to a specific set of products by using
        customer-specific instrument or notation lists. Such restriction lists
        are set up by FactSet upon request.


        All identifiers used as parameters must be valid and entitled.
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/PostSecuritizedDerivativeNotationRankingIntradayListRequest
      responses:
        '200':
          $ref: >-
            #/components/responses/PostSecuritizedDerivativeNotationRankingIntradayList200Response
      parameters: []
  /securitizedDerivative/notation/screener/valueRanges/get:
    post:
      tags:
        - Derivative
        - Notation
        - Screener
        - Value
        - Ranges
      operationId: post/securitizedDerivative/notation/screener/valueRanges/get
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: >-
        Possible values and value ranges for the parameters used in the endpoint
        `/securitizedDerivative/notation/screener/search`.
      description: >-
        The endpoint returns the possible values and value ranges for the
        parameters used in the endpoint
        `/securitizedDerivatives/notation/screener/search`. It allows to request
        the values and value ranges only for a restricted set of notations that
        match predefined parameters. If more than one notation of an instrument
        matches the parameters, and no market priority has been specified, only
        the notation with the highest trading volume, averaged over one month,
        is considered. The functionality may be used to pre-fill the values and
        value ranges of the parameters of the
        `/securitizedDerivatives/notation/screener/search` endpoint so that
        performing a search always leads to a non-empty list of notations. Lists
        of distinct values, e.g. identifiers, are sorted descending by the
        number of notations for each value.

         Since some underlyings, e.g. an index or a performance difference of a stock and an index (alpha structure), do not represent a directly tradable asset, they do not have a price in the classical sense. Therefore, the term "level" is used instead of "price", e.g. underlying level instead of underlying price.

         The endpoint does not support possible values and value ranges for securitized derivatives with multiple underlyings, thus only securitized derivatives with a single underlying are considered.

         The possible values and value ranges can be restricted to a specific set of products by using customer-specific instrument or notation lists. Such restriction lists are set up by FactSet upon request.
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/PostSecuritizedDerivativeNotationScreenerValueRangesGetRequest
      responses:
        '200':
          $ref: >-
            #/components/responses/PostSecuritizedDerivativeNotationScreenerValueRangesGet200Response
      parameters: []
  /securitizedDerivative/notation/screener/search:
    post:
      tags:
        - Derivative
        - Notation
        - Screener
        - Search
      operationId: post/securitizedDerivative/notation/screener/search
      x-supportsOffsetBasedPaging: true
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: >-
        Screener for securitized derivatives's notations based on securitized
        derivatives-specific parameters.
      description: >-
        Screener for securitized derivatives's notations based on securitized
        derivatives-specific parameters. The result is limited to the notations
        that satisfy all the selected filters. If more than one notation of an
        instrument matches the parameters, and no market priority has been
        specified, only the notation with the highest trading volume, averaged
        over one month, is considered. All identifiers used as parameters must
        be valid and entitled.

         Since some underlyings, e.g. an index or a performance difference of a stock and an index (alpha structure), do not represent a directly tradable asset, they do not have a price in the classical sense. Therefore, the term "level" is used instead of "price", e.g. underlying level instead of underlying price.

         The endpoint does not support the search for securitized derivatives with multiple underlyings, thus only securitized derivatives with a single underlying are returned in the result.

         The search can be restricted to a specific set of products by using customer-specific instrument or notation lists. Such restriction lists are set up by FactSet upon request.
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/PostSecuritizedDerivativeNotationScreenerSearchRequest
      responses:
        '200':
          $ref: >-
            #/components/responses/PostSecuritizedDerivativeNotationScreenerSearch200Response
      parameters: []
  /securitizedDerivative/underlying/list:
    get:
      tags:
        - Derivative
        - Underlying
      operationId: get/securitizedDerivative/underlying/list
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: List of underlyings with barrier and cash flow information.
      description: >-
        Provides details regarding the underlyings, their respective barriers
        and related cash flows (if any) of a securitized derivative. A unique
        combination of a cash flow and related barrier modalities, such as
        observation and level, is called a condition. In case of a securitized
        derivative with multiple underlyings, a condition comprises the
        respective barriers of all underlyings participating in that condition.
        Since some underlyings, e.g. an index or a performance difference of a
        stock and an index (alpha structure), do not represent a directly
        tradable asset, they do not have a price in the classical sense.
        Therefore, the term "level" is used instead of "price", e.g. underlying
        level instead of underlying price.
      parameters:
        - name: id
          in: query
          schema:
            type: string
            format: id64
            x-positive: true
            description: Identifier of an instrument.
          required: true
        - name: _attributes
          in: query
          schema:
            type: array
            items:
              type: string
              maxLength: 100
              exclusiveMaximum: false
            uniqueItems: true
            maxItems: 50
          style: form
          explode: false
          description: Limit the attributes returned in the response to the specified set.
        - name: _language
          in: query
          schema:
            type: string
            format: isoLanguage
            description: ISO 639-1 code of the language.
            maxLength: 2
            minLength: 2
            exclusiveMinimum: false
            exclusiveMaximum: false
      responses:
        '200':
          $ref: >-
            #/components/responses/GetSecuritizedDerivativeUnderlyingList200Response
components:
  schemas:
    ErrorMetaObject:
      type: object
      properties:
        status:
          $ref: '#/components/schemas/StatusObject'
    ErrorObject:
      type: array
      description: >-
        The errors member contains additional information about a failed
        request.
      items:
        type: object
        properties:
          details:
            type: string
            description: >-
              A human-readable, unstructured explanation specific to this
              occurrence of the failure.
          encryptedDetails:
            type: string
            description: >-
              Base64-encoded, internal details about the error, in addition to
              "details".
          type:
            type: number
            format: int32
            description: Internal error type of the Foundation API protocol.
          attribute:
            type: array
            description: >-
              For a validation error, a reference to the request parameter that
              failed validation; otherwise, an empty array.
            items:
              type: object
              properties:
                name:
                  type: string
                  description: Element of the path denoting the request parameter.
                index:
                  type: number
                  format: int32
                  description: >-
                    If the attribute "name" designates an array, index of the
                    array element; otherwise the special value -1.
              x-property-sort:
                - name
                - index
        x-property-sort:
          - detail
          - encryptedDetails
          - type
          - attribute
    AttributesMember:
      type: array
      description: Limit the attributes returned in the response to the specified set.
      items:
        type: string
        maxLength: 100
        exclusiveMaximum: false
      maxItems: 50
      uniqueItems: true
    LanguageMember:
      type: string
      format: isoLanguage
      description: ISO 639-1 code of the language.
      maxLength: 2
      minLength: 2
      exclusiveMinimum: false
      exclusiveMaximum: false
    StatusObject:
      type: object
      properties:
        code:
          type: number
          format: int32
          description: >-
            The HTTP status code of the response, mirroring the code from the
            Status-Line of the HTTP response message (see [RFC2616] section
            6.1).
      description: The status member contains the status code of the response.
      required:
        - code
    CursorBasedPaginationOutputObject:
      type: object
      description: Pagination attributes for the cursor-based pagination strategy.
      properties:
        total:
          type: number
          format: int32
          description: Total number of entries in the result set.
        isEstimatedTotal:
          type: boolean
          description: Flag indicating that the value of `total` is estimated.
        next:
          type: string
          description: >-
            The next cursor position to use in the parameter `pagination.cursor`
            for an endpoint that supports cursor-based pagination, otherwise
            `null`.
        previous:
          type: string
          description: >-
            The previous cursor position to use in the parameter
            `pagination.cursor` for an endpoint that supports cursor-based
            pagination. If a previous cursor position is not supported or
            available, `previous` is `null`.
      required:
        - total
        - isEstimatedTotal
        - next
        - previous
      x-property-sort:
        - total
        - isEstimatedTotal
        - next
        - previous
    CursorBasedPaginationOutputObjectWithoutTotal:
      type: object
      description: >-
        Pagination attributes for the cursor-based pagination strategy; a total
        element count is not supported.
      properties:
        next:
          type: string
          description: >-
            The next cursor position to use in the parameter `pagination.cursor`
            for an endpoint that supports cursor-based pagination, otherwise
            `null`.
        previous:
          type: string
          description: >-
            The previous cursor position to use in the parameter
            `pagination.cursor` for an endpoint that supports cursor-based
            pagination. If a previous cursor position is not supported or
            available, `previous` is `null`.
      required:
        - next
        - previous
      x-property-sort:
        - next
        - previous
    OffsetBasedPaginationOutputObject:
      type: object
      description: Pagination attributes for the offset-based pagination strategy.
      properties:
        total:
          type: number
          format: int32
          description: Total number of entries in the result set.
        isEstimatedTotal:
          type: boolean
          description: Flag indicating that the value of "total" is estimated.
      required:
        - total
        - isEstimatedTotal
      x-property-sort:
        - total
        - isEstimatedTotal
    OffsetBasedPaginationOutputObjectWithoutTotal:
      type: object
      description: >-
        Pagination attributes for the offset-based pagination strategy; a total
        element count is not supported.
      properties:
        hasNext:
          type: boolean
          description: >-
            Flag indicating that a subsequent request with the same parameters,
            except that the parameter `pagination.offset` is incremented by
            `pagination.limit`, would yield additional results.
      required:
        - hasNext
      x-property-sort:
        - hasNext
    PartialOutputObject:
      type: object
      properties:
        isPartial:
          type: boolean
          description: >-
            Flag indicating that the response is a possibly incomplete array or
            an object containing a possibly incomplete array, due to hitting a
            processing time limit. If `true`, some matching results might be
            missing from the array, or elements for matching results might be
            incorrectly included (for example, when priority sorting would have
            removed the element). Depending on the use case, such a response may
            be unsuitable.
      description: Object denoting that the endpoint response is possibly incomplete.
      required:
        - isPartial
      x-property-sort:
        - isPartial
    PostSecuritizedDerivativeIssuerSearchRequest:
      type: object
      properties:
        data:
          type: object
          x-property-sort:
            - role
            - name
            - category
            - underlying
            - factorCertificates
            - registrationCountry
            - market
          description: The data member contains the request's primary data.
          properties:
            role:
              type: string
              description: >-
                Specify whether legal entities in the role of an issuer or in
                the role of an issuer group are returned.
              default: issuerGroup
              x-enum-description:
                - >-
                  Legal entities defined by FactSet and thus not representing an
                  actual juristic person.
                - >-
                  Legal entities in the role of an issuer representing an actual
                  juristic person.
              enum:
                - issuerGroup
                - issuer
            name:
              type: object
              x-property-sort:
                - searchValue
              description: Issuer name.
              properties:
                searchValue:
                  type: string
                  pattern: ^[ -!#-&(-+--/0-:=?-Za-zw"]*$
                  minLength: 3
                  exclusiveMinimum: false
                  maxLength: 100
                  exclusiveMaximum: false
                  description: Text string to be searched for.
            category:
              type: object
              x-property-sort:
                - ids
              description: >-
                List of categories of securitized derivatives. Only issuers that
                have issued securitized derivatives belonging to at least one
                category in the provided list are returned.
              properties:
                ids:
                  type: array
                  nullable: false
                  items:
                    type: number
                    format: id32
                    x-positive: true
                  maxItems: 20
                  uniqueItems: true
                  description: >-
                    List of category identifiers. See endpoint
                    `/category/listBySystem` for category systems 18 and 23 for
                    valid values.
            underlying:
              type: object
              x-property-sort:
                - instrument
              description: >-
                List of underlyings of securitized derivatives. Only issuers
                that have issued at least one securitized derivative on an
                underlying in the provided list are returned.
              properties:
                instrument:
                  type: object
                  x-property-sort:
                    - ids
                  description: Underlying instrument.
                  properties:
                    ids:
                      type: array
                      nullable: false
                      items:
                        type: string
                        format: id64
                        x-positive: true
                      maxItems: 100
                      uniqueItems: true
                      description: List of instrument identifiers.
            factorCertificates:
              type: object
              x-property-sort:
                - effectiveUnderlying
              description: Parameters for factor certificates.
              properties:
                effectiveUnderlying:
                  type: object
                  x-property-sort:
                    - instrument
                  description: >-
                    Selection of the effective underlying. The underlying of a
                    factor certificate is usually a factor index which is an
                    artificial index used to calculate the leveraged daily
                    performance of another financial instrument called its
                    effective underlying. Only issuers that have issued at least
                    one factor certificate on an effective underlying in the
                    provided list are returned.
                  properties:
                    instrument:
                      type: object
                      x-property-sort:
                        - ids
                      description: >-
                        Selection of the effective underlying using instrument
                        identifiers.
                      properties:
                        ids:
                          type: array
                          nullable: false
                          items:
                            type: string
                            format: id64
                            x-positive: true
                          maxItems: 100
                          uniqueItems: true
                          description: List of instrument identifiers.
            registrationCountry:
              type: object
              x-property-sort:
                - ids
              description: >-
                List of countries of registration for trading of securitized
                derivatives. Only issuers that have registered at least one
                securitized derivative in a country in the provided list are
                returned.
              properties:
                ids:
                  type: array
                  nullable: false
                  items:
                    type: number
                    format: id32
                    x-positive: true
                  maxItems: 20
                  uniqueItems: true
                  description: >-
                    List of country identifiers. See endpoint
                    `/basic/region/country/list` for valid values.
            market:
              type: object
              x-property-sort:
                - ids
              description: >-
                List of markets where securitized derivatives are traded. Only
                issuers that have issued at least one securitized derivative
                traded on a market in the provided list are returned.
              properties:
                ids:
                  type: array
                  nullable: false
                  items:
                    type: number
                    format: id32
                    x-positive: true
                  maxItems: 20
                  uniqueItems: true
                  description: >-
                    List of market identifiers. See endpoint
                    `/basic/market/list` for valid values.
        meta:
          type: object
          description: The meta member contains the meta information of the request.
          properties:
            attributes:
              $ref: '#/components/schemas/AttributesMember'
          x-property-sort:
            - attributes
    PostSecuritizedDerivativeNotationRankingIntradayListRequest:
      type: object
      properties:
        data:
          type: object
          x-property-sort:
            - prices
            - valueUnit
            - currency
            - market
            - instrumentRestrictionList
            - notationRestrictionList
            - category
            - registrationCountry
            - lifeCycle
            - issuer
            - exercise
            - underlying
            - factorCertificates
            - knockedOut
            - knockedIn
            - performance
          description: The data member contains the request's primary data.
          properties:
            prices:
              description: Price-related parameters.
              type: object
              x-property-sort:
                - quality
              properties:
                quality:
                  type: string
                  description: >-
                    Quality of the trade-related attributes, see attributes
                    `trade` and `accumulated` in the response.
                  x-enum-description:
                    - >-
                      Real-time: intraday prices with minimal technical
                      processing delays.
                    - >-
                      Delayed: intraday prices with an exchange-imposed delay of
                      usually 15 to 30 minutes.
                  enum:
                    - RLT
                    - DLY
                  default: DLY
            valueUnit:
              description: >-
                Value unit of the notations in the result. The parameter ensures
                the consistency and comparability of the absolute and relative
                performance for all securitized derivatives, and of the trading
                value for securitized derivatives quoted in percent. See
                response attributes `trade.performance.absolute` and
                `trade.performance.relative`, and `accumulated.tradingValue`
                respectively.
              type: object
              x-property-sort:
                - id
              properties:
                id:
                  type: number
                  format: id32
                  x-positive: true
                  description: >-
                    Identifier of the value unit. See endpoint
                    `/basic/valueUnit/list` for valid values.
            currency:
              description: >-
                Main currency of the trading value and volume for securitized
                derivatives quoted in percent. The parameter ensures the
                consistency and comparability of the trading value and trading
                volume for such securitized derivatives. For securitized
                derivatives not quoted in percent, the currency and the value
                unit, see parameter `valueUnit`, are identical, thus it is not
                neccessary to specify the currency if the value unit has been
                specified.
              type: object
              x-property-sort:
                - id
              properties:
                id:
                  type: number
                  format: id32
                  x-positive: true
                  description: >-
                    Identifier of the main currency. See endpoint
                    `/basic/valueUnit/currency/main/list` for valid values.
            market:
              description: >-
                Market-related parameters. See endpoint `/basic/market/list` for
                valid values.
              type: object
              x-property-sort:
                - ids
              properties:
                ids:
                  description: >-
                    List of market identifiers. Only securitized derivatives
                    that are traded on a market in the provided list are
                    returned. The list restricts the request to only those
                    markets.
                  type: array
                  nullable: false
                  items:
                    type: number
                    format: id32
                    x-positive: true
                  uniqueItems: true
                  minItems: 1
                  maxItems: 1
              required:
                - ids
            instrumentRestrictionList:
              description: >-
                Instrument-level restriction. If present, the result contains
                only securitized derivatives that are a member of at least one
                of the provided lists.
              type: object
              x-property-sort:
                - ids
              properties:
                ids:
                  description: List of identifiers of restriction lists.
                  type: array
                  nullable: false
                  items:
                    type: number
                    format: id32
                    x-positive: true
                  uniqueItems: true
                  maxItems: 3
            notationRestrictionList:
              description: >-
                Notation-level restriction. If present, the result contains only
                securitized derivatives that are a member of at least one of the
                provided lists.
              type: object
              x-property-sort:
                - ids
              properties:
                ids:
                  description: List of identifiers of restriction lists.
                  type: array
                  nullable: false
                  items:
                    type: number
                    format: id32
                    x-positive: true
                  uniqueItems: true
                  maxItems: 3
            category:
              description: >-
                Only securitized derivatives that belong to at least one
                category in the provided list will be returned.
              type: object
              x-property-sort:
                - ids
              properties:
                ids:
                  description: >-
                    List of category identifiers. See endpoint
                    `/category/listBySystem` for category systems 18 and 23 for
                    valid values.
                  type: array
                  nullable: false
                  items:
                    type: number
                    format: id32
                    x-positive: true
                  uniqueItems: true
                  minItems: 1
                  maxItems: 20
              required:
                - ids
            registrationCountry:
              description: >-
                Only securitized derivatives registered for trading in a country
                in the provided list are returned.
              type: object
              x-property-sort:
                - ids
              properties:
                ids:
                  description: >-
                    List of country identifiers. See endpoint
                    `/basic/region/country/list` for valid values.
                  type: array
                  nullable: false
                  items:
                    type: number
                    format: id32
                    x-positive: true
                  uniqueItems: true
                  maxItems: 20
            lifeCycle:
              description: Parameters related to important dates.
              type: object
              x-property-sort:
                - maturity
              properties:
                maturity:
                  description: Parameters related to the maturity.
                  type: object
                  x-property-sort:
                    - perpetual
                  properties:
                    perpetual:
                      type: string
                      description: >-
                        Specifies whether or not perpetual securitized
                        derivatives, i.e. such that do not mature, are included
                        in the result.
                      default: include
                      x-enum-description:
                        - >-
                          Only perpetual securitized derivatives are included in
                          the result.
                        - >-
                          Perpetual securitized derivatives are included in the
                          result.
                        - >-
                          Perpetual securitized derivatives are excluded from
                          the result.
                      enum:
                        - only
                        - include
                        - exclude
            issuer:
              description: Parameters related to the issuer.
              type: object
              x-property-sort:
                - ids
              properties:
                ids:
                  description: >-
                    List of identifiers of legal entities in the role of an
                    issuer, including issuer groups. FactSet defines issuer
                    groups to facilitate searching; they do not represent actual
                    juristic persons. See endpoint
                    `/securitizedDerivative/issuer/search` for valid values.
                  type: array
                  nullable: false
                  items:
                    type: number
                    format: id32
                    x-positive: true
                  uniqueItems: true
                  maxItems: 20
            exercise:
              description: Parameters related to the exercise.
              type: object
              x-property-sort:
                - right
              properties:
                right:
                  type: string
                  description: Exercise right.
                  x-enum-description:
                    - >-
                      A put option gives buyer the right, but not the
                      obligation, to sell an asset at a specified price within a
                      specific time period. Put is synonymous to short or bear
                      and is used in a broader sense for products that make
                      profits from falling underlying levels.
                    - >-
                      A call option gives buyer the right, but not the
                      obligation, to buy an asset at a specified price within a
                      specific time period. Call is synonymous to long or bull
                      and is used in a broader sense for products that make
                      profits from rising underlying levels.
                  enum:
                    - put
                    - call
            underlying:
              description: >-
                Underlying selection. A list of underlyings can be selected by
                either using their instrument identifiers, see parameter
                `underlying.instrument.ids` or by using their notation
                identifiers, see parameter `underlying.notation.ids` but not
                both at the same time. Only one of the provided identifiers
                needs to be matched in order for a securitized derivative to be
                returned in the result. The list of underlyings is particularly
                useful to search for securitized derivatives that have very
                similar but not exactly the same underlyings such as futures
                with different maturities on a given commodity, e.g. brent crude
                oil.


                For the selection of the effective underling of factor
                certificates, use
                `factorCertificates.effectiveUnderlying.instrument.ids`.
              type: object
              x-property-sort:
                - instrument
                - notation
              properties:
                instrument:
                  description: Underlying selection using instrument identifiers.
                  type: object
                  x-property-sort:
                    - ids
                  properties:
                    ids:
                      description: List of instrument identifiers.
                      type: array
                      nullable: false
                      items:
                        type: string
                        format: id64
                        x-positive: true
                      uniqueItems: true
                      maxItems: 100
                notation:
                  description: Underlying selection using notation identifiers.
                  type: object
                  x-property-sort:
                    - ids
                  properties:
                    ids:
                      description: List of notation identifiers.
                      type: array
                      nullable: false
                      items:
                        type: string
                        format: id64
                        x-positive: true
                      uniqueItems: true
                      maxItems: 100
            factorCertificates:
              description: Parameters for factor certificates.
              type: object
              x-property-sort:
                - effectiveUnderlying
                - participation
              properties:
                effectiveUnderlying:
                  description: >-
                    Selection of the effective underlying. The underlying of a
                    factor certificate is usually a factor index which is an
                    artificial index used to calculate the leveraged daily
                    performance of another financial instrument called its
                    effective underlying.
                  type: object
                  x-property-sort:
                    - instrument
                  properties:
                    instrument:
                      description: >-
                        Selection of the effective underlying using instrument
                        identifiers.
                      type: object
                      x-property-sort:
                        - ids
                      properties:
                        ids:
                          description: List of instrument identifiers.
                          type: array
                          nullable: false
                          items:
                            type: string
                            format: id64
                            x-positive: true
                          uniqueItems: true
                          maxItems: 100
                participation:
                  type: string
                  description: >-
                    Participation direction of the factor certificate at the
                    level movement of its effective underlying.
                  x-enum-description:
                    - >-
                      The factor certificate participates positively with rising
                      levels of its effective underlying.
                    - >-
                      The factor certificate participates negatively with rising
                      levels of its effective underlying.
                  enum:
                    - long
                    - short
            knockedOut:
              type: string
              default: exclude
              description: >-
                Specifies whether knocked-out securitized derivatives are
                included in the response. Particularly relevant for knock-out
                certificates.
              x-enum-description:
                - >-
                  Only knocked-out securitized derivatives are included in the
                  result.
                - >-
                  Knocked-out securitized derivatives are included in the
                  result.
                - >-
                  Knocked-out securitized derivatives are excluded from the
                  result.
              enum:
                - only
                - include
                - exclude
            knockedIn:
              type: string
              default: exclude
              description: >-
                Specifies whether knocked-in securitized derivatives are
                included in the response. Particularly relevant for bonus
                certificates but also for securitized derivatives that might
                have additional protection such as reverse convertible bonds,
                discount certificates, and capital-protection certificates.
              x-enum-description:
                - >-
                  Only knocked-in securitized derivatives are included in the
                  result.
                - Knocked-in securitized derivatives are included in the result.
                - >-
                  Knocked-in securitized derivatives are excluded from the
                  result.
              enum:
                - only
                - include
                - exclude
            performance:
              type: object
              x-property-sort:
                - relative
              description: >
                Performance of the most recent price calculated against the
                latest price which has occurred before the start of the current
                trading day.
              properties:
                relative:
                  type: object
                  format: relativeValueRange
                  properties:
                    minimum:
                      type: object
                      x-property-sort:
                        - value
                        - inclusive
                      description: >-
                        The minimum of the range, or `null` to indicate that
                        there is no minimum.
                      properties:
                        value:
                          type: number
                          format: relativeValue
                          description: The minimum value.
                        inclusive:
                          type: boolean
                          description: >-
                            Indicates whether the minimum value is included in
                            the range or not.
                          default: true
                      required:
                        - value
                      x-allowNullValue: true
                    maximum:
                      type: object
                      x-property-sort:
                        - value
                        - inclusive
                      description: >-
                        The maximum of the range, or `null` to indicate that
                        there is no maximum.
                      properties:
                        value:
                          type: number
                          format: relativeValue
                          description: The maximum value.
                        inclusive:
                          type: boolean
                          description: >-
                            Indicates whether the maximum value is included in
                            the range or not.
                          default: true
                      required:
                        - value
                      x-allowNullValue: true
                  x-property-sort:
                    - minimum
                    - maximum
                  description: Value range for the relative performance.
          required:
            - market
        meta:
          type: object
          description: The meta member contains the meta information of the request.
          properties:
            attributes:
              $ref: '#/components/schemas/AttributesMember'
            language:
              $ref: '#/components/schemas/LanguageMember'
            sort:
              description: >-
                Sortable attributes. The sort order is ascending unless it is
                prefixed with a minus sign, in which case it is descending. A
                list of at most 5 (possibly prefixed) attribute name(s) is
                allowed.
              type: array
              items:
                type: string
                enum:
                  - trade.performance.absolute
                  - '-trade.performance.absolute'
                  - trade.performance.relative
                  - '-trade.performance.relative'
                  - accumulated.numberTrades
                  - '-accumulated.numberTrades'
                  - accumulated.tradingVolume
                  - '-accumulated.tradingVolume'
                  - accumulated.tradingValue
                  - '-accumulated.tradingValue'
              maxItems: 5
              uniqueItems: true
              default:
                - '-trade.performance.relative'
            pagination:
              type: object
              description: Pagination attributes for the offset-based pagination strategy.
              properties:
                offset:
                  type: number
                  format: int32
                  minimum: 0
                  exclusiveMinimum: false
                  default: 0
                  description: Non-negative number of entries to skip, or 0 (default).
                limit:
                  type: number
                  format: int32
                  minimum: 0
                  exclusiveMinimum: false
                  maximum: 100
                  exclusiveMaximum: false
                  default: 10
                  description: Non-negative maximum number of entries to return.
              x-property-sort:
                - offset
                - limit
          x-property-sort:
            - attributes
            - language
            - sort
            - pagination
    PostSecuritizedDerivativeNotationScreenerValueRangesGetRequest:
      type: object
      properties:
        data:
          type: object
          x-property-sort:
            - validation
            - category
            - registrationCountry
            - lifeCycle
            - issuer
            - exercise
            - settlement
            - collateralized
            - quanto
            - capitalProtection
            - underlying
            - cashFlowCurrency
            - singleBarriers
            - rangeBarriers
            - factorCertificates
            - nominalCurrency
            - currentInterestRate
            - keyFigures
            - performance
            - volatility
          description: The data member contains the request's primary data.
          properties:
            validation:
              description: Validation parameters.
              type: object
              x-property-sort:
                - onlyActive
                - prices
                - valueUnit
                - market
                - instrumentRestrictionList
                - notationRestrictionList
              properties:
                onlyActive:
                  description: >-
                    If `true`, only active notations will be returned. The term
                    "active" reflects the fact that notations and related data
                    is not being deleted immediately after becoming irrelevant
                    (e.g. because the source does not provide a price anymore),
                    but remains in general retrievable for up to 6 months.
                  type: boolean
                  default: true
                prices:
                  description: Price-related parameters.
                  type: object
                  x-property-sort:
                    - quality
                    - latest
                    - previous
                  properties:
                    quality:
                      type: string
                      description: Quality of the price.
                      default: DLY
                      x-enum-description:
                        - >-
                          Delayed: intraday prices with an exchange-imposed
                          delay of usually 15 to 30 minutes.
                        - >-
                          End-of-day: prices updated once per day after the
                          close of trading, possibly with an exchange-imposed
                          delay of several hours or days.
                      enum:
                        - DLY
                        - EOD
                    latest:
                      description: >-
                        Parameters related to the presence and age of the most
                        recent trade price.
                      type: object
                      x-property-sort:
                        - availableOnly
                        - minimumDate
                      properties:
                        availableOnly:
                          description: >-
                            If `true`, only notations for which a trade price
                            (even an outdated one) is available will be
                            returned.
                          type: boolean
                        minimumDate:
                          description: >-
                            Earliest admissible date of the most recent trade
                            price.
                          type: string
                          format: date
                    previous:
                      description: >-
                        Parameters related to the presence and age of a trade
                        price from a preceding trading day.
                      type: object
                      x-property-sort:
                        - availableOnly
                        - minimumDate
                      properties:
                        availableOnly:
                          description: >-
                            If `true`, only notations for which a trade price
                            from a preceding trading day is available will be
                            returned.
                          type: boolean
                        minimumDate:
                          description: >-
                            Earliest admissible date of the trade price from a
                            preceding trading day.
                          type: string
                          format: date
                valueUnit:
                  description: >-
                    Value unit-related parameters. See endpoint
                    `/basic/valueUnit/list` for valid values.
                  type: object
                  x-property-sort:
                    - selection
                  properties:
                    selection:
                      description: Value unit selection.
                      type: object
                      x-property-sort:
                        - restrict
                        - exclude
                      x-atMostOne: true
                      properties:
                        restrict:
                          description: Specifies the value units a notation may have.
                          type: object
                          x-property-sort:
                            - ids
                          properties:
                            ids:
                              description: Set of value unit identifiers.
                              type: array
                              nullable: false
                              items:
                                type: number
                                format: id32
                                x-positive: true
                              uniqueItems: true
                              maxItems: 100
                        exclude:
                          description: Specifies the value units a notation may not have.
                          type: object
                          x-property-sort:
                            - ids
                          properties:
                            ids:
                              description: Set of value unit identifiers.
                              type: array
                              nullable: false
                              items:
                                type: number
                                format: id32
                                x-positive: true
                              uniqueItems: true
                              maxItems: 100
                market:
                  description: >-
                    Market-related notation selection. See endpoint
                    `/basic/market/list` for valid values.
                  type: object
                  x-property-sort:
                    - selection
                    - priority
                  properties:
                    selection:
                      description: Market selection.
                      type: object
                      x-property-sort:
                        - restrict
                        - exclude
                      x-atMostOne: true
                      properties:
                        restrict:
                          description: >-
                            Specifies the markets from which a notation may
                            originate.
                          type: object
                          x-property-sort:
                            - ids
                          properties:
                            ids:
                              description: Set of market identifiers.
                              type: array
                              nullable: false
                              items:
                                type: number
                                format: id32
                                x-positive: true
                              uniqueItems: true
                              maxItems: 100
                        exclude:
                          description: >-
                            Specifies the markets from which a notation may not
                            originate.
                          type: object
                          x-property-sort:
                            - ids
                          properties:
                            ids:
                              description: Set of market identifiers.
                              type: array
                              nullable: false
                              items:
                                type: number
                                format: id32
                                x-positive: true
                              uniqueItems: true
                              maxItems: 100
                    priority:
                      description: >-
                        Sequence of markets specifying the priority order of the
                        markets for the selection of one notation per
                        instrument. If for a given instrument with two matching
                        notations, A and B, the market of notation A precedes
                        the market of notation B in this list or if the market
                        of notation B is not in this list, A is selected. If
                        neither of the markets is in this list, the notation
                        with the highest trading volume, averaged over one
                        month, is selected.        
                         The list does not restrict the request to only those markets (use the parameter `market.selection` for that purpose).
                      type: object
                      x-property-sort:
                        - ids
                      properties:
                        ids:
                          description: List of market identifiers.
                          type: array
                          nullable: false
                          items:
                            type: number
                            format: id32
                            x-positive: true
                          uniqueItems: true
                          maxItems: 100
                instrumentRestrictionList:
                  description: >-
                    Instrument-level restriction. If present, the result
                    contains only securitized derivatives that are a member of
                    at least one of the provided lists.
                  type: object
                  x-property-sort:
                    - ids
                  properties:
                    ids:
                      description: List of identifieres of restriction lists.
                      type: array
                      nullable: false
                      items:
                        type: number
                        format: id32
                        x-positive: true
                      uniqueItems: true
                      maxItems: 3
                notationRestrictionList:
                  description: >-
                    Notation-level restriction. If present, the result contains
                    only securitized derivatives that are a member of at least
                    one of the provided lists.
                  type: object
                  x-property-sort:
                    - ids
                  properties:
                    ids:
                      description: List of identifieres of restriction lists.
                      type: array
                      nullable: false
                      items:
                        type: number
                        format: id32
                        x-positive: true
                      uniqueItems: true
                      maxItems: 3
            category:
              description: >-
                Only securitized derivatives that belong to at least one
                category in the provided list will  be returned.
              type: object
              x-property-sort:
                - ids
              properties:
                ids:
                  description: >-
                    List of category identifiers. See endpoint
                    `/category/listBySystem` for category systems 18 and 23 for
                    valid values.
                  type: array
                  nullable: false
                  items:
                    type: number
                    format: id32
                    x-positive: true
                  uniqueItems: true
                  maxItems: 20
            registrationCountry:
              description: >-
                Only securitized derivatives registered for trading in a country
                in the provided list are returned.
              type: object
              x-property-sort:
                - ids
              properties:
                ids:
                  description: >-
                    List of country identifiers. See endpoint
                    `/basic/region/country/list` for valid values.
                  type: array
                  nullable: false
                  items:
                    type: number
                    format: id32
                    x-positive: true
                  uniqueItems: true
                  maxItems: 20
            lifeCycle:
              description: Parameters related to important dates.
              type: object
              x-property-sort:
                - issue
                - maturity
                - callable
                - valuation
                - repayment
              properties:
                issue:
                  type: object
                  format: dateRange
                  x-isClosedInterval: true
                  properties:
                    start:
                      type: string
                      format: date
                      description: >-
                        The starting point of the date range (inclusive), or
                        `null` to indicate that the date range extends
                        indefinitely into the past.
                      x-allowNullValue: true
                    end:
                      type: string
                      format: date
                      description: >-
                        The ending point of the date range (inclusive), or
                        `null` to indicate that the date range extends
                        indefinitely into the future.
                      x-allowNullValue: true
                  x-property-sort:
                    - start
                    - end
                  required:
                    - start
                    - end
                  description: Date range of the issue date.
                maturity:
                  description: Parameters related to the maturity.
                  type: object
                  x-property-sort:
                    - restriction
                    - perpetual
                  properties:
                    restriction:
                      description: >-
                        The maturity can be restricted by using one of the
                        parameters `date` or `remainingTermDays` but not both at
                        the same time. If a maturity restriction is set,
                        perpetual instruments, i.e. such that do not mature, are
                        not included in the result unless the parameter
                        `perpetual` is set to `include`.
                      type: object
                      x-property-sort:
                        - date
                        - remainingTermDays
                      x-atMostOne: true
                      properties:
                        date:
                          type: object
                          format: dateRange
                          x-isClosedInterval: true
                          properties:
                            start:
                              type: string
                              format: date
                              description: >-
                                The starting point of the date range
                                (inclusive), or `null` to indicate that the date
                                range extends indefinitely into the past.
                              x-allowNullValue: true
                            end:
                              type: string
                              format: date
                              description: >-
                                The ending point of the date range (inclusive),
                                or `null` to indicate that the date range
                                extends indefinitely into the future.
                              x-allowNullValue: true
                          x-property-sort:
                            - start
                            - end
                          required:
                            - start
                            - end
                          description: Date range of the maturity date.
                        remainingTermDays:
                          description: >-
                            Value range for the remaining term to maturity
                            expressed in days.
                          type: object
                          format: realRange
                          properties:
                            minimum:
                              type: object
                              x-property-sort:
                                - value
                                - inclusive
                              description: >-
                                The minimum of the range, or `null` to indicate
                                that there is no minimum.
                              properties:
                                value:
                                  type: number
                                  format: real
                                  description: The minimum value.
                                inclusive:
                                  type: boolean
                                  description: >-
                                    Indicates whether the minimum value is
                                    included in the range or not.
                                  default: true
                              x-allowNullValue: true
                            maximum:
                              type: object
                              x-property-sort:
                                - value
                                - inclusive
                              description: >-
                                The maximum of the range, or `null` to indicate
                                that there is no maximum.
                              properties:
                                value:
                                  type: number
                                  format: real
                                  description: The maximum value.
                                inclusive:
                                  type: boolean
                                  description: >-
                                    Indicates whether the maximum value is
                                    included in the range or not.
                                  default: true
                              x-allowNullValue: true
                          x-property-sort:
                            - minimum
                            - maximum
                    perpetual:
                      type: string
                      description: >-
                        Defines whether or not perpetual securitized
                        derivatives, i.e. such that do not mature, are included
                        in the result. The value `only` can be used if both
                        parameters `maturity.restriction.date` and
                        `maturity.restriction.remainingTermDays` are not set.
                      x-enum-description:
                        - >-
                          Only perpetual securitized derivatives are included in
                          the result.
                        - >-
                          Perpetual securitized derivatives are included in the
                          result even if one of the parameters
                          `maturity.restriction.date` or
                          `maturity.restriction.remainingTermDays` is set.
                        - >-
                          Perpetual securitized derivatives are excluded from
                          the result.
                      enum:
                        - only
                        - include
                        - exclude
                callable:
                  type: boolean
                  description: >-
                    Restricts the result to securitized derivatives that are
                    callable (`true`) or are not callable (`false`). A callable
                    instrument is one that may be redeemed by the issuer prior
                    to maturity.
                valuation:
                  description: Date range of the valuation date.
                  type: object
                  format: dateRange
                  x-isClosedInterval: true
                  properties:
                    start:
                      type: string
                      format: date
                      description: >-
                        The starting point of the date range (inclusive), or
                        `null` to indicate that the date range extends
                        indefinitely into the past.
                      x-allowNullValue: true
                    end:
                      type: string
                      format: date
                      description: >-
                        The ending point of the date range (inclusive), or
                        `null` to indicate that the date range extends
                        indefinitely into the future.
                      x-allowNullValue: true
                  x-property-sort:
                    - start
                    - end
                  required:
                    - start
                    - end
                repayment:
                  description: Date range of the repayment date.
                  type: object
                  format: dateRange
                  x-isClosedInterval: true
                  properties:
                    start:
                      type: string
                      format: date
                      description: >-
                        The starting point of the date range (inclusive), or
                        `null` to indicate that the date range extends
                        indefinitely into the past.
                      x-allowNullValue: true
                    end:
                      type: string
                      format: date
                      description: >-
                        The ending point of the date range (inclusive), or
                        `null` to indicate that the date range extends
                        indefinitely into the future.
                      x-allowNullValue: true
                  x-property-sort:
                    - start
                    - end
                  required:
                    - start
                    - end
            issuer:
              description: Parameters related to the issuer.
              type: object
              x-property-sort:
                - ids
              properties:
                ids:
                  description: >-
                    List of identifiers of legal entities in the role of an
                    issuer, including issuer groups. FactSet defines issuer
                    groups to facilitate searching; they do not represent actual
                    juristic persons. See endpoint
                    `/securitizedDerivative/issuer/search` for valid values.
                  type: array
                  nullable: false
                  items:
                    type: number
                    format: id32
                    x-positive: true
                  uniqueItems: true
                  maxItems: 20
            exercise:
              description: Parameters related to the exercise.
              type: object
              x-property-sort:
                - right
                - style
              properties:
                right:
                  type: string
                  description: Code of the exercise right.
                  x-enum-description:
                    - >-
                      A put option gives buyer the right, but not the
                      obligation, to sell an asset at a specified price within a
                      specific time period. Put is synonymous to short or bear
                      and is used in a broader sense for products that make
                      profits from falling underlying levels.
                    - >-
                      A call option gives buyer the right, but not the
                      obligation, to buy an asset at a specified price within a
                      specific time period. Call is synonymous to long or bull
                      and is used in a broader sense for products that make
                      profits from rising underlying levels.
                  enum:
                    - put
                    - call
                style:
                  type: string
                  description: Code of the exercise style.
                  x-enum-description:
                    - >-
                      An American-style securitized derivative can be exercised
                      anytime during its life.
                    - >-
                      An European-style securitized derivative can be exercised
                      at maturity only.
                    - >-
                      A Bermudan-style securitized derivative can be exercised
                      only on predetermined dates.
                  enum:
                    - american
                    - european
                    - bermudan
            settlement:
              type: string
              description: >-
                Settlement of the securitized derivative. It concerns the
                fulfillment of the issuer's contractual obligations arising from
                the securitized derivative. Depending on the terms, the
                underlying asset may be delivered physically or its equivalent
                monetary value may be payed out.
              x-enum-description:
                - Transfer of a cash amount
                - Phyiscal delivery of the underlying asset.
                - Cash or physical, at the discretion of the issuer.
              enum:
                - cash
                - physical
                - either
            collateralized:
              type: boolean
              description: >-
                Restricts the result to securitized derivatives that are
                collateralized (`true`) or are  not collateralized (`false`). A
                collateralized securitized derivative is protected against an 
                issuer default by collateral.
            quanto:
              type: boolean
              description: >-
                Restricts the result to securitized derivatives that are hedged
                (`true`) or are not hedged (`false`) against fluctuations of the
                foreign exchange rate between the value unit of the underlying
                and the value unit of the cash flows.
            capitalProtection:
              type: object
              format: relativeValueRange
              properties:
                minimum:
                  type: object
                  x-property-sort:
                    - value
                    - inclusive
                  description: >-
                    The minimum of the range, or `null` to indicate that there
                    is no minimum.
                  properties:
                    value:
                      type: number
                      format: relativeValue
                      description: The minimum value.
                    inclusive:
                      type: boolean
                      description: >-
                        Indicates whether the minimum value is included in the
                        range or not.
                      default: true
                  required:
                    - value
                  x-allowNullValue: true
                maximum:
                  type: object
                  x-property-sort:
                    - value
                    - inclusive
                  description: >-
                    The maximum of the range, or `null` to indicate that there
                    is no maximum.
                  properties:
                    value:
                      type: number
                      format: relativeValue
                      description: The maximum value.
                    inclusive:
                      type: boolean
                      description: >-
                        Indicates whether the maximum value is included in the
                        range or not.
                      default: true
                  required:
                    - value
                  x-allowNullValue: true
              x-property-sort:
                - minimum
                - maximum
              description: >-
                Value range of the proportion of the nominal amount protected
                against loss.
            underlying:
              description: >-
                Underlying selection. A list of underlyings can be selected by
                either using their instrument identifiers, see parameter
                `underlying.instrument.ids` or by using their notation
                identifiers, see parameter `underlying.notation.ids` but not
                both at the same time. Only one of the provided identifiers
                needs to be matched in order for a securitized derivative to be
                returned in the result.

                 The list of underlyings is particularly useful to search for securitized derivatives that have very similar but not exactly the same underlyings such as futures with different maturities on a given commodity, e.g. brent crude oil. For such a list of underlyings, a barrier restriction in absolute terms, see for example parameter `singleBarriers.level.absolute` or `rangeBarriers.upper.level.absolute`, will provide a meaningful result, whereas for a list of non-similar underlyings, such as different stocks, a barrier restriction in absolute terms will not provide a meaningful result. This is due to the fact that futures on the same commodity are comparable in regards to their prices while two different stocks are not comparable.

                 Parameters in relative terms, see for example parameter `singleBarriers.distance.relative`, are generally comparable and will provide meaningful result for a list of similar as well as for a list of non-similar underlyings.

                 For the selection of the effective underling of factor certificates, use `factorCertificates.effectiveUnderlying.instrument.ids`.
              type: object
              x-property-sort:
                - instrument
                - notation
              x-atMostOne: true
              properties:
                instrument:
                  description: Underlying selection using instrument identifiers.
                  type: object
                  x-property-sort:
                    - ids
                  properties:
                    ids:
                      description: List of instrument identifiers.
                      type: array
                      nullable: false
                      items:
                        type: string
                        format: id64
                        x-positive: true
                      uniqueItems: true
                      maxItems: 100
                notation:
                  description: Underlying selection using notation identifiers.
                  type: object
                  x-property-sort:
                    - ids
                  properties:
                    ids:
                      description: List of notation identifiers.
                      type: array
                      nullable: false
                      items:
                        type: string
                        format: id64
                        x-positive: true
                      uniqueItems: true
                      maxItems: 100
            cashFlowCurrency:
              description: >-
                Main currency of the cash flows. A cash flow is a payout
                dependent on whether or not the underlying level, e.g. a stock's
                price, will reach a given threshold, called barrier, at a given
                time.
              type: object
              x-property-sort:
                - id
              properties:
                id:
                  description: >-
                    Identifier of the currency. See endpoint
                    `/basic/valueUnit/currency/main/list` for valid values.
                  type: number
                  format: id32
                  x-positive: true
            singleBarriers:
              type: array
              nullable: false
              items:
                type: object
                x-property-sort:
                  - type
                  - observation
                  - level
                  - distance
                  - breach
                  - cashFlow
                properties:
                  type:
                    description: >-
                      The type of the barrier. See endpoint
                      `/securitizedDerivative/barrier/type/list` for additional
                      information. Note that not all barrier types listed in the
                      mentioned endpoint can be used as a parameter.
                    type: string
                    x-enum-description:
                      - >-
                        Represents the underlying level that needs to be reached
                        in order for the securitized derivative to yield a
                        profit; particularly relevant for reverse convertible
                        bonds, sprint/outperformance certificates,
                        capital-protection certificates, warrants and knock-out
                        certificates.
                      - >-
                        Represents the underlying level considered for repayment
                        if the knock-in barrier is intact; particularly relevant
                        for bonus certificates.
                      - >-
                        Represents the maximum underlying level considered for
                        repayment; particularly relevant for discount
                        certificates, bonus certificates, and capital-protection
                        certificates.
                      - >-
                        Represents the underlying level where a securitized
                        derivative is terminated and becomes (nearly) worthless;
                        particularly relevant for knock-out certificates.
                      - >-
                        Represents the underling level at which a certain
                        product feature (such as a bonus payment) is lost;
                        particularly relevant for bonus certificates but also
                        for securitized derivatives that might have additional
                        protection such as reverse convertible bonds, discount
                        certificates, and capital-protection certificates.
                      - >-
                        Represents the underlying level at which the securitized
                        derivative is terminated yielding a predefined amount;
                        particularly relevant for capital-protection
                        certificates and express certificates but currently not
                        supported for the latter.
                      - >-
                        Represents the underlying level at which a certain
                        repayment at maturity is ensured; particularly relevant
                        for capital-protection certificates and express
                        certificates but currently not supported for the latter.
                      - >-
                        Represents the underlying level corresponding to a
                        guranteed repayment; particularly relevant for
                        capital-protection certificates.
                      - >-
                        Represents the underlying level at which a partial
                        payment (such as a conditional coupon) is lost;
                        particularly relevant for capital-protection
                        certificates and express certificates but currently not
                        supported for the latter.
                    enum:
                      - strike
                      - bonusLevel
                      - cap
                      - knockOut
                      - knockIn
                      - lockOut
                      - lockIn
                      - capitalGuarantee
                      - couponTriggerLevel
                  observation:
                    type: object
                    x-property-sort:
                      - type
                    description: >-
                      Barrier observation modality; applicable to the following
                      barrier types: `knockIn`, `knockOut`, `lockIn`, and
                      `lockOut`.
                    properties:
                      type:
                        type: string
                        description: Type of the barrier observation.
                        x-enum-description:
                          - >-
                            The barrier is observed on a continuous basis
                            (intraday prices are relevant).
                          - >-
                            The barrier is observed only at the end of the final
                            auction for the underlying on the relevant exchange
                            (intraday prices are of no relevance).
                        enum:
                          - continuous
                          - eod
                  level:
                    type: object
                    x-property-sort:
                      - absolute
                    description: Barrier level.
                    properties:
                      absolute:
                        type: object
                        format: realRange
                        properties:
                          minimum:
                            type: object
                            x-property-sort:
                              - value
                              - inclusive
                            description: >-
                              The minimum of the range, or `null` to indicate
                              that there is no minimum.
                            properties:
                              value:
                                type: number
                                format: real
                                description: The minimum value.
                              inclusive:
                                type: boolean
                                description: >-
                                  Indicates whether the minimum value is
                                  included in the range or not.
                                default: true
                            required:
                              - value
                            x-allowNullValue: true
                          maximum:
                            type: object
                            x-property-sort:
                              - value
                              - inclusive
                            description: >-
                              The maximum of the range, or `null` to indicate
                              that there is no maximum.
                            properties:
                              value:
                                type: number
                                format: real
                                description: The maximum value.
                              inclusive:
                                type: boolean
                                description: >-
                                  Indicates whether the maximum value is
                                  included in the range or not.
                                default: true
                            required:
                              - value
                            x-allowNullValue: true
                        x-property-sort:
                          - minimum
                          - maximum
                        description: Value range of the absolute barrier level.
                  distance:
                    type: object
                    x-property-sort:
                      - absolute
                      - relative
                    description: >-
                      Distance of the current underlying level to the barrier
                      level.
                    properties:
                      absolute:
                        type: object
                        format: realRange
                        properties:
                          minimum:
                            type: object
                            x-property-sort:
                              - value
                              - inclusive
                            description: >-
                              The minimum of the range, or `null` to indicate
                              that there is no minimum.
                            properties:
                              value:
                                type: number
                                format: real
                                description: The minimum value.
                              inclusive:
                                type: boolean
                                description: >-
                                  Indicates whether the minimum value is
                                  included in the range or not.
                                default: true
                            required:
                              - value
                            x-allowNullValue: true
                          maximum:
                            type: object
                            x-property-sort:
                              - value
                              - inclusive
                            description: >-
                              The maximum of the range, or `null` to indicate
                              that there is no maximum.
                            properties:
                              value:
                                type: number
                                format: real
                                description: The maximum value.
                              inclusive:
                                type: boolean
                                description: >-
                                  Indicates whether the maximum value is
                                  included in the range or not.
                                default: true
                            required:
                              - value
                            x-allowNullValue: true
                        x-property-sort:
                          - minimum
                          - maximum
                        description: Value range of the absolute distance.
                      relative:
                        type: object
                        format: relativeValueRange
                        properties:
                          minimum:
                            type: object
                            x-property-sort:
                              - value
                              - inclusive
                            description: >-
                              The minimum of the range, or `null` to indicate
                              that there is no minimum.
                            properties:
                              value:
                                type: number
                                format: relativeValue
                                description: The minimum value.
                              inclusive:
                                type: boolean
                                description: >-
                                  Indicates whether the minimum value is
                                  included in the range or not.
                                default: true
                            required:
                              - value
                            x-allowNullValue: true
                          maximum:
                            type: object
                            x-property-sort:
                              - value
                              - inclusive
                            description: >-
                              The maximum of the range, or `null` to indicate
                              that there is no maximum.
                            properties:
                              value:
                                type: number
                                format: relativeValue
                                description: The maximum value.
                              inclusive:
                                type: boolean
                                description: >-
[...]
