openapi: 3.2.0
info:
  version: 3.0.0
  title: FactSet Real-Time Quotes Members API
  description: '

    The Quotes API combines endpoints for retrieving security end-of-day,

    delayed, and realtime prices with performance key figures and basic

    reference data on the security and market level.'
  contact:
    name: FactSet Research Systems
    url: https://developer.factset.com/contact
    email: api@factset.com
  license:
    name: Apache License, Version 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
servers:
- url: https://api.factset.com/wealth/v3
security:
- FactSetApiKey: []
- FactSetOAuth2: []
tags:
- name: Members
paths:
  /notation/selectionList/members/list:
    post:
      tags:
      - Members
      operationId: post/notation/selectionList/members/list
      x-supportsOffsetBasedPaging: true
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 6
      x-supportsPermissionDeniedResponse: false
      summary: Factset List of Notations Belonging to a Notation-level Selection List.
      description: List of notations belonging to a notation-level selection list.
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostNotationSelectionListMembersListRequest'
        required: false
      responses:
        '200':
          $ref: '#/components/responses/PostNotationSelectionListMembersList200Response'
      parameters: []
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    PostNotationSelectionListMembersListRequest:
      x-property-sort:
      - data
      - meta
      description: Request Body
      type: object
      properties:
        data:
          type: object
          x-property-sort:
          - id
          - filter
          description: The data member contains the request's primary data.
          properties:
            id:
              type: number
              format: id32
              x-positive: true
              description: Identifier of a selection list.
            filter:
              type: object
              x-property-sort:
              - market
              - valueUnit
              - assetClass
              - instrumentCategory
              description: Criteria that filter the items in the response list; only items that match all of the criteria are returned.
              properties:
                market:
                  type: object
                  x-property-sort:
                  - restrict
                  - exclude
                  description: Market-related parameters. See endpoint `/basic/market/list` for valid values.
                  x-atMostOne: true
                  properties:
                    restrict:
                      type: object
                      x-property-sort:
                      - ids
                      description: Specifies the markets from which a notation may originate.
                      properties:
                        ids:
                          description: Set of market identifiers.
                          type: array
                          items:
                            type: number
                            format: id32
                            x-positive: true
                          uniqueItems: true
                          maxItems: 100
                    exclude:
                      type: object
                      x-property-sort:
                      - ids
                      description: Specifies the markets from which a notation may not originate.
                      properties:
                        ids:
                          description: Set of market identifiers.
                          type: array
                          items:
                            type: number
                            format: id32
                            x-positive: true
                          uniqueItems: true
                          maxItems: 100
                valueUnit:
                  type: object
                  x-property-sort:
                  - restrict
                  - exclude
                  description: Value unit-related parameters. See endpoint `/basic/valueUnit/list` for valid values.
                  x-atMostOne: true
                  properties:
                    restrict:
                      type: object
                      x-property-sort:
                      - ids
                      description: Specifies the value units a notation may have.
                      properties:
                        ids:
                          description: Set of value unit identifiers.
                          type: array
                          items:
                            type: number
                            format: id32
                            x-positive: true
                          uniqueItems: true
                          maxItems: 100
                    exclude:
                      type: object
                      x-property-sort:
                      - ids
                      description: Specifies the value units a notation may not have.
                      properties:
                        ids:
                          description: Set of value unit identifiers.
                          type: array
                          items:
                            type: number
                            format: id32
                            x-positive: true
                          uniqueItems: true
                          maxItems: 100
                assetClass:
                  type: object
                  x-property-sort:
                  - ids
                  description: Asset class restriction.
                  properties:
                    ids:
                      description: Set of asset class identifiers. See endpoint `/basic/assetClass/list` for valid values.
                      type: array
                      items:
                        type: number
                        format: id32
                        x-positive: true
                      uniqueItems: true
                      maxItems: 12
                instrumentCategory:
                  type: object
                  x-property-sort:
                  - restrict
                  - exclude
                  description: Category selection. Identifiers from all entitled category systems can be used, see endpoint `/category/system/list` with `idType=1` for the list of category systems.
                  x-atMostOne: true
                  properties:
                    restrict:
                      type: object
                      x-property-sort:
                      - ids
                      description: Specifies the instrument categories that the instruments of the notations may have.
                      properties:
                        ids:
                          description: Set of category identifiers.
                          type: array
                          items:
                            type: number
                            format: id32
                            x-positive: true
                          uniqueItems: true
                          maxItems: 20
                    exclude:
                      type: object
                      x-property-sort:
                      - ids
                      description: Specifies the instrument categories that the instruments of the notations may not have.
                      properties:
                        ids:
                          description: Set of category identifiers.
                          type: array
                          items:
                            type: number
                            format: id32
                            x-positive: true
                          uniqueItems: true
                          maxItems: 20
          required:
          - id
          example: example_value
        meta:
          type: object
          description: The meta member contains the meta information of the request.
          properties:
            attributes:
              $ref: '#/components/schemas/AttributesMember'
            language:
              $ref: '#/components/schemas/LanguageMember'
            sort:
              description: Sortable attributes. The sort order is ascending unless it is prefixed with a minus sign, in which case it is descending. A list of at most 6 (possibly prefixed) attribute name(s) is allowed.
              type: array
              items:
                type: string
                enum:
                - market.name
                - -market.name
                - valueUnit.name
                - -valueUnit.name
                - instrument.name.default.long
                - -instrument.name.default.long
                - instrument.name.default.short
                - -instrument.name.default.short
                - instrument.name.assetClassSpecific.long
                - -instrument.name.assetClassSpecific.long
                - instrument.name.assetClassSpecific.short
                - -instrument.name.assetClassSpecific.short
              maxItems: 6
              uniqueItems: true
              default:
              - instrument.name.default.long
            pagination:
              type: object
              description: Pagination attributes for the offset-based pagination strategy.
              properties:
                offset:
                  type: number
                  format: int32
                  minimum: 0
                  default: 0
                  description: Non-negative number of entries to skip, or 0 (default).
                limit:
                  type: number
                  format: int32
                  minimum: 0
                  maximum: 500
                  default: 20
                  description: Non-negative maximum number of entries to return.
              x-property-sort:
              - offset
              - limit
          x-property-sort:
          - attributes
          - language
          - sort
          - pagination
          example: example_value
    PartialOutputObject:
      type: object
      properties:
        isPartial:
          type: boolean
          description: Flag indicating that the response is a possibly incomplete array or an object containing a possibly incomplete array, due to hitting a processing time limit. If `true`, some matching results might be missing from the array, or elements for matching results might be incorrectly included (for example, when priority sorting would have removed the element). Depending on the use case, such a response may be unsuitable.
          example: true
      description: Object denoting that the endpoint response is possibly incomplete.
      required:
      - isPartial
      x-property-sort:
      - isPartial
    OffsetBasedPaginationOutputObject:
      type: object
      description: Pagination attributes for the offset-based pagination strategy.
      properties:
        total:
          type: number
          format: int32
          description: Total number of entries in the result set.
          example: 42.5
        isEstimatedTotal:
          type: boolean
          description: Flag indicating that the value of "total" is estimated.
          example: true
      required:
      - total
      - isEstimatedTotal
      x-property-sort:
      - total
      - isEstimatedTotal
    StatusObject:
      type: object
      properties:
        code:
          type: number
          format: int32
          description: The HTTP status code of the response, mirroring the code from the Status-Line of the HTTP response message (see [RFC2616] section 6.1).
          example: 42.5
      description: The status member contains the status code of the response.
      required:
      - code
    AttributesMember:
      type: array
      description: Limit the attributes returned in the response to the specified set.
      items:
        type: string
        maxLength: 100
      maxItems: 50
      uniqueItems: true
    LanguageMember:
      type: string
      format: isoLanguage
      description: ISO 639-1 code of the language.
      maxLength: 2
      minLength: 2
  responses:
    PostNotationSelectionListMembersList200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: array
                description: List of notations.
                items:
                  type: object
                  x-property-sort:
                  - id
                  - market
                  - valueUnit
                  - symbol
                  - nsin
                  - fsym
                  - instrument
                  properties:
                    id:
                      type:
                      - string
                      - 'null'
                      format: id64
                      x-positive: true
                      description: Identifier of a notation.
                    market:
                      description: Market of the notation. See endpoint `/basic/market/list` for possible values.
                      type: object
                      x-property-sort:
                      - id
                      - name
                      properties:
                        id:
                          type:
                          - number
                          - 'null'
                          format: id32
                          x-positive: true
                          description: Identifier of the market.
                        name:
                          x-sortable: true
                          description: Name of the market.
                          type:
                          - string
                          - 'null'
                          format: localizedString
                    valueUnit:
                      description: Value unit of the notation such as a main or fractional currency for equities, a percentage for debt instruments, or points for indices. See endpoint `/basic/valueUnit/list` for possible values.
                      type: object
                      x-property-sort:
                      - id
                      - name
                      properties:
                        id:
                          type:
                          - number
                          - 'null'
                          format: id32
                          x-positive: true
                          description: Identifier of the value unit.
                        name:
                          x-sortable: true
                          type:
                          - string
                          - 'null'
                          format: localizedString
                          description: 'Code of the value unit: If assigned, a code according to ISO 4217, otherwise a local code, for a main currency; a code such as GBp (for British pence) for a fractional currency; or a code such as PT (points) for non-currency value units.'
                    symbol:
                      description: The symbol of the notation. It is a market-specific code to identify the notation. Which characters can be part of a symbol depends on the market. If a market does not define a proprietary symbol, but uses a different identifier for example, the ISIN or the WKN) to identify instruments, no symbol will be set for the notations of that market.
                      type:
                      - string
                      - 'null'
                    nsin:
                      type: object
                      x-property-sort:
                      - sedol
                      description: NSIN data of the instrument.
                      properties:
                        sedol:
                          type:
                          - string
                          - 'null'
                          description: The SEDOL or IDII for the notation.
                    fsym:
                      description: Notation-level FactSet identifiers of the financial instrument used primarily in FactSet products other than the MDG.
                      type: object
                      x-property-sort:
                      - listing
                      - regional
                      properties:
                        listing:
                          description: Listing-level identifiers.
                          type: object
                          x-property-sort:
                          - permanentIdentifier
                          - tickerExchange
                          - isPrimary
                          properties:
                            permanentIdentifier:
                              type:
                              - string
                              - 'null'
                              description: FactSet Permanent Identifier for a notation. The format is six alpha numeric characters, excluding vowels, with an L suffix (XXXXXX-L).
                            tickerExchange:
                              type:
                              - string
                              - 'null'
                              description: 'FactSet market symbol of the notation, usually consisting of the ticker (e.g. "DAI" for Daimler AG) and the three-character code of the exchange on which the listing is traded (example: DAI-ETR).'
                            isPrimary:
                              type:
                              - boolean
                              - 'null'
                              description: Indicates whether the notation is the primary notation among all notations within the same region (`true`) or not (`false`).
                        regional:
                          description: Regional-level identifiers.
                          type: object
                          x-property-sort:
                          - permanentIdentifier
                          - tickerExchange
                          - isPrimary
                          properties:
                            permanentIdentifier:
                              type:
                              - string
                              - 'null'
                              description: FactSet Permanent Identifier for a set of one or more notations of the same region with the same value unit. The format is six alpha numeric characters, excluding vowels, with an R suffix (XXXXXX-R).
                            tickerExchange:
                              type:
                              - string
                              - 'null'
                              description: 'FactSet regional symbol of the notation, consisting of the ticker and the two-character code of the country or region where the listing is traded (example: DAI-DE).'
                            isPrimary:
                              type:
                              - boolean
                              - 'null'
                              description: Indicates whether the notation is in the primary region of the security (`true`) or not (`false`).
                    instrument:
                      description: Instrument data of the notation.
                      type: object
                      x-property-sort:
                      - id
                      - name
                      - isin
                      - nsin
                      - fsym
                      - assetClass
                      - instrumentCategory
                      properties:
                        id:
                          type:
                          - string
                          - 'null'
                          format: id64
                          x-positive: true
                          description: Identifier of the instrument.
                        name:
                          description: Instrument names.
                          type: object
                          x-property-sort:
                          - default
                          - assetClassSpecific
                          properties:
                            default:
                              description: Default instrument names. Sorting does not require an asset class selection, see parameter `assetClass.ids`.
                              type: object
                              x-property-sort:
                              - long
                              - short
                              properties:
                                long:
                                  x-sortable: true
                                  x-default-sort-attribute: true
                                  x-default-sort-direction: 1
                                  type:
                                  - string
                                  - 'null'
                                  format: localizedString
                                  description: Long name.
                                short:
                                  x-sortable: true
                                  type:
                                  - string
                                  - 'null'
                                  format: localizedString
                                  description: Short name.
                            assetClassSpecific:
                              description: Asset class-specific instrument names. Sorting requires that a single asset-class has been selected, see parameter `assetClass.ids`.
                              type: object
                              x-property-sort:
                              - long
                              - short
                              properties:
                                long:
                                  x-sortable: true
                                  type:
                                  - string
                                  - 'null'
                                  format: localizedString
                                  description: Long name.
                                short:
                                  x-sortable: true
                                  type:
                                  - string
                                  - 'null'
                                  format: localizedString
                                  description: Short name.
                        isin:
                          type:
                          - string
                          - 'null'
                          description: International Securities Identification Number of the instrument.
                        nsin:
                          description: NSIN data of the instrument.
                          type: object
                          x-property-sort:
                          - wkn
                          - valor
                          - cusip
                          properties:
                            wkn:
                              type:
                              - string
                              - 'null'
                              description: The WKN (Wertpapierkennnummer, German for Securities Identification Number) of the instrument. The WKN is a 6-character code of digits and upper-case letters that uniquely identifies an instrument.
                            valor:
                              type:
                              - string
                              - 'null'
                              description: 'The Valor number (German: Valorennummer) of the instrument. The Valor number is aninteger number that uniquely identifies an instrument.'
                            cusip:
                              type:
                              - string
                              - 'null'
                              description: The CUSIP (Committee on Uniform Security Identification Procedures) or CINS (CUSIP International Numbering System) identifier of the instrument. These numbers are 9-character codes of digits and upper-case letters that uniquely identify an instrument.
                        fsym:
                          description: Instrument-level FactSet identifier of the financial instrument used primarily in FactSet products other than the MDG.
                          type: object
                          x-property-sort:
                          - security
                          properties:
                            security:
                              description: Security-level identifier.
                              type: object
                              x-property-sort:
                              - permanentIdentifier
                              properties:
                                permanentIdentifier:
                                  type:
                                  - string
                                  - 'null'
                                  description: FactSet Permanent Identifier for an instrument. The format is six alpha numeric characters, excluding vowels, with an S suffix (XXXXXX-S).
                        assetClass:
                          description: Asset class of the instrument. See endpoint `/basic/assetClass/list` for possible values.
                          type: object
                          x-property-sort:
                          - id
                          - name
                          properties:
                            id:
                              description: Identifier of the asset class.
                              type:
                              - number
                              - 'null'
                              format: id32
                              x-positive: true
                            name:
                              description: English name of the asset class.
                              type:
                              - string
                              - 'null'
                              format: localizedString
                        instrumentCategory:
                          description: Set of categories assigned to the instrument. The set of returned categories is limited to the values provided in the request parameter `category.restrict.ids.` Empty, if `category.restrict.ids` has not been used.
                          type: array
                          items:
                            type: object
                            x-property-sort:
                            - id
                            - name
                            properties:
                              id:
                                description: Identifier of a category.
                                type:
                                - number
                                - 'null'
                                format: id32
                                x-positive: true
                              name:
                                description: Name of the category.
                                type:
                                - string
                                - 'null'
                                format: localizedString
                x-partial: true
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                  pagination:
                    $ref: '#/components/schemas/OffsetBasedPaginationOutputObject'
                  partial:
                    $ref: '#/components/schemas/PartialOutputObject'
                x-property-sort:
                - status
                - pagination
                - partial
            x-property-sort:
            - data
            - meta
  securitySchemes:
    FactSetOAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://auth.factset.com/as/token.oauth2
          scopes: {}
    FactSetApiKey:
      type: http
      scheme: basic
externalDocs:
  description: API Documentation
  url: https://developer.factset.com/api-catalog/
x-interface-version: 2
x-documenter-version: 6.3.9
x-api-version: 4.4.0
