openapi: 3.0.3
info:
  title: Factset Analytics Datastore About Custom API
  description: Allow clients to fetch precalculated Analytics through predeterministic URLs.
  contact:
    name: FactSet Research Systems
    url: https://developer.factset.com/contact
    email: api@factset.com
  license:
    name: Apache License, Version 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  version: 1.0.0
servers:
- url: https://api.factset.com
  description: Production
- url: https://api-sandbox.factset.com
  description: Sandbox
security:
- basicAuth: []
tags:
- name: Custom
paths:
  /v1/upload-custom-document:
    post:
      tags:
      - Custom
      summary: Factset Upload a Custom Document
      description: Upload any thrid-party documents that need to be included in the final PDF. Once uploaded, the successful response will be a unique fileurl that can be used to add the files to the PDF output using the create-book endpoint. Supported files include Powerpoint, Word, RTF and PDF. The total size should not exceed 250MB and each file should not exceed 10MB.
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: array
                  items:
                    type: string
                    format: binary
                  minItems: 1
      responses:
        '200':
          description: Successful response contains file name, fileURL of the book uploaded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Upload_Document_Response'
        '400':
          description: Invalid ticker or Unknown error
        '401':
          description: Missing or invalid authentication
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v1/custom-upload-list:
    get:
      tags:
      - Custom
      summary: Factset Check Out the Documents Uploaded Before to Use Them in Creating Books
      description: Retrieves the list of documents uploaded before using the endpoint "/upload-custom-document". The documents uploaded are available for 30 days from the date of uploading.
      responses:
        '200':
          description: Successful response contains file name, fileURL and the date and time the book was uploaded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Uploaded_Documents_List'
        '401':
          description: Missing or invalid authentication
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v1/contact-custom-fields:
    get:
      tags:
      - Custom
      summary: Factset Get All the Contact Custom Fields
      operationId: GetContactCustomFields
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ContactCustomFieldDto'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      tags:
      - Custom
      summary: Factset Create a Contact Custom Field
      operationId: CreateContactCustomField
      requestBody:
        description: ContactCustomFieldSaveDto object to save
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/ContactCustomFieldSaveDto'
          application/json:
            schema:
              $ref: '#/components/schemas/ContactCustomFieldSaveDto'
          text/json:
            schema:
              $ref: '#/components/schemas/ContactCustomFieldSaveDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ContactCustomFieldSaveDto'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewItemDto'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v1/contact-custom-fields/{contactCustomFieldId}:
    get:
      tags:
      - Custom
      summary: Factset Get a Specific Contact Custom Field's Details
      operationId: GetContactCustomField
      parameters:
      - name: contactCustomFieldId
        in: path
        description: contactCustomFieldId to get associated record
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactCustomFieldDto'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    patch:
      tags:
      - Custom
      summary: Factset Edit a Contact Custom Field
      operationId: PatchContactCustomField
      parameters:
      - name: contactCustomFieldId
        in: path
        description: contactCustomFieldId to update associated record
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        description: contactCustomFieldUpdateDto object to update
        content:
          application/json-patch+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Operation'
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Operation'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Operation'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Operation'
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      tags:
      - Custom
      summary: Factset Delete a Contact Custom Field
      operationId: DeleteContactCustomField
      parameters:
      - name: contactCustomFieldId
        in: path
        description: contactCustomFieldId to delete associated record
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v1/custom-fields:
    get:
      tags:
      - Custom
      summary: Factset Get All Custom Fields
      operationId: GetCustomFields
      parameters:
      - name: X-IRN-Ignore-Permissions
        in: header
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CustomFieldConfigDto'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v1/custom-symbol-custom-fields:
    get:
      tags:
      - Custom
      summary: Factset Get All the Custom Symbol Custom Fields
      operationId: GetCustomSymbolCustomFields
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CustomSymbolCustomFieldConfigDto'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      tags:
      - Custom
      summary: Factset Create a Custom Symbol Custom Field
      operationId: CreateCustomSymbolCustomField
      requestBody:
        description: createCustomSymbolCustomFieldDto object to save
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/CreateCustomSymbolCustomFieldDto'
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCustomSymbolCustomFieldDto'
          text/json:
            schema:
              $ref: '#/components/schemas/CreateCustomSymbolCustomFieldDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/CreateCustomSymbolCustomFieldDto'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewItemDto'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v1/custom-symbol-custom-fields/{customSymbolCustomFieldId}:
    get:
      tags:
      - Custom
      summary: Factset Get a Specific Custom Symbol Custom Field's Details
      operationId: GetCustomSymbolCustomField
      parameters:
      - name: customSymbolCustomFieldId
        in: path
        description: customSymbolCustomFieldId to get associated record
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomSymbolCustomFieldConfigDto'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    patch:
      tags:
      - Custom
      summary: Factset Edit a Custom Symbol Custom Field
      operationId: PatchCustomSymbolCustomField
      parameters:
      - name: customSymbolCustomFieldId
        in: path
        description: customSymbolCustomFieldId to update associated record
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        description: customSymbolCustomFieldUpdateDto object to update
        content:
          application/json-patch+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Operation'
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Operation'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Operation'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Operation'
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      tags:
      - Custom
      summary: Factset Delete a Custom Symbol Custom Field
      operationId: DeleteCustomSymbolCustomField
      parameters:
      - name: customSymbolCustomFieldId
        in: path
        description: customSymbolCustomFieldId to delete associated record
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v1/custom-symbol-types:
    get:
      tags:
      - Custom
      summary: Factset Get All the Custom Symbol Types
      operationId: GetCustomSymbolTypes
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CustomSymbolTypeDto'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      tags:
      - Custom
      summary: Factset Create a Custom Symbol Type
      operationId: CreateCustomSymbolType
      requestBody:
        description: saveCustomSymbolTypeDto object to save
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/SaveCustomSymbolTypeDto'
          application/json:
            schema:
              $ref: '#/components/schemas/SaveCustomSymbolTypeDto'
          text/json:
            schema:
              $ref: '#/components/schemas/SaveCustomSymbolTypeDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/SaveCustomSymbolTypeDto'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewItemDto'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v1/custom-symbol-types/{customSymbolTypeId}:
    get:
      tags:
      - Custom
      summary: Factset Get a Specific Custom Symbol Type's Details
      operationId: GetCustomSymbolType
      parameters:
      - name: customSymbolTypeId
        in: path
        description: customSymbolTypeId to get associated record
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomSymbolTypeDetailDto'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      tags:
      - Custom
      summary: Factset Edit a Custom Symbol Type
      operationId: UpdateCustomSymbolType
      parameters:
      - name: customSymbolTypeId
        in: path
        description: customSymbolTypeId to update associated record
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        description: updateCustomSymbolTypeDto object to update
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/UpdateCustomSymbolTypeDto'
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCustomSymbolTypeDto'
          text/json:
            schema:
              $ref: '#/components/schemas/UpdateCustomSymbolTypeDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/UpdateCustomSymbolTypeDto'
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      tags:
      - Custom
      summary: Factset Delete a Custom Symbol Type
      operationId: DeleteCustomSymbolTypeAsync
      parameters:
      - name: customSymbolTypeId
        in: path
        description: customSymbolTypeId to delete associated record
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v1/custom-symbol-types/{customSymbolTypeId}/custom-fields:
    get:
      tags:
      - Custom
      summary: Factset Get Custom Fields for Custom Symbol Type
      operationId: GetSymbolCustomFieldsForCustomSymbolType
      parameters:
      - name: customSymbolTypeId
        in: path
        description: customSymbolTypeId to get associated Custom fileds
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CustomSymbolCustomFieldConfigDto'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v1/custom-symbol-types/reorder:
    post:
      tags:
      - Custom
      operationId: UpdateCustomSymbolTypeOrder
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/ReorderCustomSymbolTypeDto'
          application/json:
            schema:
              $ref: '#/components/schemas/ReorderCustomSymbolTypeDto'
          text/json:
            schema:
              $ref: '#/components/schemas/ReorderCustomSymbolTypeDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ReorderCustomSymbolTypeDto'
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v1/custom-symbols:
    get:
      tags:
      - Custom
      summary: Factset Get List of All Custom Symbols in Your Group Along With Some of Their Standard Field and Custom Fields Data
      operationId: GetCustomSymbols
      parameters:
      - name: typeName
        in: query
        description: filter custom symbols based on custom symbol type
        schema:
          type: string
      - name: query
        in: query
        description: filter custom symbols based on custom symbol code or name
        schema:
          type: string
      - name: includeCustomFieldValues
        in: query
        description: Whether or not to include customFieldValues
        schema:
          type: boolean
          default: false
      - name: excludeLinkedCustomSymbol
        in: query
        description: Whether or not to exclude linked custom symbol
        schema:
          type: boolean
          default: false
      - name: includeEvent
        in: query
        description: Whether or not to include event
        schema:
          type: boolean
          default: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CustomSymbolDto'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: string
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      tags:
      - Custom
      summary: Factset Create a Custom Symbol
      operationId: CreateCustomSymbol
      requestBody:
        description: createCustomSymbolDto object to save
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/CreateCustomSymbolDto'
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCustomSymbolDto'
          text/json:
            schema:
              $ref: '#/components/schemas/CreateCustomSymbolDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/CreateCustomSymbolDto'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewItemDto'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v1/custom-symbols/{customSymbolId}:
    get:
      tags:
      - Custom
      summary: Factset Get All Custom Field and Standard Field Details on a Specific Custom Symbol
      operationId: GetCustomSymbol
      parameters:
      - name: customSymbolId
        in: path
        description: customSymbolId to get associated custom symbol
        required: true
        schema:
          type: string
          format: uuid
      - name: includeEvent
        in: query
        description: Whether or not to include event
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomSymbolDto'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    patch:
      tags:
      - Custom
      summary: Factset Edit a Custom Symbols Standard Field and Custom Field Data
      operationId: PatchCustomSymbol
      parameters:
      - name: customSymbolId
        in: path
        description: customSymbolId to update associated custom symbol
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        description: updateCustomSymbolDto object to update
        content:
          application/json-patch+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Operation'
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Operation'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Operation'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Operation'
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      tags:
      - Custom
      summary: Factset Delete a Custom Symbol
      operationId: DeleteCustomSymbol
      parameters:
      - name: customSymbolId
        in: path
        description: customSymbolId to delete associated custom symbol
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v1/custom-symbols/{customSymbolId}/records:
    get:
      tags:
      - Custom
      summary: Factset Get All Notes and Meetings Where a Specific Customsymbol Was Tagged as Primary or Related Identifier
      operationId: GetCustomSymbolRecords
      parameters:
      - name: customSymbolId
        in: path
        description: CustomSymbolId to get associated records
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RecordPreviewDto'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v1/custom-symbols/standard-symbol-metadata/{standardSymbol}:
    get:
      tags:
      - Custom
      summary: Factset Get All Custom Field and Standard Field Details on a Specific Standard Symbol
      operationId: GetStandardSymbolMetadataGuid
      parameters:
      - name: standardSymbol
        in: path
        description: Standard symbol to get associated customSymbolId
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: string
                format: uuid
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: string
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v1/custom-symbols/{customSymbolId}/link-standard-symbol:
    post:
      tags:
      - Custom
      summary: Factset Link Custom Symbol to Standard Symbol
      operationId: LinkCustomSymbolToStandardSymbol
      parameters:
      - name: customSymbolId
        in: path
        description: customSymbolId associated with custom symbol
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        description: standard symbol name
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/StandardSymbolDto'
          application/json:
            schema:
              $ref: '#/components/schemas/StandardSymbolDto'
          text/json:
            schema:
              $ref: '#/components/schemas/StandardSymbolDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/StandardSymbolDto'
      responses:
        '200':
          description: Success
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v1/custom-symbols/standard-symbol-metadata:
    post:
      tags:
      - Custom
      summary: Factset Create Standard Symbol Metadata
      operationId: CreateStandardSymbolMetadata
      requestBody:
        description: createStandardSymbolMetadataDto object to save
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/CreateStandardSymbolMetadataDto'
          application/json:
            schema:
              $ref: '#/components/schemas/CreateStandardSymbolMetadataDto'
          text/json:
            schema:
              $ref: '#/components/schemas/CreateStandardSymbolMetadataDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/CreateStandardSymbolMetadataDto'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewItemDto'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v1/custom-symbols/standard-symbol-metadata/{standardSymbolId}:
    patch:
      tags:
      - Custom
      summary: Factset Edit a Standard Symbols Standard Field and Custom Field Data
      operationId: PatchStandardSymbol
      parameters:
      - name: standardSymbolId
        in: path
        description: standardSymbolId to update associated standard symbol
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        description: updateCustomSymbolDto object to update
        content:
          application/json-patch+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Operation'
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Operation'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Operation'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Operation'
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    CustomSymbolDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: abc123
        code:
          type: string
          nullable: true
          example: example_value
        name:
          type: string
          nullable: true
          example: Example Title
        description:
          type: string
          nullable: true
          example: A sample description.
        type:
          $ref: '#/components/schemas/CustomSymbolTypeSummaryDto'
        subType:
          $ref: '#/components/schemas/CustomSymbolSubTypeSummaryDto'
        address:
          $ref: '#/components/schemas/CustomSymbolAddressDto'
        customFields:
          type: array
          items:
            $ref: '#/components/schemas/CustomSymbolCustomFieldValueDto'
          nullable: true
          example: []
        createdDate:
          type: string
          nullable: true
          example: example_value
        createdBy:
          type: string
          nullable: true
          example: example_value
        standardSymbol:
          type: string
          nullable: true
          example: example_value
        standardSymbolInstrumentData:
          $ref: '#/components/schemas/InstrumentDto'
        isAddressAutoFilled:
          type: boolean
          example: true
        isDescriptionAutoFilled:
          type: boolean
          example: true
      additionalProperties: false
    RecordPreviewDto:
      type: object
      properties:
        noteGuid:
          type: string
          format: uuid
          nullable: true
          example: '500123'
        meetingGuid:
          type: string
          format: uuid
          nullable: true
          example: '500123'
        title:
          type: string
          nullable: true
          example: Example Title
        date:
          type: string
          format: date-time
          example: '2026-01-15T10:30:00Z'
      additionalProperties: false
    ContactCustomFieldOptionDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: abc123
        name:
          type: string
          nullable: true
          example: Example Title
        order:
          type: integer
          format: int32
          example: 10
      additionalProperties: false
    ContactCustomFieldDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: abc123
        code:
          type: string
          nullable: true
          example: example_value
        name:
          type: string
          nullable: true
          example: Example Title
        type:
          type: string
          nullable: true
          example: example_value
        isHidden:
          type: boolean
          example: true
        isMandatory:
          type: boolean
          example: true
        formulaConfig:
          $ref: '#/components/schemas/FormulaConfigDto'
        contactCustomFieldOptions:
          type: array
          items:
            $ref: '#/components/schemas/ContactCustomFieldOptionDto'
          nullable: true
          example: []
      additionalProperties: false
    CustomSymbolCustomFieldFormulaConfigDto:
      required:
      - formula
      - formulaType
      type: object
      properties:
        formula:
          maxLength: 2040
          type: string
          example: example_value
        formulaType:
          type: string
          example: example_value
      additionalProperties: false
    CustomSymbolTypeDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: abc123
        name:
          type: string
          nullable: true
          example: Example Title
        hideAddressField:
          type: boolean
          example: true
        hideSymbolSubType:
          type: boolean
          example: true
        isDefault:
          type: boolean
          example: true
        order:
          type: integer
          format: int32
          example: 10
        dueDiligenceSymbolEntityType:
          $ref: '#/components/schemas/EntityType'
      additionalProperties: false
    Operation:
      type: object
      properties:
        operationType:
          $ref: '#/components/schemas/OperationType'
        path:
          type: string
          nullable: true
          example: example_value
        op:
          type: string
          nullable: true
          example: example_value
        from:
          type: string
          nullable: true
          example: example_value
        value:
          nullable: true
          example: example_value
      additionalProperties: false
    ContactCustomFieldType:
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
      - 5
      - 6
      - 7
      type: integer
      format: int32
    CustomSymbolCustomFieldConfigDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: abc123
        code:
          type: string
          nullable: true
          example: example_value
        name:
          type: string
          nullable: true
          example: Example Title
        type:
          type: string
          nullable: true
          example: example_value
        isHidden:
          type: boolean
          example: true
        isMandatory:
          type: boolean
          example: true
        isShownInInfobox:
          type: boolean
          example: true
        formulaConfig:
          $ref: '#/components/schemas/CustomSymbolCustomFieldFormulaConfigDto'
        optionsConfig:
          type: array
          items:
            type: string
          nullable: true
          example: []
        customSymbolTypes:
          type: array
          items:
            $ref: '#/components/schemas/CustomSymbolTypeSummaryDto'
          nullable: true
          example: []
      additionalProperties: false
    StandardSymbolDto:
      required:
      - standardSymbol
      type: object
      properties:
        standardSymbol:
          type: string
          example: example_value
      additionalProperties: false
    NumericConfigDto:
      type: object
      properties:
        decimals:
          type: integer
          format: int32
          example: 10
        splitType:
          type: string
          nullable: true
          example: example_value
      additionalProperties: false
    NewItemDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: abc123
      additionalProperties: false
    ContactCustomFieldSaveDto:
      required:
      - code
      - isHidden
      - isMandatory
      - name
      - type
      type: object
      properties:
        code:
          maxLength: 32
          type: string
          example: example_value
        name:
          maxLength: 100
          type: string
          example: Example Title
        type:
          $ref: '#/components/schemas/ContactCustomFieldType'
        isHidden:
          type: boolean
          default: false
          example: true
        isMandatory:
          type: boolean
          default: false
          example: true
        fieldFormula:
          $ref: '#/components/schemas/ContactCustomFieldFormulaDto'
        contactCustomFieldOptions:
          type: array
          items:
            $ref: '#/components/schemas/ContactCustomFieldOptionSaveDto'
          nullable: true
          example: []
      additionalProperties: false
    InstrumentDto:
      type: object
      properties:
        symbol:
          type: string
          nullable: true
          example: example_value
        tickerRegion:
          type: string
          nullable: true
          example: example_value
        tickerExchange:
          type: string
          nullable: true
          example: example_value
        sedol:
          type: string
          nullable: true
          example: example_value
        cusip:
          type: string
          nullable: true
          example: example_value
        isin:
          type: string
          nullable: true
          example: example_value
        instrumentName:
          type: string
          nullable: true
          example: example_value
        identifiers:
          type: array
          items:
            type: string
          nullable: true
          example: []
      additionalProperties: false
    SaveCustomSymbolTypeDto:
      required:
      - name
      type: object
      properties:
        name:
          maxLength: 100
          minLength: 0
          type: string
          example: Example Title
        hideAddressField:
          type: boolean
          example: true
        hideSymbolSubtype:
          type: boolean
          example: true
        isDefault:
          type: boolean
          default: false
          example: true
        dueDiligenceSymbolEntityType:
          $ref: '#/components/schemas/EntityType'
        subTypes:
          type: array
          items:
            type: string
          nullable: true
          example: []
        customFieldIds:
          type: array
          items:
            type: string
            format: uuid
          nullable: true
          example: []
      additionalProperties: false
    Upload_Document_Response:
      title: Upload Document Response
      description: Response to Upload Document.
      type: array
      items:
        properties:
          name:
            type: string
            description: Name of the uploaded file
            example: Custom Upload
          file_url:
            type: string
            description: FIle url
            example: b33f6b758f2b12562251e5396e21f68ad46648bf19a8f3a9e55f74
    CustomSymbolTypeSummaryDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: abc123
        name:
          type: string
          nullable: true
          example: Example Title
      additionalProperties: false
    ReorderCustomSymbolTypeDto:
      type: object
      properties:
        ids:
          type: array
          items:
            type: string
            format: uuid
          nullable: true
          example: []
      additionalProperties: false
    CreateCustomSymbolCustomFieldDto:
      required:
      - code
      - customSymbolTypes
      - isHidden
      - isMandatory
      - isShownInInfobox
      - name
      - type
      type: object
      properties:
        code:
          maxLength: 32
          type: string
          example: example_value
        name:
          maxLength: 100
          type: string
          example: Example Title
        type:
          type: string
          description: Type can be one of Text, SingleOption, MultiOptions, Numeric, Date, ExtendedText, ContactLookup
          example: example_value
        isHidden:
          type: boolean
          default: false
          example: true
        isMandatory:
          type: boolean
          default: false
          example: true
        isShownInInfobox:
          type: boolean
          default: true
          example: true
        formulaConfig:
          $ref: '#/components/schemas/CustomSymbolCustomFieldFormulaConfigDto'
        optionsConfig:
          type: array
          items:
            type: string
          nullable: true
          example: []
        customSymbolTypes:
          type: array
          items:
            type: string
            format: uuid
          example: []
      additionalProperties: false
    ContactCustomFieldOptionSaveDto:
      required:
      - name
      type: object
      properties:
        name:
          maxLength: 255
          type: string
          example: Example Title
      additionalProperties: false
    CustomSymbolCustomFieldValueDto:
      type: object
      properties:
        code:
          type: string
          nullable: true
          example: example_value
        value:
          type: string
          nullable: true
          example: example_value
        optionValues:
          type: array
          items:
            type: string
          nullable: true
          example: []
        contacts:
          type: array
          items:
            $ref: '#/components/schemas/CustomSymbolContact'
          nullable: true
          example: []
      additionalProperties: false
    ContactCustomFieldFormulaDto:
      type: object
      properties:
        formula:
          maxLength: 2040
          type: string
          nullable: true
          example: example_value
        isScreening:
          type: boolean
          default: false
          example: true
        symbol:
          type: string
          nullable: true
          example: example_value
      additionalProperties: false
    ExtendedTextConfigDto:
      type: object
      properties:
        maxChars:
          type: integer
          format: int32
          example: 10
      additionalProperties: false
    EntityType:
      enum:
      - 0
      - 1
      - 2
      - 3
      type: integer
      format: int32
    FormulaConfigDto:
      type: object
      properties:
        formula:
          type: string
          nullable: true
          example: example_value
        formulaType:
          type: string
          nullable: true
          example: example_value
      additionalProperties: false
    CreateCustomSymbolDto:
      type: object
      properties:
        code:
          maxLength: 32
          minLength: 0
          type: string
          nullable: true
          example: example_value
        name:
          maxLength: 255
          minLength: 0
          type: string
          nullable: true
          example: Example Title
        description:
          type: string
          nullable: true
          example: A sample description.
        typeId:
          type: string
          format: uuid
          example: '500123'
        subTypeId:
          type: string
          format: uuid
          example: '500123'
        googleMapsPlaceId:
          maxLength: 255
          minLength: 0
          type: string
          nullable: true
          example: '500123'
        formattedAddress:
          maxLength: 255
          minLength: 0
          type: string
          nullable: true
          example: example_value
        city:
          maxLength: 50
          minLength: 0
          type: string
          nullable: true
          example: example_value
        stateProvince:
          maxLength: 50
          minLength: 0
          type: string
          nullable: true
          example: example_value
        postalCode:
          maxLength: 10
          minLength: 0
          type: string
          nullable: true
          example: example_value
        country:
          maxLength: 50
          minLength: 0
          type: string
          nullable: true
          example: example_value
        customFieldValues:
          type: array
          items:
            $ref: '#/components/schemas/CreateCustomSymbolCustomFieldValueDto'
          nullable: true
          example: []
      additionalProperties: false
    CreateCustomSymbolCustomFieldValueDto:
      required:
      - code
      type: object
      properties:
        code:
          type: string
          example: example_value
        textValue:
          type: string
          nullable: true
          example: example_value
        numericValue:
          type: number
          format: double
          nullable: true
          example: 42.5
        dateValue:
          type: string
          nullable: true
          example: example_value
        extendedTextValue:
          type: string
          nullable: true
          example: example_value
        optionValues:
          type: array
          items:
            type: string
          nullable: true
          example: []
        contactIds:
          type: array
          items:
            type: string
            format: uuid
          nullable: true
          example: []
      additionalProperties: false
    CustomFieldConfigDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: abc123
        code:
          type: string
          nullable: true
          example: example_value
        name:
          type: string
          nullable: true
          example: Example Title
        source:
          type: string
          nullable: true
          example: example_value
        type:
          type: string
          nullable: true
          example: example_value
        usePreviousValue:
          type: boolean
          example: true
        isMandatory:
          type: boolean
          example: true
        isHidden:
          type: boolean
          example: true
        isFilePath:
          type: boolean
          example: true
        formulaConfig:
          $ref: '#/components/schemas/FormulaConfigDto'
        numericConfig:
          $ref: '#/components/schemas/NumericConfigDto'
        integerConfig:
          $ref: '#/components/schemas/IntegerConfigDto'
        extendedTextConfig:
          $ref: '#/components/schemas/ExtendedTextConfigDto'
        optionsConfig:
          $ref: '#/components/schemas/OptionsConfigDto'
      additionalProperties: false
    Uploaded_Documents_List:
      title: Template Request
      description: Request to enable template list information for the client.
      type: array
      items:
        properties:
          name:
            type: string
            description: Template ID
            example: Custom Upload
          file_url:
            type: string
            description: FIle url
            example: b33f6b758f2b12562251e5396e21f68ad46648bf19a8f3a9e55f74
    OperationType:
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
      - 5
      - 6
      type: integer
      format: int32
    CustomSymbolSubTypeDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: abc123
        name:
          type: string
          nullable: true
          example: Example Title
      additionalProperties: false
    CustomSymbolSubTypeSummaryDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: abc123
        name:
          type: string
          nullable: true
          example: Example Title
      additionalProperties: false
    OptionsConfigDto:
      type: object
      properties:
        multiSelectEnabled:
          type: boolean
          example: true
        onTheFlyEnabled:
          type: boolean
          example: true
        options:
          type: array
          items:
            type: string
          nullable: true
          example: []
      additionalProperties: false
    CustomSymbolTypeDetailDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: abc123
        name:
          type: string
          nullable: true
          example: Example Title
        hideAddressField:
          type: boolean
          example: true
        hideSymbolSubType:
          type: boolean
          example: true
        isDefault:
          type: boolean
          example: true
        dueDiligenceSymbolEntityType:
          $ref: '#/components/schemas/EntityType'
        subTypes:
          type: array
          items:
            $ref: '#/components/schemas/CustomSymbolSubTypeDto'
          nullable: true
          example: []
      additionalProperties: false
    ProblemDetails:
      type: object
      properties:
        type:
          type: string
          nullable: true
          example: example_value
        title:
          type: string
          nullable: true
          example: Example Title
        status:
          type: integer
          format: int32
          nullable: true
          example: 10
        detail:
          type: string
          nullable: true
          example: example_value
        instance:
          type: string
          nullable: true
          example: example_value
      additionalProperties: {}
    CreateStandardSymbolMetadataDto:
      required:
      - standardSymbol
      type: object
      properties:
        standardSymbol:
          maxLength: 255
          minLength: 0
          type: string
          example: example_value
        description:
          type: string
          nullable: true
          example: A sample description.
        typeId:
          type: string
          format: uuid
          example: '500123'
        subTypeId:
          type: string
          format: uuid
          example: '500123'
        googleMapsPlaceId:
          maxLength: 255
          minLength: 0
          type: string
          nullable: true
          example: '500123'
        formattedAddress:
          maxLength: 255
          minLength: 0
          type: string
          nullable: true
          example: example_value
        city:
          maxLength: 50
          minLength: 0
          type: string
          nullable: true
          example: example_value
        stateProvince:
          maxLength: 50
          minLength: 0
          type: string
          nullable: true
          example: example_value
        postalCode:
          maxLength: 10
          minLength: 0
          type: string
          nullable: true
          example: example_value
        country:
          maxLength: 50
          minLength: 0
          type: string
          nullable: true
          example: example_value
        customFieldValues:
          type: array
          items:
            $ref: '#/components/schemas/CreateCustomSymbolCustomFieldValueDto'
          nullable: true
          example: []
      additionalProperties: false
    UpdateCustomSymbolTypeDto:
      required:
      - name
      type: object
      properties:
        name:
          maxLength: 100
          minLength: 0
          type: string
          example: Example Title
        hideAddressField:
          type: boolean
          example: true
        hideSymbolSubtype:
          type: boolean
          example: true
        isDefault:
          type: boolean
          default: false
          example: true
        dueDiligenceSymbolEntityType:
          $ref: '#/components/schemas/EntityType'
        subTypes:
          type: array
          items:
            $ref: '#/components/schemas/CustomSymbolSubTypeDto'
          nullable: true
          example: []
        customFieldIds:
          type: array
          items:
            type: string
            format: uuid
          nullable: true
          example: []
      additionalProperties: false
    IntegerConfigDto:
      type: object
      properties:
        splitType:
          type: string
          nullable: true
          example: example_value
      additionalProperties: false
    CustomSymbolContact:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: abc123
        name:
          type: string
          nullable: true
          example: Example Title
        employerName:
          type: string
          nullable: true
          example: example_value
        roleName:
          type: string
          nullable: true
          example: example_value
        isDeleted:
          type: boolean
          example: true
        irnPersonId:
          type: string
          nullable: true
          example: '500123'
      additionalProperties: false
    CustomSymbolAddressDto:
      type: object
      properties:
        googleMapsPlaceId:
          type: string
          nullable: true
          example: '500123'
        formattedAddress:
          type: string
          nullable: true
          example: example_value
        city:
          type: string
          nullable: true
          example: example_value
        stateProvince:
          type: string
          nullable: true
          example: example_value
        postalCode:
          type: string
          nullable: true
          example: example_value
        country:
          type: string
          nullable: true
          example: example_value
      additionalProperties: false
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
externalDocs:
  url: https://developer.factset.com/api-catalog/analytics-datastore-api
  description: API Documentation
