openapi: 3.2.0
info:
  title: Factset News API
  version: 3.0.0
  contact:
    name: FactSet Research Systems
    url: https://developer.factset.com/contact
    email: api@factset.com
  license:
    name: Apache License, Version 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  description: 'Operations tagged News across 2 of this provider''s published API definitions: factset-real-time-news-api-openapi.yml, real-time-news-openapi-original.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.factset.com/wealth/v3
security:
- FactSetApiKey: []
- FactSetOAuth2: []
tags:
- name: News
  description: news endpoints
paths:
  /news/publisher/get:
    get:
      tags:
      - News
      operationId: get/news/publisher/get
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Factset Details of a Publisher.
      description: Details of a publisher.
      parameters:
      - name: id
        in: query
        schema:
          type: number
          format: id32
          x-positive: true
          description: Identifier of a publisher.
        required: true
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      responses:
        '200':
          $ref: '#/components/responses/GetNewsPublisherGet200Response'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - url: https://api.factset.com/wealth/v3
  /news/publisher/list:
    get:
      tags:
      - News
      operationId: get/news/publisher/list
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: true
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 1
      x-supportsPermissionDeniedResponse: false
      summary: Factset List of Publishers.
      description: List of publishers.
      parameters:
      - name: ids
        in: query
        schema:
          type: array
          items:
            type: number
            format: id32
            x-positive: true
          maxItems: 100
          uniqueItems: true
          description: Identifiers of publishers.
        style: form
        explode: false
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      - description: Sortable attributes. The sort order is ascending unless it is prefixed with a minus sign, in which case it is descending. A list of at most 1 (possibly prefixed) attribute name(s) is allowed.
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - -id
            - name
            - -name
          maxItems: 1
          uniqueItems: true
          default:
          - name
        style: form
        explode: false
        name: _sort
        in: query
      - description: Non-negative number of entries to skip, or 0 (default).
        name: _paginationOffset
        in: query
        schema:
          type: number
          format: int32
          minimum: 0
          default: 0
      - description: Non-negative maximum number of entries to return.
        name: _paginationLimit
        in: query
        schema:
          type: number
          format: int32
          minimum: 0
          maximum: 500
          default: 20
      responses:
        '200':
          $ref: '#/components/responses/GetNewsPublisherList200Response'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - url: https://api.factset.com/wealth/v3
  /news/article/get:
    get:
      tags:
      - News
      operationId: get/news/article/get
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Factset Details for a news article.
      description: Details for a news article.
      parameters:
      - name: code
        in: query
        schema:
          description: Identifier of a news article.
          type: string
          pattern: ^[0-9A-Za-z+/=:]+$
          minLength: 1
          maxLength: 128
        required: true
      - name: includeMedia
        in: query
        schema:
          type: boolean
          default: false
          description: If true, media references are included if available.
        required: false
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      - name: _language
        in: query
        schema:
          type: string
          format: isoLanguage
          description: ISO 639-1 code of the language.
          maxLength: 2
          minLength: 2
      responses:
        '200':
          $ref: '#/components/responses/GetNewsArticleGet200Response'
    servers:
    - url: https://api.factset.com/wealth/v3
  /news/article/list:
    post:
      tags:
      - News
      operationId: post/news/article/list
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: true
      x-supportsPush: true
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Factset List of news articles.
      description: List of news articles.
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostNewsArticleListRequest'
        required: false
      responses:
        '200':
          $ref: '#/components/responses/PostNewsArticleList200Response'
      parameters: []
    servers:
    - url: https://api.factset.com/wealth/v3
  /news/article/listByChain:
    post:
      tags:
      - News
      operationId: post/news/article/listByChain
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: true
      x-supportsPush: true
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Factset List news articles of an article chain.
      description: List news articles of an article chain.
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostNewsArticleListByChainRequest'
        required: true
      responses:
        '200':
          $ref: '#/components/responses/PostNewsArticleListByChain200Response'
      parameters: []
    servers:
    - url: https://api.factset.com/wealth/v3
  /news/article/listByIndex:
    post:
      tags:
      - News
      operationId: post/news/article/listByIndex
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: true
      x-supportsPush: true
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Factset News articles for instruments that are constituents of the given indices.
      description: News articles for instruments that are constituents of the given indices.
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostNewsArticleListByIndexRequest'
        required: true
      responses:
        '200':
          $ref: '#/components/responses/PostNewsArticleListByIndex200Response'
      parameters: []
    servers:
    - url: https://api.factset.com/wealth/v3
  /news/article/listByInstrument:
    post:
      tags:
      - News
      operationId: post/news/article/listByInstrument
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: true
      x-supportsPush: true
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Factset News articles for instruments.
      description: News articles for instruments.
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostNewsArticleListByInstrumentRequest'
        required: true
      responses:
        '200':
          $ref: '#/components/responses/PostNewsArticleListByInstrument200Response'
      parameters: []
    servers:
    - url: https://api.factset.com/wealth/v3
  /news/article/listByMediaKind:
    post:
      tags:
      - News
      operationId: post/news/article/listByMediaKind
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: true
      x-supportsPush: true
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Factset List news articles which contain media of specific media kinds.
      description: List news articles which contain media of specific media kinds.
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostNewsArticleListByMediaKindRequest'
        required: true
      responses:
        '200':
          $ref: '#/components/responses/PostNewsArticleListByMediaKind200Response'
      parameters: []
    servers:
    - url: https://api.factset.com/wealth/v3
  /news/article/searchByText:
    post:
      tags:
      - News
      operationId: post/news/article/searchByText
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: true
      x-supportsPush: true
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Factset Search for news articles using a fulltext search.
      description: Search for news articles using a fulltext search. All specified criteria need to be fulfilled for an article to match. Each criterion is handled according to its selectionType; "include" requires the criterion to evaluate to true, "exclude" requires the criterion to evaluate to false. A criterion is fulfilled when at least one of its values is found.
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostNewsArticleSearchByTextRequest'
        required: false
      responses:
        '200':
          $ref: '#/components/responses/PostNewsArticleSearchByText200Response'
      parameters: []
    servers:
    - url: https://api.factset.com/wealth/v3
  /news/article/type/get:
    get:
      tags:
      - News
      operationId: get/news/article/type/get
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Factset Details for a news article type.
      description: Details for a news article type.
      parameters:
      - name: id
        in: query
        schema:
          description: Identifier of a news article type.
          type: number
          format: id32
          x-positive: true
        required: true
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      - name: _language
        in: query
        schema:
          type: string
          format: isoLanguage
          description: ISO 639-1 code of the language.
          maxLength: 2
          minLength: 2
      responses:
        '200':
          $ref: '#/components/responses/GetNewsArticleTypeGet200Response'
    servers:
    - url: https://api.factset.com/wealth/v3
  /news/article/type/list:
    get:
      tags:
      - News
      operationId: get/news/article/type/list
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Factset List of news article types.
      description: List of news article types.
      responses:
        '200':
          $ref: '#/components/responses/GetNewsArticleTypeList200Response'
      parameters:
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      - name: _language
        in: query
        schema:
          type: string
          format: isoLanguage
          description: ISO 639-1 code of the language.
          maxLength: 2
          minLength: 2
    servers:
    - url: https://api.factset.com/wealth/v3
  /news/distributor/get:
    get:
      tags:
      - News
      operationId: get/news/distributor/get
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Factset Details of a distributor.
      description: Details of a distributor.
      parameters:
      - name: id
        in: query
        schema:
          type: number
          format: id32
          x-positive: true
          description: Identifier of a distributor.
        required: true
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      responses:
        '200':
          $ref: '#/components/responses/GetNewsDistributorGet200Response'
    servers:
    - url: https://api.factset.com/wealth/v3
  /news/distributor/list:
    get:
      tags:
      - News
      operationId: get/news/distributor/list
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 1
      x-supportsPermissionDeniedResponse: false
      summary: Factset List of distributors.
      description: List of distributors.
      parameters:
      - name: ids
        in: query
        schema:
          type: array
          items:
            type: number
            format: id32
            x-positive: true
          maxItems: 100
          uniqueItems: true
          description: Identifiers of distributors.
        style: form
        explode: false
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      - description: Sortable attributes. The sort order is ascending unless it is prefixed with a minus sign, in which case it is descending. A list of at most 1 (possibly prefixed) attribute name(s) is allowed.
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - -id
            - name
            - -name
          maxItems: 1
          uniqueItems: true
          default:
          - name
        style: form
        explode: false
        name: _sort
        in: query
      responses:
        '200':
          $ref: '#/components/responses/GetNewsDistributorList200Response'
    servers:
    - url: https://api.factset.com/wealth/v3
  /news/publisher/listByDistributor:
    get:
      tags:
      - News
      operationId: get/news/publisher/listByDistributor
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 1
      x-supportsPermissionDeniedResponse: false
      summary: Factset List of publishers provided by the given distributor.
      description: List of publishers provided by the given distributor.
      parameters:
      - name: id
        in: query
        schema:
          type: number
          format: id32
          x-positive: true
          description: Identifier of a distributor.
        required: true
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      - description: Sortable attributes. The sort order is ascending unless it is prefixed with a minus sign, in which case it is descending. A list of at most 1 (possibly prefixed) attribute name(s) is allowed.
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - -id
            - name
            - -name
          maxItems: 1
          uniqueItems: true
          default:
          - name
        style: form
        explode: false
        name: _sort
        in: query
      responses:
        '200':
          $ref: '#/components/responses/GetNewsPublisherListByDistributor200Response'
    servers:
    - url: https://api.factset.com/wealth/v3
  /news/publisher/searchByName:
    post:
      tags:
      - News
      operationId: post/news/publisher/searchByName
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 1
      x-supportsPermissionDeniedResponse: false
      summary: Factset Search for publishers.
      description: Search for publishers by the name of the publisher.
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostNewsPublisherSearchByNameRequest'
        required: true
      responses:
        '200':
          $ref: '#/components/responses/PostNewsPublisherSearchByName200Response'
      parameters: []
    servers:
    - url: https://api.factset.com/wealth/v3
components:
  schemas:
    StatusObject:
      type: object
      properties:
        code:
          type: number
          format: int32
          description: The HTTP status code of the response, mirroring the code from the Status-Line of the HTTP response message (see [RFC2616] section 6.1).
          example: 42.5
      description: The status member contains the status code of the response.
      required:
      - code
    OffsetBasedPaginationOutputObjectWithoutTotal:
      type: object
      description: Pagination attributes for the offset-based pagination strategy; a total element count is not supported.
      properties:
        hasNext:
          type: boolean
          description: Flag indicating that a subsequent request with the same parameters, except that the parameter `pagination.offset` is incremented by `pagination.limit`, would yield additional results.
          example: true
      required:
      - hasNext
      x-property-sort:
      - hasNext
    PostNewsPublisherSearchByNameRequest:
      x-property-sort:
      - data
      - meta
      description: Request Body
      required:
      - data
      type: object
      properties:
        data:
          type: object
          x-property-sort:
          - searchValue
          - matchType
          - filter
          description: The data member contains the request's primary data.
          properties:
            searchValue:
              type: string
              minLength: 2
              maxLength: 50
              description: Restricts the search to publishers, which match the search value. The comparison for a match is case sensitive.
            matchType:
              type: string
              description: The match type that is applied to the search.
              x-enum-description:
              - Publisher name must begin with the searchValue.
              - Publisher name must end with the searchValue.
              - Publisher name must begin, end, or contain the searchValue.
              enum:
              - begins
              - ends
              - contains
            filter:
              description: Criteria that filter the items in the response list; only items that match all of the criteria are returned.
              type: object
              x-property-sort:
              - distributor
              - delivery
              properties:
                distributor:
                  type: object
                  x-property-sort:
                  - id
                  description: Filter for distributors. See endpoint `/news/distributor/list` for valid values.
                  properties:
                    id:
                      type: number
                      format: id32
                      x-positive: true
                      description: Identifier of distributor.
                delivery:
                  type: object
                  x-property-sort:
                  - id
                  description: Filter for deliveries. See endpoint `/basic/delivery/list` for valid values.
                  properties:
                    id:
                      type: number
                      format: id32
                      x-positive: true
                      description: Identifier of delivery.
          required:
          - searchValue
          - matchType
        meta:
          type: object
          description: The meta member contains the meta information of the request.
          properties:
            attributes:
              $ref: '#/components/schemas/AttributesMember'
            sort:
              description: Sortable attributes. The sort order is ascending unless it is prefixed with a minus sign, in which case it is descending. A list of at most 1 (possibly prefixed) attribute name(s) is allowed.
              type: array
              items:
                type: string
                enum:
                - id
                - -id
                - name
                - -name
              maxItems: 1
              uniqueItems: true
              default:
              - name
          x-property-sort:
          - attributes
          - sort
    PostNewsArticleSearchByTextRequest:
      x-property-sort:
      - data
      - meta
      description: Request Body
      type: object
      properties:
        data:
          type: object
          x-property-sort:
          - text
          - criteria
          description: The data member contains the request's primary data.
          properties:
            text:
              description: Restrict the response of news articles to given include and exclude text criteria.
              type: object
              x-property-sort:
              - criteria
              properties:
                criteria:
                  description: ''
                  type: object
                  x-property-sort:
                  - selectionType
                  - phrases
                  - minimumMatchScore
                  - scope
                  properties:
                    selectionType:
                      description: Specify how the criteria should be applied to the search.
                      type: string
                      default: include
                      x-enum-description:
                      - Articles covering the given criteria are included in the result.
                      - Articles covering the given criteria are excluded from the result.
                      enum:
                      - include
                      - exclude
                    phrases:
                      description: Phrases to be used in the criteria.
                      type: array
                      items:
                        type: string
                        maxLength: 100
                      minItems: 1
                      maxItems: 16
                    minimumMatchScore:
                      type: number
                      format: real
                      default: 0.7
                      description: Minimum match score for words in the news article.
                    scope:
                      description: Restrict fulltext search to specific scope.
                      type: string
                      default: all
                      x-enum-description:
                      - Headline of the news article.
                      - Text body of the news article.
                      - Search in both headline and body.
                      enum:
                      - headline
                      - body
                      - all
            criteria:
              description: Restrict the response of news articles to given include and exclude criteria.
              type: array
              items:
                type: object
                x-property-sort:
                - selectionType
                - range
                - indices
                - instruments
                - types
                - categories
                - regions
                - distributor
                - publisher
                - language
                properties:
                  selectionType:
                    description: Specify how the criteria should be applied to the search.
                    type: string
                    default: include
                    x-enum-description:
                    - Articles covering the given criteria are included in the result.
                    - Articles covering the given criteria are excluded from the result.
                    enum:
                    - include
                    - exclude
                  range:
                    type: object
                    format: timeRange
                    properties:
                      start:
                        type: string
                        format: datetime
                        description: The starting point of the time range (inclusive), or `null` to indicate that the time range extends indefinitely into the past.
                        x-allowNullValue: true
                      end:
                        type: string
                        format: datetime
                        description: The ending point of the time range (exclusive), or `null` to indicate that the time range extends indefinitely into the future.
                        x-allowNullValue: true
                    x-property-sort:
                    - start
                    - end
                    required:
                    - start
                    - end
                    description: Time range for matching the news article's date. At most one of the attributes `start` or `end` may be `null`.
                  indices:
                    type: object
                    x-property-sort:
                    - ids
                    description: Set of index notations that each represent an index. Articles that cover at least one instrument contained in one of the specified indices are found.
                    properties:
                      ids:
                        type: array
                        items:
                          type: string
                          format: id64
                          x-positive: true
                        minItems: 1
                        maxItems: 500
                        uniqueItems: true
                        description: Identifiers of the index notations.
                  instruments:
                    type: object
                    x-property-sort:
                    - ids
                    description: Set of stock instruments related to the article. The set is not updated in the course of corporate actions, e.g. when the related company obtains a new instrument after a spin-off.
                    properties:
                      ids:
                        type: array
                        items:
                          type: string
                          format: id64
                          x-positive: true
                        minItems: 1
                        maxItems: 1000
                        uniqueItems: true
                        description: Identifiers of the instruments.
                  types:
                    type: object
                    x-property-sort:
                    - ids
                    description: Types of the news article. A news article is found if one or more of the specified news article types match. See endpoint `/news/article/type/list` for valid values.
                    properties:
                      ids:
                        type: array
                        items:
                          type: number
                          format: id32
                          x-positive: true
                        minItems: 1
                        maxItems: 100
                        uniqueItems: true
                        description: Identifiers of the article types.
                  categories:
                    type: object
                    x-property-sort:
                    - ids
                    description: Categories of the news article. A news article is found if one or more of the specified categories match. Use a category system of type news with endpoint /category/listBySystem for valid values.
                    properties:
                      ids:
                        type: array
                        items:
                          type: number
                          format: id32
                          x-positive: true
                        minItems: 1
                        maxItems: 100
                        uniqueItems: true
                        description: Identifiers of the categories.
                  regions:
                    type: object
                    x-property-sort:
                    - ids
                    description: Regions of the content of the news article. A news article is found if one or more of the specified regions match. See endpoint `/basic/region/list` for valid values.
                    properties:
                      ids:
                        type: array
                        items:
                          type: number
                          format: id32
                          x-positive: true
                        minItems: 1
                        maxItems: 100
                        uniqueItems: true
                        description: Identifiers of the regions.
                  distributor:
                    type: object
                    x-property-sort:
                    - ids
                    description: Distributors of the news article. A news article is found if one of the specified distributors matches. See endpoint `/news/distributor/list` for valid values.
                    properties:
                      ids:
                        type: array
                        items:
                          type: number
                          format: id32
                          x-positive: true
                        minItems: 1
                        maxItems: 100
                        uniqueItems: true
                        description: Identifiers of the distributors.
                  publisher:
                    type: object
                    x-property-sort:
                    - ids
                    description: Publishers of the news article. A news article is found if one of the specified publishers matches. See endpoint `/news/publishers/list` for valid values.
                    properties:
                      ids:
                        type: array
                        items:
                          type: number
                          format: id32
                          x-positive: true
                        minItems: 1
                        maxItems: 100
                        uniqueItems: true
                        description: Identifiers of the publishers.
                  language:
                    type: object
                    x-property-sort:
                    - ids
                    description: Languages of the news article. A news article is found if one of the specified languages matches. See endpoint `/basic/language/list` for valid values.
                    properties:
                      ids:
                        type: array
                        items:
                          type: number
                          format: id32
                          x-positive: true
                        minItems: 1
                        maxItems: 100
                        uniqueItems: true
                        description: Identifiers of the languages.
              maxItems: 8
        meta:
          type: object
          description: The meta member contains the meta information of the request.
          properties:
            attributes:
              $ref: '#/components/schemas/AttributesMember'
            subscription:
              type: object
              description: Object defining the subscription attributes.
              properties:
                minimumInterval:
                  type: number
                  format: int32
                  minimum: 0
                  maximum: 5000
                  default: 0
                  description: Non-negative number of milliseconds to throttle the update rate from 0ms to 5000ms. Set to 0 for sending updates immediately.
              x-property-sort:
              - minimumInterval
            pagination:
              type: object
              description: Pagination attributes for the cursor-based pagination strategy.
              properties:
                cursor:
                  type: string
                  maxLength: 50
                  description: Starting point as returned in the attributes `pagination.next` or `pagination.previous` by a prior invocation of this endpoint, or undefined (default).
                limit:
                  type: number
                  format: int32
                  minimum: 1
                  maximum: 500
                  default: 20
                  description: Non-negative maximum number of entries to return.
              x-property-sort:
              - cursor
              - limit
          x-property-sort:
          - attributes
          - subscription
          - pagination
    CursorBasedPaginationOutputObjectWithoutTotal:
      type: object
      description: Pagination attributes for the cursor-based pagination strategy; a total element count is not supported.
      properties:
        next:
          type: string
          description: The next cursor position to use in the parameter `pagination.cursor` for an endpoint that supports cursor-based pagination, otherwise `null`.
        previous:
          type: string
          description: The previous cursor position to use in the parameter `pagination.cursor` for an endpoint that supports cursor-based pagination. If a previous cursor position is not supported or available, `previous` is `null`.
      required:
      - next
      - previous
      x-property-sort:
      - next
      - previous
    PostNewsArticleListByInstrumentRequest:
      x-property-sort:
      - data
      - meta
      description: Request Body
      required:
      - data
      type: object
      properties:
        data:
          type: object
          x-property-sort:
          - identifier
          - filter
          description: The data member contains the request's primary data.
          properties:
            identifier:
              type: object
              x-property-sort:
              - values
              - type
              description: Set of identifiers and their type.
              properties:
                values:
                  description: Set of identifiers to resolve.
                  type: array
                  items:
                    type: string
                    minLength: 3
                    maxLength: 50
                    pattern: ^[B-DF-HJ-NP-TV-Z0-9]{6}-[SLR]$|^[A-Z0-9.#&*+]{1,47}-[A-Z0-9]{2,4}$|^[0-9]{3,20}$|^[B-DF-HJ-NP-TV-Z0-9]{6}[0-9]$|^[A-Z]{2}[A-Z0-9]{9}[0-9]$|^[A-Z1-9][A-Z0-9]{5}$|^[0-9]{1,9}$|^[A-Z0-9]{8}[0-9]$
                  uniqueItems: true
                  minItems: 1
                  maxItems: 100
                type:
                  type: string
                  description: Type of the identifier.
                  x-enum-description:
                  - MDG identifier of an instrument.
                  - MDG identifier of a listing.
                  - FactSet Permanent Identifier on security level.
                  - FactSet Permanent Identifier on listing level.
                  - Regional FactSet Permanent Identifier.
                  - FactSet market symbol of a listing.
                  - Regional FactSet ticker symbol.
                  - SEDOL or IDII of a listing.
                  - ISIN of an instrument.
                  - WKN of an instrument.
                  - Valor number of an instrument.
                  - CUSIP or CINS identifier of an instrument
                  enum:
                  - idInstrument
                  - idNotation
                  - fdsPermanentIdentifierSecurity
                  - fdsPermanentIdentifierListing
                  - fdsPermanentIdentifierRegional
                  - tickerExchange
                  - tickerRegion
                  - sedol
                  - isin
                  - wkn
                  - valor
                  - cusip
              required:
              - values
              - type
            filter:
              description: Criteria that filter the items in the response list; only items that match all of the criteria are returned.
              type: object
              x-property-sort:
              - range
              - categories
              - regions
              - distributor
              - publisher
              - language
              - types
              properties:
                range:
                  type: object
                  format: timeRange
                  properties:
                    start:
                      type: string
                      format: datetime
                      description: The starting point of the time range (inclusive), or `null` to indicate that the time range extends indefinitely into the past.
                      x-allowNullValue: true
                    end:
                      type: string
                      format: datetime
                      description: The ending point of the time range (exclusive), or `null` to indicate that the time range extends indefinitely into the future.
                      x-allowNullValue: true
                  x-property-sort:
                  - start
                  - end
                  required:
                  - start
                  - end
                  description: Time range for matching the news article's date. At most one of the attributes `start` or `end` may be `null`.
                categories:
                  type: object
                  x-property-sort:
                  - ids
                  description: Filter for specific categories of the news article. Use a category system of type news with endpoint `/category/listBySystem` for valid values.
                  properties:
                    ids:
                      type: array
                      items:
                        type: number
                        format: id32
                        x-positive: true
                      minItems: 1
                      maxItems: 100
                      uniqueItems: true
                      description: Identifiers of the categories.
                regions:
                  type: object
                  x-property-sort:
                  - ids
                  description: Filter for specific regions of the content of the news article. See endpoint `/basic/region/list` for valid values.
                  properties:
                    ids:
                      type: array
                      items:
                        type: number
                        format: id32
                        x-positive: true
                      minItems: 1
                      maxItems: 100
                      uniqueItems: true
                      description: Identifiers of the regions.
                distributor:
                  type: object
                  x-property-sort:
                  - ids
                  description: Filter for specific distributors of the news article. See endpoint `/news/distributor/list` for valid values.
                  properties:
                    ids:
                      type: array
                      items:
                        type: number
                        format: id32
                        x-positive: true
                      minItems: 1
                      maxItems: 100
                      uniqueItems: true
                      description: Identifiers of the distributors.
                publisher:
                  type: object
                  x-property-sort:
                  - ids
                  description: Filter for specific publishers of the news article. See endpoint `/news/publisher/list` for valid values.
                  properties:
                    ids:
                      type: array
                      items:
                        type: number
                        format: id32
                        x-positive: true
                      minItems: 1
                      maxItems: 100
                      uniqueItems: true
                      description: Identifiers of the publishers.
                language:
                  type: object
                  x-property-sort:
                  - ids
                  description: Filter for specific languages of the news article. See endpoint `/basic/language/list` for valid values.
                  properties:
                    ids:
                      type: array
                      items:
                        type: number
                        format: id32
                        x-positive: true
                      minItems: 1
                      maxItems: 100
                      uniqueItems: true
                      description: Identifiers of the languages.
                types:
                  type: object
                  x-property-sort:
                  - ids
                  description: Filter for specific types of the news article. See endpoint `/news/article/type/list` for valid values.
                  properties:
                    ids:
                      type: array
                      items:
                        type: number
                        format: id32
                        x-positive: true
                      minItems: 1
                      maxItems: 100
                      uniqueItems: true
                      description: Identifiers of the article types.
          required:
          - identifier
        meta:
          type: object
          description: The meta member contains the meta information of the request.
          properties:
            attributes:
              $ref: '#/components/schemas/AttributesMember'
            subscription:
              type: object
              description: Object defining the subscription attributes.
              properties:
                minimumInterval:
                  type: number
                  format: int32
                  minimum: 0
                  maximum: 5000
                  default: 0
                  description: Non-negative number of milliseconds to throttle the update rate from 0ms to 5000ms. Set to 0 for sending updates immediately.
              x-property-sort:
              - minimumInterval
            pagination:
              type: object
              description: Pagination attributes for the cursor-based pagination strategy.
              properties:
                cursor:
                  type: string
                  maxLength: 50
                  description: Starting point as returned in the attributes `pagination.next` or `pagination.previous` by a prior invocation of this endpoint, or undefined (default).
                limit:
                  type: number
                  format: int32
                  minimum: 1
                  maximum: 500
                  default: 20
                  description: Non-negative maximum number of entries to return.
              x-property-sort:
              - cursor
              - limit
          x-property-sort:
          - attributes
          - subscription
          - pagination
    PostNewsArticleListByChainRequest:
      x-property-sort:
      - data
      - meta
      description: Request Body
      required:
      - data
      type: object
      properties:
        data:
          type: object
          x-property-sort:
          - id
          - filter
          description: The data member contains the request's primary data.
          properties:
            id:
              description: Identifier of the news article chain.
              type: string
              format: id64
              x-positive: true
            filter:
              description: Criteria that filter the items in the response list; only items that match all of the criteria are returned.
              type: object
              x-property-sort:
              - range
              properties:
                range:
                  type: object
                  format: timeRange
                  properties:
                    start:
                      type: string
                      format: datetime
                      description: The starting point of the time range (inclusive), or `null` to indicate that the time range extends indefinitely into the past.
                      x-allowNullValue: true
                    end:
                      type: string
                      format: datetime
                      description: The ending point of the time range (exclusive), or `null` to indicate that the time range extends indefinitely into the future.
                      x-allowNullValue: true
                  x-property-sort:
                  - start
                  - end
                  required:
                  - start
                  - end
                  description: Time range for matching the news article's date. At most one of the attributes `start` or `end` may be `null`.
          required:
          - id
        meta:
          type: object
          description: The meta member contains the meta information of the request.
          properties:
            attributes:
              $ref: '#/components/schemas/AttributesMember'
            subscription:
              type: object
              description: Object defining the subscription attributes.
              properties:
                minimumInterval:
                  type: number
                  format: int32
                  minimum: 0
                  maximum: 5000
                  default: 0
                  description: Non-negative number of milliseconds to throttle the update rate from 0ms to 5000ms. Set to 0 for sending updates immediately.
              x-property-sort:
              - minimumInterval
            pagination:
              type: object
              description: Pagination attributes for the cursor-based pagination strategy.
              properties:
                cursor:
                  type: string
                  maxLength: 50
                  description: Starting point as returned in the attributes `pagination.next` or `pagination.previous` by a prior invocation of this endpoint, or undefined (default).
                limit:
                  type: number
                  format: int32
                  minimum: 1
                  maximum: 500
                  default: 20
                  description: Non-negative maximum number of entries to return.
              x-property-sort:
              - cursor
              - limit
          x-property-sort:
          - attributes
          - subscription
          - pagination
    PostNewsArticleListRequest:
      x-property-sort:
      - data
      - meta
      description: Request Body
      type: object
      properties:
        data:
          type: object
          x-property-sort:
          - filter
          description: The data member contains the request's primary data.
          properties:
            filter:
              description: Criteria that filter the items in the response list; only items that match all of the criteria are returned.
              type: object
              x-property-sort:
              - range
              - categories
              - regions
              - distributor
              - publisher
              - language
              - types
              properties:
                range:
                  type: object
                  format: timeRange
                  properties:
                    start:
                      type: string
                      format: datetime
                      description: The starting point of the time range (inclusive), or `null` to indicate that the time range extends indefinitely into the past.
                      x-allowNullValue: true
                    end:
                      type: string
                      format: datetime
                      description: The ending point of the time range (exclusive), or `null` to indicate that the time range extends indefinitely into the future.
                      x-allowNullValue: true
                  x-property-sort:
                  - start
                  - end
                  required:
                  - start
                  - end
                  description: Time range for matching the news article's date. At most one of the attributes `start` or `end` may be `null`.
                categories:
                  type: object
                  x-property-sort:
                  - ids
                  description: Filter for specific categories of the news article. Use a category system of type news with endpoint `/category/listBySystem` for valid values.
                  properties:
                    ids:
                      type: array
                      items:
                        type: number
                        format: id32
                        x-positive: true
                      minItems: 1
                      maxItems: 100
                      uniqueItems: true
                      description: Identifiers of the categories.
                regions:
                  type: object
                  x-property-sort:
                  - ids
                  description: Filter for specific regions of the content of the news article. See endpoint `/basic/region/list` for valid values.
                  properties:
                    ids:
                      type: array
                      items:
                        type: number
                        format: id32
                        x-positive: true
                      minItems: 1
                      maxItems: 100
                      uniqueItems: true
                      description: Identifiers of the regions.
                distributor:
                  type: object
                  x-property-sort:
                  - ids
                  description: Filter for specific distributors of the news article. See endpoint `/news/distributor/list` for valid values.
                  properties:
                    ids:
                      type: array
                      items:
                        type: number
                        format: id32
                        x-positive: true
                      minItems: 1
                      maxItems: 100
                      uniqueItems: true
                      description: Identifiers of the distributors.
                publisher:
                  type: object
                  x-property-sort:
                  - ids
                  description: Filter for specific publishers of the news article. See endpoint `/news/publisher/list` for valid values.
                  properties:
                    ids:
                      type: array
                      items:
                        type: number
                        format: id32
                        x-positive: true
                      minItems: 1
                      maxItems: 100
                      uniqueItems: true
                      description: Identifiers of the publishers.
                language:
                  type: object
                  x-property-sort:
                  - ids
                  description: Filter for specific languages of the news article. See endpoint `/basic/language/list` for valid values.
                  properties:
                    ids:
                      type: array
                      items:
                        type: number
                        format: id32
                        x-positive: true
                      minItems: 1
                      maxItems: 100
                      uniqueItems: true
                      description: Identifiers of the languages.
                types:
                  type: object
                  x-property-sort:
                  - ids
                  description: Filter for specific types of the news article. See endpoint `/news/article/type/list` for valid values.
                  properties:
                    ids:
                      type: array
                      items:
                        type: number
                        format: id32
                        x-positive: true
                      minItems: 1
                      maxItems: 100
                      uniqueItems: true
                      description: Identifiers of the article types.
        meta:
          type: object
          description: The meta member contains the meta information of the request.
          properties:
            attributes:
              $ref: '#/components/schemas/AttributesMember'
            subscription:
              type: object
              description: Object defining the subscription attributes.
              properties:
                minimumInterval:
                  type: number
                  format: int32
                  minimum: 0
                  maximum: 5000
                  default: 0
                  description: Non-negative number of milliseconds to throttle the update rate from 0ms to 5000ms. Set to 0 for sending updates immediately.
              x-property-sort:
              - minimumInterval
            pagination:
              type: object
              description: Pagination attributes for the cursor-based pagination strategy.
              properties:
                cursor:
                  type: string
                  maxLength: 50
                  description: Starting point as returned in the attributes `pagination.next` or `pagination.previous` by a prior invocation of this endpoint, or undefined (default).
                limit:
                  type: number
                  format: int32
                  minimum: 1
                  maximum: 500
                  default: 20
                  description: Non-negative maximum number of entries to return.
              x-property-sort:
              - cursor
              - limit
          x-property-sort:
          - attributes
          - subscription
          - pagination
    PostNewsArticleListByMediaKindRequest:
      x-property-sort:
      - data
      - meta
      description: Request Body
      required:
      - data
      type: object
      properties:
        data:
          type: object
          x-property-sort:
          - ids
          - filter
          description: The data member contains the request's primary data.
          properties:
            ids:
              type: array
              items:
                type: number
                format: id32
                x-positive: true
              minItems: 1
              maxItems: 20
              uniqueItems: true
              description: List of media kind identifiers. See endpoint `/basic/media/kind/list` for valid values.
            filter:
              description: Criteria that filter the items in the response list; only items that match all of the criteria are returned.
              type: object
              x-property-sort:
              - range
              - categories
              - regions
              - distributor
              - publisher
              - language
              - types
              properties:
                range:
                  type: object
                  format: timeRange
                  properties:
                    start:
                      type: string
                      format: datetime
                      description: The starting point of the time range (inclusive), or `null` to indicate that the time range extends indefinitely into the past.
                      x-allowNullValue: true
                    end:
                      type: string
                      format: datetime
                      description: The ending point of the time range (exclusive), or `null` to indicate that the time range extends indefinitely into the future.
                      x-allowNullValue: true
                  x-property-sort:
                  - start
                  - end
                  required:
                  - start
                  - end
                  description: Time range for matching the news article's date. At most one of the attributes `start` or `end` may be `null`.
                categories:
                  type: object
                  x-property-sort:
                  - ids
                  description: Filter for specific categories of the news article. Use a category system of type news with endpoint `/category/listBySystem` for valid values.
                  properties:
                    ids:
                      type: array
                      items:
                        type: number
                        format: id32
                        x-positive: true
                      minItems: 1
                      maxItems: 100
                      uniqueItems: true
                      description: Identifiers of the categories.
                regions:
                  type: object
                  x-property-sort:
                  - ids
                  description: Filter for specific regions of the content of the news article. See endpoint `/basic/region/list` for valid values.
                  properties:
                    ids:
                      type: array
                      items:
                        type: number
                        format: id32
                        x-positive: true
                      minItems: 1
                      maxItems: 100
                      uniqueItems: true
                      description: Identifiers of the regions.
                distributor:
                  type: object
                  x-property-sort:
                  - ids
                  description: Filter for specific distributors of the news article. See endpoint `/news/distributor/list` for valid values.
                  properties:
                    ids:
                      type: array
                      items:
                        type: number
                        format: id32
                        x-positive: true
                      minItems: 1
                      maxItems: 100
                      uniqueItems: true
                      description: Identifiers of the distributors.
                publisher:
                  type: object
                  x-property-sort:
                  - ids
                  description: Filter for specific publishers of the news article. See endpoint `/news/publisher/list` for valid values.
                  properties:
                    ids:
                      type: array
                      items:
                        type: number
                        format: id32
                        x-positive: true
                      minItems: 1
                      maxItems: 100
                      uniqueItems: true
                      description: Identifiers of the publishers.
                language:
                  type: object
                  x-property-sort:
                  - ids
                  description: Filter for specific languages of the news article. See endpoint `/basic/language/list` for valid values.
                  properties:
                    ids:
                      type: array
                      items:
                        type: number
                        format: id32
                        x-positive: true
                      minItems: 1
                      maxItems: 100
                      uniqueItems: true
                      description: Identifiers of the languages.
                types:
                  type: object
                  x-property-sort:
                  - ids
                  description: Filter for specific types of the news article. See endpoint `/news/article/type/list` for valid values.
                  properties:
                    ids:
                      type: array
                      items:
                        type: number
                        format: id32
                        x-positive: true
                      minItems: 1
                      maxItems: 100
                      uniqueItems: true
                      description: Identifiers of the article types.
          required:
          - ids
        meta:
          type: object
          description: The meta member contains the meta information of the request.
          properties:
            attributes:
              $ref: '#/components/schemas/AttributesMember'
            subscription:
              type: object
              description: Object defining the subscription attributes.
              properties:
                minimumInterval:
                  type: number
                  format: int32
                  minimum: 0
                  maximum: 5000
                  default: 0
                  description: Non-negative number of milliseconds to throttle the update rate from 0ms to 5000ms. Set to 0 for sending updates immediately.
              x-property-sort:
              - minimumInterval
            pagination:
              type: object
              description: Pagination attributes for the cursor-based pagination strategy.
              properties:
                cursor:
                  type: string
                  maxLength: 50
                  description: Starting point as returned in the attributes `pagination.next` or `pagination.previous` by a prior invocation of this endpoint, or undefined (default).
                limit:
                  type: number
                  format: int32
                  minimum: 1
                  maximum: 500
                  default: 20
                  description: Non-negative maximum number of entries to return.
              x-property-sort:
              - cursor
              - limit
          x-property-sort:
          - attributes
          - subscription
          - pagination
    OffsetBasedPaginationOutputObjectWithoutTotal_2:
      type: object
      description: Pagination attributes for the offset-based pagination strategy; a total element count is not supported.
      properties:
        hasNext:
          type: boolean
          description: Flag indicating that a subsequent request with the same parameters, except that the parameter `pagination.offset` is incremented by `pagination.limit`, would yield additional results.
      required:
      - hasNext
      x-property-sort:
      - hasNext
    StatusObject_2:
      type: object
      properties:
        code:
          type: number
          format: int32
          description: The HTTP status code of the response, mirroring the code from the Status-Line of the HTTP response message (see [RFC2616] section 6.1).
      description: The status member contains the status code of the response.
      required:
      - code
    PostNewsArticleListByIndexRequest:
      x-property-sort:
      - data
      - meta
      description: Request Body
      required:
      - data
      type: object
      properties:
        data:
          type: object
          x-property-sort:
          - identifier
          - filter
          description: The data member contains the request's primary data.
          properties:
            identifier:
              type: object
              x-property-sort:
              - values
              - type
              description: Set of identifiers and their type.
              properties:
                values:
                  description: Set of identifiers to resolve.
                  type: array
                  items:
                    type: string
                    minLength: 3
                    maxLength: 50
                    pattern: ^[B-DF-HJ-NP-TV-Z0-9]{6}-[LR]$|^[A-Z0-9.#&*+]{1,47}-[A-Z0-9]{2,4}$|^[0-9]{3,20}$
                  uniqueItems: true
                  minItems: 1
                  maxItems: 100
                type:
                  type: string
                  description: Type of the identifier.
                  x-enum-description:
                  - MDG identifier of a listing.
                  - FactSet market symbol of a listing.
                  - Regional FactSet ticker symbol, identifying the primary listing in the region.
                  - FactSet Permanent Identifier on listing level.
                  - Regional FactSet Permanent Identifier, identifying the primary listing in the region.
                  enum:
                  - idNotation
                  - tickerExchange
                  - tickerRegion
                  - fdsPermanentIdentifierListing
                  - fdsPermanentIdentifierRegional
              required:
              - values
              - type
            filter:
              description: Criteria that filter the items in the response list; only items that match all of the criteria are returned.
              type: object
              x-property-sort:
              - range
              - categories
              - regions
              - distributor
              - publisher
              - language
              - types
              properties:
                range:
                  type: object
                  format: timeRange
                  properties:
                    start:
                      type: string
                      format: datetime
                      description: The starting point of the time range (inclusive), or `null` to indicate that the time range extends indefinitely into the past.
                      x-allowNullValue: true
                    end:
                      type: string
                      format: datetime
                      description: The ending point of the time range (exclusive), or `null` to indicate that the time range extends indefinitely into the future.
                      x-allowNullValue: true
                  x-property-sort:
                  - start
                  - end
                  required:
                  - start
                  - end
                  description: Time range for matching the news article's date. At most one of the attributes `start` or `end` may be `null`.
                categories:
                  type: object
                  x-property-sort:
                  - ids
                  description: Filter for specific categories of the news article. Use a category system of type news with endpoint `/category/listBySystem` for valid values.
                  properties:
                    ids:
                      type: array
                      items:
                        type: number
                        format: id32
                        x-positive: true
                      minItems: 1
                      maxItems: 100
                      uniqueItems: true
                      description: Identifiers of the categories.
                regions:
                  type: object
                  x-property-sort:
                  - ids
                  description: Filter for specific regions of the content of the news article. See endpoint `/basic/region/list` for valid values.
                  properties:
                    ids:
                      type: array
                      items:
                        type: number
                        format: id32
                        x-positive: true
                      minItems: 1
                      maxItems: 100
                      uniqueItems: true
                      description: Identifiers of the regions.
                distributor:
                  type: object
                  x-property-sort:
                  - ids
                  description: Filter for specific distributors of the news article. See endpoint `/news/distributor/list` for valid values.
                  properties:
                    ids:
                      type: array
                      items:
                        type: number
                        format: id32
                        x-positive: true
                      minItems: 1
                      maxItems: 100
                      uniqueItems: true
                      description: Identifiers of the distributors.
                publisher:
                  type: object
                  x-property-sort:
                  - ids
                  description: Filter for specific publishers of the news article. See endpoint `/news/publisher/list` for valid values.
                  properties:
                    ids:
                      type: array
                      items:
                        type: number
                        format: id32
                        x-positive: true
                      minItems: 1
                      maxItems: 100
                      uniqueItems: true
                      description: Identifiers of the publishers.
                language:
                  type: object
                  x-property-sort:
                  - ids
                  description: Filter for specific languages of the news article. See endpoint `/basic/language/list` for valid values.
                  properties:
                    ids:
                      type: array
                      items:
                        type: number
                        format: id32
                        x-positive: true
                      minItems: 1
                      maxItems: 100
                      uniqueItems: true
                      description: Identifiers of the languages.
                types:
                  type: object
                  x-property-sort:
                  - ids
                  description: Filter for specific types of the news article. See endpoint `/news/article/type/list` for valid values.
                  properties:
                    ids:
                      type: array
                      items:
                        type: number
                        format: id32
                        x-positive: true
                      minItems: 1
                      maxItems: 100
                      uniqueItems: true
                      description: Identifiers of the article types.
          required:
          - identifier
        meta:
          type: object
          description: The meta member contains the meta information of the request.
          properties:
            attributes:
              $ref: '#/components/schemas/AttributesMember'
            subscription:
              type: object
              description: Object defining the subscription attributes.
              properties:
                minimumInterval:
                  type: number
                  format: int32
                  minimum: 0
                  maximum: 5000
                  default: 0
                  description: Non-negative number of milliseconds to throttle the update rate from 0ms to 5000ms. Set to 0 for sending updates immediately.
              x-property-sort:
              - minimumInterval
            pagination:
              type: object
              description: Pagination attributes for the cursor-based pagination strategy.
              properties:
                cursor:
                  type: string
                  maxLength: 50
                  description: Starting point as returned in the attributes `pagination.next` or `pagination.previous` by a prior invocation of this endpoint, or undefined (default).
                limit:
                  type: number
                  format: int32
                  minimum: 1
                  maximum: 500
                  default: 20
                  description: Non-negative maximum number of entries to return.
              x-property-sort:
              - cursor
              - limit
          x-property-sort:
          - attributes
          - subscription
          - pagination
    AttributesMember:
      type: array
      description: Limit the attributes returned in the response to the specified set.
      items:
        type: string
        maxLength: 100
      maxItems: 50
      uniqueItems: true
  responses:
    GetNewsPublisherGet200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: object
                properties:
                  name:
                    type:
                    - string
                    - 'null'
                    description: Name of the publisher.
                  distributor:
                    type: object
                    x-property-sort:
                    - id
                    - name
                    description: Distributor of the publisher.
                    properties:
                      id:
                        type:
                        - number
                        - 'null'
                        format: id32
                        x-positive: true
                        description: Identifier of the distributor.
                      name:
                        type:
                        - string
                        - 'null'
                        description: Name of the distributor.
                description: Details of the publisher.
                x-property-sort:
                - name
                - distributor
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                x-property-sort:
                - status
            x-property-sort:
            - data
            - meta
    GetNewsPublisherList200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: array
                description: List of publishers.
                items:
                  type: object
                  x-property-sort:
                  - id
                  - name
                  - distributor
                  properties:
                    id:
                      x-sortable: true
                      type:
                      - number
                      - 'null'
                      format: id32
                      x-positive: true
                      description: Identifier of the publisher.
                    name:
                      x-sortable: true
                      x-default-sort-attribute: true
                      x-default-sort-direction: 1
                      type:
                      - string
                      - 'null'
                      description: Name of the publisher.
                    distributor:
                      type: object
                      x-property-sort:
                      - id
                      - name
                      description: Distributor of the publisher.
                      properties:
                        id:
                          type:
                          - number
                          - 'null'
                          format: id32
                          x-positive: true
                          description: Identifier of the distributor.
                        name:
                          type:
                          - string
                          - 'null'
                          description: Name of the distributor.
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                  pagination:
                    $ref: '#/components/schemas/OffsetBasedPaginationOutputObjectWithoutTotal'
                x-property-sort:
                - status
                - pagination
            x-property-sort:
            - data
            - meta
    GetNewsPublisherListByDistributor200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: array
                description: List of publishers.
                items:
                  type: object
                  x-property-sort:
                  - id
                  - name
                  properties:
                    id:
                      x-sortable: true
                      type:
                      - number
                      - 'null'
                      format: id32
                      x-positive: true
                      description: Identifier of the publisher.
                    name:
                      x-sortable: true
                      x-default-sort-attribute: true
                      x-default-sort-direction: 1
                      type:
                      - string
                      - 'null'
                      description: Name of the publisher.
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject_2'
                x-property-sort:
                - status
            x-property-sort:
            - data
            - meta
    PostNewsArticleListByMediaKind200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: array
                description: News articles that match the filter criteria ordered by descending article time.
                items:
                  type: object
                  x-property-sort:
                  - code
                  - time
                  - headline
                  - summary
                  - types
                  - language
                  - distributor
                  - publisher
                  - categories
                  - chain
                  - instruments
                  properties:
                    code:
                      description: Identifier of the news article.
                      type:
                      - string
                      - 'null'
                    time:
                      x-pushable: true
                      description: Date and time of the news article.
                      type:
                      - string
                      - 'null'
                      format: datetime
                    headline:
                      x-pushable: true
                      description: Headline of the news article represented as text with HTML entity encoding but without HTML tags.
                      type:
                      - string
                      - 'null'
                    summary:
                      x-pushable: true
                      description: Textual summary of the body of the news article or `null` if no summary was provided by the news article distributor.
                      type:
                      - string
                      - 'null'
                    types:
                      description: Types of news article. See endpoint `/news/article/type/list` for possible values.
                      type: array
                      items:
                        type: object
                        x-property-sort:
                        - id
                        properties:
                          id:
                            description: Identifier of the type of news article.
                            type:
                            - number
                            - 'null'
                            format: id32
                            x-positive: true
                    language:
                      description: Language of the news article. See endpoint `/basic/language/list` for possible values.
                      type: object
                      x-property-sort:
                      - id
                      properties:
                        id:
                          description: Identifier of the language.
                          type:
                          - number
                          - 'null'
                          format: id32
                          x-positive: true
                    distributor:
                      description: Distributor of the news article. See endpoint `/news/distributor/list` for possible values.
                      type: object
                      x-property-sort:
                      - id
                      properties:
                        id:
                          description: Identifier of the distributor.
                          type:
                          - number
                          - 'null'
                          format: id32
                          x-positive: true
                    publisher:
                      description: Publisher of the news article. See endpoint `/news/publisher/list` for possible values.
                      type: object
                      x-property-sort:
                      - id
                      properties:
                        id:
                          description: Identifier of the publisher.
                          type:
                          - number
                          - 'null'
                          format: id32
                          x-positive: true
                    categories:
                      description: Categories related to the news article. See endpoint `/category/list` for possible values.
                      type: array
                      items:
                        type: object
                        x-property-sort:
                        - id
                        properties:
                          id:
                            x-pushable: true
                            description: Identifier of the category.
                            type:
                            - number
                            - 'null'
                            format: id32
                            x-positive: true
                    chain:
                      description: Article chain.
                      type: object
                      x-property-sort:
                      - id
                      properties:
                        id:
                          x-pushable: true
                          description: Identifier of the news article chain.
                          type:
                          - string
                          - 'null'
                          format: id64
                          x-positive: true
                    instruments:
                      description: Set of stock instruments related to the article. The set is not updated in the course of corporate actions, e.g. when the related company obtains a new instrument after a spin-off.
                      type: array
                      items:
                        type: object
                        x-property-sort:
                        - id
                        - fsym
                        properties:
                          id:
                            x-pushable: true
                            description: Identifier of the instrument.
                            type:
                            - string
                            - 'null'
                            format: id64
                            x-positive: true
                          fsym:
                            type: object
                            x-property-sort:
                            - security
                            description: Instrument-level FactSet identifier of the financial instrument used primarily in FactSet products other than the MDG.
                            properties:
                              security:
                                type: object
                                x-property-sort:
                                - permanentIdentifier
                                description: Security-level identifier.
                                properties:
                                  permanentIdentifier:
                                    x-pushable: true
                                    description: FactSet Permanent Identifier for an instrument. The format is six alpha numeric characters, excluding vowels, with an S suffix (XXXXXX-S).
                                    type:
                                    - string
                                    - 'null'
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject_2'
                  pagination:
                    $ref: '#/components/schemas/CursorBasedPaginationOutputObjectWithoutTotal'
                x-property-sort:
                - status
                - pagination
            x-property-sort:
            - data
            - meta
    GetNewsArticleGet200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: object
                properties:
                  time:
                    description: Date and time of the news article.
                    type:
                    - string
                    - 'null'
                    format: datetime
                  headline:
                    description: Headline of the news article represented as text with HTML entity encoding but without HTML tags.
                    type:
                    - string
                    - 'null'
                  summary:
                    description: Textual summary of the body of the news article or `null` if no summary was provided by the news article distributor.
                    type:
                    - string
                    - 'null'
                  body:
                    description: Text body of the news article.
                    type:
                    - string
                    - 'null'
                  types:
                    description: Types of news article. See endpoint `/news/article/type/list` for possible values.
                    type: array
                    items:
                      type: object
                      x-property-sort:
                      - id
                      - name
                      properties:
                        id:
                          description: Identifier of the type of news article.
                          type:
                          - number
                          - 'null'
                          format: id32
                          x-positive: true
                        name:
                          description: Name of the news article type.
                          type:
                          - string
                          - 'null'
                          format: localizedString
                  language:
                    description: Language of the news article. See endpoint `/basic/language/list` for possible values.
                    type: object
                    x-property-sort:
                    - id
                    - code
                    properties:
                      id:
                        description: Identifier of the language.
                        type:
                        - number
                        - 'null'
                        format: id32
                        x-positive: true
                      code:
                        description: ISO 639-1 code of the language.
                        type:
                        - string
                        - 'null'
                  distributor:
                    description: Distributor of the news article. See endpoint `/news/distributor/list` for possible values.
                    type: object
                    x-property-sort:
                    - id
                    - name
                    properties:
                      id:
                        description: Identifier of the distributor.
                        type:
                        - number
                        - 'null'
                        format: id32
                        x-positive: true
                      name:
                        description: Name of the distributor.
                        type:
                        - string
                        - 'null'
                  publisher:
                    description: Publisher of the news article. See endpoint `/news/publisher/list` for possible values.
                    type: object
                    x-property-sort:
                    - id
                    - name
                    properties:
                      id:
                        description: Identifier of the publisher.
                        type:
                        - number
                        - 'null'
                        format: id32
                        x-positive: true
                      name:
                        description: Name of the publisher.
                        type:
                        - string
                        - 'null'
                  categories:
                    description: Categories related to the news article. See endpoint `/category/list` for possible values.
                    type: array
                    items:
                      type: object
                      x-property-sort:
                      - id
                      - name
                      properties:
                        id:
                          description: Identifier of the category.
                          type:
                          - number
                          - 'null'
                          format: id32
                          x-positive: true
                        name:
                          description: Name of the category.
                          type:
                          - string
                          - 'null'
                          format: localizedString
                  instruments:
                    description: Set of stock instruments related to the article. The set is not updated in the course of corporate actions, e.g. when the related company obtains a new instrument after a spin-off.
                    type: array
                    items:
                      type: object
                      x-property-sort:
                      - id
                      - fsym
                      properties:
                        id:
                          description: Identifier of the instrument.
                          type:
                          - string
                          - 'null'
                          format: id64
                          x-positive: true
                        fsym:
                          type: object
                          x-property-sort:
                          - security
                          description: Instrument-level FactSet identifier of the financial instrument used primarily in FactSet products other than the MDG.
                          properties:
                            security:
                              type: object
                              x-property-sort:
                              - permanentIdentifier
                              description: Security-level identifier.
                              properties:
                                permanentIdentifier:
                                  description: FactSet Permanent Identifier for an instrument. The format is six alpha numeric characters, excluding vowels, with an S suffix (XXXXXX-S).
                                  type:
                                  - string
                                  - 'null'
                  media:
                    description: List of media elements of the news article.
                    type: array
                    items:
                      type: object
                      x-property-sort:
                      - url
                      - mimeType
                      - caption
                      - alternativeText
                      - width
                      - height
                      properties:
                        url:
                          type:
                          - string
                          - 'null'
                          format: url
                          description: URL of the media element. The URL is publicly available and hosted by either the publisher, the distributor, or FactSet.
                        mimeType:
                          description: MIME type of the data of the media element.
                          type:
                          - string
                          - 'null'
                        caption:
                          description: Caption text that can be displayed with the media element. Empty if no caption is available for this media element.
                          type:
[...]
