openapi: 3.0.3
info:
  title: Factset Analytics Datastore About Search API
  description: Allow clients to fetch precalculated Analytics through predeterministic URLs.
  contact:
    name: FactSet Research Systems
    url: https://developer.factset.com/contact
    email: api@factset.com
  license:
    name: Apache License, Version 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  version: 1.0.0
servers:
- url: https://api.factset.com
  description: Production
- url: https://api-sandbox.factset.com
  description: Sandbox
security:
- basicAuth: []
tags:
- name: Search
paths:
  /analytics/pub-datastore/tag-search/v1/documents/search:
    post:
      tags:
      - Search
      summary: Factset Gets a List of Documents That a User Has Access To.
      description: "Retrieves metadata around documents stored in the Analytics Datastore Service. Each Document will have a 'url' property which will act as a re-direct to the underlying document data\r\n\r\nThis end point supports pagination and filtering through the use of the request body listed below.\r\n\r\nTo discover what tags are available to filter on, see GET /tags and GET /tags/{name}/values to retrieve these filter values.\r\n\r\nSimilarly, to discover what product types are available to filter on, see POST /product-types/search to retrieve a list of product types."
      operationId: getDocumentsEndPoint
      requestBody:
        description: Example request of a filtered Documents search call
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DocumentRequest'
      responses:
        '200':
          description: Expected response, a list of documents the user has access to.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentListResponse'
        '400':
          description: Invalid parameter provided.
          headers:
            X-DataDirect-Request-Key:
              description: FactSets request key header.
              schema:
                type: string
        '401':
          description: Missing or invalid authentication.
          headers:
            X-DataDirect-Request-Key:
              description: FactSets request key header.
              schema:
                type: string
        '403':
          description: User is forbidden with current credentials
          headers:
            X-DataDirect-Request-Key:
              description: FactSets request key header.
              schema:
                type: string
        '404':
          description: The provided request does not exist.
          headers:
            X-DataDirect-Request-Key:
              description: FactSets request key header.
              schema:
                type: string
        '500':
          description: Server error. Log the X-DataDirect-Request-Key header to assist in troubleshooting
          headers:
            X-DataDirect-Request-Key:
              description: FactSets request key header.
              schema:
                type: string
        '503':
          description: Request timed out. Retry the request in sometime.
          headers:
            X-RateLimit-Remaining:
              description: Number of requests left for the time window.
              schema:
                type: string
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
            X-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              schema:
                type: string
            X-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              schema:
                type: string
            X-DataDirect-Request-Key:
              description: FactSets request key header.
              schema:
                type: string
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /analytics/pub-datastore/tag-search/v1/tags:
    get:
      tags:
      - Search
      summary: Factset Gets a List of Tag Definitions for the User.
      description: Tag definitions consist of a name and a type. Use this end point to see a list of pre-existing tags that can be used to filter on the Documents end point.
      operationId: getTagsEndPoint
      parameters:
      - name: _paginationOffset
        in: query
        description: The offset integer on where to begin paginating
        schema:
          type: integer
          default: 0
      - name: _paginationLimit
        in: query
        description: The limit of records to return when paginating
        schema:
          maximum: 1000
          minimum: 1
          type: integer
          default: 50
      responses:
        '200':
          description: Expected response, returns a list of tag definitions the user has access to.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TagListResponse'
        '400':
          description: Invalid parameter provided.
          headers:
            X-DataDirect-Request-Key:
              description: FactSets request key header.
              schema:
                type: string
        '401':
          description: Missing or invalid authentication.
          headers:
            X-DataDirect-Request-Key:
              description: FactSets request key header.
              schema:
                type: string
        '403':
          description: User is forbidden with current credentials
          headers:
            X-DataDirect-Request-Key:
              description: FactSets request key header.
              schema:
                type: string
        '404':
          description: The provided request does not exist.
          headers:
            X-DataDirect-Request-Key:
              description: FactSets request key header.
              schema:
                type: string
        '500':
          description: Server error. Log the X-DataDirect-Request-Key header to assist in troubleshooting
          headers:
            X-DataDirect-Request-Key:
              description: FactSets request key header.
              schema:
                type: string
        '503':
          description: Request timed out. Retry the request in sometime.
          headers:
            X-RateLimit-Remaining:
              description: Number of requests left for the time window.
              schema:
                type: string
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
            X-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              schema:
                type: string
            X-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              schema:
                type: string
            X-DataDirect-Request-Key:
              description: FactSets request key header.
              schema:
                type: string
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /analytics/pub-datastore/tag-search/v1/tags/{name}:
    get:
      tags:
      - Search
      summary: Factset Get a Single Tag Definition Based on Its Name
      description: Retrieve a tag definition based on its name
      operationId: getSingleTagEndPoint
      parameters:
      - name: name
        in: path
        description: The name of the tag
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Expected response, returns the tag requested
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TagResponse'
        '400':
          description: Invalid parameter provided.
          headers:
            X-DataDirect-Request-Key:
              description: FactSets request key header.
              schema:
                type: string
        '401':
          description: Missing or invalid authentication.
          headers:
            X-DataDirect-Request-Key:
              description: FactSets request key header.
              schema:
                type: string
        '403':
          description: User is forbidden with current credentials
          headers:
            X-DataDirect-Request-Key:
              description: FactSets request key header.
              schema:
                type: string
        '404':
          description: The provided request does not exist.
          headers:
            X-DataDirect-Request-Key:
              description: FactSets request key header.
              schema:
                type: string
        '500':
          description: Server error. Log the X-DataDirect-Request-Key header to assist in troubleshooting
          headers:
            X-DataDirect-Request-Key:
              description: FactSets request key header.
              schema:
                type: string
        '503':
          description: Request timed out. Retry the request in sometime.
          headers:
            X-RateLimit-Remaining:
              description: Number of requests left for the time window.
              schema:
                type: string
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
            X-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              schema:
                type: string
            X-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              schema:
                type: string
            X-DataDirect-Request-Key:
              description: FactSets request key header.
              schema:
                type: string
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /analytics/pub-datastore/tag-search/v1/tags/{name}/values:
    post:
      tags:
      - Search
      summary: Factset Gets a List of Tag Values for the Given Name
      description: Returns a list of tag values depending on the name provided. Supports filtering on additional tag name value pairs, which operates as an 'AND' where the Document must have the tag name specified in the path AND the filtered parameter.
      operationId: getTagValuesEndPoint
      parameters:
      - name: name
        in: path
        description: The name of the tag
        required: true
        schema:
          type: string
      requestBody:
        description: Request body to apply when filtering on this end point. Pagination controls are applied through the pagination object and additional tag filters can be used by supplying the tag name and its value in the tags object.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TagFilterModel'
      responses:
        '200':
          description: Expected response, returns a list of tag definitions the user has access to.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TagValuesListResponse'
        '400':
          description: Invalid parameter provided.
          headers:
            X-DataDirect-Request-Key:
              description: FactSets request key header.
              schema:
                type: string
        '401':
          description: Missing or invalid authentication.
          headers:
            X-DataDirect-Request-Key:
              description: FactSets request key header.
              schema:
                type: string
        '403':
          description: User is forbidden with current credentials
          headers:
            X-DataDirect-Request-Key:
              description: FactSets request key header.
              schema:
                type: string
        '404':
          description: The provided request does not exist.
          headers:
            X-DataDirect-Request-Key:
              description: FactSets request key header.
              schema:
                type: string
        '500':
          description: Server error. Log the X-DataDirect-Request-Key header to assist in troubleshooting
          headers:
            X-DataDirect-Request-Key:
              description: FactSets request key header.
              schema:
                type: string
        '503':
          description: Request timed out. Retry the request in sometime.
          headers:
            X-RateLimit-Remaining:
              description: Number of requests left for the time window.
              schema:
                type: string
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
            X-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              schema:
                type: string
            X-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              schema:
                type: string
            X-DataDirect-Request-Key:
              description: FactSets request key header.
              schema:
                type: string
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /analytics/pub-datastore/tag-search/v1/product-types/search:
    post:
      tags:
      - Search
      summary: Factset Gets a List of Product Types That a User Has Access To.
      description: Retrieves a list of product types that have been specified across all documents the user has access to
      operationId: getProductTypes
      requestBody:
        description: Request body to apply when filtering on this end point. Pagination controls are applied through the pagination object and additional tag filters can be used by supplying the tag name and its value in the tags object.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TagFilterModel'
      responses:
        '200':
          description: Expected response, a list of product types the user has access to.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductTypeListResponse'
        '400':
          description: Invalid parameter provided.
          headers:
            X-DataDirect-Request-Key:
              description: FactSets request key header.
              schema:
                type: string
        '401':
          description: Missing or invalid authentication.
          headers:
            X-DataDirect-Request-Key:
              description: FactSets request key header.
              schema:
                type: string
        '403':
          description: User is forbidden with current credentials
          headers:
            X-DataDirect-Request-Key:
              description: FactSets request key header.
              schema:
                type: string
        '404':
          description: The provided request does not exist.
          headers:
            X-DataDirect-Request-Key:
              description: FactSets request key header.
              schema:
                type: string
        '500':
          description: Server error. Log the X-DataDirect-Request-Key header to assist in troubleshooting
          headers:
            X-DataDirect-Request-Key:
              description: FactSets request key header.
              schema:
                type: string
        '503':
          description: Request timed out. Retry the request in sometime.
          headers:
            X-RateLimit-Remaining:
              description: Number of requests left for the time window.
              schema:
                type: string
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
            X-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              schema:
                type: string
            X-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              schema:
                type: string
            X-DataDirect-Request-Key:
              description: FactSets request key header.
              schema:
                type: string
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /debtInstrument/issuer/search:
    post:
      tags:
      - Search
      operationId: post/debtInstrument/issuer/search
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Factset Search for Issuers of Debt Instruments.
      description: Search for issuers of debt instruments. FactSet does not consolidate the data provided by different suppliers, therefore the result may contain more than one identifier for a given issuer. The response is limited to 100 results.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostDebtInstrumentIssuerSearchRequest'
      responses:
        '200':
          $ref: '#/components/responses/PostDebtInstrumentIssuerSearch200Response'
      parameters: []
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /debtInstrument/notation/screener/search:
    post:
      tags:
      - Search
      operationId: post/debtInstrument/notation/screener/search
      x-supportsOffsetBasedPaging: true
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Factset Screener for Debt Instruments' Notations Based on Debt Instrument-specific Parameters.
      description: Screener for debt instruments' notations based on debt instrument-specific parameters. The result is limited to the notations that satisfy all the selected filters. If more than one notation of an instrument matches the parameters, and no market priority has been specified, only the notation with the highest trading volume, averaged over one month, is considered.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostDebtInstrumentNotationScreenerSearchRequest'
      responses:
        '200':
          $ref: '#/components/responses/PostDebtInstrumentNotationScreenerSearch200Response'
      parameters: []
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /search:
    get:
      summary: Returns the Filings Documents and Related Metadata Within Factset Coverage.
      tags:
      - Search
      responses:
        '200':
          description: Array of downloadable URLs consisting of Filings documents with related metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvestmentResearch'
              examples:
                Sample Response:
                  value:
                    data:
                    - headline: Zukin's Next Week Today 4/7/2023 (Wolfe Research) 97 pages
                      source: EDG
                      allIds:
                      - IBM-US
                      primaryIds:
                      - IBM-US
                      filingsDate: '20230307'
                      filingsTime: '194026'
                      categories:
                      - CN:US,DT:AN-FILNS,DT:FILNS, DT:FILNS
                      filingsLink: https://api.factset.com/v0/filings?report=story&key=U2FsdGVkX18b15tR%2bV9L1xvjo6Vnz7C7PhIbUvoMrgF%2f43aEWomYlhVruC6G6874fEX
                      documentId: 20230307-5b36f2cf-49bd-ed11-abc3-12bc89a8f273_0
                    meta:
                      pagination:
                        isEstimatedTotal: false
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                default400ResponseExample:
                  $ref: '#/components/examples/ErrorDetails'
        '401':
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and have successfully generated an API KEY for the IP range you are connecting from. For more help, select the Report Issue in the top right corner of this Developer Portal specification card and choose Connectivity 401 or 403 Responses.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                default401ResponseExample:
                  $ref: '#/components/examples/AuthErrorDetails'
        '403':
          description: The USERNAME-SERIAL attempted to request the endpoint is not authorized to access. The request was a legal request, but the server is refusing to respond. Please reach out to FactSet Account Team for assistance with authorization.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                default403ResponseExample:
                  $ref: '#/components/examples/AuthorizationErrorDetails'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                default500ResponseExample:
                  $ref: '#/components/examples/ServerErrorDetails'
      operationId: getFilings
      description: Returns the filings documents within FactSet coverage along with other response fields
      parameters:
      - $ref: '#/components/parameters/ids'
      - $ref: '#/components/parameters/startDate'
      - $ref: '#/components/parameters/endDate'
      - $ref: '#/components/parameters/paginationLimit'
      - $ref: '#/components/parameters/paginationOffset'
      - $ref: '#/components/parameters/timezone'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/sourcesOne'
      - $ref: '#/components/parameters/categories'
      - $ref: '#/components/parameters/primaryId'
      - $ref: '#/components/parameters/searchText'
      - $ref: '#/components/parameters/formType'
      - $ref: '#/components/parameters/accession'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /ofs/v2/attributes/search:
    post:
      summary: Factset Retrieve a Collection of Attribute Records.
      parameters:
      - name: body
        in: body
        schema:
          $ref: '#/definitions/PostAttributeSearchDto'
        type: json
      responses:
        '200':
          description: A JSON representation of collection of Attribute records. Might be empty.
          schema:
            items:
              allOf:
              - $ref: '#/definitions/GetAttributeDto'
            type: array
          headers:
            X-Pagination:
              description: A JSON containing pagination information. (e.g totalCount,pageSize,currentPage,totalPages,previousPageLink and nextPageLink)
              type: string
        '422':
          description: Unprocessable entity. Validation error response containing the errors in a human readable form.
          schema:
            items:
              type: string
            type: array
      tags:
      - Search
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /ofs/v2/attributes/groups/search:
    post:
      summary: Factset Retrieve a Collection of Attributes Group Records.
      parameters:
      - name: body
        in: body
        schema:
          $ref: '#/definitions/PostAttributesGroupSearchDto'
        type: json
      responses:
        '200':
          description: A JSON representation of collection of Attributes Group records. Might be empty.
          schema:
            items:
              allOf:
              - $ref: '#/definitions/GetAttributesGroupDto'
            type: array
          headers:
            X-Pagination:
              description: A JSON containing pagination information. (e.g totalCount,pageSize,currentPage,totalPages,previousPageLink and nextPageLink)
              type: string
        '422':
          description: Unprocessable entity. Validation error response containing the errors in a human readable form.
          schema:
            items:
              type: string
            type: array
      tags:
      - Search
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /ofs/v2/partners/search:
    post:
      summary: Factset Retrieve a Collection of Partner Records.
      parameters:
      - name: body
        in: body
        schema:
          $ref: '#/definitions/PostPartnerSearchDto'
        type: json
      responses:
        '200':
          description: A JSON representation of collection of Partner records. Might be empty.
          schema:
            items:
              allOf:
              - $ref: '#/definitions/GetPartnerDto'
            type: array
          headers:
            X-Pagination:
              description: A JSON containing pagination information. (e.g totalCount,pageSize,currentPage,totalPages,previousPageLink and nextPageLink)
              type: string
        '422':
          description: Unprocessable entity. Validation error response containing the errors in a human readable form.
          schema:
            items:
              type: string
            type: array
      tags:
      - Search
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /ofs/v2/products/search:
    post:
      summary: Factset Retrieve a Collection of Product Records.
      parameters:
      - name: body
        in: body
        schema:
          $ref: '#/definitions/PostProductSearchDto'
        type: json
      responses:
        '200':
          description: A JSON representation of collection of Product records. Might be empty.
          schema:
            items:
              allOf:
              - $ref: '#/definitions/GetProductDto'
            type: array
          headers:
            X-Pagination:
              description: A JSON containing pagination information. (e.g totalCount,pageSize,currentPage,totalPages,previousPageLink and nextPageLink)
              type: string
        '422':
          description: Unprocessable entity. Validation error response containing the errors in a human readable form.
          schema:
            items:
              type: string
            type: array
      tags:
      - Search
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /ofs/v2/resources/search:
    post:
      summary: Factset Retrieve a Collection of Resource Records.
      parameters:
      - name: body
        in: body
        schema:
          $ref: '#/definitions/PostResourceSearchDto'
        type: json
      responses:
        '200':
          description: A JSON representation of collection of Resource records. Might be empty.
          schema:
            items:
              allOf:
              - $ref: '#/definitions/GetResourceDto'
            type: array
          headers:
            X-Pagination:
              description: A JSON containing pagination information. (e.g totalCount,pageSize,currentPage,totalPages,previousPageLink and nextPageLink)
              type: string
        '422':
          description: Unprocessable entity. Validation error response containing the errors in a human readable form.
          schema:
            items:
              type: string
            type: array
      tags:
      - Search
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /ofs/v2/resources/sections/search:
    post:
      summary: Factset Retrieve a Collection of Resources Section Records.
      parameters:
      - name: body
        in: body
        schema:
          $ref: '#/definitions/PostResourcesSectionSearchDto'
        type: json
      responses:
        '200':
          description: A JSON representation of collection of Resources Section records. Might be empty.
          schema:
            items:
              allOf:
              - $ref: '#/definitions/GetResourcesSectionDto'
            type: array
          headers:
            X-Pagination:
              description: A JSON containing pagination information. (e.g totalCount,pageSize,currentPage,totalPages,previousPageLink and nextPageLink)
              type: string
        '422':
          description: Unprocessable entity. Validation error response containing the errors in a human readable form.
          schema:
            items:
              type: string
            type: array
      tags:
      - Search
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /news/article/searchByText:
    post:
      tags:
      - Search
      operationId: post/news/article/searchByText
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: true
      x-supportsPush: true
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Factset Search for News Articles Using a Fulltext Search.
      description: Search for news articles using a fulltext search. All specified criteria need to be fulfilled for an article to match. Each criterion is handled according to its selectionType; "include" requires the criterion to evaluate to true, "exclude" requires the criterion to evaluate to false. A criterion is fulfilled when at least one of its values is found.
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostNewsArticleSearchByTextRequest'
        required: false
      responses:
        '200':
          $ref: '#/components/responses/PostNewsArticleSearchByText200Response'
      parameters: []
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /news/publisher/searchByName:
    post:
      tags:
      - Search
      operationId: post/news/publisher/searchByName
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 1
      x-supportsPermissionDeniedResponse: false
      summary: Factset Search for Publishers.
      description: Search for publishers by the name of the publisher.
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostNewsPublisherSearchByNameRequest'
        required: true
      responses:
        '200':
          $ref: '#/components/responses/PostNewsPublisherSearchByName200Response'
      parameters: []
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /instrument/search/basic:
    get:
      tags:
      - Search
      operationId: get/instrument/search/basic
      x-supportsOffsetBasedPaging: true
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Factset Basic Search for Instruments.
      description: Search for instruments whose ISIN, specified NSINs, or name match the search value according to a tolerant full-text match algorithm. Better matching results appear in the response before less relevant matches.
      parameters:
      - name: searchValue
        in: query
        schema:
          type: string
          minLength: 3
          exclusiveMinimum: false
          maxLength: 200
          exclusiveMaximum: false
          pattern: ^[ -!#-&(-+--/0-:=?-Za-z\w"]*$
          description: The search value of the instruments searching for. It may be enclosed in double quotes ("). No escaping is provided, therefore it is impossible to specify a search string containing double quotes. Relevance of word starts is indicated by a phrase starting with a space character, such as " daimler".
        required: true
      - name: nsins
        in: query
        schema:
          description: A set of NSIN kinds to consider in the search. If the parameter is absent or the value is empty, all valid NSIN kinds are searched.
          type: array
          nullable: false
          items:
            type: string
            x-enum-description:
            - The WKN (Wertpapierkennnummer, German for Securities Identification Number) of the instrument. The WKN is a 6-character code of digits and upper-case letters that uniquely identifies an instrument.
            - 'The Valor number (German: Valorennummer) of the instrument. The Valor number is an integer number that uniquely identifies an instrument.'
            - The CUSIP (Committee on Uniform Security Identification Procedures) or CINS (CUSIP International Numbering System) identifier of the instrument. These numbers are 9-character codes of digits and upper-case letters that uniquely identify an instrument.
            - The SEDOL or IDII for the instrument; see entity class "SEDOL or IDII" for details.
            enum:
            - wkn
            - valor
            - cusip
            - sedol
          uniqueItems: true
        style: form
        explode: false
      - name: assetClass
        in: query
        schema:
          type: string
          description: A parameter to limit the output to a particular asset class.
          x-enum-description:
          - An index is an instrument representing a statistical measure of changes in a group of data points. An index has a well-defined calculation method. An index may have index constituents, selected according to a well-defined set of rules.
          - A stock, also known as stock certificate or share, represents the partitioned capital stock of a company. The capital stock of a company constitutes the equity stake of its owners.
          - A fund is a supply of capital belonging to numerous investors that is used to collectively purchase securities while each investor retains ownership and control of his or her own shares.
          - An exchange traded fund (ETF) is a security that tracks an index, a commodity or a basket of assets like an index fund, but trades like a stock on an exchange. ETFs experience price changes throughout the day as they are bought and sold.
          - A debt instrument is an interest-bearing or interest-earning financial instrument, which is generally used for long-term debt financing and investment.
          - An investment product is a securitized derivatives product which allows the investor to participate in the performance of the underlying financial instrument.
          - A leveraged product is a securitized derivatives product which allows the investor to participate with a leverage in the performance of the underlying financial instrument.
          - A currency cross rate is an exchange rate between two main currencies.
          - A commodity is a marketable item produced to satisfy market requirements. Economic commodities comprise both goods and services.
          - An option is a derivatives contract that represents a contract sold by one party (the option writer) to another party (the option holder). The contract offers the buyer the right, but not the obligation, to buy (call) or sell (put) a particular underlying asset at an agreed price (the strike price) on a specific exercise date (European-style option) or during a period of time up to that exercise date (American-style option).
          - A future is a derivatives contract that represents a contractual agreement to buy or sell a particular underlying asset at a pre-determined price on a specific date in the future. A future contract details the quality and quantity of the underlying asset. Some future contracts may require a physical delivery of the asset, whereas others are settled in cash. In contrast to a forward (traded over-the-counter (OTC)), a future is a standardized derivative traded on a futures exchange.
          - An interest rate is the rate at which interest is paid by borrowers for the use of money borrowed from a lender. Specifically, the interest rate is a percentage of the principal.
          - Rights are securities that allow the owner to participate at the securitized right.
          enum:
          - index
          - stock
          - fund
          - etf
          - debt
          - investmentProduct
          - leveragedProduct
          - currency
          - commodity
          - option
          - future
          - interestRate
          - right
      - name: onlyActive
        in: query
        schema:
          type: boolean
          description: If true, restricts the result to active instruments.
          default: true
        required: false
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
            exclusiveMaximum: false
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      - name: _language
        in: query
        schema:
          type: string
          format: isoLanguage
          description: ISO 639-1 code of the language.
          maxLength: 2
          minLength: 2
          exclusiveMinimum: false
          exclusiveMaximum: false
      - description: Non-negative number of entries to skip, or 0 (default).
        name: _paginationOffset
        in: query
        schema:
          type: number
          format: int32
          minimum: 0
          exclusiveMinimum: false
          default: 0
      - description: Non-negative maximum number of entries to return.
        name: _paginationLimit
        in: query
        schema:
          type: number
          format: int32
          minimum: 0
          exclusiveMinimum: false
          maximum: 500
          exclusiveMaximum: false
          default: 20
      responses:
        '200':
          $ref: '#/components/responses/GetInstrumentSearchBasic200Response'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /notation/search/basic:
    get:
      tags:
      - Search
      operationId: get/notation/search/basic
      x-supportsOffsetBasedPaging: true
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Factset Basic Search for Notations.
      description: Search for a notation whose ISIN, specified NSINs, name, or symbol match the search value according to a tolerant full-text match algorithm. If more than one notation of an instrument matches, only the notation with the highest monetary trading volume, averaged over one month, is considered. Better matching results appear in the response before less relevant matches. If the parameter popularity is set to true, the popularity of the notation is the primary sort criterion. Popularity is affected mostly by the request frequency of the notation.
      parameters:
      - name: searchValue
        in: query
        schema:
          type: string
          minLength: 3
          exclusiveMinimum: false
          maxLength: 200
          exclusiveMaximum: false
          pattern: ^[ -!#-&(-+--/0-:=?-Za-z\w"]*$
          description: Full-text search string. It may be enclosed in double quotes ("). No escaping is provided, therefore it is impossible to specify a search string containing double quotes. Relevance of word starts is indicated by a phrase starting with a space character, such as " daimler".
        required: true
      - name: nsins
        in: query
        schema:
          description: A set of NSIN kinds to consider in the search. If the parameter is absent or the value is empty, all valid NSIN kinds are searched.
          type: array
          nullable: false
          items:
            type: string
            x-enum-description:
            - The WKN (Wertpapierkennnummer, German for Securities Identification Number) of the instrument. The WKN is a 6-character code of digits and upper-case letters that uniquely identifies an instrument.
            - 'The Valor number (German: Valorennummer) of the instrument. The Valor number is an integer number that uniquely identifies an instrument.'
            - The CUSIP (Committee on Uniform Security Identification Procedures) or CINS (CUSIP International Numbering System) identifier of the instrument. These numbers are 9-character codes of digits and upper-case letters that uniquely identify an instrument.
            - The SEDOL or IDII for the notation; see entity class "SEDOL or IDII" for details.
            enum:
            - wkn
            - valor
            - cusip
            - sedol
          uniqueItems: true
        style: form
        explode: false
      - name: assetClass
        in: query
        schema:
          type: string
          description: A parameter to limit the output to a particular asset class.
          x-enum-description:
          - An index is an instrument representing a statistical measure of changes in a group of data points. An index has a well-defined calculation method. An index may have index constituents, selected according to a well-defined set of rules.
          - A stock, also known as stock certificate or share, represents the partitioned capital stock of a company. The capital stock of a company constitutes the equity stake of its owners.
          - A fund is a supply of capital belonging to numerous investors that is used to collectively purchase securities while each investor retains ownership and control of his or her own shares.
          - An exchange traded fund (ETF) is a security that tracks an index, a commodity or a basket of assets like an index fund, but trades like a stock on an exchange. ETFs experience price changes throughout the day as they are bought and sold.
          - A debt instrument is an interest-bearing or interest-earning financial instrument, which is generally used for long-term debt financing and investment.
          - An investment product is a securitized derivatives product which allows the investor to participate in the performance of the underlying financial instrument.
          - A leveraged product is a securitized derivatives product which allows the investor to participate with a leverage in the performance of the underlying financial instrument.
          - A currency cross rate is an exchange rate between two main currencies.
          - A commodity is a marketable item produced to satisfy market requirements. Economic commodities comprise both goods and services.
          - An option is a derivatives contract that represents a contract sold by one party (the option writer) to another party (the option holder). The contract offers the buyer the right, but not the obligation, to buy (call) or sell (put) a particular underlying asset at an agreed price (the strike price) on a specific exercise date (European-style option) or during a period of time up to that exercise date (American-style option).
          - A future is a derivatives contract that represents a contractual agreement to buy or sell a particular underlying asset at a pre-determined price on a specific date in the future. A future contract details the quality and quantity of the underlying asset. Some future contracts may require a physical delivery of the asset, whereas others are settled in cash. In contrast to a forward (traded over-the-counter (OTC)), a future is a standardized derivative traded on a futures exchange.
          - An interest rate is the rate at which interest is paid by borrowers for the use of money borrowed from a lender. Specifically, the interest rate is a percentage of the principal.
          - Rights are securities that allow the owner to participate at the securitized right.
          enum:
          - index
          - stock
          - fund
          - etf
          - debt
          - investmentProduct
          - leveragedProduct
          - currency
          - commodity
          - option
          - future
          - interestRate
          - right
      - name: onlyActive
        in: query
        schema:
          type: boolean
          description: If true, restricts the result to active notations.
          default: true
        required: false
      - name: popularity
        in: query
        schema:
          type: boolean
          default: false
          description: If true, the results are sorted by descending popularity.
        required: false
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
            exclusiveMaximum: false
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      - name: _language
        in: query
        schema:
          type: string
          format: isoLanguage
          description: ISO 639-1 code of the language.
          maxLength: 2
          minLength: 2
          exclusiveMinimum: false
          exclusiveMaximum: false
      - description: Non-negative number of entries to skip, or 0 (default).
        name: _paginationOffset
        in: query
        schema:
          type: number
          format: int32
          minimum: 0
          exclusiveMinimum: false
          default: 0
      - description: Non-negative maximum number of entries to return.
        name: _paginationLimit
        in: query
        schema:
          type: number
          format: int32
          minimum: 0
          exclusiveMinimum: false
          maximum: 500
          exclusiveMaximum: false
          default: 20
      responses:
        '200':
          $ref: '#/components/responses/GetNotationSearchBasic200Response'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /notation/searchByText:
    post:
      tags:
      - Search
      operationId: post/notation/searchByText
      x-supportsOffsetBasedPaging: true
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 6
      x-supportsPermissionDeniedResponse: false
      summary: Factset Text-based Search for Notations.
      description: "Text-based search for notations in selected identifier and name attributes according to a tolerant full-text match algorithm. The results satisfy all selected filters; sorting by various attributes is possible. If more than one notation of an instrument matches, only the notation with the best market priority (according to the parameter `market.priority`) or, in the absence of market priorities, only the notation with the highest trading volume, averaged over one month, is considered.     \n All identifiers used as parameters must be valid and entitled."
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostNotationSearchByTextRequest'
        required: true
      responses:
        '200':
          $ref: '#/components/responses/PostNotationSearchByText200Response'
      parameters: []
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /recommendationList/search:
    get:
      tags:
      - Search
      operationId: get/recommendationList/search
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Factset Search for Recommendation Lists.
      description: Search for recommendation lists, delivering an array of recommendation lists matching the specified filter criteria. The data provided for each recommendation list includes the currently active revision (or null in case no active revision exists).
      parameters:
      - name: name
        in: query
        schema:
          type: string
          description: Restricts the search to recommendation lists, which contain the provided string in their name attribute. The filter is a case-insensitive substring match.
        required: false
      - name: onlyActive
        in: query
        schema:
          type: boolean
          description: Restrict the search to recommendation lists, which are currently active (e.g., current date is before the recommendation list's activeRange.end date). If set to false, recommendation lists will be returned regardless of their state.
        required: false
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
            exclusiveMaximum: false
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      - name: _language
        in: query
        schema:
          type: string
          format: isoLanguage
          description: ISO 639-1 code of the language.
          maxLength: 2
          minLength: 2
          exclusiveMinimum: false
          exclusiveMaximum: false
      responses:
        '200':
          $ref: '#/components/responses/GetRecommendationListSearch200Response'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /recommendationList/revision/search:
    get:
      tags:
      - Search
      operationId: get/recommendationList/revision/search
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Factset Search for Revisions of a Recommendation List.
      description: Search for revisions of a recommendation list.
      parameters:
      - name: idNotation
        in: query
        schema:
          type: string
          format: id64
          x-positive: true
          description: Restrict the search to revisions containing an element associated with the identified notation.
        required: false
      - name: idInstrument
        in: query
        schema:
          type: string
          format: id64
          x-positive: true
          description: Restrict the search to revisions pointing to the identified instrument.
        required: false
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
            exclusiveMaximum: false
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      - name: _language
        in: query
        schema:
          type: string
          format: isoLanguage
          description: ISO 639-1 code of the language.
          maxLength: 2
          minLength: 2
          exclusiveMinimum: false
          exclusiveMaximum: false
      responses:
        '200':
          $ref: '#/components/responses/GetRecommendationListRevisionSearch200Response'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /search/answers/v1/data:
    get:
      summary: Fetch Factset Answer in Data Format
      tags:
      - Search
      description: Returns an answer to the specified query (if a valid answer exists). Returns the answer data only (as JSON), without any markup information.
      operationId: searchForDataAnswer
      parameters:
      - $ref: '#/components/parameters/Query'
      - $ref: '#/components/parameters/ConsumingApplication'
      responses:
        '200':
          description: Request was successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataAnswerSuccessResponse'
        '400':
          description: Missing or empty query.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnswerFailureResponse'
        '401':
          description: Missing or invalid authentication.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnswerFailureResponse'
        '500':
          description: Unhandled error occurred while processing the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnswerFailureResponse'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /search/answers/v1/adaptive-card:
    get:
      summary: Fetch Factset Answer in Adaptive Card Format
      tags:
      - Search
      description: Returns an answer to the specified query (if valid answer exists) in the Adaptive Card format (https://adaptivecards.io/).
      operationId: searchForAdaptiveCardAnswer
      parameters:
      - $ref: '#/components/parameters/Query'
      - $ref: '#/components/parameters/IncludeThumbnail'
      - $ref: '#/components/parameters/DisableNoAnswerResponses'
      - $ref: '#/components/parameters/Theme'
      responses:
        '200':
          description: Request was successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdaptiveCardAnswerSuccessResponse'
        '400':
          description: Missing or empty query.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnswerFailureResponse'
        '401':
          description: Missing or invalid authentication.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnswerFailureResponse'
        '500':
          description: Unhandled error occurred while processing the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnswerFailureResponse'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /securitizedDerivative/issuer/search:
    post:
      tags:
      - Search
      operationId: post/securitizedDerivative/issuer/search
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Factset Search for Issuers of Securitized Derivatives.
      description: Search for issuers of securitized derivatives, including issuer groups, which do not represent actual juristic persons, but are defined by FactSet to facilitate searching. FactSet does not consolidate the data provided by different suppliers, therefore the result may contain more than one identifier for a given issuer. The response is limited to 100 results.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostSecuritizedDerivativeIssuerSearchRequest'
      responses:
        '200':
          $ref: '#/components/responses/PostSecuritizedDerivativeIssuerSearch200Response'
      parameters: []
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /securitizedDerivative/notation/screener/search:
    post:
      tags:
      - Search
      operationId: post/securitizedDerivative/notation/screener/search
      x-supportsOffsetBasedPaging: true
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Factset Screener for Securitized Derivatives's Notations Based on Securitized Derivatives-specific Parameters.
      description: "Screener for securitized derivatives's notations based on securitized derivatives-specific parameters. The result is limited to the notations that satisfy all the selected filters. If more than one notation of an instrument matches the parameters, and no market priority has been specified, only the notation with the highest trading volume, averaged over one month, is considered. All identifiers used as parameters must be valid and entitled.\n\n Since some underlyings, e.g. an index or a performance difference of a stock and an index (alpha structure), do not represent a directly tradable asset, they do not have a price in the classical\nsense. Therefore, the term \"level\" is used instead of \"price\", e.g. underlying level instead of underlying price.\n\n The endpoint does not support the search for securitized derivatives with multiple underlyings, thus only securitized derivatives with a single underlying are returned in the result.\n\n The search can be restricted to a specific set of products by using customer-specific instrument or notation lists. Such restriction lists are set up by FactSet upon request."
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostSecuritizedDerivativeNotationScreenerSearchRequest'
      responses:
        '200':
          $ref: '#/components/responses/PostSecuritizedDerivativeNotationScreenerSearch200Response'
      parameters: []
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /stock/notation/screener/search:
    post:
      tags:
      - Search
      operationId: post/stock/notation/screener/search
      x-supportsOffsetBasedPaging: true
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Screener for stocks' notations based on stock-specific parameters.
      description: 'Screener for stocks'' notations based on stock-specific parameters. The result is limited to the notations that satisfy all the selected filters. If more than one notation of an instrument matches the parameters, and no market priority has been specified, only the notation with the highest trading volume, averaged over one month, is considered.


        Currency dependent current figures on company level (see attribute `currentKeyFigures.company.currencyDependent`) or on share instrument level (see attribute `currentKeyFigures.shareInstrument.currencyDependent`) are only returned if the currency (see parameter `currentKeyFigures.company.currencyDependent.currency.isoCode` or parameter `currentKeyFigures.shareInstrument.currencyDependent.currency.isoCode` respectively) are set.


        Parameters for up to three fiscal years might be used in one request, see attribute `reportedKeyFigures`; data is available for the ten most recent completed fiscal years. Estimates are available for the current and two consecutive fiscal years; parameters for all three might be used in one request, see attribute `estimates`. The estimated values are calculated as the average of the most recent estimates provided by all analysts in a fixed time frame of 100 days. Screening and sorting by a currency-dependent attribute is not possible if the currency (see parameter `reportedKeyFigures.currencyDependentKeyFigures.currency.isoCode` and parameter `estimates.currencyDependentEstimates.currency.isoCode` respectively) is not set. If a fiscal year for the data as of the end of a fiscal year (see parameter `reportedKeyFigures.fiscalYear`) or for the estimates (see parameter `estimates.fiscalYear`) has been selected but no currency has been set, the respective data will be returned in the currency in which it was originally reported.


        A specific set of stocks can be restricted to or excluded by using customer-specific instrument or notation selection lists. Such selection lists are set up by FactSet upon request. All identifiers used as parameters must be valid and entitled.'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostStockNotationScreenerSearchRequest'
      responses:
        '200':
          $ref: '#/components/responses/PostStockNotationScreenerSearch200Response'
      parameters: []
components:
  schemas:
    PartialOutputObject:
      type: object
      properties:
        isPartial:
          type: boolean
          description: Flag indicating that the response is a possibly incomplete array or an object containing a possibly incomplete array, due to hitting a processing time limit. If `true`, some matching results might be missing from the array, or elements for matching results might be incorrectly included (for example, when priority sorting would have removed the element). Depending on the use case, such a response may be unsuitable.
          example: true
      description: Object denoting that the endpoint response is possibly incomplete.
      required:
      - isPartial
      x-property-sort:
      - isPartial
    TagResponse:
      type: object
      description: Response object for a single tag
      properties:
        data:
          $ref: '#/components/schemas/TagModel'
    PostDebtInstrumentIssuerSearchRequest:
      type: object
      properties:
        data:
          type: object
          x-property-sort:
          - name
          - minimumRatingGrade
          - country
          - market
          description: The data member contains the request's primary data.
          properties:
            name:
              type: object
              x-property-sort:
              - searchValue
              description: Issuer name.
              properties:
                searchValue:
                  type: string
                  pattern: ^[ -!#-&(-+--/0-:=?-Za-zw"]*$
                  minLength: 3
                  exclusiveMinimum: false
                  maxLength: 100
                  exclusiveMaximum: false
                  description: Text string to be searched for.
            minimumRatingGrade:
              type: object
              x-property-sort:
              - debtInstrument
              description: Minimum rating grade requirements for the issuers or their debt instruments. In either case, only one identifier per rating system is allowed. See endpoint `/rating/grade/listBySystem` for valid values.
              properties:
                debtInstrument:
                  type: object
                  x-property-sort:
                  - ids
                  description: Debt instrument rating. Only issuers whose debt instruments are rated higher than or equal to the rating grades in the provided list are returned.
                  properties:
                    ids:
                      type: array
                      nullable: false
                      items:
                        type: number
                        format: id32
                        x-positive: true
                      maxItems: 5
                      uniqueItems: true
                      description: List of rating grade identifiers.
            country:
              type: object
              x-property-sort:
              - ids
              description: List of countries of registration of the issuers. Only issuers that are registered in a country in the provided list are returned.
              properties:
                ids:
                  type: array
                  nullable: false
                  items:
                    type: number
                    format: id32
                    x-positive: true
                  maxItems: 20
                  uniqueItems: true
                  description: List of country identifiers. See endpoint `/basic/region/country/list` for valid values.
            market:
              type: object
              x-property-sort:
              - ids
              description: List of markets where debt instruments are traded. Only issuers that have issued at least one debt instrument traded on a market in the provided list are returned.
              properties:
                ids:
                  type: array
                  nullable: false
                  items:
                    type: number
                    format: id32
                    x-positive: true
                  maxItems: 20
                  uniqueItems: true
                  description: List of market identifiers. See endpoint `/basic/market/list` for valid values.
          example: example_value
        meta:
          type: object
          description: The meta member contains the meta information of the request.
          properties:
            attributes:
              $ref: '#/components/schemas/AttributesMember'
          x-property-sort:
          - attributes
          example: example_value
    CountryID:
      type: object
      properties:
        ISOALPHA2:
          type: string
          example: example_value
    PercentChange:
      type: object
      properties:
        change:
          type: string
          example: example_value
        color:
          $ref: '#/components/schemas/ChangeColor'
    RankedTable:
      type: object
      required:
      - rows
      properties:
        headers:
          type: array
          items:
            type: string
          example: []
        rows:
          type: array
          items:
            $ref: '#/components/schemas/RankedTableRow'
          example: []
    ValueChangeDateLabelAnswer:
      allOf:
      - $ref: '#/components/schemas/AnswerWithTitle'
      - type: object
        required:
        - templateData
        properties:
          templateData:
            $ref: '#/components/schemas/ValueChangeDateLabelTemplateData'
    ColoredValueLabelDateTemplateData:
      allOf:
      - $ref: '#/components/schemas/TemplateWithLinks'
      - type: object
        properties:
          value:
            $ref: '#/components/schemas/ColoredValue'
          label:
            type: string
          date:
            type: string
    AnswerWithTitle:
      allOf:
      - $ref: '#/components/schemas/DataAnswer'
      - type: object
        required:
        - title
        properties:
          title:
            type: string
    StringOrNumberTagValue:
      oneOf:
      - type: string
      - type: number
    TableAnswer:
      allOf:
      - $ref: '#/components/schemas/AnswerWithTitle'
      - type: object
        required:
        - templateData
        properties:
          templateData:
            $ref: '#/components/schemas/TableTemplateData'
    TagValuesListResponse:
      type: object
      description: Response object for a list of tag values
      properties:
        meta:
          $ref: '#/components/schemas/MetaModel'
        data:
          type: array
          items:
            type: string
          description: Array of tag values
          example:
          - TEST_ACCOUNT.ACCT
          - CLIENT.ACCT
    ValueLabelAnswer:
      allOf:
      - $ref: '#/components/schemas/AnswerWithTitle'
      - type: object
        required:
        - templateData
        properties:
          templateData:
            $ref: '#/components/schemas/ValueLabelTemplateData'
    AdaptiveCardWithThumbnail:
      type: object
      properties:
        adaptiveCard:
          $ref: '#/components/schemas/AdaptiveCard'
        thumbnail:
          $ref: '#/components/schemas/ThumbnailCard'
    PercentChangeLabelAnswer:
      allOf:
      - $ref: '#/components/schemas/AnswerWithTitle'
      - type: object
        required:
        - templateData
        properties:
          templateData:
            $ref: '#/components/schemas/PercentChangeLabelTemplateData'
    PostStockNotationScreenerSearchRequest:
      type: object
      properties:
        data:
          type: object
          x-property-sort:
          - validation
          - stockType
          - industryClassification
          - company
          - indexMembership
          - esg
          - compliance
          - currentKeyFigures
          - reportedKeyFigures
          - benchmark
          - performance
          - volatility
          - tradingValue
          - simpleMovingAverage
          - rsiWilder
          - recommendation
          - estimates
          description: The data member contains the request's primary data.
          properties:
            validation:
              description: Validation parameters.
              type: object
              x-property-sort:
              - onlyActive
              - onlyNotSuspended
              - prices
              - valueUnit
              - market
              - instrumentSelectionList
              - notationSelectionList
              properties:
                onlyActive:
                  description: If `true`, only active notations will be returned. The term "active" reflects the fact that notations and related data are not being deleted immediately after becoming irrelevant (e.g. because the source does not provide a price anymore), but remains in general retrievable for up to 6 months.
                  type: boolean
                  default: true
                onlyNotSuspended:
                  description: If `true`, only notations not suspended from trading will be returned.
                  type: boolean
                  default: false
                prices:
                  description: Price-related parameters.
                  type: object
                  x-property-sort:
                  - quality
                  - latest
                  - previous
                  properties:
                    quality:
                      type: string
                      description: Quality of the price.
                      default: DLY
                      x-enum-description:
                      - 'Delayed: intraday prices with an exchange-imposed delay of usually 15 to 30 minutes.'
                      - 'End-of-day: prices updated once per day after the close of trading, possibly with an exchange-imposed delay of several hours or days.'
                      enum:
                      - DLY
                      - EOD
                    latest:
                      description: Parameters related to the presence and age of the most recent trade price.
                      type: object
                      x-property-sort:
                      - availableOnly
                      - minimumDate
                      properties:
                        availableOnly:
                          description: If `true`, only notations for which a trade price (even an outdated one) is available will be returned.
                          type: boolean
                        minimumDate:
                          description: Earliest admissible date of the most recent trade price.
                          type: string
                          format: date
                    previous:
                      description: Parameters related to the presence and age of a trade price from a preceding trading day.
                      type: object
                      x-property-sort:
                      - availableOnly
                      - minimumDate
                      properties:
                        availableOnly:
                          description: If `true`, only notations for which a trade price from a preceding trading day is available will be returned.
                          type: boolean
                        minimumDate:
                          description: Earliest admissible date of the trade price from a preceding trading day.
                          type: string
                          format: date
                valueUnit:
                  description: Value unit selection. See endpoint `/basic/valueUnit/list` for valid values.
                  type: object
                  x-property-sort:
                  - restrict
                  - exclude
                  x-atMostOne: true
                  properties:
                    restrict:
                      description: Specifies the value units a notation may have.
                      type: object
                      x-property-sort:
                      - ids
                      properties:
                        ids:
                          description: Set of value unit identifiers.
                          type: array
                          nullable: false
                          items:
                            type: number
                            format: id32
                            x-positive: true
                          uniqueItems: true
                          maxItems: 50
                    exclude:
                      description: Specifies the value units a notation may not have.
                      type: object
                      x-property-sort:
                      - ids
                      properties:
                        ids:
                          description: Set of value unit identifiers.
                          type: array
                          nullable: false
                          items:
                            type: number
                            format: id32
                            x-positive: true
                          uniqueItems: true
                          maxItems: 50
                market:
                  description: Market-related notation selection. See endpoint `/basic/market/list` for valid values.
                  type: object
                  x-property-sort:
                  - selection
                  - priority
                  properties:
                    selection:
                      description: Market selection.
                      type: object
                      x-property-sort:
                      - restrict
                      - exclude
                      x-atMostOne: true
                      properties:
                        restrict:
                          description: Specifies the markets from which a notation may originate.
                          type: object
                          x-property-sort:
                          - ids
                          properties:
                            ids:
                              description: Set of market identifiers.
                              type: array
                              nullable: false
                              items:
                                type: number
                                format: id32
                                x-positive: true
                              uniqueItems: true
                              maxItems: 100
                        exclude:
                          description: Specifies the markets from which a notation may not originate.
                          type: object
                          x-property-sort:
                          - ids
                          properties:
                            ids:
                              description: Set of market identifiers.
                              type: array
                              nullable: false
                              items:
                                type: number
                                format: id32
                                x-positive: true
                              uniqueItems: true
                              maxItems: 100
                    priority:
                      description: "Sequence of markets specifying the priority order of the markets for the selection of one notation per instrument. If for a given instrument with two matching notations, A and B, the market of notation A precedes the market of notation B in this list or if the market of notation B is not in this list, A is selected. If neither of the markets is in this list, the notation with the highest trading volume, averaged over one month, is selected.        \n The list does not restrict the request to only those markets (use the parameter `market.selection` for that purpose)."
                      type: object
                      x-property-sort:
                      - ids
                      properties:
                        ids:
                          description: List of market identifiers.
                          type: array
                          nullable: false
                          items:
                            type: number
                            format: id32
                            x-positive: true
                          uniqueItems: true
                          maxItems: 100
                instrumentSelectionList:
                  description: Instrument-level restriction or exclusion.
                  type: object
                  x-property-sort:
                  - restrict
                  - exclude
                  x-atMostOne: true
                  properties:
                    restrict:
                      description: Restriction lists. If present, the result contains only notations belonging to stock instruments that are a member of any of the provided lists.
                      type: object
                      x-property-sort:
                      - ids
                      properties:
                        ids:
                          description: Set of identifiers of restriction lists.
                          type: array
                          nullable: false
                          items:
                            type: number
                            format: id32
                            x-positive: true
                          uniqueItems: true
                          maxItems: 3
                    exclude:
                      description: Exclusion lists. If present, the result does not contain notations belonging to stock instruments that are a member of any of the provided lists.
                      type: object
                      x-property-sort:
                      - ids
                      properties:
                        ids:
                          description: Set of identifiers of exclusion lists.
                          type: array
                          nullable: false
                          items:
                            type: number
                            format: id32
                            x-positive: true
                          uniqueItems: true
                          maxItems: 3
                notationSelectionList:
                  description: Notation-level restriction or exclusion.
                  type: object
                  x-property-sort:
                  - restrict
                  - exclude
                  x-atMostOne: true
                  properties:
                    restrict:
                      description: Restriction lists. If present, the result contains only stock notations that are a member of any of the provided lists.
                      type: object
                      x-property-sort:
                      - ids
                      properties:
                        ids:
                          description: Set of identifiers of restriction lists.
                          type: array
                          nullable: false
                          items:
                            type: number
                            format: id32
                            x-positive: true
                          uniqueItems: true
                          maxItems: 3
                    exclude:
                      description: Exclusion lists. If present, the result does not contain stock notations that are a member of any of the provided lists.
                      type: object
                      x-property-sort:
                      - ids
                      properties:
                        ids:
                          description: Set of identifiers of exclusion lists.
                          type: array
                          nullable: false
                          items:
                            type: number
                            format: id32
                            x-positive: true
                          uniqueItems: true
                          maxItems: 3
            stockType:
              description: Type of stock.
              type: array
              nullable: false
              items:
                type: string
                x-enum-description:
                - Common stock
                - Preferred stock
                - Depository receipt
                - Other stock
                enum:
                - common
                - preferred
                - depositoryReceipt
                - other
              uniqueItems: true
            industryClassification:
              description: Industry classification. Here, an industry is a category from any level of category system FactSet Revere Business Industry Classification System (RBICS), see endpoint `/category/listBySystem` with `id=48` for valid values.
              type: object
              x-property-sort:
              - restrict
              - exclude
              x-atMostOne: true
              properties:
                restrict:
                  description: Restriction list. Only stocks that belong to a category in the provided list are returned.
                  type: object
                  x-property-sort:
                  - ids
                  properties:
                    ids:
                      description: Set of category identifiers.
                      type: array
                      nullable: false
                      items:
                        type: number
                        format: id32
                        x-positive: true
                      maxItems: 100
                exclude:
                  description: Exclusion list. Stocks that belong to a category in the provided list are not returned.
                  type: object
                  x-property-sort:
                  - ids
                  properties:
                    ids:
                      description: 'Set of category identifiers. '
                      type: array
                      nullable: false
                      items:
                        type: number
                        format: id32
                        x-positive: true
                      maxItems: 100
            company:
              description: Company-related parameters.
              type: object
              x-property-sort:
              - country
              properties:
                country:
                  description: Country of the head office of a company. See endpoint `/basic/region/country/list` for valid values.
                  type: object
                  x-property-sort:
                  - restrict
                  - exclude
                  x-atMostOne: true
                  properties:
                    restrict:
                      description: Restriction list. Only stocks issued by a company whose head office is located in a country in the provided list are returned.
                      type: object
                      x-property-sort:
                      - ids
                      properties:
                        ids:
                          description: Set of country identifiers.
                          type: array
                          nullable: false
                          items:
                            type: number
                            format: id32
                            x-positive: true
                          maxItems: 50
                    exclude:
                      description: Exclusion list. Stocks issued by a company whose head office is located in a country in the provided list are not returned.
                      type: object
                      x-property-sort:
                      - ids
                      properties:
                        ids:
                          description: Set of country identifiers.
                          type: array
                          nullable: false
                          items:
                            type: number
                            format: id32
                            x-positive: true
                          maxItems: 50
            indexMembership:
              description: List of indices of which a stock is a constituent. The list restricts the request to return only those stocks that are a constituent of one of the specified indices.
              type: object
              x-property-sort:
              - ids
              properties:
                ids:
                  description: List of index instrument identifiers.
                  type: array
                  nullable: false
                  items:
                    type: string
                    format: id64
                    x-positive: true
                  maxItems: 20
            esg:
              description: Parameters related to Environmental, Social, and Governance (ESG) data.
              type: object
              x-property-sort:
              - truvalueLabs
              properties:
                truvalueLabs:
                  description: ESG data provided by FactSet's Truvalue Labs.
                  type: object
                  x-property-sort:
                  - sasb
                  - sdg
                  properties:
                    sasb:
                      description: ESG data for categories as defined by the Sustainability Accounting Standards Board (SASB).
                      type: object
                      x-property-sort:
                      - allCategories
                      - materiality
                      properties:
                        allCategories:
                          description: ESG data for all 26 SASB categories.
                          type: object
                          x-property-sort:
                          - insight
                          - momentum
                          - ranking
                          properties:
                            insight:
                              description: Value range for the insight score which is a measure of a company's longer-term ESG track record. The score is less sensitive to daily events and reflect the enduring performance record of a company over time. The ESG impact of a company is scored on a 0 to 100 scale. A score of 50 represents a neutral impact. Scores above 50 indicate positive performance, and scores below reflect negative performance.
                              type: object
                              format: realRange
                              properties:
                                minimum:
                                  type: object
                                  x-property-sort:
                                  - value
                                  - inclusive
                                  description: The minimum of the range, or `null` to indicate that there is no minimum.
                                  properties:
                                    value:
                                      type: number
                                      format: real
                                      description: The minimum value.
                                    inclusive:
                                      type: boolean
                                      description: Indicates whether the minimum value is included in the range or not.
                                      default: true
                                  x-allowNullValue: true
                                maximum:
                                  type: object
                                  x-property-sort:
                                  - value
                                  - inclusive
                                  description: The maximum of the range, or `null` to indicate that there is no maximum.
                                  properties:
                                    value:
                                      type: number
                                      format: real
                                      description: The maximum value.
                                    inclusive:
                                      type: boolean
                                      description: Indicates whether the maximum value is included in the range or not.
                                      default: true
                                  x-allowNullValue: true
                              x-property-sort:
                              - minimum
                              - maximum
                            momentum:
                              description: Value range for the momentum score which is a trajectory based on the upward or downward movement of the company's insight score, relative to that of all others in the universe. The ESG impact of a company is scored on a 0 to 100 scale. A score of 50 represents a neutral impact. Scores above 50 indicate positive performance, and scores below reflect negative performance.
                              type: object
                              format: realRange
                              properties:
                                minimum:
                                  type: object
                                  x-property-sort:
                                  - value
                                  - inclusive
                                  description: The minimum of the range, or `null` to indicate that there is no minimum.
                                  properties:
                                    value:
                                      type: number
                                      format: real
                                      description: The minimum value.
                                    inclusive:
                                      type: boolean
                                      description: Indicates whether the minimum value is included in the range or not.
                                      default: true
                                  x-allowNullValue: true
                                maximum:
                                  type: object
                                  x-property-sort:
                                  - value
                                  - inclusive
                                  description: The maximum of the range, or `null` to indicate that there is no maximum.
                                  properties:
                                    value:
                                      type: number
                                      format: real
                                      description: The maximum value.
                                    inclusive:
                                      type: boolean
                                      description: Indicates whether the maximum value is included in the range or not.
                                      default: true
                                  x-allowNullValue: true
                              x-property-sort:
                              - minimum
                              - maximum
                            ranking:
                              description: ESG rank.
                              type: object
                              x-property-sort:
                              - minimum
                              properties:
                                minimum:
                                  description: Minimum ESG rank.
                                  type: string
                                  x-enum-description:
                                  - Indicates that the company's ESG rating is within the percentile range of 90% to 100% of all companies.
                                  - Indicates that the company's ESG rating is within the percentile range of 70% to 90% (exclusive) of all companies.
                                  - Indicates that the company's ESG rating is within the percentile range of 30% to 70% (exclusive) of all companies.
                                  - Indicates that the company's ESG rating is within the percentile range of 10% to 30% (exclusive) of all companies.
                                  - Indicates that the company's ESG rating is within the percentile range of 0% to 10% (exclusive) of all companies.
                                  enum:
                                  - leader
                                  - aboveAverage
                                  - average
                                  - belowAverage
                                  - laggard
                        materiality:
                          description: ESG data for all materiality categories.
                          type: object
                          x-property-sort:
                          - insight
                          - momentum
                          - ranking
                          properties:
                            insight:
                              description: Value range for the insight score which is a measure of a company's longer-term ESG track record. The score is less sensitive to daily events and reflect the enduring performance record of a company over time. The ESG impact of a company is scored on a 0 to 100 scale. A score of 50 represents a neutral impact. Scores above 50 indicate positive performance, and scores below reflect negative performance.
                              type: object
                              format: realRange
                              properties:
                                minimum:
                                  type: object
                                  x-property-sort:
                                  - value
                                  - inclusive
                                  description: The minimum of the range, or `null` to indicate that there is no minimum.
                                  properties:
                                    value:
                                      type: number
                                      format: real
                                      description: The minimum value.
                                    inclusive:
                                      type: boolean
                                      description: Indicates whether the minimum value is included in the range or not.
                                      default: true
                                  x-allowNullValue: true
                                maximum:
                                  type: object
                                  x-property-sort:
                                  - value
                                  - inclusive
                                  description: The maximum of the range, or `null` to indicate that there is no maximum.
                                  properties:
                                    value:
                                      type: number
                                      format: real
                                      description: The maximum value.
                                    inclusive:
                                      type: boolean
                                      description: Indicates whether the maximum value is included in the range or not.
                                      default: true
                                  x-allowNullValue: true
                              x-property-sort:
                              - minimum
                              - maximum
                            momentum:
[...]
