openapi: 3.0.3
info:
  title: Factset Analytics Datastore About List API
  description: Allow clients to fetch precalculated Analytics through predeterministic URLs.
  contact:
    name: FactSet Research Systems
    url: https://developer.factset.com/contact
    email: api@factset.com
  license:
    name: Apache License, Version 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  version: 1.0.0
servers:
- url: https://api.factset.com
  description: Production
- url: https://api-sandbox.factset.com
  description: Sandbox
security:
- basicAuth: []
tags:
- name: List
paths:
  /factset-benchmarks/v1/id-list:
    get:
      summary: Factset Returns a Sample List of Benchmark Identifiers and the Benchmark Categorization to Use in Other Benchmark Api Endpoints.
      operationId: getBenchmarkIds
      tags:
      - List
      description: Returns a **sample** list of Benchmark Identifiers to use in other Benchmark API endpoints. This is a supporting API to be use alongside the other Benchmark API endpoints. For example, use the fsymID value returned in this response as the input to your `ids` parameter in the /constituents endpoint to return constituents for that id.<p> *This is not the full list of benchmark ids allowed in this service, but rather a representation of the most commonly requested. For complete assistance with ID lookup or concordance services, please reach out to FactSet Support. *</p>
      parameters:
      - $ref: '#/components/parameters/familyFilter'
      responses:
        '200':
          description: List of sample Benchmark Ids
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/benchmarkIdListResponse'
              examples:
                Result of Benchmark Constituent SPY-US:
                  $ref: '#/components/examples/resultofBenchmarkID-TOPIX'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      summary: Factset Returns a Sample List of Benchmark Identifiers and the Benchmark Categorization to Use in Other Benchmark Api Endpoints.
      operationId: getBenchmarkIdsForList
      tags:
      - List
      description: Returns a **sample** list of Benchmark Identifiers to use in other Benchmark API endpoints. This is a supporting API to be use alongside the other Benchmark API endpoints. For example, use the fsymID value returned in this response as the input to your `ids` parameter in the /constituents endpoint to return constituents for that id.<p> *This is not the full list of benchmark ids allowed in this service, but rather a representation of the most commonly requested. For complete assistance with ID lookup or concordance services, please reach out to FactSet Support.*</p>
      requestBody:
        required: true
        description: Requests a sample list of identifiers that can be used in other Benchmarks API endpoints.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/benchmarkIdListRequest'
      responses:
        '200':
          description: List of sample Benchmark Ids
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/benchmarkIdListResponse'
              examples:
                Result of Benchmark Constituent SPY-US:
                  $ref: '#/components/examples/resultofBenchmarkID-TOPIX'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /docs-distributor/audio/v1/list-files:
    get:
      summary: Retrieve Latest Audio Recordings and Related Metadata Within Factset Coverage.
      tags:
      - List
      responses:
        '200':
          description: Array of URLs consisting of latest audio recordings and related metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Events-Audio'
              examples:
                example-1:
                  value:
                    data:
                    - url: https://fdss3-cts-data-delivery-prod-1-us-east-1.s3.amazonaws.com/audiofiles/A512D0F2-4549-EC11-8124-8CDCD4AF21E4.mp3?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=ASIASXWF7GTDZZHNXO4D%2F20211119%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20211119T143756Z&X-Amz-Expires=600&X-Amz-SignedHeaders=host&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEB4aCXVzLWVhc3QtMSJHMEUCIAZPE65Cyr2GFwHLDFiDWEj3aUW66s6HuKk3vMz7hWR1AiEAiLS3ce5AC1hsDkZWdf9WklbnGoXCD6JMNsYKZLSZtKoqmAII1%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FARACGgwxODgzMjAwMDMyNzEiDIEOfxabmh%2FtadnmnirsAToraA%2BQJ8Hmg2YS03b7IpkX6W6FJDjnDJ9M6sCLN7Q0mUT60Jc1OV%2BzuJ5IbCKhZhDV24mKPSPkyYs4Eh1%2Bp5E2YeclzHqSn44zB5g9UkVHP1bCkFCxv12pqhdIJ5NX4xBIPhWfXDQyIFQm%2BstD1FL3AqugJb19s0o79N032dOX1H3wvfqfkP4av9wKYRFhc2yO7qHMLUHmYnL2IAcnGRq5ukvO2%2FIrmGVYTFGr4wAWMDQFZRX6%2FiYvC7V3f3smsoy2jrJ8UDDn599%2BH32Nh%2FKfTO8yYSnt1ky%2FFJb%2FmheEF9PWnf%2FZxuG6o9ajMInX3owGOpoBFurBn4Hwi3d1xuSsXNVMEuSj7vWPV6dc8tSynf8yH7wRVtVyfz%2BnWH4EYPh0l2qeHuGhzAeQtLVfJNApnSVfEeyaGo1DOpieFST9bxhQIBG8ZloD%2FlojRhJT5AEwcRTryXAXWb%2FeuLKcH9izcUGx80wBcc6L8I6YFFFwwqyA4mhhYYMDAL3o3p0QE1Q4s99PDYPR0YCH7UzThg%3D%3D&X-Amz-Signature=4b8ae68420f7cc87da7c7a797f683e85528b6a96add83ce19ba3ffac0359a938
                      fileName: 835A1FD9-3CE1-EC11-8128-8CDCD4AF21E4.mp3
                      durationSecs: 5022
                      endOffsetSeconds: 4379
                      startOffsetSeconds: 1717
                      sourceCode: W
                      startTime: '2022-05-31T22:26:58Z'
                      endTime: '2022-05-31T23:50:42Z'
                      uploadTime: '2022-05-31T23:57:01'
                      fileSize: 20090671
                      reportId: 2666621
                      ticker: SPWH-US
                      entityId: 0CT2ZZ-E
                      trimmed: false
                      sampleRate: 22
                      bitrate: 32
                      audioSourceId: 3256781
                    meta:
                      sort:
                      - -startDate
                      pagination:
                        total: 1
                        isEstimatedTotal: false
                        limit: 25
                        offset: 1
                      partial:
                        isPartial: false
        '400':
          description: Bad Request. This can occur for several reasons. Please review the "details" for more details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Events-Audio-400-Response'
              examples:
                example-1:
                  value:
                    code: parameterError
                    title: uploadTme is not a valid parameter
                    id: 7af3d86ca5954503b9244f2620fcf5eb
                    details:
                      validParameters:
                        _sort:
                        - startDate
                        - -startDate
                        - uploadTime
                        _paginationLimit:
                        - integer from 0 to 500
                        _paginationOffset:
                        - positive integer
                        reportId:
                        - integer
                        startDate:
                        - integer offset less than 0
                        - date
                        - datetime
                        endDate:
                        - integer offset less than 0
                        - date
                        - datetime
                        ids:
                        - comma separated string of tickers or entityIds or combination of both
                        sourceCode:
                        - file source code
                        fileName:
                        - mp3 file name
                        trimmed:
                        - true/false
                        uploadTime:
                        - integer from -1 to -168
                        audioSourceId:
                        - integer
        '401':
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and have successfully generated an API KEY for the IP range you are connecting from. For more help, select the Report Issue in the top right corner of this Developer Portal specification card and choose Connectivity 401 or 403 Responses.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                example-1:
                  value:
                    id: 7af3d86ca5954503b9244f2620fcf5eb
                    code: notAuthenticated
                    title: There were either no, invalid, or expired credentials present in the request.
        '403':
          description: The USERNAME-SERIAL attempted to request the endpoint is not authorized to access. The request was a legal request, but the server is refusing to respond. Please reach out to FactSet Account Team for assistance with authorization.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                example-1:
                  value:
                    id: 7af3d86ca5954503b9244f2620fcf5eb
                    code: notAuthorized
                    title: ' {USERNAME}-{SERIAL} does not have permission to use this endpoint.'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                example-1:
                  value:
                    id: 7af3d86ca5954503b9244f2620fcf5eb
                    code: genericServerError
                    title: An unexpected error happened.
      operationId: get-docs-distributor-audio-v1-list-files
      description: Returns the latest audio recordings. Query parameters can be used to filter and narrow down the results.
      parameters:
      - schema:
          type: string
          enum:
          - -startDate
          - uploadTime
          - startDate
          default: -startDate
        in: query
        name: _sort
        description: Sorts results in chronological order, reverse chronological order and by uploadTime(latest uploaded first). Results are in reverse chronological order by default.
      - schema:
          type: integer
          format: int32
          minimum: 0
          maximum: 500
          default: 25
        in: query
        name: _paginationLimit
        description: Specifies the number of results to return per page. [ Min=0 ; Max=500 ]
      - schema:
          type: string
        in: query
        example: '2022-01-01T00:00:00.000Z'
        name: startDate
        description: 'Used in conjuction with endDate. The earliest date of the audio file the API should fetch for (can be in absolute: **YYYY-MM-DD** or relative date: **-1** for yesterday).'
      - schema:
          type: integer
          format: int32
          default: 0
        in: query
        name: _paginationOffset
        description: Specifies the starting point for pagination. This parameter is used to identify the beginning of next set of results.
      - schema:
          type: string
        in: query
        name: endDate
        example: '2022-06-01T00:00:00.000Z'
        description: 'Used in conjuction with startDate. The latest date of the audio file the API should fetch for (can be in absolute: **YYYY-MM-DD** or relative date: **0** for today).'
      - schema:
          type: integer
          format: int32
        in: query
        name: reportId
        example: 2666621
        description: Unique identifier for fetching the audio file for an event. The same ID is used for the transcript of the same event.
      - schema:
          type: integer
          format: int32
        in: query
        name: audioSourceId
        description: Unique ID for an Internal recording specific to reportID. For example, ReportID X would have multiple recordings from different source (phone or webcast or vendor or replay). One ReportID can have multiple AudioSourceIDs.
      - schema:
          type: array
          items:
            type: string
        in: query
        name: ids
        explode: false
        examples:
          oneId:
            summary: One identifier
            value:
            - SPWH-US
          noId:
            summary: No identifier
            value: []
          multipleIds:
            summary: Multiple Identifiers
            value:
            - FDS-US
            - AAPL-US
            - MSFT-US
        description: This parameter filters the results based on ticker-region or Entity ID or the combination of both. A comma is used to separate each identifier.
      - schema:
          type: string
          enum:
          - P
          - W
          - V
          - F
          - I
          - R
        in: query
        name: sourceCode
        description: 'This parameter filters the results based on Source of the Audio file. Below are the descriptions for each Source Code -

          * P = Phone

          * W = Webcast

          * V = Vendor

          * I = Webcast Replay

          * F = Flash - identical to webcast; can merge with "W" in the future

          * R = Replay (Phone Replay)'
      - schema:
          type: string
        in: query
        name: fileName
        example: 835A1FD9-3CE1-EC11-8128-8CDCD4AF21E4.mp3
        description: This parameter is used to filter the data on based on the file name.
      - schema:
          type: boolean
        in: query
        name: trimmed
        description: This parameters helps to search trimmed audio files.
      - schema:
          type: integer
          minimum: -168
          maximum: -1
          format: int32
        in: query
        name: uploadTime
        description: 'This parameter filters data based on uploadTime relative to the current time, in hours. For example:- uploadTime = -15 (fetches audio files between 15 hours ago and now)


          Minimum is 1 hour i.e., uploadTime= -1


          Maximum is 1 week/168 hours i.e., uploadTime=-168


          While using uploadTime, the startDate and endDate parameters will be ignored.'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /bulk-documents/nrt/v1/list-snippets:
    get:
      summary: Factset Returns the Latest Transcript Snippets From an Active Call.
      tags:
      - List
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NRT-Snippets'
              examples:
                example-1:
                  value:
                    data:
                    - reportId: 2683372
                      snippetEndTimestamp: '2021-10-15 13:16:50'
                      transcriptData:
                      - snippetData:
                          transcript: 'The operator will be with you shortly '
                          endTime: 3.78
                          startTime: 0
                      - snippetData:
                          transcript: ', welcomed the course call, please hold an operator will be with you shortly. '
                          endTime: 29.700000000000003
                          startTime: 21.42
                      snippetSequence: 1
                      audioSourceId: 471849
                    - reportId: 2683372
                      snippetEndTimestamp: '2021-10-15 13:17:16'
                      transcriptData:
                      - snippetData:
                          transcript: 'What Congress are looking to join '
                          endTime: 47.64
                          startTime: 41.46
                      - snippetData:
                          transcript: '. Can I have your first and name '
                          endTime: 55.32
                          startTime: 47.64
                      snippetSequence: 2
                      audioSourceId: 471849
                    - reportId: 2683372
                      snippetEndTimestamp: '2021-10-15 13:17:28'
                      transcriptData:
                      - snippetData:
                          transcript: '? Thank you. And good company '
                          endTime: 67.68
                          startTime: 61.2
                      snippetSequence: 3
                      audioSourceId: 471849
                    - reportId: 2683372
                      snippetEndTimestamp: '2021-10-15 13:17:41'
                      transcriptData:
                      - snippetData:
                          transcript: . Let's I'll join you and hold onto the calls again.
                          endTime: 74.46000000000001
                          startTime: 67.68
                      snippetSequence: 4
                      audioSourceId: 471849
                    - reportId: 2683372
                      snippetEndTimestamp: '2021-10-15 13:18:57'
                      transcriptData:
                      - snippetData:
                          transcript: 'on '
                          endTime: 156.78
                          startTime: 150.9
                      snippetSequence: 5
                      audioSourceId: 471849
                    meta:
                      pagination:
                        total: 191
                        isEstimatedTotal: false
                        limit: 5
                        offset: 5
                      partial:
                        isPartial: true
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NRT-Snippets-400-Response'
              examples:
                example-1:
                  value:
                    id: 39bf5f1c-c503-4787-94e0-e557a3564fd6,
                    code: parameterError
                    title: '[''_paginatinLimit''] is not a valid parameter(s)'
                    details:
                      validParameters:
                        _paginationLimit:
                        - integer from 0 to 500
                        _paginationOffset:
                        - positive integer
                        audioSourceId:
                        - positive integer
                        reportId:
                        - positive integer
        '401':
          description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and have successfully generated an API KEY for the IP range you are connecting from. For more help, select the Report Issue in the top right corner of this Developer Portal specification card and choose Connectivity 401 or 403 Responses.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                example-1:
                  value:
                    id: 7af3d86ca5954503b9244f2620fcf5eb
                    code: notAuthenticated
                    title: There were either no, invalid, or expired credentials present in the request.
        '403':
          description: The USERNAME-SERIAL attempted to request the endpoint is not authorized to access. The request was a legal request, but the server is refusing to respond. Please reach out to FactSet Account Team for assistance with authorization.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                example-1:
                  value:
                    id: 7af3d86ca5954503b9244f2620fcf5eb
                    code: notAuthorized
                    title: ' {USERNAME}-{SERIAL} does not have permission to use this endpoint.'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                example-1:
                  value:
                    id: 7af3d86ca5954503b9244f2620fcf5eb
                    code: genericServerError
                    title: An unexpected error happened.
      operationId: get-bulk-documents-nrt-v1-list-snippets
      description: Returns the latest snippets from an active call
      parameters:
      - $ref: '#/components/parameters/paginationLimit'
      - $ref: '#/components/parameters/paginationOffset'
      - $ref: '#/components/parameters/audioSourceId'
      - $ref: '#/components/parameters/reportId'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /instrument/selectionList/list:
    get:
      tags:
      - List
      operationId: get/instrument/selectionList/list
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      description: Set of custom instrument-level selection lists.
      summary: Factset Set of Custom Instrument-level Selection Lists.
      responses:
        '200':
          $ref: '#/components/responses/GetInstrumentSelectionListList200Response'
      parameters:
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
            exclusiveMaximum: false
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /instrument/selectionList/listByInstrument:
    get:
      tags:
      - List
      operationId: get/instrument/selectionList/listByInstrument
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      description: For each given instrument, returns the instrument-level selection lists of which the instrument is a member.
      summary: Factset for Each Given Instrument, Returns the Instrument-level Selection Lists of Which the Instrument Is a Member.
      parameters:
      - name: identifiers
        in: query
        schema:
          description: Set of identifiers to resolve.
          type: array
          nullable: false
          items:
            type: string
            minLength: 3
            exclusiveMinimum: false
            maxLength: 50
            exclusiveMaximum: false
            pattern: ^[B-DF-HJ-NP-TV-Z0-9]{6}-[SLR]$|^[A-Z0-9.#&*+]{1,47}-[A-Z0-9]{2,4}$|^[0-9]{3,20}$|^[B-DF-HJ-NP-TV-Z0-9]{6}[0-9]$|^[A-Z]{2}[A-Z0-9]{9}[0-9]$|^[A-Z1-9][A-Z0-9]{5}$|^[0-9]{1,9}$|^[A-Z0-9]{8}[0-9]$
          uniqueItems: true
          minItems: 1
          maxItems: 100
        required: true
        style: form
        explode: false
      - name: identifierType
        in: query
        schema:
          type: string
          description: Type of the identifier.
          x-enum-description:
          - MDG identifier of an instrument.
          - MDG identifier of a listing.
          - FactSet Permanent Identifier on security level.
          - FactSet Permanent Identifier on listing level.
          - Regional FactSet Permanent Identifier.
          - FactSet market symbol of a listing.
          - Regional FactSet ticker symbol.
          - SEDOL or IDII of a listing.
          - ISIN of an instrument.
          - WKN of an instrument.
          - Valor number of an instrument.
          - CUSIP or CINS identifier of an instrument
          enum:
          - idInstrument
          - idNotation
          - fdsPermanentIdentifierSecurity
          - fdsPermanentIdentifierListing
          - fdsPermanentIdentifierRegional
          - tickerExchange
          - tickerRegion
          - sedol
          - isin
          - wkn
          - valor
          - cusip
        required: true
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
            exclusiveMaximum: false
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      responses:
        '200':
          $ref: '#/components/responses/GetInstrumentSelectionListListByInstrument200Response'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /notation/selectionList/list:
    get:
      tags:
      - List
      operationId: get/notation/selectionList/list
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      description: Set of custom notation-level selection lists.
      summary: Factset Set of Custom Notation-level Selection Lists.
      responses:
        '200':
          $ref: '#/components/responses/GetNotationSelectionListList200Response'
      parameters:
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
            exclusiveMaximum: false
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /notation/selectionList/listByNotation:
    get:
      tags:
      - List
      operationId: get/notation/selectionList/listByNotation
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      description: For each given notation, returns the notation-level selection lists of which the notation is a member.
      summary: Factset for Each Given Notation, Returns the Notation-level Selection Lists of Which the Notation Is a Member.
      parameters:
      - name: identifiers
        in: query
        schema:
          description: Set of identifiers to resolve.
          type: array
          nullable: false
          items:
            type: string
            minLength: 3
            exclusiveMinimum: false
            maxLength: 50
            exclusiveMaximum: false
            pattern: ^[B-DF-HJ-NP-TV-Z0-9]{6}-[LR]$|^[A-Z0-9.#&*+]{1,47}-[A-Z0-9]{2,4}$|^[0-9]{3,20}$
          uniqueItems: true
          minItems: 1
          maxItems: 100
        required: true
        style: form
        explode: false
      - name: identifierType
        in: query
        schema:
          type: string
          description: Type of the identifier.
          x-enum-description:
          - MDG identifier of a listing.
          - FactSet market symbol of a listing.
          - Regional FactSet ticker symbol, identifying the primary listing in the region.
          - FactSet Permanent Identifier on listing level.
          - Regional FactSet Permanent Identifier, identifying the primary listing in the region.
          enum:
          - idNotation
          - tickerExchange
          - tickerRegion
          - fdsPermanentIdentifierListing
          - fdsPermanentIdentifierRegional
        required: true
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
            exclusiveMaximum: false
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      responses:
        '200':
          $ref: '#/components/responses/GetNotationSelectionListListByNotation200Response'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  parameters:
    familyFilter:
      name: familyFilter
      in: query
      required: false
      description: 'Highest Level Filter to search by common Benchmark Families, such as S&P, MSCI, or Russell. This will retrieve all related benchmark ids. For further filtering, use the response items such as the categoryDescription field. Leave blank if you wish to see a full sample list of ids. requested-

        * **CHINA & HK INDICES** - Major Hong Kong and China Indices, such as Hang Seng Index (HSI-HKX)

        * **DOW JONES** - Dow Jones Global, Regions, Countries, Titans.

        * **FACTSET MARKET INDICES** - Regional and Country Indices defined by FactSet

        * **FTSE** - FTSE Global, UK, Global All Cap, World, Xinhua, European, GWA, JSE, Multinationals, and Style indices

        * **GLOBAL INDICES** - A mix of major indices across the globe.

        * **MSCI** - MSCI All Country, Asia Pacific, Thematic & Strategy, Emerging, Developed, US.

        * **RUSSELL** - US, Global, and Nomura.

        * **S&P** - US, ASX, Select Industry, BMI, Global, Thematic, Emerging, TSX.

        * **STOXX** - Total Market, Europe, and Nordic

        * **TOPIX** - Topix Indices, such as TOPIX 500 (182301)

        '
      schema:
        type: string
        enum:
        - CHINA_HK_INDICES
        - DOW_JONES
        - FACTSET_MARKET_INDICES
        - FTSE
        - GLOBAL_INDICES
        - MSCI
        - RUSSELL
        - SP
        - STOXX
        - TOPIX
    reportId:
      schema:
        type: integer
        format: int32
      in: query
      name: reportId
      example: 2683372
      description: Unique identifier for an event.
    paginationLimit:
      schema:
        type: integer
        format: int32
        minimum: 1
        maximum: 500
        default: 200
      in: query
      name: _paginationLimit
      example: 5
      description: Specifies the  number of results to return per page. [ Min=0; Max=500]
    paginationOffset:
      schema:
        type: integer
        format: int32
        default: 0
      in: query
      name: _paginationOffset
      description: Specifies the starting point for pagination. This parameter is used to identify the beginning of next set of results.
    audioSourceId:
      schema:
        type: integer
        format: int32
      in: query
      name: audioSourceId
      example: 471849
      required: true
      description: Unique ID for an Internal recording specific to reportID. For example, ReportID X would have multiple recordings from different source (dial-in or webcast). One ReportID can have multiple AudioSourceIDs.
  examples:
    badRequestInvalidParameters:
      summary: Bad Request - Passing invalid Benchmark Identifier
      description: This error message occurs when user is passing Invalid Identifier. Please use the helper endpoint */id-list* for sample Benchmark Identifiers.
      value:
        status: Forbidden
        timestamp: '2020-07-10 15:01:43.634'
        path: /factset-benchmarks/v1/constituents
        message: User is not authorized for the id requested, please reach out to FactSet for support
        subErrors: null
    resultofBenchmarkID-TOPIX:
      summary: The list of Benchmark Ids under the family TOPIX
      description: Result of requesting a sample list of using familyFilter set to TOPIX. Each fsymId represents a unique Benchmark Id that can be used in other benchmark endpoints.
      value:
        data:
        - fsymId: '180511'
          name: Tokyo Stock Exchange 2nd Section
          familyName: TOPIX
          market: TOPIX Indices
          categoryDescription: TOPIX Indices
        - fsymId: '152470'
          name: Tokyo Stock Exchange Mothers
          familyName: TOPIX
          market: TOPIX Indices
          categoryDescription: TOPIX Indices
        - fsymId: '152471'
          name: Tokyo Stock Exchange REIT
          familyName: TOPIX
          market: TOPIX Indices
          categoryDescription: TOPIX Indices
        - fsymId: '180460'
          name: TOPIX
          familyName: TOPIX
          market: TOPIX Indices
          categoryDescription: TOPIX Indices
        - fsymId: '182297'
          name: TOPIX 100
          familyName: TOPIX
          market: TOPIX Indices
          categoryDescription: TOPIX Indices
        - fsymId: '152469'
          name: TOPIX 1000
          familyName: TOPIX
          market: TOPIX Indices
          categoryDescription: TOPIX Indices
        - fsymId: '182301'
          name: TOPIX 500
          familyName: TOPIX
          market: TOPIX Indices
          categoryDescription: TOPIX Indices
        - fsymId: '182295'
          name: TOPIX Core 30
          familyName: TOPIX
          market: TOPIX Indices
          categoryDescription: TOPIX Indices
        - fsymId: '182296'
          name: TOPIX Large 70
          familyName: TOPIX
          market: TOPIX Indices
          categoryDescription: TOPIX Indices
        - fsymId: '180710'
          name: TOPIX Large Cap
          familyName: TOPIX
          market: TOPIX Indices
          categoryDescription: TOPIX Indices
        - fsymId: '182300'
          name: TOPIX Mid 400
          familyName: TOPIX
          market: TOPIX Indices
          categoryDescription: TOPIX Indices
        - fsymId: '180711'
          name: TOPIX Mid Cap
          familyName: TOPIX
          market: TOPIX Indices
          categoryDescription: TOPIX Indices
        - fsymId: '182302'
          name: TOPIX Small
          familyName: TOPIX
          market: TOPIX Indices
          categoryDescription: TOPIX Indices
        - fsymId: '180712'
          name: TOPIX Small Cap
          familyName: TOPIX
          market: TOPIX Indices
          categoryDescription: TOPIX Indices
    badRequestMoreThanOneBenchmarkIdentifier:
      summary: Bad Request - More Than One Benchmark Identifier
      description: This error message occurs when user is passing more than one identifier as an input.
      value:
        status: Bad Request
        timestamp: '2020-07-02 12:37:52.731'
        path: /factset-benchmarks/v1/constituents
        message: You submitted 2 ids. The max number of ids you may submit is 1. Please try again with fewer ids.
        subErrors: null
    badRequestDateFormat:
      summary: Bad Request - Date Format
      description: This bad request occurs when a request doesn't use the YYYY-MM-DD in the date parameters. To resolve, convert your date to YYYY-MM-DD.
      value:
        status: Bad Request
        timestamp: '2020-07-02 11:52:36.464'
        path: /factset-benchmarks/v1/{endpoint}
        message: 'The date parameter must be in the following date format: YYYY-MM-DD'
        subErrors: null
    notWritable:
      summary: Internal Server Error - Not Writable
      description: This error may be returned when the server encounters an error writing the JSON response.
      value:
        status: Internal Server Error
        timestamp: '2019-11-05 09:48:29.18'
        path: /factset-benchmarks/v1/{endpoint}
        message: Error writing JSON output
        subErrors: null
    unsupportedMediaType:
      summary: Unsupported Media Type
      description: This bad request occurs when the media type passed in the request is not supported. Currently the APIs only support 'application/json'.
      value:
        status: Unsupported Media Type
        timestamp: '2020-07-02 09:42:27.237'
        path: /factset-benchmarks/v1/{endpoint}
        message: text/html media type is not supported. Supported media types are application/json
        subErrors: null
    generalException:
      summary: Internal Server Error - General Exception
      description: This is the most general error that can be returned to by the service. Please `Report Issue` to FactSet.
      value:
        status: Internal Server Error
        timestamp: '2019-11-01 10:36:01.944'
        path: /factset-benchmarks/v1/{endpoint}
        message: Unexpected error
        subErrors: null
    badRequestReadTimeout:
      summary: Bad Request - Read Timeout
      description: This error may be returned if it takes more than 29 seconds to hear back from the data fetch service.
      value:
        status: Bad Request
        timestamp: '2020-07-02 16:18:38.949'
        path: /factset-benchmarks/v1/{endpoint}
        message: The request took too long. Try again with a smaller request.
        subErrors: null
    badRequestFutureDate:
      summary: Bad Request - Future Date
      description: This error message occurs when a future date is requested in the date parameters. Please revise your request to include dates as of today's current date or any prior historical date.
      value:
        status: Bad Request
        timestamp: '2020-06-30 13:38:36.528'
        path: /factset-benchmarks/v1/{endpoint}
        message: The use of future dates is not applicable in this endpoint. Please revise your request to include dates up to today's current date.
        subErrors: null
    forbidden:
      summary: Forbidden
      description: The USERNAME-SERIAL attempted to request the endpoint/ID which is not authorized to access. The request was a legal request, but the server is refusing to respond. Please reach out to FactSet Account Team for assistance with authorization.
      value:
        status: Forbidden
        timestamp: '2020-07-02 17:21:52.197'
        path: /factset-benchmarks/v1/{endpoint}
        message: User is not authorized for the id requested, please reach out to FactSet for support
        subErrors: null
    unauthenticated:
      summary: User Authentication Failed
      description: This occurs when a user is not properly authenticated or recognized by the service. Please double check the USERNAME-SERIAL and API-Key used to request and ensure you are within the IP range specified for the Key. Report Issue under 401 error for help with troubleshooting.
      value:
        status: User Authentication Failed
        timestamp: '2020-07-02 16:08:07.945'
        path: /factset-benchmarks/v1/{endpoint}
        message: User Authentication Failed.
        subErrors: null
    badRequestMalformedJSON:
      summary: Bad Request - Malformed JSON Request
      description: This error may be returned when the request body is specified as JSON. But is not in proper JSON format.
      value:
        status: Bad Request
        timestamp: '2020-07-02 11:59:09.649'
        path: /factset-benchmarks/v1/{endpoint}
        message: Malformed JSON Request
        subErrors: null
    badRequestRequiredParameter:
      summary: Bad Request - Required Parameter Missing
      description: This error message occurs when the request does not include the required parameters. Required parameters are indicated with a red asterisks symbol in the specification file.
      value:
        status: Bad Request
        timestamp: '2020-06-30 13:22:09.053'
        path: /factset-benchmarks/v1/{endpoint}
        message: The parameter 'ids' is required and may not be empty.
        subErrors: null
  responses:
    GetNotationSelectionListListByNotation200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: array
                description: Set of notation-level selection lists for each given notation.
                nullable: false
                items:
                  type: object
                  nullable: false
                  x-property-sort:
                  - idNotation
                  - sourceIdentifier
                  - selectionList
                  - status
                  properties:
                    idNotation:
                      nullable: true
                      type: string
                      format: id64
                      x-positive: true
                      description: MDG identifier of the listing.
                    sourceIdentifier:
                      nullable: true
                      type: string
                      description: Identifier used in the request.
                    selectionList:
                      nullable: false
                      description: Set of selection lists.
                      type: array
                      items:
                        type: object
                        nullable: false
                        x-property-sort:
                        - id
                        - name
                        properties:
                          id:
                            nullable: true
                            type: number
                            format: id32
                            x-positive: true
                            description: Identifier of a selection list.
                          name:
                            nullable: true
                            type: string
                            description: Name of the selection list, as provided by the customer.
                    status:
                      nullable: false
                      type: object
                      x-property-sort:
                      - code
                      - identifier
                      - details
                      - encryptedDetails
                      description: Error status for the requested identifier.
                      properties:
                        code:
                          nullable: true
                          type: string
                          description: Code of the error condition.
                          x-enum-description:
                          - No error.
                          - The provided identifier does not refer to a valid listing level identifier.
                          - Not entitled to see data for the identifier.
                          - Unable to resolve the provided identifier.
                          enum:
                          - none
                          - parameter
                          - entitlement
                          - identifierMapping
                        identifier:
                          nullable: true
                          type: string
                          description: Provided identifier.
                        details:
                          nullable: true
                          type: string
                          description: A human-readable, unstructured explanation specific to this occurrence of the problem.
                        encryptedDetails:
                          nullable: true
                          type: string
                          description: Base64-encoded internal details about the error.
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                x-property-sort:
                - status
            x-property-sort:
            - data
            - meta
    '401':
      description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and have successfully generated an API KEY for the IP range you are connecting from. For more help, select the **Report Issue** in the top right corner of this Developer Portal specification card and choose Connectivity 401 or 403 Responses.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponse'
          examples:
            Bad Request - Date Format:
              $ref: '#/components/examples/unauthenticated'
    '415':
      description: Unsupported Media Type. This error may be returned when the caller sends a resource in a format that is not accepted by the server. This can be fixed by ensuring that Content-Type header is set to the correct value. In this instance, "application/json" would be the appropriate value.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponse'
          examples:
            Bad Request - Unsupported Media Type:
              $ref: '#/components/examples/unsupportedMediaType'
    '403':
      description: The USERNAME-SERIAL attempted to request the endpoint is not authorized to access. The request was a legal request, but the server is refusing to respond. Please reach out to FactSet Account Team for assistance with authorization.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponse'
          examples:
            Bad Request - forbidden:
              $ref: '#/components/examples/forbidden'
    GetNotationSelectionListList200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: array
                description: Unsorted set of selection lists.
                nullable: false
                items:
                  type: object
                  nullable: false
                  x-property-sort:
                  - id
                  - name
                  - description
                  properties:
                    id:
                      nullable: true
                      description: Identifier of a selection list.
                      type: number
                      format: id32
                      x-positive: true
                    name:
                      nullable: true
                      description: Name of the selection list, as provided by the customer.
                      type: string
                    description:
                      nullable: true
                      description: Description of the selection list in English.
                      type: string
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                x-property-sort:
                - status
            x-property-sort:
            - data
            - meta
    GetInstrumentSelectionListList200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: array
                description: Unsorted set of selection lists.
                nullable: false
                items:
                  type: object
                  nullable: false
                  x-property-sort:
                  - id
                  - name
                  - description
                  properties:
                    id:
                      nullable: true
                      description: Identifier of a selection list.
                      type: number
                      format: id32
                      x-positive: true
                    name:
                      nullable: true
                      description: Name of the selection list, as provided by the customer.
                      type: string
                    description:
                      nullable: true
                      description: Description of the selection list in English.
                      type: string
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                x-property-sort:
                - status
            x-property-sort:
            - data
            - meta
    '500':
      description: Internal Server Error.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponse'
          examples:
            Internal Server Error - Not Writable:
              $ref: '#/components/examples/notWritable'
            Internal Server Error - General Exception:
              $ref: '#/components/examples/generalException'
    GetInstrumentSelectionListListByInstrument200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: array
                description: Set of instrument-level selection lists for each given instrument.
                nullable: false
                items:
                  type: object
                  nullable: false
                  x-property-sort:
                  - idInstrument
                  - sourceIdentifier
                  - selectionList
                  - status
                  properties:
                    idInstrument:
                      nullable: true
                      type: string
                      format: id64
                      x-positive: true
                      description: MDG identifier of the index instrument.
                    sourceIdentifier:
                      nullable: true
                      type: string
                      description: Identifier used in the request.
                    selectionList:
                      nullable: false
                      description: Set of selection lists.
                      type: array
                      items:
                        type: object
                        nullable: false
                        x-property-sort:
                        - id
                        - name
                        properties:
                          id:
                            nullable: true
                            type: number
                            format: id32
                            x-positive: true
                            description: Identifier of a selection list.
                          name:
                            nullable: true
                            type: string
                            description: Name of the selection list, as provided by the customer.
                    status:
                      nullable: false
                      type: object
                      x-property-sort:
                      - code
                      - identifier
                      - details
                      - encryptedDetails
                      description: Error status for the requested identifier.
                      properties:
                        code:
                          nullable: true
                          type: string
                          description: Code of the error condition.
                          x-enum-description:
                          - No error.
                          - The provided identifier does not refer to a valid instrument level identifier.
                          - Not entitled to see data for the identifier.
                          - Unable to resolve the provided identifier.
                          enum:
                          - none
                          - parameter
                          - entitlement
                          - identifierMapping
                        identifier:
                          nullable: true
                          type: string
                          description: Provided identifier.
                        details:
                          nullable: true
                          type: string
                          description: A human-readable, unstructured explanation specific to this occurrence of the problem.
                        encryptedDetails:
                          nullable: true
                          type: string
                          description: Base64-encoded internal details about the error.
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                x-property-sort:
                - status
            x-property-sort:
            - data
            - meta
    '400':
      description: Bad Request. This can occur for several reasons. Please review the "message" for more details.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponse'
          examples:
            Bad Request - Date Format:
              $ref: '#/components/examples/badRequestDateFormat'
            Bad Request - Missing Required Parameter:
              $ref: '#/components/examples/badRequestRequiredParameter'
            Bad Request - Future Date:
              $ref: '#/components/examples/badRequestFutureDate'
            Bad Request - Invalid Parameter:
              $ref: '#/components/examples/badRequestInvalidParameters'
            Bad Request - More Than One Benchmark Identifier:
              $ref: '#/components/examples/badRequestMoreThanOneBenchmarkIdentifier'
            Bad Request - Malformed JSON:
              $ref: '#/components/examples/badRequestMalformedJSON'
            Bad Request - Read Timeout:
              $ref: '#/components/examples/badRequestReadTimeout'
  schemas:
    NRT-Snippets-400-Response:
      description: ''
      type: object
      properties:
        id:
          type: string
          example: abc123
        code:
          type: string
          example: example_value
        title:
          type: string
          example: Example Title
        details:
          type: object
          properties:
            validParameters:
              type: object
              properties:
                _paginationLimit:
                  type: array
                  items:
                    type: string
                _paginationOffset:
                  type: array
                  items:
                    type: string
                audioSourceId:
                  type: array
                  items:
                    type: string
                reportId:
                  type: array
                  items:
                    type: string
          example: example_value
    benchmarkIdList:
      title: Benchmark Id List Object
      type: object
      properties:
        fsymId:
          type: string
          description: Benchmark Id
          example: '990100'
          nullable: true
        name:
          type: string
          description: Name of the Benchmark ID
          example: MSCI World Index
          nullable: true
        familyName:
          type: string
          description: Name of the Benchmarks Family
          example: MSCI
          nullable: true
        market:
          type: string
          description: Market grouping related to the Benchmark Family
          example: Developed
          nullable: true
        categoryDescription:
          type: string
          description: Extended name or description of Benchmark Family & Market
          example: International Indices
          nullable: true
    Error:
      type: object
      properties:
        id:
          type: string
          example: abc123
        code:
          type: string
          example: example_value
        title:
          type: string
          example: Example Title
    StatusObject:
      type: object
      properties:
        code:
          type: number
          format: int32
          description: The HTTP status code of the response, mirroring the code from the Status-Line of the HTTP response message (see [RFC2616] section 6.1).
          example: 42.5
      description: The status member contains the status code of the response.
      required:
      - code
    errorResponse:
      type: object
      title: Error Response
      properties:
        status:
          description: status
          type: string
          example: Bad Request
        timestamp:
          description: timestamp in YYYY-MM-DD HH:MM:SS.SSS
          type: string
          example: '2019-11-01 11:09:41.918'
          format: date-time
        path:
          description: The Endpoint path {package}/version/{endpoint}
          type: string
          example: /factset-benchmarks/v1/{endpoint}
        message:
          description: The plain text error message
          type: string
          example: Validation Error
        subErrors:
          description: subErrors related to the error message. Null if not applicable.
          type: object
          properties:
            object:
              description: the operation ID
              type: string
            field:
              description: Parameter Field Name
              type: string
            message:
              description: Error message
              type: string
            rejectedValue:
              description: Rejected Values in an Array
              type: array
              items:
                type: string
          example: example_value
    NRT-Snippets:
      description: Transcript snippet metadata of active calls happening at that moment are returned.
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              reportId:
                type: integer
                description: The unique ID for an event.
              snippetEndTimestamp:
                type: string
                description: The snippet end time is calculated based off the endTime in the snippetData section and the recordingStartTime from the calls endpoint.
              transcriptData:
                type: array
                items:
                  type: object
                  properties:
                    snippetData:
                      type: object
                      properties:
                        transcript:
                          type: string
                          description: The actual transcript snippet.
                        endTime:
                          type: number
                          description: The number of seconds into the call, when the transcript snippet ended.
                        startTime:
                          type: number
                          description: The number of seconds into the call,when the transcript snippet started.
              snippetSequence:
                type: integer
                description: 'The sequence number of the snippet from the start of the current call. '
              audioSourceId:
                type: integer
                description: The Unique ID for an Internal recording specific to reportID. For example, ReportID X would have multiple recordings from a different source (dial-in or webcast). One ReportID can have multiple AudioSourceIDs.
          example: []
        meta:
          type: object
          properties:
            pagination:
              type: object
              properties:
                total:
                  description: Total number for results returned for a specific query.
                  type: integer
                isEstimatedTotal:
                  type: boolean
                  description: This field acts as a flag for the exact count of results and is defaulted to false as the API should always return the exact count of results.
                limit:
                  type: integer
                  description: Number of results returned per page.
                offset:
                  type: integer
                  description: The flag indicating the position in the results array if additional results are available beyond the default value or the value in _paginationLimit parameter (if used). This value is passed in the _paginationOffset parameter to retrieve subsequent results.
            partial:
              type: object
              properties:
                isPartial:
                  type: boolean
                  description: If the value is True, it indicates additional results are available. False represents that this is the last set of results for this request.
          example: example_value
    benchmarkIdListRequest:
      type: object
      title: Benchmark Id List Request
      properties:
        familyFilter:
          $ref: '#/components/schemas/familyFilter'
    Events-Audio:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              url:
                type: string
                description: Download link for the audio file.
              fileName:
                type: string
                description: The filename of the audio file.
              durationSecs:
                type: number
                nullable: true
                description: Total duration of the recording in seconds based on startOffsetSeconds to endOffsetSeconds.
              endOffsetSeconds:
                type: number
                nullable: true
                description: The delta in seconds between startTime to when FactSet marks the end of the call.
              startOffsetSeconds:
                type: number
                nullable: true
                description: The delta in seconds between start of audio file to when FactSet marks the beginning of the call.
              sourceCode:
                type: string
                description: 'Identifies the method of how the event is recorded Below are the descriptions for each Source Code -

                  * P = Phone

                  * W = Webcast

                  * V = Vendor

                  * I = Webcast Replay

                  * F = Flash - identical to webcast; can merge with "W" in the future

                  * R = Replay (Phone Replay)'
              startTime:
                type: string
                nullable: true
                description: 'The official timestamp when FactSet begins the recording.


                  Note:- All the vendor and trimmed files would have default 1900-0101T00:00:00Z time stamp.'
              endTime:
                type: string
                nullable: true
                description: 'The official timestamp when FactSet ends the recording.


                  Note:- All the vendor and trimmed files would have default 1900-0101T00:00:00Z time stamp.'
              uploadTime:
                type: string
                nullable: true
                description: The official timestamp when FactSet publishes the audio file externally.
              fileSize:
                type: number
                description: Size of the Audio file, in bytes.
              reportId:
                type: integer
                description: 'The unique ID of the audio file for an event. The same ID is used for the transcript of the same event.

                  This report ID can also be used to map to the Event details in SDF tables.'
              ticker:
                type: string
                nullable: true
                description: 'Ticker-region identifier for the company hosting the event.


                  Note:- This field can have N/A value when the company is a private(non-equity company)'
              entityId:
                type: string
                description: Factset entity level identifier for the company hosting the event.
              trimmed:
                type: boolean
                description: 'The trimmed attribute helps identify if the audio is the trimmed version.

                  Note:- All the vendor generated files are trimmed regardless of the trimmed attribute value in the response.'
              sampleRate:
                type: number
                nullable: true
                description: 'The number of samples of audio carried per second in Kbps.


                  Note:- The field can have value as -1 for the audio files without sampleRate metadata'
              bitrate:
                type: number
                nullable: true
                description: 'The total number of bits of information stored per second of sound in Kbps.


                  Note:- The field can have value as -1 for the audio files without bitrate metadata'
              audioSourceId:
                type: integer
                nullable: true
                description: 'Unique ID for an Internal recording specific to reportID. For example, ReportID X would have multiple recordings from different source (Phone or Webcast or Vendor or Replay). One ReportID can have multiple AudioSourceIDs.


                  The audioSourceId identifier is available for audio calls since November 29, 2022.

                  Note:- Only un-trimmed audio files contain an audioSourceId value. All the vendor and trimmed audio files will have an audioSourceId value of null.'
          example: []
        meta:
          type: object
          properties:
            sort:
              type: array
              description: The value in _sort parameter if used in the request.
              items:
                type: string
            pagination:
              type: object
              description: "\t\nList of pagination objects"
              properties:
                total:
                  type: integer
                  description: Total number of files the API returns for a particular query.
                isEstimatedTotal:
                  type: boolean
                  description: Boolean value that represents whether the total count of files returned is exact or an estimate. This is defaulted to False as the API should always return the exact count.
                limit:
                  type: integer
                  description: Number of results returned per page
                offset:
                  type: integer
                  description: The flag indicating the position in the results array if additional results are available beyond the default value or the value in paginationLimit parameter (if used). This value is passed in the _paginationOffset parameter to retrieve subsequent results.
            partial:
              type: object
              description: ''
              properties:
                isPartial:
                  type: boolean
                  description: If the value is True, it indicates additional results are available. False represents that this is the last set of results for this request.
          example: example_value
    benchmarkIdListResponse:
      title: Benchmark Id List Response
      type: object
      properties:
        data:
          description: 'Array of Benchmark Ids and their respective categorizations.

            '
          type: array
          items:
            $ref: '#/components/schemas/benchmarkIdList'
          example: []
    Events-Audio-400-Response:
      description: ''
      type: object
      properties:
        code:
          type: string
          example: example_value
        title:
          type: string
          example: Example Title
        id:
          type: string
          example: abc123
        details:
          type: object
          properties:
            validParameters:
              type: object
              properties:
                _sort:
                  type: array
                  items:
                    type: string
                _paginationLimit:
                  type: array
                  items:
                    type: string
                _paginationOffset:
                  type: array
                  items:
                    type: string
                reportId:
                  type: array
                  items:
                    type: string
                startDate:
                  type: array
                  items:
                    type: string
                endDate:
                  type: array
                  items:
                    type: string
                ids:
                  type: array
                  items:
                    type: string
                sourceCode:
                  type: array
                  items:
                    type: string
                fileName:
                  type: array
                  items:
                    type: string
                trimmed:
                  type: array
                  items:
                    type: string
                uploadTime:
                  type: array
                  items:
                    type: string
                audioSourceId:
                  type: array
                  items:
                    type: string
          example: example_value
    familyFilter:
      title: Family Filter
      description: 'Highest Level Filter to search by common Benchmark Families, such as S&P, MSCI, or Russell. This will retrieve all related benchmark ids. For further filtering, use the response items such as the categoryDescription field. Leave blank if you wish to see a full sample list of ids. requested-

        * **CHINA & HK INDICES** - Major Hong Kong and China Indices, such as Hang Seng Index (HSI-HKX)

        * **DOW JONES** - Dow Jones Global, Regions, Countries, Titans.

        * **FACTSET MARKET INDICES** - Regional and Country Indices defined by FactSet

        * **FTSE** - FTSE Global, UK, Global All Cap, World, Xinhua, European, GWA, JSE, Multinationals, and Style indices

        * **GLOBAL INDICES** - A mix of major indices across the globe.

        * **MSCI** - MSCI All Country, Asia Pacific, Thematic & Strategy, Emerging, Developed, US.

        * **RUSSELL** - US, Global, and Nomura.

        * **S&P** - US, ASX, Select Industry, BMI, Global, Thematic, Emerging, TSX.

        * **STOXX** - Total Market, Europe, and Nordic

        * **TOPIX** - Topix Indices, such as TOPIX 500 (182301)

        '
      type: string
      enum:
      - CHINA_HK_INDICES
      - DOW_JONES
      - FACTSET_MARKET_INDICES
      - FTSE
      - GLOBAL_INDICES
      - MSCI
      - RUSSELL
      - SP
      - STOXX
      - TOPIX
      example: MSCI
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
externalDocs:
  url: https://developer.factset.com/api-catalog/analytics-datastore-api
  description: API Documentation
