openapi: 3.2.0
info:
  version: 3.0.0
  title: FactSet Real-Time Quotes Instrument API
  description: 'The Quotes API combines endpoints for retrieving security end-of-day,

    delayed, and realtime prices with performance key figures and basic

    reference data on the security and market level.'
  contact:
    name: FactSet Research Systems
    url: https://developer.factset.com/contact
    email: api@factset.com
  license:
    name: Apache License, Version 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
servers:
- url: https://api.factset.com/wealth/v3
security:
- FactSetApiKey: []
- FactSetOAuth2: []
tags:
- name: Instrument
paths:
  /category/instrument/list:
    get:
      tags:
      - Instrument
      operationId: get/category/instrument/list
      x-supportsOffsetBasedPaging: true
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Factset List of Instruments Where a Specific Dataset Has Assigned a Given…
      description: List of instruments where a specific dataset has assigned a given category.
      parameters:
      - name: idCategory
        in: query
        schema:
          type: number
          format: id32
          x-positive: true
          description: Identifier of a category.
        required: true
      - name: idCategoryDataset
        in: query
        schema:
          type: number
          format: id32
          x-positive: true
          description: Identifier of a category dataset.
        required: true
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      - description: Non-negative number of entries to skip, or 0 (default).
        name: _paginationOffset
        in: query
        schema:
          type: number
          format: int32
          minimum: 0
          default: 0
      - description: Non-negative maximum number of entries to return.
        name: _paginationLimit
        in: query
        schema:
          type: number
          format: int32
          minimum: 0
          maximum: 1000
          default: 20
      responses:
        '200':
          $ref: '#/components/responses/GetCategoryInstrumentList200Response'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /instrument/get:
    get:
      tags:
      - Instrument
      operationId: get/instrument/get
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      description: Basic data for an instrument.
      summary: Factset Basic Data for an Instrument
      parameters:
      - name: identifier
        in: query
        schema:
          type: string
          pattern: ^[B-DF-HJ-NP-TV-Z0-9]{6}-[SLR]$|^[A-Z0-9.#&*+]{1,47}-[A-Z0-9]{2,4}$|^[0-9]{3,20}$|^[B-DF-HJ-NP-TV-Z0-9]{6}[0-9]$|^[A-Z]{2}[A-Z0-9]{9}[0-9]$|^[A-Z1-9][A-Z0-9]{5}$|^[0-9]{1,9}$|^[A-Z0-9]{8}[0-9]$
          maxLength: 50
          minLength: 3
          description: Identifier to resolve.
        required: true
      - name: identifierType
        in: query
        schema:
          type: string
          description: Type of the identifier.
          x-enum-description:
          - MDG identifier of an instrument.
          - MDG identifier of a listing.
          - FactSet Permanent Identifier on security level.
          - FactSet Permanent Identifier on listing level.
          - Regional FactSet Permanent Identifier.
          - FactSet market symbol of a listing.
          - Regional FactSet ticker symbol.
          - SEDOL or IDII of a listing.
          - ISIN of an instrument.
          - WKN of an instrument.
          - Valor number of an instrument.
          - CUSIP or CINS identifier of an instrument
          enum:
          - idInstrument
          - idNotation
          - fdsPermanentIdentifierSecurity
          - fdsPermanentIdentifierListing
          - fdsPermanentIdentifierRegional
          - tickerExchange
          - tickerRegion
          - sedol
          - isin
          - wkn
          - valor
          - cusip
        required: true
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      - name: _language
        in: query
        schema:
          type: string
          format: isoLanguage
          description: ISO 639-1 code of the language.
          maxLength: 2
          minLength: 2
      responses:
        '200':
          $ref: '#/components/responses/GetInstrumentGet200Response'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /instrument/getByNotation:
    get:
      tags:
      - Instrument
      operationId: get/instrument/getByNotation
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      description: Basic data for an instrument.
      summary: Factset Basic Data for an Instrument
      parameters:
      - name: id
        in: query
        schema:
          type: string
          format: id64
          x-positive: true
          description: Identifier of a notation.
        required: true
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      - name: _language
        in: query
        schema:
          type: string
          format: isoLanguage
          description: ISO 639-1 code of the language.
          maxLength: 2
          minLength: 2
      responses:
        '200':
          $ref: '#/components/responses/GetInstrumentGetByNotation200Response'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /instrument/category/list:
    post:
      tags:
      - Instrument
      operationId: post/instrument/category/list
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 2
      x-supportsPermissionDeniedResponse: false
      summary: Factset List of Categories Assigned to a Specific Instrument the Application Is…
      description: List of categories assigned to a specific instrument the application is entitled to see. Optionally it is possible to restrict the output to only list those for a specific category dataset.
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostInstrumentCategoryListRequest'
        required: false
      responses:
        '200':
          $ref: '#/components/responses/PostInstrumentCategoryList200Response'
      parameters: []
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /instrument/crossReference/getByWKN:
    get:
      tags:
      - Instrument
      operationId: get/instrument/crossReference/getByWKN
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      description: Translate a given WKN to the respective most recent instrument identifier, retrieved from the Cross Reference Service.
      summary: Factset Translate Wkn to Instrument
      parameters:
      - name: wkn
        in: query
        schema:
          description: Source WKN to be translated.
          type: string
          minLength: 6
          maxLength: 6
          pattern: ^[A-Z0-9]*$
        required: true
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      responses:
        '200':
          $ref: '#/components/responses/GetInstrumentCrossReferenceGetByWKN200Response'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /instrument/crossReference/listByWKN:
    post:
      tags:
      - Instrument
      operationId: post/instrument/crossReference/listByWKN
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      description: Translate a given list of WKNs to the respective most recent instrument identifiers, retrieved from the Cross Reference Service.
      summary: Factset Translate a List of Wkns to Instruments
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostInstrumentCrossReferenceListByWKNRequest'
        required: true
      responses:
        '200':
          $ref: '#/components/responses/PostInstrumentCrossReferenceListByWKN200Response'
      parameters: []
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /instrument/mifid/get:
    get:
      tags:
      - Instrument
      operationId: get/instrument/mifid/get
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      description: MiFID II data for a specified financial instrument. The instruments governed by MiFID II are called "investment products".
      summary: Factset Mifid Ii Data for a Financial Instrument
      parameters:
      - name: identifier
        in: query
        schema:
          type: string
          pattern: ^[B-DF-HJ-NP-TV-Z0-9]{6}-[SLR]$|^[A-Z0-9.#&*+]{1,47}-[A-Z0-9]{2,4}$|^[0-9]{3,20}$|^[B-DF-HJ-NP-TV-Z0-9]{6}[0-9]$|^[A-Z]{2}[A-Z0-9]{9}[0-9]$|^[A-Z1-9][A-Z0-9]{5}$|^[0-9]{1,9}$|^[A-Z0-9]{8}[0-9]$
          maxLength: 50
          minLength: 3
          description: Identifier to resolve.
        required: true
      - name: identifierType
        in: query
        schema:
          type: string
          description: Type of the identifier.
          x-enum-description:
          - MDG identifier of an instrument.
          - MDG identifier of a listing.
          - FactSet Permanent Identifier on security level.
          - FactSet Permanent Identifier on listing level.
          - Regional FactSet Permanent Identifier.
          - FactSet market symbol of a listing.
          - Regional FactSet ticker symbol.
          - SEDOL or IDII of a listing.
          - ISIN of an instrument.
          - WKN of an instrument.
          - Valor number of an instrument.
          - CUSIP or CINS identifier of an instrument
          enum:
          - idInstrument
          - idNotation
          - fdsPermanentIdentifierSecurity
          - fdsPermanentIdentifierListing
          - fdsPermanentIdentifierRegional
          - tickerExchange
          - tickerRegion
          - sedol
          - isin
          - wkn
          - valor
          - cusip
        required: true
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      - name: _language
        in: query
        schema:
          type: string
          format: isoLanguage
          description: ISO 639-1 code of the language.
          maxLength: 2
          minLength: 2
      responses:
        '200':
          $ref: '#/components/responses/GetInstrumentMifidGet200Response'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /instrument/notation/list:
    post:
      tags:
      - Instrument
      operationId: post/instrument/notation/list
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 1
      x-supportsPermissionDeniedResponse: false
      summary: Factset List of Active, Entitled Notations for a Set of Instruments
      description: List of active, entitled notations for a set of instruments. By default the list of notations (per instrument) is sorted descending by the trading volume, averaged over one month. All identifiers used as parameters must be valid and entitled.
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostInstrumentNotationListRequest'
        required: false
      responses:
        '200':
          $ref: '#/components/responses/PostInstrumentNotationList200Response'
      parameters: []
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /instrument/selectionList/list:
    get:
      tags:
      - Instrument
      operationId: get/instrument/selectionList/list
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      description: Set of custom instrument-level selection lists.
      summary: Factset Set of Custom Instrument-level Selection Lists
      responses:
        '200':
          $ref: '#/components/responses/GetInstrumentSelectionListList200Response'
      parameters:
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /instrument/selectionList/listByInstrument:
    get:
      tags:
      - Instrument
      operationId: get/instrument/selectionList/listByInstrument
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      description: For each given instrument, returns the instrument-level selection lists of which the instrument is a member.
      summary: Factset for Each Given Instrument, Returns the Instrument-level Selection Lists…
      parameters:
      - name: identifiers
        in: query
        schema:
          description: Set of identifiers to resolve.
          type: array
          items:
            type: string
            minLength: 3
            maxLength: 50
            pattern: ^[B-DF-HJ-NP-TV-Z0-9]{6}-[SLR]$|^[A-Z0-9.#&*+]{1,47}-[A-Z0-9]{2,4}$|^[0-9]{3,20}$|^[B-DF-HJ-NP-TV-Z0-9]{6}[0-9]$|^[A-Z]{2}[A-Z0-9]{9}[0-9]$|^[A-Z1-9][A-Z0-9]{5}$|^[0-9]{1,9}$|^[A-Z0-9]{8}[0-9]$
          uniqueItems: true
          minItems: 1
          maxItems: 100
        required: true
        style: form
        explode: false
      - name: identifierType
        in: query
        schema:
          type: string
          description: Type of the identifier.
          x-enum-description:
          - MDG identifier of an instrument.
          - MDG identifier of a listing.
          - FactSet Permanent Identifier on security level.
          - FactSet Permanent Identifier on listing level.
          - Regional FactSet Permanent Identifier.
          - FactSet market symbol of a listing.
          - Regional FactSet ticker symbol.
          - SEDOL or IDII of a listing.
          - ISIN of an instrument.
          - WKN of an instrument.
          - Valor number of an instrument.
          - CUSIP or CINS identifier of an instrument
          enum:
          - idInstrument
          - idNotation
          - fdsPermanentIdentifierSecurity
          - fdsPermanentIdentifierListing
          - fdsPermanentIdentifierRegional
          - tickerExchange
          - tickerRegion
          - sedol
          - isin
          - wkn
          - valor
          - cusip
        required: true
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      responses:
        '200':
          $ref: '#/components/responses/GetInstrumentSelectionListListByInstrument200Response'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /instrument/selectionList/members/list:
    post:
      tags:
      - Instrument
      operationId: post/instrument/selectionList/members/list
      x-supportsOffsetBasedPaging: true
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 4
      x-supportsPermissionDeniedResponse: false
      summary: Factset List of Instruments Belonging to an Instrument-level Selection List
      description: List of instruments belonging to an instrument-level selection list.
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostInstrumentSelectionListMembersListRequest'
        required: false
      responses:
        '200':
          $ref: '#/components/responses/PostInstrumentSelectionListMembersList200Response'
      parameters: []
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /notation/crossReference/listByInstrument:
    post:
      tags:
      - Instrument
      operationId: post/notation/crossReference/listByInstrument
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Factset List of Entitled Notations
      description: List of entitled notations.
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostNotationCrossReferenceListByInstrumentRequest'
        required: false
      responses:
        '200':
          $ref: '#/components/responses/PostNotationCrossReferenceListByInstrument200Response'
      parameters: []
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    PostInstrumentCategoryListRequest:
      x-property-sort:
      - data
      - meta
      description: Request Body
      type: object
      properties:
        data:
          type: object
          x-property-sort:
          - identifier
          - filter
          description: The data member contains the request's primary data.
          properties:
            identifier:
              type: object
              x-property-sort:
              - value
              - type
              description: Identifier and type.
              properties:
                value:
                  type: string
                  pattern: ^[B-DF-HJ-NP-TV-Z0-9]{6}-[SLR]$|^[A-Z0-9.#&*+]{1,47}-[A-Z0-9]{2,4}$|^[0-9]{3,20}$|^[B-DF-HJ-NP-TV-Z0-9]{6}[0-9]$|^[A-Z]{2}[A-Z0-9]{9}[0-9]$|^[A-Z1-9][A-Z0-9]{5}$|^[0-9]{1,9}$|^[A-Z0-9]{8}[0-9]$
                  maxLength: 50
                  minLength: 3
                  description: Identifier to resolve.
                type:
                  type: string
                  description: Type of the identifier.
                  x-enum-description:
                  - MDG identifier of an instrument.
                  - MDG identifier of a listing.
                  - FactSet Permanent Identifier on security level.
                  - FactSet Permanent Identifier on listing level.
                  - Regional FactSet Permanent Identifier.
                  - FactSet market symbol of a listing.
                  - Regional FactSet ticker symbol.
                  - SEDOL or IDII of a listing.
                  - ISIN of an instrument.
                  - WKN of an instrument.
                  - Valor number of an instrument.
                  - CUSIP or CINS identifier of an instrument
                  enum:
                  - idInstrument
                  - idNotation
                  - fdsPermanentIdentifierSecurity
                  - fdsPermanentIdentifierListing
                  - fdsPermanentIdentifierRegional
                  - tickerExchange
                  - tickerRegion
                  - sedol
                  - isin
                  - wkn
                  - valor
                  - cusip
              required:
              - value
              - type
            filter:
              type: object
              x-property-sort:
              - dataset
              description: Criteria that filter the items in the response list; only items that match all of the criteria are returned.
              properties:
                dataset:
                  type: object
                  x-property-sort:
                  - id
                  description: Filter the categories to only return values assigned by a dataset. See endpoint `/category/dataset/list` for valid values.
                  properties:
                    id:
                      type: number
                      format: id32
                      x-positive: true
                      description: Identifier of a category dataset.
          required:
          - identifier
          example: example_value
        meta:
          type: object
          description: The meta member contains the meta information of the request.
          properties:
            attributes:
              $ref: '#/components/schemas/AttributesMember'
            language:
              $ref: '#/components/schemas/LanguageMember'
            sort:
              description: Sortable attributes. The sort order is ascending unless it is prefixed with a minus sign, in which case it is descending. A list of at most 2 (possibly prefixed) attribute name(s) is allowed.
              type: array
              items:
                type: string
                enum:
                - datasets.dataset.id
                - -datasets.dataset.id
                - datasets.dataset.name
                - -datasets.dataset.name
              maxItems: 2
              uniqueItems: true
              default:
              - datasets.dataset.name
          x-property-sort:
          - attributes
          - language
          - sort
          example: example_value
    PartialOutputObject:
      type: object
      properties:
        isPartial:
          type: boolean
          description: Flag indicating that the response is a possibly incomplete array or an object containing a possibly incomplete array, due to hitting a processing time limit. If `true`, some matching results might be missing from the array, or elements for matching results might be incorrectly included (for example, when priority sorting would have removed the element). Depending on the use case, such a response may be unsuitable.
          example: true
      description: Object denoting that the endpoint response is possibly incomplete.
      required:
      - isPartial
      x-property-sort:
      - isPartial
    PostInstrumentNotationListRequest:
      x-property-sort:
      - data
      - meta
      description: Request Body
      type: object
      properties:
        data:
          type: object
          x-property-sort:
          - identifier
          - filter
          description: The data member contains the request's primary data.
          properties:
            identifier:
              type: object
              x-property-sort:
              - values
              - type
              description: Set of identifiers and their type.
              properties:
                values:
                  description: Set of identifiers to resolve.
                  type: array
                  items:
                    type: string
                    minLength: 3
                    maxLength: 50
                    pattern: ^[B-DF-HJ-NP-TV-Z0-9]{6}-[SLR]$|^[A-Z0-9.#&*+]{1,47}-[A-Z0-9]{2,4}$|^[0-9]{3,20}$|^[B-DF-HJ-NP-TV-Z0-9]{6}[0-9]$|^[A-Z]{2}[A-Z0-9]{9}[0-9]$|^[A-Z1-9][A-Z0-9]{5}$|^[0-9]{1,9}$|^[A-Z0-9]{8}[0-9]$
                  uniqueItems: true
                  minItems: 1
                  maxItems: 100
                type:
                  type: string
                  description: Type of the identifier.
                  x-enum-description:
                  - MDG identifier of an instrument.
                  - MDG identifier of a listing.
                  - FactSet Permanent Identifier on security level.
                  - FactSet Permanent Identifier on listing level.
                  - Regional FactSet Permanent Identifier.
                  - FactSet market symbol of a listing.
                  - Regional FactSet ticker symbol.
                  - SEDOL or IDII of a listing.
                  - ISIN of an instrument.
                  - WKN of an instrument.
                  - Valor number of an instrument.
                  - CUSIP or CINS identifier of an instrument
                  enum:
                  - idInstrument
                  - idNotation
                  - fdsPermanentIdentifierSecurity
                  - fdsPermanentIdentifierListing
                  - fdsPermanentIdentifierRegional
                  - tickerExchange
                  - tickerRegion
                  - sedol
                  - isin
                  - wkn
                  - valor
                  - cusip
              required:
              - values
              - type
            filter:
              type: object
              x-property-sort:
              - valueUnit
              - market
              description: Criteria that filter the items in the response list; only items that match all of the criteria are returned.
              properties:
                valueUnit:
                  type: object
                  x-property-sort:
                  - selection
                  - order
                  description: Value unit-related notation selection. See endpoint `/basic/valueUnit/list` for valid values.
                  properties:
                    selection:
                      type: object
                      x-property-sort:
                      - restrict
                      - exclude
                      x-atMostOne: true
                      description: Value unit selection.
                      properties:
                        restrict:
                          type: object
                          x-property-sort:
                          - ids
                          description: Specifies the value units a notation may have.
                          properties:
                            ids:
                              description: Set of value unit identifiers.
                              type: array
                              items:
                                type: number
                                format: id32
                                x-positive: true
                              uniqueItems: true
                              maxItems: 100
                        exclude:
                          type: object
                          x-property-sort:
                          - ids
                          description: Specifies the value units a notation may not have.
                          properties:
                            ids:
                              description: Set of value unit identifiers.
                              type: array
                              items:
                                type: number
                                format: id32
                                x-positive: true
                              uniqueItems: true
                              maxItems: 100
                    order:
                      type: object
                      x-property-sort:
                      - ids
                      description: Sequence of value unit identifiers specifying the sorting of the notations per instrument; if the value unit of notation A precedes the value unit of notation B in this list, A precedes B in the result. Notations whose value unit is not in this list sort last. The ordering is applied only when the parameter `meta.sort` contains the attribute `notations.valueUnit.id`; the parameter `meta.sort` cannot contain that attribute if the attribute `valueUnit.order` is absent. The list does not restrict the request to only those value units, use the parameter `valueUnit.selection` for that purpose.
                      properties:
                        ids:
                          description: List of value unit identifiers.
                          type: array
                          items:
                            type: number
                            format: id32
                            x-positive: true
                          uniqueItems: true
                          maxItems: 100
                market:
                  type: object
                  x-property-sort:
                  - selection
                  - order
                  description: Market-related notation selection. See endpoint `/basic/market/list` for valid values.
                  properties:
                    selection:
                      type: object
                      x-property-sort:
                      - restrict
                      - exclude
                      - sipOnly
                      x-atMostOne: true
                      description: Market selection.
                      properties:
                        restrict:
                          type: object
                          x-property-sort:
                          - ids
                          description: Specifies the markets from which a notation may originate.
                          properties:
                            ids:
                              description: Set of market identifiers.
                              type: array
                              items:
                                type: number
                                format: id32
                                x-positive: true
                              uniqueItems: true
                              maxItems: 100
                        exclude:
                          type: object
                          x-property-sort:
                          - ids
                          description: Specifies the markets from which a notation may not originate.
                          properties:
                            ids:
                              description: Set of market identifiers.
                              type: array
                              items:
                                type: number
                                format: id32
                                x-positive: true
                              uniqueItems: true
                              maxItems: 100
                        sipOnly:
                          type: boolean
                          description: If `true`, only notations are returned that are traded on a market that reports to a U.S. Securities Information Processor (SIP).
                    order:
                      type: object
                      x-property-sort:
                      - ids
                      description: Sequence of market identifiers specifying the sorting of the notations per instrument; if the market of notation A precedes the market of notation B in this list, A precedes B in the result. Notations whose market is not in this list sort last. The ordering is applied only when the parameter `meta.sort` contains the attribute `notations.market.id`; the parameter `meta.sort` cannot contain that attribute if the attribute `market.order` is absent. The list does not restrict the request to only those markets, use the parameter `market.selection` for that purpose.
                      properties:
                        ids:
                          description: List of market identifiers.
                          type: array
                          items:
                            type: number
                            format: id32
                            x-positive: true
                          uniqueItems: true
                          maxItems: 100
          required:
          - identifier
          example: example_value
        meta:
          type: object
          description: The meta member contains the meta information of the request.
          properties:
            attributes:
              $ref: '#/components/schemas/AttributesMember'
            language:
              $ref: '#/components/schemas/LanguageMember'
            sort:
              description: Sortable attributes. The sort order is ascending unless it is prefixed with a minus sign, in which case it is descending. A list of at most 1 (possibly prefixed) attribute name(s) is allowed.
              type: array
              items:
                type: string
                enum:
                - notations.market.id
                - -notations.market.id
                - notations.market.name
                - -notations.market.name
                - notations.valueUnit.id
                - -notations.valueUnit.id
                - notations.valueUnit.name
                - -notations.valueUnit.name
                - notations.tradingVolume.month1.average
                - -notations.tradingVolume.month1.average
              maxItems: 1
              uniqueItems: true
              default:
              - notations.tradingVolume.month1.average
          x-property-sort:
          - attributes
          - language
          - sort
          example: example_value
    StatusObject:
      type: object
      properties:
        code:
          type: number
          format: int32
          description: The HTTP status code of the response, mirroring the code from the Status-Line of the HTTP response message (see [RFC2616] section 6.1).
          example: 42.5
      description: The status member contains the status code of the response.
      required:
      - code
    OffsetBasedPaginationOutputObject:
      type: object
      description: Pagination attributes for the offset-based pagination strategy.
      properties:
        total:
          type: number
          format: int32
          description: Total number of entries in the result set.
          example: 42.5
        isEstimatedTotal:
          type: boolean
          description: Flag indicating that the value of "total" is estimated.
          example: true
      required:
      - total
      - isEstimatedTotal
      x-property-sort:
      - total
      - isEstimatedTotal
    PostInstrumentSelectionListMembersListRequest:
      x-property-sort:
      - data
      - meta
      description: Request Body
      type: object
      properties:
        data:
          type: object
          x-property-sort:
          - id
          - filter
          description: The data member contains the request's primary data.
          properties:
            id:
              type: number
              format: id32
              x-positive: true
              description: Identifier of a selection list.
            filter:
              type: object
              x-property-sort:
              - assetClass
              - category
              description: Criteria that filter the items in the response list; only items that match all of the criteria are returned.
              properties:
                assetClass:
                  type: object
                  x-property-sort:
                  - ids
                  description: Asset class restriction.
                  properties:
                    ids:
                      description: Set of asset class identifiers. See endpoint `/basic/assetClass/list` for valid values.
                      type: array
                      items:
                        type: number
                        format: id32
                        x-positive: true
                      uniqueItems: true
                      maxItems: 12
                category:
                  type: object
                  x-property-sort:
                  - restrict
                  - exclude
                  description: Category selection. Identifiers from all entitled category systems can be used, see endpoint `/category/system/list` with `idType=1` for the list of category systems.
                  x-atMostOne: true
                  properties:
                    restrict:
                      type: object
                      x-property-sort:
                      - ids
                      description: Specifies the categories that the instruments may have.
                      properties:
                        ids:
                          description: Set of category identifiers.
                          type: array
                          items:
                            type: number
                            format: id32
                            x-positive: true
                          uniqueItems: true
                          maxItems: 20
                    exclude:
                      type: object
                      x-property-sort:
                      - ids
                      description: Specifies the categories that the instruments may not have.
                      properties:
                        ids:
                          description: Set of category identifiers.
                          type: array
                          items:
                            type: number
                            format: id32
                            x-positive: true
                          uniqueItems: true
                          maxItems: 20
          required:
          - id
          example: example_value
        meta:
          type: object
          description: The meta member contains the meta information of the request.
          properties:
            attributes:
              $ref: '#/components/schemas/AttributesMember'
            language:
              $ref: '#/components/schemas/LanguageMember'
            sort:
              description: Sortable attributes. The sort order is ascending unless it is prefixed with a minus sign, in which case it is descending. A list of at most 4 (possibly prefixed) attribute name(s) is allowed.
              type: array
              items:
                type: string
                enum:
                - name.default.long
                - -name.default.long
                - name.default.short
                - -name.default.short
                - name.assetClassSpecific.long
                - -name.assetClassSpecific.long
                - name.assetClassSpecific.short
                - -name.assetClassSpecific.short
              maxItems: 4
              uniqueItems: true
              default:
              - name.default.long
            pagination:
              type: object
              description: Pagination attributes for the offset-based pagination strategy.
              properties:
                offset:
                  type: number
                  format: int32
                  minimum: 0
                  default: 0
                  description: Non-negative number of entries to skip, or 0 (default).
                limit:
                  type: number
                  format: int32
                  minimum: 0
                  maximum: 500
                  default: 20
                  description: Non-negative maximum number of entries to return.
              x-property-sort:
              - offset
              - limit
          x-property-sort:
          - attributes
          - language
          - sort
          - pagination
          example: example_value
    AttributesMember:
      type: array
      description: Limit the attributes returned in the response to the specified set.
      items:
        type: string
        maxLength: 100
      maxItems: 50
      uniqueItems: true
    PostInstrumentCrossReferenceListByWKNRequest:
      x-property-sort:
      - data
      - meta
      description: Request Body
      required:
      - data
      type: object
      properties:
        data:
          type: object
          x-property-sort:
          - wkns
          description: The data member contains the request's primary data.
          properties:
            wkns:
              description: List of source WKNs to be translated.
              type: array
              items:
                type: string
                minLength: 6
                maxLength: 6
                pattern: ^[A-Z0-9]*$
              uniqueItems: true
              minItems: 1
              maxItems: 10
          required:
          - wkns
          example: example_value
        meta:
          type: object
          description: The meta member contains the meta information of the request.
          properties:
            attributes:
              $ref: '#/components/schemas/AttributesMember'
          x-property-sort:
          - attributes
          example: example_value
    LanguageMember:
      type: string
      format: isoLanguage
      description: ISO 639-1 code of the language.
      maxLength: 2
      minLength: 2
    PostNotationCrossReferenceListByInstrumentRequest:
      x-property-sort:
      - data
      - meta
      description: Request Body
      type: object
      properties:
        data:
          type: object
          x-property-sort:
          - identifier
          - filter
          description: The data member contains the request's primary data.
          properties:
            identifier:
              type: object
              x-property-sort:
              - value
              - type
              description: Identifier and type.
              properties:
                value:
                  type: string
                  pattern: ^[B-DF-HJ-NP-TV-Z0-9]{6}-[SLR]$|^[A-Z0-9.#&*+]{1,47}-[A-Z0-9]{2,4}$|^[0-9]{3,20}$|^[B-DF-HJ-NP-TV-Z0-9]{6}[0-9]$|^[A-Z]{2}[A-Z0-9]{9}[0-9]$|^[A-Z1-9][A-Z0-9]{5}$|^[0-9]{1,9}$|^[A-Z0-9]{8}[0-9]$
                  maxLength: 50
                  minLength: 3
                  description: Identifier to resolve.
                type:
                  type: string
                  description: Type of the identifier.
                  x-enum-description:
                  - MDG identifier of an instrument.
                  - MDG identifier of a listing.
                  - FactSet Permanent Identifier on security level.
                  - FactSet Permanent Identifier on listing level.
                  - Regional FactSet Permanent Identifier.
                  - FactSet market symbol of a listing.
                  - Regional FactSet ticker symbol.
                  - SEDOL or IDII of a listing.
                  - ISIN of an instrument.
                  - WKN of an instrument.
                  - Valor number of an instrument.
                  - CUSIP or CINS identifier of an instrument
                  enum:
                  - idInstrument
                  - idNotation
                  - fdsPermanentIdentifierSecurity
                  - fdsPermanentIdentifierListing
                  - fdsPermanentIdentifierRegional
                  - tickerExchange
                  - tickerRegion
                  - sedol
                  - isin
                  - wkn
                  - valor
                  - cusip
              required:
              - value
              - type
            filter:
              type: object
              x-property-sort:
              - markets
              - valueUnits
              - onlyActive
              description: Criteria that filter the items in the response list; only items that match all of the criteria are returned.
              properties:
                markets:
                  type: object
                  x-property-sort:
                  - ids
                  description: Filter for specific markets.
                  properties:
                    ids:
                      type: array
                      items:
                        type: number
                        format: id32
                        x-positive: true
                      maxItems: 100
                      minItems: 1
                      description: List of market ids.
                valueUnits:
                  type: object
                  x-property-sort:
                  - ids
                  description: Filter for specific value units.
                  properties:
                    ids:
                      type: array
                      items:
                        type: number
                        format: id32
                        x-positive: true
                      maxItems: 100
                      minItems: 1
                      description: List of value unit ids.
                onlyActive:
                  type: boolean
                  default: false
                  description: If true, only active notations will be returned. The term "active" reflects the fact that notations and related data is not being deleted immediately after becoming irrelevant (e.g. because the source does not provide a price anymore), but remains in general retrievable for up to 6 months.
          required:
          - identifier
          example: example_value
        meta:
          type: object
          description: The meta member contains the meta information of the request.
          properties:
            attributes:
              $ref: '#/components/schemas/AttributesMember'
            language:
              $ref: '#/components/schemas/LanguageMember'
          x-property-sort:
          - attributes
          - language
          example: example_value
  responses:
    GetInstrumentMifidGet200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: object
                properties:
                  idInstrument:
                    type:
                    - string
                    - 'null'
                    format: id64
                    x-positive: true
                    description: MDG identifier of the instrument.
                  sourceIdentifier:
                    type:
                    - string
                    - 'null'
                    description: Identifier used in the request.
                  general:
                    type: object
                    x-property-sort:
                    - isin
                    - name
                    - currency
                    - reportingDate
                    - legalStructure
                    - fund
                    - issuer
                    - guarantor
                    - type
                    - leveragedOrContingent
                    - manufacturer
                    - approvalProcedure
                    - complexProduct
                    description: General information.
                    properties:
                      isin:
                        type:
                        - string
                        - 'null'
                        format: isin
                        description: International Securities Identification Number (ISIN).
                      name:
                        type:
                        - string
                        - 'null'
                        format: localizedString
                        description: Name of the investment product.
                      currency:
                        type: object
                        x-property-sort:
                        - id
                        - isoCode
                        description: Denomination currency of the investment product. This attribute is also decisive for the main currency many of the cost attributes are originally provided in, assumed the quotation type (see attribute `quotation`) has the value 1 (currency amount per unit). See endpoint `/basic/valueUnit/currency/main/list` for valid values.
                        properties:
                          id:
                            type:
                            - number
                            - 'null'
                            format: id32
                            x-positive: true
                            description: Identifier of the currency.
                          isoCode:
                            type:
                            - string
                            - 'null'
                            description: ISO 4217 code of the currency.
                      reportingDate:
                        type:
                        - string
                        - 'null'
                        format: date
                        description: The date to which the MiFID II data refers.
                      legalStructure:
                        type: object
                        x-property-sort:
                        - id
                        - name
                        description: Basic legal structure categorization of the investment product. See endpoint `/category/listBySystem` for category system 38 for possible values.
                        properties:
                          id:
                            type:
                            - number
                            - 'null'
                            format: id32
                            x-positive: true
                            description: Identifier of the category.
                          name:
                            type:
                            - string
                            - 'null'
                            format: localizedString
                            description: Name of the category.
                      fund:
                        type: object
                        x-property-sort:
                        - id
                        - name
                        - domicile
                        description: For an instrument that represents a share class of an investment fund, the juristic person in the role of a fund. For more information see endpoint `/legalEntity/list`.
                        properties:
                          id:
                            type:
                            - number
                            - 'null'
                            format: id32
                            x-positive: true
                            description: Identifier of the juristic person in the role of a fund.
                          name:
                            type:
                            - string
                            - 'null'
                            description: Name of the juristic person in the role of a fund.
                          domicile:
                            type: object
                            x-property-sort:
                            - id
                            - name
                            description: The domicile country of the fund. This is the country of registration of the juristic person that is in the fund role. For more information about countries see endpoint `/basic/region/country/list`.
                            properties:
                              id:
                                type:
                                - number
                                - 'null'
                                format: id32
                                x-positive: true
                                description: Identifier of the country.
                              name:
                                type:
                                - string
                                - 'null'
                                format: localizedString
                                description: Name of the country.
                      issuer:
                        type: object
                        x-property-sort:
                        - id
                        - name
                        - lei
                        description: Issuer of the investment product.
                        properties:
                          id:
                            type:
                            - number
                            - 'null'
                            format: id32
                            x-positive: true
                            description: Identifier of the issuer.
                          name:
                            type:
                            - string
                            - 'null'
                            description: Name of the issuer.
                          lei:
                            type:
                            - string
                            - 'null'
                            description: Legal entity identifier (LEI) of the issuer.
                      guarantor:
                        type: object
                        x-property-sort:
                        - id
                        - name
                        - lei
                        description: Guarantor of the investment product.
                        properties:
                          id:
                            type:
                            - number
                            - 'null'
                            format: id32
                            x-positive: true
                            description: Identifier of the guarantor.
                          name:
                            type:
                            - string
                            - 'null'
                            description: Name of the guarantor.
                          lei:
                            type:
                            - string
                            - 'null'
                            description: Legal entity identifier (LEI) of the guarantor.
                      type:
                        type: object
                        x-property-sort:
                        - id
                        - name
                        description: Type of the investment product. See endpoint `/category/list` for valid values
                        properties:
                          id:
                            type:
                            - number
                            - 'null'
                            format: id32
                            x-positive: true
                            description: Identifier of the category.
                          name:
                            type:
                            - string
                            - 'null'
                            format: localizedString
                            description: Name of the category.
                      leveragedOrContingent:
                        type:
                        - boolean
                        - 'null'
                        description: Indicates whether the investment product has leverage or implies a contingent liability.
                      manufacturer:
                        type: object
                        x-property-sort:
                        - id
                        - name
                        - lei
                        description: Manufacturer of the investment product.
                        properties:
                          id:
                            type:
                            - number
                            - 'null'
                            format: id32
                            x-positive: true
                            description: Identifier of the manufacturer.
                          name:
                            type:
                            - string
                            - 'null'
                            description: Name of the manufacturer.
                          lei:
                            type:
                            - string
                            - 'null'
                            description: Legal entity identifier (LEI) of the manufacturer.
                      approvalProcedure:
                        description: Information on the approval procedure undergone by the investment product.
                        type:
                        - string
                        - 'null'
                        x-enum-description:
                        - Pursuant to MiFID II
                        - Comparable to MiFID II
                        - Not-in-accordance with MiFID II
                        - Not required
                        - Information not available
                        enum:
                        - pursuant
                        - comparable
                        - notInAccordance
                        - notRequired
                        - notRelevant
                      complexProduct:
                        description: Indicates whether the investment product is considered a complex one.
                        type:
                        - string
                        - 'null'
                        x-enum-description:
                        - 'Yes'
                        - 'No'
                        - Situational verification by the customer necessary
                        - Not relevant
                        enum:
                        - 'yes'
                        - 'no'
                        - situational
                        - notRelevant
                  targetMarket:
                    type: object
                    x-property-sort:
                    - investorType
                    - knowledgeAndExperience
                    - abilityToBearLosses
                    - riskTolerance
                    - clientObjectivesAndNeeds
                    - recommendedHoldingPeriod
                    description: Target market.
                    properties:
                      investorType:
                        type: object
                        x-property-sort:
                        - retail
                        - professional
                        - eligibleCounterParty
                        description: Describes the intended type of investors for an investment product.
                        properties:
                          retail:
                            description: Indicates whether the investment product is suitable for retail clients.
                            type:
                            - string
                            - 'null'
                            x-enum-description:
                            - 'Yes'
                            - 'No'
                            - Neutral
                            enum:
                            - 'yes'
                            - 'no'
                            - neutral
                          professional:
                            description: Indicates whether the investment product is suitable for professional clients.
                            type:
                            - string
                            - 'null'
                            x-enum-description:
                            - 'Yes'
                            - 'No'
                            - Neutral
                            - Per se professional
                            - Elective professional
                            - Both (Per se and elective professional)
                            enum:
                            - 'yes'
                            - 'no'
                            - neutral
                            - perSe
                            - elective
                            - both
                          eligibleCounterParty:
                            description: Indicates whether the investment product is suitable for clients of type eligible counterparty.
                            type:
                            - string
                            - 'null'
                            x-enum-description:
                            - 'Yes'
                            - 'No'
                            - Neutral
                            enum:
                            - 'yes'
                            - 'no'
                            - neutral
                      knowledgeAndExperience:
                        type: object
                        x-property-sort:
                        - basicInvestor
                        - informedInvestor
                        - advancedInvestor
                        - germany
                        description: Describes the level of knowledge and experience an investor should have in order to acquire the investment product.
                        properties:
                          basicInvestor:
                            description: Indicates whether the investment product is suitable for investors having basic knowledge and experience. Basic knowledge and experience means that the investor can make an informed investment decision based on the regulated and authorized offering documentation or with the help of basic information provided by the point of sale or the investor has no financial industry experience, i.e. the investment product is suitable for a first-time investor
                            type:
                            - string
                            - 'null'
                            x-enum-description:
                            - 'Yes'
                            - 'No'
                            - Neutral
                            - Yes with feedback
                            enum:
                            - 'yes'
                            - 'no'
                            - neutral
                            - feedback
                          informedInvestor:
                            description: Indicates whether the investment product is suitable for investors with an informed level of knowledge and experience. Informed investors have the ability to understand the particular financial instrument. Additionally, the investor must have a number of investment holdings in relevant financial instruments or must be involved in frequent trading activity in those.
                            type:
                            - string
                            - 'null'
                            x-enum-description:
                            - 'Yes'
                            - 'No'
                            - Neutral
                            - Yes with feedback
                            enum:
                            - 'yes'
                            - 'no'
                            - neutral
                            - feedback
                          advancedInvestor:
                            description: Indicates whether the investment product is suitable for investors with an advanced level of knowledge and experience. An advanced investor has comprehensive understanding of relevant financial instruments. Additionally, the investor must have a large number of diverse investment holdings in relevant financial instruments; must be involved in frequent trading activity in those, must have had previous exposure to high-risk or complex investments or must have relevant financial industry experience.
                            type:
                            - string
                            - 'null'
                            x-enum-description:
                            - 'Yes'
                            - 'No'
                            - Neutral
                            - Yes with feedback
                            enum:
                            - 'yes'
                            - 'no'
                            - neutral
                            - feedback
                          germany:
                            type: object
                            x-property-sort:
                            - expertInvestor
                            description: Specific indicators for Germany.
                            properties:
                              expertInvestor:
                                description: Indicates whether the investment product is suitable for investors with an expert level of knowledge and experience. This regulatory requirement is available only in Germany, e.g. for investment in a contract for difference (CFD).
                                type:
                                - string
                                - 'null'
                                x-enum-description:
                                - 'Yes'
                                - 'No'
                                - Neutral
                                - Yes with feedback
                                enum:
                                - 'yes'
                                - 'no'
                                - neutral
                                - feedback
                      abilityToBearLosses:
                        type: object
                        x-property-sort:
                        - noCapitalLoss
                        - limitedCapitalLoss
                        - noCapitalGuarantee
                        - lossBeyondCapital
                        - maximumCapitalLoss
                        description: Describes the potential loss associated with the investment product an investor shall be willing to accept.
                        properties:
                          noCapitalLoss:
                            description: Indicates whether the investment product is suitable for investors not able to bear capital loss. Minor loss e.g. due to costs is possible.
                            type:
                            - string
                            - 'null'
                            x-enum-description:
                            - 'Yes'
                            - 'No'
                            - Neutral
                            - Yes with feedback
                            enum:
                            - 'yes'
                            - 'no'
                            - neutral
                            - feedback
                          limitedCapitalLoss:
                            description: Indicates whether the investment product is suitable for investors able to bear limited capital loss.
                            type:
                            - string
                            - 'null'
                            x-enum-description:
                            - 'Yes'
                            - 'No'
                            - Neutral
                            - Yes with feedback
                            enum:
                            - 'yes'
                            - 'no'
                            - neutral
                            - feedback
                          noCapitalGuarantee:
                            description: Indicates whether the investment product is suitable for investors able to bear total capital loss.
                            type:
                            - string
                            - 'null'
                            x-enum-description:
                            - 'Yes'
                            - 'No'
                            - Neutral
                            - Yes with feedback
                            enum:
                            - 'yes'
                            - 'no'
                            - neutral
                            - feedback
                          lossBeyondCapital:
                            description: Indicates whether the investment product is suitable for investors able to bear loss beyond the invested capital.
                            type:
                            - string
                            - 'null'
                            x-enum-description:
                            - 'Yes'
                            - 'No'
                            - Neutral
                            - Yes with feedback
                            enum:
                            - 'yes'
                            - 'no'
                            - neutral
                            - feedback
                          maximumCapitalLoss:
                            type:
                            - number
                            - 'null'
                            format: relativeValue
                            description: Maximum loss of the invested capital assumed the investment product is held until maturity.
                      riskTolerance:
                        type: object
                        x-property-sort:
                        - sri
                        - srri
                        - internalRiskRating
                        - spain
                        - germany
                        description: Quantifies the risk associated with the product by assigning a rating using an appropriate risk rating system.
                        properties:
                          sri:
                            type: object
                            x-property-sort:
                            - id
                            - rank
                            - description
                            description: Summary risk indicator (SRI).
                            properties:
                              id:
                                type:
                                - number
                                - 'null'
                                format: id32
                                x-positive: true
                                description: Identifier of rating grade.
                              rank:
                                type:
                                - string
                                - 'null'
                                description: Rating grade.
                              description:
                                type:
                                - string
                                - 'null'
                                format: localizedString
                                description: Description of the rating grade.
                          srri:
                            type: object
                            x-property-sort:
                            - id
                            - rank
                            - description
                            description: Synthetic risk and reward indicator (SRRI).
                            properties:
                              id:
                                type:
                                - number
                                - 'null'
                                format: id32
                                x-positive: true
                                description: Identifier of rating grade.
                              rank:
                                type:
                                - string
                                - 'null'
                                description: Rating grade.
                              description:
                                type:
                                - string
                                - 'null'
                                format: localizedString
                                description: Description of the rating grade.
                          internalRiskRating:
                            type: object
                            x-property-sort:
                            - id
                            - rank
                            - description
                            description: MiFID risk rating as per the internal methodology of the issuer.
                            properties:
                              id:
                                type:
                                - number
                                - 'null'
                                format: id32
                                x-positive: true
                                description: Identifier of rating grade.
                              rank:
                                type:
                                - string
                                - 'null'
                                description: Rating grade.
                              description:
                                type:
                                - string
                                - 'null'
                                format: localizedString
                                description: Description of the rating grade.
                          spain:
                            type: object
                            x-property-sort:
                            - sri
                            description: Specific indicators for Spain.
                            properties:
                              sri:
                                type: object
                                x-property-sort:
                                - id
                                - rank
                                - description
                                description: Summary risk indicator (SRI).
                                properties:
                                  id:
                                    type:
                                    - number
                                    - 'null'
                                    format: id32
                                    x-positive: true
                                    description: Identifier of rating grade.
                                  rank:
                                    type:
                                    - string
                                    - 'null'
                                    description: Rating grade.
                                  description:
                                    type:
                                    - string
                                    - 'null'
                                    format: localizedString
                                    description: Description of the rating grade.
                          germany:
                            type: object
                            x-property-sort:
                            - lowestRiskTolerance
                            description: Specific indicators for Germany.
                            properties:
                              lowestRiskTolerance:
                                type:
                                - boolean
                                - 'null'
                                description: Indicates whether the investment product is suitable for investors with the lowest risk tolerance.
                      clientObjectivesAndNeeds:
                        type: object
                        x-property-sort:
                        - returnProfile
                        - maturityDate
                        - mayBeTerminatedEarly
                        - specificInvestmentNeed
                        description: Characterizes the investment product regarding its ability to serve specific investment objectives.
                        properties:
                          returnProfile:
                            type: object
                            x-property-sort:
                            - preservation
                            - growth
                            - income
                            - financing
                            - hedging
                            - optionOrLeveraged
                            - other
                            - germany
                            description: Indicates whether the investment product is suitable for investors with specific return profiles.
                            properties:
                              preservation:
                                description: Indicates whether the investment product is suitable for investors with the return profile "preservation".
                                type:
                                - string
                                - 'null'
                                x-enum-description:
                                - 'Yes'
                                - 'No'
                                - Neutral
                                - Yes with feedback
                                enum:
                                - 'yes'
                                - 'no'
                                - neutral
                                - feedback
                              growth:
                                description: Indicates whether the investment product is suitable for investors with the return profile "growth".
                                type:
                                - string
                                - 'null'
                                x-enum-description:
                                - 'Yes'
                                - 'No'
                                - Neutral
                                - Yes with feedback
                                enum:
                                - 'yes'
                                - 'no'
                                - neutral
                                - feedback
                              income:
                                description: Indicates whether the investment product is suitable for investors with the return profile "income".
                                type:
                                - string
                                - 'null'
                                x-enum-description:
                                - 'Yes'
                                - 'No'
                                - Neutral
                                - Yes with feedback
                                enum:
                                - 'yes'
                                - 'no'
                                - neutral
                                - feedback
                              financing:
                                description: Indicates whether the investment product is suitable for investors with the return profile "financing".
                                type:
                                - string
                                - 'null'
                                x-enum-description:
                                - 'Yes'
                                - 'No'
                                - Neutral
                                - Yes with feedback
                                enum:
                                - 'yes'
                                - 'no'
                                - neutral
                                - feedback
                              hedging:
                                description: Indicates whether the investment product is suitable for investors with the return profile "hedging".
                                type:
                                - string
                                - 'null'
                                x-enum-description:
                                - 'Yes'
                                - 'No'
                                - Neutral
                                - Yes with feedback
                                enum:
                                - 'yes'
                                - 'no'
                                - neutral
                                - feedback
                              optionOrLeveraged:
                                description: Indicates whether the investment product is suitable for investors with the return profile "leverage".
                                type:
                                - string
                                - 'null'
                                x-enum-description:
                                - 'Yes'
                                - 'No'
                                - Neutral
                                - Yes with feedback
                                enum:
                                - 'yes'
                                - 'no'
                                - neutral
                                - feedback
                              other:
                                description: Indicates whether the investment product is suitable for investors with the return profile "other".
                                type:
                                - string
                                - 'null'
                                x-enum-description:
                                - 'Yes'
                                - 'No'
                                - Neutral
                                - Yes with feedback
                                enum:
                                - 'yes'
                                - 'no'
                                - neutral
                                - feedback
                              germany:
                                type: object
                                x-property-sort:
                                - pensionScheme
                                description: Specific indicators for Germany.
                                properties:
                                  pensionScheme:
                                    description: Indicates whether the investment product is suitable for investors with the return profile "pension scheme". This regulatory requirement is available only in Germany ("Riester Rente").
                                    type:
                                    - string
                                    - 'null'
                                    x-enum-description:
                                    - 'Yes'
                                    - 'No'
                                    - Neutral
                                    - Yes with feedback
                                    enum:
                                    - 'yes'
                                    - 'no'
                                    - neutral
                                    - feedback
                          maturityDate:
                            type:
                            - string
                            - 'null'
                            format: date
                            description: Maturity date of the investment product.
                          mayBeTerminatedEarly:
                            description: Indicates whether the investment product is unsuitable for investors not accepting financial products with potential termination prior to maturity. (That means, a "yes" value indicates that the product may not last until maturity and thus conflicts with an investor profile rejecting premature redemption.) The termination could be initiated by the issuer (callable), by the investor (puttable) or automatically due to an event, e.g. barrier breach (auto-callable).
                            type:
                            - string
                            - 'null'
                            x-enum-description:
                            - 'Yes'
                            - 'No'
                            - Neutral
                            - Yes with feedback
                            enum:
                            - 'yes'
                            - 'no'
                            - neutral
                            - feedback
                          specificInvestmentNeed:
                            description: Indicates whether the investment product is suitable for investors with a specific investment need. This attribute provides either a general statement (yes or no) or a set of needs (green investment, ethical investment, islamic banking, Environmental, social and governance (ESG), other) covered by the product.
                            type: array
                            items:
                              type: string
                              x-enum-description:
                              - 'Yes'
                              - 'No'
                              - Green Investment
                              - Ethical Investment
                              - Islamic Banking
                              - Environmental, Social and Governance (ESG)
                              - Other
                              enum:
                              - 'yes'
                              - 'no'
                              - green
                              - ethical
                              - islamic
                              - esg
                              - other
                      recommendedHoldingPeriod:
                        type: object
                        x-property-sort:
                        - holdingPeriod
                        - holdingPeriodYears
                        description: States the recommended holding period of the product.
                        properties:
                          holdingPeriod:
                            description: Indicates the recommended holding period (RHP) of the investment product whereby more than one RHP per product may exist.
                            type: array
                            items:
                              type: string
                              x-enum-description:
                              - Very short (<1 year)
                              - Short (<3 years)
                              - Medium (<5 years)
                              - Long (5 years)
                              - Neutral
                              enum:
                              - veryShort
                              - short
                              - medium
                              - long
                              - neutral
                          holdingPeriodYears:
                            type:
                            - number
                            - 'null'
                            format: real
                            description: Indicates the length of the recommended holding period (RHP) of the investment product in years, not available if the attribute `holdingPeriod` is set.
                  distributionChannel:
                    type: object
                    x-property-sort:
                    - executionOnly
                    - executionAppropriateness
                    - investmentAdvice
                    - portfolioManagement
                    description: MiFID distribution channel provides information on the different services a firm might employ in order to deliver an investment product to its customers and on the client type the particular service is appropriate for.
                    properties:
                      executionOnly:
                        description: Indicates the client type(s) for which the investment product is suitable through the distribution channel "execution only / reception and transmission of orders (RTO) without appropriateness assessment".
                        type:
                        - string
                        - 'null'
                        x-enum-description:
                        - Retail
                        - Professional
                        - Both
                        - None
                        enum:
                        - retail
                        - professional
                        - both
                        - none
                      executionAppropriateness:
                        description: Indicates the client type(s) for which the investment product is suitable through the distribution channel "execution only / reception and transmission of orders (RTO) with appropriateness assessment".
                        type:
                        - string
                        - 'null'
                        x-enum-description:
                        - Retail
                        - Professional
                        - Both
                        - None
                        enum:
                        - retail
                        - professional
                        - both
                        - none
                      investmentAdvice:
                        description: Indicates the client type(s) for which the investment product is suitable through the distribution channel "investment advice with suitability assessment".
                        type:
                        - string
                        - 'null'
                        x-enum-description:
                        - Retail
                        - Professional
                        - Both
                        - None
                        enum:
                        - retail
                        - professional
                        - both
                        - none
                      portfolioManagement:
                        description: Indicates the client type for which the investment product is suitable through the distribution channel "discretionary/portfolio management with suitability assessment".
                        type:
                        - string
                        - 'null'
                        x-enum-description:
                        - Retail
                        - Professional
                        - Both
                        - None
                        enum:
                        - retail
                        - professional
                        - both
                        - none
                  costsAndCharges:
                    type: object
                    x-property-sort:
                    - quotation
                    - exAnte
                    - exPost
                    description: MiFID cost is the disclosure of information on costs and charges related to an investment product and on the investment or ancillary service provided to a client. MiFID distinguishes between ex-ante and ex-post disclosure of costs.
                    properties:
                      quotation:
                        description: Quotation type originally used for providing most of the cost items of the investment product.
                        type:
                        - string
                        - 'null'
                        x-enum-description:
                        - Currency amount per unit
                        - In percent
                        enum:
                        - currency
                        - percent
                      exAnte:
                        type: object
                        x-property-sort:
                        - oneOffEntryCost
                        - italy
                        - oneOffMaximumAcquiredEntryCost
                        - oneOffMaximumExitCost
                        - oneOffMaximumAcquiredExitCost
                        - oneOffTypicalExitCost
                        - oneOffPriorRHPExitCost
                        - ongoingCosts
                        - managementFee
                        - distributionFee
                        - transactionCosts
                        - incidentalCosts
                        description: Disclosure on costs and charges at the point of sale based on reasonable estimations.
                        properties:
                          oneOffEntryCost:
                            type: object
                            x-property-sort:
                            - value
                            - valueUnit
                            description: One-off ex ante entry cost of the investment product.
                            properties:
                              value:
                                type:
                                - number
                                - 'null'
                                format: real
                                description: Value of the attribute.
                              valueUnit:
                                type: object
                                x-property-sort:
                                - id
                                - code
                                description: Value unit of the attribute
                                properties:
                                  id:
                                    type:
                                    - number
                                    - 'null'
                                    format: id32
                                    x-positive: true
                                    description: Identifier of the value unit
                                  code:
                                    type:
                                    - string
                                    - 'null'
                                    description: Code of the value unit
                          italy:
                            type: object
                            x-property-sort:
                            - oneOffMaximumFixedEntryCost
                            - oneOffMaximumFixedExitCost
                            description: Specific indicators for Italy.
                            properties:
                              oneOffMaximumFixedEntryCost:
                                type: object
                                x-property-sort:
                                - value
                                - valueUnit
                                description: Maximum ex ante fixed one-off entry cost (e.g. flat fee per subscription, paying agent cost). This type of cost is applicable to funds traded in Italy only. The originally delivered values are always monetary amounts.
                                properties:
                                  value:
                                    type:
                                    - number
                                    - 'null'
                                    format: real
                                    description: Value of the attribute.
                                  valueUnit:
                                    type: object
                                    x-property-sort:
                                    - id
                                    - code
                                    description: Value unit of the attribute
                                    properties:
                                      id:
                                        type:
                                        - number
                                        - 'null'
                                        format: id32
                                        x-positive: true
                                        description: Identifier of the value unit
                                      code:
                                        type:
                                        - string
                                        - 'null'
                                        description: Code of the value unit
                              oneOffMaximumFixedExitCost:
                                type: object
                                x-property-sort:
                                - value
                                - valueUnit
                                description: Maximum ex ante fixed one-off exit cost (e.g. flat fee per redemption, paying agent cost). This type of cost is applicable to funds traded in Italy only. The originally delivered values are always monetary amounts
                                properties:
                                  value:
                                    type:
                                    - number
                                    - 'null'
[...]
