openapi: 3.0.3
info:
  title: Factset Analytics Datastore About Data_items API
  description: Allow clients to fetch precalculated Analytics through predeterministic URLs.
  contact:
    name: FactSet Research Systems
    url: https://developer.factset.com/contact
    email: api@factset.com
  license:
    name: Apache License, Version 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  version: 1.0.0
servers:
- url: https://api.factset.com
  description: Production
- url: https://api-sandbox.factset.com
  description: Sandbox
security:
- basicAuth: []
tags:
- name: Data_items
paths:
  /navigator/data_items/{Product_id}:
    get:
      tags:
      - Data_items
      summary: Factset Get the List of Data Items Associated With a Product for Navigator.
      parameters:
      - in: path
        required: true
        name: Product_id
        description: The id for the Product to fetch the list of data items for.
        schema:
          type: string
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DataItem'
        '401':
          description: You are not authorized to view this page.
        '404':
          description: The specified Product_id was not found.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    DataItem:
      type: object
      properties:
        id:
          type: integer
          example: 35
          description: Unique identifier for the data item
        name:
          type: string
          example: fsym_id
          description: Name of the data item
        description:
          type: string
          example: Factset Perm Id
          description: Description of the data item
        entitled:
          type: boolean
          example: true
          description: Flag indicating if the user is entitled to access the data in their subscriptions
        dataFeed:
          type: boolean
          example: true
          description: Flag indicating if this item is available in a data feed
        api:
          type: boolean
          example: true
          description: Flag indicating if this item is available in an api
        referenceDataFeed:
          type: boolean
          example: false
          description: Flag indicating if this product is maintained by RDF/UCF
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
externalDocs:
  url: https://developer.factset.com/api-catalog/analytics-datastore-api
  description: API Documentation
