openapi: 3.2.0
info:
  version: 3.0.0
  title: FactSet Real-Time News Distributor API
  description: '

    Retrieve news by category, identifier, and keyword, for a specific date or

    range of dates. Endpoints can be subscribed for streamed updates.'
  contact:
    name: FactSet Research Systems
    url: https://developer.factset.com/contact
    email: api@factset.com
  license:
    name: Apache License, Version 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
servers:
- url: https://api.factset.com/wealth/v3
security:
- FactSetApiKey: []
- FactSetOAuth2: []
tags:
- name: Distributor
paths:
  /news/distributor/get:
    get:
      tags:
      - Distributor
      operationId: get/news/distributor/get
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Factset Details of a Distributor.
      description: Details of a distributor.
      parameters:
      - name: id
        in: query
        schema:
          type: number
          format: id32
          x-positive: true
          description: Identifier of a distributor.
        required: true
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      responses:
        '200':
          $ref: '#/components/responses/GetNewsDistributorGet200Response'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /news/distributor/list:
    get:
      tags:
      - Distributor
      operationId: get/news/distributor/list
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 1
      x-supportsPermissionDeniedResponse: false
      summary: Factset List of Distributors.
      description: List of distributors.
      parameters:
      - name: ids
        in: query
        schema:
          type: array
          items:
            type: number
            format: id32
            x-positive: true
          maxItems: 100
          uniqueItems: true
          description: Identifiers of distributors.
        style: form
        explode: false
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      - description: Sortable attributes. The sort order is ascending unless it is prefixed with a minus sign, in which case it is descending. A list of at most 1 (possibly prefixed) attribute name(s) is allowed.
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - -id
            - name
            - -name
          maxItems: 1
          uniqueItems: true
          default:
          - name
        style: form
        explode: false
        name: _sort
        in: query
      responses:
        '200':
          $ref: '#/components/responses/GetNewsDistributorList200Response'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /news/publisher/listByDistributor:
    get:
      tags:
      - Distributor
      operationId: get/news/publisher/listByDistributor
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 1
      x-supportsPermissionDeniedResponse: false
      summary: Factset List of Publishers Provided by the Given Distributor.
      description: List of publishers provided by the given distributor.
      parameters:
      - name: id
        in: query
        schema:
          type: number
          format: id32
          x-positive: true
          description: Identifier of a distributor.
        required: true
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      - description: Sortable attributes. The sort order is ascending unless it is prefixed with a minus sign, in which case it is descending. A list of at most 1 (possibly prefixed) attribute name(s) is allowed.
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - -id
            - name
            - -name
          maxItems: 1
          uniqueItems: true
          default:
          - name
        style: form
        explode: false
        name: _sort
        in: query
      responses:
        '200':
          $ref: '#/components/responses/GetNewsPublisherListByDistributor200Response'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  responses:
    GetNewsPublisherListByDistributor200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: array
                description: List of publishers.
                items:
                  type: object
                  x-property-sort:
                  - id
                  - name
                  properties:
                    id:
                      x-sortable: true
                      type:
                      - number
                      - 'null'
                      format: id32
                      x-positive: true
                      description: Identifier of the publisher.
                    name:
                      x-sortable: true
                      x-default-sort-attribute: true
                      x-default-sort-direction: 1
                      type:
                      - string
                      - 'null'
                      description: Name of the publisher.
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                x-property-sort:
                - status
            x-property-sort:
            - data
            - meta
    GetNewsDistributorList200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: array
                description: List of distributors.
                items:
                  type: object
                  x-property-sort:
                  - id
                  - name
                  - delivery
                  properties:
                    id:
                      x-sortable: true
                      type:
                      - number
                      - 'null'
                      format: id32
                      x-positive: true
                      description: Identifier of the distributor.
                    name:
                      x-sortable: true
                      x-default-sort-attribute: true
                      x-default-sort-direction: 1
                      type:
                      - string
                      - 'null'
                      description: Name of the distributor.
                    delivery:
                      type: object
                      x-property-sort:
                      - id
                      - name
                      description: Delivery of the distributor.
                      properties:
                        id:
                          type:
                          - number
                          - 'null'
                          format: id32
                          x-positive: true
                          description: Identifier of the delivery.
                        name:
                          type:
                          - string
                          - 'null'
                          description: Name of the delivery.
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                x-property-sort:
                - status
            x-property-sort:
            - data
            - meta
    GetNewsDistributorGet200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: object
                properties:
                  name:
                    type:
                    - string
                    - 'null'
                    description: Name of the distributor.
                  delivery:
                    type: object
                    x-property-sort:
                    - id
                    - name
                    description: Delivery of the distributor.
                    properties:
                      id:
                        type:
                        - number
                        - 'null'
                        format: id32
                        x-positive: true
                        description: Identifier of the delivery.
                      name:
                        type:
                        - string
                        - 'null'
                        description: Name of the delivery.
                description: Details of the distributor.
                x-property-sort:
                - name
                - delivery
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                x-property-sort:
                - status
            x-property-sort:
            - data
            - meta
  schemas:
    StatusObject:
      type: object
      properties:
        code:
          type: number
          format: int32
          description: The HTTP status code of the response, mirroring the code from the Status-Line of the HTTP response message (see [RFC2616] section 6.1).
          example: 42.5
      description: The status member contains the status code of the response.
      required:
      - code
  securitySchemes:
    FactSetOAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://auth.factset.com/as/token.oauth2
          scopes: {}
    FactSetApiKey:
      type: http
      scheme: basic
externalDocs:
  description: API Documentation
  url: https://developer.factset.com/api-catalog/
x-interface-version: 2
x-documenter-version: 6.3.9
x-api-version: 4.4.0
