openapi: 3.0.3
info:
  title: Factset Analytics Datastore About Alert API
  description: Allow clients to fetch precalculated Analytics through predeterministic URLs.
  contact:
    name: FactSet Research Systems
    url: https://developer.factset.com/contact
    email: api@factset.com
  license:
    name: Apache License, Version 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  version: 1.0.0
servers:
- url: https://api.factset.com
  description: Production
- url: https://api-sandbox.factset.com
  description: Sandbox
security:
- basicAuth: []
tags:
- name: Alert
paths:
  /alerting/prices/basic/alert/get:
    get:
      tags:
      - Alert
      operationId: get/alerting/prices/basic/alert/get
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: true
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      description: Details of an alert. The details include the trigger definition at the time of alert creation.
      summary: Factset Details of an Alert.
      parameters:
      - name: id
        in: query
        schema:
          description: Identifier of the alert.
          type: string
          format: id64
          x-positive: true
        required: true
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
            exclusiveMaximum: false
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      responses:
        '200':
          $ref: '#/components/responses/GetAlertingPricesBasicAlertGet200Response'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /alerting/prices/basic/alert/list:
    get:
      tags:
      - Alert
      operationId: get/alerting/prices/basic/alert/list
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: true
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: true
      x-requiresUser: true
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      description: List of alerts in descending order of creation.
      summary: Factset List of Alerts.
      responses:
        '200':
          $ref: '#/components/responses/GetAlertingPricesBasicAlertList200Response'
      parameters:
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
            exclusiveMaximum: false
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      - description: Non-negative number of milliseconds to throttle the update rate from 0ms to 5000ms. Set to 0 for sending updates immediately.
        name: _subscriptionMinimumInterval
        in: query
        schema:
          type: number
          format: int32
          minimum: 0
          exclusiveMinimum: false
          maximum: 5000
          exclusiveMaximum: false
          default: 0
      - description: Starting point as returned in the attributes `pagination.next` or `pagination.previous` by a prior invocation of this endpoint, or undefined (default).
        name: _paginationCursor
        in: query
        schema:
          type: string
          maxLength: 50
          exclusiveMaximum: false
      - description: Non-negative maximum number of entries to return.
        name: _paginationLimit
        in: query
        schema:
          type: number
          format: int32
          minimum: 0
          exclusiveMinimum: false
          maximum: 500
          exclusiveMaximum: false
          default: 20
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  responses:
    GetAlertingPricesBasicAlertGet200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: object
                properties:
                  id:
                    nullable: true
                    type: string
                    format: id64
                    x-positive: true
                    description: Identifier of the alert.
                  creation:
                    nullable: true
                    type: string
                    format: datetime
                    description: Date and time when the alert was created.
                  price:
                    nullable: false
                    type: object
                    x-property-sort:
                    - value
                    - time
                    description: Price data at the time of alert creation.
                    properties:
                      value:
                        nullable: true
                        type: number
                        format: real
                        description: Depending on `trigger.price.type`, the trade, bid, or ask price.
                      time:
                        nullable: true
                        type: string
                        format: datetime
                        description: Date and time of the price.
                  notification:
                    nullable: false
                    type: object
                    x-property-sort:
                    - status
                    description: Notification information of the alert.
                    properties:
                      status:
                        nullable: false
                        description: Status of a notification per channel.
                        type: array
                        items:
                          type: object
                          nullable: false
                          x-property-sort:
                          - channel
                          - time
                          - code
                          properties:
                            channel:
                              nullable: false
                              type: object
                              x-property-sort:
                              - id
                              description: Details of the notification channel.
                              properties:
                                id:
                                  nullable: true
                                  type: number
                                  format: id32
                                  x-positive: true
                                  description: Identifier of the notification channel.
                            time:
                              nullable: true
                              type: string
                              format: datetime
                              description: Date and time of the most recent change.
                            code:
                              nullable: true
                              type: string
                              description: Code of the status.
                              x-enum-description:
                              - Notification has not been processed.
                              - Notification has been sent but delivery status is unknown.
                              - Notification has been delivered.
                              - Notification has not been delivered due to an error.
                              - Notification delivery has been rejected (possibly due to return mails being received for delivery address).
                              enum:
                              - pending
                              - sent
                              - delivered
                              - error
                              - rejected
                  trigger:
                    nullable: false
                    description: Trigger data at the time of alert creation.
                    type: object
                    x-property-sort:
                    - id
                    - creation
                    - notation
                    - price
                    - range
                    - comment
                    - notification
                    - status
                    properties:
                      id:
                        nullable: true
                        type: string
                        format: id64
                        x-positive: true
                        description: Identifier of the trigger.
                      creation:
                        nullable: true
                        type: string
                        format: datetime
                        description: Date and time when the trigger was created.
                      notation:
                        nullable: false
                        type: object
                        x-property-sort:
                        - id
                        description: Notation data of the trigger.
                        properties:
                          id:
                            nullable: true
                            type: string
                            format: id64
                            x-positive: true
                            description: Identifier of the notation.
                      price:
                        nullable: false
                        description: Price data of the trigger.
                        type: object
                        x-property-sort:
                        - type
                        - quality
                        properties:
                          type:
                            nullable: true
                            type: string
                            description: Type of the price as configured for the customer.
                            x-enum-description:
                            - Trade price (ordinary, auction, pre or post-trading).
                            - Bid price.
                            - Ask price.
                            enum:
                            - trade
                            - bid
                            - ask
                          quality:
                            nullable: true
                            type: string
                            description: Price quality of the trigger.
                            x-enum-description:
                            - 'Real-Time: intraday prices with minimal technical processing delays.'
                            - 'Delayed: intraday prices with an exchange-imposed delay of usually 15 to 30 minutes.'
                            - 'End-of-day: prices updated once per day after the close of trading, possibly with an exchange-imposed delay of several hours.'
                            enum:
                            - RLT
                            - DLY
                            - EOD
                      range:
                        nullable: false
                        type: object
                        x-property-sort:
                        - upperLimit
                        - lowerLimit
                        description: Price range for the trigger to monitor.
                        properties:
                          upperLimit:
                            nullable: true
                            type: number
                            format: real
                            description: Upper limit.
                          lowerLimit:
                            nullable: true
                            type: number
                            format: real
                            description: Lower limit.
                      comment:
                        nullable: true
                        type: string
                        description: Comment of the trigger.
                      notification:
                        nullable: false
                        type: object
                        x-property-sort:
                        - channel
                        description: Notification specific configuration.
                        properties:
                          channel:
                            nullable: false
                            type: object
                            x-property-sort:
                            - id
                            description: Channel specific configuration.
                            properties:
                              id:
                                nullable: false
                                description: Identifier of the notification channel.
                                type: array
                                items:
                                  type: number
                                  format: id32
                                  x-positive: true
                      status:
                        nullable: false
                        type: object
                        x-property-sort:
                        - code
                        - details
                        - encryptedDetails
                        description: Status of the trigger.
                        properties:
                          code:
                            nullable: true
                            type: string
                            description: Code of the status.
                            x-enum-description:
                            - The trigger is active and trigger conditions are evaluated.
                            - The trigger is inactive and conditions do not generate alerts
                            - The trigger is in an error state, error details are noted in "details"
                            enum:
                            - active
                            - inactive
                            - error
                          details:
                            nullable: true
                            type: string
                            description: A human-readable, unstructured explanation specific to this error.
                          encryptedDetails:
                            nullable: true
                            type: string
                            description: Base64-encoded, internal details about the error, in addition to "details". An issue submitted to Service Desk should contain this data to speed up investigation.
                description: Details of the alert.
                nullable: false
                x-property-sort:
                - id
                - creation
                - price
                - notification
                - trigger
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                x-property-sort:
                - status
            x-property-sort:
            - data
            - meta
    GetAlertingPricesBasicAlertList200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: array
                description: List of alerts.
                nullable: false
                items:
                  type: object
                  nullable: false
                  x-property-sort:
                  - id
                  - creation
                  - price
                  - notification
                  - trigger
                  properties:
                    id:
                      nullable: true
                      type: string
                      format: id64
                      x-positive: true
                      description: Identifier of the alert.
                    creation:
                      nullable: true
                      type: string
                      format: datetime
                      description: Date and time when the alert was created.
                    price:
                      nullable: false
                      type: object
                      x-property-sort:
                      - value
                      - time
                      description: Price data at the time of alert creation.
                      properties:
                        value:
                          nullable: true
                          type: number
                          format: real
                          description: Depending on `trigger.price.type`, the trade, bid, or ask price.
                        time:
                          nullable: true
                          type: string
                          format: datetime
                          description: Date and time of the price.
                    notification:
                      nullable: false
                      type: object
                      x-property-sort:
                      - status
                      description: Notification information of the alert.
                      properties:
                        status:
                          nullable: false
                          description: Status of a notification per channel.
                          type: array
                          items:
                            type: object
                            nullable: false
                            x-property-sort:
                            - channel
                            - time
                            - code
                            properties:
                              channel:
                                nullable: false
                                type: object
                                x-property-sort:
                                - id
                                description: Details of the notification channel.
                                properties:
                                  id:
                                    nullable: true
                                    type: number
                                    format: id32
                                    x-positive: true
                                    description: Identifier of the notification channel.
                              time:
                                nullable: true
                                type: string
                                format: datetime
                                description: Date and time of the most recent change.
                              code:
                                nullable: true
                                type: string
                                description: Code of the status.
                                x-enum-description:
                                - Notification has not been processed.
                                - Notification has been sent but delivery status is unknown.
                                - Notification has been delivered.
                                - Notification has not been delivered due to an error.
                                - Notification delivery has been rejected (possibly due to return mails being received for delivery address).
                                enum:
                                - pending
                                - sent
                                - delivered
                                - error
                                - rejected
                    trigger:
                      nullable: false
                      description: Trigger data at the time of alert creation.
                      type: object
                      x-property-sort:
                      - id
                      - creation
                      - notation
                      - price
                      - range
                      - comment
                      - notification
                      - status
                      properties:
                        id:
                          nullable: true
                          type: string
                          format: id64
                          x-positive: true
                          description: Identifier of the trigger.
                        creation:
                          nullable: true
                          type: string
                          format: datetime
                          description: Date and time when the trigger was created.
                        notation:
                          nullable: false
                          type: object
                          x-property-sort:
                          - id
                          description: Notation data of the trigger.
                          properties:
                            id:
                              nullable: true
                              type: string
                              format: id64
                              x-positive: true
                              description: Identifier of the notation.
                        price:
                          nullable: false
                          description: Price data of the trigger.
                          type: object
                          x-property-sort:
                          - type
                          - quality
                          properties:
                            type:
                              nullable: true
                              type: string
                              description: Type of the price as configured for the customer.
                              x-enum-description:
                              - Trade price (ordinary, auction, pre or post-trading).
                              - Bid price.
                              - Ask price.
                              enum:
                              - trade
                              - bid
                              - ask
                            quality:
                              nullable: true
                              type: string
                              description: Quality of the price.
                              x-enum-description:
                              - 'Real-time: intraday prices with minimal technical processing delays.'
                              - 'Delayed: intraday prices with an exchange-imposed delay of usually 15 to 30 minutes.'
                              - 'End-of-day: prices updated once per day after the close of trading, possibly with an exchange-imposed delay of several hours or days.'
                              enum:
                              - RLT
                              - DLY
                              - EOD
                        range:
                          nullable: false
                          type: object
                          x-property-sort:
                          - upperLimit
                          - lowerLimit
                          description: Price range for the trigger to monitor.
                          properties:
                            upperLimit:
                              nullable: true
                              type: number
                              format: real
                              description: Upper limit.
                            lowerLimit:
                              nullable: true
                              type: number
                              format: real
                              description: Lower limit.
                        comment:
                          nullable: true
                          type: string
                          description: Comment of the trigger.
                        notification:
                          nullable: false
                          type: object
                          x-property-sort:
                          - channel
                          description: Notification specific configuration.
                          properties:
                            channel:
                              nullable: false
                              type: object
                              x-property-sort:
                              - id
                              description: Channel specific configuration.
                              properties:
                                id:
                                  nullable: false
                                  description: Identifier of the notification channel.
                                  type: array
                                  items:
                                    type: number
                                    format: id32
                                    x-positive: true
                        status:
                          nullable: false
                          type: object
                          x-property-sort:
                          - code
                          - details
                          description: Status of the trigger.
                          properties:
                            code:
                              nullable: true
                              type: string
                              description: Code of the status.
                              x-enum-description:
                              - The trigger is active and trigger conditions are evaluated.
                              - The trigger is inactive and conditions do not generate alerts
                              - The trigger is in an error state, error details are noted in "details"
                              enum:
                              - active
                              - inactive
                              - error
                            details:
                              nullable: true
                              type: string
                              description: A human-readable, unstructured explanation specific to this error.
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                  pagination:
                    $ref: '#/components/schemas/CursorBasedPaginationOutputObject'
                x-property-sort:
                - status
                - pagination
            x-property-sort:
            - data
            - meta
  schemas:
    CursorBasedPaginationOutputObject:
      type: object
      description: Pagination attributes for the cursor-based pagination strategy.
      properties:
        total:
          type: number
          format: int32
          description: Total number of entries in the result set.
          example: 42.5
        isEstimatedTotal:
          type: boolean
          description: Flag indicating that the value of `total` is estimated.
          example: true
        next:
          type: string
          description: The next cursor position to use in the parameter `pagination.cursor` for an endpoint that supports cursor-based pagination, otherwise `null`.
          example: example_value
        previous:
          type: string
          description: The previous cursor position to use in the parameter `pagination.cursor` for an endpoint that supports cursor-based pagination. If a previous cursor position is not supported or available, `previous` is `null`.
          example: example_value
      required:
      - total
      - isEstimatedTotal
      - next
      - previous
      x-property-sort:
      - total
      - isEstimatedTotal
      - next
      - previous
    StatusObject:
      type: object
      properties:
        code:
          type: number
          format: int32
          description: The HTTP status code of the response, mirroring the code from the Status-Line of the HTTP response message (see [RFC2616] section 6.1).
          example: 42.5
      description: The status member contains the status code of the response.
      required:
      - code
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
externalDocs:
  url: https://developer.factset.com/api-catalog/analytics-datastore-api
  description: API Documentation
