openapi: 3.0.3
info:
  title: Factset Analytics Datastore About Batch API
  description: Allow clients to fetch precalculated Analytics through predeterministic URLs.
  contact:
    name: FactSet Research Systems
    url: https://developer.factset.com/contact
    email: api@factset.com
  license:
    name: Apache License, Version 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  version: 1.0.0
servers:
- url: https://api.factset.com
  description: Production
- url: https://api-sandbox.factset.com
  description: Sandbox
security:
- basicAuth: []
tags:
- name: Batch
paths:
  /v1/batch-status:
    get:
      summary: Factset Returns the Status for a Batch Request
      description: "Return the status for the underlying batch request that is specified by the id.\n\n  The Formula API supports Long Running asynchronous requests up to **20 minutes** via the `batch` parameter in the `/time-series` endpoint and up to **10 minutes** in the `/cross-sectional` endpoint.\n\n  *This feature is available to Individual Users subscribed to the Performance Package and Performance Package Plus Performance Tiers and all Production Users. If you are unsure which Performance\nTier you are subscribed to or you would like to gain access to the batch capabilities, please contact your FactSet Account Team or \"Report Issue\" above and our support teams can assist.*\n"
      tags:
      - Batch
      operationId: getBatchStatus
      parameters:
      - $ref: '#/components/parameters/batchId'
      responses:
        '201':
          description: Batch Request has been completed and the response has been created.
          headers:
            Location:
              description: Path to Batch Request result.
              schema:
                type: string
              example: batch/v1/result?id=2df43e85-ea0f-45c6-bf4a-2baf4d1eaa3c
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchStatusResponse'
              examples:
                Batch Status Done:
                  $ref: '#/components/examples/BatchStatusDoneResponse'
        '202':
          description: Batch Request has not finished and the result has NOT been created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchStatusResponse'
              examples:
                Batch Status Queued:
                  $ref: '#/components/examples/BatchStatusQueuedResponse'
                Batch Status Executing:
                  $ref: '#/components/examples/BatchStatusExecutingResponse'
                Batch Status Failed - Timeout:
                  $ref: '#/components/examples/BatchStatusFailedResponseTimeout'
                Batch Status Failed - Memory Limit:
                  $ref: '#/components/examples/BatchStatusFailedResponseMemoryLimit'
                Batch Status Failed - Other:
                  $ref: '#/components/examples/BatchStatusFailedResponseOther'
        '404':
          description: Not Found
          headers:
            api-version:
              $ref: '#/components/headers/api-version'
            api-supported-versions:
              $ref: '#/components/headers/api-supported-versions'
            api-deprecated-versions:
              $ref: '#/components/headers/api-deprecated-versions'
            chain-id:
              $ref: '#/components/headers/chain-id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_detail'
              example:
                id: 5EFCCA8940CAEB6E
                code: batchRequestNotFound
                title: The Batch Request was not found. It has probably expired.
                timeStamp: '2019-11-01 11:09:41.918'
      deprecated: false
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      summary: Factset Returns the Status for a Batch Request
      description: "Return the status for the underlying batch request that is specified by the id.\n\n  The Formula API supports Long Running asynchronous requests up to **20 minutes** via the `batch` parameter in the `/time-series` endpoint and up to **10 minutes** in the `/cross-sectional` endpoint.\n\n  *This feature is available to Individual Users subscribed to the Performance Package and Performance Package Plus Performance Tiers and all Production Users. If you are unsure which Performance\nTier you are subscribed to or you would like to gain access to the batch capabilities, please contact your FactSet Account Team or \"Report Issue\" above and our support teams can assist.*\n"
      tags:
      - Batch
      operationId: getBatchStatusWithPost
      responses:
        '201':
          description: Batch Request has been completed and the response has been created.
          headers:
            Location:
              description: Path to Batch Request result.
              schema:
                type: string
              example: batch/v1/result?id=2df43e85-ea0f-45c6-bf4a-2baf4d1eaa3c
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchStatusResponse'
              examples:
                Batch Status Done:
                  $ref: '#/components/examples/BatchStatusDoneResponse'
        '202':
          description: Batch Request has not finished and the result has NOT been created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchStatusResponse'
              examples:
                Batch Status Queued:
                  $ref: '#/components/examples/BatchStatusQueuedResponse'
                Batch Status Executing:
                  $ref: '#/components/examples/BatchStatusExecutingResponse'
                Batch Status Failed - Timeout:
                  $ref: '#/components/examples/BatchStatusFailedResponseTimeout'
                Batch Status Failed - Memory Limit:
                  $ref: '#/components/examples/BatchStatusFailedResponseMemoryLimit'
                Batch Status Failed - Other:
                  $ref: '#/components/examples/BatchStatusFailedResponseOther'
        '404':
          description: Not Found
          headers:
            api-version:
              $ref: '#/components/headers/api-version'
            api-supported-versions:
              $ref: '#/components/headers/api-supported-versions'
            api-deprecated-versions:
              $ref: '#/components/headers/api-deprecated-versions'
            chain-id:
              $ref: '#/components/headers/chain-id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_detail'
              example:
                id: 5EFCCA8940CAEB6E
                code: batchRequestNotFound
                title: The Batch Request was not found. It has probably expired.
                timeStamp: '2019-11-01 11:09:41.918'
      deprecated: false
      requestBody:
        $ref: '#/components/requestBodies/batch-status-postBody'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v1/batch-result:
    get:
      summary: Factset Returns the Response for a Batch Request
      description: "Returns the response data for the underlying batch request that is specified by the id.\n\n  The Formula API supports Long Running asynchronous requests up to **20 minutes** via the `batch` parameter in the `/time-series` endpoint and up to **10 minutes** in the `/cross-sectional` endpoint.\n\n  *This feature is available to Individual Users subscribed to the Performance Package and Performance Package Plus Performance Tiers and all Production Users. If you are unsure which Performance\nTier you are subscribed to or you would like to gain access to the batch capabilities, please contact your FactSet Account Team or \"Report Issue\" above and our support teams can assist.*\n"
      tags:
      - Batch
      operationId: getBatchData
      parameters:
      - $ref: '#/components/parameters/batchId'
      responses:
        '200':
          description: Request Response Object when batch request has completed and response is created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchDataResponse'
              examples:
                Time-Series Single Id and Single Data Item:
                  $ref: '#/components/examples/time-series-singleId-singleItem'
                Cross-Sectional Single Id and Single Data Item:
                  $ref: '#/components/examples/cross-sectional-singleId-singleItem'
        '202':
          description: Batch Request has not finished and the result has NOT been created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchStatusResponse'
              examples:
                Batch Request Queued:
                  $ref: '#/components/examples/BatchResultQueuedResponse'
                Batch Request Executing:
                  $ref: '#/components/examples/BatchResultExecutingResponse'
        '404':
          description: Not Found
          headers:
            api-version:
              $ref: '#/components/headers/api-version'
            api-supported-versions:
              $ref: '#/components/headers/api-supported-versions'
            api-deprecated-versions:
              $ref: '#/components/headers/api-deprecated-versions'
            chain-id:
              $ref: '#/components/headers/chain-id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_detail'
              example:
                id: 5EFCCA8940CAEB6E
                code: batchRequestNotFound
                title: The Batch Request was not found. It has probably expired.
                timeStamp: '2019-11-01 11:09:41.918'
      deprecated: false
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      summary: Factset Returns the Status for a Batch Request
      description: "Returns the response data for the underlying batch request that is specified by the id.\n\n  The Formula API supports Long Running asynchronous requests up to **20 minutes** via the `batch` parameter in the `/time-series` endpoint and up to **10 minutes** in the `/cross-sectional` endpoint.\n\n  *This feature is available to Individual Users subscribed to the Performance Package and Performance Package Plus Performance Tiers and all Production Users. If you are unsure which Performance\nTier you are subscribed to or you would like to gain access to the batch capabilities, please contact your FactSet Account Team or \"Report Issue\" above and our support teams can assist.*\n"
      tags:
      - Batch
      operationId: getBatchDataWithPost
      responses:
        '200':
          description: Request Response Object when batch request has completed and response is created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchDataResponse'
              examples:
                Time-Series Single Id and Single Data Item:
                  $ref: '#/components/examples/time-series-singleId-singleItem'
                Cross-Sectional Single Id and Single Data Item:
                  $ref: '#/components/examples/cross-sectional-singleId-singleItem'
        '202':
          description: Batch Request has not finished and the result has NOT been created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchStatusResponse'
              examples:
                Batch Request Queued:
                  $ref: '#/components/examples/BatchResultQueuedResponse'
                Batch Request Executing:
                  $ref: '#/components/examples/BatchResultExecutingResponse'
        '404':
          description: Not Found
          headers:
            api-version:
              $ref: '#/components/headers/api-version'
            api-supported-versions:
              $ref: '#/components/headers/api-supported-versions'
            api-deprecated-versions:
              $ref: '#/components/headers/api-deprecated-versions'
            chain-id:
              $ref: '#/components/headers/chain-id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_detail'
              example:
                id: 5EFCCA8940CAEB6E
                code: batchRequestNotFound
                title: The Batch Request was not found. It has probably expired.
                timeStamp: '2019-11-01 11:09:41.918'
      deprecated: false
      requestBody:
        $ref: '#/components/requestBodies/batch-result-postBody'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /factset-global-prices/v1/batch-status:
    get:
      tags:
      - Batch
      summary: Factset Returns the Status for a Batch Request
      description: Return the status for the underlying batch request that is specified by the id.
      operationId: getBatchStatus
      parameters:
      - $ref: '#/components/parameters/batchId'
      responses:
        '201':
          description: The batch Request has been completed and the response has been created.
          headers:
            Location:
              description: Path to Batch Request result.
              schema:
                type: string
              example: batch-result?id=2df43e85-ea0f-45c6-bf4a-2baf4d1eaa3c
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchStatusResponse'
              examples:
                Batch Status Done:
                  $ref: '#/components/examples/BatchStatusDoneResponse_2'
        '202':
          description: The batch Request has not finished and the result has NOT been created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchStatusResponse'
              examples:
                Batch Status Queued:
                  $ref: '#/components/examples/BatchStatusQueuedResponse_2'
                Batch Status Executing:
                  $ref: '#/components/examples/BatchStatusExecutingResponse_2'
                Batch Status Failed:
                  $ref: '#/components/examples/BatchStatusFailedResponse'
        '404':
          $ref: '#/components/responses/batch404'
      deprecated: false
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /factset-global-prices/v1/batch-result:
    get:
      tags:
      - Batch
      summary: Factset Returns the Response for a Batch Request
      description: 'Returns the response data for the underlying batch request that is specified by the id.


        By default, this endpoint will return data as JSON. If you wish to receive your data in CSV format, you can edit the header to have the "accept" parameter as "text/csv" instead of "application/json".

        '
      operationId: getBatchData
      parameters:
      - $ref: '#/components/parameters/batchId'
      responses:
        '200':
          description: Request Response Object when the batch request has been completed and the response is created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/batchResultResponse'
              examples:
                One Week Prices for Two Securities Filtered Fields:
                  $ref: '#/components/examples/GlobalPricesResponsePricesOnly'
                Returns:
                  $ref: '#/components/examples/returnsResponseAll'
                Corporate Actions Ordinary Dividends:
                  $ref: '#/components/examples/OrdinaryDividends'
                Annualized Dividends:
                  $ref: '#/components/examples/annualizedDividendsResponse'
                Security Shares:
                  $ref: '#/components/examples/sharesOutstanding'
        '202':
          description: The batch Request has not finished and the result has NOT been created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchStatusResponse'
              examples:
                Batch Request Queued:
                  $ref: '#/components/examples/BatchStatusQueuedResponse_2'
                Batch Request Executing:
                  $ref: '#/components/examples/BatchStatusExecutingResponse_2'
        '404':
          $ref: '#/components/responses/batch404'
      deprecated: false
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /batch/v1/status:
    get:
      tags:
      - Batch
      summary: Factset Returns the Status for a Batch Request
      description: Return the status for the underlying batch request that is specified by the id.
      operationId: getBatchStatus
      parameters:
      - $ref: '#/components/parameters/batchId'
      responses:
        '201':
          description: Batch Request has been completed and the response has been created.
          headers:
            Location:
              description: Path to Batch Request result.
              schema:
                type: string
              example: batch/v1/result?id=2df43e85-ea0f-45c6-bf4a-2baf4d1eaa3c
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchStatusResponse'
              examples:
                Batch Status Done:
                  $ref: '#/components/examples/BatchStatusDoneResponse'
        '202':
          description: Batch Request has not finished and the result has NOT been created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchStatusResponse'
              examples:
                Batch Status Queued:
                  $ref: '#/components/examples/BatchStatusQueuedResponse'
                Batch Status Executing:
                  $ref: '#/components/examples/BatchStatusExecutingResponse'
                Batch Status Failed:
                  $ref: '#/components/examples/BatchStatusFailedResponse_2'
        '404':
          $ref: '#/components/responses/404'
      deprecated: false
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      tags:
      - Batch
      summary: Factset Returns the Status for a Batch Request
      description: 'Return the status for the underlying batch request that is specified by the id. '
      operationId: getBatchStatusWithPost
      requestBody:
        description: Batch Status Request Post Body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchStatusRequest'
            examples:
              Batch Status Request:
                $ref: '#/components/examples/BatchStatusRequest'
        required: true
      responses:
        '201':
          description: Batch Request has been completed and the response has been created.
          headers:
            Location:
              description: Path to Batch Request result.
              schema:
                type: string
              example: batch/v1/result?id=2df43e85-ea0f-45c6-bf4a-2baf4d1eaa3c
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchStatusResponse'
              examples:
                Batch Status Done:
                  $ref: '#/components/examples/BatchStatusDoneResponse'
        '202':
          description: Batch Request has not finished and the result has NOT been created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchStatusResponse'
              examples:
                Batch Status Queued:
                  $ref: '#/components/examples/BatchStatusQueuedResponse'
                Batch Status Executing:
                  $ref: '#/components/examples/BatchStatusExecutingResponse'
                Batch Status Failed:
                  $ref: '#/components/examples/BatchStatusFailedResponse_2'
        '404':
          $ref: '#/components/responses/404'
      deprecated: false
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /batch/v1/result:
    get:
      tags:
      - Batch
      summary: Factset Returns the Response for a Batch Request
      description: Returns the response data for the underlying batch request that is specified by the id.
      operationId: getBatchData
      parameters:
      - $ref: '#/components/parameters/batchId'
      responses:
        '200':
          description: Request Response Object when batch request has completed and response is created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchDataResponse'
              examples:
                Price of AAPL as of March 29 2019:
                  $ref: '#/components/examples/singleSecurityPrices'
                Prices for AAPL and TSLA as of March 29th 2019:
                  $ref: '#/components/examples/twoSecuritiesPrices'
                One Month of Daily Prices for AAPL in March 2019:
                  $ref: '#/components/examples/oneMonthSecurityPrices'
        '202':
          description: Batch Request has not finished and the result has NOT been created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchStatusResponse'
              examples:
                Batch Request Queued:
                  $ref: '#/components/examples/BatchStatusQueuedResponse'
                Batch Request Executing:
                  $ref: '#/components/examples/BatchStatusExecutingResponse'
        '404':
          $ref: '#/components/responses/404'
      deprecated: false
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      tags:
      - Batch
      summary: Factset Returns the Response for a Batch Request
      description: 'Return the response data for the underlying batch request that is specified by the id. '
      operationId: getBatchDataWithPost
      requestBody:
        description: Batch Data Request Post Body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchDataRequest_2'
            examples:
              Batch Data Request:
                $ref: '#/components/examples/BatchDataRequest'
        required: true
      responses:
        '200':
          description: Request Response Object when batch request has completed and response is created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchDataResponse'
              examples:
                Price of AAPL as of March 29 2019:
                  $ref: '#/components/examples/singleSecurityPrices'
                Prices for AAPL and TSLA as of March 29th 2019:
                  $ref: '#/components/examples/twoSecuritiesPrices'
                One Month of Daily Prices for AAPL in March 2019:
                  $ref: '#/components/examples/oneMonthSecurityPrices'
        '202':
          description: Batch Request has not finished and the result has NOT been created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchStatusResponse'
              examples:
                Batch Request Queued:
                  $ref: '#/components/examples/BatchStatusQueuedResponse'
                Batch Request Executing:
                  $ref: '#/components/examples/BatchStatusExecutingResponse'
        '404':
          $ref: '#/components/responses/404'
      deprecated: false
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    corporateAction:
      title: Corporate Action Object
      type: object
      properties:
        fsymId:
          description: Factset Regional Security Identifier. Six alpha-numeric characters, excluding vowels, with an -R suffix (XXXXXX-R). Identifies the security's best regional security data series per currency. For equities, all primary listings per region and currency are allocated a regional-level permanent identifier. The regional-level permanent identifier will be available once a SEDOL representing the region/currency has been allocated and the identifiers are on FactSet.
          type: string
          example: SJY281-R
          x-fds-sdf: fsym_id
          x-fds-dh: REGIONAL_FDS_ID
          nullable: true
        eventId:
          description: FactSet identifier that uniquely identifies the Event.
          type: string
          example: JTHPFN-A
          x-fds-sdf: ca_event_id
          x-fds-dh: EVENT_ID
          nullable: true
        eventTypeCode:
          description: 'Corporate Actions Event type code, possible values: [ DVC, DVCD, DRP, DVS, DVSS, BNS, BNSS, SPO, DSR, FSP, RSP, SPL ]'
          type: string
          x-fds-sdf: ca_event_type_code
          x-fds-dh: EVENT_TYPE_CODE
          nullable: true
          example: example_value
        eventTypeDesc:
          description: Corporate Actions Event type description.
          type: string
          x-fds-sdf: null
          x-fds-dh: EVENT_TYPE
          nullable: true
          example: example_value
        divTypeCode:
          description: 'Dividend Type Code. For code descriptions, visit [Online Assistant Page #8764] (https://oa.apps.factset.com/pages/8764).

            '
          type: string
          x-fds-sdf: div_type_code
          x-fds-dh: DIVTYPE_NUM
          nullable: true
          example: example_value
        announcementDate:
          description: Date Event was announced in YYYY-MM-DD format.
          type: string
          x-fds-sdf: announcement_date
          x-fds-dh: ANNDATE
          nullable: true
          example: example_value
        recordDate:
          description: Date of Record for distribution in YYYY-MM-DD format.
          type: string
          x-fds-sdf: record_date
          x-fds-dh: RECORD_DATE
          nullable: true
          example: example_value
        payDate:
          description: Date of Payment for distribution in YYYY-MM-DD format.
          type: string
          x-fds-sdf: pay_date
          x-fds-dh: PAYDATE
          nullable: true
          example: example_value
        effectiveDate:
          description: Effective Date or Ex-Date of distribution in YYYY-MM-DD format.
          type: string
          x-fds-sdf: effective_date
          x-fds-dh: EFFECTIVE_DATE
          nullable: true
          example: example_value
        requestId:
          description: Identifier that was used for the request.
          type: string
          example: AAPL-US
      additionalProperties: true
    batchErrorObject:
      type: object
      nullable: true
      properties:
        id:
          description: A UUID for this particular occurrence of the problem.
          type: string
          nullable: true
          example: adb01824-252f-4420-b0c6-35a1e3507ef5
        code:
          description: status
          type: string
          nullable: true
          example: GenericError
        links:
          description: The Endpoint path {package}/version/{endpoint}
          type: object
          properties:
            about:
              description: details.
              type: string
              example: /factset-global-prices/v1/{endpoint}
          example: example_value
        title:
          description: The plain text error message
          type: string
          nullable: true
          example: Validation Error
    sharesOutstandingResponseObject:
      type: object
      title: Shares Outstanding Object
      properties:
        fsymId:
          description: Security-level FactSet Permanent Identifier associated with the identifier.
          type: string
          example: C6J726-S
          nullable: true
        date:
          description: Date of the record in YYYY-MM-DD format.
          type: string
          format: date
          example: '2022-08-10'
          nullable: true
        documentId:
          description: Unique Identifier for each document or filing which contains the outstanding shares position.
          type: string
          example: '956881'
          nullable: true
        requestId:
          description: FactSet Security Permanent Identifier that was used for the request.
          type: string
          example: C6J726-S
          nullable: true
        reportDate:
          description: Reporting date of the position.
          type: string
          format: date
          example: '2022-08-02'
          nullable: true
        publicationDate:
          description: Exact date that results have been communicated to the market.
          type: string
          format: date
          example: '2022-08-04'
          nullable: true
        fiscalYear:
          description: The company's fiscal year corresponding to the report.
          type: integer
          example: 2022
          nullable: true
        reportingPeriodDescription:
          description: Textual description of the reporting period.
          type: string
          example: 2nd Quarter
          nullable: true
        reportingPeriod:
          description: 'Code representing the unique reporting period. Options are as follows:

            - 1 - 1st Quarter

            - 2 - 2nd Quarter

            - 3 - 3rd Quarter

            - 4 - 4th Quarter

            - 6 - Mid-Year

            '
          type: integer
          example: 3
          nullable: true
        description:
          description: Different stock types based on the rights and benefits from ownership.
          type: string
          example: Class A Shares
          nullable: true
        adrDescription:
          description: Different stock types based on the rights and benefits from ownership for the ADR.
          type: string
          example: Class A Shares
          nullable: true
        adrRatio:
          description: Number of common or ordinary shares that are equivalent to one American Depositary Receipt (ADR).
          type: number
          example: 0.5
          nullable: true
        adrFsymId:
          description: Unique FactSet generated identifier assigned to a security, representing the ADR security.
          type: string
          example: V9GGRZ-S
          nullable: true
        totalOutstanding:
          description: Number of shares outstanding as of `date`.
          type: number
          example: 1351.828
          nullable: true
        adrTotalOutstanding:
          description: Number of shares outstanding for the ADR as of `date`.
          type: number
          example: 980.22284
          nullable: true
      additionalProperties: false
    BatchStatusRequest:
      title: Batch Status Request
      type: object
      required:
      - id
      properties:
        id:
          type: string
          format: uuid
          example: 2df43e85-ea0f-45c6-bf4a-2baf4d1eaa3c
          description: Batch Request identifier.
    batchResultResponse:
      title: Batch Data Response
      type: object
      required:
      - data
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/batchResult'
          example: []
    BatchStatus:
      title: Batch Status
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: the id of batch request.
          example: abc123
        startTime:
          type: string
          nullable: true
          format: date-time
          description: Time when the batch request is started. This is in Eastern Time Zone. The date-time format is expressed as [YYYY-MM-DD]T[HH:MM:SSS], following ISO 8601.
          example: '2026-01-15T10:30:00Z'
        endTime:
          type: string
          nullable: true
          format: date-time
          description: Time when the batch request is ended. This is in Eastern Time Zone. The date-time format is expressed as [YYYY-MM-DD]T[HH:MM:SSS], following ISO 8601.
          example: '2026-01-15T10:30:00Z'
        status:
          type: string
          enum:
          - QUEUED
          - EXECUTING
          - DONE
          - FAILED
          example: QUEUED
        error:
          type: string
          nullable: true
          example: The parameter 'formulas' is required and may not be empty.
          description: Error message.
    BatchData:
      title: Batch Data
      description: 'The schema for the batched result is determined by the endpoint you used with the _batch_ parameter.

        Please see the schema for that endpoint for the definition.

        '
      type: object
    errorResponse:
      type: object
      title: Error Response
      properties:
        status:
          description: status
          type: string
          example: Bad Request
        timestamp:
          description: timestamp in YYYY-MM-DD HH:MM:SS.SSS
          type: string
          example: '2019-11-01 11:09:41.918'
          format: date-time
        path:
          description: The Endpoint path {package}/version/{endpoint}
          type: string
          example: /factset-prices/v1/prices
        message:
          description: The plain text error message
          type: string
          example: Validation Error
        subErrors:
          description: subErrors related to the error message. Null if not applicable.
          type: object
          properties:
            object:
              description: the operation ID
              type: string
            field:
              description: Parameter Field Name
              type: string
            message:
              description: Error message
              type: string
            rejectedValue:
              description: Rejected Values in an Array
              type: array
              items:
                type: string
          example: example_value
    batchErrorResponse:
      type: object
      nullable: true
      title: Error Response
      description: Error Default Response
      properties:
        errors:
          type: array
          nullable: true
          description: An array containing errors
          items:
            $ref: '#/components/schemas/batchErrorObject'
          example: []
    price:
      title: Price Object
      type: object
      properties:
        fsymId:
          description: FactSet Permanent Identifier. Six alpha-numeric characters, excluding vowels, with an -R suffix (XXXXXX-R) or a -L Suffix (XXXXXX-L).
          type: string
          example: LCV42P-L
          nullable: true
        date:
          description: Ending date for the period expressed in YYYY-MM-DD format.
          type: string
          format: date
          example: '2020-11-19'
          nullable: true
        currency:
          type: string
          description: 'Currency ISO code. For more details, visit [Online Assistant Page #1470](https://oa.apps.factset.com/pages/1470).'
          example: USD
          nullable: true
        requestId:
          description: Identifier that was used for the request.
          type: string
          example: DDD-USA
      additionalProperties: true
    batchResult:
      title: Batch Data
      anyOf:
      - $ref: '#/components/schemas/price'
      - $ref: '#/components/schemas/returns'
      - $ref: '#/components/schemas/corporateAction'
      - $ref: '#/components/schemas/annualizedDividendsObject'
      - $ref: '#/components/schemas/sharesOutstandingResponseObject'
    BatchDataRequest:
      title: Batch Data Request
      type: object
      required:
      - data
      properties:
        data:
          type: object
          properties:
            id:
              type: string
              format: uuid
              example: 2df43e85-ea0f-45c6-bf4a-2baf4d1eaa3c
              description: Batch Request identifier.
          example: example_value
    error_detail:
      title: Error Object
      description: '`Error Object` is the response returned for an unsuccessful request.

        '
      type: object
      properties:
        id:
          description: Unique identifier for the request. Also known as the chain id.
          type: string
          example: 5EFCCA8940CAEA6B
          nullable: true
        code:
          description: Textual error code
          type: string
          example: notAuthenticated
          nullable: true
        title:
          description: A short, human-readable summary of the problem
          type: string
          example: There were either no, invalid, or expired credentials present in the request.
          nullable: true
        timestamp:
          description: timestamp in YYYY-MM-DD HH:MM:SS.SSS
          type: string
          format: date-time
          example: '2020-08-01 11:09:41.918'
          nullable: true
    BatchStatusResponse:
      title: Batch Status Response
      type: object
      properties:
        data:
          $ref: '#/components/schemas/BatchStatus'
    BatchDataResponse:
      title: Batch Data Response
      type: object
      properties:
        data:
          $ref: '#/components/schemas/BatchData'
    returns:
      title: Returns Object
      type: object
      properties:
        fsymId:
          description: FactSet Permanent Identifier. Six alpha-numeric characters, excluding vowels, with an -R suffix (XXXXXX-R) or a -L Suffix (XXXXXX-L).
          type: string
          example: LCV42P-L
          nullable: true
        totalReturn:
          description: Returns the data for the given input parameters.
          type: number
          format: double
          example: 0.927077
          nullable: true
        date:
          description: End date of the return. Date in YYYY-MM-DD format. Depending on Frequency and Calendar settings, this could represent the entire return period requested.
          type: string
          format: date
          example: '2020-11-19'
          nullable: true
        currency:
          type: string
          description: 'Currency ISO code. For more details, visit [Online Assistant Page #1470](https://oa.apps.factset.com/pages/1470).'
          example: USD
          nullable: true
        requestId:
          description: Identifier that was used for the request.
          type: string
          example: DDD-USA
    BatchDataRequest_2:
      title: Batch Data Request
      type: object
      required:
      - id
      properties:
        id:
          type: string
          format: uuid
          example: 2df43e85-ea0f-45c6-bf4a-2baf4d1eaa3c
          description: Batch Request identifier.
    annualizedDividendsObject:
      title: Annualized Dividends Object
      type: object
      properties:
        fsymId:
          description: Factset Regional Security Identifier. Six alpha-numeric characters, excluding vowels, with an -R suffix (XXXXXX-R). Identifies the security's best regional security data series per currency. For equities, all primary listings per region and currency are allocated a regional-level permanent identifier. The regional-level permanent identifier will be available once a SEDOL representing the region/currency has been allocated and the identifiers are on FactSet.
          type: string
          example: SJY281-R
          x-fds-dh: REGIONAL_FDS_ID
          nullable: true
        eventId:
          description: FactSet identifier that uniquely identifies the Event.
          type: string
          example: JTHPFN-A
          x-fds-dh: EVENT_ID
          nullable: true
        effectiveDate:
          description: Effective Date or Ex-Date of Annualized Dividend in YYYY-MM-DD format.
          type: string
          example: '2022-03-11T00:00:00.000Z'
          x-fds-dh: IAD_EXDATE
          nullable: true
        iadDefTradingAdj:
          description: Annualized Dividend value in the trading currency. The value is adjusted for splits
          type: number
          format: float
          x-fds-dh: IAD_DEF_SPLIT
          example: 0.7584434
          nullable: true
        currency:
          description: 'Currency ISO code associated with the annualized dividends.For more details, visit [Online Assistant Page #1470](https://oa.apps.factset.com/pages/1470).'
          type: string
          example: USD
          x-fds-dh: IAD_DEF_CURR_ISO
          nullable: true
        requestId:
          description: Identifier that was used for the request.
          type: string
          example: AAPL-US
  examples:
    singleSecurityPrices:
      summary: Single Price Record for AAPL as of March 29 2019
      description: Single Price Record for AAPL
      value:
        data:
        - fsymId: MH33D6-R
          date: '2019-03-29'
          adjDate: '2014-06-09'
          currency: USD
          price: 189.95
          priceOpen: 189.83
          priceHigh: 190.08
          priceLow: 188.54
          volume: 23563.96
          requestId: AAPL
    BatchStatusQueuedResponse_2:
      description: Batch Status Queued Response
      value:
        data:
          id: 2df43e85-ea0f-45c6-bf4a-2baf4d1eaa3c
          status: queued
          startTime: '2021-06-29T18:34:52.168Z'
          endTime: null
          error: null
    BatchStatusFailedResponseOther:
      description: Batch Status Failed Response - Other. The example response shows the result of checking the status of a batch request that failed unexpectedly. If you encounter this error, please contact FactSet support.
      value:
        data:
          id: 43839790-a64e-452a-b8f0-fc26117bd9f4
          status: FAILED
          startTime: '2023-09-20T13:37:13.653411'
          endTime: '2023-09-20T13:38:25.841134'
          error: Something went wrong. Contact FactSet for support.
    BatchStatusFailedResponseTimeout:
      description: Batch Status Failed Response - Timeout. The example response shows the result of checking the status of a batch request that took longer than 20 minutes to calculate and timed out.
      value:
        data:
          id: 2df43e85-ea0f-45c6-bf4a-2baf4d1eaa3c
          status: FAILED
          startTime: '2021-06-29T18:34:52.168Z'
          endTime: '2021-06-29T18:44:55.402Z'
          error: timeout
    returnsResponseAll:
      summary: Returns Response of Google (GOOGL) and Apple (AAPL)
      value:
        data:
        - fsymId: WFJYTJ-R
          date: '2019-10-03'
          currency: USD
          totalReturn: 0.927077
          requestId: GOOGL
        - fsymId: MH33D6-R
          date: '2019-10-03'
          currency: USD
          totalReturn: 1.782245
          requestId: AAPL
    BatchStatusRequest:
      description: Batch Status Request
      value:
        id: 2df43e85-ea0f-45c6-bf4a-2baf4d1eaa3c
    notFound:
      summary: Not Found
      description: The requested item was not found.
      value:
        status: Not Found
        timestamp: '2020-06-12T16:08:51.731Z'
        path: /batch/v1/status
        message: The Batch Request was not found. It has probably expired.
        subErrors: null
    time-series-singleId-singleItem:
      summary: Single Id and Single Data Item
      description: '`time-series` Request for Single Price Record for IBM

        '
      value:
        data:
        - error: 0
          formula: P_PRICE(0)
          requestId: IBM
          result:
            values:
            - 120.77
            dates:
            - '2020-07-09'
          dataType: DOUBLE
          objectType: TIMESERIES
    oneMonthSecurityPrices:
      summary: One month of daily prices for AAPL for March 2019
      description: One month of daily open, high, low, and close end-of-day prices and volume for AAPL for March 2019.
      value:
        data:
        - fsymId: MH33D6-R
          date: '2019-03-01'
          adjDate: '2014-06-09'
          currency: USD
          price: 174.97
          priceOpen: 174.28
          priceHigh: 175.15
          priceLow: 172.89
          volume: 25886.17
          requestId: AAPL
        - fsymId: MH33D6-R
          date: '2019-03-04'
          adjDate: '2014-06-09'
          currency: USD
          price: 175.85
          priceOpen: 175.69
          priceHigh: 177.75
          priceLow: 173.97
          volume: 27436.2
          requestId: AAPL
        - fsymId: MH33D6-R
          date: '2019-03-05'
          adjDate: '2014-06-09'
          currency: USD
          price: 175.53
          priceOpen: 175.94
          priceHigh: 176
          priceLow: 174.54
          volume: 19737.42
          requestId: AAPL
        - fsymId: MH33D6-R
          date: '2019-03-06'
          adjDate: '2014-06-09'
          currency: USD
          price: 174.52
          priceOpen: 174.67
          priceHigh: 175.49
          priceLow: 173.94
          volume: 20810.38
          requestId: AAPL
        - fsymId: MH33D6-R
          date: '2019-03-07'
          adjDate: '2014-06-09'
          currency: USD
          price: 172.5
          priceOpen: 173.87
          priceHigh: 174.44
          priceLow: 172.02
          volume: 24796.37
          requestId: AAPL
        - fsymId: MH33D6-R
          date: '2019-03-08'
          adjDate: '2014-06-09'
          currency: USD
          price: 172.91
          priceOpen: 170.32
          priceHigh: 173.07
          priceLow: 169.5
          volume: 23999.36
          requestId: AAPL
        - fsymId: MH33D6-R
          date: '2019-03-11'
          adjDate: '2014-06-09'
          currency: USD
          price: 178.9
          priceOpen: 175.49
          priceHigh: 179.12
          priceLow: 175.35
          volume: 32011.03
          requestId: AAPL
        - fsymId: MH33D6-R
          date: '2019-03-12'
          adjDate: '2014-06-09'
          currency: USD
          price: 180.91
          priceOpen: 180
          priceHigh: 182.67
          priceLow: 179.37
          volume: 32467.58
          requestId: AAPL
        - fsymId: MH33D6-R
          date: '2019-03-13'
          adjDate: '2014-06-09'
          currency: USD
          price: 181.71
          priceOpen: 182.25
          priceHigh: 183.3
          priceLow: 180.92
          volume: 31032.52
          requestId: AAPL
        - fsymId: MH33D6-R
          date: '2019-03-14'
          adjDate: '2014-06-09'
          currency: USD
          price: 183.73
          priceOpen: 183.9
          priceHigh: 184.1
          priceLow: 182.56
          volume: 23579.51
          requestId: AAPL
        - fsymId: MH33D6-R
          date: '2019-03-15'
          adjDate: '2014-06-09'
          currency: USD
          price: 186.12
          priceOpen: 184.85
          priceHigh: 187.33
          priceLow: 183.74
          volume: 39042.91
          requestId: AAPL
        - fsymId: MH33D6-R
          date: '2019-03-18'
          adjDate: '2014-06-09'
          currency: USD
          price: 188.02
          priceOpen: 185.8
          priceHigh: 188.39
          priceLow: 185.79
          volume: 26219.83
          requestId: AAPL
        - fsymId: MH33D6-R
          date: '2019-03-19'
          adjDate: '2014-06-09'
          currency: USD
          price: 186.53
          priceOpen: 188.35
          priceHigh: 188.99
          priceLow: 185.92
          volume: 31646.37
          requestId: AAPL
        - fsymId: MH33D6-R
          date: '2019-03-20'
          adjDate: '2014-06-09'
          currency: USD
          price: 188.16
          priceOpen: 186.23
          priceHigh: 189.49
          priceLow: 184.73
          volume: 31035.23
          requestId: AAPL
        - fsymId: MH33D6-R
          date: '2019-03-21'
          adjDate: '2014-06-09'
          currency: USD
          price: 195.09
          priceOpen: 190.02
          priceHigh: 196.33
          priceLow: 189.81
          volume: 51034.24
          requestId: AAPL
        - fsymId: MH33D6-R
          date: '2019-03-22'
          adjDate: '2014-06-09'
          currency: USD
          price: 191.05
          priceOpen: 195.34
          priceHigh: 197.69
          priceLow: 190.78
          volume: 42407.67
          requestId: AAPL
        - fsymId: MH33D6-R
          date: '2019-03-25'
          adjDate: '2014-06-09'
          currency: USD
          price: 188.74
          priceOpen: 191.51
          priceHigh: 191.98
          priceLow: 186.6
          volume: 43845.29
          requestId: AAPL
        - fsymId: MH33D6-R
          date: '2019-03-26'
          adjDate: '2014-06-09'
          currency: USD
          price: 186.79
          priceOpen: 191.664
          priceHigh: 192.88
          priceLow: 184.58
          volume: 49800.54
          requestId: AAPL
        - fsymId: MH33D6-R
          date: '2019-03-27'
          adjDate: '2014-06-09'
          currency: USD
          price: 188.47
          priceOpen: 188.75
          priceHigh: 189.76
          priceLow: 186.55
          volume: 29848.43
          requestId: AAPL
        - fsymId: MH33D6-R
          date: '2019-03-28'
          adjDate: '2014-06-09'
          currency: USD
          price: 188.72
          priceOpen: 188.95
          priceHigh: 189.559
          priceLow: 187.53
          volume: 20780.36
          requestId: AAPL
        - fsymId: MH33D6-R
          date: '2019-03-29'
          adjDate: '2014-06-09'
          currency: USD
          price: 189.95
          priceOpen: 189.83
          priceHigh: 190.08
          priceLow: 188.54
          volume: 23563.96
          requestId: AAPL
    twoSecuritiesPrices:
      summary: Price Records for AAPL and TSLA as of March 29 2019
      description: Price Records for AAPL and TSLA as of March 29 2019
      value:
        data:
        - fsymId: MH33D6-R
          date: '2019-03-29'
          adjDate: '2014-06-09'
          currency: USD
          price: 189.95
          priceOpen: 189.83
          priceHigh: 190.08
          priceLow: 188.54
          volume: 23563.96
          requestId: AAPL
        - fsymId: Q2YN1N-R
          date: '2019-03-29'
          adjDate: null
          currency: USD
          price: 279.86
          priceOpen: 278.7
          priceHigh: 280.16
          priceLow: 274.5
          volume: 5991.338
          requestId: TSLA
    BatchStatusFailedResponseMemoryLimit:
      description: Batch Status Failed Response - MemoryLimit. The example response shows the result of checking the status of a batch request that exceeded the memory limit.
      value:
        data:
          id: 0a0452e2-3937-441d-b376-f2733a938587
          status: FAILED
          startTime: '2023-09-15T00:07:46.501947'
          endTime: '2023-09-15T00:08:53.936218'
          error: The request size is too large. Try again with a smaller request.
    annualizedDividendsResponse:
      summary: Annualized Dividends Response of Apple (AAPL-US)
      value:
        data:
        - fsymId: SJY281-R
          eventId: JTHPFN-A
          effectiveDate: '2022-03-11'
          iadDefTradingAdj: 0.7584434
          currency: USD
          requestId: AAPL-US
    BatchStatusFailedResponse:
      description: Batch Status Failed Response
      value:
        data:
          id: 2df43e85-ea0f-45c6-bf4a-2baf4d1eaa3c
          status: failed
          startTime: '2021-06-29T18:34:52.168Z'
          endTime: '2021-06-29T18:34:55.402Z'
          error:
            id: 2df43e85-ea0f-45c6-bf4a-2baf4d1eaa3c
            code: GenericError
            title: the date parameter must be in YYYY-MM-DD format
    BatchResultQueuedResponse:
      description: Batch Result Queued Response
      value:
        errors:
          id: 618AC9B50DE76980
          code: Accepted
          title: Please check the status endpoint until the batch request has a status of DONE and then retrieve the results from the results endpoint.
          timestamp: '2022-01-18 18:29:59.189'
    BatchStatusFailedResponse_2:
      description: Batch Status Failed Response
      value:
        data:
          id: 2df43e85-ea0f-45c6-bf4a-2baf4d1eaa3c
          status: FAILED
          startTime: '2021-06-29T18:34:52.168Z'
          endTime: '2021-06-29T18:34:55.402Z'
          error: Invalid format for startDate
    sharesOutstanding:
      summary: Shares Outstanding Response of FactSet (FDS-US)
      value:
        data:
        - fsymId: C6J726-S
          date: '2023-08-10'
          documentId: '956881'
          requestId: C6J726-S
          reportDate: '2022-08-02'
          publicationDate: '2022-08-04'
          fiscalYear: 2022
          reportingPeriodDescription: 2nd Quarter
          reportingPeriod: 3
          description: Ordinary Shares
          adrRatio: 1
          adrFsymId: V9GGRZ-S
          adrDescription: American Despository Shares
          totalOutstanding: 980.22284
          adrTotalOutstanding: 225.30467
    BatchStatusDoneResponse:
      description: Batch Status Done Response
      value:
        data:
          id: 2df43e85-ea0f-45c6-bf4a-2baf4d1eaa3c
          status: DONE
          startTime: '2021-06-29T18:34:52.168Z'
          endTime: '2021-06-29T18:34:55.402Z'
          error: null
    GlobalPricesResponsePricesOnly:
      summary: Prices Response of FactSet (FDS-US) filtered to only return "price" field with dates.
      value:
        data:
        - date: '2021-08-23'
          requestId: FDS-USA
          price: 366.61
          fsymId: SQFMK3-R
          currency: USD
        - date: '2021-08-24'
          requestId: FDS-USA
          price: 367.64
          fsymId: SQFMK3-R
          currency: USD
        - date: '2021-08-25'
          requestId: FDS-USA
          price: 376
          fsymId: SQFMK3-R
          currency: USD
        - date: '2021-08-26'
          requestId: FDS-USA
          price: 374.01
          fsymId: SQFMK3-R
          currency: USD
        - date: '2021-08-27'
          requestId: FDS-USA
          price: 376.58
          fsymId: SQFMK3-R
          currency: USD
    BatchResultExecutingResponse:
      description: Batch Result Executing Response
      value:
        errors:
          id: 618AC9B50DE76980
          code: Accepted
          title: Please check the status endpoint until the batch request has a status of DONE and then retrieve the results from the results endpoint.
          timestamp: '2022-01-18 18:29:59.189'
    batchNotFound:
      summary: Not Found
      description: The requested item was not found.
      value:
        errors:
        - id: adb01824-252f-4420-b0c6
          code: Not Found
          links:
            about: /factset-global-prices/v1
          title: The Batch Request was not found. It has probably expired.
    BatchDataRequest:
      description: Batch Data Request
      value:
        id: 2df43e85-ea0f-45c6-bf4a-2baf4d1eaa3c
    BatchStatusQueuedResponse:
      description: Batch Status Queued Response
      value:
        data:
          id: 2df43e85-ea0f-45c6-bf4a-2baf4d1eaa3c
          status: QUEUED
          startTime: '2021-06-29T18:34:52.168Z'
          endTime: null
          error: null
    OrdinaryDividends:
      summary: Corporate Actions Ordinary Dividends (DVC)
      value:
        data:
        - fsymId: T0JRMW-R
          eventId: NQTVZK-A
          eventTypeCode: DVC
          eventTypeDesc: Dividend
          divTypeCode: '1'
          announcementDate: '2021-02-18'
          recordDate: '2021-04-21'
          payDate: '2021-04-20'
          effectiveDate: '2021-04-19'
          currency: CHF
          amtDefNetGrossIndicator: G
          amtDefTradingAdj: 2.75
          amtDefTradingUnadj: 2.75
          amtNetTradingAdj: 1.7875
          amtNetTradingUnadj: 1.7875
          amtGrossTradingAdj: 2.75
          amtGrossTradingUnadj: 2.75
          currencyDeclared: CHF
          amtDefDecAdj: 2.75
          amtDefDecUnadj: 2.75
          amtNetDecAdj: 1.7875
          amtNetDecUnadj: 1.7875
          amtGrossDecAdj: 2.75
          amtGrossDecUnadj: 2.75
          dividendsSpecFlag: 0
          taxRate: 35
          requestId: NESN-CH
        - fsymId: V5W2SX-R
          eventId: NQTVZK-A
          eventTypeCode: DVC
          eventTypeDesc: Dividend
          divTypeCode: '1'
          announcementDate: '2021-02-18'
          recordDate: '2021-04-21'
          payDate: '2021-04-20'
          effectiveDate: '2021-04-19'
          currency: USD
          amtDefNetGrossIndicator: G
          amtDefTradingAdj: 3.003987
          amtDefTradingUnadj: 3.003987
          amtNetTradingAdj: 1.952592
          amtNetTradingUnadj: 1.952592
          amtGrossTradingAdj: 3.003987
          amtGrossTradingUnadj: 3.003987
          currencyDeclared: CHF
          amtDefDecAdj: 2.75
          amtDefDecUnadj: 2.75
          amtNetDecAdj: 1.7875
          amtNetDecUnadj: 1.7875
          amtGrossDecAdj: 2.75
          amtGrossDecUnadj: 2.75
          dividendsSpecFlag: 0
          taxRate: 35
          requestId: V5W2SX-R
    BatchStatusExecutingResponse_2:
      description: Batch Status Executing Response
      value:
        data:
          id: 2df43e85-ea0f-45c6-bf4a-2baf4d1eaa3c
          status: executing
          startTime: '2021-06-29T18:34:52.168Z'
          endTime: null
          error: null
    BatchStatusDoneResponse_2:
      description: Batch Status Done Response
      value:
        data:
          id: 2df43e85-ea0f-45c6-bf4a-2baf4d1eaa3c
          status: created
          startTime: '2021-06-29T18:34:52.168Z'
          endTime: '2021-06-29T18:34:55.402Z'
          error: null
    BatchStatusExecutingResponse:
      description: Batch Status Executing Response
      value:
        data:
          id: 2df43e85-ea0f-45c6-bf4a-2baf4d1eaa3c
          status: EXECUTING
          startTime: '2021-06-29T18:34:52.168Z'
          endTime: null
          error: null
    cross-sectional-singleId-singleItem:
      summary: Single Equity Id and Single Equity Data Item
      description: '`cross-sectional` Request for Single Price Record for IBM

        '
      value:
        data:
        - dataItemName: requestId
          result:
          - IBM
          dataType: STRING
          error: 0
        - dataItemName: P_PRICE(0)
          result:
          - 120.77
          dataType: DOUBLE
          error: 0
  parameters:
    batchId:
      name: id
      in: query
      description: Batch Request identifier.
      schema:
        type: string
        format: uuid
      required: true
      allowEmptyValue: false
  responses:
    batch404:
      description: Resource not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/batchErrorResponse'
          examples:
            Batch Request Not Found:
              $ref: '#/components/examples/batchNotFound'
    '404':
      description: Resource not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponse'
          examples:
            Batch Request Not Found:
              $ref: '#/components/examples/notFound'
  requestBodies:
    batch-result-postBody:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/BatchDataRequest'
          examples:
            BatchDataRequest:
              summary: Batch Result Request
              value:
                data:
                  id: 2df43e85-ea0f-45c6-bf4a-2baf4d1eaa3c
    batch-status-postBody:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/BatchDataRequest'
          examples:
            BatchStatusRequest:
              summary: Batch Status Request
              value:
                data:
                  id: 2df43e85-ea0f-45c6-bf4a-2baf4d1eaa3c
  headers:
    chain-id:
      description: Unique identifier for the request. Also known as the chain id.
      schema:
        type: string
        example: 5EFCCA8940CAEA6B
    api-version:
      description: the full semantic version of the API.
      schema:
        type: string
        example: 1.0.0
    api-supported-versions:
      description: the comma-separated list of supported major versions.
      schema:
        type: string
        example: '1'
    api-deprecated-versions:
      description: the comma-separated list of deprecated major versions.
      schema:
        type: string
        example: 1,2
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
externalDocs:
  url: https://developer.factset.com/api-catalog/analytics-datastore-api
  description: API Documentation
