openapi: 3.2.0
info:
  title: Factset Prices API
  version: '1.0'
  description: 'Operations tagged Prices across 5 of this provider''s published API definitions: factset-funds-api-openapi.yml, factset-real-time-quotes-api-openapi.yml, factset-real-time-time-series-api-openapi.yml, real-time-quotes-openapi-original.yml, real-time-time-series-openapi-original.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.factset.com/content
  description: Production
- url: https://api.factset.com/wealth/v3
tags:
- name: Prices
paths:
  /factset-funds/v1/prices:
    get:
      tags:
      - Prices
      summary: Factset Get Fund Prices (nav) for a Requested Time-series
      operationId: getFundsPrices
      description: 'Get Fund Prices (NAV) for a requested date range and list of ids.

        '
      parameters:
      - $ref: '#/components/parameters/ids'
      - $ref: '#/components/parameters/startDate'
      - $ref: '#/components/parameters/endDate'
      - $ref: '#/components/parameters/frequency'
      - $ref: '#/components/parameters/currency'
      - $ref: '#/components/parameters/dataType'
      - $ref: '#/components/parameters/splitAdjust'
      responses:
        '200':
          description: The Prices response object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fundsPricesResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - BasicAuth: []
    post:
      tags:
      - Prices
      summary: Factset Get Fund Prices (nav) for a Requested Date Range and Large List of Ids.
      description: "Fetch fund prices (NAV) as of a requested date range and a large list of ids. \n"
      operationId: getFundsPricesForList
      requestBody:
        required: true
        description: The Prices request body, allowing the user to specify a list of ids.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/fundsPricesRequest'
      responses:
        '200':
          description: The Prices response object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fundsPricesResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - BasicAuth: []
    servers:
    - url: https://api.factset.com/content
      description: Production
  /prices/get:
    get:
      tags:
      - Prices
      operationId: get/prices/get
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: true
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Factset Overview of Trading on the Most Recent Trading Day, Including the Latest Price, for a Notation.
      description: 'Overview of trading on the most recent trading day, including the latest price, for a notation.


        The endpoint is subscribable to provide push updates. See attribute `_subscriptionMinimalInterval` for valid update rates.'
      parameters:
      - name: identifier
        in: query
        schema:
          type: string
          pattern: ^[B-DF-HJ-NP-TV-Z0-9]{6}-[LR]$|^[A-Z0-9.#&*+]{1,47}-[A-Z0-9]{2,4}$|^[0-9]{3,20}$
          maxLength: 50
          minLength: 3
          description: Identifier to resolve.
        required: true
      - name: identifierType
        in: query
        schema:
          type: string
          description: Type of the identifier.
          x-enum-description:
          - MDG identifier of a listing.
          - FactSet market symbol of a listing.
          - Regional FactSet ticker symbol, identifying the primary listing in the region.
          - FactSet Permanent Identifier on listing level.
          - Regional FactSet Permanent Identifier, identifying the primary listing in the region.
          enum:
          - idNotation
          - tickerExchange
          - tickerRegion
          - fdsPermanentIdentifierListing
          - fdsPermanentIdentifierRegional
        required: true
      - name: quality
        in: query
        schema:
          type: string
          description: Quality of the price.
          default: DLY
          x-enum-description:
          - 'Real-time: intraday prices with minimal technical processing delays.'
          - 'Delayed: intraday prices with an exchange-imposed delay of usually 15 to 30 minutes.'
          - 'End-of-day: prices updated once per day after the close of trading, possibly with an exchange-imposed delay of several hours or days.'
          - 'Best: choose the price quality with the least delay, as entitled for the client.'
          enum:
          - RLT
          - DLY
          - EOD
          - BST
        required: false
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      - description: Minimum number of milliseconds at which updates are sent.
        name: _subscriptionMinimumInterval
        in: query
        schema:
          type: number
          format: int32
          default: 5000
          x-enum-description:
          - 1 second
          - 5 seconds
          - 10 seconds
          - 30 seconds
          - 60 seconds
          - 300 seconds
          enum:
          - 1000
          - 5000
          - 10000
          - 30000
          - 60000
          - 300000
      responses:
        '200':
          $ref: '#/components/responses/GetPricesGet200Response'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - FactSetApiKey: []
      - FactSetOAuth2: []
    servers:
    - url: https://api.factset.com/wealth/v3
  /prices/list:
    get:
      tags:
      - Prices
      operationId: get/prices/list
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Factset Overview of Trading on the Most Recent Trading Day, Including the Latest Price, for a List of Notations.
      description: Overview of trading on the most recent trading day, including the latest price, for a list of notations.
      parameters:
      - name: identifiers
        in: query
        schema:
          description: Set of identifiers to resolve.
          type: array
          items:
            type: string
            minLength: 3
            maxLength: 50
            pattern: ^[B-DF-HJ-NP-TV-Z0-9]{6}-[LR]$|^[A-Z0-9.#&*+]{1,47}-[A-Z0-9]{2,4}$|^[0-9]{3,20}$
          uniqueItems: true
          minItems: 1
          maxItems: 100
        required: true
        style: form
        explode: false
      - name: identifierType
        in: query
        schema:
          type: string
          description: Type of the identifier.
          x-enum-description:
          - MDG identifier of a listing.
          - FactSet market symbol of a listing.
          - Regional FactSet ticker symbol, identifying the primary listing in the region.
          - FactSet Permanent Identifier on listing level.
          - Regional FactSet Permanent Identifier, identifying the primary listing in the region.
          enum:
          - idNotation
          - tickerExchange
          - tickerRegion
          - fdsPermanentIdentifierListing
          - fdsPermanentIdentifierRegional
        required: true
      - name: quality
        in: query
        schema:
          type: string
          description: Quality of the price.
          default: DLY
          x-enum-description:
          - 'Real-time: intraday prices with minimal technical processing delays.'
          - 'Delayed: intraday prices with an exchange-imposed delay of usually 15 to 30 minutes.'
          - 'End-of-day: prices updated once per day after the close of trading, possibly with an exchange-imposed delay of several hours or days.'
          - 'Best: choose the price quality with the least delay, as entitled for the client.'
          enum:
          - RLT
          - DLY
          - EOD
          - BST
        required: false
      - name: sameQuality
        in: query
        schema:
          type: boolean
          default: true
          description: Ensure that the prices for all notations are of the same quality.
        required: false
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      responses:
        '200':
          $ref: '#/components/responses/GetPricesList200Response'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - FactSetApiKey: []
      - FactSetOAuth2: []
    servers:
    - url: https://api.factset.com/wealth/v3
  /prices/orderbook/full/get:
    get:
      tags:
      - Prices
      operationId: get/prices/orderbook/full/get
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: true
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Factset Full Orderbook
      description: Full orderbook
      parameters:
      - name: identifier
        in: query
        schema:
          type: string
          pattern: ^[B-DF-HJ-NP-TV-Z0-9]{6}-[LR]$|^[A-Z0-9.#&*+]{1,47}-[A-Z0-9]{2,4}$|^[0-9]{3,20}$
          maxLength: 50
          minLength: 3
          description: Identifier to resolve.
        required: true
      - name: identifierType
        in: query
        schema:
          type: string
          description: Type of the identifier.
          x-enum-description:
          - MDG identifier of a listing.
          - FactSet market symbol of a listing.
          - Regional FactSet ticker symbol, identifying the primary listing in the region.
          - FactSet Permanent Identifier on listing level.
          - Regional FactSet Permanent Identifier, identifying the primary listing in the region.
          enum:
          - idNotation
          - tickerExchange
          - tickerRegion
          - fdsPermanentIdentifierListing
          - fdsPermanentIdentifierRegional
        required: true
      - name: quality
        in: query
        schema:
          type: string
          description: Quality of the price.
          default: RLT
          x-enum-description:
          - 'Real-time: intraday prices with minimal technical processing delays.'
          - 'Delayed: intraday prices with an exchange-imposed delay of usually 15 to 30 minutes.'
          - 'Best: choose the price quality with the least delay, as entitled for the client.'
          enum:
          - RLT
          - DLY
          - BST
        required: false
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      - description: Non-negative number of milliseconds to throttle the update rate.
        name: _subscriptionMinimumInterval
        in: query
        schema:
          type: number
          format: int32
          minimum: 1000
          maximum: 300000
          default: 5000
          x-enum-description:
          - 1 second
          - 5 seconds
          - 10 seconds
          - 30 seconds
          - 1 minute
          - 5 minutes
          enum:
          - 1000
          - 5000
          - 10000
          - 30000
          - 60000
          - 300000
      responses:
        '200':
          $ref: '#/components/responses/GetPricesOrderbookFullGet200Response'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - FactSetApiKey: []
      - FactSetOAuth2: []
    servers:
    - url: https://api.factset.com/wealth/v3
  /prices/tradingSchedule/event/list:
    post:
      tags:
      - Prices
      operationId: post/prices/tradingSchedule/event/list
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: true
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Factset Sequence of Market-related Events.
      description: Sequence of market-related events like the opening time or closing time of a market of a specific notation.<br><br>Pagination to a previous page is not supported and `pagination.previous` is always `null`.
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostPricesTradingScheduleEventListRequest'
        required: true
      responses:
        '200':
          $ref: '#/components/responses/PostPricesTradingScheduleEventList200Response'
      parameters: []
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - FactSetApiKey: []
      - FactSetOAuth2: []
    servers:
    - url: https://api.factset.com/wealth/v3
  /prices/tradingSchedule/event/type/list:
    get:
      tags:
      - Prices
      operationId: get/prices/tradingSchedule/event/type/list
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Factset Trading Schedule Event Types.
      description: Trading schedule event types define the events which may occur during any period of trading. Types of trading schedule events are for instance OPEN, CLOSE, END_OF_DAY.
      responses:
        '200':
          $ref: '#/components/responses/GetPricesTradingScheduleEventTypeList200Response'
      parameters:
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - FactSetApiKey: []
      - FactSetOAuth2: []
    servers:
    - url: https://api.factset.com/wealth/v3
  /prices/timeSeries/eod/list:
    post:
      tags:
      - Prices
      operationId: post/prices/timeSeries/eod/list
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: true
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Factset End-of-day Time Series Data for a Notation.
      description: End-of-day time series data for a notation. The resulting time series is always adjusted for currency changes.<br><br>Pagination to a previous page is not supported and `pagination.previous` is always `null`.
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostPricesTimeSeriesEodListRequest'
        required: true
      responses:
        '200':
          $ref: '#/components/responses/PostPricesTimeSeriesEodList200Response'
      parameters: []
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - FactSetApiKey: []
      - FactSetOAuth2: []
    servers:
    - url: https://api.factset.com/wealth/v3
  /prices/timeSeries/eod/subsample/get:
    post:
      tags:
      - Prices
      operationId: post/prices/timeSeries/eod/subsample/get
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Factset Single Subsample End-of-day Data for a Notation.
      description: Single subsample end-of-day data for a notation. The sample is always adjusted for currency changes. The subsample may exceed the entitled date range, but will be based only on days that are in the entitled range.
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostPricesTimeSeriesEodSubsampleGetRequest'
        required: true
      responses:
        '200':
          $ref: '#/components/responses/PostPricesTimeSeriesEodSubsampleGet200Response'
      parameters: []
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - FactSetApiKey: []
      - FactSetOAuth2: []
    servers:
    - url: https://api.factset.com/wealth/v3
  /prices/timeSeries/eod/subsample/list:
    post:
      tags:
      - Prices
      operationId: post/prices/timeSeries/eod/subsample/list
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: true
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Factset Subsampled End-of-day Time Series Data for a Notation.
      description: Subsampled end-of-day time series data for a notation. The resulting time series is always adjusted for currency changes. If a subsample's date range is not entirely within the maximally entitled date range, the subsample is excluded from the response.<br><br>Pagination to a previous page is not supported and `pagination.previous` is always `null`.
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostPricesTimeSeriesEodSubsampleListRequest'
        required: true
      responses:
        '200':
          $ref: '#/components/responses/PostPricesTimeSeriesEodSubsampleList200Response'
      parameters: []
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - FactSetApiKey: []
      - FactSetOAuth2: []
    servers:
    - url: https://api.factset.com/wealth/v3
  /prices/bidAsk/get:
    get:
      tags:
      - Prices
      operationId: get/prices/bidAsk/get
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: true
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Factset Most recent bid and ask prices (best bid / offer) for a notation.
      description: 'Most recent bid and ask prices (best bid / offer) for a notation.


        The endpoint is subscribable to provide push updates. See attribute `_subscriptionMinimalInterval` for valid update rates.'
      parameters:
      - name: identifier
        in: query
        schema:
          type: string
          pattern: ^[B-DF-HJ-NP-TV-Z0-9]{6}-[LR]$|^[A-Z0-9.#&*+]{1,47}-[A-Z0-9]{2,4}$|^[0-9]{3,20}$
          maxLength: 50
          minLength: 3
          description: Identifier to resolve.
        required: true
      - name: identifierType
        in: query
        schema:
          type: string
          description: Type of the identifier.
          x-enum-description:
          - MDG identifier of a listing.
          - FactSet market symbol of a listing.
          - Regional FactSet ticker symbol, identifying the primary listing in the region.
          - FactSet Permanent Identifier on listing level.
          - Regional FactSet Permanent Identifier, identifying the primary listing in the region.
          enum:
          - idNotation
          - tickerExchange
          - tickerRegion
          - fdsPermanentIdentifierListing
          - fdsPermanentIdentifierRegional
        required: true
      - name: quality
        in: query
        schema:
          type: string
          description: Quality of the price.
          default: DLY
          x-enum-description:
          - 'Real-time: intraday prices with minimal technical processing delays.'
          - 'Delayed: intraday prices with an exchange-imposed delay of usually 15 to 30 minutes.'
          - 'End-of-day: prices updated once per day after the close of trading, possibly with an exchange-imposed delay of several hours or days.'
          - 'Best: choose the price quality with the least delay, as entitled for the client.'
          enum:
          - RLT
          - DLY
          - EOD
          - BST
        required: false
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      - description: Minimum number of milliseconds at which updates are send.
        name: _subscriptionMinimumInterval
        in: query
        schema:
          type: number
          format: int32
          default: 5000
          x-enum-description:
          - 1 second
          - 5 seconds
          - 10 seconds
          - 30 seconds
          - 60 seconds
          - 300 seconds
          enum:
          - 1000
          - 5000
          - 10000
          - 30000
          - 60000
          - 300000
      responses:
        '200':
          $ref: '#/components/responses/GetPricesBidAskGet200Response'
      security:
      - FactSetApiKey: []
      - FactSetOAuth2: []
    servers:
    - url: https://api.factset.com/wealth/v3
  /prices/bidAsk/list:
    get:
      tags:
      - Prices
      operationId: get/prices/bidAsk/list
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Factset Most recent bid and ask prices (best bid / offer) for a list of notations.
      description: Most recent bid and ask prices (best bid / offer) for a list of notations.
      parameters:
      - name: identifiers
        in: query
        schema:
          description: Set of identifiers to resolve.
          type: array
          items:
            type: string
            minLength: 3
            maxLength: 50
            pattern: ^[B-DF-HJ-NP-TV-Z0-9]{6}-[LR]$|^[A-Z0-9.#&*+]{1,47}-[A-Z0-9]{2,4}$|^[0-9]{3,20}$
          uniqueItems: true
          minItems: 1
          maxItems: 100
        required: true
        style: form
        explode: false
      - name: identifierType
        in: query
        schema:
          type: string
          description: Type of the identifier.
          x-enum-description:
          - MDG identifier of a listing.
          - FactSet market symbol of a listing.
          - Regional FactSet ticker symbol, identifying the primary listing in the region.
          - FactSet Permanent Identifier on listing level.
          - Regional FactSet Permanent Identifier, identifying the primary listing in the region.
          enum:
          - idNotation
          - tickerExchange
          - tickerRegion
          - fdsPermanentIdentifierListing
          - fdsPermanentIdentifierRegional
        required: true
      - name: quality
        in: query
        schema:
          type: string
          description: Quality of the price.
          default: DLY
          x-enum-description:
          - 'Real-time: intraday prices with minimal technical processing delays.'
          - 'Delayed: intraday prices with an exchange-imposed delay of usually 15 to 30 minutes.'
          - 'End-of-day: prices updated once per day after the close of trading, possibly with an exchange-imposed delay of several hours or days.'
          - 'Best: choose the price quality with the least delay, as entitled for the client.'
          enum:
          - RLT
          - DLY
          - EOD
          - BST
        required: false
      - name: sameQuality
        in: query
        schema:
          type: boolean
          default: true
          description: Ensure that the prices for all notations are of the same quality.
        required: false
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      responses:
        '200':
          $ref: '#/components/responses/GetPricesBidAskList200Response'
      security:
      - FactSetApiKey: []
      - FactSetOAuth2: []
    servers:
    - url: https://api.factset.com/wealth/v3
  /prices/orderbook/aggregated/get:
    get:
      tags:
      - Prices
      operationId: get/prices/orderbook/aggregated/get
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: true
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Factset Orderbook aggregated by price.
      description: Orderbook aggregated by price.
      parameters:
      - name: identifier
        in: query
        schema:
          type: string
          pattern: ^[B-DF-HJ-NP-TV-Z0-9]{6}-[LR]$|^[A-Z0-9.#&*+]{1,47}-[A-Z0-9]{2,4}$|^[0-9]{3,20}$
          maxLength: 50
          minLength: 3
          description: Identifier to resolve.
        required: true
      - name: identifierType
        in: query
        schema:
          type: string
          description: Type of the identifier.
          x-enum-description:
          - MDG identifier of a listing.
          - FactSet market symbol of a listing.
          - Regional FactSet ticker symbol, identifying the primary listing in the region.
          - FactSet Permanent Identifier on listing level.
          - Regional FactSet Permanent Identifier, identifying the primary listing in the region.
          enum:
          - idNotation
          - tickerExchange
          - tickerRegion
          - fdsPermanentIdentifierListing
          - fdsPermanentIdentifierRegional
        required: true
      - name: quality
        in: query
        schema:
          type: string
          description: Quality of the price.
          default: RLT
          x-enum-description:
          - 'Real-time: intraday prices with minimal technical processing delays.'
          - 'Delayed: intraday prices with an exchange-imposed delay of usually 15 to 30 minutes.'
          - 'Best: choose the price quality with the least delay, as entitled for the client.'
          enum:
          - RLT
          - DLY
          - BST
        required: false
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      - description: Non-negative number of milliseconds to throttle the update rate.
        name: _subscriptionMinimumInterval
        in: query
        schema:
          type: number
          format: int32
          minimum: 1000
          maximum: 300000
          default: 5000
          x-enum-description:
          - 1 second
          - 5 seconds
          - 10 seconds
          - 30 seconds
          - 1 minute
          - 5 minutes
          enum:
          - 1000
          - 5000
          - 10000
          - 30000
          - 60000
          - 300000
      responses:
        '200':
          $ref: '#/components/responses/GetPricesOrderbookAggregatedGet200Response'
      security:
      - FactSetApiKey: []
      - FactSetOAuth2: []
    servers:
    - url: https://api.factset.com/wealth/v3
  /prices/timeSeries/intraday/list:
    post:
      tags:
      - Prices
      operationId: post/prices/timeSeries/intraday/list
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: true
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Factset Intraday time series data for a notation.
      description: Intraday time series data for a notation.<br><br>Pagination to a previous page is not supported and `pagination.previous` is always `null`.
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostPricesTimeSeriesIntradayListRequest'
        required: true
      responses:
        '200':
          $ref: '#/components/responses/PostPricesTimeSeriesIntradayList200Response'
      parameters: []
      security:
      - FactSetApiKey: []
      - FactSetOAuth2: []
    servers:
    - url: https://api.factset.com/wealth/v3
  /prices/timeSeries/intraday/subsample/get:
    post:
      tags:
      - Prices
      operationId: post/prices/timeSeries/intraday/subsample/get
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Factset Single subsample intraday data for a notation.
      description: Single subsample intraday data for a notation. The subsample may exceed the entitled time range, but will be based only on ticks that are in the entitled range.
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostPricesTimeSeriesIntradaySubsampleGetRequest'
        required: true
      responses:
        '200':
          $ref: '#/components/responses/PostPricesTimeSeriesIntradaySubsampleGet200Response'
      parameters: []
      security:
      - FactSetApiKey: []
      - FactSetOAuth2: []
    servers:
    - url: https://api.factset.com/wealth/v3
  /prices/timeSeries/intraday/subsample/list:
    post:
      tags:
      - Prices
      operationId: post/prices/timeSeries/intraday/subsample/list
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: true
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Factset Subsampled intraday time series data for a notation.
      description: Subsampled intraday time series data for a notation. If a subsample's time range is not entirely within the maximally entitled time range, the subsample is excluded from the response.<br><br>Pagination to a previous page is not supported and `pagination.previous` is always `null`.
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostPricesTimeSeriesIntradaySubsampleListRequest'
        required: true
      responses:
        '200':
          $ref: '#/components/responses/PostPricesTimeSeriesIntradaySubsampleList200Response'
      parameters: []
      security:
      - FactSetApiKey: []
      - FactSetOAuth2: []
    servers:
    - url: https://api.factset.com/wealth/v3
components:
  examples:
    unsupportedMediaType:
      summary: Unsupported Media Type
      description: This bad request occurs when the media type passed in the request is not supported. Currently the APIs only support 'application/json'.
      value:
        status: Unsupported Media Type
        timestamp: '2019-11-05 09:42:27.237'
        path: /factset-funds/v1/{endpoint}
        message: text/html media type is not supported. Supported media types are application/json
        subErrors: null
    badRequestDateFormat:
      summary: Bad Request - Date Format
      description: This bad request occurs when a request doesn't use the YYYY-MM-DD in the date parameters. To resolve, convert your date to YYYY-MM-DD.
      value:
        status: Bad Request
        timestamp: '2019-10-31 16:08:07.945'
        path: /factset-funds/v1/{endpoint}
        message: 'The date parameter ''startDate'' must be in the following date format: YYYY-MM-DD'
        subErrors: null
    badRequestMalformedJSON:
      summary: Bad Request - Malformed JSON Request
      description: This error may be returned when the request body is specified as JSON, but is not in proper JSON format.
      value:
        status: Bad Request
        timestamp: '2019-11-05 09:48:29.18'
        path: /factset-funds/v1/{endpoint}
        message: Malformed JSON Request
        subErrors: null
    badRequestInvalidParameters:
      summary: Bad Request - Invalid Parameters
      description: This error message occurs when a request parameter is used in which is not recognized by the service. Please revise your request to include only the parameters listed in the specification. Typical causes are spelling mistakes and use of improper casing.
      value:
        status: Bad Request
        timestamp: '2020-06-12 15:58:54.068'
        path: /factset-funds/v1/{endpoint}
        message: 'Invalid Parameter (s): fakeParameterName1 fakeParameterName2. Please modify your request to use parameters outlined in the specification for this endpoint.'
        subErrors: null
    badRequestFutureDate:
      summary: Bad Request - Future Date
      description: This error message occurs when a future date is requested in the startDate and endDate parameters. Please revise your request to include dates as of today's current date or any prior historical date.
      value:
        status: Bad Request
        timestamp: '2020-06-12 15:52:48.091'
        path: /factset-funds/v1/{endpoint}
        message: The use of future dates is not applicable in this endpoint. Please revise your request to include dates up to today's current date.
        subErrors: null
    forbidden:
      summary: Forbidden
      description: The USERNAME-SERIAL attempted to request the endpoint is not authorized to access. The request was a legal request, but the server is refusing to respond. Please reach out to FactSet Account Team for assistance with authorization.
      value:
        status: Forbidden
        timestamp: '2020-06-12 16:08:51.731'
        path: /factset-funds/v1/{endpoint}
        message: USERNAME-SERIAL does not have permission to use /factset-funds /v1/{endpoint}
        subErrors: null
    generalException:
      summary: Internal Server Error - General Exception
      description: This is the most general error that can be returned to by the service. Please `Report Issue` to FactSet.
      value:
        status: Internal Server Error
        timestamp: '2019-11-01 10:36:01.944'
        path: /factset-funds/v1/{endpoint}
        message: Unexpected error
        subErrors: null
    notWritable:
      summary: Internal Server Error - Not Writable
      description: This error may be returned when the server encounters an error writing the JSON response.
      value:
        status: Internal Server Error
        timestamp: '2019-11-05 09:48:29.18'
        path: /factset-funds/v1/{endpoint}
        message: Error writing JSON output
        subErrors: null
    unauthenticated:
      summary: User Authentication Failed
      description: This occurs when a user is not properly authenticated or recognized by the service. Please double check the USERNAME-SERIAL and API-Key used to request and ensure you are within the IP range specified for the Key. Report Issue under 401 error for help with troubleshooting.
      value:
        status: User Authentication Failed
        timestamp: '2019-10-31 16:08:07.945'
        path: /factset-funds/v1/{endpoint}
        message: User Authentication Failed.
        subErrors: null
    badRequestRequiredParameter:
      summary: Bad Request - Required Parameter Missing
      description: This error message occurs when the request does not include the required parameters. Required parameters are indicated with a red asterisks symbol in the specification file.
      value:
        status: Bad Request
        timestamp: '2020-06-12 15:48:42.016'
        path: /factset-funds/v1/{endpoint}
        message: The parameter 'ids' is required and may not be empty.
        subErrors: null
    badRequestReadTimeout:
      summary: Bad Request - Read Timeout
      description: This error may be returned if it takes more than 29 seconds to hear back from the data fetch service.
      value:
        status: Bad Request
        timestamp: '2019-11-04 16:18:38.949'
        path: /factset-funds/v1/{endpoint}
        message: The request took too long. Try again with a smaller request.
        subErrors: null
  responses:
    '403':
      description: The USERNAME-SERIAL attempted to request the endpoint is not authorized to access. The request was a legal request, but the server is refusing to respond. Please reach out to FactSet Account Team for assistance with authorization.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponse'
          examples:
            Bad Request - Date Format:
              $ref: '#/components/examples/forbidden'
    '400':
      description: Bad Request. This can occur for several reasons. Please review the "message" for more details.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponse'
          examples:
            Bad Request - Date Format:
              $ref: '#/components/examples/badRequestDateFormat'
            Bad Request - Missing Required Parameter:
              $ref: '#/components/examples/badRequestRequiredParameter'
            Bad Request - Future Date:
              $ref: '#/components/examples/badRequestFutureDate'
            Bad Request - Invalid Parameter:
              $ref: '#/components/examples/badRequestInvalidParameters'
            Bad Request - Malformed JSON:
              $ref: '#/components/examples/badRequestMalformedJSON'
            Bad Request - Read Timeout:
              $ref: '#/components/examples/badRequestReadTimeout'
    '415':
      description: Unsupported Media Type. This error may be returned when the caller sends a resource in a format that is not accepted by the server. This can be fixed by ensuring that Content-Type header is set to the correct value. In this instance, "application/json" would be the appropriate value.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponse'
          examples:
            Bad Request - Date Format:
              $ref: '#/components/examples/unsupportedMediaType'
    '401':
      description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and have successfully generated an API KEY for the IP range you are connecting from. For more help, select the **Report Issue** in the top right corner of this Developer Portal specification card and choose Connectivity 401 or 403 Responses.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponse'
          examples:
            Bad Request - Date Format:
              $ref: '#/components/examples/unauthenticated'
    '500':
      description: Internal Server Error.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponse'
          examples:
            Internal Server Error - Not Writable:
              $ref: '#/components/examples/notWritable'
            Internal Server Error - General Exception:
              $ref: '#/components/examples/generalException'
    GetPricesOrderbookFullGet200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: object
                properties:
                  idNotation:
                    type:
                    - string
                    - 'null'
                    format: id64
                    x-positive: true
                    description: MDG identifier of the listing.
                  sourceIdentifier:
                    type:
                    - string
                    - 'null'
                    description: Identifier used in the request.
                  quality:
                    type:
                    - string
                    - 'null'
                    description: Quality of the price.
                    x-enum-description:
                    - 'Real-time: intraday prices with minimal technical processing delays.'
                    - 'Delayed: intraday prices with an exchange-imposed delay of usually 15 to 30 minutes.'
                    enum:
                    - RLT
                    - DLY
                  asks:
                    description: Ask entries of the full orderbook.
                    type: array
                    items:
                      type: object
                      x-property-sort:
                      - id
                      - time
                      - type
                      - price
                      - quoteCondition
                      - volume
                      - marketMaker
                      properties:
                        id:
                          description: Unique identifier of the order. Possible values depend on the values delivered by the supplier of the price information.
                          x-pushable: true
                          type:
                          - string
                          - 'null'
                          format: id64
                          x-positive: true
                        time:
                          description: Date and time of the latest change.
                          x-pushable: true
                          type:
                          - string
                          - 'null'
                          format: datetime
                        type:
                          description: Order type.
                          x-pushable: true
                          type:
                          - number
                          - 'null'
                          format: int32
                          x-enum-description:
                          - The order has a fixed price.
                          - The order has no price and should be traded at market price.
                          - The order represents a quote, which cannot execute against other orders.
                          enum:
                          - 0
                          - 1
                          - 2
                        price:
                          description: Price value. The value is 0 if the attribute `type` is 1 (market order). See attribute `valueUnit` in endpoint `/prices/get` for the unit of the price value".
                          x-pushable: true
                          type:
                          - number
                          - 'null'
                          format: real
                        quoteCondition:
                          description: Quote condition. Possible values depend on the values delivered by the supplier of the price information.
                          x-pushable: true
                          type:
                          - string
                          - 'null'
                        volume:
                          description: Volume of the order.
                          x-pushable: true
                          type:
                          - number
                          - 'null'
                          format: int32
                        marketMaker:
                          description: Code of the market maker.
                          x-pushable: true
                          type:
                          - string
                          - 'null'
                  bids:
                    description: Bid entries of the full orderbook.
                    type: array
                    items:
                      type: object
                      x-property-sort:
                      - id
                      - time
                      - type
                      - price
                      - quoteCondition
                      - volume
                      - marketMaker
                      properties:
                        id:
                          description: Unique identifier of the order. Possible values depend on the values delivered by the supplier of the price information.
                          x-pushable: true
                          type:
                          - string
                          - 'null'
                          format: id64
                          x-positive: true
                        time:
                          description: Date and time of the latest change.
                          x-pushable: true
                          type:
                          - string
                          - 'null'
                          format: datetime
                        type:
                          description: Order type.
                          x-pushable: true
                          type:
                          - number
                          - 'null'
                          format: int32
                          x-enum-description:
                          - The order has a fixed price.
                          - The order has no price and should be traded at market price.
                          - The order represents a quote, which cannot execute against other orders.
                          enum:
                          - 0
                          - 1
                          - 2
                        price:
                          description: Price value. The value is 0 if the attribute `type` is 1 (market order). See attribute `valueUnit` in endpoint `/prices/get` for the unit of the price value".
                          x-pushable: true
                          type:
                          - number
                          - 'null'
                          format: real
                        quoteCondition:
                          description: Quote condition. Possible values depend on the values delivered by the supplier of the price information.
                          x-pushable: true
                          type:
                          - string
                          - 'null'
                        volume:
                          description: Volume of the order.
                          x-pushable: true
                          type:
                          - number
                          - 'null'
                          format: int32
                        marketMaker:
                          description: Code of the market maker.
                          x-pushable: true
                          type:
                          - string
                          - 'null'
                description: Orderbook.
                x-property-sort:
                - idNotation
                - sourceIdentifier
                - quality
                - asks
                - bids
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                x-property-sort:
                - status
            x-property-sort:
            - data
            - meta
    GetPricesGet200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: object
                properties:
                  idNotation:
                    type:
                    - string
                    - 'null'
                    format: id64
                    x-positive: true
                    description: MDG identifier of the listing.
                  sourceIdentifier:
                    type:
                    - string
                    - 'null'
                    description: Identifier used in the request.
                  valueUnit:
                    type: object
                    x-property-sort:
                    - id
                    description: Value unit of the notation such as a main or fractional currency for equities, a percentage for debt instruments, or points for indices. See endpoint `/basic/valueUnit/list` for possible values.
                    properties:
                      id:
                        type:
                        - number
                        - 'null'
                        format: id32
                        x-positive: true
                        description: Identifier of the valueUnit.
                  currency:
                    type: object
                    x-property-sort:
                    - id
                    description: Main currency of the monetary attributes. See endpoint `/basic/valueUnit/currency/main/list` for possible values.
                    properties:
                      id:
                        type:
                        - number
                        - 'null'
                        format: id32
                        x-positive: true
                        description: Identifier of the currency.
                  market:
                    type: object
                    x-property-sort:
                    - id
                    - isOpen
                    - phase
                    description: Market of the notation.
                    properties:
                      id:
                        type:
                        - number
                        - 'null'
                        format: id32
                        x-positive: true
                        description: Identifier of the market. See endpoint `/basic/market/list` for possible values.
                      isOpen:
                        x-pushable: true
                        type:
                        - boolean
                        - 'null'
                        description: Indicates whether the market of the notation is currently open, that is, the current time is between the open and adjusted close of the notation's market, see endpoint `/prices/tradingSchedule/event/list` for the trading schedule of the notation's market. The adjusted close is later than the official closing time specified by the market and includes the time after closing when trades might still be reported. Breaks such as a lunch break are not considered. The value is `null` if the result quality is EOD.
                      phase:
                        x-pushable: true
                        type:
                        - string
                        - 'null'
                        description: Market-specific code of the current market phase. The value is `null` if the result quality is EOD.
                  quality:
                    type:
                    - string
                    - 'null'
                    description: Quality of the price.
                    x-enum-description:
                    - 'Real-time: intraday prices with minimal technical processing delays.'
                    - 'Delayed: intraday prices with an exchange-imposed delay of usually 15 to 30 minutes.'
                    - 'End-of-day: prices updated once per day after the close of trading, possibly with an exchange-imposed delay of several hours or days.'
                    enum:
                    - RLT
                    - DLY
                    - EOD
                  latest:
                    type: object
                    x-property-sort:
                    - time
                    - price
                    - quoteCondition
                    - tradingVolume
                    - tradingValue
                    - performance
                    description: Most recent trade or price of the trading day.
                    properties:
                      time:
                        x-pushable: true
                        type:
                        - string
                        - 'null'
                        format: datetime
                        description: Date and time.
                        x-cas-attribute: timeLatestTradePrice
                      price:
                        x-pushable: true
                        type:
                        - number
                        - 'null'
                        format: real
                        description: Price value. See attribute `valueUnit` for its unit.
                        x-cas-attribute: valueLatestTradePrice
                      quoteCondition:
                        x-pushable: true
                        type:
                        - string
                        - 'null'
                        description: Quote condition. Possible values depend on the values delivered by the supplier of the price information.
                        x-cas-attribute: quoteConditionLatestTradePrice
                      tradingVolume:
                        x-pushable: true
                        type:
                        - number
                        - 'null'
                        format: real
                        description: Number of units (e.g. shares) traded.
                        x-cas-attribute: tradingVolumeLatestTradePrice
                      tradingValue:
                        x-pushable: true
                        type:
                        - number
                        - 'null'
                        format: real
                        description: Monetary equivalent (cash value) of the trade. See attribute `currency` for its unit.
                        x-cas-attribute: tradingValueLatestTradePrice
                      performance:
                        type: object
                        x-property-sort:
                        - intraday
                        description: Performance values.
                        properties:
                          intraday:
                            type: object
                            x-property-sort:
                            - absolute
                            - relative
                            description: Performance of the most recent price calculated against the latest price which has occurred before the start of the most recent trading day.
                            properties:
                              absolute:
                                x-pushable: true
                                type:
                                - number
                                - 'null'
                                format: real
                                description: Absolute value. See attribute `valueUnit` for its unit.
                                x-cas-attribute: absolutePerformanceLatestTradePrice
                              relative:
                                x-pushable: true
                                type:
                                - number
                                - 'null'
                                format: relativeValue
                                description: Relative value.
                                x-cas-attribute: relativePerformanceLatestTradePrice
                  first:
                    type: object
                    x-property-sort:
                    - time
                    - price
                    - tradingVolume
                    description: First trade or price of the trading day.
                    properties:
                      time:
                        x-pushable: true
                        type:
                        - string
                        - 'null'
                        format: datetime
                        description: Date and time.
                        x-cas-attribute: timeFirstTradePrice
                      price:
                        x-pushable: true
                        type:
                        - number
                        - 'null'
                        format: real
                        description: Price value. See attribute `valueUnit` for its unit.
                        x-cas-attribute: valueFirstTradePrice
                      tradingVolume:
                        x-pushable: true
                        type:
                        - number
                        - 'null'
                        format: real
                        description: Number of units (e.g. shares) traded.
                        x-cas-attribute: tradingVolumeFirstTradePrice
                  low:
                    type: object
                    x-property-sort:
                    - time
                    - price
                    - tradingVolume
                    description: Trade with the lowest price of the trading day.
                    properties:
                      time:
                        x-pushable: true
                        type:
                        - string
                        - 'null'
                        format: datetime
                        description: Date and time.
                        x-cas-attribute: timeLowestTradePrice
                      price:
                        x-pushable: true
                        type:
                        - number
                        - 'null'
                        format: real
                        description: Price value. See attribute `valueUnit` for its unit.
                        x-cas-attribute: valueLowestTradePrice
                      tradingVolume:
                        x-pushable: true
                        type:
                        - number
                        - 'null'
                        format: real
                        description: Number of units (e.g. shares) traded.
                        x-cas-attribute: tradingVolumeLowestTradePrice
                  high:
                    type: object
                    x-property-sort:
                    - time
                    - price
                    - tradingVolume
                    description: Trade with the highest price of the trading day.
                    properties:
                      time:
                        x-pushable: true
                        type:
                        - string
                        - 'null'
                        format: datetime
                        description: Date and time.
                        x-cas-attribute: timeHighestTradePrice
                      price:
                        x-pushable: true
                        type:
                        - number
                        - 'null'
                        format: real
                        description: Price value. See attribute `valueUnit` for its unit.
                        x-cas-attribute: valueHighestTradePrice
                      tradingVolume:
                        x-pushable: true
                        type:
                        - number
                        - 'null'
                        format: real
                        description: Number of units (e.g. shares) traded.
                        x-cas-attribute: tradingVolumeHighestTradePrice
                  previousClose:
                    type: object
                    x-property-sort:
                    - time
                    - price
                    description: Close price of the previous day.
                    properties:
                      time:
                        x-pushable: true
                        type:
                        - string
                        - 'null'
                        format: datetime
                        description: Date and time.
                        x-cas-attribute: timePreviousClosePrice
                      price:
                        x-pushable: true
                        type:
                        - number
                        - 'null'
                        format: real
                        description: Price value. See attribute `valueUnit` for its unit.
                        x-cas-attribute: valuePreviousClosePrice
                  accumulated:
                    type: object
                    x-property-sort:
                    - numberTrades
                    - tradingVolume
                    - tradingValue
                    - volumeWeightedAveragePrice
                    description: Summary data accumulated over all trades of the most recent trading day.
                    properties:
                      numberTrades:
                        x-pushable: true
                        type:
                        - number
                        - 'null'
                        format: real
                        description: Number of trades.
                        x-cas-attribute: accumulatedNumberTrades
                      tradingVolume:
                        x-pushable: true
                        type:
                        - number
                        - 'null'
                        format: real
                        description: Number of units (e.g. shares) traded.
                        x-cas-attribute: accumulatedTradingVolume
                      tradingValue:
                        x-pushable: true
                        type:
                        - number
                        - 'null'
                        format: real
                        description: Monetary equivalent (cash value) of the trades. See attribute `currency` for its unit.
                        x-cas-attribute: accumulatedTradingValue
                      volumeWeightedAveragePrice:
                        x-pushable: true
                        type:
                        - number
                        - 'null'
                        format: real
                        description: The volume-weighted average price (VWAP). See attribute `valueUnit` for its unit.
                        x-cas-attribute: volumeWeightedAveragePrice
                description: Set of price related data for the notation.
                x-property-sort:
                - idNotation
                - sourceIdentifier
                - valueUnit
                - currency
                - market
                - quality
                - latest
                - first
                - low
                - high
                - previousClose
                - accumulated
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                x-property-sort:
                - status
            x-property-sort:
            - data
            - meta
    GetPricesTradingScheduleEventTypeList200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: array
                description: List of trading schedule event types.
                items:
                  type: object
                  x-property-sort:
                  - id
                  - code
                  - description
                  properties:
                    id:
                      type:
                      - number
                      - 'null'
                      format: id32
                      x-positive: true
                      description: Identifier of the type.
                    code:
                      type:
                      - string
                      - 'null'
                      description: Code of the type.
                    description:
                      type:
                      - string
                      - 'null'
                      description: Description of the type in english language.
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                x-property-sort:
                - status
            x-property-sort:
            - data
            - meta
    GetPricesList200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: array
                description: Set of price related data for a list of notations.
                items:
                  type: object
                  x-property-sort:
                  - idNotation
                  - sourceIdentifier
                  - valueUnit
                  - currency
                  - market
                  - quality
                  - latest
                  - first
                  - low
                  - high
                  - previousClose
                  - accumulated
                  - status
                  properties:
                    idNotation:
                      type:
                      - string
                      - 'null'
                      format: id64
                      x-positive: true
                      description: MDG identifier of the listing.
                    sourceIdentifier:
                      type:
                      - string
                      - 'null'
                      description: Identifier used in the request.
                    valueUnit:
                      type: object
                      x-property-sort:
                      - id
                      description: Value unit of the notation such as a main or fractional currency for equities, a percentage for debt instruments, or points for indices. See endpoint `/basic/valueUnit/list` for possible values.
                      properties:
                        id:
                          type:
                          - number
                          - 'null'
                          format: id32
                          x-positive: true
                          description: Identifier of the valueUnit.
                    currency:
                      type: object
                      x-property-sort:
                      - id
                      description: Main currency of the monetary attributes. See endpoint `/basic/valueUnit/currency/main/list` for possible values.
                      properties:
                        id:
                          type:
                          - number
                          - 'null'
                          format: id32
                          x-positive: true
                          description: Identifier of the currency.
                    market:
                      type: object
                      x-property-sort:
                      - id
                      description: Market of the notation. See endpoint `/basic/market/list` for possible values.
                      properties:
                        id:
                          type:
                          - number
                          - 'null'
                          format: id32
                          x-positive: true
                          description: Identifier of the market.
                    quality:
                      type:
                      - string
                      - 'null'
                      description: Quality of the price.
                      x-enum-description:
                      - 'Real-time: intraday prices with minimal technical processing delays.'
                      - 'Delayed: intraday prices with an exchange-imposed delay of usually 15 to 30 minutes.'
                      - 'End-of-day: prices updated once per day after the close of trading, possibly with an exchange-imposed delay of several hours or days.'
                      enum:
                      - RLT
                      - DLY
                      - EOD
                    latest:
                      type: object
                      x-property-sort:
                      - time
                      - price
                      - quoteCondition
                      - tradingVolume
                      - tradingValue
                      - performance
                      description: Most recent trade or price of the trading day.
                      properties:
                        time:
                          type:
                          - string
                          - 'null'
                          format: datetime
                          description: Date and time.
                          x-cas-attribute: timeLatestTradePrice
                        price:
                          type:
                          - number
                          - 'null'
                          format: real
                          description: Price value. See attribute `valueUnit` for its unit.
                          x-cas-attribute: valueLatestTradePrice
                        quoteCondition:
                          type:
                          - string
                          - 'null'
                          description: Quote condition. Possible values depend on the values delivered by the supplier of the price information.
                          x-cas-attribute: quoteConditionLatestTradePrice
                        tradingVolume:
                          type:
                          - number
                          - 'null'
                          format: real
                          description: Number of units (e.g. shares) traded.
                          x-cas-attribute: tradingVolumeLatestTradePrice
                        tradingValue:
                          type:
                          - number
                          - 'null'
                          format: real
                          description: Monetary equivalent (cash value) of the trade. See attribute `currency` for its unit.
                          x-cas-attribute: tradingValueLatestTradePrice
                        performance:
                          type: object
                          x-property-sort:
                          - intraday
                          description: Performance values.
                          properties:
                            intraday:
                              type: object
                              x-property-sort:
                              - absolute
                              - relative
                              description: Performance of the most recent price calculated against the latest price which has occurred before the start of the most recent trading day.
                              properties:
                                absolute:
                                  type:
                                  - number
                                  - 'null'
                                  format: real
                                  description: Absolute value. See attribute `valueUnit` for its unit.
                                  x-cas-attribute: absolutePerformanceLatestTradePrice
                                relative:
                                  type:
                                  - number
                                  - 'null'
                                  format: relativeValue
                                  description: Relative value.
                                  x-cas-attribute: relativePerformanceLatestTradePrice
                    first:
                      type: object
                      x-property-sort:
                      - time
                      - price
                      - tradingVolume
                      description: First trade or price of the trading day.
                      properties:
                        time:
                          type:
                          - string
                          - 'null'
                          format: datetime
                          description: Date and time.
                          x-cas-attribute: timeFirstTradePrice
                        price:
                          type:
                          - number
                          - 'null'
                          format: real
                          description: Price value. See attribute `valueUnit` for its unit.
                          x-cas-attribute: valueFirstTradePrice
                        tradingVolume:
                          type:
                          - number
                          - 'null'
                          format: real
                          description: Number of units (e.g. shares) traded.
                          x-cas-attribute: tradingVolumeFirstTradePrice
                    low:
                      type: object
                      x-property-sort:
                      - time
                      - price
                      - tradingVolume
                      description: Trade with the lowest price of the trading day.
                      properties:
                        time:
                          type:
                          - string
                          - 'null'
                          format: datetime
                          description: Date and time.
                          x-cas-attribute: timeLowestTradePrice
                        price:
                          type:
                          - number
                          - 'null'
                          format: real
                          description: Price value. See attribute `valueUnit` for its unit.
                          x-cas-attribute: valueLowestTradePrice
                        tradingVolume:
                          type:
                          - number
                          - 'null'
                          format: real
                          description: Number of units (e.g. shares) traded.
                          x-cas-attribute: tradingVolumeLowestTradePrice
                    high:
                      type: object
                      x-property-sort:
                      - time
                      - price
                      - tradingVolume
                      description: Trade with the highest price of the trading day.
                      properties:
                        time:
                          type:
                          - string
                          - 'null'
                          format: datetime
                          description: Date and time.
                          x-cas-attribute: timeHighestTradePrice
                        price:
                          type:
                          - number
                          - 'null'
                          format: real
                          description: Price value. See attribute `valueUnit` for its unit.
                          x-cas-attribute: valueHighestTradePrice
                        tradingVolume:
                          type:
                          - number
                          - 'null'
                          format: real
                          description: Number of units (e.g. shares) traded.
                          x-cas-attribute: tradingVolumeHighestTradePrice
                    previousClose:
                      type: object
                      x-property-sort:
                      - time
                      - price
                      description: Close price of the previous day.
                      properties:
                        time:
                          type:
                          - string
                          - 'null'
                          format: datetime
                          description: Date and time.
                          x-cas-attribute: timePreviousClosePrice
                        price:
                          type:
                          - number
                          - 'null'
                          format: real
                          description: Price value. See attribute `valueUnit` for its unit.
                          x-cas-attribute: valuePreviousClosePrice
                    accumulated:
                      type: object
                      x-property-sort:
                      - numberTrades
                      - tradingVolume
                      - tradingValue
                      - volumeWeightedAveragePrice
                      description: Summary data accumulated over all trades of the most recent trading day.
                      properties:
                        numberTrades:
                          type:
                          - number
                          - 'null'
                          format: real
                          description: Number of trades.
                          x-cas-attribute: accumulatedNumberTrades
                        tradingVolume:
                          type:
                          - number
                          - 'null'
                          format: real
                          description: Number of units (e.g. shares) traded.
                          x-cas-attribute: accumulatedTradingVolume
                        tradingValue:
                          type:
                          - number
                          - 'null'
                          format: real
                          description: Monetary equivalent (cash value) of the trades. See attribute `currency` for its unit.
                          x-cas-attribute: accumulatedTradingValue
                        volumeWeightedAveragePrice:
                          type:
                          - number
                          - 'null'
                          format: real
                          description: The volume-weighted average price (VWAP). See attribute `valueUnit` for its unit.
                          x-cas-attribute: volumeWeightedAveragePrice
                    status:
                      type: object
                      x-property-sort:
                      - code
                      - identifier
                      - details
                      - encryptedDetails
                      description: Error status for the requested identifier.
                      properties:
                        code:
                          type:
                          - string
                          - 'null'
                          description: Code of the error condition.
                          x-enum-description:
                          - No error.
                          - The provided identifier does not refer to a valid listing level identifier.
                          - Not entitled to see data for the identifier.
                          - Unable to resolve the provided identifier.
                          enum:
                          - none
                          - parameter
                          - entitlement
                          - identifierMapping
                        identifier:
                          type:
                          - string
                          - 'null'
                          description: Provided identifier.
                        details:
                          type:
                          - string
                          - 'null'
                          description: A human-readable, unstructured explanation specific to this occurrence of the problem.
                        encryptedDetails:
                          type:
                          - string
                          - 'null'
                          description: Base64-encoded internal details about the error.
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                x-property-sort:
                - status
            x-property-sort:
            - data
            - meta
    PostPricesTradingScheduleEventList200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: object
                properties:
                  idNotation:
                    type:
                    - string
                    - 'null'
                    format: id64
                    x-positive: true
                    description: MDG identifier of the listing.
                  sourceIdentifier:
                    type:
                    - string
                    - 'null'
                    description: Identifier used in the request.
                  range:
                    type:
                    - object
                    - 'null'
                    format: timeRange
                    properties:
                      start:
                        type:
                        - string
                        - 'null'
                        format: datetime
                        description: The starting point of the time range (inclusive).
                      end:
                        type:
                        - string
                        - 'null'
                        format: datetime
                        description: The ending point of the time range (exclusive).
                    x-property-sort:
                    - start
                    - end
                    required:
                    - start
                    - end
                    description: Time range for the returned trading schedule events.
                  events:
                    type: array
                    items:
                      type: object
                      x-property-sort:
                      - time
                      - type
                      properties:
                        time:
                          type:
                          - string
                          - 'null'
                          format: datetime
                          description: Date and time of the event.
                        type:
                          type: object
                          x-property-sort:
                          - id
                          - code
                          description: Trading schedule event type.
                          properties:
                            id:
                              type:
                              - number
                              - 'null'
                              format: id32
                              x-positive: true
                              description: Identifier of the event type.
                            code:
                              type:
                              - string
                              - 'null'
                              description: Code of the event type.
                    description: List of trading schedule events.
                description: List of trading schedule events for a notation.
                x-property-sort:
                - idNotation
                - sourceIdentifier
                - range
                - events
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                  pagination:
                    $ref: '#/components/schemas/CursorBasedPaginationOutputObjectWithoutTotal'
                x-property-sort:
                - status
                - pagination
            x-property-sort:
            - data
            - meta
    PostPricesTimeSeriesEodSubsampleList200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: object
                properties:
                  idNotation:
                    type:
                    - string
                    - 'null'
                    format: id64
                    x-positive: true
                    description: MDG identifier of the listing.
                  sourceIdentifier:
                    type:
                    - string
                    - 'null'
                    description: Identifier used in the request.
                  range:
                    type:
                    - object
                    - 'null'
                    format: dateRange
                    properties:
                      start:
                        type:
                        - string
                        - 'null'
                        format: date
                        description: The starting point of the date range (inclusive).
                      end:
                        type:
                        - string
                        - 'null'
                        format: date
                        description: The ending point of the date range (exclusive).
                    x-property-sort:
                    - start
                    - end
                    required:
                    - start
                    - end
                    description: Date range for the returned time series.
                  quality:
                    type:
                    - string
                    - 'null'
                    description: Quality of the price.
                    x-enum-description:
                    - 'Delayed: intraday prices with an exchange-imposed delay of usually 15 to 30 minutes.'
                    - 'End-of-day: prices updated once per day after the close of trading, possibly with an exchange-imposed delay of several hours or days.'
                    enum:
                    - DLY
                    - EOD
                  subsamples:
                    type: array
                    items:
                      type: object
                      x-property-sort:
                      - date
                      - first
                      - last
                      - low
                      - high
                      - tradingVolume
                      - tradingValue
                      properties:
                        date:
                          type:
                          - string
                          - 'null'
                          format: date
                          description: Date of the start of the subsample.
                        first:
                          type:
                          - number
                          - 'null'
                          format: real
                          description: First price of the subsample.
                        last:
                          type:
                          - number
                          - 'null'
                          format: real
                          description: Last price of the subsample.
                        low:
                          type:
                          - number
                          - 'null'
                          format: real
                          description: Lowest price of the subsample.
                        high:
                          type:
                          - number
                          - 'null'
                          format: real
                          description: Highest price of the subsample.
                        tradingVolume:
                          type:
                          - number
                          - 'null'
                          format: real
                          description: Accumulated number of units (e.g. shares) traded of the subsample. If the requested type of the price is ask, bid, or yield, the value is empty.
                        tradingValue:
                          type:
                          - number
                          - 'null'
                          format: real
                          description: Accumulated monetary equivalent (cash value) of the subsample. If the requested type of the price is ask, bid, or yield, the value is empty. See attribute `currency` in endpoint `/prices/get` for its unit.
                    description: List of summary records. For the attributes first, last, low, high, see attribute `valueUnit` in endpoint `/prices/get` for their unit, except for price type yield, where the `valueUnit` is always `percent` (id=258).
                description: Subsampled time series data for the notation.
                x-property-sort:
                - idNotation
                - sourceIdentifier
                - range
                - quality
                - subsamples
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                  pagination:
                    $ref: '#/components/schemas/CursorBasedPaginationOutputObjectWithoutTotal'
                x-property-sort:
                - status
                - pagination
            x-property-sort:
            - data
            - meta
    PostPricesTimeSeriesEodSubsampleGet200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: object
                properties:
                  idNotation:
                    type:
                    - string
                    - 'null'
                    format: id64
                    x-positive: true
                    description: MDG identifier of the listing.
                  sourceIdentifier:
                    type:
                    - string
                    - 'null'
                    description: Identifier used in the request.
                  quality:
                    type:
                    - string
                    - 'null'
                    description: Quality of the price.
                    x-enum-description:
                    - 'Delayed: intraday prices with an exchange-imposed delay of usually 15 to 30 minutes.'
                    - 'End-of-day: prices updated once per day after the close of trading, possibly with an exchange-imposed delay of several hours or days.'
                    enum:
                    - DLY
                    - EOD
                  subsample:
                    type: object
                    x-property-sort:
                    - date
                    - first
                    - last
                    - low
                    - high
                    - tradingVolume
                    - tradingValue
                    description: Single summary record. For the attributes first, last, low, high, see attribute `valueUnit` in endpoint `/prices/get` for their unit, except for price type yield, where the `valueUnit` is always `percent` (id=258).
                    properties:
                      date:
                        type:
                        - string
                        - 'null'
                        format: date
                        description: Date of the start of the subsample.
                      first:
                        type:
                        - number
                        - 'null'
                        format: real
                        description: First price of the subsample.
                      last:
                        type:
                        - number
                        - 'null'
                        format: real
                        description: Last price of the subsample.
                      low:
                        type:
                        - number
                        - 'null'
                        format: real
                        description: Lowest price of the subsample.
                      high:
                        type:
                        - number
                        - 'null'
                        format: real
                        description: Highest price of the subsample.
                      tradingVolume:
                        type:
                        - number
                        - 'null'
                        format: real
                        description: Accumulated number of units (e.g. shares) traded of the subsample. If the requested type of the price is ask, bid, or yield, the value is empty.
                      tradingValue:
                        type:
                        - number
                        - 'null'
                        format: real
                        description: Accumulated monetary equivalent (cash value) of the subsample. If the requested type of the price is ask, bid, or yield, the value is empty. See attribute `currency` in endpoint `/prices/get` for its unit.
                description: Subsample data for the notation.
                x-property-sort:
                - idNotation
                - sourceIdentifier
                - quality
                - subsample
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                x-property-sort:
                - status
            x-property-sort:
            - data
            - meta
    PostPricesTimeSeriesEodList200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: object
                properties:
                  idNotation:
                    type:
                    - string
                    - 'null'
                    format: id64
                    x-positive: true
                    description: MDG identifier of the listing.
                  sourceIdentifier:
                    type:
                    - string
                    - 'null'
                    description: Identifier used in the request.
                  range:
                    type:
                    - object
                    - 'null'
                    format: dateRange
                    properties:
                      start:
                        type:
                        - string
                        - 'null'
                        format: date
                        description: The starting point of the date range (inclusive).
                      end:
                        type:
                        - string
                        - 'null'
                        format: date
                        description: The ending point of the date range (exclusive).
[...]
