openapi: 3.2.0
info:
  version: 3.0.0
  title: FactSet Real-Time Quotes System API
  description: '

    The Quotes API combines endpoints for retrieving security end-of-day,

    delayed, and realtime prices with performance key figures and basic

    reference data on the security and market level.'
  contact:
    name: FactSet Research Systems
    url: https://developer.factset.com/contact
    email: api@factset.com
  license:
    name: Apache License, Version 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
servers:
- url: https://api.factset.com/wealth/v3
security:
- FactSetApiKey: []
- FactSetOAuth2: []
tags:
- name: System
paths:
  /category/system/get:
    get:
      tags:
      - System
      operationId: get/category/system/get
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Factset Details of an Entitled Category System.
      description: Details of an entitled category system.
      parameters:
      - name: id
        in: query
        schema:
          type: number
          format: id32
          x-positive: true
          description: Identifier of a category system. See endpoint `/category/system/list` for valid values.
        required: true
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      - name: _language
        in: query
        schema:
          type: string
          format: isoLanguage
          description: ISO 639-1 code of the language.
          maxLength: 2
          minLength: 2
      responses:
        '200':
          $ref: '#/components/responses/GetCategorySystemGet200Response'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /category/system/list:
    get:
      tags:
      - System
      operationId: get/category/system/list
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Factset List of Entitled Category Systems.
      description: List of entitled category systems.
      parameters:
      - name: idType
        in: query
        schema:
          description: Filter for a specific category system type. See endpoint `/category/system/type/list` for valid values.
          type: number
          format: id32
          x-positive: true
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      - name: _language
        in: query
        schema:
          type: string
          format: isoLanguage
          description: ISO 639-1 code of the language.
          maxLength: 2
          minLength: 2
      responses:
        '200':
          $ref: '#/components/responses/GetCategorySystemList200Response'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /category/system/type/list:
    get:
      tags:
      - System
      operationId: get/category/system/type/list
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Factset List of Category System Types.
      description: List of category system types.
      responses:
        '200':
          $ref: '#/components/responses/GetCategorySystemTypeList200Response'
      parameters:
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      - name: _language
        in: query
        schema:
          type: string
          format: isoLanguage
          description: ISO 639-1 code of the language.
          maxLength: 2
          minLength: 2
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    StatusObject:
      type: object
      properties:
        code:
          type: number
          format: int32
          description: The HTTP status code of the response, mirroring the code from the Status-Line of the HTTP response message (see [RFC2616] section 6.1).
          example: 42.5
      description: The status member contains the status code of the response.
      required:
      - code
  responses:
    GetCategorySystemGet200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: object
                properties:
                  id:
                    type:
                    - number
                    - 'null'
                    format: id32
                    x-positive: true
                    description: Identifier of the category system.
                  name:
                    type:
                    - string
                    - 'null'
                    format: localizedString
                    description: Name of the category system.
                  type:
                    description: Type of the category system. See endpoint `/category/system/type/list` for possible values.
                    type: object
                    x-property-sort:
                    - id
                    - name
                    properties:
                      id:
                        type:
                        - number
                        - 'null'
                        format: id32
                        x-positive: true
                        description: Identifier of the type of the category system.
                      name:
                        type:
                        - string
                        - 'null'
                        format: localizedString
                        description: Name of the type of the category system.
                  numberOfLevels:
                    type:
                    - number
                    - 'null'
                    format: int32
                    description: Number of levels of the category system.
                  firstLevelWithLeafCategories:
                    type:
                    - number
                    - 'null'
                    format: int32
                    description: Number of the least detailed level of the category system that has leaf categories.
                  levels:
                    type: array
                    items:
                      type: object
                      x-property-sort:
                      - id
                      - name
                      - number
                      - hasLeafCategories
                      properties:
                        id:
                          type:
                          - number
                          - 'null'
                          format: id32
                          x-positive: true
                          description: Identifier of the level.
                        name:
                          type:
                          - string
                          - 'null'
                          format: localizedString
                          description: Name of the level.
                        number:
                          type:
                          - number
                          - 'null'
                          format: int32
                          description: Number of the category level, starting with 1.
                        hasLeafCategories:
                          type:
                          - boolean
                          - 'null'
                          description: Indicates whether the category level has leaf categories.
                    description: List of category levels ordered by the number of the level in ascending order.
                description: Details of the category system.
                x-property-sort:
                - id
                - name
                - type
                - numberOfLevels
                - firstLevelWithLeafCategories
                - levels
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                x-property-sort:
                - status
            x-property-sort:
            - data
            - meta
    GetCategorySystemTypeList200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: array
                description: List of category system types, sorted by ascending identifier value.
                items:
                  type: object
                  x-property-sort:
                  - id
                  - name
                  - description
                  properties:
                    id:
                      type:
                      - number
                      - 'null'
                      format: id32
                      x-positive: true
                      description: Identifier of the category system type.
                    name:
                      type:
                      - string
                      - 'null'
                      format: localizedString
                      description: Name of the category system type.
                    description:
                      type:
                      - string
                      - 'null'
                      format: localizedString
                      description: Description of the category system type.
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                x-property-sort:
                - status
            x-property-sort:
            - data
            - meta
    GetCategorySystemList200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: array
                description: List of category systems.
                items:
                  type: object
                  x-property-sort:
                  - id
                  - name
                  - type
                  - numberOfLevels
                  - firstLevelWithLeafCategories
                  properties:
                    id:
                      type:
                      - number
                      - 'null'
                      format: id32
                      x-positive: true
                      description: Identifier of the category system.
                    name:
                      type:
                      - string
                      - 'null'
                      format: localizedString
                      description: Name of the category system.
                    type:
                      description: Type of the category system. See endpoint `/category/system/type/list` for possible values.
                      type: object
                      x-property-sort:
                      - id
                      - name
                      properties:
                        id:
                          type:
                          - number
                          - 'null'
                          format: id32
                          x-positive: true
                          description: Identifier of the type of the category system.
                        name:
                          type:
                          - string
                          - 'null'
                          format: localizedString
                          description: Name of the type of the category system.
                    numberOfLevels:
                      type:
                      - number
                      - 'null'
                      format: int32
                      description: Number of levels of the category system.
                    firstLevelWithLeafCategories:
                      type:
                      - number
                      - 'null'
                      format: int32
                      description: Number of the least detailed level of the category system that has leaf categories.
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                x-property-sort:
                - status
            x-property-sort:
            - data
            - meta
  securitySchemes:
    FactSetOAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://auth.factset.com/as/token.oauth2
          scopes: {}
    FactSetApiKey:
      type: http
      scheme: basic
externalDocs:
  description: API Documentation
  url: https://developer.factset.com/api-catalog/
x-interface-version: 2
x-documenter-version: 6.3.9
x-api-version: 4.4.0
