openapi: 3.0.3
info:
  title: Factset Analytics Datastore About Downloads API
  description: Allow clients to fetch precalculated Analytics through predeterministic URLs.
  contact:
    name: FactSet Research Systems
    url: https://developer.factset.com/contact
    email: api@factset.com
  license:
    name: Apache License, Version 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  version: 1.0.0
servers:
- url: https://api.factset.com
  description: Production
- url: https://api-sandbox.factset.com
  description: Sandbox
security:
- basicAuth: []
tags:
- name: Downloads
paths:
  /ofs/v2/media/download/{namespace}/{scope}/{guid}/{fileName}:
    get:
      summary: Factset Retrieve a Specific Media File
      parameters:
      - name: namespace
        in: path
        required: true
        description: The namespace of the media file
        schema:
          example: partners
        type: string
        pattern: (partners|products|resources)
        enum:
        - partners
        - products
        - resources
      - name: scope
        in: path
        required: true
        description: The scope of the media file
        schema:
          example: logo
        type: string
        pattern: (logo|avatar|documents)
        enum:
        - logo
        - avatar
        - documents
      - name: guid
        in: path
        required: true
        description: The GUID of the file being requested
        schema:
          example: 774c3a5c-cc77-4e4c-b4a8-224a35cb00ba
        type: string
      - name: fileName
        in: path
        required: true
        description: The name you want to show for this file in the uri.
        schema:
          example: FactSet.png
        type: string
      responses:
        '200':
          description: OK
        '404':
          description: Not Found
      tags:
      - Downloads
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    head:
      summary: Factset Check the existence and retrieve the headers of a spefic media file
      parameters:
      - name: namespace
        in: path
        required: true
        description: The namespace of the media file
        schema:
          example: partners
        type: string
        pattern: (partners|products|resources)
        enum:
        - partners
        - products
        - resources
      - name: scope
        in: path
        required: true
        description: The scope of the media file
        schema:
          example: logo
        type: string
        pattern: (logo|avatar|documents)
        enum:
        - logo
        - avatar
        - documents
      - name: guid
        in: path
        required: true
        description: The GUID of the file being requested
        schema:
          example: 774c3a5c-cc77-4e4c-b4a8-224a35cb00ba
        type: string
      - name: fileName
        in: path
        required: true
        description: The name you want to show for this file in the uri.
        schema:
          example: FactSet.png
        type: string
      responses:
        '200':
          description: OK
        '404':
          description: Not Found
      tags:
      - Downloads
components:
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
externalDocs:
  url: https://developer.factset.com/api-catalog/analytics-datastore-api
  description: API Documentation
