openapi: 3.0.3
info:
  title: Factset Analytics Datastore About Comments API
  description: Allow clients to fetch precalculated Analytics through predeterministic URLs.
  contact:
    name: FactSet Research Systems
    url: https://developer.factset.com/contact
    email: api@factset.com
  license:
    name: Apache License, Version 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  version: 1.0.0
servers:
- url: https://api.factset.com
  description: Production
- url: https://api-sandbox.factset.com
  description: Sandbox
security:
- basicAuth: []
tags:
- name: Comments
paths:
  /v1/meetings/{meetingId}/comments:
    get:
      tags:
      - Comments
      summary: Factset Get All Comments for a Meeting
      operationId: GetComments
      parameters:
      - name: meetingId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CommentSummaryDto'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      tags:
      - Comments
      summary: Factset Create a Comment to a Meeting
      operationId: CreateComment
      parameters:
      - name: meetingId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/CreateCommentDto'
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCommentDto'
          text/json:
            schema:
              $ref: '#/components/schemas/CreateCommentDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/CreateCommentDto'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewItemDto'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '500':
          description: Server Error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v1/meetings/{meetingId}/comments/{commentId}:
    get:
      tags:
      - Comments
      summary: Factset Get Details of a Comment Belonging to a Meeting
      operationId: GetComment
      parameters:
      - name: meetingId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: commentId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommentDto'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    patch:
      tags:
      - Comments
      summary: Factset Edit a Comment for a Meeting
      operationId: PatchComment
      parameters:
      - name: meetingId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: commentId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json-patch+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Operation'
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Operation'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Operation'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Operation'
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      tags:
      - Comments
      summary: Factset Delete a Comment From a Meeting
      operationId: DeleteComment
      parameters:
      - name: meetingId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: commentId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '500':
          description: Server Error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v1/meetings/{meetingId}/comments/{commentId}/attachments:
    get:
      tags:
      - Comments
      summary: Factset Get Attachments Summary of a Comment Belonging to a Meeting
      operationId: GetCommentAttachments
      parameters:
      - name: meetingId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: commentId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AttachmentSummaryDto'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      tags:
      - Comments
      summary: Factset Create a Comment Attachment to a Meeting
      operationId: CreateCommentAttachment
      parameters:
      - name: meetingId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: commentId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          multipart/form-data:
            schema:
              required:
              - file
              type: object
              properties:
                file:
                  type: string
                  format: binary
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewItemDto'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '500':
          description: Server Error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v1/meetings/{meetingId}/comments/{commentId}/attachments/{attachmentId}/download:
    get:
      tags:
      - Comments
      summary: Factset Download Single Attachment Detail of a Comment Belonging to a Meeting
      operationId: DownloadCommentAttachmentForComment
      parameters:
      - name: meetingId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: commentId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: attachmentId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v1/notes/{noteId}/comments:
    get:
      tags:
      - Comments
      summary: Factset Get All Comments for a Note
      operationId: GetComments
      parameters:
      - name: noteId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CommentSummaryDto'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      tags:
      - Comments
      summary: Factset Create a Comment to a Note
      operationId: CreateComment
      parameters:
      - name: noteId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/CreateCommentDto'
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCommentDto'
          text/json:
            schema:
              $ref: '#/components/schemas/CreateCommentDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/CreateCommentDto'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewItemDto'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '500':
          description: Server Error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v1/notes/{noteId}/comments/{commentId}:
    get:
      tags:
      - Comments
      summary: Factset Get Details of a Comment Belonging to a Note
      operationId: GetComment
      parameters:
      - name: noteId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: commentId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommentDto'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    patch:
      tags:
      - Comments
      summary: Factset Edit a Comment for a Note
      operationId: PatchComment
      parameters:
      - name: noteId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: commentId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json-patch+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Operation'
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Operation'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Operation'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Operation'
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      tags:
      - Comments
      summary: Factset Delete a Comment From a Note
      operationId: DeleteComment
      parameters:
      - name: noteId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: commentId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '500':
          description: Server Error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v1/notes/{noteId}/comments/{commentId}/attachments:
    get:
      tags:
      - Comments
      summary: Factset Get Attachments Summary of a Comment Belonging to a Note
      operationId: GetCommentAttachments
      parameters:
      - name: noteId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: commentId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AttachmentSummaryDto'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      tags:
      - Comments
      summary: Factset Create a Comment Attachment to a Note
      operationId: CreateCommentAttachment
      parameters:
      - name: noteId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: commentId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          multipart/form-data:
            schema:
              required:
              - file
              type: object
              properties:
                file:
                  type: string
                  format: binary
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewItemDto'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '500':
          description: Server Error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v1/notes/{noteId}/comments/{commentId}/attachments/{attachmentId}/download:
    get:
      tags:
      - Comments
      summary: Factset Download Single Attachment Detail of a Comment Belonging to a Note
      operationId: DownloadCommentAttachmentForComment
      parameters:
      - name: noteId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: commentId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: attachmentId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    CommentDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: abc123
        authorId:
          type: string
          format: uuid
          example: '500123'
        parentCommentId:
          type: string
          format: uuid
          nullable: true
          example: '500123'
        body:
          type: string
          nullable: true
          example: example_value
        createdAt:
          type: string
          nullable: true
          example: example_value
        attachments:
          type: array
          items:
            $ref: '#/components/schemas/AttachmentSummaryDto'
          nullable: true
          example: []
        subcomments:
          type: array
          items:
            $ref: '#/components/schemas/SubcommentSummaryDto'
          nullable: true
          example: []
      additionalProperties: false
    CreateCommentDto:
      type: object
      properties:
        authorId:
          type: string
          format: uuid
          example: '500123'
        parentCommentId:
          type: string
          format: uuid
          nullable: true
          example: '500123'
        body:
          type: string
          nullable: true
          example: example_value
      additionalProperties: false
    CommentSummaryDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: abc123
        userId:
          type: string
          format: uuid
          example: '500123'
        createdAt:
          type: string
          nullable: true
          example: example_value
        subcomments:
          type: array
          items:
            $ref: '#/components/schemas/SubcommentSummaryDto'
          nullable: true
          example: []
      additionalProperties: false
    AttachmentSummaryDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: abc123
        fileName:
          type: string
          nullable: true
          example: example_value
        mimeType:
          type: string
          nullable: true
          example: example_value
        size:
          type: integer
          format: int64
          nullable: true
          example: 10
      additionalProperties: false
    NewItemDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: abc123
      additionalProperties: false
    OperationType:
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
      - 5
      - 6
      type: integer
      format: int32
    SubcommentSummaryDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: abc123
        userId:
          type: string
          format: uuid
          example: '500123'
        createdAt:
          type: string
          nullable: true
          example: example_value
      additionalProperties: false
    Operation:
      type: object
      properties:
        operationType:
          $ref: '#/components/schemas/OperationType'
        path:
          type: string
          nullable: true
          example: example_value
        op:
          type: string
          nullable: true
          example: example_value
        from:
          type: string
          nullable: true
          example: example_value
        value:
          nullable: true
          example: example_value
      additionalProperties: false
    ProblemDetails:
      type: object
      properties:
        type:
          type: string
          nullable: true
          example: example_value
        title:
          type: string
          nullable: true
          example: Example Title
        status:
          type: integer
          format: int32
          nullable: true
          example: 10
        detail:
          type: string
          nullable: true
          example: example_value
        instance:
          type: string
          nullable: true
          example: example_value
      additionalProperties: {}
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
externalDocs:
  url: https://developer.factset.com/api-catalog/analytics-datastore-api
  description: API Documentation
