openapi: 3.0.3
info:
  title: Factset Analytics Datastore About Reference API
  description: Allow clients to fetch precalculated Analytics through predeterministic URLs.
  contact:
    name: FactSet Research Systems
    url: https://developer.factset.com/contact
    email: api@factset.com
  license:
    name: Apache License, Version 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  version: 1.0.0
servers:
- url: https://api.factset.com
  description: Production
- url: https://api-sandbox.factset.com
  description: Sandbox
security:
- basicAuth: []
tags:
- name: Reference
paths:
  /instrument/crossReference/getByISIN:
    get:
      tags:
      - Reference
      operationId: get/instrument/crossReference/getByISIN
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      description: Translate a given ISIN to the respective most recent instrument identifier, retrieved from the Cross Reference Service.
      summary: Factset Translate Isin to Instrument.
      parameters:
      - name: isin
        in: query
        schema:
          type: string
          format: isin
          description: Source ISIN to be translated.
        required: true
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
            exclusiveMaximum: false
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      responses:
        '200':
          $ref: '#/components/responses/GetInstrumentCrossReferenceGetByISIN200Response'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /instrument/crossReference/getByWKN:
    get:
      tags:
      - Reference
      operationId: get/instrument/crossReference/getByWKN
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      description: Translate a given WKN to the respective most recent instrument identifier, retrieved from the Cross Reference Service.
      summary: Factset Translate Wkn to Instrument.
      parameters:
      - name: wkn
        in: query
        schema:
          description: Source WKN to be translated.
          type: string
          minLength: 6
          exclusiveMinimum: false
          maxLength: 6
          exclusiveMaximum: false
          pattern: ^[A-Z0-9]*$
        required: true
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
            exclusiveMaximum: false
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      responses:
        '200':
          $ref: '#/components/responses/GetInstrumentCrossReferenceGetByWKN200Response'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /instrument/crossReference/listByISIN:
    post:
      tags:
      - Reference
      operationId: post/instrument/crossReference/listByISIN
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      description: Translate a given list of ISINs to the respective most recent instrument identifiers, retrieved from the Cross Reference Service.
      summary: Factset Translate a List of Isins to Instruments.
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostInstrumentCrossReferenceListByISINRequest'
        required: true
      responses:
        '200':
          $ref: '#/components/responses/PostInstrumentCrossReferenceListByISIN200Response'
      parameters: []
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /instrument/crossReference/listByWKN:
    post:
      tags:
      - Reference
      operationId: post/instrument/crossReference/listByWKN
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      description: Translate a given list of WKNs to the respective most recent instrument identifiers, retrieved from the Cross Reference Service.
      summary: Factset Translate a List of Wkns to Instruments.
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostInstrumentCrossReferenceListByWKNRequest'
        required: true
      responses:
        '200':
          $ref: '#/components/responses/PostInstrumentCrossReferenceListByWKN200Response'
      parameters: []
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /instrument/crossReference/history/getByISIN:
    get:
      tags:
      - Reference
      operationId: get/instrument/crossReference/history/getByISIN
      x-supportsOffsetBasedPaging: true
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      description: Retrieve the complete translation history of a given ISIN to the respective instrument association from the Cross Reference Service. The results are sorted in descending order, starting with the most recent.
      summary: Factset Isin to Instrument Translation History.
      parameters:
      - name: isin
        in: query
        schema:
          type: string
          format: isin
          description: Source ISIN to be translated.
        required: true
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
            exclusiveMaximum: false
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      - description: Non-negative number of entries to skip, or 0 (default).
        name: _paginationOffset
        in: query
        schema:
          type: number
          format: int32
          minimum: 0
          exclusiveMinimum: false
          default: 0
      - description: Non-negative maximum number of entries to return.
        name: _paginationLimit
        in: query
        schema:
          type: number
          format: int32
          minimum: 0
          exclusiveMinimum: false
          maximum: 500
          exclusiveMaximum: false
          default: 10
      responses:
        '200':
          $ref: '#/components/responses/GetInstrumentCrossReferenceHistoryGetByISIN200Response'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /instrument/crossReference/history/getByWKN:
    get:
      tags:
      - Reference
      operationId: get/instrument/crossReference/history/getByWKN
      x-supportsOffsetBasedPaging: true
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      description: Retrieve the complete translation history of a given WKN to the respective instrument association from the Cross Reference Service. The results are sorted in descending order, starting with the most recent.
      summary: Factset Wkn to Instrument Translation History.
      parameters:
      - name: wkn
        in: query
        schema:
          description: Source WKN to be translated.
          type: string
          pattern: ^[A-Z0-9]*$
          minLength: 6
          exclusiveMinimum: false
          maxLength: 6
          exclusiveMaximum: false
        required: true
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
            exclusiveMaximum: false
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      - description: Non-negative number of entries to skip, or 0 (default).
        name: _paginationOffset
        in: query
        schema:
          type: number
          format: int32
          minimum: 0
          exclusiveMinimum: false
          default: 0
      - description: Non-negative maximum number of entries to return.
        name: _paginationLimit
        in: query
        schema:
          type: number
          format: int32
          minimum: 0
          exclusiveMinimum: false
          maximum: 500
          exclusiveMaximum: false
          default: 10
      responses:
        '200':
          $ref: '#/components/responses/GetInstrumentCrossReferenceHistoryGetByWKN200Response'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /notation/crossReference/getByFactSetMarketSymbol:
    get:
      tags:
      - Reference
      operationId: get/notation/crossReference/getByFactSetMarketSymbol
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Translate a Factset Market Symbol to a Notation.
      description: Translate a FactSet market symbol to a notation. This symbol is also known as TICKER_EXCHANGE.
      parameters:
      - name: factSetMarketSymbol
        in: query
        schema:
          type: string
          maxLength: 32
          exclusiveMaximum: false
          minLength: 1
          exclusiveMinimum: false
          description: Market symbol defined by FactSet to identify a notation (i.e. TICKER_EXCHANGE).
        required: true
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
            exclusiveMaximum: false
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      - name: _language
        in: query
        schema:
          type: string
          format: isoLanguage
          description: ISO 639-1 code of the language.
          maxLength: 2
          minLength: 2
          exclusiveMinimum: false
          exclusiveMaximum: false
      responses:
        '200':
          $ref: '#/components/responses/GetNotationCrossReferenceGetByFactSetMarketSymbol200Response'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /notation/crossReference/listByInstrument:
    post:
      tags:
      - Reference
      operationId: post/notation/crossReference/listByInstrument
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Factset List of Entitled Notations.
      description: List of entitled notations.
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostNotationCrossReferenceListByInstrumentRequest'
        required: false
      responses:
        '200':
          $ref: '#/components/responses/PostNotationCrossReferenceListByInstrument200Response'
      parameters: []
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /notation/crossReference/listByISIN:
    post:
      tags:
      - Reference
      operationId: post/notation/crossReference/listByISIN
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Factset List of Entitled Notations.
      description: List of entitled notations.
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostNotationCrossReferenceListByISINRequest'
        required: false
      responses:
        '200':
          $ref: '#/components/responses/PostNotationCrossReferenceListByISIN200Response'
      parameters: []
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /notation/crossReference/listBySymbol:
    post:
      tags:
      - Reference
      operationId: post/notation/crossReference/listBySymbol
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Factset List of Entitled Notations.
      description: List of entitled notations. Symbols are not globally unique; therefore, a given symbol interpreted in different markets might refer to different instruments.
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostNotationCrossReferenceListBySymbolRequest'
        required: false
      responses:
        '200':
          $ref: '#/components/responses/PostNotationCrossReferenceListBySymbol200Response'
      parameters: []
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /notation/crossReference/factSetIdentifier/get:
    get:
      tags:
      - Reference
      operationId: get/notation/crossReference/factSetIdentifier/get
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Retrieve Factset Identifiers for a Given Notation.
      description: <p>Retrieve FactSet identifiers for a given notation. Security and listing-level identifiers are always included, regional level identifiers are included, if available.
      parameters:
      - name: identifier
        in: query
        schema:
          type: string
          pattern: ^[B-DF-HJ-NP-TV-Z0-9]{6}-[LR]$|^[A-Z0-9.#&*+]{1,47}-[A-Z0-9]{2,4}$|^[0-9]{3,20}$
          maxLength: 50
          exclusiveMaximum: false
          minLength: 3
          exclusiveMinimum: false
          description: Identifier to resolve.
        required: true
      - name: identifierType
        in: query
        schema:
          type: string
          description: Type of the identifier.
          x-enum-description:
          - MDG identifier of a listing.
          - FactSet market symbol of a listing.
          - Regional FactSet ticker symbol, identifying the primary listing in the region.
          - FactSet Permanent Identifier on listing level.
          - Regional FactSet Permanent Identifier, identifying the primary listing in the region.
          enum:
          - idNotation
          - tickerExchange
          - tickerRegion
          - fdsPermanentIdentifierListing
          - fdsPermanentIdentifierRegional
        required: true
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
            exclusiveMaximum: false
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      responses:
        '200':
          $ref: '#/components/responses/GetNotationCrossReferenceFactSetIdentifierGet200Response'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /notation/crossReference/factSetIdentifier/listByFactSetIdentifier:
    post:
      tags:
      - Reference
      operationId: post/notation/crossReference/factSetIdentifier/listByFactSetIdentifier
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Retrieve a List of Notations for a Given Factset Identifier.
      description: <p>Retrieve a list of notations for a given FactSet identifier, grouped by regional identifiers, if available. Listings without a regional identifier are grouped at the end of the response.</p><p>The notation corresponding to the security's primary listing has the attributes <big><tt>regional.isPrimary</tt></big> and <big><tt>regional.listing.isPrimary</tt></big> both set to true.The security's primary listing might not be among the results depending on the entitlement.</p><p>See the group description for more information about the security's primary listing.</p>
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostNotationCrossReferenceFactSetIdentifierListByFactSetIdentifierRequest'
        required: true
      responses:
        '200':
          $ref: '#/components/responses/PostNotationCrossReferenceFactSetIdentifierListByFactSetIdentifier200Response'
      parameters: []
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /notation/crossReference/factSetIdentifier/listByInstrument:
    post:
      tags:
      - Reference
      operationId: post/notation/crossReference/factSetIdentifier/listByInstrument
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Retrieve a List of Factset Identifiers for a Given Instrument.
      description: <p>Retrieve a list of FactSet identifiers for a given instrument, grouped by regional identifiers, if available. Listings without a regional identifier are grouped at the end of the response.</p><p>The notation corresponding to the security's primary listing has the attributes <big><tt>regional.isPrimary</tt></big> and <big><tt>regional.listing.isPrimary</tt></big> both set to true.The security's primary listing might not be among the results depending on the entitlement.</p><p>The result contains only notations that have at least one FactSet identifier (see <big><tt>listing.permanentIdentifier</tt></big>, <big><tt>listing.tickerExchange</tt></big>).</p><p>See the group description for more information about the security's primary listing.</p>
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostNotationCrossReferenceFactSetIdentifierListByInstrumentRequest'
        required: true
      responses:
        '200':
          $ref: '#/components/responses/PostNotationCrossReferenceFactSetIdentifierListByInstrument200Response'
      parameters: []
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    PostNotationCrossReferenceFactSetIdentifierListByInstrumentRequest:
      x-property-sort:
      - data
      - meta
      description: Request Body
      required:
      - data
      type: object
      properties:
        data:
          type: object
          x-property-sort:
          - identifier
          description: The data member contains the request's primary data.
          properties:
            identifier:
              type: object
              x-property-sort:
              - value
              - type
              description: Identifier and type.
              properties:
                value:
                  type: string
                  pattern: ^[B-DF-HJ-NP-TV-Z0-9]{6}-[SLR]$|^[A-Z0-9.#&*+]{1,47}-[A-Z0-9]{2,4}$|^[0-9]{3,20}$|^[B-DF-HJ-NP-TV-Z0-9]{6}[0-9]$|^[A-Z]{2}[A-Z0-9]{9}[0-9]$|^[A-Z1-9][A-Z0-9]{5}$|^[0-9]{1,9}$|^[A-Z0-9]{8}[0-9]$
                  maxLength: 50
                  exclusiveMaximum: false
                  minLength: 3
                  exclusiveMinimum: false
                  description: Identifier to resolve.
                type:
                  type: string
                  description: Type of the identifier.
                  x-enum-description:
                  - MDG identifier of an instrument.
                  - MDG identifier of a listing.
                  - FactSet Permanent Identifier on security level.
                  - FactSet Permanent Identifier on listing level.
                  - Regional FactSet Permanent Identifier.
                  - FactSet market symbol of a listing.
                  - Regional FactSet ticker symbol.
                  - SEDOL or IDII of a listing.
                  - ISIN of an instrument.
                  - WKN of an instrument.
                  - Valor number of an instrument.
                  - CUSIP or CINS identifier of an instrument
                  enum:
                  - idInstrument
                  - idNotation
                  - fdsPermanentIdentifierSecurity
                  - fdsPermanentIdentifierListing
                  - fdsPermanentIdentifierRegional
                  - tickerExchange
                  - tickerRegion
                  - sedol
                  - isin
                  - wkn
                  - valor
                  - cusip
              required:
              - value
              - type
          required:
          - identifier
          example: example_value
        meta:
          type: object
          description: The meta member contains the meta information of the request.
          properties:
            attributes:
              $ref: '#/components/schemas/AttributesMember'
            language:
              $ref: '#/components/schemas/LanguageMember'
          x-property-sort:
          - attributes
          - language
          example: example_value
    LanguageMember:
      type: string
      format: isoLanguage
      description: ISO 639-1 code of the language.
      maxLength: 2
      minLength: 2
      exclusiveMinimum: false
      exclusiveMaximum: false
    AttributesMember:
      type: array
      description: Limit the attributes returned in the response to the specified set.
      items:
        type: string
        maxLength: 100
        exclusiveMaximum: false
      maxItems: 50
      uniqueItems: true
    PostInstrumentCrossReferenceListByISINRequest:
      x-property-sort:
      - data
      - meta
      description: Request Body
      required:
      - data
      type: object
      properties:
        data:
          type: object
          x-property-sort:
          - isins
          description: The data member contains the request's primary data.
          properties:
            isins:
              description: List of source ISINs to be translated.
              type: array
              nullable: false
              items:
                type: string
                format: isin
              uniqueItems: true
              minItems: 1
              maxItems: 10
          required:
          - isins
          example: example_value
        meta:
          type: object
          description: The meta member contains the meta information of the request.
          properties:
            attributes:
              $ref: '#/components/schemas/AttributesMember'
          x-property-sort:
          - attributes
          example: example_value
    PostNotationCrossReferenceListBySymbolRequest:
      x-property-sort:
      - data
      - meta
      description: Request Body
      type: object
      properties:
        data:
          type: object
          x-property-sort:
          - symbol
          - filter
          description: The data member contains the request's primary data.
          properties:
            symbol:
              type: string
              maxLength: 32
              exclusiveMaximum: false
              minLength: 1
              exclusiveMinimum: false
              description: Market-specific code to identify a notation.
            filter:
              type: object
              x-property-sort:
              - markets
              - valueUnits
              - onlyActive
              description: Criteria that filter the items in the response list; only items that match all of the criteria are returned.
              properties:
                markets:
                  type: object
                  x-property-sort:
                  - ids
                  description: Filter for specific markets.
                  properties:
                    ids:
                      type: array
                      nullable: false
                      items:
                        type: number
                        format: id32
                        x-positive: true
                      maxItems: 100
                      minItems: 1
                      description: List of market ids.
                valueUnits:
                  type: object
                  x-property-sort:
                  - ids
                  description: Filter for specific value units.
                  properties:
                    ids:
                      type: array
                      nullable: false
                      items:
                        type: number
                        format: id32
                        x-positive: true
                      maxItems: 100
                      minItems: 1
                      description: List of value unit ids.
                onlyActive:
                  type: boolean
                  default: false
                  description: If true, only active notations will be returned. The term "active" reflects the fact that notations and related data is not being deleted immediately after becoming irrelevant (e.g. because the source does not provide a price anymore), but remains in general retrievable for up to 6 months.
          required:
          - symbol
          example: example_value
        meta:
          type: object
          description: The meta member contains the meta information of the request.
          properties:
            attributes:
              $ref: '#/components/schemas/AttributesMember'
            language:
              $ref: '#/components/schemas/LanguageMember'
          x-property-sort:
          - attributes
          - language
          example: example_value
    StatusObject:
      type: object
      properties:
        code:
          type: number
          format: int32
          description: The HTTP status code of the response, mirroring the code from the Status-Line of the HTTP response message (see [RFC2616] section 6.1).
          example: 42.5
      description: The status member contains the status code of the response.
      required:
      - code
    PostNotationCrossReferenceListByInstrumentRequest:
      x-property-sort:
      - data
      - meta
      description: Request Body
      type: object
      properties:
        data:
          type: object
          x-property-sort:
          - identifier
          - filter
          description: The data member contains the request's primary data.
          properties:
            identifier:
              type: object
              x-property-sort:
              - value
              - type
              description: Identifier and type.
              properties:
                value:
                  type: string
                  pattern: ^[B-DF-HJ-NP-TV-Z0-9]{6}-[SLR]$|^[A-Z0-9.#&*+]{1,47}-[A-Z0-9]{2,4}$|^[0-9]{3,20}$|^[B-DF-HJ-NP-TV-Z0-9]{6}[0-9]$|^[A-Z]{2}[A-Z0-9]{9}[0-9]$|^[A-Z1-9][A-Z0-9]{5}$|^[0-9]{1,9}$|^[A-Z0-9]{8}[0-9]$
                  maxLength: 50
                  exclusiveMaximum: false
                  minLength: 3
                  exclusiveMinimum: false
                  description: Identifier to resolve.
                type:
                  type: string
                  description: Type of the identifier.
                  x-enum-description:
                  - MDG identifier of an instrument.
                  - MDG identifier of a listing.
                  - FactSet Permanent Identifier on security level.
                  - FactSet Permanent Identifier on listing level.
                  - Regional FactSet Permanent Identifier.
                  - FactSet market symbol of a listing.
                  - Regional FactSet ticker symbol.
                  - SEDOL or IDII of a listing.
                  - ISIN of an instrument.
                  - WKN of an instrument.
                  - Valor number of an instrument.
                  - CUSIP or CINS identifier of an instrument
                  enum:
                  - idInstrument
                  - idNotation
                  - fdsPermanentIdentifierSecurity
                  - fdsPermanentIdentifierListing
                  - fdsPermanentIdentifierRegional
                  - tickerExchange
                  - tickerRegion
                  - sedol
                  - isin
                  - wkn
                  - valor
                  - cusip
              required:
              - value
              - type
            filter:
              type: object
              x-property-sort:
              - markets
              - valueUnits
              - onlyActive
              description: Criteria that filter the items in the response list; only items that match all of the criteria are returned.
              properties:
                markets:
                  type: object
                  x-property-sort:
                  - ids
                  description: Filter for specific markets.
                  properties:
                    ids:
                      type: array
                      nullable: false
                      items:
                        type: number
                        format: id32
                        x-positive: true
                      maxItems: 100
                      minItems: 1
                      description: List of market ids.
                valueUnits:
                  type: object
                  x-property-sort:
                  - ids
                  description: Filter for specific value units.
                  properties:
                    ids:
                      type: array
                      nullable: false
                      items:
                        type: number
                        format: id32
                        x-positive: true
                      maxItems: 100
                      minItems: 1
                      description: List of value unit ids.
                onlyActive:
                  type: boolean
                  default: false
                  description: If true, only active notations will be returned. The term "active" reflects the fact that notations and related data is not being deleted immediately after becoming irrelevant (e.g. because the source does not provide a price anymore), but remains in general retrievable for up to 6 months.
          required:
          - identifier
          example: example_value
        meta:
          type: object
          description: The meta member contains the meta information of the request.
          properties:
            attributes:
              $ref: '#/components/schemas/AttributesMember'
            language:
              $ref: '#/components/schemas/LanguageMember'
          x-property-sort:
          - attributes
          - language
          example: example_value
    PostNotationCrossReferenceFactSetIdentifierListByFactSetIdentifierRequest:
      x-property-sort:
      - data
      - meta
      description: Request Body
      required:
      - data
      type: object
      properties:
        data:
          type: object
          x-property-sort:
          - symbologyIdentifier
          description: The data member contains the request's primary data.
          properties:
            symbologyIdentifier:
              type: string
              pattern: ^[B-DF-HJ-NP-TV-Z0-9]{6}-[SLR]$|[A-Z0-9.#&*+]{1,47}-[A-Z0-9]{2,4}$
              maxLength: 50
              exclusiveMaximum: false
              minLength: 4
              exclusiveMinimum: false
              description: FactSet Symbology Identifier. See the endpoint description for valid FactSet Symbology Identifier types.
          required:
          - symbologyIdentifier
          example: example_value
        meta:
          type: object
          description: The meta member contains the meta information of the request.
          properties:
            attributes:
              $ref: '#/components/schemas/AttributesMember'
            language:
              $ref: '#/components/schemas/LanguageMember'
          x-property-sort:
          - attributes
          - language
          example: example_value
    PostInstrumentCrossReferenceListByWKNRequest:
      x-property-sort:
      - data
      - meta
      description: Request Body
      required:
      - data
      type: object
      properties:
        data:
          type: object
          x-property-sort:
          - wkns
          description: The data member contains the request's primary data.
          properties:
            wkns:
              description: List of source WKNs to be translated.
              type: array
              nullable: false
              items:
                type: string
                minLength: 6
                exclusiveMinimum: false
                maxLength: 6
                exclusiveMaximum: false
                pattern: ^[A-Z0-9]*$
              uniqueItems: true
              minItems: 1
              maxItems: 10
          required:
          - wkns
          example: example_value
        meta:
          type: object
          description: The meta member contains the meta information of the request.
          properties:
            attributes:
              $ref: '#/components/schemas/AttributesMember'
          x-property-sort:
          - attributes
          example: example_value
    PostNotationCrossReferenceListByISINRequest:
      x-property-sort:
      - data
      - meta
      description: Request Body
      type: object
      properties:
        data:
          type: object
          x-property-sort:
          - isin
          - filter
          description: The data member contains the request's primary data.
          properties:
            isin:
              type: string
              format: isin
              description: International Securities Identification Number.
            filter:
              type: object
              x-property-sort:
              - markets
              - valueUnits
              - onlyActive
              description: Criteria that filter the items in the response list; only items that match all of the criteria are returned.
              properties:
                markets:
                  type: object
                  x-property-sort:
                  - ids
                  description: Filter for specific markets.
                  properties:
                    ids:
                      type: array
                      nullable: false
                      items:
                        type: number
                        format: id32
                        x-positive: true
                      maxItems: 100
                      minItems: 1
                      description: List of market ids.
                valueUnits:
                  type: object
                  x-property-sort:
                  - ids
                  description: Filter for specific value units.
                  properties:
                    ids:
                      type: array
                      nullable: false
                      items:
                        type: number
                        format: id32
                        x-positive: true
                      maxItems: 100
                      minItems: 1
                      description: List of value unit ids.
                onlyActive:
                  type: boolean
                  default: false
                  description: If true, only active notations will be returned. The term "active" reflects the fact that notations and related data is not being deleted immediately after becoming irrelevant (e.g. because the source does not provide a price anymore), but remains in general retrievable for up to 6 months.
          required:
          - isin
          example: example_value
        meta:
          type: object
          description: The meta member contains the meta information of the request.
          properties:
            attributes:
              $ref: '#/components/schemas/AttributesMember'
            language:
              $ref: '#/components/schemas/LanguageMember'
          x-property-sort:
          - attributes
          - language
          example: example_value
    OffsetBasedPaginationOutputObject:
      type: object
      description: Pagination attributes for the offset-based pagination strategy.
      properties:
        total:
          type: number
          format: int32
          description: Total number of entries in the result set.
          example: 42.5
        isEstimatedTotal:
          type: boolean
          description: Flag indicating that the value of "total" is estimated.
          example: true
      required:
      - total
      - isEstimatedTotal
      x-property-sort:
      - total
      - isEstimatedTotal
  responses:
    GetInstrumentCrossReferenceGetByWKN200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: object
                properties:
                  id:
                    nullable: true
                    type: string
                    format: id64
                    x-positive: true
                    description: Identifier of the instrument.
                  fsym:
                    nullable: false
                    type: object
                    x-property-sort:
                    - security
                    description: Instrument-level FactSet identifier of the financial instrument used primarily in FactSet products other than the MDG.
                    properties:
                      security:
                        nullable: false
                        type: object
                        x-property-sort:
                        - permanentIdentifier
                        description: Security-level identifier.
                        properties:
                          permanentIdentifier:
                            nullable: true
                            type: string
                            description: FactSet Permanent Identifier for an instrument. The format is six alpha numeric characters, excluding vowels, with an S suffix (XXXXXX-S).
                  validity:
                    nullable: true
                    type: object
                    format: timeRange
                    properties:
                      start:
                        nullable: true
                        type: string
                        format: datetime
                        description: The starting point of the time range (inclusive).
                      end:
                        nullable: true
                        type: string
                        format: datetime
                        description: The ending point of the time range (exclusive), or `null` to indicate that the time range extends indefinitely into the future.
                    x-property-sort:
                    - start
                    - end
                    required:
                    - start
                    - end
                    description: Time range that this translation is valid for.
                description: Instrument response.
                nullable: false
                x-property-sort:
                - id
                - fsym
                - validity
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                x-property-sort:
                - status
            x-property-sort:
            - data
            - meta
    GetNotationCrossReferenceGetByFactSetMarketSymbol200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: object
                properties:
                  id:
                    nullable: true
                    type: string
                    format: id64
                    x-positive: true
                    description: Identifier of the notation.
                  market:
                    nullable: false
                    type: object
                    x-property-sort:
                    - id
                    - name
                    description: Market of the notation. See endpoint `/basic/market/list` for possible values.
                    properties:
                      id:
                        nullable: true
                        type: number
                        format: id32
                        x-positive: true
                        description: Identifier of the market.
                      name:
                        nullable: true
                        type: string
                        format: localizedString
                        description: Name of the market.
                  valueUnit:
                    nullable: false
                    type: object
                    x-property-sort:
                    - id
                    - code
                    - isoCode
                    - name
                    description: Value unit of the notation. See endpoint `/basic/valueUnit/list` for possible values.
                    properties:
                      id:
                        nullable: true
                        type: number
                        format: id32
                        x-positive: true
                        description: Identifier of the value unit.
                      code:
                        nullable: true
                        type: string
                        description: 'Code of the value unit: If assigned, a code according to ISO 4217, otherwise a local code, for a main currency; a code such as GBp (for British pence) for a fractional currency; or a code such as PT (points) for non-currency value units.'
                      isoCode:
                        nullable: true
                        type: string
                        description: ISO 4217 code of the value unit. Empty if the ISO 4217 standard does not define a code for the currency.
                      name:
                        nullable: true
                        type: string
                        format: localizedString
                        description: Name of the value unit.
                  instrument:
                    nullable: false
                    type: object
                    x-property-sort:
                    - id
                    description: Instrument referenced by the notation.
                    properties:
                      id:
                        nullable: true
                        type: string
                        format: id64
                        x-positive: true
                        description: Identifier of the instrument.
                description: Notation identified by the FactSet market symbol.
                nullable: false
                x-property-sort:
                - id
                - market
                - valueUnit
                - instrument
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                x-property-sort:
                - status
            x-property-sort:
            - data
            - meta
    GetInstrumentCrossReferenceGetByISIN200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: object
                properties:
                  id:
                    nullable: true
                    type: string
                    format: id64
                    x-positive: true
                    description: Identifier of the instrument.
                  fsym:
                    nullable: false
                    type: object
                    x-property-sort:
                    - security
                    description: Instrument-level FactSet identifier of the financial instrument used primarily in FactSet products other than the MDG.
                    properties:
                      security:
                        nullable: false
                        type: object
                        x-property-sort:
                        - permanentIdentifier
                        description: Security-level identifier.
                        properties:
                          permanentIdentifier:
                            nullable: true
                            type: string
                            description: FactSet Permanent Identifier for an instrument. The format is six alpha numeric characters, excluding vowels, with an S suffix (XXXXXX-S).
                  validity:
                    nullable: true
                    type: object
                    format: timeRange
                    properties:
                      start:
                        nullable: true
                        type: string
                        format: datetime
                        description: The starting point of the time range (inclusive).
                      end:
                        nullable: true
                        type: string
                        format: datetime
                        description: The ending point of the time range (exclusive), or `null` to indicate that the time range extends indefinitely into the future.
                    x-property-sort:
                    - start
                    - end
                    required:
                    - start
                    - end
                    description: Time range that this translation is valid for.
                description: Instrument response.
                nullable: false
                x-property-sort:
                - id
                - fsym
                - validity
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                x-property-sort:
                - status
            x-property-sort:
            - data
            - meta
    GetNotationCrossReferenceFactSetIdentifierGet200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: object
                properties:
                  idNotation:
                    nullable: true
                    type: string
                    format: id64
                    x-positive: true
                    description: MDG identifier of the listing.
                  sourceIdentifier:
                    nullable: true
                    type: string
                    description: Identifier used in the request.
                  instrument:
                    nullable: false
                    type: object
                    x-property-sort:
                    - id
                    description: Instrument data.
                    properties:
                      id:
                        nullable: true
                        type: string
                        format: id64
                        x-positive: true
                        description: Identifier of the instrument.
                  permanentIdentifier:
                    nullable: true
                    type: string
                    description: FactSet Permanent Identifier for an instrument. The format is six alpha numeric characters, excluding vowels, with an S suffix (XXXXXX-S).
                  regional:
                    nullable: false
                    type: object
                    x-property-sort:
                    - isPrimary
                    - permanentIdentifier
                    - tickerRegion
                    - listing
                    description: Regional-level data with assigned listing-level data. If the set of regional identifiers contains an element for which the attribute `isPrimary = true`, then this element is the first one in the array.
                    properties:
                      isPrimary:
                        nullable: true
                        type: boolean
                        description: Indicates whether the regional identifier is the primary regional identifier of the security (`true`) or not (`false`).
                      permanentIdentifier:
                        nullable: true
                        type: string
                        description: FactSet Permanent Identifier for a set of one or more notations of the same region with the same value unit. The format is six alpha numeric characters, excluding vowels, with an R suffix (XXXXXX-R).
                      tickerRegion:
                        nullable: true
                        type: string
                        description: 'FactSet regional symbol of the notation, consisting of the ticker and the two-character code of the country or region where the listing is traded (example: FDS-US).'
                      listing:
                        nullable: false
                        type: object
                        x-property-sort:
                        - isPrimary
                        - permanentIdentifier
                        - tickerExchange
                        description: Listing-level data with a list of notations. If the set of listing identifiers contains an element for which the attribute `isPrimary = true`, then this element is the first one in the array.
                        properties:
                          isPrimary:
                            nullable: true
                            type: boolean
                            description: Indicates whether the listing identifier is the one for the primary listing among all listings with the same regional identifier (`true`) or not (`false`).
                          permanentIdentifier:
                            nullable: true
                            type: string
                            description: FactSet Permanent Identifier for a notation. The format is six alpha numeric characters, excluding vowels, with an L suffix (XXXXXX-L).
                          tickerExchange:
                            nullable: true
                            type: string
                            description: 'FactSet market symbol of the notation, usually consisting of the ticker (e.g. "FDS" for FactSet Research Systems Inc.) and the three-character code of the exchange on which the listing is traded (example: FDS-NYS).'
                description: Instrument data with a list of regional-level data and assigned listing-level data.
                nullable: false
                x-property-sort:
                - idNotation
                - sourceIdentifier
                - instrument
                - permanentIdentifier
                - regional
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                x-property-sort:
                - status
            x-property-sort:
            - data
            - meta
    GetInstrumentCrossReferenceHistoryGetByWKN200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: array
                description: List of instruments.
                nullable: false
                items:
                  type: object
                  nullable: false
                  x-property-sort:
                  - id
                  - validity
                  properties:
                    id:
                      nullable: true
                      type: string
                      format: id64
                      x-positive: true
                      description: Identifier of the instrument.
                    validity:
                      nullable: true
                      type: object
                      format: timeRange
                      properties:
                        start:
                          nullable: true
                          type: string
                          format: datetime
                          description: The starting point of the time range (inclusive).
                        end:
                          nullable: true
                          type: string
                          format: datetime
                          description: The ending point of the time range (exclusive), or `null` to indicate that the time range extends indefinitely into the future.
                      x-property-sort:
                      - start
                      - end
                      required:
                      - start
                      - end
                      description: Time range that this translation is valid for.
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                  pagination:
                    $ref: '#/components/schemas/OffsetBasedPaginationOutputObject'
                x-property-sort:
                - status
                - pagination
            x-property-sort:
            - data
            - meta
    PostNotationCrossReferenceListBySymbol200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: array
                description: List of notations.
                nullable: false
                items:
                  type: object
                  nullable: false
                  x-property-sort:
                  - id
                  - active
                  - market
                  - valueUnit
                  - fsym
                  - instrument
                  properties:
                    id:
                      nullable: true
                      type: string
                      format: id64
                      x-positive: true
                      description: Identifier of the notation.
                    active:
                      nullable: true
                      type: boolean
                      description: Indicates whether the notation is active.
                    market:
                      nullable: false
                      type: object
                      x-property-sort:
                      - id
                      - name
                      description: Market of the notation. See endpoint `/basic/market/list` for possible values.
                      properties:
                        id:
                          nullable: true
                          type: number
                          format: id32
                          x-positive: true
                          description: Identifier of the market.
                        name:
                          nullable: true
                          type: string
                          format: localizedString
                          description: Name of the market.
                    valueUnit:
                      nullable: false
                      type: object
                      x-property-sort:
                      - id
                      - code
                      - isoCode
                      - name
                      description: Value unit of the notation. See endpoint `/basic/valueUnit/list` for possible values.
                      properties:
                        id:
                          nullable: true
                          type: number
                          format: id32
                          x-positive: true
                          description: Identifier of the value unit.
                        code:
                          nullable: true
                          type: string
                          description: 'Code of the value unit: If assigned, a code according to ISO 4217, otherwise a local code, for a main currency; a code such as GBp (for British pence) for a fractional currency; or a code such as PT (points) for non-currency value units.'
                        isoCode:
                          nullable: true
                          type: string
                          description: ISO 4217 code of the value unit. Empty if the ISO 4217 standard does not define a code for the currency.
                        name:
                          nullable: true
                          type: string
                          format: localizedString
                          description: Name of the value unit.
                    fsym:
                      nullable: false
                      type: object
                      x-property-sort:
                      - listing
                      - regional
                      description: Notation-level FactSet identifiers of the financial instrument used primarily in FactSet products other than the MDG.
                      properties:
                        listing:
                          nullable: false
                          type: object
                          x-property-sort:
                          - permanentIdentifier
                          - tickerExchange
                          - isPrimary
                          description: Listing-level identifiers.
                          properties:
                            permanentIdentifier:
                              nullable: true
                              type: string
                              description: FactSet Permanent Identifier for a notation. The format is six alpha numeric characters, excluding vowels, with an L suffix (XXXXXX-L).
                            tickerExchange:
                              nullable: true
                              type: string
                              description: 'FactSet market symbol of the notation, usually consisting of the ticker (e.g. "DAI" for Daimler AG) and the three-character code of the exchange on which the listing is traded (example: DAI-ETR).'
                            isPrimary:
                              nullable: true
                              type: boolean
                              description: Indicates whether the notation is the primary notation among all notations within the same region (`true`) or not (`false`).
                        regional:
                          nullable: false
                          type: object
                          x-property-sort:
                          - permanentIdentifier
                          - tickerRegion
                          - isPrimary
                          description: Regional-level identifiers.
                          properties:
                            permanentIdentifier:
                              nullable: true
                              type: string
                              description: FactSet Permanent Identifier for a set of one or more notations of the same region with the same value unit. The format is six alpha numeric characters, excluding vowels, with an R suffix (XXXXXX-R).
                            tickerRegion:
                              nullable: true
                              type: string
                              description: 'FactSet regional symbol of the notation, consisting of the ticker and the two-character code of the country or region where the listing is traded (example: DAI-DE).'
                            isPrimary:
                              nullable: true
                              type: boolean
                              description: Indicates whether the notation is in the primary region of the security (`true`) or not (`false`).
                    instrument:
                      nullable: false
                      type: object
                      x-property-sort:
                      - id
                      - fsym
                      description: Instrument referenced by the notation.
                      properties:
                        id:
                          nullable: true
                          type: string
                          format: id64
                          x-positive: true
                          description: Identifier of the instrument.
                        fsym:
                          nullable: false
                          type: object
                          x-property-sort:
                          - security
                          description: Instrument-level FactSet identifier of the financial instrument used primarily in FactSet products other than the MDG.
                          properties:
                            security:
                              nullable: false
                              type: object
                              x-property-sort:
                              - permanentIdentifier
                              description: Security-level identifier.
                              properties:
                                permanentIdentifier:
                                  nullable: true
                                  type: string
                                  description: FactSet Permanent Identifier for an instrument. The format is six alpha numeric characters, excluding vowels, with an S suffix (XXXXXX-S).
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                x-property-sort:
                - status
            x-property-sort:
            - data
            - meta
    GetInstrumentCrossReferenceHistoryGetByISIN200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: array
                description: List of instruments.
                nullable: false
                items:
                  type: object
                  nullable: false
                  x-property-sort:
                  - id
                  - validity
                  properties:
                    id:
                      nullable: true
                      type: string
                      format: id64
                      x-positive: true
                      description: Identifier of the instrument.
                    validity:
                      nullable: true
                      type: object
                      format: timeRange
                      properties:
                        start:
                          nullable: true
                          type: string
                          format: datetime
                          description: The starting point of the time range (inclusive).
                        end:
                          nullable: true
                          type: string
                          format: datetime
                          description: The ending point of the time range (exclusive), or `null` to indicate that the time range extends indefinitely into the future.
                      x-property-sort:
                      - start
                      - end
                      required:
                      - start
                      - end
                      description: Time range that this translation is valid for.
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                  pagination:
                    $ref: '#/components/schemas/OffsetBasedPaginationOutputObject'
                x-property-sort:
                - status
                - pagination
            x-property-sort:
            - data
            - meta
    PostNotationCrossReferenceListByISIN200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: array
                description: List of notations.
                nullable: false
                items:
                  type: object
                  nullable: false
                  x-property-sort:
                  - id
                  - symbol
                  - active
                  - market
                  - valueUnit
                  - fsym
                  properties:
                    id:
                      nullable: true
                      type: string
                      format: id64
                      x-positive: true
                      description: Identifier of the notation.
                    symbol:
                      nullable: true
                      type: string
                      description: The symbol of the notation. It is a market-specific code to identify the notation. Which characters can be part of a symbol depends on the market. If a market does not define a proprietary symbol, but uses a different identifier (for example, the ISIN or the WKN) to identify notations, no symbol will be set for the notations of that market.
                    active:
                      nullable: true
                      type: boolean
                      description: Indicates whether the notation is active.
                    market:
                      nullable: false
                      type: object
                      x-property-sort:
                      - id
                      - name
                      description: Market of the notation. See endpoint `/basic/market/list` for possible values.
                      properties:
                        id:
                          nullable: true
                          type: number
                          format: id32
                          x-positive: true
                          description: Identifier of the market.
                        name:
                          nullable: true
                          type: string
                          format: localizedString
                          description: Name of the market.
                    valueUnit:
                      nullable: false
                      type: object
                      x-property-sort:
                      - id
                      - code
                      - isoCode
                      - name
                      description: Value unit of the notation. See endpoint `/basic/valueUnit/list` for possible values.
                      properties:
                        id:
                          nullable: true
                          type: number
                          format: id32
                          x-positive: true
                          description: Identifier of the value unit.
                        code:
                          nullable: true
                          type: string
                          description: 'Code of the value unit: If assigned, a code according to ISO 4217, otherwise a local code, for a main currency; a code such as GBp (for British pence) for a fractional currency; or a code such as PT (points) for non-currency value units.'
                        isoCode:
                          nullable: true
                          type: string
                          description: ISO 4217 code of the value unit. Empty if the ISO 4217 standard does not define a code for the currency.
                        name:
                          nullable: true
                          type: string
                          format: localizedString
                          description: Name of the value unit.
                    fsym:
                      nullable: false
                      type: object
                      x-property-sort:
                      - listing
                      - regional
                      description: Notation-level FactSet identifiers of the financial instrument used primarily in FactSet products other than the MDG.
                      properties:
                        listing:
                          nullable: false
                          type: object
                          x-property-sort:
                          - permanentIdentifier
                          - tickerExchange
                          - isPrimary
                          description: Listing-level identifiers.
                          properties:
                            permanentIdentifier:
                              nullable: true
                              type: string
                              description: FactSet Permanent Identifier for a notation. The format is six alpha numeric characters, excluding vowels, with an L suffix (XXXXXX-L).
                            tickerExchange:
                              nullable: true
                              type: string
                              description: 'FactSet market symbol of the notation, usually consisting of the ticker (e.g. "DAI" for Daimler AG) and the three-character code of the exchange on which the listing is traded (example: DAI-ETR).'
                            isPrimary:
                              nullable: true
                              type: boolean
                              description: Indicates whether the notation is the primary notation among all notations within the same region (`true`) or not (`false`).
                        regional:
                          nullable: false
                          type: object
                          x-property-sort:
                          - permanentIdentifier
                          - tickerRegion
                          - isPrimary
                          description: Regional-level identifiers.
                          properties:
                            permanentIdentifier:
                              nullable: true
                              type: string
                              description: FactSet Permanent Identifier for a set of one or more notations of the same region with the same value unit. The format is six alpha numeric characters, excluding vowels, with an R suffix (XXXXXX-R).
                            tickerRegion:
                              nullable: true
                              type: string
                              description: 'FactSet regional symbol of the notation, consisting of the ticker and the two-character code of the country or region where the listing is traded (example: DAI-DE).'
                            isPrimary:
                              nullable: true
                              type: boolean
                              description: Indicates whether the notation is in the primary region of the security (`true`) or not (`false`).
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                x-property-sort:
                - status
            x-property-sort:
            - data
            - meta
    PostNotationCrossReferenceListByInstrument200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: object
                properties:
                  idInstrument:
                    nullable: true
                    type: string
                    format: id64
                    x-positive: true
                    description: MDG identifier of the instrument.
                  sourceIdentifier:
                    nullable: true
                    type: string
                    description: Identifier used in the request.
                  notations:
                    nullable: false
                    description: List of notations.
                    type: array
                    items:
                      type: object
                      nullable: false
                      x-property-sort:
                      - id
                      - symbol
                      - active
                      - market
                      - valueUnit
                      - fsym
                      properties:
                        id:
                          nullable: true
                          type: string
                          format: id64
                          x-positive: true
                          description: Identifier of the notation.
                        symbol:
                          nullable: true
                          type: string
                          description: The symbol of the notation. It is a market-specific code to identify the notation. Which characters can be part of a symbol depends on the market. If a market does not define a proprietary symbol, but uses a different identifier (for example, the ISIN or the WKN) to identify notations, no symbol will be set for the notations of that market.
                        active:
                          nullable: true
                          type: boolean
                          description: Indicates whether the notation is active.
                        market:
                          nullable: false
                          type: object
                          x-property-sort:
                          - id
                          - name
                          description: Market of the notation. See endpoint `/basic/market/list` for possible values.
                          properties:
                            id:
                              nullable: true
                              type: number
                              format: id32
                              x-positive: true
                              description: Identifier of the market.
                            name:
                              nullable: true
                              type: string
                              format: localizedString
                              description: Name of the market.
                        valueUnit:
                          nullable: false
                          type: object
                          x-property-sort:
                          - id
                          - code
                          - isoCode
                          - name
                          description: Value unit of the notation. See endpoint `/basic/valueUnit/list` for possible values.
                          properties:
                            id:
                              nullable: true
                              type: number
                              format: id32
                              x-positive: true
                              description: Identifier of the value unit.
                            code:
                              nullable: true
                              type: string
                              description: 'Code of the value unit: If assigned, a code according to ISO 4217, otherwise a local code, for a main currency; a code such as GBp (for British pence) for a fractional currency; or a code such as PT (points) for non-currency value units.'
                            isoCode:
                              nullable: true
                              type: string
                              description: ISO 4217 code of the value unit. Empty if the ISO 4217 standard does not define a code for the currency.
                            name:
                              nullable: true
                              type: string
                              format: localizedString
                              description: Name of the value unit.
                        fsym:
                          nullable: false
                          type: object
                          x-property-sort:
                          - listing
                          - regional
                          description: Notation-level FactSet identifiers of the financial instrument used primarily in FactSet products other than the MDG.
                          properties:
                            listing:
                              nullable: false
                              type: object
                              x-property-sort:
                              - permanentIdentifier
                              - tickerExchange
                              - isPrimary
                              description: Listing-level identifiers.
                              properties:
                                permanentIdentifier:
                                  nullable: true
                                  type: string
                                  description: FactSet Permanent Identifier for a notation. The format is six alpha numeric characters, excluding vowels, with an L suffix (XXXXXX-L).
                                tickerExchange:
                                  nullable: true
                                  type: string
                                  description: 'FactSet market symbol of the notation, usually consisting of the ticker (e.g. "DAI" for Daimler AG) and the three-character code of the exchange on which the listing is traded (example: DAI-ETR).'
                                isPrimary:
                                  nullable: true
                                  type: boolean
                                  description: Indicates whether the notation is the primary notation among all notations within the same region (`true`) or not (`false`).
                            regional:
                              nullable: false
                              type: object
                              x-property-sort:
                              - permanentIdentifier
                              - tickerRegion
                              - isPrimary
                              description: Regional-level identifiers.
                              properties:
                                permanentIdentifier:
                                  nullable: true
                                  type: string
                                  description: FactSet Permanent Identifier for a set of one or more notations of the same region with the same value unit. The format is six alpha numeric characters, excluding vowels, with an R suffix (XXXXXX-R).
                                tickerRegion:
                                  nullable: true
                                  type: string
                                  description: 'FactSet regional symbol of the notation, consisting of the ticker and the two-character code of the country or region where the listing is traded (example: DAI-DE).'
                                isPrimary:
                                  nullable: true
                                  type: boolean
                                  description: Indicates whether the notation is in the primary region of the security (`true`) or not (`false`).
                description: List of notations.
                nullable: false
                x-property-sort:
                - idInstrument
                - sourceIdentifier
                - notations
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                x-property-sort:
                - status
            x-property-sort:
            - data
            - meta
    PostNotationCrossReferenceFactSetIdentifierListByFactSetIdentifier200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: object
                properties:
                  instrument:
                    nullable: false
                    type: object
                    x-property-sort:
                    - id
                    - name
                    - shortName
                    description: Instrument data.
                    properties:
                      id:
                        nullable: true
                        type: string
                        format: id64
                        x-positive: true
                        description: Identifier of the instrument.
                      name:
                        nullable: true
                        type: string
                        format: localizedString
                        description: Name of the instrument.
                      shortName:
                        nullable: true
                        type: string
                        format: localizedString
                        description: Short name of the instrument.
                  permanentIdentifier:
                    nullable: true
                    type: string
                    description: FactSet Permanent Identifier for an instrument. The format is six alpha numeric characters, excluding vowels, with an S suffix (XXXXXX-S).
                  regional:
                    nullable: false
                    type: array
                    items:
                      type: object
                      nullable: false
                      x-property-sort:
                      - isPrimary
                      - permanentIdentifier
                      - tickerRegion
                      - listing
                      properties:
                        isPrimary:
                          nullable: true
                          type: boolean
                          description: Indicates whether the regional identifier is the primary regional identifier of the security (`true`) or not (`false`).
                        permanentIdentifier:
                          nullable: true
                          type: string
                          description: FactSet Permanent Identifier for a set of one or more notations of the same region with the same value unit. The format is six alpha numeric characters, excluding vowels, with an R suffix (XXXXXX-R).
                        tickerRegion:
                          nullable: true
                          type: string
                          description: 'FactSet regional symbol of the notation, consisting of the ticker and the two-character code of the country or region where the listing is traded (example: FDS-US).'
                        listing:
                          nullable: false
                          type: array
                          items:
                            type: object
                            nullable: false
                            x-property-sort:
                            - notation
                            - isPrimary
                            - permanentIdentifier
                            - tickerExchange
                            properties:
                              notation:
                                nullable: false
                                type: object
                                x-property-sort:
                                - id
                                - market
                                - valueUnit
                                description: Notation data.
                                properties:
                                  id:
                                    nullable: true
                                    type: string
                                    format: id64
                                    x-positive: true
                                    description: Identifier of a notation.
                                  market:
                                    nullable: false
                                    type: object
                                    x-property-sort:
                                    - id
                                    - name
                                    description: Market of the notation. See endpoint `/basic/market/list` for possible values.
                                    properties:
                                      id:
                                        nullable: true
                                        type: number
                                        format: id32
                                        x-positive: true
                                        description: Identifier of the market.
                                      name:
                                        nullable: true
                                        type: string
                                        format: localizedString
                                        description: Name of the market.
                                  valueUnit:
                                    nullable: false
                                    type: object
                                    x-property-sort:
                                    - id
                                    - code
                                    - isoCode
                                    - name
                                    description: Value unit of the notation. See endpoint `/basic/valueUnit/list` for possible values.
                                    properties:
                                      id:
                                        nullable: true
                                        type: number
                                        format: id32
                                        x-positive: true
                                        description: Identifier of the value unit.
                                      code:
                                        nullable: true
                                        type: string
                                        description: 'Code of the value unit: If assigned, a code according to ISO 4217, otherwise a local code, for a main currency; a code such as GBp (for British pence) for a fractional currency; or a code such as PT (points) for non-currency value units.'
                                      isoCode:
                                        nullable: true
                                        type: string
                                        description: ISO 4217 code of the value unit. Empty if the ISO 4217 standard does not define a code for the currency.
                                      name:
                                        nullable: true
                                        type: string
                                        format: localizedString
                                        description: Name of the value unit.
                              isPrimary:
                                nullable: true
                                type: boolean
                                description: Indicates whether the listing identifier is the one for the primary listing among all listings with the same regional identifier (`true`) or not (`false`).
                              permanentIdentifier:
                                nullable: true
                                type: string
                                description: FactSet Permanent Identifier for a notation. The format is six alpha numeric characters, excluding vowels, with an L suffix (XXXXXX-L).
                              tickerExchange:
                                nullable: true
                                type: string
                                description: 'FactSet market symbol of the notation, usually consisting of the ticker (e.g. "FDS" for FactSet Research Systems Inc.) and the three-character code of the exchange on which the listing is traded (example: FDS-NYS).'
                          description: Listing-level data with a list of notations. If the set of listing identifiers contains an element for which the attribute `isPrimary = true`, then this element is the first one in the array.
                    description: Regional-level data with assigned listing-level data. If the set of regional identifiers contains an element for which the attribute `isPrimary = true`, then this element is the first one in the array.
                description: Instrument data with a list of regional-level data and assigned listing-level data.
                nullable: false
                x-property-sort:
                - instrument
                - permanentIdentifier
                - regional
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                x-property-sort:
                - status
            x-property-sort:
            - data
            - meta
    PostInstrumentCrossReferenceListByWKN200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: array
                description: List of instruments.
                nullable: false
                items:
                  type: object
                  nullable: false
                  x-property-sort:
                  - id
                  - fsym
                  - validity
                  - sourceWKN
                  - status
                  properties:
                    id:
                      nullable: true
                      type: string
                      format: id64
                      x-positive: true
                      description: Identifier of the instrument.
                    fsym:
                      nullable: false
                      type: object
                      x-property-sort:
                      - security
                      description: Instrument-level FactSet identifier of the financial instrument used primarily in FactSet products other than the MDG.
                      properties:
                        security:
                          nullable: false
                          type: object
                          x-property-sort:
                          - permanentIdentifier
                          description: Security-level identifier.
                          properties:
                            permanentIdentifier:
                              nullable: true
                              type: string
                              description: FactSet Permanent Identifier for an instrument. The format is six alpha numeric characters, excluding vowels, with an S suffix (XXXXXX-S).
                    validity:
                      nullable: true
                      type: object
                      format: timeRange
                      properties:
                        start:
                          nullable: true
                          type: string
                          format: datetime
                          description: The starting point of the time range (inclusive).
                        end:
                          nullable: true
                          type: string
                          format: datetime
                          description: The ending point of the time range (exclusive), or `null` to indicate that the time range extends indefinitely into the future.
                      x-property-sort:
                      - start
                      - end
                      required:
                      - start
                      - end
                      description: Time range that this translation is valid for.
                    sourceWKN:
                      nullable: true
                      type: string
                      description: The source WKN that the instrument is translated for.
                    status:
                      nullable: false
                      type: object
                      x-property-sort:
                      - code
                      - identifier
                      description: Error status for the requested identifier
                      properties:
                        code:
                          nullable: true
                          type: string
                          description: Code of the error condition.
                          x-enum-description:
                          - No error.
                          - The provided identifier does not refer to a valid WKN.
                          - Not entitled to see data for the instrument.
                          enum:
                          - none
                          - parameter
                          - entitlement
                        identifier:
                          nullable: true
                          type: string
                          description: Provided identifier.
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                x-property-sort:
                - status
            x-property-sort:
            - data
            - meta
    PostNotationCrossReferenceFactSetIdentifierListByInstrument200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: object
                properties:
                  idInstrument:
                    nullable: true
                    type: string
                    format: id64
                    x-positive: true
                    description: MDG identifier of the instrument.
                  sourceIdentifier:
                    nullable: true
                    type: string
                    description: Identifier used in the request.
                  permanentIdentifier:
                    nullable: true
                    type: string
[...]
