openapi: 3.2.0
info:
  title: Factset IRN API v1 Relationship Categories API
  description: Allows users to extract, create, update and configure IRN data.
  version: '1'
servers:
- url: https://api.factset.com/research/irn
  description: Production Server
- url: https://api-sandbox.factset.com/research/irn
  description: Sandbox
security:
- basicScheme: []
tags:
- name: Relationship Categories
paths:
  /v1/relationship-categories:
    get:
      tags:
      - Relationship Categories
      summary: Factset Get list of the relationship categories configured in your group
      operationId: GetRelationshipCategories
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RelationshipCategoryDto'
    post:
      tags:
      - Relationship Categories
      summary: Factset Create a relationship category
      operationId: CreateRelationshipCategory
      requestBody:
        description: RelationshipCategorySaveDto object to save
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/RelationshipCategorySaveDto'
          application/json:
            schema:
              $ref: '#/components/schemas/RelationshipCategorySaveDto'
          text/json:
            schema:
              $ref: '#/components/schemas/RelationshipCategorySaveDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/RelationshipCategorySaveDto'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewItemDto'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
  /v1/relationship-categories/reorder:
    post:
      tags:
      - Relationship Categories
      summary: Factset Reorder relationship categories
      operationId: UpdateRelationshipCategoryOrder
      requestBody:
        description: List of Guid
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/RelationshipCategoryListDto'
          application/json:
            schema:
              $ref: '#/components/schemas/RelationshipCategoryListDto'
          text/json:
            schema:
              $ref: '#/components/schemas/RelationshipCategoryListDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/RelationshipCategoryListDto'
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
  /v1/relationship-categories/{relationshipCategoryId}:
    put:
      tags:
      - Relationship Categories
      summary: Factset Edit a relationship category
      operationId: EditRelationshipCategory
      parameters:
      - name: relationshipCategoryId
        in: path
        description: relationshipCategoryId to update associated record
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        description: RelationshipCategorySaveDto object to update
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/RelationshipCategorySaveDto'
          application/json:
            schema:
              $ref: '#/components/schemas/RelationshipCategorySaveDto'
          text/json:
            schema:
              $ref: '#/components/schemas/RelationshipCategorySaveDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/RelationshipCategorySaveDto'
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
    delete:
      tags:
      - Relationship Categories
      summary: Factset Delete a relationship category
      operationId: DeleteRelationshipCategory
      parameters:
      - name: relationshipCategoryId
        in: path
        description: relationshipCategoryId to delete associated record
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
components:
  schemas:
    NewItemDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
      additionalProperties: false
    RelationshipCategorySaveDto:
      required:
      - categoryName
      type: object
      properties:
        categoryName:
          maxLength: 50
          minLength: 0
          type: string
        isContactToContact:
          type: boolean
          default: false
        isContactToSymbol:
          type: boolean
          default: false
      additionalProperties: false
    RelationshipCategoryListDto:
      required:
      - ids
      type: object
      properties:
        ids:
          type: array
          items:
            type: string
            format: uuid
      additionalProperties: false
    RelationshipDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
        relationshipCategoryId:
          type: string
          format: uuid
        relationshipCode:
          type:
          - string
          - 'null'
        bidirectionalName:
          type:
          - string
          - 'null'
        leftToRightName:
          type:
          - string
          - 'null'
        rightToLeftName:
          type:
          - string
          - 'null'
        hideDates:
          type: boolean
        hideComment:
          type: boolean
        hideCompany:
          type: boolean
        isCustomisable:
          type: boolean
      additionalProperties: false
    RelationshipCategoryDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type:
          - string
          - 'null'
        isStandard:
          type: boolean
        isContactToContact:
          type: boolean
        isContactToSymbol:
          type: boolean
        relationships:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/RelationshipDto'
      additionalProperties: false
    ProblemDetails:
      type: object
      properties:
        type:
          type:
          - string
          - 'null'
        title:
          type:
          - string
          - 'null'
        status:
          type:
          - integer
          - 'null'
          format: int32
        detail:
          type:
          - string
          - 'null'
        instance:
          type:
          - string
          - 'null'
      additionalProperties: {}
  securitySchemes:
    basicScheme:
      type: http
      scheme: basic
