openapi: 3.2.0
info:
  description: 'The BookBuilder API is a powerful tool that combines detailed reports for companies of interest. Save time by using a single source of knowledge instead of relying on multiple APIs to create a presentation ready PDF, also known as a Public Information Book(PIB). </br></br> Consistently create books with the same content/reports for different companies by defining templates with the set of reports saved for re-use. Or, use templates that are created by FactSet for quick use. </br></br> With our powerful API endpoints, you can get the information on companies of interest quickly where and when you need it. </br></br> '
  title: Factset BookBuilder Download Api Book Aws API
  version: '1.11'
servers:
- url: https://api.factset.com/book-builder-api/
  description: Base URL Production
security:
- BasicAuth: []
tags:
- name: Download Api Book Aws
paths:
  /v1/download-api-book-aws/{book_id}:
    get:
      tags:
      - Download Api Book Aws
      summary: Factset Retrieves book in PDF format
      description: This endpoint uses the BookId returned from any of the request above. Returns the URL to load the book for the book ID requested. The URL will be in JSON format, the final book will be in PDF format. <br><br> NOTE -- The execution of this endpoint requires an extra step within the developer portal due to authentication limitations. When using the actual API, a successful response for this endpoint will be the PDF book rather than the URL to the PDF. <br><br><b><i>The actual endpoint is </b><font color=blue>https://api.factset.com/book-builder-api/v1/download-api-book/{book_id}</font></i>
      parameters:
      - in: path
        name: book_id
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Successful response contains URL to load the book for the BookID requested
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Enable_Book_Download'
        '202':
          description: Book is processing. Please check back later.
        '400':
          description: Something went wrong. Please create a new request.
        '401':
          description: Missing or invalid authentication
        '503':
          description: Unrecognized BookId
components:
  schemas:
    Enable_Book_Download:
      title: Book Download
      description: Request to download book.
      type: object
      properties:
        Message:
          type: string
          description: Book status
          example: Copy and paste the URL below into your browser to download your book. This book will be available for download for the next 30 minutes.
        url:
          type: string
          description: URL to book.
          example: https://fioaddon-s3-bridge-3399.s3.amazonaws.com/DD_20200331093828132.pdf?AWSAccessKeyId=AKIA46YVWD3IE4WEE4OI&Expires=1585663820&Signature=C2PQmOQJlgzbW67skirSuKAiP1A%3D
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
