openapi: 3.0.3
info:
  title: Factset Analytics Datastore About Symbol Relationships API
  description: Allow clients to fetch precalculated Analytics through predeterministic URLs.
  contact:
    name: FactSet Research Systems
    url: https://developer.factset.com/contact
    email: api@factset.com
  license:
    name: Apache License, Version 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  version: 1.0.0
servers:
- url: https://api.factset.com
  description: Production
- url: https://api-sandbox.factset.com
  description: Sandbox
security:
- basicAuth: []
tags:
- name: Symbol Relationships
paths:
  /v1/symbol-relationships/{symbolId}/relationships:
    get:
      tags:
      - Symbol Relationships
      summary: Factset Returns a list of a symbol’s relationships
      operationId: GetSymbolRelationships
      parameters:
      - name: symbolId
        in: path
        description: symbolId to get associated records
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SymbolRelationshipDto'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
  /v1/symbol-relationships/{symbolRelationshipId}:
    get:
      tags:
      - Symbol Relationships
      summary: Factset Get details on a specific symbol relationship
      operationId: GetSymbolRelationship
      parameters:
      - name: symbolRelationshipId
        in: path
        description: symbolRelationshipId to get associated record
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SymbolRelationshipDto'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
    delete:
      tags:
      - Symbol Relationships
      summary: Factset Delete a symbol relationship
      operationId: DeleteSymbolRelationship
      parameters:
      - name: symbolRelationshipId
        in: path
        description: symbolRelationshipId to delete associated record
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
  /v1/symbol-relationships:
    post:
      tags:
      - Symbol Relationships
      summary: Factset Create a symbol relationship
      operationId: CreateSymbolRelationship
      requestBody:
        description: symbolRelationship object to save
        content:
          application/json-patch+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/SymbolRelationshipSaveDto'
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/SymbolRelationshipSaveDto'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/SymbolRelationshipSaveDto'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/SymbolRelationshipSaveDto'
      responses:
        '201':
          description: Created
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
  /v1/symbol-relationships/{symbol}:
    put:
      tags:
      - Symbol Relationships
      summary: Factset Edit a symbol relationship
      operationId: EditAndAddSymbolRelationship
      parameters:
      - name: symbol
        in: path
        description: ''
        required: true
        schema:
          type: string
      requestBody:
        description: symbolRelationship object to save
        content:
          application/json-patch+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/SymbolRelationshipUpdateDto'
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/SymbolRelationshipUpdateDto'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/SymbolRelationshipUpdateDto'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/SymbolRelationshipUpdateDto'
      responses:
        '200':
          description: Success
components:
  schemas:
    SymbolIdNameDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
          nullable: true
        name:
          type: string
          nullable: true
        code:
          type: string
          nullable: true
      additionalProperties: false
    SymbolRelationshipDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
        symbolsRelationship:
          $ref: '#/components/schemas/SymbolsRelationshipIdNameDto'
        parentSymbol:
          $ref: '#/components/schemas/SymbolIdNameDto'
        childSymbol:
          $ref: '#/components/schemas/SymbolIdNameDto'
        startDate:
          type: string
          format: date-time
          nullable: true
        endDate:
          type: string
          format: date-time
          nullable: true
        comment:
          type: string
          nullable: true
      additionalProperties: false
    SymbolRelationshipUpdateDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
        symbolsRelationshipId:
          type: string
          format: uuid
        parentSymbol:
          type: string
          nullable: true
        childSymbol:
          type: string
          nullable: true
        startDate:
          type: string
          format: date-time
          nullable: true
        endDate:
          type: string
          format: date-time
          nullable: true
        comment:
          type: string
          nullable: true
      additionalProperties: false
    SymbolsRelationshipIdNameDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
          nullable: true
        type:
          type: string
          nullable: true
      additionalProperties: false
    SymbolRelationshipSaveDto:
      type: object
      properties:
        symbolsRelationshipId:
          type: string
          format: uuid
        parentSymbol:
          type: string
          nullable: true
        childSymbol:
          type: string
          nullable: true
        startDate:
          type: string
          format: date-time
          nullable: true
        endDate:
          type: string
          format: date-time
          nullable: true
        comment:
          type: string
          nullable: true
      additionalProperties: false
    ProblemDetails:
      type: object
      properties:
        type:
          type: string
          nullable: true
        title:
          type: string
          nullable: true
        status:
          type: integer
          format: int32
          nullable: true
        detail:
          type: string
          nullable: true
        instance:
          type: string
          nullable: true
      additionalProperties: {}
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
externalDocs:
  url: https://developer.factset.com/api-catalog/analytics-datastore-api
  description: API Documentation
