openapi: 3.2.0
info:
  title: Factset IRN API v1 Symbols Relationships API
  description: Allows users to extract, create, update and configure IRN data.
  version: '1'
servers:
- url: https://api.factset.com/research/irn
  description: Production Server
- url: https://api-sandbox.factset.com/research/irn
  description: Sandbox
security:
- basicScheme: []
tags:
- name: Symbols Relationships
paths:
  /v1/symbols-relationships:
    get:
      tags:
      - Symbols Relationships
      summary: Factset Get all the Symbols Relationships
      operationId: GetSymbolsRelationships
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SymbolsRelationshipDto'
    post:
      tags:
      - Symbols Relationships
      summary: Factset Create a symbol relationship
      operationId: CreateSymbolRelationshipType
      requestBody:
        description: symbolsRelationshipSaveDto object to save
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/SymbolsRelationShipSaveDto'
          application/json:
            schema:
              $ref: '#/components/schemas/SymbolsRelationShipSaveDto'
          text/json:
            schema:
              $ref: '#/components/schemas/SymbolsRelationShipSaveDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/SymbolsRelationShipSaveDto'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewItemDto'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
  /v1/symbols-relationships/{symbolsRelationshipId}:
    put:
      tags:
      - Symbols Relationships
      summary: Factset Edit a symbol relationship
      operationId: EditSymbolsRelationship
      parameters:
      - name: symbolsRelationshipId
        in: path
        description: symbolsRelationshipId to update associated record
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        description: SymbolsRelationShipSaveDto object to update
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/SymbolsRelationShipSaveDto'
          application/json:
            schema:
              $ref: '#/components/schemas/SymbolsRelationShipSaveDto'
          text/json:
            schema:
              $ref: '#/components/schemas/SymbolsRelationShipSaveDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/SymbolsRelationShipSaveDto'
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
    delete:
      tags:
      - Symbols Relationships
      summary: Factset Delete a symbol relationship
      operationId: DeleteSymbolsRelationship
      parameters:
      - name: symbolsRelationshipId
        in: path
        description: symbolsRelationshipId to delete associated record
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
components:
  schemas:
    SymbolsRelationShipSaveDto:
      required:
      - hideComment
      - hideDates
      type: object
      properties:
        relationshipCode:
          maxLength: 3
          minLength: 0
          type:
          - string
          - 'null'
        parentToChildName:
          maxLength: 50
          minLength: 0
          type:
          - string
          - 'null'
        childToParentName:
          maxLength: 50
          minLength: 0
          type:
          - string
          - 'null'
        peerName:
          maxLength: 50
          minLength: 0
          type:
          - string
          - 'null'
        hideDates:
          type: boolean
          default: true
        hideComment:
          type: boolean
          default: true
      additionalProperties: false
    NewItemDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
      additionalProperties: false
    SymbolsRelationshipDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
        relationshipCode:
          type:
          - string
          - 'null'
        parentToChildName:
          type:
          - string
          - 'null'
        childToParentName:
          type:
          - string
          - 'null'
        peerName:
          type:
          - string
          - 'null'
        hideDates:
          type: boolean
        hideComment:
          type: boolean
      additionalProperties: false
    ProblemDetails:
      type: object
      properties:
        type:
          type:
          - string
          - 'null'
        title:
          type:
          - string
          - 'null'
        status:
          type:
          - integer
          - 'null'
          format: int32
        detail:
          type:
          - string
          - 'null'
        instance:
          type:
          - string
          - 'null'
      additionalProperties: {}
  securitySchemes:
    basicScheme:
      type: http
      scheme: basic
