openapi: 3.2.0
info:
  description: The BookBuilder API is a powerful tool that combines detailed reports for companies of interest.
  title: Factset BookBuilder Custom Upload List API
  version: '1.11'
servers:
- url: https://api.factset.com/book-builder-api/
  description: Base URL Production
security:
- BasicAuth: []
tags:
- name: Custom Upload List
paths:
  /v1/custom-upload-list:
    get:
      tags:
      - Custom Upload List
      summary: Factset Check out the documents uploaded before to use them in creating books
      description: Retrieves the list of documents uploaded before using the endpoint "/upload-custom-document". The documents uploaded are available for 30 days from the date of uploading.
      responses:
        '200':
          description: Successful response contains file name, fileURL and the date and time the book was uploaded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Uploaded_Documents_List'
        '401':
          description: Missing or invalid authentication
      operationId: getV1CustomUploadList
      x-operation-id-source: derived
components:
  schemas:
    Uploaded_Documents_List:
      title: Template Request
      description: Request to enable template list information for the client.
      type: array
      items:
        properties:
          name:
            type: string
            description: Template ID
            example: Custom Upload
          file_url:
            type: string
            description: FIle url
            example: b33f6b758f2b12562251e5396e21f68ad46648bf19a8f3a9e55f74
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
