openapi: 3.2.0
info:
  title: Factset IRN API v1 Custom Symbols API
  description: Allows users to extract, create, update and configure IRN data.
  version: '1'
servers:
- url: https://api.factset.com/research/irn
  description: Production Server
- url: https://api-sandbox.factset.com/research/irn
  description: Sandbox
security:
- basicScheme: []
tags:
- name: Custom Symbols
paths:
  /v1/custom-symbols:
    get:
      tags:
      - Custom Symbols
      summary: Factset Get list of all custom symbols in your group along with some of their standard field and custom fields data
      operationId: GetCustomSymbols
      parameters:
      - name: typeName
        in: query
        description: filter custom symbols based on custom symbol type
        schema:
          type: string
      - name: query
        in: query
        description: filter custom symbols based on custom symbol code or name
        schema:
          type: string
      - name: includeCustomFieldValues
        in: query
        description: Whether or not to include customFieldValues
        schema:
          type: boolean
          default: false
      - name: excludeLinkedCustomSymbol
        in: query
        description: Whether or not to exclude linked custom symbol
        schema:
          type: boolean
          default: false
      - name: includeEvent
        in: query
        description: Whether or not to include event
        schema:
          type: boolean
          default: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CustomSymbolDto'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: string
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
    post:
      tags:
      - Custom Symbols
      summary: Factset Create a custom symbol
      operationId: CreateCustomSymbol
      requestBody:
        description: createCustomSymbolDto object to save
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/CreateCustomSymbolDto'
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCustomSymbolDto'
          text/json:
            schema:
              $ref: '#/components/schemas/CreateCustomSymbolDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/CreateCustomSymbolDto'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewItemDto'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
  /v1/custom-symbols/{customSymbolId}:
    get:
      tags:
      - Custom Symbols
      summary: Factset Get all custom field and standard field details on a specific custom symbol
      operationId: GetCustomSymbol
      parameters:
      - name: customSymbolId
        in: path
        description: customSymbolId to get associated custom symbol
        required: true
        schema:
          type: string
          format: uuid
      - name: includeEvent
        in: query
        description: Whether or not to include event
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomSymbolDto'
    patch:
      tags:
      - Custom Symbols
      summary: Factset Edit a custom symbol’s standard field and custom field data
      operationId: PatchCustomSymbol
      parameters:
      - name: customSymbolId
        in: path
        description: customSymbolId to update associated custom symbol
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        description: updateCustomSymbolDto object to update
        content:
          application/json-patch+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Operation'
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Operation'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Operation'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Operation'
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
    delete:
      tags:
      - Custom Symbols
      summary: Factset Delete a custom symbol
      operationId: DeleteCustomSymbol
      parameters:
      - name: customSymbolId
        in: path
        description: customSymbolId to delete associated custom symbol
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
  /v1/custom-symbols/{customSymbolId}/records:
    get:
      tags:
      - Custom Symbols
      summary: Factset Get all notes and meetings where a specific customSymbol was tagged as primary or related identifier
      operationId: GetCustomSymbolRecords
      parameters:
      - name: customSymbolId
        in: path
        description: CustomSymbolId to get associated records
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RecordPreviewDto'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
  /v1/custom-symbols/standard-symbol-metadata/{standardSymbol}:
    get:
      tags:
      - Custom Symbols
      summary: Factset Get all custom field and standard field details on a specific standard symbol
      operationId: GetStandardSymbolMetadataGuid
      parameters:
      - name: standardSymbol
        in: path
        description: Standard symbol to get associated customSymbolId
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: string
                format: uuid
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: string
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
  /v1/custom-symbols/{customSymbolId}/link-standard-symbol:
    post:
      tags:
      - Custom Symbols
      summary: Factset Link custom symbol to standard symbol
      operationId: LinkCustomSymbolToStandardSymbol
      parameters:
      - name: customSymbolId
        in: path
        description: customSymbolId associated with custom symbol
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        description: standard symbol name
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/StandardSymbolDto'
          application/json:
            schema:
              $ref: '#/components/schemas/StandardSymbolDto'
          text/json:
            schema:
              $ref: '#/components/schemas/StandardSymbolDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/StandardSymbolDto'
      responses:
        '200':
          description: Success
  /v1/custom-symbols/standard-symbol-metadata:
    post:
      tags:
      - Custom Symbols
      summary: Factset Create standard symbol metadata
      operationId: CreateStandardSymbolMetadata
      requestBody:
        description: createStandardSymbolMetadataDto object to save
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/CreateStandardSymbolMetadataDto'
          application/json:
            schema:
              $ref: '#/components/schemas/CreateStandardSymbolMetadataDto'
          text/json:
            schema:
              $ref: '#/components/schemas/CreateStandardSymbolMetadataDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/CreateStandardSymbolMetadataDto'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewItemDto'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
  /v1/custom-symbols/standard-symbol-metadata/{standardSymbolId}:
    patch:
      tags:
      - Custom Symbols
      summary: Factset Edit a standard symbol’s standard field and custom field data
      operationId: PatchStandardSymbol
      parameters:
      - name: standardSymbolId
        in: path
        description: standardSymbolId to update associated standard symbol
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        description: updateCustomSymbolDto object to update
        content:
          application/json-patch+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Operation'
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Operation'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Operation'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Operation'
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
components:
  schemas:
    CustomSymbolCustomFieldValueDto:
      type: object
      properties:
        code:
          type:
          - string
          - 'null'
        value:
          type:
          - string
          - 'null'
        optionValues:
          type:
          - array
          - 'null'
          items:
            type: string
        contacts:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CustomSymbolContact'
      additionalProperties: false
    CustomSymbolDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
        code:
          type:
          - string
          - 'null'
        name:
          type:
          - string
          - 'null'
        description:
          type:
          - string
          - 'null'
        type:
          $ref: '#/components/schemas/CustomSymbolTypeSummaryDto'
        subType:
          $ref: '#/components/schemas/CustomSymbolSubTypeSummaryDto'
        address:
          $ref: '#/components/schemas/CustomSymbolAddressDto'
        customFields:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CustomSymbolCustomFieldValueDto'
        createdDate:
          type:
          - string
          - 'null'
        createdBy:
          type:
          - string
          - 'null'
        standardSymbol:
          type:
          - string
          - 'null'
        standardSymbolInstrumentData:
          $ref: '#/components/schemas/InstrumentDto'
        isAddressAutoFilled:
          type: boolean
        isDescriptionAutoFilled:
          type: boolean
      additionalProperties: false
    NewItemDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
      additionalProperties: false
    InstrumentDto:
      type: object
      properties:
        symbol:
          type:
          - string
          - 'null'
        tickerRegion:
          type:
          - string
          - 'null'
        tickerExchange:
          type:
          - string
          - 'null'
        sedol:
          type:
          - string
          - 'null'
        cusip:
          type:
          - string
          - 'null'
        isin:
          type:
          - string
          - 'null'
        instrumentName:
          type:
          - string
          - 'null'
        identifiers:
          type:
          - array
          - 'null'
          items:
            type: string
      additionalProperties: false
    StandardSymbolDto:
      required:
      - standardSymbol
      type: object
      properties:
        standardSymbol:
          type: string
      additionalProperties: false
    OperationType:
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
      - 5
      - 6
      type: integer
      format: int32
    CreateCustomSymbolCustomFieldValueDto:
      required:
      - code
      type: object
      properties:
        code:
          type: string
        textValue:
          type:
          - string
          - 'null'
        numericValue:
          type:
          - number
          - 'null'
          format: double
        dateValue:
          type:
          - string
          - 'null'
        extendedTextValue:
          type:
          - string
          - 'null'
        optionValues:
          type:
          - array
          - 'null'
          items:
            type: string
        contactIds:
          type:
          - array
          - 'null'
          items:
            type: string
            format: uuid
      additionalProperties: false
    CreateStandardSymbolMetadataDto:
      required:
      - standardSymbol
      type: object
      properties:
        standardSymbol:
          maxLength: 255
          minLength: 0
          type: string
        description:
          type:
          - string
          - 'null'
        typeId:
          type: string
          format: uuid
        subTypeId:
          type: string
          format: uuid
        googleMapsPlaceId:
          maxLength: 255
          minLength: 0
          type:
          - string
          - 'null'
        formattedAddress:
          maxLength: 255
          minLength: 0
          type:
          - string
          - 'null'
        city:
          maxLength: 50
          minLength: 0
          type:
          - string
          - 'null'
        stateProvince:
          maxLength: 50
          minLength: 0
          type:
          - string
          - 'null'
        postalCode:
          maxLength: 10
          minLength: 0
          type:
          - string
          - 'null'
        country:
          maxLength: 50
          minLength: 0
          type:
          - string
          - 'null'
        customFieldValues:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CreateCustomSymbolCustomFieldValueDto'
      additionalProperties: false
    Operation:
      type: object
      properties:
        operationType:
          $ref: '#/components/schemas/OperationType'
        path:
          type:
          - string
          - 'null'
        op:
          type:
          - string
          - 'null'
        from:
          type:
          - string
          - 'null'
        value: {}
      additionalProperties: false
    CustomSymbolContact:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type:
          - string
          - 'null'
        employerName:
          type:
          - string
          - 'null'
        roleName:
          type:
          - string
          - 'null'
        isDeleted:
          type: boolean
        irnPersonId:
          type:
          - string
          - 'null'
      additionalProperties: false
    CustomSymbolAddressDto:
      type: object
      properties:
        googleMapsPlaceId:
          type:
          - string
          - 'null'
        formattedAddress:
          type:
          - string
          - 'null'
        city:
          type:
          - string
          - 'null'
        stateProvince:
          type:
          - string
          - 'null'
        postalCode:
          type:
          - string
          - 'null'
        country:
          type:
          - string
          - 'null'
      additionalProperties: false
    RecordPreviewDto:
      type: object
      properties:
        noteGuid:
          type:
          - string
          - 'null'
          format: uuid
        meetingGuid:
          type:
          - string
          - 'null'
          format: uuid
        title:
          type:
          - string
          - 'null'
        date:
          type: string
          format: date-time
      additionalProperties: false
    CustomSymbolTypeSummaryDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type:
          - string
          - 'null'
      additionalProperties: false
    CustomSymbolSubTypeSummaryDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type:
          - string
          - 'null'
      additionalProperties: false
    CreateCustomSymbolDto:
      type: object
      properties:
        code:
          maxLength: 32
          minLength: 0
          type:
          - string
          - 'null'
        name:
          maxLength: 255
          minLength: 0
          type:
          - string
          - 'null'
        description:
          type:
          - string
          - 'null'
        typeId:
          type: string
          format: uuid
        subTypeId:
          type: string
          format: uuid
        googleMapsPlaceId:
          maxLength: 255
          minLength: 0
          type:
          - string
          - 'null'
        formattedAddress:
          maxLength: 255
          minLength: 0
          type:
          - string
          - 'null'
        city:
          maxLength: 50
          minLength: 0
          type:
          - string
          - 'null'
        stateProvince:
          maxLength: 50
          minLength: 0
          type:
          - string
          - 'null'
        postalCode:
          maxLength: 10
          minLength: 0
          type:
          - string
          - 'null'
        country:
          maxLength: 50
          minLength: 0
          type:
          - string
          - 'null'
        customFieldValues:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CreateCustomSymbolCustomFieldValueDto'
      additionalProperties: false
    ProblemDetails:
      type: object
      properties:
        type:
          type:
          - string
          - 'null'
        title:
          type:
          - string
          - 'null'
        status:
          type:
          - integer
          - 'null'
          format: int32
        detail:
          type:
          - string
          - 'null'
        instance:
          type:
          - string
          - 'null'
      additionalProperties: {}
  securitySchemes:
    basicScheme:
      type: http
      scheme: basic
