openapi: 3.0.3
info:
  title: Factset Analytics Datastore About Custom Upload List API
  description: Allow clients to fetch precalculated Analytics through predeterministic URLs.
  contact:
    name: FactSet Research Systems
    url: https://developer.factset.com/contact
    email: api@factset.com
  license:
    name: Apache License, Version 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  version: 1.0.0
servers:
- url: https://api.factset.com
  description: Production
- url: https://api-sandbox.factset.com
  description: Sandbox
security:
- basicAuth: []
tags:
- name: Custom Upload List
paths:
  /v1/custom-upload-list:
    get:
      tags:
      - Custom Upload List
      summary: Factset Check out the documents uploaded before to use them in creating books
      description: Retrieves the list of documents uploaded before using the endpoint "/upload-custom-document". The documents uploaded are available for 30 days from the date of uploading.
      responses:
        '200':
          description: Successful response contains file name, fileURL and the date and time the book was uploaded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Uploaded_Documents_List'
        '401':
          description: Missing or invalid authentication
components:
  schemas:
    Uploaded_Documents_List:
      title: Template Request
      description: Request to enable template list information for the client.
      type: array
      items:
        properties:
          name:
            type: string
            description: Template ID
            example: Custom Upload
          file_url:
            type: string
            description: FIle url
            example: b33f6b758f2b12562251e5396e21f68ad46648bf19a8f3a9e55f74
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
externalDocs:
  url: https://developer.factset.com/api-catalog/analytics-datastore-api
  description: API Documentation
