openapi: 3.2.0
info:
  title: Factset IRN API v1 Custom Fields API
  description: Allows users to extract, create, update and configure IRN data.
  version: '1'
servers:
- url: https://api.factset.com/research/irn
  description: Production Server
- url: https://api-sandbox.factset.com/research/irn
  description: Sandbox
security:
- basicScheme: []
tags:
- name: Custom Fields
paths:
  /v1/custom-fields:
    get:
      tags:
      - Custom Fields
      summary: Factset Get all Custom Fields
      operationId: GetCustomFields
      parameters:
      - name: X-IRN-Ignore-Permissions
        in: header
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CustomFieldConfigDto'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
components:
  schemas:
    IntegerConfigDto:
      type: object
      properties:
        splitType:
          type:
          - string
          - 'null'
      additionalProperties: false
    ExtendedTextConfigDto:
      type: object
      properties:
        maxChars:
          type: integer
          format: int32
      additionalProperties: false
    FormulaConfigDto:
      type: object
      properties:
        formula:
          type:
          - string
          - 'null'
        formulaType:
          type:
          - string
          - 'null'
      additionalProperties: false
    NumericConfigDto:
      type: object
      properties:
        decimals:
          type: integer
          format: int32
        splitType:
          type:
          - string
          - 'null'
      additionalProperties: false
    CustomFieldConfigDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
        code:
          type:
          - string
          - 'null'
        name:
          type:
          - string
          - 'null'
        source:
          type:
          - string
          - 'null'
        type:
          type:
          - string
          - 'null'
        usePreviousValue:
          type: boolean
        isMandatory:
          type: boolean
        isHidden:
          type: boolean
        isFilePath:
          type: boolean
        formulaConfig:
          $ref: '#/components/schemas/FormulaConfigDto'
        numericConfig:
          $ref: '#/components/schemas/NumericConfigDto'
        integerConfig:
          $ref: '#/components/schemas/IntegerConfigDto'
        extendedTextConfig:
          $ref: '#/components/schemas/ExtendedTextConfigDto'
        optionsConfig:
          $ref: '#/components/schemas/OptionsConfigDto'
      additionalProperties: false
    OptionsConfigDto:
      type: object
      properties:
        multiSelectEnabled:
          type: boolean
        onTheFlyEnabled:
          type: boolean
        options:
          type:
          - array
          - 'null'
          items:
            type: string
      additionalProperties: false
    ProblemDetails:
      type: object
      properties:
        type:
          type:
          - string
          - 'null'
        title:
          type:
          - string
          - 'null'
        status:
          type:
          - integer
          - 'null'
          format: int32
        detail:
          type:
          - string
          - 'null'
        instance:
          type:
          - string
          - 'null'
      additionalProperties: {}
  securitySchemes:
    basicScheme:
      type: http
      scheme: basic
