openapi: 3.0.3
info:
  title: Factset Analytics Datastore About Linked API
  description: Allow clients to fetch precalculated Analytics through predeterministic URLs.
  contact:
    name: FactSet Research Systems
    url: https://developer.factset.com/contact
    email: api@factset.com
  license:
    name: Apache License, Version 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  version: 1.0.0
servers:
- url: https://api.factset.com
  description: Production
- url: https://api-sandbox.factset.com
  description: Sandbox
security:
- basicAuth: []
tags:
- name: Linked
paths:
  /analytics/engines/pa/v3/linked-templates:
    post:
      tags:
      - Linked
      summary: Factset Create a Linked Pa Template
      description: "This endpoint creates a template from an **existing portfolio analysis tile**, allowing the user to replicate and fetch reports settings.\r\n\r\nRemarks:\r\n\r\n*   Mandatory fields are required to be passed in POST requests and Optional fields are not necessary. \r\n    If no mandatory fields are passed, then we can use the template as a component and skip the component creation.\r\n    \r\n*   Mandatory, optional and locked fields can be  \"accounts\", \"benchmarks\", \"groups\", \"columns\", \"datasources\", \"dates\", \"currencyisocode\" and \"componentdetail\".\r\n\r\n*   We cannot override the Locked fields when creating the Component.\r\n\r\n*   Mandatory and locked strings are mutually exclusive.\r\n\r\n*   Multi-horizon frequencies are not supported through this endpoint."
      operationId: createLinkedPATemplates
      requestBody:
        description: Request Parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LinkedPATemplateParametersRoot'
            example:
              data:
                directory: Personal:LinkedPATemplates/
                parentComponentId: 801B800245E468A52AEBEC4BE31CFF5AF82F371DAEF5F158AC2E98C2FA324B46
                description: This is a linked PA template that only returns security level data
                content:
                  mandatory:
                  - accounts
                  - benchmarks
                  optional:
                  - groups
                  - columns
                  locked:
                  - componentdetail
        required: true
      responses:
        '201':
          description: Expected response, created a template linked to a PA3 tile.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LinkedPATemplatePostSummaryRoot'
        '400':
          description: Invalid data provided. Please check the request parameters before attempting again.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
        '401':
          description: Missing or invalid authentication.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
        '403':
          description: User is forbidden with current credentials
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              schema:
                type: string
        '404':
          description: Component not found.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              schema:
                type: string
        '406':
          description: Unsupported Accept header. Header needs to be set to application/json.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              schema:
                type: string
        '429':
          description: Rate limit reached. Wait till the time specified in Retry-After header value to make further requests.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
            Retry-After:
              description: Time to wait in seconds before making a new request as the rate limit has reached.
              schema:
                type: string
        '500':
          description: Server error. Log the X-DataDirect-Request-Key header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
        '503':
          description: Request timed out. Retry the request in sometime.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    get:
      tags:
      - Linked
      summary: Factset Get Linked Pa Templates
      description: This endpoint returns the list of linked PA templates in given path.
      operationId: getLinkedPATemplates
      parameters:
      - name: directory
        in: query
        description: Get linked PA templates in path.
        schema:
          type: string
          description: Get linked PA templates in path.
          example: Personal:LinkedPATemplates/
      - name: documentDirectory
        in: query
        description: Get linked PA templates for documents in document path
        schema:
          type: string
          description: Get linked PA templates for documents in document path
      - name: documentName
        in: query
        description: Get linked PA templates for documents by document name
        schema:
          type: string
          description: Get linked PA templates for documents by document name
      responses:
        '200':
          description: Expected response, returns a list of templates linked to PA3 tile.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LinkedPATemplateSummaryRoot'
        '400':
          description: Invalid data provided. Please check the request parameters before attempting again.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
        '401':
          description: Missing or invalid authentication.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
        '403':
          description: User is forbidden with current credentials
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              schema:
                type: string
        '404':
          description: Document not found
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
        '406':
          description: Unsupported Accept header. Header needs to be set to application/json.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              schema:
                type: string
        '429':
          description: Rate limit reached. Wait till the time specified in Retry-After header value to make further requests.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
            Retry-After:
              description: Time to wait in seconds before making a new request as the rate limit has reached.
              schema:
                type: string
        '500':
          description: Server error. Log the X-DataDirect-Request-Key header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
        '503':
          description: Request timed out. Retry the request in sometime.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /analytics/engines/pa/v3/linked-templates/{id}:
    put:
      tags:
      - Linked
      summary: Factset Update a Linked Pa Template
      description: "This endpoint allows the user to change the request body and description from an existing template.\r\n\r\nRemarks:\r\n\r\n*   Mandatory fields are required to be passed in POST requests and Optional fields are not necessary. \r\n    If no mandatory fields are passed, then we can use the template as a component and skip the component creation.\r\n    \r\n*   Mandatory, optional and locked fields can be  \"accounts\", \"benchmarks\", \"groups\", \"columns\", \"datasources\", \"dates\", \"currencyisocode\" and \"componentdetail\".\r\n\r\n*   We cannot override the Locked fields when creating the Component.\r\n\r\n*   Mandatory and locked strings are mutually exclusive.\r\n\r\n*   Multi-horizon frequencies are not supported through this endpoint."
      operationId: updateLinkedPATemplates
      parameters:
      - name: id
        in: path
        description: Unique identifier for a linked PA template
        required: true
        schema:
          type: string
          description: Unique identifier for a linked PA template
          example: 01234567890123456789012345678901
      requestBody:
        description: Request Parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LinkedPATemplateUpdateParametersRoot'
            example:
              data:
                parentComponentId: 801B800245E468A52AEBEC4BE31CFF5AF82F371DAEF5F158AC2E98C2FA324B46
                description: This is a linked PA template that only returns security level data
                content:
                  mandatory:
                  - accounts
                  - benchmarks
                  optional:
                  - groups
                  - columns
                  locked:
                  - componentdetail
        required: true
      responses:
        '200':
          description: Expected response, updated a template linked to a PA3 tile.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LinkedPATemplatePostSummaryRoot'
        '400':
          description: Invalid data provided. Please check the request parameters before attempting again.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
        '401':
          description: Missing or invalid authentication.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
        '403':
          description: User is forbidden with current credentials
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              schema:
                type: string
        '404':
          description: Template or component not found.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
        '406':
          description: Unsupported Accept header. Header needs to be set to application/json.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              schema:
                type: string
        '429':
          description: Rate limit reached. Wait till the time specified in Retry-After header value to make further requests.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
            Retry-After:
              description: Time to wait in seconds before making a new request as the rate limit has reached.
              schema:
                type: string
        '500':
          description: Server error. Log the X-DataDirect-Request-Key header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
        '503':
          description: Request timed out. Retry the request in sometime.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      tags:
      - Linked
      summary: Factset Delete a Linked Pa Template.
      description: This endpoint deletes an existing linked PA template.
      operationId: deleteLinkedPATemplates
      parameters:
      - name: id
        in: path
        description: Unique identifier for a linked PA template
        required: true
        schema:
          type: string
          description: Unique identifier for a linked PA template
          example: 01234567890123456789012345678901
      responses:
        '204':
          description: Expected response, deleted the linked PA template successfully.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              schema:
                type: string
        '400':
          description: Invalid data provided. Please check the request parameters before attempting again.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
        '401':
          description: Missing or invalid authentication.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
        '403':
          description: User is forbidden with current credentials
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              schema:
                type: string
        '404':
          description: Template not found.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
        '406':
          description: Unsupported Accept header. Header needs to be set to application/json.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              schema:
                type: string
        '429':
          description: Rate limit reached. Wait till the time specified in Retry-After header value to make further requests.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
            Retry-After:
              description: Time to wait in seconds before making a new request as the rate limit has reached.
              schema:
                type: string
        '500':
          description: Server error. Log the X-DataDirect-Request-Key header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
        '503':
          description: Request timed out. Retry the request in sometime.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    get:
      tags:
      - Linked
      summary: Factset Get Linked Pa Template by Id
      description: This endpoint fetches the linked PA template settings.
      operationId: getLinkedPATemplatesById
      parameters:
      - name: id
        in: path
        description: Unique identifier for a linked PA template
        required: true
        schema:
          type: string
          description: Unique identifier for a linked PA template
          example: 01234567890123456789012345678901
      responses:
        '200':
          description: Expected response, linked PA template details.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LinkedPATemplateRoot'
        '400':
          description: Invalid data provided. Please check the request parameters before attempting again.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
        '401':
          description: Missing or invalid authentication.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
        '403':
          description: User is forbidden with current credentials
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              schema:
                type: string
        '404':
          description: Template not found.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientErrorResponse'
        '406':
          description: Unsupported Accept header. Header needs to be set to application/json.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
            X-FactSet-Api-RateLimit-Limit:
              description: Number of allowed requests for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Remaining:
              description: Number of requests left for the time window.
              schema:
                type: string
            X-FactSet-Api-RateLimit-Reset:
              description: Number of seconds remaining till rate limit resets.
              schema:
                type: string
        '429':
          description: Rate limit reached. Wait till the time specified in Retry-After header value to make further requests.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
            Retry-After:
              description: Time to wait in seconds before making a new request as the rate limit has reached.
              schema:
                type: string
        '500':
          description: Server error. Log the X-DataDirect-Request-Key header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
        '503':
          description: Request timed out. Retry the request in sometime.
          headers:
            X-DataDirect-Request-Key:
              description: FactSet's request key header.
              schema:
                type: string
                description: FactSet's request key header.
            X-FactSet-Api-Request-Key:
              description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
              schema:
                type: string
                description: Key to uniquely identify an Analytics API request. Only available after successful authentication.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    LinkedPATemplate:
      type: object
      properties:
        directory:
          type: string
          description: Template directory.
          nullable: true
          example: example_value
        snapshot:
          type: boolean
          description: snapshot.
          example: true
        content:
          $ref: '#/components/schemas/TemplateContentTypes'
        id:
          type: string
          description: Template id.
          nullable: true
          example: abc123
        description:
          type: string
          description: Template description.
          nullable: true
          example: A sample description.
        name:
          type: string
          description: Template name.
          nullable: true
          example: Example Title
        parentComponentId:
          type: string
          description: Template parent tile.
          nullable: true
          example: '500123'
    LinkedPATemplatePostSummaryRoot:
      required:
      - data
      type: object
      properties:
        data:
          $ref: '#/components/schemas/LinkedPATemplatePostSummary'
        meta:
          nullable: true
          example: example_value
    ClientErrorResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Error'
          nullable: true
          example: []
    LinkedPATemplateRoot:
      required:
      - data
      type: object
      properties:
        data:
          $ref: '#/components/schemas/LinkedPATemplate'
        meta:
          nullable: true
          example: example_value
    LinkedPATemplateUpdateParameters:
      type: object
      properties:
        parentComponentId:
          type: string
          description: Parent component id
          nullable: true
          example: '500123'
        description:
          type: string
          description: Template description
          nullable: true
          example: A sample description.
        content:
          $ref: '#/components/schemas/TemplateContentTypes'
    TemplateContentTypes:
      type: object
      properties:
        mandatory:
          type: array
          items:
            type: string
          description: Template mandatory fields
          nullable: true
          example: []
        optional:
          type: array
          items:
            type: string
          description: Template optional fields
          nullable: true
          example: []
        locked:
          type: array
          items:
            type: string
          description: Template locked fields
          nullable: true
          example: []
    LinkedPATemplateParametersRoot:
      required:
      - data
      type: object
      properties:
        data:
          $ref: '#/components/schemas/LinkedPATemplateParameters'
        meta:
          nullable: true
          example: example_value
    ErrorSource:
      type: object
      properties:
        pointer:
          type: string
          nullable: true
          example: example_value
        parameter:
          type: string
          nullable: true
          example: example_value
    Error:
      type: object
      properties:
        id:
          type: string
          nullable: true
          example: abc123
        code:
          type: string
          nullable: true
          example: example_value
        title:
          type: string
          nullable: true
          example: Example Title
        detail:
          type: string
          nullable: true
          example: example_value
        source:
          $ref: '#/components/schemas/ErrorSource'
    LinkedPATemplateSummaryRoot:
      required:
      - data
      type: object
      properties:
        data:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/LinkedPATemplateSummary'
          example: example_value
        meta:
          nullable: true
          example: example_value
    LinkedPATemplateUpdateParametersRoot:
      required:
      - data
      type: object
      properties:
        data:
          $ref: '#/components/schemas/LinkedPATemplateUpdateParameters'
        meta:
          nullable: true
          example: example_value
    LinkedPATemplatePostSummary:
      type: object
      properties:
        id:
          type: string
          description: Template id.
          nullable: true
          example: abc123
        description:
          type: string
          description: Template description.
          nullable: true
          example: A sample description.
        name:
          type: string
          description: Template name.
          nullable: true
          example: Example Title
        parentComponentId:
          type: string
          description: Template parent tile.
          nullable: true
          example: '500123'
    LinkedPATemplateParameters:
      required:
      - directory
      - parentComponentId
      type: object
      properties:
        directory:
          type: string
          description: The directory to create a linked PA template
          example: example_value
        parentComponentId:
          type: string
          description: Parent component id
          example: '500123'
        description:
          type: string
          description: Template description
          nullable: true
          example: A sample description.
        content:
          $ref: '#/components/schemas/TemplateContentTypes'
    LinkedPATemplateSummary:
      type: object
      properties:
        description:
          type: string
          description: Template description.
          nullable: true
          example: A sample description.
        name:
          type: string
          description: Template name.
          nullable: true
          example: Example Title
        parentComponentId:
          type: string
          description: Template parent tile.
          nullable: true
          example: '500123'
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
externalDocs:
  url: https://developer.factset.com/api-catalog/analytics-datastore-api
  description: API Documentation
