openapi: 3.0.3
info:
  title: Factset Analytics Datastore About Coupons API
  description: Allow clients to fetch precalculated Analytics through predeterministic URLs.
  contact:
    name: FactSet Research Systems
    url: https://developer.factset.com/contact
    email: api@factset.com
  license:
    name: Apache License, Version 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  version: 1.0.0
servers:
- url: https://api.factset.com
  description: Production
- url: https://api-sandbox.factset.com
  description: Sandbox
security:
- basicAuth: []
tags:
- name: Coupons
paths:
  /instrument/coupon/list:
    get:
      tags:
      - Coupons
      operationId: get/instrument/coupon/list
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Factset List of Coupons for an Interest-bearing Instrument.
      description: "List of coupons for an interest-bearing instrument; any other instrument yields empty values. The endpoint provides details regarding the coupon period, the respective interest rate, and payable amount (the latter only for instruments with a fixed nominal value). The list of coupons is generally not available for a perpetual, i.e. without a predefined maturity date, interst-bearing instrument. \n\nIf there is no entitled provider supplying a full list of coupons, the list will be synthesized from summary data available from entitled suppliers (if any). Since the exact product terms are not known, e.g. the handling of holidays and weekends, the list may be imprecise."
      parameters:
      - name: identifier
        in: query
        schema:
          type: string
          pattern: ^[B-DF-HJ-NP-TV-Z0-9]{6}-[SLR]$|^[A-Z0-9.#&*+]{1,47}-[A-Z0-9]{2,4}$|^[0-9]{3,20}$|^[B-DF-HJ-NP-TV-Z0-9]{6}[0-9]$|^[A-Z]{2}[A-Z0-9]{9}[0-9]$|^[A-Z1-9][A-Z0-9]{5}$|^[0-9]{1,9}$|^[A-Z0-9]{8}[0-9]$
          maxLength: 50
          exclusiveMaximum: false
          minLength: 3
          exclusiveMinimum: false
          description: Identifier to resolve.
        required: true
      - name: identifierType
        in: query
        schema:
          type: string
          description: Type of the identifier.
          x-enum-description:
          - MDG identifier of an instrument.
          - MDG identifier of a listing.
          - FactSet Permanent Identifier on security level.
          - FactSet Permanent Identifier on listing level.
          - Regional FactSet Permanent Identifier.
          - FactSet market symbol of a listing.
          - Regional FactSet ticker symbol.
          - SEDOL or IDII of a listing.
          - ISIN of an instrument.
          - WKN of an instrument.
          - Valor number of an instrument.
          - CUSIP or CINS identifier of an instrument
          enum:
          - idInstrument
          - idNotation
          - fdsPermanentIdentifierSecurity
          - fdsPermanentIdentifierListing
          - fdsPermanentIdentifierRegional
          - tickerExchange
          - tickerRegion
          - sedol
          - isin
          - wkn
          - valor
          - cusip
        required: true
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
            exclusiveMaximum: false
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      - name: _language
        in: query
        schema:
          type: string
          format: isoLanguage
          description: ISO 639-1 code of the language.
          maxLength: 2
          minLength: 2
          exclusiveMinimum: false
          exclusiveMaximum: false
      responses:
        '200':
          $ref: '#/components/responses/GetInstrumentCouponList200Response'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /instrument/coupon/dayCountConvention/type/list:
    get:
      tags:
      - Coupons
      operationId: get/instrument/coupon/dayCountConvention/type/list
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Factset List of Day Count Convention Types.
      description: List of day count convention types.
      responses:
        '200':
          $ref: '#/components/responses/GetInstrumentCouponDayCountConventionTypeList200Response'
      parameters:
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
            exclusiveMaximum: false
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      - name: _language
        in: query
        schema:
          type: string
          format: isoLanguage
          description: ISO 639-1 code of the language.
          maxLength: 2
          minLength: 2
          exclusiveMinimum: false
          exclusiveMaximum: false
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /instrument/coupon/interestRate/type/list:
    get:
      tags:
      - Coupons
      operationId: get/instrument/coupon/interestRate/type/list
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Factset List of Interest Rate Types.
      description: List of interest rate types.
      responses:
        '200':
          $ref: '#/components/responses/GetInstrumentCouponInterestRateTypeList200Response'
      parameters:
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
            exclusiveMaximum: false
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      - name: _language
        in: query
        schema:
          type: string
          format: isoLanguage
          description: ISO 639-1 code of the language.
          maxLength: 2
          minLength: 2
          exclusiveMinimum: false
          exclusiveMaximum: false
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /instrument/coupon/keyData/get:
    get:
      tags:
      - Coupons
      operationId: get/instrument/coupon/keyData/get
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Factset Interest Rate Details for Selected Periods of an Interest-bearing Instrument.
      description: Interest rate details for selected periods of an interest-bearing instrument; any other instrument yields empty values.
      parameters:
      - name: identifier
        in: query
        schema:
          type: string
          pattern: ^[B-DF-HJ-NP-TV-Z0-9]{6}-[SLR]$|^[A-Z0-9.#&*+]{1,47}-[A-Z0-9]{2,4}$|^[0-9]{3,20}$|^[B-DF-HJ-NP-TV-Z0-9]{6}[0-9]$|^[A-Z]{2}[A-Z0-9]{9}[0-9]$|^[A-Z1-9][A-Z0-9]{5}$|^[0-9]{1,9}$|^[A-Z0-9]{8}[0-9]$
          maxLength: 50
          exclusiveMaximum: false
          minLength: 3
          exclusiveMinimum: false
          description: Identifier to resolve.
        required: true
      - name: identifierType
        in: query
        schema:
          type: string
          description: Type of the identifier.
          x-enum-description:
          - MDG identifier of an instrument.
          - MDG identifier of a listing.
          - FactSet Permanent Identifier on security level.
          - FactSet Permanent Identifier on listing level.
          - Regional FactSet Permanent Identifier.
          - FactSet market symbol of a listing.
          - Regional FactSet ticker symbol.
          - SEDOL or IDII of a listing.
          - ISIN of an instrument.
          - WKN of an instrument.
          - Valor number of an instrument.
          - CUSIP or CINS identifier of an instrument
          enum:
          - idInstrument
          - idNotation
          - fdsPermanentIdentifierSecurity
          - fdsPermanentIdentifierListing
          - fdsPermanentIdentifierRegional
          - tickerExchange
          - tickerRegion
          - sedol
          - isin
          - wkn
          - valor
          - cusip
        required: true
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
            exclusiveMaximum: false
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      - name: _language
        in: query
        schema:
          type: string
          format: isoLanguage
          description: ISO 639-1 code of the language.
          maxLength: 2
          minLength: 2
          exclusiveMinimum: false
          exclusiveMaximum: false
      responses:
        '200':
          $ref: '#/components/responses/GetInstrumentCouponKeyDataGet200Response'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  responses:
    GetInstrumentCouponInterestRateTypeList200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: array
                nullable: false
                items:
                  type: object
                  nullable: false
                  x-property-sort:
                  - id
                  - name
                  - description
                  properties:
                    id:
                      nullable: true
                      type: number
                      format: id32
                      x-positive: true
                      description: Identifier of the type.
                    name:
                      nullable: true
                      type: string
                      format: localizedString
                      description: Name of the type.
                    description:
                      nullable: true
                      type: string
                      format: localizedString
                      description: Description of the type.
                description: List of interest rate types.
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                x-property-sort:
                - status
            x-property-sort:
            - data
            - meta
    GetInstrumentCouponList200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: object
                properties:
                  idInstrument:
                    nullable: true
                    type: string
                    format: id64
                    x-positive: true
                    description: MDG identifier of the instrument.
                  sourceIdentifier:
                    nullable: true
                    type: string
                    description: Identifier used in the request.
                  currency:
                    nullable: false
                    type: object
                    x-property-sort:
                    - id
                    - code
                    - isoCode
                    description: 'Main currency of the coupon payments. See endpoint `/basic/valueUnit/currency/main/list` for possible values. '
                    properties:
                      id:
                        nullable: true
                        type: number
                        format: id32
                        x-positive: true
                        description: Identifier of the main currency.
                      code:
                        nullable: true
                        type: string
                        description: 'Code of the currency: If assigned, a code according to ISO 4217, otherwise a local code.'
                      isoCode:
                        nullable: true
                        type: string
                        description: ISO 4217 code of the value unit. Empty if the ISO 4217 standard does not define a code for the currency.
                  coupons:
                    nullable: false
                    type: array
                    items:
                      type: object
                      nullable: false
                      x-property-sort:
                      - period
                      - paymentDate
                      - interestRate
                      properties:
                        period:
                          nullable: true
                          type: object
                          format: dateRange
                          properties:
                            start:
                              nullable: true
                              type: string
                              format: date
                              description: Starting date.
                            end:
                              nullable: true
                              type: string
                              format: date
                              description: Ending date (inclusive).
                          x-property-sort:
                          - start
                          - end
                          required:
                          - start
                          - end
                          description: Coupon period.
                        paymentDate:
                          nullable: true
                          type: string
                          format: date
                          description: Payment date of the coupon, usually 2 days after the ending date of the coupon period. For the latter, see attribute `coupons.period.end`.
                        interestRate:
                          nullable: false
                          type: object
                          x-property-sort:
                          - type
                          - annualized
                          - periodic
                          description: Interest rate for the coupon period.
                          properties:
                            type:
                              nullable: false
                              type: object
                              x-property-sort:
                              - id
                              - name
                              description: Type of the interest rate. See endpoint `/instrument/coupon/interestRate/type/list` for possible values.
                              properties:
                                id:
                                  nullable: true
                                  type: number
                                  format: id32
                                  x-positive: true
                                  description: Identifier of the type.
                                name:
                                  nullable: true
                                  type: string
                                  format: localizedString
                                  description: Name of the type.
                            annualized:
                              nullable: false
                              type: object
                              x-property-sort:
                              - fixed
                              - minimum
                              - maximum
                              description: Interest rate on an annual basis. Minimum/maximum interest rates and a fixed interest rate are, in general, mutually exclusive. However, for an instrument with a variable interest rate (i.e. the attribute `coupons.interestRate.type` has the value 4 or 6), a fixed interest rate might be provided if already determined for the respective period (current or past).
                              properties:
                                fixed:
                                  nullable: true
                                  type: number
                                  format: relativeValue
                                  description: Fixed interest rate.
                                minimum:
                                  nullable: true
                                  type: number
                                  format: relativeValue
                                  description: Minimum interest rate.
                                maximum:
                                  nullable: true
                                  type: number
                                  format: relativeValue
                                  description: Maximum interest rate.
                            periodic:
                              nullable: false
                              type: object
                              x-property-sort:
                              - fixed
                              - amount
                              description: Interest rate based on the coupon period, i.e. not annualized. Period-based data is not available for instruments with a variable interest rate (i.e. the attribute `coupons.interestRate.type` has the value 4 or 6).
                              properties:
                                fixed:
                                  nullable: true
                                  type: number
                                  format: relativeValue
                                  description: Fixed interest rate. For coupon periods different from one year, the value differs from the fixed annualized interest rate (see attribute `coupons.interestRate.annualized.fixed`).
                                amount:
                                  nullable: true
                                  type: number
                                  format: real
                                  description: Coupon amount corresponding to the fixed interest rate (see attribute `coupons.interestRate.periodic.fixed`). The attribute is available only for instruments with a declared nominal value, e.g. securitized derivatives.
                    description: List of coupons in chronological order.
                description: List of coupons and currency details.
                nullable: false
                x-property-sort:
                - idInstrument
                - sourceIdentifier
                - currency
                - coupons
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                x-property-sort:
                - status
            x-property-sort:
            - data
            - meta
    GetInstrumentCouponDayCountConventionTypeList200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: array
                nullable: false
                items:
                  type: object
                  nullable: false
                  x-property-sort:
                  - id
                  - name
                  - description
                  properties:
                    id:
                      nullable: true
                      type: number
                      format: id32
                      x-positive: true
                      description: Identifier of the type.
                    name:
                      nullable: true
                      type: string
                      format: localizedString
                      description: Name of the type.
                    description:
                      nullable: true
                      type: string
                      format: localizedString
                      description: Description of the type.
                description: List of day count convention types.
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                x-property-sort:
                - status
            x-property-sort:
            - data
            - meta
    GetInstrumentCouponKeyDataGet200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: object
                properties:
                  idInstrument:
                    nullable: true
                    type: string
                    format: id64
                    x-positive: true
                    description: MDG identifier of the instrument.
                  sourceIdentifier:
                    nullable: true
                    type: string
                    description: Identifier used in the request.
                  occurrence:
                    nullable: false
                    type: object
                    x-property-sort:
                    - type
                    - frequency
                    description: Occurrence and frequency of the coupon payments.
                    properties:
                      type:
                        nullable: true
                        type: string
                        description: Occurrence type of the coupon payments.
                        x-enum-description:
                        - The instrument does not pay out a coupon.
                        - The instrument pays out a coupon only once.
                        - The instrument pays out a coupon on a repeated basis.
                        enum:
                        - never
                        - once
                        - repeated
                      frequency:
                        nullable: false
                        type: object
                        x-property-sort:
                        - id
                        - name
                        description: Frequency of the coupon payments. Information about the frequency is available only if the attribute occurrence.type is set to "repeated". See endpoint `/basic/frequency/type/list` for possible values of the frequency.
                        properties:
                          id:
                            nullable: true
                            type: number
                            format: id32
                            x-positive: true
                            description: Identifier of the frequency.
                          name:
                            nullable: true
                            type: string
                            format: localizedString
                            description: Name of the frequency.
                  interestRate:
                    nullable: false
                    type: object
                    x-property-sort:
                    - initial
                    - current
                    - final
                    description: Interest rate details for selected coupon periods.
                    properties:
                      initial:
                        nullable: false
                        type: object
                        x-property-sort:
                        - value
                        - startAccrual
                        - periodEnd
                        description: Details of the first coupon period.
                        properties:
                          value:
                            nullable: true
                            type: number
                            format: relativeValue
                            description: Value of the interest rate.
                          startAccrual:
                            nullable: true
                            type: string
                            format: date
                            description: Date as of which interest starts accruing.
                          periodEnd:
                            nullable: true
                            type: string
                            format: date
                            description: Ending date (inclusive).
                      current:
                        nullable: false
                        type: object
                        x-property-sort:
                        - value
                        - type
                        - accruedInterest
                        - periodEnd
                        description: Details of the current coupon period.
                        properties:
                          value:
                            nullable: true
                            type: number
                            format: relativeValue
                            description: Value of the interest rate.
                          type:
                            nullable: false
                            type: object
                            x-property-sort:
                            - id
                            - name
                            description: Type of the interest rate, see endpoint `/instrument/coupon/interestRate/type/list` for possible values.
                            properties:
                              id:
                                nullable: true
                                type: number
                                format: id32
                                x-positive: true
                                description: Identifier of the interest rate type.
                              name:
                                nullable: true
                                type: string
                                format: localizedString
                                description: Name of the interest rate type.
                          accruedInterest:
                            nullable: false
                            type: object
                            x-property-sort:
                            - absolute
                            - relative
                            description: Accrued interest, i.e. interest earned but not yet received (realized). The interest starts accruing at the beginning of a coupon period and reaches the declared value (see attribute `interestRate.current.value`) for that period at its end. For the start and end date of a coupon period see endpoint `/instrument/coupon/list`, attribute `coupons.period`.
                            properties:
                              absolute:
                                nullable: true
                                type: number
                                format: real
                                description: Monetary value of the accrued interest. The attribute is available only for instruments with a declared nominal value, e.g. securitized derivatives.
                              relative:
                                nullable: true
                                type: number
                                format: relativeValue
                                description: Accrued interest.
                          periodEnd:
                            nullable: true
                            type: string
                            format: date
                            description: Ending date (inclusive).
                      final:
                        nullable: false
                        type: object
                        x-property-sort:
                        - periodEnd
                        description: Details of the final coupon period.
                        properties:
                          periodEnd:
                            nullable: true
                            type: string
                            format: date
                            description: Ending date (inclusive).
                  dayCountConvention:
                    nullable: false
                    type: object
                    x-property-sort:
                    - id
                    - name
                    description: Day count convention type. See endpoint `/instrument/coupon/dayCountConvention/type/list` for possible values.
                    properties:
                      id:
                        nullable: true
                        type: number
                        format: id32
                        x-positive: true
                        description: Identifier of the day count convention type.
                      name:
                        nullable: true
                        type: string
                        format: localizedString
                        description: Name of the day count convention type.
                description: Key dates and details.
                nullable: false
                x-property-sort:
                - idInstrument
                - sourceIdentifier
                - occurrence
                - interestRate
                - dayCountConvention
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                x-property-sort:
                - status
            x-property-sort:
            - data
            - meta
  schemas:
    StatusObject:
      type: object
      properties:
        code:
          type: number
          format: int32
          description: The HTTP status code of the response, mirroring the code from the Status-Line of the HTTP response message (see [RFC2616] section 6.1).
          example: 42.5
      description: The status member contains the status code of the response.
      required:
      - code
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
externalDocs:
  url: https://developer.factset.com/api-catalog/analytics-datastore-api
  description: API Documentation
