openapi: 3.2.0
info:
  description: 'The BookBuilder API is a powerful tool that combines detailed reports for companies of interest. Save time by using a single source of knowledge instead of relying on multiple APIs to create a presentation ready PDF, also known as a Public Information Book(PIB). </br></br> Consistently create books with the same content/reports for different companies by defining templates with the set of reports saved for re-use. Or, use templates that are created by FactSet for quick use. </br></br> With our powerful API endpoints, you can get the information on companies of interest quickly where and when you need it. </br></br> '
  title: Factset BookBuilder Book List API
  version: '1.11'
servers:
- url: https://api.factset.com/book-builder-api/
  description: Base URL Production
security:
- BasicAuth: []
tags:
- name: Book List
paths:
  /v1/book-list:
    get:
      tags:
      - Book List
      summary: Factset Check out the books that are in the book library
      description: Retrieves the list of books that were previously created and are available in the client's book library
      responses:
        '200':
          description: Successful response contains book name, book ID, created date, shared status of the book and book type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Enable_BookList_Info'
        '401':
          description: Missing or invalid authentication
components:
  schemas:
    Enable_BookList_Info:
      title: Booklist Request
      description: Request to enable Book list information for the client.
      type: array
      items:
        properties:
          bookID:
            type: string
            description: Book ID
            example: 20200623094829450
          book_name:
            type: string
            description: Book Name
            example: Financials
          created_on:
            type: string
            description: Date on which the book was created
            example: 2020-6-23 9:48
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
