openapi: 3.0.3
info:
  title: Factset Analytics Datastore About Market API
  description: Allow clients to fetch precalculated Analytics through predeterministic URLs.
  contact:
    name: FactSet Research Systems
    url: https://developer.factset.com/contact
    email: api@factset.com
  license:
    name: Apache License, Version 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  version: 1.0.0
servers:
- url: https://api.factset.com
  description: Production
- url: https://api-sandbox.factset.com
  description: Sandbox
security:
- basicAuth: []
tags:
- name: Market
paths:
  /factset-prices/v1/market-value:
    get:
      tags:
      - Market
      summary: Factset Gets the Security Level and Company Level Market Values for a List of `ids` as of Given Date Range and Frequency.
      operationId: getMarketValue
      description: 'Gets market capitalization of list of ids for the company level, security level, calendar, frequency, and currency for a specified date range.

        '
      parameters:
      - $ref: '#/components/parameters/idsMax2000'
      - $ref: '#/components/parameters/startDate'
      - $ref: '#/components/parameters/endDate'
      - $ref: '#/components/parameters/frequency'
      - $ref: '#/components/parameters/calendar'
      - $ref: '#/components/parameters/currency'
      responses:
        '200':
          description: Array of company market capitalization values.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/marketValueResponse'
              examples:
                Market Value of GOOGL as of July 07 2020:
                  $ref: '#/components/examples/singleMarketValue'
                Market Value for AAPL and TSLA as of March 29th 2019:
                  $ref: '#/components/examples/multipleMarketValues'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      tags:
      - Market
      summary: Factset Requests the Market Value for a List of `ids` as of Given Date Range.
      description: Requests the market value for a list of `ids` as of given date range.
      operationId: getMarketValueForList
      requestBody:
        required: true
        description: Request object for `Security` market values.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/marketValueRequest'
            examples:
              Single Company Market Value:
                $ref: '#/components/examples/singleMarketValuePost'
              Multiple Company Market Values:
                $ref: '#/components/examples/multipleMarketValuePost'
      responses:
        '200':
          description: Array of company market capitalization values.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/marketValueResponse'
              examples:
                Market Value of GOOGL as of July 07 2020:
                  $ref: '#/components/examples/singleMarketValue'
                Market Value for AAPL and TSLA as of March 29th 2019:
                  $ref: '#/components/examples/multipleMarketValues'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /basic/market/get:
    get:
      tags:
      - Market
      operationId: get/basic/market/get
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      description: Details of a market.
      summary: Factset Details of a Market.
      parameters:
      - name: id
        in: query
        schema:
          type: number
          format: id32
          x-positive: true
          description: Identifier of a market.
        required: true
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
            exclusiveMaximum: false
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      - name: _language
        in: query
        schema:
          type: string
          format: isoLanguage
          description: ISO 639-1 code of the language.
          maxLength: 2
          minLength: 2
          exclusiveMinimum: false
          exclusiveMaximum: false
      responses:
        '200':
          $ref: '#/components/responses/GetBasicMarketGet200Response'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /basic/market/list:
    post:
      tags:
      - Market
      operationId: post/basic/market/list
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: true
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 5
      x-supportsPermissionDeniedResponse: false
      description: List of markets.
      summary: Factset List of Markets.
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostBasicMarketListRequest'
        required: false
      responses:
        '200':
          $ref: '#/components/responses/PostBasicMarketList200Response'
      parameters: []
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /basic/market/group/list:
    get:
      tags:
      - Market
      operationId: get/basic/market/group/list
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 2
      x-supportsPermissionDeniedResponse: false
      description: List of market groups.
      summary: Factset List of Market Groups.
      responses:
        '200':
          $ref: '#/components/responses/GetBasicMarketGroupList200Response'
      parameters:
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
            exclusiveMaximum: false
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      - name: _language
        in: query
        schema:
          type: string
          format: isoLanguage
          description: ISO 639-1 code of the language.
          maxLength: 2
          minLength: 2
          exclusiveMinimum: false
          exclusiveMaximum: false
      - description: Sortable attributes. The sort order is ascending unless it is prefixed with a minus sign, in which case it is descending. A list of at most 2 (possibly prefixed) attribute name(s) is allowed.
        schema:
          type: array
          items:
            type: string
            enum:
            - name
            - -name
            - shortName
            - -shortName
          maxItems: 2
          uniqueItems: true
          default:
          - name
        style: form
        explode: false
        name: _sort
        in: query
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /basic/market/type/list:
    get:
      tags:
      - Market
      operationId: get/basic/market/type/list
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 1
      x-supportsPermissionDeniedResponse: false
      description: List of market types.
      summary: Factset List of Market Types.
      responses:
        '200':
          $ref: '#/components/responses/GetBasicMarketTypeList200Response'
      parameters:
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
            exclusiveMaximum: false
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      - name: _language
        in: query
        schema:
          type: string
          format: isoLanguage
          description: ISO 639-1 code of the language.
          maxLength: 2
          minLength: 2
          exclusiveMinimum: false
          exclusiveMaximum: false
      - description: Sortable attributes. The sort order is ascending unless it is prefixed with a minus sign, in which case it is descending. A list of at most 1 (possibly prefixed) attribute name(s) is allowed.
        schema:
          type: array
          items:
            type: string
            enum:
            - name
            - -name
          maxItems: 1
          uniqueItems: true
          default:
          - name
        style: form
        explode: false
        name: _sort
        in: query
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /notation/crossReference/getByFactSetMarketSymbol:
    get:
      tags:
      - Market
      operationId: get/notation/crossReference/getByFactSetMarketSymbol
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Translate a Factset Market Symbol to a Notation.
      description: Translate a FactSet market symbol to a notation. This symbol is also known as TICKER_EXCHANGE.
      parameters:
      - name: factSetMarketSymbol
        in: query
        schema:
          type: string
          maxLength: 32
          exclusiveMaximum: false
          minLength: 1
          exclusiveMinimum: false
          description: Market symbol defined by FactSet to identify a notation (i.e. TICKER_EXCHANGE).
        required: true
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
            exclusiveMaximum: false
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      - name: _language
        in: query
        schema:
          type: string
          format: isoLanguage
          description: ISO 639-1 code of the language.
          maxLength: 2
          minLength: 2
          exclusiveMinimum: false
          exclusiveMaximum: false
      responses:
        '200':
          $ref: '#/components/responses/GetNotationCrossReferenceGetByFactSetMarketSymbol200Response'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /notation/market/list:
    post:
      tags:
      - Market
      operationId: post/notation/market/list
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: true
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 2
      x-supportsPermissionDeniedResponse: false
      description: "List of markets with entitled notations. The list contains only markets with at least one active and entitled notation. \nAll identifiers used as parameters must be valid and entitled."
      summary: Factset List of Markets With Entitled Notations.
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostNotationMarketListRequest'
        required: false
      responses:
        '200':
          $ref: '#/components/responses/PostNotationMarketList200Response'
      parameters: []
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    PostBasicMarketListRequest:
      x-property-sort:
      - data
      - meta
      description: Request Body
      type: object
      properties:
        data:
          type: object
          x-property-sort:
          - filter
          description: The data member contains the request's primary data.
          properties:
            filter:
              type: object
              x-property-sort:
              - markets
              - onlyActive
              description: Criteria that filter the items in the response list; only items that match all of the criteria are returned.
              properties:
                markets:
                  type: object
                  x-property-sort:
                  - ids
                  description: Filter for specific markets.
                  properties:
                    ids:
                      type: array
                      nullable: false
                      items:
                        type: number
                        format: id32
                        x-positive: true
                      minItems: 1
                      maxItems: 100
                      uniqueItems: true
                      description: List of market identifiers. Invalid identifiers result in an error.
                onlyActive:
                  type: boolean
                  default: true
                  description: Indicates whether the market exists.
          example: example_value
        meta:
          type: object
          description: The meta member contains the meta information of the request.
          properties:
            attributes:
              $ref: '#/components/schemas/AttributesMember'
            language:
              $ref: '#/components/schemas/LanguageMember'
            sort:
              description: Sortable attributes. The sort order is ascending unless it is prefixed with a minus sign, in which case it is descending. A list of at most 5 (possibly prefixed) attribute name(s) is allowed.
              type: array
              items:
                type: string
                enum:
                - name
                - -name
                - shortName
                - -shortName
                - country.name
                - -country.name
                - type.name
                - -type.name
                - group.name
                - -group.name
              maxItems: 5
              uniqueItems: true
              default:
              - name
            pagination:
              type: object
              description: Pagination attributes for the offset-based pagination strategy.
              properties:
                offset:
                  type: number
                  format: int32
                  minimum: 0
                  exclusiveMinimum: false
                  default: 0
                  description: Non-negative number of entries to skip, or 0 (default).
                limit:
                  type: number
                  format: int32
                  minimum: 0
                  exclusiveMinimum: false
                  maximum: 500
                  exclusiveMaximum: false
                  default: 20
                  description: Non-negative maximum number of entries to return.
              x-property-sort:
              - offset
              - limit
          x-property-sort:
          - attributes
          - language
          - sort
          - pagination
          example: example_value
    LanguageMember:
      type: string
      format: isoLanguage
      description: ISO 639-1 code of the language.
      maxLength: 2
      minLength: 2
      exclusiveMinimum: false
      exclusiveMaximum: false
    marketValueRequest:
      title: Market Value Request Body
      description: Market Value Request Body
      type: object
      properties:
        ids:
          $ref: '#/components/schemas/idsMax2000'
        startDate:
          $ref: '#/components/schemas/startDate'
        endDate:
          $ref: '#/components/schemas/endDate'
        frequency:
          $ref: '#/components/schemas/frequency'
        currency:
          $ref: '#/components/schemas/requestCurrency'
        calendar:
          $ref: '#/components/schemas/calendar'
      required:
      - ids
    marketValue:
      title: Market Value Object
      type: object
      properties:
        fsymId:
          description: Factset Regional Security Identifier. Six alpha-numeric characters, excluding vowels, with an -R suffix (XXXXXX-R). Identifies the security's best regional security data series per currency. For equities, all primary listings per region and currency are allocated a regional-level permanent identifier. The regional-level permanent identifier will be available once a SEDOL representing the region/currency has been allocated and the identifiers are on FactSet.
          type: string
          example: HTM0LK-R
          nullable: true
        date:
          description: Ending date for the period expressed in YYYY-MM-DD format.
          type: string
          format: date
          example: '2020-07-07'
          nullable: true
        currency:
          type: string
          description: 'Currency ISO code. For more details, visit [Online Assistant Page #1470](https://oa.apps.factset.com/pages/1470).'
          example: USD
          nullable: true
        entityMarketValue:
          description: 'Aggregate market value across all share classes and includes non-traded shares which are added to the calculation basis by the proportion of their nominal or par value. Values are in base units. To value non-traded shares, the price of the parent equity provides the most appropriate approximation of what the non-traded shares would be worth in the open market. For unique companies with an ADR as the parent equity, since it is the only traded security associated with that company, when calculating company-level market value, the price of the ADR is used, but is scaled by the ADR ratio since there''s not always a one-to-one relationship between ADR shares and the non-traded shares which they represent. For more details visit [Online Assistant Page #16867](https://my.apps.factset.com/oa/pages/16867). '
          type: number
          format: double
          example: 1022362841136.31
          nullable: true
        entityMarketValueExNonTraded:
          description: 'Aggregate across all share classes and excludes non-traded shares. Values are in base units. For more details visit [Online Assistant Page #16867](https://my.apps.factset.com/oa/pages/16867).'
          type: number
          format: double
          example: 952768582453.33
          nullable: true
        securityMarketValue:
          description: Returns the security level market value calculated as the share price multiplied by the number of shares at the security level. **Note:** History is available back to Oct-1999 for North American securities, and 1-Jan-2001 for non-North American securities.
          type: number
          format: double
          example: 449970657342.5
          nullable: true
        requestId:
          description: Identifier that was used for the request.
          type: string
          example: GOOGL
    calendar:
      type: string
      enum:
      - FIVEDAY
      - SEVENDAY
      - LOCAL
      default: FIVEDAY
      description: Calendar of data returned. SEVENDAY includes weekends. LOCAL calendar will default to the securities' trading calendar which excludes date records for respective holiday periods.
      example: FIVEDAY
    endDate:
      type: string
      description: 'The end date requested for a given date range in **YYYY-MM-DD** format. If left blank, the API will default to previous close. Future dates (T+1) are not accepted in this endpoint.

        '
      example: '2019-12-31'
    AttributesMember:
      type: array
      description: Limit the attributes returned in the response to the specified set.
      items:
        type: string
        maxLength: 100
        exclusiveMaximum: false
      maxItems: 50
      uniqueItems: true
    idsMax2000:
      type: array
      items:
        type: string
      minItems: 1
      maxItems: 2000
      description: 'The requested list of security identifiers. Accepted ID types include Market Tickers, SEDOL, ISINs, CUSIPs, or FactSet Permanent Ids.

        '
      example:
      - FDS-US
    OffsetBasedPaginationOutputObjectWithoutTotal:
      type: object
      description: Pagination attributes for the offset-based pagination strategy; a total element count is not supported.
      properties:
        hasNext:
          type: boolean
          description: Flag indicating that a subsequent request with the same parameters, except that the parameter `pagination.offset` is incremented by `pagination.limit`, would yield additional results.
          example: true
      required:
      - hasNext
      x-property-sort:
      - hasNext
    StatusObject:
      type: object
      properties:
        code:
          type: number
          format: int32
          description: The HTTP status code of the response, mirroring the code from the Status-Line of the HTTP response message (see [RFC2616] section 6.1).
          example: 42.5
      description: The status member contains the status code of the response.
      required:
      - code
    errorResponse:
      type: object
      title: Error Response
      properties:
        status:
          description: status
          type: string
          example: Bad Request
        timestamp:
          description: timestamp in YYYY-MM-DD HH:MM:SS.SSS
          type: string
          example: '2019-11-01 11:09:41.918'
          format: date-time
        path:
          description: The Endpoint path {package}/version/{endpoint}
          type: string
          example: /factset-prices/v1/prices
        message:
          description: The plain text error message
          type: string
          example: Validation Error
        subErrors:
          description: subErrors related to the error message. Null if not applicable.
          type: object
          properties:
            object:
              description: the operation ID
              type: string
            field:
              description: Parameter Field Name
              type: string
            message:
              description: Error message
              type: string
            rejectedValue:
              description: Rejected Values in an Array
              type: array
              items:
                type: string
          example: example_value
    PostNotationMarketListRequest:
      x-property-sort:
      - data
      - meta
      description: Request Body
      type: object
      properties:
        data:
          type: object
          x-property-sort:
          - filter
          description: The data member contains the request's primary data.
          properties:
            filter:
              type: object
              x-property-sort:
              - assetClass
              - country
              - group
              - type
              description: Criteria that filter the items in the response list; only items that match all of the criteria are returned.
              properties:
                assetClass:
                  type: object
                  x-property-sort:
                  - ids
                  description: Asset class. Restricts the result to only markets with notations whose instruments belong to the selected asset classes.
                  properties:
                    ids:
                      type: array
                      nullable: false
                      items:
                        type: number
                        format: id32
                        x-positive: true
                      maxItems: 13
                      uniqueItems: true
                      description: Set of asset class identifiers. See endpoint `/basic/assetClass/list` for valid values.
                country:
                  type: object
                  x-property-sort:
                  - ids
                  description: Country of the markets.
                  properties:
                    ids:
                      type: array
                      nullable: false
                      items:
                        type: number
                        format: id32
                        x-positive: true
                      maxItems: 100
                      uniqueItems: true
                      description: List of country identifiers. See endpoint  `/basic/region/country/list` for valid values.
                group:
                  type: object
                  x-property-sort:
                  - ids
                  description: Market group of the markets.
                  properties:
                    ids:
                      type: array
                      nullable: false
                      items:
                        type: number
                        format: id32
                        x-positive: true
                      maxItems: 100
                      uniqueItems: true
                      description: Set of market group identifiers. See endpoint `/basic/market/group/list` for valid values.
                type:
                  type: object
                  x-property-sort:
                  - ids
                  description: Type of the markets.
                  properties:
                    ids:
                      type: array
                      nullable: false
                      items:
                        type: number
                        format: id32
                        x-positive: true
                      maxItems: 7
                      uniqueItems: true
                      description: Set of market type identifiers. See endpoint `/basic/market/type/list` for valid values.
          example: example_value
        meta:
          type: object
          description: The meta member contains the meta information of the request.
          properties:
            attributes:
              $ref: '#/components/schemas/AttributesMember'
            language:
              $ref: '#/components/schemas/LanguageMember'
            sort:
              description: Sortable attributes. The sort order is ascending unless it is prefixed with a minus sign, in which case it is descending. A list of at most 2 (possibly prefixed) attribute name(s) is allowed.
              type: array
              items:
                type: string
                enum:
                - name
                - -name
                - count
                - -count
              maxItems: 2
              uniqueItems: true
              default:
              - name
            pagination:
              type: object
              description: Pagination attributes for the offset-based pagination strategy.
              properties:
                offset:
                  type: number
                  format: int32
                  minimum: 0
                  exclusiveMinimum: false
                  default: 0
                  description: Non-negative number of entries to skip, or 0 (default).
                limit:
                  type: number
                  format: int32
                  minimum: 0
                  exclusiveMinimum: false
                  maximum: 500
                  exclusiveMaximum: false
                  default: 20
                  description: Non-negative maximum number of entries to return.
              x-property-sort:
              - offset
              - limit
          x-property-sort:
          - attributes
          - language
          - sort
          - pagination
          example: example_value
    startDate:
      type: string
      description: 'The start date requested for a given date range in **YYYY-MM-DD** format. If left blank, the API will default to previous close. Future dates (T+1) are not accepted in this endpoint.

        '
      example: '2019-01-01'
    marketValueResponse:
      type: object
      title: Market Value Response
      properties:
        data:
          description: Array of Market Value Objects
          type: array
          items:
            $ref: '#/components/schemas/marketValue'
          example: []
    requestCurrency:
      title: Request Currency
      type: string
      description: Currency code for adjusting prices. Default is Local. For a list of currency ISO codes, visit [Online Assistant Page 1470](https://oa.apps.factset.com/pages/1470).
      example: USD
    frequency:
      type: string
      enum:
      - D
      - W
      - M
      - AM
      - CQ
      - FQ
      - AY
      - CY
      - FY
      default: D
      description: "Controls the display frequency of the data returned.\n  * **D** = Daily\n  * **W** = Weekly, based on the last day of the week of the start date.\n  * **M** = Monthly, based on the last trading day of the month.\n  * **AM** = Monthly, based on the start date (e.g., if the start date is June 16, data is displayed for June 16, May 16, April 16 etc.).\n  * **CQ** = Quarterly based on the last trading day of the calendar quarter (March, June, September, or December).\n  * **FQ** = Fiscal Quarter of the company.\n  * **AY** = Actual Annual, based on the start date.\n  * **CY** = Calendar Annual, based on the last trading day of the calendar year.\n  * **FY** = Fiscal Annual, based on the last trading day of the company's fiscal year.\n"
      example: M
  examples:
    badRequestInvalidParameters:
      summary: Bad Request - Invalid Parameters
      description: This error message occurs when a request parameter is used in which is not recognized by the service. Please revise your request to include only the parameters listed in the specification. Typical causes are spelling mistakes and use of improper casing.
      value:
        status: Bad Request
        timestamp: '2020-06-12 15:58:54.068'
        path: /factset-prices/v1/{endpoint}
        message: 'Invalid Parameter (s): fakeParameterName1 fakeParameterName2. Please modify your request to use parameters outlined in the specification for this endpoint.'
        subErrors: null
    badRequestDateFormat:
      summary: Bad Request - Date Format
      description: This bad request occurs when a request doesn't use the YYYY-MM-DD in the date parameters. To resolve, convert your date to YYYY-MM-DD.
      value:
        status: Bad Request
        timestamp: '2019-10-31 16:08:07.945'
        path: /factset-prices/v1/{endpoint}
        message: 'The date parameter ''startDate'' must be in the following date format: YYYY-MM-DD'
        subErrors: null
    notWritable:
      summary: Internal Server Error - Not Writable
      description: This error may be returned when the server encounters an error writing the JSON response.
      value:
        status: Internal Server Error
        timestamp: '2019-11-05 09:48:29.18'
        path: /factset-prices/v1/{endpoint}
        message: Error writing JSON output
        subErrors: null
    unsupportedMediaType:
      summary: Unsupported Media Type
      description: This bad request occurs when the media type passed in the request is not supported. Currently the APIs only support 'application/json'.
      value:
        status: Unsupported Media Type
        timestamp: '2019-11-05 09:42:27.237'
        path: /factset-prices/v1/{endpoint}
        message: text/html media type is not supported. Supported media types are application/json
        subErrors: null
    generalException:
      summary: Internal Server Error - General Exception
      description: This is the most general error that can be returned to by the service. Please `Report Issue` to FactSet.
      value:
        status: Internal Server Error
        timestamp: '2019-11-01 10:36:01.944'
        path: /factset-prices/v1/{endpoint}
        message: Unexpected error
        subErrors: null
    badRequestReadTimeout:
      summary: Bad Request - Read Timeout
      description: This error may be returned if it takes more than 29 seconds to hear back from the data fetch service.
      value:
        status: Bad Request
        timestamp: '2019-11-04 16:18:38.949'
        path: /factset-prices/v1/{endpoint}
        message: The request took too long. Try again with a smaller request.
        subErrors: null
    singleMarketValuePost:
      summary: Requesting One Year of Daily Market Values for GOOGL Calendar 2019 Year
      description: Requesting One Year of Daily Market Values for GOOGL in Calendar 2019 Year
      value:
        ids:
        - GOOGL-US
        startDate: '2019-01-01'
        endDate: '2019-12-31'
        frequency: D
        calendar: FIVEDAY
        currency: USD
    badRequestFutureDate:
      summary: Bad Request - Future Date
      description: This error message occurs when a future date is requested in the startDate and endDate parameters. Please revise your request to include dates as of today's current date or any prior historical date.
      value:
        status: Bad Request
        timestamp: '2020-06-12 15:52:48.091'
        path: /factset-prices/v1/{endpoint}
        message: The use of future dates is not applicable in this endpoint. Please revise your request to include dates up to today's current date.
        subErrors: null
    forbidden:
      summary: Forbidden
      description: The USERNAME-SERIAL attempted to request the endpoint is not authorized to access. The request was a legal request, but the server is refusing to respond. Please reach out to FactSet Account Team for assistance with authorization.
      value:
        status: Forbidden
        timestamp: '2020-06-12 16:08:51.731'
        path: /factset-prices/v1/{endpoint}
        message: USERNAME-SERIAL does not have permission to use /factset-prices/v1/{endpoint}
        subErrors: null
    unauthenticated:
      summary: User Authentication Failed
      description: This occurs when a user is not properly authenticated or recognized by the service. Please double check the USERNAME-SERIAL and API-Key used to request and ensure you are within the IP range specified for the Key. Report Issue under 401 error for help with troubleshooting.
      value:
        status: User Authentication Failed
        timestamp: '2019-10-31 16:08:07.945'
        path: /factset-prices/v1/{endpoint}
        message: User Authentication Failed.
        subErrors: null
    badRequestMalformedJSON:
      summary: Bad Request - Malformed JSON Request
      description: This error may be returned when the request body is specified as JSON, but is not in proper JSON format.
      value:
        status: Bad Request
        timestamp: '2019-11-05 09:48:29.18'
        path: /factset-prices/v1/{endpoint}
        message: Malformed JSON Request
        subErrors: null
    multipleMarketValuePost:
      summary: Requesting One Year of Market Values on a monthly frequency for GOOGL and TSLA Calendar 2019 Year
      description: Requesting One Year of Market Values on a monthly frequency for GOOGL and TSLA in Calendar 2019 Year
      value:
        ids:
        - GOOGL-US
        - TSLA-US
        startDate: '2019-01-01'
        endDate: '2019-12-31'
        frequency: M
        calendar: FIVEDAY
        currency: USD
    badRequestRequiredParameter:
      summary: Bad Request - Required Parameter Missing
      description: This error message occurs when the request does not include the required parameters. Required parameters are indicated with a red asterisks symbol in the specification file.
      value:
        status: Bad Request
        timestamp: '2020-06-12 15:48:42.016'
        path: /factset-prices/v1/{endpoint}
        message: The parameter 'ids' is required and may not be empty.
        subErrors: null
    multipleMarketValues:
      summary: Multiple Market Value Records for GOOGL and TSLA as of July 7 2020
      description: Multiple Market Value Records for GOOGL and TSLA as of July 7 2020
      value:
        data:
        - fsymId: HTM0LK-R
          date: '2020-07-07'
          currency: USD
          entityMarketValue: 1022362841136.31
          entityMarketValueExNotTraded: 952768582453.33
          securityMarketValue: 449970657342.5
          requestId: GOOGL
        - fsymId: Q2YN1N-R
          date: '2020-07-07'
          currency: USD
          entityMarketValue: 257784946701.1
          entityMarketValueExNotTraded: 257784946701.1
          securityMarketValue: 257784978430
          requestId: TSLA
    singleMarketValue:
      summary: Single Market Value Record for GOOGL as of July 7 2020
      description: Single Market Value Record for GOOGL
      value:
        data:
        - fsymId: HTM0LK-R
          date: '2020-07-07'
          currency: USD
          entityMarketValue: 1022362841136.31
          entityMarketValueExNotTraded: 952768582453.33
          securityMarketValue: 449970657342.5
          requestId: GOOGL
  responses:
    PostNotationMarketList200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: array
                description: List of entitled markets.
                nullable: false
                items:
                  type: object
                  nullable: false
                  x-property-sort:
                  - id
                  - name
                  - shortName
                  - country
                  - type
                  - group
                  - timezone
                  - count
                  properties:
                    id:
                      nullable: true
                      type: number
                      format: id32
                      x-positive: true
                      description: Identifier of a market.
                    name:
                      nullable: true
                      x-sortable: true
                      x-default-sort-attribute: true
                      x-default-sort-direction: 1
                      type: string
                      format: localizedString
                      description: Name of the market.
                    shortName:
                      nullable: true
                      type: string
                      format: localizedString
                      description: Short name of the market.
                    country:
                      nullable: false
                      type: object
                      x-property-sort:
                      - id
                      - name
                      description: Country of the market.  See endpoint `/basic/region/country/list` for possible values.
                      properties:
                        id:
                          nullable: true
                          type: number
                          format: id32
                          x-positive: true
                          description: Identifier of the country.
                        name:
                          nullable: true
                          type: string
                          format: localizedString
                          description: Name of the country.
                    type:
                      nullable: false
                      type: object
                      x-property-sort:
                      - id
                      - name
                      description: Type of the market. See endpoint `/basic/market/type/list` for possible values.
                      properties:
                        id:
                          nullable: true
                          type: number
                          format: id32
                          x-positive: true
                          description: Identifier of the type.
                        name:
                          nullable: true
                          type: string
                          format: localizedString
                          description: Name of the type.
                    group:
                      nullable: false
                      type: object
                      x-property-sort:
                      - id
                      - name
                      description: Market group of the market. See endpoint `/basic/market/list` for possible values.
                      properties:
                        id:
                          nullable: true
                          type: number
                          format: id32
                          x-positive: true
                          description: Identifier of the market group.
                        name:
                          nullable: true
                          type: string
                          format: localizedString
                          description: Name of the market group.
                    timezone:
                      nullable: false
                      type: object
                      x-property-sort:
                      - id
                      - name
                      description: Timezone of the market. See endpoint `/basic/timezone/list` for possible values.
                      properties:
                        id:
                          nullable: true
                          type: number
                          format: id32
                          x-positive: true
                          description: Identifier of the timezone.
                        name:
                          nullable: true
                          type: string
                          description: Name of the timezone.
                    count:
                      nullable: true
                      x-sortable: true
                      type: number
                      format: int32
                      description: Number of entitled notations.
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                  pagination:
                    $ref: '#/components/schemas/OffsetBasedPaginationOutputObjectWithoutTotal'
                x-property-sort:
                - status
                - pagination
            x-property-sort:
            - data
            - meta
    '401':
      description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and have successfully generated an API KEY for the IP range you are connecting from. For more help, select the **Report Issue** in the top right corner of this Developer Portal specification card and choose Connectivity 401 or 403 Responses.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponse'
          examples:
            Bad Request - Date Format:
              $ref: '#/components/examples/unauthenticated'
    GetBasicMarketGroupList200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: array
                description: List of market groups.
                nullable: false
                items:
                  type: object
                  nullable: false
                  x-property-sort:
                  - id
                  - name
                  - shortName
                  properties:
                    id:
                      nullable: true
                      type: number
                      format: id32
                      x-positive: true
                      description: Identifier of the market group.
                    name:
                      nullable: true
                      x-sortable: true
                      x-default-sort-attribute: true
                      x-default-sort-direction: 1
                      type: string
                      format: localizedString
                      description: Name of the market group.
                    shortName:
                      nullable: true
                      x-sortable: true
                      type: string
                      format: localizedString
                      description: Short name of the market group.
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                x-property-sort:
                - status
            x-property-sort:
            - data
            - meta
    '415':
      description: Unsupported Media Type. This error may be returned when the caller sends a resource in a format that is not accepted by the server. This can be fixed by ensuring that Content-Type header is set to the correct value. In this instance, "application/json" would be the appropriate value.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponse'
          examples:
            Bad Request - Date Format:
              $ref: '#/components/examples/unsupportedMediaType'
    PostBasicMarketList200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: array
                description: List of markets.
                nullable: false
                items:
                  type: object
                  nullable: false
                  x-property-sort:
                  - id
                  - name
                  - shortName
                  - active
                  - country
                  - type
                  - group
                  - timezone
                  properties:
                    id:
                      nullable: true
                      type: number
                      format: id32
                      x-positive: true
                      description: Identifier of the market.
                    name:
                      nullable: true
                      x-sortable: true
                      x-default-sort-attribute: true
                      x-default-sort-direction: 1
                      type: string
                      format: localizedString
                      description: Name of the market.
                    shortName:
                      nullable: true
                      x-sortable: true
                      type: string
                      format: localizedString
                      description: Short name of the market.
                    active:
                      nullable: true
                      type: boolean
                      description: Indicates whether the market exists.
                    country:
                      nullable: false
                      type: object
                      x-property-sort:
                      - id
                      - name
                      description: Country of the market.
                      properties:
                        id:
                          nullable: true
                          type: number
                          format: id32
                          x-positive: true
                          description: Identifier of the country.
                        name:
                          nullable: true
                          x-sortable: true
                          type: string
                          format: localizedString
                          description: Name of the country.
                    type:
                      nullable: false
                      type: object
                      x-property-sort:
                      - id
                      - name
                      description: Type of the market.
                      properties:
                        id:
                          nullable: true
                          type: number
                          format: id32
                          x-positive: true
                          description: Identifier of the type.
                        name:
                          nullable: true
                          x-sortable: true
                          type: string
                          format: localizedString
                          description: Name of the type.
                    group:
                      nullable: false
                      type: object
                      x-property-sort:
                      - id
                      - name
                      description: Market group of the market.
                      properties:
                        id:
                          nullable: true
                          type: number
                          format: id32
                          x-positive: true
                          description: Identifier of the market group.
                        name:
                          nullable: true
                          x-sortable: true
                          type: string
                          format: localizedString
                          description: Name of the market group.
                    timezone:
                      nullable: false
                      type: object
                      x-property-sort:
                      - id
                      - name
                      description: Timezone of the market.
                      properties:
                        id:
                          nullable: true
                          type: number
                          format: id32
                          x-positive: true
                          description: Identifier of the timezone.
                        name:
                          nullable: true
                          type: string
                          format: localizedString
                          description: Name of the timezone.
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                  pagination:
                    $ref: '#/components/schemas/OffsetBasedPaginationOutputObjectWithoutTotal'
                x-property-sort:
                - status
                - pagination
            x-property-sort:
            - data
            - meta
    GetBasicMarketGet200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: object
                properties:
                  name:
                    nullable: true
                    type: string
                    format: localizedString
                    description: Name of the market.
                  shortName:
                    nullable: true
                    type: string
                    format: localizedString
                    description: Short name of the market.
                  active:
                    nullable: true
                    type: boolean
                    description: Indicates whether the market exists.
                  country:
                    nullable: false
                    type: object
                    x-property-sort:
                    - id
                    - name
                    description: Country of the market.
                    properties:
                      id:
                        nullable: true
                        type: number
                        format: id32
                        x-positive: true
                        description: Identifier of the country.
                      name:
                        nullable: true
                        type: string
                        format: localizedString
                        description: Name of the country.
                  type:
                    nullable: false
                    type: object
                    x-property-sort:
                    - id
                    - name
                    description: Type of the market.
                    properties:
                      id:
                        nullable: true
                        type: number
                        format: id32
                        x-positive: true
                        description: Identifier of the type.
                      name:
                        nullable: true
                        type: string
                        format: localizedString
                        description: Name of the type.
                  group:
                    nullable: false
                    type: object
                    x-property-sort:
                    - id
                    - name
                    description: Market group of the market.
                    properties:
                      id:
                        nullable: true
                        type: number
                        format: id32
                        x-positive: true
                        description: Identifier of the market group.
                      name:
                        nullable: true
                        type: string
                        format: localizedString
                        description: Name of the market group.
                  timezone:
                    nullable: false
                    type: object
                    x-property-sort:
                    - id
                    - name
                    description: Timezone of the market.
                    properties:
                      id:
                        nullable: true
                        type: number
                        format: id32
                        x-positive: true
                        description: Identifier of the timezone.
                      name:
                        nullable: true
                        type: string
                        format: localizedString
                        description: Name of the timezone.
                description: Details of a market
                nullable: false
                x-property-sort:
                - name
                - shortName
                - active
                - country
                - type
                - group
                - timezone
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                x-property-sort:
                - status
            x-property-sort:
            - data
            - meta
    '403':
      description: The USERNAME-SERIAL attempted to request the endpoint is not authorized to access. The request was a legal request, but the server is refusing to respond. Please reach out to FactSet Account Team for assistance with authorization.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponse'
          examples:
            Bad Request - Date Format:
              $ref: '#/components/examples/forbidden'
    GetNotationCrossReferenceGetByFactSetMarketSymbol200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: object
                properties:
                  id:
                    nullable: true
                    type: string
                    format: id64
                    x-positive: true
                    description: Identifier of the notation.
                  market:
                    nullable: false
                    type: object
                    x-property-sort:
                    - id
                    - name
                    description: Market of the notation. See endpoint `/basic/market/list` for possible values.
                    properties:
                      id:
                        nullable: true
                        type: number
                        format: id32
                        x-positive: true
                        description: Identifier of the market.
                      name:
                        nullable: true
                        type: string
                        format: localizedString
                        description: Name of the market.
                  valueUnit:
                    nullable: false
                    type: object
                    x-property-sort:
                    - id
                    - code
                    - isoCode
                    - name
                    description: Value unit of the notation. See endpoint `/basic/valueUnit/list` for possible values.
                    properties:
                      id:
                        nullable: true
                        type: number
                        format: id32
                        x-positive: true
                        description: Identifier of the value unit.
                      code:
                        nullable: true
                        type: string
                        description: 'Code of the value unit: If assigned, a code according to ISO 4217, otherwise a local code, for a main currency; a code such as GBp (for British pence) for a fractional currency; or a code such as PT (points) for non-currency value units.'
                      isoCode:
                        nullable: true
                        type: string
                        description: ISO 4217 code of the value unit. Empty if the ISO 4217 standard does not define a code for the currency.
                      name:
                        nullable: true
                        type: string
                        format: localizedString
                        description: Name of the value unit.
                  instrument:
                    nullable: false
                    type: object
                    x-property-sort:
                    - id
                    description: Instrument referenced by the notation.
                    properties:
                      id:
                        nullable: true
                        type: string
                        format: id64
                        x-positive: true
                        description: Identifier of the instrument.
                description: Notation identified by the FactSet market symbol.
                nullable: false
                x-property-sort:
                - id
                - market
                - valueUnit
                - instrument
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                x-property-sort:
                - status
            x-property-sort:
            - data
            - meta
    GetBasicMarketTypeList200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: array
                description: List of market types.
                nullable: false
                items:
                  type: object
                  nullable: false
                  x-property-sort:
                  - id
                  - name
                  properties:
                    id:
                      nullable: true
                      type: number
                      format: id32
                      x-positive: true
                      description: Identifier of the market type.
                    name:
                      nullable: true
                      x-sortable: true
                      x-default-sort-attribute: true
                      x-default-sort-direction: 1
                      type: string
                      format: localizedString
                      description: Name of the market type.
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                x-property-sort:
                - status
            x-property-sort:
            - data
            - meta
    '500':
      description: Internal Server Error.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponse'
          examples:
            Internal Server Error - Not Writable:
              $ref: '#/components/examples/notWritable'
            Internal Server Error - General Exception:
              $ref: '#/components/examples/generalException'
    '400':
      description: Bad Request. This can occur for several reasons. Please review the "message" for more details.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponse'
          examples:
            Bad Request - Date Format:
              $ref: '#/components/examples/badRequestDateFormat'
            Bad Request - Missing Required Parameter:
              $ref: '#/components/examples/badRequestRequiredParameter'
            Bad Request - Future Date:
              $ref: '#/components/examples/badRequestFutureDate'
            Bad Request - Invalid Parameter:
              $ref: '#/components/examples/badRequestInvalidParameters'
            Bad Request - Malformed JSON:
              $ref: '#/components/examples/badRequestMalformedJSON'
            Bad Request - Read Timeout:
              $ref: '#/components/examples/badRequestReadTimeout'
  parameters:
    frequency:
      name: frequency
      in: query
      schema:
        type: string
        enum:
        - D
        - W
        - M
        - AM
        - CQ
        - FQ
        - AY
        - CY
        - FY
        default: D
      description: "Controls the display frequency of the data returned.\n  * **D** = Daily\n  * **W** = Weekly, based on the last day of the week of the start date.\n  * **M** = Monthly, based on the last trading day of the month.\n  * **AM** = Monthly, based on the start date (e.g., if the start date is June 16, data is displayed for June 16, May 16, April 16 etc.).\n  * **CQ** = Quarterly based on the last trading day of the calendar quarter (March, June, September, or December).\n  * **FQ** = Fiscal Quarter of the company.\n  * **AY** = Actual Annual, based on the start date.\n  * **CY** = Calendar Annual, based on the last trading day of the calendar year.\n  * **FY** = Fiscal Annual, based on the last trading day of the company's fiscal year.\n"
      examples:
        Daily:
          summary: D - Daily frequency display based on trading calendar
          value: D
        Weekly:
          summary: W - Weekly - based on the last day of the week of the start date
          value: W
        Monthly:
          summary: M - Monthly - based on the last trading day of the month.
          value: M
        Actual Month:
          summary: AM - Actual Month - based on the startDate (e.g., if the start date is June 16, data is displayed for June 16, May 16, April 16 etc.).
          value: AM
        Calendar Quarterly:
          summary: CQ - Calendar Quarterly - based on the last day of the week of the startDate
          value: CQ
        Fiscal Quarterly:
          summary: FQ - Fiscal Quarter of the company
          value: FQ
        Actual Annual:
          summary: AY - Actual Annual - based on the startDate
          value: AY
        Calendar Annual:
          summary: CY - Calendar Annual - based on the last trading day of the calendar year.
          value: CY
        Fiscal Annual:
          summary: FY - Fiscal Annual - based on the last trading day of the company's fiscal year.
          value: FY
    startDate:
      name: startDate
      in: query
      required: false
      schema:
        type: string
      description: 'The start date requested for a given date range in **YYYY-MM-DD** format. If left blank, the API will default to previous close. Future dates (T+1) are not accepted in this endpoint.

        '
      example: '2019-01-01'
    idsMax2000:
      name: ids
      in: query
      schema:
        type: array
        items:
          type: string
        minItems: 1
        maxItems: 2000
      required: true
      explode: false
      description: The requested list of security identifiers. Accepted ID types include Market Tickers, SEDOL, ISINs, CUSIPs, or FactSet Permanent Ids. <p>***ids limit** =  2000 per request*</p> *<p>Make note, GET Method URL request lines are also limited to a total length of 8192 bytes (8KB). In cases where the service allows for thousands of ids, which may lead to exceeding this request line limit of 8KB, its advised for any requests with large request lines to be requested through the respective "POST" method.</p>*
      examples:
        oneEquityId:
          summary: One Equity Market Identifier
          value:
          - AAPL-USA
        multipleEquityIds:
          summary: Multiple Equity Market Identifiers
          value:
          - FDS-US
          - AAPL-US
          - MSFT-US
    endDate:
      name: endDate
      in: query
      required: false
      schema:
        type: string
      description: 'The end date requested for a given date range in **YYYY-MM-DD** format. If left blank, the API will default to previous close. Future dates (T+1) are not accepted in this endpoint.

        '
      example: '2019-12-31'
    currency:
      name: currency
      in: query
      schema:
        type: string
      description: Currency code for adjusting prices. Default is Local. For a list of currency ISO codes, visit [Online Assistant Page 1470](https://oa.apps.factset.com/pages/1470).
      example: USD
    calendar:
      name: calendar
      in: query
      schema:
        type: string
        enum:
        - FIVEDAY
        - SEVENDAY
        - LOCAL
        default: FIVEDAY
      description: Calendar of data returned. SEVENDAY includes weekends. LOCAL calendar will default to the securities' trading calendar which excludes date records for respective holiday periods.
      example: FIVEDAY
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
externalDocs:
  url: https://developer.factset.com/api-catalog/analytics-datastore-api
  description: API Documentation
