openapi: 3.2.0
info:
  title: Factset Sentiments API
  version: '1'
  description: 'Operations tagged Sentiments across 2 of this provider''s published API definitions: factset-irn-configuration-api-openapi.yml, irn-configuration-openapi-original.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.factset.com/research/irn
  description: Production Server
- url: https://api-sandbox.factset.com/research/irn
  description: Sandbox
security:
- basicScheme: []
tags:
- name: Sentiments
paths:
  /v1/sentiments:
    get:
      tags:
      - Sentiments
      summary: Factset Get All Sentiments
      operationId: GetSentiments
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SentimentConfigDto'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - url: https://api.factset.com/research/irn
      description: Production Server
    - url: https://api-sandbox.factset.com/research/irn
      description: Sandbox
components:
  schemas:
    SentimentConfigDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: abc123
        name:
          type:
          - string
          - 'null'
          example: Example Title
        code:
          type: integer
          format: int32
          example: 10
        color:
          type:
          - string
          - 'null'
          example: example_value
        isHidden:
          type: boolean
          example: true
      additionalProperties: false
    SentimentConfigDto_2:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type:
          - string
          - 'null'
        code:
          type: integer
          format: int32
        color:
          type:
          - string
          - 'null'
        isHidden:
          type: boolean
      additionalProperties: false
  securitySchemes:
    basicScheme:
      type: http
      scheme: basic
x-refined-from:
- factset-irn-configuration-api-openapi.yml
- irn-configuration-openapi-original.yml
