openapi: 3.0.3
info:
  title: Factset Analytics Datastore About Category API
  description: Allow clients to fetch precalculated Analytics through predeterministic URLs.
  contact:
    name: FactSet Research Systems
    url: https://developer.factset.com/contact
    email: api@factset.com
  license:
    name: Apache License, Version 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  version: 1.0.0
servers:
- url: https://api.factset.com
  description: Production
- url: https://api-sandbox.factset.com
  description: Sandbox
security:
- basicAuth: []
tags:
- name: Category
paths:
  /category/get:
    get:
      tags:
      - Category
      operationId: get/category/get
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Factset Details of a Category.
      description: Details of a category.
      parameters:
      - name: id
        in: query
        schema:
          type: number
          format: id32
          x-positive: true
          description: Identifier of a category.
        required: true
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
            exclusiveMaximum: false
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      - name: _language
        in: query
        schema:
          type: string
          format: isoLanguage
          description: ISO 639-1 code of the language.
          maxLength: 2
          minLength: 2
          exclusiveMinimum: false
          exclusiveMaximum: false
      responses:
        '200':
          $ref: '#/components/responses/GetCategoryGet200Response'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /category/list:
    get:
      tags:
      - Category
      operationId: get/category/list
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Factset List of Categories.
      description: List of categories.
      parameters:
      - name: ids
        in: query
        schema:
          type: array
          nullable: false
          items:
            type: number
            format: id32
            x-positive: true
          description: List of categories belonging to the same category system.
          uniqueItems: true
          minItems: 1
          maxItems: 100
        style: form
        explode: false
        required: true
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
            exclusiveMaximum: false
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      - name: _language
        in: query
        schema:
          type: string
          format: isoLanguage
          description: ISO 639-1 code of the language.
          maxLength: 2
          minLength: 2
          exclusiveMinimum: false
          exclusiveMaximum: false
      responses:
        '200':
          $ref: '#/components/responses/GetCategoryList200Response'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /category/listByLevel:
    get:
      tags:
      - Category
      operationId: get/category/listByLevel
      x-supportsOffsetBasedPaging: true
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Factset List of categories assigned to a category level.
      description: List of categories assigned to a category level.
      parameters:
      - name: id
        in: query
        schema:
          type: number
          format: id32
          x-positive: true
          description: Identifier of a category level. See attribute `levels` in endpoint `/category/system/get` for valid values.
        required: true
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
            exclusiveMaximum: false
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      - name: _language
        in: query
        schema:
          type: string
          format: isoLanguage
          description: ISO 639-1 code of the language.
          maxLength: 2
          minLength: 2
          exclusiveMinimum: false
          exclusiveMaximum: false
      - description: Non-negative number of entries to skip, or 0 (default).
        name: _paginationOffset
        in: query
        schema:
          type: number
          format: int32
          minimum: 0
          exclusiveMinimum: false
          default: 0
      - description: Non-negative maximum number of entries to return.
        name: _paginationLimit
        in: query
        schema:
          type: number
          format: int32
          minimum: 0
          exclusiveMinimum: false
          maximum: 500
          exclusiveMaximum: false
          default: 20
      responses:
        '200':
          $ref: '#/components/responses/GetCategoryListByLevel200Response'
  /category/listBySystem:
    get:
      tags:
      - Category
      operationId: get/category/listBySystem
      x-supportsOffsetBasedPaging: true
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Factset List of categories assigned to a category system.
      description: List of categories assigned to a category system.
      parameters:
      - name: id
        in: query
        schema:
          type: number
          format: id32
          x-positive: true
          description: Identifier of a category system. See endpoint `/category/system/list` for valid values.
        required: true
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
            exclusiveMaximum: false
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      - name: _language
        in: query
        schema:
          type: string
          format: isoLanguage
          description: ISO 639-1 code of the language.
          maxLength: 2
          minLength: 2
          exclusiveMinimum: false
          exclusiveMaximum: false
      - description: Non-negative number of entries to skip, or 0 (default).
        name: _paginationOffset
        in: query
        schema:
          type: number
          format: int32
          minimum: 0
          exclusiveMinimum: false
          default: 0
      - description: Non-negative maximum number of entries to return.
        name: _paginationLimit
        in: query
        schema:
          type: number
          format: int32
          minimum: 0
          exclusiveMinimum: false
          maximum: 500
          exclusiveMaximum: false
          default: 20
      responses:
        '200':
          $ref: '#/components/responses/GetCategoryListBySystem200Response'
  /category/dataset/list:
    get:
      tags:
      - Category
      operationId: get/category/dataset/list
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Factset List of entitled category datasets.
      description: List of entitled category datasets.
      responses:
        '200':
          $ref: '#/components/responses/GetCategoryDatasetList200Response'
      parameters:
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
            exclusiveMaximum: false
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      - name: _language
        in: query
        schema:
          type: string
          format: isoLanguage
          description: ISO 639-1 code of the language.
          maxLength: 2
          minLength: 2
          exclusiveMinimum: false
          exclusiveMaximum: false
  /category/instrument/list:
    get:
      tags:
      - Category
      operationId: get/category/instrument/list
      x-supportsOffsetBasedPaging: true
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Factset List of instruments where a specific dataset has assigned a given category.
      description: List of instruments where a specific dataset has assigned a given category.
      parameters:
      - name: idCategory
        in: query
        schema:
          type: number
          format: id32
          x-positive: true
          description: Identifier of a category.
        required: true
      - name: idCategoryDataset
        in: query
        schema:
          type: number
          format: id32
          x-positive: true
          description: Identifier of a category dataset.
        required: true
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
            exclusiveMaximum: false
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      - description: Non-negative number of entries to skip, or 0 (default).
        name: _paginationOffset
        in: query
        schema:
          type: number
          format: int32
          minimum: 0
          exclusiveMinimum: false
          default: 0
      - description: Non-negative maximum number of entries to return.
        name: _paginationLimit
        in: query
        schema:
          type: number
          format: int32
          minimum: 0
          exclusiveMinimum: false
          maximum: 1000
          exclusiveMaximum: false
          default: 20
      responses:
        '200':
          $ref: '#/components/responses/GetCategoryInstrumentList200Response'
  /category/level/get:
    get:
      tags:
      - Category
      operationId: get/category/level/get
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Factset Details of a category level.
      description: Details of a category level.
      parameters:
      - name: id
        in: query
        schema:
          type: number
          format: id32
          x-positive: true
          description: Identifier of a category level. See attribute `levels` in endpoint `/category/system/get` for valid values.
        required: true
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
            exclusiveMaximum: false
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      - name: _language
        in: query
        schema:
          type: string
          format: isoLanguage
          description: ISO 639-1 code of the language.
          maxLength: 2
          minLength: 2
          exclusiveMinimum: false
          exclusiveMaximum: false
      responses:
        '200':
          $ref: '#/components/responses/GetCategoryLevelGet200Response'
  /category/path/get:
    get:
      tags:
      - Category
      operationId: get/category/path/get
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Factset Path from the first level to the level of a specific category.
      description: Path from the first level to the level of a specific category.
      parameters:
      - name: id
        in: query
        schema:
          type: number
          format: id32
          x-positive: true
          description: Identifier of a category.
        required: true
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
            exclusiveMaximum: false
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      - name: _language
        in: query
        schema:
          type: string
          format: isoLanguage
          description: ISO 639-1 code of the language.
          maxLength: 2
          minLength: 2
          exclusiveMinimum: false
          exclusiveMaximum: false
      responses:
        '200':
          $ref: '#/components/responses/GetCategoryPathGet200Response'
  /category/system/get:
    get:
      tags:
      - Category
      operationId: get/category/system/get
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Factset Details of an entitled category system.
      description: Details of an entitled category system.
      parameters:
      - name: id
        in: query
        schema:
          type: number
          format: id32
          x-positive: true
          description: Identifier of a category system. See endpoint `/category/system/list` for valid values.
        required: true
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
            exclusiveMaximum: false
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      - name: _language
        in: query
        schema:
          type: string
          format: isoLanguage
          description: ISO 639-1 code of the language.
          maxLength: 2
          minLength: 2
          exclusiveMinimum: false
          exclusiveMaximum: false
      responses:
        '200':
          $ref: '#/components/responses/GetCategorySystemGet200Response'
  /category/system/list:
    get:
      tags:
      - Category
      operationId: get/category/system/list
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Factset List of entitled category systems.
      description: List of entitled category systems.
      parameters:
      - name: idType
        in: query
        schema:
          description: Filter for a specific category system type. See endpoint `/category/system/type/list` for valid values.
          type: number
          format: id32
          x-positive: true
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
            exclusiveMaximum: false
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      - name: _language
        in: query
        schema:
          type: string
          format: isoLanguage
          description: ISO 639-1 code of the language.
          maxLength: 2
          minLength: 2
          exclusiveMinimum: false
          exclusiveMaximum: false
      responses:
        '200':
          $ref: '#/components/responses/GetCategorySystemList200Response'
  /category/system/type/list:
    get:
      tags:
      - Category
      operationId: get/category/system/type/list
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Factset List of category system types.
      description: List of category system types.
      responses:
        '200':
          $ref: '#/components/responses/GetCategorySystemTypeList200Response'
      parameters:
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
            exclusiveMaximum: false
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      - name: _language
        in: query
        schema:
          type: string
          format: isoLanguage
          description: ISO 639-1 code of the language.
          maxLength: 2
          minLength: 2
          exclusiveMinimum: false
          exclusiveMaximum: false
components:
  schemas:
    PartialOutputObject:
      type: object
      properties:
        isPartial:
          type: boolean
          description: Flag indicating that the response is a possibly incomplete array or an object containing a possibly incomplete array, due to hitting a processing time limit. If `true`, some matching results might be missing from the array, or elements for matching results might be incorrectly included (for example, when priority sorting would have removed the element). Depending on the use case, such a response may be unsuitable.
      description: Object denoting that the endpoint response is possibly incomplete.
      required:
      - isPartial
      x-property-sort:
      - isPartial
    StatusObject_2:
      type: object
      properties:
        code:
          type: number
          format: int32
          description: The HTTP status code of the response, mirroring the code from the Status-Line of the HTTP response message (see [RFC2616] section 6.1).
      description: The status member contains the status code of the response.
      required:
      - code
    OffsetBasedPaginationOutputObject:
      type: object
      description: Pagination attributes for the offset-based pagination strategy.
      properties:
        total:
          type: number
          format: int32
          description: Total number of entries in the result set.
        isEstimatedTotal:
          type: boolean
          description: Flag indicating that the value of "total" is estimated.
      required:
      - total
      - isEstimatedTotal
      x-property-sort:
      - total
      - isEstimatedTotal
    StatusObject:
      type: object
      properties:
        code:
          type: number
          format: int32
          description: The HTTP status code of the response, mirroring the code from the Status-Line of the HTTP response message (see [RFC2616] section 6.1).
          example: 42.5
      description: The status member contains the status code of the response.
      required:
      - code
  responses:
    GetCategoryInstrumentList200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: array
                nullable: false
                items:
                  type: object
                  nullable: false
                  x-property-sort:
                  - id
                  - fsym
                  properties:
                    id:
                      nullable: true
                      type: string
                      format: id64
                      x-positive: true
                      description: Identifier of the instrument.
                    fsym:
                      nullable: false
                      type: object
                      x-property-sort:
                      - security
                      description: Instrument-level FactSet identifier of the financial instrument used primarily in FactSet products other than the MDG.
                      properties:
                        security:
                          nullable: false
                          type: object
                          x-property-sort:
                          - permanentIdentifier
                          description: Security-level identifier.
                          properties:
                            permanentIdentifier:
                              nullable: true
                              type: string
                              description: FactSet Permanent Identifier for an instrument. The format is six alpha numeric characters, excluding vowels, with an S suffix (XXXXXX-S).
                x-partial: true
                description: List of instruments.
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject_2'
                  pagination:
                    $ref: '#/components/schemas/OffsetBasedPaginationOutputObject'
                  partial:
                    $ref: '#/components/schemas/PartialOutputObject'
                x-property-sort:
                - status
                - pagination
                - partial
            x-property-sort:
            - data
            - meta
    GetCategorySystemGet200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: object
                properties:
                  id:
                    nullable: true
                    type: number
                    format: id32
                    x-positive: true
                    description: Identifier of the category system.
                  name:
                    nullable: true
                    type: string
                    format: localizedString
                    description: Name of the category system.
                  type:
                    nullable: false
                    description: Type of the category system. See endpoint `/category/system/type/list` for possible values.
                    type: object
                    x-property-sort:
                    - id
                    - name
                    properties:
                      id:
                        nullable: true
                        type: number
                        format: id32
                        x-positive: true
                        description: Identifier of the type of the category system.
                      name:
                        nullable: true
                        type: string
                        format: localizedString
                        description: Name of the type of the category system.
                  numberOfLevels:
                    nullable: true
                    type: number
                    format: int32
                    description: Number of levels of the category system.
                  firstLevelWithLeafCategories:
                    nullable: true
                    type: number
                    format: int32
                    description: Number of the least detailed level of the category system that has leaf categories.
                  levels:
                    nullable: false
                    type: array
                    items:
                      type: object
                      nullable: false
                      x-property-sort:
                      - id
                      - name
                      - number
                      - hasLeafCategories
                      properties:
                        id:
                          nullable: true
                          type: number
                          format: id32
                          x-positive: true
                          description: Identifier of the level.
                        name:
                          nullable: true
                          type: string
                          format: localizedString
                          description: Name of the level.
                        number:
                          nullable: true
                          type: number
                          format: int32
                          description: Number of the category level, starting with 1.
                        hasLeafCategories:
                          nullable: true
                          type: boolean
                          description: Indicates whether the category level has leaf categories.
                    description: List of category levels ordered by the number of the level in ascending order.
                description: Details of the category system.
                nullable: false
                x-property-sort:
                - id
                - name
                - type
                - numberOfLevels
                - firstLevelWithLeafCategories
                - levels
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject_2'
                x-property-sort:
                - status
            x-property-sort:
            - data
            - meta
    GetCategoryListByLevel200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: object
                properties:
                  system:
                    nullable: false
                    type: object
                    x-property-sort:
                    - id
                    - name
                    description: Category system.
                    properties:
                      id:
                        nullable: true
                        type: number
                        format: id32
                        x-positive: true
                        description: Identifier of the category system.
                      name:
                        nullable: true
                        type: string
                        format: localizedString
                        description: Name of the category system.
                  parent:
                    nullable: false
                    type: object
                    x-property-sort:
                    - id
                    - name
                    description: Parent level. The attributes of the parent level are `null` if this category level is the first level.
                    properties:
                      id:
                        nullable: true
                        type: number
                        format: id32
                        x-positive: true
                        description: Identifier of the category level.
                      name:
                        nullable: true
                        type: string
                        format: localizedString
                        description: Name of the category level.
                  categories:
                    nullable: false
                    type: array
                    items:
                      type: object
                      nullable: false
                      x-property-sort:
                      - id
                      - code
                      - name
                      - description
                      - active
                      - parent
                      properties:
                        id:
                          nullable: true
                          type: number
                          format: id32
                          x-positive: true
                          description: Identifier of the category.
                        code:
                          nullable: true
                          type: string
                          description: Code commonly used for this category.
                        name:
                          nullable: true
                          type: string
                          format: localizedString
                          description: Name of the category.
                        description:
                          nullable: true
                          type: string
                          format: localizedString
                          description: Description of the category.
                        active:
                          nullable: true
                          type: boolean
                          description: Indicates whether this category is active.
                        parent:
                          nullable: false
                          type: object
                          x-property-sort:
                          - id
                          - name
                          description: Parent category. The attributes of the parent category are `null` if this category is on the first level.
                          properties:
                            id:
                              nullable: true
                              type: number
                              format: id32
                              x-positive: true
                              description: Identifier of the category.
                            name:
                              nullable: true
                              type: string
                              format: localizedString
                              description: Name of the category.
                    description: List of categories.
                description: List of the categories.
                nullable: false
                x-property-sort:
                - system
                - parent
                - categories
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject_2'
                  pagination:
                    $ref: '#/components/schemas/OffsetBasedPaginationOutputObject'
                x-property-sort:
                - status
                - pagination
            x-property-sort:
            - data
            - meta
    GetCategorySystemTypeList200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: array
                description: List of category system types, sorted by ascending identifier value.
                nullable: false
                items:
                  type: object
                  nullable: false
                  x-property-sort:
                  - id
                  - name
                  - description
                  properties:
                    id:
                      nullable: true
                      type: number
                      format: id32
                      x-positive: true
                      description: Identifier of the category system type.
                    name:
                      nullable: true
                      type: string
                      format: localizedString
                      description: Name of the category system type.
                    description:
                      nullable: true
                      type: string
                      format: localizedString
                      description: Description of the category system type.
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject_2'
                x-property-sort:
                - status
            x-property-sort:
            - data
            - meta
    GetCategoryPathGet200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: object
                properties:
                  categories:
                    nullable: false
                    type: array
                    items:
                      type: object
                      nullable: false
                      x-property-sort:
                      - id
                      - name
                      properties:
                        id:
                          nullable: true
                          type: number
                          format: id32
                          x-positive: true
                          description: Identifier of the category.
                        name:
                          nullable: true
                          type: string
                          format: localizedString
                          description: Name of the category.
                    description: List of categories covering the full path (without gaps) from the most coarse granularity to the level of the specified category.
                nullable: false
                x-property-sort:
                - categories
                description: Path to the category.
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject_2'
                x-property-sort:
                - status
            x-property-sort:
            - data
            - meta
    GetCategorySystemList200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: array
                description: List of category systems.
                nullable: false
                items:
                  type: object
                  nullable: false
                  x-property-sort:
                  - id
                  - name
                  - type
                  - numberOfLevels
                  - firstLevelWithLeafCategories
                  properties:
                    id:
                      nullable: true
                      type: number
                      format: id32
                      x-positive: true
                      description: Identifier of the category system.
                    name:
                      nullable: true
                      type: string
                      format: localizedString
                      description: Name of the category system.
                    type:
                      nullable: false
                      description: Type of the category system. See endpoint `/category/system/type/list` for possible values.
                      type: object
                      x-property-sort:
                      - id
                      - name
                      properties:
                        id:
                          nullable: true
                          type: number
                          format: id32
                          x-positive: true
                          description: Identifier of the type of the category system.
                        name:
                          nullable: true
                          type: string
                          format: localizedString
                          description: Name of the type of the category system.
                    numberOfLevels:
                      nullable: true
                      type: number
                      format: int32
                      description: Number of levels of the category system.
                    firstLevelWithLeafCategories:
                      nullable: true
                      type: number
                      format: int32
                      description: Number of the least detailed level of the category system that has leaf categories.
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject_2'
                x-property-sort:
                - status
            x-property-sort:
            - data
            - meta
    GetCategoryListBySystem200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: object
                properties:
                  categories:
                    nullable: false
                    type: array
                    items:
                      type: object
                      nullable: false
                      x-property-sort:
                      - id
                      - code
                      - name
                      - description
                      - active
                      - level
                      - parent
                      properties:
                        id:
                          nullable: true
                          type: number
                          format: id32
                          x-positive: true
                          description: Identifier of the category.
                        code:
                          nullable: true
                          type: string
                          description: Code commonly used for this category.
                        name:
                          nullable: true
                          type: string
                          format: localizedString
                          description: Name of the category.
                        description:
                          nullable: true
                          type: string
                          format: localizedString
                          description: Description of the category.
                        active:
                          nullable: true
                          type: boolean
                          description: Indicates whether this category is active.
                        level:
                          nullable: false
                          type: object
                          x-property-sort:
                          - id
                          - number
                          description: Category level.
                          properties:
                            id:
                              nullable: true
                              type: number
                              format: id32
                              x-positive: true
                              description: Identifier of the category level.
                            number:
                              nullable: true
                              type: number
                              format: int32
                              description: Number of the category level starting with 1, indicating the distance to the root of the category hierarchy.
                        parent:
                          nullable: false
                          type: object
                          x-property-sort:
                          - id
                          description: Parent category. The attributes of the parent category are `null` if this category is on the first level.
                          properties:
                            id:
                              nullable: true
                              type: number
                              format: id32
                              x-positive: true
                              description: Identifier of the category.
                    description: List of categories.
                description: List of the categories.
                nullable: false
                x-property-sort:
                - categories
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject_2'
                  pagination:
                    $ref: '#/components/schemas/OffsetBasedPaginationOutputObject'
                x-property-sort:
                - status
                - pagination
            x-property-sort:
            - data
            - meta
    GetCategoryLevelGet200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: object
                properties:
                  name:
                    nullable: true
                    type: string
                    format: localizedString
                    description: Name of the level.
                  number:
                    nullable: true
                    type: number
                    format: int32
                    description: Number of the category level, starting with 1.
                  hasLeafCategories:
                    nullable: true
                    type: boolean
                    description: Indicates whether the category level has leaf categories.
                  system:
                    nullable: false
                    type: object
                    x-property-sort:
                    - id
                    - name
                    description: Details of the system this level belongs to.
                    properties:
                      id:
                        nullable: true
                        type: number
                        format: id32
                        x-positive: true
                        description: Identifier of the category system.
                      name:
                        nullable: true
                        type: string
                        format: localizedString
                        description: Name of the category system.
                description: Details of the category level.
                nullable: false
                x-property-sort:
                - name
                - number
                - hasLeafCategories
                - system
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject_2'
                x-property-sort:
                - status
            x-property-sort:
            - data
            - meta
    GetCategoryDatasetList200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: array
                description: List of category datasets.
                nullable: false
                items:
                  type: object
                  nullable: false
                  x-property-sort:
                  - id
                  - name
                  - depth
                  - system
                  - delivery
                  properties:
                    id:
                      nullable: true
                      type: number
                      format: id32
                      x-positive: true
                      description: Identifier of the dataset.
                    name:
                      nullable: true
                      type: string
                      format: localizedString
                      description: Name of the dataset.
                    depth:
                      nullable: true
                      type: number
                      format: int32
                      description: Number of levels covered by this dataset for the category system.
                    system:
                      nullable: false
                      type: object
                      x-property-sort:
                      - id
                      - name
                      - numberOfLevels
                      - firstLevelWithLeafCategories
                      description: Category system.
                      properties:
                        id:
                          nullable: true
                          type: number
                          format: id32
                          x-positive: true
                          description: Identifier of the category system.
                        name:
                          nullable: true
                          type: string
                          format: localizedString
                          description: Name of the category system.
                        numberOfLevels:
                          nullable: true
                          type: number
                          format: int32
                          description: Number of levels of the category system.
                        firstLevelWithLeafCategories:
                          nullable: true
                          type: number
                          format: int32
                          description: Number of the least detailed level of the category system that has leaf categories.
                    delivery:
                      nullable: false
                      type: object
                      x-property-sort:
                      - id
                      - name
                      description: Delivery which provides this category dataset. For possible values, see endpoint `/basic/delivery/list`.
                      properties:
                        id:
                          nullable: true
                          type: number
                          format: id32
                          x-positive: true
                          description: Identifier of the delivery.
                        name:
                          nullable: true
                          type: string
                          description: English name of the delivery.
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject_2'
                x-property-sort:
                - status
            x-property-sort:
            - data
            - meta
    GetCategoryList200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: object
                properties:
                  system:
                    nullable: false
                    type: object
                    x-property-sort:
                    - id
                    - name
                    description: Category system.
                    properties:
                      id:
                        nullable: true
                        type: number
                        format: id32
                        x-positive: true
                        description: Identifier of the category system.
                      name:
                        nullable: true
                        type: string
                        format: localizedString
                        description: Name of the category system.
                  categories:
                    nullable: false
                    type: array
                    items:
                      type: object
                      nullable: false
                      x-property-sort:
                      - id
                      - code
                      - name
                      - description
                      - active
                      - level
                      - parent
                      properties:
                        id:
                          nullable: true
                          type: number
                          format: id32
                          x-positive: true
                          description: Identifier of the category.
                        code:
                          nullable: true
                          type: string
                          description: Code commonly used for this category.
                        name:
                          nullable: true
                          type: string
                          format: localizedString
                          description: Name of the category.
                        description:
                          nullable: true
                          type: string
                          format: localizedString
                          description: Description of the category.
                        active:
                          nullable: true
                          type: boolean
                          description: Indicates whether this category is active.
                        level:
                          nullable: false
                          type: object
                          x-property-sort:
                          - id
                          - name
                          - number
                          description: Category level.
                          properties:
                            id:
                              nullable: true
                              type: number
                              format: id32
                              x-positive: true
                              description: Identifier of the category level.
                            name:
                              nullable: true
                              type: string
                              format: localizedString
                              description: Name of the category level.
                            number:
                              nullable: true
                              type: number
                              format: int32
                              description: Number of the category level starting with 1, indicating the distance to the root of the category hierarchy.
                        parent:
                          nullable: false
                          type: object
                          x-property-sort:
                          - id
                          - name
                          - level
                          description: Parent category. The attributes of the parent category are `null` if this category is on the first level.
                          properties:
                            id:
                              nullable: true
                              type: number
                              format: id32
                              x-positive: true
                              description: Identifier of the category.
                            name:
                              nullable: true
                              type: string
                              format: localizedString
                              description: Name of the category.
                            level:
                              nullable: false
                              type: object
                              x-property-sort:
                              - id
                              - name
                              description: Parent level.
                              properties:
                                id:
                                  nullable: true
                                  type: number
                                  format: id32
                                  x-positive: true
                                  description: Identifier of the category level.
                                name:
                                  nullable: true
                                  type: string
                                  format: localizedString
                                  description: Name of the category level.
                    description: List of categories.
                description: List of categories.
                nullable: false
                x-property-sort:
                - system
                - categories
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                x-property-sort:
                - status
            x-property-sort:
            - data
            - meta
    GetCategoryGet200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: object
                properties:
                  code:
                    nullable: true
                    type: string
                    description: Code commonly used for this category.
                  name:
                    nullable: true
                    type: string
                    format: localizedString
                    description: Name of the category.
                  description:
                    nullable: true
                    type: string
                    format: localizedString
                    description: Description of the category.
                  active:
                    nullable: true
                    type: boolean
                    description: Indicates whether this category is active.
                  level:
                    nullable: false
                    type: object
                    x-property-sort:
                    - id
                    - name
                    - number
                    description: Category level.
                    properties:
                      id:
                        nullable: true
                        type: number
                        format: id32
                        x-positive: true
                        description: Identifier of the category level.
                      name:
                        nullable: true
                        type: string
                        format: localizedString
                        description: Name of the category level.
                      number:
                        nullable: true
                        type: number
                        format: int32
                        description: Number of the category level starting with 1, indicating the distance to the root of the category hierarchy.
                  parent:
                    nullable: false
                    type: object
                    x-property-sort:
                    - id
                    - name
                    - level
                    description: Parent category. The attributes of the parent category are `null` if this category is on the first level.
                    properties:
                      id:
                        nullable: true
                        type: number
                        format: id32
                        x-positive: true
                        description: Identifier of the category.
                      name:
                        nullable: true
                        type: string
                        format: localizedString
                        description: Name of the category.
                      level:
                        nullable: false
                        type: object
                        x-property-sort:
                        - id
                        - name
                        description: Parent level.
                        properties:
                          id:
                            nullable: true
                            type: number
                            format: id32
                            x-positive: true
                            description: Identifier of the category level.
                          name:
                            nullable: true
                            type: string
                            format: localizedString
                            description: Name of the category level.
                  system:
                    nullable: false
                    type: object
                    x-property-sort:
                    - id
                    - name
                    description: Category system.
                    properties:
                      id:
                        nullable: true
                        type: number
                        format: id32
                        x-positive: true
                        description: Identifier of the category system.
                      name:
                        nullable: true
                        type: string
                        format: localizedString
                        description: Name of the category system.
                description: Details of the category.
                nullable: false
                x-property-sort:
                - code
                - name
                - description
                - active
                - level
                - parent
                - system
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                x-property-sort:
                - status
            x-property-sort:
            - data
            - meta
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
externalDocs:
  url: https://developer.factset.com/api-catalog/analytics-datastore-api
  description: API Documentation
