openapi: 3.2.0
info:
  title: Factset IRN API v1 Custom Symbol Types API
  description: Allows users to extract, create, update and configure IRN data.
  version: '1'
servers:
- url: https://api.factset.com/research/irn
  description: Production Server
- url: https://api-sandbox.factset.com/research/irn
  description: Sandbox
security:
- basicScheme: []
tags:
- name: Custom Symbol Types
paths:
  /v1/custom-symbol-types:
    get:
      tags:
      - Custom Symbol Types
      summary: Factset Get all the custom symbol types
      operationId: GetCustomSymbolTypes
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CustomSymbolTypeDto'
    post:
      tags:
      - Custom Symbol Types
      summary: Factset Create a Custom symbol type
      operationId: CreateCustomSymbolType
      requestBody:
        description: saveCustomSymbolTypeDto object to save
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/SaveCustomSymbolTypeDto'
          application/json:
            schema:
              $ref: '#/components/schemas/SaveCustomSymbolTypeDto'
          text/json:
            schema:
              $ref: '#/components/schemas/SaveCustomSymbolTypeDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/SaveCustomSymbolTypeDto'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewItemDto'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
  /v1/custom-symbol-types/{customSymbolTypeId}:
    get:
      tags:
      - Custom Symbol Types
      summary: Factset Get a specific Custom symbol type's details
      operationId: GetCustomSymbolType
      parameters:
      - name: customSymbolTypeId
        in: path
        description: customSymbolTypeId to get associated record
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomSymbolTypeDetailDto'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
    put:
      tags:
      - Custom Symbol Types
      summary: Factset Edit a Custom symbol type
      operationId: UpdateCustomSymbolType
      parameters:
      - name: customSymbolTypeId
        in: path
        description: customSymbolTypeId to update associated record
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        description: updateCustomSymbolTypeDto object to update
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/UpdateCustomSymbolTypeDto'
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCustomSymbolTypeDto'
          text/json:
            schema:
              $ref: '#/components/schemas/UpdateCustomSymbolTypeDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/UpdateCustomSymbolTypeDto'
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
    delete:
      tags:
      - Custom Symbol Types
      summary: Factset Delete a Custom symbol type
      operationId: DeleteCustomSymbolTypeAsync
      parameters:
      - name: customSymbolTypeId
        in: path
        description: customSymbolTypeId to delete associated record
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
  /v1/custom-symbol-types/{customSymbolTypeId}/custom-fields:
    get:
      tags:
      - Custom Symbol Types
      summary: Factset Get Custom fields for Custom Symbol type
      operationId: GetSymbolCustomFieldsForCustomSymbolType
      parameters:
      - name: customSymbolTypeId
        in: path
        description: customSymbolTypeId to get associated Custom fileds
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CustomSymbolCustomFieldConfigDto'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
  /v1/custom-symbol-types/reorder:
    post:
      tags:
      - Custom Symbol Types
      operationId: UpdateCustomSymbolTypeOrder
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/ReorderCustomSymbolTypeDto'
          application/json:
            schema:
              $ref: '#/components/schemas/ReorderCustomSymbolTypeDto'
          text/json:
            schema:
              $ref: '#/components/schemas/ReorderCustomSymbolTypeDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ReorderCustomSymbolTypeDto'
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
components:
  schemas:
    CustomSymbolCustomFieldConfigDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
        code:
          type:
          - string
          - 'null'
        name:
          type:
          - string
          - 'null'
        type:
          type:
          - string
          - 'null'
        isHidden:
          type: boolean
        isMandatory:
          type: boolean
        isShownInInfobox:
          type: boolean
        formulaConfig:
          $ref: '#/components/schemas/CustomSymbolCustomFieldFormulaConfigDto'
        optionsConfig:
          type:
          - array
          - 'null'
          items:
            type: string
        customSymbolTypes:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CustomSymbolTypeSummaryDto'
      additionalProperties: false
    NewItemDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
      additionalProperties: false
    SaveCustomSymbolTypeDto:
      required:
      - name
      type: object
      properties:
        name:
          maxLength: 100
          minLength: 0
          type: string
        hideAddressField:
          type: boolean
        hideSymbolSubtype:
          type: boolean
        isDefault:
          type: boolean
          default: false
        dueDiligenceSymbolEntityType:
          $ref: '#/components/schemas/EntityType'
        subTypes:
          type:
          - array
          - 'null'
          items:
            type: string
        customFieldIds:
          type:
          - array
          - 'null'
          items:
            type: string
            format: uuid
      additionalProperties: false
    CustomSymbolSubTypeDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type:
          - string
          - 'null'
      additionalProperties: false
    CustomSymbolTypeDetailDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type:
          - string
          - 'null'
        hideAddressField:
          type: boolean
        hideSymbolSubType:
          type: boolean
        isDefault:
          type: boolean
        dueDiligenceSymbolEntityType:
          $ref: '#/components/schemas/EntityType'
        subTypes:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CustomSymbolSubTypeDto'
      additionalProperties: false
    UpdateCustomSymbolTypeDto:
      required:
      - name
      type: object
      properties:
        name:
          maxLength: 100
          minLength: 0
          type: string
        hideAddressField:
          type: boolean
        hideSymbolSubtype:
          type: boolean
        isDefault:
          type: boolean
          default: false
        dueDiligenceSymbolEntityType:
          $ref: '#/components/schemas/EntityType'
        subTypes:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CustomSymbolSubTypeDto'
        customFieldIds:
          type:
          - array
          - 'null'
          items:
            type: string
            format: uuid
      additionalProperties: false
    CustomSymbolTypeDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type:
          - string
          - 'null'
        hideAddressField:
          type: boolean
        hideSymbolSubType:
          type: boolean
        isDefault:
          type: boolean
        order:
          type: integer
          format: int32
        dueDiligenceSymbolEntityType:
          $ref: '#/components/schemas/EntityType'
      additionalProperties: false
    CustomSymbolCustomFieldFormulaConfigDto:
      required:
      - formula
      - formulaType
      type: object
      properties:
        formula:
          maxLength: 2040
          type: string
        formulaType:
          type: string
      additionalProperties: false
    CustomSymbolTypeSummaryDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type:
          - string
          - 'null'
      additionalProperties: false
    ReorderCustomSymbolTypeDto:
      type: object
      properties:
        ids:
          type:
          - array
          - 'null'
          items:
            type: string
            format: uuid
      additionalProperties: false
    EntityType:
      enum:
      - 0
      - 1
      - 2
      - 3
      type: integer
      format: int32
    ProblemDetails:
      type: object
      properties:
        type:
          type:
          - string
          - 'null'
        title:
          type:
          - string
          - 'null'
        status:
          type:
          - integer
          - 'null'
          format: int32
        detail:
          type:
          - string
          - 'null'
        instance:
          type:
          - string
          - 'null'
      additionalProperties: {}
  securitySchemes:
    basicScheme:
      type: http
      scheme: basic
