openapi: 3.2.0
info:
  title: FactSet StreetAccount News Street Account API
  description: '

    Accessing streetAccount news along with business logic contained in the

    workstation experience'
  version: 0.1.0
  contact:
    name: FactSet Research Systems
    url: https://developer.factset.com/contact
    email: api@factset.com
  license:
    name: Apache License, Version 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
servers:
- url: https://api.factset.com/research/news/v0
security:
- FactSetApiKey: []
- FactSetOAuth2: []
tags:
- name: Street Account
paths:
  /streetaccount/views:
    get:
      summary: Factset Retrieves Streetaccount Search Views
      description: This endpoint allows you to pull the full list of StreetAccount views that have been previously saved.
      tags:
      - Street Account
      operationId: getStreetAccountViews
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/views'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /streetaccount/views/{id}:
    post:
      summary: Factset Creates and Saves a Streetaccount View
      description: This endpoint allows you to create a new StreetAccount view. Select watchlists/tickers and filters of your choice to create and save a view.
      tags:
      - Street Account
      operationId: createStreetAccountView
      requestBody:
        $ref: '#/components/requestBodies/createOrEditViewBody'
      parameters:
      - in: path
        name: id
        example: SA News View
        schema:
          type: string
        required: true
        description: view id of the view which is the be created
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createEditDeleteViewResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      summary: Factset Edits and Saves an Existing Streetaccount View
      description: This endpoint allows you to edit the criteria used for a previously saved StreetAccount view.
      tags:
      - Street Account
      operationId: editStreetAccountView
      requestBody:
        $ref: '#/components/requestBodies/createOrEditViewBody'
      parameters:
      - in: path
        name: id
        example: SA News View
        schema:
          type: string
        required: true
        description: view id of the view to be edited
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createEditDeleteViewResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      summary: Factset Deletes an Existing Streetaccount View
      description: This endpoint allows you to delete a previously saved StreetAccount view.
      tags:
      - Street Account
      operationId: deleteStreetAccountView
      parameters:
      - in: path
        name: id
        example: SA News View
        schema:
          type: string
        required: true
        description: view id of the view to be deleted
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createEditDeleteViewResponse'
        '204':
          description: No Content
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /streetaccount/filters:
    get:
      summary: Factset Retrieve All Streetaccount Filters
      tags:
      - Street Account
      operationId: getStreetAccountFilters
      parameters:
      - in: query
        name: structured
        schema:
          type: boolean
        required: false
        allowEmptyValue: true
        description: Pass structured to generate a structured view of the available filters.
      - in: query
        name: flattened
        schema:
          type: boolean
        required: false
        allowEmptyValue: true
        description: Pass flattened to generate a structured view of the available filters.
      description: Add StreetAccount filters (watchlists, company filters, market topics, regions and sectors) to filter down StreetAccount headlines by the relevant categories. Set the structured and/or flattened flag. If structured flag is set, parent and child filter information will be returned. If flattened flag is set, flattened filters will be returned which can be used with the headlines and createView endpoints. Both flags can be set to return both sets of filters.  If no params are provided it will return both
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FilterResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    errorObject:
      type: object
      properties:
        id:
          type: string
          example: abc123
        title:
          type: string
          example: Example Title
        code:
          type: string
          example: example_value
    structuredFiltersWatchlistsObject:
      type: object
      properties:
        name:
          type: string
          example: Example Title
        type:
          type: string
          example: example_value
        value:
          type: string
          example: example_value
    createOrEditViewTickers:
      type: object
      properties:
        name:
          type: string
          example: Russell 1000
        value:
          type: string
          example: R.1000
        type:
          type: string
          example: Index
          enum:
          - Index
          - ETF
          - Holder
          - Mutual_Fund
          - Portfolios
    flattenedFiltersCategoriesObject:
      type: object
      properties:
        name:
          type: string
          example: Example Title
        value:
          type: array
          items:
            type: string
          example: []
      example:
        name: Dividends
        value:
        - SA_DIVIDENDS
    flattenedFilters:
      type: object
      description: Flattened Filters Object
      properties:
        categories:
          type: array
          items:
            $ref: '#/components/schemas/flattenedFiltersCategoriesObject'
          example: []
        topics:
          type: array
          items:
            $ref: '#/components/schemas/flattenedFiltersTopicsObject'
          example: []
        regions:
          type: array
          items:
            $ref: '#/components/schemas/flattenedFiltersRegionsObject'
          example: []
        sectors:
          type: array
          items:
            $ref: '#/components/schemas/flattenedFiltersSectorsObject'
          example: []
        watchlists:
          type: array
          items:
            $ref: '#/components/schemas/flattenedFiltersWatchlistsObject'
          example: []
    createEditDeleteViewResponse:
      type: object
      description: Properties in object are results of the create or save operation
      properties:
        data:
          type: object
          properties:
            id:
              type: string
              example: StreetAccount News Summaries Europe
            message:
              type: object
              properties:
                view:
                  type: string
                  example: View created/edited/deleted sucessfully
          example: example_value
    structuredFilters:
      type: object
      description: Structured Filters Object
      properties:
        categories:
          type: array
          items:
            $ref: '#/components/schemas/structuredFiltersCategoriesObject'
          example: []
        topics:
          type: array
          items:
            $ref: '#/components/schemas/structuredFiltersTopicsObject'
          example: []
        regions:
          type: array
          items:
            $ref: '#/components/schemas/structuredFiltersRegionsObject'
          example: []
        sectors:
          type: array
          items:
            $ref: '#/components/schemas/structuredFiltersSectorsObject'
          example: []
        watchlists:
          type: array
          items:
            $ref: '#/components/schemas/structuredFiltersWatchlistsObject'
          example: []
    structuredFiltersSectorsObject:
      type: object
      properties:
        name:
          type: string
          example: Example Title
        expanded:
          type: boolean
          example: true
        children:
          type: array
          items:
            $ref: '#/components/schemas/structuredFiltersChildrenObject'
          example: []
    structuredFiltersCategoriesObject:
      type: object
      properties:
        name:
          type: string
          example: Example Title
        value:
          type: array
          items:
            type: string
          example: []
        children:
          type: array
          items:
            $ref: '#/components/schemas/structuredFiltersChildrenObject'
          example: []
    FilterResponse:
      type: object
      description: Filters Object
      properties:
        data:
          type: object
          properties:
            structuredFilters:
              $ref: '#/components/schemas/structuredFilters'
            flattenedFilters:
              $ref: '#/components/schemas/flattenedFilters'
          example: example_value
    flattenedFiltersTopicsObject:
      type: object
      properties:
        name:
          type: string
          example: Example Title
        value:
          type: array
          items:
            type: string
          example: []
      example:
        name: '13F Summary '
        value:
        - SA_13F_SUMMARY
    flattenedFiltersRegionsObject:
      type: object
      properties:
        name:
          type: string
          example: Example Title
        value:
          type: array
          items:
            type: number
          example: []
      example:
        name: Canada
        value:
        - 5
    structuredFiltersTopicsObject:
      type: object
      properties:
        name:
          type: string
          example: Example Title
        value:
          type: array
          items:
            type: string
          example: []
        children:
          type: array
          items:
            $ref: '#/components/schemas/structuredFiltersChildrenObject'
          example: []
    views:
      type: object
      description: StreetAccount views
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/viewsObject'
          example: []
    structuredFiltersChildrenObject:
      type: object
      properties:
        name:
          type: string
          example: Example Title
        value:
          type: array
          items:
            type: string
          example: []
    flattenedFiltersWatchlistsObject:
      type: object
      properties:
        name:
          type: string
          example: Example Title
        type:
          type: string
          example: example_value
        value:
          type: string
          example: example_value
      example:
        name: S&P 500
        type: Index
        value: SP50
    structuredFiltersRegionsObject:
      type: object
      properties:
        name:
          type: string
          example: Example Title
        value:
          type: array
          items:
            type: number
          example: []
    flattenedFiltersSectorsObject:
      type: object
      properties:
        name:
          type: string
          example: Example Title
        value:
          type: array
          items:
            type: number
          example: []
      example:
        name: Chemical Manufacturing
        value:
        - 106
    error:
      type: object
      properties:
        meta:
          type: object
          example: example_value
        errors:
          type: array
          items:
            $ref: '#/components/schemas/errorObject'
          example: []
    viewsObject:
      type: object
      properties:
        viewName:
          type: string
          example: Sample View
        tickers:
          type: array
          items:
            type: string
            example: FDS-US
          example: []
        categories:
          type: array
          items:
            type: string
            example: News Media
          example: []
        topics:
          type: array
          items:
            type: string
            example: 'Market Summaries '
          example: []
        regions:
          type: array
          items:
            type: string
            example: North America
          example: []
        sectors:
          type: array
          items:
            type: string
            example: Chemicals - Plastics & Rubber
          example: []
        isPrimary:
          type: boolean
          example: true
    createOrEditViewBody:
      type: object
      properties:
        data:
          type: object
          properties:
            tickers:
              type: array
              items:
                $ref: '#/components/schemas/createOrEditViewTickers'
            categories:
              type: array
              items:
                type: string
                example: Earnings
            regions:
              type: array
              items:
                type: string
                example: North America
            topics:
              type: array
              items:
                type: string
                example: Market Summaries
            sectors:
              type: array
              items:
                type: string
                example: Gold & Silver
            isPrimary:
              type: boolean
              example: true
            quickAlert:
              type: boolean
              example: false
          example: example_value
  requestBodies:
    createOrEditViewBody:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/createOrEditViewBody'
      description: Create or Edit View Body which needs to be sent with request
  securitySchemes:
    FactSetOAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://auth.factset.com/as/token.oauth2
          scopes: {}
    FactSetApiKey:
      type: http
      scheme: basic
externalDocs:
  description: API Documentation
  url: https://developer.factset.com/api-catalog/streetaccount-news-api
