openapi: 3.2.0
info:
  title: Factset Watchlist API
  version: '2'
  description: 'Operations tagged Watchlist across 2 of this provider''s published API definitions: factset-virtual-portfolio-api-for-digital-portals-openapi.yml, factset-watchlist-api-for-digital-portals-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.factset.com/wealth/v1
security:
- Basic: []
tags:
- name: Watchlist
paths:
  /watchlist/create:
    post:
      tags:
      - Watchlist
      operationId: post/watchlist/create
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: true
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: true
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      description: "Create a watchlist.\n\nCertain error conditions yield errors as follows: \n\n|Error Condition|HTTP Error|\n|-------|--------|\n|The number of watchlists would exceed 100.|400 Bad Request|"
      summary: Create a watchlist.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostWatchlistCreateRequest'
      responses:
        '201':
          $ref: '#/components/responses/PostWatchlistCreate201Response'
      parameters: []
    servers:
    - url: https://api.factset.com/wealth/v1
  /watchlist/delete:
    post:
      tags:
      - Watchlist
      operationId: post/watchlist/delete
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: true
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: true
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      description: Delete a watchlist.
      summary: Delete a watchlist.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostWatchlistDeleteRequest'
      responses:
        '200':
          $ref: '#/components/responses/PostWatchlistDelete200Response'
      parameters: []
    servers:
    - url: https://api.factset.com/wealth/v1
  /watchlist/get:
    get:
      tags:
      - Watchlist
      operationId: get/watchlist/get
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: true
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      description: Details of a watchlist.
      summary: Details of a watchlist.
      parameters:
      - name: id
        in: query
        schema:
          description: Identifier of the watchlist.
          type: string
          format: id64
          x-positive: true
        required: true
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      responses:
        '200':
          $ref: '#/components/responses/GetWatchlistGet200Response'
    servers:
    - url: https://api.factset.com/wealth/v1
  /watchlist/list:
    get:
      tags:
      - Watchlist
      operationId: get/watchlist/list
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: true
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 4
      x-supportsPermissionDeniedResponse: false
      description: List of watchlists.
      summary: List of watchlists.
      responses:
        '200':
          $ref: '#/components/responses/GetWatchlistList200Response'
      parameters:
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      - description: Sortable attributes. The sort order is ascending unless it is prefixed with a minus sign, in which case it is descending. A list of at most 4 (possibly prefixed) attribute name(s) is allowed.
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - -id
            - name
            - -name
            - numberPositions
            - -numberPositions
            - creation
            - -creation
          maxItems: 4
          uniqueItems: true
          default:
          - name
        style: form
        explode: false
        name: _sort
        in: query
    servers:
    - url: https://api.factset.com/wealth/v1
components:
  responses:
    PostWatchlistCreate201Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: object
                x-property-sort:
                - id
                properties:
                  id:
                    type:
                    - string
                    - 'null'
                    format: id64
                    x-positive: true
                    description: Identifier of the watchlist.
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                x-property-sort:
                - status
    PostWatchlistDelete200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                description: This member is always empty.
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                x-property-sort:
                - status
    GetWatchlistList200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: array
                items:
                  type: object
                  x-property-sort:
                  - id
                  - name
                  - numberPositions
                  - creation
                  properties:
                    id:
                      description: Identifier of the watchlist.
                      x-sortable: true
                      type:
                      - string
                      - 'null'
                      format: id64
                      x-positive: true
                    name:
                      description: Name of the watchlist.
                      x-sortable: true
                      x-default-sort-attribute: true
                      x-default-sort-direction: 1
                      type:
                      - string
                      - 'null'
                    numberPositions:
                      description: Number of positions.
                      x-sortable: true
                      type:
                      - number
                      - 'null'
                      format: int32
                    creation:
                      description: Date and time of the watchlist creation.
                      x-sortable: true
                      type:
                      - string
                      - 'null'
                      format: datetime
                description: List of watchlist.
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                x-property-sort:
                - status
    GetWatchlistGet200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                description: Details of the watchlist.
                type: object
                x-property-sort:
                - id
                - name
                - numberPositions
                - creation
                properties:
                  id:
                    description: Identifier of the watchlist.
                    type:
                    - string
                    - 'null'
                    format: id64
                    x-positive: true
                  name:
                    description: Name of the watchlist.
                    type:
                    - string
                    - 'null'
                  numberPositions:
                    description: Number of positions.
                    type:
                    - number
                    - 'null'
                    format: int32
                  creation:
                    description: Date and time of the watchlist creation.
                    type:
                    - string
                    - 'null'
                    format: datetime
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                x-property-sort:
                - status
  schemas:
    StatusObject:
      type: object
      properties:
        code:
          type: number
          format: int32
          description: The HTTP status code of the response, mirroring the code from the Status-Line of the HTTP response message (see [RFC2616] section 6.1).
      description: The status member contains the status code of the response.
      required:
      - code
    AttributesMember:
      type: array
      description: Limit the attributes returned in the response to the specified set.
      items:
        type: string
        maxLength: 100
      maxItems: 50
      uniqueItems: true
    PostWatchlistCreateRequest:
      type: object
      properties:
        data:
          type: object
          x-property-sort:
          - name
          description: The data member contains the request's primary data.
          properties:
            name:
              description: Name of the watchlist.
              type: string
              pattern: ^[\u0020-\u002e\u0030-\u003a\u003d\u003f-\u005d\u005f\u0061-\u007e\u00c0-\u00ff\u20ac]*$
              x-trim: false
              minLength: 1
              maxLength: 100
          required:
          - name
        meta:
          type: object
          description: The meta member contains the meta information of the request.
          properties:
            attributes:
              $ref: '#/components/schemas/AttributesMember'
          x-property-sort:
          - attributes
    PostWatchlistDeleteRequest:
      type: object
      properties:
        data:
          type: object
          x-property-sort:
          - id
          description: The data member contains the request's primary data.
          properties:
            id:
              description: Identifier of the watchlist.
              type: string
              format: id64
              x-positive: true
          required:
          - id
        meta:
          type: object
          description: The meta member contains the meta information of the request.
          properties:
            attributes:
              $ref: '#/components/schemas/AttributesMember'
          x-property-sort:
          - attributes
    StatusObject_2:
      type: object
      properties:
        code:
          type: number
          format: int32
          description: The HTTP status code of the response, mirroring the code from the Status-Line of the HTTP response message (see [RFC2616] section 6.1).
          example: 42.5
      description: The status member contains the status code of the response.
      required:
      - code
    PostWatchlistCreateRequest_2:
      type: object
      properties:
        data:
          type: object
          x-property-sort:
          - name
          description: The data member contains the request's primary data.
          properties:
            name:
              description: Name of the watchlist.
              type: string
              pattern: ^[\u0020-\u002e\u0030-\u003a\u003d\u003f-\u005d\u005f\u0061-\u007e\u00c0-\u00ff\u20ac]*$
              x-trim: false
              minLength: 1
              maxLength: 100
          required:
          - name
          example: example_value
        meta:
          type: object
          description: The meta member contains the meta information of the request.
          properties:
            attributes:
              $ref: '#/components/schemas/AttributesMember'
          x-property-sort:
          - attributes
          example: example_value
    PostWatchlistDeleteRequest_2:
      type: object
      properties:
        data:
          type: object
          x-property-sort:
          - id
          description: The data member contains the request's primary data.
          properties:
            id:
              description: Identifier of the watchlist.
              type: string
              format: id64
              x-positive: true
          required:
          - id
          example: example_value
        meta:
          type: object
          description: The meta member contains the meta information of the request.
          properties:
            attributes:
              $ref: '#/components/schemas/AttributesMember'
          x-property-sort:
          - attributes
          example: example_value
  securitySchemes:
    Basic:
      type: http
      description: Input your username and password to access this API.
      scheme: basic
externalDocs:
  description: Endpoint Reference
  url: https://endpointreference.mdgms.com
x-refined-from:
- factset-virtual-portfolio-api-for-digital-portals-openapi.yml
- factset-watchlist-api-for-digital-portals-openapi.yml
