openapi: 3.2.0
info:
  title: Factset Company API
  version: '1.0'
  description: 'Operations tagged Company across 4 of this provider''s published API definitions: company-logo-api-for-digital-portals-openapi-original.yml, digital-cards-openapi-original.yml, event-calendar-openapi-original.yml, factset-stocks-api-for-digital-portals-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.factset.com/wealth/v1
- url: https://api.factset.com/digital-cards-api
  description: Production
- url: https://api.factset.com/event-calendar/v1
tags:
- name: Company
paths:
  /company/logo/get:
    get:
      tags:
      - Company
      operationId: get/company/logo/get
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Factset List of URLs of company logos.
      description: "List of URLs for transparent company logos in different sizes and formats.   The different sizes for the rectangular and square formats are: \n\n **Small**:\n * rectangular:  maximum width of 88 pixels and maximum height of 31 pixels.\n * square:  31 x 31 pixels.\n\n\n **Medium**: small logo scaled up by 200%.\n\n **Large**: small logo scaled up by 300%.\n\n **Vector**: can be rendered at any size."
      parameters:
      - name: identifier
        in: query
        required: true
        description: 'Identifier that resolves to a company. '
        schema:
          type: string
          maxLength: 50
          minLength: 4
          pattern: ^(([0-9A-Z]{6}-[SLR])|([0-9A-Z.]{1,47}-[A-Z]{2,4})|([0-9]{1,20}))$
      - name: identifierType
        in: query
        required: true
        description: The type of the identifier.
        x-enum-description:
        - MDG identifier of an instrument.
        - 'FactSet market symbol of the notation, usually consisting of the ticker (e.g. "FDS" for FactSet Research Systems Inc.) and the three-character code of the exchange on which the listing is traded (example: FDS-NYS).'
        schema:
          type: string
          enum:
          - idInstrument
          - tickerExchange
      - name: format
        in: query
        description: Format of the logos.
        required: false
        x-enum-description:
        - Logos in rectangular format
        - Logos in square format
        schema:
          type: string
          enum:
          - rectangular
          - square
          default: rectangular
      - name: _attributes
        in: query
        description: Limit the attributes returned in the response to the specified set.
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            maxLength: 100
          maxItems: 50
          uniqueItems: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    description: URLs of company logos. All URLs are publicly available via HTTPS and hosted by FactSet with a top-level domain `mdgms.com`. For possible values of the attribute `mimeType`, see endpoint `/basic/media/type/list` with parameter `filter.ids=1 (image)`.
                    type: object
                    x-property-sort:
                    - small
                    - medium
                    - large
                    - vector
                    properties:
                      small:
                        type: object
                        x-property-sort:
                        - url
                        - mimeType
                        description: Small logo.
                        properties:
                          url:
                            type: string
                            format: url
                            description: URL of the logo.
                          mimeType:
                            type: string
                            description: MIME type of the logo.
                      medium:
                        type: object
                        x-property-sort:
                        - url
                        - mimeType
                        description: Medium logo.
                        properties:
                          url:
                            type: string
                            format: url
                            description: URL of the logo.
                          mimeType:
                            type: string
                            description: MIME type of the logo.
                      large:
                        type: object
                        x-property-sort:
                        - url
                        - mimeType
                        description: Large logo.
                        properties:
                          url:
                            type: string
                            format: url
                            description: URL of the logo.
                          mimeType:
                            type: string
                            description: MIME type of the logo.
                      vector:
                        type: object
                        x-property-sort:
                        - url
                        - mimeType
                        description: Vector logo.
                        properties:
                          url:
                            type: string
                            format: url
                            description: URL of the logo.
                          mimeType:
                            type: string
                            description: MIME type of the logo.
                  meta:
                    type: object
                    description: The meta member contains the meta information of the response.
                    properties:
                      status:
                        $ref: '#/components/schemas/StatusObject'
                    x-property-sort:
                    - status
      security:
      - Basic: []
    servers:
    - url: https://api.factset.com/wealth/v1
  /v1/company/{component}/adaptive-card:
    parameters:
    - name: component
      in: path
      required: true
      description: Card name
      schema:
        type: string
        enum:
        - profile
        - event-calendar
    - name: ids
      in: query
      required: true
      description: Public company tickers (comma delimited)
      schema:
        type: string
        default: FDS-US
    - name: format
      in: query
      description: Return data in different format. By default adaptive cards will be returned in key (ticker) value (adaptive card) pairs in a object. Table option would return adaptive cards in an array
      schema:
        type: string
        enum:
        - table
    - name: thumbnail
      in: query
      description: Whether or not to include a thumbnail card in the return data
      schema:
        type: boolean
        enum:
        - true
        - false
    get:
      tags:
      - Company
      summary: Factset Retrieve Multiple Digital Cards in Microsoft Adaptive Card Format.
      responses:
        '200':
          description: Digital Card JSON received.
          headers:
            Content-Encoding:
              description: Standard HTTP header. Header value based on Accept-Encoding Request header.
              schema:
                type: string
            Content-Type:
              description: Standard HTTP header.
              schema:
                type: string
          content:
            application/json:
              examples:
                objectExample1:
                  $ref: '#/components/examples/MultiplePorfileCard'
                objectExample2:
                  $ref: '#/components/examples/MultipleEventCalendarCard'
        '400':
          description: Bad Request. For further assistance, file an issue under "Workflow & Throttling - 400 or 429 Response" using `Report Issue` at the top of this page, including the X-DataDirect-Request-Key from the header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              schema:
                type: string
              description: FactSet request ID
            Api-Supported-Versions:
              schema:
                type: string
              description: Supported API major versions
            Api-Version:
              schema:
                type: string
              description: API version (semantic versioning)
        '401':
          description: Missing or invalid authentication. Ensure you are logged in and have successfully generated an API KEY for the IP range you are connecting from. For further assistance, file an issue under "Connectivty - 401 or 403 Responses" using `Report Issue` at the top of this page, including the X-DataDirect-Request-Key from the header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              schema:
                type: string
              description: FactSet request ID
        '404':
          description: Not found. For further assistance, file an issue under "Performance - 404 and 500 Responses" using `Report Issue` at the top of this page, including the X-DataDirect-Request-Key from the header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              schema:
                type: string
              description: FactSet request ID
        '429':
          description: Too many requests - this API is rate-limited to 20 requests per second. For further assistance, file an issue under "Workflow & Throttling - 400 or 429 Response" using `Report Issue` at the top of this page, including the X-DataDirect-Request-Key from the header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              schema:
                type: string
              description: FactSet request ID
        '500':
          description: Server error. For further assistance, file an issue under "Performance - 404 and 500 Responses" using `Report Issue` at the top of this page, including the X-DataDirect-Request-Key from the header to assist in troubleshooting
          headers:
            X-DataDirect-Request-Key:
              schema:
                type: string
              description: FactSet request ID
        '503':
          description: Service unavailable. Typically a timeout, or result of a rejected request to prevent service overload. For further assistance, file an issue under "Performance - 404 and 500 Responses" using `Report Issue` at the top of this page, including the X-DataDirect-Request-Key from the header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              schema:
                type: string
              description: FactSet request ID
      security:
      - basicAuth: []
    servers:
    - url: https://api.factset.com/digital-cards-api
      description: Production
  /v1/company/{component}/adaptive-card/{id}:
    parameters:
    - name: component
      in: path
      required: true
      description: Card name
      schema:
        type: string
        enum:
        - profile
        - event-calendar
    - name: id
      in: path
      required: true
      description: Public company ticker
      schema:
        type: string
        default: FDS-US
    get:
      tags:
      - Company
      summary: Factset Retrieve One Digital Card in Microsoft Adaptive Card Format.
      responses:
        '200':
          description: Digital Card JSON received.
          headers:
            Content-Encoding:
              description: Standard HTTP header. Header value based on Accept-Encoding Request header.
              schema:
                type: string
            Content-Type:
              description: Standard HTTP header.
              schema:
                type: string
          content:
            application/json:
              examples:
                objectExample1:
                  $ref: '#/components/examples/OneProfileCard'
                objectExample2:
                  $ref: '#/components/examples/OneEventCalendarCard'
        '400':
          description: Bad Request. For further assistance, file an issue under "Workflow & Throttling - 400 or 429 Response" using `Report Issue` at the top of this page, including the X-DataDirect-Request-Key from the header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              schema:
                type: string
              description: FactSet request ID
            Api-Supported-Versions:
              schema:
                type: string
              description: Supported API major versions
            Api-Version:
              schema:
                type: string
              description: API version (semantic versioning)
        '401':
          description: Missing or invalid authentication. Ensure you are logged in and have successfully generated an API KEY for the IP range you are connecting from. For further assistance, file an issue under "Connectivty - 401 or 403 Responses" using `Report Issue` at the top of this page, including the X-DataDirect-Request-Key from the header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              schema:
                type: string
              description: FactSet request ID
        '404':
          description: Not found. For further assistance, file an issue under "Performance - 404 and 500 Responses" using `Report Issue` at the top of this page, including the X-DataDirect-Request-Key from the header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              schema:
                type: string
              description: FactSet request ID
        '429':
          description: Too many requests - this API is rate-limited to 20 requests per second. For further assistance, file an issue under "Workflow & Throttling - 400 or 429 Response" using `Report Issue` at the top of this page, including the X-DataDirect-Request-Key from the header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              schema:
                type: string
              description: FactSet request ID
        '500':
          description: Server error. For further assistance, file an issue under "Performance - 404 and 500 Responses" using `Report Issue` at the top of this page, including the X-DataDirect-Request-Key from the header to assist in troubleshooting
          headers:
            X-DataDirect-Request-Key:
              schema:
                type: string
              description: FactSet request ID
        '503':
          description: Service unavailable. Typically a timeout, or result of a rejected request to prevent service overload. For further assistance, file an issue under "Performance - 404 and 500 Responses" using `Report Issue` at the top of this page, including the X-DataDirect-Request-Key from the header to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              schema:
                type: string
              description: FactSet request ID
      security:
      - basicAuth: []
    servers:
    - url: https://api.factset.com/digital-cards-api
      description: Production
  /company/event/list:
    post:
      summary: Factset Retrieve Company Event data
      description: This endpoint returns all company events with filters from the request.
      tags:
      - Company
      operationId: getCompanyEvent
      requestBody:
        $ref: '#/components/requestBodies/companyEventRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/companyEventResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
      security:
      - FactSetApiKey: []
      - FactSetOAuth2: []
    servers:
    - url: https://api.factset.com/event-calendar/v1
  /company/keyItems/current/getByInstrument:
    post:
      tags:
      - Company
      operationId: post/company/keyItems/current/getByInstrument
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Fundamentals for a stock with potentially daily updates.
      description: Fundamentals for a stock with potentially daily updates; any other instrument yields empty values for stock-specific attributes. The price used to calculate the various price-dependent figures is unspecified and the exchange for that price is not identified. Dates are interpreted in the timezone of the data provider. For reported company fundamentals of the previous fiscal years (only closed fiscal years) see endpoint `/company/keyItems/fiscalYear/listByInstrument.`
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostCompanyKeyItemsCurrentGetByInstrumentRequest'
      responses:
        '200':
          $ref: '#/components/responses/PostCompanyKeyItemsCurrentGetByInstrument200Response'
      parameters: []
      security:
      - Basic: []
    servers:
    - url: https://api.factset.com/wealth/v1
  /company/keyItems/fiscalYear/listByInstrument:
    post:
      tags:
      - Company
      operationId: post/company/keyItems/fiscalYear/listByInstrument
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Selected fundamentals for a stock with values as of the end of a fiscal year.
      description: Selected fundamentals for a stock with values as of the end of a fiscal year; any other instrument yields empty values for stock-specific attributes. The endpoint allows the retrieval of data only for specified fiscal years by using the start and end properties. Since a fiscal year and a calendar year do not necessarily match with regard to their start and end dates, the year is derived as the calendar year occupied to a larger extent by the fiscal year, using a June through May fiscal year assignment. That means, fiscal years ending from the 1st of June onwards are assigned to the same calendar year. Dates are interpreted in the timezone of the location of the head office of the company.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostCompanyKeyItemsFiscalYearListByInstrumentRequest'
      responses:
        '200':
          $ref: '#/components/responses/PostCompanyKeyItemsFiscalYearListByInstrument200Response'
      parameters: []
      security:
      - Basic: []
    servers:
    - url: https://api.factset.com/wealth/v1
  /company/estimates/listByInstrument:
    post:
      tags:
      - Company
      operationId: post/company/estimates/listByInstrument
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      description: Fiscal year estimates for selected figures of a stock. Data is available only for common shares; instruments such as preferred shares or depository receipts yield an empty result. For the share type, see endpoint `/instrument/category/list` using dataset 23. Data can be retrieved only for the current, the past, and three future fiscal years. For past fiscal years, the estimates are not being replaced by the reported figures. Since a fiscal year and a calendar year do not necessarily match with regard to their start and end dates, the year is derived as the calendar year occupied to a larger extent by the fiscal year, using a June through May fiscal year assignment. That means, fiscal years ending from the 1st of June onwards are assigned to the same calendar year. Dates are interpreted in the timezone of the location of the head office of the company.
      summary: Estimates for selected figures for a stock.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostCompanyEstimatesListByInstrumentRequest'
      responses:
        '200':
          $ref: '#/components/responses/PostCompanyEstimatesListByInstrument200Response'
      parameters: []
      security:
      - Basic: []
    servers:
    - url: https://api.factset.com/wealth/v1
  /company/board/listByInstrument:
    get:
      tags:
      - Company
      operationId: get/company/board/listByInstrument
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: List of boards for a company, with their officers.
      description: List of boards for a company, with their officers. A given person may be a member ofdifferent boards of the same company but also a member of boards of different companies.
      parameters:
      - name: id
        in: query
        schema:
          type: string
          format: id64
          x-positive: true
          description: Identifier of the instrument representing company shares.Any other instrument yields empty values.
        required: true
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      - name: _language
        in: query
        schema:
          type: string
          format: isoLanguage
          description: ISO 639-1 code of the language.
          maxLength: 2
          minLength: 2
      responses:
        '200':
          $ref: '#/components/responses/GetCompanyBoardListByInstrument200Response'
      security:
      - Basic: []
    servers:
    - url: https://api.factset.com/wealth/v1
  /company/board/officer/function/delivery/list:
    get:
      tags:
      - Company
      operationId: get/company/board/officer/function/delivery/list
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: List of officer functions as provided by a delivery.
      description: List of officer functions as provided by a delivery.
      responses:
        '200':
          $ref: '#/components/responses/GetCompanyBoardOfficerFunctionDeliveryList200Response'
      parameters:
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      - name: _language
        in: query
        schema:
          type: string
          format: isoLanguage
          description: ISO 639-1 code of the language.
          maxLength: 2
          minLength: 2
      security:
      - Basic: []
    servers:
    - url: https://api.factset.com/wealth/v1
  /company/board/type/list:
    get:
      tags:
      - Company
      operationId: get/company/board/type/list
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: List of company board types.
      description: List of company board types.
      responses:
        '200':
          $ref: '#/components/responses/GetCompanyBoardTypeList200Response'
      parameters:
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      - name: _language
        in: query
        schema:
          type: string
          format: isoLanguage
          description: ISO 639-1 code of the language.
          maxLength: 2
          minLength: 2
      security:
      - Basic: []
    servers:
    - url: https://api.factset.com/wealth/v1
components:
  schemas:
    StatusObject:
      type: object
      properties:
        code:
          type: number
          format: int32
          description: The HTTP status code of the response, mirroring the code from the Status-Line of the HTTP response message (see [RFC2616] section 6.1).
      description: The status member contains the status code of the response.
      required:
      - code
    companyEventResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              ticker:
                type: string
                example: AAPL-US
              companyName:
                type: string
                example: Apple, Inc.
              description:
                type: string
                example: Q2 2023 Earnings Release (Projected)
              eventDateTime:
                type: string
                format: date-time
                example: '2023-01-01T00:00:00Z'
              marketTimeCode:
                type: string
                example: Unspecified
              eventType:
                type: string
                enum:
                - E
                - SA
                - G
                - AM
                - SM
                - SS
                - CP
                - confirmedER
                - SR
                - projectedER
                - S
                - D
                example: E
              eventId:
                type: string
                example: '1200867930'
              webcastLink:
                type: string
                example: ''
              irLink:
                type: string
                example: investor.apple.com/investor-relations/default.aspx
              fiscalYear:
                type: string
                example: '2023'
              fiscalPeriod:
                type: string
                example: '1'
              contactEmail:
                type: string
                example: jdoe@apple.com
              contactPhone:
                type: string
                example: 1(888)227.0303
              contactName:
                type: string
                example: John Doe
    errorResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/error'
    companyEventRequest:
      type: object
      properties:
        data:
          type: object
          properties:
            date:
              type: object
              properties:
                start:
                  description: Event start time as date/time string according to ISO 8601.
                  type: string
                  format: date-time
                  example: '2022-12-01T00:00:00Z'
                end:
                  description: Event end time as date/time string according to ISO 8601.
                  type: string
                  format: date-time
                  example: '2022-12-31T22:59:02Z'
            universe:
              type: object
              properties:
                symbols:
                  description: Companies to return in the response
                  type: array
                  items:
                    type: string
                  example:
                  - AAPL-US
                  - MSFT-US
                  - FDS-US
                type:
                  type: string
                  enum:
                  - tickers
                  - index
                  - etf
                  - mutual
                  - allCompanies
                  example: tickers
            types:
              description: The type of events returned in the response
              type: array
              items:
                type: string
                enum:
                - E
                - SA
                - G
                - AM
                - SM
                - SS
                - CP
                - confirmedER
                - SR
                - projectedER
                - S
                - D
                example: E
    error:
      type: object
      properties:
        title:
          type: string
        code:
          type: string
        id:
          type: string
    PostCompanyEstimatesListByInstrumentRequest:
      type: object
      properties:
        data:
          type: object
          x-property-sort:
          - id
          - fiscalYears
          - currency
          description: The data member contains the request's primary data.
          properties:
            id:
              type: string
              format: id64
              x-positive: true
              description: Identifier of the instrument
            fiscalYears:
              type: object
              x-property-sort:
              - start
              - end
              description: The response includes data items from the fiscal year specified as start (inclusive) up to the fiscal year specified as end (inclusive). The attribute `start` must be less than or equal to the attribute `end`.
              properties:
                start:
                  type: number
                  format: int32
                  description: Only include data items for a fiscal year greater than or equal to the one specified. Must be greater than or equal to one year in the past. If omitted, the response includes data from one year in the past up to the year specified as `end`.
                end:
                  type: number
                  format: int32
                  description: Only include data items for a fiscal year earlier than or equal to the one specified. Must be less than or equal to three years in the future. If omitted, the response includes data from the year specified as `start` up to three years in the future.
            currency:
              type: object
              x-property-sort:
              - isoCode
              description: Main currency into which the estimated figures representing a monetary value are converted.
              properties:
                isoCode:
                  type: string
                  description: ISO 4217 code of the currency.
                  x-enum-description:
                  - Euro
                  - US Dollar
                  - British Pound Sterling
                  - Swiss Franc
                  enum:
                  - EUR
                  - USD
                  - GBP
                  - CHF
              required:
              - isoCode
          required:
          - id
          - currency
        meta:
          type: object
          description: The meta member contains the meta information of the request.
          properties:
            attributes:
              $ref: '#/components/schemas/AttributesMember'
          x-property-sort:
          - attributes
    PostCompanyKeyItemsFiscalYearListByInstrumentRequest:
      type: object
      properties:
        data:
          type: object
          x-property-sort:
          - id
          - fiscalYears
          - currency
          description: The data member contains the request's primary data.
          properties:
            id:
              type: string
              format: id64
              x-positive: true
              description: Identifier of the instrument.
            fiscalYears:
              type: object
              x-property-sort:
              - start
              - end
              description: Response will include data items from the fiscal year specified as start (inclusive) up to the fiscal year specified as end (inclusive). If either is omitted the response will include data items from the earliest or up to the most recent fiscal year available respectively. Alternatively, if both are specified start must be less than end. Either must be at most ten years in the past. Note that earliest data availability varies for each stock.
              properties:
                start:
                  type: number
                  format: int32
                  description: Only include data items for a fiscal year greater than or equal to the one specified. Must be greater than or equal to ten years in the past.
                end:
                  type: number
                  format: int32
                  description: Only include data items for a fiscal year earlier than or equal to the one specified. Must be less than or equal to the current year.
            currency:
              type: object
              x-property-sort:
              - isoCode
              description: Currency in which the attributes representing a monetary value are returned. If none is selected, the reporting currency of the company is used.
              properties:
                isoCode:
                  type: string
                  description: ISO code of the currency.
                  x-enum-description:
                  - Euro
                  - US Dollar
                  - British Pound Sterling
                  - Swiss Franc
                  enum:
                  - EUR
                  - USD
                  - GBP
                  - CHF
          required:
          - id
        meta:
          type: object
          description: The meta member contains the meta information of the request.
          properties:
            attributes:
              $ref: '#/components/schemas/AttributesMember'
            language:
              $ref: '#/components/schemas/LanguageMember'
          x-property-sort:
          - attributes
          - language
    AttributesMember:
      type: array
      description: Limit the attributes returned in the response to the specified set.
      items:
        type: string
        maxLength: 100
      maxItems: 50
      uniqueItems: true
    PostCompanyKeyItemsCurrentGetByInstrumentRequest:
      type: object
      properties:
        data:
          type: object
          x-property-sort:
          - id
          - currency
          description: The data member contains the request's primary data.
          properties:
            id:
              type: string
              format: id64
              x-positive: true
              description: Identifier of an instrument.
            currency:
              type: object
              x-property-sort:
              - isoCode
              description: Main currency of the currency-dependent attributes.
              properties:
                isoCode:
                  type: string
                  description: ISO code of the currency.
                  x-enum-description:
                  - Euro
                  - US Dollar
                  - British Pound Sterling
                  - Swiss Franc
                  enum:
                  - EUR
                  - USD
                  - GBP
                  - CHF
              required:
              - isoCode
          required:
          - id
          - currency
        meta:
          type: object
          description: The meta member contains the meta information of the request.
          properties:
            attributes:
              $ref: '#/components/schemas/AttributesMember'
            language:
              $ref: '#/components/schemas/LanguageMember'
          x-property-sort:
          - attributes
          - language
    LanguageMember:
      type: string
      format: isoLanguage
      description: ISO 639-1 code of the language.
      maxLength: 2
      minLength: 2
  examples:
    OneProfileCard:
      summary: Company profile card
      description: Example request for one company profile adaptive card
      value:
        data:
          adaptiveCard:
            type: AdaptiveCard
            body:
            - type: TextBlock
              text: FactSet Research Systems Inc. (FDS-US)
              size: Large
              weight: Lighter
              wrap: true
            - type: TextBlock
              text: As of 21 May '21
              isSubtle: true
              size: Small
              spacing: Small
              wrap: true
            - type: ColumnSet
              columns:
              - type: Column
                width: auto
                items:
                - type: TextBlock
                  text: Price
                  isSubtle: true
                  size: Small
                - type: TextBlock
                  text: $331.39
                  color: Good
                  size: Small
                  weight: Bolder
                  spacing: None
              - type: Column
                width: auto
                items:
                - type: TextBlock
                  text: Mkt Cap (M)
                  isSubtle: true
                  size: Small
                - type: TextBlock
                  text: $12,389
                  size: Small
                  weight: Bolder
                  spacing: None
              spacing: Small
            - type: ColumnSet
              spacing: Small
              columns:
              - type: Column
                width: auto
                items:
                - type: TextBlock
                  text: 3M
                  isSubtle: true
                  size: Small
                - type: TextBlock
                  text: 5.65%
                  color: Good
                  size: Small
                  weight: Bolder
                  spacing: None
              - type: Column
                width: auto
                items:
                - type: TextBlock
                  text: YTD
                  isSubtle: true
                  size: Small
                - type: TextBlock
                  text: -0.33%
                  color: Attention
                  size: Small
                  weight: Bolder
                  spacing: None
              - type: Column
                width: auto
                items:
                - type: TextBlock
                  text: 1Y
                  isSubtle: true
                  size: Small
                - type: TextBlock
                  text: 14.11%
                  color: Good
                  size: Small
                  weight: Bolder
                  spacing: None
            - type: ColumnSet
              spacing: Medium
              columns:
              - type: Column
                width: auto
                items:
                - type: TextBlock
                  text: Sales (M)
                  isSubtle: true
                  size: Small
                - type: TextBlock
                  text: $1,538
                  size: Small
                  weight: Bolder
                  spacing: None
                  wrap: true
              - type: Column
                width: auto
                items:
                - type: TextBlock
                  text: Industry
                  isSubtle: true
                  size: Small
                - type: TextBlock
                  text: Data Processing Services
                  size: Small
                  weight: Bolder
                  spacing: None
                  wrap: true
            - type: TextBlock
              text: Upcoming Event
              $when: true
              isSubtle: true
              size: Small
              spacing: Small
            - type: TextBlock
              text: Q3 2021 Earnings Release (Projected) on 29 Jun '21
              $when: true
              wrap: true
              size: Small
              weight: Bolder
              spacing: None
            - type: TextBlock
              text: Most Recent Deal
              $when: true
              isSubtle: true
              size: Small
              spacing: Small
            - type: TextBlock
              $when: true
              text: FactSet Research Systems, Inc. acquires TruValue Labs, Inc.  (20 Oct '20)
              wrap: true
              size: Small
              weight: Bolder
              spacing: None
            - type: TextBlock
              text: Description
              isSubtle: true
              size: Small
              spacing: Medium
            - type: TextBlock
              text: FactSet Research Systems Inc. (the "Company" or "FactSet") is a global provider of integrated financial information, analytical applications and services for the investment and corporate communities. Since inception, global financial professionals have utilized the Company's cont...
              wrap: true
              size: Small
              spacing: None
            - type: TextBlock
              text: 'Source: [FactSet](https://www.factset.com)'
              size: Small
              separator: true
              spacing: ExtraLarge
            $schema: http://adaptivecards.io/schemas/adaptive-card.json
            version: '1.2'
        meta: null
    MultipleEventCalendarCard:
      summary: Event calendar cards
      description: Example request for multiple event calendar adaptive cards
      value:
        data:
          FDS-US:
            adaptiveCard:
              type: AdaptiveCard
              body:
              - type: TextBlock
                text: FactSet Research Systems Inc. (FDS-US)
                size: Large
                weight: Lighter
                wrap: true
              - type: TextBlock
                text: Upcoming Events
                wrap: true
                fontType: Monospace
                size: Medium
                weight: Bolder
              - type: TextBlock
                text: No Events
                wrap: true
                $when: true
              - type: ColumnSet
                columns:
                - type: Column
                  width: stretch
                  items: []
                  height: stretch
                - type: Column
                  width: stretch
                  items: []
              - type: TextBlock
                text: Past Events
                wrap: true
                fontType: Monospace
                size: Medium
                weight: Bolder
              - type: ColumnSet
                $when: true
                columns:
                - type: Column
                  width: stretch
                  items:
                  - type: TextBlock
                    text: Barclays Americas Select Franchise Virtual Conference
                    wrap: true
                    height: stretch
                  - type: TextBlock
                    text: Trade Tech Europe Conference
                    wrap: true
                    height: stretch
                - type: Column
                  width: stretch
                  items:
                  - type: TextBlock
                    text: 19 May '21, 11:00 AM
                    wrap: true
                    height: stretch
                  - type: TextBlock
                    text: 27 Apr '21
                    wrap: true
                    height: stretch
              - type: TextBlock
                text: '[Company/Security - Event Calendar](https://my.apps.factset.com/navigator/company-security/event-calendar/FDS-US)'
                wrap: true
                spacing: ExtraLarge
                separator: true
              $schema: http://adaptivecards.io/schemas/adaptive-card.json
              version: '1.2'
            thumbnail:
              contentType: application/vnd.microsoft.card.thumbnail
              content:
                title: FactSet Research Systems Inc. (FDS-US)
                text: Event Calendar
          IBM-US:
            adaptiveCard:
              type: AdaptiveCard
              body:
              - type: TextBlock
                text: International Business Machines Corporation (IBM-US)
                size: Large
                weight: Lighter
                wrap: true
              - type: TextBlock
                text: Upcoming Events
                wrap: true
                fontType: Monospace
                size: Medium
                weight: Bolder
              - type: TextBlock
                text: No Events
                wrap: true
                $when: true
              - type: ColumnSet
                columns:
                - type: Column
                  width: stretch
                  items: []
                  height: stretch
                - type: Column
                  width: stretch
                  items: []
              - type: TextBlock
                text: Past Events
                wrap: true
                fontType: Monospace
                size: Medium
                weight: Bolder
              - type: ColumnSet
                $when: true
                columns:
                - type: Column
                  width: stretch
                  items:
                  - type: TextBlock
                    text: RSA Conference
                    wrap: true
                    height: stretch
                  - type: TextBlock
                    text: Annual General Meeting
                    wrap: true
                    height: stretch
                - type: Column
                  width: stretch
                  items:
                  - type: TextBlock
                    text: 17 May '21, 16:50 PM
                    wrap: true
                    height: stretch
                  - type: TextBlock
                    text: 27 Apr '21
                    wrap: true
                    height: stretch
              - type: TextBlock
                text: '[Company/Security - Event Calendar](https://my.apps.factset.com/navigator/company-security/event-calendar/IBM-US)'
                wrap: true
                spacing: ExtraLarge
                separator: true
              $schema: http://adaptivecards.io/schemas/adaptive-card.json
              version: '1.2'
            thumbnail:
              contentType: application/vnd.microsoft.card.thumbnail
              content:
                title: International Business Machines Corporation (IBM-US)
                text: Event Calendar
        meta: null
    OneEventCalendarCard:
      summary: Event calendar card
      description: Example request for one event calendar adaptive card
      value:
        data:
          adaptiveCard:
            type: AdaptiveCard
            body:
            - type: TextBlock
              text: FactSet Research Systems Inc. (FDS-US)
              size: Large
              weight: Lighter
              wrap: true
            - type: TextBlock
              text: Upcoming Events
              wrap: true
              fontType: Monospace
              size: Medium
              weight: Bolder
            - type: TextBlock
              text: No Events
              wrap: true
              $when: true
            - type: ColumnSet
              columns:
              - type: Column
                width: stretch
                items: []
                height: stretch
              - type: Column
                width: stretch
                items: []
            - type: TextBlock
              text: Past Events
              wrap: true
              fontType: Monospace
              size: Medium
              weight: Bolder
            - type: ColumnSet
              $when: true
              columns:
              - type: Column
                width: stretch
                items:
                - type: TextBlock
                  text: Barclays Americas Select Franchise Virtual Conference
                  wrap: true
                  height: stretch
                - type: TextBlock
                  text: Trade Tech Europe Conference
                  wrap: true
                  height: stretch
                - type: TextBlock
                  text: Financial Technologies Client Reporting Forum
                  wrap: true
                  height: stretch
              - type: Column
                width: stretch
                items:
                - type: TextBlock
                  text: 19 May '21, 11:00 AM
                  wrap: true
                  height: stretch
                - type: TextBlock
                  text: 27 Apr '21
                  wrap: true
                  height: stretch
                - type: TextBlock
                  text: 21 Apr '21
                  wrap: true
                  height: stretch
            - type: TextBlock
              text: '[Company/Security - Event Calendar](https://my.apps.factset.com/navigator/company-security/event-calendar/FDS-US)'
              wrap: true
              spacing: ExtraLarge
              separator: true
            $schema: http://adaptivecards.io/schemas/adaptive-card.json
            version: '1.2'
        meta: null
    MultiplePorfileCard:
      summary: Company profile cards
      description: Example of a response for multiple adaptive cards
      value:
        data:
          FDS-US:
            adaptiveCard:
              type: AdaptiveCard
              body:
              - type: TextBlock
                text: FactSet Research Systems Inc. (FDS-US)
                size: Large
                weight: Lighter
                wrap: true
              - type: TextBlock
                text: As of 21 May '21
                isSubtle: true
                size: Small
                spacing: Small
                wrap: true
              - type: ColumnSet
                columns:
                - type: Column
                  width: auto
                  items:
                  - type: TextBlock
                    text: Price
                    isSubtle: true
                    size: Small
                  - type: TextBlock
                    text: $329.09
                    color: Good
                    size: Small
                    weight: Bolder
                    spacing: None
                - type: Column
                  width: auto
                  items:
                  - type: TextBlock
                    text: Mkt Cap (M)
                    isSubtle: true
                    size: Small
                  - type: TextBlock
                    text: $12,389
                    size: Small
                    weight: Bolder
                    spacing: None
                spacing: Small
              - type: ColumnSet
                spacing: Small
                columns:
                - type: Column
                  width: auto
                  items:
                  - type: TextBlock
                    text: 3M
                    isSubtle: true
                    size: Small
                  - type: TextBlock
                    text: 4.91%
                    color: Good
                    size: Small
                    weight: Bolder
                    spacing: None
                - type: Column
                  width: auto
                  items:
                  - type: TextBlock
                    text: YTD
                    isSubtle: true
                    size: Small
                  - type: TextBlock
                    text: -1.03%
                    color: Attention
                    size: Small
                    weight: Bolder
                    spacing: None
                - type: Column
                  width: auto
                  items:
                  - type: TextBlock
                    text: 1Y
                    isSubtle: true
                    size: Small
                  - type: TextBlock
                    text: 13.32%
                    color: Good
                    size: Small
                    weight: Bolder
                    spacing: None
              - type: ColumnSet
                spacing: Medium
                columns:
                - type: Column
                  width: auto
                  items:
                  - type: TextBlock
                    text: Sales (M)
                    isSubtle: true
                    size: Small
                  - type: TextBlock
                    text: $1,538
                    size: Small
                    weight: Bolder
                    spacing: None
                    wrap: true
                - type: Column
                  width: auto
                  items:
                  - type: TextBlock
                    text: Industry
                    isSubtle: true
                    size: Small
                  - type: TextBlock
                    text: Data Processing Services
                    size: Small
                    weight: Bolder
                    spacing: None
                    wrap: true
              - type: TextBlock
                text: Upcoming Event
                $when: true
                isSubtle: true
                size: Small
                spacing: Small
              - type: TextBlock
                text: Q3 2021 Earnings Release (Projected) on 29 Jun '21
                $when: true
                wrap: true
                size: Small
                weight: Bolder
                spacing: None
              - type: TextBlock
                text: Most Recent Deal
                $when: true
                isSubtle: true
                size: Small
                spacing: Small
              - type: TextBlock
                $when: true
                text: FactSet Research Systems, Inc. acquires TruValue Labs, Inc.  (20 Oct '20)
                wrap: true
                size: Small
                weight: Bolder
                spacing: None
              - type: TextBlock
                text: Description
                isSubtle: true
                size: Small
                spacing: Medium
              - type: TextBlock
                text: FactSet Research Systems Inc. (the "Company" or "FactSet") is a global provider of integrated financial information, analytical applications and services for the investment and corporate communities. Since inception, global financial professionals have utilized the Company's cont...
                wrap: true
                size: Small
                spacing: None
              - type: TextBlock
                text: 'Source: [FactSet](https://www.factset.com)'
                size: Small
                separator: true
                spacing: ExtraLarge
              $schema: http://adaptivecards.io/schemas/adaptive-card.json
              version: '1.2'
            thumbnail:
              contentType: application/vnd.microsoft.card.thumbnail
              content:
                title: FactSet Research Systems Inc. (FDS-US)
                text: '<div style = ''color: #92c353''><b style = ''color: #92c353''>$329.09</b> ▲1.78 (0.54%)</div>'
          IBM-US:
            adaptiveCard:
              type: AdaptiveCard
              body:
              - type: TextBlock
                text: International Business Machines Corporation (IBM-US)
                size: Large
                weight: Lighter
                wrap: true
              - type: TextBlock
                text: As of 21 May '21
                isSubtle: true
                size: Small
                spacing: Small
                wrap: true
              - type: ColumnSet
                columns:
                - type: Column
                  width: auto
                  items:
                  - type: TextBlock
                    text: Price
                    isSubtle: true
                    size: Small
                  - type: TextBlock
                    text: $145.02
                    color: Good
                    size: Small
                    weight: Bolder
                    spacing: None
                - type: Column
                  width: auto
                  items:
                  - type: TextBlock
                    text: Mkt Cap (M)
                    isSubtle: true
                    size: Small
                  - type: TextBlock
                    text: $128,560
                    size: Small
                    weight: Bolder
                    spacing: None
                spacing: Small
              - type: ColumnSet
                spacing: Small
                columns:
                - type: Column
                  width: auto
                  items:
                  - type: TextBlock
                    text: 3M
                    isSubtle: true
                    size: Small
                  - type: TextBlock
                    text: 21.88%
                    color: Good
                    size: Small
                    weight: Bolder
                    spacing: None
                - type: Column
                  width: auto
                  items:
                  - type: TextBlock
                    text: YTD
                    isSubtle: true
                    size: Small
                  - type: TextBlock
                    text: 15.20%
                    color: Good
                    size: Small
                    weight: Bolder
                    spacing: None
                - type: Column
                  width: auto
                  items:
                  - type: TextBlock
                    text: 1Y
                    isSubtle: true
                    size: Small
                  - type: TextBlock
                    text: 21.74%
                    color: Good
                    size: Small
                    weight: Bolder
                    spacing: None
              - type: ColumnSet
                spacing: Medium
                columns:
                - type: Column
                  width: auto
                  items:
                  - type: TextBlock
                    text: Sales (M)
                    isSubtle: true
                    size: Small
                  - type: TextBlock
                    text: $73,780
                    size: Small
                    weight: Bolder
                    spacing: None
                    wrap: true
                - type: Column
                  width: auto
                  items:
                  - type: TextBlock
                    text: Industry
                    isSubtle: true
                    size: Small
                  - type: TextBlock
                    text: Information Technology Services
                    size: Small
                    weight: Bolder
                    spacing: None
                    wrap: true
              - type: TextBlock
                text: Upcoming Event
                $when: true
                isSubtle: true
                size: Small
                spacing: Small
              - type: TextBlock
                text: Q2 2021 Earnings Release on 19 Jul '21
                $when: true
                wrap: true
                size: Small
                weight: Bolder
                spacing: None
              - type: TextBlock
                text: Most Recent Deal
                $when: true
                isSubtle: true
                size: Small
                spacing: Small
              - type: TextBlock
                $when: true
                text: International Business Machines Corp. offers to acquire Waeg BVBA  (18 May '21)
                wrap: true
                size: Small
                weight: Bolder
                spacing: None
              - type: TextBlock
                text: Description
                isSubtle: true
                size: Small
                spacing: Medium
              - type: TextBlock
                text: 'International Business Machines Corp. is an information technology company, which provides integrated solutions that leverage information technology and knowledge of business processes. It operates through the following segments: Cloud and Cognitive Software, Global Business Serv...'
                wrap: true
                size: Small
                spacing: None
              - type: TextBlock
                text: 'Source: [FactSet](https://www.factset.com)'
                size: Small
                separator: true
                spacing: ExtraLarge
              $schema: http://adaptivecards.io/schemas/adaptive-card.json
              version: '1.2'
            thumbnail:
              contentType: application/vnd.microsoft.card.thumbnail
              content:
                title: International Business Machines Corporation (IBM-US)
                text: '<div style = ''color: #92c353''><b style = ''color: #92c353''>$145.02</b> ▲1.14 (0.79%)</div>'
        meta: null
  requestBodies:
    companyEventRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/companyEventRequest'
      description: Company Event request body
      required: true
  responses:
    GetCompanyBoardListByInstrument200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                description: List of boards of the company, with their officers. The list of boards is sorted byidentifier of the type and the list of officers by name of the officer, both ascending.
                type: array
                items:
                  type: object
                  x-property-sort:
                  - type
                  - officers
                  properties:
                    type:
                      description: Type of the board. See endpoint `/company/board/type/list` for possible values.
                      type: object
                      x-property-sort:
                      - id
                      - name
                      properties:
                        id:
                          type:
                          - number
                          - 'null'
                          format: id32
                          x-positive: true
                          description: Identifier of a type.
                        name:
                          type:
                          - string
                          - 'null'
                          format: localizedString
                          description: Name of the type.
                    officers:
                      description: List of officers that are members of the board.
                      type: array
                      items:
                        type: object
                        x-property-sort:
                        - id
                        - name
                        - presentationName
                        - titleOfficer
                        - function
                        properties:
                          id:
                            type:
                            - number
                            - 'null'
                            format: id32
                            x-positive: true
                            description: Identifier of an officer.  See endpoint `/legalEntity/list` for possible values.
                          name:
                            type:
                            - string
                            - 'null'
                            description: Full name of the officer.
                          presentationName:
                            type:
                            - string
                            - 'null'
                            description: Presentation name of the officer, potentially shortened and/or containing name supplementssuch as a title.
                          titleOfficer:
                            type:
                            - string
                            - 'null'
                            description: Job title of the officer.
                          function:
                            description: Function of the officer. See endpoint `/company/board/officer/function/list`for possible values.
                            type: object
                            x-property-sort:
                            - id
                            - name
                            properties:
                              id:
                                type:
                                - number
                                - 'null'
                                format: id32
                                x-positive: true
                                description: Identifier of the function.
                              name:
                                type:
                                - string
                                - 'null'
                                format: localizedString
                                description: Name of the function.
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                x-property-sort:
                - status
    GetCompanyBoardTypeList200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                description: List of company board types sorted ascending by the identifier of the type.
                type: array
                items:
                  type: object
                  x-property-sort:
                  - id
                  - name
                  - description
                  properties:
                    id:
                      type:
                      - number
                      - 'null'
                      format: id32
                      x-positive: true
                      description: Identifier of a type.
                    name:
                      type:
                      - string
                      - 'null'
                      format: localizedString
                      description: Name of the type.
                    description:
                      type:
                      - string
                      - 'null'
                      format: localizedString
                      description: Description of the type.
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                x-property-sort:
                - status
    PostCompanyKeyItemsCurrentGetByInstrument200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                description: Fundamentals of a share instrument and of the company it belongs to.
                type: object
                x-property-sort:
                - name
                - shortName
                - isin
                - nsin
                - fsym
                - stockType
                - company
                - companyKeyFigures
                - shareInstrumentKeyFigures
                properties:
                  name:
                    type:
                    - string
                    - 'null'
                    format: localizedString
                    description: Name of the instrument.
                  shortName:
                    type:
                    - string
                    - 'null'
                    format: localizedString
                    description: Short name of the instrument.
                  isin:
                    type:
                    - string
                    - 'null'
                    description: The International Securities Identification Number (ISIN) of the instrument. The ISIN is a 12-character code of digits and upper-case letters that uniquely identifies an instrument.
                  nsin:
                    type: object
                    x-property-sort:
                    - wkn
                    - valor
                    - cusip
                    description: National Securities Identifying Number.
                    properties:
                      wkn:
                        type:
                        - string
                        - 'null'
                        description: The WKN (Wertpapierkennnummer, German for Securities Identification Number) of the instrument. The WKN is a 6-character code of digits and upper-case letters that uniquely identifies an instrument.
                      valor:
                        type:
                        - string
                        - 'null'
                        description: 'The Valor number (German: Valorennummer) of the instrument. The Valor number is an integer number that uniquely identifies an instrument.'
                      cusip:
                        type:
                        - string
                        - 'null'
                        description: The CUSIP (Committee on Uniform Security Identification Procedures) or CINS (CUSIP International Numbering System) identifier of the instrument. These numbers are 9-character codes of digits and upper-case letters that uniquely identify an instrument.
                  fsym:
                    type: object
                    x-property-sort:
                    - security
                    description: Instrument-level FactSet identifier of the financial instrument used primarily in FactSet products other than the MDG.
                    properties:
                      security:
                        type: object
                        x-property-sort:
                        - permanentIdentifier
                        description: Security-level identifier.
                        properties:
                          permanentIdentifier:
                            type:
                            - string
                            - 'null'
                            description: FactSet Permanent Identifier for an instrument. The format is six alpha numeric characters, excluding vowels, with an S suffix (XXXXXX-S).
                  stockType:
                    type:
                    - string
                    - 'null'
                    description: Type of stock.
                    x-enum-description:
                    - Common stock
                    - Preferred stock
                    - Depository receipt
                    - Other stock
                    enum:
                    - common
                    - preferred
                    - depositoryReceipt
                    - other
                  company:
                    type: object
                    x-property-sort:
                    - id
                    - name
                    - country
                    description: Details of the company the share instrument belongs to.
                    properties:
                      id:
                        type:
                        - number
                        - 'null'
                        format: id32
                        x-positive: true
                        description: Identifier of the company.
                      name:
                        type:
                        - string
                        - 'null'
                        description: Name of the company.
                      country:
                        type: object
                        x-property-sort:
                        - id
                        - name
                        description: Country where the head office of the company is located. See endpoint `/basic/region/country/list` for possible values.
                        properties:
                          id:
                            type:
                            - number
                            - 'null'
                            format: id32
                            x-positive: true
                            description: Identifier of the country.
                          name:
                            type:
                            - string
                            - 'null'
                            format: localizedString
                            description: Name of the country.
                  companyKeyFigures:
                    type: object
                    x-property-sort:
                    - sharesOutstanding
                    - freeFloat
                    - currencyDependentKeyFigures
                    description: Company key figures.
                    properties:
                      sharesOutstanding:
                        type: object
                        x-property-sort:
                        - value
                        - date
                        description: Number of outstanding shares.
                        properties:
                          value:
                            type:
                            - string
                            - 'null'
                            format: int64
                            description: Value of the key figure.
                          date:
                            type:
                            - string
                            - 'null'
                            format: date
                            description: As-of date of the key figure.
                      freeFloat:
                        type: object
                        x-property-sort:
                        - value
                        - date
                        description: Number of free float shares.
                        properties:
                          value:
                            type:
                            - string
                            - 'null'
                            format: int64
                            description: Value of the key figure.
                          date:
                            type:
                            - string
                            - 'null'
                            format: date
                            description: As-of date of the key figure.
                      currencyDependentKeyFigures:
                        type: object
                        x-property-sort:
                        - marketCapitalizationSharesOutstanding
                        - perShare
                        description: Currency-dependent key figures.
                        properties:
                          marketCapitalizationSharesOutstanding:
                            type: object
                            x-property-sort:
                            - value
                            - date
                            description: Market capitalization based on the number of outstanding shares.
                            properties:
                              value:
                                type:
                                - number
                                - 'null'
                                format: real
                                description: Value of the key figure.
                              date:
                                type:
                                - string
                                - 'null'
                                format: date
                                description: As-of date of the key figure.
                          perShare:
                            type: object
                            x-property-sort:
                            - earnings
                            - bookValue
                            - cashFlow
                            - sales
                            description: Per-share key figures.
                            properties:
                              earnings:
                                type: object
                                x-property-sort:
                                - value
                                - date
                                description: Earnings per share, which is the company's net income from continuing operations divided by the number of shares. The earnings per share might be based on either the diluted or basic number of shares outstanding depending on how the company reports and may follow country-specific reporting patterns.
                                properties:
                                  value:
                                    type:
                                    - number
                                    - 'null'
                                    format: real
                                    description: Value of the key figure.
                                  date:
                                    type:
                                    - string
                                    - 'null'
                                    format: date
                                    description: As-of date of the key figure.
                              bookValue:
                                type: object
                                x-property-sort:
                                - value
                                - date
                                description: Book value per share, which is the common equity divided by the number of common shares outstanding.
                                properties:
                                  value:
                                    type:
                                    - number
                                    - 'null'
                                    format: real
                                    description: Value of the key figure.
                                  date:
                                    type:
                                    - string
                                    - 'null'
                                    format: date
                                    description: As-of date of the key figure.
                              cashFlow:
                                type: object
                                x-property-sort:
                                - value
                                - date
                                description: Cash flow per share, which is the company's gross cash flow from operating activities divided by the number of outstanding shares. The calculation method of the cash flow depends on the accounting standard used by the company.
                                properties:
                                  value:
                                    type:
                                    - number
                                    - 'null'
                                    format: real
                                    description: Value of the key figure.
                                  date:
                                    type:
                                    - string
                                    - 'null'
                                    format: date
                                    description: As-of date of the key figure.
                              sales:
                                type: object
                                x-property-sort:
                                - value
                                - date
                                description: Sales per share, which is the total sales revenue divided by the diluted shares outstanding.
                                properties:
                                  value:
                                    type:
                                    - number
                                    - 'null'
                                    format: real
                                    description: Value of the key figure.
                                  date:
                                    type:
                                    - string
                                    - 'null'
                                    format: date
                                    description: As-of date of the key figure.
                  shareInstrumentKeyFigures:
                    type: object
                    x-property-sort:
                    - sharesOutstanding
                    - freeFloat
                    - ratios
                    - currencyDependentKeyFigures
                    description: Share instrument key figures.
                    properties:
                      sharesOutstanding:
                        type: object
                        x-property-sort:
                        - value
                        - date
                        description: Number of outstanding shares.
                        properties:
                          value:
                            type:
                            - string
                            - 'null'
                            format: int64
                            description: Value of the key figure.
                          date:
                            type:
                            - string
                            - 'null'
                            format: date
                            description: As-of date of the key figure.
                      freeFloat:
                        type: object
                        x-property-sort:
                        - value
                        - date
                        description: Number of free float shares.
                        properties:
                          value:
                            type:
                            - string
                            - 'null'
                            format: int64
                            description: Value of the key figure.
                          date:
                            type:
                            - string
                            - 'null'
                            format: date
                            description: As-of date of the key figure.
                      ratios:
                        type: object
                        x-property-sort:
                        - priceEarnings
                        - priceBookValue
                        - priceCashFlow
                        - priceSales
                        - dividendYield
                        - earningsYield
                        description: Ratios.
                        properties:
                          priceEarnings:
                            type: object
                            x-property-sort:
                            - value
                            - date
                            description: Price earnings ratio, which is the most recent available end-of-day close price divided by the earnings per share.
                            properties:
                              value:
                                type:
                                - number
                                - 'null'
                                format: real
                                description: Value of the key figure.
                              date:
                                type:
                                - string
                                - 'null'
                                format: date
                                description: As-of date of the key figure.
                          priceBookValue:
                            type: object
                            x-property-sort:
                            - value
                            - date
                            description: Price book value ratio, which is the most recent available end-of-day close price divided by the book value per share.
                            properties:
                              value:
                                type:
                                - number
                                - 'null'
                                format: real
                                description: Value of the key figure.
                              date:
                                type:
                                - string
                                - 'null'
                                format: date
                                description: As-of date of the key figure.
                          priceCashFlow:
                            type: object
                            x-property-sort:
                            - value
                            - date
                            description: Price cash flow ratio, which is the most recent available end-of-day close price divided by the cash flow per share.
                            properties:
                              value:
                                type:
                                - number
                                - 'null'
                                format: real
                                description: Value of the key figure.
                              date:
                                type:
                                - string
                                - 'null'
                                format: date
                                description: As-of date of the key figure.
                          priceSales:
                            type: object
                            x-property-sort:
                            - value
                            - date
                            description: Price sales ratio, which is the most recent available end-of-day close price divided by the sales per share.
                            properties:
                              value:
                                type:
                                - number
                                - 'null'
                                format: real
                                description: Value of the key figure.
                              date:
                                type:
                                - string
                                - 'null'
                                format: date
                                description: As-of date of the key figure.
                          dividendYield:
                            type: object
                            x-property-sort:
                            - value
                            - date
                            description: Dividend yield, which is the dividend per share divided by the most recent available end-of-day close price.
                            properties:
                              value:
                                type:
                                - number
                                - 'null'
                                format: relativeValue
                                description: Value of the key figure.
                              date:
                                type:
                                - string
                                - 'null'
                                format: date
                                description: As-of date of the key figure.
                          earningsYield:
                            type: object
                            x-property-sort:
                            - value
                            - date
                            description: Earnings yield, which is the earnings per share divided by the most recent available end-of-day close price.
                            properties:
                              value:
                                type:
                                - number
                                - 'null'
                                format: relativeValue
                                description: Value of the key figure.
                              date:
                                type:
                                - string
                                - 'null'
                                format: date
                                description: As-of date of the key figure.
                      currencyDependentKeyFigures:
                        type: object
                        x-property-sort:
                        - marketCapitalizationSharesOutstanding
                        - perShare
                        description: Currency-dependent key figures.
                        properties:
                          marketCapitalizationSharesOutstanding:
                            type: object
                            x-property-sort:
                            - value
                            - date
                            description: Market capitalization based on the number of outstanding shares.
                            properties:
                              value:
                                type:
                                - number
                                - 'null'
                                format: real
                                description: Value of the key figure.
                              date:
                                type:
                                - string
                                - 'null'
                                format: date
                                description: As-of date of the key figure.
                          perShare:
                            type: object
                            x-property-sort:
                            - dividend
                            description: Per-share key figures.
                            properties:
                              dividend:
                                type: object
                                x-property-sort:
                                - value
                                - date
                                description: Dividend per share.
                                properties:
                                  value:
                                    type:
                                    - number
                                    - 'null'
                                    format: real
                                    description: Value of the key figure.
                                  date:
                                    type:
                                    - string
                                    - 'null'
                                    format: date
                                    description: As-of date of the key figure.
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                x-property-sort:
                - status
    PostCompanyEstimatesListByInstrument200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                description: Estimated figures for selected fiscal years.
                type: array
                items:
                  type: object
                  x-property-sort:
                  - fiscalYear
                  - reportDate
                  - currency
                  - incomeStatement
                  - balanceSheet
                  - ratios
                  - perShare
                  properties:
                    fiscalYear:
                      type: object
                      x-property-sort:
                      - end
                      - year
                      description: Details of a fiscal year.
                      properties:
                        end:
                          type:
                          - string
                          - 'null'
                          format: date
                          description: Ending date of the fiscal year.
                        year:
                          type:
                          - number
                          - 'null'
                          format: int32
                          description: Fiscal year.
                    reportDate:
                      type:
                      - string
                      - 'null'
                      format: date
                      description: Publication date of the financial report.
                    currency:
                      type: object
                      x-property-sort:
                      - id
                      - isoCode
                      description: Main currency into which the estimated figures representing a monetary value are converted.
                      properties:
                        id:
                          type:
                          - number
                          - 'null'
                          format: id32
                          x-positive: true
                          description: Identifier of the currency.
                        isoCode:
                          type:
                          - string
                          - 'null'
                          description: ISO 4217 code of the currency.
                    incomeStatement:
                      type: object
                      x-property-sort:
                      - sales
                      - ebit
                      - ebitda
                      description: Income statement estimates.
                      properties:
                        sales:
                          type: object
                          x-property-sort:
                          - mean
                          - median
                          description: Total amount of sales revenue received for the normal operation of the business.
                          properties:
                            mean:
                              type:
                              - number
                              - 'null'
                              format: real
                              description: Mean value.
                            median:
                              type:
                              - number
                              - 'null'
                              format: real
                              description: Median value.
                        ebit:
                          type: object
                          x-property-sort:
                          - mean
                          - median
                          description: EBIT (earnings before interest and taxes).
                          properties:
                            mean:
                              type:
                              - number
                              - 'null'
                              format: real
                              description: Mean value.
                            median:
                              type:
                              - number
                              - 'null'
                              format: real
                              description: Median value.
                        ebitda:
                          type: object
                          x-property-sort:
                          - mean
                          - median
                          description: EBITDA (earnings before interest, taxes, depreciation, and amortization).
                          properties:
                            mean:
                              type:
                              - number
                              - 'null'
                              format: real
                              description: Mean value.
                            median:
                              type:
                              - number
                              - 'null'
                              format: real
                              description: Median value.
                    balanceSheet:
                      type: object
                      x-property-sort:
                      - netDebt
                      - returnOnAssets
                      - returnOnEquity
                      description: Balance sheet estimates.
                      properties:
                        netDebt:
                          type: object
                          x-property-sort:
                          - mean
                          - median
                          description: Net debt, which is all interest-bearing obligations minus cash and cash equivalents.
                          properties:
[...]
