openapi: 3.2.0
info:
  description: '

    Browse data items and definitions available through FactSet''s off platform

    product offerings.'
  title: FactSet Content Feeds Data Dictionary Data Items API
  version: '0.2'
servers:
- url: https://api.factset.com/data-dictionary
  description: Production
security:
- basicAuth: []
tags:
- name: Data_items
paths:
  /navigator/data_items/{Product_id}:
    get:
      tags:
      - Data_items
      summary: Factset Get the List of Data Items Associated With a Product for Navigator.
      parameters:
      - in: path
        required: true
        name: Product_id
        description: The id for the Product to fetch the list of data items for.
        schema:
          type: string
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DataItem'
        '401':
          description: You are not authorized to view this page.
        '404':
          description: The specified Product_id was not found.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    DataItem:
      type: object
      properties:
        id:
          type: integer
          example: 35
          description: Unique identifier for the data item
        name:
          type: string
          example: fsym_id
          description: Name of the data item
        description:
          type: string
          example: Factset Perm Id
          description: Description of the data item
        entitled:
          type: boolean
          example: true
          description: Flag indicating if the user is entitled to access the data in their subscriptions
        dataFeed:
          type: boolean
          example: true
          description: Flag indicating if this item is available in a data feed
        api:
          type: boolean
          example: true
          description: Flag indicating if this item is available in an api
        referenceDataFeed:
          type: boolean
          example: false
          description: Flag indicating if this product is maintained by RDF/UCF
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
