openapi: 3.2.0
info:
  title: Factset Modify API
  version: '2'
  description: 'Operations tagged Modify across 2 of this provider''s published API definitions: factset-virtual-portfolio-api-for-digital-portals-openapi.yml, factset-watchlist-api-for-digital-portals-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.factset.com/wealth/v1
security:
- Basic: []
tags:
- name: Modify
paths:
  /watchlist/modify:
    post:
      tags:
      - Modify
      operationId: post/watchlist/modify
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: true
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: true
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      description: Modify a watchlist.
      summary: Modify a watchlist.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostWatchlistModifyRequest'
      responses:
        '200':
          $ref: '#/components/responses/PostWatchlistModify200Response'
      parameters: []
    servers:
    - url: https://api.factset.com/wealth/v1
  /watchlist/position/modify:
    post:
      tags:
      - Modify
      operationId: post/watchlist/position/modify
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: true
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: true
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      description: "Modify a position in a watchlist.\n\nCertain error conditions yield errors as follows: \n\n|Error Condition|HTTP Error|\n|-------|--------|\n|At least one of the parameters `notation` or `comment` must be set.|400 Bad Request|\n|The notation already exists in the watchlist.|400 Bad Request|"
      summary: Factset Modify a Position in a Watchlist.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostWatchlistPositionModifyRequest'
      responses:
        '200':
          $ref: '#/components/responses/PostWatchlistPositionModify200Response'
      parameters: []
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - url: https://api.factset.com/wealth/v1
components:
  schemas:
    StatusObject:
      type: object
      properties:
        code:
          type: number
          format: int32
          description: The HTTP status code of the response, mirroring the code from the Status-Line of the HTTP response message (see [RFC2616] section 6.1).
      description: The status member contains the status code of the response.
      required:
      - code
    PostWatchlistModifyRequest:
      type: object
      properties:
        data:
          type: object
          x-property-sort:
          - id
          - name
          description: The data member contains the request's primary data.
          properties:
            id:
              description: Identifier of the watchlist.
              type: string
              format: id64
              x-positive: true
            name:
              description: Name of the watchlist.
              type: string
              pattern: ^[\u0020-\u002e\u0030-\u003a\u003d\u003f-\u005d\u005f\u0061-\u007e\u00c0-\u00ff\u20ac]*$
              x-trim: false
              minLength: 1
              maxLength: 100
          required:
          - id
          - name
        meta:
          type: object
          description: The meta member contains the meta information of the request.
          properties:
            attributes:
              $ref: '#/components/schemas/AttributesMember'
          x-property-sort:
          - attributes
    AttributesMember:
      type: array
      description: Limit the attributes returned in the response to the specified set.
      items:
        type: string
        maxLength: 100
      maxItems: 50
      uniqueItems: true
    PostWatchlistPositionModifyRequest:
      type: object
      properties:
        data:
          type: object
          x-property-sort:
          - id
          - position
          - notation
          - comment
          description: The data member contains the request's primary data.
          properties:
            id:
              description: Identifier of the watchlist.
              type: string
              format: id64
              x-positive: true
            position:
              description: Position of the watchlist.
              type: object
              x-property-sort:
              - id
              properties:
                id:
                  description: Identifier of the position.
                  type: number
                  format: id32
                  x-positive: true
              required:
              - id
            notation:
              description: Notation of the position.
              type: object
              x-property-sort:
              - id
              properties:
                id:
                  description: Identifier of the notation.
                  type: string
                  format: id64
                  x-positive: true
              required:
              - id
            comment:
              description: Personal note for the watchlist position.
              type: string
              pattern: ^[\u0020-\u005d\u005f\u0061-\u007e\u00c0-\u00ff\u20ac]*$
              x-allowNullValue: true
              x-trim: false
              maxLength: 200
          required:
          - id
          - position
          example: example_value
        meta:
          type: object
          description: The meta member contains the meta information of the request.
          properties:
            attributes:
              $ref: '#/components/schemas/AttributesMember'
          x-property-sort:
          - attributes
          example: example_value
    PostWatchlistModifyRequest_2:
      type: object
      properties:
        data:
          type: object
          x-property-sort:
          - id
          - name
          description: The data member contains the request's primary data.
          properties:
            id:
              description: Identifier of the watchlist.
              type: string
              format: id64
              x-positive: true
            name:
              description: Name of the watchlist.
              type: string
              pattern: ^[\u0020-\u002e\u0030-\u003a\u003d\u003f-\u005d\u005f\u0061-\u007e\u00c0-\u00ff\u20ac]*$
              x-trim: false
              minLength: 1
              maxLength: 100
          required:
          - id
          - name
          example: example_value
        meta:
          type: object
          description: The meta member contains the meta information of the request.
          properties:
            attributes:
              $ref: '#/components/schemas/AttributesMember'
          x-property-sort:
          - attributes
          example: example_value
    StatusObject_2:
      type: object
      properties:
        code:
          type: number
          format: int32
          description: The HTTP status code of the response, mirroring the code from the Status-Line of the HTTP response message (see [RFC2616] section 6.1).
          example: 42.5
      description: The status member contains the status code of the response.
      required:
      - code
  responses:
    PostWatchlistModify200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                description: This member is always emtpy.
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                x-property-sort:
                - status
    PostWatchlistPositionModify200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                description: This member is always emtpy.
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject_2'
                x-property-sort:
                - status
  securitySchemes:
    Basic:
      type: http
      description: Input your username and password to access this API.
      scheme: basic
externalDocs:
  description: Endpoint Reference
  url: https://endpointreference.mdgms.com
x-refined-from:
- factset-virtual-portfolio-api-for-digital-portals-openapi.yml
- factset-watchlist-api-for-digital-portals-openapi.yml
