openapi: 3.0.3
info:
  title: Factset Analytics Datastore About Deliveries API
  description: Allow clients to fetch precalculated Analytics through predeterministic URLs.
  contact:
    name: FactSet Research Systems
    url: https://developer.factset.com/contact
    email: api@factset.com
  license:
    name: Apache License, Version 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  version: 1.0.0
servers:
- url: https://api.factset.com
  description: Production
- url: https://api-sandbox.factset.com
  description: Sandbox
security:
- basicAuth: []
tags:
- name: Deliveries
paths:
  /basic/delivery/list:
    post:
      tags:
      - Deliveries
      operationId: post/basic/delivery/list
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 1
      x-supportsPermissionDeniedResponse: false
      summary: Factset List of Deliveries.
      description: List of deliveries.
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostBasicDeliveryListRequest'
        required: false
      responses:
        '200':
          $ref: '#/components/responses/PostBasicDeliveryList200Response'
      parameters: []
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /company/board/officer/function/delivery/list:
    get:
      tags:
      - Deliveries
      operationId: get/company/board/officer/function/delivery/list
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: List of officer functions as provided by a delivery.
      description: List of officer functions as provided by a delivery.
      responses:
        '200':
          $ref: '#/components/responses/GetCompanyBoardOfficerFunctionDeliveryList200Response'
      parameters:
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
            exclusiveMaximum: false
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      - name: _language
        in: query
        schema:
          type: string
          format: isoLanguage
          description: ISO 639-1 code of the language.
          maxLength: 2
          minLength: 2
          exclusiveMinimum: false
          exclusiveMaximum: false
components:
  responses:
    PostBasicDeliveryList200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: array
                description: List of deliveries.
                nullable: false
                items:
                  type: object
                  nullable: false
                  x-property-sort:
                  - id
                  - name
                  - description
                  properties:
                    id:
                      nullable: true
                      type: number
                      format: id32
                      x-positive: true
                      description: Identifier of a delivery.
                    name:
                      nullable: true
                      x-sortable: true
                      x-default-sort-attribute: true
                      x-default-sort-direction: 1
                      type: string
                      description: English name of the delivery.
                    description:
                      nullable: true
                      type: string
                      description: English description of the delivery.
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                x-property-sort:
                - status
            x-property-sort:
            - data
            - meta
    GetCompanyBoardOfficerFunctionDeliveryList200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                description: List of deliveries, with their officer functions,sorted by name of the delivery and identifier of the function, both ascending.
                nullable: false
                type: array
                items:
                  type: object
                  nullable: false
                  x-property-sort:
                  - id
                  - name
                  - functions
                  properties:
                    id:
                      nullable: true
                      type: number
                      format: id32
                      x-positive: true
                      description: Identifier of a delivery.
                    name:
                      nullable: true
                      type: string
                      description: Name of the delivery.
                    functions:
                      nullable: false
                      description: List of officer functions.
                      type: array
                      items:
                        type: object
                        nullable: false
                        x-property-sort:
                        - id
                        - name
                        properties:
                          id:
                            nullable: true
                            type: number
                            format: id32
                            x-positive: true
                            description: Identifier of a function.
                          name:
                            nullable: true
                            type: string
                            format: localizedString
                            description: Name of the function.
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject_2'
                x-property-sort:
                - status
  schemas:
    AttributesMember:
      type: array
      description: Limit the attributes returned in the response to the specified set.
      items:
        type: string
        maxLength: 100
        exclusiveMaximum: false
      maxItems: 50
      uniqueItems: true
    PostBasicDeliveryListRequest:
      x-property-sort:
      - data
      - meta
      description: Request Body
      type: object
      properties:
        data:
          type: object
          x-property-sort:
          - filter
          description: The data member contains the request's primary data.
          properties:
            filter:
              type: object
              x-property-sort:
              - ids
              description: Criteria that filter the items in the response list; only items that match all of the criteria are returned.
              properties:
                ids:
                  type: array
                  nullable: false
                  items:
                    type: number
                    format: id32
                    x-positive: true
                  minItems: 1
                  maxItems: 100
                  uniqueItems: true
                  description: List of delivery identifiers. Invalid identifiers result in an error.
          example: example_value
        meta:
          type: object
          description: The meta member contains the meta information of the request.
          properties:
            attributes:
              $ref: '#/components/schemas/AttributesMember'
            sort:
              description: Sortable attributes. The sort order is ascending unless it is prefixed with a minus sign, in which case it is descending. A list of at most 1 (possibly prefixed) attribute name(s) is allowed.
              type: array
              items:
                type: string
                enum:
                - name
                - -name
              maxItems: 1
              uniqueItems: true
              default:
              - name
          x-property-sort:
          - attributes
          - sort
          example: example_value
    StatusObject:
      type: object
      properties:
        code:
          type: number
          format: int32
          description: The HTTP status code of the response, mirroring the code from the Status-Line of the HTTP response message (see [RFC2616] section 6.1).
          example: 42.5
      description: The status member contains the status code of the response.
      required:
      - code
    StatusObject_2:
      type: object
      properties:
        code:
          type: number
          format: int32
          description: The HTTP status code of the response, mirroring the code from the Status-Line of the HTTP response message (see [RFC2616] section 6.1).
      description: The status member contains the status code of the response.
      required:
      - code
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
externalDocs:
  url: https://developer.factset.com/api-catalog/analytics-datastore-api
  description: API Documentation
