openapi: 3.0.3
info:
  title: Factset Analytics Datastore About Code API
  description: Allow clients to fetch precalculated Analytics through predeterministic URLs.
  contact:
    name: FactSet Research Systems
    url: https://developer.factset.com/contact
    email: api@factset.com
  license:
    name: Apache License, Version 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  version: 1.0.0
servers:
- url: https://api.factset.com
  description: Production
- url: https://api-sandbox.factset.com
  description: Sandbox
security:
- basicAuth: []
tags:
- name: Code
paths:
  /basic/language/getByCode:
    get:
      tags:
      - Code
      operationId: get/basic/language/getByCode
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      description: Details for a language identified by code.
      summary: Factset Details for a Language Identified by Code.
      parameters:
      - name: code
        in: query
        schema:
          type: string
          maxLength: 2
          exclusiveMaximum: false
          description: ISO 639-1 code of the language.
        required: true
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
            exclusiveMaximum: false
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      - name: _language
        in: query
        schema:
          type: string
          format: isoLanguage
          description: ISO 639-1 code of the language.
          maxLength: 2
          minLength: 2
          exclusiveMinimum: false
          exclusiveMaximum: false
      responses:
        '200':
          $ref: '#/components/responses/GetBasicLanguageGetByCode200Response'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /basic/region/country/getByCode:
    get:
      tags:
      - Code
      operationId: get/basic/region/country/getByCode
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Factset Details for a Country Identified by Code.
      description: Details for a country identified by code.
      parameters:
      - name: code
        in: query
        schema:
          type: string
          maxLength: 2
          exclusiveMaximum: false
          description: ISO 3166-1 alpha-2 code of a country.
        required: true
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
            exclusiveMaximum: false
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      - name: _language
        in: query
        schema:
          type: string
          format: isoLanguage
          description: ISO 639-1 code of the language.
          maxLength: 2
          minLength: 2
          exclusiveMinimum: false
          exclusiveMaximum: false
      responses:
        '200':
          $ref: '#/components/responses/GetBasicRegionCountryGetByCode200Response'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /instrument/exchangeRate/getByISOCode:
    get:
      tags:
      - Code
      operationId: get/instrument/exchangeRate/getByISOCode
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      description: "Retrieve an exchange rate instrument identifier using the ISO 4217 code of the main currencies represented by that exchange rate. \n\nAn error is returned if one of the provided parameters is invalid or if no instrument is associated with the given combination of parameters."
      summary: Factset Retrieve an Exchange Rate Instrument Identifier.
      parameters:
      - name: target
        in: query
        schema:
          type: string
          minLength: 3
          exclusiveMinimum: false
          maxLength: 3
          exclusiveMaximum: false
          description: ISO 4217 code of the target main currency.
        required: true
      - name: source
        in: query
        schema:
          type: string
          minLength: 3
          exclusiveMinimum: false
          maxLength: 3
          exclusiveMaximum: false
          description: ISO 4217 code of the source main currency.
        required: true
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
            exclusiveMaximum: false
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      - name: _language
        in: query
        schema:
          type: string
          format: isoLanguage
          description: ISO 639-1 code of the language.
          maxLength: 2
          minLength: 2
          exclusiveMinimum: false
          exclusiveMaximum: false
      responses:
        '200':
          $ref: '#/components/responses/GetInstrumentExchangeRateGetByISOCode200Response'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v1/{tenant}/data-sources/{dataSourceCode}:
    get:
      operationId: getDataSourceByCode
      tags:
      - Code
      summary: Factset Gets a Datasource
      description: Gets a datasource based on the code passed
      parameters:
      - in: path
        name: tenant
        description: The code of the tenancy
        schema:
          type: string
        required: true
      - in: path
        name: dataSourceCode
        description: The code of the datasource
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataSourceData'
        '401':
          description: Unauthorised
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
              example:
                errors:
                - id: ID of the error
                  code: notAuthenticated
                  title: User is not authenticated
        '403':
          description: No permissions to view datasources in VRS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
              example:
                errors:
                - id: ID of the error
                  code: notAuthorized
                  title: No permissions to view this item
        '404':
          description: The supplied datasource code was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
              example:
                errors:
                - id: ID of the error
                  code: notFound
                  title: The datasource code passed was not found
        '406':
          description: Unsupported Accept header. Header needs to be set to application/json.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
              example:
                errors:
                - id: ID of the error
                  code: notAcceptable
                  title: Unsupported Accept header. Header needs to be set to application/json
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v1/{tenant}/data-sources/{dataSourceCode}/data:
    get:
      operationId: getDataSourceData
      tags:
      - Code
      summary: Factset Gets the Data for the Datasource
      description: Gets the data for the datasource. There are optional query parameters to filter the data
      parameters:
      - in: path
        name: tenant
        description: The code of the tenancy
        schema:
          type: string
        required: true
      - in: path
        name: dataSourceCode
        description: The code of the datasource
        schema:
          type: string
        required: true
      - in: query
        name: entityCodes
        description: 'A series of query parameter used to filter the data for a datasource. This represents the entities for the datasource. E.g.: entityCodes=ACCOUNT&entityCodes=FUNDS'
        schema:
          type: string
      - in: query
        name: entityKeys
        description: 'A series of query parameter used to filter the data for a datasource. This is the entity key value for an entity selection. E.g.: entityKeys=1&entityKeys=Test2'
        schema:
          type: string
      - in: query
        name: _paginationLimit
        description: Non-negative maximum number of entries to return. Default is 25
        schema:
          type: integer
        examples:
          pageSize:
            value: 25
            description: Non-negative maximum number of entries to return
      - in: query
        name: _paginationOffset
        description: Non-negative number of entries to skip. Default is 0
        schema:
          type: integer
        examples:
          startIndex:
            value: 0
            description: Non-negative number of entries to skip
      responses:
        '200':
          description: Successful operation - returns data for the datasource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataSourceDataInstance'
        '400':
          description: The supplied datasource code was either missing or invalid, or the query parameters are invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
              example:
                errors:
                - id: ID of the error
                  code: parameterError
                  title: The datasource code passed was invalid
        '401':
          description: Unauthorised
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
              example:
                errors:
                - id: ID of the error
                  code: notAuthenticated
                  title: User is not authenticated
        '403':
          description: No permissions to view datasources in VRS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
              example:
                errors:
                - id: ID of the error
                  code: notAuthorized
                  title: No permissions to view this item
        '404':
          description: The supplied datasource code was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
              example:
                errors:
                - id: ID of the error
                  code: notFound
                  title: The datasource code passed was not found
        '406':
          description: Unsupported Accept header. Header needs to be set to application/json.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
              example:
                errors:
                - id: ID of the error
                  code: notAcceptable
                  title: Unsupported Accept header. Header needs to be set to application/json
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v1/{tenant}/entities/{entityCode}/values:
    get:
      operationId: getEntityValuesByCode
      tags:
      - Code
      summary: Factset Gets the Entity Values
      description: Gets the entity values for the specified entity
      parameters:
      - in: path
        name: tenant
        description: The code of the tenancy
        schema:
          type: string
        required: true
      - in: path
        name: entityCode
        description: The code of the entity
        schema:
          type: string
        required: true
      - in: query
        name: _sort
        description: The entity field to sort on. Can only be sorted on entity key, description or secondary key fields. Append "-" to sort in descending order. If no parameter given, it will be sorted by key field in ascending order by default
        required: false
        style: form
        explode: false
        schema:
          type: array
          maxItems: 1
          items:
            type: string
        examples:
          entity key field:
            value:
            - entity key field
            description: The name of the entity key field
          entity description field:
            value:
            - entity description field
            description: The name of the entity description field
          entity secondary key field:
            value:
            - entity secondary key field
            description: The name of the entity secondary key field
      - in: query
        name: _paginationLimit
        description: Non-negative maximum number of entries to return. Default is 25
        schema:
          type: integer
        examples:
          pageSize:
            value: 25
            description: Non-negative maximum number of entries to return
      - in: query
        name: _paginationOffset
        description: Non-negative number of entries to skip. Default is 0
        schema:
          type: integer
        examples:
          startIndex:
            value: 0
            description: Non-negative number of entries to skip
      - in: query
        name: showAll
        description: Whether to show all field values for each entity row. Value should either be 1 or 0. Default is 0 (false)
        schema:
          type: integer
        examples:
          showAll:
            value: 1
            description: 'Show all field values in a JSON array named "fieldsWithValues", with each array value being a string in the format of "**<FIELD_NAME> : <FIELD_VALUE>**". Both key and description field values will be included in this JSON array too.'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityFieldValueDTO'
        '400':
          description: The supplied entity code was either missing or invalid, or the entity was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
              example:
                errors:
                - id: ID of the error
                  code: parameterError
                  title: The entity code passed was invalid
        '401':
          description: Unauthorised
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
              example:
                errors:
                - id: ID of the error
                  code: notAuthenticated
                  title: User is not authenticated
        '403':
          description: No permissions to view datasources in VRS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
              example:
                errors:
                - id: ID of the error
                  code: notAuthorized
                  title: No permissions to view this item
        '404':
          description: The supplied entity code was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
              example:
                errors:
                - id: ID of the error
                  code: notFound
                  title: The entity code passed was not found
        '406':
          description: Unsupported Accept header. Header needs to be set to application/json.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
              example:
                errors:
                - id: ID of the error
                  code: notAcceptable
                  title: Unsupported Accept header. Header needs to be set to application/json
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v1/{tenant}/reports/{reportDefinitionCode}:
    get:
      operationId: getReportDefinitionByCode
      tags:
      - Code
      summary: Factset Gets a Report Definition
      description: Gets a report defintion based on the code specified
      parameters:
      - in: path
        name: tenant
        description: The code of the tenancy
        schema:
          type: string
        required: true
      - in: path
        name: reportDefinitionCode
        description: The code of the report definition
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportDefinitionData'
        '400':
          description: The supplied report definition code was either missing or invalid, or the report definition was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
              example:
                errors:
                - id: ID of the error
                  code: parameterError
                  title: The report definition code passed was invalid
        '401':
          description: Unauthorised
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
              example:
                errors:
                - id: ID of the error
                  code: notAuthenticated
                  title: User is not authenticated
        '403':
          description: No permissions to view reports in VRS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
              example:
                errors:
                - id: ID of the error
                  code: notAuthorized
                  title: No permissions to view this item
        '404':
          description: The supplied report definition code was was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
              example:
                errors:
                - id: ID of the error
                  code: notFound
                  title: The report definition code passed was not found
        '406':
          description: Unsupported Accept header. Header needs to be set to application/json.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
              example:
                errors:
                - id: ID of the error
                  code: notAcceptable
                  title: Unsupported Accept header. Header needs to be set to application/json
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    RecordSetFields:
      type: object
      properties:
        fieldType:
          type: string
          enum:
          - BOOLEAN
          - DATETIME
          - DECIMAL
          - HTML
          - INTEGER
          - TEXT
          example: BOOLEAN
        format:
          type: string
          example: example_value
        id:
          type: integer
          example: abc123
        hide:
          type: string
          example: example_value
        name:
          type: string
          example: Example Title
    EntityDTO:
      type: object
      properties:
        entityId:
          type: integer
          format: int32
          example: '500123'
        name:
          type: string
          example: Example Title
        code:
          type: string
          example: example_value
    DataSourceDTO:
      type: object
      properties:
        dataSourceId:
          type: integer
          format: int32
          example: '500123'
        name:
          type: string
          example: Example Title
        code:
          type: string
          example: example_value
        dsType:
          type: string
          enum:
          - AUTOMATIC
          - MANUAL
          - FILTER
          example: AUTOMATIC
        entities:
          type: array
          items:
            $ref: '#/components/schemas/EntityDTO'
          example: []
        outputRecordSet:
          type: string
          example: example_value
        releaseTag:
          type: string
          example: example_value
        defaultDataSourceName:
          type: string
          example: example_value
        dataPreview:
          type: string
          example: example_value
        lastUpdatedBy:
          type: string
          example: example_value
        lastUpdated:
          type: number
          example: 42.5
    ReportDefinitionDTO:
      type: object
      properties:
        name:
          type: string
          example: Example Title
        code:
          type: string
          example: example_value
        releaseTag:
          type: string
          example: example_value
        entities:
          type: array
          items:
            $ref: '#/components/schemas/EntityDTO'
          example: []
    DataSourceDataInstance:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/DataSourceAllData'
    DataSourceAllData:
      type: object
      properties:
        fields:
          type: array
          items:
            $ref: '#/components/schemas/RecordSetFields'
          example: []
        dstInstance:
          $ref: '#/components/schemas/DataSourceInstance'
    ErrorList:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Error'
          example: []
    ReportDefinitionData:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/ReportDefinitionDTO'
    DataSourceInstanceRows:
      type: object
      properties:
        rowId:
          type: integer
          example: '500123'
        order:
          type: integer
          example: 10
        fields:
          type: array
          items:
            $ref: '#/components/schemas/RecordSetFieldValues'
          example: []
    Error:
      type: object
      properties:
        id:
          type: string
          example: abc123
        code:
          type: string
          example: example_value
        title:
          type: string
          example: Example Title
    DataSourceInstance:
      type: object
      properties:
        dstInstanceId:
          type: integer
          example: '500123'
        dstInstanceType:
          type: integer
          example: 10
        rows:
          type: array
          items:
            $ref: '#/components/schemas/DataSourceInstanceRows'
          example: []
    StatusObject:
      type: object
      properties:
        code:
          type: number
          format: int32
          description: The HTTP status code of the response, mirroring the code from the Status-Line of the HTTP response message (see [RFC2616] section 6.1).
          example: 42.5
      description: The status member contains the status code of the response.
      required:
      - code
    DataSourceData:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/DataSourceDTO'
    EntityFieldValueDTO:
      type: object
      properties:
        meta:
          type: object
          properties:
            pagination:
              type: object
              properties:
                total:
                  type: integer
                isEstimatedTotal:
                  type: boolean
            sort:
              type: array
              items:
                type: string
          example: example_value
        data:
          type: array
          items:
            properties:
              entityRowId:
                type: integer
              keyValue:
                type: string
              descriptionValue:
                type: string
              fieldsWithValues:
                type: array
                items:
                  type: string
          example: []
    RecordSetFieldValues:
      type: object
      properties:
        fieldId:
          type: integer
          example: '500123'
        fieldType:
          type: string
          enum:
          - BOOLEAN
          - DATETIME
          - DECIMAL
          - HTML
          - INTEGER
          - TEXT
          example: BOOLEAN
        fieldValue:
          type: string
          example: example_value
  responses:
    GetInstrumentExchangeRateGetByISOCode200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: object
                properties:
                  instrument:
                    nullable: false
                    type: object
                    x-property-sort:
                    - id
                    - name
                    - shortName
                    - fsym
                    description: Details regarding the exchange rate instrument.
                    properties:
                      id:
                        nullable: true
                        type: string
                        format: id64
                        x-positive: true
                        description: Identifier of the instrument.
                      name:
                        nullable: true
                        type: string
                        format: localizedString
                        description: Name of the instrument.
                      shortName:
                        nullable: true
                        type: string
                        format: localizedString
                        description: Short name of the instrument.
                      fsym:
                        nullable: false
                        type: object
                        x-property-sort:
                        - security
                        description: Instrument-level FactSet identifier of the financial instrument used primarily in FactSet products other than the MDG.
                        properties:
                          security:
                            nullable: false
                            type: object
                            x-property-sort:
                            - permanentIdentifier
                            description: Security-level identifier.
                            properties:
                              permanentIdentifier:
                                nullable: true
                                type: string
                                description: FactSet Permanent Identifier for an instrument. The format is six alpha numeric characters, excluding vowels, with an S suffix (XXXXXX-S).
                description: Basic data for an exchange rate.
                nullable: false
                x-property-sort:
                - instrument
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                x-property-sort:
                - status
            x-property-sort:
            - data
            - meta
    GetBasicRegionCountryGetByCode200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: object
                properties:
                  id:
                    nullable: true
                    type: number
                    format: id32
                    x-positive: true
                    description: Identifier of a country.
                  name:
                    nullable: true
                    type: string
                    format: localizedString
                    description: Name of the country.
                  subdivisions:
                    nullable: false
                    type: array
                    items:
                      type: object
                      nullable: false
                      x-property-sort:
                      - id
                      - name
                      description: Subdivisions of this country in unspecified order.
                      properties:
                        id:
                          nullable: true
                          type: number
                          format: id32
                          x-positive: true
                          description: Identifier of a country subdivision.
                        name:
                          nullable: true
                          type: string
                          format: localizedString
                          description: Name of the country subdivision.
                description: Details of a country.
                nullable: false
                x-property-sort:
                - id
                - name
                - subdivisions
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                x-property-sort:
                - status
            x-property-sort:
            - data
            - meta
    GetBasicLanguageGetByCode200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: object
                properties:
                  id:
                    nullable: true
                    type: number
                    format: id32
                    x-positive: true
                    description: Identifier of a language.
                  name:
                    nullable: true
                    type: string
                    format: localizedString
                    description: Name of the language.
                description: Details of a language.
                nullable: false
                x-property-sort:
                - id
                - name
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                x-property-sort:
                - status
            x-property-sort:
            - data
            - meta
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
externalDocs:
  url: https://developer.factset.com/api-catalog/analytics-datastore-api
  description: API Documentation
