openapi: 3.0.3
info:
  title: Factset Analytics Datastore About Categories API
  description: Allow clients to fetch precalculated Analytics through predeterministic URLs.
  contact:
    name: FactSet Research Systems
    url: https://developer.factset.com/contact
    email: api@factset.com
  license:
    name: Apache License, Version 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  version: 1.0.0
servers:
- url: https://api.factset.com
  description: Production
- url: https://api-sandbox.factset.com
  description: Sandbox
security:
- basicAuth: []
tags:
- name: Categories
paths:
  /categories:
    get:
      tags:
      - Categories
      operationId: getCategories
      description: Fetch a list of available signal categories
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/signalMetaData'
        '429':
          description: API Rate Limit Exceeded
          headers:
            Api-Version:
              $ref: '#/components/headers/Api-Version'
            Api-Supported-Versions:
              $ref: '#/components/headers/Api-Supported-Versions'
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimit-Limit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimit-Remaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rateLimitResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  headers:
    RateLimit-Reset:
      description: Time remaining (in seconds) until the quota is reset.
      schema:
        type: integer
        example: 1000
    Api-Version:
      description: Full semantic version of the API.
      schema:
        type: string
        example: 1.0.0
    RateLimit-Remaining:
      description: Remaining number of requests in the current time window.
      schema:
        type: integer
        example: 4
    RateLimit-Limit:
      description: Total number of requests allowed in a specific time window. The time window is two seconds for regular API users and one week for limited access users.
      schema:
        type: integer
        example: 5
    Api-Supported-Versions:
      description: Comma-separated list of supported major versions.
      schema:
        type: string
        example: '1'
  schemas:
    errorItem:
      type: object
      required:
      - id
      - code
      - title
      properties:
        id:
          type: string
          format: uuid
          example: abc123
        code:
          type: string
          example: parameterError
        title:
          type: string
          example: Invalid type/value
        detail:
          type: string
          example: Value must be a valid UTC date/time that conforms to ISO 8601 format
        source:
          type: object
          properties:
            parameter:
              type: string
          example: example_value
    rateLimitResponse:
      title: Rate Limit Error Object
      description: Error returned if any of the user's rate limit have been reached.
      properties:
        message:
          type: string
          example: API rate limit exceeded
    errorResponse:
      type: object
      required:
      - message
      properties:
        message:
          type: string
          description: A short description of the error.
          example: There was an error processing your request. Please try again later.
        errors:
          type: array
          items:
            $ref: '#/components/schemas/errorItem'
          description: Optional list of errors. e.g. Validation errors for multiple parameters
          example: []
    signalMetaData:
      type: object
      required:
      - data
      properties:
        data:
          type: array
          items:
            type: object
            required:
            - id
            - name
            - description
            properties:
              id:
                type: string
              name:
                type: string
              description:
                type: string
          example: []
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
externalDocs:
  url: https://developer.factset.com/api-catalog/analytics-datastore-api
  description: API Documentation
