openapi: 3.2.0
info:
  title: Factset Subjects API
  version: '1'
  description: 'Operations tagged Subjects across 2 of this provider''s published API definitions: factset-irn-configuration-api-openapi.yml, irn-configuration-openapi-original.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.factset.com/research/irn
  description: Production Server
- url: https://api-sandbox.factset.com/research/irn
  description: Sandbox
security:
- basicScheme: []
tags:
- name: Subjects
paths:
  /v1/subjects:
    get:
      tags:
      - Subjects
      summary: Factset Get All Subjects
      operationId: GetSubjects
      parameters:
      - name: X-IRN-Ignore-Permissions
        in: header
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SubjectSummaryDto'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - url: https://api.factset.com/research/irn
      description: Production Server
    - url: https://api-sandbox.factset.com/research/irn
      description: Sandbox
  /v1/subjects/{subjectId}:
    get:
      tags:
      - Subjects
      summary: Factset Get Subject Details for the Given Id Provided
      operationId: GetSubject
      parameters:
      - name: subjectId
        in: path
        description: Id
        required: true
        schema:
          type: string
          format: uuid
      - name: X-IRN-Ignore-Permissions
        in: header
        description: ''
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubjectConfigDto'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - url: https://api.factset.com/research/irn
      description: Production Server
    - url: https://api-sandbox.factset.com/research/irn
      description: Sandbox
components:
  schemas:
    ApprovalLevelConfigDto:
      type: object
      properties:
        name:
          type:
          - string
          - 'null'
          example: Example Title
        approverIds:
          type:
          - array
          - 'null'
          items:
            type: string
            format: uuid
          example: []
      additionalProperties: false
    SubjectSummaryDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: abc123
        name:
          type:
          - string
          - 'null'
          example: Example Title
        code:
          type:
          - string
          - 'null'
          example: example_value
        identifierType:
          type:
          - string
          - 'null'
          example: example_value
        identifierTypes:
          type:
          - array
          - 'null'
          items:
            type: string
          example: []
        type:
          type:
          - string
          - 'null'
          example: example_value
        isHidden:
          type: boolean
          example: true
        customFieldIds:
          type:
          - array
          - 'null'
          items:
            type: string
            format: uuid
          example: []
        noteLengthLimit:
          type:
          - integer
          - 'null'
          format: int32
          example: 10
      additionalProperties: false
    HeadlineFormatConfigDto:
      type: object
      properties:
        name:
          type:
          - string
          - 'null'
          example: Example Title
        customString:
          type:
          - string
          - 'null'
          example: example_value
        customFieldName:
          type:
          - string
          - 'null'
          example: example_value
      additionalProperties: false
    SubjectConfigDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: abc123
        name:
          type:
          - string
          - 'null'
          example: Example Title
        code:
          type:
          - string
          - 'null'
          example: example_value
        isHidden:
          type: boolean
          example: true
        identifierType:
          type:
          - string
          - 'null'
          example: example_value
        identifierTypes:
          type:
          - array
          - 'null'
          items:
            type: string
          example: []
        type:
          type:
          - string
          - 'null'
          example: example_value
        customFieldIds:
          type:
          - array
          - 'null'
          items:
            type: string
            format: uuid
          example: []
        approvalProcessConfig:
          $ref: '#/components/schemas/ApprovalProcessConfigDto'
        commentaryConfig:
          $ref: '#/components/schemas/CommentaryConfigDto'
        newsHeadlineFormat:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/HeadlineFormatConfigDto'
          example: []
        emailHeadlineFormat:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/HeadlineFormatConfigDto'
          example: user@example.com
        ratingConfig:
          $ref: '#/components/schemas/RatingConfigDto'
        noteLengthLimit:
          type:
          - integer
          - 'null'
          format: int32
          example: 10
      additionalProperties: false
    ProblemDetails:
      type: object
      properties:
        type:
          type:
          - string
          - 'null'
          example: example_value
        title:
          type:
          - string
          - 'null'
          example: Example Title
        status:
          type:
          - integer
          - 'null'
          format: int32
          example: 10
        detail:
          type:
          - string
          - 'null'
          example: example_value
        instance:
          type:
          - string
          - 'null'
          example: example_value
      additionalProperties: {}
    RatingConfigDto:
      type: object
      properties:
        ratingsVisibleToAuthor:
          type: boolean
          example: true
        ratingsVisibleToViewers:
          type: boolean
          example: true
        ratingsVisibleToAll:
          type: boolean
          example: true
        viewerIds:
          type:
          - array
          - 'null'
          items:
            type: string
            format: uuid
          example: []
        optionValues:
          type:
          - array
          - 'null'
          items:
            type: integer
            format: int32
          example: []
      additionalProperties: false
    CommentaryConfigDto:
      type: object
      properties:
        shouldSendEmailAlertsToAuthor:
          type: boolean
          example: user@example.com
        shouldSendEmailAlertsToCommenters:
          type: boolean
          example: user@example.com
        shouldSendEmailAlertsToAll:
          type: boolean
          example: user@example.com
      additionalProperties: false
    ApprovalProcessConfigDto:
      type: object
      properties:
        approvalLevels:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ApprovalLevelConfigDto'
          example: []
        viewerIds:
          type:
          - array
          - 'null'
          items:
            type: string
            format: uuid
          example: []
        shouldSendEmailAlertsWhenSubmittedForApproval:
          type: boolean
          example: user@example.com
        shouldSendEmailAlertsWhenApproved:
          type: boolean
          example: user@example.com
        shouldSendEmailAlertsWhenDenied:
          type: boolean
          example: user@example.com
        shouldSendEmailAlertsToAuthor:
          type: boolean
          example: user@example.com
        shouldSendEmailAlertsToApprovers:
          type: boolean
          example: user@example.com
        shouldSendEmailAlertsToViewers:
          type: boolean
          example: user@example.com
        canAuthorSelfApprove:
          type: boolean
          example: true
        canAuthorEditPending:
          type: boolean
          example: true
      additionalProperties: false
    ApprovalLevelConfigDto_2:
      type: object
      properties:
        name:
          type:
          - string
          - 'null'
        approverIds:
          type:
          - array
          - 'null'
          items:
            type: string
            format: uuid
      additionalProperties: false
    SubjectSummaryDto_2:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type:
          - string
          - 'null'
        code:
          type:
          - string
          - 'null'
        identifierType:
          type:
          - string
          - 'null'
        identifierTypes:
          type:
          - array
          - 'null'
          items:
            type: string
        type:
          type:
          - string
          - 'null'
        isHidden:
          type: boolean
        customFieldIds:
          type:
          - array
          - 'null'
          items:
            type: string
            format: uuid
        noteLengthLimit:
          type:
          - integer
          - 'null'
          format: int32
      additionalProperties: false
    HeadlineFormatConfigDto_2:
      type: object
      properties:
        name:
          type:
          - string
          - 'null'
        customString:
          type:
          - string
          - 'null'
        customFieldName:
          type:
          - string
          - 'null'
      additionalProperties: false
    SubjectConfigDto_2:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type:
          - string
          - 'null'
        code:
          type:
          - string
          - 'null'
        isHidden:
          type: boolean
        identifierType:
          type:
          - string
          - 'null'
        identifierTypes:
          type:
          - array
          - 'null'
          items:
            type: string
        type:
          type:
          - string
          - 'null'
        customFieldIds:
          type:
          - array
          - 'null'
          items:
            type: string
            format: uuid
        approvalProcessConfig:
          $ref: '#/components/schemas/ApprovalProcessConfigDto_2'
        commentaryConfig:
          $ref: '#/components/schemas/CommentaryConfigDto_2'
        newsHeadlineFormat:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/HeadlineFormatConfigDto_2'
        emailHeadlineFormat:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/HeadlineFormatConfigDto_2'
        ratingConfig:
          $ref: '#/components/schemas/RatingConfigDto_2'
        noteLengthLimit:
          type:
          - integer
          - 'null'
          format: int32
      additionalProperties: false
    ProblemDetails_2:
      type: object
      properties:
        type:
          type:
          - string
          - 'null'
        title:
          type:
          - string
          - 'null'
        status:
          type:
          - integer
          - 'null'
          format: int32
        detail:
          type:
          - string
          - 'null'
        instance:
          type:
          - string
          - 'null'
      additionalProperties: {}
    RatingConfigDto_2:
      type: object
      properties:
        ratingsVisibleToAuthor:
          type: boolean
        ratingsVisibleToViewers:
          type: boolean
        ratingsVisibleToAll:
          type: boolean
        viewerIds:
          type:
          - array
          - 'null'
          items:
            type: string
            format: uuid
        optionValues:
          type:
          - array
          - 'null'
          items:
            type: integer
            format: int32
      additionalProperties: false
    CommentaryConfigDto_2:
      type: object
      properties:
        shouldSendEmailAlertsToAuthor:
          type: boolean
        shouldSendEmailAlertsToCommenters:
          type: boolean
        shouldSendEmailAlertsToAll:
          type: boolean
      additionalProperties: false
    ApprovalProcessConfigDto_2:
      type: object
      properties:
        approvalLevels:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ApprovalLevelConfigDto_2'
        viewerIds:
          type:
          - array
          - 'null'
          items:
            type: string
            format: uuid
        shouldSendEmailAlertsWhenSubmittedForApproval:
          type: boolean
        shouldSendEmailAlertsWhenApproved:
          type: boolean
        shouldSendEmailAlertsWhenDenied:
          type: boolean
        shouldSendEmailAlertsToAuthor:
          type: boolean
        shouldSendEmailAlertsToApprovers:
          type: boolean
        shouldSendEmailAlertsToViewers:
          type: boolean
        canAuthorSelfApprove:
          type: boolean
        canAuthorEditPending:
          type: boolean
      additionalProperties: false
  securitySchemes:
    basicScheme:
      type: http
      scheme: basic
x-refined-from:
- factset-irn-configuration-api-openapi.yml
- irn-configuration-openapi-original.yml
