openapi: 3.2.0
info:
  title: Factset Contacts API
  version: '1'
  description: 'Operations tagged Contacts across 2 of this provider''s published API definitions: factset-irn-contacts-api-openapi.yml, irn-contacts-openapi-original.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.factset.com/research/irn
  description: Production Server
- url: https://api-sandbox.factset.com/research/irn
  description: Sandbox
security:
- basicScheme: []
tags:
- name: Contacts
paths:
  /v1/contacts:
    get:
      tags:
      - Contacts
      summary: Factset Get List of All Contacts in Your Group Along With Some of Their Standard Field Data
      operationId: GetContacts
      parameters:
      - name: fullName
        in: query
        description: Filter results on fullName
        schema:
          type: string
      - name: emailAddress
        in: query
        description: Filter results on emailAddress
        schema:
          type: string
      - name: identifier
        in: query
        description: Filter results on identifier
        schema:
          type: string
      - name: employerName
        in: query
        description: Filter results on employerName
        schema:
          type: string
      - name: customFieldValues
        in: query
        description: Includes custom field values in response if true
        schema:
          type: boolean
          default: false
      - name: search
        in: query
        description: Filter results on the combination of fullName, emailAddress, identifier and employerName
        schema:
          type: string
      - name: sort
        in: query
        schema:
          type: string
      - name: includeLastMeetingDate
        in: query
        description: If true, returns when they were last tagged as an attendee in an IRN meeting
        schema:
          type: boolean
          default: false
      - name: limit
        in: query
        description: Restrict number of records returned
        schema:
          type: integer
          format: int32
          default: 0
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ContactSummaryDto'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      tags:
      - Contacts
      summary: Factset Create a Contact
      operationId: CreateContact
      requestBody:
        description: contactSaveDto object to save
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/ContactSaveDto'
          application/json:
            schema:
              $ref: '#/components/schemas/ContactSaveDto'
          text/json:
            schema:
              $ref: '#/components/schemas/ContactSaveDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ContactSaveDto'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewItemDto'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - url: https://api.factset.com/research/irn
      description: Production Server
    - url: https://api-sandbox.factset.com/research/irn
      description: Sandbox
  /v1/contacts/{contactId}:
    get:
      tags:
      - Contacts
      summary: Factset Get All Custom Field and Standard Field Details on a Specific Contact
      operationId: GetContact
      parameters:
      - name: contactId
        in: path
        description: contactId to get associated record
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactDto'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    patch:
      tags:
      - Contacts
      summary: Factset Edit a Contacts Standard Field and Custom Field Data
      operationId: PatchContact
      parameters:
      - name: contactId
        in: path
        description: contactId to update associated record
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        description: contactSaveDtoPatch object to update
        content:
          application/json-patch+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Operation'
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Operation'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Operation'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Operation'
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      tags:
      - Contacts
      summary: Factset Delete a Contact
      operationId: DeleteContact
      parameters:
      - name: contactId
        in: path
        description: contactId to delete associated record
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - url: https://api.factset.com/research/irn
      description: Production Server
    - url: https://api-sandbox.factset.com/research/irn
      description: Sandbox
  /v1/contacts/{contactId}/events:
    get:
      tags:
      - Contacts
      summary: Factset Get a Contacts Audit History
      operationId: GetContactEvents
      parameters:
      - name: contactId
        in: path
        description: contactId to get associated records
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ContactEventDto'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - url: https://api.factset.com/research/irn
      description: Production Server
    - url: https://api-sandbox.factset.com/research/irn
      description: Sandbox
  /v1/contacts/{contactId}/records:
    get:
      tags:
      - Contacts
      summary: Factset Get All Notes and Meetings Where a Specific Contact Was Tagged
      operationId: GetContactRecords
      parameters:
      - name: contactId
        in: path
        description: contactId to get associated records
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RecordPreviewDto'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - url: https://api.factset.com/research/irn
      description: Production Server
    - url: https://api-sandbox.factset.com/research/irn
      description: Sandbox
  /v1/contacts/{contactId}/relationships:
    get:
      tags:
      - Contacts
      summary: Factset Returns a List of a Contacts Relationships
      operationId: GetContactRelationships
      parameters:
      - name: contactId
        in: path
        description: contactId to get associated records
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ContactRelationshipDto'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - url: https://api.factset.com/research/irn
      description: Production Server
    - url: https://api-sandbox.factset.com/research/irn
      description: Sandbox
  /v1/contacts/{contactId}/about:
    get:
      tags:
      - Contacts
      summary: Factset Get the About field content for a specific contact
      operationId: GetContactNotes
      parameters:
      - name: contactId
        in: path
        description: contactId of associated record
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: string
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails_2'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails_2'
    servers:
    - url: https://api.factset.com/research/irn
      description: Production Server
    - url: https://api-sandbox.factset.com/research/irn
      description: Sandbox
components:
  schemas:
    NewItemDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: abc123
      additionalProperties: false
    ContactRelationshipSaveDto:
      type: object
      properties:
        relationshipId:
          type: string
          format: uuid
          example: '500123'
        contactId:
          type:
          - string
          - 'null'
          format: uuid
          example: '500123'
        start:
          type:
          - string
          - 'null'
          format: date-time
          example: '2026-01-15T10:30:00Z'
        end:
          type:
          - string
          - 'null'
          format: date-time
          example: '2026-01-15T10:30:00Z'
        comment:
          type:
          - string
          - 'null'
          example: example_value
        isCurrent:
          type: boolean
          example: true
        symbol:
          type:
          - string
          - 'null'
          example: example_value
        title:
          type:
          - string
          - 'null'
          example: Example Title
      additionalProperties: false
    RelationshipSymbolSummaryDto:
      type: object
      properties:
        tdentifier:
          type:
          - string
          - 'null'
          example: example_value
        name:
          type:
          - string
          - 'null'
          example: Example Title
        type:
          $ref: '#/components/schemas/SymbolType'
      additionalProperties: false
    Operation:
      type: object
      properties:
        operationType:
          $ref: '#/components/schemas/OperationType'
        path:
          type:
          - string
          - 'null'
          example: example_value
        op:
          type:
          - string
          - 'null'
          example: example_value
        from:
          type:
          - string
          - 'null'
          example: example_value
        value:
          example: example_value
      additionalProperties: false
    PhoneNumberTypeDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: abc123
        name:
          maxLength: 50
          minLength: 0
          type:
          - string
          - 'null'
          example: Example Title
        isStandard:
          type: boolean
          example: true
      additionalProperties: false
    RelationshipCategoryIdNameDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: abc123
        name:
          type:
          - string
          - 'null'
          example: Example Title
      additionalProperties: false
    RecordPreviewDto:
      type: object
      properties:
        noteGuid:
          type:
          - string
          - 'null'
          format: uuid
          example: '500123'
        meetingGuid:
          type:
          - string
          - 'null'
          format: uuid
          example: '500123'
        title:
          type:
          - string
          - 'null'
          example: Example Title
        date:
          type: string
          format: date-time
          example: '2026-01-15T10:30:00Z'
      additionalProperties: false
    RelationshipIdNameDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: abc123
        name:
          type:
          - string
          - 'null'
          example: Example Title
      additionalProperties: false
    ContactPhoneDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: abc123
        number:
          maxLength: 50
          minLength: 0
          type:
          - string
          - 'null'
          example: example_value
        type:
          $ref: '#/components/schemas/PhoneNumberTypeDto'
        isPrimary:
          type: boolean
          example: true
      additionalProperties: false
    ContactPhoneSaveDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: abc123
        number:
          maxLength: 50
          minLength: 0
          type:
          - string
          - 'null'
          example: example_value
        typeId:
          type: string
          format: uuid
          example: '500123'
        isPrimary:
          type: boolean
          example: true
      additionalProperties: false
    ContactRelationshipDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: abc123
        relationshipCategory:
          $ref: '#/components/schemas/RelationshipCategoryIdNameDto'
        relationship:
          $ref: '#/components/schemas/RelationshipIdNameDto'
        contact:
          $ref: '#/components/schemas/ContactIdNameDto'
        symbol:
          $ref: '#/components/schemas/RelationshipSymbolSummaryDto'
        isCurrent:
          type: boolean
          example: true
        start:
          type:
          - string
          - 'null'
          format: date-time
          example: '2026-01-15T10:30:00Z'
        end:
          type:
          - string
          - 'null'
          format: date-time
          example: '2026-01-15T10:30:00Z'
        title:
          type:
          - string
          - 'null'
          example: Example Title
        comment:
          type:
          - string
          - 'null'
          example: example_value
      additionalProperties: false
    ContactEventDto:
      type: object
      properties:
        eventType:
          type:
          - string
          - 'null'
          example: example_value
        date:
          type: string
          format: date-time
          example: '2026-01-15T10:30:00Z'
        fullName:
          type:
          - string
          - 'null'
          example: example_value
        details:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ContactEventUpdateDto'
          example: []
      additionalProperties: false
    ContactIdNameDto:
      type: object
      properties:
        id:
          type:
          - string
          - 'null'
          format: uuid
          example: abc123
        name:
          type:
          - string
          - 'null'
          example: Example Title
      additionalProperties: false
    ContactCustomFieldValueDto:
      type: object
      properties:
        fieldCode:
          type:
          - string
          - 'null'
          example: example_value
        value:
          type:
          - string
          - 'null'
          example: example_value
        optionValues:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ContactCustomFieldOptionValueDto'
          example: []
      additionalProperties: false
    ContactSaveDto:
      type: object
      properties:
        primaryEmailAddress:
          maxLength: 255
          minLength: 0
          type:
          - string
          - 'null'
          example: user@example.com
        fullName:
          maxLength: 255
          minLength: 0
          type:
          - string
          - 'null'
          example: example_value
        notes:
          type:
          - string
          - 'null'
          example: example_value
        linkedInProfile:
          maxLength: 255
          minLength: 0
          type:
          - string
          - 'null'
          format: uri
          example: https://www.example.com
        personSymbol:
          maxLength: 255
          minLength: 0
          type:
          - string
          - 'null'
          example: example_value
        roleId:
          type: string
          format: uuid
          example: '500123'
        typeId:
          type: string
          format: uuid
          example: '500123'
        address:
          $ref: '#/components/schemas/ContactAddressDto'
        phoneNumbers:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ContactPhoneSaveDto'
          example: []
        leftRelationships:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ContactRelationshipSaveDto'
          example: []
        rightRelationships:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ContactRelationshipSaveDto'
          example: []
        alternativeEmailAddresses:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/AlternativeEmailAddressDto'
          example: user@example.com
        customFields:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ContactCustomFieldValueSaveDto'
          example: []
      additionalProperties: false
    ContactRoleDto:
      required:
      - id
      - name
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: abc123
        name:
          maxLength: 50
          minLength: 0
          type: string
          example: Example Title
      additionalProperties: false
    OperationType:
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
      - 5
      - 6
      type: integer
      format: int32
    ContactDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: abc123
        primaryEmailAddress:
          type:
          - string
          - 'null'
          example: user@example.com
        identifier:
          type:
          - string
          - 'null'
          example: example_value
        fullName:
          type:
          - string
          - 'null'
          example: example_value
        address:
          $ref: '#/components/schemas/ContactAddressDto'
        linkedInProfile:
          type:
          - string
          - 'null'
          example: example_value
        isDeleted:
          type: boolean
          example: true
        employer:
          $ref: '#/components/schemas/EmployerDto'
        role:
          $ref: '#/components/schemas/ContactRoleDto'
        type:
          $ref: '#/components/schemas/ContactTypeDto'
        phoneNumbers:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ContactPhoneDto'
          example: []
        alternativeEmailAddresses:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/AlternativeEmailAddressDto'
          example: user@example.com
        customFields:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ContactCustomFieldValueDto'
          example: []
      additionalProperties: false
    ContactCustomFieldValueSaveDto:
      required:
      - code
      type: object
      properties:
        code:
          type: string
          example: example_value
        value:
          type:
          - string
          - 'null'
          example: example_value
        optionValues:
          type:
          - array
          - 'null'
          items:
            type: string
            format: uuid
          example: []
        evaluateFormula:
          type: boolean
          default: false
          example: true
      additionalProperties: false
    AlternativeEmailAddressDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: abc123
        emailAddress:
          type:
          - string
          - 'null'
          example: user@example.com
      additionalProperties: false
    ContactTypeDto:
      required:
      - id
      - name
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: abc123
        name:
          maxLength: 50
          minLength: 0
          type: string
          example: Example Title
      additionalProperties: false
    EmployerDto:
      required:
      - id
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: abc123
        name:
          maxLength: 255
          minLength: 0
          type:
          - string
          - 'null'
          example: Example Title
        factsetIdentifier:
          maxLength: 255
          minLength: 0
          type:
          - string
          - 'null'
          example: example_value
      additionalProperties: false
    ContactAddressDto:
      type: object
      properties:
        googleMapsPlaceId:
          maxLength: 255
          minLength: 0
          type:
          - string
          - 'null'
          example: '500123'
        formattedAddress:
          maxLength: 255
          minLength: 0
          type:
          - string
          - 'null'
          example: example_value
        city:
          maxLength: 50
          minLength: 0
          type:
          - string
          - 'null'
          example: example_value
        stateProvince:
          maxLength: 50
          minLength: 0
          type:
          - string
          - 'null'
          example: example_value
        postalCode:
          maxLength: 10
          minLength: 0
          type:
          - string
          - 'null'
          example: example_value
        country:
          maxLength: 50
          minLength: 0
          type:
          - string
          - 'null'
          example: example_value
      additionalProperties: false
    ProblemDetails:
      type: object
      properties:
        type:
          type:
          - string
          - 'null'
          example: example_value
        title:
          type:
          - string
          - 'null'
          example: Example Title
        status:
          type:
          - integer
          - 'null'
          format: int32
          example: 10
        detail:
          type:
          - string
          - 'null'
          example: example_value
        instance:
          type:
          - string
          - 'null'
          example: example_value
      additionalProperties: {}
    ContactEventUpdateDto:
      type: object
      properties:
        fieldName:
          type:
          - string
          - 'null'
          example: example_value
        oldValue:
          type:
          - string
          - 'null'
          example: example_value
        newValue:
          type:
          - string
          - 'null'
          example: example_value
      additionalProperties: false
    ContactCustomFieldOptionValueDto:
      type: object
      properties:
        optionId:
          type: string
          format: uuid
          example: '500123'
        optionName:
          type:
          - string
          - 'null'
          example: example_value
      additionalProperties: false
    SymbolType:
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
      - 5
      - 6
      type: integer
      format: int32
    ContactSummaryDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: abc123
        primaryEmailAddress:
          type:
          - string
          - 'null'
          example: user@example.com
        identifier:
          type:
          - string
          - 'null'
          example: example_value
        fullName:
          type:
          - string
          - 'null'
          example: example_value
        employerName:
          type:
          - string
          - 'null'
          example: example_value
        employerIdentifier:
          type:
          - string
          - 'null'
          example: example_value
        city:
          type:
          - string
          - 'null'
          example: example_value
        stateProvince:
          type:
          - string
          - 'null'
          example: example_value
        postalCode:
          type:
          - string
          - 'null'
          example: example_value
        country:
          type:
          - string
          - 'null'
          example: example_value
        role:
          $ref: '#/components/schemas/ContactRoleDto'
        type:
          $ref: '#/components/schemas/ContactTypeDto'
        isDeleted:
          type: boolean
          example: true
        lastMeeting:
          type:
          - string
          - 'null'
          example: example_value
        alternativeEmailAddresses:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/AlternativeEmailAddressDto'
          example: user@example.com
        customFieldValues:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ContactCustomFieldValueDto'
          example: []
      additionalProperties: false
    NewItemDto_2:
      type: object
      properties:
        id:
          type: string
          format: uuid
      additionalProperties: false
    ContactRelationshipSaveDto_2:
      type: object
      properties:
        relationshipId:
          type: string
          format: uuid
        contactId:
          type:
          - string
          - 'null'
          format: uuid
        start:
          type:
          - string
          - 'null'
          format: date-time
        end:
          type:
          - string
          - 'null'
          format: date-time
        comment:
          type:
          - string
          - 'null'
        isCurrent:
          type: boolean
        symbol:
          type:
          - string
          - 'null'
        title:
          type:
          - string
          - 'null'
      additionalProperties: false
    RelationshipSymbolSummaryDto_2:
      type: object
      properties:
        tdentifier:
          type:
          - string
          - 'null'
        name:
          type:
          - string
          - 'null'
        type:
          $ref: '#/components/schemas/SymbolType'
      additionalProperties: false
    Operation_2:
      type: object
      properties:
        operationType:
          $ref: '#/components/schemas/OperationType'
        path:
          type:
          - string
          - 'null'
        op:
          type:
          - string
          - 'null'
        from:
          type:
          - string
          - 'null'
        value: {}
      additionalProperties: false
    PhoneNumberTypeDto_2:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          maxLength: 50
          minLength: 0
          type:
          - string
          - 'null'
        isStandard:
          type: boolean
      additionalProperties: false
    RelationshipCategoryIdNameDto_2:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type:
          - string
          - 'null'
      additionalProperties: false
    RecordPreviewDto_2:
      type: object
      properties:
        noteGuid:
          type:
          - string
          - 'null'
          format: uuid
        meetingGuid:
          type:
          - string
          - 'null'
          format: uuid
        title:
          type:
          - string
          - 'null'
        date:
          type: string
          format: date-time
      additionalProperties: false
    RelationshipIdNameDto_2:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type:
          - string
          - 'null'
      additionalProperties: false
    ContactPhoneDto_2:
      type: object
      properties:
        id:
          type: string
          format: uuid
        number:
          maxLength: 50
          minLength: 0
          type:
          - string
          - 'null'
        type:
          $ref: '#/components/schemas/PhoneNumberTypeDto_2'
        isPrimary:
          type: boolean
      additionalProperties: false
    ContactPhoneSaveDto_2:
      type: object
      properties:
        id:
          type: string
          format: uuid
        number:
          maxLength: 50
          minLength: 0
          type:
          - string
          - 'null'
        typeId:
          type: string
          format: uuid
        isPrimary:
          type: boolean
      additionalProperties: false
    ContactRelationshipDto_2:
      type: object
      properties:
        id:
          type: string
          format: uuid
        relationshipCategory:
          $ref: '#/components/schemas/RelationshipCategoryIdNameDto_2'
        relationship:
          $ref: '#/components/schemas/RelationshipIdNameDto_2'
        contact:
          $ref: '#/components/schemas/ContactIdNameDto_2'
        symbol:
          $ref: '#/components/schemas/RelationshipSymbolSummaryDto_2'
        isCurrent:
          type: boolean
        start:
          type:
          - string
          - 'null'
          format: date-time
        end:
          type:
          - string
          - 'null'
          format: date-time
        title:
          type:
          - string
          - 'null'
        comment:
          type:
          - string
          - 'null'
      additionalProperties: false
    ContactEventDto_2:
      type: object
      properties:
        eventType:
          type:
          - string
          - 'null'
        date:
          type: string
          format: date-time
        fullName:
          type:
          - string
          - 'null'
        details:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ContactEventUpdateDto_2'
      additionalProperties: false
    ContactIdNameDto_2:
      type: object
      properties:
        id:
          type:
          - string
          - 'null'
          format: uuid
        name:
          type:
          - string
          - 'null'
      additionalProperties: false
    ContactCustomFieldValueDto_2:
      type: object
      properties:
        fieldCode:
          type:
          - string
          - 'null'
        value:
          type:
          - string
          - 'null'
        optionValues:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ContactCustomFieldOptionValueDto_2'
      additionalProperties: false
    ContactSaveDto_2:
      type: object
      properties:
        primaryEmailAddress:
          maxLength: 255
          minLength: 0
          type:
          - string
          - 'null'
        fullName:
          maxLength: 255
          minLength: 0
          type:
          - string
          - 'null'
        notes:
          type:
          - string
          - 'null'
        linkedInProfile:
          maxLength: 255
          minLength: 0
          type:
          - string
          - 'null'
          format: uri
        personSymbol:
          maxLength: 255
          minLength: 0
          type:
          - string
          - 'null'
        roleId:
          type: string
          format: uuid
        typeId:
          type: string
          format: uuid
        address:
          $ref: '#/components/schemas/ContactAddressDto_2'
        phoneNumbers:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ContactPhoneSaveDto_2'
        leftRelationships:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ContactRelationshipSaveDto_2'
        rightRelationships:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ContactRelationshipSaveDto_2'
        alternativeEmailAddresses:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/AlternativeEmailAddressDto_2'
        customFields:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ContactCustomFieldValueSaveDto_2'
      additionalProperties: false
    ContactRoleDto_2:
      required:
      - id
      - name
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          maxLength: 50
          minLength: 0
          type: string
      additionalProperties: false
    ContactDto_2:
      type: object
      properties:
        id:
          type: string
          format: uuid
        primaryEmailAddress:
          type:
          - string
          - 'null'
        identifier:
          type:
          - string
          - 'null'
        fullName:
          type:
          - string
          - 'null'
        address:
          $ref: '#/components/schemas/ContactAddressDto_2'
        linkedInProfile:
          type:
          - string
          - 'null'
        isDeleted:
          type: boolean
        employer:
          $ref: '#/components/schemas/EmployerDto_2'
        role:
          $ref: '#/components/schemas/ContactRoleDto_2'
        type:
          $ref: '#/components/schemas/ContactTypeDto_2'
        phoneNumbers:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ContactPhoneDto_2'
        alternativeEmailAddresses:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/AlternativeEmailAddressDto_2'
        customFields:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ContactCustomFieldValueDto_2'
      additionalProperties: false
    ContactCustomFieldValueSaveDto_2:
      required:
      - code
      type: object
      properties:
        code:
          type: string
        value:
          type:
          - string
          - 'null'
        optionValues:
          type:
          - array
          - 'null'
          items:
            type: string
            format: uuid
        evaluateFormula:
          type: boolean
          default: false
      additionalProperties: false
    AlternativeEmailAddressDto_2:
      type: object
      properties:
        id:
          type: string
          format: uuid
        emailAddress:
          type:
          - string
          - 'null'
      additionalProperties: false
    ContactTypeDto_2:
      required:
      - id
      - name
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          maxLength: 50
          minLength: 0
          type: string
      additionalProperties: false
    EmployerDto_2:
      required:
      - id
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          maxLength: 255
          minLength: 0
          type:
          - string
          - 'null'
        factsetIdentifier:
          maxLength: 255
          minLength: 0
          type:
          - string
          - 'null'
      additionalProperties: false
    ContactAddressDto_2:
      type: object
      properties:
        googleMapsPlaceId:
          maxLength: 255
          minLength: 0
          type:
          - string
          - 'null'
        formattedAddress:
          maxLength: 255
          minLength: 0
          type:
          - string
          - 'null'
        city:
          maxLength: 50
          minLength: 0
          type:
          - string
          - 'null'
        stateProvince:
          maxLength: 50
          minLength: 0
          type:
          - string
          - 'null'
        postalCode:
          maxLength: 10
          minLength: 0
          type:
          - string
          - 'null'
        country:
          maxLength: 50
          minLength: 0
          type:
          - string
          - 'null'
      additionalProperties: false
    ProblemDetails_2:
      type: object
      properties:
        type:
          type:
          - string
          - 'null'
        title:
          type:
          - string
          - 'null'
        status:
          type:
          - integer
          - 'null'
          format: int32
        detail:
          type:
          - string
          - 'null'
        instance:
          type:
          - string
          - 'null'
      additionalProperties: {}
    ContactEventUpdateDto_2:
      type: object
      properties:
        fieldName:
          type:
          - string
          - 'null'
        oldValue:
          type:
          - string
          - 'null'
        newValue:
          type:
          - string
          - 'null'
      additionalProperties: false
    ContactCustomFieldOptionValueDto_2:
      type: object
      properties:
        optionId:
          type: string
          format: uuid
        optionName:
          type:
          - string
          - 'null'
      additionalProperties: false
    ContactSummaryDto_2:
      type: object
      properties:
        id:
          type: string
          format: uuid
        primaryEmailAddress:
          type:
          - string
          - 'null'
        identifier:
          type:
          - string
          - 'null'
        fullName:
          type:
          - string
          - 'null'
        employerName:
          type:
          - string
          - 'null'
        employerIdentifier:
          type:
          - string
          - 'null'
        city:
          type:
          - string
          - 'null'
        stateProvince:
          type:
          - string
          - 'null'
        postalCode:
          type:
          - string
          - 'null'
        country:
          type:
          - string
          - 'null'
        role:
          $ref: '#/components/schemas/ContactRoleDto_2'
        type:
          $ref: '#/components/schemas/ContactTypeDto_2'
        isDeleted:
          type: boolean
        lastMeeting:
          type:
          - string
          - 'null'
        alternativeEmailAddresses:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/AlternativeEmailAddressDto_2'
        customFieldValues:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ContactCustomFieldValueDto_2'
      additionalProperties: false
  securitySchemes:
    basicScheme:
      type: http
      scheme: basic
x-refined-from:
- factset-irn-contacts-api-openapi.yml
- irn-contacts-openapi-original.yml
