openapi: 3.0.3
info:
  title: Factset Analytics Datastore About API
  description: Allow clients to fetch precalculated Analytics through predeterministic URLs.
  contact:
    name: FactSet Research Systems
    url: https://developer.factset.com/contact
    email: api@factset.com
  license:
    name: Apache License, Version 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  version: 1.0.0
servers:
- url: https://api.factset.com
  description: Production
- url: https://api-sandbox.factset.com
  description: Sandbox
security:
- basicAuth: []
tags:
- name: About
paths:
  /v1/contacts/{contactId}/about:
    get:
      tags:
      - About
      summary: Factset Get the About Field Content for a Specific Contact
      operationId: GetContactNotes
      parameters:
      - name: contactId
        in: path
        description: contactId of associated record
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: string
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    ProblemDetails:
      type: object
      properties:
        type:
          type: string
          nullable: true
          example: example_value
        title:
          type: string
          nullable: true
          example: Example Title
        status:
          type: integer
          format: int32
          nullable: true
          example: 10
        detail:
          type: string
          nullable: true
          example: example_value
        instance:
          type: string
          nullable: true
          example: example_value
      additionalProperties: {}
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
externalDocs:
  url: https://developer.factset.com/api-catalog/analytics-datastore-api
  description: API Documentation
