openapi: 3.2.0
info:
  title: FactSet Virtual API for Digital Portals Portfolio API
  description: '

    Virtual portfolios empower self-directed investors to define, track and

    realize their mid- to long-term financial strategies'
  version: '2'
servers:
- url: https://api.factset.com/wealth/v1
security:
- Basic: []
tags:
- name: Portfolio
paths:
  /portfolio/create:
    post:
      tags:
      - Portfolio
      operationId: post/portfolio/create
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: true
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: true
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      description: "Create a portfolio.\n\nCertain error conditions yield errors as follows: \n\n|Error Condition|HTTP Error|\n|-------|--------|\n|The number of portfolios would exceed 100.|400 Bad Request|"
      summary: Create a portfolio.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostPortfolioCreateRequest'
      responses:
        '201':
          $ref: '#/components/responses/PostPortfolioCreate201Response'
      parameters: []
  /portfolio/delete:
    post:
      tags:
      - Portfolio
      operationId: post/portfolio/delete
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: true
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: true
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      description: Delete a portfolio.
      summary: Delete a portfolio.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostPortfolioDeleteRequest'
      responses:
        '200':
          $ref: '#/components/responses/PostPortfolioDelete200Response'
      parameters: []
  /portfolio/get:
    get:
      tags:
      - Portfolio
      operationId: get/portfolio/get
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: true
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      description: Details of a portfolio.
      summary: Details of a portfolio.
      parameters:
      - name: id
        in: query
        schema:
          description: Identifier of the portfolio.
          type: string
          format: id64
          x-positive: true
        required: true
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      responses:
        '200':
          $ref: '#/components/responses/GetPortfolioGet200Response'
  /portfolio/list:
    get:
      tags:
      - Portfolio
      operationId: get/portfolio/list
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: true
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 2
      x-supportsPermissionDeniedResponse: false
      description: List of portfolios with keyfigures.
      summary: List of portfolios with keyfigures.
      responses:
        '200':
          $ref: '#/components/responses/GetPortfolioList200Response'
      parameters:
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      - description: Sortable attributes. The sort order is ascending unless it is prefixed with a minus sign, in which case it is descending. A list of at most 2 (possibly prefixed) attribute name(s) is allowed.
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - -id
            - name
            - -name
          maxItems: 2
          uniqueItems: true
          default:
          - name
        style: form
        explode: false
        name: _sort
        in: query
  /portfolio/modify:
    post:
      tags:
      - Portfolio
      operationId: post/portfolio/modify
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: true
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: true
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      description: Modify a portfolio.
      summary: Modify a portfolio.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostPortfolioModifyRequest'
      responses:
        '200':
          $ref: '#/components/responses/PostPortfolioModify200Response'
      parameters: []
  /portfolio/evaluation/list:
    post:
      tags:
      - Portfolio
      operationId: post/portfolio/evaluation/list
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: true
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      description: Performs an evaluation over a period of time and returns portfolio key figures for each day, week, or month.
      summary: Evaluate a portfolio.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostPortfolioEvaluationListRequest'
      responses:
        '200':
          $ref: '#/components/responses/PostPortfolioEvaluationList200Response'
      parameters: []
  /portfolio/name/list:
    get:
      tags:
      - Portfolio
      operationId: get/portfolio/name/list
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: true
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 2
      x-supportsPermissionDeniedResponse: false
      description: List of portfolios.
      summary: List of portfolios.
      responses:
        '200':
          $ref: '#/components/responses/GetPortfolioNameList200Response'
      parameters:
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      - description: Sortable attributes. The sort order is ascending unless it is prefixed with a minus sign, in which case it is descending. A list of at most 2 (possibly prefixed) attribute name(s) is allowed.
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - -id
            - name
            - -name
          maxItems: 2
          uniqueItems: true
          default:
          - name
        style: form
        explode: false
        name: _sort
        in: query
  /portfolio/payout/create:
    post:
      tags:
      - Portfolio
      operationId: post/portfolio/payout/create
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: true
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: true
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      description: Add a payout to a portfolio.
      summary: Add a payout to a portfolio.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostPortfolioPayoutCreateRequest'
      responses:
        '201':
          $ref: '#/components/responses/PostPortfolioPayoutCreate201Response'
      parameters: []
  /portfolio/payout/delete:
    post:
      tags:
      - Portfolio
      operationId: post/portfolio/payout/delete
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: true
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: true
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      description: "Delete a payout of a portfolio.\n\nCertain error conditions yield errors as follows: \n\n|Error Condition|HTTP Error|\n|-------|--------|\n|Invalid payout identifier.|400 Bad Request|"
      summary: Delete a payout of a portfolio.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostPortfolioPayoutDeleteRequest'
      responses:
        '200':
          $ref: '#/components/responses/PostPortfolioPayoutDelete200Response'
      parameters: []
  /portfolio/payout/list:
    post:
      tags:
      - Portfolio
      operationId: post/portfolio/payout/list
      x-supportsOffsetBasedPaging: true
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: true
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 3
      x-supportsPermissionDeniedResponse: false
      description: List of payouts in a portfolio.
      summary: List of payouts in a portfolio.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostPortfolioPayoutListRequest'
      responses:
        '200':
          $ref: '#/components/responses/PostPortfolioPayoutList200Response'
      parameters: []
  /portfolio/payout/modify:
    post:
      tags:
      - Portfolio
      operationId: post/portfolio/payout/modify
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: true
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: true
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      description: "Modify a payout in a portfolio.\n\nCertain error conditions yield errors as follows: \n\n|Error Condition|HTTP Error|\n|-------|--------|\n|At least one of the parameters `notation`, `type`, `amount`, `transaction` or `time` must be set.|400 Bad Request|\n|Invalid payout identifier.|400 Bad Request|"
      summary: Modify a payout in a portfolio.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostPortfolioPayoutModifyRequest'
      responses:
        '200':
          $ref: '#/components/responses/PostPortfolioPayoutModify200Response'
      parameters: []
  /portfolio/position/list:
    get:
      tags:
      - Portfolio
      operationId: get/portfolio/position/list
      x-supportsOffsetBasedPaging: true
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: true
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      description: List all open positions of a portfolio.
      summary: List all open positions of a portfolio.
      parameters:
      - name: id
        in: query
        schema:
          description: Identifier of the portfolio.
          type: string
          format: id64
          x-positive: true
        required: true
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      - name: _language
        in: query
        schema:
          type: string
          format: isoLanguage
          description: ISO 639-1 code of the language.
          maxLength: 2
          minLength: 2
      - description: Sortable attributes. The sort order is ascending unless it is prefixed with a minus sign, in which case it is descending. A list of at most 10 (possibly prefixed) attribute name(s) is allowed.
        schema:
          type: array
          items:
            type: string
            enum:
            - positions.instrument.name
            - -positions.instrument.name
            - positions.instrument.shortName
            - -positions.instrument.shortName
            - positions.instrument.assetClass.code
            - -positions.instrument.assetClass.code
            - positions.instrument.type.name
            - -positions.instrument.type.name
            - positions.shares.open
            - -positions.shares.open
            - positions.purchase.value
            - -positions.purchase.value
            - positions.value
            - -positions.value
            - positions.weight
            - -positions.weight
            - positions.profitLoss.intraday.absolute
            - -positions.profitLoss.intraday.absolute
            - positions.profitLoss.intraday.relative
            - -positions.profitLoss.intraday.relative
            - positions.profitLoss.potential.absolute
            - -positions.profitLoss.potential.absolute
            - positions.profitLoss.potential.relative
            - -positions.profitLoss.potential.relative
          maxItems: 10
          uniqueItems: true
          default:
          - positions.instrument.name
        style: form
        explode: false
        name: _sort
        in: query
      - description: Non-negative number of entries to skip, or 0 (default).
        name: _paginationOffset
        in: query
        schema:
          type: number
          format: int32
          minimum: 0
          default: 0
      - description: Non-negative maximum number of entries to return.
        name: _paginationLimit
        in: query
        schema:
          type: number
          format: int32
          minimum: 1
          maximum: 100
          default: 20
      responses:
        '200':
          $ref: '#/components/responses/GetPortfolioPositionList200Response'
  /portfolio/position/closed/list:
    post:
      tags:
      - Portfolio
      operationId: post/portfolio/position/closed/list
      x-supportsOffsetBasedPaging: true
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: true
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 8
      x-supportsPermissionDeniedResponse: false
      description: List all closed positions of a portfolio.
      summary: List all closed positions of a portfolio.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostPortfolioPositionClosedListRequest'
      responses:
        '200':
          $ref: '#/components/responses/PostPortfolioPositionClosedList200Response'
      parameters: []
  /portfolio/transaction/create:
    post:
      tags:
      - Portfolio
      operationId: post/portfolio/transaction/create
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: true
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: true
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      description: "Add a transaction to a portfolio.\n\nCertain error conditions yield errors as follows: \n\n|Error Condition|HTTP Error|\n|-------|--------|\n|The number of transactions would exceed 1000.|400 Bad Request|"
      summary: Add a transaction to a portfolio.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostPortfolioTransactionCreateRequest'
      responses:
        '201':
          $ref: '#/components/responses/PostPortfolioTransactionCreate201Response'
      parameters: []
  /portfolio/transaction/delete:
    post:
      tags:
      - Portfolio
      operationId: post/portfolio/transaction/delete
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: true
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: true
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      description: Delete a transaction of a portfolio.
      summary: Delete a transaction of a portfolio.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostPortfolioTransactionDeleteRequest'
      responses:
        '200':
          $ref: '#/components/responses/PostPortfolioTransactionDelete200Response'
      parameters: []
  /portfolio/transaction/list:
    get:
      tags:
      - Portfolio
      operationId: get/portfolio/transaction/list
      x-supportsOffsetBasedPaging: true
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: true
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 7
      x-supportsPermissionDeniedResponse: false
      description: List of transactions in a portfolio.
      summary: List of transactions in a portfolio.
      parameters:
      - name: id
        in: query
        schema:
          description: Identifier of the portfolio.
          type: string
          format: id64
          x-positive: true
        required: true
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      - name: _language
        in: query
        schema:
          type: string
          format: isoLanguage
          description: ISO 639-1 code of the language.
          maxLength: 2
          minLength: 2
      - description: Sortable attributes. The sort order is ascending unless it is prefixed with a minus sign, in which case it is descending. A list of at most 7 (possibly prefixed) attribute name(s) is allowed.
        schema:
          type: array
          items:
            type: string
            enum:
            - instrument.name
            - -instrument.name
            - instrument.shortName
            - -instrument.shortName
            - instrument.assetClass.code
            - -instrument.assetClass.code
            - instrument.type.name
            - -instrument.type.name
            - type
            - -type
            - time
            - -time
            - numberShares
            - -numberShares
          maxItems: 7
          uniqueItems: true
          default:
          - instrument.name
        style: form
        explode: false
        name: _sort
        in: query
      - description: Non-negative number of entries to skip, or 0 (default).
        name: _paginationOffset
        in: query
        schema:
          type: number
          format: int32
          minimum: 0
          default: 0
      - description: Non-negative maximum number of entries to return.
        name: _paginationLimit
        in: query
        schema:
          type: number
          format: int32
          minimum: 1
          maximum: 500
          default: 20
      responses:
        '200':
          $ref: '#/components/responses/GetPortfolioTransactionList200Response'
  /portfolio/transaction/modify:
    post:
      tags:
      - Portfolio
      operationId: post/portfolio/transaction/modify
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: true
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: true
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      description: "Modify a transaction in a portfolio.\n\nCertain error conditions yield errors as follows: \n\n|Error Condition|HTTP Error|\n|-------|--------|\n|At least one of the parameters `numberShares`, `price`, `charges`, `exchangeRate` or `time` must be set.|400 Bad Request|"
      summary: Modify a transaction in a portfolio.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostPortfolioTransactionModifyRequest'
      responses:
        '200':
          $ref: '#/components/responses/PostPortfolioTransactionModify200Response'
      parameters: []
  /portfolio/transaction/cash/create:
    post:
      tags:
      - Portfolio
      operationId: post/portfolio/transaction/cash/create
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: true
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: true
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      description: "Add a cash transaction to a portfolio.\n\nCertain error conditions yield errors as follows: \n\n|Error Condition|HTTP Error|\n|-------|--------|\n|The number of transactions would exceed 1000.|400 Bad Request|"
      summary: Add a cash transaction to a portfolio.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostPortfolioTransactionCashCreateRequest'
      responses:
        '200':
          $ref: '#/components/responses/PostPortfolioTransactionCashCreate200Response'
      parameters: []
  /portfolio/transaction/cash/delete:
    post:
      tags:
      - Portfolio
      operationId: post/portfolio/transaction/cash/delete
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: true
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: true
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      description: Delete a cash transaction.
      summary: Delete a cash transaction.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostPortfolioTransactionCashDeleteRequest'
      responses:
        '200':
          $ref: '#/components/responses/PostPortfolioTransactionCashDelete200Response'
      parameters: []
components:
  schemas:
    PostPortfolioModifyRequest:
      type: object
      properties:
        data:
          type: object
          x-property-sort:
          - id
          - name
          description: The data member contains the request's primary data.
          properties:
            id:
              description: Identifier of the portfolio.
              type: string
              format: id64
              x-positive: true
            name:
              description: Name of the portfolio.
              type: string
              pattern: ^[\u0020-\u002e\u0030-\u003a\u003d\u003f-\u005d\u005f\u0061-\u007e\u00c0-\u00ff\u20ac]*$
              x-trim: false
              minLength: 1
              maxLength: 100
          required:
          - id
          - name
        meta:
          type: object
          description: The meta member contains the meta information of the request.
          properties:
            attributes:
              $ref: '#/components/schemas/AttributesMember'
          x-property-sort:
          - attributes
    PostPortfolioPayoutCreateRequest:
      type: object
      properties:
        data:
          type: object
          x-property-sort:
          - id
          - type
          - notation
          - time
          - amount
          - transaction
          description: The data member contains the request's primary data.
          properties:
            id:
              description: Identifier of the portfolio.
              type: string
              format: id64
              x-positive: true
            type:
              description: 'Payout type. '
              type: string
              x-enum-description:
              - Dividend
              - Payout
              - Coupon
              - Subscription right
              - Other
              enum:
              - dividend
              - payout
              - coupon
              - subscriptionRight
              - other
            notation:
              description: Notation of the position.
              type: object
              x-property-sort:
              - id
              properties:
                id:
                  description: Identifier of the notation.
                  type: string
                  format: id64
                  x-positive: true
              required:
              - id
            time:
              description: Date and time of the payout.
              type: string
              format: datetime
            amount:
              description: Amount of the payout in the portfolio's base currency.
              type: number
              format: real
            transaction:
              description: Associates the payout with a sub-position opened by a specific buy transaction. If omitted, the payout will be associated with all sub-positions of the notation in the portfolio.
              type: object
              x-property-sort:
              - id
              properties:
                id:
                  description: Identifier of the buy transaction.
                  type: string
                  format: id64
                  x-positive: true
              required:
              - id
          required:
          - id
          - type
          - notation
          - time
          - amount
        meta:
          type: object
          description: The meta member contains the meta information of the request.
          properties:
            attributes:
              $ref: '#/components/schemas/AttributesMember'
          x-property-sort:
          - attributes
    PostPortfolioEvaluationListRequest:
      type: object
      properties:
        data:
          type: object
          x-property-sort:
          - id
          - range
          - resolution
          description: The data member contains the request's primary data.
          properties:
            id:
              description: Identifier of the portfolio.
              type: string
              format: id64
              x-positive: true
            range:
              type: object
              format: dateRange
              x-isClosedInterval: true
              properties:
                start:
                  type: string
                  format: date
                  description: The starting point of the date range (inclusive).
                end:
                  type: string
                  format: date
                  description: The ending point of the date range (inclusive).
              x-property-sort:
              - start
              - end
              required:
              - start
              - end
              description: Date range for the time series. A valid date range is between 1900-01-01 and the day after the current day. A date before the date of the first transaction is implicitly adjusted to the date of the portfolio's first transaction.
            resolution:
              type: string
              default: daily
              x-enum-description:
              - ''
              - ''
              - ''
              enum:
              - daily
              - weekly
              - monthly
          required:
          - id
          - range
        meta:
          type: object
          description: The meta member contains the meta information of the request.
          properties:
            attributes:
              $ref: '#/components/schemas/AttributesMember'
          x-property-sort:
          - attributes
    PostPortfolioPayoutDeleteRequest:
      type: object
      properties:
        data:
          type: object
          x-property-sort:
          - id
          - payout
          description: The data member contains the request's primary data.
          properties:
            id:
              description: Identifier of the portfolio.
              type: string
              format: id64
              x-positive: true
            payout:
              description: Payout of the portfolio.
              type: object
              x-property-sort:
              - id
              properties:
                id:
                  type: string
                  format: id64
                  x-positive: true
                  description: Identifier of the payout.
              required:
              - id
          required:
          - id
          - payout
        meta:
          type: object
          description: The meta member contains the meta information of the request.
          properties:
            attributes:
              $ref: '#/components/schemas/AttributesMember'
          x-property-sort:
          - attributes
    PostPortfolioTransactionCashCreateRequest:
      type: object
      properties:
        data:
          type: object
          x-property-sort:
          - id
          - time
          - amount
          description: The data member contains the request's primary data.
          properties:
            id:
              description: Identifier of the portfolio.
              type: string
              format: id64
              x-positive: true
            time:
              description: Date and time of the trade.
              type: string
              format: datetime
            amount:
              description: The cash amount being deposited / withdrawn in portfolio��s base currency.
              type: number
              format: real
          required:
          - id
          - time
          - amount
        meta:
          type: object
          description: The meta member contains the meta information of the request.
          properties:
            attributes:
              $ref: '#/components/schemas/AttributesMember'
          x-property-sort:
          - attributes
    PostPortfolioPayoutModifyRequest:
      type: object
      properties:
        data:
          type: object
          x-property-sort:
          - id
          - payout
          description: The data member contains the request's primary data.
          properties:
            id:
              description: Identifier of the portfolio.
              type: string
              format: id64
              x-positive: true
            payout:
              description: Payout of the portfolio.
              type: object
              x-property-sort:
              - id
              - type
              - notation
              - time
              - amount
              - transaction
              properties:
                id:
                  type: string
                  format: id64
                  x-positive: true
                  description: Identifier of the payout.
                type:
                  description: 'Payout type. '
                  type: string
                  x-enum-description:
                  - Dividend
                  - Payout
                  - Coupon
                  - Subscription right
                  - Other
                  enum:
                  - dividend
                  - payout
                  - coupon
                  - subscriptionRight
                  - other
                notation:
                  description: Notation of the transaction.
                  type: object
                  x-property-sort:
                  - id
                  properties:
                    id:
                      description: Identifier of the notation
                      type: string
                      format: id64
                      x-positive: true
                  required:
                  - id
                time:
                  description: Date and time of the payout.
                  type: string
                  format: datetime
                amount:
                  description: Amount of the payout in the portfolio's base currency.
                  type: number
                  format: real
                transaction:
                  description: Associates the payout with a sub-position opened by a specific buy transaction and removes the existing association if available.
                  type: object
                  x-property-sort:
                  - id
                  properties:
                    id:
                      description: Identifier of the buy transaction.
                      type: string
                      format: id64
                      x-positive: true
              required:
              - id
          required:
          - id
        meta:
          type: object
          description: The meta member contains the meta information of the request.
          properties:
            attributes:
              $ref: '#/components/schemas/AttributesMember'
          x-property-sort:
          - attributes
    PostPortfolioTransactionModifyRequest:
      type: object
      properties:
        data:
          type: object
          x-property-sort:
          - id
          - transaction
          description: The data member contains the request's primary data.
          properties:
            id:
              description: Identifier of the portfolio.
              type: string
              format: id64
              x-positive: true
            transaction:
              description: Transaction of the portfolio.
              type: object
              x-property-sort:
              - id
              - notation
              - time
              - numberShares
              - price
              - charges
              - exchangeRate
              properties:
                id:
                  type: string
                  format: id64
                  x-positive: true
                  description: Identifier of the transaction.
                notation:
                  description: Notation of the transaction.
                  type: object
                  x-property-sort:
                  - id
                  properties:
                    id:
                      description: Identifier of the notation
                      type: string
                      format: id64
                      x-positive: true
                  required:
                  - id
                time:
                  description: Date and time of the trade.
                  type: string
                  format: datetime
                numberShares:
                  description: Number of shares bought or sold.
                  type: number
                  format: real
                price:
                  description: Purchase price.
                  type: number
                  format: real
                charges:
                  description: Charges accrued in portfolio's base currency.
                  type: number
                  format: real
                exchangeRate:
                  description: The exchange rate between the notation's currency and the portfolio currency.
                  type: number
                  format: real
              required:
              - id
          required:
          - id
        meta:
          type: object
          description: The meta member contains the meta information of the request.
          properties:
            attributes:
              $ref: '#/components/schemas/AttributesMember'
          x-property-sort:
          - attributes
    PostPortfolioTransactionCreateRequest:
      type: object
      properties:
        data:
          type: object
          x-property-sort:
          - id
          - type
          - notation
          - time
          - numberShares
          - price
          - charges
          - exchangeRate
          - parentTransaction
          description: The data member contains the request's primary data.
          properties:
            id:
              description: Identifier of the portfolio.
              type: string
              format: id64
              x-positive: true
            type:
              description: 'Transaction Type. '
              type: string
              x-enum-description:
              - Buy
              - Sell
              - Sell short
              - Cover short sale
              enum:
              - buy
              - sell
              - short
              - cover
            notation:
              description: Notation of the position.
              type: object
              x-property-sort:
              - id
              properties:
                id:
                  description: Identifier of the notation.
                  type: string
                  format: id64
                  x-positive: true
              required:
              - id
            time:
              description: Date and time of the trade.
              type: string
              format: datetime
            numberShares:
              description: Number of shares bought or sold.
              type: number
              format: real
            price:
              description: Purchase price.
              type: number
              format: real
            charges:
              description: Charges accrued in portfolio��s base currency.
              type: number
              format: real
              default: 0
            exchangeRate:
              description: The exchange rate between the notation's currency and the portfolio currency.
              type: number
              format: real
              default: 1
            parentTransaction:
              description: Parent transactions can be used to link transactions together. Only sell or cover short sell can be have buy transaction as its parent. All other combinations will be ignored, but they will not affect the current create request.
              type: object
              x-property-sort:
              - id
              properties:
                id:
                  description: Identifier of the parent transaction.
                  type: string
                  format: id64
                  x-positive: true
          required:
          - id
          - type
          - notation
          - time
          - numberShares
          - price
        meta:
          type: object
          description: The meta member contains the meta information of the request.
          properties:
            attributes:
              $ref: '#/components/schemas/AttributesMember'
          x-property-sort:
          - attributes
    PostPortfolioCreateRequest:
      required:
      - data
      type: object
      properties:
        data:
          type: object
          x-property-sort:
          - name
          - currency
          description: The data member contains the request's primary data.
          properties:
            name:
              description: Name of the portfolio.
              type: string
              pattern: ^[\u0020-\u002e\u0030-\u003a\u003d\u003f-\u005d\u005f\u0061-\u007e\u00c0-\u00ff\u20ac]{1,}$
              x-trim: false
              minLength: 1
              maxLength: 100
            currency:
              description: Main currency used as the portfolio's currency. See endpoint /basic/valueUnit/currency/main/list for valid values.
              type: object
              x-property-sort:
              - isoCode
              properties:
                isoCode:
                  description: ISO 4217 code of the currency.
                  type: string
                  maxLength: 3
                  default: EUR
          required:
          - name
        meta:
          type: object
          description: The meta member contains the meta information of the request.
          properties:
            attributes:
              $ref: '#/components/schemas/AttributesMember'
          x-property-sort:
          - attributes
    PostPortfolioTransactionDeleteRequest:
      type: object
      properties:
        data:
          type: object
          x-property-sort:
          - id
          - transaction
          - notation
          description: The data member contains the request's primary data.
          properties:
            id:
              description: Identifier of the portfolio.
              type: string
              format: id64
              x-positive: true
            transaction:
              description: Transaction of the portfolio.
              type: object
              x-property-sort:
              - id
              properties:
                id:
                  type: string
                  format: id64
                  x-positive: true
                  description: Identifier of the transaction.
              required:
              - id
            notation:
              description: Notation of the transaction.
              type: object
              x-property-sort:
              - id
              properties:
                id:
                  description: Identifier of the notation
                  type: string
                  format: id64
                  x-positive: true
              required:
              - id
          required:
          - id
          - transaction
          - notation
        meta:
          type: object
          description: The meta member contains the meta information of the request.
          properties:
            attributes:
              $ref: '#/components/schemas/AttributesMember'
          x-property-sort:
          - attributes
    LanguageMember:
      type: string
      format: isoLanguage
      description: ISO 639-1 code of the language.
      maxLength: 2
      minLength: 2
    PostPortfolioTransactionCashDeleteRequest:
      type: object
      properties:
        data:
          type: object
          x-property-sort:
          - id
          - transaction
          description: The data member contains the request's primary data.
          properties:
            id:
              description: Identifier of the portfolio.
              type: string
              format: id64
              x-positive: true
            transaction:
              description: Transaction of the portfolio.
              type: object
              x-property-sort:
              - id
              properties:
                id:
                  type: string
                  format: id64
                  x-positive: true
                  description: Identifier of the transaction.
              required:
              - id
          required:
          - id
          - transaction
        meta:
          type: object
          description: The meta member contains the meta information of the request.
          properties:
            attributes:
              $ref: '#/components/schemas/AttributesMember'
          x-property-sort:
          - attributes
    StatusObject:
      type: object
      properties:
        code:
          type: number
          format: int32
          description: The HTTP status code of the response, mirroring the code from the Status-Line of the HTTP response message (see [RFC2616] section 6.1).
      description: The status member contains the status code of the response.
      required:
      - code
    PostPortfolioPositionClosedListRequest:
      type: object
      properties:
        data:
          type: object
          x-property-sort:
          - id
          - range
          description: The data member contains the request's primary data.
          properties:
            id:
              description: Identifier of the portfolio.
              type: string
              format: id64
              x-positive: true
            range:
              type: object
              format: dateRange
              x-isClosedInterval: true
              properties:
                start:
                  type: string
                  format: date
                  description: The starting point of the date range (inclusive).
                end:
                  type: string
                  format: date
                  description: The ending point of the date range (inclusive).
              x-property-sort:
              - start
              - end
              required:
              - start
              - end
              description: Date range for the closed positions. A valid date range is between 1900-01-01 and the day after the current day. A date before the date of the first transaction is implicitly adjusted to the date of the portfolio's first transaction.
          required:
          - id
        meta:
          type: object
          description: The meta member contains the meta information of the request.
          properties:
            attributes:
              $ref: '#/components/schemas/AttributesMember'
            language:
              $ref: '#/components/schemas/LanguageMember'
            sort:
              description: Sortable attributes. The sort order is ascending unless it is prefixed with a minus sign, in which case it is descending. A list of at most 8 (possibly prefixed) attribute name(s) is allowed.
              type: array
              items:
                type: string
                enum:
                - positions.instrument.name
                - -positions.instrument.name
                - positions.instrument.shortName
                - -positions.instrument.shortName
                - positions.instrument.assetClass.code
                - -positions.instrument.assetClass.code
                - positions.instrument.type.name
                - -positions.instrument.type.name
                - positions.transaction.buy.value
                - -positions.transaction.buy.value
                - positions.transaction.sell.value
                - -positions.transaction.sell.value
                - positions.shares
                - -positions.shares
                - positions.payout.amount
                - -positions.payout.amount
              maxItems: 8
              uniqueItems: true
              default:
              - positions.instrument.name
            pagination:
              type: object
              description: Pagination attributes for the offset-based pagination strategy.
              properties:
                offset:
                  type: number
                  format: int32
                  minimum: 0
                  default: 0
                  description: Non-negative number of entries to skip, or 0 (default).
                limit:
                  type: number
                  format: int32
                  minimum: 1
                  maximum: 100
                  default: 20
                  description: Non-negative maximum number of entries to return.
              x-property-sort:
              - offset
              - limit
          x-property-sort:
          - attributes
          - language
          - sort
          - pagination
    PostPortfolioPayoutListRequest:
      required:
      - data
      type: object
      properties:
        data:
          type: object
          x-property-sort:
          - id
          - filter
          description: The data member contains the request's primary data.
          properties:
            id:
              description: Identifier of the portfolio.
              type: string
              format: id64
              x-positive: true
            filter:
              type: object
              x-property-sort:
              - instrument
              description: Criteria that filter the items in the response list; only items that match all of the criteria are returned.
              properties:
                instrument:
                  type: object
                  x-property-sort:
                  - id
                  description: Filtering the payouts by instrument.
                  properties:
                    id:
                      description: Identifier of the instrument.
                      type: string
                      format: id64
                      x-positive: true
          required:
          - id
        meta:
          type: object
          description: The meta member contains the meta information of the request.
          properties:
            attributes:
              $ref: '#/components/schemas/AttributesMember'
            sort:
              description: Sortable attributes. The sort order is ascending unless it is prefixed with a minus sign, in which case it is descending. A list of at most 3 (possibly prefixed) attribute name(s) is allowed.
              type: array
              items:
                type: string
                enum:
                - type
                - -type
                - time
                - -time
                - amount
                - -amount
              maxItems: 3
              uniqueItems: true
              default:
              - time
            pagination:
              type: object
              description: Pagination attributes for the offset-based pagination strategy.
              properties:
                offset:
                  type: number
                  format: int32
                  minimum: 0
                  default: 0
                  description: Non-negative number of entries to skip, or 0 (default).
                limit:
                  type: number
                  format: int32
                  minimum: 1
                  maximum: 500
                  default: 20
                  description: Non-negative maximum number of entries to return.
              x-property-sort:
              - offset
              - limit
          x-property-sort:
          - attributes
          - sort
          - pagination
    OffsetBasedPaginationOutputObject:
      type: object
      description: Pagination attributes for the offset-based pagination strategy.
      properties:
        total:
          type: number
          format: int32
          description: Total number of entries in the result set.
        isEstimatedTotal:
          type: boolean
          description: Flag indicating that the value of "total" is estimated.
      required:
      - total
      - isEstimatedTotal
      x-property-sort:
      - total
      - isEstimatedTotal
    AttributesMember:
      type: array
      description: Limit the attributes returned in the response to the specified set.
      items:
        type: string
        maxLength: 100
      maxItems: 50
      uniqueItems: true
    PostPortfolioDeleteRequest:
      type: object
      properties:
        data:
          type: object
          x-property-sort:
          - id
          description: The data member contains the request's primary data.
          properties:
            id:
              description: Identifier of the portfolio.
              type: string
              format: id64
              x-positive: true
          required:
          - id
        meta:
          type: object
          description: The meta member contains the meta information of the request.
          properties:
            attributes:
              $ref: '#/components/schemas/AttributesMember'
          x-property-sort:
          - attributes
  responses:
    GetPortfolioNameList200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                description: List of portfolios.
                type: array
                items:
                  type: object
                  x-property-sort:
                  - id
                  - name
                  properties:
                    id:
                      description: Identifier of the portfolio.
                      x-sortable: true
                      type:
                      - string
                      - 'null'
                      format: id64
                      x-positive: true
                    name:
                      description: Name of the portfolio.
                      x-sortable: true
                      x-default-sort-attribute: true
                      x-default-sort-direction: 1
                      type:
                      - string
                      - 'null'
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                x-property-sort:
                - status
    PostPortfolioCreate201Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                description: Details of the portfolio.
                type: object
                x-property-sort:
                - id
                properties:
                  id:
                    description: Identifier of the portfolio.
                    type:
                    - string
                    - 'null'
                    format: id64
                    x-positive: true
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                x-property-sort:
                - status
    GetPortfolioPositionList200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                description: List of open positions.
                type: object
                x-property-sort:
                - positions
                properties:
                  positions:
                    type: array
                    items:
                      type: object
                      x-property-sort:
                      - instrument
                      - currency
                      - notation
                      - shares
                      - purchase
                      - value
                      - weight
                      - profitLoss
                      properties:
                        instrument:
                          type: object
                          x-property-sort:
                          - id
                          - name
                          - shortName
                          - isin
                          - assetClass
                          - type
                          description: Details of the instrument
                          properties:
                            id:
                              description: Identifier of the instrument.
                              type:
                              - string
                              - 'null'
                              format: id64
                              x-positive: true
                            name:
                              x-sortable: true
                              x-default-sort-attribute: true
                              x-default-sort-direction: 1
                              type:
                              - string
                              - 'null'
                              format: localizedString
                              description: Name of the instrument.
                            shortName:
                              x-sortable: true
                              type:
                              - string
                              - 'null'
                              format: localizedString
                              description: Short name of the instrument.
                            isin:
                              description: International Securities Identification Number
                              type:
                              - string
                              - 'null'
                              format: isin
                            assetClass:
                              type: object
                              x-property-sort:
                              - id
                              - code
                              description: 'Asset class of the instrument. For possible values see endpoint

                                `/basic/assetClass/list`.'
                              properties:
                                id:
                                  description: Identifier of the asset class.
                                  type:
                                  - number
                                  - 'null'
                                  format: id32
                                  x-positive: true
                                code:
                                  x-sortable: true
                                  type:
                                  - string
                                  - 'null'
                                  description: Code of the asset class.
                            type:
                              description: Instrument type as defined by FactSet Digital Solutions. Instrument categories are arranged in a hierarchy, with level 1 representing the most coarse granularity and further levels successively refining the granularity (see MDG category system 18).
                              type: array
                              items:
                                type: object
                                x-property-sort:
                                - id
                                - name
                                properties:
                                  id:
                                    description: Identifier of the instrument type.
                                    type:
                                    - number
                                    - 'null'
                                    format: id32
                                    x-positive: true
                                  name:
                                    x-sortable: true
                                    type:
                                    - string
                                    - 'null'
                                    format: localizedString
                                    description: Name of the instrument type.
                        currency:
                          type: object
                          x-property-sort:
                          - id
                          - isoCode
                          description: Main currency of the position. See endpoint `/basic/valueUnit/currency/main/list` for possible values.
                          properties:
                            id:
                              type:
                              - number
                              - 'null'
                              format: id32
                              x-positive: true
                              description: Identifier of the currency.
                            isoCode:
                              type:
                              - string
                              - 'null'
                              description: ISO 4217 code of the currency.
                        notation:
                          type: object
                          x-property-sort:
                          - id
                          - price
                          description: Notation of the transaction establishing the position, i.e. its first transaction.
                          properties:
                            id:
                              description: Identifier of the notation.
                              type:
                              - string
                              - 'null'
                              format: id64
                              x-positive: true
                            price:
                              description: Price of the notation.
                              type: object
                              x-property-sort:
                              - time
                              - value
                              properties:
                                time:
                                  description: Date and time of the trade price
                                  type:
                                  - string
                                  - 'null'
                                  format: datetime
                                value:
                                  description: Trade price.
                                  type:
                                  - number
                                  - 'null'
                                  format: real
                        shares:
                          type: object
                          x-property-sort:
                          - bought
                          - sold
                          - open
                          description: Number of shares in the position.
                          properties:
                            bought:
                              type:
                              - number
                              - 'null'
                              format: real
                              description: Number of shares bought.
                            sold:
                              type:
                              - number
                              - 'null'
                              format: real
                              description: Number of shares sold.
                            open:
                              x-sortable: true
                              type:
                              - number
                              - 'null'
                              format: real
                              description: Open number of shares.
                        purchase:
                          description: Purchase details of the position.
                          type: object
                          x-property-sort:
                          - price
                          - exchangeRate
                          - charges
                          - value
                          properties:
                            price:
                              type:
                              - number
                              - 'null'
                              format: real
                              description: Weighted average purchase price of the position.
                            exchangeRate:
                              type:
                              - number
                              - 'null'
                              format: real
                              description: Weighted average exchange rate of the position between the position and portfolio currency.
                            charges:
                              type:
                              - number
                              - 'null'
                              format: real
                              description: Sum of additional purchase fees for the position in the portfolio's base currency.
                            value:
                              x-sortable: true
                              type:
                              - number
                              - 'null'
                              format: real
                              description: Aggregated purchase value of all buy transactions of the position.
                        value:
                          x-sortable: true
                          type:
                          - number
                          - 'null'
                          format: real
                          description: Current value of the position.
                        weight:
                          x-sortable: true
                          description: Weight of the position.
                          type:
                          - number
                          - 'null'
                          format: percentage
                          x-convertToRelative: false
                        profitLoss:
                          description: Profit and loss of the position. Positive values indicate profit; negative values indicate loss. All calculations are performed in the currency of the portfolio.
                          type: object
                          x-property-sort:
                          - intraday
                          - potential
                          properties:
                            intraday:
                              description: Summary of today's profit or loss, calculated using the most recent price and the last price of the prior trading day.
                              type: object
                              x-property-sort:
                              - absolute
                              - relative
                              properties:
                                absolute:
                                  description: Absolute value of profit or loss.
                                  x-sortable: true
                                  type:
                                  - number
                                  - 'null'
                                  format: real
                                relative:
                                  description: Relative value of profit or loss.
                                  x-sortable: true
                                  type:
                                  - number
                                  - 'null'
                                  format: percentage
                                  x-convertToRelative: false
                            potential:
                              description: Summary of potential profit or loss resulting from open positions, i.e. instrument positions that have not been sold.
                              type: object
                              x-property-sort:
                              - absolute
                              - relative
                              properties:
                                absolute:
                                  description: Absolute value of profit or loss.
                                  x-sortable: true
                                  type:
                                  - number
                                  - 'null'
                                  format: real
                                relative:
                                  description: Relative value of profit or loss.
                                  x-sortable: true
                                  type:
                                  - number
                                  - 'null'
                                  format: percentage
                                  x-convertToRelative: false
                    maxItems: 1000
                    description: Positions of the portfolio.
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                  pagination:
                    $ref: '#/components/schemas/OffsetBasedPaginationOutputObject'
                x-property-sort:
                - status
                - pagination
    PostPortfolioPayoutCreate201Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: object
                x-property-sort:
                - id
                properties:
                  id:
                    type:
                    - string
                    - 'null'
                    format: id64
                    x-positive: true
                    description: Identifier of the payout.
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                x-property-sort:
                - status
    PostPortfolioTransactionCashDelete200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                description: The response is always empty.
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                x-property-sort:
                - status
    GetPortfolioList200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                description: List of portfolios.
                type: array
                items:
                  type: object
                  x-property-sort:
                  - id
                  - name
                  - currency
                  - summary
                  - profitLoss
                  properties:
                    id:
                      description: Identifier of the portfolio.
                      x-sortable: true
                      type:
                      - string
                      - 'null'
                      format: id64
                      x-positive: true
                    name:
                      description: Name of the portfolio.
                      x-sortable: true
                      x-default-sort-attribute: true
                      x-default-sort-direction: 1
                      type:
                      - string
                      - 'null'
                    currency:
                      type: object
                      x-property-sort:
                      - id
                      - isoCode
                      description: Main currency of the portfolio. See endpoint `/basic/valueUnit/currency/main/list` for possible values.
                      properties:
                        id:
                          type:
                          - number
                          - 'null'
                          format: id32
                          x-positive: true
                          description: Identifier of the currency.
                        isoCode:
                          type:
                          - string
                          - 'null'
                          description: ISO 4217 code of the currency.
                    summary:
                      description: Summary of portfolio values in the portfolio's currency (see attribute `currency`).
                      type: object
                      x-property-sort:
                      - totalValue
                      - marketValue
                      - numberPositions
                      - transactions
                      - cash
                      properties:
                        totalValue:
                          description: The total portfolio value, i.e. the current market value of the portfolio plus cash.
                          type:
                          - number
                          - 'null'
                          format: real
                        marketValue:
                          description: The current market value of the securities in the portfolio.
                          type:
                          - number
                          - 'null'
                          format: real
                        numberPositions:
                          description: Number of positions in the portfolio.
                          type:
                          - number
                          - 'null'
                          format: int32
                        transactions:
                          description: Summary of all non-cash transactions.
                          type: object
                          x-property-sort:
                          - total
                          properties:
                            total:
                              description: Summary of all non-cash transactions.
                              type: object
                              x-property-sort:
                              - number
                              - turnover
                              properties:
                                number:
                                  description: Total number of transactions in the portfolio.
                                  type:
                                  - number
                                  - 'null'
                                  format: int32
                                turnover:
                                  description: Total turnover generated by all transactions.
                                  type:
                                  - number
                                  - 'null'
                                  format: real
                        cash:
                          description: Summary of cash transactions.
                          type: object
                          x-property-sort:
                          - amount
                          properties:
                            amount:
                              description: Current cash amount.
                              type:
                              - number
                              - 'null'
                              format: real
                    profitLoss:
                      description: Profit and loss analysis. Positive values indicate profit; negative values indicate loss. All calculations are performed in the currency of the portfolio.
                      type: object
                      x-property-sort:
                      - total
                      properties:
                        total:
                          description: Summary of potential profit or loss resulting from open and closed positions.
                          type: object
                          x-property-sort:
                          - absolute
                          - relative
                          properties:
                            absolute:
                              description: Absolute value of realized and potential profit or loss.
                              type:
                              - number
                              - 'null'
                              format: real
                            relative:
                              description: Relative value of realized and potential profit or loss.
                              type:
                              - number
                              - 'null'
                              format: percentage
                              x-convertToRelative: false
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                x-property-sort:
                - status
    PostPortfolioTransactionCreate201Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: object
                x-property-sort:
                - id
                properties:
                  id:
                    type:
                    - string
                    - 'null'
                    format: id64
                    x-positive: true
                    description: Identifier of the transaction.
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                x-property-sort:
                - status
    PostPortfolioPositionClosedList200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                description: List of closed positions.
                type: object
                x-property-sort:
                - positions
                properties:
                  positions:
                    type: array
                    items:
                      type: object
                      x-property-sort:
                      - instrument
                      - transaction
                      - shares
                      - payout
                      - profitLoss
                      properties:
                        instrument:
                          type: object
                          x-property-sort:
                          - id
                          - name
                          - shortName
                          - isin
                          - assetClass
                          - type
                          description: Details of the instrument.
                          properties:
                            id:
                              description: Identifier of the instrument.
                              type:
                              - string
                              - 'null'
                              format: id64
                              x-positive: true
                            name:
                              x-sortable: true
                              x-default-sort-attribute: true
                              x-default-sort-direction: 1
                              type:
                              - string
                              - 'null'
                              format: localizedString
                              description: Name of the instrument.
                            shortName:
                              x-sortable: true
                              type:
                              - string
                              - 'null'
                              format: localizedString
                              description: Short name of the instrument.
                            isin:
                              description: International Securities Identification Number
                              type:
                              - string
                              - 'null'
                              format: isin
                            assetClass:
                              type: object
                              x-property-sort:
                              - id
                              - code
                              description: 'Asset class of the instrument. For possible values see endpoint

                                `/basic/assetClass/list`.'
                              properties:
                                id:
                                  description: Identifier of the asset class.
                                  type:
                                  - number
                                  - 'null'
                                  format: id32
                                  x-positive: true
                                code:
                                  x-sortable: true
                                  type:
                                  - string
                                  - 'null'
                                  description: Code of the asset class.
                            type:
                              description: Instrument type as defined by FactSet Digital Solutions. Instrument categories are arranged in a hierarchy, with level 1 representing the most coarse granularity and further levels successively refining the granularity (see MDG category system 18).
                              type: array
                              items:
                                type: object
                                x-property-sort:
                                - id
                                - name
                                properties:
                                  id:
                                    description: Identifier of the instrument type.
                                    type:
                                    - number
                                    - 'null'
                                    format: id32
                                    x-positive: true
                                  name:
                                    x-sortable: true
                                    type:
                                    - string
                                    - 'null'
                                    format: localizedString
                                    description: Name of the instrument type.
                        transaction:
                          description: Opening and closing transaction of the closed position.
                          type: object
                          x-property-sort:
                          - buy
                          - sell
                          properties:
                            buy:
                              description: Opening transaction of the closed position.
                              type: object
                              x-property-sort:
                              - id
                              - time
                              - notation
                              - currency
                              - price
                              - charges
                              - value
                              - exchangeRate
                              properties:
                                id:
                                  description: Identifier of the opening transaction.
                                  type:
                                  - string
                                  - 'null'
                                  format: id64
                                  x-positive: true
                                time:
                                  description: Date and time of the opening transaction.
                                  type:
                                  - string
                                  - 'null'
                                  format: datetime
                                notation:
                                  type: object
                                  x-property-sort:
                                  - id
                                  description: Notation of the opening transaction.
                                  properties:
                                    id:
                                      description: Identifier of the notation.
                                      type:
                                      - string
                                      - 'null'
                                      format: id64
                                      x-positive: true
                                currency:
                                  type: object
                                  x-property-sort:
                                  - id
                                  - isoCode
                                  description: Currency of the opening transaction. See endpoint `/basic/valueUnit/currency/main/list` for possible values.
                                  properties:
                                    id:
                                      type:
                                      - number
                                      - 'null'
                                      format: id32
                                      x-positive: true
                                      description: Identifier of the currency.
                                    isoCode:
                                      type:
                                      - string
                                      - 'null'
                                      description: ISO 4217 code of the currency.
                                price:
                                  type:
                                  - number
                                  - 'null'
                                  format: real
                                  description: Purchase price of the position in the portfolio's base currency.
                                charges:
                                  type:
                                  - number
                                  - 'null'
                                  format: real
                                  description: Charges accrued in the portfolio's base currency.
                                value:
                                  x-sortable: true
                                  type:
                                  - number
                                  - 'null'
                                  format: real
                                  description: Purchase value of the position in the portfolio's base currency.
                                exchangeRate:
                                  description: The exchange rate between the notation's currency and the portfolio currency at the time of the opening trade.
                                  type:
                                  - number
                                  - 'null'
                                  format: real
                            sell:
                              description: Closing transaction of the position.
                              type: object
                              x-property-sort:
                              - id
                              - time
                              - notation
                              - currency
                              - price
                              - charges
                              - value
                              - exchangeRate
                              properties:
                                id:
                                  description: Identifier of the closing transaction.
                                  type:
                                  - string
                                  - 'null'
                                  format: id64
                                  x-positive: true
                                time:
                                  description: Date and time of the closing transaction.
                                  type:
                                  - string
                                  - 'null'
                                  format: datetime
                                notation:
                                  type: object
                                  x-property-sort:
                                  - id
                                  description: Notation of the closing transaction.
                                  properties:
                                    id:
                                      description: Identifier of the notation.
                                      type:
                                      - string
                                      - 'null'
                                      format: id64
                                      x-positive: true
                                currency:
                                  type: object
                                  x-property-sort:
                                  - id
                                  - isoCode
                                  description: Currency of the closing transaction. See endpoint `/basic/valueUnit/currency/main/list` for possible values.
                                  properties:
                                    id:
                                      type:
                                      - number
                                      - 'null'
                                      format: id32
                                      x-positive: true
                                      description: Identifier of the currency.
                                    isoCode:
                                      type:
                                      - string
                                      - 'null'
                                      description: ISO 4217 code of the currency.
                                price:
                                  type:
                                  - number
                                  - 'null'
                                  format: real
                                  description: Selling price of the position in the portfolio's base currency.
                                charges:
                                  type:
                                  - number
                                  - 'null'
                                  format: real
                                  description: Charges accrued in the portfolio's base currency.
                                value:
                                  x-sortable: true
                                  type:
                                  - number
                                  - 'null'
                                  format: real
                                  description: Sales value of the position in the portfolio's base currency.
                                exchangeRate:
                                  description: The exchange rate between the notation's currency and the portfolio currency at the time of the closing trade.
                                  type:
                                  - number
                                  - 'null'
                                  format: real
                        shares:
                          x-sortable: true
                          type:
                          - number
                          - 'null'
                          format: real
                          description: Number of shares in the closed position.
                        payout:
                          type: object
                          x-property-sort:
                          - amount
                          description: Amount of money received from payouts in the portfolio's base currency.
                          properties:
                            amount:
                              x-sortable: true
                              type:
                              - number
                              - 'null'
                              format: real
                              description: Amount of the payout.
                        profitLoss:
                          description: Profit and loss of the position. Positive values indicate profit; negative values indicate loss. All calculations are performed in the currency of the portfolio.
                          type: object
                          x-property-sort:
                          - absolute
                          - relative
                          properties:
                            absolute:
                              description: Absolute value of profit or loss.
                              type:
                              - number
                              - 'null'
                              format: real
                            relative:
                              description: Relative value of profit or loss.
                              type:
                              - number
                              - 'null'
                              format: percentage
                              x-convertToRelative: false
                    description: Closed positions of the portfolio.
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                  pagination:
                    $ref: '#/components/schemas/OffsetBasedPaginationOutputObject'
                x-property-sort:
                - status
                - pagination
    GetPortfolioTransactionList200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                description: List of transactions.
                type: array
                items:
                  type: object
                  x-property-sort:
                  - id
                  - instrument
                  - notation
                  - type
                  - time
                  - numberShares
                  - price
                  - charges
                  - exchangeRate
                  properties:
                    id:
                      type:
                      - string
                      - 'null'
                      format: id64
                      x-positive: true
                      description: Identifier of transaction.
                    instrument:
                      type: object
                      x-property-sort:
                      - id
                      - name
                      - shortName
                      - isin
                      - assetClass
                      - type
                      description: Details of the instrument
                      properties:
                        id:
                          description: Identifier of the instrument.
                          type:
                          - string
                          - 'null'
                          format: id64
                          x-positive: true
                        name:
                          x-sortable: true
                          x-default-sort-attribute: true
                          x-default-sort-direction: 1
                          type:
                          - string
                          - 'null'
                          format: localizedString
                          description: Name of the instrument.
                        shortName:
                          x-sortable: true
                          type:
                          - string
                          - 'null'
                          format: localizedString
                          description: Short name of the instrument.
                        isin:
                          description: International Securities Identification Number
                          type:
                          - string
                          - 'null'
                          format: isin
                        assetClass:
                          type: object
                          x-property-sort:
                          - id
                          - code
                          description: 'Asset class of the instrument. For possible values see endpoint

                            `/basic/assetClass/list`.'
                          properties:
                            id:
                              description: Identifier of the asset class.
                              type:
                              - number
                              - 'null'
                              format: id32
                              x-positive: true
                            code:
                              x-sortable: true
                              type:
                              - string
                              - 'null'
                              description: Code of the asset class.
                        type:
[...]
