openapi: 3.0.3
info:
  title: Factset Analytics Datastore About Dividends API
  description: Allow clients to fetch precalculated Analytics through predeterministic URLs.
  contact:
    name: FactSet Research Systems
    url: https://developer.factset.com/contact
    email: api@factset.com
  license:
    name: Apache License, Version 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  version: 1.0.0
servers:
- url: https://api.factset.com
  description: Production
- url: https://api-sandbox.factset.com
  description: Sandbox
security:
- basicAuth: []
tags:
- name: Dividends
paths:
  /factset-global-prices/v1/annualized-dividends:
    get:
      tags:
      - Dividends
      summary: Factset Gets Indicated Annualized Dividend Information.
      operationId: getannualizedDividends
      description: 'Gets the Annualized dividend of the latest reported dividend.

        The annualized dividend calculations does not involve cancelled dividends.

        '
      parameters:
      - $ref: '#/components/parameters/idsBatchMax2000'
      - $ref: '#/components/parameters/currency'
      - $ref: '#/components/parameters/batch'
      responses:
        '200':
          description: Array of annualized dividend information.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/annualizedDividendResponse'
        '202':
          description: Batch request has been accepted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchStatusResponse'
              examples:
                Batch Request Accepted:
                  $ref: '#/components/examples/BatchStatusAcceptedResponse'
          headers:
            Location:
              description: Path to Batch Request status.
              schema:
                type: string
              example: batch-status?id=2df43e85-ea0f-45c6-bf4a-2baf4d1eaa3c
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      tags:
      - Dividends
      summary: Factset Gets Indicated Annualized Dividend Information.
      description: Gets the Annualized dividend of the latest reported dividend. The annualized dividend calculations does not involve cancelled dividends.
      operationId: getannualizedDividendsForList
      requestBody:
        required: true
        description: Request object for `Annualized Response`.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/annualizedDividendsRequest'
      responses:
        '200':
          description: Array of security prices
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/annualizedDividendResponse'
        '202':
          description: Batch request has been accepted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchStatusResponse'
              examples:
                Batch Request Accepted:
                  $ref: '#/components/examples/BatchStatusAcceptedResponse'
          headers:
            Location:
              description: Path to Batch Request status.
              schema:
                type: string
              example: batch-status?id=2df43e85-ea0f-45c6-bf4a-2baf4d1eaa3c
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /factset-prices/v1/dividends:
    get:
      tags:
      - Dividends
      summary: Factset Gets Dividend Information for a Given Date Range and List of Securities
      operationId: getSecurityDividends
      description: Get the dividend amounts, dates, types, and flags over a specified date range. You may request future dates to receive information for declared dividends.
      parameters:
      - $ref: '#/components/parameters/idsMax1000'
      - $ref: '#/components/parameters/startDate'
      - $ref: '#/components/parameters/endDate'
      - $ref: '#/components/parameters/currency'
      - $ref: '#/components/parameters/adjust'
      responses:
        '200':
          description: Array of security dividend information for a given date range and list of securities
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dividendsResponse'
              examples:
                Three Years of Dividends for AAPL as of 2019:
                  $ref: '#/components/examples/3yrDividendsAPPL'
                Latest Dividends for AAPL and AMZN:
                  $ref: '#/components/examples/latestDividends'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      tags:
      - Dividends
      summary: Factset Requests Dividend Information for a Given Date Range and List of Securities
      description: Get the dividend amounts, dates, types, and flags over a specified date range
      operationId: getSecurityDividendsForList
      requestBody:
        required: true
        description: Request object for `Security` dividends.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/dividendsRequest'
            examples:
              Request AAPL Dividends in 2019:
                $ref: '#/components/examples/singleSecurityDividends'
              Request Latest Dividends of AAPL and MSFT:
                $ref: '#/components/examples/latestDividendsPost'
      responses:
        '200':
          description: Array of dividend information for a given date range and list of securities
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dividendsResponse'
              examples:
                Latest Dividends for AAPL and MSFT:
                  $ref: '#/components/examples/latestDividends'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /stock/dividend/list:
    post:
      tags:
      - Dividends
      operationId: post/stock/dividend/list
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 4
      x-supportsPermissionDeniedResponse: false
      summary: List of dividends for a stock.
      description: List of dividends for a stock.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostStockDividendListRequest'
      responses:
        '200':
          $ref: '#/components/responses/PostStockDividendList200Response'
      parameters: []
  /stock/dividend/type/list:
    get:
      tags:
      - Dividends
      operationId: get/stock/dividend/type/list
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: List of dividend types.
      description: List of dividend types.
      responses:
        '200':
          $ref: '#/components/responses/GetStockDividendTypeList200Response'
      parameters:
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
            exclusiveMaximum: false
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      - name: _language
        in: query
        schema:
          type: string
          format: isoLanguage
          description: ISO 639-1 code of the language.
          maxLength: 2
          minLength: 2
          exclusiveMinimum: false
          exclusiveMaximum: false
components:
  schemas:
    batchErrorObject:
      type: object
      nullable: true
      properties:
        id:
          description: A UUID for this particular occurrence of the problem.
          type: string
          nullable: true
          example: adb01824-252f-4420-b0c6-35a1e3507ef5
        code:
          description: status
          type: string
          nullable: true
          example: GenericError
        links:
          description: The Endpoint path {package}/version/{endpoint}
          type: object
          properties:
            about:
              description: details.
              type: string
              example: /factset-global-prices/v1/{endpoint}
          example: example_value
        title:
          description: The plain text error message
          type: string
          nullable: true
          example: Validation Error
    idsMax1000:
      type: array
      items:
        type: string
      minItems: 1
      maxItems: 1000
      description: 'The requested list of security identifiers. Accepted ID types include Market Tickers, SEDOL, ISINs, CUSIPs, or FactSet Permanent Ids.

        '
      example:
      - FDS-US
    LanguageMember:
      type: string
      format: isoLanguage
      description: ISO 639-1 code of the language.
      maxLength: 2
      minLength: 2
      exclusiveMinimum: false
      exclusiveMaximum: false
    batch:
      description: 'Enables the ability to asynchronously "batch" the request, supporting a long-running request for up to 20 minutes. Upon requesting batch=Y, the service will respond back with an HTTP Status Code of 202. Once a batch request is submitted, use batch status to see if the job has been completed. Once completed, retrieve the results of the request via batch-result. When using Batch, ids limit is increased to 10000 ids per request, though limits on query string via GET method still apply. It''s advised to submit large lists of ids via POST method. Please note that the number of unique currencies present in the requested ids is limited to 50 per request.

        '
      type: string
      enum:
      - Y
      - N
      default: N
    idsBatchMax10000:
      type: array
      items:
        type: string
      description: "The requested list of security identifiers. Accepted ID types include Market Tickers, SEDOL, ISINs, CUSIPs, or FactSet Permanent Ids. \n<p>ids limit =  1000 per non-batch request / 10000 per batch request for a single day and 50 per multi-day request</p>\n"
      example:
      - FDS-US
    endDate:
      type: string
      description: 'The end date requested for a given date range in **YYYY-MM-DD** format. If left blank, the API will default to previous close. Future dates (T+1) are not accepted in this endpoint.

        '
      example: '2019-12-31'
    BatchStatus:
      title: Batch Status
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: the id of batch request.
          example: abc123
        startTime:
          type: string
          format: date-time
          description: Time when the batch request is started. This is in Eastern Time Zone. The date-time format is expressed as [YYYY-MM-DD]T[HH:MM:SSS], following ISO 8601.
          example: '2026-01-15T10:30:00Z'
        endTime:
          type: string
          format: date-time
          description: Time when the batch request is ended. This is in Eastern Time Zone. The date-time format is expressed as [YYYY-MM-DD]T[HH:MM:SSS], following ISO 8601.
          nullable: true
          example: '2026-01-15T10:30:00Z'
        status:
          type: string
          enum:
          - queued
          - executing
          - created
          - failed
          example: queued
        error:
          $ref: '#/components/schemas/batchErrorObject'
    AttributesMember:
      type: array
      description: Limit the attributes returned in the response to the specified set.
      items:
        type: string
        maxLength: 100
        exclusiveMaximum: false
      maxItems: 50
      uniqueItems: true
    StatusObject:
      type: object
      properties:
        code:
          type: number
          format: int32
          description: The HTTP status code of the response, mirroring the code from the Status-Line of the HTTP response message (see [RFC2616] section 6.1).
      description: The status member contains the status code of the response.
      required:
      - code
    errorResponse:
      type: object
      title: Error Response
      properties:
        status:
          description: status
          type: string
          example: Bad Request
        timestamp:
          description: timestamp in YYYY-MM-DD HH:MM:SS.SSS
          type: string
          example: '2019-11-01 11:09:41.918'
          format: date-time
        path:
          description: The Endpoint path {package}/version/{endpoint}
          type: string
          example: /factset-global-prices/v1/prices
        message:
          description: The plain text error message
          type: string
          example: Validation Error
        subErrors:
          description: subErrors related to the error message. Null if not applicable.
          type: object
          properties:
            object:
              description: the operation ID
              type: string
            field:
              description: Parameter Field Name
              type: string
            message:
              description: Error message
              type: string
            rejectedValue:
              description: Rejected Values in an Array
              type: array
              items:
                type: string
          example: example_value
    dividend:
      title: Dividend Object
      type: object
      properties:
        fsymId:
          description: Factset Regional Security Identifier. Six alpha-numeric characters, excluding vowels, with an -R suffix (XXXXXX-R). Identifies the security's best regional security data series per currency. For equities, all primary listings per region and currency are allocated a regional-level permanent identifier. The regional-level permanent identifier will be available once a SEDOL representing the region/currency has been allocated and the identifiers are on FactSet.
          type: string
          example: SJY281-R
          nullable: true
        divsExDate:
          description: Ex-Date of the dividend expressed in YYYY-MM-DD format.
          type: string
          format: date
          example: '2013-08-01'
          nullable: true
        adjDate:
          description: Date of last split for which prices and volume have been adjusted.
          type: string
          format: date
          example: '2005-02-07'
          nullable: true
        currency:
          description: 'Currency ISO code. For more details, visit [Online Assistant Page #1470](https://oa.apps.factset.com/pages/1470).'
          type: string
          example: USD
          nullable: true
        divsPaid:
          description: Amount of the dividend paid.
          type: number
          format: double
          example: 5
          nullable: true
        divsRecDate:
          description: Date the dividend was recorded expressed in YYYY-MM-DD format.
          type: string
          format: date
          example: '2013-07-10'
          nullable: true
        divsPayDate:
          description: Date the dividend will be paid expressed in YYYY-MM-DD format.
          type: string
          format: date
          example: '2013-08-08'
          nullable: true
        divsTypeC:
          description: 'Dividend type code. For code descriptions, visit [Online Assistant Page #8764](https://oa.apps.factset.com/pages/8764).'
          type: integer
          example: 1049
          nullable: true
        divsTypeD:
          description: 'Description of dividend type. For type descriptions, visit [Online Assistant Page #8764](https://oa.apps.factset.com/pages/8764).'
          type: string
          example: U.S. Currency
          nullable: true
        divsTaxC:
          description: 'Tax Marker Code. For code descriptions, visit [Online Assistant Page #15265](https://oa.apps.factset.com/pages/15265).'
          type: string
          example: FC
          nullable: true
        divsTaxD:
          description: 'Description of Tax Marker. For type descriptions, visit [Online Assistant Page #15265](https://oa.apps.factset.com/pages/15265).'
          type: string
          example: Free of tax
          nullable: true
        divsNGFlag:
          description: 'Net/Gross Marker Code. For details describing Net vs. Gross dividends, visit [Online Assistant Page #11512](https://oa.apps.factset.com/pages/11512).'
          type: string
          enum:
          - N
          - G
          - T
          - X
          - V
          - '0'
          nullable: true
          example: N
        divsNGEquiv:
          description: 'Net/Gross equivalent (opposite of dividend paid). For details describing Net vs. Gross dividends, visit [Online Assistant Page #11512](https://oa.apps.factset.com/pages/11512).'
          type: number
          format: double
          example: 5.5
          nullable: true
        requestId:
          description: Identifier that was used for the request.
          type: string
          example: IBM-US
    startDate:
      type: string
      description: 'The start date requested for a given date range in **YYYY-MM-DD** format. If left blank, the API will default to previous close. Future dates (T+1) are not accepted in this endpoint.

        '
      example: '2019-01-01'
    annualizedDividendsRequest:
      title: Annualized Dividends Request Body
      description: Annualized Dividends Request Body
      type: object
      properties:
        ids:
          $ref: '#/components/schemas/idsBatchMax10000'
        currency:
          $ref: '#/components/schemas/requestCurrency'
        batch:
          $ref: '#/components/schemas/batch'
      required:
      - ids
    PostStockDividendListRequest:
      required:
      - data
      type: object
      properties:
        data:
          type: object
          x-property-sort:
          - identifier
          - filter
          description: The data member contains the request's primary data.
          properties:
            identifier:
              type: object
              x-property-sort:
              - value
              - type
              description: Identifier and type.
              properties:
                value:
                  type: string
                  pattern: ^([B-DF-HJ-NP-TV-Z0-9]{6}-[SLR])|([A-Z0-9.]{1,47}-[A-Z0-9]{2,4})|([0-9]{3,20})|([B-DF-HJ-NP-TV-Z0-9]{6}[0-9])|([A-Z]{2}[A-Z0-9]{9}[0-9])|([A-Z1-9][A-Z0-9]{5})|(0*[0-9]{1,9})|([A-Z0-9]{8}[0-9])$
                  maxLength: 50
                  exclusiveMaximum: false
                  minLength: 3
                  exclusiveMinimum: false
                  description: Identifier to resolve.
                type:
                  type: string
                  description: Type of the identifier.
                  x-enum-description:
                  - MDG identifier of an instrument.
                  - MDG identifier of a listing.
                  - FactSet Permanent Identifier on security level.
                  - FactSet Permanent Identifier on listing level.
                  - Regional FactSet Permanent Identifier.
                  - FactSet market symbol of a listing.
                  - Regional FactSet ticker symbol.
                  - SEDOL or IDII of a listing.
                  - ISIN of an instrument.
                  - WKN of an instrument.
                  - Valor number of an instrument.
                  - CUSIP or CINS identifier of an instrument
                  enum:
                  - idInstrument
                  - idNotation
                  - fdsPermanentIdentifierSecurity
                  - fdsPermanentIdentifierListing
                  - fdsPermanentIdentifierRegional
                  - tickerExchange
                  - tickerRegion
                  - sedol
                  - isin
                  - wkn
                  - valor
                  - cusip
              required:
              - value
              - type
            filter:
              type: object
              x-property-sort:
              - period
              - type
              description: Criteria that filter the items in the response list; only items that match all of the criteria are returned.
              properties:
                period:
                  type: object
                  format: dateRange
                  x-isClosedInterval: true
                  properties:
                    start:
                      type: string
                      format: date
                      description: The starting point of the date range (inclusive), or `null` to indicate that the date range extends indefinitely into the past.
                      x-allowNullValue: true
                    end:
                      type: string
                      format: date
                      description: The ending point of the date range (inclusive), or `null` to indicate that the date range extends indefinitely into the future.
                      x-allowNullValue: true
                  x-property-sort:
                  - start
                  - end
                  required:
                  - start
                  - end
                  description: "Period for which the dividends shall be returned. Since not all attributes contained in the dates object are available for all dividends, the following priority of the available dates is used to determine whether a dividend belongs to the specified period:\n 1. payment\n 2. effective\n 3. record\n 4. announcement"
                type:
                  type: object
                  x-property-sort:
                  - id
                  description: Dividend type. See endpoint `/stock/dividend/type/list` for valid values.
                  properties:
                    id:
                      type: number
                      format: id32
                      x-positive: true
                      description: Identifier of the dividend type.
          required:
          - identifier
        meta:
          type: object
          description: The meta member contains the meta information of the request.
          properties:
            attributes:
              $ref: '#/components/schemas/AttributesMember'
            language:
              $ref: '#/components/schemas/LanguageMember'
            sort:
              description: Sortable attributes. The sort order is ascending unless it is prefixed with a minus sign, in which case it is descending. A list of at most 4 (possibly prefixed) attribute name(s) is allowed.
              type: array
              items:
                type: string
                enum:
                - dividends.dates.announcement
                - -dividends.dates.announcement
                - dividends.dates.record
                - -dividends.dates.record
                - dividends.dates.effective
                - -dividends.dates.effective
                - dividends.dates.payment
                - -dividends.dates.payment
              maxItems: 4
              uniqueItems: true
              default:
              - dividends.dates.payment
          x-property-sort:
          - attributes
          - language
          - sort
    BatchStatusResponse:
      title: Batch Status Response
      type: object
      properties:
        data:
          $ref: '#/components/schemas/BatchStatus'
    requestCurrency:
      title: Request Currency
      type: string
      description: Currency code for adjusting prices. Default is Local. For a list of currency ISO codes, visit [Online Assistant Page 1470](https://oa.apps.factset.com/pages/1470).
      example: USD
    dividendsResponse:
      type: object
      title: Dividend Response
      properties:
        data:
          description: Array of Dividend Objects
          type: array
          items:
            $ref: '#/components/schemas/dividend'
          example: []
    annualizedDividendResponse:
      type: object
      title: Annualized Dividends Response
      properties:
        data:
          description: Array of Annualized Dividends Objects
          type: array
          items:
            $ref: '#/components/schemas/annualizedDividendsObject'
          example: []
    dividendsRequest:
      title: Dividends Request Body
      description: Dividends Request Body
      type: object
      properties:
        ids:
          $ref: '#/components/schemas/idsMax1000'
        startDate:
          $ref: '#/components/schemas/startDate'
        endDate:
          $ref: '#/components/schemas/endDate'
        currency:
          $ref: '#/components/schemas/requestCurrency'
        adjust:
          $ref: '#/components/schemas/adjust'
      required:
      - ids
    annualizedDividendsObject:
      title: Annualized Dividends Object
      type: object
      properties:
        fsymId:
          description: Factset Regional Security Identifier. Six alpha-numeric characters, excluding vowels, with an -R suffix (XXXXXX-R). Identifies the security's best regional security data series per currency. For equities, all primary listings per region and currency are allocated a regional-level permanent identifier. The regional-level permanent identifier will be available once a SEDOL representing the region/currency has been allocated and the identifiers are on FactSet.
          type: string
          example: SJY281-R
          x-fds-dh: REGIONAL_FDS_ID
          nullable: true
        eventId:
          description: FactSet identifier that uniquely identifies the Event.
          type: string
          example: JTHPFN-A
          x-fds-dh: EVENT_ID
          nullable: true
        effectiveDate:
          description: Effective Date or Ex-Date of Annualized Dividend in YYYY-MM-DD format.
          type: string
          example: '2022-03-11T00:00:00.000Z'
          x-fds-dh: IAD_EXDATE
          nullable: true
        iadDefTradingAdj:
          description: Annualized Dividend value in the trading currency. The value is adjusted for splits
          type: number
          format: float
          x-fds-dh: IAD_DEF_SPLIT
          example: 0.7584434
          nullable: true
        currency:
          description: 'Currency ISO code associated with the annualized dividends.For more details, visit [Online Assistant Page #1470](https://oa.apps.factset.com/pages/1470).'
          type: string
          example: USD
          x-fds-dh: IAD_DEF_CURR_ISO
          nullable: true
        requestId:
          description: Identifier that was used for the request.
          type: string
          example: AAPL-US
    adjust:
      type: string
      enum:
      - SPLIT
      - SPINOFF
      - DIVADJ
      - UNSPLIT
      default: SPLIT
      description: "Controls the split, spinoff, and dividend adjustments for the prices. <p>For more information, visit [Online Assistant Page 614](https://oa.apps.factset.com/pages/614)</p>\n  * **SPLIT** = Split ONLY Adjusted. This is used by default.\n  * **SPINOFF** = Splits & Spinoff Adjusted.\n  * **DIVADJ** = Splits, Spinoffs, and Dividends adjusted.\n  * **UNSPLIT** = No Adjustments, Controls the split and dividend adjustments for the prices.\n"
      example: SPLIT
  examples:
    badRequestInvalidParameters:
      summary: Bad Request - Invalid Parameters
      description: This error message occurs when a request parameter is used in which is not recognized by the service. Please revise your request to include only the parameters listed in the specification. Typical causes are spelling mistakes and use of improper casing.
      value:
        status: Bad Request
        timestamp: '2020-06-12 15:58:54.068'
        path: /factset-global-prices/v1/{endpoint}
        message: 'Invalid Parameter (s): fakeParameterName1 fakeParameterName2. Please modify your request to use parameters outlined in the specification for this endpoint.'
        subErrors: null
    3yrDividendsAPPL:
      summary: Three Years of Dividends for AAPL as of 2019
      description: Three Years of Dividends for AAPL as of 2019
      value:
        data:
        - fsymId: MH33D6-R
          divsExDate: '2017-02-09'
          adjDate: '2014-06-09'
          currency: USD
          divsPaid: 0.57
          divsRecDate: '2017-02-13'
          divsPayDate: '2017-02-16'
          divsTypeC: 1049
          divsTypeD: U.S. Currency
          divsTaxC: null
          divsTaxD: null
          divsNGFlag: null
          divsNGEquiv: 0
          requestId: AAPL
        - fsymId: MH33D6-R
          divsExDate: '2017-05-11'
          adjDate: '2014-06-09'
          currency: USD
          divsPaid: 0.63
          divsRecDate: '2017-05-15'
          divsPayDate: '2017-05-18'
          divsTypeC: 1049
          divsTypeD: U.S. Currency
          divsTaxC: null
          divsTaxD: null
          divsNGFlag: null
          divsNGEquiv: 0
          requestId: AAPL
        - fsymId: MH33D6-R
          divsExDate: '2017-08-10'
          adjDate: '2014-06-09'
          currency: USD
          divsPaid: 0.63
          divsRecDate: '2017-08-14'
          divsPayDate: '2017-08-17'
          divsTypeC: 1049
          divsTypeD: U.S. Currency
          divsTaxC: null
          divsTaxD: null
          divsNGFlag: null
          divsNGEquiv: 0
          requestId: AAPL
        - fsymId: MH33D6-R
          divsExDate: '2017-11-10'
          adjDate: '2014-06-09'
          currency: USD
          divsPaid: 0.63
          divsRecDate: '2017-11-13'
          divsPayDate: '2017-11-16'
          divsTypeC: 1049
          divsTypeD: U.S. Currency
          divsTaxC: null
          divsTaxD: null
          divsNGFlag: null
          divsNGEquiv: 0
          requestId: AAPL
        - fsymId: MH33D6-R
          divsExDate: '2018-02-09'
          adjDate: '2014-06-09'
          currency: USD
          divsPaid: 0.63
          divsRecDate: '2018-02-12'
          divsPayDate: '2018-02-15'
          divsTypeC: 1049
          divsTypeD: U.S. Currency
          divsTaxC: null
          divsTaxD: null
          divsNGFlag: null
          divsNGEquiv: 0
          requestId: AAPL
        - fsymId: MH33D6-R
          divsExDate: '2018-05-11'
          adjDate: '2014-06-09'
          currency: USD
          divsPaid: 0.73
          divsRecDate: '2018-05-14'
          divsPayDate: '2018-05-17'
          divsTypeC: 1049
          divsTypeD: U.S. Currency
          divsTaxC: null
          divsTaxD: null
          divsNGFlag: null
          divsNGEquiv: 0
          requestId: AAPL
        - fsymId: MH33D6-R
          divsExDate: '2018-08-10'
          adjDate: '2014-06-09'
          currency: USD
          divsPaid: 0.73
          divsRecDate: '2018-08-13'
          divsPayDate: '2018-08-16'
          divsTypeC: 1049
          divsTypeD: U.S. Currency
          divsTaxC: null
          divsTaxD: null
          divsNGFlag: null
          divsNGEquiv: 0
          requestId: AAPL
        - fsymId: MH33D6-R
          divsExDate: '2018-11-08'
          adjDate: '2014-06-09'
          currency: USD
          divsPaid: 0.73
          divsRecDate: '2018-11-12'
          divsPayDate: '2018-11-15'
          divsTypeC: 1049
          divsTypeD: U.S. Currency
          divsTaxC: null
          divsTaxD: null
          divsNGFlag: null
          divsNGEquiv: 0
          requestId: AAPL
        - fsymId: MH33D6-R
          divsExDate: '2019-02-08'
          adjDate: '2014-06-09'
          currency: USD
          divsPaid: 0.73
          divsRecDate: '2019-02-11'
          divsPayDate: '2019-02-14'
          divsTypeC: 1049
          divsTypeD: U.S. Currency
          divsTaxC: null
          divsTaxD: null
          divsNGFlag: null
          divsNGEquiv: 0
          requestId: AAPL
        - fsymId: MH33D6-R
          divsExDate: '2019-05-10'
          adjDate: '2014-06-09'
          currency: USD
          divsPaid: 0.77
          divsRecDate: '2019-05-13'
          divsPayDate: '2019-05-16'
          divsTypeC: 1049
          divsTypeD: U.S. Currency
          divsTaxC: null
          divsTaxD: null
          divsNGFlag: null
          divsNGEquiv: 0
          requestId: AAPL
        - fsymId: MH33D6-R
          divsExDate: '2019-08-09'
          adjDate: '2014-06-09'
          currency: USD
          divsPaid: 0.77
          divsRecDate: '2019-08-12'
          divsPayDate: '2019-08-15'
          divsTypeC: 1049
          divsTypeD: U.S. Currency
          divsTaxC: null
          divsTaxD: null
          divsNGFlag: null
          divsNGEquiv: 0
          requestId: AAPL
        - fsymId: MH33D6-R
          divsExDate: '2019-11-07'
          adjDate: '2014-06-09'
          currency: USD
          divsPaid: 0.77
          divsRecDate: '2019-11-11'
          divsPayDate: '2019-11-14'
          divsTypeC: 1049
          divsTypeD: U.S. Currency
          divsTaxC: null
          divsTaxD: null
          divsNGFlag: null
          divsNGEquiv: 0
          requestId: AAPL
    badRequestDateFormat:
      summary: Bad Request - Date Format
      description: This bad request occurs when a request doesn't use the YYYY-MM-DD in the date parameters. To resolve, convert your date to YYYY-MM-DD.
      value:
        status: Bad Request
        timestamp: '2019-10-31 16:08:07.945'
        path: /factset-global-prices/v1/{endpoint}
        message: 'The date parameter ''startDate'' must be in the following date format: YYYY-MM-DD'
        subErrors: null
    notWritable:
      summary: Internal Server Error - Not Writable
      description: This error may be returned when the server encounters an error writing the JSON response.
      value:
        status: Internal Server Error
        timestamp: '2019-11-05 09:48:29.18'
        path: /factset-global-prices/v1/{endpoint}
        message: Error writing JSON output
        subErrors: null
    singleSecurityDividends:
      summary: AAPL Dividends in 2019
      description: AAPL Dividends in 2019
      value:
        ids:
        - AAPL-US
        startDate: '2018-12-31'
        endDate: '2019-12-31'
        currency: LOCAL
        adjust: SPLIT
    BatchStatusAcceptedResponse:
      description: Batch Status Accepted Response
      value:
        data:
          id: 2df43e85-ea0f-45c6-bf4a-2baf4d1eaa3c
          status: queued
          startTime: '2021-06-29T18:34:52.168Z'
          endTime: null
          error: null
    unsupportedMediaType:
      summary: Unsupported Media Type
      description: This bad request occurs when the media type passed in the request is not supported. Currently the APIs only support 'application/json'.
      value:
        status: Unsupported Media Type
        timestamp: '2019-11-05 09:42:27.237'
        path: /factset-global-prices/v1/{endpoint}
        message: text/html media type is not supported. Supported media types are application/json
        subErrors: null
    generalException:
      summary: Internal Server Error - General Exception
      description: This is the most general error that can be returned to by the service. Please `Report Issue` to FactSet.
      value:
        status: Internal Server Error
        timestamp: '2019-11-01 10:36:01.944'
        path: /factset-global-prices/v1/{endpoint}
        message: Unexpected error
        subErrors: null
    badRequestReadTimeout:
      summary: Bad Request - Read Timeout
      description: This error may be returned if it takes more than 29 seconds to hear back from the data fetch service.
      value:
        status: Bad Request
        timestamp: '2019-11-04 16:18:38.949'
        path: /factset-global-prices/v1/{endpoint}
        message: The request took too long. Try again with a smaller request.
        subErrors: null
    badRequestFutureDate:
      summary: Bad Request - Future Date
      description: This error message occurs when a future date is requested in the startDate and endDate parameters. Please revise your request to include dates as of today's current date or any prior historical date.
      value:
        status: Bad Request
        timestamp: '2020-06-12 15:52:48.091'
        path: /factset-global-prices/v1/{endpoint}
        message: The use of future dates is not applicable in this endpoint. Please revise your request to include dates up to today's current date.
        subErrors: null
    forbidden:
      summary: Forbidden
      description: The USERNAME-SERIAL attempted to request the endpoint is not authorized to access. The request was a legal request, but the server is refusing to respond. Please reach out to FactSet Account Team for assistance with authorization.
      value:
        status: Forbidden
        timestamp: '2020-06-12 16:08:51.731'
        path: /factset-global-prices/v1/{endpoint}
        message: USERNAME-SERIAL does not have permission to use /factset-global-prices/v1/{endpoint}
        subErrors: null
    unauthenticated:
      summary: User Authentication Failed
      description: This occurs when a user is not properly authenticated or recognized by the service. Please double check the USERNAME-SERIAL and API-Key used to request and ensure you are within the IP range specified for the Key. Report Issue under 401 error for help with troubleshooting.
      value:
        status: User Authentication Failed
        timestamp: '2019-10-31 16:08:07.945'
        path: /factset-global-prices/v1/{endpoint}
        message: User Authentication Failed.
        subErrors: null
    badRequestMalformedJSON:
      summary: Bad Request - Malformed JSON Request
      description: This error may be returned when the request body is specified as JSON, but is not in proper JSON format.
      value:
        status: Bad Request
        timestamp: '2019-11-05 09:48:29.18'
        path: /factset-global-prices/v1/{endpoint}
        message: Malformed JSON Request
        subErrors: null
    latestDividends:
      summary: Latest Dividends for AAPL and MSFT
      description: Latest Dividends for AAPL and MSFT
      value:
        data:
        - fsymId: MH33D6-R
          divsExDate: '2020-02-07'
          adjDate: '2014-06-09'
          currency: USD
          divsPaid: 0.77
          divsRecDate: '2020-02-10'
          divsPayDate: '2020-02-13'
          divsTypeC: 1049
          divsTypeD: U.S. Currency
          divsTaxC: null
          divsTaxD: null
          divsNGFlag: null
          divsNGEquiv: 0
          requestId: AAPL
        - fsymId: MH33D6-R
          divsExDate: '2020-05-08'
          adjDate: '2014-06-09'
          currency: USD
          divsPaid: 0.82
          divsRecDate: '2020-05-11'
          divsPayDate: '2020-05-14'
          divsTypeC: 1049
          divsTypeD: U.S. Currency
          divsTaxC: null
          divsTaxD: null
          divsNGFlag: null
          divsNGEquiv: 0
          requestId: AAPL
        - fsymId: P8R3C2-R
          divsExDate: '2020-02-19'
          adjDate: '2003-02-18'
          currency: USD
          divsPaid: 0.51
          divsRecDate: '2020-02-20'
          divsPayDate: '2020-03-12'
          divsTypeC: 1049
          divsTypeD: U.S. Currency
          divsTaxC: null
          divsTaxD: null
          divsNGFlag: null
          divsNGEquiv: 0
          requestId: MSFT
        - fsymId: P8R3C2-R
          divsExDate: '2020-05-20'
          adjDate: '2003-02-18'
          currency: USD
          divsPaid: 0.51
          divsRecDate: '2020-05-21'
          divsPayDate: '2020-06-11'
          divsTypeC: 1049
          divsTypeD: U.S. Currency
          divsTaxC: null
          divsTaxD: null
          divsNGFlag: null
          divsNGEquiv: 0
          requestId: MSFT
    badRequestRequiredParameter:
      summary: Bad Request - Required Parameter Missing
      description: This error message occurs when the request does not include the required parameters. Required parameters are indicated with a red asterisks symbol in the specification file.
      value:
        status: Bad Request
        timestamp: '2020-06-12 15:48:42.016'
        path: /factset-global-prices/v1/{endpoint}
        message: The parameter 'ids' is required and may not be empty.
        subErrors: null
    latestDividendsPost:
      summary: Latest Dividends for AAPL and MSFT
      description: Latest Dividends for AAPL and MSFT
      value:
        ids:
        - AAPL-US
        - MSFT-US
        startDate: ''
        endDate: ''
        currency: LOCAL
        adjust: SPLIT
  responses:
    PostStockDividendList200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                description: List of dividends for the stock.
                nullable: false
                type: object
                x-property-sort:
                - idInstrument
                - sourceIdentifier
                - dividends
                properties:
                  idInstrument:
                    nullable: true
                    type: string
                    format: id64
                    x-positive: true
                    description: MDG identifier of the instrument.
                  sourceIdentifier:
                    nullable: true
                    type: string
                    description: Identifier used in the request.
                  dividends:
                    nullable: false
                    description: List of dividends.
                    type: array
                    items:
                      type: object
                      nullable: false
                      x-property-sort:
                      - id
                      - type
                      - occurrence
                      - dates
                      - currency
                      - gross
                      properties:
                        id:
                          nullable: true
                          type: string
                          format: id64
                          x-positive: true
                          description: Identifier of a dividend.
                        type:
                          nullable: false
                          type: object
                          x-property-sort:
                          - id
                          - name
                          description: Dividend type.
                          properties:
                            id:
                              nullable: true
                              type: number
                              format: id32
                              x-positive: true
                              description: Identifier of the type.
                            name:
                              nullable: true
                              type: string
                              format: localizedString
                              description: Name of the type.
                        occurrence:
                          nullable: false
                          type: object
                          x-property-sort:
                          - type
                          - frequency
                          description: Occurrence and frequency of the dividend.
                          properties:
                            type:
                              nullable: true
                              type: string
                              description: Occurrence type.
                              x-enum-description:
                              - The dividend payment occurs on a regular basis, i.e., with a given frequency.
                              - The dividend payment is atypical and infrequent.
                              enum:
                              - periodic
                              - extraordinary
                            frequency:
                              nullable: false
                              type: object
                              x-property-sort:
                              - id
                              - name
                              description: Frequency of the dividend. Information about the frequency is available only if the attribute `occurrence.type` is set to "periodic". See endpoint `/basic/frequency/type/list` for possible values.
                              properties:
                                id:
                                  nullable: true
                                  type: number
                                  format: id32
                                  x-positive: true
                                  description: Identifier of the frequency.
                                name:
                                  nullable: true
                                  type: string
                                  format: localizedString
                                  description: Name of the frequency.
                        dates:
                          nullable: false
                          type: object
                          x-property-sort:
                          - announcement
                          - record
                          - effective
                          - payment
                          description: Relevant dates related to the dividend.
                          properties:
                            announcement:
                              nullable: true
                              x-sortable: true
                              type: string
                              format: date
                              description: Announcement date.
                            record:
                              nullable: true
                              x-sortable: true
                              type: string
                              format: date
                              description: Record date.
                            effective:
                              nullable: true
                              x-sortable: true
                              type: string
                              format: date
                              description: Effective date (ex-date).
                            payment:
                              nullable: true
                              x-sortable: true
                              x-default-sort-attribute: true
                              x-default-sort-direction: 1
                              type: string
                              format: date
                              description: Payment date.
                        currency:
                          nullable: false
                          type: object
                          x-property-sort:
                          - id
                          - isoCode
                          description: Main currency of the dividend. See endpoint `/basic/valueUnit/currency/main/list` for possible values.
                          properties:
                            id:
                              nullable: true
                              type: number
                              format: id32
                              x-positive: true
                              description: Identifier of the currency.
                            isoCode:
                              nullable: true
                              type: string
                              description: ISO 4217 code of the currency.
                        gross:
                          nullable: false
                          type: object
                          x-property-sort:
                          - unadjustedValue
                          description: Gross value.
                          properties:
                            unadjustedValue:
                              nullable: true
                              type: number
                              format: real
                              description: Value of the unadjusted dividend.
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                x-property-sort:
                - status
    '401':
      description: Unauthenticated USERNAME-SERIAL. Ensure you are logged in and have successfully generated an API KEY for the IP range you are connecting from. For more help, select the **Report Issue** in the top right corner of this Developer Portal specification card and choose Connectivity 401 or 403 Responses.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponse'
          examples:
            Bad Request - Date Format:
              $ref: '#/components/examples/unauthenticated'
    '415':
      description: Unsupported Media Type. This error may be returned when the caller sends a resource in a format that is not accepted by the server. This can be fixed by ensuring that Content-Type header is set to the correct value. In this instance, "application/json" would be the appropriate value.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponse'
          examples:
            Bad Request - Date Format:
              $ref: '#/components/examples/unsupportedMediaType'
    GetStockDividendTypeList200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                description: List of dividend types, sorted by ascending identifier value.
                nullable: false
                type: array
                items:
                  type: object
                  nullable: false
                  x-property-sort:
                  - id
                  - name
                  properties:
                    id:
                      nullable: true
                      type: number
                      format: id32
                      x-positive: true
                      description: Identifier of a dividend type.
                    name:
                      nullable: true
                      type: string
                      format: localizedString
                      description: Name of the dividend type.
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                x-property-sort:
                - status
    '403':
      description: The USERNAME-SERIAL attempted to request the endpoint is not authorized to access. The request was a legal request, but the server is refusing to respond. Please reach out to FactSet Account Team for assistance with authorization.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponse'
          examples:
            Bad Request - Date Format:
              $ref: '#/components/examples/forbidden'
    '500':
      description: Internal Server Error.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponse'
          examples:
            Internal Server Error - Not Writable:
              $ref: '#/components/examples/notWritable'
            Internal Server Error - General Exception:
              $ref: '#/components/examples/generalException'
    '400':
      description: Bad Request. This can occur for several reasons. Please review the "message" for more details.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponse'
          examples:
            Bad Request - Date Format:
              $ref: '#/components/examples/badRequestDateFormat'
            Bad Request - Missing Required Parameter:
              $ref: '#/components/examples/badRequestRequiredParameter'
            Bad Request - Future Date:
              $ref: '#/components/examples/badRequestFutureDate'
            Bad Request - Invalid Parameter:
              $ref: '#/components/examples/badRequestInvalidParameters'
            Bad Request - Malformed JSON:
              $ref: '#/components/examples/badRequestMalformedJSON'
            Bad Request - Read Timeout:
              $ref: '#/components/examples/badRequestReadTimeout'
  parameters:
    idsMax1000:
      name: ids
      in: query
      schema:
        type: array
        items:
          type: string
        minItems: 1
        maxItems: 1000
      required: true
      explode: false
      description: The requested list of security identifiers. Accepted ID types include Market Tickers, SEDOL, ISINs, CUSIPs, or FactSet Permanent Ids. <p>***ids limit** =  1000 per request*</p> *<p>Make note, GET Method URL request lines are also limited to a total length of 8192 bytes (8KB). In cases where the service allows for thousands of ids, which may lead to exceeding this request line limit of 8KB, its advised for any requests with large request lines to be requested through the respective "POST" method.</p>*
      examples:
        oneEquityId:
          summary: One Equity Market Identifier
          value:
          - AAPL-USA
        multipleEquityIds:
          summary: Multiple Equity Market Identifiers
          value:
          - FDS-US
          - AAPL-US
          - MSFT-US
    startDate:
      name: startDate
      in: query
      required: false
      schema:
        type: string
      description: 'The start date requested for a given date range in **YYYY-MM-DD** format. If left blank, the API will default to previous close. Future dates (T+1) are not accepted in this endpoint.

        '
      example: '2019-01-01'
    endDate:
      name: endDate
      in: query
      required: false
      schema:
        type: string
      description: 'The end date requested for a given date range in **YYYY-MM-DD** format. If left blank, the API will default to previous close. Future dates (T+1) are not accepted in this endpoint.

        '
      example: '2019-12-31'
    currency:
      name: currency
      in: query
      schema:
        type: string
      description: Currency code for adjusting prices. Default is Local. For a list of currency ISO codes, visit [Online Assistant Page 1470](https://oa.apps.factset.com/pages/1470).
      example: USD
    adjust:
      name: adjust
      in: query
      schema:
        type: string
        enum:
        - SPLIT
        - SPINOFF
        - DIVADJ
        - UNSPLIT
        default: SPLIT
      description: "Controls the split, spinoff, and dividend adjustments for the prices. <p>For more information, visit [Online Assistant Page 614](https://oa.apps.factset.com/pages/614)</p>\n  * **SPLIT** = Split ONLY Adjusted. This is used by default.\n  * **SPINOFF** = Splits & Spinoff Adjusted.\n  * **DIVADJ** = Splits, Spinoffs, and Dividends adjusted.\n  * **UNSPLIT** = No Adjustments.\n"
      examples:
        split:
          summary: Split adjusted by default - accounts for splits over security's history.
          value: SPLIT
        spinoff:
          summary: Spinoff Adjusted - accounts for a company's spinoff. Spinoffs are treated as special dividends.
          value: SPINOFF
        Dividend Adjusted:
          summary: Dividend Adjusted
          value: DIVADJ
        Unsplit:
          summary: Unsplit data - overrides the default split adjustment
          value: UNSPLIT
    batch:
      name: batch
      in: query
      description: 'Enables the ability to asynchronously "batch" the request, supporting a long-running request for up to 20 minutes. Upon requesting batch=Y, the service will respond with an HTTP Status Code of 202.

        Once a batch request is submitted, use batch status to see if the job has been completed. Once completed, retrieve the results of the request via batch-result. When using Batch, ids limit is increased to 10000 ids per request, though limits on query string via GET method still apply. It''s advised to submit large lists of ids via POST method.

        <B>Please note that the number of unique currencies present in the requested ids is limited to 50 per request.</B>

        '
      schema:
        type: string
        enum:
        - Y
        - N
        default: N
    idsBatchMax2000:
      name: ids
      in: query
      schema:
        type: array
        items:
          type: string
      required: true
      explode: false
      description: The requested list of security identifiers. Accepted ID types include Market Tickers, SEDOL, ISINs, CUSIPs, or FactSet Permanent Ids.<p>***ids limit** =  1000 per non-batch request / 2000 per batch request for a single day and 50 per multi-day request*</p> *<p>Make note, GET Method URL request lines are also limited to a total length of 8192 bytes (8KB). In cases where the service allows for thousands of ids, which may lead to exceeding this request line limit of 8KB, it's advised for any requests with large request lines to be requested through the respective "POST" method.</p>*
      examples:
        oneEquityId:
          summary: One Equity Market Identifier
          value:
          - AAPL-USA
        multipleEquityIds:
          summary: Multiple Equity Market Identifiers
          value:
          - FDS-US
          - AAPL-US
          - MSFT-US
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
externalDocs:
  url: https://developer.factset.com/api-catalog/analytics-datastore-api
  description: API Documentation
