openapi: 3.2.0
info:
  version: 3.0.0
  title: FactSet Real-Time Quotes Category API
  description: 'The Quotes API combines endpoints for retrieving security end-of-day,

    delayed, and realtime prices with performance key figures and basic

    reference data on the security and market level.'
  contact:
    name: FactSet Research Systems
    url: https://developer.factset.com/contact
    email: api@factset.com
  license:
    name: Apache License, Version 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
servers:
- url: https://api.factset.com/wealth/v3
security:
- FactSetApiKey: []
- FactSetOAuth2: []
tags:
- name: Category
paths:
  /category/get:
    get:
      tags:
      - Category
      operationId: get/category/get
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Factset Details of a Category
      description: Details of a category.
      parameters:
      - name: id
        in: query
        schema:
          type: number
          format: id32
          x-positive: true
          description: Identifier of a category.
        required: true
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      - name: _language
        in: query
        schema:
          type: string
          format: isoLanguage
          description: ISO 639-1 code of the language.
          maxLength: 2
          minLength: 2
      responses:
        '200':
          $ref: '#/components/responses/GetCategoryGet200Response'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /category/list:
    get:
      tags:
      - Category
      operationId: get/category/list
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Factset List of Categories
      description: List of categories.
      parameters:
      - name: ids
        in: query
        schema:
          type: array
          items:
            type: number
            format: id32
            x-positive: true
          description: List of categories belonging to the same category system.
          uniqueItems: true
          minItems: 1
          maxItems: 100
        style: form
        explode: false
        required: true
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      - name: _language
        in: query
        schema:
          type: string
          format: isoLanguage
          description: ISO 639-1 code of the language.
          maxLength: 2
          minLength: 2
      responses:
        '200':
          $ref: '#/components/responses/GetCategoryList200Response'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  responses:
    GetCategoryList200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: object
                properties:
                  system:
                    type: object
                    x-property-sort:
                    - id
                    - name
                    description: Category system.
                    properties:
                      id:
                        type:
                        - number
                        - 'null'
                        format: id32
                        x-positive: true
                        description: Identifier of the category system.
                      name:
                        type:
                        - string
                        - 'null'
                        format: localizedString
                        description: Name of the category system.
                  categories:
                    type: array
                    items:
                      type: object
                      x-property-sort:
                      - id
                      - code
                      - name
                      - description
                      - active
                      - level
                      - parent
                      properties:
                        id:
                          type:
                          - number
                          - 'null'
                          format: id32
                          x-positive: true
                          description: Identifier of the category.
                        code:
                          type:
                          - string
                          - 'null'
                          description: Code commonly used for this category.
                        name:
                          type:
                          - string
                          - 'null'
                          format: localizedString
                          description: Name of the category.
                        description:
                          type:
                          - string
                          - 'null'
                          format: localizedString
                          description: Description of the category.
                        active:
                          type:
                          - boolean
                          - 'null'
                          description: Indicates whether this category is active.
                        level:
                          type: object
                          x-property-sort:
                          - id
                          - name
                          - number
                          description: Category level.
                          properties:
                            id:
                              type:
                              - number
                              - 'null'
                              format: id32
                              x-positive: true
                              description: Identifier of the category level.
                            name:
                              type:
                              - string
                              - 'null'
                              format: localizedString
                              description: Name of the category level.
                            number:
                              type:
                              - number
                              - 'null'
                              format: int32
                              description: Number of the category level starting with 1, indicating the distance to the root of the category hierarchy.
                        parent:
                          type: object
                          x-property-sort:
                          - id
                          - name
                          - level
                          description: Parent category. The attributes of the parent category are `null` if this category is on the first level.
                          properties:
                            id:
                              type:
                              - number
                              - 'null'
                              format: id32
                              x-positive: true
                              description: Identifier of the category.
                            name:
                              type:
                              - string
                              - 'null'
                              format: localizedString
                              description: Name of the category.
                            level:
                              type: object
                              x-property-sort:
                              - id
                              - name
                              description: Parent level.
                              properties:
                                id:
                                  type:
                                  - number
                                  - 'null'
                                  format: id32
                                  x-positive: true
                                  description: Identifier of the category level.
                                name:
                                  type:
                                  - string
                                  - 'null'
                                  format: localizedString
                                  description: Name of the category level.
                    description: List of categories.
                description: List of categories.
                x-property-sort:
                - system
                - categories
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                x-property-sort:
                - status
            x-property-sort:
            - data
            - meta
    GetCategoryGet200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: object
                properties:
                  code:
                    type:
                    - string
                    - 'null'
                    description: Code commonly used for this category.
                  name:
                    type:
                    - string
                    - 'null'
                    format: localizedString
                    description: Name of the category.
                  description:
                    type:
                    - string
                    - 'null'
                    format: localizedString
                    description: Description of the category.
                  active:
                    type:
                    - boolean
                    - 'null'
                    description: Indicates whether this category is active.
                  level:
                    type: object
                    x-property-sort:
                    - id
                    - name
                    - number
                    description: Category level.
                    properties:
                      id:
                        type:
                        - number
                        - 'null'
                        format: id32
                        x-positive: true
                        description: Identifier of the category level.
                      name:
                        type:
                        - string
                        - 'null'
                        format: localizedString
                        description: Name of the category level.
                      number:
                        type:
                        - number
                        - 'null'
                        format: int32
                        description: Number of the category level starting with 1, indicating the distance to the root of the category hierarchy.
                  parent:
                    type: object
                    x-property-sort:
                    - id
                    - name
                    - level
                    description: Parent category. The attributes of the parent category are `null` if this category is on the first level.
                    properties:
                      id:
                        type:
                        - number
                        - 'null'
                        format: id32
                        x-positive: true
                        description: Identifier of the category.
                      name:
                        type:
                        - string
                        - 'null'
                        format: localizedString
                        description: Name of the category.
                      level:
                        type: object
                        x-property-sort:
                        - id
                        - name
                        description: Parent level.
                        properties:
                          id:
                            type:
                            - number
                            - 'null'
                            format: id32
                            x-positive: true
                            description: Identifier of the category level.
                          name:
                            type:
                            - string
                            - 'null'
                            format: localizedString
                            description: Name of the category level.
                  system:
                    type: object
                    x-property-sort:
                    - id
                    - name
                    description: Category system.
                    properties:
                      id:
                        type:
                        - number
                        - 'null'
                        format: id32
                        x-positive: true
                        description: Identifier of the category system.
                      name:
                        type:
                        - string
                        - 'null'
                        format: localizedString
                        description: Name of the category system.
                description: Details of the category.
                x-property-sort:
                - code
                - name
                - description
                - active
                - level
                - parent
                - system
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                x-property-sort:
                - status
            x-property-sort:
            - data
            - meta
  schemas:
    StatusObject:
      type: object
      properties:
        code:
          type: number
          format: int32
          description: The HTTP status code of the response, mirroring the code from the Status-Line of the HTTP response message (see [RFC2616] section 6.1).
          example: 42.5
      description: The status member contains the status code of the response.
      required:
      - code
  securitySchemes:
    FactSetOAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://auth.factset.com/as/token.oauth2
          scopes: {}
    FactSetApiKey:
      type: http
      scheme: basic
externalDocs:
  description: API Documentation
  url: https://developer.factset.com/api-catalog/
x-interface-version: 2
x-documenter-version: 6.3.9
x-api-version: 4.4.0
