openapi: 3.2.0
info:
  title: Factset Analytics Datastore About Board API
  description: Allow clients to fetch precalculated Analytics through predeterministic URLs.
  contact:
    name: FactSet Research Systems
    url: https://developer.factset.com/contact
    email: api@factset.com
  license:
    name: Apache License, Version 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  version: 1.0.0
servers:
- url: https://api.factset.com
  description: Production
- url: https://api-sandbox.factset.com
  description: Sandbox
security:
- basicAuth: []
tags:
- name: Board
paths:
  /company/board/listByInstrument:
    get:
      tags:
      - Board
      operationId: get/company/board/listByInstrument
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: List of boards for a company, with their officers.
      description: List of boards for a company, with their officers. A given person may be a member ofdifferent boards of the same company but also a member of boards of different companies.
      parameters:
      - name: id
        in: query
        schema:
          type: string
          format: id64
          x-positive: true
          description: Identifier of the instrument representing company shares.Any other instrument yields empty values.
        required: true
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      - name: _language
        in: query
        schema:
          type: string
          format: isoLanguage
          description: ISO 639-1 code of the language.
          maxLength: 2
          minLength: 2
      responses:
        '200':
          $ref: '#/components/responses/GetCompanyBoardListByInstrument200Response'
  /company/board/officer/function/delivery/list:
    get:
      tags:
      - Board
      operationId: get/company/board/officer/function/delivery/list
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: List of officer functions as provided by a delivery.
      description: List of officer functions as provided by a delivery.
      responses:
        '200':
          $ref: '#/components/responses/GetCompanyBoardOfficerFunctionDeliveryList200Response'
      parameters:
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      - name: _language
        in: query
        schema:
          type: string
          format: isoLanguage
          description: ISO 639-1 code of the language.
          maxLength: 2
          minLength: 2
  /company/board/type/list:
    get:
      tags:
      - Board
      operationId: get/company/board/type/list
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: List of company board types.
      description: List of company board types.
      responses:
        '200':
          $ref: '#/components/responses/GetCompanyBoardTypeList200Response'
      parameters:
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      - name: _language
        in: query
        schema:
          type: string
          format: isoLanguage
          description: ISO 639-1 code of the language.
          maxLength: 2
          minLength: 2
components:
  schemas:
    StatusObject:
      type: object
      properties:
        code:
          type: number
          format: int32
          description: The HTTP status code of the response, mirroring the code from the Status-Line of the HTTP response message (see [RFC2616] section 6.1).
      description: The status member contains the status code of the response.
      required:
      - code
  responses:
    GetCompanyBoardTypeList200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                description: List of company board types sorted ascending by the identifier of the type.
                type: array
                items:
                  type: object
                  x-property-sort:
                  - id
                  - name
                  - description
                  properties:
                    id:
                      type:
                      - number
                      - 'null'
                      format: id32
                      x-positive: true
                      description: Identifier of a type.
                    name:
                      type:
                      - string
                      - 'null'
                      format: localizedString
                      description: Name of the type.
                    description:
                      type:
                      - string
                      - 'null'
                      format: localizedString
                      description: Description of the type.
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                x-property-sort:
                - status
    GetCompanyBoardOfficerFunctionDeliveryList200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                description: List of deliveries, with their officer functions,sorted by name of the delivery and identifier of the function, both ascending.
                type: array
                items:
                  type: object
                  x-property-sort:
                  - id
                  - name
                  - functions
                  properties:
                    id:
                      type:
                      - number
                      - 'null'
                      format: id32
                      x-positive: true
                      description: Identifier of a delivery.
                    name:
                      type:
                      - string
                      - 'null'
                      description: Name of the delivery.
                    functions:
                      description: List of officer functions.
                      type: array
                      items:
                        type: object
                        x-property-sort:
                        - id
                        - name
                        properties:
                          id:
                            type:
                            - number
                            - 'null'
                            format: id32
                            x-positive: true
                            description: Identifier of a function.
                          name:
                            type:
                            - string
                            - 'null'
                            format: localizedString
                            description: Name of the function.
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                x-property-sort:
                - status
    GetCompanyBoardListByInstrument200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                description: List of boards of the company, with their officers. The list of boards is sorted byidentifier of the type and the list of officers by name of the officer, both ascending.
                type: array
                items:
                  type: object
                  x-property-sort:
                  - type
                  - officers
                  properties:
                    type:
                      description: Type of the board. See endpoint `/company/board/type/list` for possible values.
                      type: object
                      x-property-sort:
                      - id
                      - name
                      properties:
                        id:
                          type:
                          - number
                          - 'null'
                          format: id32
                          x-positive: true
                          description: Identifier of a type.
                        name:
                          type:
                          - string
                          - 'null'
                          format: localizedString
                          description: Name of the type.
                    officers:
                      description: List of officers that are members of the board.
                      type: array
                      items:
                        type: object
                        x-property-sort:
                        - id
                        - name
                        - presentationName
                        - titleOfficer
                        - function
                        properties:
                          id:
                            type:
                            - number
                            - 'null'
                            format: id32
                            x-positive: true
                            description: Identifier of an officer.  See endpoint `/legalEntity/list` for possible values.
                          name:
                            type:
                            - string
                            - 'null'
                            description: Full name of the officer.
                          presentationName:
                            type:
                            - string
                            - 'null'
                            description: Presentation name of the officer, potentially shortened and/or containing name supplementssuch as a title.
                          titleOfficer:
                            type:
                            - string
                            - 'null'
                            description: Job title of the officer.
                          function:
                            description: Function of the officer. See endpoint `/company/board/officer/function/list`for possible values.
                            type: object
                            x-property-sort:
                            - id
                            - name
                            properties:
                              id:
                                type:
                                - number
                                - 'null'
                                format: id32
                                x-positive: true
                                description: Identifier of the function.
                              name:
                                type:
                                - string
                                - 'null'
                                format: localizedString
                                description: Name of the function.
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                x-property-sort:
                - status
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
externalDocs:
  url: https://developer.factset.com/api-catalog/analytics-datastore-api
  description: API Documentation
