openapi: 3.2.0
info:
  title: Factset Analytics Datastore About Year API
  description: Allow clients to fetch precalculated Analytics through predeterministic URLs.
  contact:
    name: FactSet Research Systems
    url: https://developer.factset.com/contact
    email: api@factset.com
  license:
    name: Apache License, Version 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  version: 1.0.0
servers:
- url: https://api.factset.com
  description: Production
- url: https://api-sandbox.factset.com
  description: Sandbox
security:
- basicAuth: []
tags:
- name: Year
paths:
  /notation/keyFigures/year/10/get:
    get:
      tags:
      - Year
      operationId: get/notation/keyFigures/year/10/get
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Factset End-of-day (eod) Key Figures for the Time Range of Ten Years.
      description: End-of-day (EOD) key figures for the time range of ten years.
      parameters:
      - name: identifier
        in: query
        schema:
          type: string
          pattern: ^[B-DF-HJ-NP-TV-Z0-9]{6}-[LR]$|^[A-Z0-9.#&*+]{1,47}-[A-Z0-9]{2,4}$|^[0-9]{3,20}$
          maxLength: 50
          minLength: 3
          description: Identifier to resolve.
        required: true
      - name: identifierType
        in: query
        schema:
          type: string
          description: Type of the identifier.
          x-enum-description:
          - MDG identifier of a listing.
          - FactSet market symbol of a listing.
          - Regional FactSet ticker symbol, identifying the primary listing in the region.
          - FactSet Permanent Identifier on listing level.
          - Regional FactSet Permanent Identifier, identifying the primary listing in the region.
          enum:
          - idNotation
          - tickerExchange
          - tickerRegion
          - fdsPermanentIdentifierListing
          - fdsPermanentIdentifierRegional
        required: true
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      responses:
        '200':
          $ref: '#/components/responses/GetNotationKeyFiguresYear10Get200Response'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /notation/keyFigures/year/10/list:
    get:
      tags:
      - Year
      operationId: get/notation/keyFigures/year/10/list
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Factset End-of-day (eod) Key Figures for the Time Range of Ten Years, for a List of Notations.
      description: End-of-day (EOD) key figures for the time range of ten years, for a list of notations.
      parameters:
      - name: identifiers
        in: query
        schema:
          description: Set of identifiers to resolve.
          type: array
          items:
            type: string
            minLength: 3
            maxLength: 50
            pattern: ^[B-DF-HJ-NP-TV-Z0-9]{6}-[LR]$|^[A-Z0-9.#&*+]{1,47}-[A-Z0-9]{2,4}$|^[0-9]{3,20}$
          uniqueItems: true
          minItems: 1
          maxItems: 100
        required: true
        style: form
        explode: false
      - name: identifierType
        in: query
        schema:
          type: string
          description: Type of the identifier.
          x-enum-description:
          - MDG identifier of a listing.
          - FactSet market symbol of a listing.
          - Regional FactSet ticker symbol, identifying the primary listing in the region.
          - FactSet Permanent Identifier on listing level.
          - Regional FactSet Permanent Identifier, identifying the primary listing in the region.
          enum:
          - idNotation
          - tickerExchange
          - tickerRegion
          - fdsPermanentIdentifierListing
          - fdsPermanentIdentifierRegional
        required: true
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      responses:
        '200':
          $ref: '#/components/responses/GetNotationKeyFiguresYear10List200Response'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /notation/keyFigures/year/1/get:
    get:
      tags:
      - Year
      operationId: get/notation/keyFigures/year/1/get
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Factset End-of-day (eod) Key Figures for the Time Range of One Year.
      description: End-of-day (EOD) key figures for the time range of one year.
      parameters:
      - name: identifier
        in: query
        schema:
          type: string
          pattern: ^[B-DF-HJ-NP-TV-Z0-9]{6}-[LR]$|^[A-Z0-9.#&*+]{1,47}-[A-Z0-9]{2,4}$|^[0-9]{3,20}$
          maxLength: 50
          minLength: 3
          description: Identifier to resolve.
        required: true
      - name: identifierType
        in: query
        schema:
          type: string
          description: Type of the identifier.
          x-enum-description:
          - MDG identifier of a listing.
          - FactSet market symbol of a listing.
          - Regional FactSet ticker symbol, identifying the primary listing in the region.
          - FactSet Permanent Identifier on listing level.
          - Regional FactSet Permanent Identifier, identifying the primary listing in the region.
          enum:
          - idNotation
          - tickerExchange
          - tickerRegion
          - fdsPermanentIdentifierListing
          - fdsPermanentIdentifierRegional
        required: true
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      responses:
        '200':
          $ref: '#/components/responses/GetNotationKeyFiguresYear1Get200Response'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /notation/keyFigures/year/1/list:
    get:
      tags:
      - Year
      operationId: get/notation/keyFigures/year/1/list
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Factset End-of-day (eod) Key Figures for the Time Range of One Year, for a List of Notations.
      description: End-of-day (EOD) key figures for the time range of one year, for a list of notations.
      parameters:
      - name: identifiers
        in: query
        schema:
          description: Set of identifiers to resolve.
          type: array
          items:
            type: string
            minLength: 3
            maxLength: 50
            pattern: ^[B-DF-HJ-NP-TV-Z0-9]{6}-[LR]$|^[A-Z0-9.#&*+]{1,47}-[A-Z0-9]{2,4}$|^[0-9]{3,20}$
          uniqueItems: true
          minItems: 1
          maxItems: 100
        required: true
        style: form
        explode: false
      - name: identifierType
        in: query
        schema:
          type: string
          description: Type of the identifier.
          x-enum-description:
          - MDG identifier of a listing.
          - FactSet market symbol of a listing.
          - Regional FactSet ticker symbol, identifying the primary listing in the region.
          - FactSet Permanent Identifier on listing level.
          - Regional FactSet Permanent Identifier, identifying the primary listing in the region.
          enum:
          - idNotation
          - tickerExchange
          - tickerRegion
          - fdsPermanentIdentifierListing
          - fdsPermanentIdentifierRegional
        required: true
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      responses:
        '200':
          $ref: '#/components/responses/GetNotationKeyFiguresYear1List200Response'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /notation/keyFigures/year/3/get:
    get:
      tags:
      - Year
      operationId: get/notation/keyFigures/year/3/get
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Factset End-of-day (eod) Key Figures for the Time Range of Three Years.
      description: End-of-day (EOD) key figures for the time range of three years.
      parameters:
      - name: identifier
        in: query
        schema:
          type: string
          pattern: ^[B-DF-HJ-NP-TV-Z0-9]{6}-[LR]$|^[A-Z0-9.#&*+]{1,47}-[A-Z0-9]{2,4}$|^[0-9]{3,20}$
          maxLength: 50
          minLength: 3
          description: Identifier to resolve.
        required: true
      - name: identifierType
        in: query
        schema:
          type: string
          description: Type of the identifier.
          x-enum-description:
          - MDG identifier of a listing.
          - FactSet market symbol of a listing.
          - Regional FactSet ticker symbol, identifying the primary listing in the region.
          - FactSet Permanent Identifier on listing level.
          - Regional FactSet Permanent Identifier, identifying the primary listing in the region.
          enum:
          - idNotation
          - tickerExchange
          - tickerRegion
          - fdsPermanentIdentifierListing
          - fdsPermanentIdentifierRegional
        required: true
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      responses:
        '200':
          $ref: '#/components/responses/GetNotationKeyFiguresYear3Get200Response'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /notation/keyFigures/year/3/list:
    get:
      tags:
      - Year
      operationId: get/notation/keyFigures/year/3/list
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Factset End-of-day (eod) Key Figures for the Time Range of Three Years, for a List of Notations.
      description: End-of-day (EOD) key figures for the time range of three years, for a list of notations.
      parameters:
      - name: identifiers
        in: query
        schema:
          description: Set of identifiers to resolve.
          type: array
          items:
            type: string
            minLength: 3
            maxLength: 50
            pattern: ^[B-DF-HJ-NP-TV-Z0-9]{6}-[LR]$|^[A-Z0-9.#&*+]{1,47}-[A-Z0-9]{2,4}$|^[0-9]{3,20}$
          uniqueItems: true
          minItems: 1
          maxItems: 100
        required: true
        style: form
        explode: false
      - name: identifierType
        in: query
        schema:
          type: string
          description: Type of the identifier.
          x-enum-description:
          - MDG identifier of a listing.
          - FactSet market symbol of a listing.
          - Regional FactSet ticker symbol, identifying the primary listing in the region.
          - FactSet Permanent Identifier on listing level.
          - Regional FactSet Permanent Identifier, identifying the primary listing in the region.
          enum:
          - idNotation
          - tickerExchange
          - tickerRegion
          - fdsPermanentIdentifierListing
          - fdsPermanentIdentifierRegional
        required: true
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      responses:
        '200':
          $ref: '#/components/responses/GetNotationKeyFiguresYear3List200Response'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /notation/keyFigures/year/5/get:
    get:
      tags:
      - Year
      operationId: get/notation/keyFigures/year/5/get
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Factset End-of-day (eod) Key Figures for the Time Range of Five Years.
      description: End-of-day (EOD) key figures for the time range of five years.
      parameters:
      - name: identifier
        in: query
        schema:
          type: string
          pattern: ^[B-DF-HJ-NP-TV-Z0-9]{6}-[LR]$|^[A-Z0-9.#&*+]{1,47}-[A-Z0-9]{2,4}$|^[0-9]{3,20}$
          maxLength: 50
          minLength: 3
          description: Identifier to resolve.
        required: true
      - name: identifierType
        in: query
        schema:
          type: string
          description: Type of the identifier.
          x-enum-description:
          - MDG identifier of a listing.
          - FactSet market symbol of a listing.
          - Regional FactSet ticker symbol, identifying the primary listing in the region.
          - FactSet Permanent Identifier on listing level.
          - Regional FactSet Permanent Identifier, identifying the primary listing in the region.
          enum:
          - idNotation
          - tickerExchange
          - tickerRegion
          - fdsPermanentIdentifierListing
          - fdsPermanentIdentifierRegional
        required: true
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      responses:
        '200':
          $ref: '#/components/responses/GetNotationKeyFiguresYear5Get200Response'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /notation/keyFigures/year/5/list:
    get:
      tags:
      - Year
      operationId: get/notation/keyFigures/year/5/list
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Factset End-of-day (eod) Key Figures for the Time Range of Five Years, for a List of Notations.
      description: End-of-day (EOD) key figures for the time range of five years, for a list of notations.
      parameters:
      - name: identifiers
        in: query
        schema:
          description: Set of identifiers to resolve.
          type: array
          items:
            type: string
            minLength: 3
            maxLength: 50
            pattern: ^[B-DF-HJ-NP-TV-Z0-9]{6}-[LR]$|^[A-Z0-9.#&*+]{1,47}-[A-Z0-9]{2,4}$|^[0-9]{3,20}$
          uniqueItems: true
          minItems: 1
          maxItems: 100
        required: true
        style: form
        explode: false
      - name: identifierType
        in: query
        schema:
          type: string
          description: Type of the identifier.
          x-enum-description:
          - MDG identifier of a listing.
          - FactSet market symbol of a listing.
          - Regional FactSet ticker symbol, identifying the primary listing in the region.
          - FactSet Permanent Identifier on listing level.
          - Regional FactSet Permanent Identifier, identifying the primary listing in the region.
          enum:
          - idNotation
          - tickerExchange
          - tickerRegion
          - fdsPermanentIdentifierListing
          - fdsPermanentIdentifierRegional
        required: true
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      responses:
        '200':
          $ref: '#/components/responses/GetNotationKeyFiguresYear5List200Response'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /notation/keyFigures/year/7/get:
    get:
      tags:
      - Year
      operationId: get/notation/keyFigures/year/7/get
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Factset End-of-day (eod) Key Figures for the Time Range of Seven Years.
      description: End-of-day (EOD) key figures for the time range of seven years.
      parameters:
      - name: identifier
        in: query
        schema:
          type: string
          pattern: ^[B-DF-HJ-NP-TV-Z0-9]{6}-[LR]$|^[A-Z0-9.#&*+]{1,47}-[A-Z0-9]{2,4}$|^[0-9]{3,20}$
          maxLength: 50
          minLength: 3
          description: Identifier to resolve.
        required: true
      - name: identifierType
        in: query
        schema:
          type: string
          description: Type of the identifier.
          x-enum-description:
          - MDG identifier of a listing.
          - FactSet market symbol of a listing.
          - Regional FactSet ticker symbol, identifying the primary listing in the region.
          - FactSet Permanent Identifier on listing level.
          - Regional FactSet Permanent Identifier, identifying the primary listing in the region.
          enum:
          - idNotation
          - tickerExchange
          - tickerRegion
          - fdsPermanentIdentifierListing
          - fdsPermanentIdentifierRegional
        required: true
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      responses:
        '200':
          $ref: '#/components/responses/GetNotationKeyFiguresYear7Get200Response'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /notation/keyFigures/year/7/list:
    get:
      tags:
      - Year
      operationId: get/notation/keyFigures/year/7/list
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Factset End-of-day (eod) Key Figures for the Time Range of Seven Years, for a List of Notations.
      description: End-of-day (EOD) key figures for the time range of seven years, for a list of notations.
      parameters:
      - name: identifiers
        in: query
        schema:
          description: Set of identifiers to resolve.
          type: array
          items:
            type: string
            minLength: 3
            maxLength: 50
            pattern: ^[B-DF-HJ-NP-TV-Z0-9]{6}-[LR]$|^[A-Z0-9.#&*+]{1,47}-[A-Z0-9]{2,4}$|^[0-9]{3,20}$
          uniqueItems: true
          minItems: 1
          maxItems: 100
        required: true
        style: form
        explode: false
      - name: identifierType
        in: query
        schema:
          type: string
          description: Type of the identifier.
          x-enum-description:
          - MDG identifier of a listing.
          - FactSet market symbol of a listing.
          - Regional FactSet ticker symbol, identifying the primary listing in the region.
          - FactSet Permanent Identifier on listing level.
          - Regional FactSet Permanent Identifier, identifying the primary listing in the region.
          enum:
          - idNotation
          - tickerExchange
          - tickerRegion
          - fdsPermanentIdentifierListing
          - fdsPermanentIdentifierRegional
        required: true
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      responses:
        '200':
          $ref: '#/components/responses/GetNotationKeyFiguresYear7List200Response'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /notation/keyFigures/yearToDate/get:
    get:
      tags:
      - Year
      operationId: get/notation/keyFigures/yearToDate/get
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Factset End-of-day (eod) Key Figures for the Time Range Year-to-date (ytd)..
      description: End-of-day (EOD) key figures for the time range year-to-date (YTD). The time range YTD begins with the last trading day of the previous calendar year for which EOD prices are available and ends with the most recent trading day of the current calendar year for which EOD prices are available..
      parameters:
      - name: identifier
        in: query
        schema:
          type: string
          pattern: ^[B-DF-HJ-NP-TV-Z0-9]{6}-[LR]$|^[A-Z0-9.#&*+]{1,47}-[A-Z0-9]{2,4}$|^[0-9]{3,20}$
          maxLength: 50
          minLength: 3
          description: Identifier to resolve.
        required: true
      - name: identifierType
        in: query
        schema:
          type: string
          description: Type of the identifier.
          x-enum-description:
          - MDG identifier of a listing.
          - FactSet market symbol of a listing.
          - Regional FactSet ticker symbol, identifying the primary listing in the region.
          - FactSet Permanent Identifier on listing level.
          - Regional FactSet Permanent Identifier, identifying the primary listing in the region.
          enum:
          - idNotation
          - tickerExchange
          - tickerRegion
          - fdsPermanentIdentifierListing
          - fdsPermanentIdentifierRegional
        required: true
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      responses:
        '200':
          $ref: '#/components/responses/GetNotationKeyFiguresYearToDateGet200Response'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /notation/keyFigures/yearToDate/list:
    get:
      tags:
      - Year
      operationId: get/notation/keyFigures/yearToDate/list
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Factset End-of-day (eod) Key Figures for the Time Range Year-to-date (ytd), for a List of Notations..
      description: End-of-day (EOD) key figures for the time range year-to-date (YTD), for a list of notations. The time range YTD begins with the last trading day of the previous calendar year for which EOD prices are available and ends with the most recent tradingday of the current calendar year for which EOD prices are available..
      parameters:
      - name: identifiers
        in: query
        schema:
          description: Set of identifiers to resolve.
          type: array
          items:
            type: string
            minLength: 3
            maxLength: 50
            pattern: ^[B-DF-HJ-NP-TV-Z0-9]{6}-[LR]$|^[A-Z0-9.#&*+]{1,47}-[A-Z0-9]{2,4}$|^[0-9]{3,20}$
          uniqueItems: true
          minItems: 1
          maxItems: 100
        required: true
        style: form
        explode: false
      - name: identifierType
        in: query
        schema:
          type: string
          description: Type of the identifier.
          x-enum-description:
          - MDG identifier of a listing.
          - FactSet market symbol of a listing.
          - Regional FactSet ticker symbol, identifying the primary listing in the region.
          - FactSet Permanent Identifier on listing level.
          - Regional FactSet Permanent Identifier, identifying the primary listing in the region.
          enum:
          - idNotation
          - tickerExchange
          - tickerRegion
          - fdsPermanentIdentifierListing
          - fdsPermanentIdentifierRegional
        required: true
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      responses:
        '200':
          $ref: '#/components/responses/GetNotationKeyFiguresYearToDateList200Response'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /company/keyItems/fiscalYear/listByInstrument:
    post:
      tags:
      - Year
      operationId: post/company/keyItems/fiscalYear/listByInstrument
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Selected fundamentals for a stock with values as of the end of a fiscal year.
      description: Selected fundamentals for a stock with values as of the end of a fiscal year; any other instrument yields empty values for stock-specific attributes. The endpoint allows the retrieval of data only for specified fiscal years by using the start and end properties. Since a fiscal year and a calendar year do not necessarily match with regard to their start and end dates, the year is derived as the calendar year occupied to a larger extent by the fiscal year, using a June through May fiscal year assignment. That means, fiscal years ending from the 1st of June onwards are assigned to the same calendar year. Dates are interpreted in the timezone of the location of the head office of the company.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostCompanyKeyItemsFiscalYearListByInstrumentRequest'
      responses:
        '200':
          $ref: '#/components/responses/PostCompanyKeyItemsFiscalYearListByInstrument200Response'
      parameters: []
  /stock/notation/keyFigures/benchmark/year/1/get:
    get:
      tags:
      - Year
      operationId: get/stock/notation/keyFigures/benchmark/year/1/get
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: End-of-day (EOD) benchmark key figures of a stock for the time range of one year.
      description: End-of-day (EOD) benchmark key figures of a stock for the time range of one year.
      parameters:
      - name: identifier
        in: query
        schema:
          type: string
          pattern: ^([B-DF-HJ-NP-TV-Z0-9]{6}-[LR])|([A-Z0-9.]{1,47}-[A-Z0-9]{2,4})|([0-9]{3,20})$
          maxLength: 50
          minLength: 3
          description: Identifier to resolve.
        required: true
      - name: identifierType
        in: query
        schema:
          type: string
          description: Type of the identifier.
          x-enum-description:
          - MDG identifier of a listing.
          - FactSet market symbol of a listing.
          - Regional FactSet ticker symbol, identifying the primary listing in the region.
          - FactSet Permanent Identifier on listing level.
          - Regional FactSet Permanent Identifier, identifying the primary listing in the region.
          enum:
          - idNotation
          - tickerExchange
          - tickerRegion
          - fdsPermanentIdentifierListing
          - fdsPermanentIdentifierRegional
        required: true
      - name: idNotationBenchmark
        in: query
        schema:
          type: array
          items:
            type: string
            format: id64
            x-positive: true
          uniqueItems: true
          minItems: 1
          maxItems: 3
          description: 'List of identifiers of benchmark notations. See the group description for the list

            of valid values.'
        style: form
        explode: false
        required: true
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      - name: _language
        in: query
        schema:
          type: string
          format: isoLanguage
          description: ISO 639-1 code of the language.
          maxLength: 2
          minLength: 2
      responses:
        '200':
          $ref: '#/components/responses/GetStockNotationKeyFiguresBenchmarkYear1Get200Response'
  /stock/notation/keyFigures/benchmark/year/3/get:
    get:
      tags:
      - Year
      operationId: get/stock/notation/keyFigures/benchmark/year/3/get
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: End-of-day (EOD) benchmark key figures of a stock for the time range of three years.
      description: End-of-day (EOD) benchmark key figures of a stock for the time range of three years.
      parameters:
      - name: identifier
        in: query
        schema:
          type: string
          pattern: ^([B-DF-HJ-NP-TV-Z0-9]{6}-[LR])|([A-Z0-9.]{1,47}-[A-Z0-9]{2,4})|([0-9]{3,20})$
          maxLength: 50
          minLength: 3
          description: Identifier to resolve.
        required: true
      - name: identifierType
        in: query
        schema:
          type: string
          description: Type of the identifier.
          x-enum-description:
          - MDG identifier of a listing.
          - FactSet market symbol of a listing.
          - Regional FactSet ticker symbol, identifying the primary listing in the region.
          - FactSet Permanent Identifier on listing level.
          - Regional FactSet Permanent Identifier, identifying the primary listing in the region.
          enum:
          - idNotation
          - tickerExchange
          - tickerRegion
          - fdsPermanentIdentifierListing
          - fdsPermanentIdentifierRegional
        required: true
      - name: idNotationBenchmark
        in: query
        schema:
          type: array
          items:
            type: string
            format: id64
            x-positive: true
          uniqueItems: true
          minItems: 1
          maxItems: 3
          description: 'List of identifiers of benchmark notations. See the group description for the list

            of valid values.'
        style: form
        explode: false
        required: true
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      - name: _language
        in: query
        schema:
          type: string
          format: isoLanguage
          description: ISO 639-1 code of the language.
          maxLength: 2
          minLength: 2
      responses:
        '200':
          $ref: '#/components/responses/GetStockNotationKeyFiguresBenchmarkYear3Get200Response'
  /stock/notation/keyFigures/benchmark/year/5/get:
    get:
      tags:
      - Year
      operationId: get/stock/notation/keyFigures/benchmark/year/5/get
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: End-of-day (EOD) benchmark key figures of a stock for the time range of five years.
      description: End-of-day (EOD) benchmark key figures of a stock for the time range of five years.
      parameters:
      - name: identifier
        in: query
        schema:
          type: string
          pattern: ^([B-DF-HJ-NP-TV-Z0-9]{6}-[LR])|([A-Z0-9.]{1,47}-[A-Z0-9]{2,4})|([0-9]{3,20})$
          maxLength: 50
          minLength: 3
          description: Identifier to resolve.
        required: true
      - name: identifierType
        in: query
        schema:
          type: string
          description: Type of the identifier.
          x-enum-description:
          - MDG identifier of a listing.
          - FactSet market symbol of a listing.
          - Regional FactSet ticker symbol, identifying the primary listing in the region.
          - FactSet Permanent Identifier on listing level.
          - Regional FactSet Permanent Identifier, identifying the primary listing in the region.
          enum:
          - idNotation
          - tickerExchange
          - tickerRegion
          - fdsPermanentIdentifierListing
          - fdsPermanentIdentifierRegional
        required: true
      - name: idNotationBenchmark
        in: query
        schema:
          type: array
          items:
            type: string
            format: id64
            x-positive: true
          uniqueItems: true
          minItems: 1
          maxItems: 3
          description: 'List of identifiers of benchmark notations. See the group description for the list

            of valid values.'
        style: form
        explode: false
        required: true
      - name: _attributes
        in: query
        schema:
          type: array
          items:
            type: string
            maxLength: 100
          uniqueItems: true
          maxItems: 50
        style: form
        explode: false
        description: Limit the attributes returned in the response to the specified set.
      - name: _language
        in: query
        schema:
          type: string
          format: isoLanguage
          description: ISO 639-1 code of the language.
          maxLength: 2
          minLength: 2
      responses:
        '200':
          $ref: '#/components/responses/GetStockNotationKeyFiguresBenchmarkYear5Get200Response'
components:
  responses:
    GetNotationKeyFiguresYear7List200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: array
                description: EOD key figures for a list of notations.
                items:
                  type: object
                  x-property-sort:
                  - idNotation
                  - sourceIdentifier
                  - referenceDate
                  - performance
                  - high
                  - low
                  - tradingVolume
                  - volatility
                  - status
                  properties:
                    idNotation:
                      type:
                      - string
                      - 'null'
                      format: id64
                      x-positive: true
                      description: MDG identifier of the listing.
                    sourceIdentifier:
                      type:
                      - string
                      - 'null'
                      description: Identifier used in the request.
                    referenceDate:
                      type:
                      - string
                      - 'null'
                      format: date
                      description: Reference date of the time range.
                    performance:
                      type: object
                      x-property-sort:
                      - absolute
                      - relative
                      - referencePrice
                      description: Performance values.
                      properties:
                        absolute:
                          type:
                          - number
                          - 'null'
                          format: real
                          description: Absolute difference of a notation's most recent EOD closing price against the EOD closing price on the reference date.
                        relative:
                          type:
                          - number
                          - 'null'
                          format: relativeValue
                          description: Difference of a notation's most recent EOD closing price against the EOD closing price on the reference date, relative to the EOD closing price on the reference date.
                        referencePrice:
                          type:
                          - number
                          - 'null'
                          format: real
                          description: EOD closing price as of the reference date (see attribute `referenceDate`) used for calculation.
                    high:
                      type: object
                      x-property-sort:
                      - price
                      - date
                      description: Maximum value of the notation's price in the given time range.
                      properties:
                        price:
                          type:
                          - number
                          - 'null'
                          format: real
                          description: Maximum value.
                        date:
                          type:
                          - string
                          - 'null'
                          format: date
                          description: Date of the maximum value.
                    low:
                      type: object
                      x-property-sort:
                      - price
                      - date
                      description: Minimum value of the notation's price in the given time range.
                      properties:
                        price:
                          type:
                          - number
                          - 'null'
                          format: real
                          description: Minimum value.
                        date:
                          type:
                          - string
                          - 'null'
                          format: date
                          description: Date of the minimum value.
                    tradingVolume:
                      type:
                      - number
                      - 'null'
                      format: real
                      description: Sum of the trading volume of a notation in number of shares for the time-range between the date of the most recent end-of-day (EOD) closing price (inclusive) and the reference date (exclusive).
                    volatility:
                      type:
                      - number
                      - 'null'
                      format: real
                      description: Volatility of the daily logarithmic returns, annualized assuming 256 trading days per year.
                    status:
                      type: object
                      x-property-sort:
                      - code
                      - identifier
                      - details
                      - encryptedDetails
                      description: Error status for the requested identifier.
                      properties:
                        code:
                          type:
                          - string
                          - 'null'
                          description: Code of the error condition.
                          x-enum-description:
                          - No error.
                          - The provided identifier does not refer to a valid notation.
                          - Not entitled to see data for the notation.
                          - Unable to resolve the provided identifier.
                          enum:
                          - none
                          - parameter
                          - entitlement
                          - identifierMapping
                        identifier:
                          type:
                          - string
                          - 'null'
                          format: id64
                          x-positive: true
                          description: Provided identifier.
                        details:
                          type:
                          - string
                          - 'null'
                          description: A human-readable, unstructured explanation specific to this occurrence of the problem.
                        encryptedDetails:
                          type:
                          - string
                          - 'null'
                          description: Base64-encoded internal details about the error.
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                x-property-sort:
                - status
            x-property-sort:
            - data
            - meta
    GetNotationKeyFiguresYear3Get200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: object
                properties:
                  idNotation:
                    type:
                    - string
                    - 'null'
                    format: id64
                    x-positive: true
                    description: MDG identifier of the listing.
                  sourceIdentifier:
                    type:
                    - string
                    - 'null'
                    description: Identifier used in the request.
                  referenceDate:
                    type:
                    - string
                    - 'null'
                    format: date
                    description: Reference date of the time range.
                  performance:
                    type: object
                    x-property-sort:
                    - absolute
                    - relative
                    - referencePrice
                    description: Performance values.
                    properties:
                      absolute:
                        type:
                        - number
                        - 'null'
                        format: real
                        description: Absolute difference of a notation's most recent EOD closing price against the EOD closing price on the reference date.
                      relative:
                        type:
                        - number
                        - 'null'
                        format: relativeValue
                        description: Difference of a notation's most recent EOD closing price against the EOD closing price on the reference date, relative to the EOD closing price on the reference date.
                      referencePrice:
                        type:
                        - number
                        - 'null'
                        format: real
                        description: EOD closing price as of the reference date (see attribute `referenceDate`) used for calculation.
                  high:
                    type: object
                    x-property-sort:
                    - price
                    - date
                    description: Maximum value of the notation's price in the given time range.
                    properties:
                      price:
                        type:
                        - number
                        - 'null'
                        format: real
                        description: Maximum value.
                      date:
                        type:
                        - string
                        - 'null'
                        format: date
                        description: Date of the maximum value.
                  low:
                    type: object
                    x-property-sort:
                    - price
                    - date
                    description: Minimum value of the notation's price in the given time range.
                    properties:
                      price:
                        type:
                        - number
                        - 'null'
                        format: real
                        description: Minimum value.
                      date:
                        type:
                        - string
                        - 'null'
                        format: date
                        description: Date of the minimum value.
                  tradingVolume:
                    type:
                    - number
                    - 'null'
                    format: real
                    description: Sum of the trading volume of a notation in number of shares for the time-range between the date of the most recent end-of-day (EOD) closing price (inclusive) and the reference date (exclusive).
                  volatility:
                    type:
                    - number
                    - 'null'
                    format: real
                    description: Volatility of the daily logarithmic returns, annualized assuming 256 trading days per year.
                x-property-sort:
                - idNotation
                - sourceIdentifier
                - referenceDate
                - performance
                - high
                - low
                - tradingVolume
                - volatility
                description: EOD key figures.
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                x-property-sort:
                - status
            x-property-sort:
            - data
            - meta
    GetNotationKeyFiguresYearToDateGet200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: object
                properties:
                  idNotation:
                    type:
                    - string
                    - 'null'
                    format: id64
                    x-positive: true
                    description: MDG identifier of the listing.
                  sourceIdentifier:
                    type:
                    - string
                    - 'null'
                    description: Identifier used in the request.
                  referenceDate:
                    type:
                    - string
                    - 'null'
                    format: date
                    description: Reference date of the time range.
                  performance:
                    type: object
                    x-property-sort:
                    - absolute
                    - relative
                    - referencePrice
                    description: Performance values.
                    properties:
                      absolute:
                        type:
                        - number
                        - 'null'
                        format: real
                        description: Absolute difference of a notation's most recent EOD closing price against the EOD closing price on the reference date.
                      relative:
                        type:
                        - number
                        - 'null'
                        format: relativeValue
                        description: Difference of a notation's most recent EOD closing price against the EOD closing price on the reference date, relative to the EOD closing price on the reference date.
                      referencePrice:
                        type:
                        - number
                        - 'null'
                        format: real
                        description: EOD closing price as of the reference date (see attribute `referenceDate`) used for calculation.
                  high:
                    type: object
                    x-property-sort:
                    - price
                    - date
                    description: Maximum value of the notation's price in the given time range.
                    properties:
                      price:
                        type:
                        - number
                        - 'null'
                        format: real
                        description: Maximum value.
                      date:
                        type:
                        - string
                        - 'null'
                        format: date
                        description: Date of the maximum value.
                  low:
                    type: object
                    x-property-sort:
                    - price
                    - date
                    description: Minimum value of the notation's price in the given time range.
                    properties:
                      price:
                        type:
                        - number
                        - 'null'
                        format: real
                        description: Minimum value.
                      date:
                        type:
                        - string
                        - 'null'
                        format: date
                        description: Date of the minimum value.
                  volatility:
                    type:
                    - number
                    - 'null'
                    format: real
                    description: Volatility of the daily logarithmic returns, annualized assuming 256 trading days per year.
                x-property-sort:
                - idNotation
                - sourceIdentifier
                - referenceDate
                - performance
                - high
                - low
                - volatility
                description: EOD key figures.
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                x-property-sort:
                - status
            x-property-sort:
            - data
            - meta
    GetNotationKeyFiguresYear1Get200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: object
                properties:
                  idNotation:
                    type:
                    - string
                    - 'null'
                    format: id64
                    x-positive: true
                    description: MDG identifier of the listing.
                  sourceIdentifier:
                    type:
                    - string
                    - 'null'
                    description: Identifier used in the request.
                  referenceDate:
                    type:
                    - string
                    - 'null'
                    format: date
                    description: Reference date of the time range.
                  performance:
                    type: object
                    x-property-sort:
                    - absolute
                    - relative
                    - referencePrice
                    description: Performance values.
                    properties:
                      absolute:
                        type:
                        - number
                        - 'null'
                        format: real
                        description: Absolute difference of a notation's most recent EOD closing price against the EOD closing price on the reference date.
                      relative:
                        type:
                        - number
                        - 'null'
                        format: relativeValue
                        description: Difference of a notation's most recent EOD closing price against the EOD closing price on the reference date, relative to the EOD closing price on the reference date.
                      referencePrice:
                        type:
                        - number
                        - 'null'
                        format: real
                        description: EOD closing price as of the reference date (see attribute `referenceDate`) used for calculation.
                  high:
                    type: object
                    x-property-sort:
                    - price
                    - date
                    description: Maximum value of the notation's price in the given time range.
                    properties:
                      price:
                        type:
                        - number
                        - 'null'
                        format: real
                        description: Maximum value.
                      date:
                        type:
                        - string
                        - 'null'
                        format: date
                        description: Date of the maximum value.
                  low:
                    type: object
                    x-property-sort:
                    - price
                    - date
                    description: Minimum value of the notation's price in the given time range.
                    properties:
                      price:
                        type:
                        - number
                        - 'null'
                        format: real
                        description: Minimum value.
                      date:
                        type:
                        - string
                        - 'null'
                        format: date
                        description: Date of the minimum value.
                  averagePrice:
                    type:
                    - number
                    - 'null'
                    format: real
                    description: Arithmetic mean of the notation's EOD closing prices for the given time range.
                  tradingVolume:
                    type: object
                    x-property-sort:
                    - average
                    - sum
                    description: Average and total trading volume for the given time range.
                    properties:
                      average:
                        type:
                        - number
                        - 'null'
                        format: real
                        description: Arithmetic mean of the daily trading volumes.
                      sum:
                        type:
                        - number
                        - 'null'
                        format: real
                        description: Sum of the daily trading volumes.
                  tradingValue:
                    type:
                    - number
                    - 'null'
                    format: real
                    description: Sum of the cash flow for all transactions of one notation over a certain time range. The cash flow of a transaction is its volume multiplied by its trade price.
                  volatility:
                    type:
                    - number
                    - 'null'
                    format: real
                    description: Volatility of the daily logarithmic returns, annualized assuming 256 trading days per year.
                x-property-sort:
                - idNotation
                - sourceIdentifier
                - referenceDate
                - performance
                - high
                - low
                - averagePrice
                - tradingVolume
                - tradingValue
                - volatility
                description: EOD key figures.
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                x-property-sort:
                - status
            x-property-sort:
            - data
            - meta
    GetStockNotationKeyFiguresBenchmarkYear3Get200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                description: List of benchmarks with related key figures for a stock notation.
                type: object
                x-property-sort:
                - idNotation
                - sourceIdentifier
                - benchmarks
                properties:
                  idNotation:
                    type:
                    - string
                    - 'null'
                    format: id64
                    x-positive: true
                    description: MDG identifier of the listing.
                  sourceIdentifier:
                    type:
                    - string
                    - 'null'
                    description: Identifier used in the request.
                  benchmarks:
                    description: List of benchmarks with related key figures. The order of the benchmark notations in the response is unrelated to their order in the request array.
                    type: array
                    items:
                      type: object
                      x-property-sort:
                      - notation
                      - beta
                      - correlation
                      - outperformance
                      - status
                      properties:
                        notation:
                          type: object
                          x-property-sort:
                          - id
                          - instrument
                          description: Notation of a benchmark.
                          properties:
                            id:
                              type:
                              - string
                              - 'null'
                              format: id64
                              x-positive: true
                              description: Identifier of the notation.
                            instrument:
                              type: object
                              x-property-sort:
                              - id
                              - name
                              description: Instrument of the benchmark.
                              properties:
                                id:
                                  type:
                                  - string
                                  - 'null'
                                  format: id64
                                  x-positive: true
                                  description: Identifier of the instrument.
                                name:
                                  type:
                                  - string
                                  - 'null'
                                  format: localizedString
                                  description: Name of the instrument.
                        beta:
                          type:
                          - number
                          - 'null'
                          format: real
                          description: Beta of the notation.
                        correlation:
                          type:
                          - number
                          - 'null'
                          format: real
                          description: Correlation of the notation.
                        outperformance:
                          type:
                          - number
                          - 'null'
                          format: relativeValue
                          description: Outperformance of the notation.
                        status:
                          type: object
                          x-property-sort:
                          - code
                          - identifier
                          - encryptedDetails
                          description: Error status for the requested identifier.
                          properties:
                            code:
                              type:
                              - string
                              - 'null'
                              description: Code of the error condition.
                              x-enum-description:
                              - No error.
                              - The provided identifier does not refer to a valid benchmark notation.
                              enum:
                              - none
                              - parameter
                            identifier:
                              type:
                              - string
                              - 'null'
                              format: id64
                              x-positive: true
                              description: Provided identifier.
                            encryptedDetails:
                              type:
                              - string
                              - 'null'
                              description: Base64-encoded internal details about the error.
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject_2'
                x-property-sort:
                - status
    GetNotationKeyFiguresYearToDateList200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: array
                description: EOD key figures for a list of notations.
                items:
                  type: object
                  x-property-sort:
                  - idNotation
                  - sourceIdentifier
                  - referenceDate
                  - performance
                  - high
                  - low
                  - volatility
                  - status
                  properties:
                    idNotation:
                      type:
                      - string
                      - 'null'
                      format: id64
                      x-positive: true
                      description: MDG identifier of the listing.
                    sourceIdentifier:
                      type:
                      - string
                      - 'null'
                      description: Identifier used in the request.
                    referenceDate:
                      type:
                      - string
                      - 'null'
                      format: date
                      description: Reference date of the time range.
                    performance:
                      type: object
                      x-property-sort:
                      - absolute
                      - relative
                      - referencePrice
                      description: Performance values.
                      properties:
                        absolute:
                          type:
                          - number
                          - 'null'
                          format: real
                          description: Absolute difference of a notation's most recent EOD closing price against the EOD closing price on the reference date.
                        relative:
                          type:
                          - number
                          - 'null'
                          format: relativeValue
                          description: Difference of a notation's most recent EOD closing price against the EOD closing price on the reference date, relative to the EOD closing price on the reference date.
                        referencePrice:
                          type:
                          - number
                          - 'null'
                          format: real
                          description: EOD closing price as of the reference date (see attribute `referenceDate`) used for calculation.
                    high:
                      type: object
                      x-property-sort:
                      - price
                      - date
                      description: Maximum value of the notation's price in the given time range.
                      properties:
                        price:
                          type:
                          - number
                          - 'null'
                          format: real
                          description: Maximum value.
                        date:
                          type:
                          - string
                          - 'null'
                          format: date
                          description: Date of the maximum value.
                    low:
                      type: object
                      x-property-sort:
                      - price
                      - date
                      description: Minimum value of the notation's price in the given time range.
                      properties:
                        price:
                          type:
                          - number
                          - 'null'
                          format: real
                          description: Minimum value.
                        date:
                          type:
                          - string
                          - 'null'
                          format: date
                          description: Date of the minimum value.
                    volatility:
                      type:
                      - number
                      - 'null'
                      format: real
                      description: Volatility of the daily logarithmic returns, annualized assuming 256 trading days per year.
                    status:
                      type: object
                      x-property-sort:
                      - code
                      - identifier
                      - details
                      - encryptedDetails
                      description: Error status for the requested identifier.
                      properties:
                        code:
                          type:
                          - string
                          - 'null'
                          description: Code of the error condition.
                          x-enum-description:
                          - No error.
                          - The provided identifier does not refer to a valid notation.
                          - Not entitled to see data for the notation.
                          - Unable to resolve the provided identifier.
                          enum:
                          - none
                          - parameter
                          - entitlement
                          - identifierMapping
                        identifier:
                          type:
                          - string
                          - 'null'
                          format: id64
                          x-positive: true
                          description: Provided identifier.
                        details:
                          type:
                          - string
                          - 'null'
                          description: A human-readable, unstructured explanation specific to this occurrence of the problem.
                        encryptedDetails:
                          type:
                          - string
                          - 'null'
                          description: Base64-encoded internal details about the error.
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                x-property-sort:
                - status
            x-property-sort:
            - data
            - meta
    GetNotationKeyFiguresYear5List200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: array
                description: EOD key figures for a list of notations.
                items:
                  type: object
                  x-property-sort:
                  - idNotation
                  - sourceIdentifier
                  - referenceDate
                  - performance
                  - high
                  - low
                  - tradingVolume
                  - volatility
                  - status
                  properties:
                    idNotation:
                      type:
                      - string
                      - 'null'
                      format: id64
                      x-positive: true
                      description: MDG identifier of the listing.
                    sourceIdentifier:
                      type:
                      - string
                      - 'null'
                      description: Identifier used in the request.
                    referenceDate:
                      type:
                      - string
                      - 'null'
                      format: date
                      description: Reference date of the time range.
                    performance:
                      type: object
                      x-property-sort:
                      - absolute
                      - relative
                      - referencePrice
                      description: Performance values.
                      properties:
                        absolute:
                          type:
                          - number
                          - 'null'
                          format: real
                          description: Absolute difference of a notation's most recent EOD closing price against the EOD closing price on the reference date.
                        relative:
                          type:
                          - number
                          - 'null'
                          format: relativeValue
                          description: Difference of a notation's most recent EOD closing price against the EOD closing price on the reference date, relative to the EOD closing price on the reference date.
                        referencePrice:
                          type:
                          - number
                          - 'null'
                          format: real
                          description: EOD closing price as of the reference date (see attribute `referenceDate`) used for calculation.
                    high:
                      type: object
                      x-property-sort:
                      - price
                      - date
                      description: Maximum value of the notation's price in the given time range.
                      properties:
                        price:
                          type:
                          - number
                          - 'null'
                          format: real
                          description: Maximum value.
                        date:
                          type:
                          - string
                          - 'null'
                          format: date
                          description: Date of the maximum value.
                    low:
                      type: object
                      x-property-sort:
                      - price
                      - date
                      description: Minimum value of the notation's price in the given time range.
                      properties:
                        price:
                          type:
                          - number
                          - 'null'
                          format: real
                          description: Minimum value.
                        date:
                          type:
                          - string
                          - 'null'
                          format: date
                          description: Date of the minimum value.
                    tradingVolume:
                      type:
                      - number
                      - 'null'
                      format: real
                      description: Sum of the trading volume of a notation in number of shares for the time-range between the date of the most recent end-of-day (EOD) closing price (inclusive) and the reference date (exclusive).
                    volatility:
                      type:
                      - number
                      - 'null'
                      format: real
                      description: Volatility of the daily logarithmic returns, annualized assuming 256 trading days per year.
                    status:
                      type: object
                      x-property-sort:
                      - code
                      - identifier
                      - details
                      - encryptedDetails
                      description: Error status for the requested identifier.
                      properties:
                        code:
                          type:
                          - string
                          - 'null'
                          description: Code of the error condition.
                          x-enum-description:
                          - No error.
                          - The provided identifier does not refer to a valid notation.
                          - Not entitled to see data for the notation.
                          - Unable to resolve the provided identifier.
                          enum:
                          - none
                          - parameter
                          - entitlement
                          - identifierMapping
                        identifier:
                          type:
                          - string
                          - 'null'
                          format: id64
                          x-positive: true
                          description: Provided identifier.
                        details:
                          type:
                          - string
                          - 'null'
                          description: A human-readable, unstructured explanation specific to this occurrence of the problem.
                        encryptedDetails:
                          type:
                          - string
                          - 'null'
                          description: Base64-encoded internal details about the error.
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                x-property-sort:
                - status
            x-property-sort:
            - data
            - meta
    GetStockNotationKeyFiguresBenchmarkYear1Get200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                description: List of benchmarks with related key figures for a stock notation.
                type: object
                x-property-sort:
                - idNotation
                - sourceIdentifier
                - benchmarks
                properties:
                  idNotation:
                    type:
                    - string
                    - 'null'
                    format: id64
                    x-positive: true
                    description: MDG identifier of the listing.
                  sourceIdentifier:
                    type:
                    - string
                    - 'null'
                    description: Identifier used in the request.
                  benchmarks:
                    description: List of benchmarks with related key figures. The order of the benchmark notations in the response is unrelated to their order in the request array.
                    type: array
                    items:
                      type: object
                      x-property-sort:
                      - notation
                      - beta
                      - correlation
                      - outperformance
                      - status
                      properties:
                        notation:
                          type: object
                          x-property-sort:
                          - id
                          - instrument
                          description: Notation of a benchmark.
                          properties:
                            id:
                              type:
                              - string
                              - 'null'
                              format: id64
                              x-positive: true
                              description: Identifier of the notation.
                            instrument:
                              type: object
                              x-property-sort:
                              - id
                              - name
                              description: Instrument of the benchmark.
                              properties:
                                id:
                                  type:
                                  - string
                                  - 'null'
                                  format: id64
                                  x-positive: true
                                  description: Identifier of the instrument.
                                name:
                                  type:
                                  - string
                                  - 'null'
                                  format: localizedString
                                  description: Name of the instrument.
                        beta:
                          type:
                          - number
                          - 'null'
                          format: real
                          description: Beta of the notation.
                        correlation:
                          type:
                          - number
                          - 'null'
                          format: real
                          description: Correlation of the notation.
                        outperformance:
                          type:
                          - number
                          - 'null'
                          format: relativeValue
                          description: Outperformance of the notation.
                        status:
                          type: object
                          x-property-sort:
                          - code
                          - identifier
                          - encryptedDetails
                          description: Error status for the requested identifier.
                          properties:
                            code:
                              type:
                              - string
                              - 'null'
                              description: Code of the error condition.
                              x-enum-description:
                              - No error.
                              - The provided identifier does not refer to a valid benchmark notation.
                              enum:
                              - none
                              - parameter
                            identifier:
                              type:
                              - string
                              - 'null'
                              format: id64
                              x-positive: true
                              description: Provided identifier.
                            encryptedDetails:
                              type:
                              - string
                              - 'null'
                              description: Base64-encoded internal details about the error.
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject_2'
                x-property-sort:
                - status
    GetNotationKeyFiguresYear10Get200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: object
                properties:
                  idNotation:
                    type:
                    - string
                    - 'null'
                    format: id64
                    x-positive: true
                    description: MDG identifier of the listing.
                  sourceIdentifier:
                    type:
                    - string
                    - 'null'
                    description: Identifier used in the request.
                  referenceDate:
                    type:
                    - string
                    - 'null'
                    format: date
                    description: Reference date of the time range.
                  performance:
                    type: object
                    x-property-sort:
                    - absolute
                    - relative
                    - referencePrice
                    description: Performance values.
                    properties:
                      absolute:
                        type:
                        - number
                        - 'null'
                        format: real
                        description: Absolute difference of a notation's most recent EOD closing price against the EOD closing price on the reference date.
                      relative:
                        type:
                        - number
                        - 'null'
                        format: relativeValue
                        description: Difference of a notation's most recent EOD closing price against the EOD closing price on the reference date, relative to the EOD closing price on the reference date.
                      referencePrice:
                        type:
                        - number
                        - 'null'
                        format: real
                        description: EOD closing price as of the reference date (see attribute `referenceDate`) used for calculation.
                  high:
                    type: object
                    x-property-sort:
                    - price
                    - date
                    description: Maximum value of the notation's price in the given time range.
                    properties:
                      price:
                        type:
                        - number
                        - 'null'
                        format: real
                        description: Maximum value.
                      date:
                        type:
                        - string
                        - 'null'
                        format: date
                        description: Date of the maximum value.
                  low:
                    type: object
                    x-property-sort:
                    - price
                    - date
                    description: Minimum value of the notation's price in the given time range.
                    properties:
                      price:
                        type:
                        - number
                        - 'null'
                        format: real
                        description: Minimum value.
                      date:
                        type:
                        - string
                        - 'null'
                        format: date
                        description: Date of the minimum value.
                  tradingVolume:
                    type:
                    - number
                    - 'null'
                    format: real
                    description: Sum of the trading volume of a notation in number of shares for the time-range between the date of the most recent end-of-day (EOD) closing price (inclusive) and the reference date (exclusive).
                  volatility:
                    type:
                    - number
                    - 'null'
                    format: real
                    description: Volatility of the daily logarithmic returns, annualized assuming 256 trading days per year.
                x-property-sort:
                - idNotation
                - sourceIdentifier
                - referenceDate
                - performance
                - high
                - low
                - tradingVolume
                - volatility
                description: EOD key figures.
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                x-property-sort:
                - status
            x-property-sort:
            - data
            - meta
    GetNotationKeyFiguresYear5Get200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: object
                properties:
                  idNotation:
                    type:
                    - string
                    - 'null'
                    format: id64
                    x-positive: true
                    description: MDG identifier of the listing.
                  sourceIdentifier:
                    type:
                    - string
                    - 'null'
                    description: Identifier used in the request.
                  referenceDate:
                    type:
                    - string
                    - 'null'
                    format: date
                    description: Reference date of the time range.
                  performance:
                    type: object
                    x-property-sort:
                    - absolute
                    - relative
                    - referencePrice
                    description: Performance values.
                    properties:
                      absolute:
                        type:
                        - number
                        - 'null'
                        format: real
                        description: Absolute difference of a notation's most recent EOD closing price against the EOD closing price on the reference date.
                      relative:
                        type:
                        - number
                        - 'null'
                        format: relativeValue
                        description: Difference of a notation's most recent EOD closing price against the EOD closing price on the reference date, relative to the EOD closing price on the reference date.
                      referencePrice:
                        type:
                        - number
                        - 'null'
                        format: real
                        description: EOD closing price as of the reference date (see attribute `referenceDate`) used for calculation.
                  high:
                    type: object
                    x-property-sort:
                    - price
                    - date
                    description: Maximum value of the notation's price in the given time range.
                    properties:
                      price:
                        type:
                        - number
                        - 'null'
                        format: real
                        description: Maximum value.
                      date:
                        type:
                        - string
                        - 'null'
                        format: date
                        description: Date of the maximum value.
                  low:
                    type: object
                    x-property-sort:
                    - price
                    - date
                    description: Minimum value of the notation's price in the given time range.
                    properties:
                      price:
                        type:
                        - number
                        - 'null'
                        format: real
                        description: Minimum value.
                      date:
                        type:
                        - string
                        - 'null'
                        format: date
                        description: Date of the minimum value.
                  tradingVolume:
                    type:
                    - number
                    - 'null'
                    format: real
                    description: Sum of the trading volume of a notation in number of shares for the time-range between the date of the most recent end-of-day (EOD) closing price (inclusive) and the reference date (exclusive).
                  volatility:
                    type:
                    - number
                    - 'null'
                    format: real
                    description: Volatility of the daily logarithmic returns, annualized assuming 256 trading days per year.
                x-property-sort:
                - idNotation
                - sourceIdentifier
                - referenceDate
                - performance
                - high
                - low
                - tradingVolume
                - volatility
                description: EOD key figures.
              meta:
                type: object
                description: The meta member contains the meta information of the response.
                properties:
                  status:
                    $ref: '#/components/schemas/StatusObject'
                x-property-sort:
                - status
            x-property-sort:
            - data
            - meta
    GetNotationKeyFiguresYear3List200Response:
      description: Successful Response
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: array
                description: EOD key figures for a list of notations.
                items:
                  type: object
                  x-property-sort:
                  - idNotation
                  - sourceIdentifier
                  - referenceDate
                  - performance
                  - high
                  - low
                  - tradingVolume
                  - volatility
                  - status
                  properties:
                    idNotation:
                      type:
                      - string
                      - 'null'
                      format: id64
                      x-positive: true
                      description: MDG identifier of the listing.
                    sourceIdentifier:
                      type:
                      - string
                      - 'null'
                      description: Identifier used in the request.
                    referenceDate:
                      type:
                      - string
                      - 'null'
                      format: date
                      description: Reference date of the time range.
                    performance:
                      type: object
                      x-property-sort:
                      - absolute
                      - relative
                      - referencePrice
                      description: Performance values.
                      properties:
                        absolute:
                          type:
                          - number
                          - 'null'
                          format: real
                          description: Absolute difference of a notation's most recent EOD closing price against the EOD closing price on the reference date.
                        relative:
                          type:
                          - number
                          - 'null'
                          format: relativeValue
                          description: Difference of a notation's most recent EOD closing price against the EOD closing price on the reference date, relative to the EOD closing price on the reference date.
                        referencePrice:
                          type:
                          - number
                          - 'null'
[...]
