openapi: 3.2.0
info:
  title: Factset Analytics Datastore About Screener API
  description: Allow clients to fetch precalculated Analytics through predeterministic URLs.
  contact:
    name: FactSet Research Systems
    url: https://developer.factset.com/contact
    email: api@factset.com
  license:
    name: Apache License, Version 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  version: 1.0.0
servers:
- url: https://api.factset.com
  description: Production
- url: https://api-sandbox.factset.com
  description: Sandbox
security:
- basicAuth: []
tags:
- name: Screener
paths:
  /debtInstrument/notation/screener/search:
    post:
      tags:
      - Screener
      operationId: post/debtInstrument/notation/screener/search
      x-supportsOffsetBasedPaging: true
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Factset Screener for Debt Instruments' Notations Based on Debt Instrument-specific Parameters.
      description: Screener for debt instruments' notations based on debt instrument-specific parameters. The result is limited to the notations that satisfy all the selected filters. If more than one notation of an instrument matches the parameters, and no market priority has been specified, only the notation with the highest trading volume, averaged over one month, is considered.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostDebtInstrumentNotationScreenerSearchRequest'
      responses:
        '200':
          $ref: '#/components/responses/PostDebtInstrumentNotationScreenerSearch200Response'
      parameters: []
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /debtInstrument/notation/screener/valueRanges/get:
    post:
      tags:
      - Screener
      operationId: post/debtInstrument/notation/screener/valueRanges/get
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Factset Possible Values and Value Ranges for the Parameters Used in the Endpoint `/debtinstrument/notation/screener/search.`
      description: The endpoint returns the possible values and value ranges for the parameters used in the endpoint `/debtInstrument/notation/screener/search`. It allows to request the values and value ranges only for a restricted set of notations that match predefined parameters. The functionality may be used to pre-fill the values and value ranges of the parameters of the `/debtInstrument/notation/screener/search` endpoint so that performing a search always leads to a non-empty set of notations. If more than one notation of an instrument matches the parameters, and no market priority has been specified, only the notation with the highest trading volume, averaged over one month, is considered.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostDebtInstrumentNotationScreenerValueRangesGetRequest'
      responses:
        '200':
          $ref: '#/components/responses/PostDebtInstrumentNotationScreenerValueRangesGet200Response'
      parameters: []
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /securitizedDerivative/notation/screener/valueRanges/get:
    post:
      tags:
      - Screener
      operationId: post/securitizedDerivative/notation/screener/valueRanges/get
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Factset Possible Values and Value Ranges for the Parameters Used in the Endpoint `/securitizedderivative/notation/screener/search`.
      description: "The endpoint returns the possible values and value ranges for the parameters used in the endpoint `/securitizedDerivatives/notation/screener/search`. It allows to request the values and value ranges only for a restricted set of notations that match predefined parameters. If more than one notation of an instrument matches the parameters, and no market priority has been specified, only the notation with the highest trading volume, averaged over one month, is considered. The functionality may be used to pre-fill the values and value ranges of the parameters of the `/securitizedDerivatives/notation/screener/search` endpoint so that performing a search always leads to a non-empty list of notations. Lists of distinct values, e.g. identifiers, are sorted descending by the number of notations for each value.\n\n Since some underlyings, e.g. an index or a performance difference of a stock and an index (alpha structure), do not represent a directly tradable asset, they do not have a price in the classical\nsense. Therefore, the term \"level\" is used instead of \"price\", e.g. underlying level instead of underlying price.\n\n The endpoint does not support possible values and value ranges for securitized derivatives with multiple underlyings, thus only securitized derivatives with a single underlying are considered.\n\n The possible values and value ranges can be restricted to a specific set of products by using customer-specific instrument or notation lists. Such restriction lists are set up by FactSet upon request."
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostSecuritizedDerivativeNotationScreenerValueRangesGetRequest'
      responses:
        '200':
          $ref: '#/components/responses/PostSecuritizedDerivativeNotationScreenerValueRangesGet200Response'
      parameters: []
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /securitizedDerivative/notation/screener/search:
    post:
      tags:
      - Screener
      operationId: post/securitizedDerivative/notation/screener/search
      x-supportsOffsetBasedPaging: true
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Factset Screener for Securitized Derivatives's Notations Based on Securitized Derivatives-specific Parameters.
      description: "Screener for securitized derivatives's notations based on securitized derivatives-specific parameters. The result is limited to the notations that satisfy all the selected filters. If more than one notation of an instrument matches the parameters, and no market priority has been specified, only the notation with the highest trading volume, averaged over one month, is considered. All identifiers used as parameters must be valid and entitled.\n\n Since some underlyings, e.g. an index or a performance difference of a stock and an index (alpha structure), do not represent a directly tradable asset, they do not have a price in the classical\nsense. Therefore, the term \"level\" is used instead of \"price\", e.g. underlying level instead of underlying price.\n\n The endpoint does not support the search for securitized derivatives with multiple underlyings, thus only securitized derivatives with a single underlying are returned in the result.\n\n The search can be restricted to a specific set of products by using customer-specific instrument or notation lists. Such restriction lists are set up by FactSet upon request."
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostSecuritizedDerivativeNotationScreenerSearchRequest'
      responses:
        '200':
          $ref: '#/components/responses/PostSecuritizedDerivativeNotationScreenerSearch200Response'
      parameters: []
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /stock/notation/screener/search:
    post:
      tags:
      - Screener
      operationId: post/stock/notation/screener/search
      x-supportsOffsetBasedPaging: true
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Screener for stocks' notations based on stock-specific parameters.
      description: 'Screener for stocks'' notations based on stock-specific parameters. The result is limited to the notations that satisfy all the selected filters. If more than one notation of an instrument matches the parameters, and no market priority has been specified, only the notation with the highest trading volume, averaged over one month, is considered.


        Currency dependent current figures on company level (see attribute `currentKeyFigures.company.currencyDependent`) or on share instrument level (see attribute `currentKeyFigures.shareInstrument.currencyDependent`) are only returned if the currency (see parameter `currentKeyFigures.company.currencyDependent.currency.isoCode` or parameter `currentKeyFigures.shareInstrument.currencyDependent.currency.isoCode` respectively) are set.


        Parameters for up to three fiscal years might be used in one request, see attribute `reportedKeyFigures`; data is available for the ten most recent completed fiscal years. Estimates are available for the current and two consecutive fiscal years; parameters for all three might be used in one request, see attribute `estimates`. The estimated values are calculated as the average of the most recent estimates provided by all analysts in a fixed time frame of 100 days. Screening and sorting by a currency-dependent attribute is not possible if the currency (see parameter `reportedKeyFigures.currencyDependentKeyFigures.currency.isoCode` and parameter `estimates.currencyDependentEstimates.currency.isoCode` respectively) is not set. If a fiscal year for the data as of the end of a fiscal year (see parameter `reportedKeyFigures.fiscalYear`) or for the estimates (see parameter `estimates.fiscalYear`) has been selected but no currency has been set, the respective data will be returned in the currency in which it was originally reported.


        A specific set of stocks can be restricted to or excluded by using customer-specific instrument or notation selection lists. Such selection lists are set up by FactSet upon request. All identifiers used as parameters must be valid and entitled.'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostStockNotationScreenerSearchRequest'
      responses:
        '200':
          $ref: '#/components/responses/PostStockNotationScreenerSearch200Response'
      parameters: []
  /stock/notation/screener/valueRanges/get:
    post:
      tags:
      - Screener
      operationId: post/stock/notation/screener/valueRanges/get
      x-supportsOffsetBasedPaging: false
      x-supportsOffsetBasedPagingWithoutTotal: false
      x-supportsCursorBasedPaging: false
      x-supportsCursorBasedPagingWithoutTotal: false
      x-supportsPush: false
      x-requiresUser: false
      x-requiresInternalClient: false
      x-disallowUser: false
      x-no-merge: false
      x-maxSortParameterCount: 10
      x-supportsPermissionDeniedResponse: false
      summary: Possible values and value ranges for the parameters used in the endpoint `/stock/notation/screener/search`.
      description: The endpoint returns the possible values and value ranges for the parameters used in the endpoint `/stock/notation/screener/search`. It allows to request the values and value ranges only for a restricted set of notations that match predefined parameters. The functionality may be used to pre-fill the values and value ranges of the parameters of the `/stock/notation/screener/search` endpoint so that performing a search always leads to a non-empty set of notations. If more than one notation of an instrument matches the parameters, and no market priority has been specified, only the notation with the highest trading volume, averaged over one month, is considered. For more information regarding the performance and volatility parameters, see the information available in the group description of the `/notation/keyFigures/` endpoints.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostStockNotationScreenerValueRangesGetRequest'
      responses:
        '200':
          $ref: '#/components/responses/PostStockNotationScreenerValueRangesGet200Response'
      parameters: []
components:
  schemas:
    StatusObject_2:
      type: object
      properties:
        code:
          type: number
          format: int32
          description: The HTTP status code of the response, mirroring the code from the Status-Line of the HTTP response message (see [RFC2616] section 6.1).
      description: The status member contains the status code of the response.
      required:
      - code
    PostSecuritizedDerivativeNotationScreenerValueRangesGetRequest:
      type: object
      properties:
        data:
          type: object
          x-property-sort:
          - validation
          - category
          - registrationCountry
          - lifeCycle
          - issuer
          - exercise
          - settlement
          - collateralized
          - quanto
          - capitalProtection
          - underlying
          - cashFlowCurrency
          - singleBarriers
          - rangeBarriers
          - factorCertificates
          - nominalCurrency
          - currentInterestRate
          - keyFigures
          - performance
          - volatility
          description: The data member contains the request's primary data.
          properties:
            validation:
              description: Validation parameters.
              type: object
              x-property-sort:
              - onlyActive
              - prices
              - valueUnit
              - market
              - instrumentRestrictionList
              - notationRestrictionList
              properties:
                onlyActive:
                  description: If `true`, only active notations will be returned. The term "active" reflects the fact that notations and related data is not being deleted immediately after becoming irrelevant (e.g. because the source does not provide a price anymore), but remains in general retrievable for up to 6 months.
                  type: boolean
                  default: true
                prices:
                  description: Price-related parameters.
                  type: object
                  x-property-sort:
                  - quality
                  - latest
                  - previous
                  properties:
                    quality:
                      type: string
                      description: Quality of the price.
                      default: DLY
                      x-enum-description:
                      - 'Delayed: intraday prices with an exchange-imposed delay of usually 15 to 30 minutes.'
                      - 'End-of-day: prices updated once per day after the close of trading, possibly with an exchange-imposed delay of several hours or days.'
                      enum:
                      - DLY
                      - EOD
                    latest:
                      description: Parameters related to the presence and age of the most recent trade price.
                      type: object
                      x-property-sort:
                      - availableOnly
                      - minimumDate
                      properties:
                        availableOnly:
                          description: If `true`, only notations for which a trade price (even an outdated one) is available will be returned.
                          type: boolean
                        minimumDate:
                          description: Earliest admissible date of the most recent trade price.
                          type: string
                          format: date
                    previous:
                      description: Parameters related to the presence and age of a trade price from a preceding trading day.
                      type: object
                      x-property-sort:
                      - availableOnly
                      - minimumDate
                      properties:
                        availableOnly:
                          description: If `true`, only notations for which a trade price from a preceding trading day is available will be returned.
                          type: boolean
                        minimumDate:
                          description: Earliest admissible date of the trade price from a preceding trading day.
                          type: string
                          format: date
                valueUnit:
                  description: Value unit-related parameters. See endpoint `/basic/valueUnit/list` for valid values.
                  type: object
                  x-property-sort:
                  - selection
                  properties:
                    selection:
                      description: Value unit selection.
                      type: object
                      x-property-sort:
                      - restrict
                      - exclude
                      x-atMostOne: true
                      properties:
                        restrict:
                          description: Specifies the value units a notation may have.
                          type: object
                          x-property-sort:
                          - ids
                          properties:
                            ids:
                              description: Set of value unit identifiers.
                              type: array
                              items:
                                type: number
                                format: id32
                                x-positive: true
                              uniqueItems: true
                              maxItems: 100
                        exclude:
                          description: Specifies the value units a notation may not have.
                          type: object
                          x-property-sort:
                          - ids
                          properties:
                            ids:
                              description: Set of value unit identifiers.
                              type: array
                              items:
                                type: number
                                format: id32
                                x-positive: true
                              uniqueItems: true
                              maxItems: 100
                market:
                  description: Market-related notation selection. See endpoint `/basic/market/list` for valid values.
                  type: object
                  x-property-sort:
                  - selection
                  - priority
                  properties:
                    selection:
                      description: Market selection.
                      type: object
                      x-property-sort:
                      - restrict
                      - exclude
                      x-atMostOne: true
                      properties:
                        restrict:
                          description: Specifies the markets from which a notation may originate.
                          type: object
                          x-property-sort:
                          - ids
                          properties:
                            ids:
                              description: Set of market identifiers.
                              type: array
                              items:
                                type: number
                                format: id32
                                x-positive: true
                              uniqueItems: true
                              maxItems: 100
                        exclude:
                          description: Specifies the markets from which a notation may not originate.
                          type: object
                          x-property-sort:
                          - ids
                          properties:
                            ids:
                              description: Set of market identifiers.
                              type: array
                              items:
                                type: number
                                format: id32
                                x-positive: true
                              uniqueItems: true
                              maxItems: 100
                    priority:
                      description: "Sequence of markets specifying the priority order of the markets for the selection of one notation per instrument. If for a given instrument with two matching notations, A and B, the market of notation A precedes the market of notation B in this list or if the market of notation B is not in this list, A is selected. If neither of the markets is in this list, the notation with the highest trading volume, averaged over one month, is selected.        \n The list does not restrict the request to only those markets (use the parameter `market.selection` for that purpose)."
                      type: object
                      x-property-sort:
                      - ids
                      properties:
                        ids:
                          description: List of market identifiers.
                          type: array
                          items:
                            type: number
                            format: id32
                            x-positive: true
                          uniqueItems: true
                          maxItems: 100
                instrumentRestrictionList:
                  description: Instrument-level restriction. If present, the result contains only securitized derivatives that are a member of at least one of the provided lists.
                  type: object
                  x-property-sort:
                  - ids
                  properties:
                    ids:
                      description: List of identifieres of restriction lists.
                      type: array
                      items:
                        type: number
                        format: id32
                        x-positive: true
                      uniqueItems: true
                      maxItems: 3
                notationRestrictionList:
                  description: Notation-level restriction. If present, the result contains only securitized derivatives that are a member of at least one of the provided lists.
                  type: object
                  x-property-sort:
                  - ids
                  properties:
                    ids:
                      description: List of identifieres of restriction lists.
                      type: array
                      items:
                        type: number
                        format: id32
                        x-positive: true
                      uniqueItems: true
                      maxItems: 3
            category:
              description: Only securitized derivatives that belong to at least one category in the provided list will  be returned.
              type: object
              x-property-sort:
              - ids
              properties:
                ids:
                  description: List of category identifiers. See endpoint `/category/listBySystem` for category systems 18 and 23 for valid values.
                  type: array
                  items:
                    type: number
                    format: id32
                    x-positive: true
                  uniqueItems: true
                  maxItems: 20
            registrationCountry:
              description: Only securitized derivatives registered for trading in a country in the provided list are returned.
              type: object
              x-property-sort:
              - ids
              properties:
                ids:
                  description: List of country identifiers. See endpoint `/basic/region/country/list` for valid values.
                  type: array
                  items:
                    type: number
                    format: id32
                    x-positive: true
                  uniqueItems: true
                  maxItems: 20
            lifeCycle:
              description: Parameters related to important dates.
              type: object
              x-property-sort:
              - issue
              - maturity
              - callable
              - valuation
              - repayment
              properties:
                issue:
                  type: object
                  format: dateRange
                  x-isClosedInterval: true
                  properties:
                    start:
                      type: string
                      format: date
                      description: The starting point of the date range (inclusive), or `null` to indicate that the date range extends indefinitely into the past.
                      x-allowNullValue: true
                    end:
                      type: string
                      format: date
                      description: The ending point of the date range (inclusive), or `null` to indicate that the date range extends indefinitely into the future.
                      x-allowNullValue: true
                  x-property-sort:
                  - start
                  - end
                  required:
                  - start
                  - end
                  description: Date range of the issue date.
                maturity:
                  description: Parameters related to the maturity.
                  type: object
                  x-property-sort:
                  - restriction
                  - perpetual
                  properties:
                    restriction:
                      description: The maturity can be restricted by using one of the parameters `date` or `remainingTermDays` but not both at the same time. If a maturity restriction is set, perpetual instruments, i.e. such that do not mature, are not included in the result unless the parameter `perpetual` is set to `include`.
                      type: object
                      x-property-sort:
                      - date
                      - remainingTermDays
                      x-atMostOne: true
                      properties:
                        date:
                          type: object
                          format: dateRange
                          x-isClosedInterval: true
                          properties:
                            start:
                              type: string
                              format: date
                              description: The starting point of the date range (inclusive), or `null` to indicate that the date range extends indefinitely into the past.
                              x-allowNullValue: true
                            end:
                              type: string
                              format: date
                              description: The ending point of the date range (inclusive), or `null` to indicate that the date range extends indefinitely into the future.
                              x-allowNullValue: true
                          x-property-sort:
                          - start
                          - end
                          required:
                          - start
                          - end
                          description: Date range of the maturity date.
                        remainingTermDays:
                          description: Value range for the remaining term to maturity expressed in days.
                          type: object
                          format: realRange
                          properties:
                            minimum:
                              type: object
                              x-property-sort:
                              - value
                              - inclusive
                              description: The minimum of the range, or `null` to indicate that there is no minimum.
                              properties:
                                value:
                                  type: number
                                  format: real
                                  description: The minimum value.
                                inclusive:
                                  type: boolean
                                  description: Indicates whether the minimum value is included in the range or not.
                                  default: true
                              x-allowNullValue: true
                            maximum:
                              type: object
                              x-property-sort:
                              - value
                              - inclusive
                              description: The maximum of the range, or `null` to indicate that there is no maximum.
                              properties:
                                value:
                                  type: number
                                  format: real
                                  description: The maximum value.
                                inclusive:
                                  type: boolean
                                  description: Indicates whether the maximum value is included in the range or not.
                                  default: true
                              x-allowNullValue: true
                          x-property-sort:
                          - minimum
                          - maximum
                    perpetual:
                      type: string
                      description: Defines whether or not perpetual securitized derivatives, i.e. such that do not mature, are included in the result. The value `only` can be used if both parameters `maturity.restriction.date` and `maturity.restriction.remainingTermDays` are not set.
                      x-enum-description:
                      - Only perpetual securitized derivatives are included in the result.
                      - Perpetual securitized derivatives are included in the result even if one of the parameters `maturity.restriction.date` or `maturity.restriction.remainingTermDays` is set.
                      - Perpetual securitized derivatives are excluded from the result.
                      enum:
                      - only
                      - include
                      - exclude
                callable:
                  type: boolean
                  description: Restricts the result to securitized derivatives that are callable (`true`) or are not callable (`false`). A callable instrument is one that may be redeemed by the issuer prior to maturity.
                valuation:
                  description: Date range of the valuation date.
                  type: object
                  format: dateRange
                  x-isClosedInterval: true
                  properties:
                    start:
                      type: string
                      format: date
                      description: The starting point of the date range (inclusive), or `null` to indicate that the date range extends indefinitely into the past.
                      x-allowNullValue: true
                    end:
                      type: string
                      format: date
                      description: The ending point of the date range (inclusive), or `null` to indicate that the date range extends indefinitely into the future.
                      x-allowNullValue: true
                  x-property-sort:
                  - start
                  - end
                  required:
                  - start
                  - end
                repayment:
                  description: Date range of the repayment date.
                  type: object
                  format: dateRange
                  x-isClosedInterval: true
                  properties:
                    start:
                      type: string
                      format: date
                      description: The starting point of the date range (inclusive), or `null` to indicate that the date range extends indefinitely into the past.
                      x-allowNullValue: true
                    end:
                      type: string
                      format: date
                      description: The ending point of the date range (inclusive), or `null` to indicate that the date range extends indefinitely into the future.
                      x-allowNullValue: true
                  x-property-sort:
                  - start
                  - end
                  required:
                  - start
                  - end
            issuer:
              description: Parameters related to the issuer.
              type: object
              x-property-sort:
              - ids
              properties:
                ids:
                  description: List of identifiers of legal entities in the role of an issuer, including issuer groups. FactSet defines issuer groups to facilitate searching; they do not represent actual juristic persons. See endpoint `/securitizedDerivative/issuer/search` for valid values.
                  type: array
                  items:
                    type: number
                    format: id32
                    x-positive: true
                  uniqueItems: true
                  maxItems: 20
            exercise:
              description: Parameters related to the exercise.
              type: object
              x-property-sort:
              - right
              - style
              properties:
                right:
                  type: string
                  description: Code of the exercise right.
                  x-enum-description:
                  - A put option gives buyer the right, but not the obligation, to sell an asset at a specified price within a specific time period. Put is synonymous to short or bear and is used in a broader sense for products that make profits from falling underlying levels.
                  - A call option gives buyer the right, but not the obligation, to buy an asset at a specified price within a specific time period. Call is synonymous to long or bull and is used in a broader sense for products that make profits from rising underlying levels.
                  enum:
                  - put
                  - call
                style:
                  type: string
                  description: Code of the exercise style.
                  x-enum-description:
                  - An American-style securitized derivative can be exercised anytime during its life.
                  - An European-style securitized derivative can be exercised at maturity only.
                  - A Bermudan-style securitized derivative can be exercised only on predetermined dates.
                  enum:
                  - american
                  - european
                  - bermudan
            settlement:
              type: string
              description: Settlement of the securitized derivative. It concerns the fulfillment of the issuer's contractual obligations arising from the securitized derivative. Depending on the terms, the underlying asset may be delivered physically or its equivalent monetary value may be payed out.
              x-enum-description:
              - Transfer of a cash amount
              - Phyiscal delivery of the underlying asset.
              - Cash or physical, at the discretion of the issuer.
              enum:
              - cash
              - physical
              - either
            collateralized:
              type: boolean
              description: Restricts the result to securitized derivatives that are collateralized (`true`) or are  not collateralized (`false`). A collateralized securitized derivative is protected against an  issuer default by collateral.
            quanto:
              type: boolean
              description: Restricts the result to securitized derivatives that are hedged (`true`) or are not hedged (`false`) against fluctuations of the foreign exchange rate between the value unit of the underlying and the value unit of the cash flows.
            capitalProtection:
              type: object
              format: relativeValueRange
              properties:
                minimum:
                  type: object
                  x-property-sort:
                  - value
                  - inclusive
                  description: The minimum of the range, or `null` to indicate that there is no minimum.
                  properties:
                    value:
                      type: number
                      format: relativeValue
                      description: The minimum value.
                    inclusive:
                      type: boolean
                      description: Indicates whether the minimum value is included in the range or not.
                      default: true
                  required:
                  - value
                  x-allowNullValue: true
                maximum:
                  type: object
                  x-property-sort:
                  - value
                  - inclusive
                  description: The maximum of the range, or `null` to indicate that there is no maximum.
                  properties:
                    value:
                      type: number
                      format: relativeValue
                      description: The maximum value.
                    inclusive:
                      type: boolean
                      description: Indicates whether the maximum value is included in the range or not.
                      default: true
                  required:
                  - value
                  x-allowNullValue: true
              x-property-sort:
              - minimum
              - maximum
              description: Value range of the proportion of the nominal amount protected against loss.
            underlying:
              description: "Underlying selection. A list of underlyings can be selected by either using their instrument identifiers, see parameter `underlying.instrument.ids` or by using their notation identifiers, see parameter `underlying.notation.ids` but not both at the same time. Only one of the provided identifiers needs to be matched in order for a securitized derivative to be returned in the result.\n\n The list of underlyings is particularly useful to search for securitized derivatives that have very similar but not exactly the same underlyings such as futures with different maturities\non a given commodity, e.g. brent crude oil. For such a list of underlyings, a barrier restriction in absolute terms, see for example parameter `singleBarriers.level.absolute` or `rangeBarriers.upper.level.absolute`, will provide a meaningful result, whereas for a list of non-similar underlyings, such as different stocks, a barrier restriction in absolute terms will not provide a meaningful result. This is due to the fact that futures on the same commodity are comparable in regards to their prices while two different stocks are not comparable.\n\n Parameters in relative terms, see for example parameter `singleBarriers.distance.relative`, are generally comparable and will provide meaningful result for a list of similar as well as\nfor a list of non-similar underlyings.\n\n For the selection of the effective underling of factor certificates, use `factorCertificates.effectiveUnderlying.instrument.ids`."
              type: object
              x-property-sort:
              - instrument
              - notation
              x-atMostOne: true
              properties:
                instrument:
                  description: Underlying selection using instrument identifiers.
                  type: object
                  x-property-sort:
                  - ids
                  properties:
                    ids:
                      description: List of instrument identifiers.
                      type: array
                      items:
                        type: string
                        format: id64
                        x-positive: true
                      uniqueItems: true
                      maxItems: 100
                notation:
                  description: Underlying selection using notation identifiers.
                  type: object
                  x-property-sort:
                  - ids
                  properties:
                    ids:
                      description: List of notation identifiers.
                      type: array
                      items:
                        type: string
                        format: id64
                        x-positive: true
                      uniqueItems: true
                      maxItems: 100
            cashFlowCurrency:
              description: Main currency of the cash flows. A cash flow is a payout dependent on whether or not the underlying level, e.g. a stock's price, will reach a given threshold, called barrier, at a given time.
              type: object
              x-property-sort:
              - id
              properties:
                id:
                  description: Identifier of the currency. See endpoint `/basic/valueUnit/currency/main/list` for valid values.
                  type: number
                  format: id32
                  x-positive: true
            singleBarriers:
              type: array
              items:
                type: object
                x-property-sort:
                - type
                - observation
                - level
                - distance
                - breach
                - cashFlow
                properties:
                  type:
                    description: The type of the barrier. See endpoint `/securitizedDerivative/barrier/type/list` for additional information. Note that not all barrier types listed in the mentioned endpoint can be used as a parameter.
                    type: string
                    x-enum-description:
                    - Represents the underlying level that needs to be reached in order for the securitized derivative to yield a profit; particularly relevant for reverse convertible bonds, sprint/outperformance certificates, capital-protection certificates, warrants and knock-out certificates.
                    - Represents the underlying level considered for repayment if the knock-in barrier is intact; particularly relevant for bonus certificates.
                    - Represents the maximum underlying level considered for repayment; particularly relevant for discount certificates, bonus certificates, and capital-protection certificates.
                    - Represents the underlying level where a securitized derivative is terminated and becomes (nearly) worthless; particularly relevant for knock-out certificates.
                    - Represents the underling level at which a certain product feature (such as a bonus payment) is lost; particularly relevant for bonus certificates but also for securitized derivatives that might have additional protection such as reverse convertible bonds, discount certificates, and capital-protection certificates.
                    - Represents the underlying level at which the securitized derivative is terminated yielding a predefined amount; particularly relevant for capital-protection certificates and express certificates but currently not supported for the latter.
                    - Represents the underlying level at which a certain repayment at maturity is ensured; particularly relevant for capital-protection certificates and express certificates but currently not supported for the latter.
                    - Represents the underlying level corresponding to a guranteed repayment; particularly relevant for capital-protection certificates.
                    - Represents the underlying level at which a partial payment (such as a conditional coupon) is lost; particularly relevant for capital-protection certificates and express certificates but currently not supported for the latter.
                    enum:
                    - strike
                    - bonusLevel
                    - cap
                    - knockOut
                    - knockIn
                    - lockOut
                    - lockIn
                    - capitalGuarantee
                    - couponTriggerLevel
                  observation:
                    type: object
                    x-property-sort:
                    - type
                    description: 'Barrier observation modality; applicable to the following barrier types: `knockIn`, `knockOut`, `lockIn`, and `lockOut`.'
                    properties:
                      type:
                        type: string
                        description: Type of the barrier observation.
                        x-enum-description:
                        - The barrier is observed on a continuous basis (intraday prices are relevant).
                        - The barrier is observed only at the end of the final auction for the underlying on the relevant exchange (intraday prices are of no relevance).
                        enum:
                        - continuous
                        - eod
                  level:
                    type: object
                    x-property-sort:
                    - absolute
                    description: Barrier level.
                    properties:
                      absolute:
                        type: object
                        format: realRange
                        properties:
                          minimum:
                            type: object
                            x-property-sort:
                            - value
                            - inclusive
                            description: The minimum of the range, or `null` to indicate that there is no minimum.
                            properties:
                              value:
                                type: number
                                format: real
                                description: The minimum value.
                              inclusive:
                                type: boolean
                                description: Indicates whether the minimum value is included in the range or not.
                                default: true
                            required:
                            - value
                            x-allowNullValue: true
                          maximum:
                            type: object
                            x-property-sort:
                            - value
                            - inclusive
                            description: The maximum of the range, or `null` to indicate that there is no maximum.
                            properties:
                              value:
                                type: number
                                format: real
                                description: The maximum value.
                              inclusive:
                                type: boolean
                                description: Indicates whether the maximum value is included in the range or not.
                                default: true
                            required:
                            - value
                            x-allowNullValue: true
                        x-property-sort:
                        - minimum
                        - maximum
                        description: Value range of the absolute barrier level.
                  distance:
                    type: object
                    x-property-sort:
                    - absolute
                    - relative
                    description: Distance of the current underlying level to the barrier level.
                    properties:
                      absolute:
                        type: object
                        format: realRange
                        properties:
                          minimum:
                            type: object
                            x-property-sort:
                            - value
                            - inclusive
                            description: The minimum of the range, or `null` to indicate that there is no minimum.
                            properties:
                              value:
                                type: number
                                format: real
                                description: The minimum value.
                              inclusive:
                                type: boolean
                                description: Indicates whether the minimum value is included in the range or not.
                                default: true
                            required:
                            - value
                            x-allowNullValue: true
                          maximum:
                            type: object
                            x-property-sort:
                            - value
                            - inclusive
                            description: The maximum of the range, or `null` to indicate that there is no maximum.
                            properties:
                              value:
                                type: number
                                format: real
                                description: The maximum value.
                              inclusive:
                                type: boolean
                                description: Indicates whether the maximum value is included in the range or not.
                                default: true
                            required:
                            - value
                            x-allowNullValue: true
                        x-property-sort:
                        - minimum
                        - maximum
                        description: Value range of the absolute distance.
                      relative:
                        type: object
                        format: relativeValueRange
                        properties:
                          minimum:
                            type: object
                            x-property-sort:
                            - value
                            - inclusive
                            description: The minimum of the range, or `null` to indicate that there is no minimum.
                            properties:
                              value:
                                type: number
                                format: relativeValue
                                description: The minimum value.
                              inclusive:
                                type: boolean
                                description: Indicates whether the minimum value is included in the range or not.
                                default: true
                            required:
                            - value
                            x-allowNullValue: true
                          maximum:
                            type: object
                            x-property-sort:
                            - value
                            - inclusive
                            description: The maximum of the range, or `null` to indicate that there is no maximum.
                            properties:
                              value:
                                type: number
                                format: relativeValue
                                description: The maximum value.
                              inclusive:
                                type: boolean
                                description: Indicates whether the maximum value is included in the range or not.
                                default: true
                            required:
                            - value
                            x-allowNullValue: true
                        x-property-sort:
                        - minimum
                        - maximum
                        description: Value range of the distance in relative terms.
                  breach:
                    description: 'Parameters related to a barrier breach; applicable to the following barrier types: `knockIn` and `knockOut`'
                    type: object
                    x-property-sort:
                    - breached
                    properties:
                      breached:
                        type: string
                        description: Defines whether or not securitized derivatives for which the barrier has been breached are included in the result.
                        default: exclude
                        x-enum-description:
                        - The result is not limited with regard to whether the barrier has been breached or not.
                        - The result is limited to securitized derivatives for which the barrier has been breached.
                        - The result is limited to securitized derivatives for which the barrier has not been breached.
                        enum:
                        - all
                        - only
                        - exclude
                  cashFlow:
                    type: object
                    format: realRange
                    properties:
                      minimum:
                        type: object
                        x-property-sort:
                        - value
                        - inclusive
                        description: The minimum of the range, or `null` to indicate that there is no minimum.
                        properties:
                          value:
                            type: number
                            format: real
                            description: The minimum value.
                          inclusive:
                            type: boolean
                            description: Indicates whether the minimum value is included in the range or not.
                            default: true
                        required:
                        - value
                        x-allowNullValue: true
                      maximum:
                        type: object
                        x-property-sort:
                        - value
                        - inclusive
                        description: The maximum of the range, or `null` to indicate that there is no maximum.
                        properties:
                          value:
                            type: number
                            format: real
                            description: The maximum value.
                          inclusive:
                            type: boolean
                            description: Indicates whether the maximum value is included in the range or not.
                            default: true
                        required:
                        - value
                        x-allowNullValue: true
                    x-property-sort:
                    - minimum
                    - maximum
                    description: 'Value range of the cash flow related to the barrier; applicable to the following barrier types: `cap`, `knockIn`, `lockOut`, `lockIn`, `capitalGuarantee`, and `couponTriggerLevel`.'
              description: Single barriers. Barriers of this kind represent either a lower or an upper bound derived from the exercise right of the securitized derivative. Multiple barrier types may be used in one request.
            rangeBarriers:
              type: array
              items:
                type: object
                x-property-sort:
                - type
                - observation
                - upper
                - lower
                - breach
                - cashFlow
                properties:
                  type:
                    description: The type of the barrier. See endpoint `/securitizedDerivative/barrier/type/list` for additional information. Note that not all barrier types listed in the mentioned endpoint can be used as a parameter.
                    type: string
                    x-enum-description:
                    - Represents the upper and lower bound of the underlying level where a securitized derivative is terminated and becomes (nearly) worthless; particularly relevant for range knock-out certificates such as inline certificates.
                    enum:
                    - rangeKnockOut
                  observation:
                    type: object
                    x-property-sort:
                    - type
                    description: Barrier observation modality.
                    properties:
                      type:
                        type: string
                        description: Type of the barrier observation.
                        x-enum-description:
                        - The barrier is observed on a continuous basis (intraday prices are relevant).
                        - The barrier is observed only at the end of the final auction for the underlying on the relevant exchange (intraday prices are of no relevance).
                        enum:
                        - continuous
                        - eod
                  upper:
                    type: object
                    x-property-sort:
                    - level
                    description: Parameters related to the upper bound.
                    properties:
                      level:
                        type: object
                        x-property-sort:
                        - absolute
                        description: Barrier level.
                        properties:
                          absolute:
                            type: object
                            format: realRange
                            properties:
                              minimum:
                                type: object
                                x-property-sort:
                                - value
                                - inclusive
                                description: The minimum of the range, or `null` to indicate that there is no minimum.
                                properties:
                                  value:
                                    type: number
                                    format: real
                                    description: The minimum value.
                                  inclusive:
                                    type: boolean
                                    description: Indicates whether the minimum value is included in the range or not.
                                    default: true
                                required:
                                - value
                                x-allowNullValue: true
                              maximum:
                                type: object
                                x-property-sort:
                                - value
                                - inclusive
                                description: The maximum of the range, or `null` to indicate that there is no maximum.
                                properties:
                                  value:
                                    type: number
                                    format: real
                                    description: The maximum value.
                                  inclusive:
                                    type: boolean
                                    description: Indicates whether the maximum value is included in the range or not.
                                    default: true
                                required:
                                - value
                                x-allowNullValue: true
                            x-property-sort:
                            - minimum
                            - maximum
                            description: Value range of the absolute barrier level.
                  lower:
                    type: object
                    x-property-sort:
                    - level
                    description: Parameters related to the lower bound.
                    properties:
                      level:
                        type: object
                        x-property-sort:
                        - absolute
                        description: Barrier level.
                        properties:
                          absolute:
                            type: object
                            format: realRange
                            properties:
                              minimum:
                                type: object
                                x-property-sort:
                                - value
                                - inclusive
                                description: The minimum of the range, or `null` to indicate that there is no minimum.
                                properties:
                                  value:
                                    type: number
                                    format: real
                                    description: The minimum value.
                                  inclusive:
                                    type: boolean
                                    description: Indicates whether the minimum value is included in the range or not.
                                    default: true
                                required:
                                - value
                                x-allowNullValue: true
                              maximum:
                                type: object
                                x-property-sort:
                                - value
                                - inclusive
                                description: The maximum of the range, or `null` to indicate that there is no maximum.
                                properties:
                                  value:
                                    type: number
                                    format: real
                                    description: The maximum value.
                                  inclusive:
                                    type: boolean
                                    description: Indicates whether the maximum value is included in the range or not.
                                    default: true
                                required:
                                - value
                                x-allowNullValue: true
                            x-property-sort:
                            - minimum
                            - maximum
                            description: Value range of the absolute barrier level.
                  breach:
                    description: 'Parameters related to a barrier breach; applicable to the following barrier types: `knockIn` and `knockOut`'
                    type: object
                    x-property-sort:
                    - breached
                    properties:
                      breached:
                        type: string
                        description: Defines whether or not securitized derivatives for which the barrier has been breached are included in the result.
                        default: exclude
                        x-enum-description:
                        - The result is not limited with regard to whether the barrier has been breached or not.
                        - The result is limited to securitized derivatives for which the barrier has been breached.
                        - The result is limited to securitized derivatives for which the barrier has not been breached.
                        enum:
                        - all
                        - only
                        - exclude
                  cashFlow:
                    type: object
                    format: realRange
                    properties:
                      minimum:
                        type: object
                        x-property-sort:
                        - value
                        - inclusive
                        description: The minimum of the range, or `null` to indicate that there is no minimum.
                        properties:
                          value:
                            type: number
                            format: real
                            description: The minimum value.
                          inclusive:
                            type: boolean
                            description: Indicates whether the minimum value is included in the range or not.
                            default: true
                        required:
                        - value
                        x-allowNullValue: true
                      maximum:
                        type: object
                        x-property-sort:
                        - value
                        - inclusive
                        description: The maximum of the range, or `null` to indicate that there is no maximum.
                        properties:
                          value:
                            type: number
                            format: real
                            description: The maximum value.
                          inclusive:
                            type: boolean
                            description: Indicates whether the maximum value is included in the range or not.
                            default: true
                        required:
                        - value
                        x-allowNullValue: true
                    x-property-sort:
                    - minimum
                    - maximum
                    description: 'Value range of the cash flow related to the barrier; applicable to the following barrier types: `cap`, `knockIn`, `lockOut`, `lockIn`, `capitalGuarantee`, and `couponTriggerLevel`.'
              description: Range barriers. Barriers of this kind represent a range with a lower and an upper bound.
            factorCertificates:
              type: object
              x-property-sort:
              - effectiveUnderlying
              - participation
              - constantLeverage
              description: Parameters for factor certificates.
              properties:
                effectiveUnderlying:
                  type: object
                  x-property-sort:
                  - instrument
                  description: Selection of the effective underlying. The underlying of a factor certificate is usually a factor index which is an artificial index used to calculate the leveraged daily performance of another financial instrument called its effective underlying.
                  properties:
                    instrument:
                      description: Selection of the effective underlying using instrument identifiers.
                      type: object
                      x-property-sort:
                      - ids
                      properties:
                        ids:
                          description: List of instrument identifiers.
                          type: array
                          items:
                            type: string
                            format: id64
                            x-positive: true
                          uniqueItems: true
                          maxItems: 100
                participation:
                  type: string
                  description: Participation direction of the factor certificate at the level movement of its effective underlying.
                  x-enum-description:
                  - The factor certificate participates positively with rising levels of its effective underlying.
                  - The factor certificate participates negatively with rising levels of its effective underlying.
                  enum:
                  - long
                  - short
                constantLeverage:
                  type: object
                  format: realRange
                  properties:
                    minimum:
                      type: object
                      x-property-sort:
                      - value
                      - inclusive
                      description: The minimum of the range, or `null` to indicate that there is no minimum.
                      properties:
                        value:
                          type: number
                          format: real
                          description: The minimum value.
                        inclusive:
                          type: boolean
                          description: Indicates whether the minimum value is included in the range or not.
                          default: true
                      required:
                      - value
                      x-allowNullValue: true
                    maximum:
                      type: object
                      x-property-sort:
                      - value
                      - inclusive
                      description: The maximum of the range, or `null` to indicate that there is no maximum.
                      properties:
                        value:
                          type: number
                          format: real
                          description: The maximum value.
                        inclusive:
                          type: boolean
                          description: Indicates whether the maximum value is included in the range or not.
                          default: true
                      required:
                      - value
                      x-allowNullValue: true
                  x-property-sort:
                  - minimum
                  - maximum
                  description: Value range of the constant leverage.
            nominalCurrency:
              type: object
              x-property-sort:
              - id
              description: Main currency of the nominal and of the coupon payments.
              properties:
                id:
                  type: number
                  format: id32
                  x-positive: true
                  description: Identifier of the currency. See endpoint `/basic/valueUnit/currency/main/list` for valid values.
            currentInterestRate:
              type: object
              x-property-sort:
              - type
              - value
              description: Parameters regarding the interest rate of the current coupon period.
              properties:
                type:
                  type: string
                  description: Type of the interest rate.
                  x-enum-description:
                  - The interest rate is fixed for all periods and remains unchanged throughout the lifetime of the securitized derivative.
                  - The interest rate is variable and might change from period to period throughout the lifetime of the securitized derivative.
                  enum:
                  - fixed
                  - variable
                value:
                  type: object
                  format: relativeValueRange
                  properties:
                    minimum:
                      type: object
                      x-property-sort:
                      - value
                      - inclusive
                      description: The minimum of the range, or `null` to indicate that there is no minimum.
                      properties:
                        value:
                          type: number
                          format: relativeValue
                          description: The minimum value.
                        inclusive:
                          type: boolean
                          description: Indicates whether the minimum value is included in the range or not.
                          default: true
                      required:
                      - value
                      x-allowNullValue: true
                    maximum:
                      type: object
                      x-property-sort:
                      - value
                      - inclusive
                      description: The maximum of the range, or `null` to indicate that there is no maximum.
                      properties:
                        value:
                          type: number
                          format: relativeValue
                          description: The maximum value.
                        inclusive:
                          type: boolean
                          description: Indicates whether the maximum value is included in the range or not.
                          default: true
                      required:
                      - value
                      x-allowNullValue: true
                  x-property-sort:
                  - minimum
                  - maximum
                  description: Value range for the interest rate of the current coupon period. For coupon periods different than one year, the value is annualized. Not available for securitized derivatives with a current interest rate type other than `fixed`.
            keyFigures:
              type: object
              x-property-sort:
              - bonusYield
              - sidewaysYield
              - maximumYield
              - agio
              - discount
              - breakEven
              - spread
              - delta
              - thetaOneWeek
              - vega
              - leverage
              - omega
              - impliedVolatility
              - intrinsicValue
              - timeValue
              - outperformancePoint
              - parity
              description: Key figures specific to securitized derivatives; based on ask prices.
              properties:
                bonusYield:
                  type: object
                  x-property-sort:
                  - absolute
                  - relative
                  - annualized
                  description: Bonus yield. It represents the bonus level adjusted for the cover ratio and currency cross rate minus the ask price of the securitized derivative. The value can become negative (e.g. for uncapped products), which does not mean that the investor will necessarily suffer a loss buying it. This key figure is calculated for bonus certificates with an intact knock-in barrier only. To restrict the result to bonus certificates with an intact knock in barrier, the parameter `singleBarriers.type` must be set to `knockIn` and the parameter `singleBarriers.breach.breached` must be set to `false`.
                  properties:
                    absolute:
                      type: object
                      format: realRange
                      properties:
                        minimum:
                          type: object
                          x-property-sort:
                          - value
                          - inclusive
                          description: The minimum of the range, or `null` to indicate that there is no minimum.
                          properties:
                            value:
                              type: number
                              format: real
                              description: The minimum value.
                            inclusive:
                              type: boolean
                              description: Indicates whether the minimum value is included in the range or not.
                              default: true
                          required:
                          - value
                          x-allowNullValue: true
                        maximum:
                          type: object
                          x-property-sort:
                          - value
                          - inclusive
                          description: The maximum of the range, or `null` to indicate that there is no maximum.
                          properties:
                            value:
                              type: number
                              format: real
                              description: The maximum value.
                            inclusive:
                              type: boolean
                              description: Indicates whether the maximum value is included in the range or not.
                              default: true
                          required:
                          - value
                          x-allowNullValue: true
                      x-property-sort:
                      - minimum
                      - maximum
                      description: Value range of the bonus yield in absolute terms.
                    relative:
                      type: object
                      format: relativeValueRange
                      properties:
                        minimum:
                          type: object
                          x-property-sort:
                          - value
                          - inclusive
                          description: The minimum of the range, or `null` to indicate that there is no minimum.
                          properties:
                            value:
                              type: number
                              format: relativeValue
                              description: The minimum value.
                            inclusive:
                              type: boolean
                              description: Indicates whether the minimum value is included in the range or not.
                              default: true
                          required:
                          - value
                          x-allowNullValue: true
                        maximum:
                          type: object
                          x-property-sort:
                          - value
                          - inclusive
                          description: The maximum of the range, or `null` to indicate that there is no maximum.
                          properties:
                            value:
                              type: number
                              format: relativeValue
                              description: The maximum value.
                            inclusive:
                              type: boolean
                              description: Indicates whether the maximum value is included in the range or not.
                              default: true
                          required:
                          - value
                          x-allowNullValue: true
                      x-property-sort:
                      - minimum
                      - maximum
                      description: Value range of the bonus yield relative to the ask price.
                    annualized:
                      type: object
                      format: relativeValueRange
                      properties:
                        minimum:
                          type: object
                          x-property-sort:
                          - value
                          - inclusive
                          description: The minimum of the range, or `null` to indicate that there is no minimum.
                          properties:
                            value:
                              type: number
                              format: relativeValue
                              description: The minimum value.
                            inclusive:
                              type: boolean
                              description: Indicates whether the minimum value is included in the range or not.
                              default: true
                          required:
                          - value
                          x-allowNullValue: true
                        maximum:
                          type: object
                          x-property-sort:
                          - value
                          - inclusive
                          description: The maximum of the range, or `null` to indicate that there is no maximum.
                          properties:
                            value:
                              type: number
                              format: relativeValue
                              description: The maximum value.
                            inclusive:
                              type: boolean
                              description: Indicates whether the maximum value is included in the range or not.
                              default: true
                          required:
                          - value
                          x-allowNullValue: true
                      x-property-sort:
                      - minimum
                      - maximum
                      description: Value range of the annualized bonus yield relative to the ask price.
                sidewaysYield:
                  type: object
                  x-property-sort:
                  - absolute
                  - relative
                  - annualized
                  description: Sideways yield. It represents a hypothetical payout at maturity minus the ask price of the securitized derivative, under the assumption that all payout-influencing factors remain unchanged until maturity.
                  properties:
                    absolute:
                      type: object
                      format: realRange
                      properties:
                        minimum:
                          type: object
                          x-property-sort:
                          - value
                          - inclusive
                          description: The minimum of the range, or `null` to indicate that there is no minimum.
                          properties:
                            value:
                              type: number
                              format: real
                              description: The minimum value.
                            inclusive:
                              type: boolean
                              description: Indicates whether the minimum value is included in the range or not.
                              default: true
                          required:
                          - value
                          x-allowNullValue: true
                        maximum:
                          type: object
                          x-property-sort:
                          - value
                          - inclusive
                          description: The maximum of the range, or `null` to indicate that there is no maximum.
                          properties:
                            value:
                              type: number
                              format: real
                              description: The maximum value.
                            inclusive:
                              type: boolean
                              description: Indicates whether the maximum value is included in the range or not.
                              default: true
                          required:
                          - value
                          x-allowNullValue: true
                      x-property-sort:
                      - minimum
                      - maximum
                      description: Value range of the sideways yield in absolute terms.
                    relative:
                      type: object
                      format: relativeValueRange
                      properties:
                        minimum:
                          type: object
                          x-property-sort:
                          - value
                          - inclusive
                          description: The minimum of the range, or `null` to indicate that there is no minimum.
                          properties:
                            value:
                              type: number
                              format: relativeValue
                              description: The minimum value.
                            inclusive:
                              type: boolean
                              description: Indicates whether the minimum value is included in the range or not.
                              default: true
                          required:
                          - value
                          x-allowNullValue: true
                        maximum:
                          type: object
                          x-property-sort:
                          - value
                          - inclusive
                          description: The maximum of the range, or `null` to indicate that there is no maximum.
                          properties:
                            value:
                              type: number
                              format: relativeValue
                              description: The maximum value.
                            inclusive:
                              type: boolean
                              description: Indicates whether the maximum value is included in the range or not.
                              default: true
                          required:
                          - value
                          x-allowNullValue: true
                      x-property-sort:
                      - minimum
                      - maximum
                      description: Value range of the sideways yield relative to the ask price.
                    annualized:
                      type: object
                      format: relativeValueRange
                      properties:
                        minimum:
                          type: object
                          x-property-sort:
                          - value
                          - inclusive
                          description: The minimum of the range, or `null` to indicate that there is no minimum.
                          properties:
                            value:
                              type: number
                              format: relativeValue
                              description: The minimum value.
                            inclusive:
                              type: boolean
                              description: Indicates whether the minimum value is included in the range or not.
                              default: true
                          required:
                          - value
                          x-allowNullValue: true
                        maximum:
                          type: object
                          x-property-sort:
                          - value
                          - inclusive
                          description: The maximum of the range, or `null` to indicate that there is no maximum.
                          properties:
                            value:
                              type: number
                              format: relativeValue
                              description: The maximum value.
                            inclusive:
                              type: boolean
                              description: Indicates whether the maximum value is included in the range or not.
                              default: true
                          required:
                          - value
                          x-allowNullValue: true
                      x-property-sort:
                      - minimum
                      - maximum
                      description: Value range of the annualized sideways yield relative to the ask price.
                maximumYield:
                  type: object
                  x-property-sort:
                  - absolute
                  - relative
                  - annualized
                  description: Maximum yield. It represents a hypothetical maximum payout at maturity minus the ask price of the derivative. This key figure represents a theoretically possible best-case scenario, disregarding the probability of occurrence. It is calculated only for securitized derivatives with a limited payout (e.g. capped products).
                  properties:
                    absolute:
                      type: object
                      format: realRange
                      properties:
                        minimum:
                          type: object
                          x-property-sort:
                          - value
                          - inclusive
                          description: The minimum of the range, or `null` to indicate that there is no minimum.
                          properties:
                            value:
                              type: number
                              format: real
                              description: The minimum value.
                            inclusive:
                              type: boolean
                              description: Indicates whether the minimum value is included in the range or not.
                              default: true
                          required:
                          - value
                          x-allowNullValue: true
                        maximum:
                          type: object
                          x-property-sort:
                          - value
                          - inclusive
                          description: The maximum of the range, or `null` to indicate that there is no maximum.
                          properties:
                            value:
                              type: number
                              format: real
                              description: The maximum value.
                            inclusive:
                              type: boolean
                              description: Indicates whether the maximum value is included in the range or not.
                              default: true
                          required:
                          - value
                          x-allowNullValue: true
                      x-property-sort:
                      - minimum
                      - maximum
                      description: Value range of the maximum yield in absolute terms.
                    relative:
                      type: object
                      format: relativeValueRange
                      properties:
                        minimum:
                          type: object
                          x-property-sort:
                          - value
                          - inclusive
                          description: The minimum of the range, or `null` to indicate that there is no minimum.
                          properties:
                            value:
                              type: number
                              format: relativeValue
                              description: The minimum value.
                            inclusive:
                              type: boolean
                              description: Indicates whether the minimum value is included in the range or not.
                              default: true
                          required:
                          - value
                          x-allowNullValue: true
                        maximum:
                          type: object
                          x-property-sort:
                          - value
                          - inclusive
                          description: The maximum of the range, or `null` to indicate that there is no maximum.
                          properties:
                            value:
                              type: number
                              format: relativeValue
                              description: The maximum value.
                            inclusive:
                              type: boolean
                              description: Indicates whether the maximum value is included in the range or not.
                              default: true
                          required:
                          - value
                          x-allowNullValue: true
                      x-property-sort:
                      - minimum
                      - maximum
                      description: Value range of the maximum yield relative to the ask price.
                    annualized:
                      type: object
                      format: relativeValueRange
                      properties:
                        minimum:
                          type: object
                          x-property-sort:
                          - value
                          - inclusive
                          description: The minimum of the range, or `null` to indicate that there is no minimum.
                          properties:
                            value:
                              type: number
                              format: relativeValue
                              description: The minimum value.
                            inclusive:
                              type: boolean
                              description: Indicates whether the minimum value is included in the range or not.
                              default: true
                          required:
                          - value
                          x-allowNullValue: true
                        maximum:
                          type: object
                          x-property-sort:
                          - value
                          - inclusive
                          description: The maximum of the range, or `null` to indicate that there is no maximum.
                          properties:
                            value:
                              type: number
                              format: relativeValue
                              description: The maximum value.
                            inclusive:
                              type: boolean
                              description: Indicates whether the maximum value is included in the range or not.
                              default: true
                          required:
                          - value
                          x-allowNullValue: true
                      x-property-sort:
                      - minimum
                      - maximum
                      description: Value range of the annualized maximum yield relative to the ask price.
                agio:
                  type: object
                  x-property-sort:
                  - absolute
                  - relative
                  - annualized
                  description: Agio. For plain vanilla warrants, it represents the difference between the ask price of the derivative and its parity (see attribute `parity`). Thus, for those with exercise right `call`, the agio indicates how much more expensive would it be to obtain the underlying through purchasing and exercising the warrant compared to directly purchasing the underlying. For those with exercise right `put`, the above consideration is applied inversely. For other types of securitized derivatives, the calculation and interpretation of the agio depends on their category. Negative values are possible.
                  properties:
                    absolute:
                      type: object
                      format: realRange
                      properties:
                        minimum:
                          type: object
                          x-property-sort:
                          - value
                          - inclusive
                          description: The minimum of the range, or `null` to indicate that there is no minimum.
                          properties:
                            value:
                              type: number
                              format: real
                              description: The minimum value.
                            inclusive:
                              type: boolean
                              description: Indicates whether the minimum value is included in the range or not.
                              default: true
                          required:
                          - value
                          x-allowNullValue: true
                        maximum:
                          type: object
                          x-property-sort:
                          - value
                          - inclusive
                          description: The maximum of the range, or `null` to indicate that there is no maximum.
                          properties:
                            value:
                              type: number
                              format: real
                              description: The maximum value.
                            inclusive:
                              type: boolean
                              description: Indicates whether the maximum value is included in the range or not.
                              default: true
                          required:
                          - value
                          x-allowNullValue: true
                      x-property-sort:
                      - minimum
                      - maximum
                      description: Value range of the agio in absolute terms.
                    relative:
                      type: object
                      format: relativeValueRange
                      properties:
[...]
