openapi: 3.2.0
info:
  title: Factset Analytics Datastore About Statistics API
  description: Allow clients to fetch precalculated Analytics through predeterministic URLs.
  contact:
    name: FactSet Research Systems
    url: https://developer.factset.com/contact
    email: api@factset.com
  license:
    name: Apache License, Version 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  version: 1.0.0
servers:
- url: https://api.factset.com
  description: Production
- url: https://api-sandbox.factset.com
  description: Sandbox
security:
- basicAuth: []
tags:
- name: Statistics
paths:
  /factset-people/v1/company-stats:
    get:
      summary: Factset Returns Statistics About Top Leadership of a Company.
      description: 'Returns the statistics such as the average age, tenure, compensation of leadership, number of executives, and the gender diversity of leadership. We can utilize the data for analyzing a company''s board and management.

        '
      tags:
      - Statistics
      operationId: getCompanyStats
      parameters:
      - $ref: '#/components/parameters/companyId'
      - $ref: '#/components/parameters/mbType'
      responses:
        '200':
          description: Array of Company Stats objects.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/companyStatsResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      summary: Factset Returns Statistics About Top Leadership of a Company.
      description: 'Returns the statistics such as the average age, tenure, compensation of leadership, number of executives, and the gender diversity of leadership. We can utilize the data for analyzing a company''s board and management. '
      tags:
      - Statistics
      operationId: getCompanyStatsForList
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/companyStatsRequest'
      responses:
        '200':
          description: Array of Company Positions objects.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/companyStatsResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '415':
          $ref: '#/components/responses/415'
        '500':
          $ref: '#/components/responses/500'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  parameters:
    companyId:
      name: ids
      description: 'The requested company identifier. FactSet Identifiers, tickers, CUSIP, SEDOL, and ISIN are accepted inputs. <p>***ids limit** =  1000 per request*</p>

        *<p>Make note, GET Method URL request lines are also limited to a total

        length of 8192 bytes (8KB). In cases where the service allows for thousands

        of ids, which may lead to exceeding this request line limit of 8KB, its

        advised for any requests with large request lines to be requested through

        the respective "POST" method.</p>*

        '
      in: query
      schema:
        type: array
        items:
          type: string
        minItems: 1
        maxItems: 1000
      required: true
      explode: false
      example:
      - AAPL-US
      - IBM-US
    mbType:
      name: mbType
      description: Search based on the management and board types. The types include - |type|description|||||MB|Management & Board||MGMT|Management||BRD|Board|
      in: query
      schema:
        type: string
        enum:
        - MB
        - MGMT
        - BRD
        default: MB
  schemas:
    companyIds:
      type: array
      items:
        type: string
      minItems: 1
      maxItems: 1000
      description: 'The requested company identifier. FactSet Identifiers, tickers, CUSIP, SEDOL, and ISIN are accepted inputs. <p>***ids limit** =  1000 per request*</p> *<p>Make note, GET Method URL request lines are also limited to a total length of 8192 bytes (8KB). In cases where the service allows for thousands of ids, which may lead to exceeding this request line limit of 8KB, its advised for any requests with large request lines to be requested through the respective "POST" method.</p>*

        '
      example:
      - AAPL-US
    companyStatsResponse:
      title: Company Stats Response
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/companyStats'
          example: []
    companyStatsRequest:
      title: Company Stats Request
      type: object
      properties:
        ids:
          $ref: '#/components/schemas/companyIds'
        mbType:
          $ref: '#/components/schemas/mbType'
      required:
      - ids
    mbType:
      description: Search based on the management and board types. The types include - |type|description|||||MB|Management & Board||MGMT|Management||BRD|Board|
      type: string
      enum:
      - MB
      - MGMT
      - BRD
      default: MB
    companyStats:
      title: Company Statistics
      type: object
      description: List of the statistics such as the average age, tenure, compensation of leadership, the number of executives, and the gender diversity of leadership for the requested identifier.
      properties:
        averageMgmtCompensation:
          description: Average compensation for the executives
          type:
          - number
          - 'null'
          format: integer
          example: 2267284
          x-fds-fql-formula: FPD_CO_MB_STATS(AVG_COMP)
        averageTenure:
          description: Avergae tenure of the people
          type:
          - number
          - 'null'
          format: double
          example: 12.19
          x-fds-fql-formula: FPD_CO_MB_STATS(AVG_TENURE)
        medianTenure:
          description: Median tenure
          type:
          - number
          - 'null'
          format: double
          example: 0.2
          x-fds-fql-formula: FPD_CO_MB_STATS(MIN_TENURE)
        averageAge:
          description: Average of the executives on the management and board
          type:
          - number
          - 'null'
          format: double
          example: 58.17
          x-fds-fql-formula: FPD_CO_MB_STATS(AVG_AGE)
        maxAge:
          description: Maximum age of the people on Management & Board
          type:
          - number
          - 'null'
          format: integer
          example: 68
          x-fds-fql-formula: FPD_CO_MB_STATS(MAX_AGE)
        minimumAge:
          description: Minimum age of the person on board
          type:
          - number
          - 'null'
          format: integer
          example: 53
          x-fds-fql-formula: FPD_CO_MB_STATS(MIN_AGE)
        medianAge:
          description: Median age of the people on board
          type:
          - number
          - 'null'
          example: 56
          x-fds-fql-formula: FPD_CO_MB_STATS(MED_AGE)
        boardIndependentDirectors:
          description: Independent directors on the board
          type:
          - number
          - 'null'
          format: integer
          example: 7
          x-fds-fql-formula: FPD_CO_MB_STATS(BRD,IND,NUM)
        femaleBoardMembers:
          description: Number of female members on the board
          type:
          - number
          - 'null'
          format: integer
          example: 3
          x-fds-fql-formula: FPD_CO_MB_STATS((BRD,FEMALE_BRD,NUM)
        femaleBoardMembersPercent:
          description: Percentage of female members on the board
          type:
          - number
          - 'null'
          format: double
          example: 37.33
          x-fds-fql-formula: FPD_CO_MB_STATS((BRD,FEMALE_BRD,PCT)
        numberOfMembers:
          description: Number of people on board.
          type:
          - number
          - 'null'
          format: integer
          example: 25
          x-fds-fql-formula: FPD_CO_MB_STATS(NUM_MEMBERS)
        onOtherBoardsAll:
          description: On Other Boards All
          type:
          - number
          - 'null'
          format: integer
          example: 7
          x-fds-fql-formula: FPD_CO_MB_STATS(BRD,OTH_BRD,NUM)
        onOtherBoardsCorporate:
          description: On Other Boards Corporate
          type:
          - number
          - 'null'
          format: integer
          example: 6
          x-fds-fql-formula: FPD_CO_MB_STATS(BRD,OTH_CORP_BRD,NUM)
        mbType:
          description: Management and Board type, where MB = Management & Board, MGMT = Management, and BRD = Board. This is a pass-through value from the input used in the `mbType` query parameter.
          type:
          - string
          - 'null'
          example: MB
        requestId:
          description: Original identifier used for the request.
          type: string
          example: FDS
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
externalDocs:
  url: https://developer.factset.com/api-catalog/analytics-datastore-api
  description: API Documentation
