openapi: 3.0.1
info:
  title: FactSet IRN Custom Symbols API
  description: |2-

    This API allows users to create, read, edit and delete IRN custom symbols
    as well as configure settings in the Internal Research Notes Symbol
    Manager application.
  version: '1'
servers:
- url: https://api.factset.com/research/irn
  description: Production Server
- url: https://api-sandbox.factset.com/research/irn
  description: Sandbox
paths:
  /v1/custom-symbols:
    get:
      tags:
      - Custom
      - Symbols
      summary: >-
        Factset Get List of All Custom Symbols in Your Group Along With Some of Their Standard Field and Custom Fields Data
      operationId: GetCustomSymbols
      parameters:
      - name: typeName
        in: query
        description: filter custom symbols based on custom symbol type
        schema:
          type: string
      - name: query
        in: query
        description: filter custom symbols based on custom symbol code or name
        schema:
          type: string
      - name: includeCustomFieldValues
        in: query
        description: Whether or not to include customFieldValues
        schema:
          type: boolean
          default: false
      - name: excludeLinkedCustomSymbol
        in: query
        description: Whether or not to exclude linked custom symbol
        schema:
          type: boolean
          default: false
      - name: includeEvent
        in: query
        description: Whether or not to include event
        schema:
          type: boolean
          default: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CustomSymbolDto'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: string
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      tags:
      - Custom
      - Symbols
      summary: Factset Create a Custom Symbol
      operationId: CreateCustomSymbol
      requestBody:
        description: createCustomSymbolDto object to save
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/CreateCustomSymbolDto'
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCustomSymbolDto'
          text/json:
            schema:
              $ref: '#/components/schemas/CreateCustomSymbolDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/CreateCustomSymbolDto'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewItemDto'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v1/custom-symbols/{customSymbolId}:
    get:
      tags:
      - Custom
      - Symbols
      summary: >-
        Factset Get All Custom Field and Standard Field Details on a Specific Custom Symbol
      operationId: GetCustomSymbol
      parameters:
      - name: customSymbolId
        in: path
        description: customSymbolId to get associated custom symbol
        required: true
        schema:
          type: string
          format: uuid
      - name: includeEvent
        in: query
        description: Whether or not to include event
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomSymbolDto'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    patch:
      tags:
      - Custom
      - Symbols
      summary: Factset Edit a Custom Symbols Standard Field and Custom Field Data
      operationId: PatchCustomSymbol
      parameters:
      - name: customSymbolId
        in: path
        description: customSymbolId to update associated custom symbol
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        description: updateCustomSymbolDto object to update
        content:
          application/json-patch+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Operation'
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Operation'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Operation'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Operation'
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      tags:
      - Custom
      - Symbols
      summary: Factset Delete a Custom Symbol
      operationId: DeleteCustomSymbol
      parameters:
      - name: customSymbolId
        in: path
        description: customSymbolId to delete associated custom symbol
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v1/custom-symbols/{customSymbolId}/records:
    get:
      tags:
      - Custom
      - Records
      - Symbols
      summary: >-
        Factset Get All Notes and Meetings Where a Specific Customsymbol Was Tagged as Primary or Related Identifier
      operationId: GetCustomSymbolRecords
      parameters:
      - name: customSymbolId
        in: path
        description: CustomSymbolId to get associated records
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RecordPreviewDto'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v1/custom-symbols/standard-symbol-metadata/{standardSymbol}:
    get:
      tags:
      - Custom
      - Standard
      - Symbols
      summary: >-
        Factset Get All Custom Field and Standard Field Details on a Specific Standard Symbol
      operationId: GetStandardSymbolMetadataGuid
      parameters:
      - name: standardSymbol
        in: path
        description: Standard symbol to get associated customSymbolId
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: string
                format: uuid
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: string
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v1/symbol-relationships/{symbolId}/relationships:
    get:
      tags:
      - Relationships
      - Symbol
      - Symbols
      summary: Factset Returns a List of a Symbols Relationships
      operationId: GetSymbolRelationships
      parameters:
      - name: symbolId
        in: path
        description: symbolId to get associated records
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SymbolRelationshipDto'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v1/symbol-relationships/{symbolRelationshipId}:
    get:
      tags:
      - Relationships
      - Symbol
      - Symbols
      summary: Factset Get Details on a Specific Symbol Relationship
      operationId: GetSymbolRelationship
      parameters:
      - name: symbolRelationshipId
        in: path
        description: symbolRelationshipId to get associated record
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SymbolRelationshipDto'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      tags:
      - Relationships
      - Symbol
      - Symbols
      summary: Factset Delete a Symbol Relationship
      operationId: DeleteSymbolRelationship
      parameters:
      - name: symbolRelationshipId
        in: path
        description: symbolRelationshipId to delete associated record
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v1/custom-symbols/{customSymbolId}/link-standard-symbol:
    post:
      tags:
      - Custom
      - Link
      - Standard
      - Symbols
      summary: Factset Link Custom Symbol to Standard Symbol
      operationId: LinkCustomSymbolToStandardSymbol
      parameters:
      - name: customSymbolId
        in: path
        description: customSymbolId associated with custom symbol
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        description: standard symbol name
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/StandardSymbolDto'
          application/json:
            schema:
              $ref: '#/components/schemas/StandardSymbolDto'
          text/json:
            schema:
              $ref: '#/components/schemas/StandardSymbolDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/StandardSymbolDto'
      responses:
        '200':
          description: Success
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v1/custom-symbols/standard-symbol-metadata:
    post:
      tags:
      - Custom
      - Standard
      - Symbols
      summary: Factset Create Standard Symbol Metadata
      operationId: CreateStandardSymbolMetadata
      requestBody:
        description: createStandardSymbolMetadataDto object to save
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/CreateStandardSymbolMetadataDto'
          application/json:
            schema:
              $ref: '#/components/schemas/CreateStandardSymbolMetadataDto'
          text/json:
            schema:
              $ref: '#/components/schemas/CreateStandardSymbolMetadataDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/CreateStandardSymbolMetadataDto'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewItemDto'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v1/symbol-relationships:
    post:
      tags:
      - Relationships
      - Symbol
      summary: Factset Create a Symbol Relationship
      operationId: CreateSymbolRelationship
      requestBody:
        description: symbolRelationship object to save
        content:
          application/json-patch+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/SymbolRelationshipSaveDto'
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/SymbolRelationshipSaveDto'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/SymbolRelationshipSaveDto'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/SymbolRelationshipSaveDto'
      responses:
        '201':
          description: Created
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v1/symbol-relationships/{symbol}:
    put:
      tags:
      - Relationships
      - Symbol
      - Symbols
      summary: Factset Edit a Symbol Relationship
      operationId: EditAndAddSymbolRelationship
      parameters:
      - name: symbol
        in: path
        description: ''
        required: true
        schema:
          type: string
      requestBody:
        description: symbolRelationship object to save
        content:
          application/json-patch+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/SymbolRelationshipUpdateDto'
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/SymbolRelationshipUpdateDto'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/SymbolRelationshipUpdateDto'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/SymbolRelationshipUpdateDto'
      responses:
        '200':
          description: Success
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v1/custom-symbols/standard-symbol-metadata/{standardSymbolId}:
    patch:
      tags:
      - Custom
      - Standard
      - Symbols
      summary: Factset Edit a Standard Symbols Standard Field and Custom Field Data
      operationId: PatchStandardSymbol
      parameters:
      - name: standardSymbolId
        in: path
        description: standardSymbolId to update associated standard symbol
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        description: updateCustomSymbolDto object to update
        content:
          application/json-patch+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Operation'
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Operation'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Operation'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Operation'
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    CreateCustomSymbolCustomFieldValueDto:
      required:
      - code
      type: object
      properties:
        code:
          type: string
          example: example_value
        textValue:
          type: string
          nullable: true
          example: example_value
        numericValue:
          type: number
          format: double
          nullable: true
          example: 42.5
        dateValue:
          type: string
          nullable: true
          example: example_value
        extendedTextValue:
          type: string
          nullable: true
          example: example_value
        optionValues:
          type: array
          items:
            type: string
          nullable: true
          example: []
        contactIds:
          type: array
          items:
            type: string
            format: uuid
          nullable: true
          example: []
      additionalProperties: false
    CreateCustomSymbolDto:
      type: object
      properties:
        code:
          maxLength: 32
          minLength: 0
          type: string
          nullable: true
          example: example_value
        name:
          maxLength: 255
          minLength: 0
          type: string
          nullable: true
          example: Example Title
        description:
          type: string
          nullable: true
          example: A sample description.
        typeId:
          type: string
          format: uuid
          example: '500123'
        subTypeId:
          type: string
          format: uuid
          example: '500123'
        googleMapsPlaceId:
          maxLength: 255
          minLength: 0
          type: string
          nullable: true
          example: '500123'
        formattedAddress:
          maxLength: 255
          minLength: 0
          type: string
          nullable: true
          example: example_value
        city:
          maxLength: 50
          minLength: 0
          type: string
          nullable: true
          example: example_value
        stateProvince:
          maxLength: 50
          minLength: 0
          type: string
          nullable: true
          example: example_value
        postalCode:
          maxLength: 10
          minLength: 0
          type: string
          nullable: true
          example: example_value
        country:
          maxLength: 50
          minLength: 0
          type: string
          nullable: true
          example: example_value
        customFieldValues:
          type: array
          items:
            $ref: '#/components/schemas/CreateCustomSymbolCustomFieldValueDto'
          nullable: true
          example: []
      additionalProperties: false
    CreateStandardSymbolMetadataDto:
      required:
      - standardSymbol
      type: object
      properties:
        standardSymbol:
          maxLength: 255
          minLength: 0
          type: string
          example: example_value
        description:
          type: string
          nullable: true
          example: A sample description.
        typeId:
          type: string
          format: uuid
          example: '500123'
        subTypeId:
          type: string
          format: uuid
          example: '500123'
        googleMapsPlaceId:
          maxLength: 255
          minLength: 0
          type: string
          nullable: true
          example: '500123'
        formattedAddress:
          maxLength: 255
          minLength: 0
          type: string
          nullable: true
          example: example_value
        city:
          maxLength: 50
          minLength: 0
          type: string
          nullable: true
          example: example_value
        stateProvince:
          maxLength: 50
          minLength: 0
          type: string
          nullable: true
          example: example_value
        postalCode:
          maxLength: 10
          minLength: 0
          type: string
          nullable: true
          example: example_value
        country:
          maxLength: 50
          minLength: 0
          type: string
          nullable: true
          example: example_value
        customFieldValues:
          type: array
          items:
            $ref: '#/components/schemas/CreateCustomSymbolCustomFieldValueDto'
          nullable: true
          example: []
      additionalProperties: false
    CustomSymbolAddressDto:
      type: object
      properties:
        googleMapsPlaceId:
          type: string
          nullable: true
          example: '500123'
        formattedAddress:
          type: string
          nullable: true
          example: example_value
        city:
          type: string
          nullable: true
          example: example_value
        stateProvince:
          type: string
          nullable: true
          example: example_value
        postalCode:
          type: string
          nullable: true
          example: example_value
        country:
          type: string
          nullable: true
          example: example_value
      additionalProperties: false
    CustomSymbolContact:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: abc123
        name:
          type: string
          nullable: true
          example: Example Title
        employerName:
          type: string
          nullable: true
          example: example_value
        roleName:
          type: string
          nullable: true
          example: example_value
        isDeleted:
          type: boolean
          example: true
        irnPersonId:
          type: string
          nullable: true
          example: '500123'
      additionalProperties: false
    CustomSymbolCustomFieldValueDto:
      type: object
      properties:
        code:
          type: string
          nullable: true
          example: example_value
        value:
          type: string
          nullable: true
          example: example_value
        optionValues:
          type: array
          items:
            type: string
          nullable: true
          example: []
        contacts:
          type: array
          items:
            $ref: '#/components/schemas/CustomSymbolContact'
          nullable: true
          example: []
      additionalProperties: false
    CustomSymbolDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: abc123
        code:
          type: string
          nullable: true
          example: example_value
        name:
          type: string
          nullable: true
          example: Example Title
        description:
          type: string
          nullable: true
          example: A sample description.
        type:
          $ref: '#/components/schemas/CustomSymbolTypeSummaryDto'
        subType:
          $ref: '#/components/schemas/CustomSymbolSubTypeSummaryDto'
        address:
          $ref: '#/components/schemas/CustomSymbolAddressDto'
        customFields:
          type: array
          items:
            $ref: '#/components/schemas/CustomSymbolCustomFieldValueDto'
          nullable: true
          example: []
        createdDate:
          type: string
          nullable: true
          example: example_value
        createdBy:
          type: string
          nullable: true
          example: example_value
        standardSymbol:
          type: string
          nullable: true
          example: example_value
        standardSymbolInstrumentData:
          $ref: '#/components/schemas/InstrumentDto'
        isAddressAutoFilled:
          type: boolean
          example: true
        isDescriptionAutoFilled:
          type: boolean
          example: true
      additionalProperties: false
    CustomSymbolSubTypeSummaryDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: abc123
        name:
          type: string
          nullable: true
          example: Example Title
      additionalProperties: false
    CustomSymbolTypeSummaryDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: abc123
        name:
          type: string
          nullable: true
          example: Example Title
      additionalProperties: false
    InstrumentDto:
      type: object
      properties:
        symbol:
          type: string
          nullable: true
          example: example_value
        tickerRegion:
          type: string
          nullable: true
          example: example_value
        tickerExchange:
          type: string
          nullable: true
          example: example_value
        sedol:
          type: string
          nullable: true
          example: example_value
        cusip:
          type: string
          nullable: true
          example: example_value
        isin:
          type: string
          nullable: true
          example: example_value
        instrumentName:
          type: string
          nullable: true
          example: example_value
        identifiers:
          type: array
          items:
            type: string
          nullable: true
          example: []
      additionalProperties: false
    NewItemDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: abc123
      additionalProperties: false
    Operation:
      type: object
      properties:
        operationType:
          $ref: '#/components/schemas/OperationType'
        path:
          type: string
          nullable: true
          example: example_value
        op:
          type: string
          nullable: true
          example: example_value
        from:
          type: string
          nullable: true
          example: example_value
        value:
          nullable: true
          example: example_value
      additionalProperties: false
    OperationType:
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
      - 5
      - 6
      type: integer
      format: int32
    ProblemDetails:
      type: object
      properties:
        type:
          type: string
          nullable: true
          example: example_value
        title:
          type: string
          nullable: true
          example: Example Title
        status:
          type: integer
          format: int32
          nullable: true
          example: 10
        detail:
          type: string
          nullable: true
          example: example_value
        instance:
          type: string
          nullable: true
          example: example_value
      additionalProperties: {}
    RecordPreviewDto:
      type: object
      properties:
        noteGuid:
          type: string
          format: uuid
          nullable: true
          example: '500123'
        meetingGuid:
          type: string
          format: uuid
          nullable: true
          example: '500123'
        title:
          type: string
          nullable: true
          example: Example Title
        date:
          type: string
          format: date-time
          example: '2026-01-15T10:30:00Z'
      additionalProperties: false
    StandardSymbolDto:
      required:
      - standardSymbol
      type: object
      properties:
        standardSymbol:
          type: string
          example: example_value
      additionalProperties: false
    SymbolIdNameDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
          nullable: true
          example: abc123
        name:
          type: string
          nullable: true
          example: Example Title
        code:
          type: string
          nullable: true
          example: example_value
      additionalProperties: false
    SymbolRelationshipDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: abc123
        symbolsRelationship:
          $ref: '#/components/schemas/SymbolsRelationshipIdNameDto'
        parentSymbol:
          $ref: '#/components/schemas/SymbolIdNameDto'
        childSymbol:
          $ref: '#/components/schemas/SymbolIdNameDto'
        startDate:
          type: string
          format: date-time
          nullable: true
          example: '2026-01-15T10:30:00Z'
        endDate:
          type: string
          format: date-time
          nullable: true
          example: '2026-01-15T10:30:00Z'
        comment:
          type: string
          nullable: true
          example: example_value
      additionalProperties: false
    SymbolRelationshipSaveDto:
      type: object
      properties:
        symbolsRelationshipId:
          type: string
          format: uuid
          example: '500123'
        parentSymbol:
          type: string
          nullable: true
          example: example_value
        childSymbol:
          type: string
          nullable: true
          example: example_value
        startDate:
          type: string
          format: date-time
          nullable: true
          example: '2026-01-15T10:30:00Z'
        endDate:
          type: string
          format: date-time
          nullable: true
          example: '2026-01-15T10:30:00Z'
        comment:
          type: string
          nullable: true
          example: example_value
      additionalProperties: false
    SymbolRelationshipUpdateDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: abc123
        symbolsRelationshipId:
          type: string
          format: uuid
          example: '500123'
        parentSymbol:
          type: string
          nullable: true
          example: example_value
        childSymbol:
          type: string
          nullable: true
          example: example_value
        startDate:
          type: string
          format: date-time
          nullable: true
          example: '2026-01-15T10:30:00Z'
        endDate:
          type: string
          format: date-time
          nullable: true
          example: '2026-01-15T10:30:00Z'
        comment:
          type: string
          nullable: true
          example: example_value
      additionalProperties: false
    SymbolsRelationshipIdNameDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: abc123
        name:
          type: string
          nullable: true
          example: Example Title
        type:
          type: string
          nullable: true
          example: example_value
      additionalProperties: false
  securitySchemes:
    basicScheme:
      type: http
      scheme: basic
security:
- basicScheme: []
tags:
- name: Custom
- name: Link
- name: Records
- name: Relationships
- name: Standard
- name: Symbol
- name: Symbols
