openapi: 3.0.1
info:
  title: FactSet IRN Configuration API
  description: |2-

    Config API allows users to read and update configuration and settings of
    the Internal Research Notes.
  version: '1'
servers:
- url: https://api.factset.com/research/irn
  description: Production Server
- url: https://api-sandbox.factset.com/research/irn
  description: Sandbox
paths:
  /v1/authors:
    get:
      tags:
      - Authors
      summary: Factset Get All Authors
      operationId: GetAuthors
      parameters:
      - name: X-IRN-Ignore-Permissions
        in: header
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AuthorConfigDto'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v1/contact-custom-fields:
    get:
      tags:
      - Contact
      - Custom
      summary: Factset Get All the Contact Custom Fields
      operationId: GetContactCustomFields
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ContactCustomFieldDto'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      tags:
      - Contact
      - Custom
      summary: Factset Create a Contact Custom Field
      operationId: CreateContactCustomField
      requestBody:
        description: ContactCustomFieldSaveDto object to save
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/ContactCustomFieldSaveDto'
          application/json:
            schema:
              $ref: '#/components/schemas/ContactCustomFieldSaveDto'
          text/json:
            schema:
              $ref: '#/components/schemas/ContactCustomFieldSaveDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ContactCustomFieldSaveDto'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewItemDto'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v1/contact-custom-fields/{contactCustomFieldId}:
    get:
      tags:
      - Contact
      - Contacts
      - Custom
      summary: Factset Get a Specific Contact Custom Field's Details
      operationId: GetContactCustomField
      parameters:
      - name: contactCustomFieldId
        in: path
        description: contactCustomFieldId to get associated record
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactCustomFieldDto'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    patch:
      tags:
      - Contact
      - Contacts
      - Custom
      summary: Factset Edit a Contact Custom Field
      operationId: PatchContactCustomField
      parameters:
      - name: contactCustomFieldId
        in: path
        description: contactCustomFieldId to update associated record
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        description: contactCustomFieldUpdateDto object to update
        content:
          application/json-patch+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Operation'
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Operation'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Operation'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Operation'
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      tags:
      - Contact
      - Contacts
      - Custom
      summary: Factset Delete a Contact Custom Field
      operationId: DeleteContactCustomField
      parameters:
      - name: contactCustomFieldId
        in: path
        description: contactCustomFieldId to delete associated record
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v1/contact-roles:
    get:
      tags:
      - Contact
      - Roles
      summary: Factset Get List of the Contact Roles Configured in Your Group
      operationId: GetContactRoles
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ContactRoleDto'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      tags:
      - Contact
      - Roles
      summary: Factset Create Contact Roles
      operationId: CreateContactRole
      requestBody:
        description: Contact role name
        content:
          application/json-patch+json:
            schema:
              maxLength: 50
              minLength: 0
              type: string
          application/json:
            schema:
              maxLength: 50
              minLength: 0
              type: string
          text/json:
            schema:
              maxLength: 50
              minLength: 0
              type: string
          application/*+json:
            schema:
              maxLength: 50
              minLength: 0
              type: string
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewItemDto'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v1/contact-types:
    get:
      tags:
      - Contact
      - Types
      summary: Factset Get List of the Contact Types Configured in Your Group
      operationId: GetContactTypes
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ContactTypeDto'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      tags:
      - Contact
      - Types
      summary: Factset Create Contact Types
      operationId: CreateContactType
      requestBody:
        description: Contact type name
        content:
          application/json-patch+json:
            schema:
              maxLength: 50
              minLength: 0
              type: string
          application/json:
            schema:
              maxLength: 50
              minLength: 0
              type: string
          text/json:
            schema:
              maxLength: 50
              minLength: 0
              type: string
          application/*+json:
            schema:
              maxLength: 50
              minLength: 0
              type: string
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewItemDto'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v1/custom-fields:
    get:
      tags:
      - Custom
      summary: Factset Get All Custom Fields
      operationId: GetCustomFields
      parameters:
      - name: X-IRN-Ignore-Permissions
        in: header
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CustomFieldConfigDto'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v1/custom-symbol-custom-fields:
    get:
      tags:
      - Custom
      - Symbols
      summary: Factset Get All the Custom Symbol Custom Fields
      operationId: GetCustomSymbolCustomFields
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CustomSymbolCustomFieldConfigDto'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      tags:
      - Custom
      - Symbols
      summary: Factset Create a Custom Symbol Custom Field
      operationId: CreateCustomSymbolCustomField
      requestBody:
        description: createCustomSymbolCustomFieldDto object to save
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/CreateCustomSymbolCustomFieldDto'
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCustomSymbolCustomFieldDto'
          text/json:
            schema:
              $ref: '#/components/schemas/CreateCustomSymbolCustomFieldDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/CreateCustomSymbolCustomFieldDto'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewItemDto'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v1/custom-symbol-custom-fields/{customSymbolCustomFieldId}:
    get:
      tags:
      - Custom
      - Symbols
      summary: Factset Get a Specific Custom Symbol Custom Field's Details
      operationId: GetCustomSymbolCustomField
      parameters:
      - name: customSymbolCustomFieldId
        in: path
        description: customSymbolCustomFieldId to get associated record
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomSymbolCustomFieldConfigDto'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    patch:
      tags:
      - Custom
      - Symbols
      summary: Factset Edit a Custom Symbol Custom Field
      operationId: PatchCustomSymbolCustomField
      parameters:
      - name: customSymbolCustomFieldId
        in: path
        description: customSymbolCustomFieldId to update associated record
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        description: customSymbolCustomFieldUpdateDto object to update
        content:
          application/json-patch+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Operation'
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Operation'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Operation'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Operation'
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      tags:
      - Custom
      - Symbols
      summary: Factset Delete a Custom Symbol Custom Field
      operationId: DeleteCustomSymbolCustomField
      parameters:
      - name: customSymbolCustomFieldId
        in: path
        description: customSymbolCustomFieldId to delete associated record
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v1/custom-symbol-types:
    get:
      tags:
      - Custom
      - Symbols
      - Types
      summary: Factset Get All the Custom Symbol Types
      operationId: GetCustomSymbolTypes
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CustomSymbolTypeDto'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      tags:
      - Custom
      - Symbols
      - Types
      summary: Factset Create a Custom Symbol Type
      operationId: CreateCustomSymbolType
      requestBody:
        description: saveCustomSymbolTypeDto object to save
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/SaveCustomSymbolTypeDto'
          application/json:
            schema:
              $ref: '#/components/schemas/SaveCustomSymbolTypeDto'
          text/json:
            schema:
              $ref: '#/components/schemas/SaveCustomSymbolTypeDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/SaveCustomSymbolTypeDto'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewItemDto'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v1/custom-symbol-types/{customSymbolTypeId}:
    get:
      tags:
      - Custom
      - Symbols
      - Type
      - Types
      summary: Factset Get a Specific Custom Symbol Type's Details
      operationId: GetCustomSymbolType
      parameters:
      - name: customSymbolTypeId
        in: path
        description: customSymbolTypeId to get associated record
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomSymbolTypeDetailDto'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      tags:
      - Custom
      - Symbols
      - Type
      - Types
      summary: Factset Edit a Custom Symbol Type
      operationId: UpdateCustomSymbolType
      parameters:
      - name: customSymbolTypeId
        in: path
        description: customSymbolTypeId to update associated record
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        description: updateCustomSymbolTypeDto object to update
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/UpdateCustomSymbolTypeDto'
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCustomSymbolTypeDto'
          text/json:
            schema:
              $ref: '#/components/schemas/UpdateCustomSymbolTypeDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/UpdateCustomSymbolTypeDto'
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      tags:
      - Custom
      - Symbols
      - Type
      - Types
      summary: Factset Delete a Custom Symbol Type
      operationId: DeleteCustomSymbolTypeAsync
      parameters:
      - name: customSymbolTypeId
        in: path
        description: customSymbolTypeId to delete associated record
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v1/custom-symbol-types/{customSymbolTypeId}/custom-fields:
    get:
      tags:
      - Custom
      - Symbols
      - Type
      - Types
      summary: Factset Get Custom Fields for Custom Symbol Type
      operationId: GetSymbolCustomFieldsForCustomSymbolType
      parameters:
      - name: customSymbolTypeId
        in: path
        description: customSymbolTypeId to get associated Custom fileds
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CustomSymbolCustomFieldConfigDto'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v1/group:
    get:
      tags:
      - Group
      summary: Factset Get Group Details
      operationId: GetGroup
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupConfigDto'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v1/group/client-sales-representative:
    get:
      tags:
      - Client
      - Group
      - Representative
      - Sales
      operationId: GetClientsSalesRepresentative
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientSalesRepresentativeDto'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v1/phone-number-types:
    get:
      tags:
      - Numbers
      - Phone
      - Types
      summary: Factset Get List of the Phone Types Configured in Your Group
      operationId: GetPhoneNumberTypes
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PhoneNumberTypeDto'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      tags:
      - Numbers
      - Phone
      - Types
      summary: Factset Create a Phone Type
      operationId: CreatePhoneNumberType
      requestBody:
        description: To add phoneNumberType
        content:
          application/json-patch+json:
            schema:
              maxLength: 50
              minLength: 0
              type: string
          application/json:
            schema:
              maxLength: 50
              minLength: 0
              type: string
          text/json:
            schema:
              maxLength: 50
              minLength: 0
              type: string
          application/*+json:
            schema:
              maxLength: 50
              minLength: 0
              type: string
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewItemDto'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v1/recommendations:
    get:
      tags:
      - Recommendations
      summary: Factset Get All Recommendations
      operationId: GetRecommendations
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RecommendationConfigDto'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v1/relationship-categories:
    get:
      tags:
      - Relationship
      summary: Factset Get List of the Relationship Categories Configured in Your Group
      operationId: GetRelationshipCategories
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RelationshipCategoryDto'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      tags:
      - Relationship
      summary: Factset Create a Relationship Category
      operationId: CreateRelationshipCategory
      requestBody:
        description: RelationshipCategorySaveDto object to save
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/RelationshipCategorySaveDto'
          application/json:
            schema:
              $ref: '#/components/schemas/RelationshipCategorySaveDto'
          text/json:
            schema:
              $ref: '#/components/schemas/RelationshipCategorySaveDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/RelationshipCategorySaveDto'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewItemDto'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v1/relationships:
    get:
      tags:
      - Relationships
      summary: Factset Get List of the Relationships Configured in Your Group
      operationId: GetRelationships
      parameters:
      - name: type
        in: query
        schema:
          $ref: '#/components/schemas/RelationshipType'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RelationshipDto'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      tags:
      - Relationships
      summary: Factset Create a Relationship Type
      operationId: CreateContactRelationshipType
      requestBody:
        description: RelationshipSaveDto object to save
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/RelationshipSaveDto'
          application/json:
            schema:
              $ref: '#/components/schemas/RelationshipSaveDto'
          text/json:
            schema:
              $ref: '#/components/schemas/RelationshipSaveDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/RelationshipSaveDto'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewItemDto'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v1/sentiments:
    get:
      tags:
      - Sentiments
      summary: Factset Get All Sentiments
      operationId: GetSentiments
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SentimentConfigDto'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v1/subjects:
    get:
      tags:
      - Subjects
      summary: Factset Get All Subjects
      operationId: GetSubjects
      parameters:
      - name: X-IRN-Ignore-Permissions
        in: header
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SubjectSummaryDto'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v1/subjects/{subjectId}:
    get:
      tags:
      - Subjects
      summary: Factset Get Subject Details for the Given Id Provided
      operationId: GetSubject
      parameters:
      - name: subjectId
        in: path
        description: Id
        required: true
        schema:
          type: string
          format: uuid
      - name: X-IRN-Ignore-Permissions
        in: header
        description: ''
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubjectConfigDto'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v1/symbols-relationships:
    get:
      tags:
      - Relationships
      - Symbols
      summary: Factset Get All the Symbols Relationships
      operationId: GetSymbolsRelationships
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SymbolsRelationshipDto'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      tags:
      - Relationships
      - Symbols
      summary: Factset Create a Symbol Relationship
      operationId: CreateSymbolRelationshipType
      requestBody:
        description: symbolsRelationshipSaveDto object to save
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/SymbolsRelationShipSaveDto'
          application/json:
            schema:
              $ref: '#/components/schemas/SymbolsRelationShipSaveDto'
          text/json:
            schema:
              $ref: '#/components/schemas/SymbolsRelationShipSaveDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/SymbolsRelationShipSaveDto'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewItemDto'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v1/teams:
    get:
      tags:
      - Teams
      summary: Factset Get All Teams
      operationId: GetTeams
      parameters:
      - name: X-IRN-Ignore-Permissions
        in: header
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TeamSummaryDto'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v1/teams/{teamId}:
    get:
      tags:
      - Teams
      summary: Factset Get Team Details for the Given Id Provided
      operationId: GetTeam
      parameters:
      - name: teamId
        in: path
        description: Id
        required: true
        schema:
          type: string
          format: uuid
      - name: X-IRN-Ignore-Permissions
        in: header
        description: ''
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamConfigDto'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v1/users:
    get:
      tags:
      - Users
      summary: Get All Assigned Factset Users
      operationId: GetAssignedFactSetUsers
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UserConfigDto'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v1/custom-symbol-types/reorder:
    post:
      tags:
      - Custom
      - Reorder
      - Symbols
      - Types
      operationId: UpdateCustomSymbolTypeOrder
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/ReorderCustomSymbolTypeDto'
          application/json:
            schema:
              $ref: '#/components/schemas/ReorderCustomSymbolTypeDto'
          text/json:
            schema:
              $ref: '#/components/schemas/ReorderCustomSymbolTypeDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ReorderCustomSymbolTypeDto'
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v1/relationship-categories/reorder:
    post:
      tags:
      - Relationship
      - Reorder
      summary: Factset Reorder Relationship Categories
      operationId: UpdateRelationshipCategoryOrder
      requestBody:
        description: List of Guid
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/RelationshipCategoryListDto'
          application/json:
            schema:
              $ref: '#/components/schemas/RelationshipCategoryListDto'
          text/json:
            schema:
              $ref: '#/components/schemas/RelationshipCategoryListDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/RelationshipCategoryListDto'
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v1/contact-roles/{contactRoleId}:
    put:
      tags:
      - Contact
      - Roles
      summary: Factset Edit a Contact Role
      operationId: UpdateContactRole
      parameters:
      - name: contactRoleId
        in: path
        description: contactRoleId to update associated record
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        description: Updated contact role name
        content:
          application/json-patch+json:
            schema:
              maxLength: 50
              minLength: 0
              type: string
          application/json:
            schema:
              maxLength: 50
              minLength: 0
              type: string
          text/json:
            schema:
              maxLength: 50
              minLength: 0
              type: string
          application/*+json:
            schema:
              maxLength: 50
              minLength: 0
              type: string
        required: true
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      tags:
      - Contact
      - Roles
      summary: Factset Delete a Contact Role
      operationId: DeleteContactRole
      parameters:
      - name: contactRoleId
        in: path
        description: contactRoleId to delete associated record
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v1/contact-types/{contactTypeId}:
    put:
      tags:
      - Contact
      - Type
      - Types
      summary: Factset Edit a Contact Type
      operationId: UpdateContactType
      parameters:
      - name: contactTypeId
        in: path
        description: contactTypeId to update associated record
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        description: Updated contact type name
        content:
          application/json-patch+json:
            schema:
              maxLength: 50
              minLength: 0
              type: string
          application/json:
            schema:
              maxLength: 50
              minLength: 0
              type: string
          text/json:
            schema:
              maxLength: 50
              minLength: 0
              type: string
          application/*+json:
            schema:
              maxLength: 50
              minLength: 0
              type: string
        required: true
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      tags:
      - Contact
      - Type
      - Types
      summary: Factset Delete a Contact Type
      operationId: DeleteContactType
      parameters:
      - name: contactTypeId
        in: path
        description: contactTypeId to delete associated record
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v1/phone-number-types/{phoneNumberTypeId}:
    put:
      tags:
      - Numbers
      - Phone
      - Type
      - Types
      summary: Factset Edit a Phone Type
      operationId: UpdatePhoneNumberType
      parameters:
      - name: phoneNumberTypeId
        in: path
        description: phoneNumberTypeId to update associated record
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        description: Update with phoneNumberType
        content:
          application/json-patch+json:
            schema:
              maxLength: 50
              minLength: 0
              type: string
          application/json:
            schema:
              maxLength: 50
              minLength: 0
              type: string
          text/json:
            schema:
              maxLength: 50
              minLength: 0
              type: string
          application/*+json:
            schema:
              maxLength: 50
              minLength: 0
              type: string
        required: true
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      tags:
      - Numbers
      - Phone
      - Type
      - Types
      summary: Factset Delete a Phone Type
      operationId: DeletePhoneNumberType
      parameters:
      - name: phoneNumberTypeId
        in: path
        description: phoneNumberTypeId for deleting associated record
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v1/relationship-categories/{relationshipCategoryId}:
    put:
      tags:
      - Relationship
      - Relationships
      summary: Factset Edit a Relationship Category
      operationId: EditRelationshipCategory
      parameters:
      - name: relationshipCategoryId
        in: path
        description: relationshipCategoryId to update associated record
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        description: RelationshipCategorySaveDto object to update
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/RelationshipCategorySaveDto'
          application/json:
            schema:
              $ref: '#/components/schemas/RelationshipCategorySaveDto'
          text/json:
            schema:
              $ref: '#/components/schemas/RelationshipCategorySaveDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/RelationshipCategorySaveDto'
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      tags:
      - Relationship
      - Relationships
      summary: Factset Delete a Relationship Category
      operationId: DeleteRelationshipCategory
      parameters:
      - name: relationshipCategoryId
        in: path
        description: relationshipCategoryId to delete associated record
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v1/relationships/{relationshipId}:
    put:
      tags:
      - Relationships
      summary: Factset Edit a Relationship Type
      operationId: EditRelationship
      parameters:
      - name: relationshipId
        in: path
        description: relationshipId to update associated record
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        description: RelationshipSaveDto object to update
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/RelationshipSaveDto'
          application/json:
            schema:
              $ref: '#/components/schemas/RelationshipSaveDto'
          text/json:
            schema:
              $ref: '#/components/schemas/RelationshipSaveDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/RelationshipSaveDto'
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      tags:
      - Relationships
      summary: Factset Delete a Relationship Type
      operationId: DeleteRelationship
      parameters:
      - name: relationshipId
        in: path
        description: relationshipId to delete associated record
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v1/symbols-relationships/{symbolsRelationshipId}:
    put:
      tags:
      - Relationships
      - Symbols
      summary: Factset Edit a Symbol Relationship
      operationId: EditSymbolsRelationship
      parameters:
      - name: symbolsRelationshipId
        in: path
        description: symbolsRelationshipId to update associated record
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        description: SymbolsRelationShipSaveDto object to update
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/SymbolsRelationShipSaveDto'
          application/json:
            schema:
              $ref: '#/components/schemas/SymbolsRelationShipSaveDto'
          text/json:
            schema:
              $ref: '#/components/schemas/SymbolsRelationShipSaveDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/SymbolsRelationShipSaveDto'
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      tags:
      - Relationships
      - Symbols
      summary: Factset Delete a Symbol Relationship
      operationId: DeleteSymbolsRelationship
      parameters:
      - name: symbolsRelationshipId
        in: path
        description: symbolsRelationshipId to delete associated record
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    ApprovalLevelConfigDto:
      type: object
      properties:
        name:
          type: string
          nullable: true
          example: Example Title
        approverIds:
          type: array
          items:
            type: string
            format: uuid
          nullable: true
          example: []
      additionalProperties: false
    ApprovalProcessConfigDto:
      type: object
      properties:
        approvalLevels:
          type: array
          items:
            $ref: '#/components/schemas/ApprovalLevelConfigDto'
          nullable: true
          example: []
        viewerIds:
          type: array
          items:
            type: string
            format: uuid
          nullable: true
          example: []
        shouldSendEmailAlertsWhenSubmittedForApproval:
          type: boolean
          example: user@example.com
        shouldSendEmailAlertsWhenApproved:
          type: boolean
          example: user@example.com
        shouldSendEmailAlertsWhenDenied:
          type: boolean
          example: user@example.com
        shouldSendEmailAlertsToAuthor:
          type: boolean
          example: user@example.com
        shouldSendEmailAlertsToApprovers:
          type: boolean
          example: user@example.com
        shouldSendEmailAlertsToViewers:
          type: boolean
          example: user@example.com
        canAuthorSelfApprove:
          type: boolean
          example: true
        canAuthorEditPending:
          type: boolean
          example: true
      additionalProperties: false
    AuthorConfigDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: abc123
        userName:
          type: string
          nullable: true
          example: example_value
        serialNumber:
          type: string
          nullable: true
          example: example_value
        firstName:
          type: string
          nullable: true
          example: example_value
        lastName:
          type: string
          nullable: true
          example: example_value
        emailAddress:
          type: string
          nullable: true
          example: user@example.com
        isActive:
          type: boolean
          example: true
        team:
          $ref: '#/components/schemas/TeamSummaryDto'
      additionalProperties: false
    ClientSalesRepresentativeDto:
      type: object
      properties:
        fullname:
          type: string
          nullable: true
          example: example_value
        emailAddress:
          type: string
          nullable: true
          example: user@example.com
      additionalProperties: false
    CommentaryConfigDto:
      type: object
      properties:
        shouldSendEmailAlertsToAuthor:
          type: boolean
          example: user@example.com
        shouldSendEmailAlertsToCommenters:
          type: boolean
          example: user@example.com
        shouldSendEmailAlertsToAll:
          type: boolean
          example: user@example.com
      additionalProperties: false
    ContactCustomFieldDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: abc123
        code:
          type: string
          nullable: true
          example: example_value
        name:
          type: string
          nullable: true
          example: Example Title
        type:
          type: string
          nullable: true
          example: example_value
        isHidden:
          type: boolean
          example: true
        isMandatory:
          type: boolean
          example: true
        formulaConfig:
          $ref: '#/components/schemas/FormulaConfigDto'
        contactCustomFieldOptions:
          type: array
          items:
            $ref: '#/components/schemas/ContactCustomFieldOptionDto'
          nullable: true
          example: []
      additionalProperties: false
    ContactCustomFieldFormulaDto:
      type: object
      properties:
        formula:
          maxLength: 2040
          type: string
          nullable: true
          example: example_value
        isScreening:
          type: boolean
          default: false
          example: true
        symbol:
          type: string
          nullable: true
          example: example_value
      additionalProperties: false
    ContactCustomFieldOptionDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: abc123
        name:
          type: string
          nullable: true
          example: Example Title
        order:
          type: integer
          format: int32
          example: 10
      additionalProperties: false
    ContactCustomFieldOptionSaveDto:
      required:
      - name
      type: object
      properties:
        name:
          maxLength: 255
          type: string
          example: Example Title
      additionalProperties: false
    ContactCustomFieldSaveDto:
      required:
      - code
      - isHidden
      - isMandatory
      - name
      - type
      type: object
      properties:
        code:
          maxLength: 32
          type: string
          example: example_value
        name:
          maxLength: 100
          type: string
          example: Example Title
        type:
          $ref: '#/components/schemas/ContactCustomFieldType'
        isHidden:
          type: boolean
          default: false
          example: true
        isMandatory:
          type: boolean
          default: false
          example: true
        fieldFormula:
          $ref: '#/components/schemas/ContactCustomFieldFormulaDto'
        contactCustomFieldOptions:
          type: array
          items:
            $ref: '#/components/schemas/ContactCustomFieldOptionSaveDto'
          nullable: true
          example: []
      additionalProperties: false
    ContactCustomFieldType:
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
      - 5
      - 6
      - 7
      type: integer
      format: int32
    ContactRoleDto:
      required:
      - id
      - name
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: abc123
        name:
          maxLength: 50
          minLength: 0
          type: string
          example: Example Title
      additionalProperties: false
    ContactTypeDto:
      required:
      - id
      - name
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: abc123
        name:
          maxLength: 50
          minLength: 0
          type: string
          example: Example Title
      additionalProperties: false
    CreateCustomSymbolCustomFieldDto:
      required:
      - code
      - customSymbolTypes
      - isHidden
      - isMandatory
      - isShownInInfobox
      - name
      - type
      type: object
      properties:
        code:
          maxLength: 32
          type: string
          example: example_value
        name:
          maxLength: 100
          type: string
          example: Example Title
        type:
          type: string
          description: >-
            Type can be one of Text, SingleOption, MultiOptions, Numeric, Date,
            ExtendedText, ContactLookup
          example: example_value
        isHidden:
          type: boolean
          default: false
          example: true
        isMandatory:
          type: boolean
          default: false
          example: true
        isShownInInfobox:
          type: boolean
          default: true
          example: true
        formulaConfig:
          $ref: '#/components/schemas/CustomSymbolCustomFieldFormulaConfigDto'
        optionsConfig:
          type: array
          items:
            type: string
          nullable: true
          example: []
        customSymbolTypes:
          type: array
          items:
            type: string
            format: uuid
          example: []
      additionalProperties: false
    CustomFieldConfigDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: abc123
        code:
          type: string
          nullable: true
          example: example_value
        name:
          type: string
          nullable: true
          example: Example Title
        source:
          type: string
          nullable: true
          example: example_value
        type:
          type: string
          nullable: true
          example: example_value
        usePreviousValue:
          type: boolean
          example: true
        isMandatory:
          type: boolean
          example: true
        isHidden:
          type: boolean
          example: true
        isFilePath:
          type: boolean
          example: true
        formulaConfig:
          $ref: '#/components/schemas/FormulaConfigDto'
        numericConfig:
          $ref: '#/components/schemas/NumericConfigDto'
        integerConfig:
          $ref: '#/components/schemas/IntegerConfigDto'
        extendedTextConfig:
          $ref: '#/components/schemas/ExtendedTextConfigDto'
        optionsConfig:
          $ref: '#/components/schemas/OptionsConfigDto'
      additionalProperties: false
    CustomSymbolCustomFieldConfigDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: abc123
        code:
          type: string
          nullable: true
          example: example_value
        name:
          type: string
          nullable: true
          example: Example Title
        type:
          type: string
          nullable: true
          example: example_value
        isHidden:
          type: boolean
          example: true
        isMandatory:
          type: boolean
          example: true
        isShownInInfobox:
          type: boolean
          example: true
        formulaConfig:
          $ref: '#/components/schemas/CustomSymbolCustomFieldFormulaConfigDto'
        optionsConfig:
          type: array
          items:
            type: string
          nullable: true
          example: []
        customSymbolTypes:
          type: array
          items:
            $ref: '#/components/schemas/CustomSymbolTypeSummaryDto'
          nullable: true
          example: []
      additionalProperties: false
    CustomSymbolCustomFieldFormulaConfigDto:
      required:
      - formula
      - formulaType
      type: object
      properties:
        formula:
          maxLength: 2040
          type: string
          example: example_value
        formulaType:
          type: string
          example: example_value
      additionalProperties: false
    CustomSymbolSubTypeDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: abc123
        name:
          type: string
          nullable: true
          example: Example Title
      additionalProperties: false
    CustomSymbolTypeDetailDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: abc123
        name:
          type: string
          nullable: true
          example: Example Title
        hideAddressField:
          type: boolean
          example: true
        hideSymbolSubType:
          type: boolean
          example: true
        isDefault:
          type: boolean
          example: true
        dueDiligenceSymbolEntityType:
          $ref: '#/components/schemas/EntityType'
        subTypes:
          type: array
          items:
            $ref: '#/components/schemas/CustomSymbolSubTypeDto'
          nullable: true
          example: []
      additionalProperties: false
    CustomSymbolTypeDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: abc123
        name:
          type: string
          nullable: true
          example: Example Title
        hideAddressField:
          type: boolean
          example: true
        hideSymbolSubType:
          type: boolean
          example: true
        isDefault:
          type: boolean
          example: true
        order:
          type: integer
          format: int32
          example: 10
        dueDiligenceSymbolEntityType:
          $ref: '#/components/schemas/EntityType'
      additionalProperties: false
    CustomSymbolTypeSummaryDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: abc123
        name:
          type: string
          nullable: true
          example: Example Title
      additionalProperties: false
    DateSettingsDto:
      type: object
      properties:
        allowEdit:
          type: boolean
          example: true
        isLocked:
          type: boolean
          example: true
      additionalProperties: false
    EntityType:
      enum:
      - 0
      - 1
      - 2
      - 3
      type: integer
      format: int32
    ExtendedTextConfigDto:
      type: object
      properties:
        maxChars:
          type: integer
          format: int32
          example: 10
      additionalProperties: false
    FormulaConfigDto:
      type: object
      properties:
        formula:
          type: string
          nullable: true
          example: example_value
        formulaType:
          type: string
          nullable: true
          example: example_value
      additionalProperties: false
    GroupConfigDto:
      type: object
      properties:
        Id:
          type: string
          format: uuid
          example: abc123
        Name:
          type: string
          nullable: true
          example: Example Title
        Fields:
          $ref: '#/components/schemas/GroupFieldsDto'
      additionalProperties: false
    GroupFieldsDto:
      type: object
      properties:
        title:
          $ref: '#/components/schemas/TitleSettingsDto'
        date:
          $ref: '#/components/schemas/DateSettingsDto'
        identifier:
          $ref: '#/components/schemas/IdentifierSettingsDto'
        subject:
          $ref: '#/components/schemas/SubjectSettingsDto'
        recommendation:
          $ref: '#/components/schemas/RecommendationSettingsDto'
        sentiment:
          $ref: '#/components/schemas/SentimentSettingsDto'
        link:
          $ref: '#/components/schemas/LinkSettingsDto'
        note:
          $ref: '#/components/schemas/NoteSettingsDto'
        source:
          $ref: '#/components/schemas/SourceSettingsDto'
        relatedSymbols:
          $ref: '#/components/schemas/RelatedSymbolsSettingsDto'
        relatedResearch:
          $ref: '#/components/schemas/RelatedResearchSettingsDto'
        relatedContacts:
          $ref: '#/components/schemas/RelatedContactsSettingsDto'
        team:
          $ref: '#/components/schemas/TeamSettingsDto'
        organizer:
          $ref: '#/components/schemas/OrganizerSettingsDto'
      additionalProperties: false
    HeadlineFormatConfigDto:
      type: object
      properties:
        name:
          type: string
          nullable: true
          example: Example Title
        customString:
          type: string
          nullable: true
          example: example_value
        customFieldName:
          type: string
          nullable: true
          example: example_value
      additionalProperties: false
    IdentifierSettingsDto:
      type: object
      properties:
        allowEdit:
          type: boolean
          example: true
      additionalProperties: false
    IntegerConfigDto:
      type: object
      properties:
        splitType:
          type: string
          nullable: true
          example: example_value
      additionalProperties: false
    LinkSettingsDto:
      type: object
      properties:
        isHidden:
          type: boolean
          example: true
        isMandatory:
          type: boolean
          example: true
        usePrevious:
          type: boolean
          example: true
      additionalProperties: false
    NewItemDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: abc123
      additionalProperties: false
    NoteSettingsDto:
      type: object
      properties:
        isHidden:
          type: boolean
          example: true
        isMandatory:
          type: boolean
          example: true
        usePrevious:
          type: boolean
          example: true
        allowPersonal:
          type: boolean
          example: true
        defaultStatus:
          type: string
          nullable: true
          example: example_value
        alternativeCustomFieldId:
          type: string
          format: uuid
          nullable: true
          example: '500123'
      additionalProperties: false
    NumericConfigDto:
      type: object
      properties:
        decimals:
          type: integer
          format: int32
          example: 10
        splitType:
          type: string
          nullable: true
          example: example_value
      additionalProperties: false
    Operation:
      type: object
      properties:
        operationType:
          $ref: '#/components/schemas/OperationType'
        path:
          type: string
          nullable: true
          example: example_value
        op:
          type: string
          nullable: true
          example: example_value
        from:
          type: string
          nullable: true
          example: example_value
        value:
          nullable: true
          example: example_value
      additionalProperties: false
    OperationType:
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
      - 5
      - 6
      type: integer
      format: int32
    OptionsConfigDto:
      type: object
      properties:
        multiSelectEnabled:
          type: boolean
          example: true
        onTheFlyEnabled:
          type: boolean
          example: true
        options:
          type: array
          items:
            type: string
          nullable: true
          example: []
      additionalProperties: false
    OrganizerSettingsDto:
      type: object
      properties:
        isHidden:
          type: boolean
          example: true
        isMandatory:
          type: boolean
          example: true
      additionalProperties: false
    PhoneNumberTypeDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: abc123
        name:
          maxLength: 50
          minLength: 0
          type: string
          nullable: true
          example: Example Title
        isStandard:
          type: boolean
          example: true
      additionalProperties: false
    ProblemDetails:
      type: object
      properties:
        type:
          type: string
          nullable: true
          example: example_value
        title:
          type: string
          nullable: true
          example: Example Title
        status:
          type: integer
          format: int32
          nullable: true
          example: 10
        detail:
          type: string
          nullable: true
          example: example_value
        instance:
          type: string
          nullable: true
          example: example_value
      additionalProperties: {}
    RatingConfigDto:
      type: object
      properties:
        ratingsVisibleToAuthor:
          type: boolean
          example: true
        ratingsVisibleToViewers:
          type: boolean
          example: true
        ratingsVisibleToAll:
          type: boolean
          example: true
        viewerIds:
          type: array
          items:
            type: string
            format: uuid
          nullable: true
          example: []
        optionValues:
          type: array
          items:
            type: integer
            format: int32
          nullable: true
          example: []
      additionalProperties: false
    RecommendationConfigDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: abc123
        name:
          type: string
          nullable: true
          example: Example Title
        code:
          type: integer
          format: int32
          example: 10
        isHidden:
          type: boolean
          example: true
      additionalProperties: false
    RecommendationSettingsDto:
      type: object
      properties:
        isHidden:
          type: boolean
          example: true
        isMandatory:
          type: boolean
          example: true
        usePrevious:
          type: boolean
          example: true
        defaultId:
          type: string
          format: uuid
          nullable: true
          example: '500123'
      additionalProperties: false
    RelatedContactsSettingsDto:
      type: object
      properties:
        isHidden:
          type: boolean
          example: true
        isMandatory:
          type: boolean
          example: true
        usePrevious:
          type: boolean
          example: true
      additionalProperties: false
    RelatedResearchSettingsDto:
      type: object
      properties:
        isHidden:
          type: boolean
          example: true
        isMandatory:
          type: boolean
          example: true
        usePrevious:
          type: boolean
          example: true
      additionalProperties: false
    RelatedSymbolsSettingsDto:
      type: object
      properties:
        isHidden:
          type: boolean
          example: true
        isMandatory:
          type: boolean
          example: true
        usePrevious:
          type: boolean
          example: true
      additionalProperties: false
    RelationshipCategoryDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: abc123
        name:
          type: string
          nullable: true
          example: Example Title
        isStandard:
          type: boolean
          example: true
        isContactToContact:
          type: boolean
          example: true
        isContactToSymbol:
          type: boolean
          example: true
        relationships:
          type: array
          items:
            $ref: '#/components/schemas/RelationshipDto'
          nullable: true
          example: []
      additionalProperties: false
    RelationshipCategoryListDto:
      required:
      - ids
      type: object
      properties:
        ids:
          type: array
          items:
            type: string
            format: uuid
          example: []
      additionalProperties: false
    RelationshipCategorySaveDto:
      required:
      - categoryName
      type: object
      properties:
        categoryName:
          maxLength: 50
          minLength: 0
          type: string
          example: example_value
        isContactToContact:
          type: boolean
          default: false
          example: true
        isContactToSymbol:
          type: boolean
          default: false
          example: true
      additionalProperties: false
    RelationshipDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: abc123
        relationshipCategoryId:
          type: string
          format: uuid
          example: '500123'
        relationshipCode:
          type: string
          nullable: true
          example: example_value
        bidirectionalName:
          type: string
          nullable: true
          example: example_value
        leftToRightName:
          type: string
          nullable: true
          example: example_value
        rightToLeftName:
          type: string
          nullable: true
          example: example_value
        hideDates:
          type: boolean
          example: true
        hideComment:
          type: boolean
          example: true
        hideCompany:
          type: boolean
          example: true
        isCustomisable:
          type: boolean
          example: true
      additionalProperties: false
    RelationshipSaveDto:
      required:
      - hideComment
      - hideCompany
      - hideDates
      - relationshipCategoryId
      type: object
      properties:
        relationshipCategoryId:
          type: string
          format: uuid
          example: '500123'
        relationshipCode:
          maxLength: 5
          minLength: 0
          type: string
          nullable: true
          example: example_value
        bidirectionalName:
          maxLength: 50
          minLength: 0
          type: string
          nullable: true
          example: example_value
        leftToRightName:
          maxLength: 50
          minLength: 0
          type: string
          nullable: true
          example: example_value
        rightToLeftName:
          maxLength: 50
          minLength: 0
          type: string
          nullable: true
          example: example_value
        hideDates:
          type: boolean
          default: false
          example: true
        hideComment:
          type: boolean
          default: false
          example: true
        hideCompany:
          type: boolean
          default: false
          example: true
      additionalProperties: false
    RelationshipType:
      enum:
      - 0
      - 1
      - 2
      type: integer
      format: int32
    ReorderCustomSymbolTypeDto:
      type: object
      properties:
        ids:
          type: array
          items:
            type: string
            format: uuid
          nullable: true
          example: []
      additionalProperties: false
    SaveCustomSymbolTypeDto:
      required:
      - name
      type: object
      properties:
        name:
          maxLength: 100
          minLength: 0
          type: string
          example: Example Title
        hideAddressField:
          type: boolean
          example: true
        hideSymbolSubtype:
          type: boolean
          example: true
        isDefault:
          type: boolean
          default: false
          example: true
        dueDiligenceSymbolEntityType:
          $ref: '#/components/schemas/EntityType'
        subTypes:
          type: array
          items:
            type: string
          nullable: true
          example: []
        customFieldIds:
          type: array
          items:
            type: string
            format: uuid
          nullable: true
          example: []
      additionalProperties: false
    SentimentConfigDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: abc123
        name:
          type: string
          nullable: true
          example: Example Title
        code:
          type: integer
          format: int32
          example: 10
        color:
          type: string
          nullable: true
          example: example_value
        isHidden:
          type: boolean
          example: true
      additionalProperties: false
    SentimentSettingsDto:
      type: object
      properties:
        isHidden:
          type: boolean
          example: true
        isMandatory:
          type: boolean
          example: true
        usePrevious:
          type: boolean
          example: true
        defaultId:
          type: string
          format: uuid
          nullable: true
          example: '500123'
      additionalProperties: false
    SourceSettingsDto:
      type: object
      properties:
        isHidden:
          type: boolean
          example: true
        isMandatory:
          type: boolean
          example: true
        usePrevious:
          type: boolean
          example: true
      additionalProperties: false
    SubjectConfigDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: abc123
        name:
          type: string
          nullable: true
          example: Example Title
        code:
          type: string
          nullable: true
          example: example_value
        isHidden:
          type: boolean
          example: true
        identifierType:
          type: string
          nullable: true
          example: example_value
        identifierTypes:
          type: array
          items:
            type: string
          nullable: true
          example: []
        type:
          type: string
          nullable: true
          example: example_value
        customFieldIds:
          type: array
          items:
            type: string
            format: uuid
          nullable: true
          example: []
        approvalProcessConfig:
          $ref: '#/components/schemas/ApprovalProcessConfigDto'
        commentaryConfig:
          $ref: '#/components/schemas/CommentaryConfigDto'
        newsHeadlineFormat:
          type: array
          items:
            $ref: '#/components/schemas/HeadlineFormatConfigDto'
          nullable: true
          example: []
        emailHeadlineFormat:
          type: array
          items:
            $ref: '#/components/schemas/HeadlineFormatConfigDto'
          nullable: true
          example: user@example.com
        ratingConfig:
          $ref: '#/components/schemas/RatingConfigDto'
        noteLengthLimit:
          type: integer
          format: int32
          nullable: true
          example: 10
      additionalProperties: false
    SubjectSettingsDto:
      type: object
      properties:
        defaultId:
          type: string
          format: uuid
          nullable: true
          example: '500123'
      additionalProperties: false
    SubjectSummaryDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: abc123
        name:
          type: string
          nullable: true
          example: Example Title
        code:
          type: string
          nullable: true
          example: example_value
        identifierType:
          type: string
          nullable: true
          example: example_value
        identifierTypes:
          type: array
          items:
            type: string
          nullable: true
          example: []
        type:
          type: string
          nullable: true
          example: example_value
        isHidden:
          type: boolean
          example: true
        customFieldIds:
          type: array
          items:
            type: string
            format: uuid
          nullable: true
          example: []
        noteLengthLimit:
          type: integer
          format: int32
          nullable: true
          example: 10
      additionalProperties: false
    SymbolsRelationShipSaveDto:
      required:
      - hideComment
      - hideDates
      type: object
      properties:
        relationshipCode:
          maxLength: 3
          minLength: 0
          type: string
          nullable: true
          example: example_value
        parentToChildName:
          maxLength: 50
          minLength: 0
          type: string
          nullable: true
          example: example_value
        childToParentName:
          maxLength: 50
          minLength: 0
          type: string
          nullable: true
          example: example_value
        peerName:
          maxLength: 50
          minLength: 0
          type: string
          nullable: true
          example: example_value
        hideDates:
          type: boolean
          default: true
          example: true
        hideComment:
          type: boolean
          default: true
          example: true
      additionalProperties: false
    SymbolsRelationshipDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: abc123
        relationshipCode:
          type: string
          nullable: true
          example: example_value
        parentToChildName:
          type: string
          nullable: true
          example: example_value
        childToParentName:
          type: string
          nullable: true
          example: example_value
        peerName:
          type: string
          nullable: true
          example: example_value
        hideDates:
          type: boolean
          example: true
        hideComment:
          type: boolean
          example: true
      additionalProperties: false
    TeamConfigDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: abc123
        name:
          type: string
          nullable: true
          example: Example Title
        code:
          type: string
          nullable: true
          example: example_value
        defaultSubjectId:
          type: string
          format: uuid
          nullable: true
          example: '500123'
        userIds:
          type: array
          items:
            type: string
            format: uuid
          nullable: true
          example: []
      additionalProperties: false
    TeamSettingsDto:
      type: object
      properties:
        defaultId:
          type: string
          format: uuid
          nullable: true
          example: '500123'
      additionalProperties: false
    TeamSummaryDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: abc123
        name:
          type: string
          nullable: true
          example: Example Title
        code:
          type: string
          nullable: true
          example: example_value
      additionalProperties: false
    TitleSettingsDto:
      type: object
      properties:
        usePrevious:
          type: boolean
          example: true
      additionalProperties: false
    UpdateCustomSymbolTypeDto:
      required:
      - name
      type: object
      properties:
        name:
          maxLength: 100
          minLength: 0
          type: string
          example: Example Title
        hideAddressField:
          type: boolean
          example: true
        hideSymbolSubtype:
          type: boolean
          example: true
        isDefault:
          type: boolean
          default: false
          example: true
        dueDiligenceSymbolEntityType:
          $ref: '#/components/schemas/EntityType'
        subTypes:
          type: array
          items:
            $ref: '#/components/schemas/CustomSymbolSubTypeDto'
          nullable: true
          example: []
        customFieldIds:
          type: array
          items:
            type: string
            format: uuid
          nullable: true
          example: []
      additionalProperties: false
    UserConfigDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: abc123
        userName:
          type: string
          nullable: true
          example: example_value
        serialNumber:
          type: string
          nullable: true
          example: example_value
        firstName:
          type: string
          nullable: true
          example: example_value
        lastName:
          type: string
          nullable: true
          example: example_value
        emailAddress:
          type: string
          nullable: true
          example: user@example.com
        team:
          $ref: '#/components/schemas/TeamSummaryDto'
      additionalProperties: false
  securitySchemes:
    basicScheme:
      type: http
      scheme: basic
security:
- basicScheme: []
tags:
- name: Authors
- name: Client
- name: Contact
- name: Contacts
- name: Custom
- name: Group
- name: Numbers
- name: Phone
- name: Recommendations
- name: Relationship
- name: Relationships
- name: Reorder
- name: Representative
- name: Roles
- name: Sales
- name: Sentiments
- name: Subjects
- name: Symbols
- name: Teams
- name: Type
- name: Types
- name: Users
