openapi: 3.0.1
info:
  title: FactSet IRN Meetings API
  description: |2-

    Meetings API allows users to extract, create, update and delete their
    meetings and appointments in Internal Research Notes application.
  version: '1'
servers:
- url: https://api.factset.com/research/irn
  description: Production Server
- url: https://api-sandbox.factset.com/research/irn
  description: Sandbox
paths:
  /v1/meetings:
    get:
      tags:
      - Meetings
      summary: >-
        Factset Get All the Meetings in the Specified Date Range Filtered on the Given Identifiers
      operationId: GetMeetings
      parameters:
      - name: start
        in: query
        description: StartDate
        schema:
          type: string
      - name: end
        in: query
        description: EndDate
        schema:
          type: string
      - name: identifiers
        in: query
        description: Set of identifiers to filter on
        schema:
          type: array
          items:
            type: string
      - name: limit
        in: query
        description: Limit on the number of meetings retrieved
        schema:
          type: integer
          format: int32
      - name: modifiedSince
        in: query
        description: >-
          Only return meetings which have been modified or created since a
          particular time
        schema:
          type: string
      - name: includeRelatedEntities
        in: query
        description: >-
          When set to true fetches meetings tagged with all the entities
          related to identifiers param
        schema:
          type: boolean
          default: false
      - name: X-IRN-Include-Deleted
        in: header
        description: Includes deleted meetings in results when set to true
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MeetingSummaryDto'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      tags:
      - Meetings
      summary: Factset Create a Meeting
      operationId: CreateMeeting
      requestBody:
        description: 'Note: The organizer property is deprecated in favor of organizerId'
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/CreateMeetingDto'
          application/json:
            schema:
              $ref: '#/components/schemas/CreateMeetingDto'
          text/json:
            schema:
              $ref: '#/components/schemas/CreateMeetingDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/CreateMeetingDto'
      responses:
        '201':
          description: Success - Returns unique identifier of the meeting created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewItemDto'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v1/meetings/{meetingId}:
    get:
      tags:
      - Meetings
      summary: Factset Get Details of a Meeting
      operationId: GetMeeting
      parameters:
      - name: meetingId
        in: path
        description: Meeting Id
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeetingDto'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      tags:
      - Meetings
      summary: Factset Update Meeting
      operationId: UpdateMeeting
      parameters:
      - name: meetingId
        in: path
        description: Meeting Id
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        description: >-
          Meeting details to update. Note: The organizer property is deprecated
          in favor of organizerId
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/UpdateMeetingDto'
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateMeetingDto'
          text/json:
            schema:
              $ref: '#/components/schemas/UpdateMeetingDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/UpdateMeetingDto'
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      tags:
      - Meetings
      summary: Factset Delete a Meeting
      operationId: DeleteMeeting
      parameters:
      - name: meetingId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v1/meetings/{meetingId}/attachments:
    get:
      tags:
      - Attachments
      - Meetings
      summary: Factset Get All the Attachments Belonging to a Meeting
      operationId: GetAttachments
      parameters:
      - name: meetingId
        in: path
        description: Meeting Id
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AttachmentSummaryDto'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      tags:
      - Attachments
      - Meetings
      summary: Factset Create an Attachment for a Existing Meeting
      operationId: CreateAttachment
      parameters:
      - name: meetingId
        in: path
        description: Meeting Id
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          multipart/form-data:
            schema:
              required:
              - file
              type: object
              properties:
                file:
                  type: string
                  format: binary
      responses:
        '201':
          description: Success - Returns unique identifier of the Attachment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewItemDto'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v1/meetings/{meetingId}/attachments/{attachmentId}/download:
    get:
      tags:
      - Attachment
      - Attachments
      - Download
      - Meetings
      summary: Factset Download an Attachment From a Meeting
      operationId: DownloadAttachment
      parameters:
      - name: meetingId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: attachmentId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v1/meetings/{meetingId}/comments:
    get:
      tags:
      - Comments
      - Meetings
      summary: Factset Get All Comments for a Meeting
      operationId: GetComments
      parameters:
      - name: meetingId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CommentSummaryDto'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      tags:
      - Comments
      - Meetings
      summary: Factset Create a Comment to a Meeting
      operationId: CreateComment
      parameters:
      - name: meetingId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/CreateCommentDto'
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCommentDto'
          text/json:
            schema:
              $ref: '#/components/schemas/CreateCommentDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/CreateCommentDto'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewItemDto'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '500':
          description: Server Error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v1/meetings/{meetingId}/comments/{commentId}:
    get:
      tags:
      - Comments
      - Meetings
      summary: Factset Get Details of a Comment Belonging to a Meeting
      operationId: GetComment
      parameters:
      - name: meetingId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: commentId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommentDto'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    patch:
      tags:
      - Comments
      - Meetings
      summary: Factset Edit a Comment for a Meeting
      operationId: PatchComment
      parameters:
      - name: meetingId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: commentId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json-patch+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Operation'
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Operation'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Operation'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Operation'
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      tags:
      - Comments
      - Meetings
      summary: Factset Delete a Comment From a Meeting
      operationId: DeleteComment
      parameters:
      - name: meetingId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: commentId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '500':
          description: Server Error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v1/meetings/{meetingId}/comments/{commentId}/attachments:
    get:
      tags:
      - Attachments
      - Comments
      - Meetings
      summary: Factset Get Attachments Summary of a Comment Belonging to a Meeting
      operationId: GetCommentAttachments
      parameters:
      - name: meetingId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: commentId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AttachmentSummaryDto'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      tags:
      - Attachments
      - Comments
      - Meetings
      summary: Factset Create a Comment Attachment to a Meeting
      operationId: CreateCommentAttachment
      parameters:
      - name: meetingId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: commentId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          multipart/form-data:
            schema:
              required:
              - file
              type: object
              properties:
                file:
                  type: string
                  format: binary
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewItemDto'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '500':
          description: Server Error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v1/meetings/{meetingId}/comments/{commentId}/attachments/{attachmentId}/download:
    get:
      tags:
      - Attachment
      - Attachments
      - Comments
      - Download
      - Meetings
      summary: Factset Download Single Attachment Detail of a Comment Belonging to a Meeting
      operationId: DownloadCommentAttachmentForComment
      parameters:
      - name: meetingId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: commentId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: attachmentId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v1/meetings/{meetingId}/events:
    get:
      tags:
      - Meetings
      summary: Factset Get All the Record Events That Belong to a Meeting
      operationId: GetEvents
      parameters:
      - name: meetingId
        in: path
        description: Meeting ID
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RecordEventSummaryDto'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v1/meetings/{meetingId}/events/{recordEventId}:
    get:
      tags:
      - Meetings
      - Record
      summary: Factset Get Details of a Record Event of a Meeting
      operationId: GetRecordEvent
      parameters:
      - name: meetingId
        in: path
        description: Meeting Id
        required: true
        schema:
          type: string
          format: uuid
      - name: recordEventId
        in: path
        description: Record Event Id
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeetingEventDto'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v1/meetings/{meetingId}/attachments/{attachmentId}:
    delete:
      tags:
      - Attachment
      - Attachments
      - Meetings
      summary: Factset Delete Attachment From Meeting
      operationId: SoftDeleteMeetingAttachment
      parameters:
      - name: meetingId
        in: path
        description: Meeting Id
        required: true
        schema:
          type: string
          format: uuid
      - name: attachmentId
        in: path
        description: Attachment Id
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    AttachmentSummaryDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: abc123
        fileName:
          type: string
          nullable: true
          example: example_value
        mimeType:
          type: string
          nullable: true
          example: example_value
        size:
          type: integer
          format: int64
          nullable: true
          example: 10
      additionalProperties: false
    AttendeeDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: abc123
        emailAddress:
          type: string
          nullable: true
          example: user@example.com
        fullName:
          type: string
          nullable: true
          example: example_value
      additionalProperties: false
    CommentDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: abc123
        authorId:
          type: string
          format: uuid
          example: '500123'
        parentCommentId:
          type: string
          format: uuid
          nullable: true
          example: '500123'
        body:
          type: string
          nullable: true
          example: example_value
        createdAt:
          type: string
          nullable: true
          example: example_value
        attachments:
          type: array
          items:
            $ref: '#/components/schemas/AttachmentSummaryDto'
          nullable: true
          example: []
        subcomments:
          type: array
          items:
            $ref: '#/components/schemas/SubcommentSummaryDto'
          nullable: true
          example: []
      additionalProperties: false
    CommentSummaryDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: abc123
        userId:
          type: string
          format: uuid
          example: '500123'
        createdAt:
          type: string
          nullable: true
          example: example_value
        subcomments:
          type: array
          items:
            $ref: '#/components/schemas/SubcommentSummaryDto'
          nullable: true
          example: []
      additionalProperties: false
    CreateBodyDto:
      type: object
      properties:
        content:
          type: string
          nullable: true
          example: example_value
      additionalProperties: false
    CreateCommentDto:
      type: object
      properties:
        authorId:
          type: string
          format: uuid
          example: '500123'
        parentCommentId:
          type: string
          format: uuid
          nullable: true
          example: '500123'
        body:
          type: string
          nullable: true
          example: example_value
      additionalProperties: false
    CreateCustomFieldValueDto:
      required:
      - code
      type: object
      properties:
        code:
          type: string
          example: example_value
        integerValue:
          type: integer
          format: int32
          nullable: true
          example: 10
        textValue:
          type: string
          nullable: true
          example: example_value
        filePathValue:
          type: string
          nullable: true
          example: example_value
        numericValue:
          type: number
          format: double
          nullable: true
          example: 42.5
        dateValue:
          type: string
          nullable: true
          example: example_value
        extendedTextValue:
          type: string
          nullable: true
          example: example_value
        contactLookupValues:
          type: array
          items:
            type: string
            format: uuid
          nullable: true
          example: []
        optionValue:
          type: string
          nullable: true
          example: example_value
        optionValues:
          type: array
          items:
            type: string
          nullable: true
          example: []
      additionalProperties: false
      description: "Set a value or values for a custom field identified by the field 'Code'. Only one of the fields (IntegerValue / TextValue / FilePathValue etc) will be used,\r\ndepending on the data
        type of the custom field corresponding to the 'Code' provided"
    CreateMeetingDto:
      required:
      - author
      - end
      - start
      type: object
      properties:
        author:
          $ref: '#/components/schemas/UserSerialDto'
        title:
          maxLength: 255
          minLength: 0
          type: string
          nullable: true
          example: Example Title
        identifier:
          type: string
          nullable: true
          example: example_value
        start:
          type: string
          example: example_value
        end:
          type: string
          example: example_value
        locations:
          type: array
          items:
            type: string
          nullable: true
          example: []
        organizer:
          maxLength: 255
          minLength: 0
          type: string
          nullable: true
          deprecated: true
          example: example_value
        organizerId:
          type: string
          format: uuid
          example: '500123'
        attendees:
          type: array
          items:
            $ref: '#/components/schemas/ReferenceAttendeeDto'
          nullable: true
          example: []
        alertAttendees:
          type: boolean
          default: false
          example: true
        alertAuthor:
          type: boolean
          default: false
          example: true
        relatedRecords:
          $ref: '#/components/schemas/RelatedRecordsDto'
        relatedContacts:
          type: array
          items:
            type: string
            format: uuid
          nullable: true
          example: []
        relatedSymbols:
          maxItems: 100
          type: array
          items:
            type: string
          nullable: true
          example: []
        body:
          $ref: '#/components/schemas/CreateBodyDto'
        customFieldValues:
          type: array
          items:
            $ref: '#/components/schemas/CreateCustomFieldValueDto'
          nullable: true
          example: []
      additionalProperties: false
    CustomFieldValueDto:
      type: object
      properties:
        code:
          type: string
          nullable: true
          example: example_value
        value:
          type: string
          nullable: true
          example: example_value
        options:
          type: array
          items:
            type: string
          nullable: true
          example: []
        contactValues:
          type: array
          items:
            type: string
            format: uuid
          nullable: true
          example: []
      additionalProperties: false
    LocationDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: abc123
        locationName:
          type: string
          nullable: true
          example: example_value
      additionalProperties: false
    MeetingDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: abc123
        start:
          type: string
          nullable: true
          example: example_value
        end:
          type: string
          nullable: true
          example: example_value
        createdAt:
          type: string
          nullable: true
          example: example_value
        authorId:
          type: string
          format: uuid
          example: '500123'
        title:
          type: string
          nullable: true
          example: Example Title
        identifier:
          type: string
          nullable: true
          example: example_value
        organizer:
          type: string
          nullable: true
          deprecated: true
          example: example_value
        organizerId:
          type: string
          format: uuid
          example: '500123'
        body:
          type: string
          nullable: true
          example: example_value
        averageRating:
          type: integer
          format: int32
          nullable: true
          example: 10
        alertAttendees:
          type: boolean
          example: true
        alertAuthor:
          type: boolean
          example: true
        locations:
          type: array
          items:
            $ref: '#/components/schemas/LocationDto'
          nullable: true
          example: []
        attendees:
          type: array
          items:
            $ref: '#/components/schemas/AttendeeDto'
          nullable: true
          example: []
        customFields:
          type: array
          items:
            $ref: '#/components/schemas/CustomFieldValueDto'
          nullable: true
          example: []
        relatedSymbols:
          type: array
          items:
            type: string
          nullable: true
          example: []
        relatedRecords:
          $ref: '#/components/schemas/RelatedRecordsDto'
        relatedContacts:
          type: array
          items:
            type: string
            format: uuid
          nullable: true
          example: []
      additionalProperties: false
    MeetingEventDto:
      type: object
      properties:
        createdAt:
          type: string
          nullable: true
          example: example_value
        type:
          type: string
          nullable: true
          example: example_value
        user:
          type: string
          nullable: true
          example: example_value
        changeList:
          type: array
          items:
            $ref: '#/components/schemas/RecordChangeDto'
          nullable: true
          example: []
      additionalProperties: false
    MeetingSummaryDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: abc123
        start:
          type: string
          nullable: true
          example: example_value
        end:
          type: string
          nullable: true
          example: example_value
        createdAt:
          type: string
          nullable: true
          example: example_value
        authorId:
          type: string
          format: uuid
          example: '500123'
        title:
          type: string
          nullable: true
          example: Example Title
        identifier:
          type: string
          nullable: true
          example: example_value
        organizer:
          type: string
          nullable: true
          deprecated: true
          example: example_value
        organizerId:
          type: string
          format: uuid
          example: '500123'
        attachmentIds:
          type: array
          items:
            type: string
            format: uuid
          nullable: true
          example: []
        relatedSymbols:
          type: array
          items:
            type: string
          nullable: true
          example: []
        locations:
          type: array
          items:
            $ref: '#/components/schemas/LocationDto'
          nullable: true
          example: []
        attendees:
          type: array
          items:
            $ref: '#/components/schemas/AttendeeDto'
          nullable: true
          example: []
        customFieldValues:
          type: array
          items:
            $ref: '#/components/schemas/CustomFieldValueDto'
          nullable: true
          example: []
      additionalProperties: false
    NewItemDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: abc123
      additionalProperties: false
    Operation:
      type: object
      properties:
        operationType:
          $ref: '#/components/schemas/OperationType'
        path:
          type: string
          nullable: true
          example: example_value
        op:
          type: string
          nullable: true
          example: example_value
        from:
          type: string
          nullable: true
          example: example_value
        value:
          nullable: true
          example: example_value
      additionalProperties: false
    OperationType:
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
      - 5
      - 6
      type: integer
      format: int32
    ProblemDetails:
      type: object
      properties:
        type:
          type: string
          nullable: true
          example: example_value
        title:
          type: string
          nullable: true
          example: Example Title
        status:
          type: integer
          format: int32
          nullable: true
          example: 10
        detail:
          type: string
          nullable: true
          example: example_value
        instance:
          type: string
          nullable: true
          example: example_value
      additionalProperties: {}
    RecordChangeDto:
      type: object
      properties:
        field:
          type: string
          nullable: true
          example: example_value
        operation:
          type: string
          nullable: true
          example: example_value
        oldValue:
          type: string
          nullable: true
          example: example_value
        newValue:
          type: string
          nullable: true
          example: example_value
        oldList:
          type: array
          items:
            type: string
          nullable: true
          example: []
        newList:
          type: array
          items:
            type: string
          nullable: true
          example: []
      additionalProperties: false
    RecordEventSummaryDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: abc123
        type:
          type: string
          nullable: true
          example: example_value
        createdAt:
          type: string
          nullable: true
          example: example_value
      additionalProperties: false
    ReferenceAttendeeDto:
      type: object
      properties:
        emailAddress:
          type: string
          nullable: true
          example: user@example.com
      additionalProperties: false
    RelatedRecordsDto:
      type: object
      properties:
        noteIds:
          type: array
          items:
            type: string
            format: uuid
          nullable: true
          example: []
        meetingIds:
          type: array
          items:
            type: string
            format: uuid
          nullable: true
          example: []
      additionalProperties: false
    SubcommentSummaryDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: abc123
        userId:
          type: string
          format: uuid
          example: '500123'
        createdAt:
          type: string
          nullable: true
          example: example_value
      additionalProperties: false
    UpdateMeetingDto:
      required:
      - end
      - identifier
      - start
      - title
      type: object
      properties:
        title:
          maxLength: 255
          minLength: 0
          type: string
          example: Example Title
        identifier:
          type: string
          example: example_value
        start:
          type: string
          example: example_value
        end:
          type: string
          example: example_value
        locations:
          type: array
          items:
            type: string
          nullable: true
          example: []
        organizer:
          maxLength: 255
          minLength: 0
          type: string
          nullable: true
          deprecated: true
          example: example_value
        organizerId:
          type: string
          format: uuid
          example: '500123'
        attendees:
          type: array
          items:
            $ref: '#/components/schemas/ReferenceAttendeeDto'
          nullable: true
          example: []
        alertAttendees:
          type: boolean
          default: false
          example: true
        alertAuthor:
          type: boolean
          default: false
          example: true
        relatedRecords:
          $ref: '#/components/schemas/RelatedRecordsDto'
        relatedContacts:
          type: array
          items:
            type: string
            format: uuid
          nullable: true
          example: []
        relatedSymbols:
          maxItems: 100
          type: array
          items:
            type: string
          nullable: true
          example: []
        body:
          $ref: '#/components/schemas/CreateBodyDto'
        customFieldValues:
          type: array
          items:
            $ref: '#/components/schemas/CreateCustomFieldValueDto'
          nullable: true
          example: []
      additionalProperties: false
    UserSerialDto:
      required:
      - serialNumber
      - username
      type: object
      properties:
        username:
          maxLength: 30
          minLength: 0
          type: string
          example: example_value
        serialNumber:
          maxLength: 8
          minLength: 0
          type: string
          example: example_value
      additionalProperties: false
  securitySchemes:
    basicScheme:
      type: http
      scheme: basic
security:
- basicScheme: []
tags:
- name: Attachment
- name: Attachments
- name: Comments
- name: Download
- name: Meetings
- name: Record
